Repository DataDog/dd-trace-dotnet, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/apm-dotnet, @DataDog/tracing-dotnet, @DataDog/ci-app-libraries-dotnet, @DataDog/asm-dotnet, @DataDog/profiling-dotnet, @DataDog/debugger-dotnet, @DataDog/serverless-apm

Require ICorProfilerInfo9 for instrumentation
  shared/src/Datadog.Trace.ClrProfiler.Native/cor_profiler.cpp
  tracer/src/Datadog.Tracer.Native/cor_profiler.cpp
Owners: @DataDog/apm-dotnet, @DataDog/tracing-dotnet

Fix integration tests
  tracer/src/Datadog.Trace/AppSec/Rasp/RaspModule.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/Datadog.Trace.Security.IntegrationTests.csproj
  tracer/test/Datadog.Trace.Security.IntegrationTests/rasp-rule-set.json
Owners: @DataDog/asm-dotnet

CoverageUtilsTests.cs
  tracer/src/Datadog.Trace.Tools.Runner/Utils.cs
  tracer/test/Datadog.Trace.Tools.Runner.Tests/CoverageUtilsTests.cs
Owners: @DataDog/tracing-dotnet

Add local pinned and pointer for instrumentation verification
  shared/src/Datadog.Trace.ClrProfiler.Native/instrumented_assembly_generator/member_signature.cpp
  shared/src/Datadog.Trace.ClrProfiler.Native/instrumented_assembly_generator/method_signature.cpp
  tracer/src/Datadog.InstrumentedAssemblyGenerator/SigMemberType.cs
Owners: @DataDog/apm-dotnet, @DataDog/debugger-dotnet

Fix profiler test
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/DebugInfoStore.h
Owners: @DataDog/profiling-dotnet

[v3] Remove unnecessary System.Net.Http dependency from v3
  tracer/src/Datadog.Trace.OpenTracing/Datadog.Trace.OpenTracing.csproj
  tracer/test/Datadog.Trace.OpenTracing.Tests/Datadog.Trace.OpenTracing.Tests.csproj
Owners: @DataDog/tracing-dotnet

Try moving CheckBuildLogsForErrors to single separate stage
  .azure-pipelines/ultimate-pipeline.yml
Owners: @DataDog/apm-dotnet

download to expected folder
  .azure-pipelines/ultimate-pipeline.yml
Owners: @DataDog/apm-dotnet

Fix broken tests
  tracer/test/Datadog.Trace.Security.IntegrationTests/RASP/AspNetCore2Rasp.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/RASP/AspNetCore5Rasp.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/RASP/AspNetMvc5Rasp.cs
Owners: @DataDog/asm-dotnet

InjectCodeCoverageCollectorToDotnetTest
  tracer/test/Datadog.Trace.Tools.Runner.Tests/CodeCoverageAdapterInjectorTests.cs
Owners: @DataDog/tracing-dotnet

Fix RegisterIastAspects signature
  tracer/src/Datadog.Tracer.Native/interop.cpp
Owners: @DataDog/tracing-dotnet

minor improvements
  tracer/src/Datadog.Trace/AppSec/Rasp/RaspModule.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/RASP/AspNetCore2Rasp.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/RASP/AspNetCore5Rasp.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/RASP/AspNetMvc5Rasp.cs
Owners: @DataDog/asm-dotnet

Fix various thing in the profiler testing infrastructure
  profiler/test/Datadog.Profiler.IntegrationTests/External/ProcessExtensions.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Helpers/ProcessExtensions.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Helpers/TestApplicationRunner.cs
  profiler/test/Datadog.Profiler.IntegrationTests/MetricsTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/SmokeTests/SmokeTestRunner.cs
Owners: @DataDog/profiling-dotnet

Fix bug in the Debug Info Store
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/DebugInfoStore.h
Owners: @DataDog/profiling-dotnet

CodeCoverageAdapterInjectorTests.cs
  tracer/test/Datadog.Trace.Tools.Runner.Tests/CodeCoverageAdapterInjectorTests.cs
Owners: @DataDog/tracing-dotnet

Fix line number for Code Viewer
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Profile.cpp
Owners: @DataDog/profiling-dotnet

tries to fix an exception from .NET Core 2.1 BCL
  tracer/test/Datadog.Trace.Tools.Runner.Tests/CoverageRewriteTests.cs
Owners: @DataDog/tracing-dotnet

Store the git metadata, even if you haven't recorded applicaiton settings yet
  tracer/src/Datadog.Trace/Telemetry/Collectors/ApplicationTelemetryCollector.cs
Owners: @DataDog/tracing-dotnet

Try to fix flake in git metadata telemetry
  tracer/test/Datadog.Trace.Tests/Telemetry/TelemetryControllerTests.cs
Owners: @DataDog/tracing-dotnet

add missing `WriteException`
  tracer/src/Datadog.Trace.Tools.Runner/Utils.cs
Owners: @DataDog/tracing-dotnet

Adjust test
  profiler/test/Datadog.Profiler.IntegrationTests/DebugInfo/LineNumberTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Helpers/PprofHelper.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Helpers/StackFrame.cs
Owners: @DataDog/profiling-dotnet

Don't dispose early incase we never send the value
  tracer/test/Datadog.Trace.Tests/Telemetry/TelemetryControllerTests.cs
Owners: @DataDog/tracing-dotnet

Add testing of `IMultipartApiRequest` for UDS, streams and gzip (#5447)
  tracer/src/Datadog.Trace/Agent/MultipartFormItem.cs
  tracer/src/Datadog.Trace/Agent/Transports/ApiWebRequest.cs
  tracer/src/Datadog.Trace/Agent/Transports/HttpClientRequest.cs
  tracer/src/Datadog.Trace/HttpOverStreams/DatadogHttpValues.cs
  tracer/test/Datadog.Trace.Tests/MultipartFormTests.cs
  tracer/test/snapshots/MultipartFormTests.ApiWebRequest_MultipartTest.verified.txt
  tracer/test/snapshots/MultipartFormTests.ApiWebRequest_ValidationTest.verified.txt
  tracer/test/snapshots/MultipartFormTests.HttpClientRequest_MultipartTest.verified.txt
  tracer/test/snapshots/MultipartFormTests.HttpClientRequest_ValidationTest.verified.txt
Owners: @DataDog/tracing-dotnet

Add local pinned and pointer for instrumentation verification (#5465)
  shared/src/Datadog.Trace.ClrProfiler.Native/instrumented_assembly_generator/member_signature.cpp
  shared/src/Datadog.Trace.ClrProfiler.Native/instrumented_assembly_generator/method_signature.cpp
  tracer/src/Datadog.InstrumentedAssemblyGenerator/SigMemberType.cs
Owners: @DataDog/apm-dotnet, @DataDog/debugger-dotnet

fix
  tracer/src/Datadog.Tracer.Native/debugger_method_rewriter.cpp
  tracer/src/Datadog.Tracer.Native/debugger_tokens.cpp
Owners: @DataDog/debugger-dotnet

Add support for pointer and pinned local
  tracer/src/Datadog.Tracer.Native/clr_helpers.cpp
  tracer/src/Datadog.Tracer.Native/clr_helpers.h
  tracer/src/Datadog.Tracer.Native/debugger_method_rewriter.cpp
  tracer/src/Datadog.Tracer.Native/debugger_tokens.cpp
  tracer/src/Datadog.Tracer.Native/method_rewriter.cpp
  tracer/test/test-applications/debugger/dependency-libs/Samples.Probes.TestRuns/Samples.Probes.TestRuns.csproj
  tracer/test/test-applications/debugger/dependency-libs/Samples.Probes.TestRuns/SmokeTests/PinnedLocal.cs
Owners: @DataDog/tracing-dotnet, @DataDog/debugger-dotnet

Add test approvals
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.PinnedLocal.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/statuses/ProbeTests.PinnedLocal.verified.txt
Owners: @DataDog/debugger-dotnet

Updating to use existing property
  tracer/src/Datadog.Trace/Propagators/SpanContextPropagator.cs
  tracer/src/Datadog.Trace/SpanContext.cs
Owners: @DataDog/tracing-dotnet

[Profiler] Fix bug debug info store & line of code (Code viewer) (#5496)
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/DebugInfoStore.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Profile.cpp
  profiler/test/Datadog.Profiler.IntegrationTests/DebugInfo/LineNumberTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Helpers/PprofHelper.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Helpers/StackFrame.cs
Owners: @DataDog/profiling-dotnet

Stop cramming so much into one statement
  tracer/src/Datadog.Trace/Agent/Transports/HttpStreamRequest.cs
Owners: @DataDog/tracing-dotnet

Try unskipping debugger probe tests over UDS
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/ProbesTests.cs
Owners: @DataDog/debugger-dotnet

Minor refactor
  tracer/src/Datadog.Trace/HttpOverStreams/HttpContent/MultipartFormContent.cs
Owners: @DataDog/tracing-dotnet

Add support for MultipartFormItem to all IApiRequest
  tracer/src/Datadog.Trace/Agent/IApiRequest.cs
  tracer/src/Datadog.Trace/Agent/IMultipartApiRequest.cs
  tracer/src/Datadog.Trace/Agent/Transports/ApiWebRequest.cs
  tracer/src/Datadog.Trace/Agent/Transports/HttpClientRequest.cs
  tracer/src/Datadog.Trace/Agent/Transports/HttpStreamRequest.cs
  tracer/src/Datadog.Trace/Agent/Transports/MimeTypes.cs
  tracer/src/Datadog.Trace/Ci/Agent/CIWriterHttpSender.cs
  tracer/src/Datadog.Trace/Ci/IntelligentTestRunnerClient.cs
  tracer/src/Datadog.Trace/Debugger/Upload/DiagnosticsUploadApi.cs
  tracer/src/Datadog.Trace/Debugger/Upload/SymbolUploadApi.cs
  tracer/src/Datadog.Trace/HttpOverStreams/HttpContent/MultipartFormContent.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/Agent/CiVisibilityProtocolWriterTests.cs
  tracer/test/Datadog.Trace.TestHelpers/TransportHelpers/TestApiRequest.cs
  tracer/test/Datadog.Trace.Tests/MultipartFormTests.cs
  tracer/test/benchmarks/Benchmarks.Trace/AgentWriterBenchmark.cs
Owners: @DataDog/tracing-dotnet, @DataDog/ci-app-libraries-dotnet, @DataDog/apm-dotnet, @DataDog/debugger-dotnet

Feedback from code review
  tracer/src/Datadog.Trace/HttpOverStreams/HttpContent/MultipartFormContent.cs
Owners: @DataDog/tracing-dotnet

Add tests for Http over streams in UDS/Named pipes
  tracer/test/Datadog.Trace.Tests/MultipartFormTests.cs
Owners: @DataDog/tracing-dotnet

Fix Debugger MockTraceAgent implementation
  tracer/test/Datadog.Trace.TestHelpers/MockTracerAgent.cs
Owners: @DataDog/tracing-dotnet

[CI] Fix flake in Git Telemetry (#5497)
  tracer/src/Datadog.Trace/Telemetry/Collectors/ApplicationTelemetryCollector.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/TelemetryControllerTests.cs
Owners: @DataDog/tracing-dotnet

Generate debian and rpm packages docker image
  .azure-pipelines/ultimate-pipeline.yml
Owners: @DataDog/apm-dotnet

Remove useless suffix
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/FileHelper.cpp
Owners: @DataDog/profiling-dotnet

Detect when in CI
  profiler/test/Datadog.Profiler.IntegrationTests/Helpers/ProcessExtensions.cs
Owners: @DataDog/profiling-dotnet

.github/CODEOWNERS:

# See https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/about-code-owners

# By default every team is owner
*                                         @DataDog/apm-dotnet

# Tracer
/tracer/                                  @DataDog/tracing-dotnet

# Common Files
Datadog.Trace.Trimming.xml                @DataDog/apm-dotnet
missing-nullability-files.csv             @DataDog/apm-dotnet
/tracer/src/Datadog.Trace/Generated/      @DataDog/apm-dotnet
/tracer/src/Datadog.Trace/Configuration/IntegrationId.cs @DataDog/apm-dotnet
/tracer/src/Datadog.Trace/Telemetry/Metrics/MetricTags.cs @DataDog/apm-dotnet
/tracer/src/Datadog.Trace/Telemetry/Metrics/IntegrationIdExtensions.cs @DataDog/apm-dotnet

# CI
/tracer/src/Datadog.Trace/Ci/             @DataDog/ci-app-libraries-dotnet @DataDog/apm-dotnet
/tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/   @DataDog/ci-app-libraries-dotnet @DataDog/apm-dotnet
/tracer/src/Datadog.Trace/PDBs/MethodSymbolResolver.cs        @DataDog/ci-app-libraries-dotnet

# ASM
/tracer/src/Datadog.Trace/AppSec/         @DataDog/asm-dotnet
/tracer/src/Datadog.Tracer.Native/iast/    @DataDog/asm-dotnet
/tracer/test/test-applications/security/   @DataDog/asm-dotnet
/tracer/test/Datadog.Trace.Security.IntegrationTests/ @DataDog/asm-dotnet
/tracer/test/Datadog.Trace.Security.Unit.Tests/       @DataDog/asm-dotnet
/tracer/test/snapshots/Security*          @DataDog/asm-dotnet
/tracer/test/snapshots/Iast*          	@DataDog/asm-dotnet
/tracer/test/snapshots/Rasp*          	@DataDog/asm-dotnet
/tracer/src/Datadog.Trace/Iast/           @DataDog/asm-dotnet
AspectsDefinitions.g.cs 				@DataDog/asm-dotnet
/tracer/test/test-applications/integrations/Samples.InstrumentedTests/ @DataDog/asm-dotnet
/tracer/src/Datadog.Trace/Tags.AppSec.cs @DataDog/asm-dotnet
/tracer/test/benchmarks/Benchmarks.Trace/Asm/   @DataDog/asm-dotnet

# Profiler
/profiler/                                @DataDog/profiling-dotnet
.github/workflows/profiler-pipeline.yml   @DataDog/profiling-dotnet
/tracer/src/Datadog.Trace/ContinuousProfiler/ @DataDog/profiling-dotnet @DataDog/tracing-dotnet
/tracer/test/Datadog.Trace.Tests/ContinuousProfiler/ @DataDog/profiling-dotnet @DataDog/tracing-dotnet

# Debugger
/tracer/src/Datadog.Trace/Debugger/        @DataDog/debugger-dotnet
/tracer/test/Datadog.Trace.Tests/Debugger/ @DataDog/debugger-dotnet
/tracer/src/Datadog.Trace/PDBs/            @DataDog/debugger-dotnet
/tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/Debugger/ @DataDog/debugger-dotnet
/tracer/test/test-applications/debugger/   @DataDog/debugger-dotnet
debugger_*.cpp                             @DataDog/debugger-dotnet
debugger_*.h                               @DataDog/debugger-dotnet
/tracer/test/Datadog.Trace.Tests/Debugger  @DataDog/debugger-dotnet
/tracer/test/Datadog.Trace.Debugger.IntegrationTests/ @DataDog/debugger-dotnet
tracer/src/Datadog.InstrumentedAssemblyGenerator/ @DataDog/debugger-dotnet
tracer/src/Datadog.InstrumentedAssemblyVerification/ @DataDog/debugger-dotnet
fault_tolerant_*.cpp                       @DataDog/debugger-dotnet
fault_tolerant_*.h                         @DataDog/debugger-dotnet
/tracer/src/Datadog.Trace/FaultTolerant/   @DataDog/debugger-dotnet

# Serverless
/tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/Lambda/    @DataDog/tracing-dotnet  @DataDog/serverless-apm
/tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/SDK/    @DataDog/tracing-dotnet  @DataDog/serverless-apm
/tracer/src/Datadog.Trace/ClrProfiler/ServerlessInstrumentation/   @DataDog/tracing-dotnet  @DataDog/serverless-apm
/tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AWS/       @DataDog/tracing-dotnet  @DataDog/serverless-apm
/tracer/test/test-applications/azure-functions/                    @DataDog/tracing-dotnet  @DataDog/serverless-apm
/tracer/test/test-applications/integrations/Samples.AWS.Lambda/    @DataDog/tracing-dotnet  @DataDog/serverless-apm
/tracer/test/test-applications/integrations/Samples.Amazon.Lambda.RuntimeSupport/        @DataDog/tracing-dotnet  @DataDog/serverless-apm
docker-compose.serverless.yml                                      @DataDog/tracing-dotnet  @DataDog/serverless-apm

# Shared code we could move to the root folder
/tracer/build/                            @DataDog/apm-dotnet
