Repository DataDog/dd-trace-dotnet, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/apm-dotnet, @DataDog/debugger-dotnet, @DataDog/profiling-dotnet, @DataDog/ci-app-libraries-dotnet, @DataDog/asm-dotnet

.github/CODEOWNERS:

# See https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/about-code-owners

# By default every team is owner
*                                         @DataDog/apm-dotnet @DataDog/debugger-dotnet @DataDog/profiling-dotnet

# Tracer
/tracer/                                  @DataDog/apm-dotnet

# CI
/tracer/src/Datadog.Trace/Ci/             @DataDog/apm-dotnet @DataDog/ci-app-libraries-dotnet
/tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/   @DataDog/ci-app-libraries-dotnet

# ASM
/tracer/src/Datadog.Trace/AppSec/         @DataDog/apm-dotnet @DataDog/asm-dotnet
/tracer/test/test-applications/security   @DataDog/apm-dotnet @DataDog/asm-dotnet
/tracer/test/Datadog.Trace.Security.IntegrationTests @DataDog/apm-dotnet @DataDog/asm-dotnet
/tracer/test/Datadog.Trace.Security.Unit.Tests       @DataDog/apm-dotnet @DataDog/asm-dotnet

# Profiler
/profiler/                                @DataDog/profiling-dotnet
.github/workflows/profiler-pipeline.yml   @DataDog/profiling-dotnet
/tracer/src/Datadog.Trace/ContinuousProfiler @DataDog/apm-dotnet @DataDog/profiling-dotnet

# Debugger
/tracer/src/Datadog.Trace/Debugger        @DataDog/debugger-dotnet
/tracer/test/Datadog.Trace.Tests/Debugger @DataDog/debugger-dotnet
/tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/Debugger @DataDog/debugger-dotnet

# Shared code we could move to the root folder
/tracer/build/                            @DataDog/apm-dotnet @DataDog/debugger-dotnet @DataDog/profiling-dotnet @DataDog/asm-dotnet

Always use native loader for tests (part of package layout update) (#3036)
  .azure-pipelines/ultimate-pipeline.yml
  tracer/test/Datadog.Trace.TestHelpers/EnvironmentHelper.cs
  tracer/test/Datadog.Trace.TestHelpers/InstrumentationVerification.cs
  tracer/test/Datadog.Trace.TestHelpers/TestHelper.cs
  tracer/test/Datadog.Trace.Tests/MultipartFormTests.cs
  tracer/test/Datadog.Trace.Tools.Runner.IntegrationTests/Checks/IisCheckTests.cs
  tracer/test/Datadog.Trace.Tools.Runner.IntegrationTests/Checks/ProcessBasicChecksTests.cs
Owners: @DataDog/apm-dotnet, @DataDog/debugger-dotnet, @DataDog/profiling-dotnet

In StatsTests, explicitly state whether the test case expects stats to be computed
  tracer/test/Datadog.Trace.IntegrationTests/StatsTests.cs
Owners: @DataDog/apm-dotnet

Manually revert the addition of the Dropping P0's test case
  tracer/test/Datadog.Trace.IntegrationTests/StatsTests.cs
Owners: @DataDog/apm-dotnet

Manually revert the addition of the endpoint discovery test case
  tracer/test/Datadog.Trace.IntegrationTests/StatsTests.cs
  tracer/test/Datadog.Trace.TestHelpers/MockTracerAgent.cs
  tracer/test/Datadog.Trace.TestHelpers/UnixDomainSocketConfig.cs
  tracer/test/Datadog.Trace.TestHelpers/WindowsPipesConfig.cs
Owners: @DataDog/apm-dotnet

Add ability to drop P0 spans.
  tracer/src/Datadog.Trace/Agent/AgentWriter.cs
  tracer/src/Datadog.Trace/Agent/IAgentWriter.cs
  tracer/src/Datadog.Trace/Ci/Agent/CIAgentWriter.cs
  tracer/src/Datadog.Trace/Ci/Agent/CIAgentlessWriter.cs
  tracer/src/Datadog.Trace/IDatadogTracer.cs
  tracer/src/Datadog.Trace/TraceContext.cs
  tracer/src/Datadog.Trace/Tracer.cs
  tracer/src/Datadog.Trace/TracerManager.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/Agent/CIAgentWriterTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/Agent/CIAgentlessWriterTests.cs
  tracer/test/Datadog.Trace.IntegrationTests/DiagnosticListeners/AspNetCoreDiagnosticObserverTests.cs
  tracer/test/Datadog.Trace.IntegrationTests/StatsTests.cs
  tracer/test/Datadog.Trace.Tests/AgentWriterTests.cs
  tracer/test/Datadog.Trace.Tests/SpanTests.cs
  tracer/test/Datadog.Trace.Tests/TraceContextTests.cs
  tracer/test/Datadog.Trace.Tests/TracerSettingsTests.cs
  tracer/test/benchmarks/Benchmarks.Trace/AgentWriterBenchmark.cs
  tracer/test/benchmarks/Benchmarks.Trace/DummyAgentWriter.cs
Owners: @DataDog/apm-dotnet, @DataDog/ci-app-libraries-dotnet

Implement and test that we send the headers "Datadog-Client-Dropped-P0-Traces" and "Datadog-Client-Dropped-P0-Spans" when we drop P0 traces
  tracer/src/Datadog.Trace/Agent/AgentWriter.cs
  tracer/src/Datadog.Trace/Agent/Api.cs
  tracer/src/Datadog.Trace/Agent/IApi.cs
  tracer/src/Datadog.Trace/Agent/IStatsAggregator.cs
  tracer/src/Datadog.Trace/Agent/NullStatsAggregator.cs
  tracer/src/Datadog.Trace/Agent/StatsAggregator.cs
  tracer/src/Datadog.Trace/AgentHttpHeaderNames.cs
  tracer/src/Datadog.Trace/Logging/Internal/DatadogSerilogLogger.cs
  tracer/src/Datadog.Trace/Logging/Internal/IDatadogLogger.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/Agent/CIAgentWriterTests.cs
  tracer/test/Datadog.Trace.IntegrationTests/StatsTests.cs
  tracer/test/Datadog.Trace.IntegrationTests/TestApi.cs
  tracer/test/Datadog.Trace.Tests/AgentWriterTests.cs
  tracer/test/Datadog.Trace.Tests/ApiTests.cs
Owners: @DataDog/apm-dotnet, @DataDog/ci-app-libraries-dotnet

Delete one TODO that was sitting around in the code
  tracer/src/Datadog.Trace/TraceContext.cs
Owners: @DataDog/apm-dotnet

Simplify DiscoveryService creation by re-using the agent endpoint used in the creation of the ApiFactory
  tracer/src/Datadog.Trace/Agent/DiscoveryService/DiscoveryService.cs
  tracer/src/Datadog.Trace/Debugger/LiveDebugger.cs
Owners: @DataDog/apm-dotnet, @DataDog/debugger-dotnet

Revert "Manually revert the addition of the endpoint discovery test case"
  tracer/test/Datadog.Trace.IntegrationTests/StatsTests.cs
  tracer/test/Datadog.Trace.TestHelpers/MockTracerAgent.cs
  tracer/test/Datadog.Trace.TestHelpers/UnixDomainSocketConfig.cs
  tracer/test/Datadog.Trace.TestHelpers/WindowsPipesConfig.cs
Owners: @DataDog/apm-dotnet

Fixup: Rename AgentIsCompatible to CanDropP0s
  tracer/src/Datadog.Trace/Agent/AgentWriter.cs
  tracer/src/Datadog.Trace/Agent/IStatsAggregator.cs
  tracer/src/Datadog.Trace/Agent/NullStatsAggregator.cs
  tracer/src/Datadog.Trace/Agent/StatsAggregator.cs
  tracer/src/Datadog.Trace/TraceContext.cs
Owners: @DataDog/apm-dotnet

Refactor the setup for the MockTracerAgent's /info endpoint to use an object which can be converted directly to JSON
  tracer/src/Datadog.Trace/Agent/DiscoveryService/DiscoveryService.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/TransportTests.cs
  tracer/test/Datadog.Trace.IntegrationTests/StatsTests.cs
  tracer/test/Datadog.Trace.TestHelpers/MockTracerAgent.cs
  tracer/test/Datadog.Trace.TestHelpers/UnixDomainSocketConfig.cs
  tracer/test/Datadog.Trace.TestHelpers/WindowsPipesConfig.cs
Owners: @DataDog/apm-dotnet

When the agent's "/info" endpoint returns "client_drop_p0s: false", make sure to send P0 traces to the tracer.
  tracer/src/Datadog.Trace/Agent/DiscoveryService/DiscoveryService.cs
  tracer/src/Datadog.Trace/Agent/DiscoveryService/IDiscoveryService.cs
  tracer/src/Datadog.Trace/Agent/StatsAggregator.cs
  tracer/test/Datadog.Trace.IntegrationTests/StatsTests.cs
  tracer/test/Datadog.Trace.TestHelpers/MockTracerAgent.cs
  tracer/test/Datadog.Trace.Tests/Agent/StatsAggregatorTests.cs
  tracer/test/Datadog.Trace.Tests/Debugger/LiveDebuggerTests.cs
Owners: @DataDog/apm-dotnet, @DataDog/debugger-dotnet

[Profiler] Implement ICorProfilerCallback::EventPipeEventDelivered to receive CLR events synchronously (#2998)
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/AllocationsProvider.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/AllocationsProvider.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ClrEventsParser.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ClrEventsParser.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CollectorBase.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Configuration.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Configuration.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CorProfilerCallback.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CorProfilerCallback.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Datadog.Profiler.Native.vcxproj
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Datadog.Profiler.Native.vcxproj.filters
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/EnvironmentVariables.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ExceptionsProvider.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ExceptionsProvider.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/IAllocationsListener.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/IConfiguration.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/RawAllocationSample.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Sample.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Sample.h
  profiler/test/Datadog.Profiler.Native.Tests/ProfilerMockedInterface.h
Owners: @DataDog/profiling-dotnet

add sampling prio
  tracer/src/Datadog.Trace/TraceContext.cs
  tracer/test/Datadog.Trace.Tests/TraceContextTests.cs
Owners: @DataDog/apm-dotnet

System for mocking events from remote config client
  tracer/src/Datadog.Trace/AppSec/Security.cs
  tracer/src/Datadog.Trace/Configuration/Asm.cs
  tracer/src/Datadog.Trace/Configuration/Features.cs
  tracer/src/Datadog.Trace/Configuration/SharedRemoteConfiguration.cs
  tracer/src/Datadog.Trace/RemoteConfigurationManagement/Product.cs
  tracer/src/Datadog.Trace/RemoteConfigurationManagement/ProductConfigChangedEventArgs.cs
  tracer/src/Datadog.Trace/RemoteConfigurationManagement/RcmConfig.cs
  tracer/src/Datadog.Trace/RemoteConfigurationManagement/RcmSimulator.cs
  tracer/src/Datadog.Trace/TracerManager.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/ASM.json
  tracer/test/Datadog.Trace.Security.IntegrationTests/ASM_DD.json
  tracer/test/Datadog.Trace.Security.IntegrationTests/AspNetBase.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/AspNetCore5RemoteConfig.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/Datadog.Trace.Security.IntegrationTests.csproj
  tracer/test/Datadog.Trace.Security.IntegrationTests/FEATURES.json
  tracer/test/snapshots/Security.AspNetCore5.__test=server.request.path_params_expectedStatusCode=200_url=_params-endpoint_appscan_fingerprint.verified.txt
  tracer/test/snapshots/Security.AspNetCore5RemoteConfig.__test=server.request.path_params_expectedStatusCode=200_url=_params-endpoint_appscan_fingerprint.verified.txt
Owners: @DataDog/apm-dotnet, @DataDog/asm-dotnet

Remove statsReceived variable, since the wait event is already a signal we can test
  tracer/test/Datadog.Trace.IntegrationTests/StatsTests.cs
Owners: @DataDog/apm-dotnet

Fix OSX build issues.
  shared/src/Datadog.Trace.ClrProfiler.Native/cor_profiler.cpp
  shared/src/Datadog.Trace.ClrProfiler.Native/instrumented_assembly_generator/instrumented_assembly_generator_helper.h
  shared/src/Datadog.Trace.ClrProfiler.Native/instrumented_assembly_generator/instrumented_assembly_generator_metadata_interfaces.cpp
  shared/src/native-src/string.h
Owners: @DataDog/apm-dotnet, @DataDog/debugger-dotnet, @DataDog/profiling-dotnet

Enable AppSec in the smoke tests
  tracer/build/_build/docker/smoke.dockerfile
  tracer/build/_build/docker/smoke.dotnet-tool.dockerfile
  tracer/build/_build/docker/smoke.nuget.dockerfile
  tracer/build/_build/docker/smoke.windows.dockerfile
  tracer/build/_build/docker/smoke.windows.dotnet-tool.dockerfile
  tracer/build/_build/docker/smoke.windows.nuget.dockerfile
  tracer/build/_build/docker/smoke.windows.tracer-home.dockerfile
Owners: @DataDog/apm-dotnet, @DataDog/debugger-dotnet, @DataDog/profiling-dotnet, @DataDog/asm-dotnet

Fix yaml
  .azure-pipelines/steps/run-in-docker.yml
Owners: @DataDog/apm-dotnet, @DataDog/debugger-dotnet, @DataDog/profiling-dotnet

Disable profiler when running in a container with <1 CPU
  .azure-pipelines/steps/run-in-docker.yml
  .azure-pipelines/ultimate-pipeline.yml
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CorProfilerCallback.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Datadog.Profiler.Native.vcxproj
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Datadog.Profiler.Native.vcxproj.filters
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/OpSysTools.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/cgroup.hpp
  profiler/test/Datadog.Profiler.IntegrationTests/SmokeTests/CpuLimitTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/SmokeTests/SmokeTestRunner.cs
  tracer/build/_build/Build.Profiler.Steps.cs
Owners: @DataDog/apm-dotnet, @DataDog/debugger-dotnet, @DataDog/profiling-dotnet, @DataDog/asm-dotnet

Remove unsupported displayName from template
  .azure-pipelines/ultimate-pipeline.yml
Owners: @DataDog/apm-dotnet, @DataDog/debugger-dotnet, @DataDog/profiling-dotnet

Fix compilation
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/cgroup.cpp
Owners: @DataDog/profiling-dotnet

Split .hpp file
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CorProfilerCallback.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Datadog.Profiler.Native.vcxproj
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Datadog.Profiler.Native.vcxproj.filters
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/OpSysTools.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/cgroup.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/cgroup.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/cgroup.hpp
Owners: @DataDog/profiling-dotnet

Test
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/OpSysTools.cpp
Owners: @DataDog/profiling-dotnet

Don't rerun all the aspnet tests
  tracer/test/Datadog.Trace.Security.IntegrationTests/AspNetCore5RemoteConfig.cs
  tracer/test/snapshots/Security.AspNetCore5.__test=server.request.path_params_expectedStatusCode=200_url=_params-endpoint_appscan_fingerprint.verified.txt
Owners: @DataDog/apm-dotnet, @DataDog/asm-dotnet

In StatsTests, make all stats wait events have the same timeout
  tracer/test/Datadog.Trace.IntegrationTests/StatsTests.cs
Owners: @DataDog/apm-dotnet

Fix
  shared/src/Datadog.Trace.ClrProfiler.Native/instrumented_assembly_generator/instrumented_assembly_generator_metadata_interfaces.cpp
Owners: @DataDog/apm-dotnet, @DataDog/debugger-dotnet, @DataDog/profiling-dotnet

Revert test
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/OpSysTools.cpp
Owners: @DataDog/profiling-dotnet

Revert change to DenseStore, Kevin and I confirmed the original implementation was correct
  tracer/src/Datadog.Trace/Vendors/Datadog.Sketches/Stores/DenseStore.cs
Owners: @DataDog/apm-dotnet

Add telemetry to know if the stats computation feature has been enabled or disabled at startup
  tracer/src/Datadog.Trace/Telemetry/Collectors/ConfigurationTelemetryCollector.cs
  tracer/src/Datadog.Trace/Telemetry/DTOs/ConfigTelemetryData.cs
Owners: @DataDog/apm-dotnet

BuildNativeLoader when building macos
  .azure-pipelines/ultimate-pipeline.yml
Owners: @DataDog/apm-dotnet, @DataDog/debugger-dotnet, @DataDog/profiling-dotnet

Add appsec tags to smoke tests snapshots
  tracer/build/smoke_test_snapshots/smoke_test_snapshots.json
  tracer/build/smoke_test_snapshots/smoke_test_snapshots_2_1.json
Owners: @DataDog/apm-dotnet, @DataDog/debugger-dotnet, @DataDog/profiling-dotnet, @DataDog/asm-dotnet

Add missing header
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/cgroup.h
Owners: @DataDog/profiling-dotnet

Fix OSX native loader build issue (#3052)
  .azure-pipelines/ultimate-pipeline.yml
  shared/src/Datadog.Trace.ClrProfiler.Native/cor_profiler.cpp
  shared/src/Datadog.Trace.ClrProfiler.Native/instrumented_assembly_generator/instrumented_assembly_generator_helper.h
  shared/src/Datadog.Trace.ClrProfiler.Native/instrumented_assembly_generator/instrumented_assembly_generator_metadata_interfaces.cpp
  shared/src/native-src/string.h
Owners: @DataDog/apm-dotnet, @DataDog/debugger-dotnet, @DataDog/profiling-dotnet

fix labeller
  .github/labeller.yml
Owners: @DataDog/apm-dotnet, @DataDog/debugger-dotnet, @DataDog/profiling-dotnet

[AppSec] Enable AppSec in installer smoke tests (#3055)
  tracer/build/_build/docker/smoke.dockerfile
  tracer/build/_build/docker/smoke.dotnet-tool.dockerfile
  tracer/build/_build/docker/smoke.nuget.dockerfile
  tracer/build/_build/docker/smoke.windows.dockerfile
  tracer/build/_build/docker/smoke.windows.dotnet-tool.dockerfile
  tracer/build/_build/docker/smoke.windows.nuget.dockerfile
  tracer/build/_build/docker/smoke.windows.tracer-home.dockerfile
  tracer/build/smoke_test_snapshots/smoke_test_snapshots.json
  tracer/build/smoke_test_snapshots/smoke_test_snapshots_2_1.json
Owners: @DataDog/apm-dotnet, @DataDog/debugger-dotnet, @DataDog/profiling-dotnet, @DataDog/asm-dotnet
