Repository DataDog/dd-trace-dotnet, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/apm-dotnet, @DataDog/tracing-dotnet, @DataDog/ci-app-libraries-dotnet, @DataDog/asm-dotnet, @DataDog/profiling-dotnet, @DataDog/debugger-dotnet, @DataDog/serverless-apm

Update tracer/src/Datadog.Trace/AppSec/Coordinator/SecurityCoordinator.cs
  tracer/src/Datadog.Trace/AppSec/Coordinator/SecurityCoordinator.cs
Owners: @DataDog/asm-dotnet

Remove not needed
  tracer/src/Datadog.Trace/AppSec/Coordinator/SecurityCoordinator.cs
Owners: @DataDog/asm-dotnet

Run my branch as master
  .azure-pipelines/ultimate-pipeline.yml
Owners: @DataDog/apm-dotnet

Use createdump in case of deadlock + extend agent readiness timeout
  profiler/test/Datadog.Profiler.IntegrationTests/External/ProcessExtensions.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Helpers/MockDatadogAgent.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Helpers/ProcessExtensions.cs
Owners: @DataDog/profiling-dotnet

Remove dead code
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CorProfilerCallback.h
Owners: @DataDog/profiling-dotnet

fix branch name
  .azure-pipelines/ultimate-pipeline.yml
Owners: @DataDog/apm-dotnet

[Profiler] Fix various thing in the profiler testing infrastructure (#5495)
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CorProfilerCallback.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/FileHelper.cpp
  profiler/test/Datadog.Profiler.IntegrationTests/External/ProcessExtensions.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Helpers/MockDatadogAgent.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Helpers/ProcessExtensions.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Helpers/TestApplicationRunner.cs
  profiler/test/Datadog.Profiler.IntegrationTests/MetricsTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/SmokeTests/SmokeTestRunner.cs
Owners: @DataDog/profiling-dotnet

Fix RegisterIastAspects signature (#5474)
  tracer/src/Datadog.Tracer.Native/interop.cpp
Owners: @DataDog/tracing-dotnet

Run on pull requesst
  .azure-pipelines/ultimate-pipeline.yml
Owners: @DataDog/apm-dotnet

Add some wrappers
  tracer/src/Datadog.Trace/Iast/Wrappers/HttpHeadersWrapper.cs
  tracer/src/Datadog.Trace/Iast/Wrappers/ICollectionWrapper.cs
  tracer/src/Datadog.Trace/Iast/Wrappers/IEnumerableWrapper.cs
  tracer/src/Datadog.Trace/Iast/Wrappers/IEnumeratorWrapper.cs
Owners: @DataDog/asm-dotnet

Add metadata to snapshots
  tracer/src/Datadog.Trace/AppSec/Rasp/MetaStructHelper.cs
  tracer/test/Datadog.Trace.TestHelpers/MockSpan.cs
Owners: @DataDog/asm-dotnet, @DataDog/tracing-dotnet

.github/CODEOWNERS:

# See https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/about-code-owners

# By default every team is owner
*                                         @DataDog/apm-dotnet

# Tracer
/tracer/                                  @DataDog/tracing-dotnet

# Common Files
Datadog.Trace.Trimming.xml                @DataDog/apm-dotnet
missing-nullability-files.csv             @DataDog/apm-dotnet
/tracer/src/Datadog.Trace/Generated/      @DataDog/apm-dotnet
/tracer/src/Datadog.Trace/Configuration/IntegrationId.cs @DataDog/apm-dotnet
/tracer/src/Datadog.Trace/Telemetry/Metrics/MetricTags.cs @DataDog/apm-dotnet
/tracer/src/Datadog.Trace/Telemetry/Metrics/IntegrationIdExtensions.cs @DataDog/apm-dotnet

# CI
/tracer/src/Datadog.Trace/Ci/             @DataDog/ci-app-libraries-dotnet @DataDog/apm-dotnet
/tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/   @DataDog/ci-app-libraries-dotnet @DataDog/apm-dotnet
/tracer/src/Datadog.Trace/PDBs/MethodSymbolResolver.cs        @DataDog/ci-app-libraries-dotnet

# ASM
/tracer/src/Datadog.Trace/AppSec/         @DataDog/asm-dotnet
/tracer/src/Datadog.Tracer.Native/iast/    @DataDog/asm-dotnet
/tracer/test/test-applications/security/   @DataDog/asm-dotnet
/tracer/test/Datadog.Trace.Security.IntegrationTests/ @DataDog/asm-dotnet
/tracer/test/Datadog.Trace.Security.Unit.Tests/       @DataDog/asm-dotnet
/tracer/test/snapshots/Security*          @DataDog/asm-dotnet
/tracer/test/snapshots/Iast*          	@DataDog/asm-dotnet
/tracer/test/snapshots/Rasp*          	@DataDog/asm-dotnet
/tracer/src/Datadog.Trace/Iast/           @DataDog/asm-dotnet
AspectsDefinitions.g.cs 				@DataDog/asm-dotnet
/tracer/test/test-applications/integrations/Samples.InstrumentedTests/ @DataDog/asm-dotnet
/tracer/src/Datadog.Trace/Tags.AppSec.cs @DataDog/asm-dotnet
/tracer/test/benchmarks/Benchmarks.Trace/Asm/   @DataDog/asm-dotnet

# Profiler
/profiler/                                @DataDog/profiling-dotnet
.github/workflows/profiler-pipeline.yml   @DataDog/profiling-dotnet
/tracer/src/Datadog.Trace/ContinuousProfiler/ @DataDog/profiling-dotnet @DataDog/tracing-dotnet
/tracer/test/Datadog.Trace.Tests/ContinuousProfiler/ @DataDog/profiling-dotnet @DataDog/tracing-dotnet

# Debugger
/tracer/src/Datadog.Trace/Debugger/        @DataDog/debugger-dotnet
/tracer/test/Datadog.Trace.Tests/Debugger/ @DataDog/debugger-dotnet
/tracer/src/Datadog.Trace/PDBs/            @DataDog/debugger-dotnet
/tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/Debugger/ @DataDog/debugger-dotnet
/tracer/test/test-applications/debugger/   @DataDog/debugger-dotnet
debugger_*.cpp                             @DataDog/debugger-dotnet
debugger_*.h                               @DataDog/debugger-dotnet
/tracer/test/Datadog.Trace.Tests/Debugger  @DataDog/debugger-dotnet
/tracer/test/Datadog.Trace.Debugger.IntegrationTests/ @DataDog/debugger-dotnet
tracer/src/Datadog.InstrumentedAssemblyGenerator/ @DataDog/debugger-dotnet
tracer/src/Datadog.InstrumentedAssemblyVerification/ @DataDog/debugger-dotnet
fault_tolerant_*.cpp                       @DataDog/debugger-dotnet
fault_tolerant_*.h                         @DataDog/debugger-dotnet
/tracer/src/Datadog.Trace/FaultTolerant/   @DataDog/debugger-dotnet

# Serverless
/tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/Lambda/    @DataDog/tracing-dotnet  @DataDog/serverless-apm
/tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/SDK/    @DataDog/tracing-dotnet  @DataDog/serverless-apm
/tracer/src/Datadog.Trace/ClrProfiler/ServerlessInstrumentation/   @DataDog/tracing-dotnet  @DataDog/serverless-apm
/tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AWS/       @DataDog/tracing-dotnet  @DataDog/serverless-apm
/tracer/test/test-applications/azure-functions/                    @DataDog/tracing-dotnet  @DataDog/serverless-apm
/tracer/test/test-applications/integrations/Samples.AWS.Lambda/    @DataDog/tracing-dotnet  @DataDog/serverless-apm
/tracer/test/test-applications/integrations/Samples.Amazon.Lambda.RuntimeSupport/        @DataDog/tracing-dotnet  @DataDog/serverless-apm
docker-compose.serverless.yml                                      @DataDog/tracing-dotnet  @DataDog/serverless-apm

# Shared code we could move to the root folder
/tracer/build/                            @DataDog/apm-dotnet
