Repository DataDog/dd-trace-dotnet, changes with the labels that .github/labeler.yml gives for each.
All labels: area:appsec, area:benchmarks, area:builds, area:ci-app, area:customer-samples, area:dependabot, area:docs, area:installers, area:integrations, area:native-library, area:opentracing, area:shared-components, area:tests, area:test-apps, area:tools, area:tracer, area:vendors

.github/labeler.yml:

area:appsec:
- tracer/src/Datadog.Trace/AppSec/**/*
- tracer/test/Datadog.Trace.Security.*/**/*

area:benchmarks:
- tracer/test/benchmarks/**/*
- tracer/src/Datadog.Trace.BenchmarkDotNet/**/*

area:builds:
- tracer/build/**/*

area:ci-app:
- tracer/src/Datadog.Trace/Ci/**/*
- tracer/src/Datadog.Trace.MSBuild/**/*

area:customer-samples:
- tracer/samples/**/*

area:dependabot:
- tracer/dependabot/**/*

area:docs:
- docs/**/*
- blog/**/*
- '**/README*'
- '**/*.md'

area:installers:
- shared/src/msi-installer/**/*
- tracer/src/WindowsInstaller/**/*

area:integrations:
- tracer/src/Datadog.Trace/ClrProfiler/**/*
- tracer/src/Datadog.Trace.AspNet/**/*
- tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/**/*
- tracer/test/Datadog.Trace.ClrProfiler.Managed.Tests/**/*

area:native-library:
- tracer/src/Datadog.Trace.ClrProfiler.Native/**/*
- tracer/src/Datadog.Trace.ClrProfiler.Managed.Loader/**/*
- tracer/src/Datadog.AutoInstrumentation.NativeLoader/**/*
- tracer/test/Datadog.Trace.ClrProfiler.Native.Tests/**/*
- tracer/test/Datadog.AutoInstrumentation.NativeLoader.Tests/**/*

area:opentracing:
- tracer/src/Datadog.Trace.OpenTracing/**/*
- tracer/test/Datadog.Trace.OpenTracing.*/**/*

area:shared-components:
- shared/**/*

area:tests:
- test/**/*
- tracer/test/**/*

area:test-apps:
- tracer/test/test-applications/**/*

area:tools:
- tracer/src/Datadog.Trace.Tools.*/**/*
- tracer/test/Datadog.Trace.Tools.Analyzers.Tests/**/*

area:tracer:
# if any modified file is in tracer/src/Datadog.Trace, excluding files in tracer/src/Datadog.Trace/ClrProfiler
- any: ['tracer/src/Datadog.Trace/**/*', '!tracer/src/Datadog.Trace/ClrProfiler/**/*']
- tracer/test/Datadog.Trace.Tests/**/*
- tracer/test/Datadog.Trace.IntegrationTests/**/*

area:vendors:
- tracer/src/Datadog.Trace/Vendors/**/*

pr comments
  tracer/build/PackageVersionsLatestMajors.g.props
  tracer/build/PackageVersionsLatestMinors.g.props
  tracer/build/_build/PrepareRelease/GenerateIntegrationDefinitions.cs
  tracer/build_in_docker.sh
  tracer/dependabot/Datadog.Dependabot.Integrations.csproj
  tracer/src/Datadog.Trace/ClrProfiler/InstrumentationDefinitions.Generated.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestMajors.g.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestMinors.g.cs
  tracer/test/Datadog.Trace.IntegrationTests/Properties/launchSettings.json
  tracer/test/benchmarks/Benchmarks.Trace/Properties/launchSettings.json
Labels: area:benchmarks, area:builds, area:dependabot, area:integrations, area:tests, area:tracer

pr comments
  tracer/src/Datadog.Trace/ClrProfiler/ServerlessInstrumentation/AWS/Lambda.cs
  tracer/src/Datadog.Trace/ClrProfiler/ServerlessInstrumentation/Serverless.cs
  tracer/src/Datadog.Trace/Datadog.Trace.csproj
Labels: area:integrations, area:tracer

Move some static readonly fields to const
  tracer/src/Datadog.Trace/CorrelationIdentifier.cs
  tracer/src/Datadog.Trace/TracerConstants.cs
  tracer/src/Datadog.Trace/TracingProcessManager.cs
Labels: area:tracer

Robert/run adhoc throughput test (#2248)
  tracer/build/_build/Build.Profiler.Steps.cs
  tracer/build/_build/Build.Shared.Steps.cs
  tracer/build/crank/README.md
  tracer/build/crank/loader.conf
  tracer/build/crank/os.profiles.yml
  tracer/build/crank/run-adhoc.sh
  tracer/src/Datadog.AutoInstrumentation.NativeLoader/dynamic_dispatcher.h
  tracer/src/Datadog.AutoInstrumentation.NativeLoader/loader.conf
Labels: area:builds, area:docs, area:native-library

Migrate CLI to Spectre.Console (#2254)
  tracer/src/Datadog.Trace.Tools.Runner/ApplicationContext.cs
  tracer/src/Datadog.Trace.Tools.Runner/Datadog.Trace.Tools.Runner.csproj
  tracer/src/Datadog.Trace.Tools.Runner/LegacyCommand.cs
  tracer/src/Datadog.Trace.Tools.Runner/LegacySettings.cs
  tracer/src/Datadog.Trace.Tools.Runner/Options.cs
  tracer/src/Datadog.Trace.Tools.Runner/Program.cs
  tracer/src/Datadog.Trace.Tools.Runner/Utils.cs
  tracer/test/Datadog.Trace.Tools.Runner.IntegrationTests/Datadog.Trace.Tools.Runner.IntegrationTests.csproj
  tracer/test/Datadog.Trace.Tools.Runner.IntegrationTests/LegacyCommandLineArgumentsTests.cs
Labels: area:tests, area:tools

Replace some delegates with calli instruction
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Http/HttpClient/CurlHandler/CurlHandlerIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Http/HttpClient/HttpClientHandler/HttpClientHandlerIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Http/HttpClient/HttpClientHandler/HttpClientHandlerSyncIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Http/HttpClient/HttpMessageHandlerCommon.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Http/HttpClient/SocketsHttpHandler/SocketsHttpHandlerIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Http/HttpClient/SocketsHttpHandler/SocketsHttpHandlerSyncIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Http/HttpClient/WinHttpHandler/WinHttpHandlerIntegration.cs
  tracer/src/Datadog.Trace/Datadog.Trace.csproj
Labels: area:integrations, area:tracer

Move some static readonly fields to const (#2292)
  tracer/src/Datadog.Trace/CorrelationIdentifier.cs
  tracer/src/Datadog.Trace/TracerConstants.cs
  tracer/src/Datadog.Trace/TracingProcessManager.cs
Labels: area:tracer

Add `#if NETFRAMEWORK` to System.Web integrations
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AspNet/ExceptionHandlerExtensions_HandleAsync_Integration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AspNet/ThreadContext_AssociateWithCurrentThread_Integration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AspNet/ThreadContext_DisassociateFromCurrentThread_Integration.cs
Labels: area:integrations

pr
  tracer/src/Datadog.Trace/ClrProfiler/ServerlessInstrumentation/AWS/Lambda.cs
Labels: area:integrations
