Repository DataDog/dd-trace-dotnet, pull requests merged in 2018-10, with the labels that each got.

#162 StackExchange.Redis Sync tests
  samples/Samples.RedisCore/Program.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/StackExchangeRedisTests.cs
Labels: dev/testing

#164 show environment in Core MVC app
  samples/Samples.AspNetCoreMvc2/Controllers/HomeController.cs
  samples/Samples.AspNetCoreMvc2/Views/Home/Index.cshtml
  samples/Samples.AspNetCoreMvc2/Views/_Layout.cshtml
Labels: samples

#165 Fix Core MVC integration
  integrations.json
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AspNetCoreMvc2Integration.cs
Labels: bug, integrations

#167 add mvc4 integration
  Datadog.Trace.sln
  integrations.json
  samples/Samples.AspNetMvc4/App_Start/AttributeRoutingConfig.cs
  samples/Samples.AspNetMvc4/App_Start/BundleConfig.cs
  samples/Samples.AspNetMvc4/App_Start/FilterConfig.cs
  samples/Samples.AspNetMvc4/App_Start/RouteConfig.cs
  samples/Samples.AspNetMvc4/ApplicationInsights.config
  samples/Samples.AspNetMvc4/Content/Site.css
  samples/Samples.AspNetMvc4/Content/bootstrap-theme.css
  samples/Samples.AspNetMvc4/Content/bootstrap-theme.css.map
  samples/Samples.AspNetMvc4/Content/bootstrap-theme.min.css
  samples/Samples.AspNetMvc4/Content/bootstrap-theme.min.css.map
  samples/Samples.AspNetMvc4/Content/bootstrap.css
  samples/Samples.AspNetMvc4/Content/bootstrap.css.map
  samples/Samples.AspNetMvc4/Content/bootstrap.min.css
  samples/Samples.AspNetMvc4/Content/bootstrap.min.css.map
  samples/Samples.AspNetMvc4/Controllers/HomeController.cs
  samples/Samples.AspNetMvc4/Global.asax
  samples/Samples.AspNetMvc4/Global.asax.cs
  samples/Samples.AspNetMvc4/Properties/AssemblyInfo.cs
  samples/Samples.AspNetMvc4/Samples.AspNetMvc4.csproj
  samples/Samples.AspNetMvc4/Scripts/bootstrap.js
  samples/Samples.AspNetMvc4/Scripts/bootstrap.min.js
  samples/Samples.AspNetMvc4/Scripts/jquery-3.3.1.intellisense.js
  samples/Samples.AspNetMvc4/Scripts/jquery-3.3.1.js
  samples/Samples.AspNetMvc4/Scripts/jquery-3.3.1.min.js
  samples/Samples.AspNetMvc4/Scripts/jquery-3.3.1.min.map
  samples/Samples.AspNetMvc4/Scripts/jquery-3.3.1.slim.js
  samples/Samples.AspNetMvc4/Scripts/jquery-3.3.1.slim.min.js
  samples/Samples.AspNetMvc4/Scripts/jquery-3.3.1.slim.min.map
  samples/Samples.AspNetMvc4/Scripts/jquery.validate-vsdoc.js
  samples/Samples.AspNetMvc4/Scripts/jquery.validate.js
  samples/Samples.AspNetMvc4/Scripts/jquery.validate.min.js
  samples/Samples.AspNetMvc4/Scripts/jquery.validate.unobtrusive.js
  samples/Samples.AspNetMvc4/Scripts/jquery.validate.unobtrusive.min.js
  samples/Samples.AspNetMvc4/Scripts/modernizr-2.8.3.js
  samples/Samples.AspNetMvc4/Views/Home/About.cshtml
  samples/Samples.AspNetMvc4/Views/Home/Contact.cshtml
  samples/Samples.AspNetMvc4/Views/Home/Index.cshtml
  samples/Samples.AspNetMvc4/Views/Shared/Error.cshtml
  samples/Samples.AspNetMvc4/Views/Shared/_Layout.cshtml
  samples/Samples.AspNetMvc4/Views/Web.config
  samples/Samples.AspNetMvc4/Views/_ViewStart.cshtml
  samples/Samples.AspNetMvc4/Web.Debug.config
  samples/Samples.AspNetMvc4/Web.Release.config
  samples/Samples.AspNetMvc4/Web.config
  samples/Samples.AspNetMvc4/favicon.ico
  samples/Samples.AspNetMvc4/fonts/glyphicons-halflings-regular.eot
  samples/Samples.AspNetMvc4/fonts/glyphicons-halflings-regular.svg
  samples/Samples.AspNetMvc4/fonts/glyphicons-halflings-regular.ttf
  samples/Samples.AspNetMvc4/fonts/glyphicons-halflings-regular.woff
  samples/Samples.AspNetMvc4/fonts/glyphicons-halflings-regular.woff2
  samples/Samples.AspNetMvc4/packages.config
  samples/Samples.AspNetMvc5/Samples.AspNetMvc5.csproj
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AspNetMvcIntegration.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/AspNetMvc4Tests.cs
Labels: feature-request, integrations

#166 ASP.NET Core MVC integration tests
  integrations.json
  samples/Samples.AspNetCoreMvc2/Controllers/HomeController.cs
  samples/Samples.AspNetMvc4/Controllers/HomeController.cs
  samples/Samples.AspNetMvc5/Controllers/ApiController.cs
  samples/Samples.AspNetMvc5/Controllers/HomeController.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/AspNetCoreMvc2Tests.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/AspNetMvc5Tests.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/Datadog.Trace.ClrProfiler.IntegrationTests.csproj
  test/Datadog.Trace.ClrProfiler.IntegrationTests/TestHelper.cs
  test/Datadog.Trace.TestHelpers/ProfilerHelper.cs
Labels: dev/testing

#169 bump version to 0.4.0
  integrations.json
  scripts/generate-service-stack-redis-integrations.py
  src/Datadog.Trace.ClrProfiler.Managed/Datadog.Trace.ClrProfiler.Managed.csproj
  src/Datadog.Trace.OpenTracing/Datadog.Trace.OpenTracing.csproj
  src/Datadog.Trace/Datadog.Trace.csproj
Labels: dev/tooling

#174 allow FlushAndCloseAsync to be called more than once
  src/Datadog.Trace/Agent/AgentWriter.cs
  test/Datadog.Trace.Tests/AgentWriterTests.cs
Labels: bug

#175 implement retries for posting trace data to agent
  src/Datadog.Trace/Agent/Api.cs
  test/Datadog.Trace.Tests/ApiTests.cs
Labels: bug

#173 Add .NET Core support to msi installer
  deploy/Datadog.Trace.ClrProfiler.WindowsInstaller/Config.wxi
  deploy/Datadog.Trace.ClrProfiler.WindowsInstaller/Product.wxs
  src/Datadog.Trace.ClrProfiler.Managed/Datadog.Trace.ClrProfiler.Managed.csproj
  src/Datadog.Trace.ClrProfiler.Native/logging.cpp
Labels: installer/windows-msi

#177 add missing badges to README.md
  README.md
Labels: docs

#178 fix Web API 2 integration when built-in tracing is enabled
  deploy/Datadog.Trace.ClrProfiler.WindowsInstaller/Product.wxs
  samples/Samples.AspNetMvc5/App_Start/WebApiConfig.cs
  samples/Samples.AspNetMvc5/Controllers/ApiController.cs
  samples/Samples.AspNetMvc5/Samples.AspNetMvc5.csproj
  samples/Samples.AspNetMvc5/packages.config
  src/Datadog.Trace.ClrProfiler.Managed/Datadog.Trace.ClrProfiler.Managed.csproj
  src/Datadog.Trace.ClrProfiler.Managed/DynamicMethodBuilder.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AspNetWebApi2Integration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/StackExchange.Redis/ConnectionMultiplexer.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/StackExchange.Redis/RedisBatch.cs
  src/Datadog.Trace.ClrProfiler.Native/util.cpp
Labels: bug, integrations

#183 keep linux (lf) line endings in bash scripts
  .gitattributes
Labels: dev/tooling

#180 cast BYTE to int so hex encoding works correctly
  src/Datadog.Trace.ClrProfiler.Native/integration.h
Labels: bug, core

#181 version bump 0.5.0
  docker/package.sh
  integrations.json
  scripts/generate-service-stack-redis-integrations.py
  src/Datadog.Trace.ClrProfiler.Managed/Datadog.Trace.ClrProfiler.Managed.csproj
  src/Datadog.Trace.OpenTracing/Datadog.Trace.OpenTracing.csproj
  src/Datadog.Trace/Datadog.Trace.csproj
  src/Directory.Build.props
Labels: dev/tooling
