Repository DataDog/dd-trace-dotnet, pull requests merged in 2018-09, with the labels that each got.

#100 reduce C++ compiler optimizations
  src/Datadog.Trace.ClrProfiler.Native/Datadog.Trace.ClrProfiler.Native.vcxproj
  src/Datadog.Trace.ClrProfiler.Native/cor_profiler.cpp
  test/Datadog.Trace.ClrProfiler.IntegrationTests/ConsoleCoreTests.cs
Labels: dev/tooling

#101 Reduce C++ compiler optimizations, redux
  src/Datadog.Trace.ClrProfiler.Native/Datadog.Trace.ClrProfiler.Native.vcxproj
  src/Datadog.Trace.ClrProfiler.Native/cor_profiler.cpp
  src/Datadog.Trace.ClrProfiler.Native/integration.cpp
  src/Datadog.Trace.ClrProfiler.Native/integration.h
  src/Datadog.Trace.ClrProfiler.Native/integration_loader.cpp
  src/Datadog.Trace.ClrProfiler.Native/metadata_builder.cpp
  test/Datadog.Trace.ClrProfiler.IntegrationTests/ConsoleCoreTests.cs
Labels: dev/tooling

#102 Add build status badge to README
  README.md
Labels: docs

#103 Standardise file naming, header guards; the other way
  src/Datadog.Trace.ClrProfiler.Native/Datadog.Trace.ClrProfiler.Native.vcxproj
  src/Datadog.Trace.ClrProfiler.Native/class_factory.cpp
  src/Datadog.Trace.ClrProfiler.Native/class_factory.h
  src/Datadog.Trace.ClrProfiler.Native/clr_helpers.h
  src/Datadog.Trace.ClrProfiler.Native/com_ptr.h
  src/Datadog.Trace.ClrProfiler.Native/cor_profiler.cpp
  src/Datadog.Trace.ClrProfiler.Native/cor_profiler.h
  src/Datadog.Trace.ClrProfiler.Native/cs_holder.cpp
  src/Datadog.Trace.ClrProfiler.Native/cs_holder.h
  src/Datadog.Trace.ClrProfiler.Native/dllmain.cpp
  src/Datadog.Trace.ClrProfiler.Native/id_to_info_map.h
  src/Datadog.Trace.ClrProfiler.Native/il_rewriter.cpp
  src/Datadog.Trace.ClrProfiler.Native/il_rewriter.h
  src/Datadog.Trace.ClrProfiler.Native/il_rewriter_wrapper.cpp
  src/Datadog.Trace.ClrProfiler.Native/il_rewriter_wrapper.h
  src/Datadog.Trace.ClrProfiler.Native/integration.cpp
  src/Datadog.Trace.ClrProfiler.Native/integration.h
  src/Datadog.Trace.ClrProfiler.Native/integration_loader.h
  src/Datadog.Trace.ClrProfiler.Native/interop.cpp
  src/Datadog.Trace.ClrProfiler.Native/macros.h
  src/Datadog.Trace.ClrProfiler.Native/metadata_builder.cpp
  src/Datadog.Trace.ClrProfiler.Native/metadata_builder.h
  src/Datadog.Trace.ClrProfiler.Native/module_metadata.h
  test/Datadog.Trace.ClrProfiler.Native.Tests/Datadog.Trace.ClrProfiler.Native.Tests.vcxproj
  test/Datadog.Trace.ClrProfiler.Native.Tests/clr_helper_test.cpp
  test/Datadog.Trace.ClrProfiler.Native.Tests/integration_loader_test.cpp
  test/Datadog.Trace.ClrProfiler.Native.Tests/integration_test.cpp
  test/Datadog.Trace.ClrProfiler.Native.Tests/metadata_builder_test.cpp
Labels: dev/tooling

#108 clean up C++ code using clang-tidy
  src/Datadog.Trace.ClrProfiler.Native/Datadog.Trace.ClrProfiler.Native.DLL.vcxproj
  src/Datadog.Trace.ClrProfiler.Native/clr_helpers.cpp
  src/Datadog.Trace.ClrProfiler.Native/clr_helpers.h
  src/Datadog.Trace.ClrProfiler.Native/metadata_builder.cpp
  src/Datadog.Trace.ClrProfiler.Native/util.cpp
  test/Datadog.Trace.ClrProfiler.Native.Tests/Datadog.Trace.ClrProfiler.Native.Tests.vcxproj
Labels: code-cleanup

#109 allow more time for slow test
  test/Datadog.Trace.OpenTracing.Tests/OpenTracingSpanTests.cs
Labels: dev/testing

#111 Change property name for installer version
  deploy/Datadog.Trace.ClrProfiler.WindowsInstaller/Datadog.Trace.ClrProfiler.WindowsInstaller.wixproj
  deploy/Datadog.Trace.ClrProfiler.WindowsInstaller/Product.wxs
Labels: dev/tooling

#112 Use EF Core in sample app
  samples/Samples.ConsoleCore/Samples.ConsoleCore.csproj
  samples/Samples.SqlServer/Models.cs
  samples/Samples.SqlServer/Program.cs
  samples/Samples.SqlServer/Samples.SqlServer.csproj
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AspNetMvc5Integration.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/BuildParameters.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/ConsoleCoreTests.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/Datadog.Trace.ClrProfiler.IntegrationTests.csproj
  test/Datadog.Trace.ClrProfiler.IntegrationTests/SqlServerTests.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/TestHelper.cs
Labels: dev/tooling

#114 SQL Server integration redux
  Datadog.Trace.sln
  devenv.bat
  integrations.json
  src/Datadog.Trace.ClrProfiler.Managed/DynamicMethodBuilder.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/SqlServer.cs
  src/Datadog.Trace.ClrProfiler.Native/cor_profiler.cpp
  test/Datadog.Trace.ClrProfiler.IntegrationTests/MockTracerAgent.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/TestHelper.cs
  test/Datadog.Trace.TestHelpers/ProfilerHelper.cs
Labels: bug, dev/tooling, do-not-merge/WIP

#115 add install script for sqlserver
  Datadog.Trace.sln
  ci/install-sqlserver.ps1
  test/Datadog.Trace.TestHelpers/ProfilerHelper.cs
Labels: dev/tooling

#118 stop setting env variables with "DATADOG" prefix
  devenv.bat
  test/Datadog.Trace.TestHelpers/ProfilerHelper.cs
Labels: dev/tooling

#117 asp.net web api integration
  integrations.json
  samples/Samples.AspNetCoreMvc2/Controllers/ApiController.cs
  samples/Samples.AspNetCoreMvc2/Samples.AspNetCoreMvc2.csproj
  samples/Samples.AspNetMvc5/App_Start/WebApiConfig.cs
  samples/Samples.AspNetMvc5/Controllers/ApiController.cs
  samples/Samples.AspNetMvc5/Global.asax.cs
  samples/Samples.AspNetMvc5/Samples.AspNetMvc5.csproj
  samples/Samples.AspNetMvc5/Web.config
  samples/Samples.AspNetMvc5/packages.config
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AspNetWebApi2Integration.cs
  src/Datadog.Trace.ClrProfiler.Native/clr_helpers.cpp
  test/Datadog.Trace.ClrProfiler.IntegrationTests/AspNetMvc5Tests.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/ConsoleCoreTests.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/Datadog.Trace.ClrProfiler.IntegrationTests.csproj
  test/Datadog.Trace.ClrProfiler.IntegrationTests/SqlServerTests.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/TestHelper.cs
  test/Datadog.Trace.TestHelpers/Datadog.Trace.TestHelpers.csproj
  test/Datadog.Trace.TestHelpers/Extensions.cs
  test/Datadog.Trace.TestHelpers/MockTracerAgent.cs
  test/Datadog.Trace.TestHelpers/ProfilerHelper.cs
Labels: integrations

#122 add EF6 to Samples.AspNetMvc5
  samples/Samples.AspNetMvc5/Controllers/ContactsController.cs
  samples/Samples.AspNetMvc5/Data/Contact.cs
  samples/Samples.AspNetMvc5/Data/SampleDbContext.cs
  samples/Samples.AspNetMvc5/Samples.AspNetMvc5.csproj
  samples/Samples.AspNetMvc5/Views/Contacts/Create.cshtml
  samples/Samples.AspNetMvc5/Views/Contacts/Delete.cshtml
  samples/Samples.AspNetMvc5/Views/Contacts/Details.cshtml
  samples/Samples.AspNetMvc5/Views/Contacts/Edit.cshtml
  samples/Samples.AspNetMvc5/Views/Contacts/Index.cshtml
  samples/Samples.AspNetMvc5/Views/Home/Index.cshtml
  samples/Samples.AspNetMvc5/Views/_Layout.cshtml
  samples/Samples.AspNetMvc5/Web.config
  samples/Samples.AspNetMvc5/packages.config
Labels: samples

#119 add more documentation to README
  README.md
Labels: docs

#125 normalize resource capitalization
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AspNetCoreMvc2Integration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AspNetMvc5Integration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AspNetWebApi2Integration.cs
Labels: enhancement

#126 add http method to the resource name
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AspNetCoreMvc2Integration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AspNetMvc5Integration.cs
Labels: enhancement

#135 Add SqlClient tags
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/SqlServer.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/StackExchangeRedis.cs
  src/Datadog.Trace/ExtensionMethods/SpanExtensions.cs
  src/Datadog.Trace/Tags.cs
Labels: bug

#136 allow more time for slow CI in time-sensitive test
  test/Datadog.Trace.Tests/SpanTests.cs
Labels: dev/testing

#140 Add more app info to Samples.AspNetMvc5
  samples/Samples.AspNetMvc5/Controllers/HomeController.cs
  samples/Samples.AspNetMvc5/Samples.AspNetMvc5.csproj
  samples/Samples.AspNetMvc5/Views/Home/Index.cshtml
  samples/Samples.AspNetMvc5/Views/_Layout.cshtml
Labels: dev/tooling

#141 allow more time for slow CI in another time-sensitive test
  test/Datadog.Trace.OpenTracing.Tests/OpenTracingSpanTests.cs
Labels: dev/testing

#144 change msi installer license text
  deploy/Datadog.Trace.ClrProfiler.WindowsInstaller/license.rtf
Labels: bug, installer/windows-msi

#145 msi installer: don't reboot
  deploy/Datadog.Trace.ClrProfiler.WindowsInstaller/Product.wxs
Labels: enhancement, installer/windows-msi

#147 bump version to 0.3.1
  deploy/Datadog.Trace.ClrProfiler.WindowsInstaller/Datadog.Trace.ClrProfiler.WindowsInstaller.wixproj
  deploy/Datadog.Trace.ClrProfiler.WindowsInstaller/build.ps1
  integrations.json
  scripts/generate-service-stack-redis-integrations.py
  src/Datadog.Trace.ClrProfiler.Managed/Datadog.Trace.ClrProfiler.Managed.csproj
  src/Datadog.Trace.OpenTracing/Datadog.Trace.OpenTracing.csproj
  src/Datadog.Trace/Datadog.Trace.csproj
Labels: dev/tooling

#148 add support for instrumenting generic methods
  integrations.json
  samples/Samples.RedisCore/Properties/launchSettings.json
  src/Datadog.Trace.ClrProfiler.Managed/DynamicMethodBuilder.cs
  src/Datadog.Trace.ClrProfiler.Managed/Extensions.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AspNetCoreMvc2Integration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/ServiceStack/Redis/RedisNativeClient.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/SqlServer.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/StackExchangeRedis.cs
  src/Datadog.Trace.ClrProfiler.Native/clr_helpers.cpp
  src/Datadog.Trace.ClrProfiler.Native/clr_helpers.h
  src/Datadog.Trace.ClrProfiler.Native/cor_profiler.cpp
  src/Datadog.Trace.ClrProfiler.Native/module_metadata.h
  test/Datadog.Trace.ClrProfiler.IntegrationTests/ServiceStackRedisTests.cs
  test/Datadog.Trace.ClrProfiler.Native.Tests/metadata_builder_test.cpp
Labels: core

#151 [StackExchange.Redis] get only hostname and port from configuration string, ignore the rest
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/Redis.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/StackExchangeRedis.cs
Labels: bug, integrations

#150 fix service and operation names
  src/Datadog.Trace.ClrProfiler.Managed/AssemblyInfo.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AspNetCoreMvc2Integration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AspNetMvc5Integration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AspNetWebApi2Integration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/Redis.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/SqlServer.cs
  src/Datadog.Trace/Tracer.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/AspNetMvc5Tests.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/ServiceStackRedisTests.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/SqlServerTests.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/StackExchangeRedisTests.cs
Labels: bug, integrations

#152 use generics, test GET
  integrations.json
  samples/Samples.RedisCore/Program.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/StackExchangeRedis.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/StackExchangeRedisTests.cs
Labels: bug, integrations

#153 [WIP] Make TraceID and SpanID publicly accessible
  src/Datadog.Trace/Span.cs
Labels: code-cleanup, do-not-merge/WIP, feature-request

#156 handle AggregateException
  src/Datadog.Trace/Span.cs
Labels: core, do-not-merge/WIP, enhancement

#155 [MVC 5] set HTTP status code to 500 on unhandled exception
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AspNetMvc5Integration.cs
Labels: bug, do-not-merge/WIP, integrations

#157 [MVC 5] add missing tags when using attribute routing
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AspNetMvc5Integration.cs
  src/Datadog.Trace/ExtensionMethods/DictionaryExtensions.cs
Labels: bug, integrations

#158 [WIP] update NuGet dependencies
  src/Datadog.Trace/Datadog.Trace.csproj
Labels: do-not-merge/WIP

#159 StackExchange.Redis Batch Integration + tests
  integrations.json
  samples/Samples.RedisCore/Program.cs
  src/Datadog.Trace.ClrProfiler.Managed/Extensions.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/StackExchange.Redis/Base.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/StackExchange.Redis/ConnectionMultiplexer.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/StackExchange.Redis/RedisBatch.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/StackExchangeRedisTests.cs
Labels: integrations
