Repository DataDog/dd-trace-dotnet, pull requests merged in 2019-01, with the labels that each got.

#240 update README file
  README.md
Labels: docs

#242 fix typo in README.md
  README.md
Labels: community, docs

#236 MongoDB integration
  Datadog.Trace.sln
  integrations.json
  samples/Samples.MongoDB/Program.cs
  samples/Samples.MongoDB/Properties/launchSettings.json
  samples/Samples.MongoDB/Samples.MongoDB.csproj
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/MongoDbIntegration.cs
  src/Datadog.Trace/SpanTypes.cs
  src/Datadog.Trace/Tags.cs
  tools/GenerateIntegrationDefinitions/Program.cs
Labels: do-not-merge, feature-request, integrations

#247 Improve profiler logging
  src/Datadog.Trace.ClrProfiler.Managed/Instrumentation.cs
  src/Datadog.Trace.ClrProfiler.Native/cor_profiler.cpp
  src/Datadog.Trace.ClrProfiler.Native/metadata_builder.cpp
Labels: enhancement, profiler

#249 version bump to 0.7.0
  docker/package.sh
  integrations.json
  scripts/generate-service-stack-redis-integrations.py
  src/Datadog.Trace.ClrProfiler.Managed/Datadog.Trace.ClrProfiler.Managed.csproj
  src/Datadog.Trace.OpenTracing/Datadog.Trace.OpenTracing.csproj
  src/Datadog.Trace/Datadog.Trace.csproj
Labels: build-tools

#248 ADO.NET integration
  Datadog.Trace.sln
  integrations.json
  samples/Samples.Npgsql/Program.cs
  samples/Samples.Npgsql/Properties/launchSettings.json
  samples/Samples.Npgsql/Samples.Npgsql.csproj
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AdoNetIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/MongoDbIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/SqlServerIntegration.cs
  src/Datadog.Trace.ClrProfiler.Native/cor_profiler.h
  src/Datadog.Trace/ExtensionMethods/SpanExtensions.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/SqlServerTests.cs
Labels: feature-request, integrations

#251 add shared code style settings
  Datadog.Trace.sln.DotSettings
Labels: dev-tools

#252 add CODEOWNERS file
  .github/CODEOWNERS
Labels: dev-tools

#256 fix async calls in ADO.NET integration
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AdoNetIntegration.cs
Labels: bug, integrations

#254 Create profiler log file directory
  samples/Samples.SqlServer/Properties/launchSettings.json
  src/Datadog.Trace.ClrProfiler.Native/environment_variables.h
  src/Datadog.Trace.ClrProfiler.Native/logging.cpp
Labels: bug, profiler

#257 bump version to 0.7.1
  Datadog.Trace.sln.DotSettings
  docker/package.sh
  integrations.json
  scripts/generate-service-stack-redis-integrations.py
  src/Datadog.Trace.ClrProfiler.Managed/Datadog.Trace.ClrProfiler.Managed.csproj
  src/Datadog.Trace.OpenTracing/Datadog.Trace.OpenTracing.csproj
  src/Datadog.Trace/Datadog.Trace.csproj
Labels: dev-tools

#255 Don't crash apps with multiple AppDomains
  Datadog.Trace.sln.DotSettings
  src/Datadog.Trace/AsyncLocalCompat.cs
  src/Datadog.Trace/AsyncLocalScopeManager.cs
  src/Datadog.Trace/Scope.cs
Labels: bug, core

#258 MSI installer: create directory for log file
  deploy/Datadog.Trace.ClrProfiler.WindowsInstaller/Datadog.Trace.ClrProfiler.WindowsInstaller.wixproj
  deploy/Datadog.Trace.ClrProfiler.WindowsInstaller/Product.wxs
Labels: deployment-packages, enhancement
