Repository DataDog/dd-trace-dotnet, pull requests merged in 2019-06, with the labels that each got.

#367 fix stack overflow when overriding HttpClientHandler.SendAsync()
  Datadog.Trace.sln
  integrations.json
  reproductions/AutomapperTest/AutomapperTest.csproj
  reproductions/Directory.Build.props
  reproductions/HttpMessageHandler.StackOverflow/HttpMessageHandler.StackOverflow.csproj
  reproductions/HttpMessageHandler.StackOverflow/Program.cs
  reproductions/HttpMessageHandler.StackOverflow/Properties/launchSettings.json
  samples/Directory.Build.props
  src/Datadog.Trace.ClrProfiler.Managed/DynamicMethodBuilder.cs
  src/Datadog.Trace.ClrProfiler.Managed/Emit/DynamicMethodBuilder.cs
  src/Datadog.Trace.ClrProfiler.Managed/Emit/OpCodeValues.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AdoNetIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AspNetCoreMvc2Integration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AspNetMvcIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AspNetWebApi2Integration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/ElasticsearchNet5Integration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/ElasticsearchNet6Integration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/HttpMessageHandlerIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/MongoDbIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/ServiceStackRedisIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/StackExchange.Redis/ConnectionMultiplexer.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/StackExchange.Redis/RedisBatch.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/WcfIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/WebRequestIntegration.cs
  src/Datadog.Trace.ClrProfiler.Native/cor_profiler.cpp
  test/Datadog.Trace.ClrProfiler.Managed.Tests/IntegrationSignatureTests.cs
Labels: area:clr-profiler, area:integrations, type:bug

#369 version bump to 1.3.0
  docker/package.sh
  integrations.json
  reproductions/AutomapperTest/Dockerfile
  src/Datadog.Trace.ClrProfiler.Managed/Datadog.Trace.ClrProfiler.Managed.csproj
  src/Datadog.Trace.ClrProfiler.Native/CMakeLists.txt
  src/Datadog.Trace.ClrProfiler.Native/Resource.rc
  src/Datadog.Trace.ClrProfiler.Native/version.h
  src/Datadog.Trace.OpenTracing/Datadog.Trace.OpenTracing.csproj
  src/Datadog.Trace/Datadog.Trace.csproj
  src/Directory.Build.props
Labels: area:builds

#350 Force the sample projects to build Datadog.Trace.ClrProfiler.Native.dll
  samples/Directory.Build.props
Labels: area:builds

#370 remove use of "dynamic" keyword in MVC integration
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AspNetMvcIntegration.cs
Labels: area:integrations

#371 migrate Windows native unit tests to yaml pipeline
  .azure-pipelines/windows-unit-tests-native.yaml
  Datadog.Trace.Managed.sln.DotSettings
  devenv.Datadog.Trace.Managed.sln.bat
  devenv.bat
Labels: area:builds

#362 Compare wrapper method to target
  src/Datadog.Trace.ClrProfiler.Native/clr_helpers.cpp
  src/Datadog.Trace.ClrProfiler.Native/clr_helpers.h
  src/Datadog.Trace.ClrProfiler.Native/cor_profiler.cpp
  src/Datadog.Trace.ClrProfiler.Native/integration.h
  test/Datadog.Trace.ClrProfiler.IntegrationTests/Elasticsearch5Tests.cs
Labels: area:clr-profiler

#372 migrate managed unit tests to yaml pipeline
  .azure-pipelines/managed-unit-tests.yml
  .azure-pipelines/native-unit-tests.yml
  .azure-pipelines/windows-unit-tests-native.yaml
Labels: area:builds

#377 Drop out of rethrow when null, per mvc.core behavior
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AspNetCoreMvc2Integration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/Caching/Interception.cs
Labels: area:integrations, severity:breaks-application, type:bug

#375 update build status badges and other repo docs
  .azure-pipelines/managed-unit-tests.yml
  .azure-pipelines/native-unit-tests.yml
  .github/pull_request_template.md
  CONTRIBUTING.md
  docs/CODE_OF_CONDUCT.md
  docs/CONTRIBUTING.md
  docs/README.md
Labels: area:docs

#374 remove inline variable in C++
  src/Datadog.Trace.ClrProfiler.Native/logging.cpp
  src/Datadog.Trace.ClrProfiler.Native/logging.h
Labels: area:clr-profiler, os:linux

#373 Add version range testing for all supported versions of Elasticsearch and StackExchange.Redis
  PackageVersions.g.props
  PackageVersionsGeneratorDefinitions.json
  samples/Directory.Build.props
  samples/Samples.Elasticsearch/Program.cs
  samples/Samples.Elasticsearch/Samples.Elasticsearch.csproj
  samples/Samples.StackExchange.Redis/Program.cs
  samples/Samples.StackExchange.Redis/Samples.StackExchange.Redis.csproj
  test/Datadog.Trace.ClrProfiler.IntegrationTests/Elasticsearch6Tests.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersions.g.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/StackExchangeRedisTests.cs
Labels: area:builds

#383 Type check enablement
  sample-libs/Samples.ExampleLibrary/FakeClient/Biscuit.cs
  sample-libs/Samples.ExampleLibrary/FakeClient/DogClient.cs
  sample-libs/Samples.ExampleLibrary/FakeClient/DogTrick.cs
  src/Datadog.Trace.ClrProfiler.Native/clr_helpers.cpp
  src/Datadog.Trace.ClrProfiler.Native/clr_helpers.h
  test/Datadog.Trace.ClrProfiler.Native.Tests/Datadog.Trace.ClrProfiler.Native.Tests.vcxproj
  test/Datadog.Trace.ClrProfiler.Native.Tests/clr_helper_test.cpp
  test/Datadog.Trace.ClrProfiler.Native.Tests/clr_helper_type_check_test.cpp
  test/Datadog.Trace.ClrProfiler.Native.Tests/test_helpers.h
Labels: area:clr-profiler, area:tests

#381 add minimal web forms sample application
  Datadog.Trace.sln
  samples-aspnet/Samples.WebForms.Empty/App_Code/Profiler.cs
  samples-aspnet/Samples.WebForms.Empty/Default.aspx
  samples-aspnet/Samples.WebForms.Empty/Default.aspx.cs
  samples-aspnet/Samples.WebForms.Empty/Default.aspx.designer.cs
  samples-aspnet/Samples.WebForms.Empty/Elasticsearch.aspx
  samples-aspnet/Samples.WebForms.Empty/Elasticsearch.aspx.cs
  samples-aspnet/Samples.WebForms.Empty/Elasticsearch.aspx.designer.cs
  samples-aspnet/Samples.WebForms.Empty/Samples.WebForms.Empty.csproj
  samples-aspnet/Samples.WebForms.Empty/SqlServer.aspx
  samples-aspnet/Samples.WebForms.Empty/SqlServer.aspx.cs
  samples-aspnet/Samples.WebForms.Empty/SqlServer.aspx.designer.cs
  samples-aspnet/Samples.WebForms.Empty/Web.Release.config
  samples-aspnet/Samples.WebForms.Empty/Web.config
  samples-aspnet/Samples.WebForms.Empty/packages.config
Labels: area:samples

#385 fix C++ compiler warnings
  src/Datadog.Trace.ClrProfiler.Native/clr_helpers.cpp
  src/Datadog.Trace.ClrProfiler.Native/clr_helpers.h
Labels: area:clr-profiler

#379 improve logging in CLR profiler
  src/Datadog.Trace.ClrProfiler.Native/clr_helpers.cpp
  src/Datadog.Trace.ClrProfiler.Native/clr_helpers.h
  src/Datadog.Trace.ClrProfiler.Native/cor_profiler.cpp
  src/Datadog.Trace.ClrProfiler.Native/cor_profiler.h
  src/Datadog.Trace.ClrProfiler.Native/cor_profiler_base.cpp
  src/Datadog.Trace.ClrProfiler.Native/integration_loader.cpp
  test/Datadog.Trace.ClrProfiler.Native.Tests/clr_helper_test.cpp
Labels: area:clr-profiler

#388 Retarget C++ projects to use toolkit v142 (VS2019)
  .azure-pipelines/managed-unit-tests.yml
  .azure-pipelines/native-unit-tests.yml
  src/Datadog.Trace.ClrProfiler.Native/Datadog.Trace.ClrProfiler.Native.DLL.vcxproj
  src/Datadog.Trace.ClrProfiler.Native/Datadog.Trace.ClrProfiler.Native.vcxproj
  test/Datadog.Trace.ClrProfiler.Native.Tests/Datadog.Trace.ClrProfiler.Native.Tests.vcxproj
  test/Datadog.Trace.ClrProfiler.Native.Tests/packages.config
Labels: area:builds

#390 deployment packages yaml
  .azure-pipelines/managed-unit-tests.yml
  .azure-pipelines/native-unit-tests.yml
  .azure-pipelines/packages.yml
Labels: area:builds

#387 more consistent MSVC++ project settings
  src/Datadog.Trace.ClrProfiler.Native/Datadog.Trace.ClrProfiler.Native.DLL.vcxproj
  src/Datadog.Trace.ClrProfiler.Native/Datadog.Trace.ClrProfiler.Native.vcxproj
  src/Datadog.Trace.ClrProfiler.Native/clr_helpers.cpp
  src/Datadog.Trace.ClrProfiler.Native/pal.h
  test/Datadog.Trace.ClrProfiler.Native.Tests/Datadog.Trace.ClrProfiler.Native.Tests.vcxproj
  test/Datadog.Trace.ClrProfiler.Native.Tests/pch.h
  test/Datadog.Trace.ClrProfiler.Native.Tests/test_helpers.h
Labels: area:builds

#384 Introduce Integration Signature Type Array
  Datadog.Trace.sln.DotSettings
  integrations.json
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AdoNetIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AspNetCoreMvc2Integration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AspNetMvcIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AspNetWebApi2Integration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/ElasticsearchNet5Integration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/ElasticsearchNet6Integration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/HttpMessageHandlerIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/MongoDbIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/ServiceStackRedisIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/StackExchange.Redis/ConnectionMultiplexer.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/StackExchange.Redis/RedisBatch.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/Types/ClrNames.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/WcfIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/WebRequestIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/InterceptMethodAttribute.cs
  src/Datadog.Trace.ClrProfiler.Native/clr_helpers.cpp
  src/Datadog.Trace.ClrProfiler.Native/clr_helpers.h
  src/Datadog.Trace.ClrProfiler.Native/cor_profiler.cpp
  src/Datadog.Trace.ClrProfiler.Native/integration.h
  src/Datadog.Trace.ClrProfiler.Native/integration_loader.cpp
  src/Datadog.Trace.ClrProfiler.Native/integration_loader.h
  test/Datadog.Trace.ClrProfiler.Managed.Tests/IntegrationSignatureTests.cs
  test/Datadog.Trace.ClrProfiler.Managed.Tests/TypeNameTests.cs
  test/Datadog.Trace.ClrProfiler.Native.Tests/clr_helper_test.cpp
  test/Datadog.Trace.ClrProfiler.Native.Tests/clr_helper_type_check_test.cpp
  test/Datadog.Trace.ClrProfiler.Native.Tests/integration_loader_test.cpp
  test/Datadog.Trace.ClrProfiler.Native.Tests/metadata_builder_test.cpp
  test/Datadog.Trace.ClrProfiler.Native.Tests/test_helpers.h
  tools/GenerateIntegrationDefinitions/Program.cs
Labels: area:clr-profiler, area:integrations, area:tests

#389 Add AspNetCore version range testing
  PackageVersions.g.props
  PackageVersionsGeneratorDefinitions.json
  samples/Samples.AspNetCoreMvc2/Samples.AspNetCoreMvc2.csproj
  samples/Samples.AspNetCoreMvc2/Startup.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/AspNetCoreMvc2Tests.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersions.g.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/StackExchangeRedisTests.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/TestHelper.cs
  test/Datadog.Trace.TestHelpers/EnvironmentHelper.cs
  test/Datadog.Trace.TestHelpers/ProfilerHelper.cs
Labels: area:tests

#394 AdoNet type array
  integrations.json
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AdoNetIntegration.cs
  src/Datadog.Trace.ClrProfiler.Native/cor_profiler.cpp
Labels: area:integrations

#395 Elasticsearch type arrays
  Datadog.Trace.sln.DotSettings
  integrations.json
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/ElasticsearchNet5Integration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/ElasticsearchNet6Integration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/Types/ClrNames.cs
  test/Datadog.Trace.ClrProfiler.Managed.Tests/TypeNameTests.cs
Labels: area:integrations

#392 Change MaxVersion to MaxVersionInclusive in the NuGetPackageHelper tool
  PackageVersionsGeneratorDefinitions.json
  tools/GeneratePackageVersions/NuGetPackageHelper.cs
  tools/GeneratePackageVersions/PackageVersionEntry.cs
Labels: area:builds

#397 Redis type arrays
  integrations.json
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/ServiceStackRedisIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/StackExchange.Redis/ConnectionMultiplexer.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/StackExchange.Redis/RedisBatch.cs
Labels: area:integrations

#398 HttpMessageHandler and WebRequest Type Arrays
  integrations.json
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/HttpMessageHandlerIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/WebRequestIntegration.cs
Labels: area:integrations

#393 yaml pipeline updates
  .azure-pipelines/integration-tests.yml
  .azure-pipelines/managed-unit-tests.yml
  .azure-pipelines/native-unit-tests.yml
  .azure-pipelines/packages.yml
  tools/GenerateIntegrationDefinitions/GenerateIntegrationDefinitions.csproj
Labels: area:builds

#401 update build status badge with new integration tests pipeline
  docs/README.md
Labels: area:docs

#402 use new "pipeline" artifacts
  .azure-pipelines/managed-unit-tests.yml
  .azure-pipelines/packages.yml
Labels: area:builds

#403 merge managed and native unit tests into single pipeline
  .azure-pipelines/managed-unit-tests.yml
  .azure-pipelines/unit-tests.yml
Labels: area:builds

#400 Add new CorrelationIdentifer API
  src/Datadog.Trace/CorrelationIdentifier.cs
  test/Datadog.Trace.Tests/CorrelationIdentifierTests.cs
Labels: area:tracer, type:feature-request

#399 AspNet MVC Explicit Type Arrays
  integrations.json
  samples-aspnet/Samples.AspNetMvc5/Samples.AspNetMvc5.csproj
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AspNetMvcIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/Types/ClrNames.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/AspNetMvc4Tests.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/AspNetMvc5Tests.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/AspNetWebApi2Tests.cs
  test/Datadog.Trace.ClrProfiler.Managed.Tests/TypeNameTests.cs
  test/Datadog.Trace.TestHelpers/EnvironmentHelper.cs
Labels: area:integrations, area:tests

#406 core mvc and other misc type arrays
  integrations.json
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AspNetCoreMvc2Integration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AspNetWebApi2Integration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/HttpMessageHandlerIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/Types/ClrNames.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/WebRequestIntegration.cs
  test/Datadog.Trace.ClrProfiler.Managed.Tests/TypeNameTests.cs
  tools/GenerateIntegrationDefinitions/GenerateIntegrationDefinitions.csproj
Labels: area:integrations

#407 WCF Explicit Type Array
  Datadog.Trace.sln
  docker-compose.yml
  integrations.json
  samples/Samples.Wcf/CalculatorService.cs
  samples/Samples.Wcf/ICalculator.cs
  samples/Samples.Wcf/Program.cs
  samples/Samples.Wcf/Properties/launchSettings.json
  samples/Samples.Wcf/Samples.Wcf.csproj
  samples/Samples.Wcf/app1.manifest
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/WcfIntegration.cs
Labels: area:integrations

#409 allow disabling WCF integration
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/WcfIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Models/WcfRequestMessageSpanIntegrationDelegate.cs
Labels: area:integrations, type:bug

#405 LibLog auto-injection of correlation identifiers
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AspNetScopeManager.cs
  src/Datadog.Trace/AsyncLocalScopeManager.cs
  src/Datadog.Trace/Configuration/ConfigurationKeys.cs
  src/Datadog.Trace/Configuration/TracerSettings.cs
  src/Datadog.Trace/CorrelationIdentifier.cs
  src/Datadog.Trace/IScopeManager.cs
  src/Datadog.Trace/Logging/LibLogScopeEventSubscriber.cs
  src/Datadog.Trace/ScopeEventArgs.cs
  src/Datadog.Trace/Tracer.cs
  test/Datadog.Trace.Tests/Configuration/ConfigurationSourceTests.cs
  test/Datadog.Trace.Tests/Datadog.Trace.Tests.csproj
  test/Datadog.Trace.Tests/Logging/Log4NetLogProviderTests.cs
  test/Datadog.Trace.Tests/Logging/LoggingProviderTestHelpers.cs
  test/Datadog.Trace.Tests/Logging/NLogLogProviderTests.cs
  test/Datadog.Trace.Tests/Logging/SerilogLogProviderTests.cs
Labels: type:feature-request

#410 fix Instrumentation.ProfilerAttached on .NET Framework
  src/Datadog.Trace.ClrProfiler.Managed/Instrumentation.cs
  src/Datadog.Trace.ClrProfiler.Managed/NativeMethods.cs
Labels: type:regression

#411 bump profiler version to 1.4.0
  docker/package.sh
  integrations.json
  reproductions/AutomapperTest/Dockerfile
  src/Datadog.Trace.ClrProfiler.Managed/Datadog.Trace.ClrProfiler.Managed.csproj
  src/Datadog.Trace.ClrProfiler.Native/CMakeLists.txt
  src/Datadog.Trace.ClrProfiler.Native/Resource.rc
  src/Datadog.Trace.ClrProfiler.Native/version.h
  src/Datadog.Trace.OpenTracing/Datadog.Trace.OpenTracing.csproj
  src/Datadog.Trace/Datadog.Trace.csproj
Labels: area:builds

#415 use "release" configuration for packages
  .azure-pipelines/packages.yml
Labels: area:builds

#413 update readme file
  docs/README.md
Labels: area:docs

#412 remove obsolete LIBLOG_PORTABLE build constant
  src/Datadog.Trace.OpenTracing/Datadog.Trace.OpenTracing.csproj
  src/Datadog.Trace/Datadog.Trace.csproj
Labels: area:builds

#414 package pipeline fixes
  .azure-pipelines/packages.yml
  deploy/Datadog.Trace.ClrProfiler.WindowsInstaller/Datadog.Trace.ClrProfiler.WindowsInstaller.wixproj
Labels: area:builds

#416 Pass mdToken of original call to every integration
  integrations.json
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AdoNetIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AspNetCoreMvc2Integration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AspNetMvcIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AspNetWebApi2Integration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/ElasticsearchNet5Integration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/ElasticsearchNet6Integration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/HttpMessageHandlerIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/MongoDbIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/ServiceStackRedisIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/StackExchange.Redis/ConnectionMultiplexer.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/StackExchange.Redis/RedisBatch.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/WcfIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/WebRequestIntegration.cs
  src/Datadog.Trace.ClrProfiler.Native/cor_profiler.cpp
  test/Datadog.Trace.ClrProfiler.Managed.Tests/IntegrationSignatureTests.cs
Labels: area:clr-profiler, area:integrations

#419 misc AspNetCoreMvc2Integration fixes
  samples/Samples.AspNetCoreMvc2/Controllers/ApiController.cs
  src/Datadog.Trace.ClrProfiler.Managed/ExtensionMethods/SpanExtensions.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AspNetCoreMvc2Integration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AspNetMvcIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AspNetWebApi2Integration.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/AspNetCoreMvc2Tests.cs
Labels: area:integrations, type:bug

#420 include inner exception stack traces
  src/Datadog.Trace/Span.cs
Labels: area:tracer, type:enhancement

#421 fix profiler logging path in Windows
  src/Datadog.Trace.ClrProfiler.Native/cor_profiler.cpp
  src/Datadog.Trace.ClrProfiler.Native/pal.h
Labels: area:clr-profiler, os:windows, type:regression

#422 add profiler logging if method match fails
  src/Datadog.Trace.ClrProfiler.Native/cor_profiler.cpp
Labels: area:clr-profiler, type:enhancement

#424 fix null reference when injecting ids into logs
  Datadog.Trace.sln
  docker/build.sh
  reproductions/DataDogThreadTest/DataDogThreadTest.csproj
  reproductions/DataDogThreadTest/InMemoryLog4NetLogger.cs
  reproductions/DataDogThreadTest/Program.cs
  src/Datadog.Trace.ClrProfiler.Managed/Datadog.Trace.ClrProfiler.Managed.csproj.DotSettings
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AspNetScopeManager.cs
  src/Datadog.Trace/AsyncLocalScopeManager.cs
  src/Datadog.Trace/IScopeManager.cs
  src/Datadog.Trace/Logging/LibLogScopeEventSubscriber.cs
  src/Datadog.Trace/ScopeEventArgs.cs
  src/Datadog.Trace/SpanEventArgs.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/Datadog.Trace.ClrProfiler.IntegrationTests.csproj
  test/Datadog.Trace.ClrProfiler.IntegrationTests/SmokeTests/MultiThreadedSmokeTest.cs
  test/Datadog.Trace.TestHelpers/EnvironmentHelper.cs
Labels: area:samples, area:tracer, severity:breaks-application, type:bug, type:code-cleanup

#425 bump version to 1.4.1
  docker/package.sh
  integrations.json
  reproductions/AutomapperTest/Dockerfile
  src/Datadog.Trace.ClrProfiler.Managed/Datadog.Trace.ClrProfiler.Managed.csproj
  src/Datadog.Trace.ClrProfiler.Native/CMakeLists.txt
  src/Datadog.Trace.ClrProfiler.Native/Resource.rc
  src/Datadog.Trace.ClrProfiler.Native/version.h
  src/Datadog.Trace.OpenTracing/Datadog.Trace.OpenTracing.csproj
  src/Datadog.Trace/Datadog.Trace.csproj
Labels: area:builds
