Repository DataDog/dd-trace-dotnet, pull requests merged in 2019-12, with the labels that each got.

#573 Prevent AssemblyResolve Event from causing infinite recursion on mscorlib resource lookup
  Datadog.Trace.sln
  docker/build.sh
  reproductions/AssemblyResolveMscorlibResources.InfiniteRecursionCrash/AssemblyResolveMscorlibResources.InfiniteRecursionCrash.csproj
  reproductions/AssemblyResolveMscorlibResources.InfiniteRecursionCrash/Program.cs
  reproductions/AssemblyResolveMscorlibResources.InfiniteRecursionCrash/Properties/launchSettings.json
  src/Datadog.Trace.ClrProfiler.Managed.Loader/Startup.NetCore.cs
  src/Datadog.Trace.ClrProfiler.Managed.Loader/Startup.NetFramework.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/SmokeTests/AssemblyResolveMscorlibResourcesInfiniteRecursionCrashSmokeTest.cs
Labels: area:clr-profiler, severity:breaks-application

#560 Rework variance to make limiter tests less flaky
  test/Datadog.Trace.Tests/Sampling/RateLimiterTests.cs
Labels: area:tests

#576 Redis integration benchmarking
  Datadog.Trace.sln
  performance/Directory.Build.props
  performance/Performance.StackExchange.Redis/DatadogBenchmarkConfig.cs
  performance/Performance.StackExchange.Redis/Performance.StackExchange.Redis.csproj
  performance/Performance.StackExchange.Redis/Program.cs
  performance/Performance.StackExchange.Redis/Properties/launchSettings.json
  performance/Performance.StackExchange.Redis/StackExchangeRedisBenchmarks.cs
  performance/benchmarks/Performance.StackExchange.Redis/Performance.StackExchange.Redis_2019-04-16_10-16-51_1.10.0_Release_NonProfiled/results/Performance.StackExchange.Redis.StackExchangeRedisBenchmarks-report-default.md
  performance/benchmarks/Performance.StackExchange.Redis/Performance.StackExchange.Redis_2019-04-16_10-16-51_1.10.0_Release_NonProfiled/results/Performance.StackExchange.Redis.StackExchangeRedisBenchmarks-report-github.md
  performance/benchmarks/Performance.StackExchange.Redis/Performance.StackExchange.Redis_2019-04-16_10-16-51_1.10.0_Release_NonProfiled/results/Performance.StackExchange.Redis.StackExchangeRedisBenchmarks-report.asciidoc
  performance/benchmarks/Performance.StackExchange.Redis/Performance.StackExchange.Redis_2019-04-16_10-16-51_1.10.0_Release_NonProfiled/results/Performance.StackExchange.Redis.StackExchangeRedisBenchmarks-report.csv
  performance/benchmarks/Performance.StackExchange.Redis/Performance.StackExchange.Redis_2019-04-16_10-16-51_1.10.0_Release_NonProfiled/results/Performance.StackExchange.Redis.StackExchangeRedisBenchmarks-report.html
  performance/benchmarks/Performance.StackExchange.Redis/Performance.StackExchange.Redis_2019-04-23_10-23-24_1.10.0_Release_Profiled/results/Performance.StackExchange.Redis.StackExchangeRedisBenchmarks-report-default.md
  performance/benchmarks/Performance.StackExchange.Redis/Performance.StackExchange.Redis_2019-04-23_10-23-24_1.10.0_Release_Profiled/results/Performance.StackExchange.Redis.StackExchangeRedisBenchmarks-report-github.md
  performance/benchmarks/Performance.StackExchange.Redis/Performance.StackExchange.Redis_2019-04-23_10-23-24_1.10.0_Release_Profiled/results/Performance.StackExchange.Redis.StackExchangeRedisBenchmarks-report.asciidoc
  performance/benchmarks/Performance.StackExchange.Redis/Performance.StackExchange.Redis_2019-04-23_10-23-24_1.10.0_Release_Profiled/results/Performance.StackExchange.Redis.StackExchangeRedisBenchmarks-report.csv
  performance/benchmarks/Performance.StackExchange.Redis/Performance.StackExchange.Redis_2019-04-23_10-23-24_1.10.0_Release_Profiled/results/Performance.StackExchange.Redis.StackExchangeRedisBenchmarks-report.html
  test/Datadog.Trace.ClrProfiler.IntegrationTests/Helpers/TestHelper.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/SmokeTests/StackExchangeRedisStackOverflowExceptionSmokeTest.cs
  test/Datadog.Trace.IntegrationTests/ContainerTaggingTests.cs
  test/Datadog.Trace.TestHelpers/EnvironmentHelper.cs
  tools/Datadog.Core.Tools/ConcurrencyHelper.cs
  tools/Datadog.Core.Tools/Datadog.Core.Tools.csproj
  tools/Datadog.Core.Tools/EnvironmentTools.cs
Labels: type:performance

#582 Update version to v1.10.1-prerelease
  deploy/Datadog.Trace.ClrProfiler.WindowsInstaller/Datadog.Trace.ClrProfiler.WindowsInstaller.wixproj
  docker/package.sh
  integrations.json
  reproductions/AutomapperTest/Dockerfile
  src/Datadog.Trace.ClrProfiler.Managed.Loader/Datadog.Trace.ClrProfiler.Managed.Loader.csproj
  src/Datadog.Trace.ClrProfiler.Managed.Loader/Startup.cs
  src/Datadog.Trace.ClrProfiler.Managed/Datadog.Trace.ClrProfiler.Managed.csproj
  src/Datadog.Trace.ClrProfiler.Native/CMakeLists.txt
  src/Datadog.Trace.ClrProfiler.Native/Resource.rc
  src/Datadog.Trace.ClrProfiler.Native/version.h
  src/Datadog.Trace.OpenTracing/Datadog.Trace.OpenTracing.csproj
  src/Datadog.Trace/Datadog.Trace.csproj
  tools/Datadog.Core.Tools/TracerVersion.cs
Labels: area:builds

#518 Move HttpModule into separate assembly and NuGet package
  .azure-pipelines/packages.yml
  Datadog.Trace.sln
  docs/README.md
  reproduction-dependencies/ApplicationWithLog4Net/ApplicationWithLog4Net.csproj
  reproduction-dependencies/ApplicationWithLog4Net/Program.cs
  src/Datadog.Trace.AspNet/AspNetScopeManager.cs
  src/Datadog.Trace.AspNet/Datadog.Trace.AspNet.csproj
  src/Datadog.Trace.AspNet/HttpApplicationStartup.cs
  src/Datadog.Trace.AspNet/TracingHttpModule.cs
  src/Datadog.Trace.ClrProfiler.Managed/AssemblyInfo.cs
  src/Datadog.Trace.ClrProfiler.Managed/Datadog.Trace.ClrProfiler.Managed.csproj
  src/Datadog.Trace.ClrProfiler.Managed/ExtensionMethods/SpanExtensions.cs
  src/Datadog.Trace.ClrProfiler.Managed/ExtensionMethods/SpanIntegrationDelegateExtensions.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AspNet/AspNetAmbientContext.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AspNet/AspNetCoreMvc2Integration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AspNet/AspNetCoreMvc3Integration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AspNet/AspNetMvcIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AspNet/AspNetStartup.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AspNet/AspNetWebApi2Integration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/WcfIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Interfaces/IHttpSpanTagsSource.cs
  src/Datadog.Trace.ClrProfiler.Managed/Interfaces/ISpanDecorationService.cs
  src/Datadog.Trace.ClrProfiler.Managed/Interfaces/ISpanDecorationSource.cs
  src/Datadog.Trace.ClrProfiler.Managed/Interfaces/ISpanIntegrationDelegate.cs
  src/Datadog.Trace.ClrProfiler.Managed/Models/BaseSpanDecorationSource.cs
  src/Datadog.Trace.ClrProfiler.Managed/Models/HttpContextSpanIntegrationDelegate.cs
  src/Datadog.Trace.ClrProfiler.Managed/ScopeFactory.cs
  src/Datadog.Trace.ClrProfiler.Managed/Services/CompositeSpanDecorationService.cs
  src/Datadog.Trace.ClrProfiler.Managed/Services/DependencyFactory.cs
  src/Datadog.Trace.ClrProfiler.Managed/Services/HttpSpanTagsProducer.cs
  src/Datadog.Trace.ClrProfiler.Managed/Services/ResourceNameDecorationService.cs
  src/Datadog.Trace.ClrProfiler.Managed/Services/TagsSpanDecorationService.cs
  src/Datadog.Trace.ClrProfiler.Managed/Services/TypeSpanDecorationService.cs
  src/Datadog.Trace/AssemblyInfo.cs
  src/Datadog.Trace/Datadog.Trace.csproj
  src/Datadog.Trace/ExtensionMethods/SpanExtensions.cs
  src/Datadog.Trace/Util/UriHelpers.cs
  src/Directory.Build.props
  test/Datadog.Trace.ClrProfiler.Managed.Tests/ScopeFactoryTests.cs
  test/Datadog.Trace.ClrProfiler.Managed.Tests/SpanDecorationTests.cs
  tools/SynchronizeVersions/Program.cs
Labels: area:builds, area:integrations, type:enhancement

#585 Enable custom sampling rule variable
  deploy/Datadog.Trace.ClrProfiler.WindowsInstaller/Datadog.Trace.ClrProfiler.WindowsInstaller.wixproj
  deploy/Datadog.Trace.ClrProfiler.WindowsInstaller/Files.Managed.Net45.GAC.wxs
  deploy/Datadog.Trace.ClrProfiler.WindowsInstaller/Files.Managed.Net45.wxs
  deploy/Datadog.Trace.ClrProfiler.WindowsInstaller/Files.Managed.Net461.wxs
  docker/package.sh
  integrations.json
  performance/Performance.StackExchange.Redis/Program.cs
  performance/Performance.StackExchange.Redis/Properties/launchSettings.json
  performance/Performance.StackExchange.Redis/StackExchangeRedisBenchmarks.cs
  reproductions/AutomapperTest/Dockerfile
  src/Datadog.Trace.AspNet/Datadog.Trace.AspNet.csproj
  src/Datadog.Trace.ClrProfiler.Managed.Loader/Datadog.Trace.ClrProfiler.Managed.Loader.csproj
  src/Datadog.Trace.ClrProfiler.Managed.Loader/Startup.cs
  src/Datadog.Trace.ClrProfiler.Managed/Datadog.Trace.ClrProfiler.Managed.csproj
  src/Datadog.Trace.ClrProfiler.Native/CMakeLists.txt
  src/Datadog.Trace.ClrProfiler.Native/Resource.rc
  src/Datadog.Trace.ClrProfiler.Native/version.h
  src/Datadog.Trace.OpenTracing/Datadog.Trace.OpenTracing.csproj
  src/Datadog.Trace/Configuration/TracerSettings.cs
  src/Datadog.Trace/Datadog.Trace.csproj
  tools/Datadog.Core.Tools/TracerVersion.cs
Labels: area:builds, area:integrations, area:tracer, type:bug

#586 update README file
  Datadog.Trace.sln
  docs/README.md
Labels: area:docs

#588 fix building OpenTracing NuGet package
  .azure-pipelines/packages.yml
Labels: area:builds

#587 Remove benchmark output from repo
  performance/benchmarks/Performance.StackExchange.Redis/Performance.StackExchange.Redis_2019-04-16_10-16-51_1.10.0_Release_NonProfiled/results/Performance.StackExchange.Redis.StackExchangeRedisBenchmarks-report-default.md
  performance/benchmarks/Performance.StackExchange.Redis/Performance.StackExchange.Redis_2019-04-16_10-16-51_1.10.0_Release_NonProfiled/results/Performance.StackExchange.Redis.StackExchangeRedisBenchmarks-report-github.md
  performance/benchmarks/Performance.StackExchange.Redis/Performance.StackExchange.Redis_2019-04-16_10-16-51_1.10.0_Release_NonProfiled/results/Performance.StackExchange.Redis.StackExchangeRedisBenchmarks-report.asciidoc
  performance/benchmarks/Performance.StackExchange.Redis/Performance.StackExchange.Redis_2019-04-16_10-16-51_1.10.0_Release_NonProfiled/results/Performance.StackExchange.Redis.StackExchangeRedisBenchmarks-report.csv
  performance/benchmarks/Performance.StackExchange.Redis/Performance.StackExchange.Redis_2019-04-16_10-16-51_1.10.0_Release_NonProfiled/results/Performance.StackExchange.Redis.StackExchangeRedisBenchmarks-report.html
  performance/benchmarks/Performance.StackExchange.Redis/Performance.StackExchange.Redis_2019-04-23_10-23-24_1.10.0_Release_Profiled/results/Performance.StackExchange.Redis.StackExchangeRedisBenchmarks-report-default.md
  performance/benchmarks/Performance.StackExchange.Redis/Performance.StackExchange.Redis_2019-04-23_10-23-24_1.10.0_Release_Profiled/results/Performance.StackExchange.Redis.StackExchangeRedisBenchmarks-report-github.md
  performance/benchmarks/Performance.StackExchange.Redis/Performance.StackExchange.Redis_2019-04-23_10-23-24_1.10.0_Release_Profiled/results/Performance.StackExchange.Redis.StackExchangeRedisBenchmarks-report.asciidoc
  performance/benchmarks/Performance.StackExchange.Redis/Performance.StackExchange.Redis_2019-04-23_10-23-24_1.10.0_Release_Profiled/results/Performance.StackExchange.Redis.StackExchangeRedisBenchmarks-report.csv
  performance/benchmarks/Performance.StackExchange.Redis/Performance.StackExchange.Redis_2019-04-23_10-23-24_1.10.0_Release_Profiled/results/Performance.StackExchange.Redis.StackExchangeRedisBenchmarks-report.html
Labels: type:cleanup

#584 AspNet HttpModule: Fix bug when adding to web.config
  samples-aspnet/Samples.WebForms/DDCustomLoggingModule.cs
  samples-aspnet/Samples.WebForms/Samples.WebForms.csproj
  samples-aspnet/Samples.WebForms/Web.config
  src/Datadog.Trace.AspNet/TracingHttpModule.cs
Labels: area:integrations, type:bug

#589 Lock Datadog.Trace.AspNet AssemblyVersion to Major.0.0.0
  src/Datadog.Trace.AspNet/AssemblyInfo.cs
  src/Datadog.Trace.AspNet/Datadog.Trace.AspNet.csproj
  tools/SynchronizeVersions/Program.cs
Labels: area:builds

#590 Update version to v1.10.3-prerelease
  deploy/Datadog.Trace.ClrProfiler.WindowsInstaller/Datadog.Trace.ClrProfiler.WindowsInstaller.wixproj
  docker/package.sh
  integrations.json
  reproductions/AutomapperTest/Dockerfile
  src/Datadog.Trace.AspNet/Datadog.Trace.AspNet.csproj
  src/Datadog.Trace.ClrProfiler.Managed.Loader/Datadog.Trace.ClrProfiler.Managed.Loader.csproj
  src/Datadog.Trace.ClrProfiler.Managed.Loader/Startup.cs
  src/Datadog.Trace.ClrProfiler.Managed/Datadog.Trace.ClrProfiler.Managed.csproj
  src/Datadog.Trace.ClrProfiler.Native/CMakeLists.txt
  src/Datadog.Trace.ClrProfiler.Native/Resource.rc
  src/Datadog.Trace.ClrProfiler.Native/version.h
  src/Datadog.Trace.OpenTracing/Datadog.Trace.OpenTracing.csproj
  src/Datadog.Trace/Datadog.Trace.csproj
  tools/Datadog.Core.Tools/TracerVersion.cs
Labels: area:builds

#591 Update version to v1.11.0
  deploy/Datadog.Trace.ClrProfiler.WindowsInstaller/Datadog.Trace.ClrProfiler.WindowsInstaller.wixproj
  docker/package.sh
  integrations.json
  reproductions/AutomapperTest/Dockerfile
  src/Datadog.Trace.AspNet/Datadog.Trace.AspNet.csproj
  src/Datadog.Trace.ClrProfiler.Managed.Loader/Datadog.Trace.ClrProfiler.Managed.Loader.csproj
  src/Datadog.Trace.ClrProfiler.Managed.Loader/Startup.cs
  src/Datadog.Trace.ClrProfiler.Managed/Datadog.Trace.ClrProfiler.Managed.csproj
  src/Datadog.Trace.ClrProfiler.Native/CMakeLists.txt
  src/Datadog.Trace.ClrProfiler.Native/Resource.rc
  src/Datadog.Trace.ClrProfiler.Native/version.h
  src/Datadog.Trace.OpenTracing/Datadog.Trace.OpenTracing.csproj
  src/Datadog.Trace/Datadog.Trace.csproj
  tools/Datadog.Core.Tools/TracerVersion.cs
Labels: area:builds

#598 Sampling Rule and Rate Limiter Standardization
  Datadog.Trace.sln
  samples/Samples.RateLimiter/Program.cs
  samples/Samples.RateLimiter/Properties/launchSettings.json
  samples/Samples.RateLimiter/Samples.RateLimiter.csproj
  samples/Samples.TracingWithoutLimits/Program.cs
  samples/Samples.TracingWithoutLimits/Properties/launchSettings.json
  samples/Samples.TracingWithoutLimits/Samples.TracingWithoutLimits.csproj
  src/Datadog.Trace/Configuration/ConfigurationKeys.cs
  src/Datadog.Trace/Configuration/TracerSettings.cs
  src/Datadog.Trace/Sampling/CustomSamplingRule.cs
  src/Datadog.Trace/Sampling/DefaultSamplingRule.cs
  src/Datadog.Trace/Sampling/IRateLimiter.cs
  src/Datadog.Trace/Sampling/ISamplingRule.cs
  src/Datadog.Trace/Sampling/RateLimiter.cs
  src/Datadog.Trace/Sampling/RegexSamplingRule.cs
  src/Datadog.Trace/Sampling/RuleBasedSampler.cs
  src/Datadog.Trace/Tracer.cs
  test/Datadog.Trace.Tests/Sampling/CustomSamplingRuleTests.cs
  test/Datadog.Trace.Tests/Sampling/RateLimiterTests.cs
  test/Datadog.Trace.Tests/Sampling/RegexSamplingRuleTests.cs
  test/Datadog.Trace.Tests/Sampling/RuleBasedSamplerTests.cs
Labels: type:refactor
