Repository DataDog/dd-trace-dotnet, pull requests merged in 2019-03, with the labels that each got.

#267 HttpClient/WebClient integrations
  Datadog.Trace.sln
  Datadog.Trace.sln.DotSettings
  docker/build.sh
  integrations.json
  samples-aspnet/Samples.AspNetMvc5/App_Start/WebApiConfig.cs
  samples/Samples.HttpMessageHandler/Program.cs
  samples/Samples.HttpMessageHandler/Properties/launchSettings.json
  samples/Samples.HttpMessageHandler/Samples.HttpMessageHandler.csproj
  src/Datadog.Trace.ClrProfiler.Managed/IntegrationType.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AdoNetIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/HttpMessageHandlerIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/MongoDbIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/WebRequestIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/ScopeFactory.cs
  src/Datadog.Trace.OpenTracing/HttpHeadersCodec.cs
  src/Datadog.Trace/Agent/Api.cs
  src/Datadog.Trace/AgentHttpHeaderNames.cs
  src/Datadog.Trace/AssemblyInfo.cs
  src/Datadog.Trace/Datadog.Trace.csproj
  src/Datadog.Trace/ExtensionMethods/HttpHeadersExtensions.cs
  src/Datadog.Trace/ExtensionMethods/NameValueCollectionExtensions.cs
  src/Datadog.Trace/ExtensionMethods/StringExtensions.cs
  src/Datadog.Trace/HttpHeaderNames.cs
  src/Datadog.Trace/HttpHeadersWrapper.cs
  src/Datadog.Trace/IHeaderCollection.cs
  src/Datadog.Trace/Logging/LogExtensions.cs
  src/Datadog.Trace/Propagators/HeaderCollectionPropagator.cs
  src/Datadog.Trace/Propagators/HttpHeadersPropagator.cs
  src/Datadog.Trace/Span.cs
  src/Datadog.Trace/SpanKinds.cs
  src/Datadog.Trace/SpanTypes.cs
  src/Datadog.Trace/Tags.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/HttpClientTests.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/IisFixture.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/SqlServerTests.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/TestHelper.cs
  test/Datadog.Trace.OpenTracing.Tests/OpenTracingTracerTests.cs
  test/Datadog.Trace.TestHelpers/Datadog.Trace.TestHelpers.csproj
  test/Datadog.Trace.TestHelpers/MockTracerAgent.cs
  test/Datadog.Trace.TestHelpers/TcpPortProvider.cs
  test/Datadog.Trace.Tests/ExtensionMethods/StringExtensionsTests.cs
  test/Datadog.Trace.Tests/HeaderCollectionPropagatorTests.cs
  test/Datadog.Trace.Tests/HttpHeadersPropagatorTests.cs
  test/Datadog.Trace.Tests/HttpHeadersWrapperTests.cs
  tools/GenerateIntegrationDefinitions/Program.cs
Labels: integrations

#275 skip modules that failed to load
  src/Datadog.Trace.ClrProfiler.Native/cor_profiler.cpp
Labels: area:clr-profiler, bug

#276 Distributed tracing: ASP.NET MVC & Web API
  Datadog.Trace.sln
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AspNetMvcIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AspNetWebApi2Integration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/HttpMessageHandlerIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/WebRequestIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/ScopeFactory.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/AspNetMvc5Tests.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/AspNetWebApi2Tests.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/TestHelper.cs
Labels: area:integrations, feature-request

#277 Propagate sampling priority headers
  Datadog.Trace.sln.DotSettings
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AspNetMvcIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AspNetWebApi2Integration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/HttpMessageHandlerIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/WebRequestIntegration.cs
  src/Datadog.Trace.OpenTracing/HttpHeadersCodec.cs
  src/Datadog.Trace/ExtensionMethods/HeadersCollectionExtensions.cs
  src/Datadog.Trace/ExtensionMethods/HttpHeadersExtensions.cs
  src/Datadog.Trace/ExtensionMethods/NameValueCollectionExtensions.cs
  src/Datadog.Trace/Headers/HttpHeadersCollection.cs
  src/Datadog.Trace/Headers/IHeadersCollection.cs
  src/Datadog.Trace/Headers/NameValueHeadersCollection.cs
  src/Datadog.Trace/SamplingPriority.cs
  src/Datadog.Trace/SpanContext.cs
  test/Datadog.Trace.OpenTracing.Tests/HttpHeaderCodecTests.cs
  test/Datadog.Trace.Tests/HeadersCollectionTests.cs
  test/Datadog.Trace.Tests/HttpHeadersPropagatorTests.cs
  test/Datadog.Trace.Tests/TracerTests.cs
Labels: area:core, area:integrations, feature-request

#263 WebForms integration
  Datadog.Trace.Managed.sln
  Datadog.Trace.Managed.sln.DotSettings
  Datadog.Trace.Native.sln
  Datadog.Trace.sln
  devenv.Datadog.Trace.Managed.sln.bat
  devenv.bat
  integrations.json
  samples-aspnet/Samples.AspNetMvc4/Web.config
  samples/Samples.WebForms/Account/Login.aspx
  samples/Samples.WebForms/Account/Login.aspx.cs
  samples/Samples.WebForms/Account/Login.aspx.designer.cs
  samples/Samples.WebForms/App_Start/RouteConfig.cs
  samples/Samples.WebForms/Default.aspx
  samples/Samples.WebForms/Default.aspx.cs
  samples/Samples.WebForms/Global.asax
  samples/Samples.WebForms/Global.asax.cs
  samples/Samples.WebForms/Properties/AssemblyInfo.cs
  samples/Samples.WebForms/Samples.WebForms.csproj
  samples/Samples.WebForms/Site.Master
  samples/Samples.WebForms/Site.Master.cs
  samples/Samples.WebForms/Startup.cs
  samples/Samples.WebForms/Web.Debug.config
  samples/Samples.WebForms/Web.Release.config
  samples/Samples.WebForms/Web.config
  samples/Samples.WebForms/logs/summary.txt
  samples/Samples.WebForms/packages.config
  src/Datadog.Trace.ClrProfiler.Managed/AssemblyInfo.cs
  src/Datadog.Trace.ClrProfiler.Managed/Datadog.Trace.ClrProfiler.Managed.csproj
  src/Datadog.Trace.ClrProfiler.Managed/DynamicMethodBuilder.cs
  src/Datadog.Trace.ClrProfiler.Managed/ExtensionMethods/SpanExtensions.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AspNetCoreMvc2Integration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AspNetHttpModule.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AspNetIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Interfaces/IHttpSpanTagsSource.cs
  src/Datadog.Trace.ClrProfiler.Managed/Interfaces/ISpanDecorationService.cs
  src/Datadog.Trace.ClrProfiler.Managed/Interfaces/ISpanDecorationSource.cs
  src/Datadog.Trace.ClrProfiler.Managed/Interfaces/ISpanIntegrationDelegate.cs
  src/Datadog.Trace.ClrProfiler.Managed/Models/BaseSpanDecorationSource.cs
  src/Datadog.Trace.ClrProfiler.Managed/Models/HttpContextSpanIntegrationDelegate.cs
  src/Datadog.Trace.ClrProfiler.Managed/Services/CompositeSpanDecorationService.cs
  src/Datadog.Trace.ClrProfiler.Managed/Services/DependencyFactory.cs
  src/Datadog.Trace.ClrProfiler.Managed/Services/HttpSpanTagsProducer.cs
  src/Datadog.Trace.ClrProfiler.Managed/Services/ResourceNameDecorationService.cs
  src/Datadog.Trace.ClrProfiler.Managed/Services/TagsSpanDecorationService.cs
  src/Datadog.Trace.ClrProfiler.Managed/Services/TypeSpanDecorationService.cs
  src/Datadog.Trace.ClrProfiler.Native/clr_helpers.cpp
  src/Datadog.Trace.ClrProfiler.Native/integration.h
  src/Datadog.Trace/AssemblyInfo.cs
  src/Datadog.Trace/Datadog.Trace.csproj
  src/Datadog.Trace/ExtensionMethods/DictionaryExtensions.cs
  src/Datadog.Trace/Interfaces/IScope.cs
  src/Datadog.Trace/Interfaces/ISpan.cs
  src/Datadog.Trace/Scope.cs
  src/Datadog.Trace/Span.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/AspNetWebFormsTests.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/TestHelper.cs
  test/Datadog.Trace.ClrProfiler.Managed.Tests/SpanDecorationTests.cs
  test/Datadog.Trace.TestHelpers/TestSpan.cs
Labels: area:integrations

#278 version bump to 0.8.0
  .github/ISSUE_TEMPLATE/bug_report.md
  docker/package.sh
  integrations.json
  scripts/generate-service-stack-redis-integrations.py
  src/Datadog.Trace.ClrProfiler.Managed/Datadog.Trace.ClrProfiler.Managed.csproj
  src/Datadog.Trace.OpenTracing/Datadog.Trace.OpenTracing.csproj
  src/Datadog.Trace/Datadog.Trace.csproj
  src/Directory.Build.props
Labels: area:build-tools

#281 don't inject AspNetHttpModule automatically
  integrations.json
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AspNetIntegration.cs
Labels: area:integrations

#290 AspNetStartup integration
  src/Datadog.Trace.ClrProfiler.Managed/AssemblyInfo.cs
  src/Datadog.Trace.ClrProfiler.Managed/Datadog.Trace.ClrProfiler.Managed.csproj
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AspNetStartup.cs
Labels: area:integrations

#289 Tracer configuration system (managed code)
  src/Datadog.Trace.OpenTracing/OpenTracingTracer.cs
  src/Datadog.Trace.OpenTracing/OpenTracingTracerFactory.cs
  src/Datadog.Trace/AsyncLocalScopeManager.cs
  src/Datadog.Trace/Configuration/CompositeConfigurationSource.cs
  src/Datadog.Trace/Configuration/ConfigurationKeys.cs
  src/Datadog.Trace/Configuration/EnvironmentConfigurationSource.cs
  src/Datadog.Trace/Configuration/IConfigurationSource.cs
  src/Datadog.Trace/Configuration/JsonConfigurationSource.cs
  src/Datadog.Trace/Configuration/NameValueConfigurationSource.cs
  src/Datadog.Trace/Configuration/StringConfigurationSource.cs
  src/Datadog.Trace/Configuration/TracerSettings.cs
  src/Datadog.Trace/Datadog.Trace.csproj
  src/Datadog.Trace/IDatadogTracer.cs
  src/Datadog.Trace/IScopeManager.cs
  src/Datadog.Trace/Sampling/SimpleSampler.cs
  src/Datadog.Trace/Tracer.cs
  test/Datadog.Trace.IntegrationTests/SendTracesToAgent.cs
  test/Datadog.Trace.OpenTracing.IntegrationTests/OpenTracingSendTracesToAgent.cs
  test/Datadog.Trace.OpenTracing.Tests/OpenTracingSpanBuilderTests.cs
  test/Datadog.Trace.OpenTracing.Tests/OpenTracingSpanTests.cs
  test/Datadog.Trace.OpenTracing.Tests/OpenTracingTracerTests.cs
  test/Datadog.Trace.Tests/ApiTests.cs
  test/Datadog.Trace.Tests/SpanTests.cs
  test/Datadog.Trace.Tests/TracerTests.cs
Labels: area:core, enhancement

#287 add distributed tracing support to tracing HttpModule
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AspNetHttpModule.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AspNetMvcIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AspNetWebApi2Integration.cs
  src/Datadog.Trace/TraceContext.cs
Labels: area:integrations

#292 version bump to 0.8.1
  .github/ISSUE_TEMPLATE/bug_report.md
  docker/package.sh
  integrations.json
  src/Datadog.Trace.ClrProfiler.Managed/Datadog.Trace.ClrProfiler.Managed.csproj
  src/Datadog.Trace.OpenTracing/Datadog.Trace.OpenTracing.csproj
  src/Datadog.Trace/Datadog.Trace.csproj
  src/Directory.Build.props
Labels: area:build-tools

#291 create new MsgPackContent for every retry
  src/Datadog.Trace/Agent/Api.cs
Labels: area:core, bug

#285 Mock tracer: try different ports before failing
  test/Datadog.Trace.TestHelpers/MockTracerAgent.cs
  test/Datadog.Trace.TestHelpers/TcpPortProvider.cs
Labels: area:tests

#283 skip some ADO.NET providers
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AdoNetIntegration.cs
Labels: area:integrations, enhancement

#282 include profiler version in log file
  src/Datadog.Trace.ClrProfiler.Native/Datadog.Trace.ClrProfiler.Native.DLL.vcxproj
  src/Datadog.Trace.ClrProfiler.Native/Datadog.Trace.ClrProfiler.Native.vcxproj
  src/Datadog.Trace.ClrProfiler.Native/Resource.rc
  src/Datadog.Trace.ClrProfiler.Native/class_factory.cpp
  src/Datadog.Trace.ClrProfiler.Native/resource.h
  src/Datadog.Trace.ClrProfiler.Native/version.h
Labels: area:clr-profiler

#294 Fix span durations on Linux
  src/Datadog.Trace/TraceContext.cs
  test/Datadog.Trace.Tests/SpanTests.cs
Labels: area:core, bug

#295 version bump 0.8.2
  .github/ISSUE_TEMPLATE/bug_report.md
  docker/package.sh
  integrations.json
  src/Datadog.Trace.ClrProfiler.Managed/Datadog.Trace.ClrProfiler.Managed.csproj
  src/Datadog.Trace.ClrProfiler.Native/Resource.rc
  src/Datadog.Trace.ClrProfiler.Native/version.h
  src/Datadog.Trace.OpenTracing/Datadog.Trace.OpenTracing.csproj
  src/Datadog.Trace/Datadog.Trace.csproj
Labels: area:build-tools

#296 add missing miniutf to 3rd party license file
  LICENSE-3rdparty.csv
Labels: area:docs

#280 move WebForms sample
  Datadog.Trace.sln
  samples-aspnet/Samples.WebForms/Account/Login.aspx
  samples-aspnet/Samples.WebForms/Account/Login.aspx.cs
  samples-aspnet/Samples.WebForms/Account/Login.aspx.designer.cs
  samples-aspnet/Samples.WebForms/App_Start/RouteConfig.cs
  samples-aspnet/Samples.WebForms/Default.aspx
  samples-aspnet/Samples.WebForms/Default.aspx.cs
  samples-aspnet/Samples.WebForms/Global.asax
  samples-aspnet/Samples.WebForms/Global.asax.cs
  samples-aspnet/Samples.WebForms/Properties/AssemblyInfo.cs
  samples-aspnet/Samples.WebForms/Samples.WebForms.csproj
  samples-aspnet/Samples.WebForms/Site.Master
  samples-aspnet/Samples.WebForms/Site.Master.cs
  samples-aspnet/Samples.WebForms/Startup.cs
  samples-aspnet/Samples.WebForms/Web.Debug.config
  samples-aspnet/Samples.WebForms/Web.Release.config
  samples-aspnet/Samples.WebForms/Web.config
  samples-aspnet/Samples.WebForms/logs/summary.txt
  samples-aspnet/Samples.WebForms/packages.config
  test/Datadog.Trace.ClrProfiler.IntegrationTests/AspNetWebFormsTests.cs
Labels: area:samples

#297 Tracer configuration clean-up
  src/Datadog.Trace/Configuration/CompositeConfigurationSource.cs
  src/Datadog.Trace/Configuration/ConfigurationKeys.cs
  src/Datadog.Trace/Configuration/IConfigurationSource.cs
  src/Datadog.Trace/Configuration/JsonConfigurationSource.cs
  src/Datadog.Trace/Configuration/StringConfigurationSource.cs
  src/Datadog.Trace/Configuration/TracerSettings.cs
  src/Datadog.Trace/Tracer.cs
Labels: area:core
