Repository DataDog/dd-trace-dotnet, pull requests merged in 2019-02, with the labels that each got.

#262 Clean up sample projects
  .github/ISSUE_TEMPLATE/bug_report.md
  Datadog.Trace.sln
  devenv.bat
  docker-compose.yml
  docker/build.sh
  samples/Samples.AspNetCoreMvc2/Properties/launchSettings.json
  samples/Samples.AspNetCoreMvc2/Samples.AspNetCoreMvc2.csproj
  samples/Samples.ConsoleCore/Program.cs
  samples/Samples.ConsoleCore/Samples.ConsoleCore.csproj
  samples/Samples.ConsoleFramework/App.config
  samples/Samples.ConsoleFramework/Program.cs
  samples/Samples.ConsoleFramework/Properties/AssemblyInfo.cs
  samples/Samples.ConsoleFramework/Samples.ConsoleFramework.csproj
  samples/Samples.Elasticsearch/Samples.Elasticsearch.csproj
  samples/Samples.MongoDB/Samples.MongoDB.csproj
  samples/Samples.Npgsql/Properties/launchSettings.json
  samples/Samples.Npgsql/Samples.Npgsql.csproj
  samples/Samples.RedisCore/Properties/launchSettings.json
  samples/Samples.RedisCore/Samples.RedisCore.csproj
  samples/Samples.SqlServer/Samples.SqlServer.csproj
  src/Datadog.Trace.ClrProfiler.Managed/Datadog.Trace.ClrProfiler.Managed.csproj
  src/Datadog.Trace.OpenTracing/Datadog.Trace.OpenTracing.csproj
  src/Datadog.Trace/Datadog.Trace.csproj
  test-integrations.json
  test/Datadog.Trace.ClrProfiler.IntegrationTests/BuildParameters.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/ConsoleCoreTests.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/Datadog.Trace.ClrProfiler.IntegrationTests.csproj
  test/Datadog.Trace.ClrProfiler.IntegrationTests/SqlServerTests.cs
  test/Datadog.Trace.ClrProfiler.Managed.Tests/Datadog.Trace.ClrProfiler.Managed.Tests.csproj
  test/Datadog.Trace.IntegrationTests/Datadog.Trace.IntegrationTests.csproj
  test/Datadog.Trace.OpenTracing.IntegrationTests/Datadog.Trace.OpenTracing.IntegrationTests.csproj
  test/Datadog.Trace.OpenTracing.Tests/Datadog.Trace.OpenTracing.Tests.csproj
  test/Datadog.Trace.TestHelpers/Datadog.Trace.TestHelpers.csproj
  test/Datadog.Trace.Tests/Datadog.Trace.Tests.csproj
Labels: dev-tools, work-in-progress

#261 Simple organization
  Datadog.Trace.Managed.sln
  Datadog.Trace.Managed.sln.DotSettings
  Datadog.Trace.Native.sln
  samples/Samples.RedisCore/Properties/launchSettings.json
Labels: dev-tools

#264 restore separate x64/x86 configurations
  Datadog.Trace.sln
  sample-libs/Directory.Build.props
  sample-libs/Samples.ExampleLibrary/Class1.cs
  sample-libs/Samples.ExampleLibrary/Samples.ExampleLibrary.csproj
  sample-libs/Samples.ExampleLibraryTracer/Class1.cs
  sample-libs/Samples.ExampleLibraryTracer/Samples.ExampleLibraryTracer.csproj
  samples/Directory.Build.props
  samples/GlobalSuppressions.cs
  samples/Samples.AspNetCoreMvc2/Samples.AspNetCoreMvc2.csproj
  samples/Samples.Elasticsearch/Samples.Elasticsearch.csproj
  samples/Samples.MongoDB/Samples.MongoDB.csproj
  samples/Samples.Npgsql/Samples.Npgsql.csproj
  samples/Samples.RedisCore/Samples.RedisCore.csproj
  samples/Samples.SqlServer/Samples.SqlServer.csproj
  test/Datadog.Trace.ClrProfiler.IntegrationTests/Datadog.Trace.ClrProfiler.IntegrationTests.csproj
  test/Datadog.Trace.ClrProfiler.Native.Tests/Datadog.Trace.ClrProfiler.Native.Tests.vcxproj
  test/Datadog.Trace.OpenTracing.Tests/Datadog.Trace.OpenTracing.Tests.csproj
  test/Datadog.Trace.Tests/Datadog.Trace.Tests.csproj
Labels: dev-tools

#270 OpenTracing: remove logging warnings in unsupported span methods
  src/Datadog.Trace.OpenTracing/OpenTracingSpan.cs
Labels: community
