Repository DataDog/dd-trace-dotnet, pull requests merged in 2019-04, with the labels that each got.

#303 Fix distributed tracing in ASP.NET Core MVC
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AspNetCoreMvc2Integration.cs
  src/Datadog.Trace/Headers/DictionaryHeadersCollection.cs
Labels: area:integrations, enhancement

#304 Fix distributed tracing in ASP.NET Core MVC (redux)
  samples-aspnet/Samples.AspNetMvc5/Controllers/DistributedTracingApiController.cs
  samples-aspnet/Samples.AspNetMvc5/Controllers/DistributedTracingMvcController.cs
  samples/Samples.AspNetCoreMvc2/Controllers/DistributedTracingApiController.cs
  samples/Samples.AspNetCoreMvc2/Controllers/DistributedTracingMvcController.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AspNetCoreMvc2Integration.cs
  src/Datadog.Trace.ClrProfiler.Managed/MemberAccessor.cs
  src/Datadog.Trace/Headers/DictionaryHeadersCollection.cs
Labels: area:integrations, bug

#300 Mock tracer listening port, redux
  test/Datadog.Trace.ClrProfiler.IntegrationTests/AspNetMvc4Tests.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/AspNetMvc5Tests.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/AspNetWebApi2Tests.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/AspNetWebFormsTests.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/ElasticsearchTests.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/HttpClientTests.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/IisFixture.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/ServiceStackRedisTests.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/SqlServerTests.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/StackExchangeRedisTests.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/TestHelper.cs
  test/Datadog.Trace.TestHelpers/MockTracerAgent.cs
Labels: area:tests

#306 fix TracerSettings
  src/Datadog.Trace/Configuration/TracerSettings.cs
  test/Datadog.Trace.Tests/Configuration/ConfigurationSourceTests.cs
  test/Datadog.Trace.Tests/Datadog.Trace.Tests.csproj
Labels: area:core, bug

#307 version bump to 1.0
  .github/ISSUE_TEMPLATE/bug_report.md
  docker/package.sh
  integrations.json
  src/Datadog.Trace.ClrProfiler.Managed/Datadog.Trace.ClrProfiler.Managed.csproj
  src/Datadog.Trace.ClrProfiler.Native/Resource.rc
  src/Datadog.Trace.ClrProfiler.Native/version.h
  src/Datadog.Trace.OpenTracing/Datadog.Trace.OpenTracing.csproj
  src/Datadog.Trace/Datadog.Trace.csproj
Labels: area:build-tools

#298 Integrations cleanup (dispose scope, exception filters, add logging)
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AspNetHttpModule.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AspNetMvcIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AspNetWebApi2Integration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/ElasticsearchNetIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/MongoDbIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/RedisHelper.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/ServiceStackRedisIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/StackExchange.Redis/ConnectionMultiplexer.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/StackExchange.Redis/RedisBatch.cs
  src/Datadog.Trace/Span.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/AspNetMvc4Tests.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/AspNetMvc5Tests.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/AspNetWebApi2Tests.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/ServiceStackRedisTests.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/StackExchangeRedisTests.cs
Labels: area:core, area:integrations

#284 allow users to set sampling priority
  src/Datadog.Trace/Datadog.Trace.csproj
  src/Datadog.Trace/ExtensionMethods/StringExtensions.cs
  src/Datadog.Trace/Span.cs
  src/Datadog.Trace/SpanContextPropagator.cs
  src/Datadog.Trace/Tags.cs
Labels: feature-request

#309 Update the datadog agent link
  README.md
Labels: area:docs

#308 WCF initial integration
  Datadog.Trace.Managed.sln
  devenv.bat
  integrations.json
  src/Datadog.Trace.ClrProfiler.Managed/Datadog.Trace.ClrProfiler.Managed.csproj
  src/Datadog.Trace.ClrProfiler.Managed/ExtensionMethods/SpanIntegrationDelegateExtensions.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/WcfIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Models/WcfHttpRequestMessageSpanIntegrationDelegate.cs
  src/Datadog.Trace.ClrProfiler.Managed/Models/WcfRequestMessageSpanIntegrationDelegate.cs
  src/Datadog.Trace.ClrProfiler.Managed/Services/DependencyFactory.cs
  src/Datadog.Trace/ExtensionMethods/WebHeadersExtensions.cs
  src/Datadog.Trace/Headers/WebHeadersCollection.cs
  tools/GenerateIntegrationDefinitions/GenerateIntegrationDefinitions.csproj
Labels: area:integrations

#271 facilitate emitting IL to access type members
  src/Datadog.Trace.ClrProfiler.Managed/Emit/DynamicMethodBuilder.cs
  src/Datadog.Trace.ClrProfiler.Managed/Emit/MemberResult.cs
  src/Datadog.Trace.ClrProfiler.Managed/Emit/ObjectExtensions.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AdoNetIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AspNetCoreMvc2Integration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AspNetIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AspNetWebApi2Integration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/ElasticsearchNetIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/HttpMessageHandlerIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/MongoDbIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/ServiceStackRedisIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/StackExchange.Redis/ConnectionMultiplexer.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/StackExchange.Redis/RedisBatch.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/StackExchange.Redis/StackExchangeRedisHelper.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/WcfIntegration.cs
  test/Datadog.Trace.ClrProfiler.Managed.Tests/MemberAccessorTests.cs
Labels: area:integrations, enhancement

#311 add special tag "force.drop"
  src/Datadog.Trace/Span.cs
  src/Datadog.Trace/Tags.cs
Labels: area:core, enhancement

#314 update LibLog library
  src/Datadog.Trace/Datadog.Trace.csproj
  src/Datadog.Trace/Logging/LibLog.cs
  src/Datadog.Trace/Logging/LoggingExtensions.cs
Labels: area:builds, area:core

#321 remove breaking changes
  src/Datadog.Trace.ClrProfiler.Managed/DynamicMethodBuilder.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AdoNetIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AspNetCoreMvc2Integration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AspNetIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AspNetWebApi2Integration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/ElasticsearchNetIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/HttpMessageHandlerIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/MongoDbIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/ServiceStackRedisIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/StackExchange.Redis/ConnectionMultiplexer.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/StackExchange.Redis/RedisBatch.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/StackExchange.Redis/StackExchangeRedisHelper.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/WcfIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/MemberAccessor.cs
Labels: area:integrations

#322 update MsgPack.Cli NuGet package
  src/Datadog.Trace/Datadog.Trace.csproj
Labels: area:builds

#315 version bump 1.1.0
  docker/package.sh
  integrations.json
  src/Datadog.Trace.ClrProfiler.Managed/Datadog.Trace.ClrProfiler.Managed.csproj
  src/Datadog.Trace.ClrProfiler.Native/Resource.rc
  src/Datadog.Trace.ClrProfiler.Native/version.h
  src/Datadog.Trace/Datadog.Trace.csproj
Labels: area:builds

#323 replace "force.keep" span tag with "manual.keep"
  src/Datadog.Trace/Span.cs
  src/Datadog.Trace/Tags.cs
Labels: area:core

#299 Integration-specific settings (including Trace Analytics)
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AdoNetIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AspNetCoreMvc2Integration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AspNetHttpModule.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AspNetMvcIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AspNetStartup.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AspNetWebApi2Integration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/ElasticsearchNetIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/HttpMessageHandlerIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/MongoDbIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/RedisHelper.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/ServiceStackRedisIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/StackExchange.Redis/ConnectionMultiplexer.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/StackExchange.Redis/RedisBatch.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/WebRequestIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/ScopeFactory.cs
  src/Datadog.Trace/Configuration/ConfigurationKeys.cs
  src/Datadog.Trace/Configuration/IntegrationSettings.cs
  src/Datadog.Trace/Configuration/IntegrationSettingsCollection.cs
  src/Datadog.Trace/Configuration/TracerSettings.cs
  src/Datadog.Trace/Span.cs
  src/Datadog.Trace/Tags.cs
Labels: area:core, area:integrations

#324 fix Trace Seach configuration
  src/Datadog.Trace/Configuration/IntegrationSettings.cs
  src/Datadog.Trace/Configuration/TracerSettings.cs
Labels: area:core, bug

#326 Colin/postgres integration test
  docker-compose.yml
  docker/Datadog.Trace.ClrProfiler.IntegrationTests.sh
  docker/build.sh
  samples/Samples.Npgsql/Program.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/NpgSqlTests.cs
Labels: area:tests

#325 reduce log message verbosity when closing active scope
  src/Datadog.Trace/AsyncLocalScopeManager.cs
Labels: area:core, enhancement

#331 pre-build batch to remove locked dll in corprofiler project
  pre-build-events-cpp.bat
  src/Datadog.Trace.ClrProfiler.Native/Datadog.Trace.ClrProfiler.Native.DLL.vcxproj
Labels: area:builds

#332 CI does not use consistent paths for $(SolutionDir)
  pre-build-events-cpp.bat
  src/Datadog.Trace.ClrProfiler.Native/Datadog.Trace.ClrProfiler.Native.DLL.vcxproj
Labels: area:builds

#330 Cache method class & MVC Exception Hook
  integrations.json
  samples/Samples.AspNetCoreMvc2/Controllers/HomeController.cs
  src/Datadog.Trace.ClrProfiler.Managed/Datadog.Trace.ClrProfiler.Managed.csproj.DotSettings
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AspNetCoreMvc2Integration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/Caching/InterceptedMethodAccess.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/Caching/Interception.cs
Labels: area:integrations, enhancement

#333 copy profiler assemblies
  samples/Directory.Build.props
  samples/Samples.AspNetCoreMvc2/Properties/launchSettings.json
  samples/Samples.Elasticsearch/Properties/launchSettings.json
  samples/Samples.HttpMessageHandler/Properties/launchSettings.json
  samples/Samples.MongoDB/Properties/launchSettings.json
  samples/Samples.Npgsql/Properties/launchSettings.json
  samples/Samples.RedisCore/Properties/launchSettings.json
  samples/Samples.SqlServer/Properties/launchSettings.json
  src/Datadog.Trace.ClrProfiler.Native/Datadog.Trace.ClrProfiler.Native.DLL.vcxproj
  test/Datadog.Trace.ClrProfiler.IntegrationTests/Datadog.Trace.ClrProfiler.IntegrationTests.csproj
Labels: area:builds
