Repository DataDog/dd-trace-dotnet, pull requests merged in 2019-05, with the labels that each got.

#335 add url to http client resource name
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/HttpMessageHandlerIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/WebRequestIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/ScopeFactory.cs
  test/Datadog.Trace.ClrProfiler.Managed.Tests/ScopeFactoryTests.cs
Labels: area:integrations, enhancement

#338 Enable integration target version ranges
  Datadog.Trace.sln
  integrations.json
  samples/Samples.Elasticsearch.V5/Program.cs
  samples/Samples.Elasticsearch.V5/Properties/launchSettings.json
  samples/Samples.Elasticsearch.V5/Samples.Elasticsearch.V5.csproj
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/ElasticsearchNetIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/InterceptMethodAttribute.cs
  src/Datadog.Trace.ClrProfiler.Native/clr_helpers.cpp
  src/Datadog.Trace.ClrProfiler.Native/clr_helpers.h
  src/Datadog.Trace.ClrProfiler.Native/cor_profiler.cpp
  src/Datadog.Trace.ClrProfiler.Native/integration.h
  src/Datadog.Trace.ClrProfiler.Native/integration_loader.cpp
  src/Datadog.Trace.ClrProfiler.Native/string.cpp
  src/Datadog.Trace.ClrProfiler.Native/string.h
  test/Datadog.Trace.ClrProfiler.Native.Tests/clr_helper_test.cpp
  test/Datadog.Trace.ClrProfiler.Native.Tests/integration_loader_test.cpp
  test/Datadog.Trace.ClrProfiler.Native.Tests/metadata_builder_test.cpp
  tools/GenerateIntegrationDefinitions/Program.cs
Labels: area:builds, area:clr-profiler, area:core, bug, enhancement

#340 Enable Resharper gtest runner
  test/Datadog.Trace.ClrProfiler.Native.Tests/Datadog.Trace.ClrProfiler.Native.Tests.vcxproj
Labels: area:builds, area:tests

#346 Colin/mongo 2.x integration
  integrations.json
  src/Datadog.Trace.ClrProfiler.Managed/Emit/DelegateMetadata.cs
  src/Datadog.Trace.ClrProfiler.Managed/Emit/DynamicMethodBuilder.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AspNetCoreMvc2Integration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/Caching/GenericAsyncTargetAccess.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/Caching/InterceptedMethodAccess.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/Caching/Interception.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/MongoDbIntegration.cs
Labels: area:integrations, enhancement

#347 MongoDB tests: Add conditional compilation
  samples/Samples.MongoDB/Program.cs
  samples/Samples.MongoDB/Samples.MongoDB.csproj
Labels: area:tests

#341 Colin/apply safe version ranges
  GlobalSuppressions.cs
  devenv.bat
  integrations.json
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AdoNetIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AspNetCoreMvc2Integration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AspNetHttpModule.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AspNetIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AspNetMvcIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AspNetWebApi2Integration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/ElasticsearchNetIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/HttpMessageHandlerIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/ServiceStackRedisIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/StackExchange.Redis/ConnectionMultiplexer.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/StackExchange.Redis/RedisBatch.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/StackExchange.Redis/StackExchangeRedisHelper.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/WcfIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/WebRequestIntegration.cs
  test/Datadog.Trace.ClrProfiler.Managed.Tests/MemberAccessorTests.cs
Labels: area:integrations

#349 Colin/better build order
  Datadog.Trace.sln
  samples/Directory.Build.props
  samples/Samples.AspNetCoreMvc2/Properties/launchSettings.json
  samples/Samples.Elasticsearch.V5/Properties/launchSettings.json
  samples/Samples.Elasticsearch/Properties/launchSettings.json
  samples/Samples.HttpMessageHandler/Properties/launchSettings.json
  samples/Samples.MongoDB/Properties/launchSettings.json
  samples/Samples.Npgsql/Properties/launchSettings.json
  samples/Samples.RedisCore/Properties/launchSettings.json
  samples/Samples.SqlServer/Properties/launchSettings.json
Labels: area:builds, area:samples

#352 flatten integration method for versioning
  src/Datadog.Trace.ClrProfiler.Native/clr_helpers.cpp
  src/Datadog.Trace.ClrProfiler.Native/clr_helpers.h
  src/Datadog.Trace.ClrProfiler.Native/cor_profiler.cpp
  src/Datadog.Trace.ClrProfiler.Native/integration.h
  src/Datadog.Trace.ClrProfiler.Native/module_metadata.h
  test/Datadog.Trace.ClrProfiler.Native.Tests/clr_helper_test.cpp
  test/Datadog.Trace.ClrProfiler.Native.Tests/metadata_builder_test.cpp
  test/Datadog.Trace.TestHelpers/TcpPortProvider.cs
Labels: area:clr-profiler, area:tests, enhancement

#353 make LibLog a private dependency
  src/Datadog.Trace/Datadog.Trace.csproj
Labels: regression

#348 Support for Elasticsearch.Net 5.x
  Datadog.Trace.sln
  docker-compose.yml
  docker/Datadog.Trace.ClrProfiler.IntegrationTests.sh
  docker/build.sh
  integrations.json
  samples/Samples.Elasticsearch.V5/Program.cs
  samples/Samples.Elasticsearch.V5/Samples.Elasticsearch.V5.csproj
  samples/Samples.Elasticsearch/Program.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/Caching/GenericAsyncTargetAccess.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/ElasticsearchNet5Integration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/ElasticsearchNet6Integration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/ElasticsearchNetCommon.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/ElasticsearchNetIntegration.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/Elasticsearch5Tests.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/Elasticsearch6Tests.cs
Labels: area:integrations

#354 add Windows command-line build steps
  README.md
Labels: area:docs

#355 update bootstrap in MVC4 sample
  samples-aspnet/Samples.AspNetMvc4/Content/bootstrap-theme.css
  samples-aspnet/Samples.AspNetMvc4/Content/bootstrap-theme.css.map
  samples-aspnet/Samples.AspNetMvc4/Content/bootstrap-theme.min.css
  samples-aspnet/Samples.AspNetMvc4/Content/bootstrap-theme.min.css.map
  samples-aspnet/Samples.AspNetMvc4/Content/bootstrap.css
  samples-aspnet/Samples.AspNetMvc4/Content/bootstrap.css.map
  samples-aspnet/Samples.AspNetMvc4/Content/bootstrap.min.css
  samples-aspnet/Samples.AspNetMvc4/Content/bootstrap.min.css.map
  samples-aspnet/Samples.AspNetMvc4/Samples.AspNetMvc4.csproj
  samples-aspnet/Samples.AspNetMvc4/Scripts/bootstrap.js
  samples-aspnet/Samples.AspNetMvc4/Scripts/bootstrap.min.js
  samples-aspnet/Samples.AspNetMvc4/packages.config
Labels: area:samples

#357 License / Documentation cleanup
  LICENSE
  NOTICE
  README.md
  deploy/Datadog.Trace.ClrProfiler.WindowsInstaller/build.ps1
  src/Directory.Build.props
Labels: area:docs

#356 AspNet: manage scopes in HttpContext.Current.Items
  samples-aspnet/Samples.WebForms/Database/Elasticsearch.aspx
  samples-aspnet/Samples.WebForms/Database/Elasticsearch.aspx.cs
  samples-aspnet/Samples.WebForms/Database/Elasticsearch.aspx.designer.cs
  samples-aspnet/Samples.WebForms/Samples.WebForms.csproj
  samples-aspnet/Samples.WebForms/Web.config
  samples-aspnet/Samples.WebForms/packages.config
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AspNetScopeManager.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AspNetStartup.cs
  src/Datadog.Trace/Scope.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/AspNetWebFormsTests.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/IisFixture.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/TestHelper.cs
  test/Datadog.Trace.TestHelpers/MockTracerAgent.cs
Labels: area:integrations, type:bug

#358 version bump 1.2
  docker/package.sh
  integrations.json
  src/Datadog.Trace.ClrProfiler.Managed/Datadog.Trace.ClrProfiler.Managed.csproj
  src/Datadog.Trace.ClrProfiler.Native/Resource.rc
  src/Datadog.Trace.ClrProfiler.Native/version.h
  src/Datadog.Trace.OpenTracing/Datadog.Trace.OpenTracing.csproj
  src/Datadog.Trace/Datadog.Trace.csproj
  src/Directory.Build.props
Labels: area:builds

#342 Clean and refactor tests to use relative profiler
  test/Datadog.Trace.ClrProfiler.IntegrationTests/BuildParameters.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/Datadog.Trace.ClrProfiler.IntegrationTests.csproj
  test/Datadog.Trace.ClrProfiler.IntegrationTests/ServiceStackRedisTests.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/StackExchangeRedisTests.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/TestHelper.cs
  test/Datadog.Trace.TestHelpers/EnvironmentHelper.cs
  test/Datadog.Trace.TestHelpers/ProfilerHelper.cs
Labels: area:tests, type:code-cleanup

#361 Uri helpers for more consistent resource names
  samples-aspnet/Samples.AspNetMvc5/Areas/Datadog/Controllers/DogHouseController.cs
  samples-aspnet/Samples.AspNetMvc5/Areas/Datadog/DatadogAreaRegistration.cs
  samples-aspnet/Samples.AspNetMvc5/Areas/Datadog/Views/DogHouse/Index.cshtml
  samples-aspnet/Samples.AspNetMvc5/Areas/Datadog/Views/Shared/_Layout.cshtml
  samples-aspnet/Samples.AspNetMvc5/Areas/Datadog/Views/_ViewStart.cshtml
  samples-aspnet/Samples.AspNetMvc5/Areas/Datadog/Views/web.config
  samples-aspnet/Samples.AspNetMvc5/Samples.AspNetMvc5.csproj
  src/Datadog.Trace.ClrProfiler.Managed/Datadog.Trace.ClrProfiler.Managed.csproj.DotSettings
  src/Datadog.Trace.ClrProfiler.Managed/ExtensionMethods/SpanExtensions.cs
  src/Datadog.Trace.ClrProfiler.Managed/Helpers/UriHelpers.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AspNetCoreMvc2Integration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AspNetMvcIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AspNetScopeManager.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AspNetWebApi2Integration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Models/HttpContextSpanIntegrationDelegate.cs
  src/Datadog.Trace.ClrProfiler.Managed/ScopeFactory.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/AspNetMvc4Tests.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/AspNetMvc5Tests.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/AspNetWebFormsTests.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/TestHelper.cs
  test/Datadog.Trace.ClrProfiler.Managed.Tests/ScopeFactoryTests.cs
  test/Datadog.Trace.TestHelpers/EnvironmentHelper.cs
  test/Datadog.Trace.TestHelpers/MockTracerAgent.cs
  test/Datadog.Trace.TestHelpers/ProfilerHelper.cs
Labels: area:integrations, area:tests

#363 Disable optimizations to avoid AutoMapper error caused by runtime bug
  .dockerignore
  Datadog.Trace.sln
  reproductions/AutomapperTest/AutomapperTest.csproj
  reproductions/AutomapperTest/Dockerfile
  reproductions/AutomapperTest/Program.cs
  reproductions/AutomapperTest/Properties/launchSettings.json
  reproductions/Directory.Build.props
  src/Datadog.Trace.ClrProfiler.Native/clr_helpers.cpp
  src/Datadog.Trace.ClrProfiler.Native/clr_helpers.h
  src/Datadog.Trace.ClrProfiler.Native/cor_profiler.cpp
  src/Datadog.Trace.ClrProfiler.Native/cor_profiler.h
  src/Datadog.Trace.ClrProfiler.Native/environment_variables.h
Labels: area:clr-profiler

#365 ClrProfiler: add debug logging
  src/Datadog.Trace.ClrProfiler.Native/class_factory.cpp
  src/Datadog.Trace.ClrProfiler.Native/cor_profiler.cpp
  src/Datadog.Trace.ClrProfiler.Native/integration_loader.cpp
  src/Datadog.Trace.ClrProfiler.Native/logging.h
Labels: area:clr-profiler

#364 fix p/invoke on Linux
  src/Datadog.Trace.ClrProfiler.Managed/NativeMethods.cs
  src/Datadog.Trace.ClrProfiler.Native/CMakeLists.txt
Labels: area:clr-profiler, os:linux, type:bug
