Repository DataDog/dd-trace-dotnet, pull requests merged in 2019-11, with the labels that each got.

#543 add tracer metrics
  Datadog.Trace.sln
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AspNet/AspNetStartup.cs
  src/Datadog.Trace/Agent/AgentWriter.cs
  src/Datadog.Trace/Agent/Api.cs
  src/Datadog.Trace/Configuration/ConfigurationKeys.cs
  src/Datadog.Trace/Configuration/TracerSettings.cs
  src/Datadog.Trace/DogStatsd/StatsdExtensions.cs
  src/Datadog.Trace/DogStatsd/TracerMetricNames.cs
  src/Datadog.Trace/Tracer.cs
  src/Datadog.Trace/TracerConstants.cs
  test/Datadog.Trace.IntegrationTests/SendTracesToAgent.cs
  test/Datadog.Trace.OpenTracing.IntegrationTests/OpenTracingSendTracesToAgent.cs
  test/Datadog.Trace.OpenTracing.Tests/OpenTracingSpanBuilderTests.cs
  test/Datadog.Trace.OpenTracing.Tests/OpenTracingSpanTests.cs
  test/Datadog.Trace.OpenTracing.Tests/OpenTracingTracerTests.cs
  test/Datadog.Trace.Tests/AgentWriterTests.cs
  test/Datadog.Trace.Tests/ApiTests.cs
  test/Datadog.Trace.Tests/Configuration/ConfigurationSourceTests.cs
  test/Datadog.Trace.Tests/DogStatsDTests.cs
  test/Datadog.Trace.Tests/Logging/LoggingProviderTestHelpers.cs
  test/Datadog.Trace.Tests/SpanTests.cs
  test/Datadog.Trace.Tests/TracerTests.cs
Labels: area:tracer, type:new-feature

#547 Add missing tags to GraphQL integration
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/GraphQLIntegration.cs
Labels: area:integrations

#548 Enable Samples.MySql test in CI
  docker-compose.yml
  samples/Samples.MySql/Program.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/AdoNet/MySqlCommandTests.cs
Labels: area:tests

#553 When URL is empty, AspNetMVC scope creation fails
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AspNet/AspNetMvcIntegration.cs
Labels: area:integrations, type:bug

#554 Expectations framework refactor
  test/Datadog.Trace.ClrProfiler.IntegrationTests/AspNetCore/AspNetCoreMvc2Tests.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/GraphQLTests.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/Helpers/GraphQLSpanExpectation.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/Helpers/SpanExpectation.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/Helpers/SpanTestHelpers.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/Helpers/TestHelper.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/Helpers/WebServerSpanExpectation.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/Helpers/WebServerTestHelpers.cs
  test/Datadog.Trace.TestHelpers/EnvironmentHelper.cs
Labels: area:tests

#551 Fix DD_LOGS_INJECTION crash with the ASP.NET integration
  Datadog.Trace.sln
  reproduction-dependencies/ApplicationWithLog4Net/ApplicationWithLog4Net.csproj
  reproduction-dependencies/ApplicationWithLog4Net/Program.cs
  reproduction-dependencies/ApplicationWithLog4Net/log4net.config
  reproductions/Log4Net.SerializationException/Log4Net.SerializationException.csproj
  reproductions/Log4Net.SerializationException/Program.cs
  src/Datadog.Trace/Logging/LibLogScopeEventSubscriber.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/SmokeTests/Log4NetSerializationExceptionSmokeTest.cs
  test/Datadog.Trace.Tests/Logging/Log4NetLogProviderTests.cs
  test/Datadog.Trace.Tests/Logging/LoggingProviderTestHelpers.cs
  test/Datadog.Trace.Tests/Logging/NLogLogProviderTests.cs
  test/Datadog.Trace.Tests/Logging/SerilogLogProviderTests.cs
Labels: area:integrations, severity:breaks-application, type:bug

#556 Enable prerelease version tags, bump to v1.9.1-prerelease
  .azure-pipelines/packages.yml
  Datadog.Trace.sln
  deploy/Datadog.Trace.ClrProfiler.WindowsInstaller/Datadog.Trace.ClrProfiler.WindowsInstaller.wixproj
  docker/package.sh
  integrations.json
  reproductions/AutomapperTest/Dockerfile
  src/Datadog.Trace.ClrProfiler.Managed.Loader/Datadog.Trace.ClrProfiler.Managed.Loader.csproj
  src/Datadog.Trace.ClrProfiler.Managed.Loader/Startup.cs
  src/Datadog.Trace.ClrProfiler.Managed/Datadog.Trace.ClrProfiler.Managed.csproj
  src/Datadog.Trace.ClrProfiler.Native/CMakeLists.txt
  src/Datadog.Trace.ClrProfiler.Native/Resource.rc
  src/Datadog.Trace.ClrProfiler.Native/version.h
  src/Datadog.Trace.OpenTracing/Datadog.Trace.OpenTracing.csproj
  src/Datadog.Trace/Datadog.Trace.csproj
  test/Datadog.Trace.TestHelpers/Datadog.Trace.TestHelpers.csproj
  test/Datadog.Trace.TestHelpers/EnvironmentHelper.cs
  tools/Datadog.Core.Tools/Datadog.Core.Tools.csproj
  tools/Datadog.Core.Tools/EnvironmentTools.cs
  tools/Datadog.Core.Tools/TracerVersion.cs
  tools/SynchronizeVersions/Program.cs
  tools/SynchronizeVersions/SynchronizeVersions.csproj
Labels: area:builds

#559 Make timing and statistics tests less flaky
  test/Datadog.Trace.Tests/ApiTests.cs
  test/Datadog.Trace.Tests/Sampling/RateLimiterTests.cs
Labels: area:tests

#555 AspNetCoreMvc3 Integration
  Datadog.Trace.sln
  docker/build.sh
  integrations.json
  sample-libs/Samples.ExampleLibrary/FakeClient/Biscuit.cs
  sample-libs/Samples.ExampleLibrary/FakeClient/DogClient.cs
  sample-libs/Samples.Shared/Samples.Shared.csproj
  samples/Samples.AspNetCoreMvc.Netcore3/Program.cs
  samples/Samples.AspNetCoreMvc.Netcore3/Properties/launchSettings.json
  samples/Samples.AspNetCoreMvc.Netcore3/Samples.AspNetCoreMvc.Netcore3.csproj
  samples/Samples.AspNetCoreMvc.Netcore3/Startup.cs
  samples/Samples.AspNetCoreMvc.Netcore3/Views/Home/Delay.cshtml
  samples/Samples.AspNetCoreMvc.Netcore3/Views/Home/Index.cshtml
  samples/Samples.AspNetCoreMvc.Netcore3/Views/_Layout.cshtml
  samples/Samples.AspNetCoreMvc.Netcore3/Views/_ViewImports.cshtml
  samples/Samples.AspNetCoreMvc.Netcore3/Views/_ViewStart.cshtml
  samples/Samples.AspNetCoreMvc.Netcore3/appsettings.Development.json
  samples/Samples.AspNetCoreMvc.Netcore3/appsettings.json
  samples/Samples.AspNetCoreMvc2/Controllers/HomeController.cs
  src/Datadog.Trace.ClrProfiler.Managed/Emit/MethodBuilder.cs
  src/Datadog.Trace.ClrProfiler.Managed/Emit/ModuleLookup.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AspNet/AspNetCoreMvc2Integration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AspNet/AspNetCoreMvc3Integration.cs
  src/Datadog.Trace.ClrProfiler.Native/clr_helpers.cpp
  src/Datadog.Trace.ClrProfiler.Native/cor_profiler.cpp
  test/Datadog.Trace.ClrProfiler.IntegrationTests/AspNetCore/AspNetCoreMvc2Tests.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/AspNetCore/AspNetCoreMvc3Tests.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/AspNetCore/AspNetCoreMvcTestBase.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/Helpers/AspNetCoreMvcSpanExpectation.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/Helpers/SpanExpectation.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/Helpers/TestHelper.cs
  test/Datadog.Trace.ClrProfiler.Managed.Tests/IntegrationSignatureTests.cs
  test/Datadog.Trace.ClrProfiler.Native.Tests/clr_helper_test.cpp
  test/Datadog.Trace.ClrProfiler.Native.Tests/clr_helper_type_check_test.cpp
  test/Datadog.Trace.TestHelpers/EnvironmentHelper.cs
  test/Datadog.Trace.TestHelpers/MockTracerAgent.cs
Labels: area:integrations, area:tests, type:new-feature

#501 Clean up MockTraceAgent, add event-based API
  test/Datadog.Trace.TestHelpers/MockTracerAgent.cs
Labels: area:tests, type:refactor

#565 clean up project settings
  Directory.Build.props
  src/Directory.Build.props
  tools/Datadog.Core.Tools/Datadog.Core.Tools.csproj
  tools/GeneratePackageVersions/GeneratePackageVersions.csproj
  tools/SynchronizeInstaller/SynchronizeInstaller.csproj
  tools/SynchronizeVersions/SynchronizeVersions.csproj
Labels: area:builds

#570 [CLR Profiler] Do not instrument on NuGet/Profiler version mismatch
  Datadog.Trace.sln
  reproductions/NugetProfilerVersionMismatch.TypeLoadException/NugetProfilerVersionMismatch.TypeLoadException.csproj
  reproductions/NugetProfilerVersionMismatch.TypeLoadException/Program.cs
  reproductions/NugetProfilerVersionMismatch.TypeLoadException/Properties/launchSettings.json
  reproductions/NugetProfilerVersionMismatch.TypeLoadException/README.md
  src/Datadog.Trace.ClrProfiler.Native/clr_helpers.cpp
  src/Datadog.Trace.ClrProfiler.Native/clr_helpers.h
  src/Datadog.Trace.ClrProfiler.Native/cor_profiler.cpp
  src/Datadog.Trace.ClrProfiler.Native/cor_profiler.h
  test/Datadog.Trace.ClrProfiler.Native.Tests/clr_helper_test.cpp
Labels: area:clr-profiler, severity:breaks-application, type:bug

#562 ADO.NET: add IDbCommand instrumentation
  integrations.json
  sample-libs/Samples.DatabaseHelper/Extensions.cs
  sample-libs/Samples.DatabaseHelper/RelationalDatabaseTestHarness.cs
  sample-libs/Samples.DatabaseHelper/Samples.DatabaseHelper.csproj
  samples/Samples.MySql/Program.cs
  samples/Samples.Npgsql/Program.cs
  samples/Samples.SqlServer/Program.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AdoNet/DbCommandIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AdoNet/IDbCommandIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/ScopeFactory.cs
  src/Datadog.Trace/ExtensionMethods/SpanExtensions.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/AdoNet/MySqlCommandTests.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/AdoNet/NpgsqlCommandTests.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/AdoNet/SqlCommandTests.cs
Labels: area:integrations, type:regression

#558 use GetInstrumentedType() instead of a statically typed typeof()
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/HttpMessageHandlerIntegration.cs
Labels: area:integrations, type:bug

#572 bump version to 1.10.0
  deploy/Datadog.Trace.ClrProfiler.WindowsInstaller/Datadog.Trace.ClrProfiler.WindowsInstaller.wixproj
  docker/package.sh
  docs/CHANGELOG.md
  integrations.json
  reproductions/AutomapperTest/Dockerfile
  src/Datadog.Trace.ClrProfiler.Managed.Loader/Datadog.Trace.ClrProfiler.Managed.Loader.csproj
  src/Datadog.Trace.ClrProfiler.Managed.Loader/Startup.cs
  src/Datadog.Trace.ClrProfiler.Managed/Datadog.Trace.ClrProfiler.Managed.csproj
  src/Datadog.Trace.ClrProfiler.Native/CMakeLists.txt
  src/Datadog.Trace.ClrProfiler.Native/Resource.rc
  src/Datadog.Trace.ClrProfiler.Native/version.h
  src/Datadog.Trace.OpenTracing/Datadog.Trace.OpenTracing.csproj
  src/Datadog.Trace/Datadog.Trace.csproj
  tools/Datadog.Core.Tools/TracerVersion.cs
Labels: area:builds

#569 Health metrics: add heartbeat, exceptions, and warnings
  src/Datadog.Trace.ClrProfiler.Managed/Emit/MethodBuilder.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/LoggerExtensions.cs
  src/Datadog.Trace/Agent/AgentWriter.cs
  src/Datadog.Trace/Configuration/ConfigurationKeys.cs
  src/Datadog.Trace/DogStatsd/StatsdExtensions.cs
  src/Datadog.Trace/DogStatsd/TracerMetricNames.cs
  src/Datadog.Trace/Tracer.cs
  test/Datadog.Trace.Tests/DogStatsDTests.cs
Labels: area:health-metrics, type:enhancement

#574 migrate to new NuGet package "PackageIcon"
  datadog-logo-256x256.png
  datadog-logo-64x64.png
  src/Directory.Build.props
Labels: area:builds
