Repository DataDog/dd-trace-dotnet, pull requests merged in 2020-06, with the labels that each got.

#739 Expose SamplingPriority
  src/Datadog.Trace/Span.cs
  src/Datadog.Trace/SpanContext.cs
  test/Datadog.Trace.Tests/DistributedTraceTests.cs
Labels: area:tracer

#738 [ClrProfiler] Fix missing instrumentation when DD_TRACE_DOMAIN_NEUTRAL_INSTRUMENTATION is enabled
  .azure-pipelines/integration-tests.yml
  Datadog.Trace.sln
  samples/Samples.NetFramework.DomainNeutralInstrumentationWithoutGac/Program.cs
  samples/Samples.NetFramework.DomainNeutralInstrumentationWithoutGac/Properties/launchSettings.json
  samples/Samples.NetFramework.DomainNeutralInstrumentationWithoutGac/Samples.NetFramework.DomainNeutralInstrumentationWithoutGac.csproj
  src/Datadog.Trace.ClrProfiler.Native/cor_profiler.cpp
  src/Datadog.Trace.ClrProfiler.Native/cor_profiler.h
  test/Datadog.Trace.ClrProfiler.IntegrationTests/DomainNeutralTests.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/HttpClientTests.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/SmokeTests/DomainNeutralAssembliesFileLoadExceptionSmokeTest.cs
Labels: area:clr-profiler, priority:missing-traces, type:bug

#743 Remove array allocation from NextUInt63
  src/Datadog.Trace/ExtensionMethods/RandomExtensions.cs
Labels: area:tracer, type:performance-overhead

#741 Increase reliability of unit-tests pipeline
  test/Datadog.Trace.Tests/ApiTests.cs
  test/Datadog.Trace.Tests/DogStatsDTests.cs
Labels: area:tests

#744 RateLimiter improvements
  src/Datadog.Trace/Sampling/RateLimiter.cs
Labels: area:tracer, type:performance-overhead

#751 CI: Test against the desired package version in the Integrations tests
  PackageVersionsComprehensive.g.props
  PackageVersionsGeneratorDefinitions.json
  PackageVersionsLatestMinors.g.props
  docker-compose.yml
  test/Datadog.Trace.ClrProfiler.IntegrationTests/Helpers/TestHelper.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsComprehensive.g.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestMinors.g.cs
  test/Datadog.Trace.TestHelpers/ProfilerHelper.cs
  tools/GeneratePackageVersions/FileGenerator.cs
  tools/GeneratePackageVersions/MSBuildPropsFileGenerator.cs
  tools/GeneratePackageVersions/PackageVersionEntry.cs
  tools/GeneratePackageVersions/Program.cs
  tools/GeneratePackageVersions/XunitFileGenerator.cs
  tools/GeneratePackageVersions/XunitStrategyFileGenerator.cs
Labels: area:builds, area:tests

#742 Service Unification: Add new properties to the CorrelationIdentifer API for simplified, manual trace-log correlation
  src/Datadog.Trace/CorrelationIdentifier.cs
  src/Datadog.Trace/Logging/LibLogScopeEventSubscriber.cs
  test/Datadog.Trace.Tests/CorrelationIdentifierTests.cs
  test/Datadog.Trace.Tests/Logging/Log4NetLogProviderTests.cs
  test/Datadog.Trace.Tests/Logging/NLogLogProviderTests.cs
  test/Datadog.Trace.Tests/Logging/SerilogLogProviderTests.cs
Labels: area:tracer

#764 Update Tracer version to v1.17.1-prerelease
  customer-samples/ConsoleApp/Alpine3.10.dockerfile
  customer-samples/ConsoleApp/Alpine3.9.dockerfile
  customer-samples/ConsoleApp/Debian.dockerfile
  deploy/Datadog.Trace.ClrProfiler.WindowsInstaller/Datadog.Trace.ClrProfiler.WindowsInstaller.wixproj
  docker/package.sh
  integrations.json
  reproductions/AutomapperTest/Dockerfile
  src/Datadog.Trace.AspNet/Datadog.Trace.AspNet.csproj
  src/Datadog.Trace.ClrProfiler.Managed.Core/Datadog.Trace.ClrProfiler.Managed.Core.csproj
  src/Datadog.Trace.ClrProfiler.Managed.Loader/Datadog.Trace.ClrProfiler.Managed.Loader.csproj
  src/Datadog.Trace.ClrProfiler.Managed.Loader/Startup.cs
  src/Datadog.Trace.ClrProfiler.Managed/Datadog.Trace.ClrProfiler.Managed.csproj
  src/Datadog.Trace.ClrProfiler.Native/CMakeLists.txt
  src/Datadog.Trace.ClrProfiler.Native/Resource.rc
  src/Datadog.Trace.ClrProfiler.Native/dd_profiler_constants.h
  src/Datadog.Trace.ClrProfiler.Native/version.h
  src/Datadog.Trace.OpenTracing/Datadog.Trace.OpenTracing.csproj
  src/Datadog.Trace/Datadog.Trace.csproj
  tools/Datadog.Core.Tools/TracerVersion.cs
Labels: area:builds

#770 Update .NET Tracer version to v1.18.0
  customer-samples/ConsoleApp/Alpine3.10.dockerfile
  customer-samples/ConsoleApp/Alpine3.9.dockerfile
  customer-samples/ConsoleApp/Debian.dockerfile
  deploy/Datadog.Trace.ClrProfiler.WindowsInstaller/Datadog.Trace.ClrProfiler.WindowsInstaller.wixproj
  docker/package.sh
  integrations.json
  reproductions/AutomapperTest/Dockerfile
  src/Datadog.Trace.AspNet/Datadog.Trace.AspNet.csproj
  src/Datadog.Trace.ClrProfiler.Managed.Core/Datadog.Trace.ClrProfiler.Managed.Core.csproj
  src/Datadog.Trace.ClrProfiler.Managed.Loader/Datadog.Trace.ClrProfiler.Managed.Loader.csproj
  src/Datadog.Trace.ClrProfiler.Managed.Loader/Startup.cs
  src/Datadog.Trace.ClrProfiler.Managed/Datadog.Trace.ClrProfiler.Managed.csproj
  src/Datadog.Trace.ClrProfiler.Native/CMakeLists.txt
  src/Datadog.Trace.ClrProfiler.Native/Resource.rc
  src/Datadog.Trace.ClrProfiler.Native/dd_profiler_constants.h
  src/Datadog.Trace.ClrProfiler.Native/version.h
  src/Datadog.Trace.OpenTracing/Datadog.Trace.OpenTracing.csproj
  src/Datadog.Trace/Datadog.Trace.csproj
  tools/Datadog.Core.Tools/TracerVersion.cs
Labels: area:builds

#768 Read SmokeTest process output asynchronously
  Datadog.Trace.sln
  test/Datadog.Trace.ClrProfiler.IntegrationTests/SmokeTests/SmokeTestBase.cs
Labels: area:tests

#759 Optimizations for ObjectExtensions
  src/Datadog.Trace.ClrProfiler.Managed/Emit/MemberResult.cs
  src/Datadog.Trace.ClrProfiler.Managed/Emit/ObjectExtensions.cs
  src/Datadog.Trace/DiagnosticListeners/AspNetCoreDiagnosticObserver.cs
  src/Datadog.Trace/Util/PropertyFetcher.cs
  test/Datadog.Trace.ClrProfiler.Managed.Tests/ObjectExtensionTests.cs
Labels: type:performance-overhead

#760 MethodBuilder optimizations
  src/Datadog.Trace.ClrProfiler.Managed/Emit/MethodBuilder.cs
Labels: type:performance-overhead

#763 Remove instance of DateTimeOffset in Span.Finish
  src/Datadog.Trace/ITraceContext.cs
  src/Datadog.Trace/Span.cs
  src/Datadog.Trace/TraceContext.cs
Labels: type:performance-overhead
