Repository DataDog/dd-trace-dotnet, pull requests merged in 2020-09, with the labels that each got.

#879 Add a benchmark for aspnetcore
  benchmarks/Benchmarks.Trace/AspNetCoreBenchmark.cs
  benchmarks/Benchmarks.Trace/Benchmarks.Trace.csproj
  src/Datadog.Trace.ClrProfiler.Managed/AssemblyInfo.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/HttpMessageHandlerIntegration.cs
Labels: area:benchmarks

#899 Ensure that we send statsd metrics on trace agent request failure
  src/Datadog.Trace/Agent/Api.cs
Labels: area:tracer

#900 Replace individual authors in NuGet package with Datadog
  src/Directory.Build.props
Labels: area:builds

#898 Remove assembly reference to System.Xml.Linq
  src/Datadog.Trace/Datadog.Trace.csproj
Labels: area:tracer

#888 Unit test improvements
  test/Datadog.Trace.Tests/DogStatsDTests.cs
Labels: area:tests, area:tracer

#905 Remove packages pipeline cron job since this will fire for each merge to master
  .azure-pipelines/packages.yml
Labels: area:builds

#910 Do not use GitVersion in packages build pipeline
  .azure-pipelines/packages.yml
Labels: area:builds

#871 Dump IL rewrite code from profiler to the log
  src/Datadog.Trace.ClrProfiler.Native/cor_profiler.cpp
  src/Datadog.Trace.ClrProfiler.Native/cor_profiler.h
  src/Datadog.Trace.ClrProfiler.Native/dd_profiler_constants.h
  src/Datadog.Trace.ClrProfiler.Native/environment_variables.h
  src/Datadog.Trace.ClrProfiler.Native/il_rewriter.cpp
  src/Datadog.Trace.ClrProfiler.Native/il_rewriter.h
  src/Datadog.Trace.ClrProfiler.Native/logging.cpp
  src/Datadog.Trace.ClrProfiler.Native/logging.h
Labels: area:clr-profiler

#902 Cache agent response and discard default sampling rates
  src/Datadog.Trace/Agent/Api.cs
  src/Datadog.Trace/Sampling/DefaultSamplingRule.cs
  test/Datadog.Trace.Tests/Sampling/DefaultSamplingRuleTests.cs
Labels: type:performance-overhead

#922 Fix Datadog.Trace.Tests.DogStatsDTests.Send_metrics_when_enabled
  test/Datadog.Trace.Tests/DogStatsDTests.cs
Labels: area:tests

#921 Further adjustments to avoid netcoreapp2.1 profiler shudown bug in smoke tests
  reproductions/AssemblyLoad.FileNotFoundException/Program.cs
  reproductions/AssemblyResolveMscorlibResources.InfiniteRecursionCrash/Program.cs
  reproductions/DataDogThreadTest/Program.cs
  reproductions/EntityFramework6x.MdTokenLookupFailure/Program.cs
  reproductions/HttpMessageHandler.StackOverflowException/Program.cs
  reproductions/Log4Net.SerializationException/Program.cs
  reproductions/NLog10LogsInjection.NullReferenceException/Program.cs
  reproductions/OrleansCrash/Program.cs
  reproductions/StackExchange.Redis.AssemblyConflict.LegacyProject/Program.cs
  reproductions/StackExchange.Redis.AssemblyConflict.SdkProject/Program.cs
  reproductions/StackExchange.Redis.StackOverflowException/Program.cs
Labels: area:tests

#923 Make Datadog.Trace.Tests.AgentWriterTests.WriteTrace_2Traces_SendToApi more reliable
  test/Datadog.Trace.Tests/AgentWriterTests.cs
Labels: area:tests

#926 Make Datadog.Trace.Tests.Sampling.RateLimiterTests.Limits_Approximately_To_Defaults more reliable
  test/Datadog.Trace.Tests/Sampling/RateLimiterTests.cs
Labels: area:tests

#928 add value of new setting to profiler log
  src/Datadog.Trace.ClrProfiler.Native/dd_profiler_constants.h
Labels: area:clr-profiler, type:enhancement

#930 Tail logs only once in Linux integration tests
  docker/Datadog.Trace.ClrProfiler.IntegrationTests.sh
Labels: area:tests

#934 Version bump 1.19.3
  customer-samples/ConsoleApp/Alpine3.10.dockerfile
  customer-samples/ConsoleApp/Alpine3.9.dockerfile
  customer-samples/ConsoleApp/Debian.dockerfile
  deploy/Datadog.Trace.ClrProfiler.WindowsInstaller/Datadog.Trace.ClrProfiler.WindowsInstaller.wixproj
  docker/package.sh
  integrations.json
  reproductions/AutomapperTest/Dockerfile
  src/Datadog.Trace.AspNet/Datadog.Trace.AspNet.csproj
  src/Datadog.Trace.ClrProfiler.Managed.Core/Datadog.Trace.ClrProfiler.Managed.Core.csproj
  src/Datadog.Trace.ClrProfiler.Managed.Loader/Datadog.Trace.ClrProfiler.Managed.Loader.csproj
  src/Datadog.Trace.ClrProfiler.Managed.Loader/Startup.cs
  src/Datadog.Trace.ClrProfiler.Managed/Datadog.Trace.ClrProfiler.Managed.csproj
  src/Datadog.Trace.ClrProfiler.Native/CMakeLists.txt
  src/Datadog.Trace.ClrProfiler.Native/Resource.rc
  src/Datadog.Trace.ClrProfiler.Native/dd_profiler_constants.h
  src/Datadog.Trace.ClrProfiler.Native/version.h
  src/Datadog.Trace.OpenTracing/Datadog.Trace.OpenTracing.csproj
  src/Datadog.Trace/Datadog.Trace.csproj
  tools/Datadog.Core.Tools/TracerVersion.cs
Labels: area:builds

#936 Fixes the truncated branch name on azure pipelines.
  src/Datadog.Trace.Ci.Shared/CIEnvironmentValues.cs
Labels: area:ci-app, type:bug

#929 Remove net45 and net461 assembly reference on System.Runtime.Serialization.dll
  src/Datadog.Trace/Datadog.Trace.csproj
Labels: area:tracer, dependencies

#903 ASP.NET Core: use Tracer.Instance
  benchmarks/Benchmarks.Trace/AspNetCoreBenchmark.cs
  benchmarks/Benchmarks.Trace/Benchmarks.Trace.csproj
  src/Datadog.Trace.ClrProfiler.Managed/Instrumentation.cs
  src/Datadog.Trace/Configuration/GlobalSettings.cs
  src/Datadog.Trace/Configuration/TracerSettings.cs
  src/Datadog.Trace/DiagnosticListeners/AspNetCoreDiagnosticObserver.cs
  src/Datadog.Trace/DiagnosticListeners/AspNetCoreDiagnosticOptions.cs
  src/Datadog.Trace/DiagnosticListeners/DiagnosticManager.cs
  src/Datadog.Trace/DiagnosticListeners/DiagnosticObserver.cs
  src/Datadog.Trace/Tracer.cs
  test/Datadog.Trace.Tests/DiagnosticListeners/AspNetCoreDiagnosticObserverTests.cs
Labels: area:integrations/aspnetcore, type:bug

#933 Ci App - unit tests dogfooding
  .azure-pipelines/setup_tracer.ps1
  .azure-pipelines/unit-tests.yml
  Datadog.Trace.sln
  test/Datadog.Trace.Tests/CorrelationIdentifierTests.cs
  test/Datadog.Trace.Tests/PlatformHelpers/AzureAppServicesMetadataTests.cs
Labels: area:ci-app

#932 Blog - azure service fabric setup
  blog/2020-09-15-datadog-apm-in-azure-service-fabric.md
Labels: area:docs

#953 remove setter from GlobalSettings.DiagnosticSourceEnabled
  benchmarks/Benchmarks.Trace/AspNetCoreBenchmark.cs
  benchmarks/Benchmarks.Trace/DbBenchmark.cs
  benchmarks/Benchmarks.Trace/HttpClientBenchmark.cs
  benchmarks/Benchmarks.Trace/RedisBenchmark.cs
  src/Datadog.Trace/Configuration/GlobalSettings.cs
  src/Datadog.Trace/Configuration/TracerSettings.cs
Labels: area:integrations/aspnetcore, area:tracer, type:bug

#952 Properly instrument custom HttpClientHandler implementations
  samples/Samples.HttpMessageHandler/CustomHandler.cs
  samples/Samples.HttpMessageHandler/RequestHelpers.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/HttpMessageHandlerIntegration.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/HttpMessageHandlerTests.cs
Labels: area:integrations, type:bug

#955 Properly instrument custom HttpClientHandler implementations (redux)
  samples/Samples.HttpMessageHandler/CustomHandler.cs
  samples/Samples.HttpMessageHandler/RequestHelpers.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/HttpMessageHandlerIntegration.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/HttpMessageHandlerTests.cs
Labels: area:integrations, type:bug

#956 version bump 1.19.4
  customer-samples/ConsoleApp/Alpine3.10.dockerfile
  customer-samples/ConsoleApp/Alpine3.9.dockerfile
  customer-samples/ConsoleApp/Debian.dockerfile
  deploy/Datadog.Trace.ClrProfiler.WindowsInstaller/Datadog.Trace.ClrProfiler.WindowsInstaller.wixproj
  docker/package.sh
  integrations.json
  reproductions/AutomapperTest/Dockerfile
  src/Datadog.Trace.AspNet/Datadog.Trace.AspNet.csproj
  src/Datadog.Trace.ClrProfiler.Managed.Core/Datadog.Trace.ClrProfiler.Managed.Core.csproj
  src/Datadog.Trace.ClrProfiler.Managed.Loader/Datadog.Trace.ClrProfiler.Managed.Loader.csproj
  src/Datadog.Trace.ClrProfiler.Managed.Loader/Startup.cs
  src/Datadog.Trace.ClrProfiler.Managed/Datadog.Trace.ClrProfiler.Managed.csproj
  src/Datadog.Trace.ClrProfiler.Native/CMakeLists.txt
  src/Datadog.Trace.ClrProfiler.Native/Resource.rc
  src/Datadog.Trace.ClrProfiler.Native/dd_profiler_constants.h
  src/Datadog.Trace.ClrProfiler.Native/version.h
  src/Datadog.Trace.OpenTracing/Datadog.Trace.OpenTracing.csproj
  src/Datadog.Trace/Datadog.Trace.csproj
  tools/Datadog.Core.Tools/TracerVersion.cs
Labels: area:builds

#960 Delete unused utility
  Datadog.Trace.sln
  tools/GenerateAzureSiteExtension/GenerateAzureSiteExtension.csproj
  tools/GenerateAzureSiteExtension/Program.cs
  tools/GenerateAzureSiteExtension/SyncAzureAppServicesPackage.cs
Labels: area:tools
