Repository DataDog/dd-trace-dotnet, pull requests merged in 2020-01, with the labels that each got.

#566 Fix `System.EntryPointNotFoundException: Entry point was not found` issue in MongoDb integration
  sample-libs/Samples.ExampleLibrary/Class1.cs
  sample-libs/Samples.ExampleLibrary/GenericTests/ComprehensiveCaller.cs
  sample-libs/Samples.ExampleLibrary/GenericTests/GenericTarget.cs
  sample-libs/Samples.ExampleLibrary/GenericTests/PointStruct.cs
  sample-libs/Samples.ExampleLibrary/GenericTests/StructContainer.cs
  samples/Samples.MongoDB/Program.cs
  src/Datadog.Trace.ClrProfiler.Native/CMakeLists.txt
  src/Datadog.Trace.ClrProfiler.Native/Datadog.Trace.ClrProfiler.Native.vcxproj
  src/Datadog.Trace.ClrProfiler.Native/clr_helpers.cpp
  src/Datadog.Trace.ClrProfiler.Native/clr_helpers.h
  src/Datadog.Trace.ClrProfiler.Native/cor_profiler.cpp
  src/Datadog.Trace.ClrProfiler.Native/il_rewriter_wrapper.cpp
  src/Datadog.Trace.ClrProfiler.Native/il_rewriter_wrapper.h
  src/Datadog.Trace.ClrProfiler.Native/integration.h
  src/Datadog.Trace.ClrProfiler.Native/sig_helpers.cpp
  src/Datadog.Trace.ClrProfiler.Native/sig_helpers.h
  test/Datadog.Trace.ClrProfiler.Native.Tests/clr_helper_test.cpp
  test/Datadog.Trace.ClrProfiler.Native.Tests/clr_helper_type_check_test.cpp
  test/Datadog.Trace.ClrProfiler.Native.Tests/test_helpers.h
Labels: area:clr-profiler, severity:breaks-application, type:bug

#602 Expands where the tracer gets the WCF resource string from
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/WcfIntegration.cs
Labels: type:bug

#603 Version bump to 1.11.1-prerelease
  deploy/Datadog.Trace.ClrProfiler.WindowsInstaller/Datadog.Trace.ClrProfiler.WindowsInstaller.wixproj
  docker/package.sh
  integrations.json
  reproductions/AutomapperTest/Dockerfile
  src/Datadog.Trace.AspNet/Datadog.Trace.AspNet.csproj
  src/Datadog.Trace.ClrProfiler.Managed.Loader/Datadog.Trace.ClrProfiler.Managed.Loader.csproj
  src/Datadog.Trace.ClrProfiler.Managed.Loader/Startup.cs
  src/Datadog.Trace.ClrProfiler.Managed/Datadog.Trace.ClrProfiler.Managed.csproj
  src/Datadog.Trace.ClrProfiler.Native/CMakeLists.txt
  src/Datadog.Trace.ClrProfiler.Native/Resource.rc
  src/Datadog.Trace.ClrProfiler.Native/version.h
  src/Datadog.Trace.OpenTracing/Datadog.Trace.OpenTracing.csproj
  src/Datadog.Trace/Datadog.Trace.csproj
  tools/Datadog.Core.Tools/TracerVersion.cs
Labels: area:builds

#604 AspNetWebApi2: Update span information after exception
  samples-aspnet/Samples.AspNetMvc5/Controllers/ApiController.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AspNet/AspNetWebApi2Integration.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/AspNet/AspNetWebApi2Tests.cs
Labels: area:integrations, type:bug

#607 Implement global sample rate config
  samples/Samples.TracingWithoutLimits/Program.cs
  samples/Samples.TracingWithoutLimits/Properties/launchSettings.json
  src/Datadog.Trace/Configuration/ConfigurationKeys.cs
  src/Datadog.Trace/Configuration/TracerSettings.cs
  src/Datadog.Trace/Sampling/CustomSamplingRule.cs
  src/Datadog.Trace/Sampling/GlobalSamplingRule.cs
  src/Datadog.Trace/Sampling/ISamplingRule.cs
  src/Datadog.Trace/Tracer.cs
Labels: status:work-in-progress, type:enhancement

#608 Refactor current implementations of IScopeManager
  src/Datadog.Trace.AspNet/AspNetScopeManager.cs
  src/Datadog.Trace/AsyncLocalScopeManager.cs
  src/Datadog.Trace/ScopeManagerBase.cs
Labels: type:refactor

#612 Fix Active scope synchronization in AspNetScopeManager
  integrations.json
  samples-aspnet/Samples.AspNetMvc5_0/Controllers/HomeController.cs
  samples-aspnet/Samples.AspNetMvc5_0/Samples.AspNetMvc5_0.csproj
  src/Datadog.Trace.AspNet/AspNetScopeManager.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/WebRequestIntegration.cs
Labels: area:tracer, type:bug

#613 Prevent an unhandled SecurityException in DatadogLogging
  src/Datadog.Trace/Configuration/ConfigurationKeys.cs
  src/Datadog.Trace/Logging/DatadogLogging.cs
Labels: area:tracer, severity:breaks-application, type:bug

#614 Fix Trace Id Injection NullReferenceException with NLog 1.0.0.505
  Datadog.Trace.sln
  reproductions/NLog10LogsInjection.NullReferenceException/NLog.config
  reproductions/NLog10LogsInjection.NullReferenceException/NLog10LogsInjection.NullReferenceException.csproj
  reproductions/NLog10LogsInjection.NullReferenceException/Program.cs
  reproductions/NLog10LogsInjection.NullReferenceException/Properties/launchSettings.json
  src/Datadog.Trace/Logging/LibLogScopeEventSubscriber.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/Helpers/TestHelper.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/LoadTests/LoadTestBase.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/SmokeTests/NLog10LogsInjectionNullReferenceExceptionSmokeTest.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/SmokeTests/SmokeTestBase.cs
  test/Datadog.Trace.TestHelpers/EnvironmentHelper.cs
  test/Datadog.Trace.TestHelpers/ProfilerHelper.cs
Labels: area:tracer, severity:missing-traces, type:bug

#616 Simplify release process
  Datadog.Trace.sln
  tools/Datadog.Core.Tools/DependencyHelpers.cs
  tools/GenerateIntegrationDefinitions/GenerateIntegrationDefinitions.csproj
  tools/GenerateIntegrationDefinitions/Properties/launchSettings.json
  tools/PrepareRelease/GenerateIntegrationDefinitions.cs
  tools/PrepareRelease/PrepareRelease.csproj
  tools/PrepareRelease/Program.cs
  tools/PrepareRelease/SetAllVersions.cs
  tools/PrepareRelease/SyncMsiContent.cs
  tools/SynchronizeVersions/SynchronizeVersions.csproj
Labels: area:builds
