Repository DataDog/dd-trace-dotnet, pull requests merged in 2020-12, with the labels that each got.

#1059 Add MacOS support
  .azure-pipelines/unit-tests.yml
  src/Datadog.Trace.ClrProfiler.Native/CMakeLists.txt
  src/Datadog.Trace.ClrProfiler.Native/class_factory.cpp
  src/Datadog.Trace.ClrProfiler.Native/cor_profiler.cpp
  src/Datadog.Trace.ClrProfiler.Native/integration.h
  src/Datadog.Trace.ClrProfiler.Native/logging.cpp
  src/Datadog.Trace.ClrProfiler.Native/pal.h
  src/Datadog.Trace.ClrProfiler.Native/string.h
Labels: area:clr-profiler, type:new-feature

#1066 Allow users to add "_dd.measured" metric to spans
  src/Datadog.Trace/Span.cs
  src/Datadog.Trace/Tags.cs
Labels: area:tracer, type:new-feature

#1073 Commenting SpdLog error handler.
  src/Datadog.Trace.ClrProfiler.Native/logging.cpp
Labels: area:clr-profiler

#1079 Temporarily disable runtime metrics
  src/Datadog.Trace/Tracer.cs
Labels: area:runtime-metrics

#1084 Suppress warning NETSDK1138
  .azure-pipelines/integration-tests.yml
  .azure-pipelines/unit-tests.yml
Labels: area:builds

#1086 Log content of http response on failure
  src/Datadog.Trace/Agent/Api.cs
Labels: area:tracer

#1091 Fix InvalidOperationException in HttpListener tests
  test/Datadog.Trace.TestHelpers/MockTracerAgent.cs
Labels: area:tests

#1090 AAS Tags Enhancements
  src/Datadog.Trace/PlatformHelpers/AzureAppservices.cs
  src/Datadog.Trace/PlatformHelpers/AzureContext.cs
  src/Datadog.Trace/Tags.cs
  src/Datadog.Trace/TraceContext.cs
  test/Datadog.Trace.Tests/PlatformHelpers/AzureAppServicesMetadataTests.cs
Labels: area:tracer, type:bug

#1095 Run statsd worker in a dedicated thread
  src/Datadog.Trace/Vendors/StatsdClient/Worker/AsynchronousWorker.cs
Labels: area:health-metrics, area:runtime-metrics, type:bug

#1093 Add automatic instrumentation for WebRequest.GetResponse() calls that reference System 2.0.0.0
  Datadog.Trace.sln
  integrations.json
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/WebRequestIntegration.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/WebRequest20Tests.cs
  test/test-applications/integrations/Samples.WebRequest.NetFramework20/Program.cs
  test/test-applications/integrations/Samples.WebRequest.NetFramework20/Properties/launchSettings.json
  test/test-applications/integrations/Samples.WebRequest.NetFramework20/Samples.WebRequest.NetFramework20.csproj
  test/test-applications/integrations/dependency-libs/Samples.WebRequestHelper.NetFramework20/RequestHelpers.cs
  test/test-applications/integrations/dependency-libs/Samples.WebRequestHelper.NetFramework20/Samples.WebRequestHelper.NetFramework20.csproj
Labels: area:integrations

#1094 Fix xUnit instrumentation bug
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/Testing/AsyncTool.cs
Labels: area:ci-app, type:bug

#1076 Add new configuration setting DD_TRACE_ADONET_EXCLUDED_TYPES to exclude instrumentation from specified AdoNet types
  Datadog.Trace.sln
  src/Datadog.Trace.ClrProfiler.Managed/ScopeFactory.cs
  src/Datadog.Trace/Configuration/ConfigurationKeys.cs
  src/Datadog.Trace/Configuration/TracerSettings.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/AdoNet/MicrosoftDataSqlClientTests.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/AdoNet/MySqlCommandTests.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/AdoNet/NpgsqlCommandTests.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/AdoNet/SqlCommand20Tests.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/AdoNet/SystemDataSqlClientTests.cs
  test/Datadog.Trace.ClrProfiler.Managed.Tests/Datadog.Trace.ClrProfiler.Managed.Tests.csproj
  test/Datadog.Trace.ClrProfiler.Managed.Tests/ScopeFactoryTests.cs
  test/Datadog.Trace.Tests/Configuration/ConfigurationSourceTests.cs
Labels: area:integrations/adonet, type:new-feature

#1099 Bump the .NET Tracer version to 1.21.1
  build/docker/package.sh
  integrations.json
  samples/ConsoleApp/Alpine3.10.dockerfile
  samples/ConsoleApp/Alpine3.9.dockerfile
  samples/ConsoleApp/Debian.dockerfile
  src/Datadog.Trace.AspNet/Datadog.Trace.AspNet.csproj
  src/Datadog.Trace.ClrProfiler.Managed.Core/Datadog.Trace.ClrProfiler.Managed.Core.csproj
  src/Datadog.Trace.ClrProfiler.Managed.Loader/Datadog.Trace.ClrProfiler.Managed.Loader.csproj
  src/Datadog.Trace.ClrProfiler.Managed.Loader/Startup.cs
  src/Datadog.Trace.ClrProfiler.Managed/Datadog.Trace.ClrProfiler.Managed.csproj
  src/Datadog.Trace.ClrProfiler.Native/CMakeLists.txt
  src/Datadog.Trace.ClrProfiler.Native/Resource.rc
  src/Datadog.Trace.ClrProfiler.Native/dd_profiler_constants.h
  src/Datadog.Trace.ClrProfiler.Native/version.h
  src/Datadog.Trace.MSBuild/Datadog.Trace.MSBuild.csproj
  src/Datadog.Trace.OpenTracing/Datadog.Trace.OpenTracing.csproj
  src/Datadog.Trace.Tools.Runner/Datadog.Trace.Tools.Runner.Standalone.csproj
  src/Datadog.Trace.Tools.Runner/Datadog.Trace.Tools.Runner.Tool.csproj
  src/Datadog.Trace/Datadog.Trace.csproj
  src/Datadog.Trace/TracerConstants.cs
  src/WindowsInstaller/WindowsInstaller.wixproj
  test/test-applications/regression/AutomapperTest/Dockerfile
  tools/Datadog.Core.Tools/TracerVersion.cs
Labels: area:builds

#1089 Activate C# 9
  .azure-pipelines/benchmarks.yml
  .azure-pipelines/integration-tests.yml
  .azure-pipelines/unit-tests.yml
  Directory.Build.props
  src/Datadog.Trace/Tagging/ReadOnlyProperty.cs
Labels: area:builds

#1102 Updating packages pipeline to .NET Core SDK 5
  .azure-pipelines/packages.yml
Labels: area:builds

#1074 Collect metrics from aspnetcore eventcounters
  src/Datadog.Trace/RuntimeMetrics/MetricsNames.cs
  src/Datadog.Trace/RuntimeMetrics/RuntimeEventListener.cs
  src/Datadog.Trace/RuntimeMetrics/RuntimeMetricsWriter.cs
  src/Datadog.Trace/Tracer.cs
  test/Datadog.Trace.Tests/RuntimeMetrics/RuntimeEventListenerTests.cs
  test/Datadog.Trace.Tests/RuntimeMetrics/RuntimeMetricsWriterTests.cs
Labels: area:runtime-metrics

#1081 Add automatic instrumentation for RabbitMQ.Client library
  Datadog.Trace.sln
  GlobalSuppressions.cs
  build/PackageVersionsComprehensive.g.props
  build/PackageVersionsGeneratorDefinitions.json
  build/PackageVersionsLatestMinors.g.props
  build/docker/build.sh
  docker-compose.yml
  integrations.json
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/RabbitMQIntegration.cs
  src/Datadog.Trace.ClrProfiler.Native/cor_profiler.cpp
  src/Datadog.Trace/Configuration/IntegrationIds.cs
  src/Datadog.Trace/SpanContextPropagator.cs
  src/Datadog.Trace/SpanTypes.cs
  src/Datadog.Trace/Tagging/RabbitMQTags.cs
  src/Datadog.Trace/Tagging/ReadOnlyProperty.cs
  src/Datadog.Trace/Tags.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersions.g.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsComprehensive.g.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestMinors.g.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/RabbitMQTests.cs
  test/test-applications/integrations/Samples.RabbitMQ/Program.cs
  test/test-applications/integrations/Samples.RabbitMQ/Properties/launchSettings.json
  test/test-applications/integrations/Samples.RabbitMQ/Samples.RabbitMQ.csproj
Labels: area:integrations, type:new-feature

#1103 Isolate StringBuilderCache
  src/Datadog.Trace/Util/StringBuilderCache.cs
  src/Datadog.Trace/Util/UriHelpers.cs
Labels: area:tracer, type:refactor

#1104 Update .NET Tracer to 1.21.2-prerelease
  build/docker/package.sh
  integrations.json
  samples/ConsoleApp/Alpine3.10.dockerfile
  samples/ConsoleApp/Alpine3.9.dockerfile
  samples/ConsoleApp/Debian.dockerfile
  src/Datadog.Trace.AspNet/Datadog.Trace.AspNet.csproj
  src/Datadog.Trace.ClrProfiler.Managed.Core/Datadog.Trace.ClrProfiler.Managed.Core.csproj
  src/Datadog.Trace.ClrProfiler.Managed.Loader/Datadog.Trace.ClrProfiler.Managed.Loader.csproj
  src/Datadog.Trace.ClrProfiler.Managed.Loader/Startup.cs
  src/Datadog.Trace.ClrProfiler.Managed/Datadog.Trace.ClrProfiler.Managed.csproj
  src/Datadog.Trace.ClrProfiler.Native/CMakeLists.txt
  src/Datadog.Trace.ClrProfiler.Native/Resource.rc
  src/Datadog.Trace.ClrProfiler.Native/dd_profiler_constants.h
  src/Datadog.Trace.ClrProfiler.Native/version.h
  src/Datadog.Trace.MSBuild/Datadog.Trace.MSBuild.csproj
  src/Datadog.Trace.OpenTracing/Datadog.Trace.OpenTracing.csproj
  src/Datadog.Trace.Tools.Runner/Datadog.Trace.Tools.Runner.Standalone.csproj
  src/Datadog.Trace.Tools.Runner/Datadog.Trace.Tools.Runner.Tool.csproj
  src/Datadog.Trace/Datadog.Trace.csproj
  src/Datadog.Trace/TracerConstants.cs
  src/WindowsInstaller/WindowsInstaller.wixproj
  test/test-applications/regression/AutomapperTest/Dockerfile
  tools/Datadog.Core.Tools/TracerVersion.cs
Labels: area:builds

#1105 Verbose Assert Message - DogStatsD Tests
  test/Datadog.Trace.TestHelpers/MockTracerAgent.cs
  test/Datadog.Trace.Tests/DogStatsDTests.cs
Labels: area:tests, type:refactor

#1088 Mock the clock in the RateLimiter tests
  src/Datadog.Trace/Sampling/RateLimiter.cs
  src/Datadog.Trace/Util/Clock.cs
  src/Datadog.Trace/Util/IClock.cs
  test/Datadog.Trace.Tests/Sampling/RateLimiterTests.cs
  test/Datadog.Trace.Tests/SimpleClock.cs
  test/Datadog.Trace.Tests/Util/ClockTests.cs
Labels: area:tests

#1107 Attempt to fix integration-tests build failure "Cannot open Datadog.Trace.dll | Datadog.Trace.AspNet.dll"
  Datadog.Trace.proj
Labels: area:builds

#1092 Cache FrameworkDescription
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/Testing/NUnitIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/Testing/XUnitIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/NativeMethods.cs
  src/Datadog.Trace/Agent/Api.cs
  src/Datadog.Trace/FrameworkDescription.NetCore.cs
  src/Datadog.Trace/FrameworkDescription.NetFramework.cs
  src/Datadog.Trace/PlatformHelpers/AzureAppservices.cs
  src/Datadog.Trace/PlatformHelpers/ContainerMetadata.cs
  src/Datadog.Trace/Tracer.cs
Labels: area:tracer, type:performance-optimizations

#1117 Fixes the flaky mutex destroyed while busy error in integration tests.
  src/Datadog.Trace.ClrProfiler.Native/cor_profiler.cpp
  src/Datadog.Trace.ClrProfiler.Native/logging.h
Labels: area:clr-profiler, type:bug

#1116 Reenable dogfooding by removing the breaking change
  .azure-pipelines/unit-tests.yml
  src/Datadog.Trace/FrameworkDescription.NetCore.cs
  src/Datadog.Trace/FrameworkDescription.NetFramework.cs
Labels: area:ci-app

#1118 Removing warnings from the clang-tidy utility.
  .azure-pipelines/integration-tests.yml
  src/Datadog.Trace.ClrProfiler.Native/CMakeLists.txt
  src/Datadog.Trace.ClrProfiler.Native/calltarget_tokens.cpp
  src/Datadog.Trace.ClrProfiler.Native/cor_profiler.cpp
  src/Datadog.Trace.ClrProfiler.Native/cor_profiler.h
  src/Datadog.Trace.ClrProfiler.Native/rejit_handler.cpp
  src/Datadog.Trace.ClrProfiler.Native/rejit_handler.h
Labels: area:clr-profiler, type:cleanup
