Repository DataDog/dd-trace-dotnet, pull requests merged in 2020-02, with the labels that each got.

#622 fix integration name in SqlCommandIntegration
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AdoNet/SqlCommandIntegration.cs
Labels: area:integrations, type:bug

#623 [Build,Test] Fix compiler warnings and resource name checking
  src/Datadog.Trace.ClrProfiler.Native/clr_helpers.cpp
  src/Datadog.Trace.ClrProfiler.Native/integration.h
  src/Datadog.Trace.ClrProfiler.Native/sig_helpers.cpp
  test/Datadog.Trace.ClrProfiler.IntegrationTests/AspNetCore/AspNetCoreMvcTestBase.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/GraphQLTests.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/Helpers/AspNetCoreMvcSpanExpectation.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/Helpers/GraphQLSpanExpectation.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/Helpers/SpanExpectation.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/Helpers/WebServerSpanExpectation.cs
Labels: area:builds, area:tests

#625 Use shortcut NETCOREAPP ifdef and fix broken build
  test/Datadog.Trace.ClrProfiler.Managed.Tests/IntegrationSignatureTests.cs
  test/Datadog.Trace.OpenTracing.IntegrationTests/Datadog.Trace.OpenTracing.IntegrationTests.csproj
Labels: area:builds, type:cleanup

#627 Version bump to 1.12.0
  deploy/Datadog.Trace.ClrProfiler.WindowsInstaller/Datadog.Trace.ClrProfiler.WindowsInstaller.wixproj
  docker/package.sh
  integrations.json
  reproductions/AutomapperTest/Dockerfile
  src/Datadog.Trace.AspNet/Datadog.Trace.AspNet.csproj
  src/Datadog.Trace.ClrProfiler.Managed.Loader/Datadog.Trace.ClrProfiler.Managed.Loader.csproj
  src/Datadog.Trace.ClrProfiler.Managed.Loader/Startup.cs
  src/Datadog.Trace.ClrProfiler.Managed/Datadog.Trace.ClrProfiler.Managed.csproj
  src/Datadog.Trace.ClrProfiler.Native/CMakeLists.txt
  src/Datadog.Trace.ClrProfiler.Native/Resource.rc
  src/Datadog.Trace.ClrProfiler.Native/version.h
  src/Datadog.Trace.OpenTracing/Datadog.Trace.OpenTracing.csproj
  src/Datadog.Trace/Datadog.Trace.csproj
  tools/Datadog.Core.Tools/TracerVersion.cs
Labels: area:builds

#626 ASP.NET Core Integration: Get MVC route from the ActionDescriptor abstraction
  src/Datadog.Trace/Datadog.Trace.csproj
  src/Datadog.Trace/DiagnosticListeners/AspNetCoreDiagnosticObserver.cs
Labels: area:integrations

#628 don't enable AspNetCoreDiagnosticObserver in net461
  samples/Samples.AspNetCoreMvc21/Samples.AspNetCoreMvc21.csproj
  samples/Samples.AspNetCoreMvc21/Views/Home/Index.cshtml
  samples/Samples.AspNetCoreMvc30/Samples.AspNetCoreMvc30.csproj
  samples/Samples.AspNetCoreMvc31/Samples.AspNetCoreMvc31.csproj
  src/Datadog.Trace/Datadog.Trace.csproj
  src/Datadog.Trace/DiagnosticListeners/AspNetCoreDiagnosticObserver.cs
  src/Datadog.Trace/DiagnosticListeners/AspNetCoreDiagnosticOptions.cs
  src/Datadog.Trace/Tracer.cs
Labels: area:integrations

#629 Update files included in msi installer
  deploy/Datadog.Trace.ClrProfiler.WindowsInstaller/Files.Managed.Net45.GAC.wxs
  deploy/Datadog.Trace.ClrProfiler.WindowsInstaller/Files.Managed.Net45.wxs
  deploy/Datadog.Trace.ClrProfiler.WindowsInstaller/Files.Managed.Net461.wxs
Labels: area:installers

#631 Only reference Datadog.Trace.AspNet as a private reference
  src/Datadog.Trace.ClrProfiler.Managed/Datadog.Trace.ClrProfiler.Managed.csproj
Labels: area:builds

#636 Specific Serilog Vendor Version
  src/Datadog.Trace/Vendors/Serilog.Sinks.File/RollingInterval.cs
  src/Datadog.Trace/Vendors/Serilog.Sinks.File/commit-info.json
  src/Datadog.Trace/Vendors/Serilog/Events/LogEventLevel.cs
  src/Datadog.Trace/Vendors/Serilog/Parsing/Alignment.cs
  src/Datadog.Trace/Vendors/Serilog/Parsing/AlignmentDirection.cs
  src/Datadog.Trace/Vendors/Serilog/Parsing/Destructuring.cs
  src/Datadog.Trace/Vendors/Serilog/commit-info.json
  src/Datadog.Trace/Vendors/StatsdClient/commit-info.json
  tools/PrepareRelease/publish-all.bat
  tools/UpdateVendors/Program.cs
Labels: type:refactor

#637 Build home directory artifact
  .azure-pipelines/packages.yml
  Datadog.Trace.proj
  docs/README.md
Labels: area:builds

#621 Build Alpine (musl) version of the CLR Profiler
  .azure-pipelines/integration-tests.yml
  .azure-pipelines/packages.yml
  customer-samples/ConsoleApp/.dockerignore
  customer-samples/ConsoleApp/Alpine3.10.dockerfile
  customer-samples/ConsoleApp/Alpine3.9.dockerfile
  customer-samples/ConsoleApp/ConsoleApp.csproj
  customer-samples/ConsoleApp/Debian.dockerfile
  customer-samples/ConsoleApp/Program.cs
  customer-samples/ConsoleApp/README.md
  customer-samples/Directory.Build.props
  docker-compose.yml
  docker/Datadog.Trace.ClrProfiler.IntegrationTests.sh
  docker/build.sh
  docker/dotnet.alpine.core21.dockerfile
  docker/dotnet.alpine.core30.dockerfile
  docker/dotnet.alpine.core31.dockerfile
  docker/native.alpine.dockerfile
  docker/package.alpine.dockerfile
  docker/package.sh
  tools/PrepareRelease/SetAllVersions.cs
Labels: area:builds, area:clr-profiler, area:tests, severity:missing-traces, type:enhancement

#639 delete HttpContextIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AspNet/HttpContextIntegration.cs
Labels: area:integrations, type:cleanup

#638 Kill sub processes on process exit
  src/Datadog.Trace/Tracer.cs
  src/Datadog.Trace/TracingProcessManager.cs
Labels: area:azure-site-extension, area:tracer

#647 No static uri for trace agent api
  src/Datadog.Trace/Agent/AgentWriter.cs
  src/Datadog.Trace/Agent/Api.cs
  src/Datadog.Trace/Agent/IAgentWriter.cs
  src/Datadog.Trace/Agent/IApi.cs
  src/Datadog.Trace/Logging/DatadogLogging.cs
  src/Datadog.Trace/Tracer.cs
  src/Datadog.Trace/TracingProcessManager.cs
  src/Datadog.Trace/Vendors/StatsdClient/StatsdUDP.cs
Labels: area:tracer, type:bug

#650 update readme
  docs/README.md
Labels: area:docs

#642 Getting property values: fix potential cache key conflict, improve speed
  .azure-pipelines/integration-tests.yml
  Datadog.Trace.proj
  Datadog.Trace.sln
  docker/build.sh
  reproduction-dependencies/Datadog.StackExchange.Redis.Abstractions/Datadog.StackExchange.Redis.Abstractions.csproj
  reproduction-dependencies/Datadog.StackExchange.Redis.Abstractions/Directory.Build.props
  reproduction-dependencies/Datadog.StackExchange.Redis.Abstractions/ICache.cs
  reproduction-dependencies/Datadog.StackExchange.Redis.StrongName/Datadog.StackExchange.Redis.StrongName.csproj
  reproduction-dependencies/Datadog.StackExchange.Redis.StrongName/Directory.Build.props
  reproduction-dependencies/Datadog.StackExchange.Redis.StrongName/RedisStrongNameClient.cs
  reproduction-dependencies/Datadog.StackExchange.Redis/Datadog.StackExchange.Redis.csproj
  reproduction-dependencies/Datadog.StackExchange.Redis/Directory.Build.props
  reproduction-dependencies/Datadog.StackExchange.Redis/RedisClient.cs
  reproductions/StackExchange.Redis.AssemblyConflict.LegacyProject/App.config
  reproductions/StackExchange.Redis.AssemblyConflict.LegacyProject/Directory.Build.props
  reproductions/StackExchange.Redis.AssemblyConflict.LegacyProject/Program.cs
  reproductions/StackExchange.Redis.AssemblyConflict.LegacyProject/Properties/AssemblyInfo.cs
  reproductions/StackExchange.Redis.AssemblyConflict.LegacyProject/StackExchange.Redis.AssemblyConflict.LegacyProject.csproj
  reproductions/StackExchange.Redis.AssemblyConflict.SdkProject/Program.cs
  reproductions/StackExchange.Redis.AssemblyConflict.SdkProject/Properties/launchSettings.json
  reproductions/StackExchange.Redis.AssemblyConflict.SdkProject/StackExchange.Redis.AssemblyConflict.SdkProject.csproj
  src/Datadog.Trace.ClrProfiler.Managed/Emit/MethodBuilder.cs
  src/Datadog.Trace.ClrProfiler.Managed/Emit/ObjectExtensions.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/StackExchange.Redis/StackExchangeRedisHelper.cs
  src/Datadog.Trace/DiagnosticListeners/AspNetCoreDiagnosticObserver.cs
  src/Datadog.Trace/Util/PropertyFetcher.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/SmokeTests/StackExchangeRedisAssemblyConflictLegacyProjectSmokeTest.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/SmokeTests/StackExchangeRedisAssemblyConflictSdkProjectSmokeTest.cs
  test/Datadog.Trace.ClrProfiler.Managed.Tests/ObjectExtensionTests.cs
Labels: area:integrations, severity:breaks-application, type:bug, type:performance

#651 bump version to 1.13.1-prerelease
  customer-samples/ConsoleApp/Alpine3.10.dockerfile
  customer-samples/ConsoleApp/Alpine3.9.dockerfile
  customer-samples/ConsoleApp/Debian.dockerfile
  deploy/Datadog.Trace.ClrProfiler.WindowsInstaller/Datadog.Trace.ClrProfiler.WindowsInstaller.wixproj
  docker/package.sh
  integrations.json
  reproductions/AutomapperTest/Dockerfile
  src/Datadog.Trace.AspNet/Datadog.Trace.AspNet.csproj
  src/Datadog.Trace.ClrProfiler.Managed.Loader/Datadog.Trace.ClrProfiler.Managed.Loader.csproj
  src/Datadog.Trace.ClrProfiler.Managed.Loader/Startup.cs
  src/Datadog.Trace.ClrProfiler.Managed/Datadog.Trace.ClrProfiler.Managed.csproj
  src/Datadog.Trace.ClrProfiler.Native/CMakeLists.txt
  src/Datadog.Trace.ClrProfiler.Native/Resource.rc
  src/Datadog.Trace.ClrProfiler.Native/version.h
  src/Datadog.Trace.OpenTracing/Datadog.Trace.OpenTracing.csproj
  src/Datadog.Trace/Datadog.Trace.csproj
  tools/Datadog.Core.Tools/TracerVersion.cs
Labels: area:builds

#655 fix threading issue in TracingHttpModule
  samples-aspnet/Samples.AspNetMvc5/Web.config
  src/Datadog.Trace.AspNet/TracingHttpModule.cs
Labels: area:aspnet, severity:breaks-application, type:bug

#656 bump version to 1.13.2
  customer-samples/ConsoleApp/Alpine3.10.dockerfile
  customer-samples/ConsoleApp/Alpine3.9.dockerfile
  customer-samples/ConsoleApp/Debian.dockerfile
  deploy/Datadog.Trace.ClrProfiler.WindowsInstaller/Datadog.Trace.ClrProfiler.WindowsInstaller.wixproj
  docker/package.sh
  integrations.json
  reproductions/AutomapperTest/Dockerfile
  src/Datadog.Trace.AspNet/Datadog.Trace.AspNet.csproj
  src/Datadog.Trace.ClrProfiler.Managed.Loader/Datadog.Trace.ClrProfiler.Managed.Loader.csproj
  src/Datadog.Trace.ClrProfiler.Managed.Loader/Startup.cs
  src/Datadog.Trace.ClrProfiler.Managed/Datadog.Trace.ClrProfiler.Managed.csproj
  src/Datadog.Trace.ClrProfiler.Native/CMakeLists.txt
  src/Datadog.Trace.ClrProfiler.Native/Resource.rc
  src/Datadog.Trace.ClrProfiler.Native/version.h
  src/Datadog.Trace.OpenTracing/Datadog.Trace.OpenTracing.csproj
  src/Datadog.Trace/Datadog.Trace.csproj
  tools/Datadog.Core.Tools/TracerVersion.cs
Labels: area:builds

#657 bump version to 1.13.3-prerelease
  customer-samples/ConsoleApp/Alpine3.10.dockerfile
  customer-samples/ConsoleApp/Alpine3.9.dockerfile
  customer-samples/ConsoleApp/Debian.dockerfile
  deploy/Datadog.Trace.ClrProfiler.WindowsInstaller/Datadog.Trace.ClrProfiler.WindowsInstaller.wixproj
  docker/package.sh
  integrations.json
  reproductions/AutomapperTest/Dockerfile
  src/Datadog.Trace.AspNet/Datadog.Trace.AspNet.csproj
  src/Datadog.Trace.ClrProfiler.Managed.Loader/Datadog.Trace.ClrProfiler.Managed.Loader.csproj
  src/Datadog.Trace.ClrProfiler.Managed.Loader/Startup.cs
  src/Datadog.Trace.ClrProfiler.Managed/Datadog.Trace.ClrProfiler.Managed.csproj
  src/Datadog.Trace.ClrProfiler.Native/CMakeLists.txt
  src/Datadog.Trace.ClrProfiler.Native/Resource.rc
  src/Datadog.Trace.ClrProfiler.Native/version.h
  src/Datadog.Trace.OpenTracing/Datadog.Trace.OpenTracing.csproj
  src/Datadog.Trace/Datadog.Trace.csproj
  tools/Datadog.Core.Tools/TracerVersion.cs
Labels: area:builds

#652 MSI: install Sigil-vNext 4.8.41 into the GAC
  deploy/Datadog.Trace.ClrProfiler.WindowsInstaller/Datadog.Trace.ClrProfiler.WindowsInstaller.wixproj
  deploy/Datadog.Trace.ClrProfiler.WindowsInstaller/Files.Managed.Net461.GAC.wxs
  deploy/Datadog.Trace.ClrProfiler.WindowsInstaller/Product.wxs
Labels: area:installers, type:bug

#646 Azure App Service Tags
  src/Datadog.Trace/Agent/Api.cs
  src/Datadog.Trace/PlatformHelpers/AzureAppservices.cs
  src/Datadog.Trace/PlatformHelpers/ContainerMetadata.cs
  src/Datadog.Trace/Tags.cs
  src/Datadog.Trace/TraceContext.cs
  src/Datadog.Trace/Tracer.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/AzureAppServices/FakeAzureAppServicesTests.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/AzureAppServices/FakeKuduTests.cs
  test/Datadog.Trace.IntegrationTests/ContainerTaggingTests.cs
  test/Datadog.Trace.Tests/PlatformHelpers/AzureAppServicesMetadataTests.cs
  test/Datadog.Trace.Tests/PlatformHelpers/ContainerMetadataTests.cs
Labels: area:tracer
