Repository DataDog/dd-trace-dotnet, pull requests merged in 2020-11, with the labels that each got.

#1013 Update .NET Tracer version to 1.20.0
  build/docker/package.sh
  integrations.json
  samples/ConsoleApp/Alpine3.10.dockerfile
  samples/ConsoleApp/Alpine3.9.dockerfile
  samples/ConsoleApp/Debian.dockerfile
  src/Datadog.Trace.AspNet/Datadog.Trace.AspNet.csproj
  src/Datadog.Trace.ClrProfiler.Managed.Core/Datadog.Trace.ClrProfiler.Managed.Core.csproj
  src/Datadog.Trace.ClrProfiler.Managed.Loader/Datadog.Trace.ClrProfiler.Managed.Loader.csproj
  src/Datadog.Trace.ClrProfiler.Managed.Loader/Startup.cs
  src/Datadog.Trace.ClrProfiler.Managed/Datadog.Trace.ClrProfiler.Managed.csproj
  src/Datadog.Trace.ClrProfiler.Native/CMakeLists.txt
  src/Datadog.Trace.ClrProfiler.Native/Resource.rc
  src/Datadog.Trace.ClrProfiler.Native/dd_profiler_constants.h
  src/Datadog.Trace.ClrProfiler.Native/version.h
  src/Datadog.Trace.DuckTyping/Datadog.Trace.DuckTyping.csproj
  src/Datadog.Trace.MSBuild/Datadog.Trace.MSBuild.csproj
  src/Datadog.Trace.OpenTracing/Datadog.Trace.OpenTracing.csproj
  src/Datadog.Trace.Tools.Runner/Datadog.Trace.Tools.Runner.Standalone.csproj
  src/Datadog.Trace.Tools.Runner/Datadog.Trace.Tools.Runner.Tool.csproj
  src/Datadog.Trace/Datadog.Trace.csproj
  src/WindowsInstaller/WindowsInstaller.wixproj
  test/test-applications/regression/AutomapperTest/Dockerfile
  tools/Datadog.Core.Tools/TracerVersion.cs
Labels: area:builds

#1009 Update Serilog automatic logs injection to use the new message property names
  src/Datadog.Trace/CorrelationIdentifier.cs
  src/Datadog.Trace/Logging/LibLogScopeEventSubscriber.cs
  test/Datadog.Trace.Tests/Logging/SerilogLogProviderTests.cs
Labels: area:tracer

#1012 Add support for token resolution in DumpIL
  src/Datadog.Trace.ClrProfiler.Native/cor_profiler.cpp
  src/Datadog.Trace.ClrProfiler.Native/cor_profiler.h
Labels: area:clr-profiler

#1006 Vendor Tool Optimization
  src/Datadog.Trace/Vendors/MessagePack/_last_downloaded_source_url.txt
  src/Datadog.Trace/Vendors/Newtonsoft.Json/_last_downloaded_source_url.txt
  src/Datadog.Trace/Vendors/Serilog.Sinks.File/_last_downloaded_source_url.txt
  src/Datadog.Trace/Vendors/Serilog/_last_downloaded_source_url.txt
  src/Datadog.Trace/Vendors/StatsdClient/_last_downloaded_source_url.txt
  tools/UpdateVendors/Program.cs
Labels: area:tools

#997 fix assembly names in NpgsqlCommand.ExecuteScalarAsync() integration
  integrations.json
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AdoNet/NpgsqlCommandIntegration.cs
Labels: area:integrations/adonet, type:bug

#1014 Fixes ducktyping on non public structs targets
  src/Datadog.Trace.DuckTyping/DuckType.cs
  test/Datadog.Trace.DuckTyping.Tests/StructTests.cs
Labels: type:bug

#1017 bump Datadog.Trace.ServiceFabric to 1.20.0-alpha1
  src/Datadog.Trace.ServiceFabric/Datadog.Trace.ServiceFabric.csproj
Labels: area:builds, area:integrations

#1018 Fixes broken traces when a WCF service is hosted on IIS
  src/Datadog.Trace.AspNet/TracingHttpModule.cs
Labels: area:integrations/aspnet

#1022 Avoid segfault in NetCoreAssemblyLoadFailureOlderNuGet regression test
  test/test-applications/regression/NetCoreAssemblyLoadFailureOlderNuGet/Program.cs
Labels: area:tests

#1011 Improve managed tracer logs
  src/Datadog.Trace/Agent/Api.cs
  src/Datadog.Trace/Logging/DatadogLogging.cs
Labels: area:tracer, needs-docs-update

#1019 Creates a signed package using internal CI
  .gitlab-ci.yml
  Datadog.Trace.proj
  src/WindowsInstaller/WindowsInstaller.wixproj
  tasks/__init__.py
  tasks/dotnettracer.py
  tasks/ssm.py
  tasks/winbuildscripts/buildwin.bat
Labels: area:builds, area:installers

#1025 Make additional managed + native logging improvements
  .github/ISSUE_TEMPLATE/bug_report.md
  build/docker/Datadog.Trace.ClrProfiler.IntegrationTests.sh
  build/docker/linux-build.dockerfile
  build/docker/with-profiler-logs.bash
  src/Datadog.Trace.ClrProfiler.Managed.Loader/StartupLogger.cs
  src/Datadog.Trace.ClrProfiler.Native/class_factory.cpp
  src/Datadog.Trace.ClrProfiler.Native/cor_profiler.cpp
  src/Datadog.Trace.ClrProfiler.Native/dd_profiler_constants.h
  src/Datadog.Trace.ClrProfiler.Native/environment_variables.h
  src/Datadog.Trace.ClrProfiler.Native/pal.h
  src/Datadog.Trace/Configuration/ConfigurationKeys.cs
  src/Datadog.Trace/Configuration/EnvironmentConfigurationSource.cs
  src/Datadog.Trace/Logging/DatadogLogging.cs
  test/Datadog.Trace.Tests/Logging/DatadogLoggingTests.cs
Labels: area:clr-profiler, area:tests, area:tracer, needs-docs-update

#1001 Add robustness to manual instrumentation code paths on .NET Framework
  Datadog.Trace.sln
  build/tools/PrepareRelease/SetAllVersions.cs
  src/Datadog.Trace.ClrProfiler.Managed.Loader/Startup.cs
  src/Datadog.Trace/Agent/Api.cs
  src/Datadog.Trace/Configuration/GlobalSettings.cs
  src/Datadog.Trace/Tracer.cs
  src/Datadog.Trace/TracerConstants.cs
  src/Datadog.Trace/Util/DomainMetadata.cs
  src/Datadog.Trace/Util/EnvironmentHelpers.cs
  src/Datadog.Trace/Util/ProcessHelpers.cs
  src/Datadog.Trace/Vendors/Serilog/Parsing/PropertyToken.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/SmokeTests/SandboxManualTracingSmokeTest.cs
  test/test-applications/regression/Sandbox.ManualTracing/Program.cs
  test/test-applications/regression/Sandbox.ManualTracing/Properties/launchSettings.json
  test/test-applications/regression/Sandbox.ManualTracing/Sandbox.ManualTracing.csproj
Labels: area:tracer, type:reliability

#1000 Add automatic instrumentation for apps/libraries referencing System.Data 2.0.0.0
  Datadog.Trace.sln
  integrations.json
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AdoNet/DbCommandIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AdoNet/IDbCommandIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AdoNet/SqlCommandIntegration.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/AdoNet/SqlCommand20Tests.cs
  test/test-applications/integrations/Samples.SqlServer.NetFramework20/DbCommandClassExecutor20Adapter.cs
  test/test-applications/integrations/Samples.SqlServer.NetFramework20/DbCommandInterfaceExecutor20Adapter.cs
  test/test-applications/integrations/Samples.SqlServer.NetFramework20/DbCommandInterfaceGenericExecutor20Adapter.cs
  test/test-applications/integrations/Samples.SqlServer.NetFramework20/Program.cs
  test/test-applications/integrations/Samples.SqlServer.NetFramework20/Properties/launchSettings.json
  test/test-applications/integrations/Samples.SqlServer.NetFramework20/Samples.SqlServer.NetFramework20.csproj
  test/test-applications/integrations/Samples.SqlServer.NetFramework20/SqlCommandExecutor20Adapter.cs
  test/test-applications/integrations/dependency-libs/Samples.DatabaseHelper.NetFramework20/DbCommandClassExecutor20.cs
  test/test-applications/integrations/dependency-libs/Samples.DatabaseHelper.NetFramework20/DbCommandInterfaceExecutor20.cs
  test/test-applications/integrations/dependency-libs/Samples.DatabaseHelper.NetFramework20/DbCommandInterfaceGenericExecutor20.cs
  test/test-applications/integrations/dependency-libs/Samples.DatabaseHelper.NetFramework20/Samples.DatabaseHelper.NetFramework20.csproj
  test/test-applications/integrations/dependency-libs/Samples.DatabaseHelper.NetFramework20/SqlCommandExecutor20.cs
  test/test-applications/integrations/dependency-libs/Samples.DatabaseHelper/RelationalDatabaseTestHarness.cs
Labels: area:integrations/adonet

#1032 Update .NET Tracer version to 1.20.1-prerelease
  build/docker/package.sh
  integrations.json
  samples/ConsoleApp/Alpine3.10.dockerfile
  samples/ConsoleApp/Alpine3.9.dockerfile
  samples/ConsoleApp/Debian.dockerfile
  src/Datadog.Trace.AspNet/Datadog.Trace.AspNet.csproj
  src/Datadog.Trace.ClrProfiler.Managed.Core/Datadog.Trace.ClrProfiler.Managed.Core.csproj
  src/Datadog.Trace.ClrProfiler.Managed.Loader/Datadog.Trace.ClrProfiler.Managed.Loader.csproj
  src/Datadog.Trace.ClrProfiler.Managed.Loader/Startup.cs
  src/Datadog.Trace.ClrProfiler.Managed/Datadog.Trace.ClrProfiler.Managed.csproj
  src/Datadog.Trace.ClrProfiler.Native/CMakeLists.txt
  src/Datadog.Trace.ClrProfiler.Native/Resource.rc
  src/Datadog.Trace.ClrProfiler.Native/dd_profiler_constants.h
  src/Datadog.Trace.ClrProfiler.Native/version.h
  src/Datadog.Trace.DuckTyping/Datadog.Trace.DuckTyping.csproj
  src/Datadog.Trace.MSBuild/Datadog.Trace.MSBuild.csproj
  src/Datadog.Trace.OpenTracing/Datadog.Trace.OpenTracing.csproj
  src/Datadog.Trace.Tools.Runner/Datadog.Trace.Tools.Runner.Standalone.csproj
  src/Datadog.Trace.Tools.Runner/Datadog.Trace.Tools.Runner.Tool.csproj
  src/Datadog.Trace/Datadog.Trace.csproj
  src/Datadog.Trace/TracerConstants.cs
  src/WindowsInstaller/WindowsInstaller.wixproj
  test/test-applications/regression/AutomapperTest/Dockerfile
  tools/Datadog.Core.Tools/TracerVersion.cs
Labels: area:builds

#1028 Adds try/catch to the spdlog rotating_logger_mt
  src/Datadog.Trace.ClrProfiler.Native/logging.cpp
Labels: area:clr-profiler

#1027 CleanUriSegment improvements.
  src/Datadog.Trace/Util/UriHelpers.cs
Labels: type:performance-optimizations

#1026 Use the new statsd API
  src/Datadog.Trace.ClrProfiler.Managed/Emit/MethodBuilder.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AspNet/AspNetWebApi2Integration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/LoggerExtensions.cs
  src/Datadog.Trace/Agent/AgentWriter.cs
  src/Datadog.Trace/Agent/Api.cs
  src/Datadog.Trace/DogStatsd/Batch.cs
  src/Datadog.Trace/DogStatsd/BatchStatsd.cs
  src/Datadog.Trace/DogStatsd/IBatchStatsd.cs
  src/Datadog.Trace/DogStatsd/NoOpStatsd.cs
  src/Datadog.Trace/DogStatsd/StatsdExtensions.cs
  src/Datadog.Trace/Tracer.cs
  test/Datadog.Trace.Tests/DogStatsDTests.cs
Labels: area:health-metrics, type:enhancement

#1045 Local trace count for trace count header
  src/Datadog.Trace/Agent/Api.cs
Labels: area:tracer, type:bug

#1042 generate random trace ids for rules-based sampler tests
  src/Datadog.Trace/Util/SpanIdGenerator.cs
  test/Datadog.Trace.Tests/Sampling/RuleBasedSamplerTests.cs
Labels: area:tests, type:bug

#1044 Fixes Permission denied error on the native logger implementation.
  src/Datadog.Trace.ClrProfiler.Native/logging.cpp
  src/Datadog.Trace.ClrProfiler.Native/logging.h
Labels: area:clr-profiler

#1052 improvements to rules-based sampler tests, redux
  src/Datadog.Trace/Sampling/DefaultSamplingRule.cs
  src/Datadog.Trace/SpanContext.cs
  src/Datadog.Trace/Util/SpanIdGenerator.cs
  test/Datadog.Trace.Tests/Sampling/RuleBasedSamplerTests.cs
Labels: area:tests, type:bug

#1033 Add internal setting for the size of the trace queue
  src/Datadog.Trace/Agent/AgentWriter.cs
  src/Datadog.Trace/Agent/AgentWriterBuffer.cs
  src/Datadog.Trace/Configuration/ConfigurationKeys.cs
  src/Datadog.Trace/Configuration/TracerSettings.cs
  src/Datadog.Trace/Tracer.cs
  test/benchmarks/Benchmarks.Trace/AgentWriterBenchmark.cs
Labels: area:tracer

#1047 don't use global tracer in rate limiter tests
  test/Datadog.Trace.Tests/Sampling/RateLimiterTests.cs
Labels: area:tests

#1061 Fix AspNetCoreDiagnosticObserver bug
  .azure-pipelines/setup_tracer.ps1
  src/Datadog.Trace.DuckTyping/DuckAttribute.cs
  src/Datadog.Trace.DuckTyping/DuckType.Methods.cs
  src/Datadog.Trace.DuckTyping/DuckType.Statics.cs
  src/Datadog.Trace.DuckTyping/DuckType.cs
  src/Datadog.Trace/DiagnosticListeners/AspNetCoreDiagnosticObserver.cs
  src/Datadog.Trace/DiagnosticListeners/DiagnosticObserver.cs
  test/Datadog.Trace.Tests/Datadog.Trace.Tests.csproj
  test/Datadog.Trace.Tests/DiagnosticListeners/AspNetCoreDiagnosticObserverTests.cs
Labels: area:integrations, type:bug

#1054 Ducktyping: DynamicMethod call through delegates.
  Datadog.Trace.Minimal.sln
  src/Datadog.Trace.DuckTyping/DuckType.Fields.cs
  src/Datadog.Trace.DuckTyping/DuckType.Methods.cs
  src/Datadog.Trace.DuckTyping/DuckType.Properties.cs
  src/Datadog.Trace.DuckTyping/DuckType.Statics.cs
  src/Datadog.Trace.DuckTyping/ILHelpersExtensions.cs
  src/Datadog.Trace.DuckTyping/LazyILGenerator.cs
  src/Datadog.Trace.DuckTyping/README.md
Labels: area:integrations, type:bug

#1055 Ensures the managed loader is loaded only once.
  Datadog.Trace.sln
  build/docker/build.sh
  src/Datadog.Trace.ClrProfiler.Native/cor_profiler.cpp
  test/Datadog.Trace.ClrProfiler.IntegrationTests/NoMultiLoaderTests.cs
  test/test-applications/integrations/Samples.NoMultiLoader/Program.cs
  test/test-applications/integrations/Samples.NoMultiLoader/Samples.NoMultiLoader.csproj
  test/test-applications/integrations/dependency-libs/Samples.NoMultiLoader.Deps/DatabaseSample.cs
  test/test-applications/integrations/dependency-libs/Samples.NoMultiLoader.Deps/Samples.NoMultiLoader.Deps.csproj
Labels: area:clr-profiler, type:bug
