Repository DataDog/dd-trace-dotnet, pull requests merged in 2020-04, with the labels that each got.

#691 Fix assembly and nuget metadata
  src/Datadog.Trace.AspNet/Datadog.Trace.AspNet.csproj
  src/Datadog.Trace.ClrProfiler.Managed/Datadog.Trace.ClrProfiler.Managed.csproj
  src/Datadog.Trace.OpenTracing/Datadog.Trace.OpenTracing.csproj
  src/Directory.Build.props
Labels: area:builds

#692 bump version to 1.16.0
  customer-samples/ConsoleApp/Alpine3.10.dockerfile
  customer-samples/ConsoleApp/Alpine3.9.dockerfile
  customer-samples/ConsoleApp/Debian.dockerfile
  deploy/Datadog.Trace.ClrProfiler.WindowsInstaller/Datadog.Trace.ClrProfiler.WindowsInstaller.wixproj
  docker/package.sh
  integrations.json
  reproductions/AutomapperTest/Dockerfile
  src/Datadog.Trace.AspNet/Datadog.Trace.AspNet.csproj
  src/Datadog.Trace.ClrProfiler.Managed.Core/Datadog.Trace.ClrProfiler.Managed.Core.csproj
  src/Datadog.Trace.ClrProfiler.Managed.Loader/Datadog.Trace.ClrProfiler.Managed.Loader.csproj
  src/Datadog.Trace.ClrProfiler.Managed.Loader/Startup.cs
  src/Datadog.Trace.ClrProfiler.Managed/Datadog.Trace.ClrProfiler.Managed.csproj
  src/Datadog.Trace.ClrProfiler.Native/CMakeLists.txt
  src/Datadog.Trace.ClrProfiler.Native/Resource.rc
  src/Datadog.Trace.ClrProfiler.Native/version.h
  src/Datadog.Trace.OpenTracing/Datadog.Trace.OpenTracing.csproj
  src/Datadog.Trace/Datadog.Trace.csproj
  tools/Datadog.Core.Tools/TracerVersion.cs
Labels: area:builds

#690 Add CLR Profiler variable to override instrumentation behavior on domain-neutral assemblies
  .azure-pipelines/integration-tests.yml
  samples/Samples.HttpMessageHandler/Program.cs
  src/Datadog.Trace.ClrProfiler.Native/cor_profiler.cpp
  src/Datadog.Trace.ClrProfiler.Native/cor_profiler.h
  src/Datadog.Trace.ClrProfiler.Native/environment_variables.h
  test/Datadog.Trace.ClrProfiler.IntegrationTests/HttpClientTests.cs
  test/Datadog.Trace.TestHelpers/MockTracerAgent.cs
Labels: area:clr-profiler, area:tests, severity:missing-traces

#693 S3 Upload: Rename deb package to include prerelease version
  .azure-pipelines/packages.yml
Labels: area:builds

#694 remove unused project reference
  .azure-pipelines/packages.yml
  .azure-pipelines/unit-tests.yml
  src/Datadog.Trace.ClrProfiler.Managed/Datadog.Trace.ClrProfiler.Managed.csproj
Labels: area:builds

#695 Add automatic instrumentation for SocketsHttpHandler
  samples/Samples.HttpMessageHandler/Program.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/HttpMessageHandlerIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/ScopeFactory.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/HttpClientTests.cs
  test/Datadog.Trace.IntegrationTests/ContainerTaggingTests.cs
  test/Datadog.Trace.Tests/DogStatsDTests.cs
Labels: area:integrations, type:new-feature

#697 Restore ProjectReference to Datadog.Trace.AspNet
  src/Datadog.Trace.ClrProfiler.Managed/Datadog.Trace.ClrProfiler.Managed.csproj
Labels: area:builds

#699 Update PrepareRelease tool to correctly update integrations.json
  tools/PrepareRelease/Program.cs
Labels: area:builds

#700 Make small improvements to integration-tests
  samples/Samples.Elasticsearch.V5/Program.cs
  samples/Samples.Elasticsearch/Program.cs
  samples/Samples.GraphQL/Startup.cs
  samples/Samples.HttpMessageHandler/Program.cs
  samples/Samples.HttpMessageHandler/Samples.HttpMessageHandler.csproj
  samples/Samples.SqlServer/Program.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/AdoNet/DapperCommandTests.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/AdoNet/MySqlCommandTests.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/AdoNet/NpgsqlCommandTests.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/AdoNet/SqlCommandTests.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/AspNetCore/AspNetCoreMvcTestBase.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/AzureAppServices/FakeAzureAppServicesTests.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/AzureAppServices/FakeKuduTests.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/Elasticsearch5Tests.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/Elasticsearch6Tests.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/GraphQLTests.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/Helpers/IisFixture.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/HttpClientTests.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/LoadTests/AspNetCoreMvc21LoadTests.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/LoadTests/LoadTestBase.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/MongoDbTests.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/ServiceStackRedisTests.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/SmokeTests/EntityFramework6xMdTokenLookupFailure.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/SmokeTests/SmokeTestBase.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/StackExchangeRedisTests.cs
  test/Datadog.Trace.TestHelpers/MockTracerAgent.cs
  test/Datadog.Trace.TestHelpers/TcpPortProvider.cs
  test/Datadog.Trace.Tests/DogStatsDTests.cs
  tools/Datadog.Core.Tools/TcpPortProvider.cs
Labels: area:builds

#702 [ClrProfiler] Fix DbCommand.xxxAsync failures on 32-bit .NET Framework
  .azure-pipelines/integration-tests.yml
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AdoNet/DbCommandIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AdoNet/NpgsqlCommandIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AdoNet/SqlCommandIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AspNet/AspNetWebApi2Integration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/ElasticsearchNet5Integration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/ElasticsearchNet6Integration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/HttpMessageHandlerIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/MongoDbIntegration.cs
  src/Datadog.Trace.ClrProfiler.Native/class_factory.cpp
  src/Datadog.Trace.ClrProfiler.Native/cor_profiler.cpp
  src/Datadog.Trace.ClrProfiler.Native/il_rewriter_wrapper.cpp
  src/Datadog.Trace.ClrProfiler.Native/il_rewriter_wrapper.h
  src/Datadog.Trace.ClrProfiler.Native/integration.h
Labels: area:clr-profiler, type:bug

#696 Replace "MsgPack" library with "MessagePack"
  deploy/Datadog.Trace.ClrProfiler.WindowsInstaller/Files.Managed.Net45.GAC.wxs
  deploy/Datadog.Trace.ClrProfiler.WindowsInstaller/Files.Managed.Net45.wxs
  deploy/Datadog.Trace.ClrProfiler.WindowsInstaller/Files.Managed.Net461.wxs
  deploy/Datadog.Trace.ClrProfiler.WindowsInstaller/Files.Managed.NetStandard20.wxs
  reproductions/StackExchange.Redis.StackOverflowException/StackExchange.Redis.StackOverflowException.csproj
  samples/Samples.HttpMessageHandler/Program.cs
  samples/Samples.HttpMessageHandler/Samples.HttpMessageHandler.csproj
  src/Datadog.Trace/Agent/Api.cs
  src/Datadog.Trace/Agent/MessagePack/FormatterResolverWrapper.cs
  src/Datadog.Trace/Agent/MessagePack/SpanFormatterResolver.cs
  src/Datadog.Trace/Agent/MessagePack/SpanMessagePackFormatter.1_9.cs
  src/Datadog.Trace/Agent/MessagePack/SpanMessagePackFormatter.2_1.cs
  src/Datadog.Trace/Agent/MessagePack/TracesMessagePackContent.cs
  src/Datadog.Trace/Agent/MsgPackContent.cs
  src/Datadog.Trace/Agent/SpanMessagePackSerializer.cs
  src/Datadog.Trace/Datadog.Trace.csproj
  test/Datadog.Trace.IntegrationTests/SendTracesToAgent.cs
  test/Datadog.Trace.TestHelpers/Datadog.Trace.TestHelpers.csproj
Labels: area:tracer, type:performance-overhead

#705 Add CI smoke test for domain-neutral assembly instrumentation scenario
  Datadog.Trace.sln
  reproduction-dependencies/DomainNeutralAssemblies.App.HttpBindingRedirects/App.config
  reproduction-dependencies/DomainNeutralAssemblies.App.HttpBindingRedirects/DomainNeutralAssemblies.App.HttpBindingRedirects.csproj
  reproduction-dependencies/DomainNeutralAssemblies.App.HttpBindingRedirects/Program.cs
  reproduction-dependencies/DomainNeutralAssemblies.App.NoBindingRedirects/App.config
  reproduction-dependencies/DomainNeutralAssemblies.App.NoBindingRedirects/DomainNeutralAssemblies.App.NoBindingRedirects.csproj
  reproduction-dependencies/DomainNeutralAssemblies.App.NoBindingRedirects/Program.cs
  reproductions/DomainNeutralAssemblies.FileLoadException/DomainNeutralAssemblies.FileLoadException.csproj
  reproductions/DomainNeutralAssemblies.FileLoadException/Program.cs
  reproductions/DomainNeutralAssemblies.FileLoadException/Properties/launchSettings.json
  test/Datadog.Trace.ClrProfiler.IntegrationTests/SmokeTests/DomainNeutralAssembliesFileLoadExceptionSmokeTest.cs
Labels: area:tests

#709 Enable the HttpSocketsHandler behind opt-in flag
  samples/Samples.HttpMessageHandler/Properties/launchSettings.json
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/HttpMessageHandlerIntegration.cs
  src/Datadog.Trace/Configuration/TracerSettings.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/HttpClientTests.cs
Labels: area:integrations

#708 remove assert() calls in the profiler
  samples/Samples.SqlServer/Properties/launchSettings.json
  src/Datadog.Trace.ClrProfiler.Native/cor_profiler.cpp
  src/Datadog.Trace.ClrProfiler.Native/il_rewriter.cpp
  src/Datadog.Trace.ClrProfiler.Native/il_rewriter.h
  src/Datadog.Trace.ClrProfiler.Native/macros.h
Labels: area:clr-profiler

#704 Refactor CI pipelines
  .azure-pipelines/integration-tests.yml
  .azure-pipelines/packages.yml
  .azure-pipelines/unit-tests.yml
  Datadog.Trace.proj
  deploy/Datadog.Trace.ClrProfiler.WindowsInstaller/Config.wxi
  deploy/Datadog.Trace.ClrProfiler.WindowsInstaller/Datadog.Trace.ClrProfiler.WindowsInstaller.wixproj
  deploy/Datadog.Trace.ClrProfiler.WindowsInstaller/Files.Managed.Net45.GAC.wxs
  deploy/Datadog.Trace.ClrProfiler.WindowsInstaller/Files.Managed.Net45.wxs
  deploy/Datadog.Trace.ClrProfiler.WindowsInstaller/Files.Managed.Net461.GAC.wxs
  deploy/Datadog.Trace.ClrProfiler.WindowsInstaller/Files.Managed.Net461.wxs
  deploy/Datadog.Trace.ClrProfiler.WindowsInstaller/Files.Managed.NetStandard20.wxs
  deploy/Datadog.Trace.ClrProfiler.WindowsInstaller/Product.wxs
  tools/PrepareRelease/SyncMsiContent.cs
Labels: area:builds

#713 [Profiler] Prevent IIS LoaderOptimization startup issue
  .azure-pipelines/integration-tests.yml
  .dockerignore
  docker-compose.yml
  docker/IIS/LoaderOptimizationRegKey.dockerfile
  samples-iis/Directory.Build.props
  samples-iis/Samples.AspNet472.LoaderOptimizationRegKey/About.aspx
  samples-iis/Samples.AspNet472.LoaderOptimizationRegKey/About.aspx.cs
  samples-iis/Samples.AspNet472.LoaderOptimizationRegKey/About.aspx.designer.cs
  samples-iis/Samples.AspNet472.LoaderOptimizationRegKey/App_Start/RouteConfig.cs
  samples-iis/Samples.AspNet472.LoaderOptimizationRegKey/Bundle.config
  samples-iis/Samples.AspNet472.LoaderOptimizationRegKey/Contact.aspx
  samples-iis/Samples.AspNet472.LoaderOptimizationRegKey/Contact.aspx.cs
  samples-iis/Samples.AspNet472.LoaderOptimizationRegKey/Contact.aspx.designer.cs
  samples-iis/Samples.AspNet472.LoaderOptimizationRegKey/Content/Site.css
  samples-iis/Samples.AspNet472.LoaderOptimizationRegKey/Default.aspx
  samples-iis/Samples.AspNet472.LoaderOptimizationRegKey/Default.aspx.cs
  samples-iis/Samples.AspNet472.LoaderOptimizationRegKey/Default.aspx.designer.cs
  samples-iis/Samples.AspNet472.LoaderOptimizationRegKey/Global.asax
  samples-iis/Samples.AspNet472.LoaderOptimizationRegKey/Global.asax.cs
  samples-iis/Samples.AspNet472.LoaderOptimizationRegKey/Properties/AssemblyInfo.cs
  samples-iis/Samples.AspNet472.LoaderOptimizationRegKey/Properties/PublishProfiles/FolderProfile.pubxml
  samples-iis/Samples.AspNet472.LoaderOptimizationRegKey/Samples.AspNet472.LoaderOptimizationRegKey.csproj
  samples-iis/Samples.AspNet472.LoaderOptimizationRegKey/Site.Master
  samples-iis/Samples.AspNet472.LoaderOptimizationRegKey/Site.Master.cs
  samples-iis/Samples.AspNet472.LoaderOptimizationRegKey/Site.Master.designer.cs
  samples-iis/Samples.AspNet472.LoaderOptimizationRegKey/Site.Mobile.Master
  samples-iis/Samples.AspNet472.LoaderOptimizationRegKey/Site.Mobile.Master.cs
  samples-iis/Samples.AspNet472.LoaderOptimizationRegKey/Site.Mobile.Master.designer.cs
  samples-iis/Samples.AspNet472.LoaderOptimizationRegKey/ViewSwitcher.ascx
  samples-iis/Samples.AspNet472.LoaderOptimizationRegKey/ViewSwitcher.ascx.cs
  samples-iis/Samples.AspNet472.LoaderOptimizationRegKey/ViewSwitcher.ascx.designer.cs
  samples-iis/Samples.AspNet472.LoaderOptimizationRegKey/Web.Debug.config
  samples-iis/Samples.AspNet472.LoaderOptimizationRegKey/Web.Release.config
  samples-iis/Samples.AspNet472.LoaderOptimizationRegKey/Web.config
  samples-iis/Samples.AspNet472.LoaderOptimizationRegKey/favicon.ico
  samples-iis/Samples.AspNet472.LoaderOptimizationRegKey/packages.config
  samples-iis/samples-iis.sln
  src/Datadog.Trace.ClrProfiler.Native/cor_profiler.cpp
  test/Datadog.Trace.ClrProfiler.IntegrationTests/AspNetCore/AspNetCoreMvc21Tests.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/AspNetCore/AspNetCoreMvc30Tests.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/AspNetCore/AspNetCoreMvc31Tests.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/AspNetCore/AspNetCoreMvcTestBase.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/IIS/LoaderOptimizationStartup.cs
Labels: area:clr-profiler, priority:high

#714 Fix packages build to download x64 MSI after refactor
  .azure-pipelines/packages.yml
Labels: area:builds
