Repository DataDog/dd-trace-dotnet, pull requests merged in 2021-10, with the labels that each got.

#1776 Scan integration test logs for errors
  .azure-pipelines/ultimate-pipeline.yml
  tracer/build/_build/Build.Steps.cs
Labels: area:builds, type:reliability

#1841 Add LifetimeManager for handling shutdown events
  tracer/src/Datadog.Trace/AppSec/Security.cs
  tracer/src/Datadog.Trace/Ci/CIVisibility.cs
  tracer/src/Datadog.Trace/LifetimeManager.cs
  tracer/src/Datadog.Trace/Tracer.cs
Labels: area:tracer, type:refactor

#1848 Additional updates to launchSettings.json for test applications
  tracer/test/test-applications/instrumentation/CallTargetNativeTest/Properties/launchSettings.json
  tracer/test/test-applications/integrations/LogsInjection.ILogger/Properties/launchSettings.json
  tracer/test/test-applications/integrations/Samples.AWS.SQS/Properties/launchSettings.json
  tracer/test/test-applications/integrations/Samples.Aerospike/Properties/launchSettings.json
  tracer/test/test-applications/integrations/Samples.AspNetCoreMvc21/Properties/launchSettings.json
  tracer/test/test-applications/integrations/Samples.CosmosDb/Properties/launchSettings.json
  tracer/test/test-applications/integrations/Samples.Dapper/Properties/launchSettings.json
  tracer/test/test-applications/integrations/Samples.Elasticsearch.V5/Properties/launchSettings.json
  tracer/test/test-applications/integrations/Samples.Elasticsearch.V7/Properties/launchSettings.json
  tracer/test/test-applications/integrations/Samples.Elasticsearch/Properties/launchSettings.json
  tracer/test/test-applications/integrations/Samples.FakeDbCommand/Properties/launchSettings.json
  tracer/test/test-applications/integrations/Samples.GraphQL/Properties/launchSettings.json
  tracer/test/test-applications/integrations/Samples.GraphQL3/Properties/launchSettings.json
  tracer/test/test-applications/integrations/Samples.GraphQL4/Properties/launchSettings.json
  tracer/test/test-applications/integrations/Samples.HttpMessageHandler/Properties/launchSettings.json
  tracer/test/test-applications/integrations/Samples.Kafka/Properties/launchSettings.json
  tracer/test/test-applications/integrations/Samples.Microsoft.Data.SqlClient/Properties/launchSettings.json
  tracer/test/test-applications/integrations/Samples.Microsoft.Data.Sqlite/Properties/launchSettings.json
  tracer/test/test-applications/integrations/Samples.MongoDB/Properties/launchSettings.json
  tracer/test/test-applications/integrations/Samples.Msmq/Properties/launchSettings.json
  tracer/test/test-applications/integrations/Samples.MultiDomainHost.Runner/Properties/launchSettings.json
  tracer/test/test-applications/integrations/Samples.MySql/Properties/launchSettings.json
  tracer/test/test-applications/integrations/Samples.Npgsql/Properties/launchSettings.json
  tracer/test/test-applications/integrations/Samples.OracleMDA.Core/Properties/launchSettings.json
  tracer/test/test-applications/integrations/Samples.OracleMDA/Properties/launchSettings.json
  tracer/test/test-applications/integrations/Samples.Owin.WebApi2/Properties/launchSettings.json
  tracer/test/test-applications/integrations/Samples.RabbitMQ/Properties/launchSettings.json
  tracer/test/test-applications/integrations/Samples.RateLimiter/Properties/launchSettings.json
  tracer/test/test-applications/integrations/Samples.RuntimeMetrics/Properties/launchSettings.json
  tracer/test/test-applications/integrations/Samples.SQLite.Core/Properties/launchSettings.json
  tracer/test/test-applications/integrations/Samples.ServiceStack.Redis/Properties/launchSettings.json
  tracer/test/test-applications/integrations/Samples.SqlServer.NetFramework20/Properties/launchSettings.json
  tracer/test/test-applications/integrations/Samples.SqlServer/Properties/launchSettings.json
  tracer/test/test-applications/integrations/Samples.StackExchange.Redis/Properties/launchSettings.json
  tracer/test/test-applications/integrations/Samples.TracingWithoutLimits/Properties/launchSettings.json
  tracer/test/test-applications/integrations/Samples.Wcf/Properties/launchSettings.json
  tracer/test/test-applications/integrations/Samples.WebRequest.NetFramework20/Properties/launchSettings.json
  tracer/test/test-applications/integrations/Samples.WebRequest/Properties/launchSettings.json
  tracer/test/test-applications/regression/AssemblyLoad.FileNotFoundException/Properties/launchSettings.json
  tracer/test/test-applications/regression/AssemblyResolveMscorlibResources.InfiniteRecursionCrash/Properties/launchSettings.json
  tracer/test/test-applications/regression/AutomapperTest/Properties/launchSettings.json
  tracer/test/test-applications/regression/DuplicateTypeProxy/Properties/launchSettings.json
  tracer/test/test-applications/regression/EnumerateAssemblyReferences/Properties/launchSettings.json
  tracer/test/test-applications/regression/HttpMessageHandler.StackOverflowException/Properties/launchSettings.json
  tracer/test/test-applications/regression/ServiceBus.Minimal.MassTransit/Properties/launchSettings.json
  tracer/test/test-applications/regression/ServiceBus.Minimal.NServiceBus/Properties/launchSettings.json
  tracer/test/test-applications/regression/ServiceBus.Minimal.Rebus/Properties/launchSettings.json
  tracer/test/test-applications/regression/StackExchange.Redis.AssemblyConflict.SdkProject/Properties/launchSettings.json
  tracer/test/test-applications/regression/StackExchange.Redis.StackOverflowException/Properties/launchSettings.json
  tracer/test/test-applications/regression/dependency-libs/AppDomain.Instance/Properties/launchSettings.json
  tracer/test/test-applications/security/Samples.AspNetCore2/Properties/launchSettings.json
  tracer/test/test-applications/throughput/Samples.AspNetCoreSimpleController/Properties/launchSettings.json
Labels: area:test-apps

#1867 Kill the old Samples.Shared project
  Datadog.Trace.sln
  tracer/test/test-applications/aspnet/Samples.AspNetMvc5/Controllers/DistributedTracingApiController.cs
  tracer/test/test-applications/aspnet/Samples.AspNetMvc5/Controllers/DistributedTracingMvcController.cs
  tracer/test/test-applications/aspnet/Samples.AspNetMvc5/Samples.AspNetMvc5.csproj
  tracer/test/test-applications/integrations/dependency-libs/Samples.Shared/Samples.Shared.csproj
  tracer/test/test-applications/integrations/dependency-libs/Samples.Shared/Web/DistributedTracingModel.cs
  tracer/test/test-applications/integrations/dependency-libs/Samples.Shared/Web/HttpClientExtensions.cs
Labels: type:cleanup

#1710 Re-implement log4net logs injection
  tracer/integrations.json
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Logging/Log4Net/AppenderAttachedImplIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Logging/Log4Net/ILoggingEvent.cs
  tracer/src/Datadog.Trace/ClrProfiler/InstrumentationDefinitions.Generated.cs
  tracer/src/Datadog.Trace/ClrProfiler/Integrations/Logging/Log4NetIntegration.cs
  tracer/src/Datadog.Trace/Logging/CustomLog4NetLogProvider.cs
  tracer/src/Datadog.Trace/Logging/LibLogScopeEventSubscriber.cs
  tracer/src/Datadog.Trace/Logging/Log4NetEnricher.cs
  tracer/src/Datadog.Trace/Logging/NoOpLog4NetLogProvider.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/Log4NetTests.cs
  tracer/test/Datadog.Trace.Tests/Logging/Log4NetLogProviderTests.cs
  tracer/test/benchmarks/Benchmarks.Trace/Log4netBenchmark.cs
  tracer/test/test-applications/integrations/LogsInjection.Log4Net/Program.cs
  tracer/test/test-applications/integrations/LogsInjection.Log4Net/Properties/launchSettings.json
  tracer/test/test-applications/integrations/LogsInjection.Log4Net/log4net.205.config
  tracer/test/test-applications/integrations/LogsInjection.Log4Net/log4net.Pre205.config
  tracer/test/test-applications/integrations/dependency-libs/LogsInjectionHelper/LoggingMethods.cs
Labels: area:integrations, needs-docs-update, area:logs-injection

#1868 Delete performance pipeline, and manually update GitHub statuses
  .azure-pipelines/performance.yml
  .azure-pipelines/steps/restore-working-directory.yml
  .azure-pipelines/steps/update-github-status-jobs.yml
  .azure-pipelines/ultimate-pipeline.yml
  tracer/build/_build/Build.GitHub.cs
  tracer/build/_build/NukeExtensions/GitHubCheckStatus.cs
  tracer/build/crank/run.sh
Labels: area:builds
