Repository DataDog/dd-trace-dotnet, pull requests merged in 2021-12, with the labels that each got.

#2104 Fix host metadata kernel information
  tracer/src/Datadog.Trace/PlatformHelpers/HostMetadata.cs
  tracer/test/Datadog.Trace.Tests/PlatformHelpers/HostMetadataTests.cs
Labels: type:bug, area:tracer

#2106 Fix flaky test in unit tests
  tracer/test/Datadog.Trace.Tests/PlatformHelpers/AzureAppServicesMetadataTests.cs
  tracer/test/Datadog.Trace.Tests/TracerTests.cs
Labels: area:tests

#2117 Update dependabot/Nuke targets
  .github/workflows/auto_bump_test_package_versions.yml
  .github/workflows/create_version_bump_pr.yml
  tracer/build/PackageVersionsLatestMajors.g.props
  tracer/build/PackageVersionsLatestMinors.g.props
  tracer/build/_build/Build.GitHub.cs
  tracer/build/_build/Build.Utilities.cs
  tracer/build/_build/Honeypot/IntegrationGroups.cs
  tracer/dependabot/Datadog.Dependabot.Integrations.csproj
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestMajors.g.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestMinors.g.cs
Labels: area:builds, area:test-apps

#2017 Remove SpanId argument from StartActiveWithTags
  tracer/src/Datadog.Trace/Tracer.cs
Labels: type:bug, area:tracer

#2130 Fix benchmarks comparison
  tracer/build/_build/BenchmarkComparison/BenchmarkComparer.cs
  tracer/build/_build/BenchmarkComparison/BenchmarkMarkdownGenerator.cs
Labels: type:bug, area:builds, area:benchmarks

#2128 Use the non truncated UserAgent property in .netfx webapi
  tracer/src/Datadog.Trace/AppSec/Security.cs
  tracer/src/Datadog.Trace/AppSec/Transports/Http/HttpTransport.Core.cs
  tracer/src/Datadog.Trace/AppSec/Transports/Http/HttpTransport.Framework.cs
  tracer/src/Datadog.Trace/AppSec/Transports/ITransport.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AspNet/AspNetWebApi2Integration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AspNet/IRequestHeaders.cs
  tracer/src/Datadog.Trace/HttpHeaderNames.cs
  tracer/src/Datadog.Trace/SpanContextPropagator.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AspNet/AspNetMvc4Tests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AspNet/OwinWebApi2Tests.cs
  tracer/test/Datadog.Trace.Tests/HeadersCollectionTests.cs
  tracer/test/Datadog.Trace.Tests/Snapshots/PublicApiTests.PublicApiHasNotChanged.verified.txt
  tracer/test/snapshots/OwinWebApi2Tests.NoFF.__path=_api2_delayAsync_0_statusCode=200.verified.txt
  tracer/test/snapshots/OwinWebApi2Tests.NoFF.__path=_api2_delay_0_statusCode=200.verified.txt
  tracer/test/snapshots/OwinWebApi2Tests.NoFF.__path=_api2_optional_1_statusCode=200.verified.txt
  tracer/test/snapshots/OwinWebApi2Tests.NoFF.__path=_api2_optional_statusCode=200.verified.txt
  tracer/test/snapshots/OwinWebApi2Tests.NoFF.__path=_api2_statuscode_201-ps=true&ts=false_statusCode=201.verified.txt
  tracer/test/snapshots/OwinWebApi2Tests.NoFF.__path=_api2_statuscode_201-ps=true&ts=true_statusCode=201.verified.txt
  tracer/test/snapshots/OwinWebApi2Tests.NoFF.__path=_api2_statuscode_201_statusCode=201.verified.txt
  tracer/test/snapshots/OwinWebApi2Tests.NoFF.__path=_api2_statuscode_503_statusCode=503.verified.txt
  tracer/test/snapshots/OwinWebApi2Tests.NoFF.__path=_api2_transientfailure_false_statusCode=500.verified.txt
  tracer/test/snapshots/OwinWebApi2Tests.NoFF.__path=_api2_transientfailure_true_statusCode=200.verified.txt
  tracer/test/snapshots/OwinWebApi2Tests.NoFF.__path=_api_absolute-route_statusCode=200.verified.txt
  tracer/test/snapshots/OwinWebApi2Tests.NoFF.__path=_api_delay-async_0_statusCode=200.verified.txt
  tracer/test/snapshots/OwinWebApi2Tests.NoFF.__path=_api_delay-optional_1_statusCode=200.verified.txt
  tracer/test/snapshots/OwinWebApi2Tests.NoFF.__path=_api_delay-optional_statusCode=200.verified.txt
  tracer/test/snapshots/OwinWebApi2Tests.NoFF.__path=_api_delay_0_statusCode=200.verified.txt
  tracer/test/snapshots/OwinWebApi2Tests.NoFF.__path=_api_environment_statusCode=200.verified.txt
  tracer/test/snapshots/OwinWebApi2Tests.NoFF.__path=_api_statuscode_201_statusCode=201.verified.txt
  tracer/test/snapshots/OwinWebApi2Tests.NoFF.__path=_api_statuscode_503_statusCode=503.verified.txt
  tracer/test/snapshots/OwinWebApi2Tests.NoFF.__path=_api_transient-failure_false_statusCode=500.verified.txt
  tracer/test/snapshots/OwinWebApi2Tests.NoFF.__path=_api_transient-failure_true_statusCode=200.verified.txt
  tracer/test/snapshots/OwinWebApi2Tests.WithFF.__path=_api2_delayAsync_0_statusCode=200.verified.txt
  tracer/test/snapshots/OwinWebApi2Tests.WithFF.__path=_api2_delay_0_statusCode=200.verified.txt
  tracer/test/snapshots/OwinWebApi2Tests.WithFF.__path=_api2_optional_1_statusCode=200.verified.txt
  tracer/test/snapshots/OwinWebApi2Tests.WithFF.__path=_api2_optional_statusCode=200.verified.txt
  tracer/test/snapshots/OwinWebApi2Tests.WithFF.__path=_api2_statuscode_201-ps=true&ts=false_statusCode=201.verified.txt
  tracer/test/snapshots/OwinWebApi2Tests.WithFF.__path=_api2_statuscode_201-ps=true&ts=true_statusCode=201.verified.txt
  tracer/test/snapshots/OwinWebApi2Tests.WithFF.__path=_api2_statuscode_201_statusCode=201.verified.txt
  tracer/test/snapshots/OwinWebApi2Tests.WithFF.__path=_api2_statuscode_503_statusCode=503.verified.txt
  tracer/test/snapshots/OwinWebApi2Tests.WithFF.__path=_api2_transientfailure_false_statusCode=500.verified.txt
  tracer/test/snapshots/OwinWebApi2Tests.WithFF.__path=_api2_transientfailure_true_statusCode=200.verified.txt
  tracer/test/snapshots/OwinWebApi2Tests.WithFF.__path=_api_absolute-route_statusCode=200.verified.txt
  tracer/test/snapshots/OwinWebApi2Tests.WithFF.__path=_api_delay-async_0_statusCode=200.verified.txt
  tracer/test/snapshots/OwinWebApi2Tests.WithFF.__path=_api_delay-optional_1_statusCode=200.verified.txt
  tracer/test/snapshots/OwinWebApi2Tests.WithFF.__path=_api_delay-optional_statusCode=200.verified.txt
  tracer/test/snapshots/OwinWebApi2Tests.WithFF.__path=_api_delay_0_statusCode=200.verified.txt
  tracer/test/snapshots/OwinWebApi2Tests.WithFF.__path=_api_environment_statusCode=200.verified.txt
  tracer/test/snapshots/OwinWebApi2Tests.WithFF.__path=_api_statuscode_201_statusCode=201.verified.txt
  tracer/test/snapshots/OwinWebApi2Tests.WithFF.__path=_api_statuscode_503_statusCode=503.verified.txt
  tracer/test/snapshots/OwinWebApi2Tests.WithFF.__path=_api_transient-failure_false_statusCode=500.verified.txt
  tracer/test/snapshots/OwinWebApi2Tests.WithFF.__path=_api_transient-failure_true_statusCode=200.verified.txt
Labels: area:tracer, area:integrations

#2133 Add space before exception message
  tracer/src/Datadog.Trace/Logging/Internal/DatadogLogging.cs
Labels: area:tracer

#2131 Update ITracer interface
  tracer/src/Datadog.Trace/ITracer.cs
  tracer/src/Datadog.Trace/SpanCreationSettings.cs
  tracer/src/Datadog.Trace/Tracer.cs
  tracer/test/Datadog.Trace.Tests/Snapshots/PublicApiTests.PublicApiHasNotChanged.verified.txt
Labels: area:tracer

#2114 Centralize Mock Trace Agent Initialization
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AWS/AwsSqsTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AdoNet/DapperTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AdoNet/FakeCommandTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AdoNet/MicrosoftDataSqlClientTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AdoNet/MicrosoftDataSqliteTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AdoNet/MySqlCommandTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AdoNet/MySqlConnectorTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AdoNet/NpgsqlCommandTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AdoNet/SqlCommand20Tests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AdoNet/SystemDataSqlClientTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AdoNet/SystemDataSqliteTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AerospikeTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/MsTestV2Tests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/NUnitTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/XUnitTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CallTargetNativeTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CosmosTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/Couchbase3Tests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CouchbaseTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/Elasticsearch5Tests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/Elasticsearch6Tests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/Elasticsearch7Tests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/GraphQLTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/HttpMessageHandlerTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/ILoggerTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/KafkaTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/Log4NetTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/MongoDbTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/MsmqTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/MultiDomainHostTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/NLogTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/NativeProfilerChecks.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/RabbitMQTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/RuntimeMetricsTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/SerilogTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/ServiceMappingTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/ServiceStackRedisTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/SmokeTests/SmokeTestBase.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/StackExchangeRedisTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/VersionConflict/VersionConflict1xTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/VersionConflict/VersionConflict2xTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/WcfTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/WebRequest20Tests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/WebRequestTests.cs
  tracer/test/Datadog.Trace.TestHelpers/EnvironmentHelper.cs
Labels: area:tests

#2118 Bump supported version of NUnit3TestAdapter
  tracer/dependabot/Datadog.Dependabot.Integrations.csproj
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/NUnit/NUnitTestAdapterUnloadIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/InstrumentationDefinitions.Generated.cs
Labels: area:integrations, area:ci-app

#2123 [AppSec] Fix tag prefix bug
  tracer/src/Datadog.Trace/AppSec/Security.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/AspNetBase.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/AspNetCore2.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/AspNetCore5.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/AspNetMvc5.cs
Labels: area:app-sec

#2137 Reinstate Integration.AdoNet integration
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AdoNet/AdoNetClientInstrumentMethodAttribute.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AdoNet/AdoNetConstants.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AdoNet/DbScopeFactory.cs
  tracer/src/Datadog.Trace/Configuration/IntegrationId.cs
  tracer/test/Datadog.Trace.ClrProfiler.Managed.Tests/DbScopeFactoryTests.cs
Labels: area:integrations

#2134 Make Span internal
  Datadog.Trace.sln
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AspNet/AspNetMvcIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Kafka/KafkaProduceSyncDeliveryHandlerIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/CallTarget/CallTargetState.cs
  tracer/src/Datadog.Trace/Scope.IScope.cs
  tracer/src/Datadog.Trace/Scope.cs
  tracer/src/Datadog.Trace/Span.ISpan.cs
  tracer/src/Datadog.Trace/Span.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/SmokeTests/TraceContextSmokeTest.cs
  tracer/test/Datadog.Trace.Tests/Snapshots/PublicApiTests.PublicApiHasNotChanged.verified.txt
  tracer/test/test-applications/integrations/Samples.RateLimiter/Program.cs
  tracer/test/test-applications/integrations/Samples.TracingWithoutLimits/Program.cs
  tracer/test/test-applications/regression/TraceContext.InvalidOperationException/InMemoryLog4NetLogger.cs
  tracer/test/test-applications/regression/TraceContext.InvalidOperationException/Program.cs
  tracer/test/test-applications/regression/TraceContext.InvalidOperationException/TraceContext.InvalidOperationException.csproj
Labels: area:tracer

#2138 DBScopeFactory improvements.
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AdoNet/DbScopeFactory.cs
  tracer/src/Datadog.Trace/Configuration/ImmutableTracerSettings.cs
  tracer/src/Datadog.Trace/Configuration/ServiceNames.cs
  tracer/src/Datadog.Trace/ExtensionMethods/SpanExtensions.cs
  tracer/src/Datadog.Trace/Tagging/SqlTags.cs
  tracer/src/Datadog.Trace/Util/DbCommandCache.cs
  tracer/test/Datadog.Trace.Tests/ExtensionMethods/SpanExtensionsTests.cs
  tracer/test/Datadog.Trace.Tests/Snapshots/PublicApiTests.PublicApiHasNotChanged.verified.txt
Labels: type:enhancement, area:integrations

#2095 Mock the active span when using multiple versions of the tracer
  tracer/src/Datadog.Trace/ClrProfiler/AutomaticTracer.cs
  tracer/src/Datadog.Trace/ClrProfiler/IAutomaticTracer.cs
  tracer/src/Datadog.Trace/ClrProfiler/IDistributedTracer.cs
  tracer/src/Datadog.Trace/ClrProfiler/ManualTracer.cs
  tracer/src/Datadog.Trace/Tracer.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/VersionConflict/AspNetVersionConflictTests.cs
  tracer/test/test-applications/aspnet/Samples.AspNet.VersionConflict/Controllers/HomeController.cs
  tracer/test/test-applications/aspnet/Samples.AspNet.VersionConflict/Samples.AspNet.VersionConflict.csproj
  tracer/test/test-applications/aspnet/Samples.AspNet.VersionConflict/Web.config
  tracer/test/test-applications/aspnet/Samples.AspNet.VersionConflict/packages.config
  tracer/test/test-applications/integrations/Samples.VersionConflict.1x/Program.cs
  tracer/test/test-applications/integrations/Samples.VersionConflict.1x/Properties/launchSettings.json
  tracer/test/test-applications/integrations/Samples.VersionConflict.2x/Program.cs
  tracer/test/test-applications/integrations/Samples.VersionConflict.2x/Properties/launchSettings.json
  tracer/test/test-applications/integrations/Samples.VersionConflict.2x/Samples.VersionConflict.2x.csproj
Labels: area:tracer

#2156 Reset the AsyncLocal DistributedValue when starting an automatic instrumentation continuation
  tracer/src/Datadog.Trace/ClrProfiler/AutomaticTracer.cs
  tracer/src/Datadog.Trace/ClrProfiler/CallTarget/CallTargetState.cs
  tracer/src/Datadog.Trace/ClrProfiler/CallTarget/Handlers/BeginMethodHandler.cs
  tracer/src/Datadog.Trace/ClrProfiler/CallTarget/Handlers/BeginMethodHandler`1.cs
  tracer/src/Datadog.Trace/ClrProfiler/CallTarget/Handlers/BeginMethodHandler`2.cs
  tracer/src/Datadog.Trace/ClrProfiler/CallTarget/Handlers/BeginMethodHandler`3.cs
  tracer/src/Datadog.Trace/ClrProfiler/CallTarget/Handlers/BeginMethodHandler`4.cs
  tracer/src/Datadog.Trace/ClrProfiler/CallTarget/Handlers/BeginMethodHandler`5.cs
  tracer/src/Datadog.Trace/ClrProfiler/CallTarget/Handlers/BeginMethodHandler`6.cs
  tracer/src/Datadog.Trace/ClrProfiler/CallTarget/Handlers/BeginMethodHandler`7.cs
  tracer/src/Datadog.Trace/ClrProfiler/CallTarget/Handlers/BeginMethodHandler`8.cs
  tracer/src/Datadog.Trace/ClrProfiler/CallTarget/Handlers/BeginMethodSlowHandler.cs
  tracer/src/Datadog.Trace/ClrProfiler/CallTarget/Handlers/EndMethodHandler`1.cs
  tracer/src/Datadog.Trace/ClrProfiler/IDistributedTracer.cs
  tracer/src/Datadog.Trace/ClrProfiler/ManualTracer.cs
  tracer/src/Datadog.Trace/Tracer.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/VersionConflict/AspNetVersionConflictTests.cs
  tracer/test/test-applications/aspnet/Samples.AspNet.VersionConflict/Samples.AspNet.VersionConflict.csproj
  tracer/test/test-applications/aspnet/Samples.AspNet.VersionConflict/packages.config
  tracer/test/test-applications/integrations/Samples.VersionConflict.2x/Samples.VersionConflict.2x.csproj
Labels: area:call-target

#2096 Re-implement NLog logs injection
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Logging/NLog/LogsInjection/DiagnosticContextHelper.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Logging/NLog/LogsInjection/LoggerImplWriteIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Logging/NLog/LogsInjection/MappedDiagnosticsContextSetterProxy.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Logging/NLog/LogsInjection/MappedDiagnosticsLogicalContextSetterProxy.cs
  tracer/src/Datadog.Trace/ClrProfiler/ClrNames.cs
  tracer/src/Datadog.Trace/ClrProfiler/InstrumentationDefinitions.Generated.cs
  tracer/src/Datadog.Trace/Logging/LogsInjection/CustomNLogLogProvider.cs
  tracer/src/Datadog.Trace/Logging/LogsInjection/FallbackNLogLogProvider.cs
  tracer/src/Datadog.Trace/Logging/LogsInjection/LibLogScopeEventSubscriber.cs
  tracer/src/Datadog.Trace/Logging/LogsInjection/NoOpNLogLogProvider.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/NLogTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.Managed.Tests/TypeNameTests.cs
  tracer/test/Datadog.Trace.Tests/Logging/NLogLogProviderTests.cs
  tracer/test/benchmarks/Benchmarks.Trace/NLogBenchmark.cs
  tracer/test/test-applications/integrations/LogsInjection.NLog/Program.cs
Labels: area:integrations, needs-docs-update, area:logs-injection

#2152 Re-implement Serilog logs injection
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Logging/Serilog/LogsInjection/LogEventProxy.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Logging/Serilog/LogsInjection/LoggerDispatchInstrumentation.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Logging/Serilog/LogsInjection/SerilogLogPropertyHelper.cs
  tracer/src/Datadog.Trace/ClrProfiler/InstrumentationDefinitions.Generated.cs
  tracer/src/Datadog.Trace/Logging/LogsInjection/CustomSerilogLogProvider.cs
  tracer/src/Datadog.Trace/Logging/LogsInjection/LibLogScopeEventSubscriber.cs
  tracer/src/Datadog.Trace/Logging/LogsInjection/NoOpSerilogLogProvider.cs
  tracer/src/Datadog.Trace/Logging/LogsInjection/SerilogEnricher.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/SerilogTests.cs
  tracer/test/Datadog.Trace.Tests/Logging/SerilogDuckTypeTests.cs
  tracer/test/Datadog.Trace.Tests/Logging/SerilogLogProviderTests.cs
  tracer/test/benchmarks/Benchmarks.Trace/SerilogBenchmark.cs
Labels: area:integrations, needs-docs-update, area:logs-injection

#2167 Fix parser null ref and upgrade rule-set
  tracer/src/Datadog.Trace/AppSec/Waf/Encoder.cs
  tracer/src/Datadog.Trace/AppSec/Waf/rule-set.json
Labels: area:app-sec

#2174 Fix warnings in Nuke
  tracer/build/_build/Build.Steps.cs
  tracer/build/_build/Build.Utilities.cs
Labels: area:builds, type:cleanup

#2173 Properly disable parallelization in AzureAppServicesMetadataTests
  tracer/test/Datadog.Trace.Tests/PlatformHelpers/AzureAppServicesMetadataTests.cs
Labels: type:bug, area:builds

#2161 [Redo] Fix logs injection to work correctly when there's a version mismatch
  Datadog.Trace.sln
  tracer/build/_build/Build.Steps.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Logging/ILogger/DatadogLoggingScope.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Logging/Log4Net/AppenderAttachedImplIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Logging/NLog/LogsInjection/DiagnosticContextHelper.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Logging/NLog/LogsInjection/LoggerImplWriteIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Logging/Serilog/LogsInjection/LoggerDispatchInstrumentation.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Logging/Serilog/LogsInjection/SerilogLogPropertyHelper.cs
  tracer/src/Datadog.Trace/ClrProfiler/InstrumentationDefinitions.Generated.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/ILoggerTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/Log4NetTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/LogsInjectionTestBase.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/NLogTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/SerilogTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/VersionConflict/ILoggerVersionConflict2xTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/VersionConflict/Log4NetVersionConflict2xTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/VersionConflict/NLog10VersionConflict2xTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/VersionConflict/NLog20VersionConflict2xTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/VersionConflict/NLogVersionConflict2xTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/VersionConflict/Serilog14VersionConflict2xTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/VersionConflict/SerilogVersionConflict2xTests.cs
  tracer/test/test-applications/Samples.Shared/SampleHelpers.cs
  tracer/test/test-applications/integrations/LogsInjection.ILogger.VersionConflict.2x/LogHelper.cs
  tracer/test/test-applications/integrations/LogsInjection.ILogger.VersionConflict.2x/LogsInjection.ILogger.VersionConflict.2x.csproj
  tracer/test/test-applications/integrations/LogsInjection.ILogger.VersionConflict.2x/Program.cs
  tracer/test/test-applications/integrations/LogsInjection.ILogger.VersionConflict.2x/Properties/launchSettings.json
  tracer/test/test-applications/integrations/LogsInjection.ILogger.VersionConflict.2x/Startup.cs
  tracer/test/test-applications/integrations/LogsInjection.ILogger.VersionConflict.2x/Worker.cs
  tracer/test/test-applications/integrations/LogsInjection.ILogger.VersionConflict.2x/appsettings.json
  tracer/test/test-applications/integrations/LogsInjection.Log4Net.VersionConflict.2x/AppDirFileAppender.cs
  tracer/test/test-applications/integrations/LogsInjection.Log4Net.VersionConflict.2x/LogsInjection.Log4Net.VersionConflict.2x.csproj
  tracer/test/test-applications/integrations/LogsInjection.Log4Net.VersionConflict.2x/Program.cs
  tracer/test/test-applications/integrations/LogsInjection.Log4Net.VersionConflict.2x/Properties/launchSettings.json
  tracer/test/test-applications/integrations/LogsInjection.Log4Net.VersionConflict.2x/log4net.205.config
  tracer/test/test-applications/integrations/LogsInjection.NLog.VersionConflict.2x/LogsInjection.NLog.VersionConflict.2x.csproj
  tracer/test/test-applications/integrations/LogsInjection.NLog.VersionConflict.2x/NLog.46.config
  tracer/test/test-applications/integrations/LogsInjection.NLog.VersionConflict.2x/Program.cs
  tracer/test/test-applications/integrations/LogsInjection.NLog.VersionConflict.2x/Properties/launchSettings.json
  tracer/test/test-applications/integrations/LogsInjection.NLog/LogsInjection.NLog.csproj
  tracer/test/test-applications/integrations/LogsInjection.NLog/Properties/launchSettings.json
  tracer/test/test-applications/integrations/LogsInjection.NLog10.VersionConflict.2x/LogsInjection.NLog10.VersionConflict.2x.csproj
  tracer/test/test-applications/integrations/LogsInjection.NLog10.VersionConflict.2x/NLog.Pre40.config
  tracer/test/test-applications/integrations/LogsInjection.NLog10.VersionConflict.2x/Program.cs
  tracer/test/test-applications/integrations/LogsInjection.NLog10.VersionConflict.2x/Properties/launchSettings.json
  tracer/test/test-applications/integrations/LogsInjection.NLog20.VersionConflict.2x/LogsInjection.NLog20.VersionConflict.2x.csproj
  tracer/test/test-applications/integrations/LogsInjection.NLog20.VersionConflict.2x/NLog.Pre40.config
  tracer/test/test-applications/integrations/LogsInjection.NLog20.VersionConflict.2x/Program.cs
  tracer/test/test-applications/integrations/LogsInjection.NLog20.VersionConflict.2x/Properties/launchSettings.json
  tracer/test/test-applications/integrations/LogsInjection.Serilog.VersionConflict.2x/LogsInjection.Serilog.VersionConflict.2x.csproj
  tracer/test/test-applications/integrations/LogsInjection.Serilog.VersionConflict.2x/Program.cs
  tracer/test/test-applications/integrations/LogsInjection.Serilog.VersionConflict.2x/Properties/launchSettings.json
  tracer/test/test-applications/integrations/LogsInjection.Serilog/LogsInjection.Serilog.csproj
  tracer/test/test-applications/integrations/LogsInjection.Serilog/Properties/launchSettings.json
  tracer/test/test-applications/integrations/LogsInjection.Serilog14.VersionConflict.2x/LogsInjection.Serilog14.VersionConflict.2x.csproj
  tracer/test/test-applications/integrations/LogsInjection.Serilog14.VersionConflict.2x/Program.cs
  tracer/test/test-applications/integrations/LogsInjection.Serilog14.VersionConflict.2x/Properties/launchSettings.json
  tracer/test/test-applications/integrations/dependency-libs/LogsInjectionHelper.VersionConflict/LoggingMethods.cs
  tracer/test/test-applications/integrations/dependency-libs/LogsInjectionHelper.VersionConflict/LogsInjectionHelper.VersionConflict.csproj
  tracer/test/test-applications/integrations/dependency-libs/LogsInjectionHelper.VersionConflict/TracerUtils.cs
  tracer/test/test-applications/integrations/dependency-libs/LogsInjectionHelper/LoggingMethods.cs
Labels: area:logs-injection

#2160 [appsec] throughput tests
  .azure-pipelines/ultimate-pipeline.yml
  .gitignore
  tracer/build/crank/Security.Samples.AspNetCoreSimpleController.yml
  tracer/build/crank/run-appsec.sh
  tracer/src/Datadog.Trace/AppSec/Security.cs
  tracer/src/Datadog.Trace/AppSec/SecuritySettings.cs
  tracer/src/Datadog.Trace/Configuration/ConfigurationKeys.cs
Labels: area:benchmarks, area:app-sec

#2171 [AppSec] Handle null keys when reading headers, cookies and query strings
  tracer/src/Datadog.Trace/Util/Http/HttpRequestExtensions.Core.cs
  tracer/src/Datadog.Trace/Util/Http/HttpRequestExtensions.Framework.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/AspNetBase.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/AspNetCore2.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/AspNetCore5.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/AspNetMvc5.cs
Labels: area:app-sec

#2191 Modify tests to use Tracer.StartActive(string, SpanCreationSettings)
  tracer/test/Datadog.Trace.Tests/DistributedTraceTests.cs
  tracer/test/Datadog.Trace.Tests/Logging/LoggingProviderTestHelpers.cs
  tracer/test/Datadog.Trace.Tests/SpanTests.cs
  tracer/test/Datadog.Trace.Tests/TracerTests.cs
Labels: area:tests

#2069 Add README for Datadog.Trace NuGet package
  docs/Datadog.Trace/README.md
  docs/README.md
  profiler/README.MD
  tracer/README.MD
  tracer/src/Datadog.Trace/Datadog.Trace.csproj
Labels: area:docs

#2196 [2.0] - Skip loader injection on profiler managed loader
  tracer/src/Datadog.Trace.ClrProfiler.Native/dd_profiler_constants.h
Labels: type:bug, area:native-library

#2195 Skip loader injection on profiler managed loader
  tracer/src/Datadog.Trace.ClrProfiler.Native/dd_profiler_constants.h
Labels: type:bug, area:native-library

#2120 CallTarget abstract methods support
  Datadog.Trace.sln
  tracer/build/_build/Build.Steps.cs
  tracer/build/_build/PrepareRelease/CallTargetDefinitionSource.cs
  tracer/build/_build/PrepareRelease/GenerateIntegrationDefinitions.cs
  tracer/build/_build/PrepareRelease/IntegrationType.cs
  tracer/dependabot/Datadog.Dependabot.Integrations.csproj
  tracer/src/Datadog.Trace.ClrProfiler.Native/Datadog.Trace.ClrProfiler.Native.def
  tracer/src/Datadog.Trace.ClrProfiler.Native/clr_helpers.cpp
  tracer/src/Datadog.Trace.ClrProfiler.Native/clr_helpers.h
  tracer/src/Datadog.Trace.ClrProfiler.Native/cor_profiler.cpp
  tracer/src/Datadog.Trace.ClrProfiler.Native/cor_profiler.h
  tracer/src/Datadog.Trace.ClrProfiler.Native/integration.h
  tracer/src/Datadog.Trace.ClrProfiler.Native/interop.cpp
  tracer/src/Datadog.Trace.ClrProfiler.Native/rejit_handler.cpp
  tracer/src/Datadog.Trace.ClrProfiler.Native/rejit_handler.h
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AdoNet/AdoNetClientInstrumentMethodAttribute.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AdoNet/AdoNetConstants.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AdoNet/AdoNetDefinitions.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AdoNet/DbScopeFactory.cs
  tracer/src/Datadog.Trace/ClrProfiler/InstrumentMethodAttribute.cs
  tracer/src/Datadog.Trace/ClrProfiler/Instrumentation.cs
  tracer/src/Datadog.Trace/ClrProfiler/InstrumentationDefinitions.Generated.cs
  tracer/src/Datadog.Trace/ClrProfiler/InstrumentationDefinitions.cs
  tracer/src/Datadog.Trace/ClrProfiler/IntegrationType.cs
  tracer/src/Datadog.Trace/ClrProfiler/NativeMethods.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AdoNet/FakeCommandTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CallTargetNativeTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/SmokeTests/DevArtDataDBCommandSmokeTest.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/SmokeTests/IBMDataDB2CommandSmokeTest.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/SmokeTests/SmokeTestBase.cs
  tracer/test/Datadog.Trace.ClrProfiler.Managed.Tests/DbScopeFactoryTests.cs
  tracer/test/test-applications/instrumentation/CallTargetNativeTest/Derived.cs
  tracer/test/test-applications/instrumentation/CallTargetNativeTest/Program.cs
  tracer/test/test-applications/regression/Devart.Data.DBCommand/Devart.Data.DBCommand.csproj
  tracer/test/test-applications/regression/Devart.Data.DBCommand/Program.cs
  tracer/test/test-applications/regression/IBM.Data.DB2.DBCommand/IBM.Data.DB2.DBCommand.csproj
  tracer/test/test-applications/regression/IBM.Data.DB2.DBCommand/Program.cs
Labels: type:enhancement, area:native-library, area:call-target

#2149 Small pipeline reliability updates
  .azure-pipelines/steps/run-in-docker.yml
  .azure-pipelines/ultimate-pipeline.yml
Labels: area:builds

#2192 Fix Datadog.Trace.sln build issues
  Datadog.Trace.sln
  tracer/src/Datadog.Trace.ClrProfiler.Native/cor_profiler.cpp
  tracer/test/test-applications/Directory.Build.props
  tracer/test/test-applications/azure-functions/Samples.AzureFunctions.AllTriggers/AllTriggers.cs
  tracer/test/test-applications/integrations/LogsInjection.ILogger.VersionConflict.2x/LogsInjection.ILogger.VersionConflict.2x.csproj
  tracer/test/test-applications/integrations/LogsInjection.Log4Net/LogsInjection.Log4Net.csproj
  tracer/test/test-applications/integrations/Samples.AspNetCoreMinimalApis/Samples.AspNetCoreMinimalApis.csproj
  tracer/test/test-applications/integrations/dependency-libs/Directory.Build.props
  tracer/test/test-applications/integrations/dependency-libs/LogsInjectionHelper.VersionConflict/LoggingMethods.cs
  tracer/test/test-applications/integrations/dependency-libs/LogsInjectionHelper.VersionConflict/TracerUtils.cs
Labels: area:builds

#2184 Remove all LibLog code and simplify ScopeManager code
  LICENSE-3rdparty.csv
  tracer/build/_build/Build.Steps.cs
  tracer/src/Datadog.Trace/AsyncLocalScopeManager.cs
  tracer/src/Datadog.Trace/Ci/CITracerManager.cs
  tracer/src/Datadog.Trace/Ci/CITracerManagerFactory.cs
  tracer/src/Datadog.Trace/Datadog.Trace.csproj
  tracer/src/Datadog.Trace/IScopeManager.cs
  tracer/src/Datadog.Trace/Logging/LogsInjection/ILogEnricher.cs
  tracer/src/Datadog.Trace/Logging/LogsInjection/ILogProviderWithEnricher.cs
  tracer/src/Datadog.Trace/Logging/LogsInjection/LibLogScopeEventSubscriber.cs
  tracer/src/Datadog.Trace/Logging/LogsInjection/LogEnricher.cs
  tracer/src/Datadog.Trace/Logging/LogsInjection/NoOpLog4NetLogProvider.cs
  tracer/src/Datadog.Trace/Logging/LogsInjection/NoOpNLogLogProvider.cs
  tracer/src/Datadog.Trace/Logging/LogsInjection/NoOpSerilogLogProvider.cs
  tracer/src/Datadog.Trace/ScopeManagerBase.cs
  tracer/src/Datadog.Trace/SpanEventArgs.cs
  tracer/src/Datadog.Trace/Tracer.cs
  tracer/src/Datadog.Trace/TracerManager.cs
  tracer/src/Datadog.Trace/TracerManagerFactory.cs
  tracer/test/Datadog.Trace.Tests/Logging/Log4NetLogProviderTests.cs
  tracer/test/Datadog.Trace.Tests/Logging/LoggingProviderTestHelpers.cs
  tracer/test/Datadog.Trace.Tests/Logging/NLogLogProviderTests.cs
  tracer/test/Datadog.Trace.Tests/Logging/SerilogLogProviderTests.cs
  tracer/test/Datadog.Trace.Tests/Snapshots/PublicApiTests.PublicApiHasNotChanged.verified.txt
  tracer/test/Datadog.Trace.Tests/TracerInstanceTest.cs
  tracer/test/benchmarks/Benchmarks.Trace/Log4netBenchmark.cs
  tracer/test/benchmarks/Benchmarks.Trace/NLogBenchmark.cs
  tracer/test/benchmarks/Benchmarks.Trace/SerilogBenchmark.cs
Labels: type:cleanup

#2204 Rewrite logs injection benchmarks
  tracer/test/benchmarks/Benchmarks.Trace/Log4netBenchmark.cs
  tracer/test/benchmarks/Benchmarks.Trace/NLogBenchmark.cs
  tracer/test/benchmarks/Benchmarks.Trace/SerilogBenchmark.cs
Labels: area:benchmarks

#2180 code clean up in `SpanContextPropagator`
  tracer/src/Datadog.Trace/SpanContextPropagator.cs
  tracer/src/Datadog.Trace/SpanTypes.cs
Labels: area:tracer, type:refactor

#2183 Replace MongoDB/WCF reflection lookups with DuckTyping
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/MongoDb/BsonDocumentProxy.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/MongoDb/BsonElementStruct.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/MongoDb/DatabaseNamespaceStruct.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/MongoDb/IConnection.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/MongoDb/IWireProtocolWithCommandStruct.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/MongoDb/IWireProtocolWithDatabaseNamespaceStruct.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/MongoDb/IWireProtocol_ExecuteAsync_Integration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/MongoDb/IWireProtocol_Execute_Integration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/MongoDb/IWireProtocol_Generic_Execute_Integration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/MongoDb/MongoDbIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Wcf/AsyncMethodInvoker_InvokeBegin_Integration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Wcf/ChannelHandlerIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Wcf/HttpRequestMessagePropertyStruct.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Wcf/IMessage.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Wcf/IMessageHeaders.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Wcf/IOperationContextStruct.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Wcf/IRequestContext.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Wcf/SyncMethodInvokerIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Wcf/TaskMethodInvokerIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Wcf/WcfCommon.cs
  tracer/src/Datadog.Trace/ClrProfiler/Emit/DelegateMetadata.cs
  tracer/src/Datadog.Trace/ClrProfiler/Emit/DynamicMethodBuilder.cs
  tracer/src/Datadog.Trace/ClrProfiler/Emit/MemberResult.cs
  tracer/src/Datadog.Trace/ClrProfiler/Emit/ModuleLookup.cs
  tracer/src/Datadog.Trace/ClrProfiler/Emit/ObjectExtensions.cs
  tracer/src/Datadog.Trace/ClrProfiler/Emit/OpCodeValue.cs
  tracer/src/Datadog.Trace/Util/PropertyFetcher.cs
  tracer/test/Datadog.Trace.ClrProfiler.Managed.Tests/ObjectExtensionTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.Managed.Tests/PropertyFetcherTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.Managed.Tests/Reflection/ModuleLookupTests.cs
Labels: area:integrations, type:cleanup

#2202 Add more tests around public API
  tracer/test/Datadog.Trace.OpenTracing.Tests/Snapshots/PublicApiTests.AssemblyReferencesHaveNotChanged.net461.verified.txt
  tracer/test/Datadog.Trace.OpenTracing.Tests/Snapshots/PublicApiTests.AssemblyReferencesHaveNotChanged.netcoreapp3.1.verified.txt
  tracer/test/Datadog.Trace.OpenTracing.Tests/Snapshots/PublicApiTests.AssemblyReferencesHaveNotChanged.netstandard2.0.verified.txt
  tracer/test/Datadog.Trace.TestHelpers/PublicApiTestsBase.cs
  tracer/test/Datadog.Trace.Tests/Datadog.Trace.Tests.csproj
  tracer/test/Datadog.Trace.Tests/PublicApiTests.cs
  tracer/test/Datadog.Trace.Tests/Snapshots/PublicApiTests.AssemblyReferencesHaveNotChanged.net461.verified.txt
  tracer/test/Datadog.Trace.Tests/Snapshots/PublicApiTests.AssemblyReferencesHaveNotChanged.netcoreapp3.1.verified.txt
  tracer/test/Datadog.Trace.Tests/Snapshots/PublicApiTests.AssemblyReferencesHaveNotChanged.netstandard2.0.verified.txt
Labels: area:tests

#2206 [CiApp] Include .NET 6.0 in dd-trace tool
  tracer/src/Datadog.Trace.Tools.Runner/Datadog.Trace.Tools.Runner.Tool.csproj
Labels: area:ci-app

#2223 DuckType Best Practices in Readme.md
  tracer/src/Datadog.Trace/DuckTyping/README.md
  tracer/test/benchmarks/Benchmarks.Trace/Benchmarks.Trace.csproj
  tracer/test/benchmarks/Benchmarks.Trace/DuckTyping/DuckTypeMethodCallComparisonBenchmark.cs
Labels: area:docs

#2207 Stop using benchmark csv and support params
  tracer/build/_build/BenchmarkComparison/BenchmarkComparer.cs
  tracer/build/_build/BenchmarkComparison/BenchmarkMarkdownGenerator.cs
  tracer/build/_build/BenchmarkComparison/BenchmarkParser.cs
  tracer/build/_build/BenchmarkComparison/CompareBenchmarks.cs
  tracer/build/_build/BenchmarkComparison/Data.cs
  tracer/build/_build/Build.GitHub.cs
Labels: area:builds, area:benchmarks

#2227 Disable parallelization in runtime metrics tests
  tracer/test/Datadog.Trace.Tests/RuntimeMetrics/RuntimeEventListenerTests.cs
Labels: area:tests

#2229 Remove ConcurrentDictionary in SpanStatisticalTests
  tracer/test/Datadog.Trace.Tests/SpanStatisticalTests.cs
Labels: area:tests

#2236 Fix benchmark allocation comparison
  tracer/build/_build/BenchmarkComparison/BenchmarkComparer.cs
  tracer/build/_build/BenchmarkComparison/BenchmarkMarkdownGenerator.cs
Labels: area:builds, area:benchmarks

#2238 Move logs-injection related classes to sub-folder
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Logging/ILogger/LogsInjection/DatadogLoggingScope.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Logging/ILogger/LogsInjection/LoggerExternalScopeProviderForEachScopeIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Logging/ILogger/LogsInjection/LoggerFactoryScopeProviderForEachScopeIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Logging/ILogger/LogsInjection/LoggerIntegrationCommon.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Logging/Log4Net/LogsInjection/AppenderAttachedImplIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Logging/Log4Net/LogsInjection/ILoggingEvent.cs
Labels: area:integrations, type:refactor

#2205 Do not normalize periods in header tags if specified by the customer
  tracer/src/Datadog.Trace/Configuration/ConfigurationKeys.cs
  tracer/src/Datadog.Trace/Configuration/TracerSettings.cs
  tracer/src/Datadog.Trace/ExtensionMethods/StringExtensions.cs
  tracer/src/Datadog.Trace/SpanContextPropagator.cs
  tracer/test/Datadog.Trace.Tests/Configuration/ConfigurationSourceTests.cs
  tracer/test/Datadog.Trace.Tests/ExtensionMethods/StringExtensionsTests.cs
Labels: type:bug, area:integrations

#2237 Explicitly state contentType when calling IApiRequest.PostAsync()
  tracer/src/Datadog.Trace/Agent/Api.cs
  tracer/src/Datadog.Trace/Agent/IApiRequest.cs
  tracer/src/Datadog.Trace/Agent/Transports/ApiWebRequest.cs
  tracer/src/Datadog.Trace/Agent/Transports/HttpClientRequest.cs
  tracer/src/Datadog.Trace/Agent/Transports/HttpStreamRequest.cs
  tracer/src/Datadog.Trace/Agent/Transports/MimeTypes.cs
  tracer/test/Datadog.Trace.Tests/ApiTests.cs
  tracer/test/Datadog.Trace.Tests/HttpClientRequestTests.cs
  tracer/test/benchmarks/Benchmarks.Trace/AgentWriterBenchmark.cs
Labels: area:tracer

#2189 Fix flaky test in AspNetVersionConflictTests
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/VersionConflict/AspNetVersionConflictTests.cs
Labels: area:tests

#2216 Ignore ping commands in MongoDB
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/MongoDb/MongoDbIntegration.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/MongoDbTests.cs
Labels: area:integrations

#2239 [AppSec] Improve testing
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AspNetCore/AspNetCoreMvc30Tests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/Datadog.Trace.ClrProfiler.IntegrationTests.csproj
  tracer/test/Datadog.Trace.ClrProfiler.Managed.Tests/AutoInstrumentation/AdoNet/MockDbCommands.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/AspNetBase.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/AspNetCore2.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/AspNetCore5.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/AspNetCore5ExternalRules.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/AspNetMvc5.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/Datadog.Trace.Security.IntegrationTests.csproj
  tracer/test/Datadog.Trace.Security.Unit.Tests/Datadog.Trace.Security.Unit.Tests.csproj
  tracer/test/Datadog.Trace.Security.Unit.Tests/FuzzEncoder.cs
  tracer/test/Datadog.Trace.TestHelpers.SharedSource/VerifyHelper.cs
  tracer/test/Datadog.Trace.TestHelpers/Datadog.Trace.TestHelpers.csproj
  tracer/test/Datadog.Trace.TestHelpers/EnvironmentHelper.cs
  tracer/test/Datadog.Trace.TestHelpers/JsonGenerator.cs
  tracer/test/Datadog.Trace.TestHelpers/ProfilerHelper.cs
  tracer/test/snapshots/Security.AspNetCore2.__enableSecurity=False_enableBlocking=False_expectedStatusCode=200_url=_Health_-arg=[$slice].verified.txt
  tracer/test/snapshots/Security.AspNetCore2.__enableSecurity=False_enableBlocking=True_expectedStatusCode=200_url=_Health_-arg=[$slice].verified.txt
  tracer/test/snapshots/Security.AspNetCore2.__enableSecurity=True_enableBlocking=False_expectedStatusCode=200_url=_Health_-arg=[$slice].verified.txt
  tracer/test/snapshots/Security.AspNetCore2.__enableSecurity=True_enableBlocking=False_expectedStatusCode=200_url=_Health_-test&[$slice].verified.txt
  tracer/test/snapshots/Security.AspNetCore2.__enableSecurity=True_enableBlocking=True_expectedStatusCode=200_url=_Health_-arg=[$slice].verified.txt
  tracer/test/snapshots/Security.AspNetCore5.__enableSecurity=False_enableBlocking=False_expectedStatusCode=200_url=_Health_-arg=[$slice].verified.txt
  tracer/test/snapshots/Security.AspNetCore5.__enableSecurity=False_enableBlocking=True_expectedStatusCode=200_url=_Health_-arg=[$slice].verified.txt
  tracer/test/snapshots/Security.AspNetCore5.__enableSecurity=True_enableBlocking=False_expectedStatusCode=200_url=_Health_-arg=[$slice].verified.txt
  tracer/test/snapshots/Security.AspNetCore5.__enableSecurity=True_enableBlocking=False_expectedStatusCode=200_url=_Health_-test&[$slice].verified.txt
  tracer/test/snapshots/Security.AspNetCore5.__enableSecurity=True_enableBlocking=True_expectedStatusCode=200_url=_Health_-arg=[$slice].verified.txt
  tracer/test/snapshots/Security.AspNetCore5ExternalRules._.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5.Classic.enableSecurity=False.blockingEnabled=False.__url=_Health_-arg=[$slice].verified.txt
  tracer/test/snapshots/Security.AspNetMvc5.Classic.enableSecurity=False.blockingEnabled=False.__url=_Health_-test&[$slice].verified.txt
  tracer/test/snapshots/Security.AspNetMvc5.Classic.enableSecurity=True.blockingEnabled=False.__url=_Health_-arg=[$slice].verified.txt
  tracer/test/snapshots/Security.AspNetMvc5.Classic.enableSecurity=True.blockingEnabled=False.__url=_Health_-test&[$slice].verified.txt
  tracer/test/snapshots/Security.AspNetMvc5.Classic.enableSecurity=True.blockingEnabled=True.__url=_Health_-arg=[$slice].verified.txt
  tracer/test/snapshots/Security.AspNetMvc5.Classic.enableSecurity=True.blockingEnabled=True.__url=_Health_-test&[$slice].verified.txt
  tracer/test/snapshots/Security.AspNetMvc5.Integrated.enableSecurity=False.blockingEnabled=False.__url=_Health_-arg=[$slice].verified.txt
  tracer/test/snapshots/Security.AspNetMvc5.Integrated.enableSecurity=False.blockingEnabled=False.__url=_Health_-test&[$slice].verified.txt
  tracer/test/snapshots/Security.AspNetMvc5.Integrated.enableSecurity=True.blockingEnabled=False.__url=_Health_-arg=[$slice].verified.txt
  tracer/test/snapshots/Security.AspNetMvc5.Integrated.enableSecurity=True.blockingEnabled=False.__url=_Health_-test&[$slice].verified.txt
  tracer/test/snapshots/Security.AspNetMvc5.Integrated.enableSecurity=True.blockingEnabled=True.__url=_Health_-arg=[$slice].verified.txt
  tracer/test/snapshots/Security.AspNetMvc5.Integrated.enableSecurity=True.blockingEnabled=True.__url=_Health_-test&[$slice].verified.txt
Labels: area:tests, area:app-sec

#2252 Add workaround to support VS2022 with Nuke
  tracer/build/_build/Build.Shared.Steps.cs
  tracer/build/_build/NukeExtensions/DotNetSettingsExtensions.cs
Labels: area:builds
