Repository DataDog/dd-trace-dotnet, pull requests merged in 2021-08, with the labels that each got.

#1655 Crank native profiler fix
  .azure-pipelines/ultimate-pipeline.yml
  build/crank/Samples.AspNetCoreSimpleController.yml
  build/crank/run.sh
  test/test-applications/throughput/Samples.AspNetCoreSimpleController/Program.cs
Labels: area:benchmarks

#1653 Filter now applied to the samples when compiling
  build/_build/Build.Steps.cs
Labels: area:builds, type:enhancement

#1659 Update GitHub action release workflows
  .github/workflows/auto_tag_version_bump_commit.yml
  .github/workflows/create_version_bump_pr.yml
  build/_build/Build.GitHub.cs
Labels: area:builds

#1662 Fixes native regex usage on non windows platforms.
  src/Datadog.Trace.ClrProfiler.Native/integration.cpp
Labels: type:bug, area:native-library

#1665 Cache native AssemblyReference instances
  src/Datadog.Trace.ClrProfiler.Native/calltarget_tokens.cpp
  src/Datadog.Trace.ClrProfiler.Native/cor_profiler.cpp
  src/Datadog.Trace.ClrProfiler.Native/cor_profiler.h
  src/Datadog.Trace.ClrProfiler.Native/integration.cpp
  src/Datadog.Trace.ClrProfiler.Native/integration.h
Labels: area:native-library, type:performance-optimizations

#1651 Read performance counter values from environment variables in AAS
  src/Datadog.Trace/RuntimeMetrics/AzureAppServicePerformanceCounters.cs
  src/Datadog.Trace/RuntimeMetrics/RuntimeMetricsWriter.cs
  test/Datadog.Trace.Tests/RuntimeMetrics/AzurePerformanceCountersListenerTests.cs
Labels: type:enhancement, area:azure-site-extension

#1652 Improve error handling for performance counters
  src/Datadog.Trace/RuntimeMetrics/PerformanceCountersListener.cs
Labels: area:azure-site-extension

#1672 Native profiler Initialize callback optimization
  src/Datadog.Trace.ClrProfiler.Native/clr_helpers.cpp
  src/Datadog.Trace.ClrProfiler.Native/clr_helpers.h
  src/Datadog.Trace.ClrProfiler.Native/cor_profiler.cpp
  src/Datadog.Trace.ClrProfiler.Native/integration.h
  src/Datadog.Trace.ClrProfiler.Native/integration_loader.cpp
  src/Datadog.Trace.ClrProfiler.Native/integration_loader.h
  src/Datadog.Trace.ClrProfiler.Native/stats.h
  test/Datadog.Trace.ClrProfiler.Native.Tests/clr_helper_test.cpp
  test/Datadog.Trace.ClrProfiler.Native.Tests/integration_loader_test.cpp
Labels: area:native-library, type:performance-optimizations

#1577 Adds Datadog.AutoInstrumentation.NativeLoader
  Datadog.Trace.sln
  src/Datadog.AutoInstrumentation.NativeLoader/CMakeLists.txt
  src/Datadog.AutoInstrumentation.NativeLoader/Datadog.AutoInstrumentation.NativeLoader.def
  src/Datadog.AutoInstrumentation.NativeLoader/Datadog.AutoInstrumentation.NativeLoader.vcxproj
  src/Datadog.AutoInstrumentation.NativeLoader/Datadog.AutoInstrumentation.NativeLoader.vcxproj.filters
  src/Datadog.AutoInstrumentation.NativeLoader/Directory.Build.props
  src/Datadog.AutoInstrumentation.NativeLoader/cor_profiler.cpp
  src/Datadog.AutoInstrumentation.NativeLoader/cor_profiler.h
  src/Datadog.AutoInstrumentation.NativeLoader/cor_profiler_class_factory.cpp
  src/Datadog.AutoInstrumentation.NativeLoader/cor_profiler_class_factory.h
  src/Datadog.AutoInstrumentation.NativeLoader/dllmain.cpp
  src/Datadog.AutoInstrumentation.NativeLoader/dynamic_dispatcher.cpp
  src/Datadog.AutoInstrumentation.NativeLoader/dynamic_dispatcher.h
  src/Datadog.AutoInstrumentation.NativeLoader/dynamic_instance.cpp
  src/Datadog.AutoInstrumentation.NativeLoader/dynamic_instance.h
  src/Datadog.AutoInstrumentation.NativeLoader/guid.h
  src/Datadog.AutoInstrumentation.NativeLoader/loader.conf
  src/Datadog.AutoInstrumentation.NativeLoader/logging.h
  src/Datadog.AutoInstrumentation.NativeLoader/miniutf.cpp
  src/Datadog.AutoInstrumentation.NativeLoader/miniutf.hpp
  src/Datadog.AutoInstrumentation.NativeLoader/miniutfdata.h
  src/Datadog.AutoInstrumentation.NativeLoader/pal.cpp
  src/Datadog.AutoInstrumentation.NativeLoader/pal.h
  src/Datadog.AutoInstrumentation.NativeLoader/string.cpp
  src/Datadog.AutoInstrumentation.NativeLoader/string.h
  src/Datadog.AutoInstrumentation.NativeLoader/util.h
  src/Datadog.Trace.ClrProfiler.Native/cor_profiler.cpp
  src/Datadog.Trace.ClrProfiler.Native/dd_profiler_constants.h
  src/Datadog.Trace.ClrProfiler.Native/environment_variables.h
  src/Datadog.Trace.ClrProfiler.Native/rejit_handler.cpp
  test/Datadog.AutoInstrumentation.NativeLoader.Tests/Datadog.AutoInstrumentation.NativeLoader.Tests.vcxproj
  test/Datadog.AutoInstrumentation.NativeLoader.Tests/Datadog.AutoInstrumentation.NativeLoader.Tests.vcxproj.filters
  test/Datadog.AutoInstrumentation.NativeLoader.Tests/Directory.Build.props
  test/Datadog.AutoInstrumentation.NativeLoader.Tests/cor_profiler_test.cpp
  test/Datadog.AutoInstrumentation.NativeLoader.Tests/dynamic_dispatcher_test.cpp
  test/Datadog.AutoInstrumentation.NativeLoader.Tests/dynamic_instance_test.cpp
  test/Datadog.AutoInstrumentation.NativeLoader.Tests/guid_test.cpp
  test/Datadog.AutoInstrumentation.NativeLoader.Tests/packages.config
  test/Datadog.AutoInstrumentation.NativeLoader.Tests/pal_test.cpp
  test/Datadog.AutoInstrumentation.NativeLoader.Tests/string_test.cpp
  test/Datadog.AutoInstrumentation.NativeLoader.Tests/test_cor_profiler.h
  test/Datadog.AutoInstrumentation.NativeLoader.Tests/test_dynamic_dispatcher.h
  test/Datadog.AutoInstrumentation.NativeLoader.Tests/test_dynamic_instance.h
Labels: area:native-library

#1669 Fixes crank pipeline on PR merge commits.
  .azure-pipelines/ultimate-pipeline.yml
  build/crank/Samples.AspNetCoreSimpleController.yml
  test/test-applications/throughput/Samples.AspNetCoreSimpleController/Program.cs
  test/test-applications/throughput/Samples.AspNetCoreSimpleController/Samples.AspNetCoreSimpleController.csproj
Labels: area:builds, area:benchmarks

#1674 Disable CallSite scenario from Throughput tests.
  build/crank/run.sh
Labels: area:benchmarks

#1658 Add instrumentation for Begin/EndGetResponse to WebRequest
  integrations.json
  src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Http/WebRequest/HttpWebRequest_BeginGetRequestStream_Integration.cs
  src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Http/WebRequest/HttpWebRequest_BeginGetResponse_Integration.cs
  src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Http/WebRequest/HttpWebRequest_EndGetResponse_Integration.cs
  src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Http/WebRequest/IHttpWebRequest.cs
  src/Datadog.Trace/ClrProfiler/ScopeFactory.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/ServiceMappingTests.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/WebRequest20Tests.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/WebRequestTests.cs
  test/test-applications/integrations/Samples.WebRequest/Program.cs
  test/test-applications/integrations/Samples.WebRequest/RequestHelpers.cs
Labels: type:enhancement, area:integrations

#1677 Native logger error fix
  src/Datadog.Trace.ClrProfiler.Native/logger_impl.h
Labels: type:bug, area:native-library

#1678 Adds NGEN scenario to throughput tests
  build/crank/Samples.AspNetCoreSimpleController.yml
  build/crank/run.sh
Labels: area:benchmarks

#1679 Removes code for Callsite scenario from the throughput tests
  build/crank/Samples.AspNetCoreSimpleController.yml
  test/test-applications/throughput/Samples.AspNetCoreSimpleController/Program.cs
Labels: area:benchmarks

#1646 Small build improvements
  .azure-pipelines/ultimate-pipeline.yml
  build/_build/Build.Steps.cs
  build/_build/Build.Utilities.cs
Labels: area:builds, area:tools

#1631 replace "minimal" solution with a solution filter
  Datadog.Trace.Minimal.sln
  Datadog.Trace.Minimal.slnf
Labels: area:builds

#1680 Add a custom test framework to monitor execution of unit tests in ducktyping library
  test/Datadog.Trace.DuckTyping.Tests/CustomTestFramework.cs
  test/Datadog.Trace.DuckTyping.Tests/Datadog.Trace.DuckTyping.Tests.csproj
  test/Datadog.Trace.DuckTyping.Tests/xunit.runner.json
Labels: area:tests

#1687 Adds Execution time benchmarks
  .azure-pipelines/ultimate-pipeline.yml
  build/timeit/Samples.FakeDbCommand/Samples.FakeDbCommand.windows.net461.json
  build/timeit/Samples.FakeDbCommand/Samples.FakeDbCommand.windows.net50.json
  build/timeit/Samples.FakeDbCommand/Samples.FakeDbCommand.windows.netcoreapp31.json
  build/timeit/Samples.FakeDbCommand/run.cmd
  build/timeit/Samples.HttpMessageHandler/Samples.HttpMessageHandler.windows.net461.json
  build/timeit/Samples.HttpMessageHandler/Samples.HttpMessageHandler.windows.net50.json
  build/timeit/Samples.HttpMessageHandler/Samples.HttpMessageHandler.windows.netcoreapp31.json
  build/timeit/Samples.HttpMessageHandler/run.cmd
  test/test-applications/integrations/Samples.FakeDbCommand/Program.cs
Labels: area:benchmarks

#1637 Add end-to-end integration tests for logs injection
  Datadog.Trace.sln
  build/PackageVersionsComprehensive.g.props
  build/PackageVersionsGeneratorDefinitions.json
  build/PackageVersionsLatestMinors.g.props
  build/_build/Build.Steps.cs
  src/Datadog.Instrumentation/Datadog.Instrumentation.csproj
  src/Datadog.Trace/Logging/CustomLog4NetLogProvider.cs
  src/Datadog.Trace/Logging/CustomSerilogLogProvider.cs
  src/Datadog.Trace/Logging/LibLogScopeEventSubscriber.cs
  src/Datadog.Trace/Logging/NoOpSerilogLogProvider.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/Log4NetTests.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/LogsInjectionTestBase.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/NLogTests.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersions.g.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsComprehensive.g.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestMinors.g.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/SerilogTests.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/SmokeTests/Log4NetSerializationExceptionSmokeTest.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/SmokeTests/NLog10LogsInjectionNullReferenceExceptionSmokeTest.cs
  test/test-applications/integrations/LogsInjection.Log4Net/AppDirFileAppender.cs
  test/test-applications/integrations/LogsInjection.Log4Net/LogsInjection.Log4Net.csproj
  test/test-applications/integrations/LogsInjection.Log4Net/Program.cs
  test/test-applications/integrations/LogsInjection.Log4Net/Properties/launchSettings.json
  test/test-applications/integrations/LogsInjection.Log4Net/log4net.205.config
  test/test-applications/integrations/LogsInjection.Log4Net/log4net.Pre205.config
  test/test-applications/integrations/LogsInjection.NLog/LogsInjection.NLog.csproj
  test/test-applications/integrations/LogsInjection.NLog/NLog.40.config
  test/test-applications/integrations/LogsInjection.NLog/NLog.Pre40.config
  test/test-applications/integrations/LogsInjection.NLog/Program.cs
  test/test-applications/integrations/LogsInjection.NLog/Properties/launchSettings.json
  test/test-applications/integrations/LogsInjection.Serilog/LogsInjection.Serilog.csproj
  test/test-applications/integrations/LogsInjection.Serilog/Program.cs
  test/test-applications/integrations/LogsInjection.Serilog/Properties/launchSettings.json
  test/test-applications/integrations/dependency-libs/LogsInjectionHelper/LoggingMethods.cs
  test/test-applications/integrations/dependency-libs/LogsInjectionHelper/LogsInjectionHelper.csproj
  test/test-applications/integrations/dependency-libs/PluginApplication/PluginApplication.csproj
  test/test-applications/integrations/dependency-libs/PluginApplication/Program.cs
  test/test-applications/regression/Log4Net.SerializationException/Log4Net.SerializationException.csproj
  test/test-applications/regression/Log4Net.SerializationException/Program.cs
  test/test-applications/regression/NLog10LogsInjection.NullReferenceException/NLog.config
  test/test-applications/regression/NLog10LogsInjection.NullReferenceException/NLog10LogsInjection.NullReferenceException.csproj
  test/test-applications/regression/NLog10LogsInjection.NullReferenceException/Program.cs
  test/test-applications/regression/NLog10LogsInjection.NullReferenceException/Properties/launchSettings.json
  test/test-applications/regression/dependency-libs/ApplicationWithLog4Net/ApplicationWithLog4Net.csproj
  test/test-applications/regression/dependency-libs/ApplicationWithLog4Net/Program.cs
  test/test-applications/regression/dependency-libs/ApplicationWithLog4Net/log4net.config
Labels: area:samples-and-test-apps, area:logs-injection

#1663 Add Microsoft.Extensions.Logging.ILogger instrumentation
  Datadog.Trace.sln
  integrations.json
  src/Datadog.Trace.ClrProfiler.Native/dd_profiler_constants.h
  src/Datadog.Trace/ClrProfiler/AutoInstrumentation/ILogger/DatadogLoggingScope.cs
  src/Datadog.Trace/ClrProfiler/AutoInstrumentation/ILogger/LoggerExternalScopeProviderForEachScopeIntegration.cs
  src/Datadog.Trace/ClrProfiler/AutoInstrumentation/ILogger/LoggerFactoryScopeProviderForEachScopeIntegration.cs
  src/Datadog.Trace/ClrProfiler/AutoInstrumentation/ILogger/LoggerIntegrationCommon.cs
  src/Datadog.Trace/Configuration/IntegrationIds.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/ILoggerTests.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/LogsInjectionTestBase.cs
  test/Datadog.Trace.TestHelpers/TestHelper.cs
  test/test-applications/integrations/LogsInjection.ILogger/LogHelper.cs
  test/test-applications/integrations/LogsInjection.ILogger/LogsInjection.ILogger.csproj
  test/test-applications/integrations/LogsInjection.ILogger/Program.cs
  test/test-applications/integrations/LogsInjection.ILogger/Properties/launchSettings.json
  test/test-applications/integrations/LogsInjection.ILogger/Startup.cs
  test/test-applications/integrations/LogsInjection.ILogger/Worker.cs
  test/test-applications/integrations/LogsInjection.ILogger/appsettings.json
Labels: type:new-feature, area:integrations

#1601 Remove usage of non-builtin types in Attribute named arguments
  src/Datadog.Trace/AppSec/AspNetCore/BlockingMiddleware.cs
  src/Datadog.Trace/AppSec/EventModel/JsonPropertyIgnoreNullValueAttribute.cs
  src/Datadog.Trace/AppSec/EventModel/Service.cs
  src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Http/WebRequest/IHttpWebRequest.cs
  src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Kafka/ITypedDeliveryHandlerShimAction.cs
  src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Redis/StackExchange/IRedisBase.cs
  src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/MsTestV2/ITestMethodRunner.cs
  src/Datadog.Trace/ClrProfiler/InsertFirstInterceptMethodAttribute.cs
  src/Datadog.Trace/ClrProfiler/Integrations/AspNet/AspNetIntegration.cs
  src/Datadog.Trace/ClrProfiler/Integrations/StackExchange.Redis/RedisBatch.cs
  src/Datadog.Trace/ClrProfiler/InterceptMethodAttribute.cs
  src/Datadog.Trace/DuckTyping/DuckFieldAttribute.cs
  src/Datadog.Trace/DuckTyping/README.md
  src/Datadog.Trace/Vendors/Newtonsoft.Json/JsonPropertyAttribute.cs
  test/Datadog.Trace.ClrProfiler.Managed.Tests/AttributeTests.cs
  test/Datadog.Trace.DuckTyping.Tests/DuckChainingWithExplicitInterfaceTests.cs
  test/Datadog.Trace.DuckTyping.Tests/DuckILoggerTests.cs
  test/Datadog.Trace.DuckTyping.Tests/ExceptionsTests.cs
  test/Datadog.Trace.DuckTyping.Tests/Fields/ReferenceType/ProxiesDefinitions/IObscureDuckType.cs
  test/Datadog.Trace.DuckTyping.Tests/Fields/ReferenceType/ProxiesDefinitions/IObscureReadonlyErrorDuckType.cs
  test/Datadog.Trace.DuckTyping.Tests/Fields/ReferenceType/ProxiesDefinitions/IObscureStaticReadonlyErrorDuckType.cs
  test/Datadog.Trace.DuckTyping.Tests/Fields/ReferenceType/ProxiesDefinitions/ObscureDuckTypeAbstractClass.cs
  test/Datadog.Trace.DuckTyping.Tests/Fields/ReferenceType/ProxiesDefinitions/ObscureDuckTypeVirtualClass.cs
  test/Datadog.Trace.DuckTyping.Tests/Fields/TypeChaining/ProxiesDefinitions/IDummyFieldObject.cs
  test/Datadog.Trace.DuckTyping.Tests/Fields/TypeChaining/ProxiesDefinitions/IObscureDuckType.cs
  test/Datadog.Trace.DuckTyping.Tests/Fields/TypeChaining/ProxiesDefinitions/IObscureReadonlyErrorDuckType.cs
  test/Datadog.Trace.DuckTyping.Tests/Fields/TypeChaining/ProxiesDefinitions/IObscureStaticReadonlyErrorDuckType.cs
  test/Datadog.Trace.DuckTyping.Tests/Fields/TypeChaining/ProxiesDefinitions/ObscureDuckTypeAbstractClass.cs
  test/Datadog.Trace.DuckTyping.Tests/Fields/TypeChaining/ProxiesDefinitions/ObscureDuckTypeVirtualClass.cs
  test/Datadog.Trace.DuckTyping.Tests/Fields/ValueType/ProxiesDefinitions/IObscureDuckType.cs
  test/Datadog.Trace.DuckTyping.Tests/Fields/ValueType/ProxiesDefinitions/IObscureReadonlyErrorDuckType.cs
  test/Datadog.Trace.DuckTyping.Tests/Fields/ValueType/ProxiesDefinitions/IObscureStaticReadonlyErrorDuckType.cs
  test/Datadog.Trace.DuckTyping.Tests/Fields/ValueType/ProxiesDefinitions/ObscureDuckTypeAbstractClass.cs
  test/Datadog.Trace.DuckTyping.Tests/Fields/ValueType/ProxiesDefinitions/ObscureDuckTypeVirtualClass.cs
  test/Datadog.Trace.DuckTyping.Tests/Methods/ProxiesDefinitions/IDummyFieldObject.cs
  test/Datadog.Trace.DuckTyping.Tests/Properties/TypeChaining/ProxiesDefinitions/DummyFieldStruct.cs
  test/Datadog.Trace.DuckTyping.Tests/Properties/TypeChaining/ProxiesDefinitions/IDummyFieldObject.cs
  test/Datadog.Trace.DuckTyping.Tests/Properties/TypeChaining/ProxiesDefinitions/ITypesTuple.cs
  test/Datadog.Trace.DuckTyping.Tests/StructTests.cs
  test/Datadog.Trace.Tests/Snapshots/PublicApiTests.PublicApiHasNotChanged_net4.verified.txt
  test/Datadog.Trace.Tests/Snapshots/PublicApiTests.PublicApiHasNotChanged_netcoreapp.verified.txt
  test/benchmarks/Benchmarks.Trace/DuckTyping/DuckTypeValueTypeFieldBenchmark.cs
Labels: type:reliability

#1689 Add tracer metrics to startup logs
  src/Datadog.Trace/Tracer.cs
Labels: area:tracer

#1711 Manual Version Bump to 1.28.4
  build/_build/Build.cs
  docs/CHANGELOG.md
  integrations.json
  samples/AutomaticTraceIdInjection/Log4NetExample/Log4NetExample.csproj
  samples/AutomaticTraceIdInjection/NLog40Example/NLog40Example.csproj
  samples/AutomaticTraceIdInjection/NLog45Example/NLog45Example.csproj
  samples/AutomaticTraceIdInjection/NLog46Example/NLog46Example.csproj
  samples/AutomaticTraceIdInjection/SerilogExample/SerilogExample.csproj
  samples/ConsoleApp/Alpine3.10.dockerfile
  samples/ConsoleApp/Alpine3.9.dockerfile
  samples/ConsoleApp/Debian.dockerfile
  samples/WindowsContainer/Dockerfile
  src/Datadog.Trace.AspNet/Datadog.Trace.AspNet.csproj
  src/Datadog.Trace.ClrProfiler.Managed.Core/Datadog.Trace.ClrProfiler.Managed.Core.csproj
  src/Datadog.Trace.ClrProfiler.Managed.Loader/Datadog.Trace.ClrProfiler.Managed.Loader.csproj
  src/Datadog.Trace.ClrProfiler.Managed.Loader/Startup.cs
  src/Datadog.Trace.ClrProfiler.Managed/Datadog.Trace.ClrProfiler.Managed.csproj
  src/Datadog.Trace.ClrProfiler.Native/CMakeLists.txt
  src/Datadog.Trace.ClrProfiler.Native/Resource.rc
  src/Datadog.Trace.ClrProfiler.Native/dd_profiler_constants.h
  src/Datadog.Trace.ClrProfiler.Native/version.h
  src/Datadog.Trace.MSBuild/Datadog.Trace.MSBuild.csproj
  src/Datadog.Trace.OpenTracing/Datadog.Trace.OpenTracing.csproj
  src/Datadog.Trace.Tools.Runner/Datadog.Trace.Tools.Runner.Standalone.csproj
  src/Datadog.Trace.Tools.Runner/Datadog.Trace.Tools.Runner.Tool.csproj
  src/Datadog.Trace/Datadog.Trace.csproj
  src/Datadog.Trace/TracerConstants.cs
  src/WindowsInstaller/WindowsInstaller.wixproj
  test/test-applications/regression/AutomapperTest/Dockerfile
Labels: area:builds

#1715 Fix docker-compose command line for arm64 integration tests
  .azure-pipelines/ultimate-pipeline.yml
Labels: area:builds
