Repository DataDog/dd-trace-dotnet, pull requests merged in 2021-01, with the labels that each got.

#1046 Http Over Named Pipes
  Datadog.Trace.sln
  src/Datadog.Trace/Agent/AgentWriter.cs
  src/Datadog.Trace/Agent/Api.cs
  src/Datadog.Trace/Agent/IAgentWriter.cs
  src/Datadog.Trace/Agent/IApi.cs
  src/Datadog.Trace/Agent/IApiRequest.cs
  src/Datadog.Trace/Agent/IApiRequestFactory.cs
  src/Datadog.Trace/Agent/IStreamFactory.cs
  src/Datadog.Trace/Agent/MessagePack/CachedSerializer.cs
  src/Datadog.Trace/Agent/StreamFactories/NamedPipeClientStreamFactory.cs
  src/Datadog.Trace/Agent/StreamFactories/TcpStreamFactory.cs
  src/Datadog.Trace/Agent/TransportStrategy.cs
  src/Datadog.Trace/Agent/Transports/ApiWebRequest.cs
  src/Datadog.Trace/Agent/Transports/ApiWebRequestFactory.cs
  src/Datadog.Trace/Agent/Transports/ApiWebResponse.cs
  src/Datadog.Trace/Agent/Transports/HttpClientRequest.cs
  src/Datadog.Trace/Agent/Transports/HttpClientRequestFactory.cs
  src/Datadog.Trace/Agent/Transports/HttpClientResponse.cs
  src/Datadog.Trace/Agent/Transports/HttpStreamRequest.cs
  src/Datadog.Trace/Agent/Transports/HttpStreamRequestFactory.cs
  src/Datadog.Trace/Agent/Transports/HttpStreamResponse.cs
  src/Datadog.Trace/Configuration/ConfigurationKeys.cs
  src/Datadog.Trace/Configuration/TracerSettings.cs
  src/Datadog.Trace/HttpOverStreams/DatadogHttpClient.cs
  src/Datadog.Trace/HttpOverStreams/DatadogHttpHeaderHelper.cs
  src/Datadog.Trace/HttpOverStreams/DatadogHttpRequestException.cs
  src/Datadog.Trace/HttpOverStreams/DatadogHttpValues.cs
  src/Datadog.Trace/HttpOverStreams/HttpContent/StreamContent.cs
  src/Datadog.Trace/HttpOverStreams/HttpHeaders.cs
  src/Datadog.Trace/HttpOverStreams/HttpMessage.cs
  src/Datadog.Trace/HttpOverStreams/HttpRequest.cs
  src/Datadog.Trace/HttpOverStreams/HttpResponse.cs
  src/Datadog.Trace/HttpOverStreams/IHttpContent.cs
  src/Datadog.Trace/Tracer.cs
  src/Datadog.Trace/TracingProcessManager.cs
  test/Datadog.Trace.Tests/ApiWebRequestFactoryTests.cs
  test/Datadog.Trace.Tests/DistributedTraceTests.cs
  test/Datadog.Trace.Tests/HttpClientRequestTests.cs
  test/test-applications/regression/LargePayload/LargePayload.csproj
  test/test-applications/regression/LargePayload/Program.cs
  test/test-applications/regression/LargePayload/Properties/launchSettings.json
Labels: area:tracer, type:new-feature

#1128 Fix dotnet core 2.x shutdown bug
  src/Datadog.Trace.ClrProfiler.Native/cor_profiler_base.h
Labels: type:bug

#1133 Remove Restriction for Pipe Request Content-Length
  src/Datadog.Trace/Agent/Transports/HttpStreamRequest.cs
  src/Datadog.Trace/HttpOverStreams/DatadogHttpClient.cs
  src/Datadog.Trace/HttpOverStreams/DatadogHttpValues.cs
  src/Datadog.Trace/HttpOverStreams/HttpContent/StreamContent.cs
  src/Datadog.Trace/HttpOverStreams/IHttpContent.cs
  test/test-applications/regression/AspNetMvcCorePerformance/Program.cs
Labels: area:azure-site-extension

#1140 Bump .NET Tracer version to 1.22.0
  build/docker/package.sh
  integrations.json
  samples/ConsoleApp/Alpine3.10.dockerfile
  samples/ConsoleApp/Alpine3.9.dockerfile
  samples/ConsoleApp/Debian.dockerfile
  src/Datadog.Trace.AspNet/Datadog.Trace.AspNet.csproj
  src/Datadog.Trace.ClrProfiler.Managed.Core/Datadog.Trace.ClrProfiler.Managed.Core.csproj
  src/Datadog.Trace.ClrProfiler.Managed.Loader/Datadog.Trace.ClrProfiler.Managed.Loader.csproj
  src/Datadog.Trace.ClrProfiler.Managed.Loader/Startup.cs
  src/Datadog.Trace.ClrProfiler.Managed/Datadog.Trace.ClrProfiler.Managed.csproj
  src/Datadog.Trace.ClrProfiler.Native/CMakeLists.txt
  src/Datadog.Trace.ClrProfiler.Native/Resource.rc
  src/Datadog.Trace.ClrProfiler.Native/dd_profiler_constants.h
  src/Datadog.Trace.ClrProfiler.Native/version.h
  src/Datadog.Trace.MSBuild/Datadog.Trace.MSBuild.csproj
  src/Datadog.Trace.OpenTracing/Datadog.Trace.OpenTracing.csproj
  src/Datadog.Trace.Tools.Runner/Datadog.Trace.Tools.Runner.Standalone.csproj
  src/Datadog.Trace.Tools.Runner/Datadog.Trace.Tools.Runner.Tool.csproj
  src/Datadog.Trace/Datadog.Trace.csproj
  src/Datadog.Trace/TracerConstants.cs
  src/WindowsInstaller/WindowsInstaller.wixproj
  test/test-applications/regression/AutomapperTest/Dockerfile
  tools/Datadog.Core.Tools/TracerVersion.cs
Labels: area:builds

#1141 Fix PrepareRelease tool to accommodate updated CMakeLists.txt
  build/tools/PrepareRelease/SetAllVersions.cs
Labels: area:builds

#1137 Add VB tests for SQL server
  Datadog.Trace.sln
  test/Datadog.Trace.ClrProfiler.IntegrationTests/AdoNet/SystemDataSqlClientTests.cs
  test/test-applications/integrations/Samples.SqlServer/Program.cs
  test/test-applications/integrations/Samples.SqlServer/Samples.SqlServer.csproj
  test/test-applications/integrations/dependency-libs/Samples.DatabaseHelper/RelationalDatabaseTestHarness.cs
  test/test-applications/integrations/dependency-libs/Samples.SqlServer.Vb/Samples.SqlServer.Vb.vbproj
  test/test-applications/integrations/dependency-libs/Samples.SqlServer.Vb/SqlCommandExecutorVb.vb
Labels: area:tests

#1135 Fix reading from standard input / Console.ReadLine in the runner/standalone tool.
  src/Datadog.Trace.Tools.Runner/Utils.cs
Labels: area:ci-app, type:bug

#1131 NUnit CallTarget integration
  integrations.json
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/NUnit/IMethodInfo.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/NUnit/IPropertyBag.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/NUnit/ITest.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/NUnit/ITestExecutionContext.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/NUnit/NUnitIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/NUnit/NUnitSkipCommandExecuteIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/NUnit/NUnitTestAdapterUnloadIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/NUnit/NUnitTestMethodCommandExecuteIntegration.cs
Labels: area:calltarget, area:integrations

#1142 Add configuration for customising span service names
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/ElasticsearchNetCommon.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/GraphQLIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/MongoDbIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/RabbitMQIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/RedisHelper.cs
  src/Datadog.Trace.ClrProfiler.Managed/ScopeFactory.cs
  src/Datadog.Trace/Configuration/ConfigurationKeys.cs
  src/Datadog.Trace/Configuration/ServiceNames.cs
  src/Datadog.Trace/Configuration/TracerSettings.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/ServiceMappingTests.cs
  test/Datadog.Trace.ClrProfiler.Managed.Tests/ScopeFactoryTests.cs
  test/Datadog.Trace.Tests/Configuration/ServiceNameTests.cs
Labels: type:new-feature

#1145 Update CiApp tags according the specs.
  src/Datadog.Trace.Ci.Shared/CIEnvironmentValues.cs
  src/Datadog.Trace.Ci.Shared/CommonTags.cs
Labels: area:ci-app, area:integrations

#1144 Fix CIApp integrations by removing the Analyzed span tag
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/Testing/NUnitIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/Testing/XUnitIntegration.cs
Labels: area:ci-app, area:integrations

#1134 Scope restore on CallTarget async integrations
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/HttpClientHandler/HttpClientHandlerIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/NUnit/NUnitSkipCommandExecuteIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/NUnit/NUnitTestMethodCommandExecuteIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/SocketsHttpHandler/SocketsHttpHandlerIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/WinHttpHandler/WinHttpHandlerIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/XUnit/XUnitTestInvokerRunAsyncIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/CallTarget/CallTargetState.cs
  src/Datadog.Trace.ClrProfiler.Managed/CallTarget/Handlers/BeginMethodHandler.cs
  src/Datadog.Trace.ClrProfiler.Managed/CallTarget/Handlers/BeginMethodHandler`1.cs
  src/Datadog.Trace.ClrProfiler.Managed/CallTarget/Handlers/BeginMethodHandler`2.cs
  src/Datadog.Trace.ClrProfiler.Managed/CallTarget/Handlers/BeginMethodHandler`3.cs
  src/Datadog.Trace.ClrProfiler.Managed/CallTarget/Handlers/BeginMethodHandler`4.cs
  src/Datadog.Trace.ClrProfiler.Managed/CallTarget/Handlers/BeginMethodHandler`5.cs
  src/Datadog.Trace.ClrProfiler.Managed/CallTarget/Handlers/BeginMethodHandler`6.cs
  src/Datadog.Trace.ClrProfiler.Managed/CallTarget/Handlers/BeginMethodSlowHandler.cs
  src/Datadog.Trace.ClrProfiler.Managed/CallTarget/Handlers/EndMethodHandler.cs
  src/Datadog.Trace.ClrProfiler.Managed/CallTarget/Handlers/EndMethodHandler`1.cs
  src/Datadog.Trace/IScopeRawAccess.cs
  src/Datadog.Trace/ScopeManagerBase.cs
Labels: area:calltarget, type:enhancement

#1149 Add Site Extension Version to Trace Tags
  src/Datadog.Trace/PlatformHelpers/AzureAppServices.cs
  src/Datadog.Trace/Tags.cs
  src/Datadog.Trace/TraceContext.cs
Labels: area:azure-site-extension, area:tracer

#1152 hide warnings for EOL targets (like netcoreapp3.0)
  build/tools/GeneratePackageVersions/GeneratePackageVersions.csproj
  src/Datadog.Trace.ClrProfiler.Managed.Loader/Datadog.Trace.ClrProfiler.Managed.Loader.csproj
  test/Directory.Build.props
  tools/Directory.Build.props
  tools/UpdateVendors/UpdateVendors.csproj
Labels: area:builds

#1138 Use the command as query in MongoDb
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/MongoDbIntegration.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/MongoDbTests.cs
Labels: area:integrations, type:bug

#1155 Packages pipeline fix
  .azure-pipelines/packages.yml
  build/docker/package.dockerfile
Labels: area:builds

#1146 SqlClient CallTarget integration
  build/tools/PrepareRelease/GenerateIntegrationDefinitions.cs
  integrations.json
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/AdoNet/AdoNetConstants.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/AdoNet/SqlClient/SqlClientConstants.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/AdoNet/SqlClient/SqlCommandExecuteNonQueryAsyncIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/AdoNet/SqlClient/SqlCommandExecuteNonQueryIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/AdoNet/SqlClient/SqlCommandExecuteReaderAsyncIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/AdoNet/SqlClient/SqlCommandExecuteReaderIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/AdoNet/SqlClient/SqlCommandExecuteReaderWithBehaviorIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/AdoNet/SqlClient/SqlCommandExecuteScalarAsyncIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/AdoNet/SqlClient/SqlCommandExecuteScalarIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/AutoInstrumentationExtensions.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/AdoNet/MicrosoftDataSqlClientTests.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/AdoNet/SqlCommand20Tests.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/AdoNet/SystemDataSqlClientTests.cs
Labels: area:calltarget, area:integrations, area:integrations/adonet

#1004 Reduce number of Skipped tests
  test/Datadog.Trace.ClrProfiler.IntegrationTests/AspNetCore/AspNetCoreMvc21Tests.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/AspNetCore/AspNetCoreMvc30Tests.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/AspNetCore/AspNetCoreMvc31Tests.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/Helpers/TargetFrameworkVersionsFact.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/Helpers/TargetFrameworkVersionsTheory.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/SmokeTests/EntityFramework6xMdTokenLookupFailure.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/SmokeTests/Log4NetSerializationExceptionSmokeTest.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/SmokeTests/NLog10LogsInjectionNullReferenceExceptionSmokeTest.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/SmokeTests/OrleansSmokeTest.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/SmokeTests/StackExchangeRedisStackOverflowExceptionSmokeTest.cs
Labels: area:tests

#1114 Build and Test ARM64 automatic instrumentation in CI
  .azure-pipelines/integration-tests.yml
  .azure-pipelines/unit-tests.yml
  build/docker/Datadog.Trace.ClrProfiler.IntegrationTests.arm64.sh
  build/docker/build.arm64.sh
  build/docker/dotnet.arm64.core50.dockerfile
  build/docker/dotnet.arm64.dockerfile
  docker-compose.yml
Labels: area:builds, area:clr-profiler, type:new-feature

#1166 Fix ARM64 integration tests
  build/docker/Datadog.Trace.ClrProfiler.IntegrationTests.arm64.sh
  test/Datadog.Trace.ClrProfiler.IntegrationTests/SmokeTests/OrleansSmokeTest.cs
Labels: area:tests

#1172 Update .NET tracer to 1.22.1-prerelease
  build/docker/package.sh
  integrations.json
  samples/ConsoleApp/Alpine3.10.dockerfile
  samples/ConsoleApp/Alpine3.9.dockerfile
  samples/ConsoleApp/Debian.dockerfile
  src/Datadog.Trace.AspNet/Datadog.Trace.AspNet.csproj
  src/Datadog.Trace.ClrProfiler.Managed.Core/Datadog.Trace.ClrProfiler.Managed.Core.csproj
  src/Datadog.Trace.ClrProfiler.Managed.Loader/Datadog.Trace.ClrProfiler.Managed.Loader.csproj
  src/Datadog.Trace.ClrProfiler.Managed.Loader/Startup.cs
  src/Datadog.Trace.ClrProfiler.Managed/Datadog.Trace.ClrProfiler.Managed.csproj
  src/Datadog.Trace.ClrProfiler.Native/CMakeLists.txt
  src/Datadog.Trace.ClrProfiler.Native/Resource.rc
  src/Datadog.Trace.ClrProfiler.Native/dd_profiler_constants.h
  src/Datadog.Trace.ClrProfiler.Native/version.h
  src/Datadog.Trace.MSBuild/Datadog.Trace.MSBuild.csproj
  src/Datadog.Trace.OpenTracing/Datadog.Trace.OpenTracing.csproj
  src/Datadog.Trace.Tools.Runner/Datadog.Trace.Tools.Runner.Standalone.csproj
  src/Datadog.Trace.Tools.Runner/Datadog.Trace.Tools.Runner.Tool.csproj
  src/Datadog.Trace/Datadog.Trace.csproj
  src/Datadog.Trace/TracerConstants.cs
  src/WindowsInstaller/WindowsInstaller.wixproj
  test/test-applications/regression/AutomapperTest/Dockerfile
  tools/Datadog.Core.Tools/TracerVersion.cs
Labels: area:builds

#1174 Ignore agent and port when in AAS (dogstatsd)
  src/Datadog.Trace/Tracer.cs
Labels: area:azure-site-extension

#1175 Patch .NET 5.0 SDK to work around NuGet cert issue
  build/docker/dotnet.arm64.core50.dockerfile
  build/docker/dotnet.arm64.dockerfile
  build/docker/dotnet.dockerfile
Labels: area:builds

#1136 Add MacOS support for runner/standalone tool
  .azure-pipelines/runner.yml
  src/Datadog.Trace.Tools.Runner/Datadog.Trace.Tools.Runner.Standalone.csproj
  src/Datadog.Trace.Tools.Runner/Datadog.Trace.Tools.Runner.proj
  src/Datadog.Trace.Tools.Runner/Platform.cs
  src/Datadog.Trace.Tools.Runner/Program.cs
  src/Datadog.Trace.Tools.Runner/Utils.cs
  src/Datadog.Trace.Tools.Runner/home/osx-x64/readme.txt
Labels: area:ci-app, type:new-feature

#1168 MySql CallTarget integration
  integrations.json
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/AdoNet/MySql/MySqlClientConstants.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/AdoNet/MySql/MySqlCommandExecuteNonQueryAsyncIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/AdoNet/MySql/MySqlCommandExecuteNonQueryIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/AdoNet/MySql/MySqlCommandExecuteReaderAsyncIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/AdoNet/MySql/MySqlCommandExecuteReaderAsyncWithBehaviorIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/AdoNet/MySql/MySqlCommandExecuteReaderIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/AdoNet/MySql/MySqlCommandExecuteReaderWithBehaviorIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/AdoNet/MySql/MySqlCommandExecuteScalarAsyncIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/AdoNet/MySql/MySqlCommandExecuteScalarIntegration.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/AdoNet/MySqlCommandTests.cs
Labels: area:calltarget, area:integrations/adonet

#1164 Npgsql CallTarget integration
  integrations.json
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/AdoNet/Npgsql/NpgsqlConstants.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/AdoNet/Npgsql/NpgsqlExecuteNonQueryAsyncIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/AdoNet/Npgsql/NpgsqlExecuteNonQueryIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/AdoNet/Npgsql/NpgsqlExecuteReaderAsyncIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/AdoNet/Npgsql/NpgsqlExecuteReaderIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/AdoNet/Npgsql/NpgsqlExecuteReaderWithBehaviorIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/AdoNet/Npgsql/NpgsqlExecuteScalarAsyncIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/AdoNet/Npgsql/NpgsqlExecuteScalarIntegration.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/AdoNet/NpgsqlCommandTests.cs
Labels: area:calltarget, area:integrations/adonet

#1177 Fix memory leak by adding missing delete[] instructions.
  src/Datadog.Trace.ClrProfiler.Native/calltarget_tokens.cpp
Labels: area:calltarget, type:bug

#1106 Add instrumentation for HttpWebRequest.GetRequestStream
  Datadog.Trace.sln
  integrations.json
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/WebRequestIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/ScopeFactory.cs
  src/Datadog.Trace/SpanContext.cs
  src/Datadog.Trace/Tracer.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/WebRequestTests.cs
  test/test-applications/integrations/Samples.WebRequest/Program.cs
  test/test-applications/integrations/Samples.WebRequest/RequestHelpers.cs
Labels: area:integrations

#1176 Exponential Backoff Named Pipe Check
  src/Datadog.Trace/Configuration/ConfigurationKeys.cs
  src/Datadog.Trace/TracingProcessManager.cs
Labels: area:azure-site-extension

#1173 Refactor ADO.NET integrations to use the assembly integration attribute
  build/tools/PrepareRelease/GenerateIntegrationDefinitions.cs
  integrations.json
  src/Datadog.Trace.ClrProfiler.Managed.Core/InstrumentMethodAttribute.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/AdoNet/AdoNetClientInstrumentMethodAttribute.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/AdoNet/AdoNetConstants.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/AdoNet/CommandExecuteNonQueryAsyncIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/AdoNet/CommandExecuteNonQueryIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/AdoNet/CommandExecuteReaderAsyncIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/AdoNet/CommandExecuteReaderIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/AdoNet/CommandExecuteReaderWithBehaviorAsyncIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/AdoNet/CommandExecuteReaderWithBehaviorIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/AdoNet/CommandExecuteScalarAsyncIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/AdoNet/CommandExecuteScalarIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/AdoNet/IAdoNetClientData.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/AdoNet/MySql/MySqlClientConstants.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/AdoNet/MySql/MySqlCommandExecuteNonQueryAsyncIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/AdoNet/MySql/MySqlCommandExecuteNonQueryIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/AdoNet/MySql/MySqlCommandExecuteReaderAsyncIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/AdoNet/MySql/MySqlCommandExecuteReaderAsyncWithBehaviorIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/AdoNet/MySql/MySqlCommandExecuteReaderIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/AdoNet/MySql/MySqlCommandExecuteScalarAsyncIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/AdoNet/MySql/MySqlConstants.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/AdoNet/MySql/MySqlDefinitions.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/AdoNet/Npgsql/NpgsqlConstants.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/AdoNet/Npgsql/NpgsqlDefinitions.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/AdoNet/Npgsql/NpgsqlExecuteNonQueryAsyncIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/AdoNet/Npgsql/NpgsqlExecuteNonQueryIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/AdoNet/Npgsql/NpgsqlExecuteScalarAsyncIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/AdoNet/Npgsql/NpgsqlExecuteScalarIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/AdoNet/SqlClient/SqlClientConstants.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/AdoNet/SqlClient/SqlClientDefinitions.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/AdoNet/SqlClient/SqlCommandExecuteNonQueryIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/AdoNet/SqlClient/SqlCommandExecuteReaderAsyncIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/AdoNet/SqlClient/SqlCommandExecuteReaderWithBehaviorIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/AdoNet/SqlClient/SqlCommandExecuteScalarIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/HttpClientHandler/HttpClientHandlerIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/NUnit/NUnitSkipCommandExecuteIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/NUnit/NUnitTestAdapterUnloadIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/NUnit/NUnitTestMethodCommandExecuteIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/SocketsHttpHandler/SocketsHttpHandlerIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/WinHttpHandler/WinHttpHandlerIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/XUnit/XUnitTestAssemblyRunnerRunTestCollectionAsyncIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/XUnit/XUnitTestInvokerRunAsyncIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/XUnit/XUnitTestRunnerRunAsyncIntegration.cs
Labels: area:calltarget, area:integrations/adonet

#1157 Disable automatic logs injection during IIS PreStartInit phase
  build/docker/IIS/LoaderOptimizationRegKey.dockerfile
  build/docker/IIS/build.ps1
  src/Datadog.Trace.ClrProfiler.Native/cor_profiler.cpp
  src/Datadog.Trace.ClrProfiler.Native/cor_profiler.h
  src/Datadog.Trace/IScopeManager.cs
  src/Datadog.Trace/Logging/LibLogScopeEventSubscriber.cs
  src/Datadog.Trace/ScopeManagerBase.cs
  test/test-applications/aspnet/Samples.AspNet472.LoaderOptimizationRegKey/About.aspx.cs
  test/test-applications/aspnet/Samples.AspNet472.LoaderOptimizationRegKey/Contact.aspx.cs
  test/test-applications/aspnet/Samples.AspNet472.LoaderOptimizationRegKey/Default.aspx.cs
  test/test-applications/aspnet/Samples.AspNet472.LoaderOptimizationRegKey/Global.asax.cs
  test/test-applications/aspnet/Samples.AspNet472.LoaderOptimizationRegKey/Properties/AssemblyInfo.cs
  test/test-applications/aspnet/Samples.AspNet472.LoaderOptimizationRegKey/Samples.AspNet472.LoaderOptimizationRegKey.csproj
  test/test-applications/aspnet/Samples.AspNet472.LoaderOptimizationRegKey/Web.config
  test/test-applications/aspnet/Samples.AspNet472.LoaderOptimizationRegKey/log4net.config
  test/test-applications/aspnet/Samples.AspNet472.LoaderOptimizationRegKey/packages.config
Labels: type:bug
