Repository DataDog/dd-trace-dotnet, pull requests merged in 2021-06, with the labels that each got.

#1499 Cleanup project files (redux)
  Datadog.Trace.sln
  build/Directory.Build.props
  build/tools/Directory.Build.props
  src/Directory.Build.props
  test/Directory.Build.props
  test/test-applications/Directory.Build.props
  test/test-applications/instrumentation/CallTargetNativeTest/CallTargetNativeTest.csproj
  test/test-applications/regression/AspNetMvcCorePerformance/AspNetMvcCorePerformance.csproj
  test/test-applications/regression/AutomapperTest/AutomapperTest.csproj
  test/test-applications/regression/Directory.Build.props
  test/test-applications/regression/NetCoreAssemblyLoadFailureOlderNuGet/NetCoreAssemblyLoadFailureOlderNuGet.csproj
  test/test-applications/regression/StackExchange.Redis.StackOverflowException/StackExchange.Redis.StackOverflowException.csproj
  test/test-applications/regression/dependency-libs/Directory.Build.props
  tools/Datadog.Core.Tools/Datadog.Core.Tools.csproj
  tools/Directory.Build.props
Labels: area:builds, type:cleanup

#1476 Add Nuke build project and update consolidated pipeline
  .azure-pipelines/steps/install-dotnet-5-sdk.yml
  .azure-pipelines/steps/restore-working-directory.yml
  .azure-pipelines/steps/run-in-docker.yml
  .azure-pipelines/ultimate-pipeline.yml
  .nuke
  Datadog.Trace.proj
  Datadog.Trace.sln
  build.cmd
  build.ps1
  build.sh
  build/_build/.editorconfig
  build/_build/Build.Steps.cs
  build/_build/Build.Utilities.cs
  build/_build/Build.cs
  build/_build/Configuration.cs
  build/_build/CustomDotNetTasks.cs
  build/_build/Directory.Build.props
  build/_build/DotNetMSBuildSettings.cs
  build/_build/DotNetSettingsExtensions.cs
  build/_build/LazyLocalExecutableAttribute.cs
  build/_build/LazyPathExecutableAttribute.cs
  build/_build/MiniDumpType.cs
  build/_build/Projects.cs
  build/_build/TargetFramework.cs
  build/_build/_build.csproj
  build/_build/_build.csproj.DotSettings
  build/_build/docker/.dockerignore
  build/_build/docker/alpine.dockerfile
  build/_build/docker/debian.dockerfile
  build/docker/IIS/LoaderOptimizationRegKey.dockerfile
  build/tools/PrepareRelease/SetAllVersions.cs
  build_in_docker.sh
  docker-compose.yml
  src/Datadog.Trace.ClrProfiler.Native/CMakeLists.txt
  test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/CIEnvironmentVariableTests.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/DataHelpers.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/GitParserTests.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/Datadog.Trace.ClrProfiler.IntegrationTests.csproj
  test/test-applications/aspnet/Samples.AspNet472.LoaderOptimizationRegKey/Samples.AspNet472.LoaderOptimizationRegKey.csproj
  test/test-applications/integrations/Samples.AspNetCoreRazorPages/Samples.AspNetCoreRazorPages.csproj
  test/test-applications/integrations/dependency-libs/Directory.Build.props
Labels: area:builds, type:refactor

#1508 Include Nuke build project in the sln
  Datadog.Trace.sln
  build/tools/PrepareRelease/SetAllVersions.cs
  test/test-applications/aspnet/Samples.AspNet472.LoaderOptimizationRegKey/Samples.AspNet472.LoaderOptimizationRegKey.csproj
  test/test-applications/throughput/Samples.AspNetCoreSimpleController/Samples.AspNetCoreSimpleController.csproj
Labels: area:builds

#1510 Fix race condition in runner pipeline
  .azure-pipelines/runner.yml
Labels: area:builds, type:bug

#1502 Avoid the trace copy when flushing spans
  src/Datadog.Trace/Agent/AgentWriter.cs
  src/Datadog.Trace/Agent/IAgentWriter.cs
  src/Datadog.Trace/Agent/SpanBuffer.cs
  src/Datadog.Trace/IDatadogTracer.cs
  src/Datadog.Trace/TraceContext.cs
  src/Datadog.Trace/Tracer.cs
  src/Datadog.Trace/Util/ArrayBuilder.cs
  test/Datadog.Trace.IntegrationTests/DiagnosticListeners/AspNetCoreDiagnosticObserverTests.cs
  test/Datadog.Trace.Tests/Agent/SpanBufferTests.cs
  test/Datadog.Trace.Tests/AgentWriterTests.cs
  test/Datadog.Trace.Tests/SpanTests.cs
  test/Datadog.Trace.Tests/TraceContextTests.cs
  test/Datadog.Trace.Tests/TracerSettingsTests.cs
  test/Datadog.Trace.Tests/Util/ArrayBuilderTests.cs
  test/benchmarks/Benchmarks.Trace/AgentWriterBenchmark.cs
  test/benchmarks/Benchmarks.Trace/DummyAgentWriter.cs
Labels: area:tracer, type:performance-optimizations

#1516 Add net5.0 support to dd-trace
  src/Datadog.Trace.Tools.Runner/Datadog.Trace.Tools.Runner.Tool.csproj
Labels: area:tools, type:enhancement

#1518 Crank sample app profiler detector.
  test/test-applications/throughput/Samples.AspNetCoreSimpleController/Program.cs
Labels: area:benchmarks, area:samples-and-test-apps

#1509 ✨ Enable calltarget instrumentation by default on all architectures ✨
  src/Datadog.Trace.ClrProfiler.Native/environment_variables_util.h
Labels: area:integrations, type:enhancement

#1520 Delete project NugetProfilerVersionMismatch
  build/_build/Build.Steps.cs
  test/test-applications/regression/NugetProfilerVersionMismatch.TypeLoadException/NugetProfilerVersionMismatch.TypeLoadException.csproj
  test/test-applications/regression/NugetProfilerVersionMismatch.TypeLoadException/Program.cs
  test/test-applications/regression/NugetProfilerVersionMismatch.TypeLoadException/Properties/launchSettings.json
  test/test-applications/regression/NugetProfilerVersionMismatch.TypeLoadException/README.md
Labels: area:builds, area:samples-and-test-apps, type:cleanup

#1512 Convert GitLab package signing build to use Nuke targets
  .gitlab-ci.yml
  build/_build/Build.Gitlab.cs
  build/_build/Build.Steps.cs
  build/_build/Build.cs
  build/_build/DotNetSettingsExtensions.cs
  build/_build/_build.csproj
  build/_build/gitlab.bat
  tasks/__init__.py
  tasks/dotnettracer.py
  tasks/ssm.py
  tasks/winbuildscripts/buildwin.bat
Labels: area:builds

#1473 Cosmos Db support
  .azure-pipelines/integration-tests.yml
  Datadog.Trace.sln
  build/PackageVersionsComprehensive.g.props
  build/PackageVersionsGeneratorDefinitions.json
  build/PackageVersionsLatestMinors.g.props
  build/docker/Datadog.Trace.ClrProfiler.IntegrationTests.arm64.sh
  build/docker/Datadog.Trace.ClrProfiler.IntegrationTests.sh
  integrations.json
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/CosmosDb/ClientQueryIteratorsIntegrations.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/CosmosDb/ContainerNewStruct.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/CosmosDb/ContainerOldStruct.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/CosmosDb/ContainerQueryIteratorsIntegrations.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/CosmosDb/CosmosClientStruct.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/CosmosDb/CosmosCommon.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/CosmosDb/CosmosContextClientStruct.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/CosmosDb/DatabaseNewStruct.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/CosmosDb/DatabaseOldStruct.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/CosmosDb/DatabaseQueryIteratorsIntegrations.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/CosmosDb/QueryDefinitionStruct.cs
  src/Datadog.Trace.ClrProfiler.Managed/Datadog.Trace.ClrProfiler.Managed.csproj
  src/Datadog.Trace/Configuration/IntegrationIds.cs
  src/Datadog.Trace/Tagging/CosmosDbTags.cs
  src/Datadog.Trace/Tags.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/CosmosTests.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersions.g.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsComprehensive.g.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestMinors.g.cs
  test/test-applications/integrations/Samples.CosmosDb/App.config
  test/test-applications/integrations/Samples.CosmosDb/CosmosEventListener.cs
  test/test-applications/integrations/Samples.CosmosDb/Family.cs
  test/test-applications/integrations/Samples.CosmosDb/Program.cs
  test/test-applications/integrations/Samples.CosmosDb/Properties/launchSettings.json
  test/test-applications/integrations/Samples.CosmosDb/Samples.CosmosDb.csproj
Labels: area:integrations, type:new-feature

#1523 Fix CosomsDb tests and disable PR triggers for old pipelines
  .azure-pipelines/benchmarks.yml
  .azure-pipelines/crank.yml
  .azure-pipelines/packages.yml
  .azure-pipelines/runner.yml
  .azure-pipelines/ultimate-pipeline.yml
  build/_build/Build.Steps.cs
  build/_build/Build.cs
Labels: area:builds

#1471 Add automatic instrumentation for AWS SQS
  Datadog.Trace.sln
  build/PackageVersionsComprehensive.g.props
  build/PackageVersionsGeneratorDefinitions.json
  build/PackageVersionsLatestMinors.g.props
  build/docker/build.arm64.sh
  build/docker/build.sh
  docker-compose.yml
  integrations.json
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/AWS/AwsConstants.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/AWS/SDK/IAmazonWebServiceResponse.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/AWS/SDK/IClientConfig.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/AWS/SDK/IExecutionContext.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/AWS/SDK/IRegionEndpoint.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/AWS/SDK/IRequest.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/AWS/SDK/IRequestContext.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/AWS/SDK/IResponseContext.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/AWS/SDK/IResponseMetadata.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/AWS/SDK/RuntimePipelineInvokeAsyncIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/AWS/SDK/RuntimePipelineInvokeSyncIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/AWS/SQS/AwsSqsCommon.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/AWS/SQS/CachedMessageHeadersHelper.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/AWS/SQS/ContextPropagation.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/AWS/SQS/CreateQueueAsyncIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/AWS/SQS/CreateQueueIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/AWS/SQS/DeleteMessageAsyncIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/AWS/SQS/DeleteMessageBatchAsyncIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/AWS/SQS/DeleteMessageBatchIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/AWS/SQS/DeleteMessageIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/AWS/SQS/DeleteQueueAsyncIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/AWS/SQS/DeleteQueueIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/AWS/SQS/IAmazonSQSRequestWithQueueUrl.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/AWS/SQS/IContainsMessageAttributes.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/AWS/SQS/ICreateQueueRequest.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/AWS/SQS/ICreateQueueResponse.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/AWS/SQS/ISendMessageBatchRequest.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/AWS/SQS/ISendMessageRequest.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/AWS/SQS/ReceiveMessageAsyncIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/AWS/SQS/ReceiveMessageIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/AWS/SQS/SendMessageAsyncIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/AWS/SQS/SendMessageBatchAsyncIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/AWS/SQS/SendMessageBatchIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/AWS/SQS/SendMessageIntegration.cs
  src/Datadog.Trace/Configuration/IntegrationIds.cs
  src/Datadog.Trace/Tagging/AwsSdkTags.cs
  src/Datadog.Trace/Tagging/AwsSqsTags.cs
  src/Datadog.Trace/Tags.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/AWS/AwsSqsTests.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/Helpers/DictionaryExtensions.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/Helpers/EquivalencyAssertionOptionsExtensions.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersions.g.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsComprehensive.g.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestMinors.g.cs
  test/Datadog.Trace.TestHelpers/MockTracerAgent.cs
  test/test-applications/integrations/Samples.AWS.SQS/AsyncHelpers.cs
  test/test-applications/integrations/Samples.AWS.SQS/Common.cs
  test/test-applications/integrations/Samples.AWS.SQS/Program.cs
  test/test-applications/integrations/Samples.AWS.SQS/Properties/launchSettings.json
  test/test-applications/integrations/Samples.AWS.SQS/Samples.AWS.SQS.csproj
  test/test-applications/integrations/Samples.AWS.SQS/SyncHelpers.cs
Labels: area:integrations, type:new-feature

#1524 Small build improvements
  build/_build/Build.Steps.cs
  build/_build/_build.csproj
  docker-compose.yml
  src/Datadog.Trace.ClrProfiler.Native/CMakeLists.txt
  test/test-applications/integrations/Samples.Elasticsearch.V5/Samples.Elasticsearch.V5.csproj
  test/test-applications/integrations/Samples.GraphQL/Startup.cs
  test/test-applications/integrations/Samples.MongoDB/Program.cs
  test/test-applications/integrations/Samples.ServiceStack.Redis/Samples.ServiceStack.Redis.csproj
  test/test-applications/integrations/Samples.XUnitTests/Program.cs
  test/test-applications/integrations/Samples.XUnitTests/Samples.XUnitTests.csproj
  test/test-applications/regression/StackExchange.Redis.StackOverflowException/StackExchange.Redis.StackOverflowException.csproj
Labels: area:builds, area:samples-and-test-apps

#1522 Adds CorLib detection for assembly ref
  src/Datadog.Trace.ClrProfiler.Native/clr_helpers.cpp
  src/Datadog.Trace.ClrProfiler.Native/clr_helpers.h
  src/Datadog.Trace.ClrProfiler.Native/cor_profiler.cpp
  test/Datadog.Trace.ClrProfiler.Native.Tests/clr_helper_test.cpp
Labels: area:native-library

#1529 Downgrade the version of cmake used for MacOs builds
  .azure-pipelines/runner.yml
  .azure-pipelines/steps/downgrade-macos-cmake.yml
  .azure-pipelines/ultimate-pipeline.yml
Labels: area:builds, os:macos, type:bug

#1531 Small build improvements
  .azure-pipelines/ultimate-pipeline.yml
  .gitignore
  build/_build/Build.Steps.cs
  build/_build/Build.cs
  docker-compose.yml
  src/Datadog.Trace.ClrProfiler.Native/CMakeLists.txt
Labels: area:builds, area:tests, type:refactor

#1533 NUnit integration improvements
  src/Datadog.Trace.Ci.Shared/TestTags.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/Testing/Common.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/Testing/NUnit/ITest.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/Testing/NUnit/NUnitIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/Testing/Common.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/NUnitTests.cs
  test/test-applications/integrations/Samples.NUnitTests/TestSuite.cs
Labels: area:ci-app

#1536 Fix Enable32Bit flag for IIS container
  .azure-pipelines/ultimate-pipeline.yml
  build/docker/IIS/LoaderOptimizationRegKey.dockerfile
Labels: area:builds, type:bug

#1538 Bump version to 1.27.1
  build/docker/package.sh
  integrations.json
  samples/AutomaticTraceIdInjection/Log4NetExample/Log4NetExample.csproj
  samples/AutomaticTraceIdInjection/NLog40Example/NLog40Example.csproj
  samples/AutomaticTraceIdInjection/NLog45Example/NLog45Example.csproj
  samples/AutomaticTraceIdInjection/NLog46Example/NLog46Example.csproj
  samples/AutomaticTraceIdInjection/SerilogExample/SerilogExample.csproj
  samples/ConsoleApp/Alpine3.10.dockerfile
  samples/ConsoleApp/Alpine3.9.dockerfile
  samples/ConsoleApp/Debian.dockerfile
  samples/WindowsContainer/Dockerfile
  src/Datadog.Trace.AspNet/Datadog.Trace.AspNet.csproj
  src/Datadog.Trace.ClrProfiler.Managed.Core/Datadog.Trace.ClrProfiler.Managed.Core.csproj
  src/Datadog.Trace.ClrProfiler.Managed.Loader/Datadog.Trace.ClrProfiler.Managed.Loader.csproj
  src/Datadog.Trace.ClrProfiler.Managed.Loader/Startup.cs
  src/Datadog.Trace.ClrProfiler.Managed/Datadog.Trace.ClrProfiler.Managed.csproj
  src/Datadog.Trace.ClrProfiler.Native/CMakeLists.txt
  src/Datadog.Trace.ClrProfiler.Native/Resource.rc
  src/Datadog.Trace.ClrProfiler.Native/dd_profiler_constants.h
  src/Datadog.Trace.ClrProfiler.Native/version.h
  src/Datadog.Trace.MSBuild/Datadog.Trace.MSBuild.csproj
  src/Datadog.Trace.OpenTracing/Datadog.Trace.OpenTracing.csproj
  src/Datadog.Trace.Tools.Runner/Datadog.Trace.Tools.Runner.Standalone.csproj
  src/Datadog.Trace.Tools.Runner/Datadog.Trace.Tools.Runner.Tool.csproj
  src/Datadog.Trace/Datadog.Trace.csproj
  src/Datadog.Trace/TracerConstants.cs
  src/WindowsInstaller/WindowsInstaller.wixproj
  test/test-applications/regression/AutomapperTest/Dockerfile
  tools/Datadog.Core.Tools/TracerVersion.cs
Labels: area:builds

#1539 Custom native IsAlreadyLoaded() implementation for .NET 4.5.x
  src/Datadog.Trace.ClrProfiler.Native/cor_profiler.cpp
  src/Datadog.Trace.ClrProfiler.Native/cor_profiler.h
Labels: area:native-library, type:bug

#1543 Upgrade non windows native builds to C++17
  src/Datadog.Trace.ClrProfiler.Native/CMakeLists.txt
  src/Datadog.Trace.ClrProfiler.Native/lib/coreclr/src/README.md
  src/Datadog.Trace.ClrProfiler.Native/lib/coreclr/src/pal/inc/rt/sal.h
Labels: area:builds, area:native-library, type:enhancement

#1545 run pipelines in release branches
  .azure-pipelines/benchmarks.yml
  .azure-pipelines/crank.yml
  .azure-pipelines/integration-tests.yml
  .azure-pipelines/packages.yml
  .azure-pipelines/runner.yml
  .azure-pipelines/ultimate-pipeline.yml
  .azure-pipelines/unit-tests.yml
Labels: area:builds

#1546 run pipelines in hotfix branches
  .azure-pipelines/integration-tests.yml
  .azure-pipelines/ultimate-pipeline.yml
  .azure-pipelines/unit-tests.yml
Labels: area:builds

#1544 Change native format to Microsoft style
  .clang-format
  src/Datadog.Trace.ClrProfiler.Native/calltarget_tokens.cpp
  src/Datadog.Trace.ClrProfiler.Native/calltarget_tokens.h
  src/Datadog.Trace.ClrProfiler.Native/class_factory.cpp
  src/Datadog.Trace.ClrProfiler.Native/class_factory.h
  src/Datadog.Trace.ClrProfiler.Native/clr_helpers.cpp
  src/Datadog.Trace.ClrProfiler.Native/clr_helpers.h
  src/Datadog.Trace.ClrProfiler.Native/com_ptr.h
  src/Datadog.Trace.ClrProfiler.Native/cor_profiler.cpp
  src/Datadog.Trace.ClrProfiler.Native/cor_profiler.h
  src/Datadog.Trace.ClrProfiler.Native/cor_profiler_base.cpp
  src/Datadog.Trace.ClrProfiler.Native/cor_profiler_base.h
  src/Datadog.Trace.ClrProfiler.Native/dd_profiler_constants.h
  src/Datadog.Trace.ClrProfiler.Native/dllmain.cpp
  src/Datadog.Trace.ClrProfiler.Native/dllmain.h
  src/Datadog.Trace.ClrProfiler.Native/environment_variables.h
  src/Datadog.Trace.ClrProfiler.Native/environment_variables_util.h
  src/Datadog.Trace.ClrProfiler.Native/il_rewriter.cpp
  src/Datadog.Trace.ClrProfiler.Native/il_rewriter.h
  src/Datadog.Trace.ClrProfiler.Native/il_rewriter_wrapper.cpp
  src/Datadog.Trace.ClrProfiler.Native/il_rewriter_wrapper.h
  src/Datadog.Trace.ClrProfiler.Native/integration.cpp
  src/Datadog.Trace.ClrProfiler.Native/integration.h
  src/Datadog.Trace.ClrProfiler.Native/integration_loader.cpp
  src/Datadog.Trace.ClrProfiler.Native/integration_loader.h
  src/Datadog.Trace.ClrProfiler.Native/interop.cpp
  src/Datadog.Trace.ClrProfiler.Native/logging.cpp
  src/Datadog.Trace.ClrProfiler.Native/logging.h
  src/Datadog.Trace.ClrProfiler.Native/macros.h
  src/Datadog.Trace.ClrProfiler.Native/metadata_builder.cpp
  src/Datadog.Trace.ClrProfiler.Native/metadata_builder.h
  src/Datadog.Trace.ClrProfiler.Native/miniutf.cpp
  src/Datadog.Trace.ClrProfiler.Native/miniutf.hpp
  src/Datadog.Trace.ClrProfiler.Native/miniutfdata.h
  src/Datadog.Trace.ClrProfiler.Native/module_metadata.h
  src/Datadog.Trace.ClrProfiler.Native/pal.h
  src/Datadog.Trace.ClrProfiler.Native/rejit_handler.cpp
  src/Datadog.Trace.ClrProfiler.Native/rejit_handler.h
  src/Datadog.Trace.ClrProfiler.Native/resource.h
  src/Datadog.Trace.ClrProfiler.Native/sig_helpers.cpp
  src/Datadog.Trace.ClrProfiler.Native/sig_helpers.h
  src/Datadog.Trace.ClrProfiler.Native/stats.h
  src/Datadog.Trace.ClrProfiler.Native/string.cpp
  src/Datadog.Trace.ClrProfiler.Native/string.h
  src/Datadog.Trace.ClrProfiler.Native/util.cpp
  src/Datadog.Trace.ClrProfiler.Native/util.h
Labels: area:native-library

#1551 Add small CI fix and docker optimization
  build/docker/IIS/LoaderOptimizationRegKey.dockerfile
  src/Datadog.Trace/ExtensionMethods/TimeExtensions.cs
  test/Datadog.Trace.ClrProfiler.Managed.Tests/Reflection/NestedOpenGenericClass.cs
  test/Datadog.Trace.Tests/TimeUtilsTests.cs
Labels: area:builds

#1553 Change native format to custom style
  .clang-format
  src/Datadog.Trace.ClrProfiler.Native/calltarget_tokens.cpp
  src/Datadog.Trace.ClrProfiler.Native/calltarget_tokens.h
  src/Datadog.Trace.ClrProfiler.Native/class_factory.cpp
  src/Datadog.Trace.ClrProfiler.Native/class_factory.h
  src/Datadog.Trace.ClrProfiler.Native/clr_helpers.cpp
  src/Datadog.Trace.ClrProfiler.Native/clr_helpers.h
  src/Datadog.Trace.ClrProfiler.Native/com_ptr.h
  src/Datadog.Trace.ClrProfiler.Native/cor_profiler.cpp
  src/Datadog.Trace.ClrProfiler.Native/cor_profiler.h
  src/Datadog.Trace.ClrProfiler.Native/cor_profiler_base.cpp
  src/Datadog.Trace.ClrProfiler.Native/cor_profiler_base.h
  src/Datadog.Trace.ClrProfiler.Native/dd_profiler_constants.h
  src/Datadog.Trace.ClrProfiler.Native/dllmain.cpp
  src/Datadog.Trace.ClrProfiler.Native/environment_variables.h
  src/Datadog.Trace.ClrProfiler.Native/environment_variables_util.h
  src/Datadog.Trace.ClrProfiler.Native/il_rewriter.cpp
  src/Datadog.Trace.ClrProfiler.Native/il_rewriter.h
  src/Datadog.Trace.ClrProfiler.Native/il_rewriter_wrapper.cpp
  src/Datadog.Trace.ClrProfiler.Native/il_rewriter_wrapper.h
  src/Datadog.Trace.ClrProfiler.Native/integration.cpp
  src/Datadog.Trace.ClrProfiler.Native/integration.h
  src/Datadog.Trace.ClrProfiler.Native/integration_loader.cpp
  src/Datadog.Trace.ClrProfiler.Native/integration_loader.h
  src/Datadog.Trace.ClrProfiler.Native/logging.cpp
  src/Datadog.Trace.ClrProfiler.Native/logging.h
  src/Datadog.Trace.ClrProfiler.Native/macros.h
  src/Datadog.Trace.ClrProfiler.Native/metadata_builder.cpp
  src/Datadog.Trace.ClrProfiler.Native/metadata_builder.h
  src/Datadog.Trace.ClrProfiler.Native/miniutf.cpp
  src/Datadog.Trace.ClrProfiler.Native/miniutf.hpp
  src/Datadog.Trace.ClrProfiler.Native/miniutfdata.h
  src/Datadog.Trace.ClrProfiler.Native/module_metadata.h
  src/Datadog.Trace.ClrProfiler.Native/pal.h
  src/Datadog.Trace.ClrProfiler.Native/rejit_handler.cpp
  src/Datadog.Trace.ClrProfiler.Native/rejit_handler.h
  src/Datadog.Trace.ClrProfiler.Native/sig_helpers.cpp
  src/Datadog.Trace.ClrProfiler.Native/sig_helpers.h
  src/Datadog.Trace.ClrProfiler.Native/stats.h
  src/Datadog.Trace.ClrProfiler.Native/string.cpp
  src/Datadog.Trace.ClrProfiler.Native/string.h
  src/Datadog.Trace.ClrProfiler.Native/util.cpp
  src/Datadog.Trace.ClrProfiler.Native/util.h
Labels: area:native-library, type:cleanup

#1560 Utilize lower-overhead CustomSerilogLogProvider for older LogContext.PushProperties API when LogContext.Push API is not present
  src/Datadog.Trace/Logging/CustomSerilogLogProvider.cs
  src/Datadog.Trace/Logging/SerilogEnricher.cs
Labels: type:bug, type:performance-optimizations

#1542 Enable calltarget by default on .NET 4.6+ runtimes
  src/Datadog.Trace.ClrProfiler.Native/clr_helpers.h
  src/Datadog.Trace.ClrProfiler.Native/cor_profiler.cpp
  src/Datadog.Trace.ClrProfiler.Native/environment_variables_util.h
Labels: area:native-library, type:enhancement, type:performance-optimizations

#1561 Add support for NestedTypes and GenericParameters to EnsureTypeVisibility
  src/Datadog.Trace/DuckTyping/DuckType.Utilities.cs
  test/Datadog.Trace.DuckTyping.Tests/Datadog.Trace.DuckTyping.Tests.csproj
  test/Datadog.Trace.DuckTyping.Tests/DuckChainingWithExplicitInterfaceTests.cs
  test/Datadog.Trace.DuckTyping.Tests/DuckExplicitInterfacePrivateTests.cs
  test/Datadog.Trace.DuckTyping.Tests/DuckExplicitInterfaceTests.cs
  test/Datadog.Trace.DuckTyping.Tests/DuckILoggerTests.cs
Labels: area:duck-typing, type:enhancement

#1564 Initialize performance counters asynchronously
  src/Datadog.Trace/RuntimeMetrics/PerformanceCountersListener.cs
  test/Datadog.Trace.Tests/RuntimeMetrics/PerformanceCountersListenerTests.cs
  test/test-applications/integrations/Samples.RuntimeMetrics/Program.cs
Labels: area:runtime-metrics, type:bug

#1511 Remove callsite benchmarks and set iteration time back to 2 seconds
  .azure-pipelines/benchmarks.yml
  test/benchmarks/Benchmarks.Trace/AspNetCoreBenchmark.cs
  test/benchmarks/Benchmarks.Trace/DbCommandBenchmark.cs
  test/benchmarks/Benchmarks.Trace/ElasticsearchBenchmark.cs
  test/benchmarks/Benchmarks.Trace/GraphQLBenchmark.cs
  test/benchmarks/Benchmarks.Trace/HttpClientBenchmark.cs
  test/benchmarks/Benchmarks.Trace/RedisBenchmark.cs
Labels: area:benchmarks

#1567 Nuke build: overwrite files when copying trace home directory
  build/_build/Build.Steps.cs
Labels: area:builds, type:bug

#1569 hide warnings for EOL .NET Core targets
  test/test-applications/regression/AspNetMvcCorePerformance/AspNetMvcCorePerformance.csproj
Labels: area:samples-and-test-apps

#1563 Fix x86 builds in consolidated pipeline
  .azure-pipelines/steps/install-dotnet-5-sdk.yml
  .azure-pipelines/steps/install-dotnet-sdk-32bit.yml
  .azure-pipelines/steps/install-dotnet-sdks.yml
  .azure-pipelines/ultimate-pipeline.yml
  Datadog.Trace.sln
  build/_build/Build.Steps.cs
  build/_build/Build.Utilities.cs
  build/_build/DotNetSettingsExtensions.cs
  test/test-applications/aspnet/Samples.WebForms/Samples.WebForms.csproj
Labels: area:builds, area:samples-and-test-apps, type:bug
