Repository DataDog/dd-trace-dotnet, pull requests merged in 2021-02, with the labels that each got.

#1178 [AAS] Enable DD_LOG_LEVEL with DD_TRACE_DEBUG
  src/Datadog.Trace/PlatformHelpers/AzureAppServices.cs
  src/Datadog.Trace/TracingProcessManager.cs
  src/Datadog.Trace/Util/EnvironmentHelpers.cs
Labels: area:azure-site-extension

#1154 CIApp Specs tests
  src/Datadog.Trace.Ci.Shared/CIEnvironmentValues.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/CIEnvironmentVariableTests.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/Data/appveyor.json
  test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/Data/azurepipelines.json
  test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/Data/bitbucket.json
  test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/Data/bitrise.json
  test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/Data/buildkite.json
  test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/Data/circleci.json
  test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/Data/github.json
  test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/Data/gitlab.json
  test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/Data/jenkins.json
  test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/Data/travisci.json
  test/Datadog.Trace.ClrProfiler.IntegrationTests/Datadog.Trace.ClrProfiler.IntegrationTests.csproj
Labels: area:ci-app, type:bug

#1132 MsTestV2 CallTarget integration
  integrations.json
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/Testing/MsTestV2/ITestMethod.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/Testing/MsTestV2/ITestMethodRunner.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/Testing/MsTestV2/TestCategoryAttributeStruct.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/Testing/MsTestV2/TestMethodAttributeExecuteIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/Testing/MsTestV2/TestMethodRunnerExecuteIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/Testing/MsTestV2/TestResultStruct.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/Testing/MsTestV2/UnitTestResultOutcome.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/Testing/MsTestV2/UnitTestResultStruct.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/Testing/MsTestV2/UnitTestRunnerRunCleanupIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/Testing/NUnit/IMethodInfo.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/Testing/NUnit/IPropertyBag.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/Testing/NUnit/ITest.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/Testing/NUnit/ITestExecutionContext.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/Testing/NUnit/NUnitIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/Testing/NUnit/NUnitSkipCommandExecuteIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/Testing/NUnit/NUnitTestAdapterUnloadIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/Testing/NUnit/NUnitTestMethodCommandExecuteIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/Testing/XUnit/IExceptionAggregator.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/Testing/XUnit/TestCaseStruct.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/Testing/XUnit/TestInvokerStruct.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/Testing/XUnit/TestRunnerStruct.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/Testing/XUnit/XUnitIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/Testing/XUnit/XUnitTestAssemblyRunnerRunTestCollectionAsyncIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/Testing/XUnit/XUnitTestInvokerRunAsyncIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/Testing/XUnit/XUnitTestRunnerRunAsyncIntegration.cs
  src/Datadog.Trace/Configuration/IntegrationIds.cs
Labels: area:calltarget, area:integrations

#1185 Bump the .NET Tracer version to 1.23.0
  build/docker/package.sh
  integrations.json
  samples/ConsoleApp/Alpine3.10.dockerfile
  samples/ConsoleApp/Alpine3.9.dockerfile
  samples/ConsoleApp/Debian.dockerfile
  src/Datadog.Trace.AspNet/Datadog.Trace.AspNet.csproj
  src/Datadog.Trace.ClrProfiler.Managed.Core/Datadog.Trace.ClrProfiler.Managed.Core.csproj
  src/Datadog.Trace.ClrProfiler.Managed.Loader/Datadog.Trace.ClrProfiler.Managed.Loader.csproj
  src/Datadog.Trace.ClrProfiler.Managed.Loader/Startup.cs
  src/Datadog.Trace.ClrProfiler.Managed/Datadog.Trace.ClrProfiler.Managed.csproj
  src/Datadog.Trace.ClrProfiler.Native/CMakeLists.txt
  src/Datadog.Trace.ClrProfiler.Native/Resource.rc
  src/Datadog.Trace.ClrProfiler.Native/dd_profiler_constants.h
  src/Datadog.Trace.ClrProfiler.Native/version.h
  src/Datadog.Trace.MSBuild/Datadog.Trace.MSBuild.csproj
  src/Datadog.Trace.OpenTracing/Datadog.Trace.OpenTracing.csproj
  src/Datadog.Trace.Tools.Runner/Datadog.Trace.Tools.Runner.Standalone.csproj
  src/Datadog.Trace.Tools.Runner/Datadog.Trace.Tools.Runner.Tool.csproj
  src/Datadog.Trace/Datadog.Trace.csproj
  src/Datadog.Trace/TracerConstants.cs
  src/WindowsInstaller/WindowsInstaller.wixproj
  test/test-applications/regression/AutomapperTest/Dockerfile
  tools/Datadog.Core.Tools/TracerVersion.cs
Labels: area:builds

#1160 Refactor regression test to expose / remove unused Datadog.Trace.AspNet code
  src/Datadog.Trace.AspNet/AspNetScopeManager.cs
  src/Datadog.Trace.AspNet/HttpApplicationStartup.cs
  test/test-applications/regression/Log4Net.SerializationException/Program.cs
  test/test-applications/regression/dependency-libs/ApplicationWithLog4Net/ApplicationWithLog4Net.csproj
  test/test-applications/regression/dependency-libs/ApplicationWithLog4Net/Program.cs
Labels: area:tests, type:refactor

#1183 Add Area tag to ASP.NET integration
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AspNet/AspNetMvcIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AspNet/AspNetWebApi2Integration.cs
  src/Datadog.Trace/Tagging/AspNetTags.cs
  src/Datadog.Trace/Tags.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/AspNet/AspNetMvc4Tests.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/AspNet/AspNetMvc5Tests.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/AspNet/AspNetWebApi2Tests.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/Helpers/TestHelper.cs
  test/test-applications/aspnet/Samples.AspNetMvc4/App_Start/RouteConfig.cs
  test/test-applications/aspnet/Samples.AspNetMvc4/Areas/Admin/AdminAreaRegistration.cs
  test/test-applications/aspnet/Samples.AspNetMvc4/Areas/Admin/Controllers/HomeController.cs
  test/test-applications/aspnet/Samples.AspNetMvc4/Areas/Admin/Views/Home/Index.cshtml
  test/test-applications/aspnet/Samples.AspNetMvc4/Areas/Admin/Views/Web.config
  test/test-applications/aspnet/Samples.AspNetMvc4/Controllers/HomeController.cs
  test/test-applications/aspnet/Samples.AspNetMvc4/Samples.AspNetMvc4.csproj
  test/test-applications/aspnet/Samples.AspNetMvc4/Views/Shared/_Layout.cshtml
Labels: area:integrations/aspnet, type:enhancement

#1202 Make tool/standalone build wait on MacOS profiler build
  .azure-pipelines/runner.yml
Labels: area:builds

#1179 Remove the Analyzed Span flag on Benchmarks instrumentation
  src/Datadog.Trace.BenchmarkDotNet/DatadogExporter.cs
Labels: area:ci-app

#1203 Fix RequestReJIT deadlock.
  src/Datadog.Trace.ClrProfiler.Native/cor_profiler.cpp
  src/Datadog.Trace.ClrProfiler.Native/rejit_handler.cpp
  src/Datadog.Trace.ClrProfiler.Native/rejit_handler.h
  src/Datadog.Trace.ClrProfiler.Native/util.h
Labels: area:calltarget, type:bug

#1210 Add success/failure and timing information to tests
  test/Datadog.Trace.ClrProfiler.IntegrationTests/CustomTestFramework.cs
Labels: area:tests

#1212 Switch integration tests to release
  .azure-pipelines/integration-tests.yml
  .azure-pipelines/runner.yml
  build/docker/Datadog.Trace.ClrProfiler.Native.sh
Labels: area:builds

#1189 bump Service Fabric version to 1.23.0 to match Datadog.Trace
  src/Datadog.Trace.ServiceFabric/Datadog.Trace.ServiceFabric.csproj
  src/Datadog.Trace.ServiceFabric/Remoting.cs
Labels: area:builds, area:integrations

#1206 CallTarget Integration: Add base DBCommand async overloads
  Datadog.Trace.sln
  build/docker/build.arm64.sh
  build/docker/build.sh
  integrations.json
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/AdoNet/AdoNetConstants.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/AdoNet/AdoNetDefinitions.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/AdoNet/FakeCommandTests.cs
  test/test-applications/integrations/Samples.FakeDbCommand/FakeCommand.cs
  test/test-applications/integrations/Samples.FakeDbCommand/FakeCommandExecutor.cs
  test/test-applications/integrations/Samples.FakeDbCommand/FakeConnection.cs
  test/test-applications/integrations/Samples.FakeDbCommand/FakeParameter.cs
  test/test-applications/integrations/Samples.FakeDbCommand/FakeParameterCollection.cs
  test/test-applications/integrations/Samples.FakeDbCommand/FakeTransaction.cs
  test/test-applications/integrations/Samples.FakeDbCommand/Program.cs
  test/test-applications/integrations/Samples.FakeDbCommand/Properties/launchSettings.json
  test/test-applications/integrations/Samples.FakeDbCommand/Samples.FakeDbCommand.csproj
Labels: area:calltarget, area:integrations/adonet

#1184 CallTarget Integration: ADO.NET MySqlData client version 6
  build/PackageVersionsComprehensive.g.props
  build/PackageVersionsGeneratorDefinitions.json
  build/PackageVersionsLatestMinors.g.props
  docker-compose.yml
  integrations.json
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/AdoNet/MySql/MySqlConstants.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/AdoNet/MySql/MySqlDefinitions.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/AdoNet/MySqlCommandTests.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersions.g.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsComprehensive.g.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestMinors.g.cs
  test/test-applications/integrations/Samples.MySql/Program.cs
  test/test-applications/integrations/Samples.MySql/Samples.MySql.csproj
Labels: area:calltarget, area:integrations/adonet

#1191 CallTarget Integration: ADO.NET Microsoft.Data.Sqlite and System.Data.SQLite
  Datadog.Trace.sln
  build/PackageVersionsComprehensive.g.props
  build/PackageVersionsGeneratorDefinitions.json
  build/PackageVersionsLatestMinors.g.props
  build/docker/build.sh
  integrations.json
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/AdoNet/AdoNetClientInstrumentMethodAttribute.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/AdoNet/CommandExecuteNonQueryWithBehaviorIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/AdoNet/CommandExecuteScalarWithBehaviorIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/AdoNet/Sqlite/SqliteConstants.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/AdoNet/Sqlite/SqliteDefinitions.cs
  src/Datadog.Trace.ClrProfiler.Managed/ScopeFactory.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/AdoNet/MicrosoftDataSqliteTests.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/AdoNet/SystemDataSqliteTests.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersions.g.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsComprehensive.g.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestMinors.g.cs
  test/test-applications/integrations/Samples.Microsoft.Data.Sqlite/Program.cs
  test/test-applications/integrations/Samples.Microsoft.Data.Sqlite/Properties/launchSettings.json
  test/test-applications/integrations/Samples.Microsoft.Data.Sqlite/Samples.Microsoft.Data.Sqlite.csproj
  test/test-applications/integrations/Samples.Microsoft.Data.Sqlite/SqliteCommandExecutor.cs
  test/test-applications/integrations/Samples.SQLite.Core/Program.cs
  test/test-applications/integrations/Samples.SQLite.Core/Properties/launchSettings.json
  test/test-applications/integrations/Samples.SQLite.Core/Samples.SQLite.Core.csproj
  test/test-applications/integrations/Samples.SQLite.Core/SqliteCommandExecutor.cs
Labels: area:calltarget, area:integrations/adonet

#1193 CallTarget Integration: ADO.NET Oracle.ManagedDataAccess
  Datadog.Trace.sln
  build/PackageVersionsComprehensive.g.props
  build/PackageVersionsGeneratorDefinitions.json
  build/PackageVersionsLatestMinors.g.props
  build/docker/build.sh
  integrations.json
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/AdoNet/Oracle/OracleConstants.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/AdoNet/Oracle/OracleDefinitions.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersions.g.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsComprehensive.g.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestMinors.g.cs
  test/test-applications/integrations/Samples.OracleMDA.Core/OracleCommandExecutor.cs
  test/test-applications/integrations/Samples.OracleMDA.Core/Program.cs
  test/test-applications/integrations/Samples.OracleMDA.Core/Properties/launchSettings.json
  test/test-applications/integrations/Samples.OracleMDA.Core/Samples.OracleMDA.Core.csproj
  test/test-applications/integrations/Samples.OracleMDA/OracleCommandExecutor.cs
  test/test-applications/integrations/Samples.OracleMDA/Program.cs
  test/test-applications/integrations/Samples.OracleMDA/Properties/launchSettings.json
  test/test-applications/integrations/Samples.OracleMDA/Samples.OracleMDA.csproj
  test/test-applications/integrations/dependency-libs/Samples.DatabaseHelper/DbCommandFactory.cs
Labels: area:calltarget, area:integrations/adonet

#1213 NUnit: Add support for TestCase custom name
  src/Datadog.Trace.Ci.Shared/Datadog.Trace.Ci.Shared.projitems
  src/Datadog.Trace.Ci.Shared/TestParameters.cs
  src/Datadog.Trace.Ci.Shared/TestTags.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/Testing/MsTestV2/TestMethodRunnerExecuteIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/Testing/NUnit/ITest.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/Testing/NUnit/NUnitIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/Testing/XUnit/TestCaseStruct.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/Testing/XUnit/XUnitIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/Testing/XUnit/XUnitTestInvokerRunAsyncIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/Testing/NUnitIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/Testing/XUnitIntegration.cs
Labels: area:ci-app

#1221 CIApp: Traits as a Dictionary<string, string[]>
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/Testing/MsTestV2/TestMethodRunnerExecuteIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/Testing/NUnit/NUnitIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/Testing/XUnit/XUnitIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/Testing/NUnitIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/Testing/XUnitIntegration.cs
Labels: area:ci-app

#1100 switch build image to shared image
  .gitlab-ci.yml
Labels: area:builds

#1227 Update test dependencies + fix warnings
  test/Datadog.Trace.ClrProfiler.IntegrationTests/HttpMessageHandlerTests.cs
  test/Datadog.Trace.Tests/PlatformHelpers/AzureAppServicesMetadataTests.cs
  test/Datadog.Trace.Tests/RuntimeMetrics/PerformanceCountersListenerTests.cs
  test/Datadog.Trace.Tests/RuntimeMetrics/RuntimeEventListenerTests.cs
  test/Datadog.Trace.Tests/RuntimeMetrics/RuntimeMetricsWriterTests.cs
  test/Datadog.Trace.Tests/TracerSettingsTests.cs
  test/Directory.Build.props
Labels: area:tests

#1224 Replace map.count-> map[] with map.find in the native profiler
  src/Datadog.Trace.ClrProfiler.Native/cor_profiler.cpp
  src/Datadog.Trace.ClrProfiler.Native/rejit_handler.cpp
Labels: area:clr-profiler

#1233 Fix environment variable name in docs
  blog/2020-09-15-datadog-apm-in-azure-service-fabric.md
Labels: area:docs

#1217 Remove heap allocations from COR_SIGNATURE definitions in the native profiler
  src/Datadog.Trace.ClrProfiler.Native/calltarget_tokens.cpp
  src/Datadog.Trace.ClrProfiler.Native/cor_profiler.cpp
Labels: area:clr-profiler

#1215 Remove _W string operator from the native profiler
  src/Datadog.Trace.ClrProfiler.Native/calltarget_tokens.cpp
  src/Datadog.Trace.ClrProfiler.Native/calltarget_tokens.h
  src/Datadog.Trace.ClrProfiler.Native/clr_helpers.cpp
  src/Datadog.Trace.ClrProfiler.Native/clr_helpers.h
  src/Datadog.Trace.ClrProfiler.Native/cor_profiler.cpp
  src/Datadog.Trace.ClrProfiler.Native/dd_profiler_constants.h
  src/Datadog.Trace.ClrProfiler.Native/environment_variables.h
  src/Datadog.Trace.ClrProfiler.Native/integration.cpp
  src/Datadog.Trace.ClrProfiler.Native/integration.h
  src/Datadog.Trace.ClrProfiler.Native/integration_loader.cpp
  src/Datadog.Trace.ClrProfiler.Native/metadata_builder.cpp
  src/Datadog.Trace.ClrProfiler.Native/module_metadata.h
  src/Datadog.Trace.ClrProfiler.Native/pal.h
  src/Datadog.Trace.ClrProfiler.Native/string.cpp
  src/Datadog.Trace.ClrProfiler.Native/string.h
  src/Datadog.Trace.ClrProfiler.Native/util.cpp
  test/Datadog.Trace.ClrProfiler.Native.Tests/clr_helper_test.cpp
  test/Datadog.Trace.ClrProfiler.Native.Tests/clr_helper_type_check_test.cpp
Labels: area:clr-profiler

#1236 Fixes xUnit serialization for CIEnvironmentVariableTests
  test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/CIEnvironmentVariableTests.cs
Labels: area:ci-app, area:tests

#1235 Fix NUnit passing status where there is not Assert
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/Testing/NUnit/NUnitIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/Testing/NUnitIntegration.cs
Labels: area:ci-app

#1230 CallTarget Integration: ServiceStack.Redis and StackExchange.Redis
  integrations.json
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/Redis/ServiceStack/IRedisNativeClient.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/Redis/ServiceStack/RedisNativeClientSendReceiveIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/Redis/StackExchange/ConnectionMultiplexerExecuteAsyncImplIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/Redis/StackExchange/ConnectionMultiplexerExecuteSyncImplIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/Redis/StackExchange/IConnectionMultiplexer.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/Redis/StackExchange/IMessageData.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/Redis/StackExchange/IRedisBase.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/Redis/StackExchange/MultiplexerData.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/Redis/StackExchange/RedisExecuteAsyncInstrumentMethodAttribute.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/Redis/StackExchange/RedisExecuteAsyncIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/Redis/StackExchange/RedisExecuteSyncInstrumentMethodAttribute.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/Redis/StackExchange/RedisExecuteSyncIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/RedisHelper.cs
  src/Datadog.Trace.ClrProfiler.Native/clr_helpers.cpp
  test/Datadog.Trace.ClrProfiler.IntegrationTests/ServiceStackRedisTests.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/StackExchangeRedisTests.cs
Labels: area:calltarget

#1190 add Service Fabric sample app
  samples/ServiceFabricRemoting/ServiceFabricApplication/ApplicationPackageRoot/ApplicationManifest.xml
  samples/ServiceFabricRemoting/ServiceFabricApplication/ApplicationParameters/Cloud.xml
  samples/ServiceFabricRemoting/ServiceFabricApplication/ApplicationParameters/Local.1Node.xml
  samples/ServiceFabricRemoting/ServiceFabricApplication/ApplicationParameters/Local.5Node.xml
  samples/ServiceFabricRemoting/ServiceFabricApplication/PublishProfiles/Cloud.xml
  samples/ServiceFabricRemoting/ServiceFabricApplication/PublishProfiles/Local.1Node.xml
  samples/ServiceFabricRemoting/ServiceFabricApplication/PublishProfiles/Local.5Node.xml
  samples/ServiceFabricRemoting/ServiceFabricApplication/Scripts/Deploy-FabricApplication.ps1
  samples/ServiceFabricRemoting/ServiceFabricApplication/ServiceFabricApplication.sfproj
  samples/ServiceFabricRemoting/ServiceFabricApplication/packages.config
  samples/ServiceFabricRemoting/ServiceFabricRemoting.sln
  samples/ServiceFabricRemoting/WeatherService.Abstractions/IWeatherService.cs
  samples/ServiceFabricRemoting/WeatherService.Abstractions/WeatherForecast.cs
  samples/ServiceFabricRemoting/WeatherService.Abstractions/WeatherService.Abstractions.csproj
  samples/ServiceFabricRemoting/WeatherService/PackageRoot/Config/Settings.xml
  samples/ServiceFabricRemoting/WeatherService/PackageRoot/ServiceManifest.xml
  samples/ServiceFabricRemoting/WeatherService/Program.cs
  samples/ServiceFabricRemoting/WeatherService/WeatherService.cs
  samples/ServiceFabricRemoting/WeatherService/WeatherService.csproj
  samples/ServiceFabricRemoting/WebApp/Controllers/WeatherForecastController.cs
  samples/ServiceFabricRemoting/WebApp/PackageRoot/Config/Settings.xml
  samples/ServiceFabricRemoting/WebApp/PackageRoot/ServiceManifest.xml
  samples/ServiceFabricRemoting/WebApp/Program.cs
  samples/ServiceFabricRemoting/WebApp/Properties/launchSettings.json
  samples/ServiceFabricRemoting/WebApp/Startup.cs
  samples/ServiceFabricRemoting/WebApp/WebApp.cs
  samples/ServiceFabricRemoting/WebApp/WebApp.csproj
  samples/ServiceFabricRemoting/WebApp/appsettings.json
Labels: area:sample-apps

#1241 Add GraphQL CallTarget instrumentation
  integrations.json
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/GraphQL/ErrorLocationStruct.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/GraphQL/ExecuteAsyncIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/GraphQL/GraphQLCommon.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/GraphQL/GraphQLExecuteAsyncAttribute.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/GraphQL/IDocument.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/GraphQL/IExecutionContext.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/GraphQL/IExecutionError.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/GraphQL/IExecutionErrors.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/GraphQL/IOperation.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/GraphQL/IValidationResult.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/GraphQL/OperationTypeProxy.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/GraphQL/ValidateIntegration.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/GraphQLTests.cs
Labels: area:calltarget, area:integrations

#1225 Strengthen type check in the method resolution for CallSite instrumentation and improve fallback mechanism
  src/Datadog.Trace.ClrProfiler.Managed.Core/ClrNames.cs
  src/Datadog.Trace.ClrProfiler.Managed/Emit/MethodBuilder.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AdoNet/AdoNetConstants.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AdoNet/DbCommandIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AdoNet/NpgsqlCommandIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AdoNet/SqlCommandIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AspNet/AspNetWebApi2Integration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/ElasticsearchNet5Integration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/ElasticsearchNet6Integration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/GraphQLIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/HttpMessageHandlerIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/MongoDbIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/StackExchange.Redis/ConnectionMultiplexer.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/StackExchange.Redis/RedisBatch.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/Testing/XUnitIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/WebRequestIntegration.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/AdoNet/MicrosoftDataSqlClientTests.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/AdoNet/MySqlCommandTests.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/AdoNet/NpgsqlCommandTests.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/AdoNet/SystemDataSqlClientTests.cs
  test/Datadog.Trace.ClrProfiler.Managed.Tests/TypeNameTests.cs
  test/test-applications/integrations/Samples.Microsoft.Data.SqlClient/Program.cs
  test/test-applications/integrations/Samples.MongoDB/Program.cs
  test/test-applications/integrations/Samples.MySql/Program.cs
  test/test-applications/integrations/Samples.Npgsql/Program.cs
  test/test-applications/integrations/Samples.SqlServer/Program.cs
  test/test-applications/integrations/dependency-libs/Samples.DatabaseHelper/AssemblyHelpers.cs
  test/test-applications/integrations/dependency-libs/Samples.DatabaseHelper/RelationalDatabaseTestHarness.cs
Labels: area:integrations, type:bug

#1242 Adding Git information to test spans
  src/Datadog.Trace.Ci.Shared/CIEnvironmentValues.cs
  src/Datadog.Trace.Ci.Shared/CommonTags.cs
  src/Datadog.Trace.Ci.Shared/Datadog.Trace.Ci.Shared.projitems
  src/Datadog.Trace.Ci.Shared/GitInfo.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/Testing/XUnit/XUnitIntegration.cs
Labels: area:ci-app
