Repository DataDog/dd-trace-dotnet, pull requests merged in 2021-04, with the labels that each got.

#1326 Replace Task.Delay with Thread.Sleep in dogstatsd
  src/Datadog.Trace/Vendors/StatsdClient/Worker/Waiter.cs
Labels: area:vendors, type:bug

#1313 Add support for flushing partial traces
  src/Datadog.Trace/Configuration/ConfigurationKeys.cs
  src/Datadog.Trace/Configuration/TracerSettings.cs
  src/Datadog.Trace/TraceContext.cs
  src/Datadog.Trace/Tracer.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/MongoDbTests.cs
  test/Datadog.Trace.TestHelpers/MockTracerAgent.cs
  test/Datadog.Trace.Tests/TraceContextTests.cs
Labels: area:tracer, type:enhancement

#1335 Revert "Add a consolidated multi-stage pipeline"
  .azure-pipelines/steps/install-dotnet-sdks.yml
  .azure-pipelines/steps/install-dotnet.yml
  .azure-pipelines/ultimate-pipeline.yml
  Datadog.Trace.proj
  build/docker/Datadog.Trace.ClrProfiler.Native.sh
  build/docker/package.sh
Labels: area:builds

#1336 Generate fake proj for dependabot
  .dependabot/config.yml
  honeypot/Datadog.Dependabot.Honeypot.csproj
  tools/UpdateVendors/Datadog.Dependabot.Honeypot.template
  tools/UpdateVendors/Program.cs
  tools/UpdateVendors/UpdateVendors.csproj
  tools/UpdateVendors/VendoredDependency.cs
Labels: area:tools

#1338 Implement Dependabot Config
  .dependabot/config.yml
  .github/dependabot.yml
Labels: area:tools

#1332 ProcessExit event handler improvements
  src/Datadog.Trace/Tracer.cs
  src/Datadog.Trace/Util/DelegatesHelper.cs
  test/Datadog.Trace.Tests/DelegatesHelperTests.cs
Labels: area:tracer

#1271 Delete OrleansCrash and remove it from our integration test suite
  Datadog.Trace.sln
  build/docker/build.sh
  test/Datadog.Trace.ClrProfiler.IntegrationTests/SmokeTests/OrleansSmokeTest.cs
  test/test-applications/regression/OrleansCrash/App.config
  test/test-applications/regression/OrleansCrash/Clients/ClusterClientHostedService.cs
  test/test-applications/regression/OrleansCrash/Clients/HelloWorldClientHostedService.cs
  test/test-applications/regression/OrleansCrash/Clients/IHelloWorldHostedService.cs
  test/test-applications/regression/OrleansCrash/Grains/HelloGrain.cs
  test/test-applications/regression/OrleansCrash/Grains/IHello.cs
  test/test-applications/regression/OrleansCrash/Grains/IHelloArchive.cs
  test/test-applications/regression/OrleansCrash/OrleansConfiguration.xml
  test/test-applications/regression/OrleansCrash/OrleansCrash.csproj
  test/test-applications/regression/OrleansCrash/Program.cs
  test/test-applications/regression/OrleansCrash/Properties/launchSettings.json
Labels: area:tests

#1289 Update ASP.NET Core Resource Names
  src/Datadog.Trace/Configuration/ConfigurationKeys.cs
  src/Datadog.Trace/Configuration/TracerSettings.cs
  src/Datadog.Trace/Datadog.Trace.csproj
  src/Datadog.Trace/DiagnosticListeners/AspNetCoreDiagnosticObserver.cs
  src/Datadog.Trace/DiagnosticListeners/IEndpointFeature.cs
  src/Datadog.Trace/DiagnosticListeners/RouteEndpoint.cs
  src/Datadog.Trace/DiagnosticListeners/RoutePattern.cs
  src/Datadog.Trace/Tagging/AspNetCoreTags.cs
  src/Datadog.Trace/Tags.cs
  test/Datadog.Trace.IntegrationTests/DiagnosticListeners/AspNetCoreDiagnosticObserverTests.cs
  test/Datadog.Trace.IntegrationTests/DiagnosticListeners/AspNetCoreEndpointRoutingTestData.cs
  test/Datadog.Trace.IntegrationTests/DiagnosticListeners/AspNetCoreMvcTestData.cs
  test/Datadog.Trace.IntegrationTests/DiagnosticListeners/AspNetCoreRazorPagesTestData.cs
  test/Datadog.Trace.IntegrationTests/DiagnosticListeners/ErrorHandlingHelper.cs
Labels: area:integrations/aspnetcore, type:enhancement

#1306 Report Trace Drop/Keep Rate to the Agent
  src/Datadog.Trace/Agent/AgentWriter.cs
  src/Datadog.Trace/Agent/IKeepRateCalculator.cs
  src/Datadog.Trace/Agent/MovingAverageKeepRateCalculator.cs
  src/Datadog.Trace/Metrics.cs
  src/Datadog.Trace/Tagging/CommonTags.cs
  test/Datadog.Trace.Tests/Agent/MovingAverageKeepRateCalculatorTests.cs
  test/Datadog.Trace.Tests/AgentWriterTests.cs
Labels: area:tracer, type:new-feature

#1344 Replace Task.Delay in dogstatsd with Thread.Sleep
  src/Datadog.Trace/Vendors/StatsdClient/Transport/UnixDomainSocketTransport.cs
Labels: area:vendors, type:bug

#1337 Add AssemblyLoadContext and Assembly.LoadFile testing to ServiceStackRedis sample
  test/Datadog.Trace.ClrProfiler.IntegrationTests/ServiceStackRedisTests.cs
  test/test-applications/integrations/Samples.ServiceStack.Redis/Program.cs
  test/test-applications/integrations/Samples.ServiceStack.Redis/RedisClientWrapper.cs
Labels: area:samples-and-test-apps

#1301 Improve DD_TRACE_HEADER_TAGS to decorate web server spans based on response headers
  src/Datadog.Trace.AspNet/TracingHttpModule.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/AspNet/ApiController_ExecuteAsync_Integration.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/AspNet/AsyncControllerActionInvoker_EndInvokeAction_Integration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Helpers/ReflectionHttpHeadersCollection.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AspNet/AspNetMvcIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AspNet/AspNetWebApi2Integration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/WcfIntegration.cs
  src/Datadog.Trace/Configuration/CompositeConfigurationSource.cs
  src/Datadog.Trace/Configuration/IConfigurationSource.cs
  src/Datadog.Trace/Configuration/JsonConfigurationSource.cs
  src/Datadog.Trace/Configuration/StringConfigurationSource.cs
  src/Datadog.Trace/Configuration/TracerSettings.cs
  src/Datadog.Trace/DiagnosticListeners/AspNetCoreDiagnosticObserver.cs
  src/Datadog.Trace/ExtensionMethods/SpanExtensions.cs
  src/Datadog.Trace/ExtensionMethods/StringExtensions.cs
  src/Datadog.Trace/SpanContextPropagator.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/AspNetCore/AspNetCoreMvcTestBase.cs
  test/Datadog.Trace.ClrProfiler.Managed.Tests/ReflectionHttpHeadersCollectionTests.cs
  test/Datadog.Trace.Tests/Configuration/ConfigurationSourceTests.cs
  test/Datadog.Trace.Tests/ExtensionMethods/StringExtensionsTests.cs
  test/Datadog.Trace.Tests/HeadersCollectionTests.cs
  test/test-applications/integrations/Samples.AspNetCoreMvc21/Controllers/ApiController.cs
  test/test-applications/integrations/Samples.AspNetCoreMvc21/Controllers/HomeController.cs
  test/test-applications/integrations/Samples.AspNetCoreMvc21/Properties/launchSettings.json
  test/test-applications/integrations/Samples.AspNetCoreMvc30/Properties/launchSettings.json
  test/test-applications/integrations/Samples.AspNetCoreMvc31/Properties/launchSettings.json
Labels: area:integrations, area:integrations/aspnet, area:integrations/aspnetcore, area:tracer, type:new-feature

#1311 Partial OTEL port to improve TagsList
  test/Datadog.Trace.Tests/Tagging/TagsListTests.cs
Labels: area:tests

#1349 OTel Port: Fix double parsing
  src/Datadog.Trace/Configuration/StringConfigurationSource.cs
Labels: area:tracer

#1309 Fix Datadog.Trace.ClrProfiler.Native.sh
  .azure-pipelines/integration-tests.yml
  .azure-pipelines/runner.yml
  build/docker/Datadog.Trace.ClrProfiler.IntegrationTests.arm64.sh
  build/docker/Datadog.Trace.ClrProfiler.IntegrationTests.sh
  build/docker/Datadog.Trace.ClrProfiler.Native.sh
  build/docker/build.arm64.sh
  build/docker/build.sh
  docker-compose.yml
  test/Datadog.Trace.TestHelpers/MockTracerAgent.cs
Labels: area:builds, area:native-library

#1350 Simplify moving average calculator
  src/Datadog.Trace/Agent/MovingAverageKeepRateCalculator.cs
Labels: area:tracer, type:cleanup

#1356 Fix the package build pipeline
  .azure-pipelines/packages.yml
  build/docker/package.sh
Labels: area:builds

#1348 Fix small sync over async occurrence in DatadogHttpClient
  src/Datadog.Trace/HttpOverStreams/DatadogHttpClient.cs
Labels: area:tracer

#1358 Fix Datadog.Trace.Tests.DogStatsDTests.Send_metrics_when_enabled
  test/Datadog.Trace.Tests/DogStatsDTests.cs
Labels: area:tests

#1359 Try fix scheduled benchmark/throughput runs
  .azure-pipelines/benchmarks.yml
  .azure-pipelines/crank.yml
Labels: area:builds

#1354 Don't run unit test or runner pipelines on all branch pushes
  .azure-pipelines/runner.yml
  .azure-pipelines/unit-tests.yml
Labels: area:builds

#1360 Rewrite Accurate_Duration test to reduce flakiness
  test/Datadog.Trace.Tests/SpanTests.cs
Labels: area:tests

#1362 Fix buildConfiguration in packages build pipeline
  .azure-pipelines/packages.yml
Labels: area:builds

#1387 Update dependabot all in one go
  .github/dependabot.yml
Labels: dependencies

#1399 Update dependabot to manually ignore dependencies
  .github/dependabot.yml
Labels: dependencies

#1403 Include the job attempt number in integration test log uploads
  .azure-pipelines/integration-tests.yml
Labels: area:builds

#1404 Update dependabot to ignore the MessagePack vendored dependency
  .github/dependabot.yml
Labels: dependencies

#1407 Fixes the CMake version to 3.19.8 in CMakeLists
  .azure-pipelines/crank.yml
  src/Datadog.Trace.ClrProfiler.Native/CMakeLists.txt
Labels: area:builds

#1410 Revert "ProcessExit event handler improvements"
  src/Datadog.Trace/Tracer.cs
  src/Datadog.Trace/Util/DelegatesHelper.cs
  test/Datadog.Trace.Tests/DelegatesHelperTests.cs
Labels: area:tracer

#1365 Include symbols in Linux packages
  build/docker/Datadog.Trace.ClrProfiler.Native.sh
Labels: area:builds

#1401 Generate nuget symbols package
  Directory.Build.props
  src/Datadog.Trace.OpenTracing/Datadog.Trace.OpenTracing.csproj
  src/Datadog.Trace/Datadog.Trace.csproj
Labels: area:builds

#1408 delete log file
  test/test-applications/aspnet/Samples.WebForms/logs/summary.txt
Labels: type:cleanup

#1411 Bump version to 1.26.0
  build/docker/package.sh
  docs/CHANGELOG.md
  integrations.json
  samples/AutomaticTraceIdInjection/Log4NetExample/Log4NetExample.csproj
  samples/AutomaticTraceIdInjection/NLog40Example/NLog40Example.csproj
  samples/AutomaticTraceIdInjection/NLog45Example/NLog45Example.csproj
  samples/AutomaticTraceIdInjection/NLog46Example/NLog46Example.csproj
  samples/AutomaticTraceIdInjection/SerilogExample/SerilogExample.csproj
  samples/ConsoleApp/Alpine3.10.dockerfile
  samples/ConsoleApp/Alpine3.9.dockerfile
  samples/ConsoleApp/Debian.dockerfile
  src/Datadog.Trace.AspNet/Datadog.Trace.AspNet.csproj
  src/Datadog.Trace.ClrProfiler.Managed.Core/Datadog.Trace.ClrProfiler.Managed.Core.csproj
  src/Datadog.Trace.ClrProfiler.Managed.Loader/Datadog.Trace.ClrProfiler.Managed.Loader.csproj
  src/Datadog.Trace.ClrProfiler.Managed.Loader/Startup.cs
  src/Datadog.Trace.ClrProfiler.Managed/Datadog.Trace.ClrProfiler.Managed.csproj
  src/Datadog.Trace.ClrProfiler.Native/CMakeLists.txt
  src/Datadog.Trace.ClrProfiler.Native/Resource.rc
  src/Datadog.Trace.ClrProfiler.Native/dd_profiler_constants.h
  src/Datadog.Trace.ClrProfiler.Native/version.h
  src/Datadog.Trace.MSBuild/Datadog.Trace.MSBuild.csproj
  src/Datadog.Trace.OpenTracing/Datadog.Trace.OpenTracing.csproj
  src/Datadog.Trace.Tools.Runner/Datadog.Trace.Tools.Runner.Standalone.csproj
  src/Datadog.Trace.Tools.Runner/Datadog.Trace.Tools.Runner.Tool.csproj
  src/Datadog.Trace/Datadog.Trace.csproj
  src/Datadog.Trace/TracerConstants.cs
  src/WindowsInstaller/WindowsInstaller.wixproj
  test/test-applications/regression/AutomapperTest/Dockerfile
  tools/Datadog.Core.Tools/TracerVersion.cs
Labels: area:builds

#1412 Update NuGet packages in integration tests, under existing instrumentation version ranges
  build/PackageVersionsComprehensive.g.props
  build/PackageVersionsLatestMinors.g.props
  test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsComprehensive.g.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestMinors.g.cs
Labels: area:builds

#1414 Re-enable AspNet integration tests in CI
  .azure-pipelines/integration-tests.yml
  test/Datadog.Trace.ClrProfiler.IntegrationTests/AspNet/AspNetMvc4Tests.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/AspNet/AspNetMvc4WithFeatureFlagTests.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/AspNet/AspNetMvc5Tests.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/AspNet/AspNetMvc5WithFeatureFlagTests.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/AspNet/AspNetWebApi2Tests.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/AspNet/AspNetWebApi2WithFeatureFlagTests.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/AspNet/AspNetWebFormsTests.cs
  test/Datadog.Trace.IntegrationTests/Datadog.Trace.IntegrationTests.csproj
  test/Datadog.Trace.TestHelpers/EnvironmentHelper.cs
  test/test-applications/aspnet/PublishProfiles/FolderProfile.pubxml
  test/test-applications/aspnet/Samples.AspNetMvc4/Samples.AspNetMvc4.csproj
  test/test-applications/aspnet/Samples.AspNetMvc4/Views/Home/Index.cshtml
  test/test-applications/aspnet/Samples.AspNetMvc5/Areas/Datadog/DatadogAreaRegistration.cs
  test/test-applications/aspnet/Samples.AspNetMvc5/Samples.AspNetMvc5.csproj
  test/test-applications/aspnet/Samples.AspNetMvc5/Views/Home/Index.cshtml
  test/test-applications/aspnet/Samples.WebForms/Samples.WebForms.csproj
  test/test-applications/aspnet/samples-iis.sln
Labels: area:builds, area:samples-and-test-apps

#1417 Fix links in CHANGELOG
  docs/CHANGELOG.md
Labels: area:docs

#1416 Serialize tags/metrics in a single pass
  src/Datadog.Trace/Tagging/TagsList.cs
Labels: area:tracer

#1402 Ducktype reverse proxy
  src/Datadog.Trace/DuckTyping/DuckReverseMethodAttribute.cs
  src/Datadog.Trace/DuckTyping/DuckType.Fields.cs
  src/Datadog.Trace/DuckTyping/DuckType.Methods.cs
  src/Datadog.Trace/DuckTyping/DuckType.Properties.cs
  src/Datadog.Trace/DuckTyping/DuckType.Statics.cs
  src/Datadog.Trace/DuckTyping/DuckType.Utilities.cs
  src/Datadog.Trace/DuckTyping/DuckType.cs
  src/Datadog.Trace/DuckTyping/IgnoresAccessChecksToAttribute.cs
  test/Datadog.Trace.DuckTyping.Tests/Datadog.Trace.DuckTyping.Tests.csproj
  test/Datadog.Trace.DuckTyping.Tests/ExceptionsTests.cs
  test/Datadog.Trace.DuckTyping.Tests/Methods/MethodTests.cs
  test/Datadog.Trace.DuckTyping.Tests/ReverseProxyTests.cs
Labels: area:duck-typing

#1413 Fix git parser on really big pack files (>2GB)
  src/Datadog.Trace.Ci.Shared/GitInfo.cs
Labels: area:ci-app

#1418 Enable endpoint routing in aspnetcore benchmark
  test/benchmarks/Benchmarks.Trace/AspNetCoreBenchmark.cs
  test/benchmarks/Benchmarks.Trace/Benchmarks.Trace.csproj
Labels: area:benchmarks

#1363 Reinstate the consolidated multi-stage build pipeline
  .azure-pipelines/steps/install-dotnet-sdks.yml
  .azure-pipelines/steps/install-dotnet.yml
  .azure-pipelines/ultimate-pipeline.yml
  Datadog.Trace.proj
  build/docker/Datadog.Trace.ClrProfiler.Native.sh
  build/docker/package.sh
  nuget.config
Labels: area:builds

#1422 don't throw or log exceptions in TryDuckCast methods
  src/Datadog.Trace/DuckTyping/DuckTypeExtensions.cs
Labels: area:duck-typing

#1423 Fix build issue when building MSI from the command line without the TracerHomeDirectory argument
  src/WindowsInstaller/WindowsInstaller.wixproj
Labels: area:builds

#1280 Modify the AspNet integration to be added automatic instrumentation instead of IIS config
  .azure-pipelines/integration-tests.yml
  .azure-pipelines/ultimate-pipeline.yml
  integrations.json
  src/Datadog.Trace.AspNet/Datadog.Trace.AspNet.csproj
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/AspNet/HttpModule_Integration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Datadog.Trace.ClrProfiler.Managed.csproj
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AspNet/AspNetIntegration.cs
  src/Datadog.Trace.Tools.Runner/Datadog.Trace.Tools.Runner.proj
  src/WindowsInstaller/Product.wxs
  src/WindowsInstaller/install.cmd
  src/WindowsInstaller/uninstall.cmd
  test/Datadog.Trace.ClrProfiler.IntegrationTests/AspNet/AspNetMvc4TestData.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/AspNet/AspNetMvc4Tests.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/AspNet/AspNetMvc4WithFeatureFlagTests.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/AspNet/AspNetMvc5TestData.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/AspNet/AspNetMvc5Tests.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/AspNet/AspNetMvc5WithFeatureFlagTests.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/AspNet/AspNetWebApi2TestData.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/AspNet/AspNetWebApi2Tests.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/AspNet/AspNetWebApi2WithFeatureFlagTests.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/AspNet/AspNetWebFormsTests.cs
  test/Datadog.Trace.ClrProfiler.IntegrationTests/Helpers/TestHelper.cs
  test/Datadog.Trace.ClrProfiler.Managed.Tests/IntegrationSignatureTests.cs
Labels: area:builds, area:integrations/aspnet

#1425 DuckType extensions optimization.
  src/Datadog.Trace/DuckTyping/DuckType.Utilities.cs
  src/Datadog.Trace/DuckTyping/DuckType.cs
  src/Datadog.Trace/DuckTyping/DuckTypeExtensions.cs
Labels: area:duck-typing

#1428 Remove Microsoft.Win32.Registry from Datadog.Trace.BenchmarkDotNet and Benchmarks.Trace
  src/Datadog.Trace.BenchmarkDotNet/Datadog.Trace.BenchmarkDotNet.csproj
  test/benchmarks/Benchmarks.Trace/Benchmarks.Trace.csproj
Labels: dependencies

#1420 Optimize aspnetcore when enabling route template resource names
  src/Datadog.Trace.AspNet/TracingHttpModule.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/AspNet/ApiController_ExecuteAsync_Integration.cs
  src/Datadog.Trace.ClrProfiler.Managed/AutoInstrumentation/AspNet/AsyncControllerActionInvoker_EndInvokeAction_Integration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AspNet/AspNetMvcIntegration.cs
  src/Datadog.Trace.ClrProfiler.Managed/Integrations/AspNet/AspNetWebApi2Integration.cs
  src/Datadog.Trace/DiagnosticListeners/AspNetCoreDiagnosticObserver.cs
  src/Datadog.Trace/ExtensionMethods/SpanExtensions.cs
  src/Datadog.Trace/SpanContextPropagator.cs
  src/Datadog.Trace/Tagging/AspNetCoreEndpointTags.cs
  src/Datadog.Trace/Tagging/AspNetCoreTags.cs
Labels: area:integrations/aspnetcore, type:performance-optimizations

#1434 Native callbacks performance improvements
  src/Datadog.Trace.ClrProfiler.Native/Datadog.Trace.ClrProfiler.Native.vcxproj
  src/Datadog.Trace.ClrProfiler.Native/clr_helpers.cpp
  src/Datadog.Trace.ClrProfiler.Native/cor_profiler.cpp
  src/Datadog.Trace.ClrProfiler.Native/environment_variables_util.h
  src/Datadog.Trace.ClrProfiler.Native/logging.h
  test/Datadog.Trace.ClrProfiler.IntegrationTests/Helpers/TestHelper.cs
Labels: area:call-target, area:native-library, type:performance-optimizations

#1427 Prevent dependabot from opening PR's against the Microsoft.Build.Framework NuGet package
  .github/dependabot.yml
Labels: dependencies

#1437 Use the property to get the tag/metrics value
  src/Datadog.Trace/Sampling/DefaultSamplingRule.cs
  src/Datadog.Trace/TraceContext.cs
Labels: area:tracer, type:performance-optimizations
