Repository DataDog/dd-trace-dotnet, pull requests merged in 2022-10, with the labels that each got.

#3249 GZip the data streams monitoring data sent to the agent
  tracer/src/Datadog.Trace/DataStreamsMonitoring/Aggregation/DataStreamsAggregator.cs
  tracer/src/Datadog.Trace/DataStreamsMonitoring/Aggregation/DataStreamsMessagePackFormatter.cs
  tracer/src/Datadog.Trace/DataStreamsMonitoring/DataStreamsWriter.cs
  tracer/src/Datadog.Trace/DataStreamsMonitoring/Transport/DataStreamsApi.cs
  tracer/test/Datadog.Trace.TestHelpers/MockTracerAgent.cs
  tracer/test/Datadog.Trace.Tests/DataStreamsMonitoring/DataStreamsAggregatorTests.cs
  tracer/test/Datadog.Trace.Tests/DataStreamsMonitoring/DataStreamsMessagePackFormatterTests.cs
  tracer/test/Datadog.Trace.Tests/DataStreamsMonitoring/DataStreamsMonitoringTransportTests.cs
  tracer/test/Datadog.Trace.Tests/DataStreamsMonitoring/DataStreamsWriterTests.cs
Labels: feature:data-streams-monitoring

#3285 Improve gitlab deployment
  .gitlab-ci.yml
Labels: area:builds

#3287 [ASM][RCM] Reduce Flake > fix integration tests log watching
  tracer/test/Datadog.Trace.Security.IntegrationTests/AspNetBase.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/Rcm/AspNetCore5AsmData.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/Rcm/AspNetCore5AsmToggle.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/Rcm/RcmBase.cs
Labels: area:tests, area:asm

#3120 Dani/asm/remote config update
  tracer/src/Datadog.Trace/AppSec/AsmDDProduct.cs
  tracer/src/Datadog.Trace/AppSec/AsmRemoteConfigurationProducts.cs
  tracer/src/Datadog.Trace/AppSec/Security.cs
  tracer/src/Datadog.Trace/AppSec/Waf/Initialization/WafConfigurator.cs
  tracer/src/Datadog.Trace/AppSec/Waf/Waf.cs
  tracer/src/Datadog.Trace/ClrProfiler/Instrumentation.cs
  tracer/src/Datadog.Trace/RemoteConfigurationManagement/RemoteConfigurationException.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/AspNetCore5AsmInitialization.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/AspNetCore5AsmRemoteRules.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/Datadog.Trace.Security.IntegrationTests.csproj
  tracer/test/Datadog.Trace.Security.IntegrationTests/Rcm/AspNetCore5AsmToggle.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/remote-rules.json
  tracer/test/Datadog.Trace.Security.Unit.Tests/FuzzEncoder.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/WafCompatibilityTests.cs
  tracer/test/Datadog.Trace.TestHelpers/RemoteConfigTestHelper.cs
  tracer/test/snapshots/Security.AspNetCore5AsmInitialization.__enableSecurity=False_expectedStatusCode=200_ruleset=null.verified.txt
  tracer/test/snapshots/Security.AspNetCore5AsmInitialization.__enableSecurity=False_expectedStatusCode=200_ruleset=wrong-tags-name-rule-set.json.verified.txt
  tracer/test/snapshots/Security.AspNetCore5AsmInitialization.__enableSecurity=True_expectedStatusCode=200_ruleset=null.verified.txt
  tracer/test/snapshots/Security.AspNetCore5AsmInitialization.__enableSecurity=True_expectedStatusCode=200_ruleset=wrong-tags-name-rule-set.json.verified.txt
  tracer/test/snapshots/Security.AspNetCore5AsmRemoteRules._.verified.txt
  tracer/test/snapshots/Security.AspNetCore5AsmRemoteRules.__enableSecurity=False.verified.txt
  tracer/test/snapshots/Security.AspNetCore5AsmRemoteRules.__enableSecurity=True.verified.txt
  tracer/test/snapshots/Security.AspNetCore5AsmToggle.__enableSecurity=False_expectedState=1_expectedCapabilities=12.verified.txt
  tracer/test/snapshots/Security.AspNetCore5AsmToggle.__enableSecurity=True_expectedState=2_expectedCapabilities=13.verified.txt
  tracer/test/snapshots/Security.AspNetCore5AsmToggle.__enableSecurity=null_expectedState=2_expectedCapabilities=13.verified.txt
Labels: area:asm, area:remote-config

#3299 Add a workaround for missing profiling support in PyPI version of dd-apm-test-agent
  .azure-pipelines/steps/run-snapshot-test.yml
  tracer/build/_build/Build.Steps.cs
Labels: area:builds, area:tests

#3289 Bump some timeouts to reduce test flake
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/GraphQLTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/HotChocolateTests.cs
  tracer/test/Datadog.Trace.TestHelpers.AutoInstrumentation/TestHelper.cs
  tracer/test/Datadog.Trace.TestHelpers/ProcessHelper.cs
  tracer/test/Datadog.Trace.Tests/DataStreamsMonitoring/DataStreamsWriterTests.cs
  tracer/test/Datadog.Trace.Tests/Logging/DirectSubmission/Sink/DatadogSinkTests.cs
  tracer/test/Datadog.Trace.Tests/Logging/DirectSubmission/Sink/PeriodicBatching/BatchingSinkTests.cs
Labels: area:tests

#3291 Fix test version package bump
  tracer/build/PackageVersionsLatestMajors.g.props
  tracer/build/PackageVersionsLatestMinors.g.props
  tracer/build/PackageVersionsLatestSpecific.g.props
  tracer/build/_build/Honeypot/IntegrationGroups.cs
  tracer/dependabot/Datadog.Dependabot.Integrations.csproj
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestMajors.g.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestMinors.g.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestSpecific.g.cs
Labels: area:builds, area:tests, area:test-apps

#3296 Skip flakey test ProbesTests.TransparentCodeCtorInstrumentationTest
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/Debugger/ProbesTests.cs
Labels: area:tests

#3295 [CI Visibility] - Initialize tracer earlier
  tracer/src/Datadog.Trace/Ci/CIVisibility.cs
Labels: area:ci-visibility

#3304 Fix edge case in `DataStreamsWriter`
  tracer/src/Datadog.Trace/DataStreamsMonitoring/DataStreamsWriter.cs
Labels: area:tracer, feature:data-streams-monitoring

#3309 [Profiler] Log INVOKE and CALL warning message only once
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/COMHelpers.h
Labels: area:profiler

#3303 Remove workaround for missing profiler support in PyPI version of dd-apm-test-agent
  tracer/build/_build/Build.Steps.cs
Labels: area:builds

#3298 [Profiler] Change lock-duration to lock-time
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Sample.h
Labels: area:profiler

#3314 [Profiler] Change log level from error to info in StackSamplerLoopManager
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/StackSamplerLoopManager.cpp
Labels: area:profiler

#3307 Run IP blocking tests with default rules
  tracer/test/Datadog.Trace.Security.IntegrationTests/Datadog.Trace.Security.IntegrationTests.csproj
  tracer/test/Datadog.Trace.Security.IntegrationTests/Rcm/AspNetCore5AsmData.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/ruleset-withblockips.json
  tracer/test/Datadog.Trace.Security.Unit.Tests/Datadog.Trace.Security.Unit.Tests.csproj
  tracer/test/Datadog.Trace.Security.Unit.Tests/WafIpBlockTests.cs
  tracer/test/snapshots/Security.AspNetCore5AsmData.__test=blocking-ips-oneclick_enableSecurity=True_expectedStatusCode=403_url=_.verified.txt
  tracer/test/snapshots/Security.AspNetCore5AsmData.__test=blocking-ips_enableSecurity=True_expectedStatusCode=403_url=_.verified.txt
Labels: area:tests

#3310 Skip `DebuggerSnapshotCreatorTests.Limits_LargeDictionary` as it's flaky
  tracer/test/Datadog.Trace.Tests/Debugger/DebuggerSnapshotCreatorTests.cs
Labels: area:tests, area:debugger

#3311 Disable DSM if `DD_TRACE_KAFKA_CREATE_CONSUMER_SCOPE_ENABLED=0`
  tracer/src/Datadog.Trace/DataStreamsMonitoring/DataStreamsManager.cs
  tracer/test/Datadog.Trace.Tests/DataStreamsMonitoring/DataStreamsManagerTests.cs
Labels: area:tracer, feature:data-streams-monitoring

#3288 [Profiler] Fix deadlock on alpine on thread creation
  profiler/CMakeLists.txt
  profiler/src/ProfilerEngine/Datadog.Linux.ApiWrapper/CMakeLists.txt
  profiler/src/ProfilerEngine/Datadog.Linux.ApiWrapper/functions_to_wrap.c
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/CMakeLists.txt
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/LinuxStackFramesCollector.cpp
  profiler/test/Datadog.Profiler.Native.Tests/LinuxStackFramesCollectorTest.cpp
Labels: area:profiler

#3313 [Profiler] Bump libdatadog version to 0.9.0
  profiler/build/cmake/FindLibdatadog.cmake
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Windows/Datadog.Profiler.Native.Windows.vcxproj
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Windows/packages.config
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Datadog.Profiler.Native.vcxproj
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/LibddprofExporter.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/LibddprofExporter.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/packages.config
  profiler/test/Datadog.Profiler.IntegrationTests/ApplicationInfoTest.cs
  profiler/test/Datadog.Profiler.Native.Tests/Datadog.Profiler.Native.Tests.vcxproj
  profiler/test/Datadog.Profiler.Native.Tests/packages.config
Labels: area:profiler

#3319 Add Data Streams Monitoring support when using manual instrumentation with Kafka
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/SQS/ContextPropagation.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Kafka/KafkaHeadersCollectionAdapter.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Kafka/KafkaHelper.cs
  tracer/src/Datadog.Trace/DataStreamsMonitoring/DataStreamsContextPropagator.cs
  tracer/src/Datadog.Trace/DataStreamsMonitoring/DataStreamsManager.cs
  tracer/src/Datadog.Trace/DataStreamsMonitoring/DataStreamsPropagationHeaders.cs
  tracer/src/Datadog.Trace/Headers/IBinaryHeadersCollection.cs
  tracer/src/Datadog.Trace/ISpanContextExtractor.cs
  tracer/src/Datadog.Trace/SpanContextExtractor.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/DataStreamsMonitoringTests.cs
  tracer/test/Datadog.Trace.Tests/DataStreamsMonitoring/DataStreamsManagerTests.cs
  tracer/test/Datadog.Trace.Tests/DataStreamsMonitoring/TestHeadersCollection.cs
  tracer/test/snapshots/DataStreamsMonitoringTests.HandlesFanIn.verified.txt
  tracer/test/test-applications/integrations/Samples.DataStreams.Kafka/Program.cs
  tracer/test/test-applications/integrations/Samples.Kafka/Consumer.cs
  tracer/test/test-applications/integrations/Samples.Kafka/ConsumerBase.cs
Labels: feature:data-streams-monitoring

#3135 [Tracer] refactor trace serialization part 1
  tracer/src/Datadog.Trace/Agent/AgentWriter.cs
  tracer/src/Datadog.Trace/Agent/MessagePack/SpanFormatterResolver.cs
  tracer/src/Datadog.Trace/Agent/MessagePack/SpanMessagePackFormatter.cs
  tracer/src/Datadog.Trace/Agent/MessagePack/SpanModel.cs
  tracer/src/Datadog.Trace/Agent/MessagePack/TraceChunkModel.cs
  tracer/src/Datadog.Trace/Agent/SpanBuffer.cs
  tracer/src/Datadog.Trace/Ci/Processors/OriginTagTraceProcessor.cs
  tracer/src/Datadog.Trace/Processors/NormalizerTraceProcessor.cs
  tracer/src/Datadog.Trace/Processors/ObfuscatorTraceProcessor.cs
  tracer/src/Datadog.Trace/Processors/TruncatorTraceProcessor.cs
  tracer/src/Datadog.Trace/Span.cs
  tracer/src/Datadog.Trace/TraceContext.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/Agent/CIAgentWriterTests.cs
  tracer/test/Datadog.Trace.IntegrationTests/OriginTagSendTraces.cs
  tracer/test/Datadog.Trace.IntegrationTests/Tagging/TraceTags.cs
  tracer/test/Datadog.Trace.IntegrationTests/TraceTagTests.cs
  tracer/test/Datadog.Trace.TestHelpers/MockApi.cs
  tracer/test/Datadog.Trace.Tests/Agent/AgentWriterTests.cs
  tracer/test/Datadog.Trace.Tests/Agent/ApiTests.cs
  tracer/test/Datadog.Trace.Tests/Agent/MessagePack/TraceChunkModelTests.cs
  tracer/test/Datadog.Trace.Tests/Agent/SpanBufferTests.cs
  tracer/test/Datadog.Trace.Tests/Agent/Transports/ApiWebRequestFactoryTests.cs
  tracer/test/Datadog.Trace.Tests/Tagging/TagsListTests.cs
Labels: area:tracer, type:refactor

#2800 Enable agent-based telemetry by default
  tracer/src/Datadog.Trace/Configuration/ConfigurationKeys.cs
  tracer/src/Datadog.Trace/Telemetry/ITelemetryTransport.cs
  tracer/src/Datadog.Trace/Telemetry/TelemetryCircuitBreaker.cs
  tracer/src/Datadog.Trace/Telemetry/TelemetryController.cs
  tracer/src/Datadog.Trace/Telemetry/TelemetryFactory.cs
  tracer/src/Datadog.Trace/Telemetry/TelemetryPushResult.cs
  tracer/src/Datadog.Trace/Telemetry/TelemetrySettings.cs
  tracer/src/Datadog.Trace/Telemetry/TelemetryTransportManager.cs
  tracer/src/Datadog.Trace/Telemetry/Transports/AgentTelemetryTransport.cs
  tracer/src/Datadog.Trace/Telemetry/Transports/AgentlessTelemetryTransport.cs
  tracer/src/Datadog.Trace/Telemetry/Transports/JsonTelemetryTransport.cs
  tracer/src/Datadog.Trace/Telemetry/Transports/TelemetryTransportFactory.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/Helpers/TelemetryHelper.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/TelemetryTests.cs
  tracer/test/Datadog.Trace.IntegrationTests/TelemetryTransportTests.cs
  tracer/test/Datadog.Trace.TestHelpers.AutoInstrumentation/TestHelper.cs
  tracer/test/Datadog.Trace.Tests/Logging/DirectSubmission/Sink/LogsApiTests.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/TelemetryCircuitBreakerTests.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/TelemetryControllerTests.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/TelemetrySettingsTests.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/TelemetryTransportManagerTests.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/Transports/JsonTelemetryTransportTests.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/Transports/TelemetryTransportFactoryTests.cs
Labels: type:enhancement, area:tracer

#3327 Fix documentation URL
  tracer/src/Directory.Build.props
Labels: area:builds

#3330 [CIVisibility] Public Api fixes
  tracer/src/Datadog.Trace/Ci/Test.cs
  tracer/src/Datadog.Trace/Ci/TestModule.cs
  tracer/src/Datadog.Trace/Ci/TestSuite.cs
Labels: area:ci-visibility

#3331 Add fix for method rewriter in non-void method with branch to last return
  tracer/src/Datadog.Tracer.Native/method_rewriter.cpp
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CallTargetNativeTests.cs
  tracer/test/test-applications/instrumentation/CallTargetNativeTest/Extras.cs
  tracer/test/test-applications/instrumentation/CallTargetNativeTest/Program.cs
Labels: type:bug, area:native-library

#3333 Correct index used by activation capability
  tracer/src/Datadog.Trace/RemoteConfigurationManagement/RcmCapabilitiesIndices.cs
  tracer/test/snapshots/Security.AspNetCore5AsmToggle.__enableSecurity=True_expectedState=2_expectedCapabilities=14.verified.txt
  tracer/test/snapshots/Security.AspNetCore5AsmToggle.__enableSecurity=null_expectedState=2_expectedCapabilities=14.verified.txt
Labels: area:tracer

#3324 Fix all build warnings and errors
  .azure-pipelines/steps/install-dotnet-sdk-32bit.yml
  .azure-pipelines/steps/install-dotnet-sdk-manually.yml
  .azure-pipelines/steps/install-dotnet-sdks.yml
  .azure-pipelines/steps/install-latest-dotnet-sdk.yml
  .azure-pipelines/ultimate-pipeline.yml
  shared/src/Datadog.Trace.ClrProfiler.Native/CMakeLists.txt
  tracer/build/_build/Build.Steps.cs
  tracer/test/test-applications/integrations/Samples.ProcessStart/Program.cs
Labels: area:builds

#3338 [ASM] Remove warnings and fix flake
  tracer/src/Datadog.Trace/AppSec/ControllerContextExtensions.Framework.cs
  tracer/src/Datadog.Trace/AppSec/InstrumentationGateway.cs
  tracer/src/Datadog.Trace/AppSec/Security.cs
  tracer/src/Datadog.Trace/AspNet/TracingHttpModule.cs
Labels: area:asm

#3268 [Profiler] Sample allocation and contention profilers
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/AllocationsProvider.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/AllocationsProvider.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Configuration.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Configuration.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ContentionProvider.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ContentionProvider.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CorProfilerCallback.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Datadog.Profiler.Native.vcxproj
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Datadog.Profiler.Native.vcxproj.filters
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/EnvironmentVariables.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ExceptionSampler.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ExceptionSampler.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ExceptionsProvider.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ExceptionsProvider.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/GenericSampler.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/GenericSampler.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/GroupSampler.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/IConfiguration.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ISamplesProvider.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ProviderBase.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ProviderBase.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/SamplesCollector.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/SamplesCollector.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/StackSamplerLoop.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/StackSamplerLoop.h
  profiler/test/Datadog.Profiler.IntegrationTests/Helpers/EnvironmentVariables.cs
  profiler/test/Datadog.Profiler.Native.Tests/ConfigurationTest.cpp
  profiler/test/Datadog.Profiler.Native.Tests/ProfilerMockedInterface.h
  profiler/test/Datadog.Profiler.Native.Tests/SamplesCollectorTest.cpp
Labels: area:profiler

#3337 [Profiler] Send only activated profilers values in profile
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/AllocationsProvider.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/AllocationsProvider.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CollectorBase.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ContentionProvider.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ContentionProvider.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CorProfilerCallback.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CpuTimeProvider.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CpuTimeProvider.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ExceptionsProvider.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ExceptionsProvider.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/LibddprofExporter.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/LibddprofExporter.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/RawAllocationSample.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/RawContentionSample.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/RawCpuSample.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/RawExceptionSample.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/RawSample.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/RawWallTimeSample.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Sample.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Sample.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/WallTimeProvider.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/WallTimeProvider.h
  profiler/test/Datadog.Profiler.IntegrationTests/Allocations/AllocationsProfilerTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/CodeHotspot/CodeHotspotTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Contention/ContentionProfilerTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/CpuAndWallTime/CpuAndWallTimeTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/CpuProfiler/CpuProfilerTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Exceptions/ExceptionsTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Helpers/SamplesHelper.cs
  profiler/test/Datadog.Profiler.Native.Tests/LibddprofExporterTest.cpp
  profiler/test/Datadog.Profiler.Native.Tests/ProviderTest.cpp
  profiler/test/Datadog.Profiler.Native.Tests/SamplesProviderTest.cpp
Labels: area:profiler

#3257 [Profiler] Add support for named piped
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Configuration.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Configuration.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/EnvironmentVariables.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/IConfiguration.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/LibddprofExporter.cpp
  profiler/test/Datadog.Profiler.IntegrationTests/Allocations/AllocationsProfilerTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/ApplicationInfoTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/CodeHotspot/CodeHotspotTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Contention/ContentionProfilerTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/CpuAndWallTime/CpuAndWallTimeTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Exceptions/ExceptionsTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Helpers/EnvironmentHelper.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Helpers/EnvironmentVariables.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Helpers/MockDatadogAgent.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Helpers/TestApplicationRunner.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Helpers/TransportType.cs
  profiler/test/Datadog.Profiler.IntegrationTests/LinuxOnly/SignalHandlerTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/LinuxOnly/WrapperLibraryTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/SmokeTests/SmokeTestRunner.cs
  profiler/test/Datadog.Profiler.IntegrationTests/WindowsOnly/NamedPipeTestcs.cs
  profiler/test/Datadog.Profiler.Native.Tests/ConfigurationTest.cpp
  profiler/test/Datadog.Profiler.Native.Tests/LibddprofExporterTest.cpp
  profiler/test/Datadog.Profiler.Native.Tests/ProfilerMockedInterface.h
  tracer/build/_build/Build.Profiler.Steps.cs
Labels: area:profiler

#3282 Add `SpanRateLimiter` for Single Span Ingestion
  tracer/src/Datadog.Trace/Sampling/SpanRateLimiter.cs
Labels: area:tracer

#3354 Make cgroup `ContainerMetadata` parsing more lenient
  tracer/src/Datadog.Trace/PlatformHelpers/ContainerMetadata.cs
  tracer/test/Datadog.Trace.Tests/PlatformHelpers/ContainerMetadataTests.cs
Labels: type:bug, area:tracer

#3357 Native loader build
  shared/src/Datadog.Trace.ClrProfiler.Native/CMakeLists.txt
Labels: area:shared-components

#3350 [CI Visibility] - Add a final try to load the pdb from a module.
  tracer/src/Datadog.Trace/PDBs/MethodSymbolResolver.cs
Labels: area:tracer

#3315 [Tracer] refactor trace serialization part 2: `_sampling_priority_v1`
  tracer/src/Datadog.Trace/Agent/MessagePack/SpanMessagePackFormatter.cs
  tracer/src/Datadog.Trace/Agent/MessagePack/TraceChunkModel.cs
  tracer/src/Datadog.Trace/Agent/SpanBuffer.cs
  tracer/src/Datadog.Trace/Ci/Agent/MessagePack/SpanMessagePackFormatter.cs
  tracer/src/Datadog.Trace/Ci/Tagging/TestSpanTags.cs
  tracer/src/Datadog.Trace/Ci/Tagging/TestSuiteSpanTags.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TagsListGenerator.TagListGenerator/CommonTags.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TagsListGenerator.TagListGenerator/CommonTags.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TagsListGenerator.TagListGenerator/CommonTags.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TagsListGenerator.TagListGenerator/CommonTags.g.cs
  tracer/src/Datadog.Trace/Tagging/CommonTags.cs
  tracer/src/Datadog.Trace/TraceContext.cs
  tracer/src/Datadog.Trace/Util/ArrayBuilder.cs
  tracer/src/Datadog.Trace/Util/SamplingHelpers.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/Agent/CIAgentWriterTests.cs
  tracer/test/Datadog.Trace.IntegrationTests/Tagging/SamplingPriorityTests.cs
  tracer/test/Datadog.Trace.IntegrationTests/Tagging/SamplingPriorityTests_MultipleChunksWithUpstreamService.cs
  tracer/test/Datadog.Trace.IntegrationTests/Tagging/SamplingPriorityTests_MultipleChunksWithoutUpstreamService.cs
  tracer/test/Datadog.Trace.IntegrationTests/Tagging/TraceTagTests.cs
  tracer/test/Datadog.Trace.TestHelpers/MockApi.cs
  tracer/test/Datadog.Trace.Tests/Agent/AgentWriterTests.cs
  tracer/test/Datadog.Trace.Tests/Agent/MessagePack/TraceChunkModelTests.cs
  tracer/test/Datadog.Trace.Tests/TraceContextTests.cs
Labels: area:tracer, type:refactor

#3349 [Profiler] Ensure all sample have high precision timestamps
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/AllocationsProvider.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CollectorBase.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ContentionProvider.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ExceptionsProvider.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/LibddprofExporter.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/OpSysTools.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/OpSysTools.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/StackSamplerLoop.cpp
Labels: area:profiler

#3364 Fix broken package version bump + add GitHub action
  .github/workflows/verify_integrations_map_added.yml
  tracer/build/_build/Honeypot/IntegrationGroups.cs
Labels: area:builds

#3359 Update Samples.AWS.Lambda and tests
  .azure-pipelines/ultimate-pipeline.yml
  docker-compose.serverless.yml
  docs/development/Serverless.md
  tracer/build/_build/docker/serverless.extensionmock.dockerfile
  tracer/build/_build/docker/serverless.extensionmock.with.context.dockerfile
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AWS/AwsLambdaTests.cs
  tracer/test/Datadog.Trace.TestHelpers/MockLambdaExtension.cs
  tracer/test/Datadog.Trace.TestHelpers/MockTracerAgent.cs
  tracer/test/snapshots/AwsLambdaTests.verified.txt
  tracer/test/test-applications/integrations/Samples.AWS.Lambda/Program.cs
Labels: area:tests, area:test-apps, area:serverless

#3368 Increase allowed variation in `SpanSamplerTests` to fix flake
  tracer/test/Datadog.Trace.Tests/Sampling/SpanSamplerTests.cs
Labels: area:tests

#3370 [Profiler] Save and restore the value of errno in the signal handler
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/LinuxStackFramesCollector.cpp
Labels: area:profiler

#3367 Add support for nested and generic arguments to Lambda handlers
  .azure-pipelines/ultimate-pipeline.yml
  docker-compose.serverless.yml
  tracer/src/Datadog.Trace/ClrProfiler/ServerlessInstrumentation/LambdaHandler.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AWS/AwsLambdaTests.cs
  tracer/test/Datadog.Trace.Tests/LambdaHandlerTests.cs
  tracer/test/snapshots/AwsLambdaTests.verified.txt
  tracer/test/test-applications/integrations/Samples.AWS.Lambda/Program.cs
Labels: type:enhancement, area:serverless

#3369 Run serverless tests on .NET 5.0 and .NET 6.0
  .azure-pipelines/ultimate-pipeline.yml
  docker-compose.serverless.yml
  tracer/build/_build/Build.Steps.cs
  tracer/src/Datadog.Trace/ClrProfiler/ServerlessInstrumentation/Serverless.cs
  tracer/src/Datadog.Trace/Configuration/TracerSettings.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AWS/AwsLambdaTests.cs
  tracer/test/Datadog.Trace.Tests/ServerlessTests.cs
  tracer/test/snapshots/AwsLambdaTests.verified.txt
  tracer/test/test-applications/integrations/Samples.AWS.Lambda/Samples.AWS.Lambda.csproj
  tracer/test/test-applications/integrations/Samples.AWS.Lambda/serverless.lambda.dockerfile
Labels: area:tests, area:test-apps, area:serverless

#3380 [Profiler] Disable namedpipe flacky test on x86 until fix is found
  profiler/test/Datadog.Profiler.IntegrationTests/WindowsOnly/NamedPipeTestcs.cs
Labels: area:profiler

#3363 Exclude xml files from `dd-trace` tool and Datadog.Trace.Bundle
  .azure-pipelines/ultimate-pipeline.yml
  tracer/build/_build/Build.cs
  tracer/src/Datadog.Trace.Bundle/Datadog.Trace.Bundle.csproj
  tracer/src/Datadog.Trace.Tools.Runner/Datadog.Trace.Tools.Runner.csproj
Labels: area:builds, area:tools

#3372 [Profiler] Samples supports timestamps as label
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/AllocationsProvider.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CollectorBase.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Configuration.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Configuration.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ContentionProvider.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CorProfilerCallback.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CpuTimeProvider.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CpuTimeProvider.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/EnvironmentVariables.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ExceptionsProvider.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/IConfiguration.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/LibddprofExporter.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/WallTimeProvider.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/WallTimeProvider.h
  profiler/test/Datadog.Profiler.IntegrationTests/Helpers/EnvironmentVariables.cs
  profiler/test/Datadog.Profiler.IntegrationTests/TimelineTest.cs
  profiler/test/Datadog.Profiler.Native.Tests/ConfigurationTest.cpp
  profiler/test/Datadog.Profiler.Native.Tests/ProfilerMockedInterface.h
  profiler/test/Datadog.Profiler.Native.Tests/ProviderTest.cpp
Labels: area:profiler

#3377 Adding Tags Data to Span Started Logs
  tracer/src/Datadog.Trace/Span.cs
Labels: area:tracer

#3382 [Profiler] Customize wall time and CPU sampling constants
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Configuration.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Configuration.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/EnvironmentVariables.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/IConfiguration.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/StackSamplerLoop.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/StackSamplerLoop.h
  profiler/test/Datadog.Profiler.Native.Tests/ConfigurationTest.cpp
  profiler/test/Datadog.Profiler.Native.Tests/ProfilerMockedInterface.h
Labels: area:profiler

#3378 Add better fallback for Lambda service name
  docker-compose.serverless.yml
  tracer/src/Datadog.Trace/ClrProfiler/ServerlessInstrumentation/LambdaHandler.cs
  tracer/src/Datadog.Trace/ClrProfiler/ServerlessInstrumentation/Serverless.cs
  tracer/src/Datadog.Trace/TracerManagerFactory.cs
  tracer/test/Datadog.Trace.Tests/ServerlessTests.cs
  tracer/test/snapshots/AwsLambdaTests.verified.txt
Labels: type:enhancement, area:serverless

#3355 Datadog Test Logger
  .azure-pipelines/steps/run-in-docker.yml
  .azure-pipelines/steps/run-snapshot-test.yml
  .azure-pipelines/ultimate-pipeline.yml
  .dockerignore
  docker-compose.yml
  tracer/build/_build/Build.Steps.cs
  tracer/build/_build/NukeExtensions/DotNetSettingsExtensions.cs
  tracer/src/Datadog.Trace/Ci/CIEnvironmentValues.cs
  tracer/src/Datadog.Trace/Ci/CIVisibility.cs
  tracer/src/Datadog.Trace/Ci/TestModule.cs
  tracer/src/Datadog.Trace/Telemetry/TelemetrySettings.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/MsTestV2Tests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/NUnitTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/XUnitTests.cs
  tracer/test/Directory.Build.props
Labels: area:ci-visibility

#3387 Change list of expected modified files for release
  tracer/build/_build/Build.GitHub.cs
Labels: area:builds

#3388 Fix Pipeline when Pull Request variables are not available
  .azure-pipelines/ultimate-pipeline.yml
Labels: area:builds

#3394 Apply new PackageReference Conditional to fix IIS tests
  .azure-pipelines/ultimate-pipeline.yml
  tracer/build/_build/NukeExtensions/DotNetSettingsExtensions.cs
  tracer/test/Directory.Build.props
Labels: area:tests

#3390 Add missing dependencies to `coverage` and `traces_pipeline` stages
  .azure-pipelines/ultimate-pipeline.yml
Labels: area:builds

#3399 Small fixes for DatadogTestLogger
  .azure-pipelines/ultimate-pipeline.yml
  docker-compose.yml
Labels: area:builds

#3398 Fix `ILogger` direct submission when formatter returns `null`
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Logging/ILogger/DirectSubmission/DirectSubmissionLogger.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Logging/ILogger/DirectSubmission/Formatting/LoggerLogFormatter.cs
  tracer/test/Datadog.Trace.Tests/Logging/DirectSubmission/ILogger/DirectSubmissionLoggerTests.cs
Labels: type:bug, area:tracer

#3402 [CIVisibility] Fix EVP tests by turning off the DD_TRACE_DEBUG flag
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/MsTestV2EvpTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/MsTestV2Tests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/NUnitEvpTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/NUnitTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/XUnitEvpTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/XUnitTests.cs
Labels: area:tests, area:ci-visibility
