Repository DataDog/dd-trace-dotnet, pull requests merged in 2022-06, with the labels that each got.

#2866 [Profiler] Prevent from blocking the application
  profiler/src/ProfilerEngine/Datadog.Linux.ApiWrapper/CMakeLists.txt
  profiler/src/ProfilerEngine/Datadog.Linux.ApiWrapper/functions_to_wrap.c
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/LinuxStackFramesCollector.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/LinuxStackFramesCollector.h
Labels: area:profiler

#2854 Fix incorrect `http.status_code` in ASP.NET MVC with IIS classic mode
  tracer/src/Datadog.Trace/AspNet/TracingHttpModule.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AspNet/ApiController_ExecuteAsync_Integration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AspNet/AsyncControllerActionInvoker_EndInvokeAction_Integration.cs
  tracer/test/snapshots/AspNetMvc4Tests.Classic.NoFF.__path=_Home_BadRequest_statusCode=500.verified.txt
  tracer/test/snapshots/AspNetMvc4Tests.Classic.NoFF.__path=_Home_identifier_BadValue_statusCode=500.verified.txt
  tracer/test/snapshots/AspNetMvc4Tests.Classic.NoFF.__path=_Home_identifier_statusCode=500.verified.txt
  tracer/test/snapshots/AspNetMvc4Tests.Classic.WithFF.__path=_Home_BadRequest_statusCode=500.verified.txt
  tracer/test/snapshots/AspNetMvc4Tests.Classic.WithFF.__path=_Home_identifier_BadValue_statusCode=500.verified.txt
  tracer/test/snapshots/AspNetMvc4Tests.Classic.WithFF.__path=_Home_identifier_statusCode=500.verified.txt
  tracer/test/snapshots/AspNetMvc5Tests.Classic.NoFF.__path=_Home_Get_statusCode=500.verified.txt
  tracer/test/snapshots/AspNetMvc5Tests.Classic.NoFF.__path=_badrequest_statusCode=500.verified.txt
  tracer/test/snapshots/AspNetMvc5Tests.Classic.WithFF.__path=_Home_Get_statusCode=500.verified.txt
  tracer/test/snapshots/AspNetMvc5Tests.Classic.WithFF.__path=_badrequest_statusCode=500.verified.txt
  tracer/test/snapshots/AspNetMvc5TestsModuleOnly.Classic.__path=_BadRequestWithStatusCode_401_statusCode=500.verified.txt
  tracer/test/snapshots/AspNetMvc5TestsModuleOnly.Classic.__path=_Home_Get_statusCode=500.verified.txt
  tracer/test/snapshots/AspNetMvc5TestsModuleOnly.Classic.__path=_badrequest_statusCode=500.verified.txt
Labels: type:bug, area:integrations, area:tests

#2847 Add Redis obfuscator
  tracer/src/Datadog.Trace/Processors/ObfuscatorTagsProcessor.cs
  tracer/src/Datadog.Trace/Processors/ObfuscatorTraceProcessor.cs
  tracer/src/Datadog.Trace/Processors/RedisObfuscationUtil.cs
  tracer/test/Datadog.Trace.Tests/TraceProcessors/RedisObfuscationUtilTests.cs
Labels: area:tracer

#2820 Update NLog integration to be compatible with v5.0.0
  tracer/build/PackageVersionsGeneratorDefinitions.json
  tracer/build/PackageVersionsLatestMajors.g.props
  tracer/build/PackageVersionsLatestMinors.g.props
  tracer/build/PackageVersionsLatestSpecific.g.props
  tracer/dependabot/Datadog.Dependabot.Integrations.csproj
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Logging/NLog/DirectSubmission/LogFactoryGetConfigurationForLoggerInstrumentation.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Logging/NLog/LogsInjection/LoggerImplWriteIntegration.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.InstrumentationDefinitions.InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.InstrumentationDefinitions.InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.InstrumentationDefinitions.InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.InstrumentationDefinitions.InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestMajors.g.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestMinors.g.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestSpecific.g.cs
  tracer/test/test-applications/integrations/LogsInjection.NLog/LogsInjection.NLog.csproj
Labels: area:integrations

#2863 Fix flaky `LambdaRequestBuilderTests`
  tracer/test/Datadog.Trace.Tests/ApiWebRequestFactoryTests.cs
  tracer/test/Datadog.Trace.Tests/LambdaRequestBuilderTests.cs
  tracer/test/Datadog.Trace.Tests/SpanContextPropagatorTests_ExtractHeaderTags.cs
  tracer/test/Datadog.Trace.Tests/TracerTests.cs
  tracer/test/Datadog.Trace.Tests/WebRequestCollection.cs
Labels: area:tests

#2840 [Profiler] Add async scenario to demo application
  profiler/src/Demos/Samples.Computer01/AsyncComputation.cs
  profiler/src/Demos/Samples.Computer01/ComputerService.cs
  profiler/src/Demos/Samples.Computer01/Program.cs
Labels: area:profiler

#2823 [Profiler] Implement sampling for exceptions
  profiler/build/crank/Samples.AspNetCoreSimpleController.yml
  profiler/build/crank/run.sh
  profiler/src/Demos/Samples.ExceptionGenerator/ExceptionGenerator.cs
  profiler/src/Demos/Samples.ExceptionGenerator/Program.cs
  profiler/src/Demos/Samples.ExceptionGenerator/SamplingScenario.cs
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Windows/Datadog.Profiler.Native.Windows.vcxproj
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Windows/Timer.Windows.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/AdaptiveSampler.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/AdaptiveSampler.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Configuration.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Configuration.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CorProfilerCallback.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Datadog.Profiler.Native.vcxproj
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Datadog.Profiler.Native.vcxproj.filters
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/EnvironmentVariables.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ExceptionSampler.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ExceptionSampler.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ExceptionsProvider.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ExceptionsProvider.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/IConfiguration.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Timer.Linux.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Timer.Windows.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Timer.h
  profiler/test/Datadog.Profiler.IntegrationTests/Exceptions/ExceptionsTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Helpers/EnvironmentVariables.cs
  profiler/test/Datadog.Profiler.Native.Tests/AdaptiveSamplerTest.cpp
  profiler/test/Datadog.Profiler.Native.Tests/Datadog.Profiler.Native.Tests.vcxproj
  profiler/test/Datadog.Profiler.Native.Tests/Datadog.Profiler.Native.Tests.vcxproj.filters
  profiler/test/Datadog.Profiler.Native.Tests/ProfilerMockedInterface.h
Labels: area:profiler

#2830 [Profiler] Run profiler integration tests in AzDo
  .azure-pipelines/ultimate-pipeline.yml
  .github/actions/run-in-docker/action.yml
  .github/workflows/profiler-pipeline.yml
  Datadog.Profiler.sln
  docker-compose.yml
  profiler/build/PiComputation.linux.net50.json
  profiler/build/PiComputation.linux.netcoreapp31.json
  profiler/build/crank/os.profiles.yml
  profiler/src/ProfilerEngine/Datadog.Linux.ApiWrapper/functions_to_wrap.c
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/LibddprofExporter.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/RuntimeIdStore.cpp
  profiler/test/Datadog.Profiler.IntegrationTests/ApplicationInfoTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/CodeHotspot/BuggyBitsTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/CpuProfiler/CpuProfilerTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Datadog.Profiler.IntegrationTests.csproj
  profiler/test/Datadog.Profiler.IntegrationTests/Exceptions/ExceptionsTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/External/ProcessExtensions.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Helpers/EnvironmentHelper.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Helpers/EnvironmentVariables.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Helpers/Pprof/Pprof.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Helpers/PprofHelper.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Helpers/ProcessExtensions.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Helpers/TestAppFact.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Helpers/TestApplicationRunner.cs
  profiler/test/Datadog.Profiler.IntegrationTests/SmokeTests/BuggyBitsTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/SmokeTests/Computer01Test.cs
  profiler/test/Datadog.Profiler.IntegrationTests/SmokeTests/ExceptionGeneratorTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/SmokeTests/SmokeTestRunner.cs
  profiler/test/Datadog.Profiler.IntegrationTests/SmokeTests/WebsiteAspNetCore01Test.cs
  tracer/build/_build/Build.Profiler.Steps.cs
  tracer/build/_build/Build.Steps.cs
  tracer/build/_build/docker/alpine.dockerfile
  tracer/build/_build/docker/debian.dockerfile
  tracer/build/_build/docker/smoke.dockerfile
  tracer/src/Datadog.Trace.ClrProfiler.Native/cor_profiler.h
Labels: area:builds, area:profiler

#2869 [Doc] Add a quick comment on docker for integrations
  docs/development/AutomaticInstrumentation.md
Labels: area:docs

#2874 Stripping out unneeded information from native `so` library files
  tracer/build/_build/Build.Steps.cs
  tracer/build/_build/Build.cs
Labels: area:builds

#2843 [Tests] Allow updating snapshots from an AzDo build
  tracer/build/_build/Build.Steps.cs
  tracer/build/_build/Build.Utilities.cs
Labels: area:builds

#2881 Create a Code Freeze bot
  .github/workflows/auto_code_freeze_block_pr.yml
  .github/workflows/code_freeze_end.yml
  .github/workflows/code_freeze_start.yml
Labels: area:builds

#2885 Fix code-freeze bot (part deux)
  .github/workflows/auto_code_freeze_block_pr.yml
  .github/workflows/code_freeze_end.yml
  .github/workflows/code_freeze_start.yml
Labels: area:builds

#2894 [CIApp] MSBuild logger improvements
  tracer/src/Datadog.Trace.MSBuild/DatadogLogger.cs
  tracer/src/Datadog.Trace/Ci/Tags/BuildTags.cs
Labels: area:ci-app

#2893 Rename `isScheduledBuild` to `isBenchmarksOnlyBuild`
  .azure-pipelines/ultimate-pipeline.yml
Labels: area:builds

#2889 [Profiler] Add iterator scenario in computer01 demo
  profiler/src/Demos/Samples.Computer01/ComputerService.cs
  profiler/src/Demos/Samples.Computer01/IteratorComputation.cs
  profiler/src/Demos/Samples.Computer01/Program.cs
Labels: area:profiler

#2903 [Profiler] Don't sample if no CPU time was consumed nor in Ready state
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Windows/OsSpecificApi.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/StackSamplerLoop.cpp
Labels: area:profiler

#2902 [Profiler] Do not print stack walker error messages everytime
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/LinuxStackFramesCollector.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/LinuxStackFramesCollector.h
Labels: area:profiler

#2864 [Profiler] Add CPU scenario to profiler throughput tests
  profiler/build/crank/Samples.AspNetCoreSimpleController.yml
  profiler/build/crank/run.sh
Labels: area:benchmarks, area:profiler

#2911 [Linux packaging] Make sure the createLogPath script is executable
  tracer/build/_build/Build.Steps.cs
Labels: area:builds

#2909 [Profiler] Run profiler tests on .NET 6
  .github/workflows/profiler-pipeline.yml
  profiler/build/PiComputation.linux.net60.json
  profiler/build/PiComputation.windows.net60.json
  profiler/src/Demos/Samples.BuggyBits/Samples.BuggyBits.csproj
  profiler/src/Demos/Samples.Computer01/Samples.Computer01.csproj
  profiler/src/Demos/Samples.ExceptionGenerator/Samples.ExceptionGenerator.csproj
  profiler/src/Demos/Samples.Website-AspNetCore01/Samples.Website-AspNetCore01.csproj
  profiler/test/Datadog.Profiler.IntegrationTests/Exceptions/ExceptionsTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Helpers/EnvironmentHelper.cs
  profiler/test/Directory.Build.props
Labels: area:builds, area:tests, area:profiler

#2286 Setup Code Scanning for dd-trace-dotnet
  .github/workflows/codeql-analysis.yml
  tracer/build/_build/Build.Steps.cs
Labels: area:builds

#2922 Fix changed error message in Kafka 1.9.0
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/KafkaTests.cs
Labels: area:tests

#2923 Update usages of Newtonsoft.Json to 13.0.1 across test applications
  tracer/test/test-applications/aspnet/Samples.AspNet.VersionConflict/Samples.AspNet.VersionConflict.csproj
  tracer/test/test-applications/aspnet/Samples.AspNet.VersionConflict/Web.config
  tracer/test/test-applications/aspnet/Samples.AspNet.VersionConflict/packages.config
  tracer/test/test-applications/aspnet/Samples.AspNet472.LoaderOptimizationRegKey/Samples.AspNet472.LoaderOptimizationRegKey.csproj
  tracer/test/test-applications/aspnet/Samples.AspNet472.LoaderOptimizationRegKey/Web.config
  tracer/test/test-applications/aspnet/Samples.AspNet472.LoaderOptimizationRegKey/packages.config
  tracer/test/test-applications/aspnet/Samples.AspNetMvc4/Samples.AspNetMvc4.csproj
  tracer/test/test-applications/aspnet/Samples.AspNetMvc4/Web.config
  tracer/test/test-applications/aspnet/Samples.AspNetMvc4/packages.config
  tracer/test/test-applications/aspnet/Samples.AspNetMvc5/Samples.AspNetMvc5.csproj
  tracer/test/test-applications/aspnet/Samples.AspNetMvc5/Web.config
  tracer/test/test-applications/aspnet/Samples.AspNetMvc5/packages.config
  tracer/test/test-applications/aspnet/Samples.WebForms/Samples.WebForms.csproj
  tracer/test/test-applications/aspnet/Samples.WebForms/Web.config
  tracer/test/test-applications/aspnet/Samples.WebForms/packages.config
  tracer/test/test-applications/integrations/Samples.Elasticsearch.V5/Samples.Elasticsearch.V5.csproj
  tracer/test/test-applications/integrations/Samples.Kafka/Samples.Kafka.csproj
  tracer/test/test-applications/security/aspnet/Samples.Security.AspNetMvc5/Samples.Security.AspNetMvc5.csproj
  tracer/test/test-applications/security/aspnet/Samples.Security.AspNetMvc5/Web.config
  tracer/test/test-applications/security/aspnet/Samples.Security.AspNetMvc5/packages.config
  tracer/test/test-applications/security/aspnet/Samples.Security.WebApi/Samples.Security.WebApi.csproj
  tracer/test/test-applications/security/aspnet/Samples.Security.WebApi/Web.config
  tracer/test/test-applications/security/aspnet/Samples.Security.WebApi/packages.config
  tracer/test/test-applications/security/aspnet/Samples.Security.WebForms/Samples.Security.WebForms.csproj
  tracer/test/test-applications/security/aspnet/Samples.Security.WebForms/Web.config
  tracer/test/test-applications/security/aspnet/Samples.Security.WebForms/packages.config
Labels: area:tests, area:test-apps

#2816 Add named pipe support to the mock agent + convert telemetry tests to Snapshot
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AspNet/OwinWebApi2Tests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AspNetCore/AspNetCoreMvcTestBase.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/ILoggerTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/Log4NetTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/NLogTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/NoMultiLoaderTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/RuntimeMetricsTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/SerilogTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/TelemetryTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/TransportTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/VersionConflict/Log4NetVersionConflict2xTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/VersionConflict/NLog10VersionConflict2xTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/VersionConflict/NLog20VersionConflict2xTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/VersionConflict/NLogVersionConflict2xTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/VersionConflict/Serilog14VersionConflict2xTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/VersionConflict/SerilogVersionConflict2xTests.cs
  tracer/test/Datadog.Trace.IntegrationTests/ContainerTaggingTests.cs
  tracer/test/Datadog.Trace.IntegrationTests/StatsTests.cs
  tracer/test/Datadog.Trace.OpenTracing.IntegrationTests/OpenTracingSendTracesToAgent.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/AspNetBase.cs
  tracer/test/Datadog.Trace.TestHelpers.SharedSource/VerifyHelper.cs
  tracer/test/Datadog.Trace.TestHelpers/EnvironmentHelper.cs
  tracer/test/Datadog.Trace.TestHelpers/IisFixture.cs
  tracer/test/Datadog.Trace.TestHelpers/MockTracerAgent.cs
  tracer/test/Datadog.Trace.TestHelpers/TestHelper.cs
  tracer/test/Datadog.Trace.Tests/DogStatsDTests.cs
  tracer/test/Datadog.Trace.Tests/TracerInstanceTest.cs
  tracer/test/Datadog.Trace.Tools.Runner.IntegrationTests/BaseRunCommandTests.cs
  tracer/test/Datadog.Trace.Tools.Runner.IntegrationTests/Checks/AgentConnectivityCheckTests.cs
  tracer/test/Datadog.Trace.Tools.Runner.IntegrationTests/Checks/ConsoleTestHelper.cs
  tracer/test/Datadog.Trace.Tools.Runner.IntegrationTests/LegacyCommandLineArgumentsTests.cs
  tracer/test/snapshots/TelemetryTests.verified.txt
  tracer/test/snapshots/TransportTests.verified.txt
Labels: area:tests

#2928 Fix NuGet installer smoke tests not running
  .azure-pipelines/ultimate-pipeline.yml
Labels: area:builds, area:tests
