Repository DataDog/dd-trace-dotnet, pull requests merged in 2022-04, with the labels that each got.

#2618 Upload snapshots directory as an artifact
  .azure-pipelines/ultimate-pipeline.yml
Labels: area:builds

#2633 Reorder Trace Annotation tests to reduce flakiness
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/TraceAnnotationsTests.cs
  tracer/test/snapshots/TraceAnnotationsAutomaticOnlyTests._.verified.txt
  tracer/test/snapshots/TraceAnnotationsVersionMismatchAfterFeatureTests._.verified.txt
  tracer/test/snapshots/TraceAnnotationsVersionMismatchBeforeFeatureTests._.verified.txt
  tracer/test/snapshots/TraceAnnotationsVersionMismatchNewerNuGetTests._.verified.txt
  tracer/test/test-applications/integrations/Samples.TraceAnnotations/ProgramHelpers.cs
Labels: area:tests, area:test-apps

#2631 [Release] Upload the windows-tracer-home file from GitLab
  .azure-pipelines/ultimate-pipeline.yml
  tracer/build/_build/Build.GitHub.cs
Labels: area:builds

#2610 Add additional diagnostic for Tags source generator
  tracer/src/Datadog.Trace.SourceGenerators/TagsListGenerator/Diagnostics/InvalidUseOfLanguageDiagnostic.cs
  tracer/src/Datadog.Trace.SourceGenerators/TagsListGenerator/TagListGenerator.cs
  tracer/test/Datadog.Trace.SourceGenerators.Tests/TagsListGeneratorTests.cs
Labels: area:tracer, type:reliability

#2636 [Log Submission] Fallback to using GlobalTags for direct log submission
  tracer/src/Datadog.Trace/Configuration/ConfigurationKeys.DirectLogSubmission.cs
  tracer/src/Datadog.Trace/Logging/DirectSubmission/DirectLogSubmissionSettings.cs
  tracer/test/Datadog.Trace.Tests/Logging/DirectSubmission/DirectLogSubmissionSettingsTests.cs
Labels: type:enhancement

#2625 [CIApp] - Implement specific CLI Run CI Settings and Descriptions
  tracer/src/Datadog.Trace.Tools.Runner/CommonTracerSettings.cs
  tracer/src/Datadog.Trace.Tools.Runner/RunCiCommand.cs
  tracer/src/Datadog.Trace.Tools.Runner/RunCiSettings.cs
  tracer/src/Datadog.Trace.Tools.Runner/RunCommand.cs
  tracer/src/Datadog.Trace.Tools.Runner/RunHelper.cs
  tracer/src/Datadog.Trace.Tools.Runner/RunSettings.cs
Labels: area:ci-app

#2614 Improve source generator verification
  .github/workflows/verify_source_generated_changes_are_persisted.yml
Labels: area:builds

#2545 Add support for Grpc.Core
  Datadog.Trace.sln
  tracer/build/PackageVersionsGeneratorDefinitions.json
  tracer/build/PackageVersionsLatestMajors.g.props
  tracer/build/PackageVersionsLatestMinors.g.props
  tracer/build/PackageVersionsLatestSpecific.g.props
  tracer/dependabot/Datadog.Dependabot.Integrations.csproj
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Grpc/GrpcCommon.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Grpc/GrpcLegacy/Client/AsyncCallHandleFinishedInstrumentation.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Grpc/GrpcLegacy/Client/AsyncCallHandleUnaryResponseInstrumentation.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Grpc/GrpcLegacy/Client/CachedMetadataHelper.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Grpc/GrpcLegacy/Client/DefaultCallInvokerInstrumentation.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Grpc/GrpcLegacy/Client/DuckTypes/AsyncCallStruct.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Grpc/GrpcLegacy/Client/DuckTypes/CallInvocationDetailsStruct.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Grpc/GrpcLegacy/Client/DuckTypes/CallOptionsStruct.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Grpc/GrpcLegacy/Client/DuckTypes/ClientSideStatusStruct.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Grpc/GrpcLegacy/Client/DuckTypes/ClientSideStatusWithMetadataStruct.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Grpc/GrpcLegacy/Client/DuckTypes/ICallOptions.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Grpc/GrpcLegacy/Client/DuckTypes/IMethod.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Grpc/GrpcLegacy/Client/DuckTypes/MetadataEntryStruct.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Grpc/GrpcLegacy/Client/DuckTypes/NullableClientSideStatusStruct.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Grpc/GrpcLegacy/Client/DuckTypes/TaskOfMetadataStruct.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Grpc/GrpcLegacy/Client/GrpcLegacyClientCommon.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Grpc/GrpcLegacy/Client/MetadataArraySafeHandleCreateInstrumentation.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Grpc/GrpcLegacy/Client/TemporaryHeaders.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Grpc/GrpcLegacy/Server/AsyncCallServerSendInitialMetadataAsyncInstrumentation.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Grpc/GrpcLegacy/Server/AsyncCallServerSendStatusFromServerAsyncInstrumentation.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Grpc/GrpcLegacy/Server/GrpcLegacyServerCommon.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Grpc/GrpcLegacy/Server/IServerRpcNew.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Grpc/GrpcLegacy/Server/ServerCallHandlerInstrumentation.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Grpc/GrpcLegacy/Server/ServerCallHandlerStruct.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.InstrumentationDefinitions.InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.InstrumentationDefinitions.InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.InstrumentationDefinitions.InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/GrpcTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersions.g.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestMajors.g.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestMinors.g.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestSpecific.g.cs
  tracer/test/snapshots/GrpcLegacy.SubmitTraces_httpclient=False.verified.txt
  tracer/test/test-applications/Samples.Shared/WebServer.cs
  tracer/test/test-applications/integrations/Samples.GrpcLegacy/ClientWorker.cs
  tracer/test/test-applications/integrations/Samples.GrpcLegacy/Logger.cs
  tracer/test/test-applications/integrations/Samples.GrpcLegacy/Program.cs
  tracer/test/test-applications/integrations/Samples.GrpcLegacy/Properties/launchSettings.json
  tracer/test/test-applications/integrations/Samples.GrpcLegacy/Protos/greet.proto
  tracer/test/test-applications/integrations/Samples.GrpcLegacy/Samples.GrpcLegacy.csproj
  tracer/test/test-applications/integrations/Samples.GrpcLegacy/ServerWorker.cs
  tracer/test/test-applications/integrations/Samples.GrpcLegacy/Services/ErrorType.cs
  tracer/test/test-applications/integrations/Samples.GrpcLegacy/Services/GreeterService.cs
  tracer/test/test-applications/integrations/Samples.GrpcLegacy/appsettings.json
Labels: type:new-feature, area:integrations

#2641 Update WAF rules to 1.2.7
  tracer/src/Datadog.Trace/AppSec/Waf/rule-set.json
  tracer/test/Datadog.Trace.Security.Unit.Tests/WafTests.cs
Labels: area:app-sec

#2646 Fix issue where PdbReaderTests fail when running locally but pass in CI
  tracer/test/Datadog.Trace.ClrProfiler.Managed.Tests/Datadog.Trace.ClrProfiler.Managed.Tests.csproj
  tracer/test/Datadog.Trace.ClrProfiler.Managed.Tests/xunit.runner.json
Labels: area:tests

#2642 Fix tag concatenation for direct log submission
  tracer/src/Datadog.Trace/Logging/DirectSubmission/ImmutableDirectLogSubmissionSettings.cs
  tracer/test/Datadog.Trace.Tests/Logging/DirectSubmission/Formatting/LogFormatterTests.cs
  tracer/test/Datadog.Trace.Tests/Logging/DirectSubmission/ImmutableDirectLogSubmissionSettingsTests.cs
Labels: type:bug, area:tracer

#2492 Remove Duplicate Content-Type
  tracer/src/Datadog.Trace/Agent/TracesTransportStrategy.cs
  tracer/src/Datadog.Trace/Agent/TracesTransportType.cs
  tracer/src/Datadog.Trace/Agent/Transports/HttpStreamRequest.cs
  tracer/src/Datadog.Trace/HttpOverStreams/DatadogHttpClient.cs
  tracer/src/Datadog.Trace/HttpOverStreams/HttpHeaderHelperBase.cs
  tracer/test/Datadog.Trace.IntegrationTests/DatadogHttpClientTests.cs
  tracer/test/Datadog.Trace.TestHelpers/MockTracerAgent.cs
  tracer/test/Datadog.Trace.Tests/HttpOverStreams/TraceAgentHttpHeaderHelperTests.cs
Labels: type:bug, area:tracer

#2594 CLI - Display the version of the profiler and tracer
  tracer/src/Datadog.Trace.Tools.Runner/Checks/ProcessBasicCheck.cs
  tracer/src/Datadog.Trace.Tools.Runner/Checks/Resources.cs
  tracer/test/Datadog.Trace.Tools.Runner.IntegrationTests/Checks/ProcessBasicChecksTests.cs
Labels: type:enhancement, area:tools

#2652 Add missing v2.5.1 release to changelog
  docs/CHANGELOG.md
Labels: area:builds

#2639 Update Aerospike integration to support 5.0.0
  tracer/build/PackageVersionsGeneratorDefinitions.json
  tracer/build/PackageVersionsLatestMajors.g.props
  tracer/build/PackageVersionsLatestMinors.g.props
  tracer/build/PackageVersionsLatestSpecific.g.props
  tracer/build/_build/Honeypot/IntegrationGroups.cs
  tracer/dependabot/Datadog.Dependabot.Integrations.csproj
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Aerospike/AsyncCommandIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Aerospike/SyncCommandIntegration.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.InstrumentationDefinitions.InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.InstrumentationDefinitions.InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.InstrumentationDefinitions.InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/GrpcTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestMajors.g.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestMinors.g.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestSpecific.g.cs
  tracer/test/snapshots/GrpcLegacy.SubmitTraces_httpclient=False.verified.txt
  tracer/test/test-applications/integrations/Samples.GrpcLegacy/Program.cs
  tracer/test/test-applications/integrations/Samples.GrpcLegacy/Samples.GrpcLegacy.csproj
Labels: type:enhancement, area:integrations

#2628 Add wildcard support to DD_TRACE_METHODS
  tracer/src/Datadog.Trace.ClrProfiler.Native/integration.cpp
  tracer/src/Datadog.Trace.ClrProfiler.Native/integration.h
  tracer/src/Datadog.Trace.ClrProfiler.Native/rejit_preprocessor.cpp
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/TraceAnnotationsTests.cs
  tracer/test/snapshots/TraceAnnotationsAutomaticOnlyTests._.verified.txt
  tracer/test/snapshots/TraceAnnotationsVersionMismatchAfterFeatureTests._.verified.txt
  tracer/test/snapshots/TraceAnnotationsVersionMismatchBeforeFeatureTests._.verified.txt
  tracer/test/snapshots/TraceAnnotationsVersionMismatchNewerNuGetTests._.verified.txt
  tracer/test/test-applications/integrations/Samples.TraceAnnotations.VersionMismatch.AfterFeature/Properties/launchSettings.json
  tracer/test/test-applications/integrations/Samples.TraceAnnotations.VersionMismatch.BeforeFeature/Properties/launchSettings.json
  tracer/test/test-applications/integrations/Samples.TraceAnnotations.VersionMismatch.NewerNuGet/Properties/launchSettings.json
  tracer/test/test-applications/integrations/Samples.TraceAnnotations/ProgramHelpers.cs
  tracer/test/test-applications/integrations/Samples.TraceAnnotations/Properties/launchSettings.json
  tracer/test/test-applications/integrations/Samples.TraceAnnotations/TestType.cs
Labels: area:native-library

#2405 Add net6.0 target
  shared/src/msi-installer/Product.wxs
  shared/src/msi-installer/Tracer/Files.Managed.Net6.wxs
  shared/src/msi-installer/WindowsInstaller.wixproj
  tracer/build/_build/Build.Steps.cs
  tracer/build/_build/PrepareRelease/SyncMsiContent.cs
  tracer/src/Datadog.Trace.BenchmarkDotNet/Datadog.Trace.BenchmarkDotNet.csproj
  tracer/src/Datadog.Trace.ClrProfiler.Managed.Loader/Startup.NetCore.cs
  tracer/src/Datadog.Trace.MSBuild/Datadog.Trace.MSBuild.csproj
  tracer/src/Datadog.Trace.OpenTracing/Datadog.Trace.OpenTracing.csproj
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Grpc/GrpcDotNet/GrpcNetClient/HttpResponseHeadersCollection.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/TraceAnnotations/TraceAnnotationsIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/CallTarget/Handlers/Continuations/ContinuationGenerator.cs
  tracer/src/Datadog.Trace/ClrProfiler/CallTarget/Handlers/Continuations/ContinuationsHelper.cs
  tracer/src/Datadog.Trace/ClrProfiler/CallTarget/Handlers/Continuations/ValueTaskContinuationGenerator.cs
  tracer/src/Datadog.Trace/ClrProfiler/CallTarget/Handlers/Continuations/ValueTaskContinuationGenerator`1.cs
  tracer/src/Datadog.Trace/ClrProfiler/CallTarget/Handlers/EndMethodHandler`1.cs
  tracer/src/Datadog.Trace/ClrProfiler/Instrumentation.cs
  tracer/src/Datadog.Trace/Datadog.Trace.csproj
  tracer/src/Datadog.Trace/FrameworkDescription.NetCore.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.InstrumentationDefinitions.InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TagsListGenerator.TagListGenerator/AerospikeTags.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TagsListGenerator.TagListGenerator/AspNetCoreEndpointTags.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TagsListGenerator.TagListGenerator/AspNetCoreMvcTags.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TagsListGenerator.TagListGenerator/AspNetCoreTags.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TagsListGenerator.TagListGenerator/AspNetTags.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TagsListGenerator.TagListGenerator/AwsSdkTags.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TagsListGenerator.TagListGenerator/AwsSqsTags.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TagsListGenerator.TagListGenerator/AzureFunctionsTags.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TagsListGenerator.TagListGenerator/CommonTags.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TagsListGenerator.TagListGenerator/CosmosDbTags.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TagsListGenerator.TagListGenerator/CouchbaseTags.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TagsListGenerator.TagListGenerator/ElasticsearchTags.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TagsListGenerator.TagListGenerator/GraphQLTags.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TagsListGenerator.TagListGenerator/GrpcTags.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TagsListGenerator.TagListGenerator/HttpTags.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TagsListGenerator.TagListGenerator/InstrumentationTags.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TagsListGenerator.TagListGenerator/KafkaTags.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TagsListGenerator.TagListGenerator/MongoDbTags.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TagsListGenerator.TagListGenerator/MsmqTags.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TagsListGenerator.TagListGenerator/RabbitMQTags.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TagsListGenerator.TagListGenerator/RedisTags.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TagsListGenerator.TagListGenerator/ServiceRemotingTags.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TagsListGenerator.TagListGenerator/SqlTags.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TagsListGenerator.TagListGenerator/TagAttribute.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TagsListGenerator.TagListGenerator/TraceAnnotationTags.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TagsListGenerator.TagListGenerator/WebTags.g.cs
  tracer/src/Datadog.Trace/Vendors/dnlib/DotNet/ModuleDefMD.cs
  tracer/src/Datadog.Trace/Vendors/dnlib/DotNet/Resources/ResourceDataFactory.cs
  tracer/src/Directory.Build.props
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/ServiceStackRedisTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.Managed.Tests/AutoInstrumentation/Kafka/CachedMessageHeadersHelperTests.cs
  tracer/test/Datadog.Trace.OpenTracing.Tests/Snapshots/PublicApiTests.AssemblyReferencesHaveNotChanged.net6.0.verified.txt
  tracer/test/Datadog.Trace.TestHelpers/EnvironmentTools.cs
  tracer/test/Datadog.Trace.Tests/CallTarget/ValueTaskContinuationGeneratorTests.cs
  tracer/test/Datadog.Trace.Tests/Snapshots/PublicApiTests.AssemblyReferencesHaveNotChanged.net6.0.verified.txt
  tracer/test/benchmarks/Benchmarks.Trace/Benchmarks.Trace.csproj
  tracer/test/test-applications/integrations/Samples.ServiceStack.Redis/Program.cs
  tracer/test/test-applications/regression/DuplicateTypeProxy/Program.cs
Labels: area:tracer, area:builds

#2624 Move `loading dynamic library` mechanism to shared code
  shared/src/native-src/dd_guid.h
  shared/src/native-src/dynamic_com_library.cpp
  shared/src/native-src/dynamic_com_library.h
  shared/src/native-src/dynamic_library_base.cpp
  shared/src/native-src/dynamic_library_base.h
  tracer/src/Datadog.AutoInstrumentation.NativeLoader/CMakeLists.txt
  tracer/src/Datadog.AutoInstrumentation.NativeLoader/Datadog.AutoInstrumentation.NativeLoader.vcxproj
  tracer/src/Datadog.AutoInstrumentation.NativeLoader/Datadog.AutoInstrumentation.NativeLoader.vcxproj.filters
  tracer/src/Datadog.AutoInstrumentation.NativeLoader/dynamic_instance.cpp
  tracer/src/Datadog.AutoInstrumentation.NativeLoader/dynamic_instance.h
  tracer/src/Datadog.AutoInstrumentation.NativeLoader/log.h
  tracer/src/Datadog.AutoInstrumentation.NativeLoader/pal.cpp
  tracer/src/Datadog.AutoInstrumentation.NativeLoader/pal.h
  tracer/test/Datadog.AutoInstrumentation.NativeLoader.Tests/guid_test.cpp
  tracer/test/Datadog.AutoInstrumentation.NativeLoader.Tests/test_dynamic_instance.h
Labels: area:native-library, area:shared-components

#2649 Ensure we test a consistent commit for PRs
  .azure-pipelines/steps/clone-repo.yml
  .azure-pipelines/ultimate-pipeline.yml
Labels: area:builds

#2658 Fix framework version regex
  tracer/src/Datadog.Trace/FrameworkDescription.NetCore.cs
Labels: area:tracer

#2659 [Profiler] Use libddprof-based pipeline by default + cache value
  .github/workflows/profiler-pipeline.yml
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Configuration.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Configuration.h
  profiler/test/Datadog.Profiler.IntegrationTests/SmokeTests/BuggyBitsTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/SmokeTests/Computer01Test.cs
  profiler/test/Datadog.Profiler.IntegrationTests/SmokeTests/ExceptionGeneratorTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/SmokeTests/SmokeTestRunner.cs
  profiler/test/Datadog.Profiler.IntegrationTests/SmokeTests/WebsiteAspNetCore01Test.cs
  profiler/test/Datadog.Profiler.Native.Tests/ConfigurationTest.cpp
Labels: area:profiler

#2660 [Profiler] Enable CodeHotspot feature by default when the profiler is enabled
  tracer/src/Datadog.Trace/ContinuousProfiler/ContextTracker.cs
Labels: area:profiler

#2546 [AppSec] Api to allow user data to be associated with the local root span
  docs/Datadog.Trace/README.md
  tracer/src/Datadog.Trace/SpanExtensions.cs
  tracer/src/Datadog.Trace/Tags.cs
  tracer/src/Datadog.Trace/UserDetails.cs
  tracer/test/Datadog.Trace.Tests/Snapshots/PublicApiTests.PublicApiHasNotChanged.verified.txt
  tracer/test/Datadog.Trace.Tests/TracerTests.cs
Labels: area:tracer, area:app-sec

#2655 Update GraphQL tests to take a memory dump when not shutting down
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/GraphQLTests.cs
  tracer/test/Datadog.Trace.TestHelpers/TestHelper.cs
Labels: area:tests

#2662 Add simplistic labeller
  .github/labeller.yml
  .github/workflows/auto_label_prs.yml
  tracer/build/_build/Build.GitHub.cs
Labels: area:builds

#2666 Fix build in gitlab
  .gitlab-ci.yml
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Windows/Datadog.Profiler.Native.Windows.vcxproj
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Datadog.Profiler.Native.vcxproj
  profiler/test/Datadog.Profiler.Native.Tests/Datadog.Profiler.Native.Tests.vcxproj
  tracer/src/Datadog.AutoInstrumentation.NativeLoader/Datadog.AutoInstrumentation.NativeLoader.vcxproj
  tracer/src/Datadog.Trace.ClrProfiler.Native/Datadog.Trace.ClrProfiler.Native.DLL.vcxproj
  tracer/src/Datadog.Trace.ClrProfiler.Native/Datadog.Trace.ClrProfiler.Native.vcxproj
Labels: area:builds

#2651 [Profiler] Stop building the profiler outside of the repository folder
  .azure-pipelines/ultimate-pipeline.yml
  .github/scripts/run-native-unit-tests.sh
  .github/workflows/profiler-pipeline.yml
  .gitignore
  Datadog.AutoInstrumentation.Profiler.sln
  profiler/CMakeLists.txt
  profiler/Directory.Build.props
  profiler/NuGet.config
  profiler/build/PiComputation.linux.net50.json
  profiler/build/PiComputation.linux.netcoreapp31.json
  profiler/build/PiComputation.windows.net45.json
  profiler/build/PiComputation.windows.net50.json
  profiler/build/PiComputation.windows.netcoreapp31.json
  profiler/src/Demos/CodeHotspotsPoC/CodeHotspotsPoC.csproj
  profiler/src/Demos/CodeHotspotsPoC/MockSpan.cs
  profiler/src/Demos/CodeHotspotsPoC/Program.cs
  profiler/src/Demos/CodeHotspotsPoC/Properties/launchSettings.json
  profiler/src/Demos/CodeHotspotsPoC/TraceContextTrackingUtils.cs
  profiler/src/Demos/Website-AspNet/Website-AspNet.csproj
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Windows/Datadog.Profiler.Native.Windows.vcxproj
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Datadog.Profiler.Native.vcxproj
  profiler/test/Datadog.Profiler.Native.Tests/Datadog.Profiler.Native.Tests.vcxproj
  shared/RepoAndBuild-DirectoryStructure.props
  tracer/build/_build/Build.Profiler.Steps.cs
  tracer/build/_build/Build.Steps.cs
  tracer/build/_build/Build.cs
  tracer/build/crank/os.profiles.yml
Labels: area:builds, area:profiler, area-profiler

#2671 [Profiler] Do not compute a default output path for pprof files
  profiler/src/Demos/BuggyBits/Properties/launchSettings.json
  profiler/src/Demos/Computer01/Properties/launchSettings.json
  profiler/src/ProfilerEngine/Datadog.Profiler.Managed/Configuration/EnvironmentVariablesConfigurationProvider.cs
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Configuration.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Configuration.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/EnvironmentVariables.h
  profiler/test/Datadog.Profiler.IntegrationTests/Helpers/EnvironmentVariables.cs
  profiler/test/Datadog.Profiler.Native.Tests/ConfigurationTest.cpp
Labels: area:profiler, area-profiler

#2678 Pass the environment variable to the docker container
  .gitlab-ci.yml
Labels: area:builds

#2674 Fix a typo in label names for the labeller
  .github/labeller.yml
  tracer/build/_build/Build.GitHub.cs
Labels: area:builds

#2611 Adds additional required Visual Studio components to tracer-ReadMe
  tracer/README.MD
Labels: area:docs

#2679 Add retries to more flaky steps
  .azure-pipelines/ultimate-pipeline.yml
Labels: area:builds

#2680 [Profiler] Make local testing easier
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/RuntimeIdStore.cpp
  profiler/src/ProfilerEngine/DeployResources/DDProf-SetEnv.ps1
Labels: area:profiler

#2683 Labeler shouldn't check test folders for tracer and integrations areas
  .github/labeller.yml
Labels: area:builds

#2689 Fix "MakeGrpcToolsExecutable" when NugetPackageDirectory is not provided
  tracer/build/_build/Build.Steps.cs
Labels: area:builds

#2687 [Profiler] Add new job: Address sanitizer on Linux
  .github/workflows/profiler-pipeline.yml
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/CMakeLists.txt
  profiler/src/ProfilerEngine/DeployResources/DDProf-SetEnv.sh
Labels: area:profiler

#2656 [Serverless] Send the lambda invocation context to our extension
  tracer/src/Datadog.Trace/ClrProfiler/ServerlessInstrumentation/AWS/IClientContext.cs
  tracer/src/Datadog.Trace/ClrProfiler/ServerlessInstrumentation/AWS/ILambdaContext.cs
  tracer/src/Datadog.Trace/ClrProfiler/ServerlessInstrumentation/AWS/LambdaCommon.cs
  tracer/src/Datadog.Trace/ClrProfiler/ServerlessInstrumentation/AWS/LambdaOneParamAsync.cs
  tracer/src/Datadog.Trace/ClrProfiler/ServerlessInstrumentation/AWS/LambdaOneParamSync.cs
  tracer/src/Datadog.Trace/ClrProfiler/ServerlessInstrumentation/AWS/LambdaOneParamVoid.cs
  tracer/src/Datadog.Trace/ClrProfiler/ServerlessInstrumentation/AWS/LambdaTwoParamsAsync.cs
  tracer/src/Datadog.Trace/ClrProfiler/ServerlessInstrumentation/AWS/LambdaTwoParamsSync.cs
  tracer/src/Datadog.Trace/ClrProfiler/ServerlessInstrumentation/AWS/LambdaTwoParamsVoid.cs
  tracer/test/Datadog.Trace.Tests/LambdaCommonTests.cs
Labels: area:serverless

#2682 Change UserDetails to a struct
  tracer/src/Datadog.Trace/SpanExtensions.cs
  tracer/src/Datadog.Trace/UserDetails.cs
  tracer/test/Datadog.Trace.Tests/Snapshots/PublicApiTests.PublicApiHasNotChanged.verified.txt
Labels: area:tracer, area:app-sec

#2702 [Profiler] Bump profiler beta version
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/dd_profiler_version.h
  profiler/src/ProfilerEngine/ProductVersion.props
Labels: area:profiler

#2701 [Profiler] Do not export empty profiles
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/LibddprofExporter.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/LibddprofExporter.h
  profiler/test/Datadog.Profiler.Native.Tests/LibddprofExporterTest.cpp
Labels: area:profiler

#2700 [AppSec] Move AppSec config keys to their own file
  tracer/src/Datadog.Trace/AppSec/SecuritySettings.cs
  tracer/src/Datadog.Trace/Configuration/ConfigurationKeys.AppSec.cs
  tracer/src/Datadog.Trace/Configuration/ConfigurationKeys.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/AspNetMvc5.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/AspNetMvc5RateLimiter.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/AspNetWebApi.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/AspNetWebForms.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/SecuritySettingsTests.cs
  tracer/test/Datadog.Trace.TestHelpers/EnvironmentHelper.cs
  tracer/test/Datadog.Trace.TestHelpers/TestHelper.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/Collectors/ConfigurationTelemetryCollectorTests.cs
Labels: area:app-sec

#2697 If DirectLogSubmission is enabled, enable Logs Injection by default
  tracer/src/Datadog.Trace/Configuration/ImmutableTracerSettings.cs
  tracer/src/Datadog.Trace/Configuration/TracerSettings.cs
  tracer/src/Datadog.Trace/Logging/DirectSubmission/DirectLogSubmissionSettings.cs
  tracer/test/Datadog.Trace.Tests/Logging/DirectSubmission/ImmutableDirectLogSubmissionSettingsTests.cs
Labels: area:tracer

#2606 Automatically instrument methods decorated with `[Trace]` (`Datadog.Trace.Annotations.TraceAttribute`)
  Datadog.Trace.sln
  docs/Datadog.Trace.Annotations/README.md
  docs/Datadog.Trace/README.md
  tracer/build/_build/Build.Steps.cs
  tracer/build/_build/Projects.cs
  tracer/src/Datadog.Trace.Annotations/Datadog.Trace.Annotations.csproj
  tracer/src/Datadog.Trace.Annotations/TraceAttribute.cs
  tracer/src/Datadog.Trace.ClrProfiler.Native/Datadog.Trace.ClrProfiler.Native.def
  tracer/src/Datadog.Trace.ClrProfiler.Native/cor_profiler.cpp
  tracer/src/Datadog.Trace.ClrProfiler.Native/cor_profiler.h
  tracer/src/Datadog.Trace.ClrProfiler.Native/dd_profiler_constants.h
  tracer/src/Datadog.Trace.ClrProfiler.Native/environment_variables.h
  tracer/src/Datadog.Trace.ClrProfiler.Native/environment_variables_util.cpp
  tracer/src/Datadog.Trace.ClrProfiler.Native/environment_variables_util.h
  tracer/src/Datadog.Trace.ClrProfiler.Native/integration.cpp
  tracer/src/Datadog.Trace.ClrProfiler.Native/integration.h
  tracer/src/Datadog.Trace.ClrProfiler.Native/interop.cpp
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/TraceAnnotations/TraceAnnotationInfo.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/TraceAnnotations/TraceAnnotationInfoFactory.cs
  tracer/src/Datadog.Trace/ClrProfiler/Instrumentation.cs
  tracer/src/Datadog.Trace/ClrProfiler/InstrumentationDefinitions.cs
  tracer/src/Datadog.Trace/ClrProfiler/NativeMethods.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/TraceAnnotationsTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.Native.Tests/integration_test.cpp
  tracer/test/Datadog.Trace.OpenTracing.Tests/Snapshots/PublicApiTests.Datadog.Trace.OpenTracing.AssemblyReferencesHaveNotChanged.net461.verified.txt
  tracer/test/Datadog.Trace.OpenTracing.Tests/Snapshots/PublicApiTests.Datadog.Trace.OpenTracing.AssemblyReferencesHaveNotChanged.net6.0.verified.txt
  tracer/test/Datadog.Trace.OpenTracing.Tests/Snapshots/PublicApiTests.Datadog.Trace.OpenTracing.AssemblyReferencesHaveNotChanged.netcoreapp3.1.verified.txt
  tracer/test/Datadog.Trace.OpenTracing.Tests/Snapshots/PublicApiTests.Datadog.Trace.OpenTracing.AssemblyReferencesHaveNotChanged.netstandard2.0.verified.txt
  tracer/test/Datadog.Trace.OpenTracing.Tests/Snapshots/PublicApiTests.Datadog.Trace.OpenTracing.PublicApiHasNotChanged.verified.txt
  tracer/test/Datadog.Trace.TestHelpers/PublicApiTestsBase.cs
  tracer/test/Datadog.Trace.Tests/Datadog.Trace.Tests.csproj
  tracer/test/Datadog.Trace.Tests/PublicApiTests.cs
  tracer/test/Datadog.Trace.Tests/Snapshots/PublicApiTests.Datadog.Trace.Annotations.AssemblyReferencesHaveNotChanged.net461.verified.txt
  tracer/test/Datadog.Trace.Tests/Snapshots/PublicApiTests.Datadog.Trace.Annotations.AssemblyReferencesHaveNotChanged.net6.0.verified.txt
  tracer/test/Datadog.Trace.Tests/Snapshots/PublicApiTests.Datadog.Trace.Annotations.AssemblyReferencesHaveNotChanged.netcoreapp3.1.verified.txt
  tracer/test/Datadog.Trace.Tests/Snapshots/PublicApiTests.Datadog.Trace.Annotations.AssemblyReferencesHaveNotChanged.netstandard2.0.verified.txt
  tracer/test/Datadog.Trace.Tests/Snapshots/PublicApiTests.Datadog.Trace.Annotations.PublicApiHasNotChanged.verified.txt
  tracer/test/Datadog.Trace.Tests/Snapshots/PublicApiTests.Datadog.Trace.AssemblyReferencesHaveNotChanged.net461.verified.txt
  tracer/test/Datadog.Trace.Tests/Snapshots/PublicApiTests.Datadog.Trace.AssemblyReferencesHaveNotChanged.net6.0.verified.txt
  tracer/test/Datadog.Trace.Tests/Snapshots/PublicApiTests.Datadog.Trace.AssemblyReferencesHaveNotChanged.netcoreapp3.1.verified.txt
  tracer/test/Datadog.Trace.Tests/Snapshots/PublicApiTests.Datadog.Trace.AssemblyReferencesHaveNotChanged.netstandard2.0.verified.txt
  tracer/test/Datadog.Trace.Tests/Snapshots/PublicApiTests.Datadog.Trace.PublicApiHasNotChanged.verified.txt
  tracer/test/snapshots/TraceAnnotationsAutomaticOnlyTests._.verified.txt
  tracer/test/snapshots/TraceAnnotationsVersionMismatchAfterFeatureTests._.verified.txt
  tracer/test/snapshots/TraceAnnotationsVersionMismatchBeforeFeatureTests._.verified.txt
  tracer/test/snapshots/TraceAnnotationsVersionMismatchNewerNuGetTests._.verified.txt
  tracer/test/test-applications/integrations/Samples.TraceAnnotations.VersionMismatch.AfterFeature/Samples.TraceAnnotations.VersionMismatch.AfterFeature.csproj
  tracer/test/test-applications/integrations/Samples.TraceAnnotations.VersionMismatch.BeforeFeature/Samples.TraceAnnotations.VersionMismatch.BeforeFeature.csproj
  tracer/test/test-applications/integrations/Samples.TraceAnnotations.VersionMismatch.NewerNuGet/Samples.TraceAnnotations.VersionMismatch.NewerNuGet.csproj
  tracer/test/test-applications/integrations/Samples.TraceAnnotations/ProgramHelpers.cs
  tracer/test/test-applications/integrations/Samples.TraceAnnotations/Properties/launchSettings.json
  tracer/test/test-applications/integrations/Samples.TraceAnnotations/Samples.TraceAnnotations.csproj
  tracer/test/test-applications/integrations/Samples.TraceAnnotations/TestType.cs
  tracer/test/test-applications/integrations/Samples.TraceAnnotations/TraceAttribute.cs
Labels: area:native-library

#2706 Add scope property to UserDetails
  tracer/src/Datadog.Trace/SpanExtensions.cs
  tracer/src/Datadog.Trace/Tags.cs
  tracer/src/Datadog.Trace/UserDetails.cs
  tracer/test/Datadog.Trace.Tests/Snapshots/PublicApiTests.Datadog.Trace.PublicApiHasNotChanged.verified.txt
  tracer/test/Datadog.Trace.Tests/TracerTests.cs
Labels: area:app-sec

#2694 [Tracer] Add API to extract SpanContext
  tracer/src/Datadog.Trace/ISpanContextExtractor.cs
  tracer/src/Datadog.Trace/SpanContextExtractor.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/RabbitMQTests.cs
  tracer/test/Datadog.Trace.Tests/Snapshots/PublicApiTests.Datadog.Trace.PublicApiHasNotChanged.verified.txt
  tracer/test/test-applications/integrations/Samples.Kafka/Consumer.cs
  tracer/test/test-applications/integrations/Samples.Kafka/Samples.Kafka.csproj
  tracer/test/test-applications/integrations/Samples.RabbitMQ/Program.cs
  tracer/test/test-applications/integrations/Samples.RabbitMQ/Samples.RabbitMQ.csproj
Labels: area:tracer

#2708 Make running integration tests on OSx great again
  .gitignore
  tracer/README.MD
  tracer/build/_build/Build.Shared.Steps.cs
  tracer/src/Datadog.AutoInstrumentation.NativeLoader/CMakeLists.txt
  tracer/src/Datadog.AutoInstrumentation.NativeLoader/cor_profiler.cpp
  tracer/test/Datadog.Trace.TestHelpers/EnvironmentHelper.cs
Labels: area:builds

#2705 [Profiler] Add the profiler deployment script to the bumping process
  .github/scripts/package_and_deploy.sh
  tracer/build/_build/PrepareRelease/SetAllVersions.cs
Labels: area:builds, area:profiler

#2685 Return `CORPROF_E_PROFILER_CANCEL_ACTIVATION` if Tracing is Disabled
  tracer/src/Datadog.Trace.ClrProfiler.Native/cor_profiler.cpp
Labels: type:enhancement, area:native-library

#2688 Refactor base endpoint calculations
  tracer/src/Datadog.Trace.Tools.Runner/Checks/AgentConnectivityCheck.cs
  tracer/src/Datadog.Trace/Agent/Api.cs
  tracer/src/Datadog.Trace/Agent/IApiRequestFactory.cs
  tracer/src/Datadog.Trace/Agent/TracesTransportStrategy.cs
  tracer/src/Datadog.Trace/Agent/Transports/ApiWebRequestFactory.cs
  tracer/src/Datadog.Trace/Agent/Transports/HttpClientRequestFactory.cs
  tracer/src/Datadog.Trace/Agent/Transports/HttpStreamRequestFactory.cs
  tracer/src/Datadog.Trace/Ci/Agent/CIAgentWriter.cs
  tracer/src/Datadog.Trace/Ci/Agent/CIAgentlessWriter.cs
  tracer/src/Datadog.Trace/Ci/CITracerManagerFactory.cs
  tracer/src/Datadog.Trace/Logging/DirectSubmission/DirectLogSubmissionManager.cs
  tracer/src/Datadog.Trace/Logging/DirectSubmission/LogsTransportStrategy.cs
  tracer/src/Datadog.Trace/Logging/DirectSubmission/Sink/LogsApi.cs
  tracer/src/Datadog.Trace/Telemetry/Collectors/ConfigurationTelemetryCollector.cs
  tracer/src/Datadog.Trace/Telemetry/DTOs/ConfigTelemetryData.cs
  tracer/src/Datadog.Trace/TracerManager.cs
  tracer/src/Datadog.Trace/TracerManagerFactory.cs
  tracer/src/Datadog.Trace/Util/UriHelpers.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/Agent/CIAgentlessWriterTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/Helpers/TelemetryHelper.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/TelemetryTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/TransportTests.cs
  tracer/test/Datadog.Trace.TestHelpers/MockTracerAgent.cs
  tracer/test/Datadog.Trace.Tests/ApiTests.cs
  tracer/test/Datadog.Trace.Tests/ApiWebRequestFactoryTests.cs
  tracer/test/Datadog.Trace.Tests/HttpClientRequestTests.cs
  tracer/test/Datadog.Trace.Tests/Logging/DirectSubmission/Sink/LogsApiTests.cs
  tracer/test/Datadog.Trace.Tests/Util/UriHelpersTests.cs
  tracer/test/benchmarks/Benchmarks.Trace/AgentWriterBenchmark.cs
  tracer/test/test-applications/integrations/Samples.Telemetry/Program.cs
  tracer/test/test-applications/integrations/Samples.Telemetry/Samples.Telemetry.csproj
Labels: type:bug, area:tracer

#2690 [Profiler] Add Undefined-Behavior sanitizer on the profiler
  .github/workflows/profiler-pipeline.yml
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/CMakeLists.txt
Labels: area:profiler

#2714 Add additional entry to version bump files
  tracer/build/_build/Build.GitHub.cs
Labels: area:builds

#2446 Activity Compatibility Layer
  tracer/src/Datadog.Trace/Activity/ActivityListener.cs
  tracer/src/Datadog.Trace/Activity/ActivityListenerDelegatesBuilder.cs
  tracer/src/Datadog.Trace/Activity/ActivityListenerHandler.cs
  tracer/src/Datadog.Trace/Activity/DiagnosticObserverListener.cs
  tracer/src/Datadog.Trace/Activity/DiagnosticSourceEventListener.cs
  tracer/src/Datadog.Trace/Activity/DuckTypes/ActivityIdFormat.cs
  tracer/src/Datadog.Trace/Activity/DuckTypes/ActivityKind.cs
  tracer/src/Datadog.Trace/Activity/DuckTypes/ActivitySamplingResult.cs
  tracer/src/Datadog.Trace/Activity/DuckTypes/ActivitySource.cs
  tracer/src/Datadog.Trace/Activity/DuckTypes/ActivityStatusCode.cs
  tracer/src/Datadog.Trace/Activity/DuckTypes/IActivity.cs
  tracer/src/Datadog.Trace/Activity/DuckTypes/IActivity5.cs
  tracer/src/Datadog.Trace/Activity/DuckTypes/IActivity6.cs
  tracer/src/Datadog.Trace/Activity/DuckTypes/IActivityFormat.cs
  tracer/src/Datadog.Trace/Activity/DuckTypes/IActivityListener.cs
  tracer/src/Datadog.Trace/Activity/DuckTypes/IActivitySource.cs
  tracer/src/Datadog.Trace/Activity/DuckTypes/ISource.cs
  tracer/src/Datadog.Trace/Activity/DuckTypes/IW3CActivity.cs
  tracer/src/Datadog.Trace/Activity/DuckTypes/Source.cs
  tracer/src/Datadog.Trace/Activity/Handlers/ActivityHandlersRegister.cs
  tracer/src/Datadog.Trace/Activity/Handlers/DefaultActivityHandler.cs
  tracer/src/Datadog.Trace/Activity/Handlers/IActivityHandler.cs
  tracer/src/Datadog.Trace/Activity/Handlers/IgnoreActivityHandler.cs
  tracer/src/Datadog.Trace/ClrProfiler/Instrumentation.cs
  tracer/src/Datadog.Trace/Configuration/ConfigurationKeys.cs
  tracer/src/Datadog.Trace/Configuration/ImmutableTracerSettings.cs
  tracer/src/Datadog.Trace/Configuration/TracerSettings.cs
  tracer/src/Datadog.Trace/DiagnosticListeners/AspNetCoreDiagnosticObserver.cs
  tracer/src/Datadog.Trace/DuckTyping/DuckType.Utilities.cs
  tracer/src/Datadog.Trace/SpanContext.cs
  tracer/src/Datadog.Trace/Telemetry/Collectors/ConfigurationTelemetryCollector.cs
  tracer/src/Datadog.Trace/Telemetry/DTOs/ConfigTelemetryData.cs
  tracer/src/Datadog.Trace/Tracer.cs
  tracer/src/Datadog.Trace/TracerManager.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/TelemetryTests.cs
  tracer/test/Datadog.Trace.Tests/ActivityTests.cs
  tracer/test/Datadog.Trace.Tests/ActivityTestsCollection.cs
  tracer/test/Datadog.Trace.Tests/Datadog.Trace.Tests.csproj
  tracer/test/test-applications/integrations/Samples.Telemetry/Program.cs
  tracer/test/test-applications/integrations/Samples.Telemetry/Properties/launchSettings.json
  tracer/test/test-applications/integrations/Samples.Telemetry/Samples.Telemetry.csproj
Labels: type:enhancement, area:tracer

#2707 Convert GraphQL tests to snapshot tests
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AspNet/OwinWebApi2Tests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AspNetCore/AspNetCoreMvcTestBase.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/GraphQLTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/Helpers/AspNetCoreMvcSpanExpectation.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/Helpers/GraphQLSpanExpectation.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/Helpers/SpanExpectation.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/Helpers/SpanTestHelpers.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/Helpers/WebServerSpanExpectation.cs
  tracer/test/snapshots/GraphQL2Tests.SubmitsTraces.netfx.verified.txt
  tracer/test/snapshots/GraphQL2Tests.SubmitsTraces.verified.txt
  tracer/test/snapshots/GraphQL3Tests.SubmitsTraces.netfx.verified.txt
  tracer/test/snapshots/GraphQL3Tests.SubmitsTraces.verified.txt
  tracer/test/snapshots/GraphQL4Tests.SubmitsTraces.verified.txt
Labels: area:tests, type:refactor

#2698 [AppSec] Unhandled exception bug
  Datadog.Trace.sln
  tracer/build/_build/Build.Steps.cs
  tracer/src/Datadog.Trace/AppSec/Security.cs
  tracer/src/Datadog.Trace/AppSec/Transports/Http/HttpTransport.Core.cs
  tracer/src/Datadog.Trace/AppSec/Transports/Http/HttpTransport.Framework.cs
  tracer/src/Datadog.Trace/AppSec/Waf/Context.cs
  tracer/src/Datadog.Trace/DiagnosticListeners/AspNetCoreDiagnosticObserver.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/AspNetBase.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/AspNetCoreBare.cs
  tracer/test/Datadog.Trace.TestHelpers.SharedSource/VerifyHelper.cs
  tracer/test/snapshots/Security.AspNetCoreBare.__expectedStatusCode=200_url=_good-param=[$slice].verified.txt
  tracer/test/snapshots/Security.AspNetCoreBare.__expectedStatusCode=200_url=_void-param=[$slice].verified.txt
  tracer/test/snapshots/Security.AspNetCoreBare.__expectedStatusCode=500_url=_bad-param=[$slice].verified.txt
  tracer/test/snapshots/Security.AspNetMvc5.Classic.enableSecurity=False.__test=discovery.scans_url=_Health_wp-config_body=null.verified.txt
  tracer/test/test-applications/security/Samples.Security.AspNetCoreBare/Controllers/BadController.cs
  tracer/test/test-applications/security/Samples.Security.AspNetCoreBare/Controllers/GoodController.cs
  tracer/test/test-applications/security/Samples.Security.AspNetCoreBare/Controllers/VoidController.cs
  tracer/test/test-applications/security/Samples.Security.AspNetCoreBare/Program.cs
  tracer/test/test-applications/security/Samples.Security.AspNetCoreBare/Properties/launchSettings.json
  tracer/test/test-applications/security/Samples.Security.AspNetCoreBare/Samples.Security.AspNetCoreBare.csproj
  tracer/test/test-applications/security/Samples.Security.AspNetCoreBare/Startup.cs
  tracer/test/test-applications/security/Samples.Security.AspNetCoreBare/appsettings.Development.json
  tracer/test/test-applications/security/Samples.Security.AspNetCoreBare/appsettings.json
Labels: area:app-sec

#2718 [dnlib] Enable THREAD_SAFE preprocessor constant
  tracer/src/Datadog.Trace/Datadog.Trace.csproj
Labels: area:tracer

#2717 Add tests for extension methods with DD_TRACE_METHODS
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/TraceAnnotationsTests.cs
  tracer/test/snapshots/TraceAnnotationsAutomaticOnlyTests._.verified.txt
  tracer/test/snapshots/TraceAnnotationsVersionMismatchAfterFeatureTests._.verified.txt
  tracer/test/snapshots/TraceAnnotationsVersionMismatchBeforeFeatureTests._.verified.txt
  tracer/test/snapshots/TraceAnnotationsVersionMismatchNewerNuGetTests._.verified.txt
  tracer/test/test-applications/integrations/Samples.TraceAnnotations.VersionMismatch.AfterFeature/Properties/launchSettings.json
  tracer/test/test-applications/integrations/Samples.TraceAnnotations.VersionMismatch.BeforeFeature/Properties/launchSettings.json
  tracer/test/test-applications/integrations/Samples.TraceAnnotations.VersionMismatch.NewerNuGet/Properties/launchSettings.json
  tracer/test/test-applications/integrations/Samples.TraceAnnotations/ProgramHelpers.cs
  tracer/test/test-applications/integrations/Samples.TraceAnnotations/Properties/launchSettings.json
  tracer/test/test-applications/integrations/Samples.TraceAnnotations/TestType.cs
Labels: area:tests

#2719 Normalize DogStatsD client service name with Trace Agent logic
  tracer/src/Datadog.Trace/TracerManagerFactory.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/RuntimeMetricsTests.cs
Labels: area:tests

#2704 Allows our pipeline to be monitored
  .azure-pipelines/monitoring.yml
  tracer/build/_build/Build.GitHub.cs
  tracer/build/_build/PrepareRelease/SetAllVersions.cs
  tracer/tools/PipelineMonitor/Build.cs
  tracer/tools/PipelineMonitor/BuildProcessor.cs
  tracer/tools/PipelineMonitor/PipelineMonitor.csproj
  tracer/tools/PipelineMonitor/PipelineMonitor.sln
  tracer/tools/PipelineMonitor/Program.cs
  tracer/tools/PipelineMonitor/Properties/launchSettings.json
  tracer/tools/PipelineMonitor/Timeline.cs
Labels: status:do-not-merge

#2722 [Appsec] Remove unused data model files
  tracer/src/Datadog.Trace/AppSec/EventModel/AppSecJson.cs
  tracer/src/Datadog.Trace/AppSec/EventModel/Host.cs
  tracer/src/Datadog.Trace/AppSec/EventModel/JsonPropertyIgnoreNullValueAttribute.cs
  tracer/src/Datadog.Trace/AppSec/EventModel/Parameter.cs
  tracer/src/Datadog.Trace/AppSec/EventModel/Rule.cs
  tracer/src/Datadog.Trace/AppSec/EventModel/RuleMatch.cs
  tracer/src/Datadog.Trace/AppSec/Transports/Http/HttpTransport.Core.cs
  tracer/src/Datadog.Trace/AppSec/Waf/ReturnTypes.Managed/RuleMatch.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/AspNetBase.cs
Labels: area:app-sec

#2709 Try building samples in parallel
  tracer/build/_build/Build.Steps.cs
Labels: area:builds

#2699 Read profiler application info from tracer
  profiler/src/Demos/BuggyBits/datadog.json
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Windows/Datadog.Profiler.Native.def
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ApplicationInfo.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ApplicationInfo.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ApplicationStore.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ApplicationStore.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CorProfilerCallback.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CorProfilerCallback.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Datadog.Profiler.Native.vcxproj
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Datadog.Profiler.Native.vcxproj.filters
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/IApplicationStore.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/LibddprofExporter.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/PInvoke.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/PInvoke.h
  profiler/test/Datadog.Profiler.IntegrationTests/ApplicationInfoTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Datadog.Profiler.IntegrationTests.csproj
  profiler/test/Datadog.Profiler.IntegrationTests/Helpers/EnvironmentHelper.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Helpers/TestApplicationRunner.cs
  profiler/test/Datadog.Profiler.Native.Tests/ApplicationStoreTest.cpp
  profiler/test/Datadog.Profiler.Native.Tests/Datadog.Profiler.Native.Tests.vcxproj
  profiler/test/Datadog.Profiler.Native.Tests/Datadog.Profiler.Native.Tests.vcxproj.filters
  profiler/test/Datadog.Profiler.Native.Tests/LibddprofExporterTest.cpp
  profiler/test/Datadog.Profiler.Native.Tests/ProfilerMockedInterface.h
  tracer/src/Datadog.Trace/ContinuousProfiler/NativeInterop.cs
  tracer/src/Datadog.Trace/TracerManagerFactory.cs
Labels: area:tracer, area:profiler

#2728 [Pipeline Monitoring] Works better with an agent
  .azure-pipelines/monitoring.yml
  .azure-pipelines/ultimate-pipeline.yml
  tracer/tools/PipelineMonitor/Program.cs
Labels: area:builds

#2731 Delete Samples.MultiDomainHost test application and its dependencies
  Datadog.Trace.sln
  tracer/Datadog.Trace.proj
  tracer/build/_build/Build.Steps.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/MultiDomainHostTests.cs
  tracer/test/test-applications/integrations/Samples.MultiDomainHost.Runner/Program.cs
  tracer/test/test-applications/integrations/Samples.MultiDomainHost.Runner/Properties/launchSettings.json
  tracer/test/test-applications/integrations/Samples.MultiDomainHost.Runner/Samples.MultiDomainHost.Runner.csproj
  tracer/test/test-applications/integrations/dependency-libs/Samples.MultiDomainHost.App.FrameworkHttpNoRedirects/Program.cs
  tracer/test/test-applications/integrations/dependency-libs/Samples.MultiDomainHost.App.FrameworkHttpNoRedirects/Samples.MultiDomainHost.App.FrameworkHttpNoRedirects.csproj
  tracer/test/test-applications/integrations/dependency-libs/Samples.MultiDomainHost.App.NuGetHttpNoRedirects/Program.cs
  tracer/test/test-applications/integrations/dependency-libs/Samples.MultiDomainHost.App.NuGetHttpNoRedirects/Samples.MultiDomainHost.App.NuGetHttpNoRedirects.csproj
  tracer/test/test-applications/integrations/dependency-libs/Samples.MultiDomainHost.App.NuGetHttpWithRedirects/App.config
  tracer/test/test-applications/integrations/dependency-libs/Samples.MultiDomainHost.App.NuGetHttpWithRedirects/Program.cs
  tracer/test/test-applications/integrations/dependency-libs/Samples.MultiDomainHost.App.NuGetHttpWithRedirects/Samples.MultiDomainHost.App.NuGetHttpWithRedirects.csproj
  tracer/test/test-applications/integrations/dependency-libs/Samples.MultiDomainHost.App.NuGetJsonWithRedirects/App.config
  tracer/test/test-applications/integrations/dependency-libs/Samples.MultiDomainHost.App.NuGetJsonWithRedirects/Program.cs
  tracer/test/test-applications/integrations/dependency-libs/Samples.MultiDomainHost.App.NuGetJsonWithRedirects/Samples.MultiDomainHost.App.NuGetJsonWithRedirects.csproj
Labels: area:test-apps

#2727 If we kill the process in our GraphQL tests on Linux, raise a `SkipException`
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/GraphQLTests.cs
  tracer/test/Datadog.Trace.TestHelpers/TestHelper.cs
Labels: area:tests

#2735 Don't wait forever for a hanging sample to end
  tracer/test/Datadog.Trace.TestHelpers/TestHelper.cs
Labels: area:tests

#2726 Improve installer smoke tests
  .azure-pipelines/ultimate-pipeline.yml
  docker-compose.yml
  tracer/build/_build/Build.VariableGenerations.cs
  tracer/build/_build/docker/smoke.dockerfile
  tracer/build/_build/docker/wiremock.json
  tracer/src/Datadog.Trace.ClrProfiler.Native/CMakeLists.txt
Labels: area:tests, type:reliability

#2734 Use ARM64 AWS auto scale group
  .azure-pipelines/ultimate-pipeline.yml
Labels: area:builds

#2720 Update default resource name for TraceAnnotationsIntegration
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/TraceAnnotations/TraceAnnotationInfoFactory.cs
  tracer/test/snapshots/TraceAnnotationsAutomaticOnlyTests._.verified.txt
  tracer/test/snapshots/TraceAnnotationsVersionMismatchAfterFeatureTests._.verified.txt
  tracer/test/snapshots/TraceAnnotationsVersionMismatchBeforeFeatureTests._.verified.txt
  tracer/test/snapshots/TraceAnnotationsVersionMismatchNewerNuGetTests._.verified.txt
  tracer/test/test-applications/integrations/Samples.TraceAnnotations.VersionMismatch.NewerNuGet/Samples.TraceAnnotations.VersionMismatch.NewerNuGet.csproj
  tracer/test/test-applications/integrations/Samples.TraceAnnotations/TestType.cs
Labels: type:enhancement, area:tracer

#2733 Improve profiler logging in the tracer
  tracer/src/Datadog.Trace/ContinuousProfiler/ContextTracker.cs
  tracer/src/Datadog.Trace/ContinuousProfiler/IContextTracker.cs
  tracer/src/Datadog.Trace/ContinuousProfiler/IProfilerStatus.cs
  tracer/src/Datadog.Trace/ContinuousProfiler/Profiler.cs
  tracer/src/Datadog.Trace/ContinuousProfiler/ProfilerStatus.cs
  tracer/src/Datadog.Trace/Telemetry/Collectors/ConfigurationTelemetryCollector.cs
  tracer/src/Datadog.Trace/Telemetry/DTOs/ConfigTelemetryData.cs
  tracer/src/Datadog.Trace/Telemetry/ITelemetryController.cs
  tracer/src/Datadog.Trace/Telemetry/NullTelemetryController.cs
  tracer/src/Datadog.Trace/Telemetry/TelemetryController.cs
  tracer/src/Datadog.Trace/TracerManager.cs
  tracer/src/Datadog.Trace/TracerManagerFactory.cs
  tracer/src/Datadog.Trace/Util/RuntimeId.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/CallTargetInvokerTelemetryTests.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/Collectors/ConfigurationTelemetryCollectorTests.cs
Labels: area:tracer

#2738 [Profiler] Fix duration computation in CPU time profiler
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/StackSamplerLoop.cpp
  profiler/test/Datadog.Profiler.IntegrationTests/CpuProfiler/CpuProfilerTest.cs
Labels: area:profiler
