Repository DataDog/dd-trace-dotnet, pull requests merged in 2022-02, with the labels that each got.

#2375 create_draft_release GH action can't use a shallow checkout
  .github/workflows/create_draft_release.yml
Labels: area:builds

#2377 [Release] Create the right folder when downloading gitlab artifacts
  tracer/build/_build/Build.GitHub.cs
Labels: area:builds

#2364 Skip Cosmos tests for now
  .azure-pipelines/ultimate-pipeline.yml
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CosmosTests.cs
Labels: area:builds, area:tests

#2250 Refactor Rejit Handling to support debugger use case
  tracer/src/Datadog.Trace.ClrProfiler.Native/CMakeLists.txt
  tracer/src/Datadog.Trace.ClrProfiler.Native/Datadog.Trace.ClrProfiler.Native.vcxproj
  tracer/src/Datadog.Trace.ClrProfiler.Native/Datadog.Trace.ClrProfiler.Native.vcxproj.filters
  tracer/src/Datadog.Trace.ClrProfiler.Native/cor_profiler.cpp
  tracer/src/Datadog.Trace.ClrProfiler.Native/cor_profiler.h
  tracer/src/Datadog.Trace.ClrProfiler.Native/debugger_members.h
  tracer/src/Datadog.Trace.ClrProfiler.Native/debugger_method_rewriter.cpp
  tracer/src/Datadog.Trace.ClrProfiler.Native/debugger_method_rewriter.h
  tracer/src/Datadog.Trace.ClrProfiler.Native/debugger_probes_instrumentation_requester.cpp
  tracer/src/Datadog.Trace.ClrProfiler.Native/debugger_probes_instrumentation_requester.h
  tracer/src/Datadog.Trace.ClrProfiler.Native/debugger_rejit_handler_module_method.cpp
  tracer/src/Datadog.Trace.ClrProfiler.Native/debugger_rejit_handler_module_method.h
  tracer/src/Datadog.Trace.ClrProfiler.Native/debugger_rejit_preprocessor.cpp
  tracer/src/Datadog.Trace.ClrProfiler.Native/debugger_rejit_preprocessor.h
  tracer/src/Datadog.Trace.ClrProfiler.Native/environment_variables_util.cpp
  tracer/src/Datadog.Trace.ClrProfiler.Native/environment_variables_util.h
  tracer/src/Datadog.Trace.ClrProfiler.Native/method_rewriter.cpp
  tracer/src/Datadog.Trace.ClrProfiler.Native/method_rewriter.h
  tracer/src/Datadog.Trace.ClrProfiler.Native/rejit_handler.cpp
  tracer/src/Datadog.Trace.ClrProfiler.Native/rejit_handler.h
  tracer/src/Datadog.Trace.ClrProfiler.Native/rejit_preprocessor.cpp
  tracer/src/Datadog.Trace.ClrProfiler.Native/rejit_preprocessor.h
  tracer/src/Datadog.Trace.ClrProfiler.Native/rejit_work_offloader.cpp
  tracer/src/Datadog.Trace.ClrProfiler.Native/rejit_work_offloader.h
Labels: type:refactor, area:native-library

#2368 Remove `TraceContext.SamplingPriority` setter
  tracer/src/Datadog.Trace/ClrProfiler/ScopeFactory.cs
  tracer/src/Datadog.Trace/ExtensionMethods/SpanExtensions.cs
  tracer/src/Datadog.Trace/Span.cs
  tracer/src/Datadog.Trace/TraceContext.cs
  tracer/src/Datadog.Trace/Tracer.cs
  tracer/test/Datadog.Trace.Tests/TraceContextTests.cs
Labels: area:tracer, type:cleanup

#2372 use `int` internally instead of `enum` for sampling priority values
  tracer/src/Datadog.Trace.MSBuild/DatadogLogger.cs
  tracer/src/Datadog.Trace.Tools.Runner/Crank/Importer.cs
  tracer/src/Datadog.Trace/AppSec/Security.cs
  tracer/src/Datadog.Trace/Ci/Sampling/CISampler.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Http/WebRequest/HttpWebRequest_EndGetResponse_Integration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Http/WebRequest/WebRequestCommon.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/MsTestV2/MsTestIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/NUnit/NUnitIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/XUnit/XUnitIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutomaticTracer.cs
  tracer/src/Datadog.Trace/ClrProfiler/CommonTracer.cs
  tracer/src/Datadog.Trace/ClrProfiler/IDistributedTracer.cs
  tracer/src/Datadog.Trace/ClrProfiler/ManualTracer.cs
  tracer/src/Datadog.Trace/ExtensionMethods/SpanExtensions.cs
  tracer/src/Datadog.Trace/Sampling/ISampler.cs
  tracer/src/Datadog.Trace/Sampling/RuleBasedSampler.cs
  tracer/src/Datadog.Trace/SamplingPriority.cs
  tracer/src/Datadog.Trace/SamplingPriorityValues.cs
  tracer/src/Datadog.Trace/ServiceFabric/PropagationContext.cs
  tracer/src/Datadog.Trace/Span.cs
  tracer/src/Datadog.Trace/SpanContext.cs
  tracer/src/Datadog.Trace/SpanContextPropagator.cs
  tracer/src/Datadog.Trace/TraceContext.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/VersionConflict/AspNetVersionConflictTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/VersionConflict/VersionConflict1xTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/VersionConflict/VersionConflict2xTests.cs
  tracer/test/Datadog.Trace.OpenTracing.Tests/HttpHeaderCodecTests.cs
  tracer/test/Datadog.Trace.Tests/DistributedTraceTests.cs
  tracer/test/Datadog.Trace.Tests/DistributedTracer/AutomaticTracerTests.cs
  tracer/test/Datadog.Trace.Tests/DistributedTracer/CommonTracerTests.cs
  tracer/test/Datadog.Trace.Tests/DistributedTracer/ManualTracerTests.cs
  tracer/test/Datadog.Trace.Tests/Sampling/RuleBasedSamplerTests.cs
  tracer/test/Datadog.Trace.Tests/SpanContextPropagatorTests.cs
  tracer/test/Datadog.Trace.Tests/TraceContextTests.cs
  tracer/test/Datadog.Trace.Tests/TracerTests.cs
Labels: area:tracer, type:cleanup

#2384 remove unused `FormatterResolverWrapper`
  tracer/src/Datadog.Trace/Agent/MessagePack/FormatterResolverWrapper.cs
  tracer/test/Datadog.Trace.Tests/AgentWriterTests.cs
  tracer/test/Datadog.Trace.Tests/Tagging/TagsListTests.cs
Labels: area:tracer, area:tests, type:cleanup

#2391 Fix the benchmark project build
  tracer/test/benchmarks/Benchmarks.Trace/AgentWriterBenchmark.cs
Labels: area:builds

#2386 Update FluentAssertions to 6.4.0
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/Helpers/EquivalencyAssertionOptionsExtensions.cs
  tracer/test/Datadog.Trace.ClrProfiler.Managed.Tests/AutoInstrumentation/Logging/NLog/NLogDuckTypingTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.Managed.Tests/AutoInstrumentation/Logging/Serilog/SerilogDuckTypingTests.cs
  tracer/test/Datadog.Trace.Tests/Logging/SerilogDuckTypeTests.cs
  tracer/test/Datadog.Trace.Tests/TraceContextTests.cs
  tracer/test/Directory.Build.props
Labels: area:tests

#2393 Bind the agent in the CLI tests
  tracer/test/Datadog.Trace.TestHelpers/ProcessHelper.cs
  tracer/test/Datadog.Trace.Tools.Runner.IntegrationTests/Checks/ConsoleTestHelper.cs
Labels: area:tests, area:test-apps

#2392 Fix incorrect type arguments to AppSec Debug log
  tracer/src/Datadog.Trace/AppSec/Waf/Context.cs
Labels: type:bug, area:app-sec

#2396 Display a warning when a test has been running for too long
  tracer/test/Datadog.Trace.Tests/CustomTestFramework.cs
Labels: area:tests

#2374 Add support for ServiceStack.Redis 6.x
  tracer/build/PackageVersionsGeneratorDefinitions.json
  tracer/build/PackageVersionsLatestMajors.g.props
  tracer/build/PackageVersionsLatestMinors.g.props
  tracer/dependabot/Datadog.Dependabot.Integrations.csproj
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Redis/ServiceStack/RedisNativeClientSendReceiveIntegration.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.InstrumentationDefinitions.InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.InstrumentationDefinitions.InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.InstrumentationDefinitions.InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestMajors.g.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestMinors.g.cs
Labels: type:enhancement, area:integrations, area:tests

#2330 Add internal "start" api to `Tracer`/`TracerManager`
  tracer/src/Datadog.Trace/Logging/DirectSubmission/Sink/IDatadogSink.cs
  tracer/src/Datadog.Trace/Logging/DirectSubmission/Sink/NullDatadogSink.cs
  tracer/src/Datadog.Trace/Logging/DirectSubmission/Sink/PeriodicBatching/BatchingSink.cs
  tracer/src/Datadog.Trace/Tracer.cs
  tracer/src/Datadog.Trace/TracerManager.cs
  tracer/test/Datadog.Trace.ClrProfiler.Managed.Tests/AutoInstrumentation/Logging/ILogger/DirectSubmissionLoggerTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.Managed.Tests/AutoInstrumentation/Logging/Log4Net/Log4NetHelper.cs
  tracer/test/Datadog.Trace.ClrProfiler.Managed.Tests/AutoInstrumentation/Logging/NLog/NLogHelper.cs
  tracer/test/Datadog.Trace.ClrProfiler.Managed.Tests/AutoInstrumentation/Logging/Serilog/SerilogHelper.cs
  tracer/test/Datadog.Trace.Tests/Logging/DirectSubmission/Sink/DatadogSinkTests.cs
  tracer/test/Datadog.Trace.Tests/Logging/DirectSubmission/Sink/PeriodicBatching/BatchingSinkTests.cs
Labels: area:tracer

#2414 improvements in `SpanContextPropagatorTests`
  tracer/test/Datadog.Trace.Tests/SpanContextPropagatorTests.cs
Labels: type:bug, area:tests, type:cleanup

#2406 clean up `StartSpan()` and `StartActive()` overloads in `Tracer`
  tracer/src/Datadog.Trace.MSBuild/DatadogLogger.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/MsTestV2/MsTestIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/NUnit/NUnitIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/XUnit/XUnitIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/CommonTracer.cs
  tracer/src/Datadog.Trace/SpanContextPropagator.cs
  tracer/src/Datadog.Trace/Tracer.cs
  tracer/test/Datadog.Trace.Tests/SpanTests.cs
  tracer/test/Datadog.Trace.Tests/TracerTests.cs
Labels: area:tracer, type:cleanup

#2418 Update README badges
  docs/README.md
Labels: area:docs

#2395 Use IsShutdownRequested to avoid recursive lock acquisition
  tracer/src/Datadog.Trace.ClrProfiler.Native/rejit_handler.cpp
Labels: community, area:native-library

#2410 Generalise `HttpClientRequestFactory`, `ApiWebRequestFactory`, and `DatadogHttpHeaderHelper`
  tracer/src/Datadog.Trace/Agent/TracesTransportStrategy.cs
  tracer/src/Datadog.Trace/Agent/Transports/ApiWebRequest.cs
  tracer/src/Datadog.Trace/Agent/Transports/ApiWebRequestFactory.cs
  tracer/src/Datadog.Trace/Agent/Transports/HttpClientRequestFactory.cs
  tracer/src/Datadog.Trace/HttpOverStreams/DatadogHttpClient.cs
  tracer/src/Datadog.Trace/HttpOverStreams/DatadogHttpHeaderHelper.cs
  tracer/src/Datadog.Trace/HttpOverStreams/HttpHeaderHelperBase.cs
  tracer/src/Datadog.Trace/HttpOverStreams/TraceAgentHttpHeaderHelper.cs
  tracer/src/Datadog.Trace/Logging/DirectSubmission/LogsTransportStrategy.cs
  tracer/src/Datadog.Trace/Logging/DirectSubmission/Sink/LogsApiHeaderNames.cs
  tracer/test/Datadog.Trace.Tests/ApiWebRequestFactoryTests.cs
  tracer/test/Datadog.Trace.Tests/DatadogHttpClientTests.cs
  tracer/test/Datadog.Trace.Tests/HttpClientRequestTests.cs
  tracer/test/Datadog.Trace.Tests/HttpOverStreams/TraceAgentHttpHeaderHelperTests.cs
  tracer/test/benchmarks/Benchmarks.Trace/AgentWriterBenchmark.cs
Labels: area:tracer

#2427 Add SampleHelpers.CreateScope
  tracer/test/test-applications/Samples.Shared/SampleHelpers.cs
Labels: area:test-apps

#2436 Add Auth header to HttpClient that downloads Azure DevOps build artifacts
  tracer/build/_build/Build.GitHub.cs
Labels: area:builds

#2440 Add snapshot tests for MongoDb
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/MongoDbTests.cs
  tracer/test/Datadog.Trace.TestHelpers.SharedSource/VerifyHelper.cs
  tracer/test/snapshots/MongoDbTests.SubmitsTraces_packageVersion=2_2.verified.txt
  tracer/test/snapshots/MongoDbTests.SubmitsTraces_packageVersion=2_5.verified.txt
  tracer/test/snapshots/MongoDbTests.SubmitsTraces_packageVersion=2_7.verified.txt
  tracer/test/snapshots/MongoDbTests.SubmitsTraces_packageVersion=PRE_2_2.verified.txt
  tracer/test/test-applications/integrations/Samples.MongoDB/Program.cs
  tracer/test/test-applications/integrations/Samples.MongoDB/Samples.MongoDB.csproj
Labels: area:tests

#2435 Fix MongoDB integration when BsonDocument throws an exception
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/MongoDb/MongoDbIntegration.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/MongoDbTests.cs
  tracer/test/Datadog.Trace.TestHelpers.SharedSource/VerifyHelper.cs
  tracer/test/snapshots/MongoDbTests.SubmitsTraces_packageVersion=2_2.verified.txt
  tracer/test/snapshots/MongoDbTests.SubmitsTraces_packageVersion=2_5.verified.txt
  tracer/test/snapshots/MongoDbTests.SubmitsTraces_packageVersion=2_7.verified.txt
  tracer/test/snapshots/MongoDbTests.SubmitsTraces_packageVersion=PRE_2_2.verified.txt
  tracer/test/test-applications/integrations/Samples.MongoDB/Program.cs
  tracer/test/test-applications/integrations/Samples.MongoDB/Samples.MongoDB.csproj
Labels: area:integrations

#2442 Move EnumNgenModuleMethodsInliningThisMethod call from the background thread
  tracer/src/Datadog.Trace.ClrProfiler.Native/rejit_handler.cpp
  tracer/src/Datadog.Trace.ClrProfiler.Native/rejit_preprocessor.cpp
Labels: area:native-library

#2443 Update protobuf version to 3.19.4
  profiler/src/ProfilerEngine/Datadog.Profiler.Managed/Datadog.Profiler.Managed.csproj
Labels: area:profiler

#2431 Disable sending telemetry by default
  tracer/src/Datadog.Trace/Telemetry/TelemetrySettings.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/TelemetrySettingsTests.cs
Labels: type:enhancement, area:tracer

#2441 Adding more info on instrumenting specific methods
  docs/development/AutomaticInstrumentation.md
Labels: area:docs

#2362 Trigger deployment to the reliability environment
  .gitlab-ci.yml
Labels: area:builds

#2416 Add IIS checks to the CLI
  tracer/src/Datadog.Trace.Tools.Runner/CheckAgentCommand.cs
  tracer/src/Datadog.Trace.Tools.Runner/CheckIisCommand.cs
  tracer/src/Datadog.Trace.Tools.Runner/CheckIisSettings.cs
  tracer/src/Datadog.Trace.Tools.Runner/CheckProcessCommand.cs
  tracer/src/Datadog.Trace.Tools.Runner/Checks/AgentConnectivityCheck.cs
  tracer/src/Datadog.Trace.Tools.Runner/Checks/GacCheck.cs
  tracer/src/Datadog.Trace.Tools.Runner/Checks/ProcessBasicCheck.cs
  tracer/src/Datadog.Trace.Tools.Runner/Checks/ProcessEnvironment.cs
  tracer/src/Datadog.Trace.Tools.Runner/Checks/ProcessInfo.cs
  tracer/src/Datadog.Trace.Tools.Runner/Checks/Resources.cs
  tracer/src/Datadog.Trace.Tools.Runner/Checks/Windows/OpenFiles.cs
  tracer/src/Datadog.Trace.Tools.Runner/Datadog.Trace.Tools.Runner.csproj
  tracer/src/Datadog.Trace.Tools.Runner/Program.cs
  tracer/src/Datadog.Trace/Util/System.Diagnostics.CodeAnalysis.Attributes.cs
  tracer/test/Datadog.Trace.TestHelpers/IisFixture.cs
  tracer/test/Datadog.Trace.Tools.Runner.IntegrationTests/Checks/AgentConnectivityCheckTests.cs
  tracer/test/Datadog.Trace.Tools.Runner.IntegrationTests/Checks/IisCheckTests.cs
  tracer/test/Datadog.Trace.Tools.Runner.IntegrationTests/Datadog.Trace.Tools.Runner.IntegrationTests.csproj
  tracer/test/Datadog.Trace.Tools.Runner.IntegrationTests/applicationHost.config
  tracer/test/Datadog.Trace.Tools.Runner.Tests/ProcessInfoTests.cs
Labels: area:tools

#2449 Revert "Reduce test flakiness caused by TcpPortProvider.GetOpenPort
  tracer/test/Datadog.Trace.TestHelpers/TcpPortProvider.cs
Labels: area:tests

#2419 Update the http.status_code on root-level aspnet.request spans after TransferRequest calls
  tracer/src/Datadog.Trace/AspNet/TracingHttpModule.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AspNet/ApiController_ExecuteAsync_Integration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AspNet/AsyncControllerActionInvoker_EndInvokeAction_Integration.cs
  tracer/src/Datadog.Trace/ExtensionMethods/SpanExtensions.cs
  tracer/src/Datadog.Trace/Scope.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AspNet/AspNetMvc4Tests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AspNet/AspNetMvc5Tests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AspNet/AspNetWebApi2Tests.cs
  tracer/test/Datadog.Trace.Tests/TracerTests.cs
  tracer/test/snapshots/AspNetMvc4Tests.Classic.NoFF.__path=_Home_BadRequestWithStatusCode-statuscode=401&TransferRequest=true_statusCode=500.verified.txt
  tracer/test/snapshots/AspNetMvc4Tests.Classic.NoFF.__path=_Home_BadRequestWithStatusCode-statuscode=503&TransferRequest=true_statusCode=500.verified.txt
  tracer/test/snapshots/AspNetMvc4Tests.Classic.NoFF.__path=_Home_badrequest-TransferRequest=true_statusCode=500.verified.txt
  tracer/test/snapshots/AspNetMvc4Tests.Classic.WithFF.__path=_Home_BadRequestWithStatusCode-statuscode=401&TransferRequest=true_statusCode=500.verified.txt
  tracer/test/snapshots/AspNetMvc4Tests.Classic.WithFF.__path=_Home_BadRequestWithStatusCode-statuscode=503&TransferRequest=true_statusCode=500.verified.txt
  tracer/test/snapshots/AspNetMvc4Tests.Classic.WithFF.__path=_Home_badrequest-TransferRequest=true_statusCode=500.verified.txt
  tracer/test/snapshots/AspNetMvc4Tests.Integrated.NoFF.__path=_Home_BadRequestWithStatusCode-statuscode=401&TransferRequest=true_statusCode=401.verified.txt
  tracer/test/snapshots/AspNetMvc4Tests.Integrated.NoFF.__path=_Home_BadRequestWithStatusCode-statuscode=503&TransferRequest=true_statusCode=503.verified.txt
  tracer/test/snapshots/AspNetMvc4Tests.Integrated.NoFF.__path=_Home_badrequest-TransferRequest=true_statusCode=500.verified.txt
  tracer/test/snapshots/AspNetMvc4Tests.Integrated.WithFF.__path=_Home_BadRequestWithStatusCode-statuscode=401&TransferRequest=true_statusCode=401.verified.txt
  tracer/test/snapshots/AspNetMvc4Tests.Integrated.WithFF.__path=_Home_BadRequestWithStatusCode-statuscode=503&TransferRequest=true_statusCode=503.verified.txt
  tracer/test/snapshots/AspNetMvc4Tests.Integrated.WithFF.__path=_Home_badrequest-TransferRequest=true_statusCode=500.verified.txt
  tracer/test/snapshots/AspNetMvc5Tests.Classic.NoFF.__path=_BadRequestWithStatusCode_401-TransferRequest=true_statusCode=500.verified.txt
  tracer/test/snapshots/AspNetMvc5Tests.Classic.NoFF.__path=_BadRequestWithStatusCode_503-TransferRequest=true_statusCode=500.verified.txt
  tracer/test/snapshots/AspNetMvc5Tests.Classic.NoFF.__path=_badrequest-TransferRequest=true_statusCode=500.verified.txt
  tracer/test/snapshots/AspNetMvc5Tests.Classic.WithFF.__path=_BadRequestWithStatusCode_401-TransferRequest=true_statusCode=500.verified.txt
  tracer/test/snapshots/AspNetMvc5Tests.Classic.WithFF.__path=_BadRequestWithStatusCode_503-TransferRequest=true_statusCode=500.verified.txt
  tracer/test/snapshots/AspNetMvc5Tests.Classic.WithFF.__path=_badrequest-TransferRequest=true_statusCode=500.verified.txt
  tracer/test/snapshots/AspNetMvc5Tests.Integrated.NoFF.__path=_BadRequestWithStatusCode_401-TransferRequest=true_statusCode=401.verified.txt
  tracer/test/snapshots/AspNetMvc5Tests.Integrated.NoFF.__path=_BadRequestWithStatusCode_503-TransferRequest=true_statusCode=503.verified.txt
  tracer/test/snapshots/AspNetMvc5Tests.Integrated.NoFF.__path=_badrequest-TransferRequest=true_statusCode=500.verified.txt
  tracer/test/snapshots/AspNetMvc5Tests.Integrated.WithFF.__path=_BadRequestWithStatusCode_401-TransferRequest=true_statusCode=401.verified.txt
  tracer/test/snapshots/AspNetMvc5Tests.Integrated.WithFF.__path=_BadRequestWithStatusCode_503-TransferRequest=true_statusCode=503.verified.txt
  tracer/test/snapshots/AspNetMvc5Tests.Integrated.WithFF.__path=_badrequest-TransferRequest=true_statusCode=500.verified.txt
  tracer/test/snapshots/AspNetWebApi2Tests.Classic.NoFF.__path=_api_TransferRequest_401_statusCode=500.verified.txt
  tracer/test/snapshots/AspNetWebApi2Tests.Classic.NoFF.__path=_api_TransferRequest_503_statusCode=500.verified.txt
  tracer/test/snapshots/AspNetWebApi2Tests.Classic.WithFF.__path=_api_TransferRequest_401_statusCode=500.verified.txt
  tracer/test/snapshots/AspNetWebApi2Tests.Classic.WithFF.__path=_api_TransferRequest_503_statusCode=500.verified.txt
  tracer/test/snapshots/AspNetWebApi2Tests.Integrated.NoFF.__path=_api_TransferRequest_401_statusCode=401.verified.txt
  tracer/test/snapshots/AspNetWebApi2Tests.Integrated.NoFF.__path=_api_TransferRequest_503_statusCode=503.verified.txt
  tracer/test/snapshots/AspNetWebApi2Tests.Integrated.WithFF.__path=_api_TransferRequest_401_statusCode=401.verified.txt
  tracer/test/snapshots/AspNetWebApi2Tests.Integrated.WithFF.__path=_api_TransferRequest_503_statusCode=503.verified.txt
  tracer/test/test-applications/aspnet/Samples.AspNetMvc4/Controllers/ErrorController.cs
  tracer/test/test-applications/aspnet/Samples.AspNetMvc4/Controllers/HomeController.cs
  tracer/test/test-applications/aspnet/Samples.AspNetMvc4/Global.asax.cs
  tracer/test/test-applications/aspnet/Samples.AspNetMvc4/Samples.AspNetMvc4.csproj
  tracer/test/test-applications/aspnet/Samples.AspNetMvc4/Views/Error/Index.cshtml
  tracer/test/test-applications/aspnet/Samples.AspNetMvc5/Controllers/ApiController.cs
  tracer/test/test-applications/aspnet/Samples.AspNetMvc5/Controllers/ErrorController.cs
  tracer/test/test-applications/aspnet/Samples.AspNetMvc5/Controllers/HomeController.cs
  tracer/test/test-applications/aspnet/Samples.AspNetMvc5/Global.asax.cs
  tracer/test/test-applications/aspnet/Samples.AspNetMvc5/Handlers/CustomTracingExceptionHandler.cs
  tracer/test/test-applications/aspnet/Samples.AspNetMvc5/Samples.AspNetMvc5.csproj
  tracer/test/test-applications/aspnet/Samples.AspNetMvc5/Views/Error/Index.cshtml
  tracer/test/test-applications/integrations/Samples.Owin.WebApi2/Samples.Owin.WebApi2.csproj
Labels: area:integrations

#2417 [Doc] Describe the best scenarios to upgrade from v1 to v2
  docs/migrations/v1_to_v2.md
Labels: area:docs

#2451 Update GraphQL and Security ASP.NET Core tests to reduce flakiness
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/GraphQLTests.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/AspNetBase.cs
Labels: area:tests

#2432 add support for trace-level tags (vertical propagation)
  tracer/src/Datadog.Trace/SpanContextPropagator.cs
  tracer/src/Datadog.Trace/Tagging/TagsList.cs
  tracer/src/Datadog.Trace/Tagging/TraceTagCollection.cs
  tracer/src/Datadog.Trace/TraceContext.cs
  tracer/src/Datadog.Trace/TraceTagNames.cs
  tracer/src/Datadog.Trace/Tracer.cs
  tracer/test/Datadog.Trace.Tests/Tagging/TraceTagsCollectionTests.cs
Labels: area:tracer, type:new-feature, area:tests

#2439 New tags useful for throughput testing
  tracer/src/Datadog.Trace.Tools.Runner/Crank/Importer.cs
Labels: area:tests

#2462 Fix incorrect timeout in BatchingSinkTests
  tracer/test/Datadog.Trace.Tests/Logging/DirectSubmission/Sink/PeriodicBatching/BatchingSinkTests.cs
Labels: area:tests

#2458 Fix missing `http.status_code` tag on ASP.NET Core spans with errors
  tracer/src/Datadog.Trace/DiagnosticListeners/AspNetCoreDiagnosticObserver.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AspNetCore/AspNetCoreIisMvcTestBase.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AspNetCore/AspNetCoreMvcTestBase.cs
  tracer/test/snapshots/AspNetCoreIisMinimalApisTests.InProcess.NoFF.__path=_handled-exception_statusCode=500.verified.txt
  tracer/test/snapshots/AspNetCoreIisMinimalApisTests.InProcess.WithFF.__path=_handled-exception_statusCode=500.verified.txt
  tracer/test/snapshots/AspNetCoreIisMinimalApisTests.OutOfProcess.NoFF.__path=_handled-exception_statusCode=500.verified.txt
  tracer/test/snapshots/AspNetCoreIisMinimalApisTests.OutOfProcess.WithFF.__path=_handled-exception_statusCode=500.verified.txt
  tracer/test/snapshots/AspNetCoreIisMvc21Tests.OutOfProcess.NoFF.__path=_handled-exception_statusCode=500.verified.txt
  tracer/test/snapshots/AspNetCoreIisMvc21Tests.OutOfProcess.WithFF.__path=_handled-exception_statusCode=500.verified.txt
  tracer/test/snapshots/AspNetCoreIisMvc30Tests.InProcess.NoFF.__path=_handled-exception_statusCode=500.verified.txt
  tracer/test/snapshots/AspNetCoreIisMvc30Tests.InProcess.WithFF.__path=_handled-exception_statusCode=500.verified.txt
  tracer/test/snapshots/AspNetCoreIisMvc30Tests.OutOfProcess.NoFF.__path=_handled-exception_statusCode=500.verified.txt
  tracer/test/snapshots/AspNetCoreIisMvc30Tests.OutOfProcess.WithFF.__path=_handled-exception_statusCode=500.verified.txt
  tracer/test/snapshots/AspNetCoreIisMvc31Tests.InProcess.NoFF.__path=_handled-exception_statusCode=500.verified.txt
  tracer/test/snapshots/AspNetCoreIisMvc31Tests.InProcess.WithFF.__path=_handled-exception_statusCode=500.verified.txt
  tracer/test/snapshots/AspNetCoreIisMvc31Tests.OutOfProcess.NoFF.__path=_handled-exception_statusCode=500.verified.txt
  tracer/test/snapshots/AspNetCoreIisMvc31Tests.OutOfProcess.WithFF.__path=_handled-exception_statusCode=500.verified.txt
  tracer/test/snapshots/AspNetCoreMinimalApisTests.NoFF.__path=_handled-exception_statusCode=500.verified.txt
  tracer/test/snapshots/AspNetCoreMinimalApisTests.WithFF.__path=_handled-exception_statusCode=500.verified.txt
  tracer/test/snapshots/AspNetCoreMvc21Tests.NoFF.__path=_handled-exception_statusCode=500.verified.txt
  tracer/test/snapshots/AspNetCoreMvc21Tests.WithFF.__path=_handled-exception_statusCode=500.verified.txt
  tracer/test/snapshots/AspNetCoreMvc30Tests.NoFF.__path=_handled-exception_statusCode=500.verified.txt
  tracer/test/snapshots/AspNetCoreMvc30Tests.WithFF.__path=_handled-exception_statusCode=500.verified.txt
  tracer/test/snapshots/AspNetCoreMvc31Tests.NoFF.__path=_handled-exception_statusCode=500.verified.txt
  tracer/test/snapshots/AspNetCoreMvc31Tests.WithFF.__path=_handled-exception_statusCode=500.verified.txt
  tracer/test/test-applications/Samples.Shared/SampleHelpers.cs
  tracer/test/test-applications/integrations/Samples.AspNetCoreMvc21/Controllers/HomeController.cs
Labels: type:bug, area:integrations

#2454 Enable telemetry when sending directly to the intake by default
  tracer/src/Datadog.Trace/Telemetry/TelemetrySettings.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/TelemetrySettingsTests.cs
Labels: area:tracer

#2467 Refactor no-op pipeline to not use so many hosts
  .azure-pipelines/noop-pipeline.yml
  .azure-pipelines/steps/update-github-status.yml
  tracer/build/_build/Build.VariableGenerations.cs
Labels: area:builds

#2468 Fix typos in code coverage report generator
  tracer/build/_build/Build.GitHub.cs
Labels: area:builds

#2469 Increase coverage in mongodb integration tests
  tracer/build/PackageVersionsGeneratorDefinitions.json
Labels: area:tests

#2447 Make IntegrationRegistry and DD_LOGS_DIRECT_SUBMISSION_INTEGRATIONS case insensitive
  tracer/src/Datadog.Trace/Configuration/IntegrationRegistry.cs
  tracer/src/Datadog.Trace/Logging/DirectSubmission/ImmutableDirectLogSubmissionSettings.cs
  tracer/test/Datadog.Trace.Tests/Configuration/ImmutableIntegrationSettingsCollectionTests.cs
  tracer/test/Datadog.Trace.Tests/Configuration/IntegrationRegistryTests.cs
  tracer/test/Datadog.Trace.Tests/Configuration/IntegrationSettingsCollectionTests.cs
  tracer/test/Datadog.Trace.Tests/Logging/DirectSubmission/ImmutableDirectLogSubmissionSettingsTests.cs
Labels: type:enhancement, area:tracer

#2471 Support cleaning of filenames in HttpClient + ASP.NET
  tracer/src/Datadog.Trace/Util/UriHelpers.cs
  tracer/test/Datadog.Trace.Tests/Util/UriHelpersTests.cs
Labels: type:enhancement, area:integrations

#2480 Always set response header tags in ASP.NET Core
  tracer/src/Datadog.Trace/DiagnosticListeners/AspNetCoreDiagnosticObserver.cs
  tracer/test/snapshots/AspNetCoreMinimalApisTests.NoFF.__path=_bad-request_statusCode=500.verified.txt
  tracer/test/snapshots/AspNetCoreMinimalApisTests.NoFF.__path=_status-code-string_[200]_statusCode=500.verified.txt
  tracer/test/snapshots/AspNetCoreMinimalApisTests.WithFF.__path=_bad-request_statusCode=500.verified.txt
  tracer/test/snapshots/AspNetCoreMinimalApisTests.WithFF.__path=_status-code-string_[200]_statusCode=500.verified.txt
  tracer/test/snapshots/AspNetCoreMvc21Tests.NoFF.__path=_bad-request_statusCode=500.verified.txt
  tracer/test/snapshots/AspNetCoreMvc21Tests.NoFF.__path=_status-code-string_[200]_statusCode=500.verified.txt
  tracer/test/snapshots/AspNetCoreMvc21Tests.WithFF.__path=_bad-request_statusCode=500.verified.txt
  tracer/test/snapshots/AspNetCoreMvc21Tests.WithFF.__path=_status-code-string_[200]_statusCode=500.verified.txt
  tracer/test/snapshots/AspNetCoreMvc30Tests.NoFF.__path=_bad-request_statusCode=500.verified.txt
  tracer/test/snapshots/AspNetCoreMvc30Tests.NoFF.__path=_status-code-string_[200]_statusCode=500.verified.txt
  tracer/test/snapshots/AspNetCoreMvc30Tests.WithFF.__path=_bad-request_statusCode=500.verified.txt
  tracer/test/snapshots/AspNetCoreMvc30Tests.WithFF.__path=_status-code-string_[200]_statusCode=500.verified.txt
  tracer/test/snapshots/AspNetCoreMvc31Tests.NoFF.__path=_bad-request_statusCode=500.verified.txt
  tracer/test/snapshots/AspNetCoreMvc31Tests.NoFF.__path=_status-code-string_[200]_statusCode=500.verified.txt
  tracer/test/snapshots/AspNetCoreMvc31Tests.WithFF.__path=_bad-request_statusCode=500.verified.txt
  tracer/test/snapshots/AspNetCoreMvc31Tests.WithFF.__path=_status-code-string_[200]_statusCode=500.verified.txt
Labels: type:bug, area:integrations

#2486 [Version Bump] v1.31.2
  docs/CHANGELOG.md
  shared/src/msi-installer/WindowsInstaller.wixproj
  tracer/build/_build/Build.cs
  tracer/integrations.json
  tracer/samples/AutomaticTraceIdInjection/Log4NetExample/Log4NetExample.csproj
  tracer/samples/AutomaticTraceIdInjection/MicrosoftExtensionsExample/MicrosoftExtensionsExample.csproj
  tracer/samples/AutomaticTraceIdInjection/NLog40Example/NLog40Example.csproj
  tracer/samples/AutomaticTraceIdInjection/NLog45Example/NLog45Example.csproj
  tracer/samples/AutomaticTraceIdInjection/NLog46Example/NLog46Example.csproj
  tracer/samples/AutomaticTraceIdInjection/SerilogExample/SerilogExample.csproj
  tracer/samples/ConsoleApp/Alpine3.10.dockerfile
  tracer/samples/ConsoleApp/Alpine3.9.dockerfile
  tracer/samples/ConsoleApp/Debian.dockerfile
  tracer/samples/WindowsContainer/Dockerfile
  tracer/src/Datadog.Monitoring.Distribution/Datadog.Monitoring.Distribution.csproj
  tracer/src/Datadog.Trace.AspNet/Datadog.Trace.AspNet.csproj
  tracer/src/Datadog.Trace.ClrProfiler.Managed.Loader/Datadog.Trace.ClrProfiler.Managed.Loader.csproj
  tracer/src/Datadog.Trace.ClrProfiler.Managed.Loader/Startup.cs
  tracer/src/Datadog.Trace.ClrProfiler.Native/CMakeLists.txt
  tracer/src/Datadog.Trace.ClrProfiler.Native/Resource.rc
  tracer/src/Datadog.Trace.ClrProfiler.Native/dd_profiler_constants.h
  tracer/src/Datadog.Trace.ClrProfiler.Native/version.h
  tracer/src/Datadog.Trace.MSBuild/Datadog.Trace.MSBuild.csproj
  tracer/src/Datadog.Trace.OpenTracing/Datadog.Trace.OpenTracing.csproj
  tracer/src/Datadog.Trace.Tools.Runner/Datadog.Trace.Tools.Runner.Standalone.csproj
  tracer/src/Datadog.Trace.Tools.Runner/Datadog.Trace.Tools.Runner.Tool.csproj
  tracer/src/Datadog.Trace/Datadog.Trace.csproj
  tracer/src/Datadog.Trace/TracerConstants.cs
  tracer/src/WindowsInstaller/WindowsInstaller.wixproj
  tracer/test/test-applications/regression/AutomapperTest/Dockerfile
Labels: area:builds

#2489 Add proper spdlog-based logging to NativeLoader
  tracer/src/Datadog.AutoInstrumentation.NativeLoader/CMakeLists.txt
  tracer/src/Datadog.AutoInstrumentation.NativeLoader/Datadog.AutoInstrumentation.NativeLoader.vcxproj
  tracer/src/Datadog.AutoInstrumentation.NativeLoader/Datadog.AutoInstrumentation.NativeLoader.vcxproj.filters
  tracer/src/Datadog.AutoInstrumentation.NativeLoader/EnvironmentVariables.h
  tracer/src/Datadog.AutoInstrumentation.NativeLoader/cor_profiler.cpp
  tracer/src/Datadog.AutoInstrumentation.NativeLoader/cor_profiler_class_factory.cpp
  tracer/src/Datadog.AutoInstrumentation.NativeLoader/dllmain.cpp
  tracer/src/Datadog.AutoInstrumentation.NativeLoader/dynamic_dispatcher.cpp
  tracer/src/Datadog.AutoInstrumentation.NativeLoader/dynamic_dispatcher.h
  tracer/src/Datadog.AutoInstrumentation.NativeLoader/dynamic_instance.cpp
  tracer/src/Datadog.AutoInstrumentation.NativeLoader/log.h
  tracer/src/Datadog.AutoInstrumentation.NativeLoader/logging.h
  tracer/src/Datadog.AutoInstrumentation.NativeLoader/pal.cpp
  tracer/src/Datadog.AutoInstrumentation.NativeLoader/pal.h
  tracer/src/Datadog.AutoInstrumentation.NativeLoader/string_utils.cpp
  tracer/src/Datadog.AutoInstrumentation.NativeLoader/string_utils.h
  tracer/src/Datadog.AutoInstrumentation.NativeLoader/util.h
  tracer/test/Datadog.AutoInstrumentation.NativeLoader.Tests/Datadog.AutoInstrumentation.NativeLoader.Tests.vcxproj
  tracer/test/Datadog.AutoInstrumentation.NativeLoader.Tests/string_test.cpp
Labels: area:native-library, area:shared-components

#2472 Increase Redis test matrix
  tracer/build/PackageVersionsGeneratorDefinitions.json
  tracer/build/PackageVersionsLatestMajors.g.props
  tracer/build/PackageVersionsLatestMinors.g.props
  tracer/dependabot/Datadog.Dependabot.Integrations.csproj
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestMajors.g.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestMinors.g.cs
  tracer/test/test-applications/integrations/Samples.StackExchange.Redis/Program.cs
  tracer/test/test-applications/regression/StackExchange.Redis.StackOverflowException/Program.cs
  tracer/test/test-applications/regression/StackExchange.Redis.StackOverflowException/StackExchange.Redis.StackOverflowException.csproj
Labels: area:tests, area:test-apps

#2477 Ignore common test failures
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/NativeProfilerChecks.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/SmokeTests/SmokeTestBase.cs
  tracer/test/Datadog.Trace.TestHelpers/TestHelper.cs
Labels: area:tests

#2496 Add `ExpandRouteTemplatesEnabled` setting for ASP.NET Core
  tracer/src/Datadog.Trace/Configuration/ConfigurationKeys.cs
  tracer/src/Datadog.Trace/Configuration/ImmutableTracerSettings.cs
  tracer/src/Datadog.Trace/Configuration/TracerSettings.cs
  tracer/src/Datadog.Trace/DiagnosticListeners/AspNetCoreDiagnosticObserver.cs
  tracer/src/Datadog.Trace/Util/UriHelpers.cs
  tracer/test/Datadog.Trace.IntegrationTests/DiagnosticListeners/AspNetCoreDiagnosticObserverTests.cs
  tracer/test/Datadog.Trace.IntegrationTests/DiagnosticListeners/AspNetCoreEndpointRoutingTestData.cs
  tracer/test/Datadog.Trace.IntegrationTests/DiagnosticListeners/AspNetCoreMvcTestData.cs
  tracer/test/Datadog.Trace.IntegrationTests/DiagnosticListeners/AspNetCoreRazorPagesTestData.cs
  tracer/test/Datadog.Trace.IntegrationTests/DiagnosticListeners/AspNetCoreTestApp.cs
Labels: type:enhancement, area:integrations

#2500 Add `ExpandRouteTemplatesEnabled` setting for ASP.NET Core (#2496)
  tracer/src/Datadog.Trace/Configuration/ConfigurationKeys.cs
  tracer/src/Datadog.Trace/Configuration/ImmutableTracerSettings.cs
  tracer/src/Datadog.Trace/Configuration/TracerSettings.cs
  tracer/src/Datadog.Trace/DiagnosticListeners/AspNetCoreDiagnosticObserver.cs
  tracer/src/Datadog.Trace/Util/UriHelpers.cs
  tracer/test/Datadog.Trace.IntegrationTests/DiagnosticListeners/AspNetCoreDiagnosticObserverTests.cs
  tracer/test/Datadog.Trace.IntegrationTests/DiagnosticListeners/AspNetCoreEndpointRoutingTestData.cs
  tracer/test/Datadog.Trace.IntegrationTests/DiagnosticListeners/AspNetCoreMvcTestData.cs
  tracer/test/Datadog.Trace.IntegrationTests/DiagnosticListeners/AspNetCoreRazorPagesTestData.cs
  tracer/test/Datadog.Trace.IntegrationTests/DiagnosticListeners/AspNetCoreTestApp.cs
Labels: type:new-feature, area:integrations

#2502 Allow running the build on hotfix branches
  .gitlab-ci.yml
Labels: area:builds

#2503 Actually allow GitLab releases
  .gitlab-ci.yml
Labels: area:builds

#2510 Allow forcing releases from a specific commit sha (#2509)
  .github/workflows/create_draft_release.yml
  tracer/build/_build/Build.GitHub.cs
Labels: area:builds

#2473 Add clarification to automatic instrumentation docs
  docs/development/AutomaticInstrumentation.md
Labels: area:docs

#2505 Remove some CI appsec tests since blocking is not supported yet
  tracer/test/Datadog.Trace.Security.IntegrationTests/AspNetBase.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/AspNetCore2.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/AspNetCore2RateLimiter.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/AspNetCore5.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/AspNetCore5ExternalRules.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/AspNetCore5RateLimiter.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/AspNetMvc5.cs
  tracer/test/Datadog.Trace.TestHelpers/EnvironmentHelper.cs
  tracer/test/Datadog.Trace.TestHelpers/ProfilerHelper.cs
  tracer/test/snapshots/Security.AspNetCore2.__enableSecurity=False_expectedStatusCode=200_url=_Health_-arg=[$slice].verified.txt
  tracer/test/snapshots/Security.AspNetCore2.__enableSecurity=True_expectedStatusCode=200_url=_Health_-arg=[$slice].verified.txt
  tracer/test/snapshots/Security.AspNetCore2.__enableSecurity=True_expectedStatusCode=200_url=_Health_-test&[$slice].verified.txt
  tracer/test/snapshots/Security.AspNetCore2.__enableSecurity=True_expectedStatusCode=404_url=_Health_login.php.verified.txt
  tracer/test/snapshots/Security.AspNetCore5.__enableSecurity=False_expectedStatusCode=200_url=_Health_-arg=[$slice].verified.txt
  tracer/test/snapshots/Security.AspNetCore5.__enableSecurity=False_expectedStatusCode=404_url=_waf_login.php.verified.txt
  tracer/test/snapshots/Security.AspNetCore5.__enableSecurity=True_expectedStatusCode=200_url=_Health_-arg=[$slice].verified.txt
  tracer/test/snapshots/Security.AspNetCore5.__enableSecurity=True_expectedStatusCode=200_url=_Health_-test&[$slice].verified.txt
  tracer/test/snapshots/Security.AspNetCore5.__enableSecurity=True_expectedStatusCode=404_url=_Health_login.php.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5.Classic.enableSecurity=False.__url=_Health_-arg=[$slice].verified.txt
  tracer/test/snapshots/Security.AspNetMvc5.Classic.enableSecurity=False.__url=_Health_-test&[$slice].verified.txt
  tracer/test/snapshots/Security.AspNetMvc5.Classic.enableSecurity=False.__url=_Health_wp-config.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5.Classic.enableSecurity=True.__url=_Health_-arg=[$slice].verified.txt
  tracer/test/snapshots/Security.AspNetMvc5.Classic.enableSecurity=True.__url=_Health_-test&[$slice].verified.txt
  tracer/test/snapshots/Security.AspNetMvc5.Classic.enableSecurity=True.__url=_Health_wp-config.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5.Integrated.enableSecurity=False.__url=_Health_-arg=[$slice].verified.txt
  tracer/test/snapshots/Security.AspNetMvc5.Integrated.enableSecurity=False.__url=_Health_-test&[$slice].verified.txt
  tracer/test/snapshots/Security.AspNetMvc5.Integrated.enableSecurity=False.__url=_Health_wp-config.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5.Integrated.enableSecurity=True.__url=_Health_-arg=[$slice].verified.txt
  tracer/test/snapshots/Security.AspNetMvc5.Integrated.enableSecurity=True.__url=_Health_-test&[$slice].verified.txt
  tracer/test/snapshots/Security.AspNetMvc5.Integrated.enableSecurity=True.__url=_Health_wp-config.verified.txt
Labels: area:app-sec

#2508 Add missing `volatile` in Tracer creation
  tracer/src/Datadog.Trace/Tracer.cs
Labels: type:bug, area:tracer
