Repository DataDog/dd-trace-dotnet, pull requests merged in 2022-01, with the labels that each got.

#2209 Update the version in the shared installer
  shared/src/msi-installer/WindowsInstaller.wixproj
  tracer/build/_build/PrepareRelease/SetAllVersions.cs
Labels: area:builds, area:shared-components

#2225 remove unused `ITraceContext`
  tracer/src/Datadog.Trace/ITraceContext.cs
  tracer/src/Datadog.Trace/SpanContext.cs
  tracer/src/Datadog.Trace/TraceContext.cs
  tracer/src/Datadog.Trace/Tracer.cs
  tracer/test/Datadog.Trace.Tests/ExtensionMethods/SpanExtensionsTests.cs
Labels: area:tests, type:cleanup

#2119 consolidate mock span implementations
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AWS/AwsSqsTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AerospikeTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AspNet/OwinWebApi2Tests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AspNetCore/AspNetCoreMvcTestBase.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/MsTestV2Tests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/NUnitTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/XUnitTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/Helpers/AspNetCoreMvcSpanExpectation.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/Helpers/EquivalencyAssertionOptionsExtensions.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/Helpers/GraphQLSpanExpectation.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/Helpers/SpanExpectation.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/Helpers/SpanTestHelpers.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/KafkaTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/LogsInjectionTestBase.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/SmokeTests/SmokeTestBase.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/VersionConflict/AspNetVersionConflictTests.cs
  tracer/test/Datadog.Trace.IntegrationTests/OriginTagSendTraces.cs
  tracer/test/Datadog.Trace.IntegrationTests/TestApi.cs
  tracer/test/Datadog.Trace.OpenTracing.IntegrationTests/OpenTracingSendTracesToAgent.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/AspNetCore2.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/AspNetCore5.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/AspNetMvc5.cs
  tracer/test/Datadog.Trace.TestHelpers.SharedSource/VerifyHelper.cs
  tracer/test/Datadog.Trace.TestHelpers/Datadog.Trace.TestHelpers.csproj
  tracer/test/Datadog.Trace.TestHelpers/MockSpan.cs
  tracer/test/Datadog.Trace.TestHelpers/MockTracerAgent.cs
  tracer/test/Datadog.Trace.TestHelpers/MsgPackHelpers.cs
  tracer/test/Datadog.Trace.TestHelpers/TestHelper.cs
  tracer/test/Datadog.Trace.Tests/Agent/SpanBufferTests.cs
  tracer/test/Datadog.Trace.Tests/DogStatsDTests.cs
  tracer/test/Datadog.Trace.Tests/Tagging/TagsListTests.cs
Labels: area:tests, type:cleanup

#2193 Exploration Tests on Linux
  .azure-pipelines/ultimate-pipeline.yml
  docker-compose.yml
  tracer/build/_build/Build.ExplorationTests.cs
  tracer/build/_build/Build.VariableGenerations.cs
  tracer/build/_build/NukeExtensions/AzurePipelinesExtensions.cs
  tracer/build/_build/TargetFramework.cs
Labels: area:tests

#2266 Add additional constructor to TracerSettings
  tracer/src/Datadog.Trace/Configuration/TracerSettings.cs
  tracer/test/Datadog.Trace.Tests/Snapshots/PublicApiTests.PublicApiHasNotChanged.verified.txt
Labels: area:tracer

#2264 Run GraphQL tests against latest package versions
  tracer/build/PackageVersionsGeneratorDefinitions.json
  tracer/build/PackageVersionsLatestMajors.g.props
  tracer/build/PackageVersionsLatestMinors.g.props
  tracer/dependabot/Datadog.Dependabot.Integrations.csproj
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/GraphQLTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersions.g.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestMajors.g.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestMinors.g.cs
  tracer/test/test-applications/integrations/Samples.GraphQL4/Samples.GraphQL4.csproj
Labels: area:tests, area:test-apps

#2261 more clean up in `SpanContextPropagator.Extract()`
  tracer/src/Datadog.Trace/Headers/HeadersCollectionAdapter.cs
  tracer/src/Datadog.Trace/SpanContextPropagator.cs
  tracer/test/Datadog.Trace.Tests/SpanContextPropagatorTests.cs
Labels: area:tracer, type:cleanup

#2280 Add artifact tests for the dd-trace tool artifacts
  .azure-pipelines/ultimate-pipeline.yml
  Datadog.Trace.sln
  tracer/build/_build/Build.Steps.cs
  tracer/build/_build/Build.cs
  tracer/build/_build/Projects.cs
  tracer/test/Datadog.Trace.TestHelpers/ProcessHelper.cs
  tracer/test/Datadog.Trace.Tools.Runner.ArtifactTests/Datadog.Trace.Tools.Runner.ArtifactTests.csproj
  tracer/test/Datadog.Trace.Tools.Runner.ArtifactTests/LegacyCommandLineArgumentsTests.cs
Labels: area:tests

#2294 Add `#if NETFRAMEWORK` to System.Web integrations
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AspNet/ExceptionHandlerExtensions_HandleAsync_Integration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AspNet/ThreadContext_AssociateWithCurrentThread_Integration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AspNet/ThreadContext_DisassociateFromCurrentThread_Integration.cs
Labels: area:integrations, type:cleanup

#2178 add initial support for `x-datadog-tags` propagation header (horizontal propagation)
  tracer/src/Datadog.Trace/HttpHeaderNames.cs
  tracer/src/Datadog.Trace/SpanContext.cs
  tracer/src/Datadog.Trace/SpanContextPropagator.cs
  tracer/src/Datadog.Trace/TraceContext.cs
  tracer/test/Datadog.Trace.Tests/Snapshots/PublicApiTests.PublicApiHasNotChanged.verified.txt
  tracer/test/Datadog.Trace.Tests/SpanContextPropagatorTests.cs
Labels: area:tracer, type:new-feature, area:tests

#2296 A no-op pipeline for non code PRs
  .azure-pipelines/noop-pipeline.yml
  .azure-pipelines/ultimate-pipeline.yml
Labels: area:builds

#2303 Fix the no-op pipeline (for real?)
  .azure-pipelines/noop-pipeline.yml
  .azure-pipelines/ultimate-pipeline.yml
Labels: area:builds

#2304 Delete outdated blog entry
  blog/2020-09-15-datadog-apm-in-azure-service-fabric.md
Labels: area:docs

#2288 Use a source generator to build InstrumentationDefinitions
  tracer/src/Datadog.Trace.SourceGenerators/Constants.cs
  tracer/src/Datadog.Trace.SourceGenerators/InstrumentationDefinitions/AdoNetSignature.cs
  tracer/src/Datadog.Trace.SourceGenerators/InstrumentationDefinitions/CallTargetDefinitionSource.cs
  tracer/src/Datadog.Trace.SourceGenerators/InstrumentationDefinitions/Constants.cs
  tracer/src/Datadog.Trace.SourceGenerators/InstrumentationDefinitions/Diagnostics/InvalidVersionFormatDiagnostic.cs
  tracer/src/Datadog.Trace.SourceGenerators/InstrumentationDefinitions/Diagnostics/MissingRequiredPropertyDiagnostic.cs
  tracer/src/Datadog.Trace.SourceGenerators/InstrumentationDefinitions/Diagnostics/UnknownAdoNetSignatureNameDiagnostic.cs
  tracer/src/Datadog.Trace.SourceGenerators/InstrumentationDefinitions/InstrumentationDefinitionsGenerator.cs
  tracer/src/Datadog.Trace.SourceGenerators/InstrumentationDefinitions/Sources.cs
  tracer/src/Datadog.Trace.SourceGenerators/TagsListGenerator/Constants.cs
  tracer/src/Datadog.Trace.SourceGenerators/TagsListGenerator/Diagnostics/DuplicateAttributeDiagnostic.cs
  tracer/src/Datadog.Trace.SourceGenerators/TagsListGenerator/Diagnostics/InvalidKeyDiagnostic.cs
  tracer/src/Datadog.Trace.SourceGenerators/TagsListGenerator/Diagnostics/InvalidMetricPropertyReturnTypeDiagnostic.cs
  tracer/src/Datadog.Trace.SourceGenerators/TagsListGenerator/Diagnostics/InvalidTagPropertyReturnTypeDiagnostic.cs
  tracer/src/Datadog.Trace.SourceGenerators/TagsListGenerator/Diagnostics/InvalidUseOfOriginDiagnostic.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AdoNet/AdoNetClientInstrumentMethodAttribute.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AdoNet/AdoNetClientInstrumentMethodsAttribute.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AdoNet/AdoNetConstants.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AdoNet/AdoNetDefinitions.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AdoNet/MySql/MySqlConstants.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AdoNet/MySql/MySqlDefinitions.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AdoNet/Npgsql/NpgsqlConstants.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AdoNet/Npgsql/NpgsqlDefinitions.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AdoNet/Oracle/OracleConstants.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AdoNet/Oracle/OracleDefinitions.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AdoNet/SqlClient/SqlClientConstants.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AdoNet/SqlClient/SqlClientDefinitions.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AdoNet/Sqlite/SqliteConstants.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AdoNet/Sqlite/SqliteDefinitions.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/GraphQL/ExecuteAsyncIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/GraphQL/GraphQLCommon.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/GraphQL/GraphQLExecuteAsyncAttribute.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/MongoDb/IWireProtocol_ExecuteAsync_Integration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/MongoDb/IWireProtocol_Execute_Integration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/MongoDb/IWireProtocol_Generic_Execute_Integration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/MongoDb/MongoDbExecuteAsyncAttribute.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/MongoDb/MongoDbExecuteAttribute.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/MongoDb/MongoDbInstrumentMethodAttribute.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Redis/StackExchange/RedisExecuteAsyncInstrumentMethodAttribute.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Redis/StackExchange/RedisExecuteAsyncIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Redis/StackExchange/RedisExecuteSyncInstrumentMethodAttribute.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Redis/StackExchange/RedisExecuteSyncIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/InstrumentMethodAttribute.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.InstrumentationDefinitions.InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.InstrumentationDefinitions.InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.InstrumentationDefinitions.InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/test/Datadog.Trace.SourceGenerators.Tests/InstrumentationDefinitionsGeneratorTests.cs
  tracer/test/Datadog.Trace.SourceGenerators.Tests/TestHelpers.cs
Labels: area:tracer, area:builds, area:integrations

#2305 Delete the old UpdateIntegrationDefinitions Nuke target
  .github/workflows/auto_bump_test_package_versions.yml
  .github/workflows/create_version_bump_pr.yml
  tracer/build/_build/Build.GitHub.cs
  tracer/build/_build/Build.Utilities.cs
  tracer/build/_build/Honeypot/DependabotFileManager.cs
  tracer/build/_build/PrepareRelease/CallTargetDefinitionSource.cs
  tracer/build/_build/PrepareRelease/GenerateIntegrationDefinitions.cs
  tracer/build/_build/PrepareRelease/InstrumentedAssembly.cs
  tracer/build/_build/PrepareRelease/IntegrationType.cs
Labels: area:builds

#2310 Add documentation for new InstrumentationDefinitions generator
  .azure-pipelines/noop-pipeline.yml
  .azure-pipelines/ultimate-pipeline.yml
  tracer/README.MD
  tracer/src/Datadog.Trace/ClrProfiler/README.md
Labels: area:docs

#2317 Add some more documentation
  docs/development/AutomaticInstrumentation.md
  docs/development/DuckTyping.md
  tracer/README.MD
Labels: area:docs

#2319 Bump the version of SourceLink
  tracer/src/Datadog.Trace.OpenTracing/Datadog.Trace.OpenTracing.csproj
  tracer/src/Datadog.Trace/Datadog.Trace.csproj
Labels: dependencies

#2329 Fix some test data
  tracer/test/Datadog.Trace.DuckTyping.Tests/Errors/Fields/ReferenceType/ReferenceTypeFieldErrorTests.cs
  tracer/test/Datadog.Trace.DuckTyping.Tests/Errors/Fields/TypeChaining/TypeChainingFieldErrorTests.cs
  tracer/test/Datadog.Trace.DuckTyping.Tests/Errors/Fields/ValueType/ValueTypeFieldErrorTests.cs
  tracer/test/Datadog.Trace.DuckTyping.Tests/Errors/Methods/Generics/GenericMethodErrorTests.cs
  tracer/test/Datadog.Trace.DuckTyping.Tests/Errors/Methods/NonGenerics/NonGenericMethodErrorTests.cs
  tracer/test/Datadog.Trace.DuckTyping.Tests/Errors/Properties/ReferenceType/ReferenceTypePropertyErrorTests.cs
  tracer/test/Datadog.Trace.DuckTyping.Tests/Errors/Properties/TypeChaining/TypeChainingPropertyErrorTests.cs
  tracer/test/Datadog.Trace.DuckTyping.Tests/Errors/Properties/ValueType/ValueTypePropertyErrorTests.cs
  tracer/test/Datadog.Trace.DuckTyping.Tests/Fields/ReferenceType/ReferenceTypeFieldTests.cs
  tracer/test/Datadog.Trace.DuckTyping.Tests/Fields/TypeChaining/TypeChainingFieldTests.cs
  tracer/test/Datadog.Trace.DuckTyping.Tests/Fields/ValueType/ValueTypeFieldTests.cs
  tracer/test/Datadog.Trace.DuckTyping.Tests/Methods/MethodTests.cs
  tracer/test/Datadog.Trace.DuckTyping.Tests/ObscureObject.cs
  tracer/test/Datadog.Trace.DuckTyping.Tests/Properties/ReferenceType/ReferenceTypePropertyTests.cs
  tracer/test/Datadog.Trace.DuckTyping.Tests/Properties/TypeChaining/TypeChainingPropertyTests.cs
  tracer/test/Datadog.Trace.DuckTyping.Tests/Properties/ValueType/ValueTypePropertyTests.cs
  tracer/test/Datadog.Trace.IntegrationTests/DiagnosticListeners/AspNetCoreRazorPagesTestData.cs
Labels: area:tests

#2324 Make releases instant(ish)
  .azure-pipelines/ultimate-pipeline.yml
  .github/workflows/auto_add_vnext_milestone_to_pr.yml
  .github/workflows/auto_create_version_bump_pr.yml
  .github/workflows/auto_update_benchmark_branches.yml
  .github/workflows/create_draft_release.yml
  .github/workflows/create_hotfix_branch.yml
  .github/workflows/force_manual_version_bump.yml
  tracer/build/_build/Build.GitHub.cs
Labels: area:builds

#2332 Simplify direct log submission configuration (especially AAS)
  tracer/src/Datadog.Trace/Configuration/ConfigurationKeys.DirectLogSubmission.cs
  tracer/src/Datadog.Trace/Configuration/ConfigurationKeys.cs
  tracer/src/Datadog.Trace/Logging/DirectSubmission/DirectLogSubmissionSettings.cs
  tracer/test/Datadog.Trace.Tests/Logging/DirectSubmission/DirectLogSubmissionSettingsTests.cs
  tracer/test/Datadog.Trace.Tests/Logging/DirectSubmission/ImmutableDirectLogSubmissionSettingsTests.cs
Labels: type:enhancement, area:logs-injection

#2335 Fix force version-bump action
  .github/workflows/force_manual_version_bump.yml
Labels: area:builds

#2334 Fix no-op pipeline running when it shouldn't
  .azure-pipelines/noop-pipeline.yml
  .azure-pipelines/ultimate-pipeline.yml
  tracer/build/_build/Build.VariableGenerations.cs
Labels: area:builds

#2342 Actually fix noop-pipeline
  tracer/build/_build/Build.VariableGenerations.cs
Labels: area:builds

#2340 [Releases][Artifacts] Automatic upload of MSIs and Nugets
  .github/workflows/create_draft_release.yml
  .gitlab-ci.yml
  tracer/build/_build/Build.GitHub.cs
Labels: area:builds

#2186 Decouple starting processes from Tracer Initialization
  tracer/src/Datadog.Trace.ClrProfiler.Managed.Loader/Startup.cs
  tracer/src/Datadog.Trace.ClrProfiler.Native/cor_profiler.cpp
  tracer/src/Datadog.Trace.ClrProfiler.Native/environment_variables.h
  tracer/src/Datadog.Trace.ClrProfiler.Native/environment_variables_util.h
  tracer/src/Datadog.Trace/AgentProcessManager.cs
  tracer/src/Datadog.Trace/PlatformHelpers/AzureAppServices.cs
  tracer/src/Datadog.Trace/Tracer.cs
  tracer/test/Datadog.Trace.Tests/PlatformHelpers/AzureAppServicesTests.cs
Labels: area:azure-site-extension, needs-docs-update

#2233 [Serverless] auto instrument lambda handler
  .azure-pipelines/ultimate-pipeline.yml
  Datadog.Trace.sln
  docker-compose.yml
  tracer/build/_build/Build.Steps.cs
  tracer/build/_build/docker/serverless.lambda.dockerfile
  tracer/build/_build/docker/serverless.tracecontextmock.dockerfile
  tracer/src/Datadog.Trace/ClrProfiler/Instrumentation.cs
  tracer/src/Datadog.Trace/ClrProfiler/ServerlessInstrumentation/AWS/LambdaCommon.cs
  tracer/src/Datadog.Trace/ClrProfiler/ServerlessInstrumentation/AWS/LambdaNoParam.cs
  tracer/src/Datadog.Trace/ClrProfiler/ServerlessInstrumentation/AWS/LambdaOneParam.cs
  tracer/src/Datadog.Trace/ClrProfiler/ServerlessInstrumentation/AWS/LambdaTwoParams.cs
  tracer/src/Datadog.Trace/ClrProfiler/ServerlessInstrumentation/LambdaHandler.cs
  tracer/src/Datadog.Trace/ClrProfiler/ServerlessInstrumentation/Serverless.cs
  tracer/src/Datadog.Trace/HttpHeaderNames.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AWS/AwsLambdaTests.cs
  tracer/test/Datadog.Trace.TestHelpers/EnvironmentHelper.cs
  tracer/test/Datadog.Trace.TestHelpers/MockTracerAgent.cs
  tracer/test/Datadog.Trace.Tests/LambdaHandlerTests.cs
  tracer/test/Datadog.Trace.Tests/ServerlessTests.cs
  tracer/test/Datadog.Trace.Tests/Snapshots/PublicApiTests.PublicApiHasNotChanged.verified.txt
  tracer/test/test-applications/integrations/Samples.AWS.Lambda/Program.cs
  tracer/test/test-applications/integrations/Samples.AWS.Lambda/Properties/launchSettings.json
  tracer/test/test-applications/integrations/Samples.AWS.Lambda/Samples.AWS.Lambda.csproj
Labels: area:tracer, area:integrations, area:tests

#2348 Add retry to cosmosdb initialization
  .azure-pipelines/ultimate-pipeline.yml
Labels: area:builds

#2309 add `SpanContext.None`
  tracer/src/Datadog.Trace/ReadOnlySpanContext.cs
  tracer/src/Datadog.Trace/SpanContext.cs
  tracer/test/Datadog.Trace.Tests/Snapshots/PublicApiTests.PublicApiHasNotChanged.verified.txt
Labels: area:tracer

#2333 Incorrect http method: Fixing DiagnosticObserver when endpoint is not Microsoft.AspNetCore.R…
  tracer/src/Datadog.Trace/DiagnosticListeners/AspNetCoreDiagnosticObserver.cs
  tracer/src/Datadog.Trace/DiagnosticListeners/EndpointFeatureProxy.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AspNetCore/AspNetCoreMvc21WrongMethodTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AspNetCore/AspNetCoreMvc30WrongMethodTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AspNetCore/AspNetCoreMvc31WrongMethodTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AspNetCore/AspNetCoreMvcTestBase.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AspNetCore/AspNetCoreMvcWrongMethodTestBase.cs
  tracer/test/snapshots/AspNetCoreMvc21WrongMethodTests.__path=_.verified.txt
  tracer/test/snapshots/AspNetCoreMvc21WrongMethodTests.__path=_delay_0.verified.txt
  tracer/test/snapshots/AspNetCoreMvc30WrongMethodTests.__path=_.verified.txt
  tracer/test/snapshots/AspNetCoreMvc30WrongMethodTests.__path=_delay_0.verified.txt
  tracer/test/snapshots/AspNetCoreMvc31WrongMethodTests.__path=_.verified.txt
  tracer/test/snapshots/AspNetCoreMvc31WrongMethodTests.__path=_delay_0.verified.txt
  tracer/test/test-applications/integrations/Samples.AspNetCoreMvc21/Controllers/HomeController.cs
Labels: area:tracer

#2345 Add env variable in CI builds to select a specific ref for the continuous profiler build
  .azure-pipelines/ultimate-pipeline.yml
  .gitlab-ci.yml
Labels: area:builds

#2129 [AppSec] Conform to new standard logs docs and remove some spammy logs
  tracer/src/Datadog.Trace/AppSec/InstrumentationGateway.cs
  tracer/src/Datadog.Trace/AppSec/Security.cs
  tracer/src/Datadog.Trace/AppSec/Waf/Context.cs
  tracer/src/Datadog.Trace/AppSec/Waf/Encoder.cs
  tracer/src/Datadog.Trace/AppSec/Waf/Initialization/WafConfigurator.cs
  tracer/src/Datadog.Trace/AppSec/Waf/Waf.cs
Labels: area:app-sec

#2363 Don't install the .NET tool in the CI build
  .azure-pipelines/setup_tracer.ps1
  .azure-pipelines/ultimate-pipeline.yml
Labels: area:builds

#2350 [AppSec] Rate Limiter for appsec traces
  tracer/src/Datadog.Trace/AppSec/RateLimiterTimer.cs
  tracer/src/Datadog.Trace/AppSec/Security.cs
  tracer/src/Datadog.Trace/AppSec/SecuritySettings.cs
  tracer/src/Datadog.Trace/Configuration/ConfigurationKeys.cs
  tracer/src/Datadog.Trace/Metrics.cs
  tracer/src/Datadog.Trace/TracerManager.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/AspNetBase.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/AspNetCore2.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/AspNetCore2RateLimiter.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/AspNetCore5.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/AspNetCore5ExternalRules.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/AspNetCore5RateLimiter.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/AspNetMvc5.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/AspNetMvc5RateLimiter.cs
  tracer/test/test-applications/security/aspnet/Samples.AspNetMvc5/Samples.AspNetMvc5.csproj
Labels: area:app-sec
