Repository DataDog/dd-trace-dotnet, pull requests merged in 2022-08, with the labels that each got.

#3035 Use macos-11 for builds instead of macos-10.15 as that is deprecated
  .azure-pipelines/ultimate-pipeline.yml
Labels: area:builds

#3030 Disable non-deterministic tests
  tracer/test/Datadog.Trace.Tests/Debugger/LiveDebuggerTests.cs
Labels: area:tests, area:debugger

#3038 [Profiler] Check profiler log files for smoke tests
  tracer/build/_build/Build.Steps.cs
Labels: area:builds, area:profiler

#3021 [Profiler] Do not build the profiler native code in parallel for ASAN
  .github/workflows/profiler-pipeline.yml
Labels: area:builds, area:profiler

#3033 Fix possible zero in traceid or spanid
  tracer/src/Datadog.Trace/Util/SpanIdGenerator.cs
Labels: type:bug, area:tracer

#3024 Allow null filenames in MultipartItem when using HttpClientRequest
  tracer/src/Datadog.Trace/Agent/MultipartFormItem.cs
  tracer/src/Datadog.Trace/Agent/Transports/HttpClientRequest.cs
Labels: type:bug, area:tracer, area:ci-visibility

#2867 [Profiler] Use uws_backtrace for stackwalking on Linux
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/LinuxStackFramesCollector.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Windows/Windows32BitStackFramesCollector.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Windows/Windows32BitStackFramesCollector.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Windows/Windows64BitStackFramesCollector.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Windows/Windows64BitStackFramesCollector.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Datadog.Profiler.Native.vcxproj
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Datadog.Profiler.Native.vcxproj.filters
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ExceptionsProvider.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/OsSpecificApi.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/StackFramesCollectorBase.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/StackFramesCollectorBase.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/StackSnapshotResultBuffer.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/StackSnapshotResultBuffer.h
  profiler/test/Datadog.Profiler.Native.Tests/Datadog.Profiler.Native.Tests.vcxproj
  profiler/test/Datadog.Profiler.Native.Tests/Datadog.Profiler.Native.Tests.vcxproj.filters
  profiler/test/Datadog.Profiler.Native.Tests/StackSnapshotResultBufferTest.cpp
Labels: area:profiler

#3018 [CI Visibility] Disable non testhost proc instrumentation on dotnet command
  tracer/src/Datadog.Trace/Ci/CIVisibility.cs
  tracer/src/Datadog.Trace/ClrProfiler/Instrumentation.cs
Labels: area:ci-visibility

#3034 [CI Visibility] Stop using OS separator in relative paths
  tracer/src/Datadog.Trace/Ci/Coverage/DefaultCoverageEventHandler.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/Common.cs
Labels: area:ci-visibility

#3039 [CI Visibility] Fix Coverage version type
  tracer/src/Datadog.Trace/Ci/Agent/MessagePack/CoveragePayloadMessagePackFormatter.cs
  tracer/src/Datadog.Trace/Ci/Coverage/Models/CoveragePayload.cs
Labels: area:ci-visibility

#3036 Always use native loader for tests (part of package layout update)
  .azure-pipelines/ultimate-pipeline.yml
  tracer/test/Datadog.Trace.TestHelpers/EnvironmentHelper.cs
  tracer/test/Datadog.Trace.TestHelpers/InstrumentationVerification.cs
  tracer/test/Datadog.Trace.TestHelpers/TestHelper.cs
  tracer/test/Datadog.Trace.Tests/MultipartFormTests.cs
  tracer/test/Datadog.Trace.Tools.Runner.IntegrationTests/Checks/IisCheckTests.cs
  tracer/test/Datadog.Trace.Tools.Runner.IntegrationTests/Checks/ProcessBasicChecksTests.cs
Labels: area:builds, area:tests

#2998 [Profiler] Implement ICorProfilerCallback::EventPipeEventDelivered to receive CLR events synchronously
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/AllocationsProvider.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/AllocationsProvider.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ClrEventsParser.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ClrEventsParser.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CollectorBase.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Configuration.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Configuration.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CorProfilerCallback.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CorProfilerCallback.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Datadog.Profiler.Native.vcxproj
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Datadog.Profiler.Native.vcxproj.filters
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/EnvironmentVariables.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ExceptionsProvider.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ExceptionsProvider.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/IAllocationsListener.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/IConfiguration.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/RawAllocationSample.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Sample.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Sample.h
  profiler/test/Datadog.Profiler.Native.Tests/ProfilerMockedInterface.h
Labels: area:profiler

#3052 Fix OSX native loader build issue
  .azure-pipelines/ultimate-pipeline.yml
  shared/src/Datadog.Trace.ClrProfiler.Native/cor_profiler.cpp
  shared/src/Datadog.Trace.ClrProfiler.Native/instrumented_assembly_generator/instrumented_assembly_generator_helper.h
  shared/src/Datadog.Trace.ClrProfiler.Native/instrumented_assembly_generator/instrumented_assembly_generator_metadata_interfaces.cpp
  shared/src/native-src/string.h
Labels: area:native-library, area:shared-components

#3055 [AppSec] Enable AppSec in installer smoke tests
  tracer/build/_build/docker/smoke.dockerfile
  tracer/build/_build/docker/smoke.dotnet-tool.dockerfile
  tracer/build/_build/docker/smoke.nuget.dockerfile
  tracer/build/_build/docker/smoke.windows.dockerfile
  tracer/build/_build/docker/smoke.windows.dotnet-tool.dockerfile
  tracer/build/_build/docker/smoke.windows.nuget.dockerfile
  tracer/build/_build/docker/smoke.windows.tracer-home.dockerfile
  tracer/build/smoke_test_snapshots/smoke_test_snapshots.json
  tracer/build/smoke_test_snapshots/smoke_test_snapshots_2_1.json
Labels: area:builds, area:tests, area:app-sec

#3046 [CIVisibility] Change build file and CODEOWNERS
  .github/CODEOWNERS
  .github/labeller.yml
  tracer/build/_build/Build.GitHub.cs
Labels: area:builds, area:ci-visibility

#3031 [CI] Allow throughput to run on benchmark branches
  .azure-pipelines/ultimate-pipeline.yml
Labels: area:builds

#3032 [CI Visibility] Refactor CI Visibility payloads with the EvpPayload abstraction
  tracer/src/Datadog.Trace/Ci/Agent/CIAgentlessWriter.cs
  tracer/src/Datadog.Trace/Ci/Agent/CIWriterFileSender.cs
  tracer/src/Datadog.Trace/Ci/Agent/CIWriterHttpSender.cs
  tracer/src/Datadog.Trace/Ci/Agent/ICIAgentlessWriterSender.cs
  tracer/src/Datadog.Trace/Ci/Agent/Payloads/CICodeCoveragePayload.cs
  tracer/src/Datadog.Trace/Ci/Agent/Payloads/CITestCyclePayload.cs
  tracer/src/Datadog.Trace/Ci/Agent/Payloads/CIVisibilityProtocolPayload.cs
  tracer/src/Datadog.Trace/Ci/Agent/Payloads/EventPlatformPayload.cs
  tracer/src/Datadog.Trace/Ci/Agent/Payloads/MultipartPayload.cs
  tracer/src/Datadog.Trace/Ci/CITracerManagerFactory.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/Agent/CIAgentlessWriterTests.cs
Labels: type:refactor, area:ci-visibility

#3062 Enable debug logs for smoke test
  tracer/build/_build/docker/smoke.dockerfile
  tracer/build/_build/docker/smoke.dotnet-tool.dockerfile
  tracer/build/_build/docker/smoke.nuget.dockerfile
  tracer/build/_build/docker/smoke.windows.dockerfile
  tracer/build/_build/docker/smoke.windows.dotnet-tool.dockerfile
  tracer/build/_build/docker/smoke.windows.nuget.dockerfile
  tracer/build/_build/docker/smoke.windows.tracer-home.dockerfile
Labels: area:builds

#3037 [Ci Visibility] - Update logs format to the new spec
  tracer/src/Datadog.Trace/Ci/Logging/DirectSubmission/CIVisibilityLogEvent.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/XUnit/XUnitTestOutputHelperQueueTestOutputIntegration.cs
  tracer/src/Datadog.Trace/Logging/DirectSubmission/Formatting/LogFormatter.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/XUnitTests.cs
  tracer/test/Datadog.Trace.TestHelpers/MockLogsIntake.cs
  tracer/test/Datadog.Trace.Tests/MockLogsIntakeTests.cs
Labels: area:integrations, area:ci-visibility

#3067 Add note on 'round-tripping' to Instrumentation Verification doc
  docs/InstrumentationVerification/InstrumentationVerification.md
Labels: area:docs

#3065 Run MSI smoke tests against x86 runtime with the x64 installer
  tracer/build/_build/Build.VariableGenerations.cs
Labels: area:builds, area:tests

#3057 [Profiler] Try to use default UDS path on Linux
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/LibddprofExporter.cpp
Labels: area:profiler

#3050 [Profiler] Disable profiler when running in a container with <1 CPU
  .azure-pipelines/steps/run-in-docker.yml
  .azure-pipelines/ultimate-pipeline.yml
  LICENSE-3rdparty.csv
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Configuration.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Configuration.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CorProfilerCallback.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Datadog.Profiler.Native.vcxproj
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Datadog.Profiler.Native.vcxproj.filters
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/EnvironmentVariables.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/IConfiguration.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/OpSysTools.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/OpSysTools.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/cgroup.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/cgroup.h
  profiler/test/Datadog.Profiler.IntegrationTests/LinuxOnly/WrapperLibraryTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/SmokeTests/CpuLimitTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/SmokeTests/SmokeTestRunner.cs
  profiler/test/Datadog.Profiler.Native.Tests/ConfigurationTest.cpp
  profiler/test/Datadog.Profiler.Native.Tests/ProfilerMockedInterface.h
  tracer/build/_build/Build.Profiler.Steps.cs
Labels: area:profiler

#3045 [CI Visibility] Upload Git tree metadata
  tracer/src/Datadog.Trace/Ci/CITracerManagerFactory.cs
  tracer/src/Datadog.Trace/Ci/CIVisibility.cs
  tracer/src/Datadog.Trace/Ci/Configuration/CIVisibilitySettings.cs
  tracer/src/Datadog.Trace/Ci/IntelligentTestRunnerClient.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/Common.cs
  tracer/src/Datadog.Trace/Configuration/ConfigurationKeys.cs
  tracer/src/Datadog.Trace/Util/ProcessHelpers.cs
Labels: area:ci-visibility

#3068 Add a very simplistic snapshots checker
  .github/workflows/auto_check_snapshots.yml
  tracer/build/_build/Build.GitHub.cs
Labels: area:builds

#3070 Add a few smoke tests for the `dd-trace` NuGet package
  .azure-pipelines/ultimate-pipeline.yml
  docker-compose.yml
  tracer/build/_build/Build.VariableGenerations.cs
  tracer/build/_build/docker/smoke.dotnet-tool.nuget.dockerfile
Labels: area:builds, area:tests

#3069 Fix macOS logs and add `DD_INTERNAL_NATIVE_LOADER_PATH` env var
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/RuntimeIdStore.cpp
  shared/src/Datadog.Trace.ClrProfiler.Native/dynamic_dispatcher.cpp
  shared/src/native-src/logger.h
  tracer/src/Datadog.Tracer.Native/cor_profiler.cpp
Labels: area:native-library, area:shared-components

#3028 [Debugger] Fix issue where line probes with backslashes did not work
  Datadog.Trace.Debugger.slnf
  tracer/src/Datadog.Trace/Debugger/LineProbeResolver.cs
  tracer/src/Datadog.Trace/Debugger/LiveDebugger.cs
  tracer/src/Datadog.Trace/PDBs/DatadogPdbReader.cs
  tracer/src/Datadog.Trace/PDBs/dnlibAdditions/DssSymbolReaderImpl.Additions.cs
  tracer/src/Datadog.Trace/PDBs/dnlibAdditions/PdbReader.Additions.cs
  tracer/src/Datadog.Trace/PDBs/dnlibAdditions/PortablePdbReader.Additions.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/Debugger/LineProbeResolverTest.cs
  tracer/test/test-applications/debugger/Samples.Probes/SmokeTests/LambdaSingleLine.cs
Labels: area:debugger

#3080 Zippy1981/add note to update documentation when you add an instrumentation
  docs/development/AutomaticInstrumentation.md
Labels: area:docs

#3078 [Debugger] Leverage AdaptiveSampler for probes
  tracer/src/Datadog.Trace/Debugger/Instrumentation/LineDebuggerInvoker.cs
  tracer/src/Datadog.Trace/Debugger/Instrumentation/MethodDebuggerInvoker.cs
  tracer/src/Datadog.Trace/Debugger/Instrumentation/ProbeRateLimiter.cs
  tracer/src/Datadog.Trace/Debugger/LiveDebugger.cs
  tracer/src/Datadog.Trace/Debugger/RateLimiting/AdaptiveSampler.cs
  tracer/src/Datadog.Trace/Debugger/RateLimiting/AtomicInt64.cs
  tracer/src/Datadog.Trace/Debugger/RateLimiting/ProbeRateLimiter.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/Debugger/DebuggerTestHelper.cs
  tracer/test/Datadog.Trace.Tests/Debugger/AdaptiveSamplerTests.cs
Labels: area:debugger

#3083 Fix build error in OSX when using sdk version 6.0.400
  tracer/test/Datadog.Trace.SourceGenerators.Tests/Datadog.Trace.SourceGenerators.Tests.csproj
Labels: area:tests

#3073 [Profiler] Remove DD_DOTNET_PROFILER_HOME
  profiler/README.MD
  profiler/src/Demos/NoOpWcfService/Host/Program.cs
  profiler/src/Demos/NoOpWcfService/Properties/launchSettings.json
  profiler/src/Demos/Samples.BuggyBits/Properties/launchSettings.json
  profiler/src/Demos/Samples.Computer01/Properties/launchSettings.json
  profiler/src/Demos/Samples.ExceptionGenerator/Properties/launchSettings.json
  profiler/src/Demos/Samples.Website-AspNetCore01/Properties/launchSettings.json
  profiler/src/Demos/Shared/Util/EnvironmentInfo.cs
  profiler/src/Demos/WcfService/Client/Program.cs
  profiler/src/Demos/WcfService/Host/Program.cs
  profiler/src/ProfilerEngine/DeployResources/Activate-Installed-DotNet-Monitoring.bat
  profiler/src/ProfilerEngine/DeployResources/DDProf-SetEnv.bat
  profiler/src/ProfilerEngine/DeployResources/DDProf-SetEnv.ps1
  profiler/src/ProfilerEngine/DeployResources/DDProf-SetEnv.sh
Labels: area:profiler

#3091 [Profiler] Fix Sanitizer jobs
  profiler/src/ProfilerEngine/DeployResources/DDProf-SetEnv.sh
Labels: area:profiler

#3089 [Profiler] Improve error reported by libddprof
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/LinuxStackFramesCollector.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/LibddprofExporter.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/LibddprofExporter.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ScopeFinalizer.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/StackSamplerLoop.cpp
Labels: area:profiler

#3092 [Profiler] Remove beta version for the profiler
  .github/scripts/package_and_deploy.sh
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/LibddprofExporter.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/dd_profiler_version.h
  profiler/src/ProfilerEngine/ProductVersion.props
Labels: area:profiler

#3071 Small build tidy up - improve log file checking
  .azure-pipelines/ultimate-pipeline.yml
  tracer/build/_build/Build.Steps.cs
  tracer/build/_build/Build.Utilities.cs
  tracer/build/_build/Build.cs
Labels: area:builds, area:tests

#3086 [Snapshots] Add a note on version mismatch tests
  .github/workflows/auto_check_snapshots.yml
  tracer/build/_build/Build.GitHub.cs
  tracer/build/_build/Build.Utilities.cs
Labels: area:builds

#3076 More build tidying up
  .azure-pipelines/ultimate-pipeline.yml
  tracer/Datadog.Trace.proj
  tracer/build/_build/Build.Steps.cs
  tracer/src/Datadog.Trace.Tools.Runner/Datadog.Trace.Tools.Runner.csproj
  tracer/test/Datadog.Trace.TestHelpers/CustomTestFramework.cs
  tracer/test/Datadog.Trace.TestHelpers/EnvironmentHelper.cs
  tracer/test/Datadog.Trace.TestHelpers/GacFixture.cs
Labels: area:builds

#3074 Delete `UpdateMsiContents` Target and `SyncMsiContent`
  .github/workflows/auto_create_version_bump_pr.yml
  .github/workflows/create_hotfix_branch.yml
  .github/workflows/force_manual_version_bump.yml
  tracer/build/_build/Build.GitHub.cs
  tracer/build/_build/Build.Utilities.cs
  tracer/build/_build/PrepareRelease/SyncMsiContent.cs
Labels: area:builds

#3043 [Profiler] Update libunwind to 1.6.2
  profiler/build/cmake/FindLibunwind.cmake
Labels: area:profiler

#3058 [Profiler] Fix generic types name for exception and allocation profilers
  profiler/src/Demos/Samples.Computer01/ComputerService.cs
  profiler/src/Demos/Samples.Computer01/GenericsAllocation.cs
  profiler/src/Demos/Samples.Computer01/Program.cs
  profiler/src/Demos/Samples.Computer01/Properties/launchSettings.json
  profiler/src/Demos/Samples.ExceptionGenerator/GenericExceptionsScenario.cs
  profiler/src/Demos/Samples.ExceptionGenerator/Program.cs
  profiler/src/Demos/Samples.ExceptionGenerator/Properties/launchSettings.json
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/AllocationsProvider.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/AllocationsProvider.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/COMHelpers.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ClrEventsParser.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Datadog.Profiler.Native.vcxproj
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Datadog.Profiler.Native.vcxproj.filters
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ExceptionsProvider.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/FrameStore.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/FrameStore.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/IAllocationsListener.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/IFrameStore.h
  profiler/test/Datadog.Profiler.IntegrationTests/Allocations/AllocationsProfilerTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Helpers/EnvironmentVariables.cs
  profiler/test/Datadog.Profiler.Native.Tests/FrameStoreHelper.cpp
  profiler/test/Datadog.Profiler.Native.Tests/FrameStoreHelper.h
Labels: area:profiler

#3040 [Tracer] Send AAS and Sampling Prio on all trace chunks
  tracer/src/Datadog.Trace/AsyncLocalScopeManager.cs
  tracer/src/Datadog.Trace/TraceContext.cs
  tracer/test/Datadog.Trace.Tests/PlatformHelpers/AzureAppServicesTests.cs
  tracer/test/Datadog.Trace.Tests/TraceContextTests.cs
Labels: area:tracer

#3104 Force fpm gem install to not update dependencies
  tracer/build/_build/docker/alpine.dockerfile
  tracer/build/_build/docker/centos7.dockerfile
  tracer/build/_build/docker/debian.dockerfile
Labels: area:builds

#3096 [CIVisibility] Fix CIAgentlessWriter flush algorithm
  tracer/src/Datadog.Trace/Ci/Agent/CIAgentlessWriter.cs
  tracer/src/Datadog.Trace/Ci/Agent/MessagePack/SpanEventMessagePackFormatter.cs
  tracer/src/Datadog.Trace/Ci/Agent/MessagePack/TestEventMessagePackFormatter.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/Agent/CIAgentlessWriterTests.cs
Labels: type:bug, area:ci-visibility

#3095 Centralise handling of HTTP requests in `MockTracerAgent`
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AspNet/OwinWebApi2Tests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AspNetCore/AspNetCoreMvcTestBase.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/Debugger/ProbesTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/ILoggerTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/Log4NetTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/NLogTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/NoMultiLoaderTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/SerilogTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/TelemetryTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/TransportTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/VersionConflict/Log4NetVersionConflict2xTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/VersionConflict/NLog10VersionConflict2xTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/VersionConflict/NLog20VersionConflict2xTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/VersionConflict/NLogVersionConflict2xTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/VersionConflict/Serilog14VersionConflict2xTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/VersionConflict/SerilogVersionConflict2xTests.cs
  tracer/test/Datadog.Trace.IntegrationTests/ContainerTaggingTests.cs
  tracer/test/Datadog.Trace.IntegrationTests/StatsTests.cs
  tracer/test/Datadog.Trace.OpenTracing.IntegrationTests/OpenTracingSendTracesToAgent.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/AspNetBase.cs
  tracer/test/Datadog.Trace.TestHelpers/EnvironmentHelper.cs
  tracer/test/Datadog.Trace.TestHelpers/IisFixture.cs
  tracer/test/Datadog.Trace.TestHelpers/MockHttpParser.cs
  tracer/test/Datadog.Trace.TestHelpers/MockTracerAgent.cs
  tracer/test/Datadog.Trace.Tests/DogStatsDTests.cs
  tracer/test/Datadog.Trace.Tests/MultipartFormTests.cs
  tracer/test/Datadog.Trace.Tests/TracerInstanceTest.cs
  tracer/test/Datadog.Trace.Tools.Runner.IntegrationTests/BaseRunCommandTests.cs
  tracer/test/Datadog.Trace.Tools.Runner.IntegrationTests/Checks/AgentConnectivityCheckTests.cs
  tracer/test/Datadog.Trace.Tools.Runner.IntegrationTests/Checks/ConsoleTestHelper.cs
  tracer/test/Datadog.Trace.Tools.Runner.IntegrationTests/LegacyCommandLineArgumentsTests.cs
  tracer/test/test-applications/debugger/Samples.Probes/.gitignore
  tracer/test/test-applications/debugger/Samples.Probes/probes_definition.json
Labels: area:tests

#3100 Add .NET Framework 4.8.1 to `FrameworkDescription`
  tracer/src/Datadog.Trace/FrameworkDescription.cs
Labels: area:tracer

#3101 Increase smoke tests timeout
  .azure-pipelines/ultimate-pipeline.yml
Labels: area:builds

#3105 Use default monitoringHome path if env var is empty
  tracer/test/Datadog.Trace.TestHelpers/EnvironmentHelper.cs
Labels: area:tests

#3109 Add `unchecked` to FNV hash calculations
  tracer/src/Datadog.Trace/Util/FnvHash64.cs
Labels: area:tracer

#3064 [Debugger] Fixed serialization issues in producing snapshots
  .github/CODEOWNERS
  tracer/src/Datadog.Trace/Debugger/Models/ProbeSnapshot.cs
  tracer/src/Datadog.Trace/Debugger/Snapshots/DebuggerSnapshotSerializer.cs
  tracer/src/Datadog.Trace/PDBs/DatadogPdbReader.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/Debugger/ProbesTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/Debugger/snapshots/ProbesTests.MethodProbeTest_testType=Samples.Probes.SmokeTests.MultidimensionalArrayTest.verified.txt
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/Debugger/statuses/ProbesTests.MethodProbeTest_testType=Samples.Probes.SmokeTests.MultidimensionalArrayTest.verified.txt
  tracer/test/test-applications/debugger/Samples.Probes/SmokeTests/MultidimensionalArrayTest.cs
Labels: area:debugger

#3093 [Profiler] Add new profile tags
  profiler/src/Demos/Samples.ExceptionGenerator/Properties/launchSettings.json
  profiler/src/Demos/Shared/Util/EnvironmentInfo.cs
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CorProfilerCallback.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CorProfilerCallback.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Datadog.Profiler.Native.vcxproj
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Datadog.Profiler.Native.vcxproj.filters
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/EnabledProfilers.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/EnabledProfilers.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/EnumHelpers.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/IEnabledProfilers.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/IRuntimeInfo.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/LibddprofExporter.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/LibddprofExporter.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/RuntimeInfo.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/RuntimeInfo.h
  profiler/test/Datadog.Profiler.Native.Tests/Datadog.Profiler.Native.Tests.vcxproj
  profiler/test/Datadog.Profiler.Native.Tests/Datadog.Profiler.Native.Tests.vcxproj.filters
  profiler/test/Datadog.Profiler.Native.Tests/LibddprofExporterTest.cpp
  profiler/test/Datadog.Profiler.Native.Tests/RuntimeInfoHelper.cpp
  profiler/test/Datadog.Profiler.Native.Tests/RuntimeInfoHelper.h
Labels: area:profiler

#3114 [Tracer] Exit early during automatic instrumentation when the application is .NET Core 1.x
  tracer/src/Datadog.Tracer.Native/cor_profiler.cpp
Labels: type:bug

#3116 Make sure we throw if uploading artifacts to S3 fails in gitlab
  .gitlab-ci.yml
Labels: area:builds

#3102 Fix build when using C#11
  tracer/src/Datadog.Trace/ClrProfiler/CallTarget/CallTargetInvoker.cs
Labels: area:tracer

#3047 [Tracer] Add tests for stats computation feature
  tracer/src/Datadog.Trace/Agent/StatsAggregator.cs
  tracer/test/Datadog.Trace.IntegrationTests/StatsTests.cs
  tracer/test/Datadog.Trace.Tests/Agent/StatsAggregatorTests.cs
Labels: area:tests

#3053 [Tracer] Add telemetry for the stats computation feature
  tracer/src/Datadog.Trace/Telemetry/Collectors/ConfigurationTelemetryCollector.cs
  tracer/src/Datadog.Trace/Telemetry/DTOs/ConfigTelemetryData.cs
Labels: area:tracer

#3118 Automatically trigger AAS deploy with code freeze
  .github/workflows/code_freeze_start.yml
Labels: area:builds

#2990 [Profiler] Use libdatadog as buffer
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CorProfilerCallback.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CorProfilerCallback.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Datadog.Profiler.Native.vcxproj
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Datadog.Profiler.Native.vcxproj.filters
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ISamplesCollector.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/LibddprofExporter.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/LibddprofExporter.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Sample.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Sample.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/SamplesAggregator.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/SamplesAggregator.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/SamplesCollector.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/SamplesCollector.h
  profiler/test/Datadog.Profiler.Native.Tests/Datadog.Profiler.Native.Tests.vcxproj
  profiler/test/Datadog.Profiler.Native.Tests/Datadog.Profiler.Native.Tests.vcxproj.filters
  profiler/test/Datadog.Profiler.Native.Tests/ProfilerMockedInterface.h
  profiler/test/Datadog.Profiler.Native.Tests/SamplesAggregatorTest.cpp
  profiler/test/Datadog.Profiler.Native.Tests/SamplesCollectorTest.cpp
Labels: area:profiler

#3124 [ASM] Increase waf timeout for all integration tests
  Datadog.Trace.Security.slnf
  tracer/test/Datadog.Trace.Security.IntegrationTests/AspNetBase.cs
Labels: area:asm

#3115 [Profiler] Add contention profiler based on Clr Events
  profiler/src/Demos/Samples.Computer01/ComputerService.cs
  profiler/src/Demos/Samples.Computer01/ContentionGenerator.cs
  profiler/src/Demos/Samples.Computer01/Program.cs
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Windows/Datadog.Profiler.Native.Windows.vcxproj
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ClrEventsParser.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ClrEventsParser.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Configuration.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Configuration.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ContentionProvider.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ContentionProvider.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CorProfilerCallback.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CorProfilerCallback.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Datadog.Profiler.Native.vcxproj
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Datadog.Profiler.Native.vcxproj.filters
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/EnabledProfilers.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/EnvironmentVariables.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/IConfiguration.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/IContentionListener.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/IEnabledProfilers.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/LibddprofExporter.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/RawContentionSample.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Sample.h
  profiler/test/Datadog.Profiler.IntegrationTests/Allocations/AllocationsProfilerTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Contention/ContentionProfilerTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Helpers/EnvironmentVariables.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Helpers/SkippableTestCase.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Helpers/TestAppFact.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Helpers/TestAppFrameworkDiscover.cs
  profiler/test/Datadog.Profiler.Native.Tests/ConfigurationTest.cpp
  profiler/test/Datadog.Profiler.Native.Tests/ProfilerMockedInterface.h
Labels: area:profiler

#3121 [Profiler] Activate the CPU profiling by default
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Configuration.cpp
  profiler/test/Datadog.Profiler.IntegrationTests/Allocations/AllocationsProfilerTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Contention/ContentionProfilerTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/CpuProfiler/CpuProfilerTest.cs
  profiler/test/Datadog.Profiler.Native.Tests/ConfigurationTest.cpp
Labels: area:profiler

#3111 [Profiler] Update libdatadog to 0.8.0
  profiler/build/cmake/FindLibdatadog.cmake
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Windows/Datadog.Profiler.Native.Windows.vcxproj
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Windows/packages.config
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Datadog.Profiler.Native.vcxproj
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/FfiHelper.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/FfiHelper.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/LibddprofExporter.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/LibddprofExporter.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/packages.config
  profiler/test/Datadog.Profiler.Native.Tests/Datadog.Profiler.Native.Tests.vcxproj
  profiler/test/Datadog.Profiler.Native.Tests/packages.config
Labels: area:profiler

#3108 [CIVisibility] Adds support to disable the tracer profiler + Lazy loading the tracer settings
  tracer/src/Datadog.Trace/Ci/Configuration/CIVisibilitySettings.cs
  tracer/src/Datadog.Trace/ClrProfiler/Instrumentation.cs
  tracer/src/Datadog.Trace/ClrProfiler/NativeMethods.cs
  tracer/src/Datadog.Tracer.Native/Datadog.Tracer.Native.def
  tracer/src/Datadog.Tracer.Native/cor_profiler.cpp
  tracer/src/Datadog.Tracer.Native/cor_profiler.h
  tracer/src/Datadog.Tracer.Native/interop.cpp
Labels: area:native-library, type:performance, area:ci-visibility

#3048 [Tracer] Stats computation: Drop P0 traces
  tracer/src/Datadog.Trace/Agent/AgentWriter.cs
  tracer/src/Datadog.Trace/Agent/Api.cs
  tracer/src/Datadog.Trace/Agent/IAgentWriter.cs
  tracer/src/Datadog.Trace/Agent/IApi.cs
  tracer/src/Datadog.Trace/Agent/IStatsAggregator.cs
  tracer/src/Datadog.Trace/Agent/NullStatsAggregator.cs
  tracer/src/Datadog.Trace/Agent/StatsAggregator.cs
  tracer/src/Datadog.Trace/AgentHttpHeaderNames.cs
  tracer/src/Datadog.Trace/Ci/Agent/CIAgentWriter.cs
  tracer/src/Datadog.Trace/Ci/Agent/CIAgentlessWriter.cs
  tracer/src/Datadog.Trace/Configuration/ConfigurationKeys.cs
  tracer/src/Datadog.Trace/Configuration/ImmutableTracerSettings.cs
  tracer/src/Datadog.Trace/Configuration/TracerSettings.cs
  tracer/src/Datadog.Trace/IDatadogTracer.cs
  tracer/src/Datadog.Trace/Logging/Internal/DatadogSerilogLogger.cs
  tracer/src/Datadog.Trace/Logging/Internal/IDatadogLogger.cs
  tracer/src/Datadog.Trace/TraceContext.cs
  tracer/src/Datadog.Trace/Tracer.cs
  tracer/src/Datadog.Trace/TracerManager.cs
  tracer/src/Datadog.Trace/TracerManagerFactory.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/Agent/CIAgentWriterTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/Agent/CIAgentlessWriterTests.cs
  tracer/test/Datadog.Trace.IntegrationTests/DiagnosticListeners/AspNetCoreDiagnosticObserverTests.cs
  tracer/test/Datadog.Trace.IntegrationTests/StatsTests.cs
  tracer/test/Datadog.Trace.IntegrationTests/TestApi.cs
  tracer/test/Datadog.Trace.TestHelpers/TestRunners.cs
  tracer/test/Datadog.Trace.Tests/Agent/StatsAggregatorTests.cs
  tracer/test/Datadog.Trace.Tests/AgentWriterTests.cs
  tracer/test/Datadog.Trace.Tests/ApiTests.cs
  tracer/test/Datadog.Trace.Tests/SpanTests.cs
  tracer/test/Datadog.Trace.Tests/TraceContextTests.cs
  tracer/test/Datadog.Trace.Tests/TracerSettingsTests.cs
  tracer/test/benchmarks/Benchmarks.Trace/AgentWriterBenchmark.cs
  tracer/test/benchmarks/Benchmarks.Trace/DummyAgentWriter.cs
Labels: type:enhancement, area:tracer, area:tests

#3126 Refactor transport strategies code
  tracer/src/Datadog.Trace/Agent/AgentTransportStrategy.cs
  tracer/src/Datadog.Trace/Agent/TracesTransportStrategy.cs
  tracer/src/Datadog.Trace/HttpOverStreams/DatadogHttpClient.cs
  tracer/src/Datadog.Trace/Telemetry/Transports/TelemetryAgentHttpHeaderHelper.cs
  tracer/src/Datadog.Trace/Telemetry/Transports/TelemetryTransportStrategy.cs
  tracer/test/Datadog.Trace.Tests/DatadogHttpClientTests.cs
Labels: type:refactor

#3123 Small refactoring to remove duplicate code around `SocketException` detection
  tracer/src/Datadog.Trace/Agent/Api.cs
  tracer/src/Datadog.Trace/Ci/Agent/CIWriterHttpSender.cs
  tracer/src/Datadog.Trace/Ci/IntelligentTestRunnerClient.cs
  tracer/src/Datadog.Trace/Logging/DirectSubmission/Sink/LogsApi.cs
  tracer/src/Datadog.Trace/Telemetry/Transports/JsonTelemetryTransport.cs
  tracer/src/Datadog.Trace/Util/Http/HttpExceptionExtensions.cs
  tracer/test/Datadog.Trace.Tests/Util/Http/HttpExceptionExtensions.cs
Labels: type:refactor

#3136 Update GitLab to use newer build image
  .gitlab-ci.yml
Labels: area:builds

#3140 Skip the Razor Pages diagnostic listener tests on Linux .NET Core 2.1
  tracer/test/Datadog.Trace.IntegrationTests/DiagnosticListeners/AspNetCoreDiagnosticObserverTests.cs
  tracer/test/Datadog.Trace.TestHelpers/EnvironmentTools.cs
Labels: area:builds, area:tests

#3054 [Tracer] When stats computation is enabled, normalize and obfuscate traces
  tracer/src/Datadog.Trace/Agent/AgentWriter.cs
  tracer/src/Datadog.Trace/Agent/IStatsAggregator.cs
  tracer/src/Datadog.Trace/Agent/NullStatsAggregator.cs
  tracer/src/Datadog.Trace/Agent/StatsAggregator.cs
  tracer/src/Datadog.Trace/Processors/NormalizerTraceProcessor.cs
  tracer/src/Datadog.Trace/Processors/ObfuscatorTraceProcessor.cs
  tracer/test/Datadog.Trace.IntegrationTests/StatsTests.cs
  tracer/test/Datadog.Trace.Tests/AgentWriterTests.cs
  tracer/test/Datadog.Trace.Tests/TraceProcessors/ObfuscatorTraceProcessorTests.cs
Labels: type:enhancement, area:tracer, area:tests

#3130 Add a thread-safe `Random` implementation (for Data streams monitoring)
  tracer/src/Datadog.Trace/Debugger/RateLimiting/AdaptiveSampler.cs
  tracer/src/Datadog.Trace/SpanContext.cs
  tracer/src/Datadog.Trace/Util/SpanIdGenerator.cs
  tracer/src/Datadog.Trace/Util/ThreadSafeRandom.cs
  tracer/test/Datadog.Trace.Tests/Sampling/RuleBasedSamplerTests.cs
  tracer/test/Datadog.Trace.Tests/TraceContextTests.cs
Labels: area:tracer

#3128 [Profiler] Disable tracer for profiler timeit usage
  .github/workflows/profiler-pipeline.yml
  profiler/build/Allocations.linux.net60.json
  profiler/build/Allocations.linux.netcoreapp31.json
  profiler/build/Allocations.windows.net45.json
  profiler/build/Allocations.windows.net60.json
  profiler/build/Allocations.windows.netcoreapp31.json
  profiler/build/Exceptions.linux.net60.json
  profiler/build/Exceptions.linux.netcoreapp31.json
  profiler/build/Exceptions.windows.net45.json
  profiler/build/Exceptions.windows.net60.json
  profiler/build/Exceptions.windows.netcoreapp31.json
  profiler/build/PiComputation.linux.net60.json
  profiler/build/PiComputation.linux.netcoreapp31.json
  profiler/build/PiComputation.windows.net45.json
  profiler/build/PiComputation.windows.net60.json
  profiler/build/PiComputation.windows.netcoreapp31.json
Labels: area:profiler

#3137 Refactor the exclude list for assembly instrumentation
  tracer/src/Datadog.Tracer.Native/cor_profiler.cpp
  tracer/src/Datadog.Tracer.Native/dd_profiler_constants.h
Labels: type:refactor, area:native-library

#3129 Add `VarEncodingHelper` for use in Data Streams Monitoring
  tracer/src/Datadog.Trace/DataStreamsMonitoring/VarEncodingHelper.cs
  tracer/test/Datadog.Trace.Tests/DataStreamsMonitoring/VarEncodingHelperTests.cs
Labels: area:tracer

#3015 Implement endpoint profiling
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Windows/Datadog.Profiler.Native.def
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CorProfilerCallback.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CorProfilerCallback.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/IExporter.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/LibddprofExporter.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/LibddprofExporter.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/PInvoke.cpp
  profiler/test/Datadog.Profiler.IntegrationTests/CodeHotspot/BuggyBitsTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Helpers/EnvironmentVariables.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Helpers/TestApplicationRunner.cs
  profiler/test/Datadog.Profiler.Native.Tests/ProfilerMockedInterface.h
  tracer/src/Datadog.Trace/AsyncLocalScopeManager.cs
  tracer/src/Datadog.Trace/ContinuousProfiler/ConfigurationKeys.cs
  tracer/src/Datadog.Trace/ContinuousProfiler/ContextTracker.cs
  tracer/src/Datadog.Trace/ContinuousProfiler/IContextTracker.cs
  tracer/src/Datadog.Trace/ContinuousProfiler/NativeInterop.cs
  tracer/src/Datadog.Trace/ContinuousProfiler/Profiler.cs
  tracer/src/Datadog.Trace/TraceContext.cs
  tracer/test/Datadog.Trace.Tests/ContinuousProfiler/ContextTrackerTests.cs
Labels: area:tracer, area:profiler
