Repository DataDog/dd-trace-dotnet, pull requests merged in 2022-11, with the labels that each got.

#3395 Handle client-disconnect scenario in IIS
  tracer/src/Datadog.Trace/AspNet/TracingHttpModule.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AspNet/AspNetMvc4Tests.cs
  tracer/test/snapshots/AspNetMvc4Tests.Classic.NoFF.ClientDisconnect.verified.txt
  tracer/test/snapshots/AspNetMvc4Tests.Classic.WithFF.ClientDisconnect.verified.txt
  tracer/test/snapshots/AspNetMvc4Tests.Integrated.NoFF.ClientDisconnect.verified.txt
  tracer/test/snapshots/AspNetMvc4Tests.Integrated.WithExpansion.ClientDisconnect.verified.txt
  tracer/test/snapshots/AspNetMvc4Tests.Integrated.WithFF.ClientDisconnect.verified.txt
Labels: type:bug, area:tracer

#3401 Bump version of DatadogTestLogger to remove direct reference to Datadog.Trace
  tracer/test/Directory.Build.props
Labels: area:builds, area:tests, area:test-apps

#3413 Fix the env and service names for AppSec throughput tests and benchmarks
  .azure-pipelines/ultimate-pipeline.yml
Labels: area:builds

#3409 Fix ASP.NET and ASP.NET Core resource name template expansion
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AspNet/AspNetResourceNameHelper.cs
  tracer/src/Datadog.Trace/DiagnosticListeners/AspNetCoreDiagnosticObserver.cs
  tracer/src/Datadog.Trace/DiagnosticListeners/AspNetCoreResourceNameHelper.cs
  tracer/test/Datadog.Trace.Tests/AspNet/AspNetResourceNameHelperTests.cs
  tracer/test/Datadog.Trace.Tests/DiagnosticListeners/AspNetCoreResourceNameHelperTests.cs
Labels: type:bug, area:tracer, area:automatic-instrumentation

#3414 [Profiler] Rename DD_PROFILING_CONTENTION_ENABLED to DD_PROFILING_LOCK_ENABLED
  profiler/build/Contention.linux.net60.json
  profiler/build/Contention.windows.net60.json
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Configuration.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Configuration.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/EnvironmentVariables.h
  profiler/test/Datadog.Profiler.IntegrationTests/Helpers/EnvironmentVariables.cs
  profiler/test/Datadog.Profiler.Native.Tests/ConfigurationTest.cpp
Labels: area:profiler

#3389 [CIVisibility] - Test session visibility support
  tracer/src/Datadog.Trace.Coverage.collector/AssemblyProcessor.cs
  tracer/src/Datadog.Trace.Tools.Runner/RunHelper.cs
  tracer/src/Datadog.Trace/Ci/Agent/MessagePack/SpanMessagePackFormatter.cs
  tracer/src/Datadog.Trace/Ci/CIVisibility.cs
  tracer/src/Datadog.Trace/Ci/Configuration/CIVisibilitySettings.cs
  tracer/src/Datadog.Trace/Ci/Propagators/DictionaryGetterAndSetter.cs
  tracer/src/Datadog.Trace/Ci/Tagging/TestModuleSpanTags.cs
  tracer/src/Datadog.Trace/Ci/Tagging/TestSessionSpanTags.cs
  tracer/src/Datadog.Trace/Ci/Tagging/TestSpanTags.cs
  tracer/src/Datadog.Trace/Ci/Tagging/TestSuiteSpanTags.cs
  tracer/src/Datadog.Trace/Ci/Tags/TestSuiteVisibilityTags.cs
  tracer/src/Datadog.Trace/Ci/Tags/TestTags.cs
  tracer/src/Datadog.Trace/Ci/TestModule.cs
  tracer/src/Datadog.Trace/Ci/TestSession.cs
  tracer/src/Datadog.Trace/Configuration/ConfigurationKeys.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TagsListGenerator.TagListGenerator/TestModuleSpanTags.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TagsListGenerator.TagListGenerator/TestSessionSpanTags.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TagsListGenerator.TagListGenerator/TestModuleSpanTags.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TagsListGenerator.TagListGenerator/TestSessionSpanTags.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TagsListGenerator.TagListGenerator/TestModuleSpanTags.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TagsListGenerator.TagListGenerator/TestSessionSpanTags.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TagsListGenerator.TagListGenerator/TestModuleSpanTags.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TagsListGenerator.TagListGenerator/TestSessionSpanTags.g.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/MsTestV2EvpTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/MsTestV2Tests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/NUnitEvpTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/NUnitTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/XUnitEvpTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/XUnitTests.cs
  tracer/test/Datadog.Trace.TestHelpers/Ci/MockCIVisibilityTest.cs
  tracer/test/Datadog.Trace.TestHelpers/Ci/MockCIVisibilityTestModule.cs
  tracer/test/Datadog.Trace.TestHelpers/Ci/MockCIVisibilityTestSuite.cs
  tracer/test/Datadog.Trace.Tests/Snapshots/PublicApiTests.Datadog.Trace.PublicApiHasNotChanged.verified.txt
Labels: area:ci-visibility

#3360 Make RareSampler configurable
  tracer/src/Datadog.Trace/Agent/StatsAggregator.cs
  tracer/src/Datadog.Trace/Agent/TraceSamplers/RareSampler.cs
  tracer/src/Datadog.Trace/Configuration/ConfigurationKeys.cs
  tracer/src/Datadog.Trace/Configuration/ImmutableTracerSettings.cs
  tracer/src/Datadog.Trace/Configuration/TracerSettings.cs
  tracer/src/Datadog.Trace/Metrics.cs
  tracer/test/Datadog.Trace.IntegrationTests/StatsTests.cs
  tracer/test/Datadog.Trace.Tests/Sampling/RareSamplerTests.cs
Labels: area:tracer

#3422 Add integration tests for Azure Functions and fix warning
  .azure-pipelines/ultimate-pipeline.yml
  Datadog.Trace.sln
  tracer/build/_build/Build.Steps.cs
  tracer/build/_build/Build.VariableGenerations.cs
  tracer/build/_build/Build.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TagsListGenerator.TagListGenerator/AspNetCoreTags.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TagsListGenerator.TagListGenerator/AspNetCoreTags.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TagsListGenerator.TagListGenerator/AspNetCoreTags.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TagsListGenerator.TagListGenerator/AspNetCoreTags.g.cs
  tracer/src/Datadog.Trace/Tagging/AspNetCoreTags.cs
  tracer/src/Datadog.Trace/Tagging/AzureFunctionsTags.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AzureFunctionsTests.cs
  tracer/test/Datadog.Trace.TestHelpers/ProfilerHelper.cs
  tracer/test/snapshots/AzureFunctionsTests.InProcess.verified.txt
  tracer/test/test-applications/azure-functions/Directory.Build.props
  tracer/test/test-applications/azure-functions/Samples.AzureFunctions.AllTriggers/Samples.AzureFunctions.AllTriggers.csproj
  tracer/test/test-applications/azure-functions/Samples.AzureFunctions.AllTriggers/Startup.cs
  tracer/test/test-applications/azure-functions/Samples.AzureFunctions.AllTriggers/local.settings.json
  tracer/test/test-applications/azure-functions/Samples.AzureFunctions.V3InProcess/AllTriggers.cs
  tracer/test/test-applications/azure-functions/Samples.AzureFunctions.V3InProcess/Properties/PublishProfiles/DatadogTraceSample - Zip Deploy.pubxml
  tracer/test/test-applications/azure-functions/Samples.AzureFunctions.V3InProcess/Properties/PublishProfiles/DatadogTraceSample - Zip Deploy1.pubxml
  tracer/test/test-applications/azure-functions/Samples.AzureFunctions.V3InProcess/Properties/ServiceDependencies/DatadogTraceSample - Zip Deploy/storage1.arm.json
  tracer/test/test-applications/azure-functions/Samples.AzureFunctions.V3InProcess/Properties/ServiceDependencies/DatadogTraceSample - Zip Deploy1/storage1.arm.json
  tracer/test/test-applications/azure-functions/Samples.AzureFunctions.V3InProcess/Properties/launchSettings.json
  tracer/test/test-applications/azure-functions/Samples.AzureFunctions.V3InProcess/Properties/serviceDependencies.DatadogTraceSample - Zip Deploy.json
  tracer/test/test-applications/azure-functions/Samples.AzureFunctions.V3InProcess/Properties/serviceDependencies.DatadogTraceSample - Zip Deploy1.json
  tracer/test/test-applications/azure-functions/Samples.AzureFunctions.V3InProcess/Properties/serviceDependencies.json
  tracer/test/test-applications/azure-functions/Samples.AzureFunctions.V3InProcess/Properties/serviceDependencies.local.json
  tracer/test/test-applications/azure-functions/Samples.AzureFunctions.V3InProcess/Samples.AzureFunctions.V3InProcess.csproj
  tracer/test/test-applications/azure-functions/Samples.AzureFunctions.V3InProcess/host.json
  tracer/test/test-applications/azure-functions/Samples.AzureFunctions.V3InProcess/local.settings.json
Labels: type:bug, area:tests, area:azure-site-extension

#3384 [ASM] IAST request management
  tracer/src/Datadog.Trace/IAST/IastModule.cs
  tracer/src/Datadog.Trace/IAST/IastRequestContext.cs
  tracer/src/Datadog.Trace/IAST/VulnerabilityBatch.cs
  tracer/src/Datadog.Trace/TraceContext.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/AspNetBase.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/IAST/AspNetCore2IastTests.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/IAST/AspNetCore5IastTests.cs
  tracer/test/Datadog.Trace.TestHelpers.AutoInstrumentation/TestHelper.cs
  tracer/test/snapshots/Iast.NotWeak.AspNetCore2.IastDisabled.verified.txt
  tracer/test/snapshots/Iast.NotWeak.AspNetCore2.IastEnabled.verified.txt
  tracer/test/snapshots/Iast.NotWeak.AspNetCore5.IastDisabled.verified.txt
  tracer/test/snapshots/Iast.NotWeak.AspNetCore5.IastEnabled.verified.txt
  tracer/test/snapshots/Iast.WeakHashing.AspNetCore2.IastDisabled.verified.txt
  tracer/test/snapshots/Iast.WeakHashing.AspNetCore2.IastEnabled.verified.txt
  tracer/test/snapshots/Iast.WeakHashing.AspNetCore5.IastDisabled.verified.txt
  tracer/test/snapshots/Iast.WeakHashing.AspNetCore5.IastEnabled.verified.txt
  tracer/test/snapshots/WeakCipherTests.SubmitsTraces.verified.txt
  tracer/test/snapshots/WeakHashingTests.SubmitsTraces.Net50.60.verified.txt
  tracer/test/snapshots/WeakHashingTests.SubmitsTraces.verified.txt
  tracer/test/snapshots/iast.deduplication.deduplicated.verified.txt
  tracer/test/snapshots/iast.deduplication.duplicated.verified.txt
  tracer/test/test-applications/security/Samples.Security.AspNetCore2/Properties/launchSettings.json
  tracer/test/test-applications/security/Samples.Security.AspNetCore5/Controllers/IastController.cs
  tracer/test/test-applications/security/Samples.Security.AspNetCore5/Properties/launchSettings.json
  tracer/test/test-applications/security/Samples.Security.AspNetCore5/Views/Home/Index.cshtml
Labels: area:asm, area:asm-iast

#3423 Fix Azure Functions Runtime V4 distributed tracing
  .azure-pipelines/ultimate-pipeline.yml
  Datadog.Trace.sln
  tracer/build/_build/Build.VariableGenerations.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Azure/Functions/FunctionInvocationMiddlewareInvokeIntegration.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.InstrumentationDefinitions.InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.InstrumentationDefinitions.InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.InstrumentationDefinitions.InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AzureFunctionsTests.cs
  tracer/test/test-applications/azure-functions/Samples.AzureFunctions.V4InProcess/Properties/launchSettings.json
  tracer/test/test-applications/azure-functions/Samples.AzureFunctions.V4InProcess/Properties/serviceDependencies.json
  tracer/test/test-applications/azure-functions/Samples.AzureFunctions.V4InProcess/Properties/serviceDependencies.local.json
  tracer/test/test-applications/azure-functions/Samples.AzureFunctions.V4InProcess/Samples.AzureFunctions.V4InProcess.csproj
  tracer/test/test-applications/azure-functions/Samples.AzureFunctions.V4InProcess/host.json
  tracer/test/test-applications/azure-functions/Samples.AzureFunctions.V4InProcess/local.settings.json
Labels: type:bug, area:tests, area:azure-site-extension

#3417 [CIVisibility] - Add Test custom configurations support for ITR
  tracer/src/Datadog.Trace/Ci/CIVisibility.cs
  tracer/src/Datadog.Trace/Ci/IntelligentTestRunnerClient.cs
  tracer/src/Datadog.Trace/Ci/SkippableTest.cs
  tracer/src/Datadog.Trace/Ci/TestsConfigurations.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/CIVisibilityTests.cs
Labels: area:ci-visibility

#3328 Allow colons in global tag values (`DD_TAGS`)
  tracer/src/Datadog.Trace/Configuration/StringConfigurationSource.cs
  tracer/test/Datadog.Trace.Tests/Configuration/ConfigurationSourceTests.cs
  tracer/test/Datadog.Trace.Tests/Configuration/StringConfigurationSourceTests.cs
Labels: type:bug, area:tracer

#3427 Bump DatadogLogger version to 0.0.28
  tracer/test/Datadog.Trace.TestHelpers.AutoInstrumentation/TestHelper.cs
  tracer/test/Directory.Build.props
Labels: area:tests

#3428 [Build] Fix exported symbols issue with CMake builds
  shared/src/Datadog.Trace.ClrProfiler.Native/CMakeLists.txt
  shared/src/Datadog.Trace.ClrProfiler.Native/dllmain.cpp
  shared/src/Datadog.Trace.ClrProfiler.Native/exported_functions.cpp
  shared/src/Datadog.Trace.ClrProfiler.Native/exported_functions.h
  tracer/src/Datadog.Tracer.Native/CMakeLists.txt
  tracer/src/Datadog.Tracer.Native/dllmain.cpp
  tracer/src/Datadog.Tracer.Native/dllmain.h
  tracer/src/Datadog.Tracer.Native/interop.cpp
Labels: area:tracer, area:builds, area:native-library

#3433 [CI Visibility] - CheckAgentConnectionAsync rewrite to use the DiscoveryService.
  tracer/src/Datadog.Trace.Tools.Runner/LegacyCommand.cs
  tracer/src/Datadog.Trace.Tools.Runner/RunHelper.cs
  tracer/src/Datadog.Trace.Tools.Runner/Utils.cs
  tracer/src/Datadog.Trace/Ci/CIVisibility.cs
Labels: area:ci-visibility

#3412 [Profiler] Add garbage collections in profile
  profiler/src/Demos/Samples.Computer01/ComputerService.cs
  profiler/src/Demos/Samples.Computer01/GarbageCollections.cs
  profiler/src/Demos/Samples.Computer01/Program.cs
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ClrEventsParser.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ClrEventsParser.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CollectorBase.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Configuration.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Configuration.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CorProfilerCallback.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CorProfilerCallback.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Datadog.Profiler.Native.vcxproj
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Datadog.Profiler.Native.vcxproj.filters
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/EnvironmentVariables.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/GCBaseRawSample.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/GarbageCollection.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/GarbageCollectionProvider.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/GarbageCollectionProvider.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/IConfiguration.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/IGCSuspensionsListener.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/IGarbageCollectionsListener.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/LibddprofExporter.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/RawGarbageCollectionSample.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/RawStopTheWorldSample.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Sample.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Sample.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/StopTheWorldGCProvider.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/StopTheWorldGCProvider.h
  profiler/test/Datadog.Profiler.IntegrationTests/GarbageCollections/GarbageCollectionsProfilerTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Helpers/EnvironmentVariables.cs
  profiler/test/Datadog.Profiler.Native.Tests/ConfigurationTest.cpp
  profiler/test/Datadog.Profiler.Native.Tests/ProfilerMockedInterface.h
Labels: area:profiler

#3437 Revert "[Profiler] Add garbage collections in profile (#3412)"
  profiler/src/Demos/Samples.Computer01/ComputerService.cs
  profiler/src/Demos/Samples.Computer01/GarbageCollections.cs
  profiler/src/Demos/Samples.Computer01/Program.cs
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ClrEventsParser.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ClrEventsParser.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CollectorBase.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Configuration.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Configuration.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CorProfilerCallback.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CorProfilerCallback.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Datadog.Profiler.Native.vcxproj
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Datadog.Profiler.Native.vcxproj.filters
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/EnvironmentVariables.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/GCBaseRawSample.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/GarbageCollection.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/GarbageCollectionProvider.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/GarbageCollectionProvider.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/IConfiguration.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/IGCSuspensionsListener.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/IGarbageCollectionsListener.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/LibddprofExporter.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/RawGarbageCollectionSample.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/RawStopTheWorldSample.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Sample.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Sample.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/StopTheWorldGCProvider.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/StopTheWorldGCProvider.h
  profiler/test/Datadog.Profiler.IntegrationTests/GarbageCollections/GarbageCollectionsProfilerTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Helpers/EnvironmentVariables.cs
  profiler/test/Datadog.Profiler.Native.Tests/ConfigurationTest.cpp
  profiler/test/Datadog.Profiler.Native.Tests/ProfilerMockedInterface.h
Labels: area:profiler

#3438 Fix builds being broken by "quoted things" in the commit message
  .azure-pipelines/steps/run-in-docker.yml
Labels: area:builds

#3440 Add missing entry to VSConfig
  .vsconfig
Labels: area:builds, area:docs

#3435 [Profiler] Fix clang tidy warnings
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ClrEventsParser.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CpuTimeProvider.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ExceptionsProvider.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/FrameStore.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ManagedThreadList.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/StackSamplerLoop.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/WallTimeProvider.h
Labels: area:profiler

#3421 Use our own VMSS for more builds
  .azure-pipelines/ultimate-pipeline.yml
  .github/workflows/profiler-pipeline.yml
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Windows/Datadog.Profiler.Native.Windows.WithTests.proj
  tracer/build/_build/Build.ExplorationTests.cs
  tracer/build/_build/Build.Profiler.Steps.cs
  tracer/build/_build/Build.cs
Labels: area:builds

#3456 Bump DatadogTestLogger version
  tracer/test/Directory.Build.props
Labels: area:tests

#3449 Add a webhook stage to the pipeline
  .azure-pipelines/ultimate-pipeline.yml
Labels: area:builds

#3316 [Tracer] refactor trace serialization part 3: `env`, `version`, and `_dd.origin`
  tracer/src/Datadog.Trace.MSBuild/DatadogLogger.cs
  tracer/src/Datadog.Trace/Agent/MessagePack/MessagePackStringCache.cs
  tracer/src/Datadog.Trace/Agent/MessagePack/SpanMessagePackFormatter.cs
  tracer/src/Datadog.Trace/Agent/MessagePack/TraceChunkModel.cs
  tracer/src/Datadog.Trace/AppSec/Security.cs
  tracer/src/Datadog.Trace/Ci/Agent/MessagePack/SpanMessagePackFormatter.cs
  tracer/src/Datadog.Trace/Ci/Processors/OriginTagTraceProcessor.cs
  tracer/src/Datadog.Trace/Ci/Tagging/TestModuleSpanTags.cs
  tracer/src/Datadog.Trace/Ci/Tagging/TestSpanTags.cs
  tracer/src/Datadog.Trace/Ci/Tagging/TestSuiteSpanTags.cs
  tracer/src/Datadog.Trace/Ci/Test.cs
  tracer/src/Datadog.Trace/Ci/TestModule.cs
  tracer/src/Datadog.Trace/Ci/TestSession.cs
  tracer/src/Datadog.Trace/Ci/TestSuite.cs
  tracer/src/Datadog.Trace/Configuration/ImmutableTracerSettings.cs
  tracer/src/Datadog.Trace/ExtensionMethods/DictionaryExtensions.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TagsListGenerator.TagListGenerator/CommonTags.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TagsListGenerator.TagListGenerator/CommonTags.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TagsListGenerator.TagListGenerator/CommonTags.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TagsListGenerator.TagListGenerator/CommonTags.g.cs
  tracer/src/Datadog.Trace/Processors/NormalizerTraceProcessor.cs
  tracer/src/Datadog.Trace/Sampling/DefaultSamplingRule.cs
  tracer/src/Datadog.Trace/Span.cs
  tracer/src/Datadog.Trace/SpanContext.cs
  tracer/src/Datadog.Trace/Tagging/CommonTags.cs
  tracer/src/Datadog.Trace/Tags.cs
  tracer/src/Datadog.Trace/TraceContext.cs
  tracer/src/Datadog.Trace/Tracer.cs
  tracer/test/Datadog.Trace.IntegrationTests/OriginTagSendTraces.cs
  tracer/test/Datadog.Trace.IntegrationTests/Tagging/SamplingPriorityTests.cs
  tracer/test/Datadog.Trace.IntegrationTests/Tagging/TraceContextPropertyTests.cs
  tracer/test/Datadog.Trace.Tests/Agent/MessagePack/MessagePackStringCacheTests.cs
  tracer/test/Datadog.Trace.Tests/Sampling/DefaultSamplingRuleTests.cs
  tracer/test/Datadog.Trace.Tests/Sampling/TraceSamplerTests.cs
  tracer/test/Datadog.Trace.Tests/Tagging/TagsListTests.cs
  tracer/test/Datadog.Trace.Tests/TracerTests.cs
  tracer/test/snapshots/Security.AspNetMvc5.Classic.enableSecurity=True.__test=server.request.body_url=_Home_UploadJson_body={-DictionaryProperty-- {-a---[$slice]-} }.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5.Classic.enableSecurity=True.__test=server.request.body_url=_Home_UploadStruct_body={-Property1-- -[$slice]-}.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5.Classic.enableSecurity=True.__test=server.request.body_url=_Home_Upload_body={-Property1-- -[$slice]-}.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5.Classic.enableSecurity=True.__test=server.request.path_params_url=_Health_params_appscan_fingerprint_body=null.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5.Integrated.enableSecurity=True.__test=discovery.scans_url=_Health_wp-config_body=null.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5.Integrated.enableSecurity=True.__test=server.request.body_url=_Home_UploadJson_body={-DictionaryProperty-- {-a---[$slice]-} }.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5.Integrated.enableSecurity=True.__test=server.request.body_url=_Home_UploadStruct_body={-Property1-- -[$slice]-}.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5.Integrated.enableSecurity=True.__test=server.request.body_url=_Home_Upload_body={-Property1-- -[$slice]-}.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5.Integrated.enableSecurity=True.__test=server.request.path_params_url=_Health_params_appscan_fingerprint_body=null.verified.txt
  tracer/test/snapshots/Security.AspNetWebApi.Classic.enableSecurity=True.__test=server.request.body_url=_api_Home_Upload_body={-Property1-- -[$slice]-}.verified.txt
  tracer/test/snapshots/Security.AspNetWebApi.Classic.enableSecurity=True.__test=server.request.path_params_url=_api_Health_appscan_fingerprint_body=null.verified.txt
  tracer/test/snapshots/Security.AspNetWebApi.Integrated.enableSecurity=True.__test=server.request.body_url=_api_Home_Upload_body={-Property1-- -[$slice]-}.verified.txt
  tracer/test/snapshots/Security.AspNetWebApi.Integrated.enableSecurity=True.__test=server.request.path_params_url=_api_Health_appscan_fingerprint_body=null.verified.txt
Labels: area:tracer, type:refactor

#3457 Pin the fpm version, because latest breaks the pipeline
  tracer/build/_build/docker/alpine.dockerfile
  tracer/build/_build/docker/centos7.dockerfile
  tracer/build/_build/docker/debian.dockerfile
Labels: area:builds

#3463 [CIVisibility] Fix CIVisibility tests
  tracer/src/Datadog.Trace/Ci/CIVisibility.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/MsTestV2EvpTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/MsTestV2Tests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/NUnitEvpTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/NUnitTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/XUnitEvpTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/XUnitTests.cs
  tracer/test/Datadog.Trace.TestHelpers.AutoInstrumentation/TestHelper.cs
Labels: type:bug, area:tests, area:ci-visibility

#3458 [CIVisibility] - Add fallback when pack-object returns a cross device error
  tracer/src/Datadog.Trace/Ci/CIVisibility.cs
  tracer/src/Datadog.Trace/Ci/IntelligentTestRunnerClient.cs
  tracer/src/Datadog.Trace/Util/ProcessHelpers.cs
Labels: area:ci-visibility

#3462 [Tracer] Use GetOriginBytes helper for origin tag
  tracer/src/Datadog.Trace/Agent/MessagePack/SpanMessagePackFormatter.cs
Labels: area:tracer

#3446 [tracer] W3C Trace Context part 1: update propagation style settings
  tracer/src/Datadog.Trace/Configuration/ConfigurationKeys.cs
  tracer/src/Datadog.Trace/Configuration/TracerSettings.cs
  tracer/src/Datadog.Trace/Propagators/B3MultipleHeaderContextPropagator.cs
  tracer/src/Datadog.Trace/Propagators/B3SingleHeaderContextPropagator.cs
  tracer/src/Datadog.Trace/Propagators/ContextPropagationHeaderStyle.cs
  tracer/src/Datadog.Trace/Propagators/ContextPropagators.cs
  tracer/src/Datadog.Trace/Propagators/DatadogContextPropagator.cs
  tracer/src/Datadog.Trace/Propagators/DistributedContextExtractor.cs
  tracer/src/Datadog.Trace/Propagators/SpanContextPropagatorFactory.cs
  tracer/src/Datadog.Trace/Propagators/W3CTraceContextPropagator.cs
  tracer/src/Datadog.Trace/SpanContext.cs
  tracer/src/Datadog.Trace/TracerManagerFactory.cs
  tracer/test/Datadog.Trace.Tests/Propagators/B3MultipleHeadersPropagatorTests.cs
  tracer/test/Datadog.Trace.Tests/Propagators/B3SingleHeaderPropagatorTests.cs
  tracer/test/Datadog.Trace.Tests/Propagators/ContextPropagatorsTests.cs
  tracer/test/Datadog.Trace.Tests/Propagators/DatadogPropagatorTests.cs
  tracer/test/Datadog.Trace.Tests/Propagators/DistributedPropagatorTests.cs
  tracer/test/Datadog.Trace.Tests/Propagators/MultiSpanContextPropagatorTests.cs
  tracer/test/Datadog.Trace.Tests/Propagators/SpanContextPropagatorFactoryTests.cs
  tracer/test/Datadog.Trace.Tests/Propagators/W3CTraceContextPropagatorTests.cs
  tracer/test/Datadog.Trace.Tests/TracerSettingsTests.cs
Labels: area:tracer, needs-docs-update

#3470 Fix Exploration tests
  tracer/build/_build/Build.ExplorationTests.cs
  tracer/build/_build/NukeExtensions/DotNetSettingsExtensions.cs
Labels: area:builds, area:tests

#3477 Limit the number of jobs to the number of cores when building native code on Linux
  tracer/build/_build/Build.Profiler.Steps.cs
  tracer/build/_build/Build.Shared.Steps.cs
  tracer/build/_build/Build.Steps.cs
Labels: area:builds, area:profiler

#3481 [Dynamic Instrumentation] Fixed the lookup of Symbol Method of async methods
  tracer/src/Datadog.Trace/PDBs/DatadogPdbReader.cs
Labels: area:tracer, area:debugger

#3479 Disable tiered compilation in integration tests
  tracer/build/_build/docker/smoke.dotnet-tool.dockerfile
  tracer/build/_build/docker/smoke.dotnet-tool.nuget.dockerfile
  tracer/build/_build/docker/smoke.windows.dockerfile
  tracer/build/_build/docker/smoke.windows.dotnet-tool.dockerfile
  tracer/build/_build/docker/smoke.windows.nuget.dockerfile
  tracer/build/_build/docker/smoke.windows.tracer-home.dockerfile
  tracer/test/Datadog.Trace.TestHelpers/EnvironmentHelper.cs
Labels: area:tests

#3478 [Profiler] Revisit the way Sample object are used
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CollectorBase.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/GCBaseRawSample.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/IExporter.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ISamplesProvider.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/LibddprofExporter.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/LibddprofExporter.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ProviderBase.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/RawAllocationSample.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/RawContentionSample.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/RawCpuSample.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/RawExceptionSample.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/RawGarbageCollectionSample.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/RawSample.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/RawStopTheWorldSample.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/RawWallTimeSample.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Sample.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Sample.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/SamplesCollector.cpp
  profiler/test/Datadog.Profiler.Native.Tests/Datadog.Profiler.Native.Tests.vcxproj
  profiler/test/Datadog.Profiler.Native.Tests/Datadog.Profiler.Native.Tests.vcxproj.filters
  profiler/test/Datadog.Profiler.Native.Tests/ProfilerMockedInterface.cpp
  profiler/test/Datadog.Profiler.Native.Tests/ProfilerMockedInterface.h
  profiler/test/Datadog.Profiler.Native.Tests/ProviderTest.cpp
  profiler/test/Datadog.Profiler.Native.Tests/SamplesCollectorTest.cpp
  profiler/test/Datadog.Profiler.Native.Tests/SamplesProviderTest.cpp
Labels: area:profiler

#3444 Don't use the DatadogTestLogger for local dev
  .azure-pipelines/steps/run-in-docker.yml
  docker-compose.yml
  tracer/build/_build/NukeExtensions/DotNetSettingsExtensions.cs
Labels: area:builds

#3488 Include "Datadog-Container-ID" as a header RCM's configuration requests
  tracer/src/Datadog.Trace/RemoteConfigurationManagement/Transport/RemoteConfigurationApi.cs
Labels: area:tracer

#3489 Adds the Bits .NET in our readme
  docs/README.md
Labels: area:docs

#3487 Add support for filtering `ILogger` for direct log submission
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Logging/ILogger/DirectSubmission/DirectSubmissionLoggerProvider.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Logging/ILogger/DirectSubmission/ProviderAliasAttribute.cs
  tracer/src/Datadog.Trace/DuckTyping/DuckType.cs
  tracer/src/Datadog.Trace/DuckTyping/DuckTypeExceptions.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/ILoggerTests.cs
  tracer/test/Datadog.Trace.DuckTyping.Tests/ReverseProxyTests.cs
Labels: type:enhancement, area:tracer

#3496 Reduce flake by always choosing a random port for `MockTracerAgent`
  tracer/test/Datadog.Trace.TestHelpers/MockTracerAgent.cs
Labels: area:tests

#3483 Improvements from CppCheck static analyzer
  .azure-pipelines/ultimate-pipeline.yml
  shared/src/Datadog.Trace.ClrProfiler.Native/cor_profiler.cpp
  shared/src/Datadog.Trace.ClrProfiler.Native/dynamic_dispatcher.cpp
  shared/src/Datadog.Trace.ClrProfiler.Native/dynamic_instance.cpp
  shared/src/Datadog.Trace.ClrProfiler.Native/dynamic_instance.h
  shared/src/native-src/dd_guid.h
  tracer/build/_build/Build.Shared.Steps.cs
  tracer/build/_build/Build.Steps.cs
  tracer/build/_build/docker/alpine.dockerfile
  tracer/build/_build/docker/centos7.dockerfile
  tracer/build/_build/docker/debian.dockerfile
  tracer/src/Datadog.Tracer.Native/clr_helpers.cpp
  tracer/src/Datadog.Tracer.Native/clr_helpers.h
  tracer/src/Datadog.Tracer.Native/cor_profiler.cpp
  tracer/src/Datadog.Tracer.Native/cor_profiler.h
  tracer/src/Datadog.Tracer.Native/debugger_members.h
  tracer/src/Datadog.Tracer.Native/debugger_method_rewriter.cpp
  tracer/src/Datadog.Tracer.Native/debugger_method_rewriter.h
  tracer/src/Datadog.Tracer.Native/debugger_probes_instrumentation_requester.cpp
  tracer/src/Datadog.Tracer.Native/debugger_rejit_preprocessor.cpp
  tracer/src/Datadog.Tracer.Native/il_rewriter.cpp
  tracer/src/Datadog.Tracer.Native/il_rewriter_wrapper.cpp
  tracer/src/Datadog.Tracer.Native/integration.cpp
  tracer/src/Datadog.Tracer.Native/integration.h
  tracer/src/Datadog.Tracer.Native/method_rewriter.cpp
  tracer/src/Datadog.Tracer.Native/rejit_handler.cpp
  tracer/src/Datadog.Tracer.Native/rejit_preprocessor.cpp
  tracer/src/Datadog.Tracer.Native/rejit_work_offloader.cpp
  tracer/src/Datadog.Tracer.Native/stats.h
Labels: type:enhancement, area:native-library

#3497 [Profiler] Bump cppcheck version
  .github/workflows/profiler-pipeline.yml
Labels: area:builds, area:profiler

#3493 [Tracer] Add link to the public doc in the logs
  tracer/src/Datadog.Trace/Agent/Api.cs
Labels: area:tracer

#3499 [Profiler] Fix Benchmark jobs
  .github/workflows/profiler-pipeline.yml
Labels: area:builds, area:profiler

#3498 Reenable Large payload tests
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/Transports/LargePayload/DefaultTransportLargePayloadTests.cs
Labels: area:tests

#3502 [Tracer] Versions conflicts tests are back
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/VersionConflict/VersionConflict2xTests.cs
  tracer/test/test-applications/integrations/Samples.VersionConflict.2x/Samples.VersionConflict.2x.csproj
Labels: area:tests

#3492 Bump DatadogTestLogger version to 0.0.31
  tracer/test/Directory.Build.props
Labels: area:tests

#3503 [Profiler] Fix Windows Throughput tests
  profiler/build/crank/Samples.AspNetCoreSimpleController.yml
  profiler/build/crank/os.profiles.yml
  profiler/build/crank/run.sh
Labels: area:profiler

#2981 [Profiler] Replace usage of refcounted object by shared_ptr
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/AllocationsProvider.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ClrEventsParser.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CollectorBase.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ContentionProvider.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CorProfilerCallback.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Datadog.Profiler.Native.vcxproj
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Datadog.Profiler.Native.vcxproj.filters
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ExceptionsProvider.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/IManagedThreadList.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/IStackSamplerLoopManager.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ManagedThreadInfo.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ManagedThreadList.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ManagedThreadList.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/PInvoke.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/RawSample.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/RefCountingObject.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/RefCountingObject.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/StackSamplerLoop.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/StackSamplerLoop.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/StackSamplerLoopManager.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/StackSamplerLoopManager.h
  profiler/test/Datadog.Profiler.Native.Tests/ManagedThreadListTest.cpp
Labels: area:profiler

#3509 Bump DatadogTestLogger to 0.0.32
  tracer/test/Directory.Build.props
Labels: area:tests

#3508 Force English for .NET CLI in build scripts
  tracer/build.ps1
  tracer/build.sh
Labels: area:builds

#3512 [Profiler] Publish symbols and install procdump as postmortem debugger
  .github/workflows/profiler-pipeline.yml
Labels: area:builds, area:profiler

#3514 Added DI to the README
  docs/README.md
Labels: area:docs

#3511 Reduce number of frameworks tested in PRs
  .azure-pipelines/steps/run-in-docker.yml
  .azure-pipelines/ultimate-pipeline.yml
  docker-compose.yml
  tracer/build/_build/Build.Steps.cs
  tracer/build/_build/Build.VariableGenerations.cs
  tracer/build/_build/Build.cs
  tracer/build/_build/TargetFramework.cs
Labels: area:builds, area:tests, area:test-apps

#3472 [Tracer] Always add `SiteName` and `SiteType` on AAS Tags and add tags in serialization
  tracer/src/Datadog.Trace/Agent/MessagePack/MessagePackStringCache.cs
  tracer/src/Datadog.Trace/Agent/MessagePack/SpanMessagePackFormatter.cs
  tracer/src/Datadog.Trace/Agent/MessagePack/TraceChunkModel.cs
  tracer/src/Datadog.Trace/Span.cs
  tracer/src/Datadog.Trace/TraceContext.cs
  tracer/test/Datadog.Trace.IntegrationTests/Tagging/AASTagsTests.cs
  tracer/test/Datadog.Trace.TestHelpers/AzureAppServicesTestCollection.cs
  tracer/test/Datadog.Trace.Tests/PlatformHelpers/AzureAppServicesTests.cs
  tracer/test/Datadog.Trace.Tests/TraceContextTests.cs
  tracer/test/snapshots/AzureFunctionsTests.InProcess.verified.txt
Labels: area:tracer, area:azure-site-extension

#3510 Create custom image for building in GitLab
  .gitlab-ci.yml
  tracer/build/_build/docker/gitlab/.dockerignore
  tracer/build/_build/docker/gitlab/aws_networking.ps1
  tracer/build/_build/docker/gitlab/entrypoint.bat
  tracer/build/_build/docker/gitlab/gitlab.windows.dockerfile
  tracer/build/_build/docker/gitlab/install_dotnet.ps1
  tracer/build/_build/docker/gitlab/install_net35.ps1
  tracer/build/_build/docker/gitlab/install_vstudio.ps1
  tracer/build/_build/docker/gitlab/install_wix.ps1
  tracer/build/_build/gitlab.bat
Labels: area:builds

#3523 [Profiler] Export tracer native symbols in Github Actions
  .github/workflows/profiler-pipeline.yml
Labels: area:builds, area:profiler

#3521 Normalize names of logs and snapshot artifacts for consistency
  .azure-pipelines/ultimate-pipeline.yml
Labels: area:builds

#3525 [Profiler] Disable tiered jit compilation only when Tracer is activated
  profiler/test/Datadog.Profiler.IntegrationTests/Helpers/EnvironmentHelper.cs
Labels: area:profiler

#3524 [CI Visibility] Include Intelligent Test Runner stats tags in TestSession
  tracer/src/Datadog.Trace.Tools.Runner/RunHelper.cs
  tracer/src/Datadog.Trace/Ci/Tagging/TestModuleSpanTags.cs
  tracer/src/Datadog.Trace/Ci/Tagging/TestSessionSpanTags.cs
  tracer/src/Datadog.Trace/Ci/Tags/CommonTags.cs
  tracer/src/Datadog.Trace/Ci/TestModule.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TagsListGenerator.TagListGenerator/TestModuleSpanTags.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TagsListGenerator.TagListGenerator/TestSessionSpanTags.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TagsListGenerator.TagListGenerator/TestModuleSpanTags.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TagsListGenerator.TagListGenerator/TestSessionSpanTags.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TagsListGenerator.TagListGenerator/TestModuleSpanTags.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TagsListGenerator.TagListGenerator/TestSessionSpanTags.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TagsListGenerator.TagListGenerator/TestModuleSpanTags.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TagsListGenerator.TagListGenerator/TestSessionSpanTags.g.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/MsTestV2EvpTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/MsTestV2Tests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/NUnitEvpTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/NUnitTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/XUnitEvpTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/XUnitTests.cs
Labels: area:ci-visibility
