Repository DataDog/dd-trace-dotnet, pull requests merged in 2022-05, with the labels that each got.

#2744 [ALL] Add overload to create std::string from WCHAR* (+ size)
  shared/src/native-src/string.cpp
  shared/src/native-src/string.h
Labels: area:shared-components

#2710 [Tests] Remove Datadog.Trace references from samples
  tracer/test/test-applications/Samples.Shared/SampleHelpers.cs
  tracer/test/test-applications/integrations/Samples.Kafka/Consumer.cs
  tracer/test/test-applications/integrations/Samples.Kafka/Samples.Kafka.csproj
  tracer/test/test-applications/integrations/Samples.RabbitMQ/Program.cs
  tracer/test/test-applications/integrations/Samples.RabbitMQ/Samples.RabbitMQ.csproj
  tracer/test/test-applications/integrations/Samples.RateLimiter/Program.cs
  tracer/test/test-applications/integrations/Samples.RateLimiter/Samples.RateLimiter.csproj
Labels: area:tests

#2747 [Profiler] Rework the linux stack frames collectors
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/LinuxStackFramesCollector.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/LinuxStackFramesCollector.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/OsSpecificApi.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Windows/OsSpecificApi.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Windows/Windows32BitStackFramesCollector.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Windows/Windows32BitStackFramesCollector.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Windows/Windows64BitStackFramesCollector.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Windows/Windows64BitStackFramesCollector.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/OpSysTools.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/OsSpecificApi.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/StackFramesCollectorBase.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/StackFramesCollectorBase.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/StackSamplerLoopManager.cpp
Labels: area:profiler

#2752 [Build] Add timeout to dotnet installs
  .azure-pipelines/steps/install-dotnet-sdk-32bit.yml
  .azure-pipelines/steps/install-dotnet-sdks.yml
  .azure-pipelines/steps/install-dotnet.yml
  .azure-pipelines/steps/install-latest-dotnet-sdk.yml
Labels: area:builds

#2742 Refactor Windows Build and clean Beta Msi related code
  .azure-pipelines/ultimate-pipeline.yml
  shared/src/msi-installer/WindowsInstaller.wixproj
  tracer/build/_build/Build.Steps.cs
  tracer/build/_build/Build.cs
  tracer/build/_build/gitlab.bat
Labels: area:builds

#2755 Try using local git configuration instead of global
  .azure-pipelines/steps/clone-repo.yml
Labels: area:builds

#2437 Throw `ArgumentNullException` when trying to set `Tracer.Instance` to `null`
  tracer/src/Datadog.Trace/Tracer.cs
  tracer/test/Datadog.Trace.Tests/TracerInstanceTest.cs
Labels: area:tracer

#2746 Monitor the pipeline from a final stage
  .azure-pipelines/monitoring.yml
  .azure-pipelines/ultimate-pipeline.yml
  tracer/tools/PipelineMonitor/BuildProcessor.cs
Labels: area:builds

#2766 Fix all sample package versions and `UpdateVersion` task
  .github/workflows/auto_create_version_bump_pr.yml
  .github/workflows/create_hotfix_branch.yml
  .github/workflows/force_manual_version_bump.yml
  tracer/build/_build/Build.Utilities.cs
  tracer/build/_build/Build.cs
  tracer/build/_build/PrepareRelease/SetAllVersions.cs
  tracer/samples/AutomaticTraceIdInjection/Log4NetExample/Log4NetExample.csproj
  tracer/samples/AutomaticTraceIdInjection/MicrosoftExtensionsExample/MicrosoftExtensionsExample.csproj
  tracer/samples/AutomaticTraceIdInjection/NLog40Example/NLog40Example.csproj
  tracer/samples/AutomaticTraceIdInjection/NLog45Example/NLog45Example.csproj
  tracer/samples/AutomaticTraceIdInjection/NLog46Example/NLog46Example.csproj
  tracer/samples/AutomaticTraceIdInjection/SerilogExample/SerilogExample.csproj
  tracer/samples/ConsoleApp/Alpine3.10.dockerfile
  tracer/samples/ConsoleApp/Alpine3.9.dockerfile
  tracer/samples/ConsoleApp/Debian.dockerfile
  tracer/samples/WindowsContainer/Dockerfile
  tracer/test/test-applications/regression/AutomapperTest/Dockerfile
  tracer/test/test-applications/regression/MismatchedTracerVersions/Build-Tracer.ps1
  tracer/tools/PipelineMonitor/PipelineMonitor.csproj
Labels: area:builds

#2681 Convert AWS lambda tests to using snapshots
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AWS/AwsLambdaTests.cs
  tracer/test/Datadog.Trace.TestHelpers.SharedSource/VerifyHelper.cs
  tracer/test/snapshots/AwsLambdaTests.verified.txt
Labels: area:tests, area:serverless

#2745 [ASM] Little waf metrics changes
  tracer/src/Datadog.Trace/AppSec/Security.cs
  tracer/src/Datadog.Trace/AppSec/Waf/Context.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/AspNetBase.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/AspNetCore5.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/AspNetMvc5.cs
  tracer/test/snapshots/Security.AspNetCore2.__test=discovery.scans_enableSecurity=True_expectedStatusCode=404_url=_Health_login.php.verified.txt
  tracer/test/snapshots/Security.AspNetCore2.__test=server.request.body_enableSecurity=True_expectedStatusCode=200_url=_data_model_body=property=[$slice]&property2=value2.verified.txt
  tracer/test/snapshots/Security.AspNetCore2.__test=server.request.body_enableSecurity=True_expectedStatusCode=200_url=_dataapi_model_body={-property---[$slice]-, -property2---test2-}.verified.txt
  tracer/test/snapshots/Security.AspNetCore2.__test=server.request.body_enableSecurity=True_expectedStatusCode=200_url=_datarazorpage_body=property=[$slice]&property2=value2.verified.txt
  tracer/test/snapshots/Security.AspNetCore2.__test=server.request.path_params_enableSecurity=True_expectedStatusCode=200_url=_health_params_appscan_fingerprint.verified.txt
  tracer/test/snapshots/Security.AspNetCore2.__test=server.request.query_enableSecurity=True_expectedStatusCode=200_url=_Health_-[$slice]=value.verified.txt
  tracer/test/snapshots/Security.AspNetCore2.__test=server.request.query_enableSecurity=True_expectedStatusCode=200_url=_Health_-arg&[$slice].verified.txt
  tracer/test/snapshots/Security.AspNetCore5.__test=discovery.scans_enableSecurity=True_expectedStatusCode=404_url=_Health_login.php.verified.txt
  tracer/test/snapshots/Security.AspNetCore5.__test=server.request.body_enableSecurity=True_expectedStatusCode=200_url=_data_model_body=property=[$slice]&property2=value2.verified.txt
  tracer/test/snapshots/Security.AspNetCore5.__test=server.request.body_enableSecurity=True_expectedStatusCode=200_url=_dataapi_model_body={-property---[$slice]-, -property2---test2-}.verified.txt
  tracer/test/snapshots/Security.AspNetCore5.__test=server.request.body_enableSecurity=True_expectedStatusCode=200_url=_datarazorpage_body=property=[$slice]&property2=value2.verified.txt
  tracer/test/snapshots/Security.AspNetCore5.__test=server.request.path_params_enableSecurity=True_expectedStatusCode=200_url=_health_params_appscan_fingerprint.verified.txt
  tracer/test/snapshots/Security.AspNetCore5.__test=server.request.path_params_enableSecurity=True_expectedStatusCode=200_url=_params-endpoint_appscan_fingerprint.verified.txt
  tracer/test/snapshots/Security.AspNetCore5.__test=server.request.query_enableSecurity=True_expectedStatusCode=200_url=_Health_-[$slice]=value.verified.txt
  tracer/test/snapshots/Security.AspNetCore5.__test=server.request.query_enableSecurity=True_expectedStatusCode=200_url=_Health_-arg&[$slice].verified.txt
  tracer/test/snapshots/Security.AspNetCore5ExternalRules._.verified.txt
  tracer/test/snapshots/Security.AspNetCoreBare.__expectedStatusCode=200_url=_good-param=[$slice].verified.txt
  tracer/test/snapshots/Security.AspNetCoreBare.__expectedStatusCode=200_url=_void-param=[$slice].verified.txt
  tracer/test/snapshots/Security.AspNetCoreBare.__expectedStatusCode=500_url=_bad-param=[$slice].verified.txt
  tracer/test/snapshots/Security.AspNetMvc5.Classic.enableSecurity=True.__test=server.request.body_url=_Home_UploadJson_body={-DictionaryProperty-- {-a---[$slice]-} }.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5.Classic.enableSecurity=True.__test=server.request.body_url=_Home_UploadStruct_body={-Property1-- -[$slice]-}.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5.Classic.enableSecurity=True.__test=server.request.body_url=_Home_Upload_body={-Property1-- -[$slice]-}.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5.Classic.enableSecurity=True.__test=server.request.path_params_url=_Health_params_appscan_fingerprint_body=null.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5.Classic.enableSecurity=True.__test=server.request.query_url=_Health_-arg=[$slice]_body=null.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5.Integrated.enableSecurity=True.__test=discovery.scans_url=_Health_wp-config_body=null.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5.Integrated.enableSecurity=True.__test=server.request.body_url=_Home_UploadJson_body={-DictionaryProperty-- {-a---[$slice]-} }.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5.Integrated.enableSecurity=True.__test=server.request.body_url=_Home_UploadStruct_body={-Property1-- -[$slice]-}.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5.Integrated.enableSecurity=True.__test=server.request.body_url=_Home_Upload_body={-Property1-- -[$slice]-}.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5.Integrated.enableSecurity=True.__test=server.request.path_params_url=_Health_params_appscan_fingerprint_body=null.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5.Integrated.enableSecurity=True.__test=server.request.query_url=_Health_-arg=[$slice]_body=null.verified.txt
  tracer/test/snapshots/Security.AspNetWebApi.Classic.enableSecurity=True.__test=server.request.body_url=_api_Home_Upload_body={-Property1-- -[$slice]-}.verified.txt
  tracer/test/snapshots/Security.AspNetWebApi.Classic.enableSecurity=True.__test=server.request.path_params_url=_api_Health_appscan_fingerprint_body=null.verified.txt
  tracer/test/snapshots/Security.AspNetWebApi.Classic.enableSecurity=True.__test=server.request.query_url=_api_Health_-arg=[$slice]_body=null.verified.txt
  tracer/test/snapshots/Security.AspNetWebApi.Integrated.enableSecurity=True.__test=server.request.body_url=_api_Home_Upload_body={-Property1-- -[$slice]-}.verified.txt
  tracer/test/snapshots/Security.AspNetWebApi.Integrated.enableSecurity=True.__test=server.request.path_params_url=_api_Health_appscan_fingerprint_body=null.verified.txt
  tracer/test/snapshots/Security.AspNetWebApi.Integrated.enableSecurity=True.__test=server.request.query_url=_api_Health_-arg=[$slice]_body=null.verified.txt
  tracer/test/snapshots/Security.AspNetWebForms.Classic.enableSecurity=True.__url=_Health-arg=[$slice]_body=null.verified.txt
  tracer/test/snapshots/Security.AspNetWebForms.Classic.enableSecurity=True.__url=_Health_Params_appscan_fingerprint_body=null.verified.txt
  tracer/test/snapshots/Security.AspNetWebForms.Classic.enableSecurity=True.__url=_Health_body=ctl00%24MainContent%24testBox=%5B%24slice%5D.verified.txt
  tracer/test/snapshots/Security.AspNetWebForms.Integrated.enableSecurity=True.__url=_Health-arg=[$slice]_body=null.verified.txt
  tracer/test/snapshots/Security.AspNetWebForms.Integrated.enableSecurity=True.__url=_Health_Params_appscan_fingerprint_body=null.verified.txt
  tracer/test/snapshots/Security.AspNetWebForms.Integrated.enableSecurity=True.__url=_Health_body=ctl00%24MainContent%24testBox=%5B%24slice%5D.verified.txt
Labels: area:app-sec

#2761 [Profiler] build profiler linux in AzDo
  .azure-pipelines/ultimate-pipeline.yml
  profiler/CMakeLists.txt
  profiler/build/cmake/FindLibddprof.cmake
  profiler/build/tools/fetch_libddprof.sh
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/CMakeLists.txt
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Windows/Datadog.Profiler.Native.Windows.WithTests.proj
  profiler/test/CMakeLists.txt
  profiler/test/Datadog.Profiler.Native.Tests/CMakeLists.txt
  tracer/build/_build/Build.Profiler.Steps.cs
  tracer/build/_build/Build.Steps.cs
  tracer/build/_build/Build.cs
  tracer/build/_build/docker/alpine.dockerfile
  tracer/build/_build/docker/debian.dockerfile
Labels: area:profiler

#2768 Remove timeouts from .NET install and add default timeout
  .azure-pipelines/steps/install-dotnet-sdk-32bit.yml
  .azure-pipelines/steps/install-dotnet-sdks.yml
  .azure-pipelines/steps/install-dotnet.yml
  .azure-pipelines/steps/install-latest-dotnet-sdk.yml
  .azure-pipelines/steps/update-github-status-jobs.yml
  .azure-pipelines/ultimate-pipeline.yml
Labels: area:builds

#2771 Delete obsolete AutomapperTest sample
  Datadog.Trace.sln
  tracer/build/_build/Build.GitHub.cs
  tracer/build/_build/Build.Steps.cs
  tracer/build/_build/PrepareRelease/SetAllVersions.cs
  tracer/build/_build/Projects.cs
  tracer/test/test-applications/regression/AutomapperTest/AutomapperTest.csproj
  tracer/test/test-applications/regression/AutomapperTest/Dockerfile
  tracer/test/test-applications/regression/AutomapperTest/Program.cs
  tracer/test/test-applications/regression/AutomapperTest/Properties/launchSettings.json
Labels: area:builds, type:cleanup

#2772 Don't check agent connectivity when tracing is disabled
  tracer/src/Datadog.Trace/TracerManager.cs
Labels: area:tracer

#2773 Write integration test logs directly to `build_data` directory
  tracer/build/_build/Build.ExplorationTests.cs
  tracer/build/_build/Build.Steps.cs
  tracer/build/_build/NukeExtensions/DotNetSettingsExtensions.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/NoMultiLoaderTests.cs
Labels: area:builds

#2737 [Tracer] Fix precedence in ExporterSettings
  tracer/src/Datadog.Trace.Tools.Runner/CheckAgentCommand.cs
  tracer/src/Datadog.Trace/Configuration/ExporterSettings.cs
  tracer/src/Datadog.Trace/Configuration/ImmutableExporterSettings.cs
  tracer/src/Datadog.Trace/TracerManager.cs
  tracer/test/Datadog.Trace.Tests/Configuration/ExporterSettingsTests.cs
  tracer/test/Datadog.Trace.Tests/Configuration/ImmutableExporterSettingsTests.cs
  tracer/test/Datadog.Trace.Tools.Runner.IntegrationTests/Checks/AgentConnectivityCheckTests.cs
Labels: area:tracer

#2757 Add missing GraphQL 5 tests
  tracer/build/PackageVersionsGeneratorDefinitions.json
  tracer/build/PackageVersionsLatestMajors.g.props
  tracer/build/PackageVersionsLatestMinors.g.props
  tracer/build/PackageVersionsLatestSpecific.g.props
  tracer/dependabot/Datadog.Dependabot.Integrations.csproj
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestMajors.g.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestMinors.g.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestSpecific.g.cs
Labels: area:integrations

#2760 [Build] Don't build twice docker image in ITests
  .azure-pipelines/ultimate-pipeline.yml
  docker-compose.yml
Labels: area:builds

#2779 Refactor Windows Integration tests
  .azure-pipelines/ultimate-pipeline.yml
  tracer/build/_build/Build.Steps.cs
  tracer/build/_build/Build.VariableGenerations.cs
  tracer/build/_build/Build.cs
  tracer/build/_build/NukeExtensions/ProjectExtensions.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/IIS/LoaderOptimizationStartup.cs
  tracer/test/test-applications/integrations/Samples.AWS.Lambda/Samples.AWS.Lambda.csproj
  tracer/test/test-applications/integrations/Samples.AWS.SQS/Samples.AWS.SQS.csproj
  tracer/test/test-applications/integrations/Samples.Aerospike/Samples.Aerospike.csproj
  tracer/test/test-applications/integrations/Samples.Couchbase/Samples.Couchbase.csproj
  tracer/test/test-applications/integrations/Samples.Couchbase3/Samples.Couchbase3.csproj
  tracer/test/test-applications/integrations/Samples.Dapper/Samples.Dapper.csproj
  tracer/test/test-applications/integrations/Samples.Elasticsearch.V5/Samples.Elasticsearch.V5.csproj
  tracer/test/test-applications/integrations/Samples.Elasticsearch.V7/Samples.Elasticsearch.V7.csproj
  tracer/test/test-applications/integrations/Samples.Elasticsearch/Samples.Elasticsearch.csproj
  tracer/test/test-applications/integrations/Samples.Kafka/Samples.Kafka.csproj
  tracer/test/test-applications/integrations/Samples.MongoDB/Samples.MongoDB.csproj
  tracer/test/test-applications/integrations/Samples.MySql/Samples.MySql.csproj
  tracer/test/test-applications/integrations/Samples.MySqlConnector/Samples.MySqlConnector.csproj
  tracer/test/test-applications/integrations/Samples.Npgsql/Samples.Npgsql.csproj
  tracer/test/test-applications/integrations/Samples.OracleMDA.Core/Samples.OracleMDA.Core.csproj
  tracer/test/test-applications/integrations/Samples.OracleMDA/Samples.OracleMDA.csproj
  tracer/test/test-applications/integrations/Samples.RabbitMQ/Samples.RabbitMQ.csproj
  tracer/test/test-applications/integrations/Samples.ServiceStack.Redis/Samples.ServiceStack.Redis.csproj
  tracer/test/test-applications/integrations/Samples.StackExchange.Redis/Samples.StackExchange.Redis.csproj
Labels: area:builds

#2781 Use the same .NET SDK version in GitHub Actions as we do in Azure Devops
  .github/workflows/auto_add_vnext_milestone_to_pr.yml
  .github/workflows/auto_bump_test_package_versions.yml
  .github/workflows/auto_create_version_bump_pr.yml
  .github/workflows/auto_label_prs.yml
  .github/workflows/auto_update_benchmark_branches.yml
  .github/workflows/create_draft_release.yml
  .github/workflows/create_hotfix_branch.yml
  .github/workflows/force_manual_version_bump.yml
  .github/workflows/profiler-pipeline.yml
  .github/workflows/verify_source_generated_changes_are_persisted.yml
Labels: area:builds

#2782 Improve git checkout to handle rebases on Benchmark VMs
  .azure-pipelines/steps/clone-repo.yml
Labels: area:builds

#2767 Call get_Instance instead of GetDistributedTracer in case of version mismatch
  Datadog.Trace.sln
  tracer/src/Datadog.Trace.ClrProfiler.Native/cor_profiler.cpp
  tracer/src/Datadog.Trace.ClrProfiler.Native/cor_profiler.h
  tracer/src/Datadog.Trace.ClrProfiler.Native/dd_profiler_constants.h
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/SmokeTests/AssemblyLoadContextRedirectSmokeTest.cs
  tracer/test/test-applications/regression/AssemblyLoadContextRedirect/AssemblyLoadContextRedirect.csproj
  tracer/test/test-applications/regression/AssemblyLoadContextRedirect/CustomAssemblyLoadContext.cs
  tracer/test/test-applications/regression/AssemblyLoadContextRedirect/Program.cs
  tracer/test/test-applications/regression/AssemblyLoadContextRedirect/Properties/launchSettings.json
  tracer/test/test-applications/regression/AssemblyLoadContextRedirect/StuffUsingTracer.cs
Labels: area:tracer, area:native-library

#2786 Fix number of spans in telemetry tests
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/TelemetryTests.cs
Labels: area:tracer, area:tests

#2785 Run `git clean -ffdx` in checkout code
  .azure-pipelines/steps/clone-repo.yml
Labels: area:builds

#2787 Minor UDS support updates
  tracer/src/Datadog.Trace/Agent/TracesTransportStrategy.cs
  tracer/src/Datadog.Trace/Agent/Transports/HttpClientRequestFactory.cs
  tracer/src/Datadog.Trace/Agent/Transports/HttpStreamRequestFactory.cs
  tracer/src/Datadog.Trace/Agent/Transports/SocketHandlerRequestFactory.cs
  tracer/src/Datadog.Trace/Util/System.Diagnostics.CodeAnalysis.Attributes.cs
  tracer/test/Datadog.Trace.TestHelpers/EnvironmentHelper.cs
  tracer/test/Datadog.Trace.TestHelpers/MockTracerAgent.cs
Labels: type:refactor

#2789 [Profiler] Rename `pid` tag into `process id`
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/LibddprofExporter.cpp
Labels: area:profiler

#2780 Instrument custom methods using New Relic attributes
  tracer/src/Datadog.Trace.ClrProfiler.Native/cor_profiler.cpp
  tracer/src/Datadog.Trace.ClrProfiler.Native/integration.h
  tracer/test/snapshots/TraceAnnotationsAutomaticOnlyTests._.verified.txt
  tracer/test/snapshots/TraceAnnotationsVersionMismatchAfterFeatureTests._.verified.txt
  tracer/test/snapshots/TraceAnnotationsVersionMismatchBeforeFeatureTests._.verified.txt
  tracer/test/snapshots/TraceAnnotationsVersionMismatchNewerNuGetTests._.verified.txt
  tracer/test/test-applications/integrations/Samples.TraceAnnotations.VersionMismatch.AfterFeature/Samples.TraceAnnotations.VersionMismatch.AfterFeature.csproj
  tracer/test/test-applications/integrations/Samples.TraceAnnotations.VersionMismatch.BeforeFeature/Samples.TraceAnnotations.VersionMismatch.BeforeFeature.csproj
  tracer/test/test-applications/integrations/Samples.TraceAnnotations.VersionMismatch.NewerNuGet/Samples.TraceAnnotations.VersionMismatch.NewerNuGet.csproj
  tracer/test/test-applications/integrations/Samples.TraceAnnotations/ProgramHelpers.cs
  tracer/test/test-applications/integrations/Samples.TraceAnnotations/Samples.TraceAnnotations.csproj
Labels: type:enhancement, area:native-library

#2799 [Profiler] Fix error reported by UBSAN
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ProfilerEngineStatus.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ProfilerEngineStatus.h
Labels: area:profiler

#2805 [Profiler] Do not aggregate sample with empty callstack
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/SamplesAggregator.cpp
  profiler/test/Datadog.Profiler.Native.Tests/SamplesAggregatorTest.cpp
Labels: area:profiler

#2617 Add support for UDS to telemetry transport
  tracer/src/Datadog.Trace/Agent/TracesTransportStrategy.cs
  tracer/src/Datadog.Trace/Agent/Transports/HttpStreamRequestFactory.cs
  tracer/src/Datadog.Trace/Configuration/ConfigurationKeys.cs
  tracer/src/Datadog.Trace/HttpOverStreams/DatadogHttpClient.cs
  tracer/src/Datadog.Trace/HttpOverStreams/TelemetryAgentHttpHeaderHelper.cs
  tracer/src/Datadog.Trace/Telemetry/TelemetryFactory.cs
  tracer/src/Datadog.Trace/Telemetry/TelemetryHttpHeaderNames.cs
  tracer/src/Datadog.Trace/Telemetry/TelemetrySettings.cs
  tracer/src/Datadog.Trace/Telemetry/TelemetryTransportFactory.cs
  tracer/src/Datadog.Trace/Telemetry/Transports/JsonHttpClientTelemetryTransport.cs
  tracer/src/Datadog.Trace/Telemetry/Transports/JsonTelemetryTransport.cs
  tracer/src/Datadog.Trace/Telemetry/Transports/JsonTelemetryTransportBase.cs
  tracer/src/Datadog.Trace/Telemetry/Transports/JsonWebRequestTelemetryTransport.cs
  tracer/src/Datadog.Trace/Telemetry/Transports/TelemetryTransportFactory.cs
  tracer/src/Datadog.Trace/Telemetry/Transports/TelemetryTransportStrategy.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/Helpers/TelemetryHelper.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/TelemetryTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/TraceAnnotationsTests.cs
  tracer/test/Datadog.Trace.IntegrationTests/TelemetryTransportTests.cs
  tracer/test/Datadog.Trace.TestHelpers/EnvironmentHelper.cs
  tracer/test/Datadog.Trace.TestHelpers/MockHttpParser.cs
  tracer/test/Datadog.Trace.TestHelpers/MockTelemetryAgent.cs
  tracer/test/Datadog.Trace.TestHelpers/MockTracerAgent.cs
  tracer/test/Datadog.Trace.TestHelpers/TestHelper.cs
  tracer/test/Datadog.Trace.TestHelpers/UnixDomainSocketConfig.cs
  tracer/test/Datadog.Trace.TestHelpers/WindowsPipesConfig.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/TelemetrySettingsTests.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/Transports/JsonTelemetryTransportTests.cs
Labels: type:enhancement, area:tracer, area:telemetry

#2817 [Profiler] Add a cache for native frame resolution
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/FrameStore.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/FrameStore.h
Labels: area:profiler

#2814 [Profiler] Flush samples and export a last .pprof on exit
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CollectorBase.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CorProfilerCallback.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CorProfilerCallback.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/RuntimeIdStore.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/SamplesAggregator.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/SamplesAggregator.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/StackSamplerLoopManager.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/StackSamplerLoopManager.h
  profiler/test/Datadog.Profiler.Native.Tests/SamplesAggregatorTest.cpp
Labels: area:profiler

#2743 [Profiler] Implement exception profiler
  profiler/src/Demos/Samples.ExceptionGenerator/ExceptionGenerator.cs
  profiler/src/Demos/Samples.ExceptionGenerator/ExceptionsProfilerTestScenario.cs
  profiler/src/Demos/Samples.ExceptionGenerator/ParallelExceptionsScenario.cs
  profiler/src/Demos/Samples.ExceptionGenerator/Program.cs
  profiler/src/Demos/Samples.ExceptionGenerator/Samples.ExceptionGenerator.csproj
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/OsSpecificApi.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Windows/OsSpecificApi.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Configuration.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Configuration.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CorProfilerCallback.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CorProfilerCallback.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Datadog.Profiler.Native.vcxproj
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Datadog.Profiler.Native.vcxproj.filters
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/EnvironmentVariables.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ExceptionsProvider.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ExceptionsProvider.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/FrameStore.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/IConfiguration.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/OsSpecificApi.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/RawExceptionSample.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/RawExceptionSample.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Sample.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Sample.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/StackSamplerLoop.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/StackSamplerLoop.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/StackSamplerLoopManager.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/StackSamplerLoopManager.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/StackSnapshotResultReusableBuffer.h
  profiler/test/Datadog.Profiler.IntegrationTests/Exceptions/ExceptionsTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Helpers/EnvironmentVariables.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Helpers/PprofHelper.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Helpers/StackFrame.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Helpers/StackTrace.cs
  profiler/test/Datadog.Profiler.Native.Tests/ProfilerMockedInterface.h
  profiler/test/Datadog.Profiler.Native.Tests/SamplesProviderTest.cpp
Labels: area:profiler

#2819 [Profiler] Add a profile_seq tag to each uploaded .pprof
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/LibddprofExporter.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/LibddprofExporter.h
Labels: area:profiler

#2765 [Profiler] Update CPU profiling implementation
  profiler/src/Demos/Samples.BuggyBits/Program.cs
  profiler/src/Demos/Samples.Computer01/PiComputation.cs
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/OsSpecificApi.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Windows/Datadog.Profiler.Native.Windows.vcxproj
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Windows/Datadog.Profiler.Native.Windows.vcxproj.filters
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Windows/OsSpecificApi.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Windows/SystemTime.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Windows/SystemTime.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Windows/WindowsThreadsCpuManager.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CollectorBase.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CorProfilerCallback.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CpuTimeProvider.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CpuTimeProvider.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Datadog.Profiler.Native.vcxproj
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Datadog.Profiler.Native.vcxproj.filters
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ExceptionsProvider.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ExceptionsProvider.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/IManagedThreadList.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/IThreadsCpuManager.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ManagedThreadList.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ManagedThreadList.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/OsSpecificApi.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ProviderBase.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ProviderBase.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/SamplesAggregator.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/SamplesAggregator.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/StackSamplerLoop.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/StackSamplerLoop.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/WallTimeProvider.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/WallTimeProvider.h
  profiler/test/Datadog.Profiler.IntegrationTests/Properties/launchSettings.json
  profiler/test/Datadog.Profiler.Native.Tests/Datadog.Profiler.Native.Tests.vcxproj
  profiler/test/Datadog.Profiler.Native.Tests/Datadog.Profiler.Native.Tests.vcxproj.filters
  profiler/test/Datadog.Profiler.Native.Tests/ManagedThreadListTest.cpp
  profiler/test/Datadog.Profiler.Native.Tests/ProviderTest.cpp
  profiler/test/Datadog.Profiler.Native.Tests/SamplesAggregatorTest.cpp
  profiler/test/Datadog.Profiler.Native.Tests/SamplesProviderTest.cpp
  profiler/test/Datadog.Profiler.Native.Tests/ThreadsCpuManagerHelper.cpp
  profiler/test/Datadog.Profiler.Native.Tests/ThreadsCpuManagerHelper.h
Labels: area:profiler

#2822 [Profiler] Allow stack sampler metrics for Linux
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/StackSamplerLoopManager.cpp
Labels: area:profiler

#2821 Fix Gitlab job
  shared/src/msi-installer/ContinuousProfiler/Files.Managed.Net45.GAC.wxs
  shared/src/msi-installer/ContinuousProfiler/Files.Managed.Net45.wxs
  shared/src/msi-installer/ContinuousProfiler/Files.Managed.Net461.GAC.wxs
  shared/src/msi-installer/ContinuousProfiler/Files.Managed.Net461.wxs
  shared/src/msi-installer/ContinuousProfiler/Files.Managed.NetStandard20.wxs
  shared/src/msi-installer/ContinuousProfiler/Files.Managed.Netcoreapp31.wxs
  shared/src/msi-installer/ContinuousProfiler/Files.wxs
  shared/src/msi-installer/Product.wxs
  shared/src/msi-installer/WindowsInstaller.wixproj
  tracer/build/_build/Build.Profiler.Steps.cs
Labels: area:builds

#2825 [Profiler] Activate log message only in debug build
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/LinuxStackFramesCollector.cpp
Labels: area:profiler

#2818 [CallTarget] - Fix Nested Types Instrumentation
  tracer/src/Datadog.Trace.ClrProfiler.Native/calltarget_tokens.cpp
  tracer/src/Datadog.Trace.ClrProfiler.Native/calltarget_tokens.h
  tracer/src/Datadog.Trace.ClrProfiler.Native/method_rewriter.cpp
  tracer/src/Datadog.Trace.ClrProfiler.Native/tracer_tokens.cpp
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CallTargetNativeTests.cs
  tracer/test/test-applications/instrumentation/CallTargetNativeTest/Derived.cs
  tracer/test/test-applications/instrumentation/CallTargetNativeTest/Program.cs
  tracer/test/test-applications/instrumentation/CallTargetNativeTest/Properties/launchSettings.json
  tracer/test/test-applications/instrumentation/CallTargetNativeTest/With0Arguments.cs
  tracer/test/test-applications/instrumentation/CallTargetNativeTest/With1Arguments.cs
  tracer/test/test-applications/instrumentation/CallTargetNativeTest/With2Arguments.cs
  tracer/test/test-applications/instrumentation/CallTargetNativeTest/With3Arguments.cs
  tracer/test/test-applications/instrumentation/CallTargetNativeTest/With4Arguments.cs
  tracer/test/test-applications/instrumentation/CallTargetNativeTest/With5Arguments.cs
  tracer/test/test-applications/instrumentation/CallTargetNativeTest/With6Arguments.cs
  tracer/test/test-applications/instrumentation/CallTargetNativeTest/With7Arguments.cs
  tracer/test/test-applications/instrumentation/CallTargetNativeTest/With8Arguments.cs
  tracer/test/test-applications/instrumentation/CallTargetNativeTest/With9Arguments.cs
  tracer/test/test-applications/instrumentation/CallTargetNativeTest/WithOutArguments.cs
  tracer/test/test-applications/instrumentation/CallTargetNativeTest/WithRefArguments.cs
Labels: type:bug

#2739 [CIApp] - Per-test Code Coverage
  Datadog.Trace.sln
  tracer/src/Datadog.Trace.Coverage.collector/AssemblyInfo.cs
  tracer/src/Datadog.Trace.Coverage.collector/AssemblyProcessor.cs
  tracer/src/Datadog.Trace.Coverage.collector/ConsoleCollectorLogger.cs
  tracer/src/Datadog.Trace.Coverage.collector/CoverageCollector.cs
  tracer/src/Datadog.Trace.Coverage.collector/DataCollectorLogger.cs
  tracer/src/Datadog.Trace.Coverage.collector/Datadog.Trace.Coverage.collector.csproj
  tracer/src/Datadog.Trace.Coverage.collector/ICollectorLogger.cs
  tracer/src/Datadog.Trace.Coverage.collector/TracerTarget.cs
  tracer/src/Datadog.Trace.Tools.Runner/Datadog.Trace.Tools.Runner.csproj
  tracer/src/Datadog.Trace.Tools.Runner/Properties/launchSettings.json
  tracer/src/Datadog.Trace.Tools.Runner/RunHelper.cs
  tracer/src/Datadog.Trace/AssemblyInfo.cs
  tracer/src/Datadog.Trace/Ci/Configuration/CIVisibilitySettings.cs
  tracer/src/Datadog.Trace/Ci/Coverage/Attributes/AvoidCoverageAttribute.cs
  tracer/src/Datadog.Trace/Ci/Coverage/Attributes/CoveredAssemblyAttribute.cs
  tracer/src/Datadog.Trace/Ci/Coverage/CoverageContextContainer.cs
  tracer/src/Datadog.Trace/Ci/Coverage/CoverageEventHandler.cs
  tracer/src/Datadog.Trace/Ci/Coverage/CoverageInstruction.cs
  tracer/src/Datadog.Trace/Ci/Coverage/CoverageReporter.cs
  tracer/src/Datadog.Trace/Ci/Coverage/CoverageScope.cs
  tracer/src/Datadog.Trace/Ci/Coverage/DefaultCoverageEventHandler.cs
  tracer/src/Datadog.Trace/Ci/Coverage/Exceptions/PdbNotFoundException.cs
  tracer/src/Datadog.Trace/Ci/Coverage/Models/CoveragePayload.cs
  tracer/src/Datadog.Trace/Ci/Coverage/Models/FileCoverage.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/MsTestV2/MsTestIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/MsTestV2/TestMethodAttributeExecuteIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/MsTestV2/TestMethodRunnerExecuteIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/MsTestV2/UnitTestRunnerRunSingleTestIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/NUnit/NUnitIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/XUnit/XUnitIntegration.cs
  tracer/src/Datadog.Trace/Configuration/ConfigurationKeys.cs
  tracer/test/Datadog.Trace.TestHelpers/EnvironmentHelper.cs
  tracer/test/Datadog.Trace.TestHelpers/PublicApiTestsBase.cs
  tracer/test/Datadog.Trace.Tests/Snapshots/PublicApiTests.Datadog.Trace.PublicApiHasNotChanged.verified.txt
  tracer/test/Datadog.Trace.Tools.Runner.Tests/CoverageRewriteTests.cs
  tracer/test/Datadog.Trace.Tools.Runner.Tests/CoverageRewriterAssembly.dll
  tracer/test/Datadog.Trace.Tools.Runner.Tests/CoverageRewriterAssembly.pdb
  tracer/test/Datadog.Trace.Tools.Runner.Tests/Datadog.Trace.Tools.Runner.Tests.csproj
  tracer/test/Datadog.Trace.Tools.Runner.Tests/RunHelperTests.cs
  tracer/test/snapshots/CoverageRewriteTests.Original.verified.txt
  tracer/test/snapshots/CoverageRewriteTests.Rewritten.verified.txt
Labels: area:ci-app

#2828 Fix SamplingPriority in B3 and W3C headers
  tracer/src/Datadog.Trace/Propagators/B3ContextPropagator.cs
  tracer/src/Datadog.Trace/Propagators/B3SingleHeaderContextPropagator.cs
  tracer/src/Datadog.Trace/Propagators/W3CContextPropagator.cs
  tracer/test/Datadog.Trace.Tests/Propagators/B3SingleHeaderSpanContextPropagatorTests.cs
  tracer/test/Datadog.Trace.Tests/Propagators/B3SpanContextPropagatorTests.cs
  tracer/test/Datadog.Trace.Tests/Propagators/W3CSpanContextPropagatorTests.cs
Labels: type:bug, area:tracer

#2831 [CIApp] - Adds library_version to the message metadata
  tracer/src/Datadog.Trace/Ci/Agent/MessagePack/CIEventMessagePackFormatter.cs
Labels: area:ci-app

#2832 [Profiler] Fix empty labels
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/LibddprofExporter.cpp
Labels: area:profiler

#2807 Split linux integration tests to reduce overall runtime
  .azure-pipelines/ultimate-pipeline.yml
  tracer/Datadog.Trace.proj
  tracer/build/PackageVersionsLatestMajors.g.props
  tracer/build/PackageVersionsLatestMinors.g.props
  tracer/build/PackageVersionsLatestSpecific.g.props
  tracer/build/_build/Build.Steps.cs
  tracer/build/_build/Build.cs
  tracer/build/_build/GeneratePackageVersions/FileGenerator.cs
  tracer/build/_build/GeneratePackageVersions/MSBuildPropsFileGenerator.cs
  tracer/build/_build/GeneratePackageVersions/PackageVersionGenerator.cs
  tracer/build/_build/GeneratePackageVersions/XunitFileGenerator.cs
  tracer/build/_build/GeneratePackageVersions/XunitStrategyFileGenerator.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AWS/AwsLambdaTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AWS/AwsSqsTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AdoNet/DapperTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AdoNet/MicrosoftDataSqlClientTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AdoNet/MySqlCommandTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AdoNet/MySqlConnectorTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AdoNet/NpgsqlCommandTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AdoNet/SystemDataSqlClientTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AerospikeTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/Couchbase3Tests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CouchbaseTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/Elasticsearch5Tests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/Elasticsearch6Tests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/Elasticsearch7Tests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/KafkaTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/MongoDbTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/RabbitMQTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/ServiceStackRedisTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/SmokeTests/ServiceBusMinimalMassTransitTest.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/SmokeTests/ServiceBusMinimalNServiceBusTest.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/SmokeTests/ServiceBusMinimalRebusTest.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/SmokeTests/StackExchangeRedisAssemblyConflictLegacyProjectSmokeTest.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/SmokeTests/StackExchangeRedisAssemblyConflictSdkProjectSmokeTest.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/SmokeTests/StackExchangeRedisStackOverflowExceptionSmokeTest.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/StackExchangeRedisTests.cs
  tracer/test/test-applications/regression/ServiceBus.Minimal.MassTransit/ServiceBus.Minimal.MassTransit.csproj
  tracer/test/test-applications/regression/ServiceBus.Minimal.NServiceBus/ServiceBus.Minimal.NServiceBus.csproj
  tracer/test/test-applications/regression/ServiceBus.Minimal.Rebus/ServiceBus.Minimal.Rebus.csproj
  tracer/test/test-applications/regression/StackExchange.Redis.AssemblyConflict.SdkProject/StackExchange.Redis.AssemblyConflict.SdkProject.csproj
  tracer/test/test-applications/regression/StackExchange.Redis.StackOverflowException/StackExchange.Redis.StackOverflowException.csproj
Labels: area:builds

#2759 [ASM] Change to rate limit tests
  tracer/src/Datadog.Trace/AppSec/AppSecRateLimiter.cs
  tracer/src/Datadog.Trace/AppSec/RateLimiterTimer.cs
  tracer/src/Datadog.Trace/AppSec/Security.cs
  tracer/src/Datadog.Trace/AppSec/SecuritySettings.cs
  tracer/src/Datadog.Trace/Sampling/RateLimiter.cs
  tracer/src/Datadog.Trace/Sampling/RuleBasedSampler.cs
  tracer/src/Datadog.Trace/Sampling/TracerRateLimiter.cs
  tracer/src/Datadog.Trace/TracerManagerFactory.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/AspNetCore2RateLimiter.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/AspNetCore5RateLimiter.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/AspNetMvc5RateLimiter.cs
  tracer/test/Datadog.Trace.Tests/Sampling/RateLimiterTests.cs
Labels: area:app-sec

#2833 Fix `ThreadAbortAnalyzer` to work with the latest .NET SDK
  tracer/src/Datadog.Trace.Tools.Analyzers/AnalyzerReleases.Shipped.md
  tracer/src/Datadog.Trace.Tools.Analyzers/AnalyzerReleases.Unshipped.md
  tracer/src/Datadog.Trace.Tools.Analyzers/Datadog.Trace.Tools.Analyzers.csproj
  tracer/src/Datadog.Trace.Tools.Analyzers/ThreadAbortAnalyzer/Resources.cs
  tracer/src/Datadog.Trace.Tools.Analyzers/ThreadAbortAnalyzer/ThreadAbortAnalyzer.cs
  tracer/src/Datadog.Trace.Tools.Analyzers/ThreadAbortAnalyzer/ThreadAbortCodeFixProvider.cs
Labels: area:tools

#2835 [Release] Changes following last release
  .github/labeller.yml
  .github/workflows/auto-trigger-aas-release.yml
  tracer/build/_build/Build.GitHub.cs
Labels: area:builds

#2838 Fix downstream job trigger for deployments to rel-env
  .gitlab-ci.yml
Labels: area:builds

#2844 [Profiler] Fix analyzer error
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/LibddprofExporter.cpp
Labels: area:profiler

#2841 [Profiler] Disable debug logging for throughput tests
  profiler/build/crank/os.profiles.yml
Labels: area:profiler

#2839 Change code ownership
  .github/CODEOWNERS
Labels: area:builds

#2837 [Profiler] Fix profiler throughput test on master
  profiler/build/crank/run.sh
Labels: area:profiler

#2806 Use azure scale-sets for more jobs
  .azure-pipelines/ultimate-pipeline.yml
Labels: area:builds

#2850 Revert "Use azure scale-sets for more jobs (#2806)"
  .azure-pipelines/ultimate-pipeline.yml
Labels: area:builds

#2751 [Serverless] Support sampling in universal instrumentation
  docker-compose.yml
  tracer/build/_build/docker/serverless.extensionmock.dockerfile
  tracer/build/_build/docker/serverless.extensionmock.with.context.dockerfile
  tracer/src/Datadog.Trace/ClrProfiler/ServerlessInstrumentation/AWS/ILambdaExtensionRequest.cs
  tracer/src/Datadog.Trace/ClrProfiler/ServerlessInstrumentation/AWS/LambdaCommon.cs
  tracer/src/Datadog.Trace/ClrProfiler/ServerlessInstrumentation/AWS/LambdaRequestBuilder.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AWS/AwsLambdaTests.cs
  tracer/test/Datadog.Trace.Tests/LambdaCommonTests.cs
  tracer/test/Datadog.Trace.Tests/LambdaRequestBuilderTests.cs
  tracer/test/snapshots/AwsLambdaTests.verified.txt
  tracer/test/test-applications/integrations/Samples.AWS.Lambda/Program.cs
Labels: area:serverless

#2848 Add workaround for race condition in GRPC library
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/GrpcTests.cs
Labels: area:tests

#2856 [Profiler] Add exceptions throughput test scenario
  profiler/build/crank/Samples.AspNetCoreSimpleController.yml
  profiler/build/crank/run.sh
  tracer/test/test-applications/throughput/Samples.AspNetCoreSimpleController/Controllers/HelloController.cs
Labels: area:benchmarks, area:profiler

#2861 [Profiler] Set _GLIBCXX_USE_CXX11_ABI to 0 and remove liblzma dependency
  profiler/CMakeLists.txt
  profiler/build/cmake/FindLibunwind.cmake
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/CMakeLists.txt
Labels: area:profiler
