Repository DataDog/dd-trace-dotnet, pull requests merged in 2022-03, with the labels that each got.

#2521 Reverse Profiler to protobuf 3.7.0
  .github/workflows/profiler-pipeline.yml
  profiler/src/ProfilerEngine/Datadog.Profiler.Managed/Datadog.Profiler.Managed.csproj
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Windows/Resource.rc
  profiler/src/ProfilerEngine/ProductVersion.props
Labels: area:profiler

#2522 Run profiler pipeline on PRs to hotfix branches
  .github/workflows/profiler-pipeline.yml
Labels: area:builds, area:profiler

#2514 Add artifacts for the standalone tool
  .azure-pipelines/ultimate-pipeline.yml
Labels: area:builds

#2424 Add better handling of nullable type chaining
  tracer/src/Datadog.Trace/DuckTyping/DuckType.Fields.cs
  tracer/src/Datadog.Trace/DuckTyping/DuckType.Methods.cs
  tracer/src/Datadog.Trace/DuckTyping/DuckType.Properties.cs
  tracer/src/Datadog.Trace/DuckTyping/DuckType.cs
  tracer/test/Datadog.Trace.DuckTyping.Tests/DuckChainingNullableTests.cs
Labels: area:duck-typing

#2529 If the `int` status code is not valid, don't set it
  tracer/src/Datadog.Trace/ExtensionMethods/SpanExtensions.cs
Labels: area:tracer

#2534 Allow disabling samples on Alpine, and always running only major versions
  tracer/Datadog.Trace.proj
  tracer/build/PackageVersionsLatestMajors.g.props
  tracer/build/PackageVersionsLatestMinors.g.props
  tracer/build/_build/Build.Steps.cs
  tracer/build/_build/GeneratePackageVersions/MSBuildPropsFileGenerator.cs
  tracer/build/_build/GeneratePackageVersions/PackageVersionEntry.cs
  tracer/build/_build/GeneratePackageVersions/PackageVersionGenerator.cs
  tracer/build/_build/GeneratePackageVersions/XunitFileGenerator.cs
  tracer/build/_build/GeneratePackageVersions/XunitStrategyFileGenerator.cs
  tracer/dependabot/Datadog.Dependabot.Integrations.csproj
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersions.g.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestMajors.g.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestMinors.g.cs
Labels: area:builds, area:test-apps

#2516 [Appsec] Update rules file
  .azure-pipelines/ultimate-pipeline.yml
  tracer/src/Datadog.Trace/AppSec/Waf/Context.cs
  tracer/src/Datadog.Trace/AppSec/Waf/Encoder.cs
  tracer/src/Datadog.Trace/AppSec/Waf/Initialization/WafConfigurator.cs
  tracer/src/Datadog.Trace/AppSec/Waf/NativeBindings/WafNative.cs
  tracer/src/Datadog.Trace/AppSec/Waf/rule-set.json
  tracer/test/Datadog.Trace.Security.Unit.Tests/FuzzEncoder.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/WafTests.cs
Labels: area:app-sec

#2556 Add `--overwrite true` to Azure upload
  .azure-pipelines/ultimate-pipeline.yml
Labels: area:builds

#2560 Use Azure VMSS hosted runners
  .azure-pipelines/ultimate-pipeline.yml
Labels: area:builds

#2562 Allow skipping builds for some packages on ARM64
  tracer/Datadog.Trace.proj
  tracer/build/PackageVersionEntrySchema.json
  tracer/build/_build/Build.Steps.cs
  tracer/build/_build/GeneratePackageVersions/MSBuildPropsFileGenerator.cs
  tracer/build/_build/GeneratePackageVersions/PackageVersionEntry.cs
Labels: area:builds

#2566 Fix Yaml in .gitlab-ci.yml
  .gitlab-ci.yml
Labels: area:builds

#2563 Update test packages and fix MongoDb sample
  tracer/build/PackageVersionsGeneratorDefinitions.json
  tracer/build/PackageVersionsLatestMajors.g.props
  tracer/build/PackageVersionsLatestMinors.g.props
  tracer/build/PackageVersionsLatestSpecific.g.props
  tracer/dependabot/Datadog.Dependabot.Integrations.csproj
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/MongoDbTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestMajors.g.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestMinors.g.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestSpecific.g.cs
  tracer/test/snapshots/MongoDbTests.SubmitsTraces_packageVersion=2_15.verified.txt
  tracer/test/test-applications/integrations/Samples.MongoDB/Program.cs
  tracer/test/test-applications/integrations/Samples.MongoDB/Samples.MongoDB.csproj
Labels: area:test-apps

#2574 Adds missing using statement and fix telemetry deadlock
  tracer/src/Datadog.Trace/Telemetry/Transports/JsonWebRequestTelemetryTransport.cs
Labels: type:bug

#2576 [AppSec] small fix: don't log a warning if no waf timeout has been specified
  tracer/src/Datadog.Trace/AppSec/SecuritySettings.cs
  tracer/src/Datadog.Trace/Configuration/ConfigurationKeys.cs
Labels: area:app-sec

#2565 [Profiler] Backport feature: send heartbeat metric on each export
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CorProfilerCallback.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/DogstatsdService.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/DogstatsdService.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/IExporter.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/IMetricsSender.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/LibddprofExporter.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/LibddprofExporter.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/SamplesAggregator.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/SamplesAggregator.h
  profiler/test/Datadog.Profiler.Native.Tests/ProfilerMockedInterface.h
  profiler/test/Datadog.Profiler.Native.Tests/SamplesAggregatorTest.cpp
Labels: area:profiler

#2567 [Profiler] Use the PROFILER_VERSION from the header file in the new pipeline
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Datadog.Profiler.Native.vcxproj
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Datadog.Profiler.Native.vcxproj.filters
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/LibddprofExporter.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/dd_profiler_version.h
  tracer/build/_build/PrepareRelease/SetAllVersions.cs
Labels: area:profiler

#2581 Fix error in HttpWebRequest timeout value.
  tracer/src/Datadog.Trace/Agent/Transports/ApiWebRequestFactory.cs
Labels: type:bug

#2583 Refactor all sync over async disposals
  tracer/src/Datadog.Trace/Ci/CIVisibility.cs
  tracer/src/Datadog.Trace/LifetimeManager.cs
  tracer/src/Datadog.Trace/Logging/DirectSubmission/DirectLogSubmissionManager.cs
  tracer/src/Datadog.Trace/Logging/DirectSubmission/Sink/DatadogSink.cs
  tracer/src/Datadog.Trace/Logging/DirectSubmission/Sink/IDatadogSink.cs
  tracer/src/Datadog.Trace/Logging/DirectSubmission/Sink/NullDatadogSink.cs
  tracer/src/Datadog.Trace/Logging/DirectSubmission/Sink/PeriodicBatching/BatchingSink.cs
  tracer/src/Datadog.Trace/Telemetry/ITelemetryController.cs
  tracer/src/Datadog.Trace/Telemetry/NullTelemetryController.cs
  tracer/src/Datadog.Trace/Telemetry/TelemetryController.cs
  tracer/src/Datadog.Trace/TracerManager.cs
  tracer/test/Datadog.Trace.ClrProfiler.Managed.Tests/AutoInstrumentation/Logging/ILogger/DirectSubmissionLoggerTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.Managed.Tests/AutoInstrumentation/Logging/Log4Net/Log4NetHelper.cs
  tracer/test/Datadog.Trace.ClrProfiler.Managed.Tests/AutoInstrumentation/Logging/NLog/NLogHelper.cs
  tracer/test/Datadog.Trace.ClrProfiler.Managed.Tests/AutoInstrumentation/Logging/Serilog/SerilogHelper.cs
  tracer/test/Datadog.Trace.Tests/Logging/DirectSubmission/Sink/PeriodicBatching/BatchingSinkTests.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/CallTargetInvokerTelemetryTests.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/TelemetryControllerTests.cs
Labels: type:enhancement, area:tracer

#2552 [Profiler] Activate checks in smoke tests for the new pipeline
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/LinuxStackFramesCollector.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CorProfilerCallback.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Log.h
  profiler/test/Datadog.Profiler.IntegrationTests/SmokeTests/SmokeTestRunner.cs
Labels: area:profiler

#2584 [CIApp] - Small improvements.
  tracer/src/Datadog.Trace.BenchmarkDotNet/DatadogExporter.cs
  tracer/src/Datadog.Trace.Tools.Runner/Crank/Importer.cs
  tracer/src/Datadog.Trace/Ci/Agent/CIWriterHttpSender.cs
  tracer/src/Datadog.Trace/Ci/Agent/MessagePack/SpanMessagePackFormatter.cs
Labels: type:enhancement, area:ci-app

#2543 Instrument custom methods through configuration (DD_TRACE_METHODS)
  Datadog.Trace.sln
  tracer/src/Datadog.Trace.ClrProfiler.Native/Datadog.Trace.ClrProfiler.Native.def
  tracer/src/Datadog.Trace.ClrProfiler.Native/calltarget_tokens.cpp
  tracer/src/Datadog.Trace.ClrProfiler.Native/calltarget_tokens.h
  tracer/src/Datadog.Trace.ClrProfiler.Native/cor_profiler.cpp
  tracer/src/Datadog.Trace.ClrProfiler.Native/cor_profiler.h
  tracer/src/Datadog.Trace.ClrProfiler.Native/debugger_rejit_preprocessor.cpp
  tracer/src/Datadog.Trace.ClrProfiler.Native/debugger_rejit_preprocessor.h
  tracer/src/Datadog.Trace.ClrProfiler.Native/integration.cpp
  tracer/src/Datadog.Trace.ClrProfiler.Native/integration.h
  tracer/src/Datadog.Trace.ClrProfiler.Native/interop.cpp
  tracer/src/Datadog.Trace.ClrProfiler.Native/method_rewriter.cpp
  tracer/src/Datadog.Trace.ClrProfiler.Native/rejit_preprocessor.cpp
  tracer/src/Datadog.Trace.ClrProfiler.Native/rejit_preprocessor.h
  tracer/src/Datadog.Trace.ClrProfiler.Native/tracer_tokens.cpp
  tracer/src/Datadog.Trace.ClrProfiler.Native/tracer_tokens.h
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/TraceAnnotations/RuntimeHandleTuple.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/TraceAnnotations/TraceAnnotationInfo.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/TraceAnnotations/TraceAnnotationInfoFactory.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/TraceAnnotations/TraceAnnotationsIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/CallTarget/Handlers/IntegrationMapper.cs
  tracer/src/Datadog.Trace/ClrProfiler/Instrumentation.cs
  tracer/src/Datadog.Trace/ClrProfiler/InstrumentationDefinitions.cs
  tracer/src/Datadog.Trace/ClrProfiler/NativeMethods.cs
  tracer/src/Datadog.Trace/Configuration/ConfigurationKeys.cs
  tracer/src/Datadog.Trace/Configuration/ImmutableTracerSettings.cs
  tracer/src/Datadog.Trace/Configuration/IntegrationId.cs
  tracer/src/Datadog.Trace/Configuration/TracerSettings.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TagsListGenerator.TagListGenerator/TraceAnnotationTags.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TagsListGenerator.TagListGenerator/TraceAnnotationTags.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TagsListGenerator.TagListGenerator/TraceAnnotationTags.g.cs
  tracer/src/Datadog.Trace/Tagging/TraceAnnotationTags.cs
  tracer/src/Datadog.Trace/Telemetry/Collectors/ConfigurationTelemetryCollector.cs
  tracer/src/Datadog.Trace/Telemetry/DTOs/ConfigTelemetryData.cs
  tracer/src/Datadog.Trace/TracerManager.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/Helpers/TelemetryHelper.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/TraceAnnotationsTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.Native.Tests/integration_test.cpp
  tracer/test/benchmarks/Benchmarks.Trace/TraceAnnotationsBenchmark.cs
  tracer/test/snapshots/TraceAnnotationsTests._.verified.txt
  tracer/test/test-applications/integrations/Samples.TraceAnnotations/Program.cs
  tracer/test/test-applications/integrations/Samples.TraceAnnotations/Properties/launchSettings.json
  tracer/test/test-applications/integrations/Samples.TraceAnnotations/Samples.TraceAnnotations.csproj
  tracer/test/test-applications/integrations/Samples.TraceAnnotations/TestType.cs
Labels: area:tracer, area:integrations, area:call-target

#2589 [CIApp] - Add agentless url configuration key
  tracer/src/Datadog.Trace/Ci/Agent/Payloads/CITestCyclePayload.cs
  tracer/src/Datadog.Trace/Ci/Configuration/CIVisibilitySettings.cs
  tracer/src/Datadog.Trace/Configuration/ConfigurationKeys.cs
Labels: area:ci-app

#2593 Strengthen GraphQL span expectation to address test flakiness
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/Helpers/GraphQLSpanExpectation.cs
Labels: area:tests

#2590 Use CustomTestFramework in runner integration tests
  tracer/test/Datadog.Trace.TestHelpers/CustomTestFramework.cs
  tracer/test/Datadog.Trace.Tools.Runner.IntegrationTests/CustomTestFramework.cs
Labels: area:tests

#2597 Update joint MSI with original .NET Tracer configuration
  shared/src/msi-installer/Config.wxi
  shared/src/msi-installer/Product.wxs
  shared/src/msi-installer/shared/EnvironmentVariables.wxs
Labels: area:installers

#2587 [Tracer] Implement Code Hotspot feature
  tracer/src/Datadog.Trace/AsyncLocalScopeManager.cs
  tracer/src/Datadog.Trace/ContinuousProfiler/ConfigurationKeys.cs
  tracer/src/Datadog.Trace/ContinuousProfiler/Constants.cs
  tracer/src/Datadog.Trace/ContinuousProfiler/ContextTracker.cs
  tracer/src/Datadog.Trace/ContinuousProfiler/NativeInterop.cs
  tracer/src/Datadog.Trace/ContinuousProfiler/Profiler.cs
  tracer/src/Datadog.Trace/ContinuousProfiler/ProfilerStatus.cs
Labels: area:tracer

#2595 CLI - Check for suspicious registry keys in WOW6432Node
  tracer/src/Datadog.Trace.Tools.Runner/Checks/ProcessBasicCheck.cs
  tracer/src/Datadog.Trace.Tools.Runner/Checks/Resources.cs
  tracer/test/Datadog.Trace.Tools.Runner.IntegrationTests/Checks/ProcessBasicChecksTests.cs
Labels: type:enhancement, area:tools

#2596 [CIAPP] - CODEOWNERS support
  .github/CODEOWNERS
  tracer/src/Datadog.Trace/Ci/CIEnvironmentValues.cs
  tracer/src/Datadog.Trace/Ci/CIVisibility.cs
  tracer/src/Datadog.Trace/Ci/CodeOwners.cs
  tracer/src/Datadog.Trace/Ci/Tags/TestTags.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/MsTestV2/MsTestIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/NUnit/NUnitIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/XUnit/XUnitIntegration.cs
  tracer/src/Datadog.Trace/PDBs/MethodSymbolResolver.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/CodeOwnersTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/Data/CODEOWNERS_GITHUB
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/Data/CODEOWNERS_GITLAB
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/MsTestV2Tests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/NUnitTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/XUnitTests.cs
Labels: type:new-feature, area:ci-app

#2308 Add Tracer testing and more repos to exploration tests
  .azure-pipelines/ultimate-pipeline.yml
  docker-compose.ci.azdo.yml
  tracer/build/_build/Build.ExplorationTests.cs
  tracer/build/_build/Build.Steps.cs
  tracer/build/_build/Build.VariableGenerations.cs
Labels: area:builds, area:tests

#2602 NGEN - Refactor rejit handler to remove inliners on module unload.
  tracer/src/Datadog.Trace.ClrProfiler.Native/cor_profiler.cpp
  tracer/src/Datadog.Trace.ClrProfiler.Native/rejit_handler.cpp
Labels: type:bug, area:native-library

#2572 Add timeouts to remote requests
  tracer/src/Datadog.Trace/Logging/DirectSubmission/LogsTransportStrategy.cs
  tracer/src/Datadog.Trace/Telemetry/TelemetryTransportFactory.cs
  tracer/src/Datadog.Trace/Telemetry/Transports/JsonWebRequestTelemetryTransport.cs
Labels: area:tracer

#2570 [Profiler] Use smart_pointer to manage services lifetime
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CorProfilerCallback.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CorProfilerCallback.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/IClrLifetime.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ManagedThreadList.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/StackSamplerLoopManager.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/StackSnapshotsBufferManager.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/SymbolsResolver.h
Labels: type:cleanup, area:profiler

#2616 [CLI] Correctly handle end of stream in ProcessMemoryStream
  tracer/src/Datadog.Trace.Tools.Runner/Checks/Windows/ProcessMemoryStream.cs
Labels: type:bug, area:tools

#2619 [Profiler] Fix profiler build
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CorProfilerCallback.cpp
Labels: area:profiler

#2609 Add null checks and remove the possibility to do wrong type casting
  tracer/src/Datadog.Trace/Ci/CIEnvironmentValues.cs
  tracer/src/Datadog.Trace/PDBs/MethodSymbolResolver.cs
Labels: type:bug, area:ci-app

#2603 [CIApp] - Update payload metadata format to latest spec
  tracer/src/Datadog.Trace/Ci/Agent/MessagePack/CIEventMessagePackFormatter.cs
  tracer/src/Datadog.Trace/PDBs/MethodSymbolResolver.cs
Labels: area:ci-app
