Repository DataDog/dd-trace-dotnet, pull requests merged in 2022-07, with the labels that each got.

#2929 [Profiler] Fix parsing thread information
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/OsSpecificApi.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/OpSysTools.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/OpSysTools.h
  profiler/test/Datadog.Profiler.Native.Tests/Datadog.Profiler.Native.Tests.vcxproj
  profiler/test/Datadog.Profiler.Native.Tests/Datadog.Profiler.Native.Tests.vcxproj.filters
  profiler/test/Datadog.Profiler.Native.Tests/OpSysToolsTest.cpp
Labels: area:profiler

#2940 [Profiler] Do not dereference nullptr to avoid crashing
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CorProfilerCallback.cpp
Labels: area:profiler

#2942 [Profiler] Clean the way we build the profiler on Linux
  profiler/CMakeLists.txt
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/CMakeLists.txt
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/OpSysTools.cpp
  profiler/test/Datadog.Profiler.Native.Tests/CMakeLists.txt
  tracer/build/_build/Build.Profiler.Steps.cs
Labels: area:profiler

#2890 [Pipeline Monitoring] Make it run at the end in any case
  .azure-pipelines/ultimate-pipeline.yml
Labels: area:builds

#2937 Add smoke tests for the MSI installer
  .azure-pipelines/steps/run-snapshot-test.yml
  .azure-pipelines/ultimate-pipeline.yml
  docker-compose.windows.yml
  tracer/build/_build/Build.VariableGenerations.cs
  tracer/build/_build/docker/smoke.windows.dockerfile
  tracer/build/_build/docker/test-agent.windows.dockerfile
  tracer/build/_build/docker/wait-for-dependencies-windows.dockerfile
  tracer/build/_build/docker/wait-for-dependencies.ps1
Labels: area:tests

#2941 Add smoke tests for windows-tracer-home.zip
  .azure-pipelines/ultimate-pipeline.yml
  docker-compose.windows.yml
  tracer/build/_build/Build.VariableGenerations.cs
  tracer/build/_build/docker/smoke.windows.tracer-home.dockerfile
Labels: area:tests

#2948 Log the number of dropped spans when flushing the buffer
  tracer/src/Datadog.Trace/Agent/AgentWriter.cs
Labels: area:tracer

#2944 Add smoke tests for dotnet-tool instrumentation on Windows
  .azure-pipelines/ultimate-pipeline.yml
  docker-compose.windows.yml
  tracer/build/_build/Build.VariableGenerations.cs
  tracer/build/_build/docker/smoke.windows.dotnet-tool.dockerfile
  tracer/test/test-applications/regression/AspNetCoreSmokeTest/Program.cs
Labels: area:tests

#2936 [Tracer] Add throughput tests for stats computation
  .azure-pipelines/ultimate-pipeline.yml
  tracer/build/crank/Samples.AspNetCoreSimpleController.yml
  tracer/build/crank/run.sh
Labels: area:builds

#2947 Add Smoke testing of the NuGet package on Windows
  .azure-pipelines/ultimate-pipeline.yml
  docker-compose.windows.yml
  tracer/build/_build/Build.VariableGenerations.cs
  tracer/build/_build/docker/smoke.windows.nuget.dockerfile
Labels: area:tests

#2913 [Profiler] Reenable sampling test
  profiler/test/Datadog.Profiler.IntegrationTests/Exceptions/ExceptionsTest.cs
Labels: area:tests, area:profiler

#2949 Add smoke tests for dotnet-tool instrumentation on Linux
  .azure-pipelines/ultimate-pipeline.yml
  docker-compose.yml
  tracer/build/_build/Build.VariableGenerations.cs
  tracer/build/_build/docker/smoke.dotnet-tool.dockerfile
Labels: area:tests

#2951 Add support for alpine to the dd-trace tool
  tracer/build/_build/Build.VariableGenerations.cs
  tracer/src/Datadog.Trace.Tools.Runner/Utils.cs
Labels: type:enhancement, area:tests, area:tools, area:ci-app

#2927 [Tracer] Convert ServiceStackRedis integration tests to snapshots
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/ServiceStackRedisTests.cs
  tracer/test/snapshots/ServiceStackRedisTests.RunServiceStack.verified.txt
Labels: area:tests

#2954 Exclude guid-like assembly names from telemetry
  tracer/src/Datadog.Trace/Telemetry/Collectors/DependencyTelemetryCollector.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/Collectors/DependencyTelemetryCollectorTests.cs
Labels: area:telemetry

#2959 Add support for StackExchange.Redis 2.6.48
  tracer/build/PackageVersionsLatestMajors.g.props
  tracer/build/PackageVersionsLatestMinors.g.props
  tracer/build/PackageVersionsLatestSpecific.g.props
  tracer/dependabot/Datadog.Dependabot.Integrations.csproj
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Redis/StackExchange/RedisExecuteAsyncIntegration_2_6_48.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.InstrumentationDefinitions.InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.InstrumentationDefinitions.InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.InstrumentationDefinitions.InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.InstrumentationDefinitions.InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestMajors.g.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestMinors.g.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestSpecific.g.cs
Labels: type:enhancement, area:integrations

#2952 [Profiler] Build and package the Profiler for Arm64 architecture
  .azure-pipelines/ultimate-pipeline.yml
  profiler/build/cmake/FindLibddprof.cmake
  profiler/build/cmake/FindLibunwind.cmake
  profiler/build/tools/fetch_libddprof.sh
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/CMakeLists.txt
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/LinuxStackFramesCollector.cpp
  tracer/build/_build/Build.Steps.cs
  tracer/src/Datadog.AutoInstrumentation.NativeLoader/loader.conf
  tracer/test/Datadog.Trace.TestHelpers/EnvironmentHelper.cs
Labels: area:builds, area:profiler

#2897 propagate trace tags to downstream services (horizontal propagation)
  tracer/src/Datadog.Trace/Agent/MessagePack/SpanMessagePackFormatter.cs
  tracer/src/Datadog.Trace/Ci/Agent/MessagePack/SpanMessagePackFormatter.cs
  tracer/src/Datadog.Trace/Configuration/ConfigurationKeys.cs
  tracer/src/Datadog.Trace/Configuration/ImmutableTracerSettings.cs
  tracer/src/Datadog.Trace/Configuration/TracerSettings.cs
  tracer/src/Datadog.Trace/HttpHeaderNames.cs
  tracer/src/Datadog.Trace/PropagationErrorTagValues.cs
  tracer/src/Datadog.Trace/Propagators/DatadogContextPropagator.cs
  tracer/src/Datadog.Trace/Propagators/DistributedContextExtractor.cs
  tracer/src/Datadog.Trace/SpanContext.cs
  tracer/src/Datadog.Trace/Tagging/TagPropagation.cs
  tracer/src/Datadog.Trace/Tagging/TraceTagCollection.cs
  tracer/src/Datadog.Trace/Tags.cs
  tracer/src/Datadog.Trace/TraceContext.cs
  tracer/src/Datadog.Trace/TraceTagNames.cs
  tracer/src/Datadog.Trace/Tracer.cs
  tracer/test/Datadog.Trace.IntegrationTests/TraceTagTests.cs
  tracer/test/Datadog.Trace.Tests/Snapshots/PublicApiTests.Datadog.Trace.PublicApiHasNotChanged.verified.txt
  tracer/test/Datadog.Trace.Tests/SpanContextPropagatorTests.cs
  tracer/test/Datadog.Trace.Tests/Tagging/TagPropagationTests.cs
  tracer/test/Datadog.Trace.Tests/Tagging/TraceTagsCollectionTests.cs
Labels: area:tracer, needs-docs-update

#2963 Installer test tweaks
  .azure-pipelines/ultimate-pipeline.yml
Labels: area:builds, area:tests

#2975 [Profiler] Run Profiler unit tests in container in Github Actions
  .github/workflows/profiler-pipeline.yml
Labels: area:builds, area:profiler

#2967 [Profiler] Deactivate profiling on linux if wrapper library is not used
  .github/workflows/profiler-pipeline.yml
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Windows/OsSpecificApi.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CorProfilerCallback.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/DllMain.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/OpSysTools.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/OpSysTools.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ProfilerEngineStatus.cpp
  profiler/test/Datadog.Profiler.IntegrationTests/LinuxOnly/WrapperLibraryTest.cs
  profiler/test/Datadog.Profiler.Native.Tests/ConfigurationTest.cpp
Labels: area:profiler

#2969 [CI Visibility] - Add support for CoveragePayload message pack serialization
  tracer/src/Datadog.Trace/Ci/Agent/MessagePack/CIFormatterResolver.cs
  tracer/src/Datadog.Trace/Ci/Agent/MessagePack/CoveragePayloadMessagePackFormatter.cs
  tracer/src/Datadog.Trace/Ci/Agent/MessagePack/IEventMessagePackFormatter.cs
  tracer/src/Datadog.Trace/Ci/Coverage/Models/CoveragePayload.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/Common.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/MsTestV2/MsTestIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/MsTestV2/TestMethodAttributeExecuteIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/MsTestV2/TestMethodRunnerExecuteIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/MsTestV2/UnitTestRunnerRunSingleTestIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/NUnit/NUnitIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/XUnit/XUnitIntegration.cs
Labels: area:ci-visibility

#2970 [Profiler] Bump libddprof to libdatadog (former libddprof) 0.7.0
  profiler/CMakeLists.txt
  profiler/build/cmake/FindLibdatadog.cmake
  profiler/build/cmake/FindLibddprof.cmake
  profiler/build/tools/fetch_libdatadog.sh
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/CMakeLists.txt
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Windows/Datadog.Profiler.Native.Windows.vcxproj
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Windows/packages.config
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Datadog.Profiler.Native.vcxproj
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/LibddprofExporter.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/packages.config
  profiler/test/Datadog.Profiler.Native.Tests/Datadog.Profiler.Native.Tests.vcxproj
  profiler/test/Datadog.Profiler.Native.Tests/packages.config
Labels: area:profiler

#2950 [Profiler] Ensure the profiler run on CentOS7
  .azure-pipelines/steps/run-in-docker.yml
  .azure-pipelines/ultimate-pipeline.yml
  docker-compose.yml
  tracer/build/_build/Build.VariableGenerations.cs
  tracer/build/_build/docker/centos7.build.dockerfile
  tracer/build/_build/docker/centos7.dockerfile
  tracer/build/_build/docker/smoke.dockerfile
  tracer/build_in_docker.sh
Labels: area:profiler

#2962 Add support for Multipart form data to ApiWebRequest and HttpClientRequest
  tracer/src/Datadog.Trace/Agent/IMultipartApiRequest.cs
  tracer/src/Datadog.Trace/Agent/MultipartFormItem.cs
  tracer/src/Datadog.Trace/Agent/Transports/ApiWebRequest.cs
  tracer/src/Datadog.Trace/Agent/Transports/HttpClientRequest.cs
  tracer/test/Datadog.Trace.TestHelpers.SharedSource/VerifyHelper.cs
  tracer/test/Datadog.Trace.Tests/Datadog.Trace.Tests.csproj
  tracer/test/Datadog.Trace.Tests/MultipartFormTests.cs
  tracer/test/snapshots/MultipartFormTests.ApiWebRequestMultipartTest.verified.txt
  tracer/test/snapshots/MultipartFormTests.ApiWebRequestValidationTest.verified.txt
  tracer/test/snapshots/MultipartFormTests.HttpClientRequestMultipartTest.verified.txt
Labels: area:tracer, area:ci-visibility

#2985 Fix Aerospike tests and convert to snapshots
  tracer/build/_build/Build.Steps.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AerospikeTests.cs
  tracer/test/snapshots/AerospikeTests.verified.txt
Labels: area:tests, area:test-apps

#2987 [Profiler] Use net6.0 for integration tests
  profiler/test/Datadog.Profiler.IntegrationTests/Datadog.Profiler.IntegrationTests.csproj
Labels: area:tests, area:profiler

#2994 [Profiler] Deactivate profiler on ARM64
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/DllMain.cpp
Labels: area:profiler

#3002 [Profiler] Fix Arm64 installer smoke tests
  tracer/src/Datadog.Trace/ContinuousProfiler/ProfilerStatus.cs
Labels: area:tracer, area:profiler

#2977 [Profiler] Minor cleanup
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/LinuxStackFramesCollector.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/LinuxStackFramesCollector.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/OsSpecificApi.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Windows/OsSpecificApi.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/AdaptiveSampler.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Configuration.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Configuration.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/DogstatsdService.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/DogstatsdService.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ExceptionSampler.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ExceptionSampler.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/IConfiguration.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/LibddprofExporter.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ManagedThreadInfo.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/OpSysTools.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/OpSysTools.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ProfilerEngineStatus.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/StackSamplerLoop.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Timer.Windows.cpp
  profiler/test/Datadog.Profiler.IntegrationTests/CodeHotspot/BuggyBitsTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/CpuProfiler/CpuProfilerTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/SmokeTests/BuggyBitsTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/SmokeTests/Computer01Test.cs
  profiler/test/Datadog.Profiler.IntegrationTests/SmokeTests/ExceptionGeneratorTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/SmokeTests/WebsiteAspNetCore01Test.cs
  profiler/test/Datadog.Profiler.Native.Tests/HResultConverterTest.cpp
  profiler/test/Datadog.Profiler.Native.Tests/IMetricsSenderFactoryTest.cpp
Labels: area:profiler

#3005 [CI] Allow throughput to run on benchmark branches
  .azure-pipelines/ultimate-pipeline.yml
Labels: area:builds

#3003 Ignore `process_id` in smoke test snapshots on Linux
  docker-compose.yml
Labels: area:builds

#3006 Fix the path to the native loader
  tracer/build/_build/BuildVariables.cs
Labels: area:builds

#3010 Try disabling telemetry in ci
  .azure-pipelines/steps/run-in-docker.yml
  .azure-pipelines/ultimate-pipeline.yml
  tracer/build_in_docker.ps1
  tracer/build_in_docker.sh
Labels: area:builds

#3014 Downgrade version of `dotenv` installed with `fpm`
  tracer/build/_build/docker/alpine.dockerfile
  tracer/build/_build/docker/centos7.dockerfile
  tracer/build/_build/docker/debian.dockerfile
Labels: area:builds

#2918 [Tracer] Fix span properties
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/SDK/IRequest.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/SDK/RuntimePipelineInvokeAsyncIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/SDK/RuntimePipelineInvokeSyncIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/CosmosDb/CosmosCommon.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Redis/RedisHelper.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Redis/RedisTags.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Redis/ServiceStack/RedisNativeClientSendReceiveIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Redis/StackExchange/ConnectionMultiplexerExecuteAsyncImplIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Redis/StackExchange/ConnectionMultiplexerExecuteAsyncImplIntegration_2_6_45.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Redis/StackExchange/ConnectionMultiplexerExecuteSyncImplIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Redis/StackExchange/ConnectionMultiplexerExecuteSyncImplIntegration_2_6_45.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Redis/StackExchange/RedisExecuteAsyncIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Redis/StackExchange/RedisExecuteAsyncIntegration_2_6_48.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Redis/StackExchange/RedisExecuteSyncIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Wcf/WcfCommon.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TagsListGenerator.TagListGenerator/CosmosDbTags.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TagsListGenerator.TagListGenerator/RedisTags.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TagsListGenerator.TagListGenerator/WcfTags.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TagsListGenerator.TagListGenerator/CosmosDbTags.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TagsListGenerator.TagListGenerator/RedisTags.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TagsListGenerator.TagListGenerator/WcfTags.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TagsListGenerator.TagListGenerator/CosmosDbTags.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TagsListGenerator.TagListGenerator/RedisTags.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TagsListGenerator.TagListGenerator/WcfTags.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TagsListGenerator.TagListGenerator/CosmosDbTags.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TagsListGenerator.TagListGenerator/RedisTags.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TagsListGenerator.TagListGenerator/WcfTags.g.cs
  tracer/src/Datadog.Trace/Tagging/CosmosDbTags.cs
  tracer/src/Datadog.Trace/Tagging/WcfTags.cs
  tracer/src/Datadog.Trace/Util/UriHelpers.cs
  tracer/test/Datadog.Trace.Tests/Util/UriHelpersTests.cs
  tracer/test/snapshots/AwsSqsTests.NetCore.verified.txt
  tracer/test/snapshots/AwsSqsTests.NetFramework.verified.txt
  tracer/test/snapshots/ServiceStackRedisTests.RunServiceStack.verified.txt
  tracer/test/snapshots/WcfTests.__binding=BasicHttpBinding_enableNewWcfInstrumentation=False.verified.txt
  tracer/test/snapshots/WcfTests.__binding=BasicHttpBinding_enableNewWcfInstrumentation=True.verified.txt
  tracer/test/snapshots/WcfTests.__binding=NetTcpBinding_enableNewWcfInstrumentation=False.verified.txt
  tracer/test/snapshots/WcfTests.__binding=NetTcpBinding_enableNewWcfInstrumentation=True.verified.txt
  tracer/test/snapshots/WcfTests.__binding=WSHttpBinding_enableNewWcfInstrumentation=False.verified.txt
  tracer/test/snapshots/WcfTests.__binding=WSHttpBinding_enableNewWcfInstrumentation=True.verified.txt
Labels: type:bug, area:tracer

#3013 Increase WaitForExit time in `DebuggerSampleProcessHelper`
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/Debugger/DebuggerSampleProcessHelper.cs
Labels: area:tests, area:debugger

#2973 Add FNV-64bit hash implementation for Data Streams Monitoring
  tracer/src/Datadog.Trace/Util/FnvHash64.cs
  tracer/src/Datadog.Trace/Util/System.Runtime.CompilerServices.Attributes.cs
  tracer/test/Datadog.Trace.Tests/Util/FnvHash64Tests.cs
Labels: area:tracer

#2960 [Tracer][AAS] Add Resource Id on chunks to avoid double billing
  tracer/src/Datadog.Trace/TraceContext.cs
  tracer/test/Datadog.Trace.TestHelpers/AzureAppServicesRestorerAttribute.cs
  tracer/test/Datadog.Trace.Tests/AzureAppServicesTestCollection.cs
  tracer/test/Datadog.Trace.Tests/PlatformHelpers/AzureAppServicesTests.cs
  tracer/test/Datadog.Trace.Tests/Propagators/B3SingleHeaderSpanContextPropagatorTests.cs
  tracer/test/Datadog.Trace.Tests/Propagators/B3SpanContextPropagatorTests.cs
  tracer/test/Datadog.Trace.Tests/Propagators/W3CSpanContextPropagatorTests.cs
  tracer/test/Datadog.Trace.Tests/TraceContextTests.cs
Labels: area:tracer

#3022 Tiny fix for code analysis blocker on IndieSystem.Text.RegularExpressions.Symbolic.UnicodeCategoryRangesGenerator
  tracer/src/Datadog.Trace/Vendors/IndieSystem.Text.RegularExpressions/System/Text/RegularExpressions/Symbolic/UnicodeCategoryRangesGenerator.cs
Labels: area:tracer
