Repository DataDog/dd-trace-dotnet, pull requests merged in 2023-09, with the labels that each got.

#4577 [ASM] Filter azure assemblies in the stack of vulnerabilities
  tracer/src/Datadog.Trace/Iast/StackWalker.cs
Labels: area:tracer, area:asm, area:asm-iast

#4572 [CI Visibility] `dd-trace ci configure` improvements
  tracer/src/Datadog.Trace.Tools.Runner/CIConfiguration.cs
  tracer/src/Datadog.Trace/Ci/IntelligentTestRunnerClient.cs
Labels: area:ci-visibility

#4507 [CIVisibility] Add code coverage exclusion filters
  tracer/src/Datadog.Trace.Coverage.collector/AssemblyProcessor.cs
  tracer/src/Datadog.Trace.Coverage.collector/CoverageCollector.cs
  tracer/src/Datadog.Trace.Coverage.collector/CoverageSettings.cs
  tracer/src/Datadog.Trace.Coverage.collector/DataCollectorLogger.cs
  tracer/src/Datadog.Trace.Coverage.collector/Datadog.Trace.Coverage.collector.csproj
  tracer/src/Datadog.Trace.Coverage.collector/FiltersHelper.cs
  tracer/src/Datadog.Trace/AssemblyInfo.cs
  tracer/test/Datadog.Trace.Tools.Runner.Tests/CoverageFilterTests.cs
  tracer/test/Datadog.Trace.Tools.Runner.Tests/CoverageRewriteTests.cs
  tracer/test/snapshots/CoverageRewriteTests.Rewritten.CoverletFilterByAssemblyAttribute.verified.txt
  tracer/test/snapshots/CoverageRewriteTests.Rewritten.CoverletFilterByAssemblyType.verified.txt
  tracer/test/snapshots/CoverageRewriteTests.Rewritten.CoverletFilterByAttribute.verified.txt
  tracer/test/snapshots/CoverageRewriteTests.Rewritten.CoverletFilterBySourceFile.verified.txt
  tracer/test/snapshots/CoverageRewriteTests.Rewritten.NetFrameworkSettingsFilterByAttribute.verified.txt
  tracer/test/snapshots/CoverageRewriteTests.Rewritten.NetFrameworkSettingsFilterBySourceFile.verified.txt
Labels: area:ci-visibility

#4571 Add a retry to the macos unit tests
  .azure-pipelines/ultimate-pipeline.yml
Labels: area:builds

#4486 Assert that we don't timeout for MockTracerAgent
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/HttpMessageHandlerTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/OpenTelemetrySdkTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/ProcessStartTests/ProcessStartCommonTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/TraceAnnotationsTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/WebRequest20Tests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/WebRequestTests.cs
  tracer/test/Datadog.Trace.IntegrationTests/StatsTests.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/AspNetWebForms.cs
  tracer/test/Datadog.Trace.TestHelpers/MockTracerAgent.cs
  tracer/test/Datadog.Trace.TestHelpers/SpanTagAssertion.cs
Labels: area:tests

#4559 [Serverless][AWS] Fix serialization to use `JsonConverter`
  tracer/src/Datadog.Trace/ClrProfiler/ServerlessInstrumentation/AWS/LambdaCommon.cs
  tracer/test/Datadog.Trace.Tests/LambdaCommonTests.cs
Labels: area:automatic-instrumentation, area:serverless

#4493 [Profiler] Remove unneeded debug logs (to be replaced by frames related metrics)
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/StackSamplerLoop.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/StackSamplerLoop.h
Labels: area:profiler

#4569 [Profiler] Improve integration tests output
  profiler/test/Datadog.Profiler.IntegrationTests/Allocations/AllocationsProfilerTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/ApplicationInfoTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/CodeHotspot/CodeHotspotTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Contention/ContentionProfilerTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/CpuAndWallTime/CpuAndWallTimeTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Exceptions/ExceptionsTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Helpers/EnvironmentHelper.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Helpers/MockDatadogAgent.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Helpers/SamplesHelper.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Helpers/StackTrace.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Helpers/TestAppFact.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Helpers/TestApplicationRunner.cs
  profiler/test/Datadog.Profiler.IntegrationTests/LinuxOnly/WrapperLibraryTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/LiveObjects/LiveObjectsProfilerTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Logger/NativeLogger.cs
  profiler/test/Datadog.Profiler.IntegrationTests/MetricsTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/SmokeTests/BuggyBitsTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/SmokeTests/Computer01Test.cs
  profiler/test/Datadog.Profiler.IntegrationTests/SmokeTests/CpuLimitTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/SmokeTests/SmokeTestRunner.cs
  profiler/test/Datadog.Profiler.IntegrationTests/TimelineTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/WindowsOnly/NamedPipeTestcs.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Xunit/ProfilerBeforeAfterTestAttribute.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Xunit/ProfilerTestCase.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Xunit/ProfilerTestCaseRunner.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Xunit/SkippableTestCase.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Xunit/TestAppFrameworkDiscover.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Xunit/TestContext.cs
Labels: area:profiler

#4560 [Profiler] Add tests for Wrapper library + pthread_create for alpine
  profiler/CMakeLists.txt
  profiler/src/ProfilerEngine/Datadog.Linux.ApiWrapper/functions_to_wrap.c
  profiler/test/CMakeLists.txt
  profiler/test/Datadog.Linux.ApiWrapper.Tests/CMakeLists.txt
  profiler/test/Datadog.Linux.ApiWrapper.Tests/WrappedFunctions.cpp
  tracer/build/_build/Build.Profiler.Steps.cs
Labels: area:profiler

#4578 [ASM] Add waf benchmark with attack
  tracer/test/benchmarks/Benchmarks.Trace/Asm/AppSecWafBenchmark.cs
  tracer/test/benchmarks/Benchmarks.Trace/Asm/rule-set.1.7.2.json
  tracer/test/benchmarks/Benchmarks.Trace/Benchmarks.Trace.csproj
Labels: area:tests, area:asm

#4583 [Profiler] Fix log message to have thread id in hexadecimal
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ManagedThreadList.cpp
Labels: area:profiler

#4585 [Profiler] Fix vcxproj and filters
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Datadog.Profiler.Native.vcxproj
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Datadog.Profiler.Native.vcxproj.filters
Labels: area:profiler

#4580 Fix runtime metrics bugs + allow DD_TAGS tagging
  tracer/src/Datadog.Trace/Debugger/LiveDebuggerFactory.cs
  tracer/src/Datadog.Trace/TracerManagerFactory.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/RuntimeMetricsTests.cs
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/ProbesTests.cs
Labels: type:bug, type:enhancement, area:runtime-metrics

#4591 Update native log verbosity
  tracer/src/Datadog.Tracer.Native/cor_profiler.cpp
  tracer/src/Datadog.Tracer.Native/cor_profiler.h
  tracer/src/Datadog.Tracer.Native/debugger_rejit_preprocessor.cpp
  tracer/src/Datadog.Tracer.Native/rejit_handler.cpp
  tracer/src/Datadog.Tracer.Native/rejit_preprocessor.cpp
Labels: area:native-library

#4594 Add separate log folder for throughput run
  tracer/build/crank/os.profiles.yml
Labels: area:builds

#4590 [CIVisibility] - Adds support for `System.Diagnostics.CodeAnalysis.ExcludeFromCodeCoverageAttribute`
  tracer/src/Datadog.Trace.Coverage.collector/AssemblyProcessor.cs
Labels: area:ci-visibility

#4586 [ASM] Iast telemetry metrics: executed instrumentation points
  tracer/src/Datadog.Trace/Configuration/ConfigurationKeys.Iast.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.EnumExtensions.EnumExtensionsGenerator/IastInstrumentedSinksExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.EnumExtensions.EnumExtensionsGenerator/IastInstrumentedSourcesExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/CountExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/IMetricsTelemetryCollector_count.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/MetricsTelemetryCollector_count.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/NullMetricsTelemetryCollector_count.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.EnumExtensions.EnumExtensionsGenerator/IastInstrumentedSinksExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.EnumExtensions.EnumExtensionsGenerator/IastInstrumentedSourcesExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/CountExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/IMetricsTelemetryCollector_count.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/MetricsTelemetryCollector_count.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/NullMetricsTelemetryCollector_count.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.EnumExtensions.EnumExtensionsGenerator/IastInstrumentedSinksExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.EnumExtensions.EnumExtensionsGenerator/IastInstrumentedSourcesExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/CountExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/IMetricsTelemetryCollector_count.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/MetricsTelemetryCollector_count.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/NullMetricsTelemetryCollector_count.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.EnumExtensions.EnumExtensionsGenerator/IastInstrumentedSinksExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.EnumExtensions.EnumExtensionsGenerator/IastInstrumentedSourcesExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/CountExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/IMetricsTelemetryCollector_count.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/MetricsTelemetryCollector_count.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/NullMetricsTelemetryCollector_count.g.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.Web/HttpCookieAspect.cs
  tracer/src/Datadog.Trace/Iast/IastModule.cs
  tracer/src/Datadog.Trace/Iast/IastRequestContext.cs
  tracer/src/Datadog.Trace/Iast/Propagation/PropagationModuleImpl.cs
  tracer/src/Datadog.Trace/Iast/Propagation/StringBuilderModuleImpl.cs
  tracer/src/Datadog.Trace/Iast/Propagation/StringModuleImpl.cs
  tracer/src/Datadog.Trace/Iast/Settings/IastSettings.cs
  tracer/src/Datadog.Trace/Iast/Source.cs
  tracer/src/Datadog.Trace/Iast/SourceType.cs
  tracer/src/Datadog.Trace/Iast/SourceTypeName.cs
  tracer/src/Datadog.Trace/Iast/Telemetry/ExecutedTelemetryHelper.cs
  tracer/src/Datadog.Trace/Iast/Telemetry/IastMetricsVerbosityLevel.cs
  tracer/src/Datadog.Trace/Iast/VulnerabilityType.cs
  tracer/src/Datadog.Trace/Telemetry/Metrics/Count.cs
  tracer/src/Datadog.Trace/Telemetry/Metrics/MetricTags.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/IAST/AspNetCore2IastTests.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/IAST/AspNetCore5IastAsm.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/IAST/AspNetCore5IastTests.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/IAST/AspNetMvc5IastTests.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/IAST/IastTelemetryTests.cs
  tracer/test/Datadog.Trace.TestHelpers.AutoInstrumentation/TestHelper.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/config_norm_rules.json
  tracer/test/snapshots/Iast.PathTraversal.AspNetCore2.TelemetryEnabled.verified.txt
  tracer/test/snapshots/Iast.PathTraversal.AspNetCore5.TelemetryEnabled.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5.TelemetryEnabled.Classic.enableIast=true.path=_Iast_GetFileContent-file=nonexisting.txt.verified.txt
  tracer/test/test-applications/integrations/Samples.ProcessStart/Properties/launchSettings.json
  tracer/test/test-applications/security/Samples.Security.AspNetCore5/Controllers/IastController.cs
  tracer/test/test-applications/security/aspnet/Samples.Security.AspNetMvc5/Controllers/IastController.cs
Labels: area:asm

#4595 [ASM] Update IAST instrumented tests scripts for local debugging
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/generaterunsettings.bat
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/generaterunsettings.sh
Labels: area:tests, area:asm, area:asm-iast

#4584 [Profiler] Avoid returning managed thread with invalid handle
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ManagedThreadList.cpp
  profiler/test/Datadog.Profiler.Native.Tests/ManagedThreadListTest.cpp
Labels: area:profiler

#4604 Fix `HeaderTagsNormalizationFixEnabled` is not saved in settings
  tracer/src/Datadog.Trace/Configuration/TracerSettings.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/DynamicConfigurationTests.cs
Labels: type:bug, area:tracer, feature:dynamic-configuration

#4607 Crank: add logs as artifacts
  .azure-pipelines/ultimate-pipeline.yml
  tracer/build/crank/os.profiles.yml
Labels: area:builds

#4606 [ASM] Fix IAST MVC telemetry test in Net4
  tracer/test/Datadog.Trace.Security.IntegrationTests/IAST/AspNetMvc5IastTests.cs
  tracer/test/snapshots/Security.AspNetMvc5.TelemetryEnabled.Classic.enableIast=true.path=_Iast_GetFileContent-file=nonexisting.txt.verified.txt
Labels: area:tests, area:asm, area:asm-iast

#4602 Lazy initialize the `AggregatedMetrics`.
  tracer/src/Datadog.Trace/Telemetry/Collectors/MetricsTelemetryCollector.cs
Labels: area:tracer, type:performance, area:telemetry

#4609 [ASM] Improve waf benchmarks
  tracer/test/benchmarks/Benchmarks.Trace/Asm/AppSecWafBenchmark.cs
Labels: area:tests, area:asm

#4608 Fix race-condition in DuckType
  tracer/src/Datadog.Trace/DuckTyping/DuckType.cs
Labels: area:tracer

#4617 Fix flake in smoke tests
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/SmokeTests/SmokeTestBase.cs
Labels: area:builds, area:tests

#4610 [ASM] Add request.tainted metric
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/CountExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/IMetricsTelemetryCollector_count.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/MetricsTelemetryCollector_count.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/NullMetricsTelemetryCollector_count.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/CountExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/IMetricsTelemetryCollector_count.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/MetricsTelemetryCollector_count.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/NullMetricsTelemetryCollector_count.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/CountExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/IMetricsTelemetryCollector_count.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/MetricsTelemetryCollector_count.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/NullMetricsTelemetryCollector_count.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/CountExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/IMetricsTelemetryCollector_count.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/MetricsTelemetryCollector_count.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/NullMetricsTelemetryCollector_count.g.cs
  tracer/src/Datadog.Trace/Iast/DefaultTaintedMap.cs
  tracer/src/Datadog.Trace/Iast/ITaintedMap.cs
  tracer/src/Datadog.Trace/Iast/IastRequestContext.cs
  tracer/src/Datadog.Trace/Iast/SourceType.cs
  tracer/src/Datadog.Trace/Iast/TaintedObjects.cs
  tracer/src/Datadog.Trace/Iast/Telemetry/ExecutedTelemetryHelper.cs
  tracer/src/Datadog.Trace/Iast/Telemetry/IastMetricsVerbosityLevel.cs
  tracer/src/Datadog.Trace/Telemetry/Metrics/Count.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/IAST/IastVerifyScrubberExtensions.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/IAST/IastTelemetryTests.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/Metrics/common_metrics.json
  tracer/test/snapshots/Iast.PathTraversal.AspNetCore2.TelemetryEnabled.verified.txt
  tracer/test/snapshots/Iast.PathTraversal.AspNetCore5.TelemetryEnabled.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5.TelemetryEnabled.Classic.enableIast=true.path=_Iast_GetFileContent-file=nonexisting.txt.verified.txt
Labels: area:asm, area:asm-iast

#4597 [Profiler] Add thread start/stop events to timeline
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Configuration.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Configuration.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CorProfilerCallback.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CorProfilerCallback.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Datadog.Profiler.Native.vcxproj
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Datadog.Profiler.Native.vcxproj.filters
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/EnvironmentVariables.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/GarbageCollectionProvider.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/GarbageCollectionProvider.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/IConfiguration.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/IManagedThreadList.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/IThreadLifetimeListener.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ManagedThreadList.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/RawThreadLifetimeSample.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/RawThreadLifetimeSample.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Sample.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Sample.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/StopTheWorldGCProvider.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ThreadLifetimeProvider.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ThreadLifetimeProvider.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/TimelineSampleType.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/TimelineSampleType.h
  profiler/test/Datadog.Profiler.IntegrationTests/Helpers/EnvironmentVariables.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Threads/ThreadLifetimeProviderTest.cs
  profiler/test/Datadog.Profiler.Native.Tests/ConfigurationTest.cpp
  profiler/test/Datadog.Profiler.Native.Tests/ProfilerMockedInterface.h
Labels: area:profiler

#4622 Fix flake in telemetry metric unit test
  tracer/src/Datadog.Trace/Telemetry/Collectors/MetricsTelemetryCollector.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/Collectors/MetricsTelemetryCollectorTests.cs
Labels: area:tests

#4626 Fix `docker-compose stop` related flake
  .azure-pipelines/ultimate-pipeline.yml
Labels: area:builds

#4624 Refactor `LambdaMetadata` settings creation
  tracer/src/Datadog.Trace/ClrProfiler/Instrumentation.cs
  tracer/src/Datadog.Trace/ClrProfiler/ServerlessInstrumentation/LambdaMetadata.cs
  tracer/src/Datadog.Trace/ClrProfiler/ServerlessInstrumentation/Serverless.cs
  tracer/src/Datadog.Trace/Configuration/ImmutableTracerSettings.cs
  tracer/src/Datadog.Trace/Configuration/TracerSettings.cs
  tracer/src/Datadog.Trace/TracerManagerFactory.cs
  tracer/test/Datadog.Trace.Tests/Configuration/TracerSettingsTests.cs
  tracer/test/Datadog.Trace.Tests/ServerlessTests.cs
Labels: type:refactor, area:serverless

#4628 [CI Visibility] BenchmarkDotNet instrumentation refactor and fixes
  tracer/src/Datadog.Trace.BenchmarkDotNet/BenchmarkMetadata.cs
  tracer/src/Datadog.Trace.BenchmarkDotNet/DatadogColumnHidingRule.cs
  tracer/src/Datadog.Trace.BenchmarkDotNet/DatadogDiagnoser.cs
  tracer/src/Datadog.Trace.BenchmarkDotNet/DatadogExporter.cs
  tracer/src/Datadog.Trace.BenchmarkDotNet/DatadogExtensions.cs
  tracer/src/Datadog.Trace.BenchmarkDotNet/DatadogLogger.cs
  tracer/src/Datadog.Trace.BenchmarkDotNet/DatadogSessionLogger.cs
  tracer/src/Datadog.Trace/Ci/Test.cs
  tracer/src/Datadog.Trace/Ci/TestSuite.cs
  tracer/test/Datadog.Trace.BenchmarkDotNet.Tests/Snapshots/PublicApiTests.Datadog.Trace.BenchmarkDotNet.AssemblyReferencesHaveNotChanged.net6.0.verified.txt
  tracer/test/Datadog.Trace.BenchmarkDotNet.Tests/Snapshots/PublicApiTests.Datadog.Trace.BenchmarkDotNet.AssemblyReferencesHaveNotChanged.netcoreapp3.1.verified.txt
  tracer/test/Datadog.Trace.BenchmarkDotNet.Tests/Snapshots/PublicApiTests.Datadog.Trace.BenchmarkDotNet.PublicApiHasNotChanged.verified.txt
Labels: area:ci-visibility

#4630 Update CODEOWNERS for serverless
  .github/CODEOWNERS
Labels: area:builds

#4302 [ASM] New marshalling system for Waf.Run calls to improve speed and reduce allocations
  tracer/src/Datadog.Trace/AppSec/Security.cs
  tracer/src/Datadog.Trace/AppSec/Waf/Context.cs
  tracer/src/Datadog.Trace/AppSec/Waf/Encoder.cs
  tracer/src/Datadog.Trace/AppSec/Waf/IWaf.cs
  tracer/src/Datadog.Trace/AppSec/Waf/Initialization/WafConfigurator.cs
  tracer/src/Datadog.Trace/AppSec/Waf/NativeBindings/WafLibraryInvoker.cs
  tracer/src/Datadog.Trace/AppSec/Waf/Obj.cs
  tracer/src/Datadog.Trace/AppSec/Waf/ObjType.cs
  tracer/src/Datadog.Trace/AppSec/Waf/ReturnTypes.Managed/DiagnosticResult.cs
  tracer/src/Datadog.Trace/AppSec/Waf/ReturnTypes.Managed/DiagnosticResultUtils.cs
  tracer/src/Datadog.Trace/AppSec/Waf/ReturnTypes.Managed/InitResult.cs
  tracer/src/Datadog.Trace/AppSec/Waf/ReturnTypes.Managed/UpdateResult.cs
  tracer/src/Datadog.Trace/AppSec/Waf/Waf.cs
  tracer/src/Datadog.Trace/Util/UnmanagedMemoryPool.cs
  tracer/src/Datadog.Trace/Util/UnsafeHelper.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/EncoderUnitTests.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/FuzzEncoder.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/WafMemoryTests.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/WafTests.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/WafUpdateTests.cs
Labels: area:asm

#4633 [ASM] Update waf ruleset to 1.8
  tracer/src/Datadog.Trace/AppSec/Waf/rule-set.json
  tracer/test/snapshots/Security.AspNetCore5AsmDataSecurityEnabled.__test=blocking-user_url=_user.verified.txt
  tracer/test/snapshots/Security.AspNetCore5AsmInitializationSecurityEnabled.TestSecurityInitialization.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5AsmData.Classic.enableSecurity=True.__test=blocking-ips_url=_.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5AsmData.Classic.enableSecurity=True.__test=blocking-user_url=_user.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5AsmData.Integrated.enableSecurity=True.__test=blocking-ips_url=_.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5AsmData.Integrated.enableSecurity=True.__test=blocking-user_url=_user.verified.txt
  tracer/test/snapshots/Security.AspNetWebApiAsmData.Classic.enableSecurity=True.__test=blocking-ips_url=_api_health.verified.txt
  tracer/test/snapshots/Security.AspNetWebApiAsmData.Classic.enableSecurity=True.__test=blocking-user_url=_api_user.verified.txt
  tracer/test/snapshots/Security.AspNetWebApiAsmData.Integrated.enableSecurity=True.__test=blocking-ips_url=_api_health.verified.txt
  tracer/test/snapshots/Security.AspNetWebApiAsmData.Integrated.enableSecurity=True.__test=blocking-user_url=_api_user.verified.txt
  tracer/test/snapshots/Security.AspNetWebFormsAsmData.Classic.enableSecurity=True.__test=blocking-ips_url=_default.aspx.verified.txt
  tracer/test/snapshots/Security.AspNetWebFormsAsmData.Classic.enableSecurity=True.__test=blocking-user_url=_user.verified.txt
  tracer/test/snapshots/Security.AspNetWebFormsAsmData.Integrated.enableSecurity=True.__test=blocking-ips_url=_default.aspx.verified.txt
  tracer/test/snapshots/Security.AspNetWebFormsAsmData.Integrated.enableSecurity=True.__test=blocking-user_url=_user.verified.txt
Labels: area:asm

#4625 Disable telemetry metrics when running in serverless environment
  tracer/src/Datadog.Trace/Telemetry/TelemetryFactory.cs
  tracer/src/Datadog.Trace/Telemetry/TelemetrySettings.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/TelemetrySettingsTests.cs
Labels: area:telemetry, area:serverless

#4641 Skip flaky Waf Memory Tests
  tracer/test/Datadog.Trace.Security.Unit.Tests/WafMemoryTests.cs
Labels: area:tests, area:asm

#4638 Enable v2 telemetry by default
  tracer/src/Datadog.Trace/Telemetry/TelemetrySettings.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/TelemetrySettingsTests.cs
Labels: area:telemetry

#4637 [CIVisibility] Enable GZip compression on agentless mode
  tracer/src/Datadog.Trace/Ci/Agent/CIWriterHttpSender.cs
  tracer/src/Datadog.Trace/Ci/Agent/Payloads/CIVisibilityProtocolPayload.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/Agent/CiVisibilityProtocolWriterTests.cs
Labels: area:ci-visibility

#4587 [Profiler] Clean up profiler C++ code
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/AppDomainStore.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Datadog.Profiler.Native.vcxproj
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Datadog.Profiler.Native.vcxproj.filters
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/DirectAccessCollection.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ManagedThreadList.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ManagedThreadList.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/OpSysTools.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/StackSamplerLoop.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/StackSamplerLoop.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/StackSamplerLoopManager.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/StackSamplerLoopManager.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ThreadsCpuManager.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ThreadsCpuManager.h
  profiler/test/Datadog.Profiler.Native.Tests/ManagedThreadListTest.cpp
Labels: area:profiler

#4647 [Profiler] Fix flacky unit test on Alpine
  profiler/test/Datadog.Profiler.Native.Tests/LinuxStackFramesCollectorTest.cpp
Labels: area:profiler

#4643 [ASM] Limit number of same warning messages in waf benchmarks
  tracer/src/Datadog.Trace/Configuration/ConfigurationKeys.Logging.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/EncoderUnitTests.cs
  tracer/test/benchmarks/Benchmarks.Trace/Asm/AppSecWafBenchmark.cs
Labels: area:asm

#4636 [ASM] Fix waf memory tests flakiness
  tracer/test/Datadog.Trace.Security.Unit.Tests/WafMemoryTests.cs
Labels: area:tests, area:asm

#4488 [Profiler] Wrap socket syscalls to prevent application errors
  .azure-pipelines/ultimate-pipeline.yml
  docker-compose.yml
  profiler/src/Demos/Samples.Computer01/ComputerService.cs
  profiler/src/Demos/Samples.Computer01/OpenLdapCrash.cs
  profiler/src/Demos/Samples.Computer01/Program.cs
  profiler/src/Demos/Samples.Computer01/Samples.Computer01.csproj
  profiler/src/Demos/Samples.Computer01/SocketTimeout.cs
  profiler/src/ProfilerEngine/Datadog.Linux.ApiWrapper/CMakeLists.txt
  profiler/src/ProfilerEngine/Datadog.Linux.ApiWrapper/common.c
  profiler/src/ProfilerEngine/Datadog.Linux.ApiWrapper/common.h
  profiler/src/ProfilerEngine/Datadog.Linux.ApiWrapper/socket_operations.c
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/CMakeLists.txt
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/Datadog.Profiler.Native.Linux.vcxproj
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/Datadog.Profiler.Native.Linux.vcxproj.filters
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/LinuxStackFramesCollector.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/LinuxStackFramesCollector.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/SystemCallsShield.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/SystemCallsShield.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Configuration.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Configuration.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CorProfilerCallback.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CorProfilerCallback.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/EnvironmentVariables.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/IConfiguration.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/IManagedThreadList.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ManagedThreadInfo.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ManagedThreadInfo.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ManagedThreadList.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ManagedThreadList.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/StackSamplerLoop.cpp
  profiler/test/Datadog.Linux.ApiWrapper.Tests/WrappedFunctions.cpp
  profiler/test/Datadog.Profiler.IntegrationTests/LinuxOnly/OpenLdapTests.cs
  profiler/test/Datadog.Profiler.IntegrationTests/LinuxOnly/SocketTimeoutTests.cs
  profiler/test/Datadog.Profiler.IntegrationTests/SmokeTests/SmokeTestRunner.cs
  profiler/test/Datadog.Profiler.Native.Tests/ConfigurationTest.cpp
  profiler/test/Datadog.Profiler.Native.Tests/ProfilerMockedInterface.h
  tracer/build/_build/Build.Profiler.Steps.cs
  tracer/build/_build/docker/alpine.dockerfile
Labels: area:profiler

#4645 [CI Visibility] Intelligent Test Runner - Unskippable tests support
  Datadog.Trace.OSX.slnf
  tracer/src/Datadog.Trace/Ci/Tagging/TestSpanTags.cs
  tracer/src/Datadog.Trace/Ci/Tags/IntelligentTestRunnerTags.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/MsTestV2/MsTestIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/MsTestV2/TestMethodRunnerExecuteIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/MsTestV2/TestMethodRunnerExecuteTestIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/MsTestV2/UnitTestRunnerRunSingleTestIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/NUnit/NUnitIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/NUnit/NUnitWorkItemPerformWorkIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/XUnit/XUnitIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/XUnit/XUnitTestRunnerRunAsyncIntegration.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TagsListGenerator.TagListGenerator/TestSpanTags.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TagsListGenerator.TagListGenerator/TestSpanTags.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TagsListGenerator.TagListGenerator/TestSpanTags.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TagsListGenerator.TagListGenerator/TestSpanTags.g.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/MsTestV2EvpTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/MsTestV2Tests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/NUnitEvpTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/NUnitTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/XUnitEvpTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/XUnitTests.cs
  tracer/test/test-applications/integrations/Samples.MSTestTests/TestSuite.cs
  tracer/test/test-applications/integrations/Samples.NUnitTests/TestSuite.cs
  tracer/test/test-applications/integrations/Samples.XUnitTests/TestSuite.cs
Labels: area:ci-visibility

#4408 [Profiler] Add profiler timeit-based benchmarks
  .azure-pipelines/ultimate-pipeline.yml
  profiler/build/Allocations.linux.json
  profiler/build/Allocations.linux.net60.json
  profiler/build/Allocations.linux.net70.json
  profiler/build/Allocations.windows.json
  profiler/build/Allocations.windows.net70.json
  profiler/build/Contention.linux.json
  profiler/build/Contention.linux.net70.json
  profiler/build/Contention.windows.json
  profiler/build/Contention.windows.net70.json
  profiler/build/CpuWallTime.linux.json
  profiler/build/CpuWallTime.windows.json
  profiler/build/Exceptions.linux.json
  profiler/build/Exceptions.windows.json
  profiler/build/Exceptions.windows.net45.json
  profiler/build/Exceptions.windows.net60.json
  profiler/build/Exceptions.windows.netcoreapp31.json
  profiler/build/LiveHeap.linux.json
  profiler/build/LiveHeap.windows.json
  profiler/build/PiComputation.linux.net60.json
  profiler/build/PiComputation.windows.net45.json
  profiler/build/install_timeit.cmd
  profiler/build/install_timeit.sh
  profiler/build/run-allocations.cmd
  profiler/build/run-allocations.sh
  profiler/build/run-contention.cmd
  profiler/build/run-contention.sh
  profiler/build/run-cpu-walltime.cmd
  profiler/build/run-cpu-walltime.sh
  profiler/build/run-exceptions.cmd
  profiler/build/run-exceptions.sh
  profiler/build/run-liveheap.cmd
  profiler/build/run-liveheap.sh
  profiler/build/run.cmd
  profiler/build/run.sh
  profiler/src/Demos/Samples.Computer01/FibonacciComputation.cs
Labels: area:profiler

#4646 Add a dd-dotnet test for named pipes
  tracer/test/Datadog.Trace.Tools.dd_dotnet.ArtifactTests/Checks/AgentConnectivityCheckTests.cs
Labels: area:tests

#4631 Add support for multiple enums in telemetry source generator
  tracer/src/Datadog.Trace.SourceGenerators/TelemetryMetric/Sources.cs
  tracer/src/Datadog.Trace.SourceGenerators/TelemetryMetric/TelemetryMetricGenerator.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/CiVisibilityMetricsTelemetryCollector_count.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/CiVisibilityMetricsTelemetryCollector_distribution.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/MetricsTelemetryCollectorBase_count.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/MetricsTelemetryCollectorBase_distribution.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/MetricsTelemetryCollectorBase_gauge.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/MetricsTelemetryCollector_count.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/MetricsTelemetryCollector_distribution.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/MetricsTelemetryCollector_gauge.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/CiVisibilityMetricsTelemetryCollector_count.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/CiVisibilityMetricsTelemetryCollector_distribution.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/MetricsTelemetryCollectorBase_count.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/MetricsTelemetryCollectorBase_distribution.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/MetricsTelemetryCollectorBase_gauge.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/MetricsTelemetryCollector_count.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/MetricsTelemetryCollector_distribution.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/MetricsTelemetryCollector_gauge.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/CiVisibilityMetricsTelemetryCollector_count.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/CiVisibilityMetricsTelemetryCollector_distribution.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/MetricsTelemetryCollectorBase_count.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/MetricsTelemetryCollectorBase_distribution.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/MetricsTelemetryCollectorBase_gauge.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/MetricsTelemetryCollector_count.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/MetricsTelemetryCollector_distribution.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/MetricsTelemetryCollector_gauge.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/CiVisibilityMetricsTelemetryCollector_count.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/CiVisibilityMetricsTelemetryCollector_distribution.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/MetricsTelemetryCollectorBase_count.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/MetricsTelemetryCollectorBase_distribution.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/MetricsTelemetryCollectorBase_gauge.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/MetricsTelemetryCollector_count.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/MetricsTelemetryCollector_distribution.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/MetricsTelemetryCollector_gauge.g.cs
  tracer/src/Datadog.Trace/Telemetry/Collectors/MetricsTelemetryCollectorBase.cs
  tracer/test/Datadog.Trace.SourceGenerators.Tests/TelemetryMetricGeneratorTests.cs
Labels: area:telemetry

#4635 Delete unused `Distribution` metric
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/CiVisibilityMetricsTelemetryCollector_Distribution.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/DistributionExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/IMetricsTelemetryCollector_Distribution.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/MetricsTelemetryCollector_Distribution.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/NullMetricsTelemetryCollector_Distribution.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/CiVisibilityMetricsTelemetryCollector_Distribution.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/DistributionExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/IMetricsTelemetryCollector_Distribution.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/MetricsTelemetryCollector_Distribution.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/NullMetricsTelemetryCollector_Distribution.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/CiVisibilityMetricsTelemetryCollector_Distribution.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/DistributionExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/IMetricsTelemetryCollector_Distribution.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/MetricsTelemetryCollector_Distribution.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/NullMetricsTelemetryCollector_Distribution.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/CiVisibilityMetricsTelemetryCollector_Distribution.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/DistributionExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/IMetricsTelemetryCollector_Distribution.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/MetricsTelemetryCollector_Distribution.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/NullMetricsTelemetryCollector_Distribution.g.cs
  tracer/src/Datadog.Trace/Telemetry/Collectors/MetricsTelemetryCollector.cs
  tracer/src/Datadog.Trace/Telemetry/Metrics/Distribution.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/Metrics/MetricTests.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/Metrics/TelemetryMetricExtensionsTests.cs
Labels: type:cleanup, area:telemetry

#4655 [Profiler] Revisit the presence of the wrapping library check
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/OpSysTools.cpp
Labels: area:profiler

#4657 [Debugger] Run system tests for debugger scenarios
  .azure-pipelines/ultimate-pipeline.yml
Labels: area:builds, area:debugger

#4661 [CI Visibility] Ensure Code Coverage percentage is always a valid number for the backend.
  tracer/src/Datadog.Trace.Tools.Runner/RunCiCommand.cs
  tracer/src/Datadog.Trace/Ci/Coverage/Models/Global/CoverageInfo.cs
  tracer/src/Datadog.Trace/Ci/TestModule.cs
  tracer/src/Datadog.Trace/ExtensionMethods/DoubleExtensions.cs
  tracer/test/Datadog.Trace.Tools.Runner.IntegrationTests/CiRunCommandTests.cs
Labels: area:ci-visibility

#4659 [CI Visibility] Remove ApplicationKey requirement from Intelligent Test Runner
  tracer/src/Datadog.Trace.Tools.Runner/RunCiCommand.cs
  tracer/src/Datadog.Trace/Ci/CIVisibility.cs
  tracer/src/Datadog.Trace/Ci/Configuration/CIVisibilitySettings.cs
  tracer/src/Datadog.Trace/Ci/IntelligentTestRunnerClient.cs
  tracer/src/Datadog.Trace/Configuration/ConfigurationKeys.cs
  tracer/test/Datadog.Trace.Tests/Configuration/CIVisibilitySettingsTests.cs
Labels: area:ci-visibility

#4663 [CI Visibility] Improve unshallowing process with fallback commands
  tracer/src/Datadog.Trace/Ci/IntelligentTestRunnerClient.cs
Labels: area:ci-visibility

#4629 [ASM] Implementation of the weak randomness vulnerability detection
  tracer/src/Datadog.Trace/Configuration/IntegrationId.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/AspectsDefinitionsGenerator/AspectsDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/IastInstrumentedSinksExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/IntegrationIdExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/CiVisibilityMetricsTelemetryCollector_CountShared.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_CountShared.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/AspectsDefinitionsGenerator/AspectsDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/IastInstrumentedSinksExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/IntegrationIdExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/CiVisibilityMetricsTelemetryCollector_CountShared.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_CountShared.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/AspectsDefinitionsGenerator/AspectsDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/IastInstrumentedSinksExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/IntegrationIdExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/CiVisibilityMetricsTelemetryCollector_CountShared.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_CountShared.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/AspectsDefinitionsGenerator/AspectsDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/IastInstrumentedSinksExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/IntegrationIdExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/CiVisibilityMetricsTelemetryCollector_CountShared.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_CountShared.g.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System/RandomAspect.cs
  tracer/src/Datadog.Trace/Iast/IastModule.cs
  tracer/src/Datadog.Trace/Iast/IastRequestContext.cs
  tracer/src/Datadog.Trace/Iast/Telemetry/ExecutedTelemetryHelper.cs
  tracer/src/Datadog.Trace/Iast/VulnerabilityType.cs
  tracer/src/Datadog.Trace/Iast/VulnerabilityTypeName.cs
  tracer/src/Datadog.Trace/Telemetry/Metrics/IntegrationIdExtensions.cs
  tracer/src/Datadog.Trace/Telemetry/Metrics/MetricTags.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/IAST/AspNetCore2IastTests.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/IAST/AspNetCore5IastTests.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/IAST/AspNetMvc5IastTests.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/IAST/IastInstrumentationUnitTests.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/IAST/ExecutedTelemetryHelperTests.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/config_prefix_block_list.json
  tracer/test/snapshots/Iast.WeakRandomness.AspNetCore2.IastDisabled.verified.txt
  tracer/test/snapshots/Iast.WeakRandomness.AspNetCore2.IastEnabled.verified.txt
  tracer/test/snapshots/Iast.WeakRandomness.AspNetCore5.IastDisabled.verified.txt
  tracer/test/snapshots/Iast.WeakRandomness.AspNetCore5.IastEnabled.verified.txt
  tracer/test/snapshots/Iast.WeakRandomness.AspNetMvc5.IastDisabled.verified.txt
  tracer/test/snapshots/Iast.WeakRandomness.AspNetMvc5.IastEnabled.verified.txt
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/WeakRandomness/RandomTests.cs
  tracer/test/test-applications/security/Samples.Security.AspNetCore5/Controllers/IastController.cs
  tracer/test/test-applications/security/Samples.Security.AspNetCore5/Views/Home/Index.cshtml
  tracer/test/test-applications/security/aspnet/Samples.Security.AspNetMvc5/Controllers/IastController.cs
  tracer/test/test-applications/security/aspnet/Samples.Security.AspNetMvc5/Views/Home/Index.cshtml
Labels: area:asm, area:asm-iast

#4665 [Profiler] Check choco exit code and retry if needed
  .azure-pipelines/ultimate-pipeline.yml
Labels: area:profiler

#4656 Adjust default log folder when running on AAS
  Datadog.Profiler.sln
  shared/src/Datadog.Trace.ClrProfiler.Native/instrumented_assembly_generator/instrumented_assembly_generator_helper.h
  shared/src/native-src/logger.h
  shared/src/native-src/pal.h
  shared/src/native-src/util.cpp
  shared/src/native-src/util.h
  shared/test/Datadog.Trace.ClrProfiler.Native.Tests/CMakeLists.txt
  shared/test/Datadog.Trace.ClrProfiler.Native.Tests/Datadog.Trace.ClrProfiler.Native.Tests.vcxproj
  shared/test/Datadog.Trace.ClrProfiler.Native.Tests/Datadog.Trace.ClrProfiler.Native.Tests.vcxproj.filters
  shared/test/Datadog.Trace.ClrProfiler.Native.Tests/environment_variable_wrapper.cpp
  shared/test/Datadog.Trace.ClrProfiler.Native.Tests/environment_variable_wrapper.h
  shared/test/Datadog.Trace.ClrProfiler.Native.Tests/pal_test.cpp
  tracer/src/Datadog.Trace/Configuration/ImmutableAzureAppServiceSettings.cs
  tracer/src/Datadog.Trace/Configuration/TracerSettings.cs
  tracer/src/Datadog.Trace/Logging/Internal/DatadogLoggingFactory.cs
Labels: area:shared-components

#4671 [CI Visibility] LifeTimeManager handling on VSTest
  tracer/src/Datadog.Trace/Ci/CIVisibility.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/MsTestV2/TestAssemblyInfoExecuteAssemblyCleanupIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/MsTestV2/TestAssemblyInfoRunAssemblyCleanupIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/MsTestV2/UnitTestRunnerRunCleanupIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/NUnit/NUnitWorkItemWorkItemCompleteIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/XUnit/XUnitTestAssemblyRunnerBeforeTestAssemblyFinishedAsyncIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/XUnit/XUnitTestAssemblyRunnerRunAsyncIntegration.cs
  tracer/src/Datadog.Trace/LifetimeManager.cs
Labels: area:ci-visibility

#4670 [All] Run throughput jobs when they should run
  .azure-pipelines/ultimate-pipeline.yml
Labels: area:profiler
