Repository DataDog/dd-trace-dotnet, pull requests merged in 2023-08, with the labels that each got.

#4416 Run all the system tests in CI
  .azure-pipelines/ultimate-pipeline.yml
Labels: area:builds, area:tests

#4455 Fix GraphQL tests not running against package-versions API
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/GraphQLTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/HotChocolateTests.cs
  tracer/test/Datadog.Trace.TestHelpers.AutoInstrumentation/AspNetCoreTestFixture.cs
Labels: area:tests

#4464 [Tracer] Explicit cases where configuration telemetry isn't recorded
  tracer/src/Datadog.Trace/Configuration/ConfigurationSources/Telemetry/ConfigurationBuilder.cs
Labels: area:tracer

#4467 [Build] Stop running master on the weekend
  .azure-pipelines/ultimate-pipeline.yml
Labels: area:builds

#4443 [Profiler] Check HRESULT for generic parameter enumeration
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/FrameStore.cpp
Labels: area:profiler

#4447 Various CI improvements
  .azure-pipelines/ultimate-pipeline.yml
  .gitlab-ci.yml
  .nuke/build.schema.json
  docker-compose.yml
  tracer/Datadog.Trace.proj
  tracer/build/PackageVersionsLatestMajors.g.props
  tracer/build/PackageVersionsLatestMinors.g.props
  tracer/build/PackageVersionsLatestSpecific.g.props
  tracer/build/_build/Build.Steps.cs
  tracer/build/_build/GeneratePackageVersions/FileGenerator.cs
  tracer/build/_build/GeneratePackageVersions/MSBuildPropsFileGenerator.cs
  tracer/build/_build/GeneratePackageVersions/PackageVersionGenerator.cs
  tracer/build/_build/GeneratePackageVersions/XunitFileGenerator.cs
  tracer/build/_build/GeneratePackageVersions/XunitStrategyFileGenerator.cs
  tracer/build/_build/NukeExtensions/DockerDependencyType.cs
  tracer/build/_build/NukeExtensions/ProjectExtensions.cs
  tracer/test/test-applications/integrations/Samples.AWS.Lambda/Samples.AWS.Lambda.csproj
  tracer/test/test-applications/integrations/Samples.AWS.SQS/Samples.AWS.SQS.csproj
  tracer/test/test-applications/integrations/Samples.AWS.SimpleNotificationService/Samples.AWS.SimpleNotificationService.csproj
  tracer/test/test-applications/integrations/Samples.Aerospike/Samples.Aerospike.csproj
  tracer/test/test-applications/integrations/Samples.Couchbase/Samples.Couchbase.csproj
  tracer/test/test-applications/integrations/Samples.Couchbase3/Samples.Couchbase3.csproj
  tracer/test/test-applications/integrations/Samples.Dapper/Samples.Dapper.csproj
  tracer/test/test-applications/integrations/Samples.DataStreams.Kafka/Samples.DataStreams.Kafka.csproj
  tracer/test/test-applications/integrations/Samples.DataStreams.RabbitMQ/Samples.DataStreams.RabbitMQ.csproj
  tracer/test/test-applications/integrations/Samples.Elasticsearch.V5/Samples.Elasticsearch.V5.csproj
  tracer/test/test-applications/integrations/Samples.Elasticsearch.V7/Samples.Elasticsearch.V7.csproj
  tracer/test/test-applications/integrations/Samples.Elasticsearch/Samples.Elasticsearch.csproj
  tracer/test/test-applications/integrations/Samples.Kafka/Samples.Kafka.csproj
  tracer/test/test-applications/integrations/Samples.Microsoft.Data.SqlClient/Samples.Microsoft.Data.SqlClient.csproj
  tracer/test/test-applications/integrations/Samples.MongoDB/Samples.MongoDB.csproj
  tracer/test/test-applications/integrations/Samples.MySql/Samples.MySql.csproj
  tracer/test/test-applications/integrations/Samples.MySqlConnector/Samples.MySqlConnector.csproj
  tracer/test/test-applications/integrations/Samples.Npgsql/Samples.Npgsql.csproj
  tracer/test/test-applications/integrations/Samples.OracleMDA.Core/Samples.OracleMDA.Core.csproj
  tracer/test/test-applications/integrations/Samples.OracleMDA/Samples.OracleMDA.csproj
  tracer/test/test-applications/integrations/Samples.RabbitMQ/Samples.RabbitMQ.csproj
  tracer/test/test-applications/integrations/Samples.ServiceStack.Redis/Samples.ServiceStack.Redis.csproj
  tracer/test/test-applications/integrations/Samples.SqlServer/Samples.SqlServer.csproj
  tracer/test/test-applications/integrations/Samples.StackExchange.Redis/Samples.StackExchange.Redis.csproj
  tracer/test/test-applications/regression/ServiceBus.Minimal.MassTransit/ServiceBus.Minimal.MassTransit.csproj
  tracer/test/test-applications/regression/ServiceBus.Minimal.NServiceBus/ServiceBus.Minimal.NServiceBus.csproj
  tracer/test/test-applications/regression/ServiceBus.Minimal.Rebus/ServiceBus.Minimal.Rebus.csproj
  tracer/test/test-applications/regression/StackExchange.Redis.AssemblyConflict.SdkProject/StackExchange.Redis.AssemblyConflict.SdkProject.csproj
  tracer/test/test-applications/regression/StackExchange.Redis.StackOverflowException/StackExchange.Redis.StackOverflowException.csproj
Labels: area:builds

#4477 Add docs about testing automatic instrumentation
  docs/development/AutomaticInstrumentation.md
Labels: area:docs

#4478 Bump timeit version
  tracer/build/timeit/Samples.FakeDbCommand/run.cmd
  tracer/build/timeit/Samples.HttpMessageHandler/run.cmd
Labels: area:builds

#4484 Fix macOS flaky unit test
  tracer/test/Datadog.Trace.Tests/TraceContextTests.cs
Labels: area:tests

#4474 [Tracer] Consistent APM tagging for AWS requests
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TagsListGenerator.TagListGenerator/AwsSdkTags.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TagsListGenerator.TagListGenerator/AwsSnsTags.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TagsListGenerator.TagListGenerator/AwsSqsTags.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TagsListGenerator.TagListGenerator/AwsSdkTags.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TagsListGenerator.TagListGenerator/AwsSnsTags.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TagsListGenerator.TagListGenerator/AwsSqsTags.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TagsListGenerator.TagListGenerator/AwsSdkTags.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TagsListGenerator.TagListGenerator/AwsSnsTags.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TagsListGenerator.TagListGenerator/AwsSqsTags.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TagsListGenerator.TagListGenerator/AwsSdkTags.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TagsListGenerator.TagListGenerator/AwsSnsTags.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TagsListGenerator.TagListGenerator/AwsSqsTags.g.cs
  tracer/src/Datadog.Trace/Tagging/AwsSdkTags.cs
  tracer/src/Datadog.Trace/Tagging/AwsSnsTags.cs
  tracer/src/Datadog.Trace/Tagging/AwsSqsTags.cs
  tracer/src/Datadog.Trace/Tags.cs
  tracer/test/Datadog.Trace.TestHelpers/SpanMetadataV0Rules.cs
  tracer/test/Datadog.Trace.TestHelpers/SpanMetadataV1Rules.cs
  tracer/test/snapshots/AwsSnsTests.NetCore.SchemaV0.verified.txt
  tracer/test/snapshots/AwsSnsTests.NetCore.SchemaV1.verified.txt
  tracer/test/snapshots/AwsSqsTests.NetCore.SchemaV0.verified.txt
  tracer/test/snapshots/AwsSqsTests.NetCore.SchemaV1.verified.txt
Labels: area:tracer, area:serverless

#4476 [Tracer] Logs The Setting used by dbm_propagation_mode to TracerManager
  tracer/src/Datadog.Trace/DatabaseMonitoring/DatabaseMonitoringPropagator.cs
  tracer/src/Datadog.Trace/TracerManager.cs
Labels: area:tracer

#4418 [Profiler] Clean up logs
  profiler/src/Demos/Shared/Util/EnvironmentInfo.cs
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/OsSpecificApi.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Windows/OsSpecificApi.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Windows/Windows32BitStackFramesCollector.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Windows/Windows64BitStackFramesCollector.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/AllocationsProvider.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/COMHelpers.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ContentionProvider.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CorProfilerCallback.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/DebugInfoStore.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/DllMain.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/EnabledProfilers.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/EnabledProfilers.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ExceptionsProvider.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/FrameStore.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/LibddprofExporter.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/OpSysTools.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/OsSpecificApi.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/PInvoke.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/RuntimeIdStore.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/StackSamplerLoop.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/StackSamplerLoopManager.cpp
  profiler/test/Datadog.Profiler.Native.Tests/CMakeLists.txt
  profiler/test/Datadog.Profiler.Native.Tests/Datadog.Profiler.Native.Tests.vcxproj
  profiler/test/Datadog.Profiler.Native.Tests/Datadog.Profiler.Native.Tests.vcxproj.filters
  profiler/test/Datadog.Profiler.Native.Tests/LibddprofExporterTest.cpp
  profiler/test/Datadog.Profiler.Native.Tests/OSpecificAPIHelper.cpp
  profiler/test/Datadog.Profiler.Native.Tests/OsSpecificApiTest.cpp
Labels: area:profiler

#4485 Bump timeitsharp version to v0.0.15
  tracer/build/timeit/Samples.FakeDbCommand/run.cmd
  tracer/build/timeit/Samples.HttpMessageHandler/run.cmd
Labels: area:builds

#4479 Assorted speed improvements to tests
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AgentMalfunctionTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/ProcessStartTests/ProcessStartTests.cs
  tracer/test/Datadog.Trace.OpenTracing.Tests/OpenTracingSpanTests.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/IAST/WeakCipher/WeakCipherTests.cs
  tracer/test/Datadog.Trace.TestHelpers/MockTracerAgent.cs
  tracer/test/test-applications/integrations/Samples.Kafka/Producer.cs
  tracer/test/test-applications/integrations/Samples.RuntimeMetrics/Program.cs
  tracer/test/test-applications/integrations/dependency-libs/Samples.DatabaseHelper/RelationalDatabaseTestHarness.cs
Labels: area:tests

#4204 [Serverless] Spawn mini agent in GCP & Azure Functions
  tracer/src/Datadog.Trace.Trimming/build/Datadog.Trace.Trimming.xml
  tracer/src/Datadog.Trace/ClrProfiler/ServerlessInstrumentation/ServerlessMiniAgent.cs
  tracer/src/Datadog.Trace/Configuration/ConfigurationKeys.AzureAppService.cs
  tracer/src/Datadog.Trace/Configuration/ConfigurationKeys.GCPFunction.cs
  tracer/src/Datadog.Trace/Configuration/ImmutableAzureAppServiceSettings.cs
  tracer/src/Datadog.Trace/Configuration/ImmutableGCPFunctionSettings.cs
  tracer/src/Datadog.Trace/Configuration/ImmutableTracerSettings.cs
  tracer/src/Datadog.Trace/Configuration/TracerSettings.cs
  tracer/src/Datadog.Trace/Logging/Internal/DatadogLoggingFactory.cs
  tracer/src/Datadog.Trace/TracerManager.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AzureFunctionsTests.cs
  tracer/test/Datadog.Trace.Tests/Configuration/ImmutableAzureAppServiceSettingsTests.cs
  tracer/test/Datadog.Trace.Tests/Configuration/ImmutableGCPFunctionSettingsTests.cs
  tracer/test/Datadog.Trace.Tests/ServerlessMiniAgentTests.cs
Labels: area:serverless

#4451 [ASM] IAST SSRF vulnerability detection
  tracer/src/Datadog.Trace.Trimming/build/Datadog.Trace.Trimming.xml
  tracer/src/Datadog.Trace/Configuration/IntegrationId.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.AspectsDefinitions.AspectsDefinitionsGenerator/AspectsDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.EnumExtensions.EnumExtensionsGenerator/IntegrationIdExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/MetricsTelemetryCollector_count.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.AspectsDefinitions.AspectsDefinitionsGenerator/AspectsDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.EnumExtensions.EnumExtensionsGenerator/IntegrationIdExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/MetricsTelemetryCollector_count.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.AspectsDefinitions.AspectsDefinitionsGenerator/AspectsDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.EnumExtensions.EnumExtensionsGenerator/IntegrationIdExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/MetricsTelemetryCollector_count.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.AspectsDefinitions.AspectsDefinitionsGenerator/AspectsDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.EnumExtensions.EnumExtensionsGenerator/IntegrationIdExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/MetricsTelemetryCollector_count.g.cs
  tracer/src/Datadog.Trace/IAST/Aspects/System.Net/HttpClientAspect.cs
  tracer/src/Datadog.Trace/IAST/Aspects/System.Net/WebClientAspect.cs
  tracer/src/Datadog.Trace/IAST/Aspects/System.Net/WebRequestAspect.cs
  tracer/src/Datadog.Trace/IAST/Aspects/System/UriAspect.cs
  tracer/src/Datadog.Trace/IAST/Aspects/System/UriBuilderAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.Text/StringBuilderAspects.cs
  tracer/src/Datadog.Trace/Iast/HashBasedDeduplication.cs
  tracer/src/Datadog.Trace/Iast/IastModule.cs
  tracer/src/Datadog.Trace/Iast/Propagation/PropagationModuleImpl.cs
  tracer/src/Datadog.Trace/Iast/StackWalker.cs
  tracer/src/Datadog.Trace/Telemetry/Metrics/IntegrationIdExtensions.cs
  tracer/src/Datadog.Trace/Telemetry/Metrics/MetricTags.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/IAST/AspNetCore2IastTests.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/IAST/AspNetCore5IastTests.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/IAST/AspNetMvc5IastTests.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/IAST/IastInstrumentationUnitTests.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/IAST/HashBasedDeduplicationTests.cs
  tracer/test/snapshots/Iast.SSRF.AspNetCore2.IastDisabled.verified.txt
  tracer/test/snapshots/Iast.SSRF.AspNetCore2.IastEnabled.RedactionEnabled.verified.txt
  tracer/test/snapshots/Iast.SSRF.AspNetCore2.IastEnabled.verified.txt
  tracer/test/snapshots/Iast.SSRF.AspNetCore5.IastDisabled.verified.txt
  tracer/test/snapshots/Iast.SSRF.AspNetCore5.IastEnabled.RedactionEnabled.verified.txt
  tracer/test/snapshots/Iast.SSRF.AspNetCore5.IastEnabled.verified.txt
  tracer/test/snapshots/Iast.SSRF.AspNetMvc5.IastDisabled.verified.txt
  tracer/test/snapshots/Iast.SSRF.AspNetMvc5.IastEnabled.verified.txt
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Samples.InstrumentedTests.csproj
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/InstrumentationTestsBase.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/SSRF/HttpClientTests.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/SSRF/HttpMessageInvokerTests.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/SSRF/HttpWebRequestTests.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/SSRF/RestClientTests.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/SSRF/SSRFTests.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/SSRF/UriBuilderTests.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/SSRF/UriTests.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/SSRF/WebClientTests.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/SSRF/WebRequestTests.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/SqlInjection/Linq2DbTests.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/String/StringReplaceTests.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/StringBuilder/StringBuilderAppendTests.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/WeakCipher/WeakCipherTests.cs
  tracer/test/test-applications/security/Samples.Security.AspNetCore5/Controllers/IastController.cs
  tracer/test/test-applications/security/Samples.Security.AspNetCore5/Views/Home/Index.cshtml
  tracer/test/test-applications/security/aspnet/Samples.Security.AspNetMvc5/Controllers/IastController.cs
Labels: area:asm, area:asm-iast

#4497 Don't include app-heartbeat in the first message-batch
  tracer/src/Datadog.Trace/Telemetry/TelemetryDataBuilderV2.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/TelemetryDataBuilderV2Tests.cs
Labels: area:telemetry

#4502 Add Benchmarks public dashboard to the Readme file
  docs/README.md
Labels: area:docs

#4501 [ASM] Filter new assemblies in the vulnerability stack
  tracer/src/Datadog.Trace/Iast/StackWalker.cs
Labels: area:tracer, area:asm, area:asm-iast

#4505 Update pull_request_template to mention approval requirements
  .github/pull_request_template.md
Labels: area:builds, area:docs

#4496 Update java version to 1.17 (current LTS version)
  tracer/build/_build/docker/gitlab/gitlab.windows.dockerfile
  tracer/build/_build/docker/gitlab/install_java.ps1
Labels: area:builds

#4512 CI fixes to increase reliability
  build/cmake/FindGoogleTest.cmake
  tracer/test/Datadog.Trace.TestHelpers.AutoInstrumentation/TestHelper.cs
  tracer/test/Datadog.Trace.Tests/TraceContextTests.cs
Labels: area:builds, area:tests

#4491 [Telemetry] Aggregate metrics in a separate loop
  tracer/src/Datadog.Trace/Configuration/ConfigurationKeys.Logging.cs
  tracer/src/Datadog.Trace/Telemetry/Collectors/IMetricsTelemetryCollector.cs
  tracer/src/Datadog.Trace/Telemetry/Collectors/MetricsTelemetryCollector.cs
  tracer/src/Datadog.Trace/Telemetry/Collectors/NullMetricsTelemetryCollector.cs
  tracer/src/Datadog.Trace/Telemetry/TelemetryControllerV2.cs
  tracer/src/Datadog.Trace/Telemetry/TelemetryFactory.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/Collectors/MetricsTelemetryCollectorTests.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/TelemetryControllerV2SchedulerTests.cs
Labels: type:refactor, area:telemetry

#4514 More CI fixes to reduce flake
  tracer/src/Datadog.Trace/Logging/DirectSubmission/Sink/DirectSubmissionLogSink.cs
  tracer/src/Datadog.Trace/Logging/DirectSubmission/Sink/PeriodicBatching/BatchingSink.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/SecuritySequentialTests.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/WafMemoryTests.cs
  tracer/test/Datadog.Trace.TestHelpers/FluentAssertionsExtensions/Json/Difference.cs
  tracer/test/Datadog.Trace.TestHelpers/FluentAssertionsExtensions/Json/DifferenceKind.cs
  tracer/test/Datadog.Trace.TestHelpers/FluentAssertionsExtensions/Json/IJsonAssertionOptions.cs
  tracer/test/Datadog.Trace.TestHelpers/FluentAssertionsExtensions/Json/IJsonAssertionRestriction.cs
  tracer/test/Datadog.Trace.TestHelpers/FluentAssertionsExtensions/Json/JPath.cs
  tracer/test/Datadog.Trace.TestHelpers/FluentAssertionsExtensions/Json/JTokenAssertions.cs
  tracer/test/Datadog.Trace.TestHelpers/FluentAssertionsExtensions/Json/JTokenDifferentiator.cs
  tracer/test/Datadog.Trace.TestHelpers/FluentAssertionsExtensions/Json/JTokenFormatter.cs
  tracer/test/Datadog.Trace.TestHelpers/FluentAssertionsExtensions/Json/JsonAssertionExtensions.cs
  tracer/test/Datadog.Trace.TestHelpers/FluentAssertionsExtensions/Json/JsonAssertionOptions.cs
  tracer/test/Datadog.Trace.TestHelpers/FluentAssertionsExtensions/Json/JsonAssertionRestriction.cs
  tracer/test/Datadog.Trace.TestHelpers/FluentAssertionsExtensions/Json/ObjectAssertionsExtensions.cs
  tracer/test/Datadog.Trace.TestHelpers/FluentAssertionsExtensions/Json/StringAssertionsExtensions.cs
  tracer/test/Datadog.Trace.Tests/Logging/DirectSubmission/Sink/PeriodicBatching/BatchingSinkTests.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/TelemetryControllerTests.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/TelemetryControllerV2Tests.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/Transports/JsonTelemetryTransportTests.cs
  tracer/test/Datadog.Trace.Tests/Util/JsonAssertions/Difference.cs
  tracer/test/Datadog.Trace.Tests/Util/JsonAssertions/DifferenceKind.cs
  tracer/test/Datadog.Trace.Tests/Util/JsonAssertions/IJsonAssertionOptions.cs
  tracer/test/Datadog.Trace.Tests/Util/JsonAssertions/IJsonAssertionRestriction.cs
  tracer/test/Datadog.Trace.Tests/Util/JsonAssertions/JPath.cs
  tracer/test/Datadog.Trace.Tests/Util/JsonAssertions/JTokenAssertions.cs
  tracer/test/Datadog.Trace.Tests/Util/JsonAssertions/JTokenDifferentiator.cs
  tracer/test/Datadog.Trace.Tests/Util/JsonAssertions/JTokenFormatter.cs
  tracer/test/Datadog.Trace.Tests/Util/JsonAssertions/JsonAssertionExtensions.cs
  tracer/test/Datadog.Trace.Tests/Util/JsonAssertions/JsonAssertionOptions.cs
  tracer/test/Datadog.Trace.Tests/Util/JsonAssertions/JsonAssertionRestriction.cs
  tracer/test/Datadog.Trace.Tests/Util/ModuleInitializer.cs
Labels: area:tests

#4503 [ASM] add trusted ip capablity
  tracer/src/Datadog.Trace/AppSec/Security.cs
  tracer/src/Datadog.Trace/RemoteConfigurationManagement/RcmCapabilitiesIndices.cs
Labels: area:asm

#4515 Fix flake in Metrics Telemetry collector tests
  tracer/src/Datadog.Trace/Telemetry/Collectors/MetricsTelemetryCollector.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/Collectors/MetricsTelemetryCollectorTests.cs
Labels: type:bug, area:tests, area:telemetry

#4519 Fix some flake and speed up some integration tests
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AdoNet/SqlCommand20Tests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AgentMalfunctionTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AspNet/AspNetWebApi2Tests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AspNet/OwinIisWebApi2Tests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/DataStreamsMonitoringTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/GraphQLTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/RuntimeMetricsTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/SmokeTests/SmokeTestBase.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/TelemetryTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/TransportTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/WcfTests.cs
  tracer/test/Datadog.Trace.TestHelpers.AutoInstrumentation/ErrorHelpers.cs
  tracer/test/Datadog.Trace.TestHelpers.AutoInstrumentation/TestHelper.cs
  tracer/test/test-applications/integrations/Samples.Kafka/Program.cs
  tracer/test/test-applications/regression/StackExchange.Redis.AssemblyConflict.SdkProject/Program.cs
Labels: area:builds, area:tests

#4506 [ASM] IAST: Ldap injection vulnerability
  tracer/src/Datadog.Trace/Configuration/IntegrationId.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.AspectsDefinitions.AspectsDefinitionsGenerator/AspectsDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.EnumExtensions.EnumExtensionsGenerator/IntegrationIdExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/MetricsTelemetryCollector_count.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.AspectsDefinitions.AspectsDefinitionsGenerator/AspectsDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.EnumExtensions.EnumExtensionsGenerator/IntegrationIdExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/MetricsTelemetryCollector_count.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.AspectsDefinitions.AspectsDefinitionsGenerator/AspectsDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.EnumExtensions.EnumExtensionsGenerator/IntegrationIdExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/MetricsTelemetryCollector_count.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.AspectsDefinitions.AspectsDefinitionsGenerator/AspectsDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.EnumExtensions.EnumExtensionsGenerator/IntegrationIdExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/MetricsTelemetryCollector_count.g.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.DirectoryServices/DirectoryEntryAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.DirectoryServices/DirectorySearcherAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.DirectoryServices/PrincipalContextAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.DirectoryServices/SearchRequestAspect.cs
  tracer/src/Datadog.Trace/Iast/IastModule.cs
  tracer/src/Datadog.Trace/Telemetry/Metrics/IntegrationIdExtensions.cs
  tracer/src/Datadog.Trace/Telemetry/Metrics/MetricTags.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/Datadog.Trace.Security.IntegrationTests.csproj
  tracer/test/Datadog.Trace.Security.IntegrationTests/IAST/AspNetCore2IastTests.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/IAST/AspNetCore5IastTests.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/IAST/AspNetMvc5IastTests.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/IAST/IastInstrumentationUnitTests.cs
  tracer/test/snapshots/Iast.Ldap.AspNetCore2.IastDisabled.verified.txt
  tracer/test/snapshots/Iast.Ldap.AspNetCore2.IastEnabled.RedactionEnabled.verified.txt
  tracer/test/snapshots/Iast.Ldap.AspNetCore2.IastEnabled.verified.txt
  tracer/test/snapshots/Iast.Ldap.AspNetCore5.IastDisabled.verified.txt
  tracer/test/snapshots/Iast.Ldap.AspNetCore5.IastEnabled.RedactionEnabled.verified.txt
  tracer/test/snapshots/Iast.Ldap.AspNetCore5.IastEnabled.verified.txt
  tracer/test/snapshots/Iast.Ldap.AspNetMvc5.IastDisabled.verified.txt
  tracer/test/snapshots/Iast.Ldap.AspNetMvc5.IastEnabled.verified.txt
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Samples.InstrumentedTests.csproj
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/LdapInjection/LdapInjectionTests.cs
  tracer/test/test-applications/security/Samples.Security.AspNetCore2/Samples.Security.AspNetCore2.csproj
  tracer/test/test-applications/security/Samples.Security.AspNetCore5/Controllers/IastController.cs
  tracer/test/test-applications/security/Samples.Security.AspNetCore5/Samples.Security.AspNetCore5.csproj
  tracer/test/test-applications/security/Samples.Security.AspNetCore5/Views/Home/Index.cshtml
  tracer/test/test-applications/security/aspnet/Samples.Security.AspNetMvc5/Controllers/IastController.cs
  tracer/test/test-applications/security/aspnet/Samples.Security.AspNetMvc5/Samples.Security.AspNetMvc5.csproj
  tracer/test/test-applications/security/aspnet/Samples.Security.AspNetMvc5/packages.config
Labels: area:asm, area:asm-iast

#4518 Enable V2 Telemetry and Metrics by default in AAS
  tracer/src/Datadog.Trace/Telemetry/TelemetrySettings.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/TelemetrySettingsTests.cs
Labels: area:telemetry

#4525 Add github action to run the generate package versions target
  .github/workflows/generate_package_versions.yml
Labels: area:builds

#4481 [Tracer] _dd.base_service now keeps the original service name when changed
  docs/span_attribute_schema/v0.md
  docs/span_attribute_schema/v1.md
  tracer/src/Datadog.Trace/Span.cs
  tracer/src/Datadog.Trace/Tags.cs
  tracer/test/Datadog.Trace.TestHelpers/SpanMetadataV0Rules.cs
  tracer/test/Datadog.Trace.TestHelpers/SpanMetadataV1Rules.cs
  tracer/test/Datadog.Trace.Tests/SpanTests.cs
  tracer/test/snapshots/OpenTelemetrySdkTests.verified.txt
  tracer/test/snapshots/OpenTelemetrySdkTestsWithActivitySource.verified.txt
  tracer/test/snapshots/OpenTelemetrySdkTestsWithActivitySource_1_0.verified.txt
  tracer/test/snapshots/OpenTelemetrySdkTestsWithActivitySource_up_to_1_5_0.verified.txt
  tracer/test/snapshots/OpenTelemetrySdkTests_1_0.verified.txt
  tracer/test/snapshots/OpenTelemetrySdkTests_1_0_withLegacyOperationName.verified.txt
  tracer/test/snapshots/OpenTelemetrySdkTests_up_to_1_5_0.verified.txt
  tracer/test/snapshots/OpenTelemetrySdkTests_up_to_1_5_0_withLegacyOperationName.verified.txt
  tracer/test/snapshots/OpenTelemetrySdkTests_withLegacyOperationName.verified.txt
  tracer/test/snapshots/Security.AspNetCore5RcmClient_TestExtraServiceField._.verified.txt
Labels: area:tracer, mergequeue-status: removed

#4527 [Tracer] Fix WebRequest span when HTTP status code is 4XX
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Http/WebRequest/HttpWebRequest_EndGetResponse_Integration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Http/WebRequest/HttpWebRequest_GetResponse_Integration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Http/WebRequest/WebRequest_GetResponseAsync_Integration.cs
  tracer/src/Datadog.Trace/Span.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PeerServiceMappingTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/ServiceMappingTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/WebRequestTests.cs
  tracer/test/test-applications/integrations/Samples.WebRequest/Program.cs
  tracer/test/test-applications/integrations/Samples.WebRequest/Properties/launchSettings.json
  tracer/test/test-applications/integrations/Samples.WebRequest/RequestHelpers.cs
Labels: type:bug, area:automatic-instrumentation

#4526 Split system tests as they're on the critical path
  .azure-pipelines/ultimate-pipeline.yml
Labels: area:builds

#4522 [ASM] Use of filters in the IAST stack walker
  tracer/src/Datadog.Trace/Iast/StackWalker.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/IAST/StackWalkerTests.cs
Labels: area:tracer, area:asm, area:asm-iast

#4524 Add Nuke helper for performing CPA on pipeline results
  .azure-pipelines/ultimate-pipeline.yml
  .nuke/build.schema.json
  tracer/build/_build/BenchmarkComparison/Data.cs
  tracer/build/_build/Build.Utilities.cs
  tracer/build/_build/Build.VariableGenerations.cs
  tracer/build/_build/CriticalPathAnalysis/CriticalPathAnalyzer.cs
  tracer/build/_build/PipelineParser/PipelineDefinition.cs
  tracer/build/_build/PipelineParser/PipelineParser.cs
  tracer/build/_build/_build.csproj
Labels: area:builds

#4536 Add support for identifying Pivotal Cloud Foundry container IDs
  tracer/src/Datadog.Trace/PlatformHelpers/ContainerMetadata.cs
  tracer/test/Datadog.Trace.Tests/PlatformHelpers/ContainerMetadataTests.cs
Labels: type:enhancement, area:container-tagging

#4531 Fix runtime metric generation
  tracer/src/Datadog.Trace/RuntimeMetrics/RuntimeMetricsWriter.cs
  tracer/src/Datadog.Trace/Util/ProcessHelpers.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/RuntimeMetricsTests.cs
  tracer/test/test-applications/integrations/Samples.RuntimeMetrics/Program.cs
Labels: type:bug, area:runtime-metrics

#4528 [ASM] Add a benchmark for waf run
  .github/CODEOWNERS
  tracer/test/benchmarks/Benchmarks.Trace/Asm/AppSecBodyBenchmark.cs
  tracer/test/benchmarks/Benchmarks.Trace/Asm/AppSecWafBenchmark.cs
Labels: area:tests, area:asm

#4381 Add OpenTelemetry Benchmarks
  tracer/test/benchmarks/Benchmarks.Trace/ActivityBenchmark.cs
  tracer/test/benchmarks/Benchmarks.Trace/Benchmarks.Trace.csproj
Labels: area:tests

#4547 Fix ASM WAF benchmarks
  tracer/test/benchmarks/Benchmarks.Trace/Asm/AppSecWafBenchmark.cs
Labels: area:builds, area:tests, area:asm

#4543 Fix telemetry metrics and add validator
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/CountExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/GaugeExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/MetricsTelemetryCollector_count.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/MetricsTelemetryCollector_gauge.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/CountExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/GaugeExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/MetricsTelemetryCollector_count.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/MetricsTelemetryCollector_gauge.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/CountExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/GaugeExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/MetricsTelemetryCollector_count.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/MetricsTelemetryCollector_gauge.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/CountExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/GaugeExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/MetricsTelemetryCollector_count.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/MetricsTelemetryCollector_gauge.g.cs
  tracer/src/Datadog.Trace/Telemetry/Metrics/Count.cs
  tracer/src/Datadog.Trace/Telemetry/Metrics/Gauge.cs
  tracer/test/Datadog.Trace.Tests/Datadog.Trace.Tests.csproj
  tracer/test/Datadog.Trace.Tests/Telemetry/Metrics/MetricTests.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/Metrics/common_metrics.json
  tracer/test/Datadog.Trace.Tests/Telemetry/Metrics/dotnet_metrics.json
Labels: type:bug, area:tracer, area:telemetry

#4546 Validate that we only use known configuration keys in telemetry
  tracer/test/Datadog.Trace.Tests/Datadog.Trace.Tests.csproj
  tracer/test/Datadog.Trace.Tests/Telemetry/ConfigurationTests.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/config_norm_rules.json
  tracer/test/Datadog.Trace.Tests/Telemetry/config_prefix_block_list.json
Labels: area:tests, area:telemetry

#4548 [tracer] use 2^64-1 as the modulo in the sampling formula
  tracer/src/Datadog.Trace/Util/SamplingHelpers.cs
  tracer/test/Datadog.Trace.Tests/Sampling/SamplingHelpersTests.cs
Labels: area:tracer

#4513 [Profiler] Fix race in ManagedThreadList class
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ManagedThreadList.cpp
Labels: area:profiler

#4480 [Profiler] Add Sample value type provider
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/AllocationsProvider.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/AllocationsProvider.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CollectorBase.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ContentionProvider.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ContentionProvider.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CorProfilerCallback.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CpuTimeProvider.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CpuTimeProvider.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Datadog.Profiler.Native.vcxproj
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Datadog.Profiler.Native.vcxproj.filters
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ExceptionsProvider.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ExceptionsProvider.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/GCBaseRawSample.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/GarbageCollectionProvider.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/GarbageCollectionProvider.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/IUpscaleProvider.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/LibddprofExporter.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/LibddprofExporter.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/LiveObjectsProvider.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/LiveObjectsProvider.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/RawAllocationSample.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/RawContentionSample.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/RawCpuSample.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/RawExceptionSample.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/RawGarbageCollectionSample.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/RawSample.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/RawStopTheWorldSample.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/RawWallTimeSample.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/SampleValueTypeProvider.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/SampleValueTypeProvider.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/StopTheWorldGCProvider.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/StopTheWorldGCProvider.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/WallTimeProvider.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/WallTimeProvider.h
  profiler/test/Datadog.Profiler.Native.Tests/Datadog.Profiler.Native.Tests.vcxproj
  profiler/test/Datadog.Profiler.Native.Tests/Datadog.Profiler.Native.Tests.vcxproj.filters
  profiler/test/Datadog.Profiler.Native.Tests/ProviderTest.cpp
  profiler/test/Datadog.Profiler.Native.Tests/SampleValueTypeProviderTest.cpp
Labels: area:profiler

#4557 [ASM] bugfix - stop misreporting RC update failure
  tracer/src/Datadog.Trace/AppSec/Waf/ReturnTypes.Managed/DiagnosticFeatureResult.cs
  tracer/src/Datadog.Trace/AppSec/Waf/ReturnTypes.Managed/DiagnosticResult.cs
  tracer/src/Datadog.Trace/AppSec/Waf/ReturnTypes.Managed/DiagnosticResultUtils.cs
  tracer/src/Datadog.Trace/AppSec/Waf/ReturnTypes.Managed/InitResult.cs
  tracer/src/Datadog.Trace/AppSec/Waf/ReturnTypes.Managed/UpdateResult.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/Datadog.Trace.Security.Unit.Tests.csproj
  tracer/test/Datadog.Trace.Security.Unit.Tests/Utils/WafLibraryRequiredTest.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/WafErrorsTests.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/WafIpBlockTests.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/WafMemoryTests.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/WafUpdateTests.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/WafUserBlockTests.cs
Labels: type:bug, area:asm

#4549 Fix flake in StackExchange.Redis integration tests
  tracer/test/test-applications/integrations/Samples.StackExchange.Redis/Program.cs
Labels: area:tests, area:test-apps

#4551 Fix warning in sample
  tracer/test/test-applications/regression/StackExchange.Redis.AssemblyConflict.SdkProject/Program.cs
Labels: area:tests, area:test-apps

#4556 Add a GH action for forcing required checks for version-bump PR to success
  .github/workflows/override_version_bump_pr_checks.yml
Labels: area:builds

#4554 [ASM] DecompileDelegate lib bugfix
  tracer/src/Datadog.Tracer.Native/iast/dataflow.cpp
  tracer/src/Datadog.Tracer.Native/iast/dataflow.h
  tracer/src/Datadog.Tracer.Native/iast/method_info.cpp
  tracer/src/Datadog.Tracer.Native/iast/method_info.h
  tracer/src/Datadog.Tracer.Native/iast/module_info.cpp
  tracer/src/Datadog.Tracer.Native/iast/module_info.h
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Samples.InstrumentedTests.csproj
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/SqlInjection/DabaseHelpers/TestClasses.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/SqlInjection/EFTests.cs
Labels: type:bug, area:asm, area:asm-iast

#4563 Fix version-bump PR forcer action
  .github/workflows/override_version_bump_pr_checks.yml
Labels: area:builds

#4558 [CIVisibility] `ConfigureCiCommand` fixes.
  tracer/src/Datadog.Trace.Tools.Runner/CIConfiguration.cs
  tracer/src/Datadog.Trace.Tools.Runner/ConfigureCiCommand.cs
  tracer/src/Datadog.Trace.Tools.Runner/LegacyCommand.cs
  tracer/src/Datadog.Trace.Tools.Runner/RunHelper.cs
  tracer/src/Datadog.Trace.Tools.Runner/Utils.cs
  tracer/test/Datadog.Trace.Tools.Runner.ArtifactTests/LegacyCommandLineArgumentsTests.cs
  tracer/test/Datadog.Trace.Tools.Runner.IntegrationTests/BaseRunCommandTests.cs
  tracer/test/Datadog.Trace.Tools.Runner.IntegrationTests/ConfigureCiCommandTests.cs
  tracer/test/Datadog.Trace.Tools.Runner.IntegrationTests/LegacyCommandLineArgumentsTests.cs
Labels: area:ci-visibility

#4567 Make sure Process is not used concurrently
  tracer/src/Datadog.Trace/RuntimeMetrics/RuntimeMetricsWriter.cs
  tracer/src/Datadog.Trace/Util/ProcessHelpers.cs
Labels: area:tracer

#4565 [CI Visibility] Update CI specs
  tracer/src/Datadog.Trace/Ci/CIEnvironmentValues.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/Data/appveyor.json
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/Data/azurepipelines.json
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/Data/bitbucket.json
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/Data/bitrise.json
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/Data/buddy.json
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/Data/buildkite.json
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/Data/circleci.json
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/Data/github.json
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/Data/gitlab.json
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/Data/jenkins.json
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/Data/teamcity.json
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/Data/travisci.json
Labels: area:ci-visibility

#4550 Allow explicitly disabling CI Visibility
  tracer/src/Datadog.Trace/Ci/CIVisibility.cs
  tracer/src/Datadog.Trace/Ci/Configuration/CIVisibilitySettings.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/IAST/IastInstrumentationUnitTests.cs
  tracer/test/Datadog.Trace.Tests/Configuration/CIVisibilitySettingsTests.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/InstrumentationTestsBase.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/SqlInjection/DapperTests.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/SqlInjection/EFBaseTests.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/SqlInjection/EFCoreBaseTests.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/SqlInjection/Linq2DbTests.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/SqlInjection/MicrosoftSqLiteTests.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/SqlInjection/MySqlTests.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/SqlInjection/NpgsqlTests.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/SqlInjection/OracleTests.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/SqlInjection/SqlCommandTests.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/SqlInjection/SystemDataSqLiteTests.cs
Labels: type:bug, area:tests, area:test-apps, area:ci-visibility, area:asm-iast

#4552 Set the `Integration.Enabled` telemetry flag for direct log submission
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Logging/ILogger/DirectSubmission/LoggerFactoryConstructorIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Logging/ILogger/DirectSubmission/LoggerFactoryConstructorNet7Integration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Logging/ILogger/DirectSubmission/LoggerFactoryIntegrationCommon.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Logging/Log4Net/DirectSubmission/AppenderCollectionIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Logging/Log4Net/DirectSubmission/AppenderCollectionLegacyIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Logging/Log4Net/DirectSubmission/Log4NetCommon.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Logging/NLog/DirectSubmission/LogFactoryGetConfigurationForLoggerInstrumentation.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Logging/NLog/DirectSubmission/NLogCommon.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Logging/Serilog/DirectSubmission/LoggerConfigurationInstrumentation.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/ILoggerTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/Log4NetTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/NLogTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/SerilogTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.Managed.Tests/AutoInstrumentation/Logging/ILogger/ILoggerDuckTypingTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.Managed.Tests/AutoInstrumentation/Logging/Log4Net/Log4NetDuckTypingTests.cs
  tracer/test/test-applications/integrations/dependency-libs/LogsInjectionHelper/LoggingMethods.cs
Labels: area:telemetry, area:direct-log-submission

#4568 [ASM] IAST fix for the 0 line bug
  tracer/src/Datadog.Trace/Iast/IastModule.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/InstrumentationTestsBase.cs
Labels: area:asm

#4101 Swap Samples.WebRequest to use Activity
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/WebRequestTests.cs
  tracer/test/test-applications/integrations/Samples.WebRequest/Properties/launchSettings.json
  tracer/test/test-applications/integrations/Samples.WebRequest/RequestHelpers.cs
  tracer/test/test-applications/integrations/Samples.WebRequest/Samples.WebRequest.csproj
Labels: area:tests

#3916 Change Samples.TracingWithoutLimits to use Samples.Shared
  tracer/test/test-applications/Samples.Shared/SampleHelpers.cs
  tracer/test/test-applications/integrations/Samples.TracingWithoutLimits/Program.cs
  tracer/test/test-applications/integrations/Samples.TracingWithoutLimits/Properties/launchSettings.json
  tracer/test/test-applications/integrations/Samples.TracingWithoutLimits/Samples.TracingWithoutLimits.csproj
Labels: area:tests
