Repository DataDog/dd-trace-dotnet, pull requests merged in 2023-12, with the labels that each got.

#4938 Add manual+automatic instrumentation tests + fix `SetUser` bug
  Datadog.Trace.sln
  tracer/src/Datadog.Trace/AspNetCoreAvailabilityChecker.cs
  tracer/src/Datadog.Trace/SpanExtensions.Core.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/ManualInstrumentationTests.cs
  tracer/test/snapshots/ManualInstrumentationTests.ManualAndAutomatic.verified.txt
  tracer/test/snapshots/ManualInstrumentationTests.ManualOnly.verified.txt
  tracer/test/test-applications/integrations/Samples.ManualInstrumentation/Program.cs
  tracer/test/test-applications/integrations/Samples.ManualInstrumentation/Properties/launchSettings.json
  tracer/test/test-applications/integrations/Samples.ManualInstrumentation/Samples.ManualInstrumentation.csproj
Labels: type:bug, area:tests

#4946 Set default batch interval in serverless scenarios
  tracer/src/Datadog.Trace/Configuration/TracerSettings.cs
Labels: area:tracer, area:serverless

#4944 Enable diagnostic messages in dd-dotnet artifact tests
  tracer/test/Datadog.Trace.Tools.dd_dotnet.ArtifactTests/Datadog.Trace.Tools.dd_dotnet.ArtifactTests.csproj
  tracer/test/Datadog.Trace.Tools.dd_dotnet.ArtifactTests/xunit.runner.json
Labels: area:tests

#4933 Fix bugs with DogStatsD when using named pipes or UDS
  tracer/src/Datadog.Trace/TracerManagerFactory.cs
  tracer/test/Datadog.Trace.TestHelpers/EnvironmentRestorerAttribute.cs
  tracer/test/Datadog.Trace.Tests/DogStatsDTests.cs
Labels: type:bug, area:tracer, area:runtime-metrics

#4950 [ASM] Add null check for content body before running security checks
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AspNetCore/ActionResponseFilter.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AspNetCore/ObjectResult.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/ApiSecurity/AspNetCoreApiSecurity.cs
  tracer/test/snapshots/Security.ApiSecurity.AspNetCore2.ApiSecOff.__url=_dataapi_empty-model_body={-property_expectedStatusCode=NoContent_containsAttack=False.verified.txt
  tracer/test/snapshots/Security.ApiSecurity.AspNetCore2.ApiSecOn.__url=_dataapi_empty-model_body={-property_expectedStatusCode=NoContent_containsAttack=False.verified.txt
  tracer/test/snapshots/Security.ApiSecurity.AspNetCore5.ApiSecOff.__url=_dataapi_empty-model_body={-property_expectedStatusCode=NoContent_containsAttack=False.verified.txt
  tracer/test/snapshots/Security.ApiSecurity.AspNetCore5.ApiSecOn.__url=_dataapi_empty-model_body={-property_expectedStatusCode=NoContent_containsAttack=False.verified.txt
  tracer/test/test-applications/security/Samples.Security.AspNetCore5/Controllers/DataApiController.cs
Labels: type:bug, area:asm

#4947 Increase the dd-dotnet artifact tests timeout to 30 seconds.
  tracer/test/Datadog.Trace.Tools.dd_dotnet.ArtifactTests/Checks/ConsoleTestHelper.cs
  tracer/test/Datadog.Trace.Tools.dd_dotnet.ArtifactTests/ConsoleTestHelper.cs
Labels: area:tests

#4965 [IAST] Hardcoded Secrets location bugfix
  tracer/src/Datadog.Tracer.Native/iast/hardcoded_secrets_method_analyzer.cpp
  tracer/src/Datadog.Tracer.Native/iast/method_info.cpp
Labels: type:bug, area:asm, area:asm-iast

#4941 [Dynamic Instrumentation] Added type support for PII redaction
  tracer/src/Datadog.Trace/Configuration/ConfigurationKeys.Debugger.cs
  tracer/src/Datadog.Trace/Debugger/DebuggerSettings.cs
  tracer/src/Datadog.Trace/Debugger/Snapshots/DebuggerSnapshotSerializer.NotCapturedReason.cs
  tracer/src/Datadog.Trace/Debugger/Snapshots/DebuggerSnapshotSerializer.cs
  tracer/src/Datadog.Trace/Debugger/Snapshots/Redaction.cs
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.AsyncMethodRedactionTest.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.RedactionTest.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.RedactionTest_#1..verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/ProbesTests.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/config_norm_rules.json
  tracer/test/test-applications/debugger/dependency-libs/Samples.Probes.TestRuns/SmokeTests/RedactionTest.cs
Labels: area:tracer, area:debugger

#4873 [ASM] Hsts header missing vulnerability
  tracer/src/Datadog.Trace/AspNet/TracingHttpModule.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AspNetCore/FireOnStartCommon.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/IastInstrumentedSinksExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/IastInstrumentedSinksExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/IastInstrumentedSinksExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/IastInstrumentedSinksExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Iast/IastModule.cs
  tracer/src/Datadog.Trace/Iast/ReturnedHeadersAnalyzer.cs
  tracer/src/Datadog.Trace/Iast/Telemetry/ExecutedTelemetryHelper.cs
  tracer/src/Datadog.Trace/Iast/VulnerabilityType.cs
  tracer/src/Datadog.Trace/Iast/VulnerabilityTypeName.cs
  tracer/src/Datadog.Trace/Telemetry/Metrics/MetricTags.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/IAST/AspNetCore2IastTests.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/IAST/AspNetCore5IastTests.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/IAST/AspNetMvc5IastTests.cs
  tracer/test/snapshots/Iast.CookieName.AspNetCore5.TelemetryEnabled.verified.txt
  tracer/test/snapshots/Iast.PathTraversal.AspNetCore2.TelemetryEnabled.verified.txt
  tracer/test/snapshots/Iast.PathTraversal.AspNetCore5.TelemetryEnabled.verified.txt
  tracer/test/snapshots/Iast.StrictTransportSecurity.AspNetCore2.applicationxhtml%2Bxml.200.empty.https.verified.txt
  tracer/test/snapshots/Iast.StrictTransportSecurity.AspNetCore2.applicationxhtml%2Bxml.200.max-age%3D10%3Botherthings.https.verified.txt
  tracer/test/snapshots/Iast.StrictTransportSecurity.AspNetCore2.texthtml.200.empty.https.verified.txt
  tracer/test/snapshots/Iast.StrictTransportSecurity.AspNetCore2.texthtml.200.invalid.empty.verified.txt
  tracer/test/snapshots/Iast.StrictTransportSecurity.AspNetCore2.texthtml.200.invalid.https.verified.txt
  tracer/test/snapshots/Iast.StrictTransportSecurity.AspNetCore2.texthtml.500.invalid.https.verified.txt
  tracer/test/snapshots/Iast.StrictTransportSecurity.AspNetCore2.texthtml;charset=UTF-8.200.max-age=0.https.verified.txt
  tracer/test/snapshots/Iast.StrictTransportSecurity.AspNetCore2.texthtml;charset=UTF-8.200.max-age=31536000.https.verified.txt
  tracer/test/snapshots/Iast.StrictTransportSecurity.AspNetCore2.textplain.200.invalid.https.verified.txt
  tracer/test/snapshots/Iast.StrictTransportSecurity.AspNetCore5.applicationxhtml%2Bxml.200.empty.https.verified.txt
  tracer/test/snapshots/Iast.StrictTransportSecurity.AspNetCore5.applicationxhtml%2Bxml.200.max-age%3D10%3Botherthings.https.verified.txt
  tracer/test/snapshots/Iast.StrictTransportSecurity.AspNetCore5.texthtml.200.empty.https.verified.txt
  tracer/test/snapshots/Iast.StrictTransportSecurity.AspNetCore5.texthtml.200.invalid.empty.verified.txt
  tracer/test/snapshots/Iast.StrictTransportSecurity.AspNetCore5.texthtml.200.invalid.https.verified.txt
  tracer/test/snapshots/Iast.StrictTransportSecurity.AspNetCore5.texthtml.500.invalid.https.verified.txt
  tracer/test/snapshots/Iast.StrictTransportSecurity.AspNetCore5.texthtml;charset=UTF-8.200.max-age=0.https.verified.txt
  tracer/test/snapshots/Iast.StrictTransportSecurity.AspNetCore5.texthtml;charset=UTF-8.200.max-age=31536000.https.verified.txt
  tracer/test/snapshots/Iast.StrictTransportSecurity.AspNetCore5.textplain.200.invalid.https.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5.Integrated.IastEnabled.applicationxhtml%2Bxml.200.empty.https.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5.Integrated.IastEnabled.applicationxhtml%2Bxml.200.max-age%3D10%3Botherthings.https.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5.Integrated.IastEnabled.texthtml.200.empty.https.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5.Integrated.IastEnabled.texthtml.200.invalid.empty.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5.Integrated.IastEnabled.texthtml.200.invalid.https.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5.Integrated.IastEnabled.texthtml.500.invalid.https.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5.Integrated.IastEnabled.texthtml;charset=UTF-8.200.max-age=31536000.https.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5.Integrated.IastEnabled.textplain.200.invalid.https.verified.txt
  tracer/test/test-applications/security/Samples.Security.AspNetCore5/Controllers/IastController.cs
  tracer/test/test-applications/security/Samples.Security.AspNetCore5/Views/Home/Index.cshtml
  tracer/test/test-applications/security/aspnet/Samples.Security.AspNetMvc5/Controllers/IastController.cs
Labels: area:asm, area:asm-iast

#4961 Add fix for null key in `SecurityCoordinator`
  tracer/src/Datadog.Trace/AppSec/Coordinator/SecurityCoordinator.Framework.cs
Labels: type:bug, area:asm, identified-by:telemetry

#4962 Stop caching exceptions in lazy
  tracer/src/Datadog.Trace/Util/Http/QueryStringObfuscation/ObfuscatorFactory.cs
  tracer/src/Datadog.Trace/Util/Http/QueryStringObfuscation/RedactAllObfuscator.cs
Labels: area:tracer

#4968 Don't require config-file updates for new `IntegrationId`s
  tracer/test/Datadog.Trace.Tests/Telemetry/ConfigurationTests.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/config_norm_rules.json
  tracer/test/Datadog.Trace.Tests/Telemetry/config_prefix_block_list.json
Labels: area:tracer, area:tests, area:telemetry

#4959 Add support for NUnit 4
  tracer/build/PackageVersionsGeneratorDefinitions.json
  tracer/build/PackageVersionsLatestMajors.g.props
  tracer/build/PackageVersionsLatestMinors.g.props
  tracer/build/PackageVersionsLatestSpecific.g.props
  tracer/build/supported_versions.json
  tracer/dependabot/Datadog.Dependabot.Integrations.csproj
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/NUnit/NUnitCompositeWorkItemPerformOneTimeSetUpIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/NUnit/NUnitCompositeWorkItemPerformOneTimeTearDownIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/NUnit/NUnitCompositeWorkItemSkipChildrenIntegration_V3_14_0.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/NUnit/NUnitTestCommandExecuteIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/NUnit/NUnitWorkItemPerformWorkIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/NUnit/NUnitWorkItemWorkItemCompleteIntegration.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/NUnitTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestMajors.g.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestMinors.g.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestSpecific.g.cs
  tracer/test/test-applications/integrations/Samples.NUnitTests/Samples.NUnitTests.csproj
  tracer/test/test-applications/integrations/Samples.NUnitTests/TestSuite.cs
Labels: type:enhancement, area:tracer, area:ci-visibility, area:integrations

#4960 Un-skip manual instrumentation tests and fix flake
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/ManualInstrumentationTests.cs
  tracer/test/snapshots/ManualInstrumentationTests.ManualAndAutomatic.verified.txt
  tracer/test/snapshots/ManualInstrumentationTests.ManualOnly.verified.txt
  tracer/test/test-applications/integrations/Samples.ManualInstrumentation/Program.cs
Labels: area:tracer, area:tests

#4954 [Build/Test] Add GitHub Action to track files without nullable reference types
  .github/workflows/verify_files_without_nullability.yml
  .nuke/build.schema.json
  tracer/build/_build/Build.Gitlab.cs
  tracer/build/_build/Build.Steps.cs
  tracer/build/_build/Build.cs
  tracer/missing-nullability-files.csv
Labels: area:builds

#4951 Add logs injection + direct log shipping for Microsoft.Extensions.Telemetry
  Datadog.Trace.sln
  tracer/build/PackageVersionsGeneratorDefinitions.json
  tracer/build/PackageVersionsLatestMajors.g.props
  tracer/build/PackageVersionsLatestMinors.g.props
  tracer/build/PackageVersionsLatestSpecific.g.props
  tracer/build/_build/Honeypot/IntegrationGroups.cs
  tracer/build/supported_versions.json
  tracer/dependabot/Datadog.Dependabot.Integrations.csproj
  tracer/src/Datadog.Trace.Trimming/build/Datadog.Trace.Trimming.xml
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Logging/ILogger/DirectSubmission/ExtendedLoggerFactoryConstructorIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Logging/ILogger/DirectSubmission/ExtendedLoggerFactoryProxy.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Logging/ILogger/LogsInjection/LoggerFactoryScopeProviderForEachScopeIntegration.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Tracer.Native/dd_profiler_constants.h
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/ILoggerTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersions.g.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestMajors.g.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestMinors.g.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestSpecific.g.cs
  tracer/test/test-applications/integrations/LogsInjection.ILogger.ExtendedLogger/LogsInjection.ILogger.ExtendedLogger.csproj
  tracer/test/test-applications/integrations/LogsInjection.ILogger.ExtendedLogger/Program.cs
  tracer/test/test-applications/integrations/LogsInjection.ILogger.ExtendedLogger/Properties/launchSettings.json
  tracer/test/test-applications/integrations/LogsInjection.ILogger.ExtendedLogger/Startup.cs
  tracer/test/test-applications/integrations/LogsInjection.ILogger.ExtendedLogger/appsettings.json
Labels: area:tracer, area:logs-injection, area:integrations, area:direct-log-submission

#4977 [IAST] Added missing nullable enable
  tracer/src/Datadog.Trace/IAST/Aspects/AspNetCore.Http/HttpResponseAspect.cs
  tracer/src/Datadog.Trace/IAST/Aspects/AspNetCore.Mvc/ControllerBaseAspect.cs
  tracer/src/Datadog.Trace/IAST/Aspects/System.Web.Mvc/HttpControllerAspect.cs
  tracer/src/Datadog.Trace/IAST/Aspects/System.Web/HttpResponseAspect.cs
  tracer/src/Datadog.Trace/Iast/IastModule.cs
Labels: area:tracer, area:asm, area:asm-iast

#4976 Add workaround for Rider bug
  tracer/Directory.Build.props
  tracer/src/Datadog.Trace.Tools.Runner/Datadog.Trace.Tools.Runner.csproj
  tracer/src/Datadog.Trace.Tools.Shared/Datadog.Trace.Tools.Shared.csproj
  tracer/test/Datadog.Trace.Tools.dd_dotnet.ArtifactTests/Datadog.Trace.Tools.dd_dotnet.ArtifactTests.csproj
  tracer/test/Directory.Build.props
  tracer/test/test-applications/Directory.Build.props
Labels: area:builds

#4974 Add support for aerospike v7
  tracer/build/PackageVersionsGeneratorDefinitions.json
  tracer/build/PackageVersionsLatestMajors.g.props
  tracer/build/PackageVersionsLatestMinors.g.props
  tracer/build/PackageVersionsLatestSpecific.g.props
  tracer/build/supported_versions.json
  tracer/dependabot/Datadog.Dependabot.Integrations.csproj
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Aerospike/AsyncCommandIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Aerospike/SyncCommandIntegration.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestMajors.g.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestMinors.g.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestSpecific.g.cs
Labels: type:enhancement, area:tracer, area:automatic-instrumentation, area:integrations

#4970 [ASM] Add client IP feature to the AspNetMvc integration
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AspNet/AspNetMvcIntegration.cs
  tracer/test/snapshots/Security.AspNetMvc5.Classic.enableSecurity=True.__test=discovery.scans_url=_Health_wp-config_body=null.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5.Classic.enableSecurity=True.__test=server.request.body_url=_Home_UploadJson_body={-DictionaryProperty-- {-a---[$slice]-} }.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5.Classic.enableSecurity=True.__test=server.request.body_url=_Home_UploadStruct_body={-Property1-- -[$slice]-}.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5.Classic.enableSecurity=True.__test=server.request.body_url=_Home_Upload_body={-Property1-- -[$slice]-}.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5.Classic.enableSecurity=True.__test=server.request.path_params_url=_Health_params_appscan_fingerprint-&q=help_body=null.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5.Classic.enableSecurity=True.__test=server.request.path_params_url=_Health_params_appscan_fingerprint_body=null.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5.Classic.enableSecurity=True.__test=server.request.query_url=_Health_-arg&[$slice]_body=null.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5.Classic.enableSecurity=True.__test=server.request.query_url=_Health_-arg=[$slice]_body=null.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5.Classic.enableSecurity=True.__test=server.response.headers.no_cookies_url=_Home_LangHeader_body=null.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5.Integrated.enableSecurity=True.__test=discovery.scans_url=_Health_wp-config_body=null.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5.Integrated.enableSecurity=True.__test=server.request.body_url=_Home_UploadJson_body={-DictionaryProperty-- {-a---[$slice]-} }.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5.Integrated.enableSecurity=True.__test=server.request.body_url=_Home_UploadStruct_body={-Property1-- -[$slice]-}.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5.Integrated.enableSecurity=True.__test=server.request.body_url=_Home_Upload_body={-Property1-- -[$slice]-}.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5.Integrated.enableSecurity=True.__test=server.request.path_params_url=_Health_params_appscan_fingerprint-&q=help_body=null.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5.Integrated.enableSecurity=True.__test=server.request.path_params_url=_Health_params_appscan_fingerprint_body=null.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5.Integrated.enableSecurity=True.__test=server.request.query_url=_Health_-arg&[$slice]_body=null.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5.Integrated.enableSecurity=True.__test=server.request.query_url=_Health_-arg=[$slice]_body=null.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5.Integrated.enableSecurity=True.__test=server.response.headers.no_cookies_url=_Home_LangHeader_body=null.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5AsmData.Classic.enableSecurity=True.__test=blocking-ips_url=_.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5AsmData.Classic.enableSecurity=True.__test=blocking-user_url=_user.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5AsmData.Integrated.enableSecurity=True.__test=blocking-ips_url=_.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5AsmData.Integrated.enableSecurity=True.__test=blocking-user_url=_user.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5AsmRulesToggle.Classic.enableSecurity=True._.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5AsmRulesToggle.Integrated.enableSecurity=True._.verified.txt
Labels: area:asm, area:integrations

#4969 [Build] Fix Tracer Native Build on MacOS ARM64
  shared/src/native-src/logger.h
  tracer/src/Datadog.Tracer.Native/debugger_method_rewriter.cpp
Labels: area:builds, area:shared-components

#4982 Change the echo output in Samples.Console
  tracer/test/Datadog.Trace.Tools.dd_dotnet.ArtifactTests/RunCommandTests.cs
  tracer/test/test-applications/integrations/Samples.Console/Program.cs
Labels: area:tests

#4975 [ASM] Division by zero could happen if param was 0 and apisecurity is enabled
  tracer/src/Datadog.Trace/Sampling/OverheadController.cs
Labels: area:tracer, area:asm

#4986 More workarounds for Rider/NuGet bug
  tracer/Directory.Build.props
  tracer/build/_build/_build.csproj
  tracer/src/Datadog.Trace.BenchmarkDotNet/Datadog.Trace.BenchmarkDotNet.csproj
  tracer/src/Datadog.Trace.Bundle/Datadog.Trace.Bundle.csproj
  tracer/src/Datadog.Trace.Tools.Runner/Datadog.Trace.Tools.Runner.csproj
  tracer/src/Datadog.Trace.Tools.Shared/Datadog.Trace.Tools.Shared.csproj
  tracer/src/Datadog.Trace.Tools.dd_dotnet/Datadog.Trace.Tools.dd_dotnet.csproj
  tracer/test/Datadog.Trace.Tools.dd_dotnet.ArtifactTests/Datadog.Trace.Tools.dd_dotnet.ArtifactTests.csproj
  tracer/test/Datadog.Trace.Tools.dd_dotnet.IntegrationTests/Datadog.Trace.Tools.dd_dotnet.IntegrationTests.csproj
  tracer/test/Datadog.Trace.Tools.dd_dotnet.Tests/Datadog.Trace.Tools.dd_dotnet.Tests.csproj
  tracer/test/Directory.Build.props
  tracer/test/benchmarks/Benchmarks.Trace/Benchmarks.Trace.csproj
  tracer/test/test-applications/Directory.Build.props
  tracer/test/test-applications/integrations/Samples.Elasticsearch.V5/Samples.Elasticsearch.V5.csproj
  tracer/test/test-applications/integrations/Samples.GrpcDotNet/Samples.GrpcDotNet.csproj
  tracer/test/test-applications/integrations/Samples.GrpcLegacy/Samples.GrpcLegacy.csproj
Labels: area:builds

#4993 [ASM][IAST] Fix macOS build for IAST Instrumented tests
  tracer/src/Datadog.Tracer.Native/iast/dataflow.cpp
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/generaterunsettings.sh
Labels: area:asm, area:asm-iast

#4998 Try to fix the RedirectInput test
  tracer/test/Datadog.Trace.Tools.dd_dotnet.ArtifactTests/RunCommandTests.cs
Labels: area:tests

#4994 Add nullable annotations to the datadog logging files
  tracer/missing-nullability-files.csv
  tracer/src/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.csproj
  tracer/src/Datadog.Trace.Tools.Analyzers/Datadog.Trace.Tools.Analyzers.csproj
  tracer/src/Datadog.Trace.Tools.Analyzers/LogAnalyzer/Diagnostics.cs
  tracer/src/Datadog.Trace.Tools.Analyzers/LogAnalyzer/LogAnalyzer.cs
  tracer/src/Datadog.Trace/Logging/Internal/DatadogLogging.cs
  tracer/src/Datadog.Trace/Logging/Internal/DatadogSerilogLogger.cs
  tracer/src/Datadog.Trace/Logging/Internal/IDatadogLogger.cs
  tracer/src/Datadog.Trace/Logging/Internal/ILogRateLimiter.cs
  tracer/src/Datadog.Trace/Logging/Internal/LogRateLimiter.cs
  tracer/src/Datadog.Trace/Logging/Internal/NullLogRateLimiter.cs
  tracer/test/Datadog.Trace.SourceGenerators.Tests/Datadog.Trace.SourceGenerators.Tests.csproj
  tracer/test/Datadog.Trace.Tools.Analyzers.Tests/Datadog.Trace.Tools.Analyzers.Tests.csproj
  tracer/test/Datadog.Trace.Tools.Analyzers.Tests/LogAnalyzer/CorrectLoggingAbstractionDiagnostic.cs
  tracer/test/Datadog.Trace.Tools.Analyzers.Tests/LogAnalyzer/Helpers.cs
  tracer/test/Datadog.Trace.Tools.Analyzers.Tests/LogAnalyzer/PropertyDiagnosticTests.cs
Labels: area:tracer, type:cleanup

#5003 speedup CI step verify_files_without_nullability
  .github/workflows/verify_files_without_nullability.yml
Labels: area:builds

#4987 Add helpers for creating a sentinel file and for zipping debug logs
  tracer/src/Datadog.Trace.Coverage.collector/DataCollectorLogger.cs
  tracer/src/Datadog.Trace.Trimming/build/Datadog.Trace.Trimming.xml
  tracer/src/Datadog.Trace/Datadog.Trace.csproj
  tracer/src/Datadog.Trace/Logging/Internal/DatadogLoggingFactory.cs
  tracer/src/Datadog.Trace/Logging/Internal/DatadogSerilogLogger.cs
  tracer/src/Datadog.Trace/Logging/Internal/IDatadogLogger.cs
  tracer/src/Datadog.Trace/Logging/TracerFlare/DebugLogReader.cs
  tracer/src/Datadog.Trace/Util/Streams/DelegatingStream.cs
  tracer/src/Datadog.Trace/Util/Streams/LeaveOpenDelegatingStream.cs
  tracer/test/Datadog.Trace.Tests/Logging/DatadogLoggingTests.cs
  tracer/test/Datadog.Trace.Tests/Logging/TracerFlare/DebugLogReaderTests.cs
  tracer/test/Datadog.Trace.Tests/Snapshots/PublicApiTests.Datadog.Trace.AssemblyReferencesHaveNotChanged.net461.verified.txt
Labels: area:tracer

#4989 Add `PushStream` support to `IApiRequest` and support chunked-encoding
  tracer/src/Datadog.Trace.Trimming/build/Datadog.Trace.Trimming.xml
  tracer/src/Datadog.Trace/Agent/IApiRequest.cs
  tracer/src/Datadog.Trace/Agent/Transports/ApiWebRequest.cs
  tracer/src/Datadog.Trace/Agent/Transports/ContentTypeHelper.cs
  tracer/src/Datadog.Trace/Agent/Transports/HttpClientRequest.cs
  tracer/src/Datadog.Trace/Agent/Transports/HttpStreamRequest.cs
  tracer/src/Datadog.Trace/Agent/Transports/PushStreamContent.cs
  tracer/src/Datadog.Trace/Datadog.Trace.csproj
  tracer/src/Datadog.Trace/HttpOverStreams/ChunkedEncodingWriteStream.cs
  tracer/src/Datadog.Trace/HttpOverStreams/HttpContent/PushStreamContent.cs
  tracer/test/Datadog.Trace.TestHelpers/MockHttpParser.cs
  tracer/test/Datadog.Trace.TestHelpers/TransportHelpers/TestApiRequest.cs
  tracer/test/Datadog.Trace.Tests/HttpOverStreams/ChunkedEncodingWriteStreamTests.cs
  tracer/test/benchmarks/Benchmarks.Trace/AgentWriterBenchmark.cs
Labels: area:tracer

#5009 Make sure OsX ITests don't require dd_dotnet stuff
  tracer/build/_build/Build.Steps.cs
Labels: area:builds, mergequeue-status: removed

#4958 [ASM] Update waf 1.15.1 and rules 1.10.0
  tracer/build/_build/Build.Steps.cs
  tracer/build/smoke_test_snapshots/smoke_test_snapshots.json
  tracer/build/smoke_test_snapshots/smoke_test_snapshots_2_1.json
  tracer/src/Datadog.Trace/AppSec/Waf/ConfigFiles/apisecurity-config.json
  tracer/src/Datadog.Trace/AppSec/Waf/ConfigFiles/rule-set.json
  tracer/src/Datadog.Trace/AppSec/Waf/IWaf.cs
  tracer/src/Datadog.Trace/AppSec/Waf/Initialization/LibraryInitializationResult.cs
  tracer/src/Datadog.Trace/AppSec/Waf/Initialization/WafConfigurator.cs
  tracer/src/Datadog.Trace/AppSec/Waf/NativeBindings/NativeLibrary.cs
  tracer/src/Datadog.Trace/AppSec/Waf/NativeBindings/WafLibraryInvoker.cs
  tracer/src/Datadog.Trace/AppSec/Waf/Waf.cs
  tracer/src/Datadog.Trace/Datadog.Trace.csproj
  tracer/src/Datadog.Tracer.Native/interop.cpp
  tracer/test/Datadog.Trace.Security.IntegrationTests/ApiSecurity/AspNetCoreApiSecurity.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/WafCompatibilityTests.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/WafErrorsTests.cs
  tracer/test/benchmarks/Benchmarks.Trace/Asm/AppSecWafBenchmark.cs
  tracer/test/snapshots/Security.ApiSecurity.AspNetCore2.ApiSecOff.__url=_dataapi_model_body={-property_expectedStatusCode=Forbidden_containsAttack=True.verified.txt
  tracer/test/snapshots/Security.ApiSecurity.AspNetCore2.ApiSecOn.__url=_dataapi_empty-model_body={-property_expectedStatusCode=NoContent_containsAttack=False.verified.txt
  tracer/test/snapshots/Security.ApiSecurity.AspNetCore2.ApiSecOn.__url=_dataapi_model_body={-property_expectedStatusCode=Forbidden_containsAttack=True.verified.txt
  tracer/test/snapshots/Security.ApiSecurity.AspNetCore2.ApiSecOn.__url=_dataapi_model_body={-property_expectedStatusCode=OK_containsAttack=False.verified.txt
  tracer/test/snapshots/Security.ApiSecurity.AspNetCore5.ApiSecOff.__url=_dataapi_empty-model_body={-property_expectedStatusCode=NoContent_containsAttack=False.verified.txt
  tracer/test/snapshots/Security.ApiSecurity.AspNetCore5.ApiSecOff.__url=_dataapi_model_body={-property_expectedStatusCode=Forbidden_containsAttack=True.verified.txt
  tracer/test/snapshots/Security.ApiSecurity.AspNetCore5.ApiSecOn.__url=_dataapi_empty-model_body={-property_expectedStatusCode=NoContent_containsAttack=False.verified.txt
  tracer/test/snapshots/Security.ApiSecurity.AspNetCore5.ApiSecOn.__url=_dataapi_model_body={-property_expectedStatusCode=Forbidden_containsAttack=True.verified.txt
  tracer/test/snapshots/Security.ApiSecurity.AspNetCore5.ApiSecOn.__url=_dataapi_model_body={-property_expectedStatusCode=OK_containsAttack=False.verified.txt
  tracer/test/snapshots/Security.AspNetCore5AsmDataSecurityEnabled.__test=blocking-user_url=_user.verified.txt
  tracer/test/snapshots/Security.AspNetCore5AsmInitializationSecurityEnabled.TestSecurityInitialization.verified.txt
  tracer/test/snapshots/Security.AspNetCore5AsmInitializationSecurityEnabledWithBadRuleset.TestSecurityInitialization.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5AsmData.Classic.enableSecurity=True.__test=blocking-ips_url=_.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5AsmData.Classic.enableSecurity=True.__test=blocking-user_url=_user.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5AsmData.Integrated.enableSecurity=True.__test=blocking-ips_url=_.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5AsmData.Integrated.enableSecurity=True.__test=blocking-user_url=_user.verified.txt
  tracer/test/snapshots/Security.AspNetWebApiAsmData.Classic.enableSecurity=True.__test=blocking-ips_url=_api_health.verified.txt
  tracer/test/snapshots/Security.AspNetWebApiAsmData.Classic.enableSecurity=True.__test=blocking-user_url=_api_user.verified.txt
  tracer/test/snapshots/Security.AspNetWebApiAsmData.Integrated.enableSecurity=True.__test=blocking-ips_url=_api_health.verified.txt
  tracer/test/snapshots/Security.AspNetWebApiAsmData.Integrated.enableSecurity=True.__test=blocking-user_url=_api_user.verified.txt
  tracer/test/snapshots/Security.AspNetWebFormsAsmData.Classic.enableSecurity=True.__test=blocking-ips_url=_default.aspx.verified.txt
  tracer/test/snapshots/Security.AspNetWebFormsAsmData.Classic.enableSecurity=True.__test=blocking-user_url=_user.verified.txt
  tracer/test/snapshots/Security.AspNetWebFormsAsmData.Integrated.enableSecurity=True.__test=blocking-ips_url=_default.aspx.verified.txt
  tracer/test/snapshots/Security.AspNetWebFormsAsmData.Integrated.enableSecurity=True.__test=blocking-user_url=_user.verified.txt
  tracer/tools/Samples.Transport.UnixDomainSocket/Samples.Transport.UnixDomainSocket.csproj
Labels: area:asm
