Repository DataDog/dd-trace-dotnet, pull requests merged in 2023-07, with the labels that each got.

#4325 Fix `DuckTypeException` in earlier CosmosDb versions
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/CosmosDb/ClientQueryIteratorsIntegrations.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/CosmosDb/ContainerNewStruct.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/CosmosDb/ContainerOldStruct.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/CosmosDb/ContainerQueryIteratorsIntegrations.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/CosmosDb/ContainerStruct.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/CosmosDb/CosmosClientStruct.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/CosmosDb/CosmosCommon.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/CosmosDb/CosmosContextClientStruct.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/CosmosDb/DatabaseNewStruct.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/CosmosDb/DatabaseOldStruct.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/CosmosDb/DatabaseQueryIteratorsIntegrations.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/CosmosDb/QueryDefinitionStruct.cs
Labels: area:integrations

#4329 Fix the namedpipes runtime metrics tests
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/RuntimeMetricsTests.cs
  tracer/test/Datadog.Trace.TestHelpers/MockTracerAgent.cs
Labels: area:tests

#4338 [ASM] fix error: run the waf once outside of the loop
  tracer/src/Datadog.Trace/AppSec/Coordinator/SecurityCoordinatorHelpers.Core.cs
Labels: area:asm

#4349 Fix system-tests lib-injection
  .github/workflows/lib-injection.yml
Labels: area:builds

#4322 [Release] Deploy AAS test apps twice a week to monitor memory leaks
  .github/actions/deploy-aas-dev-apps/action.yml
  .github/workflows/auto_deploy_aas_test_apps.yml
  .github/workflows/code_freeze_start.yml
Labels: area:builds

#4336 [CI] A try to reducing flakiness
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/HttpMessageHandlerTests.cs
  tracer/test/Datadog.Trace.TestHelpers/MockTelemetryAgent.cs
  tracer/test/test-applications/azure-functions/Samples.AzureFunctions.V3InProcess/AllTriggers.cs
Labels: area:tests

#4328 Replace the spinlock by a monitor in dogstatsd
  tracer/src/Datadog.Trace.Trimming/build/Datadog.Trace.Trimming.xml
  tracer/src/Datadog.Trace/Vendors/StatsdClient/Transport/NamedPipeTransport.cs
Labels: area:tracer

#4170 [Profiler] Add signature to methods name
  profiler/src/Demos/Samples.Computer01/ComputerService.cs
  profiler/src/Demos/Samples.Computer01/MethodsSignature.cs
  profiler/src/Demos/Samples.Computer01/Program.cs
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/FrameStore.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/FrameStore.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/GCBaseRawSample.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/GCThreadsCpuProvider.cpp
  profiler/test/Datadog.Profiler.IntegrationTests/DebugInfo/LineNumberTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Exceptions/ExceptionsTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/GarbageCollections/GarbageCollectionsProfilerTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/GarbageCollections/GarbageCollectorCpuTimeTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Helpers/SamplesHelper.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Helpers/StackFrame.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Helpers/StackTrace.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Signature/SignatureTest.cs
Labels: area:profiler

#4350 update CI parametric tests
  .azure-pipelines/ultimate-pipeline.yml
Labels: area:builds

#4354 Refactor `TelemetryControllerV2` to be a singleton
  tracer/src/Datadog.Trace/Telemetry/TelemetryControllerV2.cs
  tracer/src/Datadog.Trace/Telemetry/TelemetryDataAggregator.cs
  tracer/src/Datadog.Trace/Telemetry/TelemetryDataBuilderV2.cs
  tracer/src/Datadog.Trace/Telemetry/TelemetryFactory.cs
  tracer/src/Datadog.Trace/Telemetry/TelemetryInput.cs
  tracer/src/Datadog.Trace/TracerManagerFactory.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/Helpers/TelemetryHelperTests.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/TelemetryControllerV2Tests.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/TelemetryDataAggregatorTests.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/TelemetryDataBuilderV2Tests.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/TelemetryFactoryTests.cs
Labels: area:telemetry

#4356 [Profiler] Bump libdatadog to 3.0.0
  build/cmake/FindLibdatadog.cmake
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Windows/Datadog.Profiler.Native.Windows.vcxproj
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Windows/packages.config
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Datadog.Profiler.Native.vcxproj
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/LibddprofExporter.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/packages.config
  profiler/test/Datadog.Profiler.Native.Tests/Datadog.Profiler.Native.Tests.vcxproj
  profiler/test/Datadog.Profiler.Native.Tests/packages.config
Labels: area:profiler

#4351 [Profiler] Fix bug in GC threads reporting feature
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/NativeThreadsCpuProviderBase.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/NativeThreadsCpuProviderBase.h
Labels: area:profiler

#4365 [ASM] Check the path params count once list is finally built
  tracer/src/Datadog.Trace/AppSec/Coordinator/SecurityCoordinatorHelpers.Core.cs
Labels: area:asm

#4345 Add INTEGRATIONS system tests to Dotnet Tracer CI
  .azure-pipelines/ultimate-pipeline.yml
Labels: area:builds

#4370 [Tracer] [Kafka] Directly use SetMetric instead of SetTag
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Kafka/KafkaHelper.cs
Labels: area:integrations

#4369 Log header warnings only once
  tracer/src/Datadog.Trace/Propagators/ParseUtility.cs
Labels: area:tracer

#4366 [Profiler] Fix a potential bug in libunwind-datadog
  build/cmake/FindLibunwind.cmake
Labels: area:profiler

#4359 More telemetry fixes
  tracer/src/Datadog.Trace.MSBuild/DatadogLogger.cs
  tracer/src/Datadog.Trace/Ci/Test.cs
  tracer/src/Datadog.Trace/Ci/TestModule.cs
  tracer/src/Datadog.Trace/Ci/TestSession.cs
  tracer/src/Datadog.Trace/Ci/TestSuite.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Azure/Functions/AzureFunctionsCommon.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Grpc/GrpcLegacy/Server/GrpcLegacyServerCommon.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Kafka/KafkaHelper.cs
  tracer/src/Datadog.Trace/ClrProfiler/ServerlessInstrumentation/AWS/LambdaCommon.cs
  tracer/src/Datadog.Trace/Debugger/Instrumentation/SpanDebuggerInvoker.cs
  tracer/src/Datadog.Trace/DiagnosticListeners/AspNetCoreDiagnosticObserver.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/MetricsTelemetryCollector_count.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/MetricsTelemetryCollector_count.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/MetricsTelemetryCollector_count.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/MetricsTelemetryCollector_count.g.cs
  tracer/src/Datadog.Trace/Telemetry/Metrics/MetricTags.cs
  tracer/src/Datadog.Trace/Tracer.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AzureFunctionsTests.cs
Labels: area:telemetry

#4352 [CI Visibility] - Fix ITR skipped test spans
  tracer/src/Datadog.Trace.Tools.Runner/RunCiCommand.cs
  tracer/src/Datadog.Trace/Ci/CIEnvironmentValues.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/MsTestV2/ItrSkipTestMethodExecutor.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/MsTestV2/TestMethodRunnerExecuteIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/MsTestV2/TestMethodRunnerExecuteTestIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/MsTestV2/UnitTestRunnerRunSingleTestIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/XUnit/XUnitTestRunnerRunAsyncIntegration.cs
Labels: area:ci-visibility

#4379 Fix generated aspects order
  tracer/src/Datadog.Trace.SourceGenerators/AspectsDefinitions/AspectsDefinitionsGenerator.cs
Labels: area:tracer, area:builds

#4374 Update GitLab code-sign step
  .nuke/build.schema.json
  tracer/build/_build/Build.Gitlab.cs
  tracer/build/_build/docker/gitlab/entrypoint.bat
  tracer/build/_build/docker/gitlab/gitlab.windows.dockerfile
  tracer/build/_build/docker/gitlab/helpers.ps1
  tracer/build/_build/docker/gitlab/install_java.ps1
  tracer/build/_build/docker/gitlab/install_python3.ps1
  tracer/build/_build/docker/gitlab/install_python_packages.ps1
  tracer/build/_build/docker/gitlab/install_winsign.ps1
  tracer/build/_build/docker/gitlab/requirements.txt
Labels: area:builds

#4384 Fix "obsolete warnings in NLog sample
  tracer/test/test-applications/integrations/LogsInjection.NLog/Program.cs
Labels: area:builds, area:tests, area:test-apps

#4289 Bump .NET SDK to 7.0.306
  .azure-pipelines/noop-pipeline.yml
  .azure-pipelines/ultimate-pipeline.yml
  .github/actions/run-in-docker/action.yml
  .github/workflows/auto_add_vnext_milestone_to_pr.yml
  .github/workflows/auto_bump_test_package_versions.yml
  .github/workflows/auto_check_snapshots.yml
  .github/workflows/auto_create_version_bump_pr.yml
  .github/workflows/auto_label_prs.yml
  .github/workflows/auto_update_benchmark_branches.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/create_draft_release.yml
  .github/workflows/create_hotfix_branch.yml
  .github/workflows/docker-base-images.yml
  .github/workflows/force_manual_version_bump.yml
  .github/workflows/lib-injection.yml
  .github/workflows/verify_app_trimming_changes_are_persisted.yml
  .github/workflows/verify_integrations_map_added.yml
  .github/workflows/verify_source_generated_changes_are_persisted.yml
  .github/workflows/verify_span_metadata_markdown_is_updated.yml
  docker-compose.yml
  docs/development/CI/RunSmokeTestsLocally.md
  global.json
  tracer/build/_build/docker/centos7.dockerfile
  tracer/build/_build/docker/gitlab/gitlab.windows.dockerfile
  tracer/build_in_docker.ps1
  tracer/build_in_docker.sh
Labels: area:builds

#4383 [Profiler] Fix flacky test
  profiler/test/Datadog.Profiler.IntegrationTests/DebugInfo/GitMetadataTest.cs
  profiler/test/Datadog.Profiler.Native.Tests/SamplesCollectorTest.cpp
Labels: area:profiler

#4392 Download cppcheck from blob storage and check the hash
  tracer/build/_build/docker/centos7.dockerfile
Labels: area:builds

#4396 Pin aerospike server to single version
  docker-compose.yml
Labels: area:builds, area:tests

#4389 Add TelemetryMetric to SetTag and remove GetTagObject
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.EnumExtensions.EnumExtensionsGenerator/PublicApiUsageExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.PublicApi.PublicApiGenerator/Datadog.Trace.Configuration.ExporterSettings.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.PublicApi.PublicApiGenerator/Datadog.Trace.Configuration.ImmutableExporterSettings.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.PublicApi.PublicApiGenerator/Datadog.Trace.Configuration.ImmutableIntegrationSettings.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.PublicApi.PublicApiGenerator/Datadog.Trace.Configuration.ImmutableTracerSettings.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.PublicApi.PublicApiGenerator/Datadog.Trace.Configuration.IntegrationSettings.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.PublicApi.PublicApiGenerator/Datadog.Trace.Configuration.TracerSettings.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.PublicApi.PublicApiGenerator/Datadog.Trace.SpanContext.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.EnumExtensions.EnumExtensionsGenerator/PublicApiUsageExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.PublicApi.PublicApiGenerator/Datadog.Trace.Configuration.ExporterSettings.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.PublicApi.PublicApiGenerator/Datadog.Trace.Configuration.ImmutableExporterSettings.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.PublicApi.PublicApiGenerator/Datadog.Trace.Configuration.ImmutableIntegrationSettings.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.PublicApi.PublicApiGenerator/Datadog.Trace.Configuration.ImmutableTracerSettings.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.PublicApi.PublicApiGenerator/Datadog.Trace.Configuration.IntegrationSettings.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.PublicApi.PublicApiGenerator/Datadog.Trace.Configuration.TracerSettings.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.PublicApi.PublicApiGenerator/Datadog.Trace.SpanContext.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.EnumExtensions.EnumExtensionsGenerator/PublicApiUsageExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.PublicApi.PublicApiGenerator/Datadog.Trace.Configuration.ExporterSettings.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.PublicApi.PublicApiGenerator/Datadog.Trace.Configuration.ImmutableExporterSettings.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.PublicApi.PublicApiGenerator/Datadog.Trace.Configuration.ImmutableIntegrationSettings.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.PublicApi.PublicApiGenerator/Datadog.Trace.Configuration.ImmutableTracerSettings.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.PublicApi.PublicApiGenerator/Datadog.Trace.Configuration.IntegrationSettings.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.PublicApi.PublicApiGenerator/Datadog.Trace.Configuration.TracerSettings.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.PublicApi.PublicApiGenerator/Datadog.Trace.SpanContext.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.EnumExtensions.EnumExtensionsGenerator/PublicApiUsageExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.PublicApi.PublicApiGenerator/Datadog.Trace.Configuration.ExporterSettings.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.PublicApi.PublicApiGenerator/Datadog.Trace.Configuration.ImmutableExporterSettings.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.PublicApi.PublicApiGenerator/Datadog.Trace.Configuration.ImmutableIntegrationSettings.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.PublicApi.PublicApiGenerator/Datadog.Trace.Configuration.ImmutableTracerSettings.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.PublicApi.PublicApiGenerator/Datadog.Trace.Configuration.IntegrationSettings.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.PublicApi.PublicApiGenerator/Datadog.Trace.Configuration.TracerSettings.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.PublicApi.PublicApiGenerator/Datadog.Trace.SpanContext.g.cs
  tracer/src/Datadog.Trace/SpanExtensions.cs
  tracer/src/Datadog.Trace/Telemetry/Metrics/PublicApiUsage.cs
  tracer/test/Datadog.Trace.Tests/Snapshots/PublicApiTests.Datadog.Trace.PublicApiHasNotChanged.verified.txt
  tracer/test/Datadog.Trace.Tests/SpanTests.cs
Labels: area:tracer

#4406 [Tests] Reintroduce retry on RuntimeMetricsTests with NamedPipes
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/RuntimeMetricsTests.cs
Labels: area:tests

#4411 [ASM] Added 1 hour timer to vulnerability deduplication
  tracer/src/Datadog.Trace/Iast/HashBasedDeduplication.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/IAST/HashBasedDeduplicationTests.cs
Labels: area:asm, area:asm-iast

#4371 Update Telemetry transport retry handling
  tracer/src/Datadog.Trace/Agent/DiscoveryService/AgentConfiguration.cs
  tracer/src/Datadog.Trace/Agent/DiscoveryService/DiscoveryService.cs
  tracer/src/Datadog.Trace/Telemetry/TelemetryControllerV2.cs
  tracer/src/Datadog.Trace/Telemetry/TelemetryDataAggregator.cs
  tracer/src/Datadog.Trace/Telemetry/TelemetryFactory.cs
  tracer/src/Datadog.Trace/Telemetry/TelemetryInput.cs
  tracer/src/Datadog.Trace/Telemetry/TelemetryTransportManagerV2.cs
  tracer/src/Datadog.Trace/Telemetry/TelemetryTransportResult.cs
  tracer/src/Datadog.Trace/Telemetry/Transports/TelemetryTransportFactory.cs
  tracer/src/Datadog.Trace/Telemetry/Transports/TelemetryTransports.cs
  tracer/src/Datadog.Trace/TracerManagerFactory.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/Helpers/TelemetryHelperTests.cs
  tracer/test/Datadog.Trace.IntegrationTests/TelemetryTransportTests.cs
  tracer/test/Datadog.Trace.Tests/Agent/DiscoveryServiceMock.cs
  tracer/test/Datadog.Trace.Tests/Agent/DiscoveryServiceTests.cs
  tracer/test/Datadog.Trace.Tests/Agent/StatsAggregatorTests.cs
  tracer/test/Datadog.Trace.Tests/Debugger/LiveDebuggerTests.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/TelemetryControllerV2Tests.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/TelemetryDataAggregatorTests.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/TelemetryDataBuilderV2Tests.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/TelemetryFactoryTests.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/TelemetryTransportManagerV2Tests.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/Transports/TelemetryTransportFactoryTests.cs
Labels: area:telemetry

#4355 [ASM] Waf version upgrade to 1.11.0
  tracer/build/_build/Build.Steps.cs
  tracer/build/smoke_test_snapshots/smoke_test_snapshots.json
  tracer/build/smoke_test_snapshots/smoke_test_snapshots_2_1.json
  tracer/src/Datadog.Trace/AppSec/Waf/Initialization/WafConfigurator.cs
  tracer/src/Datadog.Trace/AppSec/Waf/NativeBindings/DdwafObjectStruct.cs
  tracer/src/Datadog.Trace/AppSec/Waf/NativeBindings/DdwafResultStruct.cs
  tracer/src/Datadog.Trace/AppSec/Waf/NativeBindings/DdwafRuleSetInfo.cs
  tracer/src/Datadog.Trace/AppSec/Waf/NativeBindings/WafLibraryInvoker.cs
  tracer/src/Datadog.Trace/AppSec/Waf/Obj.cs
  tracer/src/Datadog.Trace/AppSec/Waf/Result.cs
  tracer/src/Datadog.Trace/AppSec/Waf/ReturnTypes.Managed/InitResult.cs
  tracer/src/Datadog.Trace/AppSec/Waf/ReturnTypes.Managed/UpdateResult.cs
  tracer/src/Datadog.Trace/AppSec/Waf/Waf.cs
  tracer/src/Datadog.Tracer.Native/packages.config
  tracer/test/Datadog.Trace.Security.Unit.Tests/WafCompatibilityTests.cs
  tracer/test/snapshots/Security.AspNetCore5AsmInitializationSecurityEnabled.TestSecurityInitialization.verified.txt
  tracer/test/snapshots/Security.AspNetCore5AsmInitializationSecurityEnabledWithBadRuleset.TestSecurityInitialization.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5AsmData.Classic.enableSecurity=True.__test=blocking-ips_url=_.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5AsmData.Integrated.enableSecurity=True.__test=blocking-ips_url=_.verified.txt
  tracer/test/snapshots/Security.AspNetWebApiAsmData.Classic.enableSecurity=True.__test=blocking-user_url=_api_user.verified.txt
  tracer/test/snapshots/Security.AspNetWebApiAsmData.Integrated.enableSecurity=True.__test=blocking-ips_url=_api_health.verified.txt
  tracer/test/snapshots/Security.AspNetWebFormsAsmData.Classic.enableSecurity=True.__test=blocking-user_url=_user.verified.txt
  tracer/test/snapshots/Security.AspNetWebFormsAsmData.Integrated.enableSecurity=True.__test=blocking-ips_url=_default.aspx.verified.txt
Labels: area:asm

#4375 Include `app-closing` in final batch
  tracer/src/Datadog.Trace/Telemetry/TelemetryControllerV2.cs
  tracer/src/Datadog.Trace/Telemetry/TelemetryDataBuilderV2.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/Helpers/TelemetryHelperTests.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/TelemetryDataBuilderV2Tests.cs
Labels: area:telemetry

#4388 [Telemetry] Capture metrics on fixed 10s interval and avoid drift in timer
  tracer/src/Datadog.Trace.SourceGenerators/TelemetryMetric/Sources.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/MetricsTelemetryCollector_count.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/MetricsTelemetryCollector_distribution.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/MetricsTelemetryCollector_gauge.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/MetricsTelemetryCollector_count.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/MetricsTelemetryCollector_distribution.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/MetricsTelemetryCollector_gauge.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/MetricsTelemetryCollector_count.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/MetricsTelemetryCollector_distribution.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/MetricsTelemetryCollector_gauge.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/MetricsTelemetryCollector_count.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/MetricsTelemetryCollector_distribution.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TelemetryMetric.TelemetryMetricGenerator/MetricsTelemetryCollector_gauge.g.cs
  tracer/src/Datadog.Trace/Telemetry/Collectors/IMetricsTelemetryCollector.cs
  tracer/src/Datadog.Trace/Telemetry/Collectors/MetricsTelemetryCollector.cs
  tracer/src/Datadog.Trace/Telemetry/Collectors/NullMetricsTelemetryCollector.cs
  tracer/src/Datadog.Trace/Telemetry/DTOs/MetricDataPoint.cs
  tracer/src/Datadog.Trace/Telemetry/DTOs/MetricSeries.cs
  tracer/src/Datadog.Trace/Telemetry/TelemetryControllerV2.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/Helpers/TelemetryHelper.cs
  tracer/test/Datadog.Trace.SourceGenerators.Tests/TelemetryMetricGeneratorTests.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/Collectors/MetricsTelemetryCollectorTests.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/TelemetryControllerV2SchedulerTests.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/TelemetryControllerV2Tests.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/Transports/JsonTelemetryTransportTests.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/telemetry_generate-metrics-v2.json
Labels: area:telemetry

#4382 [Profiler] Fix frame store for allocation recorder
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/FrameStore.cpp
  profiler/src/Tools/AllocSimulator/BinaryFileAllocProvider.cs
  profiler/src/Tools/AllocSimulator/IUpscaler.cs
  profiler/src/Tools/AllocSimulator/Program.cs
Labels: area:profiler

#4402 Minor refactor of `BatchingSink`
  tracer/src/Datadog.Trace.MSBuild/DatadogLogger.cs
  tracer/src/Datadog.Trace/Ci/Logging/DirectSubmission/CIVisibilityLogEvent.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Logging/ILogger/DirectSubmission/DirectSubmissionLogger.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Logging/ILogger/DirectSubmission/DirectSubmissionLoggerProvider.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Logging/ILogger/DirectSubmission/LoggerDirectSubmissionLogEvent.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Logging/Log4Net/DirectSubmission/DirectSubmissionLog4NetAppender.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Logging/Log4Net/DirectSubmission/DirectSubmissionLog4NetLegacyAppender.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Logging/Log4Net/DirectSubmission/Log4NetDirectSubmissionLogEvent.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Logging/NLog/DirectSubmission/DirectSubmissionNLogLegacyTarget.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Logging/NLog/DirectSubmission/DirectSubmissionNLogTarget.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Logging/NLog/DirectSubmission/DirectSubmissionNLogV5Target.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Logging/NLog/DirectSubmission/Formatting/NLogDirectSubmissionLogEvent.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Logging/Serilog/DirectSubmission/DirectSubmissionSerilogSink.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Logging/Serilog/DirectSubmission/SerilogDirectSubmissionLogEvent.cs
  tracer/src/Datadog.Trace/Logging/DirectSubmission/DirectLogSubmissionManager.cs
  tracer/src/Datadog.Trace/Logging/DirectSubmission/Sink/DirectSubmissionLogEvent.cs
  tracer/src/Datadog.Trace/Logging/DirectSubmission/Sink/DirectSubmissionLogSink.cs
  tracer/src/Datadog.Trace/Logging/DirectSubmission/Sink/IDirectSubmissionLogSink.cs
  tracer/src/Datadog.Trace/Logging/DirectSubmission/Sink/NullDirectSubmissionLogSink.cs
  tracer/src/Datadog.Trace/Logging/DirectSubmission/Sink/PeriodicBatching/BatchingSink.cs
  tracer/src/Datadog.Trace/Logging/DirectSubmission/Sink/PeriodicBatching/BatchingSinkOptions.cs
  tracer/test/Datadog.Trace.ClrProfiler.Managed.Tests/AutoInstrumentation/Logging/ILogger/DirectSubmissionLoggerTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.Managed.Tests/AutoInstrumentation/Logging/ILogger/ILoggerDuckTypingTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.Managed.Tests/AutoInstrumentation/Logging/Log4Net/Log4NetHelper.cs
  tracer/test/Datadog.Trace.ClrProfiler.Managed.Tests/AutoInstrumentation/Logging/NLog/NLogDuckTypingTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.Managed.Tests/AutoInstrumentation/Logging/NLog/NLogHelper.cs
  tracer/test/Datadog.Trace.ClrProfiler.Managed.Tests/AutoInstrumentation/Logging/Serilog/SerilogHelper.cs
  tracer/test/Datadog.Trace.Tests/Logging/DirectSubmission/ILogger/DirectSubmissionLoggerTests.cs
  tracer/test/Datadog.Trace.Tests/Logging/DirectSubmission/Sink/DatadogSinkTests.cs
  tracer/test/Datadog.Trace.Tests/Logging/DirectSubmission/Sink/PeriodicBatching/BatchingSinkTests.cs
Labels: type:refactor

#4425 [Builds] Update Reports comments to be updates
  tracer/build/_build/Build.GitHub.cs
Labels: area:builds

#4386 [Tracer] v1 Schema: Update AWS SQS spans
  docs/span_attribute_schema/v0.md
  docs/span_attribute_schema/v1.md
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/SQS/AwsSqsCommon.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/SQS/DeleteMessageAsyncIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/SQS/DeleteMessageBatchAsyncIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/SQS/DeleteMessageBatchIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/SQS/DeleteMessageIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/SQS/DeleteQueueAsyncIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/SQS/DeleteQueueIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/SQS/ReceiveMessageAsyncIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/SQS/ReceiveMessageIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/SQS/SendMessageAsyncIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/SQS/SendMessageBatchAsyncIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/SQS/SendMessageBatchIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/SQS/SendMessageIntegration.cs
  tracer/src/Datadog.Trace/Configuration/Schema/MessagingSchema.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TagsListGenerator.TagListGenerator/AwsSqsV1Tags.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TagsListGenerator.TagListGenerator/AwsSqsV1Tags.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TagsListGenerator.TagListGenerator/AwsSqsV1Tags.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TagsListGenerator.TagListGenerator/AwsSqsV1Tags.g.cs
  tracer/src/Datadog.Trace/Tagging/AwsSqsTags.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AWS/AwsSqsTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.Managed.Tests/AutoInstrumentation/AWS/AwsSqsCommonTests.cs
  tracer/test/Datadog.Trace.TestHelpers/SpanMetadataAPI.cs
  tracer/test/Datadog.Trace.TestHelpers/SpanMetadataV0Rules.cs
  tracer/test/Datadog.Trace.TestHelpers/SpanMetadataV1Rules.cs
  tracer/test/Datadog.Trace.Tests/Configuration/Schema/MessagingSchemaTests.cs
  tracer/test/snapshots/AwsSqsTests.NetCore.SchemaV0.verified.txt
  tracer/test/snapshots/AwsSqsTests.NetCore.SchemaV1.verified.txt
Labels: area:tracer

#4394 Add AWS SNS integration automated tests, interation 1
  tracer/test/Datadog.Trace.ClrProfiler.Managed.Tests/AutoInstrumentation/AWS/MemoryStreamCarrierGetter.cs
  tracer/test/Datadog.Trace.ClrProfiler.Managed.Tests/AutoInstrumentation/AWS/PublishRequestProxy.cs
  tracer/test/Datadog.Trace.ClrProfiler.Managed.Tests/AutoInstrumentation/AWS/SnsCommonTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.Managed.Tests/Datadog.Trace.ClrProfiler.Managed.Tests.csproj
Labels: area:tests

#4438 Fix aspect definition order once and for all
  tracer/src/Datadog.Trace.SourceGenerators/AspectsDefinitions/AspectsDefinitionsGenerator.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.AspectsDefinitions.AspectsDefinitionsGenerator/AspectsDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.AspectsDefinitions.AspectsDefinitionsGenerator/AspectsDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.AspectsDefinitions.AspectsDefinitionsGenerator/AspectsDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.AspectsDefinitions.AspectsDefinitionsGenerator/AspectsDefinitions.g.cs
Labels: area:builds

#4417 Update duck typing docs
  docs/development/DuckTyping.md
Labels: area:docs

#4398 [RabbitMQ] Add tracing for basic.consume, and add queue name as tag to DSM data on consume
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/RabbitMQ/BasicConsumeIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/RabbitMQ/QueueHelper.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/RabbitMQ/RabbitMQIntegration.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.InstrumentationDefinitions.InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.InstrumentationDefinitions.InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.InstrumentationDefinitions.InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.InstrumentationDefinitions.InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/DataStreamsMonitoringRabbitMQTests.cs
  tracer/test/snapshots/DataStreamsMonitoringRabbitMQTests.HandleProduceAndConsume.verified.txt
  tracer/test/snapshots/RabbitMQTests.3_x.SchemaV0.verified.txt
  tracer/test/snapshots/RabbitMQTests.3_x.SchemaV1.verified.txt
  tracer/test/snapshots/RabbitMQTests.5_x.SchemaV0.verified.txt
  tracer/test/snapshots/RabbitMQTests.5_x.SchemaV1.verified.txt
  tracer/test/snapshots/RabbitMQTests.6_x.SchemaV0.verified.txt
  tracer/test/snapshots/RabbitMQTests.6_x.SchemaV1.verified.txt
  tracer/test/test-applications/integrations/Samples.DataStreams.RabbitMQ/Program.cs
  tracer/test/test-applications/integrations/Samples.DataStreams.RabbitMQ/Samples.DataStreams.RabbitMQ.csproj
Labels: area:integrations

#4405 Add known limitations from method_rewriter.cpp to docs
  docs/development/AutomaticInstrumentation.md
Labels: area:docs

#4427 [Tracer] v1 Schema: Update AWS SNS spans
  docs/span_attribute_schema/v0.md
  docs/span_attribute_schema/v1.md
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/SNS/AwsSnsCommon.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/SNS/PublishAsyncIntegration.cs
  tracer/src/Datadog.Trace/Configuration/Schema/MessagingSchema.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TagsListGenerator.TagListGenerator/AwsSnsV1Tags.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TagsListGenerator.TagListGenerator/AwsSnsV1Tags.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TagsListGenerator.TagListGenerator/AwsSnsV1Tags.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TagsListGenerator.TagListGenerator/AwsSnsV1Tags.g.cs
  tracer/src/Datadog.Trace/Tagging/AwsSnsTags.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AWS/AwsSnsTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.Managed.Tests/AutoInstrumentation/AWS/SNS/AwsSnsCommonTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.Managed.Tests/AutoInstrumentation/AWS/SNS/MemoryStreamCarrierGetter.cs
  tracer/test/Datadog.Trace.ClrProfiler.Managed.Tests/AutoInstrumentation/AWS/SNS/PublishRequestProxy.cs
  tracer/test/Datadog.Trace.ClrProfiler.Managed.Tests/AutoInstrumentation/AWS/SQS/AwsSqsCommonTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.Managed.Tests/AutoInstrumentation/AWS/SnsCommonTests.cs
  tracer/test/Datadog.Trace.TestHelpers/SpanMetadataAPI.cs
  tracer/test/Datadog.Trace.TestHelpers/SpanMetadataV0Rules.cs
  tracer/test/Datadog.Trace.TestHelpers/SpanMetadataV1Rules.cs
  tracer/test/Datadog.Trace.Tests/Configuration/Schema/MessagingSchemaTests.cs
  tracer/test/snapshots/AwsSnsTests.NetCore.SchemaV0.verified.txt
  tracer/test/snapshots/AwsSnsTests.NetCore.SchemaV1.verified.txt
Labels: area:tracer, status:do-not-merge

#4439 Various test improvements
  tracer/test/Datadog.Trace.TestHelpers/MockTelemetryAgent.cs
  tracer/test/Datadog.Trace.TestHelpers/MockTracerAgent.cs
  tracer/test/Datadog.Trace.TestHelpers/SerializableDictionary.cs
  tracer/test/Datadog.Trace.TestHelpers/SerializableList.cs
  tracer/test/Datadog.Trace.Tests/Agent/MessagePack/MessagePackStringCacheTests.cs
  tracer/test/Datadog.Trace.Tests/Configuration/ConfigurationSourceTests.cs
  tracer/test/Datadog.Trace.Tests/Debugger/SupportedTypesServiceTests.cs
  tracer/test/Datadog.Trace.Tests/ExtensionMethods/MessagePackBinaryExtensionsTests.cs
  tracer/test/Datadog.Trace.Tests/Headers/Ip/RequestHeadersHelpersTests.cs
  tracer/test/Datadog.Trace.Tests/SpanContextPropagatorTests_ExtractHeaderTags.cs
  tracer/test/Datadog.Trace.Tests/Tagging/TraceTagCollectionTests.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/TelemetryDataBuilderV2Tests.cs
  tracer/test/Datadog.Trace.Tests/TraceProcessors/RedisObfuscationUtilTests.cs
  tracer/test/Datadog.Trace.Tests/Util/Http/HttpExceptionExtensions.cs
Labels: area:tests

#4449 Change di backend repo to run dogfood pipelines
  .gitlab-ci.yml
Labels: area:builds

#4446 Fix `create_draft_release` when not specifying a specific commit
  .github/workflows/create_draft_release.yml
Labels: area:builds

#4452 [Release] Remove the extra CI variables
  .gitlab-ci.yml
Labels: area:builds

#4453 Tweak GitLab jobs
  .gitlab-ci.yml
Labels: area:builds

#4457 Fix flaky rabbitmq datastreams test
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/DataStreamsMonitoringRabbitMQTests.cs
  tracer/test/snapshots/DataStreamsMonitoringRabbitMQTests.HandleProduceAndConsume.verified.txt
Labels: area:tests, feature:data-streams-monitoring

#4465 Updates to propagation telemetry recording
  tracer/src/Datadog.Trace/Configuration/ConfigurationSources/Telemetry/ConfigurationBuilder.cs
  tracer/src/Datadog.Trace/Configuration/ConfigurationSources/Telemetry/ConfigurationOrigins.cs
  tracer/src/Datadog.Trace/Configuration/ConfigurationSources/Telemetry/DefaultResult.cs
  tracer/src/Datadog.Trace/Configuration/TracerSettings.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.EnumExtensions.EnumExtensionsGenerator/ConfigurationOriginsExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.EnumExtensions.EnumExtensionsGenerator/ConfigurationOriginsExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.EnumExtensions.EnumExtensionsGenerator/ConfigurationOriginsExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.EnumExtensions.EnumExtensionsGenerator/ConfigurationOriginsExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Logging/DirectSubmission/DirectLogSubmissionSettings.cs
  tracer/src/Datadog.Trace/TracerManagerFactory.cs
  tracer/test/Datadog.Trace.Tests/Configuration/Telemetry/ConfigurationBuilderTests.cs
  tracer/test/Datadog.Trace.Tests/Configuration/TracerSettingsTests.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/Collectors/ConfigurationTelemetryCollectorTests.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/Collectors/ConfigurationTelemetryCollectorV2Tests.cs
Labels: area:telemetry

#4448 Update the Rel Env docker-image workflow
  .azure-pipelines/ultimate-pipeline.yml
  .github/actions/create-rel-env-docker-base-images/action.yml
  .github/workflows/auto_create_rel_env_release_images.yml
  .github/workflows/create-rel-env-docker-base-images.yml
  .github/workflows/create_draft_release.yml
  .github/workflows/docker-base-images.yml
Labels: area:builds

#4460 [Tracer] Ensure the configuration of the trace context propagator is included in our telemetry
  tracer/src/Datadog.Trace/Configuration/ConfigurationSources/Telemetry/ConfigurationBuilder.cs
  tracer/src/Datadog.Trace/Configuration/ConfigurationSources/Telemetry/ConfigurationOrigins.cs
  tracer/src/Datadog.Trace/Configuration/ConfigurationSources/Telemetry/DefaultResult.cs
  tracer/src/Datadog.Trace/Configuration/TracerSettings.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.EnumExtensions.EnumExtensionsGenerator/ConfigurationOriginsExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.EnumExtensions.EnumExtensionsGenerator/ConfigurationOriginsExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.EnumExtensions.EnumExtensionsGenerator/ConfigurationOriginsExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.EnumExtensions.EnumExtensionsGenerator/ConfigurationOriginsExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Logging/DirectSubmission/DirectLogSubmissionSettings.cs
  tracer/src/Datadog.Trace/Telemetry/Collectors/ConfigurationTelemetryCollector.cs
  tracer/src/Datadog.Trace/Telemetry/DTOs/ConfigTelemetryData.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/TelemetryTests.cs
  tracer/test/Datadog.Trace.Tests/Configuration/Telemetry/ConfigurationBuilderTests.cs
  tracer/test/Datadog.Trace.Tests/Configuration/TracerSettingsTests.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/Collectors/ConfigurationTelemetryCollectorTests.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/Collectors/ConfigurationTelemetryCollectorV2Tests.cs
Labels: area:telemetry, area:opentelemetry

#4466 Don't inject DBM data into stored procedures
  tracer/src/Datadog.Trace.Trimming/build/Datadog.Trace.Trimming.xml
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AdoNet/DbScopeFactory.cs
  tracer/test/Datadog.Trace.ClrProfiler.Managed.Tests/DbScopeFactoryTests.cs
Labels: area:tracer

#4458 [CIVisibility] Add new Intelligent Test Runner tags
  tracer/src/Datadog.Trace.Tools.Runner/RunCiCommand.cs
  tracer/src/Datadog.Trace/Ci/Tagging/TestModuleSpanTags.cs
  tracer/src/Datadog.Trace/Ci/Tagging/TestSessionSpanTags.cs
  tracer/src/Datadog.Trace/Ci/Tagging/TestSpanTags.cs
  tracer/src/Datadog.Trace/Ci/Tagging/TestSuiteSpanTags.cs
  tracer/src/Datadog.Trace/Ci/Tags/CodeCoverageTags.cs
  tracer/src/Datadog.Trace/Ci/Tags/CommonTags.cs
  tracer/src/Datadog.Trace/Ci/Tags/IntelligentTestRunnerTags.cs
  tracer/src/Datadog.Trace/Ci/Tags/TestTags.cs
  tracer/src/Datadog.Trace/Ci/Test.cs
  tracer/src/Datadog.Trace/Ci/TestModule.cs
  tracer/src/Datadog.Trace/Ci/TestSession.cs
  tracer/src/Datadog.Trace/Ci/TestSuite.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/MsTestV2/ItrSkipTestMethodExecutor.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/MsTestV2/MsTestIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/MsTestV2/TestMethodRunnerExecuteIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/MsTestV2/UnitTestRunnerRunSingleTestIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/NUnit/NUnitWorkItemPerformWorkIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/XUnit/XUnitTestRunnerRunAsyncIntegration.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TagsListGenerator.TagListGenerator/TestModuleSpanTags.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TagsListGenerator.TagListGenerator/TestSessionSpanTags.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TagsListGenerator.TagListGenerator/TestSpanTags.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TagsListGenerator.TagListGenerator/TestModuleSpanTags.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TagsListGenerator.TagListGenerator/TestSessionSpanTags.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TagsListGenerator.TagListGenerator/TestSpanTags.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TagsListGenerator.TagListGenerator/TestModuleSpanTags.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TagsListGenerator.TagListGenerator/TestSessionSpanTags.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TagsListGenerator.TagListGenerator/TestSpanTags.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TagsListGenerator.TagListGenerator/TestModuleSpanTags.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TagsListGenerator.TagListGenerator/TestSessionSpanTags.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.TagsListGenerator.TagListGenerator/TestSpanTags.g.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/MsTestV2EvpTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/MsTestV2Tests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/NUnitEvpTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/NUnitTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/XUnitEvpTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/XUnitTests.cs
  tracer/test/Datadog.Trace.Tools.Runner.IntegrationTests/CiRunCommandTests.cs
  tracer/test/test-applications/integrations/Samples.MSTestTests/TestSuite.cs
  tracer/test/test-applications/integrations/Samples.NUnitTests/TestSuite.cs
  tracer/test/test-applications/integrations/Samples.XUnitTests/TestSuite.cs
Labels: area:ci-visibility
