Repository DataDog/dd-trace-dotnet, pull requests merged in 2023-02, with the labels that each got.

#3704 Add Analyzer for checking we don't use a public API
  tracer/src/Datadog.Trace.SourceGenerators/PublicApi/Sources.cs
  tracer/src/Datadog.Trace.Tools.Analyzers/Datadog.Trace.Tools.Analyzers.csproj
  tracer/src/Datadog.Trace.Tools.Analyzers/Helpers/IEnumerableExtensions.cs
  tracer/src/Datadog.Trace.Tools.Analyzers/Helpers/ObjectPool.cs
  tracer/src/Datadog.Trace.Tools.Analyzers/Helpers/OperationExtensions.cs
  tracer/src/Datadog.Trace.Tools.Analyzers/Helpers/PooledConcurrentDictionary.cs
  tracer/src/Datadog.Trace.Tools.Analyzers/Helpers/PooledHashSet.cs
  tracer/src/Datadog.Trace.Tools.Analyzers/Helpers/ValueUsageInfo.cs
  tracer/src/Datadog.Trace.Tools.Analyzers/Helpers/ValueUsageInfoExtensions.cs
  tracer/src/Datadog.Trace.Tools.Analyzers/PublicApiAnalyzer/PublicApiAnalyzer.cs
  tracer/src/Datadog.Trace.Tools.Analyzers/ThreadAbortAnalyzer/ThreadAbortAnalyzer.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.PublicApi.PublicApiGenerator/GeneratePublicApiAttribute.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.PublicApi.PublicApiGenerator/GeneratePublicApiAttribute.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.PublicApi.PublicApiGenerator/GeneratePublicApiAttribute.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.PublicApi.PublicApiGenerator/GeneratePublicApiAttribute.g.cs
  tracer/test/Datadog.Trace.Tools.Analyzers.Tests/PublicApiAnalyzerTests.cs
Labels: area:tracer, area:tools

#3694 [ASM] SQL injection vulnerability detection
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AdoNet/DbScopeFactory.cs
  tracer/src/Datadog.Trace/IAST/IastModule.cs
  tracer/src/Datadog.Trace/IAST/Settings/IastSettings.cs
  tracer/src/Datadog.Trace/IAST/StackWalker.cs
  tracer/src/Datadog.Trace/IAST/VulnerabilityType.cs
  tracer/src/Datadog.Trace/IAST/VulnerabilityTypeName.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/IAST/AspNetCore2IastTests.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/IAST/AspNetCore5IastTests.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/IAST/AspNetMvc5IastTests.cs
  tracer/test/Datadog.Trace.TestHelpers.AutoInstrumentation/TestHelper.cs
  tracer/test/snapshots/Iast.SqlInjection.AspNetCore2.IastDisabled.verified.txt
  tracer/test/snapshots/Iast.SqlInjection.AspNetCore2.IastEnabled.verified.txt
  tracer/test/snapshots/Iast.SqlInjection.AspNetCore5.IastDisabled.verified.txt
  tracer/test/snapshots/Iast.SqlInjection.AspNetCore5.IastEnabled.verified.txt
  tracer/test/snapshots/Iast.SqlInjection.AspNetMvc5.IastDisabled.verified.txt
  tracer/test/snapshots/Iast.SqlInjection.AspNetMvc5.IastEnabled.verified.txt
  tracer/test/test-applications/security/Samples.Security.AspNetCore2/Samples.Security.AspNetCore2.csproj
  tracer/test/test-applications/security/Samples.Security.AspNetCore5/Controllers/IastController.cs
  tracer/test/test-applications/security/Samples.Security.AspNetCore5/Data/IastControllerHelper.cs
  tracer/test/test-applications/security/Samples.Security.AspNetCore5/Samples.Security.AspNetCore5.csproj
  tracer/test/test-applications/security/Samples.Security.AspNetCore5/Views/Home/Index.cshtml
  tracer/test/test-applications/security/aspnet/Samples.Security.AspNetMvc5/Controllers/IastController.cs
  tracer/test/test-applications/security/aspnet/Samples.Security.AspNetMvc5/Samples.Security.AspNetMvc5.csproj
  tracer/test/test-applications/security/aspnet/Samples.Security.AspNetMvc5/Web.config
  tracer/test/test-applications/security/aspnet/Samples.Security.AspNetMvc5/packages.config
Labels: area:asm, area:asm-iast

#3734 Add throughput tests for manual instrumentation scenarios
  .azure-pipelines/ultimate-pipeline.yml
  tracer/build/_build/ThroughputComparison/CompareThroughput.cs
  tracer/build/crank/Samples.AspNetCoreSimpleController.yml
  tracer/build/crank/run.sh
  tracer/test/test-applications/Samples.Shared/SampleHelpers.cs
  tracer/test/test-applications/throughput/Samples.AspNetCoreSimpleController/Controllers/HelloController.cs
  tracer/test/test-applications/throughput/Samples.AspNetCoreSimpleController/Program.cs
  tracer/test/test-applications/throughput/Samples.AspNetCoreSimpleController/Samples.AspNetCoreSimpleController.csproj
Labels: area:benchmarks

#2880 Move profiler CI from GitHub Actions to AzDo
  .azure-pipelines/ultimate-pipeline.yml
  .github/actions/run-in-docker/action.yml
  .github/workflows/profiler-pipeline.yml
  build/cmake/FindLibunwind.cmake
  profiler/CMakeLists.txt
  profiler/build/crank/run.sh
  profiler/src/Demos/Datadog.Demos.sln
  profiler/src/Demos/Shared/Util/Datadog.Demos.Util.csproj
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Windows/Datadog.Profiler.Native.Windows.WithTests.proj
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Configuration.cpp
  profiler/test/Datadog.Profiler.Native.Tests/Datadog.Profiler.Native.Tests.vcxproj
  tracer/build/_build/Build.Profiler.Steps.cs
  tracer/build/_build/Build.Steps.cs
  tracer/build/_build/NukeExtensions/CustomDotNetTasks.cs
  tracer/build/_build/NukeExtensions/DotNetSettingsExtensions.cs
  tracer/build/_build/docker/centos7.build.dockerfile
  tracer/build/_build/docker/centos7.dockerfile
Labels: area:builds, area:profiler

#3698 [Profiler] Measure profiled and real allocations count/size
  Datadog.Profiler.sln
  profiler/src/Demos/Samples.BuggyBits/Properties/launchSettings.json
  profiler/src/Demos/Samples.Computer01/ComputerService.cs
  profiler/src/Demos/Samples.Computer01/MeasureAllocations.cs
  profiler/src/Demos/Samples.Computer01/Program.cs
  profiler/src/Tools/AllocSimulator/3 Random Sizes.alloc
  profiler/src/Tools/AllocSimulator/AllocInfo.cs
  profiler/src/Tools/AllocSimulator/AllocSampler.cs
  profiler/src/Tools/AllocSimulator/AllocSimulator.csproj
  profiler/src/Tools/AllocSimulator/Arrays.alloc
  profiler/src/Tools/AllocSimulator/Closed Sized Objects Mixed.alloc
  profiler/src/Tools/AllocSimulator/Closed Sized Objects Smaller to Larger.alloc
  profiler/src/Tools/AllocSimulator/Engine.cs
  profiler/src/Tools/AllocSimulator/FileAllocProvider.cs
  profiler/src/Tools/AllocSimulator/IAllocProvider.cs
  profiler/src/Tools/AllocSimulator/IEngine.cs
  profiler/src/Tools/AllocSimulator/ISampler.cs
  profiler/src/Tools/AllocSimulator/LoopAllocs.cs
  profiler/src/Tools/AllocSimulator/Program.cs
  profiler/src/Tools/AllocSimulator/random.alloc
  profiler/src/Tools/AllocSimulator/samples.alloc
  profiler/test/Datadog.Profiler.IntegrationTests/Allocations/AllocationsProfilerTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Helpers/TestApplicationRunner.cs
Labels: area:profiler

#3715 [Tracing] Converting to and from hex strings
  tracer/src/Datadog.Trace/DataStreamsMonitoring/Utils/BinaryPrimitivesHelper.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.EnumExtensions.EnumExtensionsGenerator/TraceFlagsExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.EnumExtensions.EnumExtensionsGenerator/TraceFlagsExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.EnumExtensions.EnumExtensionsGenerator/TraceFlagsExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.EnumExtensions.EnumExtensionsGenerator/TraceFlagsExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Propagators/B3MultipleHeaderContextPropagator.cs
  tracer/src/Datadog.Trace/Propagators/B3SingleHeaderContextPropagator.cs
  tracer/src/Datadog.Trace/Propagators/ParseUtility.cs
  tracer/src/Datadog.Trace/Propagators/W3CTraceContextPropagator.cs
  tracer/src/Datadog.Trace/Util/HexConverter.netfx.cs
  tracer/src/Datadog.Trace/Util/HexString.cs
  tracer/test/Datadog.Trace.Tests/ActivityTests.cs
  tracer/test/Datadog.Trace.Tests/Propagators/ParseUtilityTests.cs
  tracer/test/Datadog.Trace.Tests/Util/HexStringTests.cs
Labels: area:tracer, type:refactor

#3738 [Tracer] Check that the file in `DD_NATIVELOADER_CONFIGFILE` exists before using it
  shared/src/Datadog.Trace.ClrProfiler.Native/dynamic_dispatcher.cpp
  shared/src/Datadog.Trace.ClrProfiler.Native/util.h
Labels: area:shared-components

#3739 Make the log output digestable by system tests dashboard
  .azure-pipelines/ultimate-pipeline.yml
Labels: area:builds

#3684 [ASM] Added parent span Id to vulnerability json.
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AdoNet/DbScopeFactory.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/CryptographyAlgorithm/SymmetricAlgorithmIntegrationCommon.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/HashAlgorithm/HashAlgorithmIntegrationCommon.cs
  tracer/src/Datadog.Trace/IAST/IastModule.cs
  tracer/src/Datadog.Trace/IAST/Location.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/IAST/AspNetCore5IastTests.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/IAST/HashBasedDeduplicationTests.cs
Labels: area:asm, area:asm-iast

#3745 Handle multiple empty `tracestate` headers in `W3CTraceContextPropagator`
  tracer/src/Datadog.Trace/Propagators/W3CTraceContextPropagator.cs
  tracer/test/Datadog.Trace.Tests/Propagators/W3CTraceContextPropagatorTests.cs
Labels: type:bug, area:tracer, area:opentelemetry

#3741 [ASM] Aspects code generator tests
  tracer/src/Datadog.Trace.SourceGenerators/AspectsDefinitions/AspectsDefinitionsGenerator.cs
  tracer/src/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.csproj
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.AspectsDefinitions.AspectsDefinitionsGenerator/AspectsDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.AspectsDefinitions.AspectsDefinitionsGenerator/AspectsDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.AspectsDefinitions.AspectsDefinitionsGenerator/AspectsDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.AspectsDefinitions.AspectsDefinitionsGenerator/AspectsDefinitions.g.cs
  tracer/src/Datadog.Trace/IAST/Aspects/DebugAspects.cs
  tracer/src/Datadog.Trace/IAST/Dataflow/AspectAttribute.cs
  tracer/src/Datadog.Trace/IAST/Dataflow/AspectClassAttribute.cs
  tracer/src/Datadog.Trace/IAST/Dataflow/AspectCtorReplaceAttribute.cs
  tracer/src/Datadog.Trace/IAST/Dataflow/AspectMethodInsertAfterAttribute.cs
  tracer/src/Datadog.Trace/IAST/Dataflow/AspectMethodInsertBeforeAttribute.cs
  tracer/src/Datadog.Trace/IAST/Dataflow/AspectMethodReplaceAttribute.cs
  tracer/src/Datadog.Trace/IAST/Dataflow/AspectType.cs
  tracer/src/Datadog.Trace/IAST/VulnerabilityType.cs
  tracer/src/Datadog.Trace/IAST/VulnerabilityTypeName.cs
  tracer/src/Datadog.Tracer.Native/iast/aspect.cpp
  tracer/src/Datadog.Tracer.Native/iast/aspect.h
  tracer/src/Datadog.Tracer.Native/iast/dataflow_aspects.cpp
  tracer/src/Datadog.Tracer.Native/iast/dataflow_aspects.h
  tracer/src/Datadog.Tracer.Native/iast/dataflow_il_rewriter.cpp
  tracer/test/Datadog.Trace.SourceGenerators.Tests/AspectsDefinitionsGeneratorTests.cs
  tracer/test/test-applications/instrumentation/CallTargetNativeTest/CallSite.cs
  tracer/test/test-applications/instrumentation/CallTargetNativeTest/Properties/launchSettings.json
Labels: type:enhancement, type:cleanup, area:asm, area:asm-iast

#3748 [Profiler] Fix integration tests not running
  .azure-pipelines/ultimate-pipeline.yml
  docker-compose.yml
  tracer/build/_build/Build.Profiler.Steps.cs
Labels: area:profiler

#3736 [CI Visibility] - Simpler CIVisibility initialization for the dd-trace runner
  tracer/src/Datadog.Trace.Tools.Runner/LegacyCommand.cs
  tracer/src/Datadog.Trace.Tools.Runner/RunCiCommand.cs
  tracer/src/Datadog.Trace.Tools.Runner/RunCommand.cs
  tracer/src/Datadog.Trace.Tools.Runner/RunHelper.cs
  tracer/src/Datadog.Trace.Tools.Runner/Utils.cs
  tracer/src/Datadog.Trace/Ci/CIVisibility.cs
  tracer/src/Datadog.Trace/Ci/Configuration/CIVisibilitySettings.cs
  tracer/src/Datadog.Trace/Ci/TestModule.cs
Labels: area:ci-visibility

#3737 [Profiler] Migrate profiler windows integration tests to AzDo
  .azure-pipelines/ultimate-pipeline.yml
  docker-compose.yml
  profiler/src/Demos/Samples.Computer01/MeasureAllocations.cs
  tracer/build/_build/Build.Profiler.Steps.cs
  tracer/build/_build/Build.Steps.Debugger.cs
  tracer/build/_build/Build.Steps.cs
Labels: area:profiler

#3724 Force all tests to run as part of scheduled builds on `master`
  tracer/build/_build/Build.VariableGenerations.cs
Labels: area:builds, area:tests

#3749 [ASM] dispose context and nullchecks framework side
  tracer/src/Datadog.Trace/AppSec/Coordinator/HttpTransportBase.cs
  tracer/src/Datadog.Trace/AppSec/Coordinator/SecurityCoordinator.Framework.cs
  tracer/src/Datadog.Trace/AppSec/Coordinator/SecurityCoordinator.cs
  tracer/src/Datadog.Trace/AppSec/Coordinator/SecurityCoordinatorHelpers.Core.cs
  tracer/src/Datadog.Trace/AppSec/Waf/IContext.cs
  tracer/src/Datadog.Trace/AspNet/TracingHttpModule.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AspNetCore/BlockingMiddleware.cs
  tracer/src/Datadog.Trace/DiagnosticListeners/AspNetCoreDiagnosticObserver.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/WafIpBlockTests.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/WafUserBlockTests.cs
  tracer/test/test-applications/security/Samples.Security.AspNetCore5/Properties/launchSettings.json
Labels: area:asm

#3756 [Profiler] New scenario: Add endpoint with dots
  profiler/src/Demos/Samples.BuggyBits/Controllers/EndpointsCountController.cs
  profiler/src/Demos/Samples.BuggyBits/Controllers/ReviewsController.cs
  profiler/src/Demos/Samples.BuggyBits/Program.cs
  profiler/src/Demos/Samples.BuggyBits/SelfInvoker.cs
Labels: area:profiler

#3755 [CI Visibility] - Improve test source start line for CI Visibility UI
  tracer/src/Datadog.Trace/Ci/Test.cs
Labels: area:ci-visibility

#3742 [ASM] upgrade WAF to 1.7.0 and WAF rules to 1.5.0
  tracer/build/_build/Build.Steps.cs
  tracer/build/smoke_test_snapshots/smoke_test_snapshots.json
  tracer/build/smoke_test_snapshots/smoke_test_snapshots_2_1.json
  tracer/src/Datadog.Trace/AppSec/Concurrency/ReaderWriterLock.Core.cs
  tracer/src/Datadog.Trace/AppSec/Concurrency/ReaderWriterLock.Framework.cs
  tracer/src/Datadog.Trace/AppSec/Security.cs
  tracer/src/Datadog.Trace/AppSec/Waf/Context.cs
  tracer/src/Datadog.Trace/AppSec/Waf/IWaf.cs
  tracer/src/Datadog.Trace/AppSec/Waf/Initialization/LibraryLocationHelper.cs
  tracer/src/Datadog.Trace/AppSec/Waf/Waf.cs
  tracer/src/Datadog.Trace/AppSec/Waf/rule-set.json
  tracer/src/Datadog.Tracer.Native/packages.config
  tracer/test/Datadog.Trace.Security.IntegrationTests/Datadog.Trace.Security.IntegrationTests.csproj
  tracer/test/Datadog.Trace.Security.Unit.Tests/WafIpBlockTests.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/WafObfuscationTests.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/WafTests.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/WafUpdateTests.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/WafUserBlockTests.cs
  tracer/test/snapshots/Security.AspNetCore2.SecurityEnabled.__test=discovery.scans_url=_Health_login.php.verified.txt
  tracer/test/snapshots/Security.AspNetCore2.SecurityEnabled.__test=server.request.path_params_expectedStatusCode=200_url=_health_params_appscan_fingerprint.verified.txt
  tracer/test/snapshots/Security.AspNetCore2.SecurityEnabled.__test=server.request.query_expectedStatusCode=200_url=_Health_-[$slice]=value.verified.txt
  tracer/test/snapshots/Security.AspNetCore2.SecurityEnabled.__test=server.request.query_expectedStatusCode=200_url=_Health_-arg&[$slice].verified.txt
  tracer/test/snapshots/Security.AspNetCore5.SecurityEnabled.__test=discovery.scans_url=_Health_login.php.verified.txt
  tracer/test/snapshots/Security.AspNetCore5.SecurityEnabled.__test=server.request.path_params_expectedStatusCode=200_url=_health_params_appscan_fingerprint.verified.txt
  tracer/test/snapshots/Security.AspNetCore5.SecurityEnabled.__test=server.request.path_params_expectedStatusCode=200_url=_params-endpoint_appscan_fingerprint.verified.txt
  tracer/test/snapshots/Security.AspNetCore5.SecurityEnabled.__test=server.request.query_expectedStatusCode=200_url=_Health_-[$slice]=value.verified.txt
  tracer/test/snapshots/Security.AspNetCore5.SecurityEnabled.__test=server.request.query_expectedStatusCode=200_url=_Health_-arg&[$slice].verified.txt
  tracer/test/snapshots/Security.AspNetCore5AsmDataSecurityEnabled.__test=blocking-ips-oneclick_url=_.verified.txt
  tracer/test/snapshots/Security.AspNetCore5AsmDataSecurityEnabled.__test=blocking-ips_url=_.verified.txt
  tracer/test/snapshots/Security.AspNetCore5AsmDataSecurityEnabled.__test=blocking-user_url=_user.verified.txt
  tracer/test/snapshots/Security.AspNetCore5AsmInitializationSecurityEnabled.TestSecurityInitialization.verified.txt
  tracer/test/snapshots/Security.AspNetCore5AsmInitializationSecurityEnabledWithBadRuleset.TestSecurityInitialization.verified.txt
  tracer/test/snapshots/Security.AspNetCore5AsmRemoteRules._.verified.txt
  tracer/test/snapshots/Security.AspNetCore5AsmRulesToggle._.verified.txt
  tracer/test/snapshots/Security.AspNetCore5AsmToggleConfigError._.verified.txt
  tracer/test/snapshots/Security.AspNetCore5AsmToggleSecurityDefault._.verified.txt
  tracer/test/snapshots/Security.AspNetCore5AsmToggleSecurityEnabled._.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5.Integrated.enableSecurity=True.__test=discovery.scans_url=_Health_wp-config_body=null.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5AsmData.Classic.enableSecurity=True.__test=blocking-ips_url=_.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5AsmData.Classic.enableSecurity=True.__test=blocking-user_url=_user.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5AsmData.Integrated.enableSecurity=True.__test=blocking-ips_url=_.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5AsmData.Integrated.enableSecurity=True.__test=blocking-user_url=_user.verified.txt
  tracer/test/snapshots/Security.AspNetWebApiAsmData.Classic.enableSecurity=True.__test=blocking-ips_url=_api_health.verified.txt
  tracer/test/snapshots/Security.AspNetWebApiAsmData.Classic.enableSecurity=True.__test=blocking-user_url=_api_user.verified.txt
  tracer/test/snapshots/Security.AspNetWebApiAsmData.Integrated.enableSecurity=True.__test=blocking-ips_url=_api_health.verified.txt
  tracer/test/snapshots/Security.AspNetWebApiAsmData.Integrated.enableSecurity=True.__test=blocking-user_url=_api_user.verified.txt
  tracer/test/snapshots/Security.AspNetWebFormsAsmData.Classic.enableSecurity=True.__test=blocking-ips_url=_default.aspx.verified.txt
  tracer/test/snapshots/Security.AspNetWebFormsAsmData.Classic.enableSecurity=True.__test=blocking-user_url=_user.verified.txt
  tracer/test/snapshots/Security.AspNetWebFormsAsmData.Integrated.enableSecurity=True.__test=blocking-ips_url=_default.aspx.verified.txt
  tracer/test/snapshots/Security.AspNetWebFormsAsmData.Integrated.enableSecurity=True.__test=blocking-user_url=_user.verified.txt
Labels: area:asm

#3760 [ASM] Correct copy / paste error
  tracer/src/Datadog.Trace/AppSec/SecuritySettings.cs
Labels: area:asm

#3725 [Dynamic Instrumentation] Perf improvements + Added probe metadata payload
  tracer/src/Datadog.Trace/Debugger/Expressions/ProbeExpressionsProcessor.cs
  tracer/src/Datadog.Trace/Debugger/Expressions/ProbeInfo.cs
  tracer/src/Datadog.Trace/Debugger/Expressions/ProbeProcessor.cs
  tracer/src/Datadog.Trace/Debugger/Instrumentation/AsyncLineDebuggerInvoker.cs
  tracer/src/Datadog.Trace/Debugger/Instrumentation/AsyncLineDebuggerState.cs
  tracer/src/Datadog.Trace/Debugger/Instrumentation/AsyncMethodDebuggerInvoker.cs
  tracer/src/Datadog.Trace/Debugger/Instrumentation/AsyncMethodDebuggerState.cs
  tracer/src/Datadog.Trace/Debugger/Instrumentation/LineDebuggerInvoker.cs
  tracer/src/Datadog.Trace/Debugger/Instrumentation/LineDebuggerState.cs
  tracer/src/Datadog.Trace/Debugger/Instrumentation/MethodDebuggerInvoker.cs
  tracer/src/Datadog.Trace/Debugger/Instrumentation/MethodDebuggerState.cs
  tracer/src/Datadog.Trace/Debugger/Instrumentation/MethodMetadataInfoFactory.cs
  tracer/src/Datadog.Trace/Debugger/Instrumentation/MethodMetadataProvider.cs
  tracer/src/Datadog.Trace/Debugger/Instrumentation/Registry/EverGrowingCollection.cs
  tracer/src/Datadog.Trace/Debugger/Instrumentation/Registry/MethodMetadataCollection.cs
  tracer/src/Datadog.Trace/Debugger/Instrumentation/Registry/MethodMetadataInfo.cs
  tracer/src/Datadog.Trace/Debugger/Instrumentation/Registry/ProbeData.cs
  tracer/src/Datadog.Trace/Debugger/Instrumentation/Registry/ProbeMetadataCollection.cs
  tracer/src/Datadog.Trace/Debugger/RateLimiting/ProbeRateLimiter.cs
  tracer/src/Datadog.Trace/Debugger/Snapshots/DebuggerSnapshotCreator.cs
  tracer/src/Datadog.Tracer.Native/debugger_method_rewriter.cpp
  tracer/src/Datadog.Tracer.Native/debugger_method_rewriter.h
  tracer/src/Datadog.Tracer.Native/debugger_probes_instrumentation_requester.cpp
  tracer/src/Datadog.Tracer.Native/debugger_probes_instrumentation_requester.h
  tracer/src/Datadog.Tracer.Native/debugger_tokens.cpp
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.AsyncTaskReturnTest.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.AsyncTaskReturnWithExceptionTest.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.ConditionAndTemplateChangeTest_#1..verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.ConditionAndTemplateChangeTest_#2..verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.ConditionAndTemplateChangeTest_#3..verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/statuses/ProbeTests.AsyncTaskReturnTest.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/statuses/ProbeTests.AsyncTaskReturnWithExceptionTest.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/statuses/ProbeTests.ConditionAndTemplateChangeTest_#1..verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/statuses/ProbeTests.ConditionAndTemplateChangeTest_#2..verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/statuses/ProbeTests.ConditionAndTemplateChangeTest_#3..verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Helpers/DebuggerTestHelper.cs
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/ProbesTests.cs
  tracer/test/Datadog.Trace.Tests/Debugger/SnapshotHelper.cs
  tracer/test/test-applications/debugger/dependency-libs/Samples.Probes.TestRuns/ExpressionTests/ConditionAndTemplateChangeTest.cs
  tracer/test/test-applications/debugger/dependency-libs/Samples.Probes.TestRuns/LineProbeTestDataAttribute.cs
  tracer/test/test-applications/debugger/dependency-libs/Samples.Probes.TestRuns/MethodProbeTestDataAttribute.cs
  tracer/test/test-applications/debugger/dependency-libs/Samples.Probes.TestRuns/ProbeAttributeBase.cs
  tracer/test/test-applications/debugger/dependency-libs/Samples.Probes.TestRuns/SmokeTests/AsyncTaskReturnTest.cs
  tracer/test/test-applications/debugger/dependency-libs/Samples.Probes.TestRuns/SmokeTests/AsyncTaskReturnWithExceptionTest.cs
Labels: area:debugger

#3766 Add debugger team as CODEONWERS to missing directories
  .github/CODEOWNERS
Labels: area:builds

#3750 Fix `otel.status_code`/`otel.library.name` from .NET Activity API
  tracer/src/Datadog.Trace/Activity/OtlpHelpers.cs
  tracer/test/snapshots/TelemetryTests.verified.txt
Labels: area:tracer

#3772 [Profiler] Fix CppCheck version when installing
  .azure-pipelines/ultimate-pipeline.yml
  .github/workflows/profiler-pipeline.yml
Labels: area:builds, area:profiler

#3770 [Profiler] Improve .NET exception profiler
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ExceptionsProvider.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/GroupSampler.h
Labels: area:profiler

#3764 [Profiler] Reduce memory allocation of the profiler
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/OsSpecificApi.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/OpSysTools.h
  profiler/test/Datadog.Profiler.Native.Tests/OpSysToolsTest.cpp
Labels: area:profiler

#3775 [AAS]Bail out from starting processes if API_KEY isn't present
  tracer/src/Datadog.Trace/AgentProcessManager.cs
Labels: area:tracer

#3782 Remove all references to `DD_DOTNET_PROFILER_HOME`
  .github/workflows/profiler-pipeline.yml
  profiler/build/Exceptions.linux.net60.json
  profiler/build/PiComputation.linux.net60.json
  shared/src/msi-installer/ContinuousProfiler/EnvironmentVariables.wxs
  tracer/build/crank/os.profiles.yml
Labels: type:cleanup, area:shared-components, area:profiler

#3767 [Profiler] Validate exceptions sampling
  profiler/src/Demos/Samples.Computer01/MeasureAllocations.cs
  profiler/src/Demos/Samples.ExceptionGenerator/MeasureExceptionsScenario.cs
  profiler/src/Demos/Samples.ExceptionGenerator/Program.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Allocations/AllocationsProfilerTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Exceptions/ExceptionsTest.cs
Labels: area:profiler

#3777 [CI Visibility] - Extract traits recursively in NUnit
  tracer/src/Datadog.Trace/Ci/Agent/CIVisibilityProtocolWriter.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/NUnit/NUnitIntegration.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/NUnitEvpTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/NUnitTests.cs
  tracer/test/test-applications/integrations/Samples.NUnitTests/TestSuite.cs
Labels: area:ci-visibility

#3769 Generate container images for Kubernetes Admission Controller library injection
  .azure-pipelines/ultimate-pipeline.yml
  .github/workflows/create_draft_release.yml
  .github/workflows/lib-injection.yml
  lib-injection/Dockerfile
  lib-injection/copy-lib.sh
  tracer/build/_build/Build.GitHub.cs
Labels: area:builds

#3783 [Build/Test] Limit upload_container_images build stage to individual CI
  .azure-pipelines/ultimate-pipeline.yml
Labels: area:builds

#3718 [ASM] Instrumented tests: basic setup
  Datadog.Trace.sln
  tracer/test/Datadog.Trace.Security.IntegrationTests/IAST/IastInstrumentationUnitTests.cs
  tracer/test/Datadog.Trace.TestHelpers.AutoInstrumentation/TestHelper.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/BasicInstrumentationTests.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Samples.InstrumentedTests.csproj
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/InstrumentationTestsBase.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/ProcessStartTests.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/WeakCipher/WeakCipherTests.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/WeakHashing/HMACMD5Tests.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/WeakHashing/HMACSHA1Tests.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/WeakHashing/HashAlgorithmTests.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/WeakHashing/HashExtensions.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/WeakHashing/HashExtensionsTests.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/WeakHashing/MD5CryptoServiceProviderTests.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/WeakHashing/MD5Tests.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/WeakHashing/SHA1CryptoServiceProviderTests.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/WeakHashing/SHA1Tests.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/generaterunsettings.bat
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/generaterunsettings.sh
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/iast.runsettings
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/xunit.runner.json
Labels: area:asm, area:asm-iast

#3788 [CI Visibility] - Small changes to the CI Visibility processors.
  tracer/src/Datadog.Trace/Ci/CITracerManager.cs
  tracer/src/Datadog.Trace/Ci/Processors/TestSuiteVisibilityProcessor.cs
Labels: area:ci-visibility

#3781 Add analyzers for `IDatadogLogger` usages
  tracer/src/Datadog.Trace.Tools.Analyzers/Datadog.Trace.Tools.Analyzers.csproj
  tracer/src/Datadog.Trace.Tools.Analyzers/Helpers/ObjectDisplay.cs
  tracer/src/Datadog.Trace.Tools.Analyzers/Helpers/RoslynHelper.cs
  tracer/src/Datadog.Trace.Tools.Analyzers/LogAnalyzer/ConstantMessageTemplateCodeFixProvider.StringConcat.cs
  tracer/src/Datadog.Trace.Tools.Analyzers/LogAnalyzer/ConstantMessageTemplateCodeFixProvider.StringFormat.cs
  tracer/src/Datadog.Trace.Tools.Analyzers/LogAnalyzer/ConstantMessageTemplateCodeFixProvider.StringInterpolation.cs
  tracer/src/Datadog.Trace.Tools.Analyzers/LogAnalyzer/ConstantMessageTemplateCodeFixProvider.cs
  tracer/src/Datadog.Trace.Tools.Analyzers/LogAnalyzer/CorrectContextCodeFixProvider.cs
  tracer/src/Datadog.Trace.Tools.Analyzers/LogAnalyzer/DestructuringHintCodeFixProvider.cs
  tracer/src/Datadog.Trace.Tools.Analyzers/LogAnalyzer/Diagnostics.cs
  tracer/src/Datadog.Trace.Tools.Analyzers/LogAnalyzer/ExceptionPositionCodeFixProvider.cs
  tracer/src/Datadog.Trace.Tools.Analyzers/LogAnalyzer/Helpers/AnalyzingMessageTemplateParser.cs
  tracer/src/Datadog.Trace.Tools.Analyzers/LogAnalyzer/Helpers/MessageTemplateDiagnostic.cs
  tracer/src/Datadog.Trace.Tools.Analyzers/LogAnalyzer/Helpers/MessageTemplateToken.cs
  tracer/src/Datadog.Trace.Tools.Analyzers/LogAnalyzer/Helpers/PropertyBindingAnalyzer.cs
  tracer/src/Datadog.Trace.Tools.Analyzers/LogAnalyzer/Helpers/PropertyToken.cs
  tracer/src/Datadog.Trace.Tools.Analyzers/LogAnalyzer/Helpers/SourceArgument.cs
  tracer/src/Datadog.Trace.Tools.Analyzers/LogAnalyzer/Helpers/StringHelper.cs
  tracer/src/Datadog.Trace.Tools.Analyzers/LogAnalyzer/LogAnalyzer.cs
  tracer/src/Datadog.Trace.Tools.Analyzers/LogAnalyzer/PascalCaseCodeFixProvider.cs
  tracer/src/GlobalSuppressions.cs
  tracer/test/Datadog.Trace.Tools.Analyzers.Tests/LogAnalyzer/ConstantMessageTemplateDiagnosticTests.cs
  tracer/test/Datadog.Trace.Tools.Analyzers.Tests/LogAnalyzer/CorrectContextDiagnosticTests.cs
  tracer/test/Datadog.Trace.Tools.Analyzers.Tests/LogAnalyzer/CorrectLoggingAbstractionDiagnostic.cs
  tracer/test/Datadog.Trace.Tools.Analyzers.Tests/LogAnalyzer/DestructureAnonymousObjectsDiagnosticTests.cs
  tracer/test/Datadog.Trace.Tools.Analyzers.Tests/LogAnalyzer/Helpers.cs
  tracer/test/Datadog.Trace.Tools.Analyzers.Tests/LogAnalyzer/InvalidTemplateDiagnosticTests.cs
  tracer/test/Datadog.Trace.Tools.Analyzers.Tests/LogAnalyzer/PascalPropertyNameDiagnosticTests.cs
  tracer/test/Datadog.Trace.Tools.Analyzers.Tests/LogAnalyzer/PropertyDiagnosticTests.cs
  tracer/test/Datadog.Trace.Tools.Analyzers.Tests/LogAnalyzer/StringHelperTests.cs
Labels: area:tools

#3789 [CI Visibility] - Lazy initialise the ITR instance
  tracer/src/Datadog.Trace.Tools.Runner/RunCiCommand.cs
  tracer/src/Datadog.Trace/Ci/CIVisibility.cs
Labels: area:ci-visibility

#3792 Fix test trigger on scheduled builds
  tracer/build/_build/Build.VariableGenerations.cs
Labels: area:builds

#3771 [Dynamic Instrumentation] Addressed a leakage by reusing probe data indices
  tracer/src/Datadog.Trace/Debugger/Instrumentation/AsyncLineDebuggerInvoker.cs
  tracer/src/Datadog.Trace/Debugger/Instrumentation/AsyncLineDebuggerState.cs
  tracer/src/Datadog.Trace/Debugger/Instrumentation/AsyncMethodDebuggerInvoker.cs
  tracer/src/Datadog.Trace/Debugger/Instrumentation/AsyncMethodDebuggerState.cs
  tracer/src/Datadog.Trace/Debugger/Instrumentation/Collections/EverGrowingCollection.cs
  tracer/src/Datadog.Trace/Debugger/Instrumentation/Collections/MethodMetadataCollection.cs
  tracer/src/Datadog.Trace/Debugger/Instrumentation/Collections/MethodMetadataInfo.cs
  tracer/src/Datadog.Trace/Debugger/Instrumentation/Collections/ProbeData.cs
  tracer/src/Datadog.Trace/Debugger/Instrumentation/Collections/ProbeDataCollection.cs
  tracer/src/Datadog.Trace/Debugger/Instrumentation/LineDebuggerInvoker.cs
  tracer/src/Datadog.Trace/Debugger/Instrumentation/LineDebuggerState.cs
  tracer/src/Datadog.Trace/Debugger/Instrumentation/MethodDebuggerInvoker.cs
  tracer/src/Datadog.Trace/Debugger/Instrumentation/MethodDebuggerState.cs
  tracer/src/Datadog.Trace/Debugger/Instrumentation/MethodMetadataInfoFactory.cs
  tracer/src/Datadog.Trace/Debugger/RateLimiting/ProbeRateLimiter.cs
  tracer/src/Datadog.Tracer.Native/CMakeLists.txt
  tracer/src/Datadog.Tracer.Native/Datadog.Tracer.Native.vcxproj
  tracer/src/Datadog.Tracer.Native/Datadog.Tracer.Native.vcxproj.filters
  tracer/src/Datadog.Tracer.Native/debugger_members.h
  tracer/src/Datadog.Tracer.Native/debugger_method_rewriter.cpp
  tracer/src/Datadog.Tracer.Native/debugger_method_rewriter.h
  tracer/src/Datadog.Tracer.Native/debugger_probes_instrumentation_requester.cpp
  tracer/src/Datadog.Tracer.Native/debugger_probes_tracker.cpp
  tracer/src/Datadog.Tracer.Native/debugger_probes_tracker.h
  tracer/src/Datadog.Tracer.Native/debugger_rejit_preprocessor.cpp
Labels: area:debugger

#3795 [Profiler/CI] Remove profiler throughput tests from Github Actions
  .github/workflows/profiler-pipeline.yml
Labels: area:builds, area:profiler

#3793 [Profiler] Take cores count into account for CPU profiling
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/OsSpecificApi.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Windows/OsSpecificApi.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/OsSpecificApi.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/StackSamplerLoop.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/StackSamplerLoop.h
Labels: area:profiler

#3791 [Build/Test] Publish official dd-lib-dotnet-init images on tagged commit
  .gitlab-ci.yml
Labels: area:builds

#3787 [Profiler] Improve Linux stackwalker deadlock detection
  profiler/src/ProfilerEngine/Datadog.Linux.ApiWrapper/functions_to_wrap.c
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/LinuxStackFramesCollector.cpp
  profiler/test/Datadog.Profiler.Native.Tests/LinuxStackFramesCollectorTest.cpp
Labels: area:profiler

#3786 [Profiler] Improve building thread stat file path
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/OsSpecificApi.cpp
Labels: area:profiler

#3753 [Profiler] Add allocations recorder
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/AllocationsRecorder.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/AllocationsRecorder.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Configuration.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Configuration.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CorProfilerCallback.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CorProfilerCallback.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Datadog.Profiler.Native.vcxproj
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Datadog.Profiler.Native.vcxproj.filters
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/EnvironmentVariables.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/FrameStore.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/FrameStore.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/IAllocationsRecorder.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/IConfiguration.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/IFrameStore.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/LibddprofExporter.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/LibddprofExporter.h
  profiler/src/Tools/AllocSimulator/BinaryFileAllocProvider.cs
  profiler/src/Tools/AllocSimulator/Program.cs
  profiler/src/Tools/AllocSimulator/TextFileAllocProvider.cs
  profiler/test/Datadog.Profiler.Native.Tests/FrameStoreHelper.cpp
  profiler/test/Datadog.Profiler.Native.Tests/FrameStoreHelper.h
  profiler/test/Datadog.Profiler.Native.Tests/LibddprofExporterTest.cpp
  profiler/test/Datadog.Profiler.Native.Tests/ProfilerMockedInterface.h
Labels: area:profiler

#3774 [CI Visibility] - BenchmarkDotNet framework support
  Datadog.Trace.sln
  docs/Datadog.Trace.BenchmarkDotNet/README.md
  tracer/build/_build/Build.GitHub.cs
  tracer/build/_build/Build.Steps.cs
  tracer/build/_build/PrepareRelease/SetAllVersions.cs
  tracer/build/_build/Projects.cs
  tracer/src/Datadog.Trace.BenchmarkDotNet/Datadog.Trace.BenchmarkDotNet.csproj
  tracer/src/Datadog.Trace.BenchmarkDotNet/DatadogColumnHidingRule.cs
  tracer/src/Datadog.Trace.BenchmarkDotNet/DatadogDiagnoser.cs
  tracer/src/Datadog.Trace.BenchmarkDotNet/DatadogDiagnoserAttribute.cs
  tracer/src/Datadog.Trace.BenchmarkDotNet/DatadogExporter.cs
  tracer/src/Datadog.Trace.BenchmarkDotNet/DatadogExporterAttribute.cs
  tracer/src/Datadog.Trace.BenchmarkDotNet/DatadogExtensions.cs
  tracer/src/Datadog.Trace.BenchmarkDotNet/DatadogLogger.cs
  tracer/src/Datadog.Trace/Ci/Agent/CIVisibilityProtocolWriter.cs
  tracer/src/Datadog.Trace/Ci/BenchmarkDiscreteStats.cs
  tracer/src/Datadog.Trace/Ci/BenchmarkHostInfo.cs
  tracer/src/Datadog.Trace/Ci/BenchmarkJobInfo.cs
  tracer/src/Datadog.Trace/Ci/BenchmarkMeasureType.cs
  tracer/src/Datadog.Trace/Ci/Tags/BenchmarkTestTags.cs
  tracer/src/Datadog.Trace/Ci/Test.cs
  tracer/test/Datadog.Trace.BenchmarkDotNet.Tests/CustomTestFramework.cs
  tracer/test/Datadog.Trace.BenchmarkDotNet.Tests/Datadog.Trace.BenchmarkDotNet.Tests.csproj
  tracer/test/Datadog.Trace.BenchmarkDotNet.Tests/PublicApiTests.cs
  tracer/test/Datadog.Trace.BenchmarkDotNet.Tests/Snapshots/PublicApiTests.Datadog.Trace.BenchmarkDotNet.AssemblyReferencesHaveNotChanged.net461.verified.txt
  tracer/test/Datadog.Trace.BenchmarkDotNet.Tests/Snapshots/PublicApiTests.Datadog.Trace.BenchmarkDotNet.AssemblyReferencesHaveNotChanged.net6.0.verified.txt
  tracer/test/Datadog.Trace.BenchmarkDotNet.Tests/Snapshots/PublicApiTests.Datadog.Trace.BenchmarkDotNet.AssemblyReferencesHaveNotChanged.netcoreapp3.1.verified.txt
  tracer/test/Datadog.Trace.BenchmarkDotNet.Tests/Snapshots/PublicApiTests.Datadog.Trace.BenchmarkDotNet.PublicApiHasNotChanged.verified.txt
  tracer/test/Datadog.Trace.Tests/Snapshots/PublicApiTests.Datadog.Trace.PublicApiHasNotChanged.verified.txt
  tracer/test/benchmarks/Benchmarks.Trace/Benchmarks.Trace.csproj
  tracer/test/benchmarks/Benchmarks.Trace/Program.cs
Labels: area:ci-visibility

#3801 [Profiler] Change scenario for better chances to get samples
  profiler/test/Datadog.Profiler.IntegrationTests/CodeHotspot/CodeHotspotTest.cs
Labels: area:profiler

#3799 [Profiler] Add CI visibility on profiler AzDo jobs
  .azure-pipelines/ultimate-pipeline.yml
  profiler/test/Datadog.Profiler.IntegrationTests/Datadog.Profiler.IntegrationTests.csproj
  profiler/test/Datadog.Profiler.IntegrationTests/Helpers/SkippableTestCase.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Helpers/TestAppFrameworkDiscover.cs
  profiler/test/Directory.Build.props
  tracer/build/_build/Build.Profiler.Steps.cs
Labels: area:profiler

#3806 [Profiler] bug fixes
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CorProfilerCallback.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ManagedThreadList.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/PInvoke.cpp
Labels: area:profiler

#3808 Fix MongoDb integration tests and bump to latest
  tracer/build/PackageVersionsLatestMajors.g.props
  tracer/build/PackageVersionsLatestMinors.g.props
  tracer/build/PackageVersionsLatestSpecific.g.props
  tracer/dependabot/Datadog.Dependabot.Integrations.csproj
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/MongoDbTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestMajors.g.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestMinors.g.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestSpecific.g.cs
Labels: area:tests, area:test-apps, area:dependabot

#3811 Add support for Aerospike 6.0.0
  tracer/build/PackageVersionsGeneratorDefinitions.json
  tracer/build/PackageVersionsLatestMajors.g.props
  tracer/build/PackageVersionsLatestMinors.g.props
  tracer/build/PackageVersionsLatestSpecific.g.props
  tracer/dependabot/Datadog.Dependabot.Integrations.csproj
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Aerospike/AsyncCommandIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Aerospike/SyncCommandIntegration.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.InstrumentationDefinitions.InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.InstrumentationDefinitions.InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.InstrumentationDefinitions.InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.InstrumentationDefinitions.InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestMajors.g.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestMinors.g.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestSpecific.g.cs
Labels: type:enhancement

#3802 [Profiler] Fix bug when retrieving number of cores
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/OsSpecificApi.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Windows/OsSpecificApi.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/LibddprofExporter.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/OsSpecificApi.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/StackSamplerLoop.cpp
  profiler/test/Datadog.Profiler.Native.Tests/Datadog.Profiler.Native.Tests.vcxproj
  profiler/test/Datadog.Profiler.Native.Tests/Datadog.Profiler.Native.Tests.vcxproj.filters
  profiler/test/Datadog.Profiler.Native.Tests/OSpecificAPIHelper.cpp
Labels: area:profiler

#3803 [Build/Test] Add system tests for the library injection images
  .github/workflows/lib-injection.yml
Labels: area:builds

#3776 [ASM] Weak hashing instrumentation for net462
  tracer/src/Datadog.Trace.SourceGenerators/AspectsDefinitions/AspectsDefinitionsGenerator.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.AspectsDefinitions.AspectsDefinitionsGenerator/AspectsDefinitions.g.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.Security.Cryptography/HashAlgorithmAspect.cs
  tracer/src/Datadog.Tracer.Native/dd_profiler_constants.h
  tracer/src/Datadog.Tracer.Native/iast/dataflow.cpp
  tracer/src/Datadog.Tracer.Native/iast/method_info.cpp
  tracer/src/Datadog.Tracer.Native/iast/module_info.cpp
  tracer/src/Datadog.Tracer.Native/iast/module_info.h
  tracer/test/Datadog.Trace.Security.IntegrationTests/IAST/Deduplication/DeduplicationTests.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/IAST/WeakHashing/WeakHashingTests.cs
  tracer/test/Datadog.Trace.TestHelpers.AutoInstrumentation/TestHelper.cs
  tracer/test/snapshots/WeakHashingTests.SubmitsTraces.Net462.verified.txt
  tracer/test/test-applications/integrations/Samples.Deduplication/Program.cs
  tracer/test/test-applications/integrations/Samples.Deduplication/Properties/launchSettings.json
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Properties/launchSettings.json
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/WeakCipher/WeakCipherTests.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/WeakHashing/HMACMD5Tests.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/WeakHashing/HMACSHA1Tests.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/WeakHashing/HashAlgorithmTests.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/WeakHashing/HashExtensionsTests.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/WeakHashing/MD5CryptoServiceProviderTests.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/WeakHashing/MD5Tests.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/WeakHashing/SHA1CryptoServiceProviderTests.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/WeakHashing/SHA1Tests.cs
  tracer/test/test-applications/integrations/Samples.WeakHashing/Program.cs
  tracer/test/test-applications/integrations/Samples.WeakHashing/Properties/launchSettings.json
  tracer/test/test-applications/security/Samples.Security.AspNetCore5/Properties/launchSettings.json
Labels: area:asm, area:asm-iast

#3815 [Profiler] Increase leak size and fix exception
  profiler/src/Demos/Samples.BuggyBits/Controllers/NewsController.cs
Labels: area:profiler

#3810 [ASM] Add valueparts without source in vulnerability Json
  tracer/src/Datadog.Trace/IAST/Evidence.cs
  tracer/src/Datadog.Trace/IAST/Range.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/IAST/Tainted/EvidenceTests.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/IAST/Tainted/VulnerabilityBatchTests.cs
  tracer/test/snapshots/Iast.SqlInjection.AspNetCore2.IastEnabled.verified.txt
  tracer/test/snapshots/Iast.SqlInjection.AspNetCore5.IastEnabled.verified.txt
  tracer/test/snapshots/Iast.SqlInjection.AspNetMvc5.IastEnabled.verified.txt
Labels: area:asm, area:asm-iast

#3818 [ASM] Weak cipher support for .net framework
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.AspectsDefinitions.AspectsDefinitionsGenerator/AspectsDefinitions.g.cs
  tracer/src/Datadog.Trace/IAST/IastModule.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.Security.Cryptography/HashAlgorithmAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.Security.Cryptography/SymmetricAlgorithmAspect.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/IAST/WeakCipher/WeakCipherTests.cs
  tracer/test/test-applications/integrations/Samples.WeakCipher/Program.cs
  tracer/test/test-applications/integrations/Samples.WeakCipher/Properties/launchSettings.json
Labels: area:asm, area:asm-iast

#3797 [Profiler] Add I/O-bound demo application
  Datadog.Profiler.sln
  profiler/src/Demos/Samples.FileAccess/Program.cs
  profiler/src/Demos/Samples.FileAccess/Properties/launchSettings.json
  profiler/src/Demos/Samples.FileAccess/Samples.FileAccess.csproj
Labels: area:profiler

#3823 [Profiler] Add view for EndpointsCount controller
  profiler/src/Demos/Samples.BuggyBits/Controllers/EndpointsCountController.cs
  profiler/src/Demos/Samples.BuggyBits/Views/EndpointsCount/Index.cshtml
  profiler/src/Demos/Samples.BuggyBits/Views/Shared/_Layout.cshtml
Labels: area:profiler

#3825 [CI Visibility] - Defer await for git upload task
  tracer/src/Datadog.Trace.Tools.Runner/RunCiCommand.cs
  tracer/src/Datadog.Trace/Ci/CIVisibility.cs
Labels: area:ci-visibility

#3817 [Profiler] Add named/anonymous methods scenario
  profiler/src/Demos/Samples.Computer01/AsyncComputation.cs
  profiler/src/Demos/Samples.Computer01/ComputerService.cs
  profiler/src/Demos/Samples.Computer01/ContentionGenerator.cs
  profiler/src/Demos/Samples.Computer01/FibonacciComputation.cs
  profiler/src/Demos/Samples.Computer01/GarbageCollections.cs
  profiler/src/Demos/Samples.Computer01/GenericsAllocation.cs
  profiler/src/Demos/Samples.Computer01/InnerMethods.cs
  profiler/src/Demos/Samples.Computer01/IteratorComputation.cs
  profiler/src/Demos/Samples.Computer01/MeasureAllocations.cs
  profiler/src/Demos/Samples.Computer01/MemoryLeak.cs
  profiler/src/Demos/Samples.Computer01/PiComputation.cs
  profiler/src/Demos/Samples.Computer01/Program.cs
  profiler/src/Demos/Samples.Computer01/Properties/launchSettings.json
  profiler/src/Demos/Samples.Computer01/ScenarioBase.cs
  profiler/src/Demos/Samples.Computer01/SleepManager.cs
Labels: area:profiler

#3827 [CI Visibility] Await git upload metadata before child command start only on test skipping scenarios.
  tracer/src/Datadog.Trace.Tools.Runner/RunCiCommand.cs
Labels: area:ci-visibility

#3837 Stop extracting SourceLink after 100 tries
  tracer/src/Datadog.Trace/Configuration/GitMetadataTagsProvider.cs
Labels: area:tracer

#3839 [Profiler] Bump libdatadog version to 2.0.0
  build/cmake/FindLibdatadog.cmake
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Windows/Datadog.Profiler.Native.Windows.vcxproj
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Windows/packages.config
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CollectorBase.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Datadog.Profiler.Native.vcxproj
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/LibddprofExporter.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/LibddprofExporter.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/packages.config
  profiler/test/Datadog.Profiler.IntegrationTests/WindowsOnly/NamedPipeTestcs.cs
  profiler/test/Datadog.Profiler.Native.Tests/Datadog.Profiler.Native.Tests.vcxproj
  profiler/test/Datadog.Profiler.Native.Tests/packages.config
Labels: area:profiler

#3824 [Profiler] Bucketize contention events by duration
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ContentionProvider.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ContentionProvider.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/RawContentionSample.h
Labels: area:profiler

#3844 [Tracer] Container init job to run for hotfixes
  .azure-pipelines/ultimate-pipeline.yml
Labels: area:builds

#3834 [CI] Fix the flakiness of `TelemetryControllerTests`, but not the source of the issue
  tracer/test/Datadog.Trace.Tests/Telemetry/TelemetryControllerTests.cs
Labels: area:tests

#3843 [CI Visibility] - Improve manual api initialisation.
  tracer/src/Datadog.Trace/Ci/CIVisibility.cs
  tracer/src/Datadog.Trace/Ci/Configuration/CIVisibilitySettings.cs
  tracer/src/Datadog.Trace/Ci/TestModule.cs
  tracer/src/Datadog.Trace/Ci/TestSession.cs
Labels: area:ci-visibility
