Repository DataDog/dd-trace-dotnet, pull requests merged in 2023-11, with the labels that each got.

#4790 Fix MSBuild location in Nuke
  tracer/build/_build/NukeExtensions/DotNetSettingsExtensions.cs
Labels: area:builds

#4777 Add missing dependencies to dotnet_tool job
  .azure-pipelines/ultimate-pipeline.yml
Labels: area:builds

#4785 Fix installer smoke tests
  .azure-pipelines/ultimate-pipeline.yml
  tracer/build/_build/docker/smoke.nuget.dd-dotnet.dockerfile
  tracer/build/_build/docker/smoke.windows.nuget.dd-dotnet.dockerfile
Labels: area:builds

#4794 Update python packages and use the new image in gitlab
  .gitlab-ci.yml
  tracer/build/_build/docker/gitlab/constraints.txt
  tracer/build/_build/docker/gitlab/gitlab.windows.dockerfile
  tracer/build/_build/docker/gitlab/requirements.txt
Labels: area:builds

#4793 [ASM] Join with char separator bug fix
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/AspectsDefinitionsGenerator/AspectsDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/AspectsDefinitionsGenerator/AspectsDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/AspectsDefinitionsGenerator/AspectsDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/AspectsDefinitionsGenerator/AspectsDefinitions.g.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System/StringAspects.cs
  tracer/src/Datadog.Tracer.Native/iast/dataflow.cpp
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/String/StringJoinTests.cs
Labels: type:bug, area:asm, area:asm-iast

#4770 [Tracing] Fix WebRequest bug with existing distributed tracing headers
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Http/WebRequest/HeadersInjectedCache.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Http/WebRequest/HttpWebRequest_BeginGetRequestStream_Integration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Http/WebRequest/HttpWebRequest_BeginGetResponse_Integration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Http/WebRequest/HttpWebRequest_EndGetResponse_Integration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Http/WebRequest/HttpWebRequest_GetRequestStream_Integration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Http/WebRequest/WebRequestCommon.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PeerServiceMappingTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/ServiceMappingTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/WebRequestTests.cs
  tracer/test/test-applications/integrations/Samples.WebRequest/RequestHelpers.cs
Labels: type:bug

#4798 [SLN file] move new test project into `test-applications` solution folder
  Datadog.Trace.sln
Labels: area:builds, type:cleanup

#4780 [ASM] Correct location error
  tracer/src/Datadog.Trace/Iast/Location.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/IAST/LocationTests.cs
Labels: area:asm, area:asm-iast

#4802 Increase timeout for query string obfuscator unit tests
  tracer/test/Datadog.Trace.Tests/Util/Http/QueryStringObfuscatorTests.cs
Labels: area:tests

#4804 Try to fix flake in DSM test
  tracer/test/Datadog.Trace.Tests/DataStreamsMonitoring/DataStreamsMonitoringTransportTests.cs
Labels: area:tests, feature:data-streams-monitoring

#4717 [TESTS]Added BenchmarkDotNet debug helper
  tracer/test/benchmarks/Benchmarks.Trace/Program.cs
Labels: area:tests

#4805 Basic smoke tests for .NET chiseled containers
  .azure-pipelines/ultimate-pipeline.yml
  docker-compose.yml
  tracer/build/_build/Build.VariableGenerations.cs
  tracer/build/_build/docker/smoke.chiseled.dockerfile
Labels: area:builds, area:tests

#4786 [Dynamic Instrumentationm] Added PII redaction support
  tracer/src/Datadog.Trace/Configuration/ConfigurationKeys.Debugger.cs
  tracer/src/Datadog.Trace/Debugger/DebuggerSettings.cs
  tracer/src/Datadog.Trace/Debugger/Expressions/ProbeExpressionParser.Collection.cs
  tracer/src/Datadog.Trace/Debugger/Expressions/ProbeExpressionParser.Dump.cs
  tracer/src/Datadog.Trace/Debugger/Expressions/ProbeExpressionParser.General.cs
  tracer/src/Datadog.Trace/Debugger/Expressions/ProbeProcessor.cs
  tracer/src/Datadog.Trace/Debugger/Instrumentation/AsyncLineDebuggerInvoker.cs
  tracer/src/Datadog.Trace/Debugger/LiveDebugger.cs
  tracer/src/Datadog.Trace/Debugger/Snapshots/DebuggerSnapshotSerializer.NotCapturedReason.cs
  tracer/src/Datadog.Trace/Debugger/Snapshots/DebuggerSnapshotSerializer.cs
  tracer/src/Datadog.Trace/Debugger/Snapshots/Redaction.cs
  tracer/src/Datadog.Trace/Debugger/Snapshots/SupportedTypesService.cs
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.AsyncLineProbeWithFieldsArgsAndLocalsTest.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.AsyncMethodRedactionTest.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.AsyncSpanOnMethodWithArgsTest.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.AsyncSpanOnMethodWithExceptionProbeTest.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.GenericByRefLikeTest.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.GenericMethodWithArguments.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.HasLocalListOfObjects.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.HasLocalsAndArgumentsInGenericNestedType.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.OverloadAndSimpleNameTest_#1..verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.RedactionTest.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.RedactionTest_#1..verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.SpanOnMethodWithArgsTest.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.SpanOnMethodWithExceptionProbeTest.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/statuses/ProbeTests.AsyncMethodRedactionTest.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/statuses/ProbeTests.RedactionTest.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/statuses/ProbeTests.RedactionTest_#1..verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/ProbesTests.cs
  tracer/test/Datadog.Trace.Tests/Debugger/ProbeExpressionsResources/Approvals/DebuggerExpressionLanguageTests.UndefinedField.verified.txt
  tracer/test/Datadog.Trace.Tests/Debugger/RedactionTests.cs
  tracer/test/Datadog.Trace.Tests/Debugger/SupportedTypesServiceTests.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/config_norm_rules.json
  tracer/test/test-applications/debugger/dependency-libs/Samples.Probes.TestRuns/Shared/Person.cs
  tracer/test/test-applications/debugger/dependency-libs/Samples.Probes.TestRuns/SmokeTests/AsyncGenericMethodWithLineProbeTest.cs
  tracer/test/test-applications/debugger/dependency-libs/Samples.Probes.TestRuns/SmokeTests/AsyncLineProbeWithFieldsArgsAndLocalsTest.cs
  tracer/test/test-applications/debugger/dependency-libs/Samples.Probes.TestRuns/SmokeTests/AsyncMethodInGenericClassTest.cs
  tracer/test/test-applications/debugger/dependency-libs/Samples.Probes.TestRuns/SmokeTests/AsyncMethodRedactionTest.cs
  tracer/test/test-applications/debugger/dependency-libs/Samples.Probes.TestRuns/SmokeTests/AsyncSpanOnMethodWithArgsTest.cs
  tracer/test/test-applications/debugger/dependency-libs/Samples.Probes.TestRuns/SmokeTests/AsyncSpanOnMethodWithExceptionProbeTest.cs
  tracer/test/test-applications/debugger/dependency-libs/Samples.Probes.TestRuns/SmokeTests/GenericByRefLikeTest.cs
  tracer/test/test-applications/debugger/dependency-libs/Samples.Probes.TestRuns/SmokeTests/GenericInnerValueTypeTest.cs
  tracer/test/test-applications/debugger/dependency-libs/Samples.Probes.TestRuns/SmokeTests/RedactionTest.cs
  tracer/test/test-applications/debugger/dependency-libs/Samples.Probes.TestRuns/SmokeTests/SpanDecorationAsync.cs
  tracer/test/test-applications/debugger/dependency-libs/Samples.Probes.TestRuns/SmokeTests/SpanDecorationSameTagsFirstErrorAsync.cs
  tracer/test/test-applications/debugger/dependency-libs/Samples.Probes.TestRuns/SmokeTests/SpanOnMethodWithArgsTest.cs
  tracer/test/test-applications/debugger/dependency-libs/Samples.Probes.TestRuns/SmokeTests/SpanOnMethodWithExceptionProbeTest.cs
Labels: area:debugger

#4788 [Profiler] Add a scenario with obfuscation
  profiler/src/Demos/Samples.Computer01/ComputerService.cs
  profiler/src/Demos/Samples.Computer01/Obfuscation.cs
  profiler/src/Demos/Samples.Computer01/Program.cs
  profiler/src/Demos/Samples.Computer01/Samples.Computer01.csproj
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ThreadCpuInfo.cpp
Labels: area:profiler

#4814 [ASM] Add IAST header tainting integration tests
  tracer/test/Datadog.Trace.Security.IntegrationTests/AspNetBase.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/IAST/AspNetCore5IastTests.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/IAST/AspNetMvc5IastTests.cs
  tracer/test/snapshots/Iast.ExecuteCommandFromHeader.AspNetMvc5.IastDisabled.verified.txt
  tracer/test/snapshots/Iast.ExecuteCommandFromHeader.AspNetMvc5.IastEnabled.verified.txt
  tracer/test/snapshots/Iast.HeaderTainting.AspNetCore5.IastDisabled.verified.txt
  tracer/test/snapshots/Iast.HeaderTainting.AspNetCore5.IastEnabled.RedactionEnabled.verified.txt
  tracer/test/snapshots/Iast.HeaderTainting.AspNetCore5.IastEnabled.verified.txt
  tracer/test/test-applications/security/Samples.Security.AspNetCore5/Controllers/IastController.cs
  tracer/test/test-applications/security/aspnet/Samples.Security.AspNetMvc5/Controllers/IastController.cs
Labels: area:tests, area:asm, area:asm-iast

#4825 Add support for NUnit 3.14.0
  tracer/build/PackageVersionsLatestMajors.g.props
  tracer/build/PackageVersionsLatestMinors.g.props
  tracer/build/PackageVersionsLatestSpecific.g.props
  tracer/build/supported_versions.json
  tracer/dependabot/Datadog.Dependabot.Integrations.csproj
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/NUnit/NUnitCompositeWorkItemSkipChildrenIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/NUnit/NUnitCompositeWorkItemSkipChildrenIntegration_V3_14_0.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestMajors.g.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestMinors.g.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestSpecific.g.cs
Labels: area:ci-visibility, area:integrations

#4810 Stop pushing to the reliability environment
  .azure-pipelines/ultimate-pipeline.yml
  .github/workflows/auto_create_rel_env_release_images.yml
  .gitlab-ci.yml
Labels: area:builds, type:cleanup

#4819 Improve `HostMetadata.OsVersion` value
  tracer/src/Datadog.Trace/FrameworkDescription.NetCore.cs
  tracer/src/Datadog.Trace/FrameworkDescription.NetFramework.cs
  tracer/src/Datadog.Trace/FrameworkDescription.cs
  tracer/src/Datadog.Trace/Telemetry/Collectors/ApplicationTelemetryCollector.cs
  tracer/test/Datadog.Trace.Tests/FrameworkDescriptionTests.cs
Labels: area:tracer, area:telemetry

#4826 Fix flaky DSM transport test
  tracer/test/Datadog.Trace.Tests/DataStreamsMonitoring/DataStreamsMonitoringTransportTests.cs
Labels: area:builds, area:tests

#4809 [ASM] unknown type to encode: log debug instead of warning
  tracer/src/Datadog.Trace/AppSec/Waf/Encoder.cs
Labels: area:asm

#4838 [CI] Rerun waf download If it times out
  tracer/build/_build/Build.Steps.cs
Labels: area:builds

#4830 Fix `config_norm_rules.json` and `config_prefix_block_list.json`
  tracer/test/Datadog.Trace.Tests/Telemetry/config_norm_rules.json
  tracer/test/Datadog.Trace.Tests/Telemetry/config_prefix_block_list.json
Labels: area:tests

#4840 [Test] Add propagator injection unit tests using 128-bit trace-ids
  tracer/test/Datadog.Trace.Tests/Propagators/MultiSpanContextPropagatorTests.cs
  tracer/test/Datadog.Trace.Tests/Propagators/W3CTraceContextPropagatorTests.cs
Labels: area:tests

#4776 [DSM] - Initial IBM MQ support
  docs/development/IbmMq.md
  tracer/build/_build/Honeypot/IntegrationGroups.cs
  tracer/build/supported_versions.json
  tracer/dependabot/Datadog.Dependabot.Integrations.csproj
  tracer/src/Datadog.Trace.Trimming/build/Datadog.Trace.Trimming.xml
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/IbmMq/GetIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/IbmMq/IMqMessage.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/IbmMq/IMqQueue.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/IbmMq/IbmMqConstants.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/IbmMq/IbmMqHeadersAdapter.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/IbmMq/IbmMqHelper.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/IbmMq/PutIntegration.cs
  tracer/src/Datadog.Trace/Configuration/IntegrationId.cs
  tracer/src/Datadog.Trace/Configuration/Schema/MessagingSchema.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/IntegrationIdExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/TagListGenerator/IbmMqTags.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/CiVisibilityMetricsTelemetryCollector_CountShared.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_CountShared.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/IntegrationIdExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/TagListGenerator/IbmMqTags.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/CiVisibilityMetricsTelemetryCollector_CountShared.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_CountShared.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/IntegrationIdExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/TagListGenerator/IbmMqTags.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/CiVisibilityMetricsTelemetryCollector_CountShared.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_CountShared.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/IntegrationIdExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/TagListGenerator/IbmMqTags.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/CiVisibilityMetricsTelemetryCollector_CountShared.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_CountShared.g.cs
  tracer/src/Datadog.Trace/Tagging/IbmMqTags.cs
  tracer/src/Datadog.Trace/Telemetry/Metrics/IntegrationIdExtensions.cs
  tracer/src/Datadog.Trace/Telemetry/Metrics/MetricTags.cs
Labels: area:tracer, type:new-feature, area:integrations

#4844 Try to fix the pipeline monitor
  .azure-pipelines/ultimate-pipeline.yml
  tracer/tools/PipelineMonitor/Program.cs
  tracer/tools/PipelineMonitor/Timeline.cs
Labels: area:builds

#4727 Build standalone trimmed version for net7.0
  tracer/build/_build/Build.VariableGenerations.cs
  tracer/build/_build/Build.cs
  tracer/src/Datadog.Trace.Tools.Runner/Aot/AotProcessor.cs
  tracer/src/Datadog.Trace.Tools.Runner/Datadog.Trace.Tools.Runner.csproj
Labels: area:builds, area:tools

#4848 [CI] Delete previously generated files on Windows
  .github/workflows/verify_source_generated_changes_are_persisted.yml
  tracer/build/_build/Build.Steps.cs
Labels: area:builds

#4842 [Profiler] Adjust Linux smoke test to avoid flakiness
  profiler/test/Datadog.Profiler.IntegrationTests/LinuxOnly/UnwinderCrash.cs
Labels: area:profiler

#4763 [Profiler] Refactoring to better wrap libdatadog
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/AgentProxy.hpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CorProfilerCallback.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Datadog.Profiler.Native.vcxproj
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Datadog.Profiler.Native.vcxproj.filters
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/EncodedProfile.hpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Exception.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Exception.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Exporter.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Exporter.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ExporterBuilder.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ExporterBuilder.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/FfiHelper.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/FfiHelper.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/FileHelper.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/FileHelper.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/FileSaver.hpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/LibddprofExporter.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Profile.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Profile.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ProfileExporter.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ProfileExporter.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ProfileImpl.hpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Success.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Success.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/SuccessImpl.hpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Tags.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Tags.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/TagsImpl.hpp
  profiler/test/Datadog.Profiler.IntegrationTests/WindowsOnly/NamedPipeTestcs.cs
  profiler/test/Datadog.Profiler.Native.Tests/Datadog.Profiler.Native.Tests.vcxproj
  profiler/test/Datadog.Profiler.Native.Tests/Datadog.Profiler.Native.Tests.vcxproj.filters
  profiler/test/Datadog.Profiler.Native.Tests/ErrorCodeTest.cpp
  profiler/test/Datadog.Profiler.Native.Tests/ExporterTest.cpp
  profiler/test/Datadog.Profiler.Native.Tests/ProfileExporterTest.cpp
  profiler/test/Datadog.Profiler.Native.Tests/ProfileTest.cpp
  profiler/test/Datadog.Profiler.Native.Tests/SampleValueTypeProviderTest.cpp
  profiler/test/Datadog.Profiler.Native.Tests/TagsTest.cpp
Labels: area:profiler

#4803 [Profiler] Skip LinuxOnly Tests in VS Test explorer
  profiler/test/Datadog.Profiler.IntegrationTests/Helpers/EnvironmentHelper.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Xunit/TestAppFrameworkDiscover.cs
Labels: area:profiler

#4849 Tiny fix for crashing if `DD_PROFILER_ENABLED` is not set
  tracer/src/Datadog.Trace.BenchmarkDotNet/DatadogExtensions.cs
Labels: type:bug, area:benchmarks

#4850 Update xunit testing to latest
  tracer/build/PackageVersionsLatestMajors.g.props
  tracer/build/PackageVersionsLatestMinors.g.props
  tracer/build/PackageVersionsLatestSpecific.g.props
  tracer/build/supported_versions.json
  tracer/dependabot/Datadog.Dependabot.Integrations.csproj
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestMajors.g.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestMinors.g.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestSpecific.g.cs
  tracer/test/test-applications/integrations/Samples.XUnitTests/Samples.XUnitTests.csproj
Labels: area:tests, area:test-apps, area:dependabot

#4843 Try to fix flake in hardcoded secrets test
  tracer/src/Datadog.Trace/IAST/Analyzers/HardcodedSecretsAnalyzer.cs
  tracer/src/Datadog.Trace/Iast/Iast.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/IAST/HardcodedSecretsTests.cs
Labels: area:tests, area:asm-iast

#4832 Update source generator to record the "instrumented assemblies"
  tracer/src/Datadog.Trace.SourceGenerators/InstrumentationDefinitions/Sources.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/test/Datadog.Trace.SourceGenerators.Tests/InstrumentationDefinitionsGeneratorTests.cs
Labels: area:telemetry

#4854 [Profiler/CI] Align Cppcheck commandline linux/windows
  tracer/build/_build/Build.Profiler.Steps.cs
Labels: area:builds, area:profiler

#4855 [Profiler] Fix compilation warnings
  profiler/src/Demos/Samples.Computer01/ComputerService.cs
  profiler/src/Demos/Samples.Computer01/Obfuscation.cs
Labels: area:profiler

#4858 Re-instate the building of the system-test docker images
  .azure-pipelines/ultimate-pipeline.yml
  .github/actions/create-system-test-docker-base-images/action.yml
  .github/workflows/create-system-test-docker-base-images.yml
Labels: area:builds

#4801 [ASM] Enable IAST coverage tests NET8
  tracer/src/Datadog.Trace/Iast/Aspects/System.Text/StringBuilderAspects.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/IAST/IastInstrumentationUnitTests.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/String/StringFormatTests.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/String/StringJoinTests.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/StringBuilder/StringBuilderAppendFormatTests.cs
  tracer/test/test-applications/security/Samples.Security.AspNetCore5/Properties/launchSettings.json
Labels: area:asm, area:asm-iast

#4833 Add redacted-error-log telemetry collector and sinks
  tracer/src/Datadog.Trace/Configuration/ConfigurationKeys.cs
  tracer/src/Datadog.Trace/Logging/Internal/Configuration/DatadogLoggingConfiguration.cs
  tracer/src/Datadog.Trace/Logging/Internal/Configuration/RedactedErrorLoggingConfiguration.cs
  tracer/src/Datadog.Trace/Logging/Internal/DatadogLoggingFactory.cs
  tracer/src/Datadog.Trace/Logging/Internal/RedactedErrorLogSink.cs
  tracer/src/Datadog.Trace/Telemetry/Collectors/RedactedErrorLogCollector.cs
  tracer/src/Datadog.Trace/Telemetry/DTOs/LogMessageData.cs
  tracer/src/Datadog.Trace/Telemetry/DTOs/LogsPayload.cs
  tracer/src/Datadog.Trace/Telemetry/DTOs/TelemetryLogLevel.cs
  tracer/src/Datadog.Trace/Telemetry/TelemetryController.cs
  tracer/src/Datadog.Trace/Telemetry/TelemetryDataBuilder.cs
  tracer/src/Datadog.Trace/Telemetry/TelemetryFactory.cs
  tracer/src/Datadog.Trace/Telemetry/TelemetryRequestTypes.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/TelemetryTests.cs
  tracer/test/Datadog.Trace.TestHelpers/MockTelemetryAgent.cs
  tracer/test/Datadog.Trace.Tests/Logging/DatadogLoggingFactoryTests.cs
  tracer/test/Datadog.Trace.Tests/Logging/DatadogLoggingTests.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/Collectors/RedactedErrorLogCollectorTests.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/TelemetryControllerSchedulerTests.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/TelemetryControllerTests.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/TelemetryDataBuilderTests.cs
  tracer/test/Datadog.Trace.Tests/TracerInstanceTest.cs
Labels: area:telemetry

#4817 [tests] small clean up in `VerifyHelper`
  tracer/src/Datadog.Trace/Agent/MessagePack/SpanModel.cs
  tracer/src/Datadog.Trace/Agent/MessagePack/TraceChunkModel.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/Azure/AzureServiceBusTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/RabbitMQTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/ServiceStackRedisTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/StackExchangeRedisTests.cs
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Datadog.Trace.Debugger.IntegrationTests.csproj
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Helpers/VerifyHelper.cs
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/ProbesTests.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/AspNetBase.cs
  tracer/test/Datadog.Trace.TestHelpers.SharedSource/VerifyHelper.cs
  tracer/test/Datadog.Trace.Tests/Tagging/TraceTagCollectionTests.cs
Labels: area:tests, type:cleanup

#4869 Update to .NET 8 GA release
  .azure-pipelines/noop-pipeline.yml
  .azure-pipelines/ultimate-pipeline.yml
  .github/actions/run-in-docker/action.yml
  .github/workflows/auto_add_vnext_milestone_to_pr.yml
  .github/workflows/auto_bump_test_package_versions.yml
  .github/workflows/auto_check_snapshots.yml
  .github/workflows/auto_create_version_bump_pr.yml
  .github/workflows/auto_label_prs.yml
  .github/workflows/auto_update_benchmark_branches.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/create-system-test-docker-base-images.yml
  .github/workflows/create_draft_release.yml
  .github/workflows/create_hotfix_branch.yml
  .github/workflows/force_manual_version_bump.yml
  .github/workflows/generate_package_versions.yml
  .github/workflows/lib-injection.yml
  .github/workflows/verify_app_trimming_changes_are_persisted.yml
  .github/workflows/verify_integrations_map_added.yml
  .github/workflows/verify_source_generated_changes_are_persisted.yml
  .github/workflows/verify_span_metadata_markdown_is_updated.yml
  .gitlab-ci.yml
  docker-compose.yml
  docs/development/CI/RunSmokeTestsLocally.md
  global.json
  profiler/src/Demos/Samples.Computer01/Samples.Computer01.csproj
  profiler/src/Demos/Samples.FileAccess/Samples.FileAccess.csproj
  tracer/build/_build/docker/gitlab/gitlab.windows.dockerfile
  tracer/build_in_docker.ps1
  tracer/build_in_docker.sh
  tracer/test/Datadog.Trace.IntegrationTests/Datadog.Trace.IntegrationTests.csproj
  tracer/test/test-applications/security/Samples.Security.AspNetCore5/Samples.Security.AspNetCore5.csproj
Labels: area:builds

#4834 Add redaction of telemetry error logs
  tracer/src/Datadog.Trace.Trimming/build/Datadog.Trace.Trimming.xml
  tracer/src/Datadog.Trace/Logging/Internal/ExceptionRedactor.cs
  tracer/src/Datadog.Trace/Logging/Internal/RedactedErrorLogSink.cs
  tracer/src/Datadog.Trace/Telemetry/TelemetryController.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/TelemetryTests.cs
  tracer/test/Datadog.Trace.Tests/Datadog.Trace.Tests.csproj
  tracer/test/Datadog.Trace.Tests/Logging/DatadogLoggingTests.cs
  tracer/test/Datadog.Trace.Tests/Logging/ExceptionRedactorTests.cs
Labels: area:telemetry

#4835 Add de-duplication of telemetry logs
  tracer/src/Datadog.Trace/Logging/DirectSubmission/Formatting/EventIdHash.cs
  tracer/src/Datadog.Trace/Logging/Internal/RedactedErrorLogSink.cs
  tracer/src/Datadog.Trace/Telemetry/Collectors/RedactedErrorLogCollector.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/Collectors/RedactedErrorLogCollectorTests.cs
Labels: area:telemetry

#4860 Fix `NullReferenceException` in SQS integration
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/SQS/AwsSqsCommon.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/SQS/CreateQueueAsyncIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/SQS/CreateQueueIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/SQS/DeleteMessageAsyncIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/SQS/DeleteMessageBatchAsyncIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/SQS/DeleteMessageBatchIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/SQS/DeleteMessageIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/SQS/DeleteQueueAsyncIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/SQS/DeleteQueueIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/SQS/ReceiveMessageAsyncIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/SQS/ReceiveMessageIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/SQS/SendMessageAsyncIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/SQS/SendMessageBatchAsyncIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/SQS/SendMessageBatchIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/SQS/SendMessageIntegration.cs
Labels: type:bug, area:integrations

#4871 Fix system-test snapshot image creation
  .github/actions/create-system-test-docker-base-images/action.yml
  .github/workflows/create-system-test-docker-base-images.yml
  tracer/build/_build/Build.GitHub.cs
  tracer/build/_build/docker/reliability-env/Dockerfile
  tracer/build/_build/docker/reliability-env/ddtrace-info.sh
  tracer/build/_build/docker/reliability-env/query-versions.fsx
  tracer/build/_build/docker/system-tests.dockerfile
Labels: area:builds

#4874 Actually, really, definitely, fix the system-tests docker image
  .github/actions/create-system-test-docker-base-images/action.yml
  .github/workflows/create-system-test-docker-base-images.yml
Labels: area:builds

#4836 [ASM] X-Content-Type header missing vulnerability
  tracer/src/Datadog.Trace/AspNet/TracingHttpModule.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AspNetCore/FireOnStartCommon.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/IastInstrumentedSinksExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/IastInstrumentedSinksExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/IastInstrumentedSinksExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/IastInstrumentedSinksExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Iast/EvidenceConverter.cs
  tracer/src/Datadog.Trace/Iast/IastModule.cs
  tracer/src/Datadog.Trace/Iast/ReturnedHeadersAnalyzer.cs
  tracer/src/Datadog.Trace/Iast/SensitiveData/EvidenceRedactor.cs
  tracer/src/Datadog.Trace/Iast/Telemetry/ExecutedTelemetryHelper.cs
  tracer/src/Datadog.Trace/Iast/Vulnerability.cs
  tracer/src/Datadog.Trace/Iast/VulnerabilityBatch.cs
  tracer/src/Datadog.Trace/Iast/VulnerabilityType.cs
  tracer/src/Datadog.Trace/Iast/VulnerabilityTypeName.cs
  tracer/src/Datadog.Trace/Telemetry/Metrics/MetricTags.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/IAST/AspNetCore2IastTests.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/IAST/AspNetCore5IastTests.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/IAST/AspNetMvc5IastTests.cs
  tracer/test/snapshots/Iast.PathTraversal.AspNetCore2.TelemetryEnabled.verified.txt
  tracer/test/snapshots/Iast.PathTraversal.AspNetCore5.TelemetryEnabled.verified.txt
  tracer/test/snapshots/Iast.XContentTypeHeaderMissing.AspNetCore2.applicationxhtml%2Bxml.200.empty.verified.txt
  tracer/test/snapshots/Iast.XContentTypeHeaderMissing.AspNetCore2.texthtml.200.dummyvalue.verified.txt
  tracer/test/snapshots/Iast.XContentTypeHeaderMissing.AspNetCore2.texthtml.200.nosniff.verified.txt
  tracer/test/snapshots/Iast.XContentTypeHeaderMissing.AspNetCore2.texthtml.500.empty.verified.txt
  tracer/test/snapshots/Iast.XContentTypeHeaderMissing.AspNetCore2.texthtml; charset=UTF-8.200.empty.verified.txt
  tracer/test/snapshots/Iast.XContentTypeHeaderMissing.AspNetCore2.textplain.200.empty.verified.txt
  tracer/test/snapshots/Iast.XContentTypeHeaderMissing.AspNetCore5.applicationxhtml%2Bxml.200.empty.verified.txt
  tracer/test/snapshots/Iast.XContentTypeHeaderMissing.AspNetCore5.texthtml.200.dummyvalue.verified.txt
  tracer/test/snapshots/Iast.XContentTypeHeaderMissing.AspNetCore5.texthtml.200.nosniff.verified.txt
  tracer/test/snapshots/Iast.XContentTypeHeaderMissing.AspNetCore5.texthtml.500.empty.verified.txt
  tracer/test/snapshots/Iast.XContentTypeHeaderMissing.AspNetCore5.texthtml; charset=UTF-8.200.empty.verified.txt
  tracer/test/snapshots/Iast.XContentTypeHeaderMissing.AspNetCore5.textplain.200.empty.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5.Classic.enableIast=true.path=_Iast_XContentTypeHeaderMissing-contentType=text_html&returnCode=200&xContentTypeHeaderValue=dummyvalue.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5.Integrated.enableIast=true.path=_Iast_XContentTypeHeaderMissing-contentType=application_xhtml%2Bxml&returnCode=200.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5.Integrated.enableIast=true.path=_Iast_XContentTypeHeaderMissing-contentType=text_html&returnCode=200&xContentTypeHeaderValue=dummyvalue.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5.Integrated.enableIast=true.path=_Iast_XContentTypeHeaderMissing-contentType=text_html&returnCode=200&xContentTypeHeaderValue=nosniff.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5.Integrated.enableIast=true.path=_Iast_XContentTypeHeaderMissing-contentType=text_html&returnCode=500.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5.Integrated.enableIast=true.path=_Iast_XContentTypeHeaderMissing-contentType=text_html;charset=UTF-8&returnCode=200.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5.Integrated.enableIast=true.path=_Iast_XContentTypeHeaderMissing-contentType=text_plain&returnCode=200.verified.txt
  tracer/test/test-applications/security/Samples.Security.AspNetCore5/Controllers/IastController.cs
  tracer/test/test-applications/security/aspnet/Samples.Security.AspNetMvc5/Controllers/IastController.cs
Labels: area:asm, area:asm-iast

#4872 Stop recording individual integration telemetry
  tracer/src/Datadog.Trace/Configuration/ConfigurationSources/Telemetry/ConfigurationOrigins.cs
  tracer/src/Datadog.Trace/Configuration/GitMetadataTagsProvider.cs
  tracer/src/Datadog.Trace/Configuration/ImmutableTracerSettings.cs
  tracer/src/Datadog.Trace/Configuration/IntegrationId.cs
  tracer/src/Datadog.Trace/Configuration/IntegrationSettings.cs
  tracer/src/Datadog.Trace/Configuration/IntegrationSettingsCollection.cs
  tracer/src/Datadog.Trace/Configuration/TracerSettings.cs
  tracer/src/Datadog.Trace/Configuration/TracerSettingsSnapshot.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/ConfigurationOriginsExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/ConfigurationOriginsExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/ConfigurationOriginsExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/ConfigurationOriginsExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/TracerManagerFactory.cs
  tracer/test/Datadog.Trace.TestHelpers/MockTelemetryAgent.cs
  tracer/test/Datadog.Trace.Tests/Configuration/ImmutableTracerSettingsTests.cs
  tracer/test/Datadog.Trace.Tests/Configuration/TracerSettingsSnapshotTests.cs
Labels: area:telemetry

#4857 [Build] Update deb/rpm packaging with arm64 variant (APMON-377)
  .gitlab-ci.yml
  .gitlab/build-deb-rpm.sh
Labels: area:builds

#4881 Add testing for Microsoft.Data.Sqlite
  tracer/build/PackageVersionsGeneratorDefinitions.json
  tracer/build/PackageVersionsLatestMajors.g.props
  tracer/build/PackageVersionsLatestMinors.g.props
  tracer/build/PackageVersionsLatestSpecific.g.props
  tracer/build/supported_versions.json
  tracer/dependabot/Datadog.Dependabot.Integrations.csproj
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestMajors.g.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestMinors.g.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestSpecific.g.cs
Labels: area:tests, area:dependabot

#4875 Run ARM64 integration tests against .NET 8
  .azure-pipelines/ultimate-pipeline.yml
Labels: area:builds, area:tests

#4856 [ASM] Add the vale of the cookie/header name in source
  tracer/src/Datadog.Trace/Iast/IastRequestContext.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/IAST/AspNetCore5IastTests.cs
  tracer/test/snapshots/Iast.CookieName.AspNetCore5.TelemetryEnabled.verified.txt
  tracer/test/test-applications/security/Samples.Security.AspNetCore5/Controllers/IastController.cs
Labels: area:asm, area:asm-iast

#4883 Fix the system-test docker images once and for all
  tracer/build/_build/docker/system-tests.dockerfile
Labels: area:builds

#4885 Record duplicate log count in log-message data
  tracer/src/Datadog.Trace/Telemetry/Collectors/RedactedErrorLogCollector.cs
  tracer/src/Datadog.Trace/Telemetry/DTOs/LogMessageData.cs
  tracer/src/Datadog.Trace/Telemetry/TelemetryController.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/Collectors/RedactedErrorLogCollectorTests.cs
Labels: area:telemetry

#4895 Fix localstack not starting issue
  docker-compose.yml
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AWS/AwsSqsTests.cs
Labels: area:builds

#4890 [Profiler] Fix code hotspot feature tests
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CollectorBase.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Sample.h
  profiler/test/Datadog.Profiler.IntegrationTests/CodeHotspot/CodeHotspotTest.cs
Labels: area:profiler

#4863 Add dd-dotnet to path on Windows
  shared/src/msi-installer/Product.wxs
  shared/src/msi-installer/Tracer/Files.wxs
  shared/src/msi-installer/WindowsInstaller.wixproj
  shared/src/msi-installer/WixUI_InstallDir_Custom.wxs
  shared/src/msi-installer/shared/EnvironmentVariables.wxs
Labels: area:installers

#4894 [CI] Make sure all Linux images use Clang 16.0.6
  tracer/build/_build/docker/alpine.build.dockerfile
  tracer/build/_build/docker/alpine.dockerfile
  tracer/build/_build/docker/alpine_build_patch_llvm_clang.sh
  tracer/build/_build/docker/centos7.build.dockerfile
  tracer/build/_build/docker/debian.dockerfile
Labels: area:builds

#4898 Attempt to add ignore various C++ warnings/errors
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/Datadog.Profiler.Native.Linux.vcxproj
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Windows/Datadog.Profiler.Native.Windows.vcxproj
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Datadog.Profiler.Native.vcxproj
  shared/src/Datadog.Trace.ClrProfiler.Native/Datadog.Trace.ClrProfiler.Native.vcxproj
  tracer/src/Datadog.Tracer.Native/Datadog.Tracer.Native.DLL.vcxproj
  tracer/src/Datadog.Tracer.Native/Datadog.Tracer.Native.vcxproj
Labels: area:builds

#4713 [IAST] Added StringAspects.Concat() micro benchmark
  tracer/src/Datadog.Trace/Iast/Iast.cs
  tracer/test/benchmarks/Benchmarks.Trace/Benchmarks.Trace.csproj
  tracer/test/benchmarks/Benchmarks.Trace/Iast/StringAspectsBenchmark.cs
Labels: area:benchmarks, area:asm, area:asm-iast

#4879 Reinstate version mismatch tests
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/TraceAnnotationsTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/VersionConflict/ILoggerVersionConflict2xTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/VersionConflict/Log4NetVersionConflict2xTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/VersionConflict/NLogVersionConflict2xTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/VersionConflict/SerilogVersionConflict2xTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/VersionConflict/VersionConflict2xTests.cs
  tracer/test/snapshots/TraceAnnotationsVersionMismatchNewerNuGetTests._.verified.txt
  tracer/test/test-applications/integrations/Samples.TraceAnnotations.VersionMismatch.AfterFeature/Samples.TraceAnnotations.VersionMismatch.AfterFeature.csproj
  tracer/test/test-applications/integrations/Samples.TraceAnnotations.VersionMismatch.NewerNuGet/Samples.TraceAnnotations.VersionMismatch.NewerNuGet.csproj
  tracer/test/test-applications/integrations/Samples.VersionConflict.2x/Samples.VersionConflict.2x.csproj
  tracer/test/test-applications/integrations/dependency-libs/LogsInjectionHelper.VersionConflict/LogsInjectionHelper.VersionConflict.csproj
Labels: area:tests

#4888 Remove pre-.NET8 workaround for MacOS in CI
  tracer/build/_build/Build.Steps.cs
Labels: area:builds

#4903 Add support for WCF Web HTTP `UriTemplate`s in WCF integration
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Wcf/AsyncMethodInvoker_InvokeBegin_Integration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Wcf/AsyncMethodInvoker_InvokeEnd_Integration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Wcf/ChannelHandlerIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Wcf/SyncMethodInvokerIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Wcf/TaskMethodInvokerIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Wcf/UriTemplateMatchStruct.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Wcf/WcfCommon.cs
  tracer/src/Datadog.Trace/Configuration/ConfigurationKeys.cs
  tracer/src/Datadog.Trace/Configuration/ImmutableTracerSettings.cs
  tracer/src/Datadog.Trace/Configuration/TracerSettings.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/WcfTests.cs
  tracer/test/Datadog.Trace.Tests/Configuration/TracerSettingsTests.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/config_norm_rules.json
  tracer/test/snapshots/WcfTests.WebHttp_v0.disabled.verified.txt
  tracer/test/snapshots/WcfTests.WebHttp_v0.webHttp.verified.txt
  tracer/test/snapshots/WcfTests.WebHttp_v1.disabled.verified.txt
  tracer/test/snapshots/WcfTests.WebHttp_v1.webHttp.verified.txt
  tracer/test/test-applications/integrations/Samples.Wcf/Program.cs
  tracer/test/test-applications/integrations/Samples.Wcf/Samples.Wcf.csproj
  tracer/test/test-applications/integrations/Samples.Wcf/Server/CalculatorArguments.cs
  tracer/test/test-applications/integrations/Samples.Wcf/Server/HttpCalculator.cs
  tracer/test/test-applications/integrations/Samples.Wcf/Server/IHttpCalculator.cs
Labels: type:enhancement, area:tracer, area:integrations

#4907 Fix recheck interval in DiscoveryService
  tracer/src/Datadog.Trace/Agent/DiscoveryService/DiscoveryService.cs
Labels: area:tracer

#4719 [Profiler] Bump libdatadog to 5.0.0
  build/cmake/FindLibdatadog.cmake
  profiler/cppcheck-suppressions.txt
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Windows/Datadog.Profiler.Native.Windows.vcxproj
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Windows/packages.config
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/AgentProxy.hpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/AllocationsProvider.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CollectorBase.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ContentionProvider.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CpuTimeProvider.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Datadog.Profiler.Native.vcxproj
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ExceptionsProvider.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Exporter.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/GarbageCollectionProvider.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/IExporter.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Profile.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Profile.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ProfileExporter.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ProfileExporter.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ProfileImpl.hpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Sample.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Sample.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/StopTheWorldGCProvider.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ThreadLifetimeProvider.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/WallTimeProvider.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/packages.config
  profiler/test/CMakeLists.txt
  profiler/test/Datadog.Profiler.IntegrationTests/Allocations/AllocationsProfilerTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/CodeHotspot/CodeHotspotTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Datadog.Profiler.IntegrationTests.csproj
  profiler/test/Datadog.Profiler.IntegrationTests/Exceptions/ExceptionsTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Helpers/SamplesHelper.cs
  profiler/test/Datadog.Profiler.Native.Tests/Datadog.Profiler.Native.Tests.vcxproj
  profiler/test/Datadog.Profiler.Native.Tests/ExporterTest.cpp
  profiler/test/Datadog.Profiler.Native.Tests/ProfileTest.cpp
  profiler/test/Datadog.Profiler.Native.Tests/packages.config
Labels: area:profiler

#4908 [Profiler] Adjust profiler tests for .NET 8
  profiler/test/Datadog.Profiler.IntegrationTests/Exceptions/ExceptionsTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Signature/SignatureTest.cs
Labels: area:profiler

#4910 Add support for Npgqsl 8.0.0
  tracer/build/PackageVersionsGeneratorDefinitions.json
  tracer/build/PackageVersionsLatestMajors.g.props
  tracer/build/PackageVersionsLatestMinors.g.props
  tracer/build/PackageVersionsLatestSpecific.g.props
  tracer/build/supported_versions.json
  tracer/dependabot/Datadog.Dependabot.Integrations.csproj
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AdoNet/Npgsql/NpgsqlDefinitions.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestMajors.g.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestMinors.g.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestSpecific.g.cs
Labels: area:tracer, area:integrations

#4909 [DBM] Don't inject DBM attributes into `IDbCommand` twice
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AdoNet/DbScopeFactory.cs
  tracer/test/Datadog.Trace.ClrProfiler.Managed.Tests/DbScopeFactoryTests.cs
Labels: area:tracer, feature:database-monitoring

#4911 Add support for ServiceStack.Redis 8.0.0
  tracer/build/PackageVersionsGeneratorDefinitions.json
  tracer/build/PackageVersionsLatestMajors.g.props
  tracer/build/PackageVersionsLatestMinors.g.props
  tracer/build/PackageVersionsLatestSpecific.g.props
  tracer/build/supported_versions.json
  tracer/dependabot/Datadog.Dependabot.Integrations.csproj
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Redis/ServiceStack/RedisNativeClientSendReceiveIntegration_6_2_0.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersions.g.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestMajors.g.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestMinors.g.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestSpecific.g.cs
Labels: area:tracer, area:integrations

#4918 Add null reference checks to elasticsearch7 integration
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Elasticsearch/ElasticsearchNetCommon.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Elasticsearch/V7/IApiCallDetails.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Elasticsearch/V7/IElasticsearchResponse.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Elasticsearch/V7/Transport_RequestAsync_Integration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Elasticsearch/V7/Transport_Request_Integration.cs
Labels: type:bug, area:tracer, area:integrations

#4917 Add null reference checks to SNS integration
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/SNS/AwsSnsCommon.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/SNS/ContextPropagation.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/SNS/IAmazonSNSRequestWithTopicArn.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/SNS/IContainsMessageAttributes.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/SNS/IPublishRequest.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/SNS/PublishAsyncIntegration.cs
Labels: type:bug, area:tracer, area:integrations

#4683 [Profiler] Update managed projects to net462
  Datadog.Profiler.sln
  profiler/src/Demos/Directory.Build.props
  profiler/src/Demos/NoOpWcfService/NoOpWcfService.csproj
  profiler/src/Demos/Samples.BuggyBits/Samples.BuggyBits.csproj
  profiler/src/Demos/Samples.Computer01/Samples.Computer01.csproj
  profiler/src/Demos/Samples.ExceptionGenerator/Samples.ExceptionGenerator.csproj
  profiler/src/Demos/Samples.FileAccess/Program.cs
  profiler/src/Demos/Samples.FileAccess/Samples.FileAccess.csproj
  profiler/src/Demos/Samples.ParallelCountSites/Samples.ParallelCountSites.csproj
  profiler/src/Demos/Samples.Website-AspNetCore01/Samples.Website-AspNetCore01.csproj
  profiler/src/Demos/Samples.WindowsService01/App.config
  profiler/src/Demos/Samples.WindowsService01/Samples.WindowsService01.csproj
  profiler/src/Demos/Shared/RuntimeMetrics/RuntimeMetrics.csproj
  profiler/src/Demos/Shared/Util/Datadog.Demos.Util.csproj
  profiler/src/Demos/WcfService/Client/App.config
  profiler/src/Demos/WcfService/Client/WcfServiceClient.csproj
  profiler/src/Demos/WcfService/Host/App.config
  profiler/src/Demos/WcfService/Host/WcfServiceHost.csproj
  profiler/test/Datadog.Profiler.IntegrationTests/Exceptions/ExceptionsTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/GarbageCollections/GarbageCollectorCpuTimeTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Threads/ThreadLifetimeProviderTest.cs
  profiler/test/Directory.Build.props
Labels: area:profiler

#4919 Increase timeout benchmarks
  .azure-pipelines/ultimate-pipeline.yml
Labels: area:builds

#4921 Add null reference checks to StackExchange.Redis integration
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Redis/RedisHelper.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Redis/RedisTags.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Redis/StackExchange/ConnectionMultiplexerExecuteAsyncImplIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Redis/StackExchange/ConnectionMultiplexerExecuteAsyncImplIntegration_2_6_45.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Redis/StackExchange/ConnectionMultiplexerExecuteSyncImplIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Redis/StackExchange/ConnectionMultiplexerExecuteSyncImplIntegration_2_6_45.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Redis/StackExchange/IConnectionMultiplexer.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Redis/StackExchange/IMessageData.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Redis/StackExchange/IRedisBase.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Redis/StackExchange/MultiplexerData.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Redis/StackExchange/RedisExecuteAsyncIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Redis/StackExchange/RedisExecuteAsyncIntegration_2_6_48.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Redis/StackExchange/RedisExecuteSyncIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Redis/StackExchange/StackExchangeRedisHelper.cs
Labels: type:bug, area:tracer, area:integrations

#4922 Add null reference checks to RabbitMq integration
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/RabbitMQ/AmqpTimestamp.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/RabbitMQ/BasicConsumeIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/RabbitMQ/BasicDeliverAsyncIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/RabbitMQ/BasicDeliverIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/RabbitMQ/BasicGetIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/RabbitMQ/BasicPublishIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/RabbitMQ/ContextPropagation.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/RabbitMQ/ExchangeDeclareIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/RabbitMQ/IAmqpTcpEndpoint.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/RabbitMQ/IBasicGetResult.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/RabbitMQ/IBasicProperties.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/RabbitMQ/IBody.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/RabbitMQ/IConnection.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/RabbitMQ/IConsumer.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/RabbitMQ/IModelBase.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/RabbitMQ/ISession.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/RabbitMQ/QueueBindIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/RabbitMQ/QueueDeclareIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/RabbitMQ/RabbitMQIntegration.cs
Labels: type:bug, area:tracer, area:integrations

#4926 [Tests] Ignore UDS telemetry test on windows
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/TelemetryTests.cs
Labels: area:tests

#4923 Fix `dd_dotnet` version
  tracer/build/_build/Build.GitHub.cs
  tracer/build/_build/PrepareRelease/SetAllVersions.cs
  tracer/src/Datadog.Trace.Tools.dd_dotnet/Datadog.Trace.Tools.dd_dotnet.csproj
Labels: area:builds, area:tools

#4932 [ASM] Downgrade middleware log if no current span found
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AspNetCore/BlockingMiddleware.cs
Labels: area:asm, area:integrations

#4893 [Dynamic Instrumentation] Improved snapshot pruning algorithm
  tracer/src/Datadog.Trace/Debugger/ProbeStatuses/ProbeStatusPoller.cs
  tracer/src/Datadog.Trace/Debugger/Snapshots/SnapshotPruner.cs
  tracer/src/Datadog.Trace/Debugger/Snapshots/SnapshotSlicer.cs
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.LargeSnapshotTest.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/statuses/ProbeTests.LargeSnapshotTest.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/ProbesTests.cs
  tracer/test/Datadog.Trace.Tests/Debugger/SnapshotSlicerTests.SnapshotBiggerThanMaxSize_OneLevel_LevelSliced.verified.txt
  tracer/test/Datadog.Trace.Tests/Debugger/SnapshotSlicerTests.SnapshotBiggerThanMaxSize_ThreeLevel_AllSliced.verified.txt
  tracer/test/Datadog.Trace.Tests/Debugger/SnapshotSlicerTests.SnapshotBiggerThanMaxSize_TwoLevel_OneSliced.verified.txt
  tracer/test/test-applications/debugger/dependency-libs/Samples.Probes.TestRuns/SmokeTests/LargeSnapshotTest.cs
Labels: area:tracer, area:debugger

#4931 Handle exception in MSMQ integration
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Msmq/IMessageQueue.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Msmq/MessageQueue_Purge_Integration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Msmq/MessageQueue_ReceiveCurrent_Integration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Msmq/MessageQueue_SendInternal_Integration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Msmq/MsmqCommon.cs
Labels: type:bug, area:integrations

#4865 [ASM] Handle anonymous types when extracting object
  tracer/src/Datadog.Trace/AppSec/ObjectExtractor.cs
  tracer/src/Datadog.Trace/Util/TypeExtensions.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/ObjectExtractorTests.cs
Labels: area:asm

#4920 Fix ASP.NET Core DiagnosticObserver bugs
  tracer/src/Datadog.Trace/DiagnosticListeners/AspNetCoreDiagnosticObserver.cs
  tracer/src/Datadog.Trace/PlatformHelpers/AspNetCoreHttpRequestHandler.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AspNetCore/AspNetCoreMvc31Tests.cs
  tracer/test/Datadog.Trace.Tests/PlatformHelpers/AspNetCoreHttpRequestHandlerTests.cs
  tracer/test/snapshots/AspNetCoreMvc31Tests.NoFF.__path=__statusCode=200.verified.txt
  tracer/test/snapshots/AspNetCoreMvc31Tests.NoFF.__path=_api_delay_0_statusCode=200.verified.txt
  tracer/test/snapshots/AspNetCoreMvc31Tests.NoFF.__path=_bad-request_statusCode=500.verified.txt
  tracer/test/snapshots/AspNetCoreMvc31Tests.NoFF.__path=_delay_0_statusCode=200.verified.txt
  tracer/test/snapshots/AspNetCoreMvc31Tests.NoFF.__path=_handled-exception_statusCode=500.verified.txt
  tracer/test/snapshots/AspNetCoreMvc31Tests.NoFF.__path=_not-found_statusCode=404.verified.txt
  tracer/test/snapshots/AspNetCoreMvc31Tests.NoFF.__path=_status-code-string_[200]_statusCode=500.verified.txt
  tracer/test/snapshots/AspNetCoreMvc31Tests.NoFF.__path=_status-code_203_statusCode=203.verified.txt
  tracer/test/snapshots/AspNetCoreMvc31Tests.NoFF.__path=_status-code_402_statusCode=402.verified.txt
  tracer/test/snapshots/AspNetCoreMvc31Tests.NoFF.__path=_status-code_500_statusCode=500.verified.txt
  tracer/test/snapshots/AspNetCoreMvc31Tests.WithFF.__path=__statusCode=200.verified.txt
  tracer/test/snapshots/AspNetCoreMvc31Tests.WithFF.__path=_api_delay_0_statusCode=200.verified.txt
  tracer/test/snapshots/AspNetCoreMvc31Tests.WithFF.__path=_bad-request_statusCode=500.verified.txt
  tracer/test/snapshots/AspNetCoreMvc31Tests.WithFF.__path=_delay_0_statusCode=200.verified.txt
  tracer/test/snapshots/AspNetCoreMvc31Tests.WithFF.__path=_handled-exception_statusCode=500.verified.txt
  tracer/test/snapshots/AspNetCoreMvc31Tests.WithFF.__path=_not-found_statusCode=404.verified.txt
  tracer/test/snapshots/AspNetCoreMvc31Tests.WithFF.__path=_status-code-string_[200]_statusCode=500.verified.txt
  tracer/test/snapshots/AspNetCoreMvc31Tests.WithFF.__path=_status-code_203_statusCode=203.verified.txt
  tracer/test/snapshots/AspNetCoreMvc31Tests.WithFF.__path=_status-code_402_statusCode=402.verified.txt
  tracer/test/snapshots/AspNetCoreMvc31Tests.WithFF.__path=_status-code_500_statusCode=500.verified.txt
  tracer/test/test-applications/integrations/Samples.AspNetCoreMvc21/Shared/CustomSpanMiddleware.cs
  tracer/test/test-applications/integrations/Samples.AspNetCoreMvc31/Startup.cs
Labels: type:bug, area:tracer, area:integrations

#4939 Sign `dd-dotnet.exe` that we package in MSI
  tracer/build/_build/Build.Gitlab.cs
Labels: area:builds, area:tools

#4936 Tiny cleanup of static `Tracer` instance usages
  tracer/src/Datadog.Trace/Activity/OtlpHelpers.cs
  tracer/src/Datadog.Trace/ExtensionMethods/SpanExtensions.cs
  tracer/src/Datadog.Trace/SpanContextExtractor.cs
  tracer/src/Datadog.Trace/SpanContextInjector.cs
  tracer/src/Datadog.Trace/SpanExtensions.cs
  tracer/test/Datadog.Trace.Tests/OpenTelemetrySpecialTagRemapperTests.cs
Labels: area:tracer, type:cleanup

#4940 Wire up the DD_TRACE_BATCH_INTERVAL setting
  tracer/src/Datadog.Trace/Agent/AgentWriter.cs
  tracer/src/Datadog.Trace/TracerManagerFactory.cs
Labels: area:tracer
