Repository DataDog/dd-trace-dotnet, pull requests merged in 2023-03, with the labels that each got.

#3805 [ASM] String concat propagation
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.AspectsDefinitions.AspectsDefinitionsGenerator/AspectsDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.AspectsDefinitions.AspectsDefinitionsGenerator/AspectsDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.AspectsDefinitions.AspectsDefinitionsGenerator/AspectsDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.AspectsDefinitions.AspectsDefinitionsGenerator/AspectsDefinitions.g.cs
  tracer/src/Datadog.Trace/IAST/Aspects/System/StringAspects.cs
  tracer/src/Datadog.Trace/IAST/Dataflow/AspectFilter.cs
  tracer/src/Datadog.Trace/IAST/IastModule.cs
  tracer/src/Datadog.Trace/IAST/IastRequestContext.cs
  tracer/src/Datadog.Trace/IAST/Propagation/StringModuleImpl.cs
  tracer/src/Datadog.Trace/IAST/Range.cs
  tracer/src/Datadog.Trace/IAST/Ranges.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.Security.Cryptography/HashAlgorithmAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.Security.Cryptography/SymmetricAlgorithmAspect.cs
  tracer/src/Datadog.Trace/Iast/TaintedObject.cs
  tracer/src/Datadog.Trace/Iast/TaintedObjects.cs
  tracer/src/Datadog.Trace/Util/ThrowHelper.cs
  tracer/src/Datadog.Tracer.Native/iast/dataflow.cpp
  tracer/src/Datadog.Tracer.Native/iast/dataflow.h
  tracer/src/Datadog.Tracer.Native/iast/dataflow_aspects.cpp
  tracer/src/Datadog.Tracer.Native/iast/module_info.cpp
  tracer/test/Datadog.Trace.Security.IntegrationTests/IAST/AspNetCore5IastTests.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/IAST/AspNetMvc5IastTests.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/IAST/IastInstrumentationUnitTests.cs
  tracer/test/snapshots/Iast.SqlInjection.AspNetCore5.IastDisabled.verified.txt
  tracer/test/snapshots/Iast.SqlInjection.AspNetCore5.IastEnabled.verified.txt
  tracer/test/snapshots/Iast.SqlInjection.AspNetMvc5.IastDisabled.verified.txt
  tracer/test/snapshots/Iast.SqlInjection.AspNetMvc5.IastEnabled.verified.txt
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/InstrumentationTestsBase.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/String/StringConcatTests.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/String/StringGeneralTests.cs
  tracer/test/test-applications/security/Samples.Security.AspNetCore5/Properties/launchSettings.json
  tracer/test/test-applications/security/aspnet/Samples.Security.AspNetMvc5/Views/Home/Index.cshtml
Labels: area:asm, area:asm-iast

#3833 Bump DatadogTestLogger version
  tracer/test/Directory.Build.props
Labels: area:tests

#3862 [ASM] Support removing whole files from RC
  tracer/src/Datadog.Trace/AppSec/RcmModels/RemoteConfigurationStatus.cs
  tracer/src/Datadog.Trace/AppSec/Security.cs
  tracer/src/Datadog.Trace/RemoteConfigurationManagement/RemoteConfigurationManager.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/Rcm/AspNetCore5AsmRulesToggle.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/Rcm/AspNetCore5AsmToggle.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/Rcm/RcmBase.cs
  tracer/test/snapshots/Security.AspNetCore5AsmRulesToggle._.verified.txt
Labels: area:asm

#3860 Refine CodeOwners
  .github/CODEOWNERS
Labels: area:builds

#3853 [ASM] Optimize body parsing - part 1
  tracer/src/Datadog.Trace/AppSec/ObjectExtractor.cs
  tracer/test/benchmarks/Benchmarks.Trace/AppSecBodyBenchmark.cs
  tracer/test/benchmarks/Benchmarks.Trace/Benchmarks.Trace.csproj
  tracer/test/benchmarks/Benchmarks.Trace/Classes.cs
Labels: area:asm

#3854 [ASM] Taint String Substring and ToCharArray methods
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.AspectsDefinitions.AspectsDefinitionsGenerator/AspectsDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.AspectsDefinitions.AspectsDefinitionsGenerator/AspectsDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.AspectsDefinitions.AspectsDefinitionsGenerator/AspectsDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.AspectsDefinitions.AspectsDefinitionsGenerator/AspectsDefinitions.g.cs
  tracer/src/Datadog.Trace/IAST/Aspects/System/StringAspects.cs
  tracer/src/Datadog.Trace/IAST/Propagation/StringModuleImpl.cs
  tracer/src/Datadog.Trace/IAST/Ranges.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/IAST/IastInstrumentationUnitTests.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/IAST/WeakHashing/WeakHashingTests.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/InstrumentationTestsBase.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/String/StringSubstringTests.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/String/StringToCharArrayTests.cs
Labels: area:asm, area:asm-iast

#3856 Optimize startup time
  tracer/src/Datadog.Trace/Agent/AgentWriter.cs
  tracer/src/Datadog.Trace/Agent/MessagePack/SpanMessagePackFormatter.cs
  tracer/src/Datadog.Trace/ClrProfiler/Instrumentation.cs
  tracer/src/Datadog.Trace/Logging/DirectSubmission/Sink/PeriodicBatching/BatchingSink.cs
  tracer/src/Datadog.Trace/Telemetry/TelemetryController.cs
  tracer/src/Datadog.Trace/Util/AsyncManualResetEvent.cs
Labels: area:tracer

#3866 Fix the clone-repo template for hotfixes
  .azure-pipelines/steps/clone-repo.yml
  .azure-pipelines/ultimate-pipeline.yml
Labels: area:builds

#3878 [CI Visibility] Update CI Environment Variables spec
  tracer/src/Datadog.Trace/Ci/CIEnvironmentValues.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/Data/appveyor.json
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/Data/azurepipelines.json
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/Data/bitbucket.json
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/Data/bitrise.json
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/Data/buddy.json
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/Data/buildkite.json
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/Data/circleci.json
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/Data/github.json
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/Data/gitlab.json
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/Data/jenkins.json
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/Data/teamcity.json
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/Data/travisci.json
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/Data/usersupplied.json
Labels: area:ci-visibility

#3873 [Tracer] Implement all system-tests W3C tracecontext behaviors
  tracer/src/Datadog.Trace/Propagators/W3CTraceContextPropagator.cs
  tracer/test/Datadog.Trace.Tests/Propagators/W3CTraceContextPropagatorTests.cs
Labels: area:opentelemetry

#3870 [Tracer] Protect against null Activity TraceId
  tracer/src/Datadog.Trace/Activity/Handlers/DefaultActivityHandler.cs
  tracer/src/Datadog.Trace/Tracer.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/NetActivitySdkTests.cs
  tracer/test/snapshots/NetActivitySdkTests.verified.txt
  tracer/test/test-applications/integrations/Samples.NetActivitySdk/Program.cs
Labels: type:bug, area:tracer, area:opentelemetry

#3903 Add support for attach jetbrains products in Benchmark tests
  tracer/test/benchmarks/Benchmarks.Trace/Benchmarks.Trace.csproj
  tracer/test/benchmarks/Benchmarks.Trace/Program.cs
Labels: area:tests

#3898 Add processors benchmarks
  tracer/test/benchmarks/Benchmarks.Trace/TraceProcessorBenchmark.cs
Labels: area:tests

#3906 Exclude `App_LocalResources.` deps from telemetry
  tracer/src/Datadog.Trace/Telemetry/Collectors/DependencyTelemetryCollector.cs
Labels: area:tracer, area:telemetry

#3897 [ASM] Taint string.Join, ToUpper and ToLower methods in IAST
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.AspectsDefinitions.AspectsDefinitionsGenerator/AspectsDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.AspectsDefinitions.AspectsDefinitionsGenerator/AspectsDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.AspectsDefinitions.AspectsDefinitionsGenerator/AspectsDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.AspectsDefinitions.AspectsDefinitionsGenerator/AspectsDefinitions.g.cs
  tracer/src/Datadog.Trace/IAST/Aspects/System/StringAspects.cs
  tracer/src/Datadog.Trace/IAST/Propagation/StringModuleImpl.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/IAST/IastInstrumentationUnitTests.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/InstrumentationTestsBase.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/String/StringCaseChangeTests.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/String/StringConcatTests.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/String/StringJoinTests.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/String/TestClasses.cs
Labels: area:asm, area:asm-iast

#3900 Initial support for isolated Azure Functions (v4)
  Datadog.Trace.sln
  docs/development/AzureFunctions.md
  tracer/build/_build/Honeypot/IntegrationGroups.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Azure/Functions/AzureFunctionsCommon.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Azure/Functions/Isolated/BindingDirection.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Azure/Functions/Isolated/BindingMetadata.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Azure/Functions/Isolated/FunctionBindingsFeatureStruct.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Azure/Functions/Isolated/FunctionDefinitionStruct.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Azure/Functions/Isolated/FunctionExecutionMiddlewareInvokeIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Azure/Functions/Isolated/GrpcMessageConversionExtensionsToRpcHttpIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Azure/Functions/Isolated/HttpHeadersCollection.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Azure/Functions/Isolated/HttpRequestDataStruct.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Azure/Functions/Isolated/IFunctionContext.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Azure/Functions/Isolated/IGrpcCapabilities.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Azure/Functions/Isolated/INullableString.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Azure/Functions/Isolated/ITypedData.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Azure/Functions/Isolated/NullableStringHelper.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Azure/Functions/Isolated/RpcHttpHeadersCollection.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Azure/Functions/Isolated/RpcHttpStruct.cs
  tracer/src/Datadog.Trace/Configuration/ImmutableAzureAppServiceSettings.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.InstrumentationDefinitions.InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.InstrumentationDefinitions.InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.InstrumentationDefinitions.InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Tagging/AzureFunctionsTags.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AzureFunctionsTests.cs
  tracer/test/Datadog.Trace.TestHelpers.AutoInstrumentation/TestHelper.cs
  tracer/test/snapshots/AzureFunctionsTests.Isolated.verified.txt
  tracer/test/test-applications/azure-functions/Samples.AzureFunctions.V4Isolated/AllTriggers.cs
  tracer/test/test-applications/azure-functions/Samples.AzureFunctions.V4Isolated/Program.cs
  tracer/test/test-applications/azure-functions/Samples.AzureFunctions.V4Isolated/Properties/launchSettings.json
  tracer/test/test-applications/azure-functions/Samples.AzureFunctions.V4Isolated/Properties/serviceDependencies.json
  tracer/test/test-applications/azure-functions/Samples.AzureFunctions.V4Isolated/Properties/serviceDependencies.local.json
  tracer/test/test-applications/azure-functions/Samples.AzureFunctions.V4Isolated/Samples.AzureFunctions.V4Isolated.csproj
  tracer/test/test-applications/azure-functions/Samples.AzureFunctions.V4Isolated/host.json
  tracer/test/test-applications/azure-functions/Samples.AzureFunctions.V4Isolated/local.settings.json
Labels: area:tracer, type:new-feature, area:azure-site-extension, area:integrations

#3890 [Test] Fix flakiness in Aerospike integration test - Attempt 1
  tracer/test/test-applications/integrations/Samples.Aerospike/Program.cs
  tracer/test/test-applications/integrations/Samples.Aerospike/Properties/launchSettings.json
Labels: area:tests

#3877 [ASM] Taint string.Remove() and string.Insert() methods in IAST
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.AspectsDefinitions.AspectsDefinitionsGenerator/AspectsDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.AspectsDefinitions.AspectsDefinitionsGenerator/AspectsDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.AspectsDefinitions.AspectsDefinitionsGenerator/AspectsDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.AspectsDefinitions.AspectsDefinitionsGenerator/AspectsDefinitions.g.cs
  tracer/src/Datadog.Trace/IAST/Aspects/System/StringAspects.cs
  tracer/src/Datadog.Trace/IAST/Propagation/StringModuleImpl.cs
  tracer/src/Datadog.Trace/IAST/Ranges.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/IAST/IastInstrumentationUnitTests.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/String/StringConcatTests.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/String/StringInsertTests.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/String/StringRemoveTests.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/String/StringSubstringTests.cs
Labels: area:asm, area:asm-iast

#3912 Add usr.id when propagating
  tracer/src/Datadog.Trace/SpanExtensions.cs
  tracer/test/Datadog.Trace.Tests/TracerTests.cs
Labels: area:tracer

#3918 [ASM] Instrument String.PadLeft() and String.PadRight() methods
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.AspectsDefinitions.AspectsDefinitionsGenerator/AspectsDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.AspectsDefinitions.AspectsDefinitionsGenerator/AspectsDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.AspectsDefinitions.AspectsDefinitionsGenerator/AspectsDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.AspectsDefinitions.AspectsDefinitionsGenerator/AspectsDefinitions.g.cs
  tracer/src/Datadog.Trace/IAST/Aspects/System/StringAspects.cs
  tracer/src/Datadog.Trace/IAST/Propagation/StringModuleImpl.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/String/StringPadTests.cs
Labels: area:asm, area:asm-iast

#3872 [Tracing] parse propagated tags during header extraction
  tracer/src/Datadog.Trace/Propagators/DatadogContextPropagator.cs
  tracer/src/Datadog.Trace/Propagators/DistributedContextExtractor.cs
  tracer/src/Datadog.Trace/Propagators/W3CTraceContextPropagator.cs
  tracer/src/Datadog.Trace/SpanContext.cs
  tracer/src/Datadog.Trace/Tagging/TagPropagation.cs
  tracer/src/Datadog.Trace/Tagging/TraceTagCollection.cs
  tracer/src/Datadog.Trace/Tracer.cs
  tracer/test/Datadog.Trace.Tests/Propagators/B3MultipleHeadersPropagatorTests.cs
  tracer/test/Datadog.Trace.Tests/Propagators/DatadogPropagatorTests.cs
  tracer/test/Datadog.Trace.Tests/Propagators/DistributedPropagatorTests.cs
  tracer/test/Datadog.Trace.Tests/Propagators/MultiSpanContextPropagatorTests.cs
  tracer/test/Datadog.Trace.Tests/Propagators/SpanContextMock.cs
  tracer/test/Datadog.Trace.Tests/Propagators/W3CTraceContextPropagatorTests.cs
  tracer/test/Datadog.Trace.Tests/Tagging/TraceTagCollectionTests.cs
Labels: area:tracer, type:refactor

#3920 [Dynamic Instrumentation] Deploy dotnet to debugger backend demo applications
  .gitlab-ci.yml
Labels: area:builds, area:debugger

#3904 [Profiler] Add support for Portable PDB in the profiler
  .gitignore
  CMakeLists.txt
  Datadog.Profiler.sln
  LICENSE-3rdparty.csv
  build/cmake/FindPPDB.cmake
  profiler/src/Demos/Samples.Computer01/ComputerService.cs
  profiler/src/Demos/Samples.Computer01/LineNumber.cs
  profiler/src/Demos/Samples.Computer01/Program.cs
  profiler/src/Demos/Samples.Computer01/Properties/launchSettings.json
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/CMakeLists.txt
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CollectorBase.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Configuration.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Configuration.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CorProfilerCallback.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CorProfilerCallback.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Datadog.Profiler.Native.vcxproj
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/DebugInfoStore.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/DebugInfoStore.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/EnvironmentVariables.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/FrameStore.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/FrameStore.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/GCBaseRawSample.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/IConfiguration.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/IDebugInfoStore.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/IFrameStore.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/LibddprofExporter.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Sample.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Sample.h
  profiler/test/Datadog.Profiler.IntegrationTests/Datadog.Profiler.IntegrationTests.csproj
  profiler/test/Datadog.Profiler.IntegrationTests/DebugInfo/LineNumberTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Exceptions/ExceptionsTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Helpers/EnvironmentVariables.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Helpers/PprofHelper.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Helpers/StackFrame.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Helpers/StackTrace.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Helpers/TestAppFact.cs
  profiler/test/Datadog.Profiler.IntegrationTests/LinuxOnly/MallocDeadlock.cs
  profiler/test/Datadog.Profiler.IntegrationTests/SmokeTests/Computer01Test.cs
  profiler/test/Datadog.Profiler.IntegrationTests/SmokeTests/CpuLimitTest.cs
  profiler/test/Datadog.Profiler.Native.Tests/ConfigurationTest.cpp
  profiler/test/Datadog.Profiler.Native.Tests/FrameStoreHelper.cpp
  profiler/test/Datadog.Profiler.Native.Tests/FrameStoreHelper.h
  profiler/test/Datadog.Profiler.Native.Tests/ProfilerMockedInterface.cpp
  profiler/test/Datadog.Profiler.Native.Tests/ProfilerMockedInterface.h
  profiler/test/Datadog.Profiler.Native.Tests/ProviderTest.cpp
  profiler/test/Datadog.Profiler.Native.Tests/SamplesCollectorTest.cpp
  shared/src/native-lib/PPDB/Dump/PPDBDump.cpp
  shared/src/native-lib/PPDB/PPDB.vcxproj
  shared/src/native-lib/PPDB/PPDB.vcxproj.filters
  shared/src/native-lib/PPDB/Reader/CoreReader.cpp
  shared/src/native-lib/PPDB/Reader/Streams.cpp
  shared/src/native-lib/PPDB/Reader/Tables.cpp
  shared/src/native-lib/PPDB/inc/PPDBReader.hpp
  shared/src/native-lib/PPDB/inc/platform.hpp
  shared/src/native-lib/PPDB/readme.md
Labels: area:profiler

#3927 Test Azure Functions out of process on .NET 7
  tracer/build/_build/Build.VariableGenerations.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AzureFunctionsTests.cs
  tracer/test/test-applications/azure-functions/Samples.AzureFunctions.V4Isolated/Samples.AzureFunctions.V4Isolated.csproj
Labels: area:tests, area:test-apps, area:azure-site-extension

#3910 Record SourceContext in direct submission logs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Logging/ILogger/DirectSubmission/Formatting/LoggerLogFormatter.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Logging/Log4Net/DirectSubmission/Log4NetLogFormatter.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Logging/NLog/DirectSubmission/Formatting/NLogLogFormatter.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Logging/NLog/DirectSubmission/Proxies/ILogEventInfoProxyBase.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/ILoggerTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/Log4NetTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/NLogTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.Managed.Tests/AutoInstrumentation/Logging/Log4Net/Log4NetLogFormatterTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.Managed.Tests/AutoInstrumentation/Logging/NLog/NLogLogFormatterTests.cs
  tracer/test/Datadog.Trace.TestHelpers/MockLogsIntake.cs
Labels: type:enhancement, area:tracer, area:direct-log-submission

#3934 Fix a few issues with Samples.Shared
  tracer/test/test-applications/Samples.Shared/SampleHelpers.cs
  tracer/test/test-applications/Samples.Shared/WebServer.cs
Labels: area:tests

#3923 Remove unused reference to Datadog.Trace in HttpMessageHandler.StackOverflowException
  tracer/test/test-applications/regression/HttpMessageHandler.StackOverflowException/HttpMessageHandler.StackOverflowException.csproj
  tracer/test/test-applications/regression/HttpMessageHandler.StackOverflowException/Properties/launchSettings.json
Labels: area:tests

#3944 [ASM] Take into account if block exception is a child
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AspNetCore/BlockingMiddleware.cs
Labels: area:asm, area:integrations

#3942 Fix TimeIt jobs and replace it with TimeItSharp
  .azure-pipelines/ultimate-pipeline.yml
  tracer/build/timeit/Samples.FakeDbCommand/Samples.FakeDbCommand.windows.net462.json
  tracer/build/timeit/Samples.FakeDbCommand/Samples.FakeDbCommand.windows.net60.json
  tracer/build/timeit/Samples.FakeDbCommand/Samples.FakeDbCommand.windows.netcoreapp31.json
  tracer/build/timeit/Samples.FakeDbCommand/run.cmd
  tracer/build/timeit/Samples.HttpMessageHandler/Samples.HttpMessageHandler.windows.net462.json
  tracer/build/timeit/Samples.HttpMessageHandler/Samples.HttpMessageHandler.windows.net60.json
  tracer/build/timeit/Samples.HttpMessageHandler/Samples.HttpMessageHandler.windows.netcoreapp31.json
  tracer/build/timeit/Samples.HttpMessageHandler/run.cmd
Labels: area:builds

#3921 Swap Samples.LargePayload to use SampleHelpers
  tracer/test/test-applications/integrations/Samples.LargePayload/Program.cs
  tracer/test/test-applications/integrations/Samples.LargePayload/Samples.LargePayload.csproj
Labels: area:tests

#3915 Swap Samples.DatabaseHelper to use Samples.Shared
  tracer/test/test-applications/integrations/dependency-libs/Samples.DatabaseHelper/DapperTestHarness.cs
  tracer/test/test-applications/integrations/dependency-libs/Samples.DatabaseHelper/RelationalDatabaseTestHarness.cs
  tracer/test/test-applications/integrations/dependency-libs/Samples.DatabaseHelper/Samples.DatabaseHelper.csproj
Labels: area:tests

#3922 Swap DatadogThreadTest to use SampleHelpers
  tracer/test/test-applications/Samples.Shared/SampleHelpers.cs
  tracer/test/test-applications/regression/DataDogThreadTest/DataDogThreadTest.csproj
  tracer/test/test-applications/regression/DataDogThreadTest/Program.cs
  tracer/test/test-applications/regression/DataDogThreadTest/Properties/launchSettings.json
Labels: area:tests

#3948 Setup python 3.9 for system tests
  .azure-pipelines/ultimate-pipeline.yml
Labels: area:builds

#3952 Fix duplicate logging issue with DirectLogSubmission and Serilog
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Logging/Serilog/DirectSubmission/ConditionalSinkProxy.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Logging/Serilog/DirectSubmission/LoggerConfigurationInstrumentation.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/SerilogTests.cs
  tracer/test/test-applications/integrations/LogsInjection.Serilog/LogsInjection.Serilog.csproj
  tracer/test/test-applications/integrations/LogsInjection.Serilog/Program.cs
  tracer/test/test-applications/integrations/LogsInjection.Serilog/appsettings.json
Labels: type:bug, area:tracer, area:direct-log-submission

#3930 Limit the concurrency in xunit
  tracer/test/Datadog.Trace.TestHelpers.AutoInstrumentation/AspNetCoreTestFixture.cs
  tracer/test/Datadog.Trace.TestHelpers/CustomTestFramework.cs
Labels: area:tests

#3867 [Tracer] Adds MySql and NpgSql snapshot tests and files
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AdoNet/MySqlDatabaseMonitoringTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AdoNet/NpgsqlDatabaseMonitoringTests.cs
  tracer/test/snapshots/MySqlDatabaseMonitoringTestsNet.disabled.verified.txt
  tracer/test/snapshots/MySqlDatabaseMonitoringTestsNet.enabled.verified.txt
  tracer/test/snapshots/MySqlDatabaseMonitoringTestsNet462.disabled.verified.txt
  tracer/test/snapshots/MySqlDatabaseMonitoringTestsNet462.enabled.verified.txt
  tracer/test/snapshots/MySqlDatabaseMonitoringTestsNetCore.disabled.verified.txt
  tracer/test/snapshots/MySqlDatabaseMonitoringTestsNetCore.enabled.verified.txt
  tracer/test/snapshots/NpgsqlDatabaseMonitoringTests.disabled.verified.txt
  tracer/test/snapshots/NpgsqlDatabaseMonitoringTests.enabled.verified.txt
  tracer/test/snapshots/NpgsqlDatabaseMonitoringTestsNet462.disabled.verified.txt
  tracer/test/snapshots/NpgsqlDatabaseMonitoringTestsNet462.enabled.verified.txt
Labels: area:tracer, area:tests

#3958 [Profiler] Avoid adding temporary runtime id names in cache
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/LibddprofExporter.cpp
Labels: area:profiler

#3969 Downgrade AWS dotnet7 image
  .azure-pipelines/ultimate-pipeline.yml
Labels: area:builds

#3798 [Samples] Add sample to demonstrate instrumentation of an ASP.NET application inside a Windows container
  tracer/samples/IISInDocker/Dockerfile
  tracer/samples/IISInDocker/IISInDocker.sln
  tracer/samples/IISInDocker/README.md
  tracer/samples/IISInDocker/src/App_Start/RouteConfig.cs
  tracer/samples/IISInDocker/src/Controllers/HomeController.cs
  tracer/samples/IISInDocker/src/Global.asax
  tracer/samples/IISInDocker/src/Global.asax.cs
  tracer/samples/IISInDocker/src/IISInDocker.csproj
  tracer/samples/IISInDocker/src/Properties/AssemblyInfo.cs
  tracer/samples/IISInDocker/src/Views/Home/About.cshtml
  tracer/samples/IISInDocker/src/Views/Home/Contact.cshtml
  tracer/samples/IISInDocker/src/Views/Home/Index.cshtml
  tracer/samples/IISInDocker/src/Views/Shared/Error.cshtml
  tracer/samples/IISInDocker/src/Views/Shared/_Layout.cshtml
  tracer/samples/IISInDocker/src/Views/Web.config
  tracer/samples/IISInDocker/src/Views/_ViewStart.cshtml
  tracer/samples/IISInDocker/src/Web.Debug.config
  tracer/samples/IISInDocker/src/Web.Release.config
  tracer/samples/IISInDocker/src/Web.config
  tracer/samples/IISInDocker/src/packages.config
  tracer/samples/IISInDocker/startup.ps1
Labels: area:customer-samples

#3967 Split `ZipMonitoringHomeLinux` task
  tracer/build/_build/Build.Steps.cs
Labels: area:builds

#3962 [ASM] Remove weak hashing redundant tests
  Datadog.Trace.sln
  tracer/src/Datadog.Tracer.Native/iast/dataflow.cpp
  tracer/test/Datadog.Trace.Security.IntegrationTests/IAST/Deduplication/DeduplicationTests.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/IAST/WeakHashing/WeakHashingTests.cs
  tracer/test/snapshots/WeakHashingTests.SubmitsTraces.Net462.verified.txt
  tracer/test/snapshots/WeakHashingTests.SubmitsTraces.Net50.60.verified.txt
  tracer/test/snapshots/WeakHashingTests.SubmitsTraces.verified.txt
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/InstrumentationTestsBase.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/WeakHashing/HMACMD5Tests.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/WeakHashing/HMACSHA1Tests.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/WeakHashing/MD5CryptoServiceProviderTests.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/WeakHashing/MD5Tests.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/WeakHashing/SHA1CryptoServiceProviderTests.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/WeakHashing/SHA1Tests.cs
  tracer/test/test-applications/integrations/Samples.WeakHashing/CustomMD5.cs
  tracer/test/test-applications/integrations/Samples.WeakHashing/Program.cs
  tracer/test/test-applications/integrations/Samples.WeakHashing/Properties/launchSettings.json
  tracer/test/test-applications/integrations/Samples.WeakHashing/Samples.WeakHashing.csproj
  tracer/test/test-applications/integrations/Samples.WeakHashing/testHash.cs
Labels: area:asm, area:asm-iast

#3965 Add a "block list" to profiled processes in native profilers
  shared/src/Datadog.Trace.ClrProfiler.Native/EnvironmentVariables.h
  shared/src/Datadog.Trace.ClrProfiler.Native/cor_profiler.cpp
  shared/src/Datadog.Trace.ClrProfiler.Native/util.h
  tracer/src/Datadog.Tracer.Native/cor_profiler.cpp
  tracer/src/Datadog.Tracer.Native/dd_profiler_constants.h
Labels: area:native-library, area:shared-components

#3963 Capture full memory dumps instead of minidumps
  tracer/build/_build/NukeExtensions/DotNetSettingsExtensions.cs
Labels: area:builds

#3970 Don't specify patch version for Python install
  .azure-pipelines/ultimate-pipeline.yml
Labels: area:builds, area:tests

#3968 Add support for Metrics to span metadata
  docs/span_metadata.md
  tracer/build/_build/GenerateSpanDocumentation/Program.cs
  tracer/test/Datadog.Trace.TestHelpers/Result.cs
  tracer/test/Datadog.Trace.TestHelpers/SpanMetadataRules.cs
  tracer/test/Datadog.Trace.TestHelpers/SpanTagAssertion.cs
Labels: area:tracer

#3931 [ASM] Taint StringBuilder.Append() and AppendLine() Methods
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.AspectsDefinitions.AspectsDefinitionsGenerator/AspectsDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.AspectsDefinitions.AspectsDefinitionsGenerator/AspectsDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.AspectsDefinitions.AspectsDefinitionsGenerator/AspectsDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/Datadog.Trace.SourceGenerators.AspectsDefinitions.AspectsDefinitionsGenerator/AspectsDefinitions.g.cs
  tracer/src/Datadog.Trace/IAST/Aspects/System/StringAspects.cs
  tracer/src/Datadog.Trace/IAST/Propagation/StringModuleImpl.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.Text/StringBuilderAspects.cs
  tracer/src/Datadog.Trace/Iast/Propagation/PropagationModuleImpl.cs
  tracer/src/Datadog.Trace/Iast/Propagation/StringBuilderModuleImpl.cs
  tracer/src/Datadog.Trace/Iast/TaintedObject.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/IAST/IastInstrumentationUnitTests.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/IAST/Tainted/EvidenceTests.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/BasicInstrumentationTests.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/InstrumentationTestsBase.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/ObjectsForTests.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/StringBuilder/StringBuilderAppendTests.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/StringBuilder/StringBuilderBasicTests.cs
Labels: area:asm, area:asm-iast

#3971 Update the AspNetCoreTestFixture to let aspnetcore pick a port
  tracer/test/Datadog.Trace.TestHelpers.AutoInstrumentation/AspNetCoreTestFixture.cs
Labels: area:tests

#3977 Revert "Downgrade AWS dotnet7 image"
  .azure-pipelines/ultimate-pipeline.yml
Labels: area:builds

#3972 Fix AAS direct log submission log correlation
  tracer/src/Datadog.Trace/Logging/DirectSubmission/DirectLogSubmissionManager.cs
  tracer/src/Datadog.Trace/Logging/DirectSubmission/Formatting/LogFormatter.cs
  tracer/src/Datadog.Trace/TracerManagerFactory.cs
  tracer/test/Datadog.Trace.TestHelpers/AzureAppServiceHelper.cs
  tracer/test/Datadog.Trace.TestHelpers/LogSettingsHelper.cs
  tracer/test/Datadog.Trace.Tests/Logging/DirectSubmission/Formatting/LogFormatterTests.cs
  tracer/test/Datadog.Trace.Tests/PlatformHelpers/AzureAppServicesTests.cs
Labels: area:tracer, area:azure-site-extension, area:direct-log-submission

#3887 [CI] Monitor retries and retry AgentMalFunctionTests on NamedPipes
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AgentMalfunctionTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/RuntimeMetricsTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/TelemetryTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/TransportTests.cs
  tracer/test/Datadog.Trace.TestHelpers.AutoInstrumentation/TestHelper.cs
Labels: area:tests

#3981 Disable Microsoft.Data.Sqlite tests on .NET Core 2.1
  tracer/build/PackageVersionsGeneratorDefinitions.json
  tracer/build/PackageVersionsLatestMajors.g.props
  tracer/build/PackageVersionsLatestMinors.g.props
  tracer/build/PackageVersionsLatestSpecific.g.props
  tracer/dependabot/Datadog.Dependabot.Integrations.csproj
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AdoNet/MicrosoftDataSqliteTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestMajors.g.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestMinors.g.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestSpecific.g.cs
Labels: area:tests

#3980 [Tracer] Make the querystring length in http.url configurable
  tracer/src/Datadog.Trace/Configuration/ConfigurationKeys.cs
  tracer/src/Datadog.Trace/Configuration/ImmutableTracerSettings.cs
  tracer/src/Datadog.Trace/Configuration/TracerSettings.cs
  tracer/src/Datadog.Trace/TracerManager.cs
  tracer/src/Datadog.Trace/Util/Http/HttpRequestUtils.cs
  tracer/src/Datadog.Trace/Util/Http/QueryStringManager.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/HttpMessageHandlerTests.cs
  tracer/test/Datadog.Trace.Tests/TracerInstanceTest.cs
  tracer/test/Datadog.Trace.Tests/Util/Http/QueryStringManagerTests.cs
Labels: area:tracer, area:integrations

#3990 [CI Visibility] - Refactor and changes to improve debugging and to help the datadog logger to extract env-vars.
  tracer/src/Datadog.Trace/Ci/CIEnvironmentValues.cs
  tracer/src/Datadog.Trace/Ci/GitInfo.cs
Labels: area:ci-visibility

#3993 [Profiler] Bump libdatadog version to 2.1.0
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Windows/Datadog.Profiler.Native.Windows.vcxproj
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Windows/packages.config
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Datadog.Profiler.Native.vcxproj
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/packages.config
  profiler/test/Datadog.Profiler.Native.Tests/Datadog.Profiler.Native.Tests.vcxproj
  profiler/test/Datadog.Profiler.Native.Tests/packages.config
Labels: area:profiler
