Repository DataDog/dd-trace-dotnet, pull requests merged in 2024-11, with the labels that each got.

#6175 Make DD_TRACE_<INTEGRATION>_ENABLED Case Insensitive
  tracer/src/Datadog.Trace/Configuration/IntegrationSettings.cs
  tracer/test/Datadog.Trace.Tests/Configuration/IntegrationSettingsTests.cs
Labels: area:tracer

#6177 add new integrations system tests scenario
  .azure-pipelines/ultimate-pipeline.yml
Labels: area:builds

#6204 [DBM][fix] Do not prepend DBM injected comment when a pg plan hint is present
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AdoNet/DbScopeFactory.cs
  tracer/src/Datadog.Trace/DatabaseMonitoring/DatabaseMonitoringPropagator.cs
  tracer/test/Datadog.Trace.ClrProfiler.Managed.Tests/DbScopeFactoryTests.cs
  tracer/test/Datadog.Trace.Tests/DatabaseMonitoring/DatabaseMonitoringPropagatorTests.cs
Labels: type:bug, area:database-monitoring

#6227 Pin Azure Functions version used in CI to get the integration tests running (#6203 => v2)
  .azure-pipelines/ultimate-pipeline.yml
Labels: area:builds, area:tests

#6228 Move all RC int values to long, to mirror RC backend (#6219 => v2)
  tracer/src/Datadog.Trace/RemoteConfigurationManagement/ApplyDetails.cs
  tracer/src/Datadog.Trace/RemoteConfigurationManagement/Protocol/RcmCachedTargetFile.cs
  tracer/src/Datadog.Trace/RemoteConfigurationManagement/Protocol/RcmClientState.cs
  tracer/src/Datadog.Trace/RemoteConfigurationManagement/Protocol/RcmConfigState.cs
  tracer/src/Datadog.Trace/RemoteConfigurationManagement/Protocol/Tuf/Signed.cs
  tracer/src/Datadog.Trace/RemoteConfigurationManagement/Protocol/Tuf/Target.cs
  tracer/src/Datadog.Trace/RemoteConfigurationManagement/Protocol/Tuf/TargetCustom.cs
  tracer/src/Datadog.Trace/RemoteConfigurationManagement/RcmSubscriptionManager.cs
  tracer/src/Datadog.Trace/RemoteConfigurationManagement/RemoteConfiguration.cs
  tracer/src/Datadog.Trace/RemoteConfigurationManagement/RemoteConfigurationCache.cs
Labels: type:bug, area:remote-config

#6019 [Profiler] Make LibrariesInfoCache standalone
  profiler/src/ProfilerEngine/Datadog.Linux.ApiWrapper/common.c
  profiler/src/ProfilerEngine/Datadog.Linux.ApiWrapper/common.h
  profiler/src/ProfilerEngine/Datadog.Linux.ApiWrapper/functions_to_wrap.c
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/AutoResetEvent.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/AutoResetEvent.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/DlPhdrInfoWrapper.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/DlPhdrInfoWrapper.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/LibrariesInfoCache.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/LibrariesInfoCache.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/LinuxStackFramesCollector.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/LinuxStackFramesCollector.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/OsSpecificApi.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CorProfilerCallback.cpp
  profiler/test/Datadog.Profiler.Native.Tests/AutoResetEventTest.cpp
  profiler/test/Datadog.Profiler.Native.Tests/LibrariesInfoCacheTest.cpp
  profiler/test/Datadog.Profiler.Native.Tests/LinuxStackFramesCollectorTest.cpp
  shared/src/native-src/logger.h
  tracer/test/snapshots/native-wrapper-symbols-arm64.verified.txt
Labels: area:profiler

#6226 Update version conflict test
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/VersionConflict/VersionConflict2xTests.cs
  tracer/test/test-applications/integrations/Samples.VersionConflict.2x/Samples.VersionConflict.2x.csproj
Labels: area:tests

#6224 Add smoke test for config builder instrumentation issue
  .azure-pipelines/ultimate-pipeline.yml
  .dockerignore
  Datadog.Trace.sln
  docker-compose.windows.yml
  tracer/build/_build/docker/iis.multipleappsindomain.dockerfile
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/IIS/MultipleAppsInDomainWithCustomConfigBuilder.cs
  tracer/test/test-applications/aspnet/Samples.AspNet.MultipleAppsInDomain/Controllers/HomeController.cs
  tracer/test/test-applications/aspnet/Samples.AspNet.MultipleAppsInDomain/CustomConfigBuilder/CustomConfigBuilder.cs
  tracer/test/test-applications/aspnet/Samples.AspNet.MultipleAppsInDomain/CustomConfigBuilder/KeyValueConfigBuilder.cs
  tracer/test/test-applications/aspnet/Samples.AspNet.MultipleAppsInDomain/CustomConfigBuilder/KeyValueEnabled.cs
  tracer/test/test-applications/aspnet/Samples.AspNet.MultipleAppsInDomain/CustomConfigBuilder/KeyValueExceptions.cs
  tracer/test/test-applications/aspnet/Samples.AspNet.MultipleAppsInDomain/CustomConfigBuilder/KeyValueMode.cs
  tracer/test/test-applications/aspnet/Samples.AspNet.MultipleAppsInDomain/CustomConfigBuilder/RecursionGuard.cs
  tracer/test/test-applications/aspnet/Samples.AspNet.MultipleAppsInDomain/CustomConfigBuilder/SectionHandler.cs
  tracer/test/test-applications/aspnet/Samples.AspNet.MultipleAppsInDomain/CustomConfigBuilder/SectionHandlerSection.cs
  tracer/test/test-applications/aspnet/Samples.AspNet.MultipleAppsInDomain/Global.asax
  tracer/test/test-applications/aspnet/Samples.AspNet.MultipleAppsInDomain/Global.asax.cs
  tracer/test/test-applications/aspnet/Samples.AspNet.MultipleAppsInDomain/Properties/AssemblyInfo.cs
  tracer/test/test-applications/aspnet/Samples.AspNet.MultipleAppsInDomain/Properties/PublishProfiles/FolderProfile.pubxml
  tracer/test/test-applications/aspnet/Samples.AspNet.MultipleAppsInDomain/Samples.AspNet.MultipleAppsInDomain.csproj
  tracer/test/test-applications/aspnet/Samples.AspNet.MultipleAppsInDomain/Views/Web.config
  tracer/test/test-applications/aspnet/Samples.AspNet.MultipleAppsInDomain/Views/_ViewStart.cshtml
  tracer/test/test-applications/aspnet/Samples.AspNet.MultipleAppsInDomain/Web.Debug.config
  tracer/test/test-applications/aspnet/Samples.AspNet.MultipleAppsInDomain/Web.Release.config
  tracer/test/test-applications/aspnet/Samples.AspNet.MultipleAppsInDomain/Web.config
  tracer/test/test-applications/aspnet/Samples.AspNet.MultipleAppsInDomain/favicon.ico
  tracer/test/test-applications/aspnet/Samples.AspNet.MultipleAppsInDomain/packages.config
Labels: area:tests, area:test-apps

#6229 [Profiler] Fix bugs in the `timer_create`-based CPU profiler
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/TimerCreateCpuProfiler.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/TimerCreateCpuProfiler.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CorProfilerCallback.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ManagedThreadInfo.cpp
  profiler/test/Datadog.Profiler.IntegrationTests/LinuxOnly/TimerCreateCpuProfilerTest.cs
Labels: area:profiler

#6221 [ASM] Restrict RASP Lfi operations to read operation only
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/AspectsDefinitionsGenerator/AspectsDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/AspectsDefinitionsGenerator/AspectsDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/AspectsDefinitionsGenerator/AspectsDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/AspectsDefinitionsGenerator/AspectsDefinitions.g.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.IO/DirectoryAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.IO/DirectoryInfoAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.IO/FileAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.IO/FileInfoAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.IO/StreamWriterAspect.cs
Labels: area:tracer, area:asm

#6233 Fix `InvalidOperationException` in DBM propagation
  tracer/src/Datadog.Trace.Trimming/build/Datadog.Trace.Trimming.xml
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AdoNet/DbScopeFactory.cs
  tracer/src/Datadog.Trace/DatabaseMonitoring/DatabaseMonitoringPropagator.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AdoNet/MicrosoftDataSqliteTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AdoNet/SystemDataSqliteTests.cs
  tracer/test/Datadog.Trace.Tests/DatabaseMonitoring/DatabaseMonitoringPropagatorTests.cs
  tracer/test/snapshots/MicrosoftDataSqliteTests.SchemaV0.verified.txt
  tracer/test/snapshots/MicrosoftDataSqliteTests.SchemaV1.verified.txt
  tracer/test/snapshots/SystemDataSqliteTests.SchemaV0.verified.txt
  tracer/test/snapshots/SystemDataSqliteTests.SchemaV1.verified.txt
  tracer/test/test-applications/integrations/Samples.MySql/Program.cs
  tracer/test/test-applications/integrations/Samples.OracleMDA/Program.cs
  tracer/test/test-applications/integrations/Samples.SqlServer.NetFramework20/Program.cs
  tracer/test/test-applications/integrations/dependency-libs/Samples.DatabaseHelper/DbCommandFactory.cs
  tracer/test/test-applications/integrations/dependency-libs/Samples.DatabaseHelper/RelationalDatabaseTestHarness.cs
Labels: identified-by:telemetry

#6246 Fix typo in create_draft_release.yml
  .github/workflows/create_draft_release.yml
Labels: area:builds

#6240 [IAST] Updated CallSite IL Dump
  Datadog.Trace.sln
  tracer/src/Datadog.Tracer.Native/Generated/generated_callsites_netcoreapp2_1.g.h
  tracer/src/Datadog.Tracer.Native/Generated/generated_calltargets_net461.g.h
  tracer/src/Datadog.Tracer.Native/Generated/generated_calltargets_net6_0.g.h
  tracer/src/Datadog.Tracer.Native/Generated/generated_calltargets_netcoreapp2_1.g.h
  tracer/src/Datadog.Tracer.Native/Generated/generated_calltargets_netcoreapp3_1.g.h
  tracer/src/Datadog.Tracer.Native/Generated/generated_calltargets_netstandard2_0.g.h
  tracer/src/Datadog.Tracer.Native/iast/dataflow_il_analysis.cpp
  tracer/src/Datadog.Tracer.Native/iast/dataflow_il_analysis.h
  tracer/src/Datadog.Tracer.Native/iast/method_info.cpp
Labels: area:asm-iast

#6231 Add additional exclusions to for obsolete libraries
  tracer/test/test-applications/integrations/dependency-libs/Directory.Build.props
  tracer/test/test-applications/regression/dependency-libs/Datadog.StackExchange.Redis.StrongName/Directory.Build.props
  tracer/test/test-applications/regression/dependency-libs/Datadog.StackExchange.Redis/Directory.Build.props
Labels: area:builds, area:tests

#6216 [Dynamic Instrumentation] DEBUG-3076 Code origin for exit spans
  tracer/src/Datadog.Trace/Configuration/ConfigurationKeys.Debugger.cs
  tracer/src/Datadog.Trace/Debugger/DebuggerSettings.cs
  tracer/src/Datadog.Trace/Debugger/Expressions/ProbeProcessor.cs
  tracer/src/Datadog.Trace/Debugger/SpanCodeOrigin/SpanCodeOriginManager.cs
  tracer/src/Datadog.Trace/Tracer.cs
  tracer/test/Datadog.Trace.Tests/Debugger/DebuggerSettingsTests.cs
  tracer/test/Datadog.Trace.Tests/Debugger/SpanCodeOriginTests.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/config_norm_rules.json
Labels: area:tracer, area:debugger

#6254 Improve docs for building on mac (APMSP-1425)
  tracer/README.MD
Labels: area:docs

#6256 [CI Visibility] Add more checks for the object pack files
  tracer/src/Datadog.Trace/Ci/IntelligentTestRunnerClient.cs
Labels: area:ci-visibility

#6255 [IAST] Macos compilation warning fix
  tracer/src/Datadog.Tracer.Native/iast/method_info.cpp
Labels: area:native-library, area:asm-iast

#6260 Make snapshot tests compatible with running on Docker v2
  .azure-pipelines/ultimate-pipeline.yml
  docker-compose.yml
Labels: area:builds

#6258 add baggage propagator to the default list of propagators
  tracer/src/Datadog.Trace/Configuration/TracerSettings.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/TelemetryTests.cs
  tracer/test/Datadog.Trace.Tests/Configuration/ConfigurationSourceTests.cs
  tracer/test/Datadog.Trace.Tests/Configuration/TracerSettingsTests.cs
  tracer/test/Datadog.Trace.Tests/Propagators/W3CBaggagePropagatorTests.cs
  tracer/test/Datadog.Trace.Tests/SpanContextInjectorExtractorTests.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/Collectors/ConfigurationTelemetryCollectorTests.cs
Labels: area:tracer

#6264 Fix R2R build for OSX-ARM64
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/ManualInstrumentationTests.cs
  tracer/test/test-applications/integrations/Samples.ManualInstrumentation/Samples.ManualInstrumentation.csproj
Labels: area:tests

#6259 [CI Visibility] GitInfoProvider refactor
  tracer/missing-nullability-files.csv
  tracer/src/Datadog.Trace/Ci/CiEnvironment/AWSCodePipelineEnvironmentValues.cs
  tracer/src/Datadog.Trace/Ci/CiEnvironment/AppveyorEnvironmentValues.cs
  tracer/src/Datadog.Trace/Ci/CiEnvironment/AzurePipelinesEnvironmentValues.cs
  tracer/src/Datadog.Trace/Ci/CiEnvironment/BitbucketEnvironmentValues.cs
  tracer/src/Datadog.Trace/Ci/CiEnvironment/BitriseEnvironmentValues.cs
  tracer/src/Datadog.Trace/Ci/CiEnvironment/BuddyEnvironmentValues.cs
  tracer/src/Datadog.Trace/Ci/CiEnvironment/BuildkiteEnvironmentValues.cs
  tracer/src/Datadog.Trace/Ci/CiEnvironment/CIEnvironmentValues.cs
  tracer/src/Datadog.Trace/Ci/CiEnvironment/CIEnvironmentValuesGenerics.cs
  tracer/src/Datadog.Trace/Ci/CiEnvironment/CircleCiEnvironmentValues.cs
  tracer/src/Datadog.Trace/Ci/CiEnvironment/CodefreshEnvironmentValues.cs
  tracer/src/Datadog.Trace/Ci/CiEnvironment/GitCommandGitInfoProvider.cs
  tracer/src/Datadog.Trace/Ci/CiEnvironment/GitInfo.cs
  tracer/src/Datadog.Trace/Ci/CiEnvironment/GitInfoProvider.cs
  tracer/src/Datadog.Trace/Ci/CiEnvironment/GithubActionsEnvironmentValues.cs
  tracer/src/Datadog.Trace/Ci/CiEnvironment/GitlabEnvironmentValues.cs
  tracer/src/Datadog.Trace/Ci/CiEnvironment/IGitInfo.cs
  tracer/src/Datadog.Trace/Ci/CiEnvironment/IGitInfoProvider.cs
  tracer/src/Datadog.Trace/Ci/CiEnvironment/JenkinsEnvironmentValues.cs
  tracer/src/Datadog.Trace/Ci/CiEnvironment/ManualParserGitInfoProvider.cs
  tracer/src/Datadog.Trace/Ci/CiEnvironment/TeamcityEnvironmentValues.cs
  tracer/src/Datadog.Trace/Ci/CiEnvironment/TravisEnvironmentValues.cs
  tracer/src/Datadog.Trace/Ci/CiEnvironment/UnsupportedCIEnvironmentValues.cs
  tracer/src/Datadog.Trace/Ci/Configuration/CIVisibilitySettings.cs
  tracer/src/Datadog.Trace/Ci/GitInfo.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/GitParserTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/TestingFrameworkEvpTest.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/TestingFrameworkTest.cs
Labels: area:ci-visibility

#6250 [ASM] Fix issue with waf disposing while it might concurrently be updating
  tracer/missing-nullability-files.csv
  tracer/src/Datadog.Trace/AppSec/Concurrency/ReaderWriterLock.Core.cs
  tracer/src/Datadog.Trace/AppSec/Concurrency/ReaderWriterLock.Framework.cs
  tracer/src/Datadog.Trace/AppSec/Concurrency/ReaderWriterLock.cs
  tracer/src/Datadog.Trace/AppSec/Security.cs
  tracer/src/Datadog.Trace/AppSec/Waf/IWaf.cs
  tracer/src/Datadog.Trace/AppSec/Waf/ReturnTypes.Managed/UpdateResult.cs
  tracer/src/Datadog.Trace/AppSec/Waf/Waf.cs
  tracer/src/Datadog.Trace/AppSec/WafEncoding/Encoder.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/Datadog.Trace.Security.Unit.Tests.csproj
  tracer/test/Datadog.Trace.Security.Unit.Tests/WafConcurrencyTests.cs
Labels: area:asm

#6198 [Profiler] CPU profiler: Check if the stackwalk lock was not already taken
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/TimerCreateCpuProfiler.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ManagedThreadInfo.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/SpinningMutex.hpp
  profiler/test/Datadog.Profiler.IntegrationTests/CpuAndWallTime/CpuAndWallTimeTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Exceptions/ExceptionsTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/SmokeTests/BuggyBitsTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/SmokeTests/Computer01Test.cs
Labels: area:profiler

#6242 [Dynamic Instrumentation] DEBUG-3110 Fix how we access span in probe processor
  tracer/src/Datadog.Trace/Debugger/Expressions/ProbeProcessor.cs
Labels: area:tracer, area:debugger

#6078 [Dynamic Instrumentation] DEBUG-2913 Fix runtime reflection exceptions when getting field value
  tracer/src/Datadog.Trace/Debugger/Snapshots/DebuggerSnapshotSerializer.cs
Labels: area:tracer, area:debugger

#6274 [ASM] Fix benchmarks AppSecBodyBenchmarks: have a trace context to avoid null reference exceptions
  tracer/test/benchmarks/Benchmarks.Trace/Asm/AppSecBodyBenchmark.cs
  tracer/test/benchmarks/Benchmarks.Trace/Asm/EmptyDatadogTracer.cs
Labels: area:tests, area:asm

#6238 [Profiler] Prevent `StackSamplerLoop` from crashing at shutdown
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/StackSamplerLoop.cpp
Labels: area:profiler

#6268 [Profiler] Fix crash at shutdown with the `timer_create`-based CPU profiler
  profiler/src/ProfilerEngine/Datadog.Linux.ApiWrapper/common.c
  profiler/src/ProfilerEngine/Datadog.Linux.ApiWrapper/common.h
  profiler/src/ProfilerEngine/Datadog.Linux.ApiWrapper/functions_to_wrap.c
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CorProfilerCallback.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CorProfilerCallback.h
Labels: area:profiler

#6272 [ASM] Serialize ASM tags and metrics
  tracer/src/Datadog.Trace/Agent/MessagePack/SpanMessagePackFormatter.cs
  tracer/src/Datadog.Trace/AppSec/Coordinator/SecurityCoordinator.cs
  tracer/src/Datadog.Trace/TraceContext.cs
Labels: area:asm

#6266 baggage propagator clean up
  tracer/src/Datadog.Trace/ExtensionMethods/StringBuilderExtensions.cs
  tracer/src/Datadog.Trace/Propagators/W3CBaggagePropagator.cs
  tracer/src/Datadog.Trace/Util/HexString.cs
  tracer/test/Datadog.Trace.Tests/Propagators/W3CBaggagePropagatorTests.cs
Labels: type:performance

#6277 Small fixes for .NET 9
  .gitlab-ci.yml
  tracer/build/_build/docker/gitlab/gitlab.windows.dockerfile
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AppTrimmingTests.cs
Labels: area:builds, area:tests

#6283 Exclude Paket from exploration tests for now
  tracer/build/_build/Build.ExplorationTests.cs
Labels: area:builds

#6289 [CI Visibility] Fix GitCommandParser test
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/GitParserTests.cs
Labels: area:tests, area:ci-visibility

#6267 [Profiler] Add metrics for cpu and walltime profilers
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/DiscardMetrics.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/DiscardMetrics.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/DiscardReason.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/LinuxStackFramesCollector.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/LinuxStackFramesCollector.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/OsSpecificApi.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/TimerCreateCpuProfiler.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/TimerCreateCpuProfiler.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Windows/OsSpecificApi.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/AllocationsProvider.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/AllocationsProvider.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ContentionProvider.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ContentionProvider.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CorProfilerCallback.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ExceptionsProvider.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ExceptionsProvider.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/OsSpecificApi.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/StackSamplerLoopManager.cpp
  profiler/test/Datadog.Profiler.Native.Tests/DiscardMetricsTest.cpp
  profiler/test/Datadog.Profiler.Native.Tests/LinuxStackFramesCollectorTest.cpp
Labels: area:profiler

#6276 [ASM] IAST: Add web form tests
  tracer/test/Datadog.Trace.Security.IntegrationTests/AspNetWebForms.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/IAST/AspNetCore5IastTests.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/IAST/AspNetMvc5IastTests.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/IAST/AspNetWebFormsWithIast.cs
  tracer/test/snapshots/Iast.QueryParameterName.AspNetCore5.verified.txt
  tracer/test/snapshots/Iast.QueryParameterName.AspNetMvc5.IastEnabled.verified.txt
  tracer/test/snapshots/Security.AspNetWebForms.Classic.enableSecurity=True.__test=TestQueryParameterNameVulnerability.verified.txt
  tracer/test/snapshots/Security.AspNetWebForms.Integrated.enableSecurity=True.__test=TestQueryParameterNameVulnerability.verified.txt
  tracer/test/test-applications/security/Samples.Security.AspNetCore5/Controllers/IastController.cs
  tracer/test/test-applications/security/aspnet/Samples.Security.AspNetMvc5/Controllers/IastController.cs
  tracer/test/test-applications/security/aspnet/Samples.Security.WebForms/Samples.Security.WebForms.csproj
  tracer/test/test-applications/security/aspnet/Samples.Security.WebForms/print.aspx
  tracer/test/test-applications/security/aspnet/Samples.Security.WebForms/print.aspx.cs
  tracer/test/test-applications/security/aspnet/Samples.Security.WebForms/print.aspx.designer.cs
Labels: area:tests, area:asm, area:asm-iast

#6263 Downgrade error to warning
  tracer/src/Datadog.Trace/Sampling/LocalCustomSamplingRule.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/TelemetryTests.cs
  tracer/test/test-applications/integrations/Samples.Telemetry/Program.cs
Labels: area:tracer, type:cleanup, identified-by:telemetry

#6282 Add additional exclusions for dependency collection
  tracer/src/Datadog.Trace/Telemetry/Collectors/DependencyTelemetryCollector.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/Collectors/DependencyTelemetryCollectorTests.cs
Labels: area:telemetry, identified-by:customer

#6286 Fix r2r manual instrumentation issue in .NET 9 x86
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/ManualInstrumentationTests.cs
Labels: area:builds, area:tests

#6284 [CI Visibility] Add support for coverlet.msbuild coverage reporting
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/DotnetTest/CoverageGetCoverageResultIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/DotnetTest/DotnetCommon.cs
  tracer/src/Datadog.Trace/DuckTyping/DuckType.Methods.cs
  tracer/src/Datadog.Trace/DuckTyping/DuckType.Statics.cs
Labels: area:ci-visibility

#6296 Add more smoke testing for .NET 9
  docker-compose.yml
  tracer/build/_build/Build.VariableGenerations.cs
Labels: area:builds, area:tests

#6297 [CI Visibility] Catch some gitinfo exceptions.
  tracer/src/Datadog.Trace/Ci/CiEnvironment/GitInfo.cs
Labels: area:ci-visibility, identified-by:telemetry

#6324 Use agent telemetry proxy instead of the standalone telemetry
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/Helpers/TelemetryHelper.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/HttpMessageHandlerTests.cs
Labels: area:tests

#6312 Fix the debug symbol publish step in release process
  .github/workflows/create_draft_release.yml
Labels: area:builds

#6294 [ASM] Restore IAST unit tests
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/ReflectionInjection/AssemblyTests.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/String/StringConcatTests.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/String/StringFormatTests.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/String/StringJoinTests.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/String/StringMaxRangesTests.cs
Labels: area:tests, area:asm, area:asm-iast

#6316 Enable RuntimeMetricsShutdownSmokeTest only for .NET 9+
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/SmokeTests/RuntimeMetricsShutdownSmokeTest.cs
Labels: area:tests

#6300 Fix typo in smoke test
  tracer/build/_build/Build.VariableGenerations.cs
Labels: area:builds

#6328 [Profiler] Fix a crash detected by crashtracker windows
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ContentionProvider.cpp
Labels: area:profiler, identified-by:crashtracking

#6287 [ASM] Update WAF v1.21.0 Ruleset 1.13.3
  tracer/build/_build/Build.Steps.cs
  tracer/build/smoke_test_snapshots/smoke_test_snapshots.json
  tracer/build/smoke_test_snapshots/smoke_test_snapshots_2_1.json
  tracer/src/Datadog.Trace/AppSec/Waf/ConfigFiles/rule-set.json
  tracer/test/Datadog.Trace.Security.Unit.Tests/WafErrorsTests.cs
  tracer/test/snapshots/Security.AspNetCore2.SecurityEnabled.test-external-waf-headers.verified.txt
  tracer/test/snapshots/Security.AspNetCore5.SecurityEnabled.test-external-waf-headers.verified.txt
  tracer/test/snapshots/Security.AspNetCore5.SecurityEnabled.test-null-action.verified.txt
  tracer/test/snapshots/Security.AspNetCore5AsmDataSecurityEnabled.__test=blocking-user_url=_user.verified.txt
  tracer/test/snapshots/Security.AspNetCore5AsmInitializationSecurityEnabled.TestSecurityInitialization.verified.txt
  tracer/test/snapshots/Security.AspNetCore5AsmInitializationSecurityEnabledWithBadRuleset.TestSecurityInitialization.verified.txt
  tracer/test/snapshots/Security.AspNetCore5AsmRemoteRules._.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5AsmData.Classic.enableSecurity=True.__test=blocking-ips_url=_.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5AsmData.Classic.enableSecurity=True.__test=blocking-user_url=_user.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5AsmData.Integrated.enableSecurity=True.__test=blocking-ips_url=_.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5AsmData.Integrated.enableSecurity=True.__test=blocking-user_url=_user.verified.txt
  tracer/test/snapshots/Security.AspNetWebApiAsmData.Classic.enableSecurity=True.__test=blocking-ips_url=_api_health.verified.txt
  tracer/test/snapshots/Security.AspNetWebApiAsmData.Classic.enableSecurity=True.__test=blocking-user_url=_api_user.verified.txt
  tracer/test/snapshots/Security.AspNetWebApiAsmData.Integrated.enableSecurity=True.__test=blocking-ips_url=_api_health.verified.txt
  tracer/test/snapshots/Security.AspNetWebApiAsmData.Integrated.enableSecurity=True.__test=blocking-user_url=_api_user.verified.txt
  tracer/test/snapshots/Security.AspNetWebFormsAsmData.Classic.enableSecurity=True.__test=blocking-ips_url=_default.aspx.verified.txt
  tracer/test/snapshots/Security.AspNetWebFormsAsmData.Classic.enableSecurity=True.__test=blocking-user_url=_user.verified.txt
  tracer/test/snapshots/Security.AspNetWebFormsAsmData.Integrated.enableSecurity=True.__test=blocking-ips_url=_default.aspx.verified.txt
  tracer/test/snapshots/Security.AspNetWebFormsAsmData.Integrated.enableSecurity=True.__test=blocking-user_url=_user.verified.txt
Labels: area:asm, area:asm-waf-update

#6329 [ASM]Fix appsec waf benchmark for real
  tracer/test/benchmarks/Benchmarks.Trace/Asm/EmptyDatadogTracer.cs
Labels: area:tests, area:asm

#6325 Add more info when GenerateDumpIfDbgRequested fails (take 3)
  profiler/test/Datadog.Profiler.IntegrationTests/LinuxOnly/WrapperLibraryTest.cs
Labels: area:profiler

#6298 Filter out dead threads in runtime metrics
  tracer/src/Datadog.Trace/RuntimeMetrics/ProcessSnapshotRuntimeInformation.cs
  tracer/test/Datadog.Trace.Tests/RuntimeMetrics/RuntimeMetricsWriterTests.cs
Labels: area:tracer

#6310 Ignore multiple instances of the same version of the tracer
  tracer/src/Datadog.Trace.Tools.dd_dotnet/Checks/ProcessBasicCheck.cs
Labels: area:tools

#6331 [CI Visibility] Catch `UploadRepositoryChanges` exceptions
  tracer/src/Datadog.Trace.Tools.Runner/CiUtils.cs
  tracer/src/Datadog.Trace/Ci/CIVisibility.cs
Labels: area:ci-visibility

#6334 Change `ICorProfilerMethodEnum` to use the `COMPtr`
  tracer/src/Datadog.Tracer.Native/rejit_handler.cpp
Labels: type:refactor, area:native-library, identified-by:crashtracking

#6336 [CI Visibility] Fix MSTest integrarion bug
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/MsTestV2/MsTestIntegration.cs
Labels: area:ci-visibility, area:integrations, identified-by:telemetry

#6337 [Crashtracking] Filter the ptrace_create hook
  profiler/src/ProfilerEngine/Datadog.Linux.ApiWrapper/functions_to_wrap.c
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/CrashReportingLinux.cpp
  tracer/test/Datadog.Trace.Tools.dd_dotnet.ArtifactTests/CreatedumpTests.cs
  tracer/test/test-applications/integrations/Samples.Console/Program.cs
Labels: area:tests

#6330 Fix bug in manual instrumentation
  tracer/src/Datadog.Trace.Manual/Configuration/ImmutableTracerSettings.cs
  tracer/src/Datadog.Trace.Manual/Configuration/IntegrationSettingsHelper.cs
  tracer/src/Datadog.Trace.Manual/Tracer.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/ManualInstrumentation/Tracer/CtorIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/ManualInstrumentation/Tracer/GetUpdatedImmutableTracerSettingsIntegration.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/test/test-applications/integrations/Samples.ManualInstrumentation/Program.cs
Labels: type:bug, area:tracer

#6160 [Profiler] Update tests to save output to xunit.txt files
  profiler/test/Datadog.Profiler.IntegrationTests/ApplicationInfo/ApplicationInfoTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Bugs/NullOrEmptyThreadNameCheck.cs
  profiler/test/Datadog.Profiler.IntegrationTests/CodeHotspot/CodeHotspotTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Contention/ContentionProfilerTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/CpuAndWallTime/CpuAndWallTimeTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/DebugInfo/GitMetadataTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/DebugInfo/LineNumberTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Exceptions/ExceptionsTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/GarbageCollections/GarbageCollectorCpuTimeTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/LinuxOnly/SignalHandlerTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/LinuxOnly/TimerCreateCpuProfilerTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/LinuxOnly/WrapperLibraryTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/LiveObjects/LiveObjectsProfilerTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Logger/NativeLogger.cs
  profiler/test/Datadog.Profiler.IntegrationTests/MetricsTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Signature/SignatureTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/SingleStepInstrumentation/SingleStepInstrumentationTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/SmokeTests/CpuLimitTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/SmokeTests/SmokeTestRunner.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Threads/ThreadLifetimeProviderTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Timeline/TimelineTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/WindowsOnly/EtwEventsTests.cs
  profiler/test/Datadog.Profiler.IntegrationTests/WindowsOnly/NamedPipeTestcs.cs
Labels: area:profiler

#6339 Fix alpine .NET Core 3.1 telemetry failures
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/Helpers/TelemetryHelper.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/HttpMessageHandlerTests.cs
Labels: area:tests

#6342 [ASM] Skip integration tests using Microsoft.Data.Sqlite on netcoreapp3.0
  tracer/test/Datadog.Trace.Security.IntegrationTests/IAST/AspNetCore5IastTests.cs
Labels: area:tests, area:asm

#6348 [CI Visibility] Specify if the user is setting the DD_SERVICE
  tracer/src/Datadog.Trace/Ci/CIVisibility.cs
  tracer/src/Datadog.Trace/Ci/Tags/CommonTags.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/MsTestV2EvpTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/MsTestV2Tests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/NUnitEvpTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/NUnitTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/XUnitEvpTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/XUnitTests.cs
  tracer/test/snapshots/MsTestV2EvpTests.EarlyFlakeDetection_packageVersion=post_2_2_4_all_efd.verified.txt
  tracer/test/snapshots/MsTestV2EvpTests.EarlyFlakeDetection_packageVersion=post_2_2_4_efd_with_test_bypass.verified.txt
  tracer/test/snapshots/MsTestV2EvpTests.EarlyFlakeDetection_packageVersion=pre_2_2_4_all_efd.verified.txt
  tracer/test/snapshots/MsTestV2EvpTests.EarlyFlakeDetection_packageVersion=pre_2_2_4_efd_with_test_bypass.verified.txt
  tracer/test/snapshots/MsTestV2EvpTests.SubmitTraces_packageVersion=post_2_2_4.verified.txt
  tracer/test/snapshots/MsTestV2EvpTests.SubmitTraces_packageVersion=pre_2_2_4.verified.txt
  tracer/test/snapshots/MsTestV2Tests.SubmitTraces_packageVersion=post_2_2_4.verified.txt
  tracer/test/snapshots/MsTestV2Tests.SubmitTraces_packageVersion=pre_2_2_4.verified.txt
  tracer/test/snapshots/MsTestV2Tests2.SubmitTraces_packageVersion=post_2_2_4.verified.txt
  tracer/test/snapshots/MsTestV2Tests2.SubmitTraces_packageVersion=pre_2_2_4.verified.txt
  tracer/test/snapshots/NUnitEvpTests.EarlyFlakeDetection_all_efd.verified.txt
  tracer/test/snapshots/NUnitEvpTests.EarlyFlakeDetection_efd_with_test_bypass.verified.txt
  tracer/test/snapshots/NUnitEvpTests.SubmitTraces_packageVersion=all.verified.txt
  tracer/test/snapshots/NUnitTests.SubmitTraces_packageVersion=all.verified.txt
  tracer/test/snapshots/SeleniumTests.Injection_all_versions.verified.txt
  tracer/test/snapshots/XUnitEvpTests.EarlyFlakeDetection_all_efd.verified.txt
  tracer/test/snapshots/XUnitEvpTests.EarlyFlakeDetection_efd_with_test_bypass.verified.txt
  tracer/test/snapshots/XUnitEvpTests.SubmitTraces_packageVersion=all.verified.txt
  tracer/test/snapshots/XUnitTests.SubmitTraces_packageVersion=all.verified.txt
Labels: area:ci-visibility

#6355 Exclude InetMgr.exe from instrumentation
  shared/src/Datadog.Trace.ClrProfiler.Native/util.h
  tracer/src/Datadog.Tracer.Native/dd_profiler_constants.h
Labels: area:native-library

#6357 [Crashtracker] Fix missing GetThreadDescription symbol
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Windows/CrashReportingWindows.cpp
Labels: area:profiler, area:crashtracking

#6349 Bump timeit to 0.3.2
  tracer/build/timeit/Samples.FakeDbCommand/Samples.FakeDbCommand.windows.net462.json
  tracer/build/timeit/Samples.FakeDbCommand/Samples.FakeDbCommand.windows.net60.json
  tracer/build/timeit/Samples.FakeDbCommand/Samples.FakeDbCommand.windows.net80.json
  tracer/build/timeit/Samples.FakeDbCommand/Samples.FakeDbCommand.windows.netcoreapp31.json
  tracer/build/timeit/Samples.FakeDbCommand/run.cmd
  tracer/build/timeit/Samples.HttpMessageHandler/Samples.HttpMessageHandler.windows.net462.json
  tracer/build/timeit/Samples.HttpMessageHandler/Samples.HttpMessageHandler.windows.net60.json
  tracer/build/timeit/Samples.HttpMessageHandler/Samples.HttpMessageHandler.windows.net80.json
  tracer/build/timeit/Samples.HttpMessageHandler/Samples.HttpMessageHandler.windows.netcoreapp31.json
  tracer/build/timeit/Samples.HttpMessageHandler/run.cmd
Labels: area:builds

#6350 Update npgsql to support 9.x.x
  tracer/build/PackageVersionsGeneratorDefinitions.json
  tracer/build/PackageVersionsLatestMajors.g.props
  tracer/build/PackageVersionsLatestMinors.g.props
  tracer/build/PackageVersionsLatestSpecific.g.props
  tracer/build/supported_calltargets.g.json
  tracer/build/supported_versions.json
  tracer/dependabot/Datadog.Dependabot.Integrations.csproj
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AdoNet/Npgsql/NpgsqlDefinitions.cs
  tracer/src/Datadog.Tracer.Native/Generated/generated_calltargets.g.h
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestMajors.g.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestMinors.g.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestSpecific.g.cs
Labels: type:enhancement, area:automatic-instrumentation

#6356 [DSM] Switch from `ManualResetEventSlim` to `AsyncManualResetEvent`
  tracer/src/Datadog.Trace/DataStreamsMonitoring/DataStreamsWriter.cs
Labels: area:tracer, type:refactor, area:data-streams-monitoring

#6332 Trim whitespace in DBM_PROPAGATION_MODE
  tracer/src/Datadog.Trace/Configuration/TracerSettings.cs
  tracer/test/Datadog.Trace.Tests/Configuration/TracerSettingsTests.cs
Labels: area:database-monitoring

#6352 Try enabling debug in `EnumerateAssemblyReferencesTest`
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/SmokeTests/EnumerateAssemblyReferencesTest.cs
Labels: area:tests

#6340 [ASM] iast: Tainting of DefaultInterpolatedStringHandler
  tracer/build/_build/CodeGenerators/CallSitesGenerator.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.Runtime/DefaultInterpolatedStringHandlerAspect.cs
  tracer/src/Datadog.Trace/Iast/DefaultTaintedMap.cs
  tracer/src/Datadog.Trace/Iast/Propagation/DefaultInterpolatedStringHandlerModuleImpl.cs
  tracer/src/Datadog.Tracer.Native/Generated/generated_callsites.g.h
  tracer/test/Datadog.Trace.Security.IntegrationTests/IAST/AspNetCore5IastTests.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/IAST/IastInstrumentationUnitTests.cs
  tracer/test/snapshots/Iast.SqliInterpolatedString.AspNetCore5.IastEnabled.verified.txt
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/String/DefaultInterpolatedStringHandlerTests.cs
  tracer/test/test-applications/security/Samples.Security.AspNetCore5/Controllers/IastController.cs
Labels: area:asm

#6354 Add support for mongodb v3
  tracer/build/PackageVersionsGeneratorDefinitions.json
  tracer/build/PackageVersionsLatestMajors.g.props
  tracer/build/PackageVersionsLatestMinors.g.props
  tracer/build/PackageVersionsLatestSpecific.g.props
  tracer/build/_build/Honeypot/IntegrationGroups.cs
  tracer/build/supported_calltargets.g.json
  tracer/build/supported_versions.json
  tracer/dependabot/Datadog.Dependabot.Integrations.csproj
  tracer/src/Datadog.Trace.Trimming/build/Datadog.Trace.Trimming.xml
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/MongoDb/BsonSerialization/BsonSerializationHelper.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/MongoDb/BsonSerialization/IBsonWriterProxyV3.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/MongoDb/BsonSerialization/MongoBsonWriterV3.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/MongoDb/IWireProtocol_ExecuteAsync_Integration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/MongoDb/IWireProtocol_Execute_Integration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/MongoDb/IWireProtocol_Generic_Execute_Integration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/MongoDb/MongoDbIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/ClrNames.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Tracer.Native/Generated/generated_calltargets.g.h
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/MongoDbTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestMajors.g.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestMinors.g.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestSpecific.g.cs
  tracer/test/Datadog.Trace.ClrProfiler.Managed.Tests/TypeNameTests.cs
  tracer/test/snapshots/MongoDbTests.SubmitsTraces_packageVersion=3_0.SchemaV0.verified.txt
  tracer/test/snapshots/MongoDbTests.SubmitsTraces_packageVersion=3_0.SchemaV1.verified.txt
  tracer/test/test-applications/integrations/Samples.MongoDB/Program.cs
  tracer/test/test-applications/integrations/Samples.MongoDB/Samples.MongoDB.csproj
Labels: type:enhancement, area:automatic-instrumentation

#6346 [Crashtracking] Zero the stackframe upon creation
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/CrashReportingLinux.cpp
Labels: area:profiler

#6344 Add more info when GenerateDumpIfDbgRequested fails (take 4)
  profiler/test/Datadog.Profiler.IntegrationTests/LinuxOnly/WrapperLibraryTest.cs
Labels: area:profiler

#6343 Update `dotnet test` tests to take memory dump on hang
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/MsTestV2EvpTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/MsTestV2Tests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/NUnitEvpTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/NUnitTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/TestingFrameworkRetriesTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/XUnitEvpTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/XUnitTests.cs
  tracer/test/Datadog.Trace.TestHelpers.AutoInstrumentation/TestHelper.cs
Labels: area:tests

#6362 Bail out if we're in a no-dynamic-code scenario
  tracer/src/Datadog.Trace.ClrProfiler.Managed.Loader/Startup.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/InstrumentationTests.cs
  tracer/test/Datadog.Trace.TestHelpers.AutoInstrumentation/TestHelper.cs
Labels: area:tracer, area:automatic-instrumentation, identified-by:telemetry

#6270 [APM] Exclude windows only definitions from non windows dlls
  tracer/build/_build/CodeGenerators/CallSitesGenerator.cs
  tracer/build/_build/CodeGenerators/CallTargetsGenerator.cs
  tracer/build/_build/CodeGenerators/TargetFrameworks.cs
  tracer/src/Datadog.Trace/ClrProfiler/TargetFrameworks.cs
  tracer/src/Datadog.Tracer.Native/Generated/generated_callsites.g.h
  tracer/src/Datadog.Tracer.Native/Generated/generated_calltargets.g.h
Labels: area:tracer, area:builds, area:native-library, area:asm-iast

#6369 Add testing for latest Microsoft.Data.Sqlite
  tracer/build/PackageVersionsGeneratorDefinitions.json
  tracer/build/PackageVersionsLatestMajors.g.props
  tracer/build/PackageVersionsLatestMinors.g.props
  tracer/build/PackageVersionsLatestSpecific.g.props
  tracer/build/supported_versions.json
  tracer/dependabot/Datadog.Dependabot.Integrations.csproj
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestMajors.g.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestMinors.g.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestSpecific.g.cs
Labels: area:tests, area:test-apps

#6347 [Crashtracker] Use blazesym API to retrieve buildid
  build/cmake/FindLibdatadog.cmake
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/CrashReportingLinux.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/CrashReportingLinux.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CrashReporting.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CrashReporting.h
  tracer/test/Datadog.Trace.Tools.dd_dotnet.ArtifactTests/CreatedumpTests.cs
  tracer/test/Datadog.Trace.Tools.dd_dotnet.ArtifactTests/Datadog.Trace.Tools.dd_dotnet.ArtifactTests.csproj
Labels: area:crashtracking

#6367 [Profiler] Disable flaky check
  profiler/test/Datadog.Profiler.Native.Tests/LinuxStackFramesCollectorTest.cpp
Labels: area:profiler
