Repository DataDog/dd-trace-dotnet, pull requests merged in 2024-08, with the labels that each got.

#5834 [IAST] Broaden AspNet cookies filtering (#5830 -> v2)
  tracer/src/Datadog.Trace/Iast/CookieAnalyzer.cs
  tracer/test/snapshots/Iast.TrustBoundaryViolation.AspNetCore5.IastEnabled.RedactionEnabled.verified.txt
  tracer/test/snapshots/Iast.TrustBoundaryViolation.AspNetCore5.IastEnabled.verified.txt
Labels: area:asm-iast

#5835 Add Callsite aspects analyzer to check for "safe" patterns
  tracer/src/Datadog.Trace.Tools.Analyzers/AspectAnalyzers/BeforeAfterAspectAnalyzer.cs
  tracer/src/Datadog.Trace.Tools.Analyzers/AspectAnalyzers/BeforeAfterAspectCodeFixProvider.cs
  tracer/src/Datadog.Trace.Tools.Analyzers/AspectAnalyzers/ReplaceAspectAnalyzer.cs
  tracer/src/Datadog.Trace.Tools.Analyzers/AspectAnalyzers/ReplaceAspectCodeFixProvider.cs
  tracer/test/Datadog.Trace.Tools.Analyzers.Tests/AspectAnalyzers/BeforeAfterAspectAnalyzerTests.cs
  tracer/test/Datadog.Trace.Tools.Analyzers.Tests/AspectAnalyzers/ReplaceAspectAnalyzerTests.cs
Labels: area:tools, area:asm-iast

#5827 [ASM] Add RASP timeout flag
  tracer/src/Datadog.Trace/AppSec/AppSecRequestContext.cs
  tracer/src/Datadog.Trace/AppSec/Coordinator/SecurityCoordinator.Reporter.cs
  tracer/src/Datadog.Trace/AppSec/Rasp/RaspTelemetryHelper.cs
  tracer/src/Datadog.Trace/Metrics.cs
  tracer/src/Datadog.Trace/TraceContext.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/RASP/RaspTelemetryHelperTests.cs
Labels: area:asm

#5825 Exclude an SSIS service from auto-tracing (#5813 -> v2)
  shared/src/Datadog.Trace.ClrProfiler.Native/util.h
  tracer/src/Datadog.Tracer.Native/dd_profiler_constants.h
Labels: area:native-library, type:reliability

#5816 Update `config_norm_rules` with old DI config
  tracer/test/Datadog.Trace.Tests/Telemetry/config_norm_rules.json
Labels: area:tests

#5722 [Dynamic Instrumentation] DEBUG-2489 Add default 3rd party detection includes\excludes
  tracer/src/Datadog.Trace/Configuration/ConfigurationKeys.Debugger.cs
  tracer/src/Datadog.Trace/Debugger/DebuggerSettings.cs
  tracer/src/Datadog.Trace/Debugger/ExceptionAutoInstrumentation/FrameFilter.cs
  tracer/src/Datadog.Trace/Debugger/LineProbeResolver.cs
  tracer/src/Datadog.Trace/Debugger/LiveDebugger.cs
  tracer/src/Datadog.Trace/Debugger/LiveDebuggerFactory.cs
  tracer/src/Datadog.Trace/Debugger/Symbols/AssemblyFilter.cs
  tracer/src/Datadog.Trace/Debugger/Symbols/SymbolsUploader.cs
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/LineProbeResolverTest.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/config_norm_rules.json
Labels: area:tracer, area:debugger

#5837 [Profiler] LibrariesInfoCache: fix reload bug
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/LibrariesInfoCache.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/LibrariesInfoCache.h
Labels: area:profiler

#5842 [Profiler] Add Callstack::CopyFrom method
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Callstack.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Callstack.h
  profiler/test/Datadog.Profiler.Native.Tests/CallstackTest.cpp
Labels: area:profiler

#5829 [Dynamic Instrumentation] Improved instrumentation matching of symbols received through SymDb
  tracer/src/Datadog.Trace/Debugger/ExceptionAutoInstrumentation/ExceptionDebuggingSettings.cs
  tracer/src/Datadog.Trace/Debugger/ExceptionAutoInstrumentation/ExceptionReplayDiagnosticTagNames.cs
  tracer/src/Datadog.Trace/Debugger/ExceptionAutoInstrumentation/ExceptionTrackManager.cs
  tracer/src/Datadog.Trace/Debugger/LiveDebugger.cs
  tracer/src/Datadog.Trace/Debugger/SignatureParser.cs
  tracer/src/Datadog.Tracer.Native/debugger_rejit_preprocessor.cpp
  tracer/src/Datadog.Tracer.Native/debugger_rejit_preprocessor.h
  tracer/src/Datadog.Tracer.Native/rejit_preprocessor.cpp
  tracer/src/Datadog.Tracer.Native/rejit_preprocessor.h
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Helpers/DebuggerTestHelper.cs
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/SignatureParserTests.cs
Labels: area:debugger

#5838 Ensure top-level entry points are wrapped with try-catch
  tracer/src/Datadog.Trace.ClrProfiler.Managed.Loader/Startup.cs
  tracer/src/Datadog.Trace/AgentProcessManager.cs
  tracer/src/Datadog.Trace/ClrProfiler/Instrumentation.cs
  tracer/src/Datadog.Trace/Debugger/ExceptionAutoInstrumentation/ExceptionDebugging.cs
  tracer/src/Datadog.Trace/RuntimeMetrics/PerformanceCountersListener.cs
  tracer/src/Datadog.Trace/Telemetry/Collectors/MetricsTelemetryCollectorBase.cs
  tracer/src/Datadog.Trace/Telemetry/TelemetryController.cs
  tracer/src/Datadog.Trace/TracerManager.cs
  tracer/src/Datadog.Trace/Util/Delegates/DelegateInstrumentation.cs
Labels: area:tracer, type:reliability

#5847 [Dynamic Instrumentation] Improved instrumentation matching of symbols received through SymDb (#5829 -> v2)
  tracer/src/Datadog.Trace/Debugger/ExceptionAutoInstrumentation/ExceptionDebuggingSettings.cs
  tracer/src/Datadog.Trace/Debugger/ExceptionAutoInstrumentation/ExceptionReplayDiagnosticTagNames.cs
  tracer/src/Datadog.Trace/Debugger/ExceptionAutoInstrumentation/ExceptionTrackManager.cs
  tracer/src/Datadog.Trace/Debugger/LiveDebugger.cs
  tracer/src/Datadog.Trace/Debugger/SignatureParser.cs
  tracer/src/Datadog.Tracer.Native/debugger_rejit_preprocessor.cpp
  tracer/src/Datadog.Tracer.Native/debugger_rejit_preprocessor.h
  tracer/src/Datadog.Tracer.Native/rejit_preprocessor.cpp
  tracer/src/Datadog.Tracer.Native/rejit_preprocessor.h
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Helpers/DebuggerTestHelper.cs
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/SignatureParserTests.cs
Labels: area:debugger

#5839 [IAST] Safeguard Insert Before / After aspects with try/catch
  tracer/src/Datadog.Trace.Tools.Analyzers/AspectAnalyzers/BeforeAfterAspectAnalyzer.cs
  tracer/src/Datadog.Trace.Tools.Analyzers/AspectAnalyzers/BeforeAfterAspectCodeFixProvider.cs
  tracer/src/Datadog.Trace/Iast/Aspects/AspNetCore.Http/HttpResponseAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/AspNetCore.Mvc/ControllerBaseAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/EntityFramework/EntityCommandAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/EntityFrameworkCore/EntityFrameworkCoreAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/MongoDB/BsonAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/MongoDB/MongoDatabaseAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/NHibernate/ISessionAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.Data.Common/DbCommandAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.DirectoryServices/DirectoryEntryAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.DirectoryServices/DirectorySearcherAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.DirectoryServices/PrincipalContextAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.DirectoryServices/SearchRequestAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.IO/DirectoryAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.IO/DirectoryInfoAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.IO/FileAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.IO/FileInfoAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.IO/FileStreamAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.IO/StreamReaderAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.IO/StreamWriterAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.Net/HttpClientAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.Net/WebClientAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.Net/WebRequestAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.Reflection/ActivatorAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.Reflection/AssemblyAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.Reflection/TypeAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.Security.Cryptography/HashAlgorithmAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.Security.Cryptography/SymmetricAlgorithmAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.Web.Mvc/HttpControllerAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.Web.SessionState/HttpSessionStateBaseAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.Web.SessionState/SessionExtensionsAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.Web/HttpResponseAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.Xml/SystemXmlAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.Xml/XPathExtensionAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System/RandomAspect.cs
  tracer/src/Datadog.Trace/Iast/IastModule.cs
  tracer/test/Datadog.Trace.Tools.Analyzers.Tests/AspectAnalyzers/BeforeAfterAspectAnalyzerTests.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/SSRF/WebClientTests.cs
Labels: area:asm, area:asm-iast

#5841 [IAST] Safeguard Method Replace aspects with try/catch
  tracer/src/Datadog.Trace.Tools.Analyzers/AspectAnalyzers/ReplaceAspectAnalyzer.cs
  tracer/src/Datadog.Trace.Tools.Analyzers/AspectAnalyzers/ReplaceAspectCodeFixProvider.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/AspectsDefinitionsGenerator/AspectsDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/AspectsDefinitionsGenerator/AspectsDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/AspectsDefinitionsGenerator/AspectsDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/AspectsDefinitionsGenerator/AspectsDefinitions.g.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.Net/WebUtilityAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.Security.Cryptography/SymmetricAlgorithmAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.Text.Json/JsonDocumentAspects.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.Text/StringBuilderAspects.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.Web.Extensions/JavaScriptSerializerAspects.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.Web/HttpCookieAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.Web/HttpUtilityAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System/StringAspects.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System/UriAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System/UriBuilderAspect.cs
  tracer/src/Datadog.Trace/Iast/IastModule.Escape.cs
  tracer/src/Datadog.Trace/Iast/Propagation/StringModuleImpl.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/IAST/IastInstrumentationUnitTests.cs
  tracer/test/Datadog.Trace.Tools.Analyzers.Tests/AspectAnalyzers/ReplaceAspectAnalyzerTests.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/InstrumentationTestsBase.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/String/StringConcatTests.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/String/StringJoinTests.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/String/StringSplitTests.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/StringBuilder/StringBuilderAppendJoin.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/StringBuilder/StringBuilderAppendTests.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/StringBuilder/StringBuilderInsertTests.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/StringBuilder/StringBuilderRemoveTests.cs
Labels: area:asm, area:asm-iast

#5832 Add a scheduled job that sets the SSI variables in all tests
  .azure-pipelines/steps/run-in-docker.yml
  .azure-pipelines/ultimate-pipeline.yml
  docker-compose.yml
  profiler/test/Datadog.Profiler.Native.Tests/ConfigurationTest.cpp
  tracer/build/_build/Build.Steps.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/InstrumentationTests.cs
Labels: area:builds

#5818 Use unified Gitlab pipeline for APM SDKs for SSI artifacts
  .azure-pipelines/ultimate-pipeline.yml
  .github/workflows/create_draft_release.yml
  .github/workflows/lib-injection-test.yml
  .github/workflows/lib-injection.yml
  .gitlab-ci.yml
  .gitlab/.gitlab-ci-snapshot-package-test-template.yml
  .gitlab/build-deb-rpm.sh
  .gitlab/build-lib-init.sh
  .gitlab/build-oci.sh
  .gitlab/download-single-step-artifacts.sh
  .gitlab/prepare-oci-package.sh
Labels: area:builds, status:work-in-progress, type:refactor

#5850 Ensure top-level entry points are wrapped with try-catch (#5838 -> v2)
  tracer/src/Datadog.Trace.ClrProfiler.Managed.Loader/Startup.cs
  tracer/src/Datadog.Trace/AgentProcessManager.cs
  tracer/src/Datadog.Trace/ClrProfiler/Instrumentation.cs
  tracer/src/Datadog.Trace/Debugger/ExceptionAutoInstrumentation/ExceptionDebugging.cs
  tracer/src/Datadog.Trace/RuntimeMetrics/PerformanceCountersListener.cs
  tracer/src/Datadog.Trace/Telemetry/Collectors/MetricsTelemetryCollectorBase.cs
  tracer/src/Datadog.Trace/Telemetry/TelemetryController.cs
  tracer/src/Datadog.Trace/TracerManager.cs
  tracer/src/Datadog.Trace/Util/Delegates/DelegateInstrumentation.cs
Labels: area:tracer, type:reliability

#5558 [Dynamic Instrumentation] DEBUG-2216 Getting value of field or property throws `NotSupportedException`
  tracer/src/Datadog.Trace/Debugger/Snapshots/DebuggerSnapshotSerializer.cs
Labels: area:tracer, area:debugger

#5851 [Profiler] Fix null named thread
  profiler/src/Demos/Samples.Computer01/NullThreadNameBugCheck.cs
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Windows/WindowsThreadsCpuManager.cpp
Labels: area:profiler

#5849 [IAST] Safeguard Insert Before / After aspects with try/catch (#5839 -> v2)
  tracer/src/Datadog.Trace.Tools.Analyzers/AspectAnalyzers/BeforeAfterAspectAnalyzer.cs
  tracer/src/Datadog.Trace.Tools.Analyzers/AspectAnalyzers/BeforeAfterAspectCodeFixProvider.cs
  tracer/src/Datadog.Trace/Iast/Aspects/AspNetCore.Http/HttpResponseAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/AspNetCore.Mvc/ControllerBaseAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/EntityFramework/EntityCommandAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/EntityFrameworkCore/EntityFrameworkCoreAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/MongoDB/BsonAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/MongoDB/MongoDatabaseAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/NHibernate/ISessionAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.Data.Common/DbCommandAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.DirectoryServices/DirectoryEntryAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.DirectoryServices/DirectorySearcherAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.DirectoryServices/PrincipalContextAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.DirectoryServices/SearchRequestAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.IO/DirectoryAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.IO/DirectoryInfoAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.IO/FileAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.IO/FileInfoAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.IO/FileStreamAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.IO/StreamReaderAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.IO/StreamWriterAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.Net/HttpClientAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.Net/WebClientAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.Net/WebRequestAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.Reflection/ActivatorAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.Reflection/AssemblyAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.Reflection/TypeAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.Security.Cryptography/HashAlgorithmAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.Security.Cryptography/SymmetricAlgorithmAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.Web.Mvc/HttpControllerAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.Web.SessionState/HttpSessionStateBaseAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.Web.SessionState/SessionExtensionsAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.Web/HttpResponseAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.Xml/SystemXmlAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.Xml/XPathExtensionAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System/RandomAspect.cs
  tracer/src/Datadog.Trace/Iast/IastModule.cs
  tracer/test/Datadog.Trace.Tools.Analyzers.Tests/AspectAnalyzers/BeforeAfterAspectAnalyzerTests.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/SSRF/WebClientTests.cs
Labels: area:asm, area:asm-iast

#5833 [Dynamic Instrumentation] DEBUG-2664 Remove `this` from static methods arguments upload
  tracer/src/Datadog.Trace/Debugger/Symbols/SymbolExtractor.cs
  tracer/src/Datadog.Trace/PDBs/DatadogMetadataReader.cs
Labels: area:tracer, area:debugger

#5854 [IAST] Add a mark to the modified instructions in IL dumps
  tracer/src/Datadog.Tracer.Native/cor_profiler.cpp
  tracer/src/Datadog.Tracer.Native/cor_profiler.h
  tracer/src/Datadog.Tracer.Native/iast/dataflow.cpp
  tracer/src/Datadog.Tracer.Native/iast/dataflow_aspects.cpp
  tracer/src/Datadog.Tracer.Native/iast/dataflow_il_analysis.cpp
  tracer/src/Datadog.Tracer.Native/iast/dataflow_il_rewriter.cpp
  tracer/src/Datadog.Tracer.Native/iast/dataflow_il_rewriter.h
  tracer/src/Datadog.Tracer.Native/rejit_handler.cpp
  tracer/src/Datadog.Tracer.Native/rejit_handler.h
Labels: area:native-library, area:asm-iast

#5861 Skip the mass transit test to see if it solves flake issues
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/SmokeTests/ServiceBusMinimalMassTransitTest.cs
Labels: area:builds, area:tests

#5860 [IAST] Add a mark to the modified instructions in IL dumps (#5854 -> v2)
  tracer/src/Datadog.Tracer.Native/cor_profiler.cpp
  tracer/src/Datadog.Tracer.Native/cor_profiler.h
  tracer/src/Datadog.Tracer.Native/iast/dataflow.cpp
  tracer/src/Datadog.Tracer.Native/iast/dataflow_aspects.cpp
  tracer/src/Datadog.Tracer.Native/iast/dataflow_il_analysis.cpp
  tracer/src/Datadog.Tracer.Native/iast/dataflow_il_rewriter.cpp
  tracer/src/Datadog.Tracer.Native/iast/dataflow_il_rewriter.h
  tracer/src/Datadog.Tracer.Native/rejit_handler.cpp
  tracer/src/Datadog.Tracer.Native/rejit_handler.h
Labels: area:native-library, area:asm, area:asm-iast

#5824 Disable keep-alive in HttpClientRequestFactory (#5810 -> v2)
  tracer/src/Datadog.Trace/Agent/Transports/HttpClientRequestFactory.cs
Labels: area:tracer

#5869 [Dynamic Instrumentation] Fix broken debugger integration test
  tracer/src/Datadog.Trace.Trimming/build/Datadog.Trace.Trimming.xml
  tracer/src/Datadog.Trace/Debugger/Expressions/ProbeExpressionParser.General.cs
  tracer/src/Datadog.Trace/Debugger/Expressions/ProbeExpressionParser.cs
Labels: area:debugger

#5864 Config refactor - Add telemetry to otel config (#5717 -> v2)
  tracer/src/Datadog.Trace.Tools.Runner/Utils.cs
  tracer/src/Datadog.Trace/Ci/Configuration/CIVisibilitySettings.cs
  tracer/src/Datadog.Trace/Configuration/ConfigurationSources/Telemetry/ConfigurationBuilder.cs
  tracer/src/Datadog.Trace/Configuration/ConfigurationSources/Telemetry/IConfigurationOverrideHandler.cs
  tracer/src/Datadog.Trace/Configuration/ConfigurationSources/Telemetry/OpenTelemetryHelpers.cs
  tracer/src/Datadog.Trace/Configuration/ConfigurationSources/Telemetry/OverrideErrorLog.cs
  tracer/src/Datadog.Trace/Configuration/GlobalSettings.cs
  tracer/src/Datadog.Trace/Configuration/ImmutableTracerSettings.cs
  tracer/src/Datadog.Trace/Configuration/TracerSettings.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/CiVisibilityMetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/CountExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/IMetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/NullMetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/CiVisibilityMetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/CountExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/IMetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/NullMetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/CiVisibilityMetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/CountExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/IMetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/NullMetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/CiVisibilityMetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/CountExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/IMetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/NullMetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Telemetry/Metrics/Count.cs
  tracer/src/Datadog.Trace/Telemetry/Metrics/MetricTags.cs
  tracer/src/Datadog.Trace/TracerManager.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/Helpers/TelemetryHelperTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.Managed.Tests/DbScopeFactoryTests.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/StandaloneASMBillingTests.cs
  tracer/test/Datadog.Trace.TestHelpers/LogSettingsHelper.cs
  tracer/test/Datadog.Trace.Tests/Configuration/ConfigurationSourceTests.cs
  tracer/test/Datadog.Trace.Tests/Configuration/GlobalSettingsTests.cs
  tracer/test/Datadog.Trace.Tests/Configuration/ImmutableTracerSettingsTests.cs
  tracer/test/Datadog.Trace.Tests/Configuration/MsmqTests.cs
  tracer/test/Datadog.Trace.Tests/Configuration/OverrideErrorLogExtensions.cs
  tracer/test/Datadog.Trace.Tests/Configuration/RabbitMQTests.cs
  tracer/test/Datadog.Trace.Tests/Configuration/TracerSettingsTests.cs
  tracer/test/Datadog.Trace.Tests/SpanTests.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/Collectors/ApplicationTelemetryCollectorTests.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/Collectors/ConfigurationTelemetryCollectorTests.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/Collectors/MetricsTelemetryCollectorTests.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/Metrics/common_metrics.json
  tracer/test/Datadog.Trace.Tests/Telemetry/TelemetryFactoryTests.cs
Labels: area:tracer, type:refactor, area:opentelemetry

#5863 [Backport][Crashtracking] Ensure crashtracking does not prevent coredump collection (#5852 -> v2)
  profiler/src/ProfilerEngine/Datadog.Linux.ApiWrapper/functions_to_wrap.c
Labels: area:native-library

#5812 [Profiler] Signal-based profiler/Non-Signal-based: prevent deadlock
  profiler/src/Demos/Samples.Computer01/ComputerService.cs
  profiler/src/Demos/Samples.Computer01/LinuxDlIteratePhdrDeadlock.cs
  profiler/src/Demos/Samples.Computer01/Program.cs
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/LinuxStackFramesCollector.cpp
  profiler/test/Datadog.Profiler.IntegrationTests/LinuxOnly/DlIteratePhdrDeadlock.cs
Labels: area:profiler

#5857 Update Datadog.Trace README to reference v3 migration guide
  docs/Datadog.Trace/README.md
Labels: area:docs

#5865 Add verification step to create_draft_release to check SSI one-pipeline succeeded
  .github/workflows/create_draft_release.yml
  .nuke/build.schema.json
  tracer/build/_build/Build.GitHub.cs
Labels: area:builds

#5874 [build] change agent image source
  .azure-pipelines/ultimate-pipeline.yml
Labels: area:builds

#5840 Catch exceptions when trying to shutdown IIS
  tracer/test/Datadog.Trace.TestHelpers.AutoInstrumentation/IisFixture.cs
Labels: area:tests

#5868 Backport unified pipeline for APM SDKs for SSI artifacts
  .azure-pipelines/ultimate-pipeline.yml
  .github/workflows/create_draft_release.yml
  .github/workflows/lib-injection-test.yml
  .github/workflows/lib-injection.yml
  .gitlab-ci.yml
  .gitlab/.gitlab-ci-snapshot-package-test-template.yml
  .gitlab/build-deb-rpm.sh
  .gitlab/build-lib-init.sh
  .gitlab/build-oci.sh
  .gitlab/download-single-step-artifacts.sh
  .gitlab/prepare-oci-package.sh
Labels: area:builds, type:refactor

#5846 [ASM] Detect enabled RASP rules
  tracer/src/Datadog.Trace/AppSec/Rasp/RaspModule.cs
  tracer/src/Datadog.Trace/AppSec/Security.cs
  tracer/src/Datadog.Trace/AppSec/Waf/IWaf.cs
  tracer/src/Datadog.Trace/AppSec/Waf/NativeBindings/WafLibraryInvoker.cs
  tracer/src/Datadog.Trace/AppSec/Waf/Waf.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/IAST/AspNetCore5IastAsm.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/RASP/AspNetCore5Rasp.cs
  tracer/test/snapshots/RaspRCM.RuleEnableDisableEnable.AspNetCore5.Lfi_url=-Iast-GetFileContent-file=-etc-password_exploit=Lfi.verified.txt
  tracer/test/snapshots/Security.AspNetCore5IastAsm._.verified.txt
  tracer/test/test-applications/security/Samples.Security.AspNetCore2/rasp-rule-set.json
Labels: area:asm

#5866 Add an `IsManualInstrumentationOnly` flag to Datadog.Trace.Manual
  tracer/src/Datadog.Trace.Manual/ClrProfiler/Instrumentation.cs
  tracer/src/Datadog.Tracer.Native/cor_profiler.cpp
  tracer/src/Datadog.Tracer.Native/cor_profiler.h
  tracer/src/Datadog.Tracer.Native/dd_profiler_constants.h
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/ManualInstrumentationTests.cs
  tracer/test/test-applications/integrations/Samples.ManualInstrumentation/Program.cs
Labels: area:tracer, area:native-library

#5881 Fix `NullReferenceException` in `HttpClientResponse.GetCharsetEncoding`
  tracer/missing-nullability-files.csv
  tracer/src/Datadog.Trace/Agent/IApiResponse.cs
  tracer/src/Datadog.Trace/Agent/Transports/ApiWebResponse.cs
  tracer/src/Datadog.Trace/Agent/Transports/HttpClientResponse.cs
  tracer/src/Datadog.Trace/Agent/Transports/HttpStreamResponse.cs
  tracer/src/Datadog.Trace/Util/EncodingHelpers.cs
Labels: type:bug, area:tracer, identified-by:telemetry

#5880 Fix `NullReferenceException` in ASP.NET Core when `RoutePattern.RawText` is `null`
  tracer/missing-nullability-files.csv
  tracer/src/Datadog.Trace/DiagnosticListeners/AspNetCoreResourceNameHelper.cs
  tracer/src/Datadog.Trace/DiagnosticListeners/RoutePattern.cs
Labels: type:bug, area:tracer, identified-by:telemetry

#5809 [Dynamic Instrumentation] DEBUG-2560 EL- Fix `IsEmpty` for string and collections
  tracer/src/Datadog.Trace/Debugger/Expressions/ProbeExpressionParser.String.cs
  tracer/test/Datadog.Trace.Tests/Debugger/DebuggerExpressionLanguageTests.cs
  tracer/test/Datadog.Trace.Tests/Debugger/ProbeExpressionsResources/Approvals/DebuggerExpressionLanguageTests.IsEmpty.verified.txt
  tracer/test/Datadog.Trace.Tests/Debugger/ProbeExpressionsResources/Approvals/DebuggerExpressionLanguageTests.IsEmptyCollection.verified.txt
  tracer/test/Datadog.Trace.Tests/Debugger/ProbeExpressionsResources/Approvals/DebuggerExpressionLanguageTests.IsEmptyUnsupportedType.verified.txt
  tracer/test/Datadog.Trace.Tests/Debugger/ProbeExpressionsResources/Conditions/IsEmpty.json
  tracer/test/Datadog.Trace.Tests/Debugger/ProbeExpressionsResources/Conditions/IsEmptyCollection.json
  tracer/test/Datadog.Trace.Tests/Debugger/ProbeExpressionsResources/Conditions/IsEmptyUnsupportedType.json
Labels: area:debugger

#5879 Add verification step to create_draft_release to check SSI one-pipeline succeeded (#5865 -> v2)
  .github/workflows/create_draft_release.yml
  .nuke/build.schema.json
  tracer/build/_build/Build.GitHub.cs
Labels: area:builds

#5883 [ASM] Refactor hardcoded secret analyzer
  tracer/src/Datadog.Trace/Iast/Analyzers/HardcodedSecretsAnalyzer.cs
Labels: area:tracer, area:asm

#5889 Try fix smoke tests
  .azure-pipelines/steps/install-docker-compose-v1.yml
  .azure-pipelines/steps/run-snapshot-test.yml
  .azure-pipelines/ultimate-pipeline.yml
Labels: area:builds

#5891 Try fix smoke tests (#5889 -> v2)
  .azure-pipelines/steps/install-docker-compose-v1.yml
  .azure-pipelines/steps/run-snapshot-test.yml
  .azure-pipelines/ultimate-pipeline.yml
Labels: area:builds

#5894 Fix bug in verification stage of release
  tracer/build/_build/Build.GitHub.cs
Labels: area:builds

#5895 Fix branch selection in version bump PR
  .github/workflows/auto_create_version_bump_pr.yml
Labels: area:builds

#5744 Output samples to a single top-level "artifacts" folder
  .azure-pipelines/steps/run-snapshot-test.yml
  .azure-pipelines/ultimate-pipeline.yml
  docker-compose.serverless.yml
  docker-compose.windows.yml
  docker-compose.yml
  tracer/build/_build/Build.Steps.cs
  tracer/build/_build/Build.cs
  tracer/build/_build/docker/serverless.lambda.dockerfile
  tracer/test/Datadog.Trace.TestHelpers/EnvironmentHelper.cs
  tracer/test/test-applications/Directory.Build.props
  tracer/test/test-applications/azure-functions/Directory.Build.props
  tracer/test/test-applications/debugger/Directory.Build.props
  tracer/test/test-applications/debugger/dependency-libs/Directory.Build.props
  tracer/test/test-applications/integrations/Samples.Amazon.Lambda.RuntimeSupport/serverless.lambda.dockerfile
  tracer/test/test-applications/integrations/Samples.Selenium/Samples.Selenium.csproj
  tracer/test/test-applications/integrations/Samples.XUnitTests/Samples.XUnitTests.csproj
  tracer/test/test-applications/integrations/dependency-libs/Directory.Build.props
  tracer/test/test-applications/regression/ServiceBus.Minimal.NServiceBus/Directory.Build.props
Labels: area:builds

#5906 Ignore `StyleCop.Analyzers` in dependabot
  .github/dependabot.yml
Labels: area:builds

#5907 Fix gitlab build
  .gitlab-ci.yml
Labels: area:builds

#5901 Fix bug in verification stage of release (#5894 -> v2)
  tracer/build/_build/Build.GitHub.cs
Labels: area:builds

#5867 [Profiler] Improve .NET Framework profiling support
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Windows/EtwEventsManager.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Windows/EtwEventsManager.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/AllocationsProvider.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/AllocationsProvider.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ClrEventsParser.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ContentionProvider.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CorProfilerCallback.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/IAllocationsListener.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/RawAllocationSample.h
Labels: area:profiler

#5900 [serverless] No-op AWS Lambda integration on missing API Key
  docker-compose.serverless.yml
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/Lambda/HandlerWrapperSetHandlerIntegration.cs
Labels: area:serverless, area:integrations

#5911 Skip the mass transit test to see if it solves flake issues (#5861 -> v2)
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/SmokeTests/ServiceBusMinimalMassTransitTest.cs
Labels: area:builds, area:tests, area:test-apps

#5899 Fix musl tags for dd-lib-dotnet-init image
  .gitlab-ci.yml
Labels: type:bug, area:builds

#5912 Remove prerelease flag from smoke tests
  tracer/build/_build/docker/smoke.dotnet-tool.nuget.dockerfile
Labels: area:builds

#5919 Enable ad-hoc memory dumps on Windows x86
  tracer/test/Datadog.Trace.TestHelpers/MemoryDumpHelper.cs
Labels: area:tests

#5920 [IAST] Move analyzers init to an explicit call
  tracer/src/Datadog.Trace/ClrProfiler/Instrumentation.cs
  tracer/src/Datadog.Trace/Iast/Iast.cs
Labels: identified-by:crashtracking

#5792 [Mini Agent][Private Beta Testing] Mini-agent for Azure Function Apps for non-consumption plans
  tracer/src/Datadog.Trace/ClrProfiler/ServerlessInstrumentation/ServerlessMiniAgent.cs
  tracer/src/Datadog.Trace/Configuration/ImmutableAzureAppServiceSettings.cs
  tracer/src/Datadog.Trace/Configuration/ImmutableTracerSettings.cs
  tracer/src/Datadog.Trace/Configuration/TracerSettings.cs
  tracer/src/Datadog.Trace/Telemetry/TelemetrySettings.cs
  tracer/test/Datadog.Trace.Tests/Configuration/ImmutableAzureAppServiceSettingsTests.cs
Labels: area:serverless

#5922 Stop testing .NET Core 2.1 on PRs
  .azure-pipelines/ultimate-pipeline.yml
  tracer/build/_build/Build.Steps.cs
  tracer/build/_build/Build.VariableGenerations.cs
Labels: area:builds

#5926 [IAST] Taint db minor fixes
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AdoNet/ReaderCloseIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AdoNet/ReaderGetStringIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AdoNet/ReaderReadAsyncIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AdoNet/ReaderReadIntegration.cs
Labels: area:integrations

#5927 Remove obsolete lib-injection build artifacts
  lib-injection/Dockerfile
  lib-injection/copy-lib.sh
Labels: area:builds

#5923 Try fix single step download builds
  .gitlab/download-single-step-artifacts.sh
Labels: area:builds

#5930 Fix ToString and ToWString on large strings
  shared/src/native-src/string.cpp
  shared/test/Datadog.Trace.ClrProfiler.Native.Tests/string_test.cpp
Labels: area:native-library, area:shared-components

#5913 [IAST] CallSite with generics support
  Datadog.Trace.sln
  tracer/src/Datadog.Trace.SourceGenerators/AspectsDefinitions/AspectsDefinitionsGenerator.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/AspectsDefinitionsGenerator/AspectsDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/AspectsDefinitionsGenerator/AspectsDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/AspectsDefinitionsGenerator/AspectsDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/AspectsDefinitionsGenerator/AspectsDefinitions.g.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.Text/StringBuilderAspects.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System/StringAspects.cs
  tracer/src/Datadog.Tracer.Native/iast/aspect.cpp
  tracer/src/Datadog.Tracer.Native/iast/aspect.h
  tracer/src/Datadog.Tracer.Native/iast/dataflow_aspects.cpp
  tracer/src/Datadog.Tracer.Native/iast/dataflow_aspects.h
  tracer/src/Datadog.Tracer.Native/iast/dataflow_il_rewriter.cpp
  tracer/src/Datadog.Tracer.Native/iast/dataflow_il_rewriter.h
  tracer/src/Datadog.Tracer.Native/iast/method_info.cpp
  tracer/src/Datadog.Tracer.Native/iast/method_info.h
  tracer/src/Datadog.Tracer.Native/iast/module_info.cpp
  tracer/src/Datadog.Tracer.Native/iast/module_info.h
  tracer/src/Datadog.Tracer.Native/iast/signature_info.h
  tracer/test/Datadog.Trace.SourceGenerators.Tests/AspectsDefinitionsGeneratorTests.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/String/StringConcatTests.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/String/StringJoinTests.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/StringBuilder/StringBuilderAppendJoin.cs
Labels: area:asm, area:asm-iast

#5941 Revert "[serverless] No-op AWS Lambda integration on missing API Key"
  docker-compose.serverless.yml
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/Lambda/HandlerWrapperSetHandlerIntegration.cs
Labels: area:serverless

#5934 [Tracer] Skip inserting the startup hook into methods in the type `Costura.AssemblyLoader` (#5910 -> v2)
  tracer/src/Datadog.Tracer.Native/cor_profiler.cpp
Labels: area:tracer, area:native-library

#5937 [IAST] Move analyzers init to an explicit call (#5920 -> v2)
  tracer/src/Datadog.Trace/ClrProfiler/Instrumentation.cs
  tracer/src/Datadog.Trace/Iast/Iast.cs
Labels: area:asm-iast, identified-by:crashtracking

#5938 Fix signature size check in ModifyLocalSig (#5921 -> v2)
  tracer/src/Datadog.Tracer.Native/calltarget_tokens.cpp
Labels: area:native-library

#5940 Fix ToString and ToWString on large strings (#5930 -> v2)
  shared/src/native-src/string.cpp
  shared/test/Datadog.Trace.ClrProfiler.Native.Tests/string_test.cpp
Labels: area:native-library, area:shared-components

#5945 Remove dependency of download-single-step-artifacts on build
  .gitlab-ci.yml
Labels: area:builds

#5936 Normalize the environment variable names used by crashtracking (#5898 -> v2)
  profiler/src/ProfilerEngine/Datadog.Linux.ApiWrapper/functions_to_wrap.c
  profiler/test/Datadog.Profiler.IntegrationTests/LinuxOnly/WrapperLibraryTest.cs
  tracer/src/Datadog.Trace.Tools.dd_dotnet/CreatedumpCommand.cs
  tracer/test/Datadog.Trace.Tools.dd_dotnet.ArtifactTests/CreatedumpTests.cs
Labels: area:telemetry

#5950 Ensure we clean log files before testing with Nuke
  tracer/build/_build/Build.ExplorationTests.cs
  tracer/build/_build/Build.Steps.Debugger.cs
  tracer/build/_build/Build.Steps.cs
Labels: area:builds, area:tests

#5949 Fix incorrect instrumentation for `new TracerSettings(bool)`
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/ManualInstrumentation/Configuration/TracerSettings/CtorUseDefaultSourcesIntegration.cs
Labels: area:tracer, area:automatic-instrumentation, area:integrations

#5954 Don't include the Datadog.Trace.BenchmarkDotNet NuGet in the release artifacts
  .azure-pipelines/ultimate-pipeline.yml
Labels: area:builds, area:ci-visibility

#5944 Prevent the native loader from being unloaded while sending telemetry
  shared/src/Datadog.Trace.ClrProfiler.Native/single_step_guard_rails.cpp
Labels: area:shared-components

#5951 Log to a random file in telemetry forwarder tests
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/InstrumentationTests.cs
Labels: area:tests

#5770 Try to head off future build issues
  .azure-pipelines/steps/install-dotnet-sdk-manually.yml
  tracer/build/_build/bootstrap/dotnet-install.ps1
  tracer/build/_build/bootstrap/dotnet-install.sh
  tracer/build/_build/docker/alpine.dockerfile
  tracer/build/_build/docker/centos7.build.dockerfile
  tracer/build/_build/docker/centos7.dockerfile
  tracer/build/_build/docker/debian.dockerfile
  tracer/build/_build/docker/smoke.windows.dd-dotnet.dockerfile
  tracer/build/_build/docker/smoke.windows.dockerfile
  tracer/build/_build/docker/smoke.windows.dotnet-tool.dockerfile
  tracer/build/_build/docker/smoke.windows.nuget.dd-dotnet.dockerfile
  tracer/build/_build/docker/smoke.windows.nuget.dockerfile
  tracer/build/_build/docker/smoke.windows.tracer-home.dockerfile
Labels: area:builds

#5956 Protect the connection string tags extractor from an invalid connection string
  tracer/src/Datadog.Trace/Util/DbCommandCache.cs
Labels: area:tracer, identified-by:telemetry

#5957 Prevent the native loader from being unloaded while sending telemetry (#5944 => V2)
  shared/src/Datadog.Trace.ClrProfiler.Native/single_step_guard_rails.cpp
Labels: area:shared-components

#5871 [ASM] RASP shell injection vulnerability
  tracer/src/Datadog.Trace/AppSec/AddressesConstants.cs
  tracer/src/Datadog.Trace/AppSec/Rasp/RaspModule.cs
  tracer/src/Datadog.Trace/AppSec/Rasp/RaspShellInjectionHelper.cs
  tracer/src/Datadog.Trace/AppSec/VulnerabilitiesModule.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Process/ProcessStartIntegration.cs
  tracer/src/Datadog.Trace/Iast/IastModule.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/RASP/AspNetCore2Rasp.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/RASP/AspNetCore5Rasp.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/RASP/AspNetMvc5Rasp.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/rasp-rule-set.json
  tracer/test/Datadog.Trace.Security.Unit.Tests/RASP/RaspWafTests.cs
  tracer/test/snapshots/Rasp.AspNetCore2.CmdI_url=-Iast-ExecuteCommand-file=ls&argumentLine=;evilCommand&fromShell=true_exploit=CmdI.verified.txt
  tracer/test/snapshots/Rasp.AspNetCore5.CmdI_url=-Iast-ExecuteCommand-file=ls&argumentLine=;evilCommand&fromShell=true_exploit=CmdI.verified.txt
  tracer/test/snapshots/Rasp.AspNetMvc5.Classic.CmdI_url=-Iast-ExecuteCommand-file=ls&argumentLine=;evilCommand&fromShell=true_exploit=CmdI.verified.txt
  tracer/test/snapshots/Rasp.AspNetMvc5.Integrated.CmdI_url=-Iast-ExecuteCommand-file=ls&argumentLine=;evilCommand&fromShell=true_exploit=CmdI.verified.txt
  tracer/test/snapshots/RaspIast.AspNetCore2.CmdI_url=-Iast-ExecuteCommand-file=ls&argumentLine=;evilCommand&fromShell=true_exploit=CmdI.verified.txt
  tracer/test/snapshots/RaspIast.AspNetCore5.CmdI_url=-Iast-ExecuteCommand-file=ls&argumentLine=;evilCommand&fromShell=true_exploit=CmdI.verified.txt
  tracer/test/snapshots/RaspIast.AspNetMvc5.Classic.CmdI_url=-Iast-ExecuteCommand-file=ls&argumentLine=;evilCommand&fromShell=true_exploit=CmdI.verified.txt
  tracer/test/snapshots/RaspIast.AspNetMvc5.Integrated.CmdI_url=-Iast-ExecuteCommand-file=ls&argumentLine=;evilCommand&fromShell=true_exploit=CmdI.verified.txt
  tracer/test/test-applications/security/Samples.Security.AspNetCore2/rasp-rule-set.json
  tracer/test/test-applications/security/Samples.Security.AspNetCore5/Controllers/IastController.cs
  tracer/test/test-applications/security/Samples.Security.AspNetCore5/Views/Home/Index.cshtml
  tracer/test/test-applications/security/Samples.Security.AspNetCore5/rasp-rule-set.json
  tracer/test/test-applications/security/aspnet/Samples.Security.AspNetMvc5/Controllers/IastController.cs
Labels: area:asm

#5933 Add support for alpine on arm64
  .azure-pipelines/ultimate-pipeline.yml
  Datadog.Trace.Minimal.slnf
  build/cmake/FindLibunwind.cmake
  docs/Datadog.Trace.Bundle/README.md
  profiler/test/Datadog.Profiler.IntegrationTests/Helpers/EnvironmentHelper.cs
  shared/src/Datadog.Trace.ClrProfiler.Native/loader.conf
  tracer/build/_build/Build.Steps.cs
  tracer/build/_build/Build.VariableGenerations.cs
  tracer/build/_build/Build.cs
  tracer/build/_build/docker/alpine.build.arm64.dockerfile
  tracer/build/_build/docker/alpine.dockerfile
  tracer/build/artifacts/dd-dotnet.sh
  tracer/src/Datadog.Trace.Tools.Runner/Datadog.Trace.Tools.Runner.csproj
  tracer/src/Datadog.Trace.Tools.Runner/Utils.cs
  tracer/src/Datadog.Trace.Tools.dd_dotnet/Checks/ProcessBasicCheck.cs
  tracer/src/Datadog.Trace.Tools.dd_dotnet/Utils.cs
  tracer/src/Datadog.Trace/AppSec/Waf/Initialization/LibraryLocationHelper.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/InstrumentationTests.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/IAST/IastInstrumentationUnitTests.cs
  tracer/test/Datadog.Trace.TestHelpers/EnvironmentHelper.cs
  tracer/test/Datadog.Trace.Tests/FrameworkDescriptionTests.cs
  tracer/test/Datadog.Trace.Tools.dd_dotnet.ArtifactTests/Checks/ToolTestHelper.cs
  tracer/test/Datadog.Trace.Tools.dd_dotnet.ArtifactTests/Utils.cs
  tracer/test/Datadog.Trace.Tools.dd_dotnet.IntegrationTests/Checks/ProcessBasicChecksTests.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/SqlInjection/EFCoreSqliteTests.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/SqlInjection/MicrosoftSqLiteTests.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/generaterunsettings.sh
Labels: area:tracer, type:new-feature, area:shared-components

#5960 Protect the connection string tags extractor from an invalid connection string (#5956 -> v2)
  tracer/src/Datadog.Trace/Util/DbCommandCache.cs
Labels: area:tracer, identified-by:telemetry

#5961 Remove the xml and pdb files from the linux packages
  tracer/build/_build/Build.Steps.cs
Labels: area:builds

#5959 [Profiler] Provide the thread id that blocked another thread
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ClrEventsParser.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ClrEventsParser.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ContentionProvider.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ContentionProvider.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CorProfilerCallback.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/IContentionListener.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ManagedThreadInfo.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ManagedThreadInfo.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/RawContentionSample.h
  profiler/test/Datadog.Profiler.IntegrationTests/Contention/ContentionProfilerTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Helpers/PprofHelper.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Helpers/SamplesHelper.cs
Labels: area:profiler

#5952 [Crashtracking] Keep mangled name in case of error
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/CrashReportingLinux.cpp
Labels: area:profiler

#5965 Fix debugger arm64 alpine tests
  .azure-pipelines/ultimate-pipeline.yml
  tracer/build/_build/Build.VariableGenerations.cs
Labels: area:builds

#5966 [IAST] Added missing netstd snapshot
  tracer/test/snapshots/Security.AspNetCore2.enableIast=True.path =_Iast_AllVulnerabilitiesCookie.verified.txt
Labels: area:tests, area:asm-iast

#5821 [Exception Replay] Added test suite for ASP.NET Core
  Datadog.Trace.Debugger.slnf
  Datadog.Trace.sln
  tracer/build/_build/Build.Steps.Debugger.cs
  tracer/build/_build/Projects.cs
  tracer/src/Datadog.Trace/ClrProfiler/Instrumentation.cs
  tracer/src/Datadog.Trace/Configuration/ConfigurationKeys.Debugger.cs
  tracer/src/Datadog.Trace/Debugger/ExceptionAutoInstrumentation/ExceptionCaseInstrumentationManager.cs
  tracer/src/Datadog.Trace/Debugger/ExceptionAutoInstrumentation/ExceptionDebugging.cs
  tracer/src/Datadog.Trace/Debugger/ExceptionAutoInstrumentation/ExceptionDebuggingProbe.cs
  tracer/src/Datadog.Trace/Debugger/ExceptionAutoInstrumentation/ExceptionRelatedFrames.cs
  tracer/src/Datadog.Trace/Debugger/ExceptionAutoInstrumentation/ExceptionReplaySettings.cs
  tracer/src/Datadog.Trace/Debugger/ExceptionAutoInstrumentation/ExceptionTrackManager.cs
  tracer/src/Datadog.Trace/Debugger/Expressions/MethodScopeMembers.cs
  tracer/src/Datadog.Tracer.Native/debugger_environment_variables.h
  tracer/src/Datadog.Tracer.Native/debugger_environment_variables_util.cpp
  tracer/src/Datadog.Tracer.Native/debugger_environment_variables_util.h
  tracer/src/Datadog.Tracer.Native/debugger_probes_instrumentation_requester.cpp
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/AspNetCore5ExceptionReplay.FullCallStack.ExceptionWithNonSupportedFramesTest.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/AspNetCore5ExceptionReplay.FullCallStack.RecursiveExceptionTest.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/AspNetCore5ExceptionReplay.RecursiveExceptionTest.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ExceptionReplay.AspNetCore5.ExceptionWithNonSupportedFramesTest.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ExceptionReplay.AspNetCore5.RecursiveExceptionTest.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ExceptionReplay.AspNetCore5.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ExceptionReplay.FullCallStack.AspNetCore5.ExceptionWithNonSupportedFramesTest.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ExceptionReplay.FullCallStack.AspNetCore5.RecursiveExceptionTest.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ExceptionReplay.FullCallStack.AspNetCore5.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/AspNetBase.cs
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/ExceptionReplay/Approvals/AspNetCore5ExceptionReplay.ExceptionWithNonSupportedFramesTest.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/ExceptionReplay/Approvals/AspNetCore5ExceptionReplay.FullCallStack.ExceptionWithNonSupportedFramesTest.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/ExceptionReplay/Approvals/AspNetCore5ExceptionReplay.FullCallStack.RecursiveExceptionTest.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/ExceptionReplay/Approvals/AspNetCore5ExceptionReplay.RecursiveExceptionTest.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/ExceptionReplay/AspNetCore5ExceptionReplay.ExceptionWithNonSupportedFramesTest.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/ExceptionReplay/AspNetCore5ExceptionReplay.FullCallStack.ExceptionWithNonSupportedFramesTest.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/ExceptionReplay/AspNetCore5ExceptionReplay.RecursiveExceptionTest.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/ExceptionReplay/AspNetCore5ExceptionReplay.cs
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Helpers/Approver.cs
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/ProbesTests.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/config_norm_rules.json
  tracer/test/test-applications/debugger/Samples.Debugger.AspNetCore5/Controllers/HealthController.cs
  tracer/test/test-applications/debugger/Samples.Debugger.AspNetCore5/Controllers/HomeController.cs
  tracer/test/test-applications/debugger/Samples.Debugger.AspNetCore5/Program.cs
  tracer/test/test-applications/debugger/Samples.Debugger.AspNetCore5/Properties/launchSettings.json
  tracer/test/test-applications/debugger/Samples.Debugger.AspNetCore5/Samples.Debugger.AspNetCore5.csproj
  tracer/test/test-applications/debugger/Samples.Debugger.AspNetCore5/Startup.cs
  tracer/test/test-applications/debugger/Samples.Debugger.AspNetCore5/appsettings.Development.json
  tracer/test/test-applications/debugger/Samples.Debugger.AspNetCore5/appsettings.json
  tracer/test/test-applications/debugger/Samples.Debugger.AspNetCore5/web.config
  tracer/test/test-applications/debugger/dependency-libs/Samples.Probes.TestRuns/ExceptionReplay/ExceptionWithNonSupportedFramesTest.cs
  tracer/test/test-applications/debugger/dependency-libs/Samples.Probes.TestRuns/ExceptionReplay/RecursiveExceptionTest.cs
  tracer/test/test-applications/debugger/dependency-libs/Samples.Probes.TestRuns/ExceptionReplayTestDataAttribute.cs
Labels: area:tests

#5969 Fix v2 branch building
  .azure-pipelines/steps/install-dotnet-sdk-manually.yml
  Datadog.Trace.Minimal.slnf
  tracer/build/_build/Build.Steps.cs
  tracer/build/_build/bootstrap/dotnet-install.ps1
  tracer/build/_build/bootstrap/dotnet-install.sh
  tracer/build/_build/docker/alpine.dockerfile
  tracer/build/_build/docker/centos7.build.dockerfile
  tracer/build/_build/docker/centos7.dockerfile
  tracer/build/_build/docker/debian.dockerfile
  tracer/build/_build/docker/smoke.windows.dd-dotnet.dockerfile
  tracer/build/_build/docker/smoke.windows.dockerfile
  tracer/build/_build/docker/smoke.windows.dotnet-tool.dockerfile
  tracer/build/_build/docker/smoke.windows.nuget.dd-dotnet.dockerfile
  tracer/build/_build/docker/smoke.windows.nuget.dockerfile
  tracer/build/_build/docker/smoke.windows.tracer-home.dockerfile
  tracer/build/artifacts/after-install.sh
  tracer/build/artifacts/after-remove.sh
Labels: area:builds
