Repository DataDog/dd-trace-dotnet, pull requests merged in 2024-02, with the labels that each got.

#5121 [ASM] Exposes and test ephemeral address
  tracer/src/Datadog.Trace/AppSec/Waf/Context.cs
  tracer/src/Datadog.Trace/AppSec/Waf/IContext.cs
  tracer/src/Datadog.Trace/AppSec/Waf/IWaf.cs
  tracer/src/Datadog.Trace/AppSec/Waf/Waf.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/WafEphemeralDataTests.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/WafTests.cs
Labels: area:asm

#5125 Fix Debugger's snapshot tests
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.AsyncSpanOnMethodWithArgsTest.Spans.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.AsyncSpanOnMethodWithExceptionProbeTest.Spans.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.MultiProbeWithSpanTest.Spans.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.SpanDecorationArgsAndLocals.with.dynamic.span.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.SpanDecorationArgsAndLocals.with.trace.annotation.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.SpanDecorationAsync.with.dynamic.span.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.SpanDecorationAsync.with.trace.annotation.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.SpanDecorationError.with.dynamic.span.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.SpanDecorationError.with.trace.annotation.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.SpanDecorationErrorInWhen.with.dynamic.span.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.SpanDecorationSameTags.with.dynamic.span.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.SpanDecorationSameTags.with.trace.annotation.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.SpanDecorationSameTagsFirstError.with.dynamic.span.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.SpanDecorationSameTagsFirstError.with.trace.annotation.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.SpanDecorationSameTagsFirstErrorAsync.with.dynamic.span.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.SpanDecorationSameTagsSecondError.with.dynamic.span.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.SpanDecorationSameTagsSecondError.with.trace.annotation.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.SpanDecorationTwoSegmentsWithError.with.dynamic.span.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.SpanDecorationTwoTags.with.dynamic.span.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.SpanDecorationTwoTags.with.trace.annotation.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.SpanDecorationWitLiteralWhen.with.dynamic.span.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.SpanDecorationWithoutWhen.with.dynamic.span.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.SpanOnMethodWithArgsTest.Spans.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.SpanOnMethodWithExceptionProbeTest.Spans.verified.txt
Labels: area:tests

#5133 fix unit test broket on master after merge in wrong order
  tracer/test/Datadog.Trace.Security.Unit.Tests/WafEphemeralDataTests.cs
  tracer/test/snapshots/Security.AspNetCore2.SecurityDisabled.__test=server.request.query_expectedStatusCode=200_url=_health_params_appscan_fingerprint-[$slice]=value.verified.txt
  tracer/test/snapshots/Security.AspNetCore2.SecurityEnabled.__test=server.request.query_expectedStatusCode=200_url=_health_params_appscan_fingerprint-[$slice]=value.verified.txt
  tracer/test/snapshots/Security.AspNetCore5.SecurityDisabled.__test=server.request.query_expectedStatusCode=200_url=_health_params_appscan_fingerprint-[$slice]=value.verified.txt
  tracer/test/snapshots/Security.AspNetCore5.SecurityEnabled.__test=server.request.query_expectedStatusCode=200_url=_health_params_appscan_fingerprint-[$slice]=value.verified.txt
Labels: area:tests

#5021 [Dynamic Instrumentation] Support `isDefined` in expression language
  tracer/src/Datadog.Trace/Debugger/Expressions/ProbeExpressionParser.General.cs
  tracer/src/Datadog.Trace/Debugger/Expressions/ProbeExpressionParser.cs
  tracer/test/Datadog.Trace.Tests/Debugger/ProbeExpressionsResources/Approvals/DebuggerExpressionLanguageTests.IsDefined.verified.txt
  tracer/test/Datadog.Trace.Tests/Debugger/ProbeExpressionsResources/Approvals/DebuggerExpressionLanguageTests.IsUndefined.verified.txt
  tracer/test/Datadog.Trace.Tests/Debugger/ProbeExpressionsResources/Conditions/IsDefined.json
  tracer/test/Datadog.Trace.Tests/Debugger/ProbeExpressionsResources/Conditions/IsUndefined.json
Labels: area:debugger

#5024 [Dynamic Instrumentation] Add `instanceof` expression to EL
  tracer/src/Datadog.Trace/Debugger/Expressions/ProbeExpressionParser.General.cs
  tracer/src/Datadog.Trace/Debugger/Expressions/ProbeExpressionParser.cs
  tracer/test/Datadog.Trace.Tests/Debugger/ProbeExpressionsResources/Approvals/DebuggerExpressionLanguageTests.IsInstanceOfEmptyType.verified.txt
  tracer/test/Datadog.Trace.Tests/Debugger/ProbeExpressionsResources/Approvals/DebuggerExpressionLanguageTests.IsInstanceOfFalse.verified.txt
  tracer/test/Datadog.Trace.Tests/Debugger/ProbeExpressionsResources/Approvals/DebuggerExpressionLanguageTests.IsInstanceOfTrue.verified.txt
  tracer/test/Datadog.Trace.Tests/Debugger/ProbeExpressionsResources/Approvals/DebuggerExpressionLanguageTests.IsInstanceOfUnknownType.verified.txt
  tracer/test/Datadog.Trace.Tests/Debugger/ProbeExpressionsResources/Conditions/IsInstanceOfEmptyType.json
  tracer/test/Datadog.Trace.Tests/Debugger/ProbeExpressionsResources/Conditions/IsInstanceOfFalse.json
  tracer/test/Datadog.Trace.Tests/Debugger/ProbeExpressionsResources/Conditions/IsInstanceOfTrue.json
  tracer/test/Datadog.Trace.Tests/Debugger/ProbeExpressionsResources/Conditions/IsInstanceOfUnknownType.json
Labels: area:debugger

#5109 Test source generators for incrementality
  tracer/src/Datadog.Trace.SourceGenerators/AspectsDefinitions/AspectsDefinitionsGenerator.cs
  tracer/src/Datadog.Trace.SourceGenerators/EnumExtensions/EnumExtensionsGenerator.cs
  tracer/src/Datadog.Trace.SourceGenerators/Helpers/TrackingNames.cs
  tracer/src/Datadog.Trace.SourceGenerators/InstrumentationDefinitions/InstrumentationDefinitionsGenerator.cs
  tracer/src/Datadog.Trace.SourceGenerators/PublicApi/PublicApiGenerator.cs
  tracer/src/Datadog.Trace.SourceGenerators/TagsListGenerator/TagListGenerator.cs
  tracer/src/Datadog.Trace.SourceGenerators/TelemetryMetric/TelemetryMetricGenerator.cs
  tracer/src/Datadog.Trace.SourceGenerators/TracerSettingsSnapshot/TracerSettingsSnapshotGenerator.cs
  tracer/test/Datadog.Trace.SourceGenerators.Tests/InstrumentationDefinitionsGeneratorTests.cs
  tracer/test/Datadog.Trace.SourceGenerators.Tests/TestHelpers.cs
Labels: area:builds, area:tests

#5022 [Dynamic Instrumentation] Fix EL operation names
  tracer/src/Datadog.Trace/Debugger/Expressions/ProbeExpressionParser.Collection.cs
  tracer/src/Datadog.Trace/Debugger/Expressions/ProbeExpressionParser.String.cs
  tracer/src/Datadog.Trace/Debugger/Expressions/ProbeExpressionParser.cs
  tracer/test/Datadog.Trace.Tests/Debugger/ProbeExpressionsResources/Approvals/DebuggerExpressionLanguageTests.CollectionCount.verified.txt
  tracer/test/Datadog.Trace.Tests/Debugger/ProbeExpressionsResources/Approvals/DebuggerExpressionLanguageTests.Filter.verified.txt
  tracer/test/Datadog.Trace.Tests/Debugger/ProbeExpressionsResources/Approvals/DebuggerExpressionLanguageTests.GreaterThanCount.verified.txt
  tracer/test/Datadog.Trace.Tests/Debugger/ProbeExpressionsResources/Approvals/DebuggerExpressionLanguageTests.HasAll.verified.txt
  tracer/test/Datadog.Trace.Tests/Debugger/ProbeExpressionsResources/Approvals/DebuggerExpressionLanguageTests.HasAny.verified.txt
  tracer/test/Datadog.Trace.Tests/Debugger/ProbeExpressionsResources/Approvals/DebuggerExpressionLanguageTests.IllegalCollectionOperation.verified.txt
  tracer/test/Datadog.Trace.Tests/Debugger/ProbeExpressionsResources/Approvals/DebuggerExpressionLanguageTests.LenAndCount.verified.txt
  tracer/test/Datadog.Trace.Tests/Debugger/ProbeExpressionsResources/Approvals/DebuggerExpressionLanguageTests.LenAndCountOrHasAny.verified.txt
  tracer/test/Datadog.Trace.Tests/Debugger/ProbeExpressionsResources/Approvals/DebuggerExpressionLanguageTests.LenOrCount.verified.txt
  tracer/test/Datadog.Trace.Tests/Debugger/ProbeExpressionsResources/Conditions/Filter.json
  tracer/test/Datadog.Trace.Tests/Debugger/ProbeExpressionsResources/Conditions/GreaterThanCount.json
  tracer/test/Datadog.Trace.Tests/Debugger/ProbeExpressionsResources/Conditions/HasAll.json
  tracer/test/Datadog.Trace.Tests/Debugger/ProbeExpressionsResources/Conditions/HasAny.json
  tracer/test/Datadog.Trace.Tests/Debugger/ProbeExpressionsResources/Conditions/LenAndCount.json
  tracer/test/Datadog.Trace.Tests/Debugger/ProbeExpressionsResources/Conditions/LenAndCountOrHasAny.json
  tracer/test/Datadog.Trace.Tests/Debugger/ProbeExpressionsResources/Conditions/LenOrCount.json
  tracer/test/Datadog.Trace.Tests/Debugger/ProbeExpressionsResources/Templates/CollectionCount.json
  tracer/test/Datadog.Trace.Tests/Debugger/ProbeExpressionsResources/Templates/IllegalCollectionOperation.json
Labels: area:debugger

#5051 [Dynamic Instrumentation] Add @exception to locals (like @return)
  tracer/src/Datadog.Trace/Debugger/Snapshots/DebuggerSnapshotCreator.cs
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.AsyncTaskReturnWithExceptionTest.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.AsyncThrowException.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.MethodThrowExceptionTest.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.SimpleNestedTypeNameTest.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.SimpleTypeNameTest.verified.txt
Labels: area:debugger

#5137 [CI Visibility] - Update CI specs
  tracer/src/Datadog.Trace/Ci/CIEnvironmentValues.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/CIEnvironmentVariableTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/Data/azurepipelines.json
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/Data/bitbucket.json
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/Data/bitrise.json
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/Data/buddy.json
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/Data/buildkite.json
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/Data/circleci.json
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/Data/github.json
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/Data/gitlab.json
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/Data/jenkins.json
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/Data/usersupplied.json
Labels: area:ci-visibility

#5135 [ASM] Fix log messaage for sys tests
  tracer/src/Datadog.Trace/AppSec/Waf/Context.cs
Labels: area:asm

#5129 [CI Visibility] - Include GAC installation feature to fix compatibility with .NET Framework
  tracer/src/Datadog.Trace.ClrProfiler.Managed.Loader/Startup.NetFramework.cs
  tracer/src/Datadog.Trace.ClrProfiler.Managed.Loader/Startup.cs
  tracer/src/Datadog.Trace.ClrProfiler.Managed.Loader/StartupLogger.cs
  tracer/src/Datadog.Trace.Tools.Runner/ConfigureCiCommand.cs
  tracer/src/Datadog.Trace.Tools.Runner/LegacyCommand.cs
  tracer/src/Datadog.Trace.Tools.Runner/RunCiCommand.cs
  tracer/src/Datadog.Trace.Tools.Runner/RunHelper.cs
  tracer/src/Datadog.Trace.Tools.Runner/Utils.cs
  tracer/src/Datadog.Trace.Trimming/build/Datadog.Trace.Trimming.xml
  tracer/src/Datadog.Trace/Ci/Configuration/CIVisibilitySettings.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/AssemblyResolverCtorIntegration.cs
  tracer/src/Datadog.Trace/Configuration/ConfigurationKeys.cs
  tracer/src/Datadog.Trace/Util/ProcessHelpers.cs
  tracer/src/Datadog.Tracer.Native/dd_profiler_constants.h
  tracer/test/Datadog.Trace.Tests/Telemetry/config_norm_rules.json
Labels: area:ci-visibility

#5138 [Profiler] Add high/low thread count metrics
  profiler/src/Demos/Samples.Computer01/ComputerService.cs
  profiler/src/Demos/Samples.Computer01/Program.cs
  profiler/src/Demos/Samples.Computer01/Properties/launchSettings.json
  profiler/src/Demos/Samples.Computer01/ThreadSpikes.cs
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CorProfilerCallback.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/IManagedThreadList.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ManagedThreadList.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ManagedThreadList.h
  profiler/test/Datadog.Profiler.IntegrationTests/MetricsTest.cs
Labels: area:profiler

#5139 [ASM] Allow 0 values for iast regex timeout
  tracer/src/Datadog.Trace/Iast/IastModule.cs
  tracer/src/Datadog.Trace/Iast/Settings/IastSettings.cs
Labels: area:tracer, area:asm

#5113 [ASM] Xpath injection vulnerability
  tracer/src/Datadog.Trace/Configuration/IntegrationId.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/AspectsDefinitionsGenerator/AspectsDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/IastInstrumentedSinksExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/IntegrationIdExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/CiVisibilityMetricsTelemetryCollector_CountShared.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_CountShared.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/AspectsDefinitionsGenerator/AspectsDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/IastInstrumentedSinksExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/IntegrationIdExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/CiVisibilityMetricsTelemetryCollector_CountShared.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_CountShared.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/AspectsDefinitionsGenerator/AspectsDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/IastInstrumentedSinksExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/IntegrationIdExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/CiVisibilityMetricsTelemetryCollector_CountShared.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_CountShared.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/AspectsDefinitionsGenerator/AspectsDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/IastInstrumentedSinksExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/IntegrationIdExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/CiVisibilityMetricsTelemetryCollector_CountShared.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_CountShared.g.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.Xml/SystemXmlAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.Xml/XPathExtensionAspect.cs
  tracer/src/Datadog.Trace/Iast/IastModule.cs
  tracer/src/Datadog.Trace/Iast/Telemetry/ExecutedTelemetryHelper.cs
  tracer/src/Datadog.Trace/Iast/VulnerabilityType.cs
  tracer/src/Datadog.Trace/Iast/VulnerabilityTypeName.cs
  tracer/src/Datadog.Trace/Telemetry/Metrics/IntegrationIdExtensions.cs
  tracer/src/Datadog.Trace/Telemetry/Metrics/MetricTags.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/IAST/AspNetCore2IastTests.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/IAST/AspNetCore5IastTests.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/IAST/AspNetMvc5IastTests.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/IAST/IastInstrumentationUnitTests.cs
  tracer/test/snapshots/Iast.XpathInjection.AspNetCore2.IastEnabled.verified.txt
  tracer/test/snapshots/Iast.XpathInjection.AspNetCore5.IastEnabled.verified.txt
  tracer/test/snapshots/Iast.XpathInjection.AspNetMvc5.IastDisabled.verified.txt
  tracer/test/snapshots/Iast.XpathInjection.AspNetMvc5.IastEnabled.verified.txt
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/XpathInjection/XMLNodeAspectTests.cs
  tracer/test/test-applications/security/Samples.Security.AspNetCore5/Controllers/IastController.cs
  tracer/test/test-applications/security/Samples.Security.AspNetCore5/Views/Home/Index.cshtml
  tracer/test/test-applications/security/aspnet/Samples.Security.AspNetMvc5/Controllers/IastController.cs
Labels: area:asm, area:asm-iast

#5146 Fix the issue of not having branch name when azure pipeline works with a detached HEAD
  tracer/build/_build/Build.VariableGenerations.cs
Labels: area:builds

#5150 Output branch name to console output
  tracer/build/_build/Build.VariableGenerations.cs
Labels: area:builds

#5149 [Dynamic Instrumentation] Scrub stacktrace value in probe tests snapshots
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.AsyncTaskReturnWithExceptionTest.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.AsyncThrowException.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.GenericRefReturnTest.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.MethodThrowExceptionTest.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.OverloadAndSimpleNameTest_#1..verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.SimpleNestedTypeNameInGlobalNamespaceTest.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.SimpleNestedTypeNameTest.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.SimpleTypeNameInGlobalNamespaceTest.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.SimpleTypeNameTest.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.TemplateExceptionValue.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.TemplateNoException.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/ProbesTests.cs
Labels: area:tests, area:debugger

#5147 [APM] Move common files ownership on tracer folder to APM group
  .github/CODEOWNERS
Labels: area:tracer, area:builds, area:tools

#5143 [ASM][IAST] Fix Tests Location
  tracer/test/test-applications/integrations/Samples.Deduplication/Samples.Deduplication.csproj
  tracer/test/test-applications/integrations/Samples.WeakCipher/Samples.WeakCipher.csproj
Labels: area:tests, area:asm, area:asm-iast

#5140 [Dynamic Instrumentation] Replace @exceptions with @exception in template tests
  tracer/test/test-applications/debugger/dependency-libs/Samples.Probes.TestRuns/ExpressionTests/TemplateExceptionValue.cs
  tracer/test/test-applications/debugger/dependency-libs/Samples.Probes.TestRuns/ExpressionTests/TemplateNoExceptionValue.cs
Labels: area:tests, area:debugger

#5151 [APM] Move common (more) files ownership on tracer folder to APM group
  .github/CODEOWNERS
Labels: area:builds

#5023 [Dynamic Instrumentation] Add probe-id tag to metric probe
  tracer/src/Datadog.Trace/Debugger/Expressions/ProbeProcessor.cs
  tracer/src/Datadog.Trace/Debugger/LiveDebugger.cs
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.TemplateExceptionValue.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.TemplateNoException.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/ProbesTests.cs
Labels: area:tracer, area:debugger

#5059 [dynamic Instrumentation] Send metric duration in case of evaluation error
  tracer/src/Datadog.Trace/Debugger/Expressions/ProbeProcessor.cs
Labels: area:tracer, area:debugger

#5158 [CI Visibility] - Add configure jenkins command in dd-trace ci
  tracer/src/Datadog.Trace.Tools.Runner/CIConfiguration.cs
  tracer/src/Datadog.Trace.Tools.Runner/ConfigureCiCommand.cs
Labels: area:ci-visibility

#5141 [v3] [Tracing] Change default value of `DD_TRACE_SAMPLING_RULES_FORMAT`
  tracer/src/Datadog.Trace/Configuration/TracerSettings.cs
  tracer/test/Datadog.Trace.Tests/Configuration/TracerSettingsTests.cs
Labels: area:tracer

#5160 [CI Visibility] Small optimizations
  tracer/src/Datadog.Trace.Coverage.collector/AssemblyProcessor.cs
  tracer/src/Datadog.Trace/Ci/Agent/CIVisibilityProtocolWriter.cs
  tracer/src/Datadog.Trace/Ci/Configuration/CIVisibilitySettings.cs
  tracer/src/Datadog.Trace/Configuration/ConfigurationKeys.cs
  tracer/src/Datadog.Trace/Util/AsyncManualResetEvent.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/ConfigurationTests.cs
  tracer/test/Datadog.Trace.Tools.Runner.Tests/CoverageRewriteTests.cs
  tracer/test/snapshots/CoverageRewriteTests.Rewritten.CoverletFilterByAssemblyAttribute.LineCallCount.verified.txt
  tracer/test/snapshots/CoverageRewriteTests.Rewritten.CoverletFilterByAssemblyAttribute.LineExecution.verified.txt
  tracer/test/snapshots/CoverageRewriteTests.Rewritten.CoverletFilterByAssemblyType.LineCallCount.verified.txt
  tracer/test/snapshots/CoverageRewriteTests.Rewritten.CoverletFilterByAssemblyType.LineExecution.verified.txt
  tracer/test/snapshots/CoverageRewriteTests.Rewritten.CoverletFilterByAttribute.LineCallCount.verified.txt
  tracer/test/snapshots/CoverageRewriteTests.Rewritten.CoverletFilterByAttribute.LineExecution.verified.txt
  tracer/test/snapshots/CoverageRewriteTests.Rewritten.CoverletFilterBySourceFile.LineCallCount.verified.txt
  tracer/test/snapshots/CoverageRewriteTests.Rewritten.CoverletFilterBySourceFile.LineExecution.verified.txt
  tracer/test/snapshots/CoverageRewriteTests.Rewritten.LineCallCount.verified.txt
  tracer/test/snapshots/CoverageRewriteTests.Rewritten.LineExecution.verified.txt
  tracer/test/snapshots/CoverageRewriteTests.Rewritten.NetFrameworkSettingsFilterByAttribute.LineCallCount.verified.txt
  tracer/test/snapshots/CoverageRewriteTests.Rewritten.NetFrameworkSettingsFilterByAttribute.LineExecution.verified.txt
  tracer/test/snapshots/CoverageRewriteTests.Rewritten.NetFrameworkSettingsFilterBySourceFile.LineCallCount.verified.txt
  tracer/test/snapshots/CoverageRewriteTests.Rewritten.NetFrameworkSettingsFilterBySourceFile.LineExecution.verified.txt
Labels: area:ci-visibility

#5164 [ASM] Update waf to 1.16.0
  tracer/build/_build/Build.Steps.cs
  tracer/build/smoke_test_snapshots/smoke_test_snapshots.json
  tracer/build/smoke_test_snapshots/smoke_test_snapshots_2_1.json
  tracer/test/snapshots/Security.AspNetCore5AsmInitializationSecurityEnabled.TestSecurityInitialization.verified.txt
  tracer/test/snapshots/Security.AspNetCore5AsmInitializationSecurityEnabledWithBadRuleset.TestSecurityInitialization.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5AsmData.Classic.enableSecurity=True.__test=blocking-ips_url=_.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5AsmData.Integrated.enableSecurity=True.__test=blocking-ips_url=_.verified.txt
  tracer/test/snapshots/Security.AspNetWebApiAsmData.Classic.enableSecurity=True.__test=blocking-user_url=_api_user.verified.txt
  tracer/test/snapshots/Security.AspNetWebApiAsmData.Integrated.enableSecurity=True.__test=blocking-ips_url=_api_health.verified.txt
  tracer/test/snapshots/Security.AspNetWebFormsAsmData.Classic.enableSecurity=True.__test=blocking-user_url=_user.verified.txt
  tracer/test/snapshots/Security.AspNetWebFormsAsmData.Integrated.enableSecurity=True.__test=blocking-ips_url=_default.aspx.verified.txt
Labels: area:asm

#5136 [ASM] Add RASP configuration settings
  tracer/src/Datadog.Trace/AppSec/SecuritySettings.cs
  tracer/src/Datadog.Trace/Configuration/ConfigurationKeys.AppSec.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/SecuritySettingsTests.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/config_norm_rules.json
Labels: area:asm

#4979 Update CosmosDb snapshots and csproj to ignore .NET Standard warning
  tracer/test/snapshots/CosmosTests.SubmitTraces_SchemaV0.verified.txt
  tracer/test/snapshots/CosmosTests.SubmitTraces_SchemaV1.verified.txt
  tracer/test/test-applications/integrations/Samples.CosmosDb/Samples.CosmosDb.csproj
Labels: area:tests

#5170 Create and publish arm64 version for docker image `latest_snapshot`
  .github/actions/create-system-test-docker-base-images/action.yml
  .github/workflows/create-system-test-docker-base-images.yml
Labels: area:builds

#5010 [ASM] Adapt ASM benchmarks
  tracer/build/_build/Build.cs
  tracer/test/benchmarks/Benchmarks.Trace/Asm/AppSecBenchmarkUtils.cs
  tracer/test/benchmarks/Benchmarks.Trace/Asm/AppSecEncodeBenchmark.cs
  tracer/test/benchmarks/Benchmarks.Trace/Asm/AppSecWafBenchmark.cs
  tracer/test/benchmarks/Benchmarks.Trace/Asm/rule-set.1.10.0.json
  tracer/test/benchmarks/Benchmarks.Trace/Benchmarks.Trace.csproj
Labels: area:tests, area:asm

#5167 [CI Visibility] GAC commands in dd-trace
  tracer/src/Datadog.Trace.Tools.Runner/Gac/AdministratorHelper.cs
  tracer/src/Datadog.Trace.Tools.Runner/Gac/AssemblyCacheContainer.cs
  tracer/src/Datadog.Trace.Tools.Runner/Gac/AssemblyCacheInstallFlags.cs
  tracer/src/Datadog.Trace.Tools.Runner/Gac/AssemblyInfo.cs
  tracer/src/Datadog.Trace.Tools.Runner/Gac/AssemblyInfoFlags.cs
  tracer/src/Datadog.Trace.Tools.Runner/Gac/IApplicationContext.cs
  tracer/src/Datadog.Trace.Tools.Runner/Gac/IAssemblyCache.cs
  tracer/src/Datadog.Trace.Tools.Runner/Gac/IAssemblyCacheItem.cs
  tracer/src/Datadog.Trace.Tools.Runner/Gac/IAssemblyName.cs
  tracer/src/Datadog.Trace.Tools.Runner/Gac/NativeMethods.cs
  tracer/src/Datadog.Trace.Tools.Runner/Gac/QueryAssemblyInfoFlag.cs
  tracer/src/Datadog.Trace.Tools.Runner/Gac/UninstallAssemblyFlags.cs
  tracer/src/Datadog.Trace.Tools.Runner/Gac/UninstallDisposition.cs
  tracer/src/Datadog.Trace.Tools.Runner/GacGetCommand.cs
  tracer/src/Datadog.Trace.Tools.Runner/GacInstallCommand.cs
  tracer/src/Datadog.Trace.Tools.Runner/GacUninstallCommand.cs
  tracer/src/Datadog.Trace.Tools.Runner/Program.cs
  tracer/src/Datadog.Trace.Tools.Runner/Utils.cs
  tracer/test/Datadog.Trace.Tools.Runner.IntegrationTests/Datadog.Trace.Tools.Runner.IntegrationTests.csproj
  tracer/test/Datadog.Trace.Tools.Runner.IntegrationTests/DummyLibrary.dll
  tracer/test/Datadog.Trace.Tools.Runner.IntegrationTests/GacCommandTests.cs
Labels: area:ci-visibility

#5169 [ASM] Fix building IAST instrumented tests on macOS + increase QoL on macOS
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Samples.InstrumentedTests.csproj
  tracer/test/test-applications/security/Samples.Security.AspNetCore5/Properties/launchSettings.json
  tracer/test/test-applications/security/Samples.Security.AspNetCore5/Samples.Security.AspNetCore5.csproj
Labels: area:tests, area:asm

#5173 [CI Visibility] - Add netcoreapp2.x support for dd-trace GAC commands
  tracer/src/Datadog.Trace.Tools.Runner/Gac/AdministratorHelper.cs
  tracer/src/Datadog.Trace.Tools.Runner/Gac/AssemblyCacheContainer.cs
  tracer/src/Datadog.Trace.Tools.Runner/Gac/NativeLibrary.cs
  tracer/src/Datadog.Trace.Tools.Runner/Gac/NativeMethods.cs
  tracer/src/Datadog.Trace.Tools.Runner/GacGetCommand.cs
  tracer/src/Datadog.Trace.Tools.Runner/GacInstallCommand.cs
  tracer/src/Datadog.Trace.Tools.Runner/GacUninstallCommand.cs
  tracer/src/Datadog.Trace.Tools.Runner/Program.cs
  tracer/src/Datadog.Trace.Tools.Runner/Utils.cs
  tracer/test/Datadog.Trace.Tools.Runner.IntegrationTests/GacCommandTests.cs
Labels: area:ci-visibility

#5172 [ASM][IAST] Fix weakcipher on macos
  tracer/src/Datadog.Trace/Iast/IastModule.cs
Labels: area:tracer, area:asm

#5171 [ASM] when appsec rules files is not found, dont continue init process and log confusing messages
  tracer/src/Datadog.Trace/AppSec/Waf/Waf.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/WafErrorsTests.cs
Labels: area:asm

#5101 [Profiler] Remove unused statistics method in StackSamplerLoop
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/StackSamplerLoop.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/StackSamplerLoop.h
Labels: area:profiler

#5089 Fix `Non-serializable data ('System.Object[]') found` in tests
  tracer/test/Datadog.Trace.Tests/CallTarget/InstrumentationDefinitionsTests.cs
  tracer/test/Datadog.Trace.Tests/Logging/ExceptionRedactorTests.cs
  tracer/test/Datadog.Trace.Tests/OpenTelemetryOperationNameMapperTests.cs
Labels: area:tests

#5103 Stop rebuilding dddotnet
  tracer/build/_build/Build.Steps.cs
Labels: area:builds

#5182 [Build] Fix dd-trace-dotnet:latest_snapshot image for system-tests
  .github/actions/create-system-test-docker-base-images/action.yml
  .github/workflows/create-system-test-docker-base-images.yml
  tracer/build/_build/docker/system-tests.dockerfile
Labels: area:builds

#4942 [ASM] Api security for netfx
  tracer/missing-nullability-files.csv
  tracer/src/Datadog.Trace/AppSec/BlockException.cs
  tracer/src/Datadog.Trace/AppSec/Coordinator/SecurityCoordinator.Framework.cs
  tracer/src/Datadog.Trace/AppSec/WafEncoding/Encoder.cs
  tracer/src/Datadog.Trace/AppSec/WafEncoding/EncoderLegacy.cs
  tracer/src/Datadog.Trace/AspNet/TracingHttpModule.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AspNet/ControllerActionInvoker_InvokeAction_Integration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AspNet/IJsonResultMvc.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AspNet/IJsonResultWebApi.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AspNet/ReflectedHttpActionDescriptor_ExecuteAsync_Integration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AspNetCore/BlockingMiddleware.cs
  tracer/src/Datadog.Trace/Sampling/OverheadController.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/ApiSecurity/AspNetCoreApiSecurity.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/ApiSecurity/AspNetFxWebApiApiSecurity.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/ApiSecurity/AspNetMvc5ApiSecurity.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/ApiSecurity/ruleset-with-block.json
  tracer/test/Datadog.Trace.Security.IntegrationTests/AspNetBase.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/Datadog.Trace.Security.IntegrationTests.csproj
  tracer/test/Datadog.Trace.TestHelpers.SharedSource/VerifyHelper.cs
  tracer/test/snapshots/Security.AspNetFxWebApiApiSecurity.enableApiSecurity=False.__scenario=scan-empty-model.verified.txt
  tracer/test/snapshots/Security.AspNetFxWebApiApiSecurity.enableApiSecurity=False.__scenario=scan-with-attack.verified.txt
  tracer/test/snapshots/Security.AspNetFxWebApiApiSecurity.enableApiSecurity=False.__scenario=scan-without-attack.verified.txt
  tracer/test/snapshots/Security.AspNetFxWebApiApiSecurity.enableApiSecurity=True.__scenario=scan-empty-model.verified.txt
  tracer/test/snapshots/Security.AspNetFxWebApiApiSecurity.enableApiSecurity=True.__scenario=scan-with-attack.verified.txt
  tracer/test/snapshots/Security.AspNetFxWebApiApiSecurity.enableApiSecurity=True.__scenario=scan-without-attack.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5ApiSecurity.enableApiSecurity=False.__scenario=scan-empty-model.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5ApiSecurity.enableApiSecurity=False.__scenario=scan-with-attack.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5ApiSecurity.enableApiSecurity=False.__scenario=scan-without-attack.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5ApiSecurity.enableApiSecurity=True.__scenario=scan-empty-model.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5ApiSecurity.enableApiSecurity=True.__scenario=scan-with-attack.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5ApiSecurity.enableApiSecurity=True.__scenario=scan-without-attack.verified.txt
  tracer/test/test-applications/security/Samples.Security.AspNetCore5/Properties/launchSettings.json
  tracer/test/test-applications/security/aspnet/Samples.Security.AspNetMvc5/Controllers/HomeController.cs
  tracer/test/test-applications/security/aspnet/Samples.Security.AspNetMvc5/Models/ApiSecurityModel.cs
  tracer/test/test-applications/security/aspnet/Samples.Security.AspNetMvc5/Samples.Security.AspNetMvc5.csproj
  tracer/test/test-applications/security/aspnet/Samples.Security.AspNetMvc5/Views/Home/Upload.cshtml
  tracer/test/test-applications/security/aspnet/Samples.Security.WebApi/App_Start/WebApiConfig.cs
  tracer/test/test-applications/security/aspnet/Samples.Security.WebApi/Controllers/HomeController.cs
  tracer/test/test-applications/security/aspnet/Samples.Security.WebApi/Controllers/LandingController.cs
  tracer/test/test-applications/security/aspnet/Samples.Security.WebApi/Samples.Security.WebApi.csproj
Labels: area:asm

#5187 [CI Visibility] - Fix DiscoveryService Agent configuration callback
  tracer/src/Datadog.Trace/Agent/DiscoveryService/NullDiscoveryService.cs
  tracer/src/Datadog.Trace/Ci/CIVisibility.cs
Labels: area:ci-visibility

#5188 [Tracing][ASM] http query string obfuscation should be case-insensitive
  tracer/src/Datadog.Trace/Util/Http/QueryStringObfuscation/Obfuscator.cs
  tracer/test/Datadog.Trace.Tests/Util/Http/QueryStringObfuscatorTests.cs
Labels: type:bug

#5189 [CI Visibility] Fix MakeRelativePathFromSourceRoot method when the path is invalid
  tracer/src/Datadog.Trace/Ci/CIEnvironmentValues.cs
Labels: area:ci-visibility

#5192 Don't require additional Windows SDK for Nuke desktop notification
  tracer/build/_build/BuildFinishedNotificationAttribute.Windows.cs
  tracer/build/_build/BuildFinishedNotificationAttribute.cs
  tracer/build/_build/_build.csproj
Labels: area:builds

#5196 [ASM] increase waf timeout on flaky unit tests
  tracer/test/Datadog.Trace.Security.Unit.Tests/ContextTests.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/Utils/WafLibraryRequiredTest.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/WafEphemeralDataTests.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/WafMemoryTests.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/WafObfuscationTests.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/WafTests.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/WafUpdateTests.cs
Labels: area:tests, area:asm

#5197 [Profiler] On linux we may crash if we unwind a thread that was already unwinding its own callstack
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/LinuxStackFramesCollector.cpp
Labels: area:profiler

#5175 [Profiler] Optimize AppDomainStore
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/AppDomainStore.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/AppDomainStore.h
Labels: area:profiler

#5204 Tweak OpenTelemetry sample
  tracer/build/_build/Build.GitHub.cs
  tracer/build/_build/PrepareRelease/SetAllVersions.cs
  tracer/samples/OpenTelemetry/OpenTelemetry.AspNetCoreApplication.csproj
  tracer/samples/OpenTelemetry/appsettings.Development.json
  tracer/samples/OpenTelemetry/docker-compose.yml
Labels: area:docs, area:customer-samples

#4973 DSM support for SQS
  tracer/missing-nullability-files.csv
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/SQS/AwsSqsHeadersAdapters.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/SQS/ContextPropagation.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/SQS/IContainsMessageAttributes.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/SQS/IReceiveMessageRequest.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/SQS/IReceiveMessageResponse.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/SQS/ReceiveMessageAsyncIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/SQS/ReceiveMessageIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/SQS/SendMessageAsyncIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/SQS/SendMessageBatchAsyncIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/SQS/SendMessageBatchIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/SQS/SendMessageIntegration.cs
  tracer/src/Datadog.Trace/DataStreamsMonitoring/SpanExtensions.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AWS/AwsSqsTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AWS/DataStreamsMonitoringAwsSqsTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/DataStreamsMonitoringTests.cs
  tracer/test/Datadog.Trace.TestHelpers/DataStreamsMonitoring/MockDataStreamsPayload.cs
  tracer/test/Datadog.Trace.TestHelpers/MockTracerAgent.cs
  tracer/test/snapshots/DataStreamsMonitoringAwsSqsTests.SubmitsDsmMetrics.NetCore.verified.txt
  tracer/test/snapshots/DataStreamsMonitoringTests.HandlesFanIn.verified.txt
  tracer/test/snapshots/DataStreamsMonitoringTests.SubmitsDataStreams.verified.txt
  tracer/test/test-applications/integrations/Samples.AWS.SQS/AsyncHelpers.cs
Labels: area:integrations

#5184 [Profiler] Detect Single Step Instrumentation
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Configuration.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Configuration.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/EnvironmentVariables.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/IConfiguration.h
  profiler/test/Datadog.Profiler.IntegrationTests/Helpers/EnvironmentVariables.cs
  profiler/test/Datadog.Profiler.Native.Tests/ConfigurationTest.cpp
  profiler/test/Datadog.Profiler.Native.Tests/ProfilerMockedInterface.h
  shared/src/native-src/util.cpp
  shared/src/native-src/util.h
Labels: area:profiler

#5195 [Profiling] Reduce available symbols
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/CMakeLists.txt
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/datadog_profiling.version
Labels: area:profiler

#5201 [Profiler] Cleanup compilation warnings
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/LinuxStackFramesCollector.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/ProfilerSignalManager.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/SystemCallsShield.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/AllocationsProvider.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/FrameStore.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/LiveObjectInfo.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/LiveObjectsProvider.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/LiveObjectsProvider.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ManagedThreadInfo.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ManagedThreadInfo.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ProfileExporter.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/SamplesCollector.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ScopeFinalizer.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/StackSamplerLoop.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/StackSamplerLoopManager.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/StackSamplerLoopManager.h
  shared/src/native-lib/PPDB/Reader/Streams.cpp
Labels: area:profiler

#5202 [Profiler] Enable exception profiling by default
  profiler/src/Demos/Samples.Computer01/ThreadSpikes.cs
  profiler/src/Demos/Samples.ExceptionGenerator/MeasureExceptionsScenario.cs
  profiler/src/Demos/Samples.ExceptionGenerator/Properties/launchSettings.json
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Configuration.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ContentionProvider.cpp
  profiler/test/Datadog.Profiler.IntegrationTests/Allocations/AllocationsProfilerTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Contention/ContentionProfilerTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/CpuAndWallTime/CpuAndWallTimeTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Exceptions/ExceptionsTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/GarbageCollections/GarbageCollectionsProfilerTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Helpers/EnvironmentHelper.cs
  profiler/test/Datadog.Profiler.IntegrationTests/LiveObjects/LiveObjectsProfilerTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Signature/SignatureTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Threads/ThreadLifetimeProviderTest.cs
  profiler/test/Datadog.Profiler.Native.Tests/ConfigurationTest.cpp
Labels: area:profiler

#5213 [IAST] Add support to AspectMethodReplace with struct arguments
  tracer/src/Datadog.Trace/Iast/Aspects/DebugAspects.cs
  tracer/src/Datadog.Tracer.Native/iast/dataflow_aspects.cpp
  tracer/src/Datadog.Tracer.Native/iast/dataflow_il_analysis.cpp
  tracer/src/Datadog.Tracer.Native/iast/dataflow_il_analysis.h
  tracer/src/Datadog.Tracer.Native/iast/method_info.cpp
  tracer/src/Datadog.Tracer.Native/iast/module_info.cpp
  tracer/test/test-applications/instrumentation/CallTargetNativeTest/CallSite.cs
Labels: area:asm, area:asm-iast

#5217 Add IntegrationIdExtensions.cs to codeowners common files
  .github/CODEOWNERS
Labels: area:builds

#5219 [ASM][IAST] Reflection Injection
  tracer/src/Datadog.Trace/Configuration/IntegrationId.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/AspectsDefinitionsGenerator/AspectsDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/IastInstrumentedSinksExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/IntegrationIdExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/CiVisibilityMetricsTelemetryCollector_CountShared.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_CountShared.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/AspectsDefinitionsGenerator/AspectsDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/IastInstrumentedSinksExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/IntegrationIdExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/CiVisibilityMetricsTelemetryCollector_CountShared.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_CountShared.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/AspectsDefinitionsGenerator/AspectsDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/IastInstrumentedSinksExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/IntegrationIdExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/CiVisibilityMetricsTelemetryCollector_CountShared.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_CountShared.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/AspectsDefinitionsGenerator/AspectsDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/IastInstrumentedSinksExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/IntegrationIdExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/CiVisibilityMetricsTelemetryCollector_CountShared.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_CountShared.g.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.Reflection/ActivatorAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.Reflection/AssemblyAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.Reflection/TypeAspect.cs
  tracer/src/Datadog.Trace/Iast/IastModule.cs
  tracer/src/Datadog.Trace/Iast/Telemetry/ExecutedTelemetryHelper.cs
  tracer/src/Datadog.Trace/Iast/VulnerabilityType.cs
  tracer/src/Datadog.Trace/Iast/VulnerabilityTypeName.cs
  tracer/src/Datadog.Trace/Telemetry/Metrics/IntegrationIdExtensions.cs
  tracer/src/Datadog.Trace/Telemetry/Metrics/MetricTags.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/IAST/AspNetCore5IastTests.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/IAST/IastInstrumentationUnitTests.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/IAST/Tainted/vulnerability_schema.json
  tracer/test/snapshots/Iast.ReflectionInjection.AspNetCore5.IastEnabled.verified.txt
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/ReflectionInjection/ActivatorTests.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/ReflectionInjection/AssemblyTests.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/ReflectionInjection/TypeGetMethodTests.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/ReflectionInjection/TypeGetTypeTests.cs
  tracer/test/test-applications/security/Samples.Security.AspNetCore5/Controllers/IastController.cs
  tracer/test/test-applications/security/Samples.Security.AspNetCore5/Views/Home/Index.cshtml
Labels: area:asm

#5186 [ASM] Rasp callsite instrumentation
  tracer/src/Datadog.Trace.SourceGenerators/AspectsDefinitions/AspectsDefinitionsGenerator.cs
  tracer/src/Datadog.Trace/ClrProfiler/Instrumentation.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/AspectsDefinitionsGenerator/AspectsDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/AspectsDefinitionsGenerator/AspectsDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/AspectsDefinitionsGenerator/AspectsDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/AspectsDefinitionsGenerator/AspectsDefinitions.g.cs
  tracer/src/Datadog.Trace/Iast/Aspects/MongoDB/MongoDatabaseAspect.cs
  tracer/src/Datadog.Trace/Iast/Dataflow/AspectCtorReplaceAttribute.cs
  tracer/src/Datadog.Trace/Iast/Dataflow/AspectMethodInsertAfterAttribute.cs
  tracer/src/Datadog.Trace/Iast/Dataflow/AspectMethodReplaceAttribute.cs
  tracer/src/Datadog.Trace/Iast/IastModule.cs
  tracer/src/Datadog.Tracer.Native/cor_profiler.cpp
  tracer/src/Datadog.Tracer.Native/environment_variables.h
  tracer/src/Datadog.Tracer.Native/environment_variables_util.cpp
  tracer/src/Datadog.Tracer.Native/environment_variables_util.h
  tracer/test/Datadog.Trace.Security.IntegrationTests/IAST/IastInstrumentationUnitTests.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/RASP/AspNetCore2Rasp.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/RASP/AspNetCore5Rasp.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/RASP/AspNetMvc5Rasp.cs
  tracer/test/Datadog.Trace.SourceGenerators.Tests/AspectsDefinitionsGeneratorTests.cs
  tracer/test/Datadog.Trace.TestHelpers.AutoInstrumentation/TestHelper.cs
  tracer/test/snapshots/Rasp.PathTraversal.AspNetCore2.IastDisabled.verified.txt
  tracer/test/snapshots/Rasp.PathTraversal.AspNetCore2.IastEnabled.verified.txt
  tracer/test/snapshots/Rasp.PathTraversal.AspNetCore5.IastDisabled.verified.txt
  tracer/test/snapshots/Rasp.PathTraversal.AspNetCore5.IastEnabled.verified.txt
  tracer/test/snapshots/Rasp.PathTraversal.AspNetMvc5.IastDisabled.verified.txt
  tracer/test/snapshots/Rasp.PathTraversal.AspNetMvc5.IastEnabled.verified.txt
  tracer/test/test-applications/security/Samples.Security.AspNetCore5/Properties/launchSettings.json
Labels: area:asm, area:asm-iast

#5225 Missing generated aspects
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/AspectsDefinitionsGenerator/AspectsDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/AspectsDefinitionsGenerator/AspectsDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/AspectsDefinitionsGenerator/AspectsDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/AspectsDefinitionsGenerator/AspectsDefinitions.g.cs
Labels: area:tracer

#5233 [ASM] Update RASP snapshots
  tracer/test/snapshots/Iast.ReflectionInjection.AspNetCore5.IastEnabled.verified.txt
  tracer/test/snapshots/Rasp.PathTraversal.AspNetCore2.IastEnabled.verified.txt
  tracer/test/snapshots/Rasp.PathTraversal.AspNetCore5.IastEnabled.verified.txt
  tracer/test/snapshots/Rasp.PathTraversal.AspNetMvc5.IastEnabled.verified.txt
Labels: area:tests, area:asm

#5239 [ASM] handle array list in legacy encoder
  tracer/src/Datadog.Trace/AppSec/WafEncoding/EncoderLegacy.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/EncoderUnitTests.cs
Labels: area:asm

#5228 Fix product data collected for tracer flare
  tracer/src/Datadog.Trace/Telemetry/Collectors/ProductsTelemetryCollector.cs
  tracer/src/Datadog.Trace/Telemetry/DTOs/ErrorData.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/Collectors/ProductsTelemetryCollectorTests.cs
Labels: type:bug, area:tracer

#5236 Add testing for AWS Lambda on .NET 8
  .azure-pipelines/ultimate-pipeline.yml
  tracer/build/PackageVersionsGeneratorDefinitions.json
  tracer/build/PackageVersionsLatestMajors.g.props
  tracer/build/PackageVersionsLatestMinors.g.props
  tracer/build/PackageVersionsLatestSpecific.g.props
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestMajors.g.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestMinors.g.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestSpecific.g.cs
  tracer/test/test-applications/integrations/Samples.AWS.Lambda/Samples.AWS.Lambda.csproj
  tracer/test/test-applications/integrations/Samples.Amazon.Lambda.RuntimeSupport/Samples.Amazon.Lambda.RuntimeSupport.csproj
Labels: area:tracer, area:tests, area:serverless

#5241 Add a `ChunkedEncodingReadStream` to use when talking to the agent
  tracer/src/Datadog.Trace.Trimming/build/Datadog.Trace.Trimming.xml
  tracer/src/Datadog.Trace/HttpOverStreams/ChunkedEncodingReadStream.HexHelpers.cs
  tracer/src/Datadog.Trace/HttpOverStreams/ChunkedEncodingReadStream.cs
  tracer/src/Datadog.Trace/HttpOverStreams/DatadogHttpClient.cs
  tracer/test/Datadog.Trace.TestHelpers/MockHttpParser.cs
  tracer/test/Datadog.Trace.Tests/DatadogHttpClientTests.cs
  tracer/test/Datadog.Trace.Tests/HttpOverStreams/ChunkedEncodingReadStreamTests.cs
Labels: area:tracer

#5244 Update `DatadogHttpClient` to support `chunked` encoding
  tracer/src/Datadog.Trace.Trimming/build/Datadog.Trace.Trimming.xml
  tracer/src/Datadog.Trace/Agent/Transports/HttpStreamRequest.cs
  tracer/src/Datadog.Trace/HttpOverStreams/ChunkedEncodingReadStream.cs
  tracer/test/Datadog.Trace.Tests/Snapshots/PublicApiTests.Datadog.Trace.AssemblyReferencesHaveNotChanged.netcoreapp3.1.verified.txt
Labels: area:tracer

#5247 Remove usage of `ArrayPool<T>` from `ChunkedEncodingReadStream`
  tracer/src/Datadog.Trace.Trimming/build/Datadog.Trace.Trimming.xml
  tracer/src/Datadog.Trace/HttpOverStreams/ChunkedEncodingReadStream.cs
  tracer/test/Datadog.Trace.Tests/Snapshots/PublicApiTests.Datadog.Trace.AssemblyReferencesHaveNotChanged.netcoreapp3.1.verified.txt
Labels: area:tracer

#5249 Force update to latest Octokit version
  tracer/build/_build/_build.csproj
Labels: area:builds

#5221 [ASM] - Fix HttpRequestValidationException Error
  tracer/src/Datadog.Trace/AppSec/ControllerContextExtensions.Framework.cs
  tracer/src/Datadog.Trace/AppSec/Coordinator/SecurityCoordinator.Framework.cs
  tracer/src/Datadog.Trace/Iast/IastRequestContext.cs
  tracer/src/Datadog.Trace/Util/Http/HttpRequestExtensions.Core.cs
  tracer/src/Datadog.Trace/Util/QueryStringHelper.cs
  tracer/test/Datadog.Trace.Tests/Util/QueryStringHelperTests.cs
Labels: area:tracer, area:asm

#5057 Enable Datadog static analysis
  .github/workflows/datadog-static-analysis.yml
  static-analysis.datadog.yml
Labels: area:builds

#5246 Removing check to allow the test to create snapshots
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/GrpcTests.cs
Labels: area:tests

#5253 [Tracer] Adding Optional Parameter for MockTraceAgent's WaitForSpans
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/GrpcTests.cs
  tracer/test/Datadog.Trace.TestHelpers/MockTracerAgent.cs
Labels: area:tests
