Repository DataDog/dd-trace-dotnet, pull requests merged in 2024-06, with the labels that each got.

#5626 Normalize the profiler thread names
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/OpSysTools.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/OpSysTools.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/SamplesCollector.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/SamplesCollector.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/StackSamplerLoop.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/StackSamplerLoopManager.cpp
Labels: area:profiler

#5617 Set LD_PRELOAD in integration tests
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AgentMalfunctionTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/ProcessStartTests/ProcessStartCommonTests.cs
  tracer/test/Datadog.Trace.TestHelpers.SharedSource/VerifyHelper.cs
  tracer/test/Datadog.Trace.TestHelpers/EnvironmentHelper.cs
  tracer/test/snapshots/ProcessStartCommandsCollectionTests.SubmitsTracesLinux.SchemaV0.verified.txt
  tracer/test/snapshots/ProcessStartCommandsCollectionTests.SubmitsTracesLinux.SchemaV1.verified.txt
  tracer/test/snapshots/ProcessStartCommandsCollectionTests.SubmitsTracesLinux.netfxOrNetCore2.SchemaV0.verified.txt
  tracer/test/snapshots/ProcessStartCommandsCollectionTests.SubmitsTracesLinux.netfxOrNetCore2.SchemaV1.verified.txt
  tracer/test/snapshots/ProcessStartTests.SubmitsTracesLinux.SchemaV0.verified.txt
  tracer/test/snapshots/ProcessStartTests.SubmitsTracesLinux.SchemaV1.verified.txt
Labels: area:tests

#5629 [SINT-1401] update windows code signer to v0.2.3
  tracer/build/_build/docker/gitlab/gitlab.windows.dockerfile
Labels: area:builds

#5635 Single-step guard rails: Move version.h to shared code
  shared/src/Datadog.Trace.ClrProfiler.Native/Datadog.Trace.ClrProfiler.Native.vcxproj
  shared/src/native-src/version.h
  tracer/build/_build/PrepareRelease/SetAllVersions.cs
  tracer/src/Datadog.Tracer.Native/Datadog.Tracer.Native.vcxproj
  tracer/src/Datadog.Tracer.Native/class_factory.cpp
  tracer/src/Datadog.Tracer.Native/cor_profiler.cpp
  tracer/src/Datadog.Tracer.Native/debugger_method_rewriter.cpp
  tracer/src/Datadog.Tracer.Native/iast/iast_util.cpp
  tracer/src/Datadog.Tracer.Native/method_rewriter.cpp
Labels: area:native-library

#5646 Ensure we catch exceptions in named pipe mock agent
  tracer/test/Datadog.Trace.TestHelpers/MockTracerAgent.cs
Labels: area:tests

#5636 Single-step guard rails: Update `RuntimeInformation` to include "inferred" runtime version
  shared/src/Datadog.Trace.ClrProfiler.Native/cor_profiler.cpp
  shared/src/Datadog.Trace.ClrProfiler.Native/cor_profiler.h
Labels: area:native-library, area:shared-components

#5648 [Profiler] Fix race condition in SocketTimeout
  profiler/src/Demos/Samples.Computer01/SocketTimeout.cs
Labels: area:profiler

#5453 [Tracer] Support remote config for `DD_TRACE_SAMPLING_RULES` and Adaptive Sampling
  tracer/src/Datadog.Trace/Configuration/ConfigurationSources/DynamicConfigConfigurationSource.cs
  tracer/src/Datadog.Trace/Configuration/DynamicConfigurationManager.cs
  tracer/src/Datadog.Trace/Configuration/ImmutableDynamicSettings.cs
  tracer/src/Datadog.Trace/Configuration/ImmutableTracerSettings.cs
  tracer/src/Datadog.Trace/Configuration/TracerSettings.cs
  tracer/src/Datadog.Trace/Sampling/AgentSamplingRule.cs
  tracer/src/Datadog.Trace/Sampling/CustomSamplingRule.cs
  tracer/src/Datadog.Trace/Sampling/GlobalSamplingRateRule.cs
  tracer/src/Datadog.Trace/Sampling/ISamplingRule.cs
  tracer/src/Datadog.Trace/Sampling/LocalCustomSamplingRule.cs
  tracer/src/Datadog.Trace/Sampling/RemoteCustomSamplingRule.cs
  tracer/src/Datadog.Trace/Sampling/SamplingMechanism.cs
  tracer/src/Datadog.Trace/Sampling/SamplingRuleProvenance.cs
  tracer/src/Datadog.Trace/Sampling/TraceSampler.cs
  tracer/src/Datadog.Trace/TracerManager.cs
  tracer/src/Datadog.Trace/TracerManagerFactory.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/DynamicConfigurationTests.cs
  tracer/test/Datadog.Trace.IntegrationTests/Tagging/TraceTags.cs
  tracer/test/Datadog.Trace.Tests/Configuration/DynamicConfigurationTests.cs
  tracer/test/Datadog.Trace.Tests/Sampling/CustomSamplingRuleGlobTests.cs
  tracer/test/Datadog.Trace.Tests/Sampling/CustomSamplingRuleRegexTests.cs
  tracer/test/Datadog.Trace.Tests/Sampling/RemoteCustomSamplingRuleTests.cs
  tracer/test/Datadog.Trace.Tests/Sampling/TraceSamplerTests.cs
  tracer/test/Datadog.Trace.Tests/TraceContextTests_SetSamplingDecision.cs
Labels: area:tracer, type:new-feature, area:remote-config

#5587 [ASM] Improved Unsafe Encoder readability
  tracer/src/Datadog.Trace/AppSec/WafEncoding/Encoder.cs
Labels: area:asm

#5657 Exclude vsdbg from tracing
  shared/src/Datadog.Trace.ClrProfiler.Native/util.h
  tracer/src/Datadog.Tracer.Native/dd_profiler_constants.h
Labels: area:tracer, area:native-library

#5641 [ASM][IAST] Add `_dd.iast.json.tag.size.exceeded` telemetry metric
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/TagListGenerator/IastTags.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/TagListGenerator/IastTags.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/TagListGenerator/IastTags.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/TagListGenerator/IastTags.g.cs
  tracer/src/Datadog.Trace/Iast/IastRequestContext.cs
  tracer/src/Datadog.Trace/Iast/IastTags.cs
  tracer/src/Datadog.Trace/Iast/VulnerabilityBatch.cs
  tracer/src/Datadog.Trace/Tags.cs
  tracer/src/Datadog.Trace/Telemetry/Metrics/Count.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/IAST/AspNetCore5IastTests.cs
  tracer/test/snapshots/Iast.JsonTagSizeExceeded.AspNetCore5.TelemetryEnabled.verified.txt
  tracer/test/test-applications/security/Samples.Security.AspNetCore5/Controllers/IastController.cs
Labels: area:tracer, area:telemetry, area:asm, area:asm-iast

#5637 Single-step guard rails: telemetry
  shared/src/Datadog.Trace.ClrProfiler.Native/CMakeLists.txt
  shared/src/Datadog.Trace.ClrProfiler.Native/Datadog.Trace.ClrProfiler.Native.vcxproj
  shared/src/Datadog.Trace.ClrProfiler.Native/EnvironmentVariables.h
  shared/src/Datadog.Trace.ClrProfiler.Native/cor_profiler.cpp
  shared/src/Datadog.Trace.ClrProfiler.Native/process_helper.cpp
  shared/src/Datadog.Trace.ClrProfiler.Native/process_helper.h
  shared/src/Datadog.Trace.ClrProfiler.Native/single_step_guard_rails.cpp
  shared/src/Datadog.Trace.ClrProfiler.Native/single_step_guard_rails.h
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/InstrumentationTests.cs
Labels: area:native-library

#5634 [CI Visibility] UDS and NamedPipes support
  tracer/src/Datadog.Trace/Ci/Agent/Payloads/EventPlatformPayload.cs
  tracer/src/Datadog.Trace/Ci/CIVisibility.cs
  tracer/src/Datadog.Trace/Ci/IntelligentTestRunnerClient.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/DotnetTest/DotnetCommon.cs
  tracer/src/Datadog.Tracer.Native/cor_profiler.cpp
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/PipesXUnitEvpTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/PipesXUnitTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/TcpXUnitEvpTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/TcpXUnitTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/TestingFrameworkEvpTest.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/TestingFrameworkTest.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/TransportTestsCollection.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/UdsXUnitEvpTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/UdsXUnitTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/XUnitEvpTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/XUnitTests.cs
  tracer/test/Datadog.Trace.TestHelpers.AutoInstrumentation/TestHelper.cs
  tracer/test/test-applications/integrations/Samples.XUnitTests/Samples.XUnitTests.csproj
  tracer/test/test-applications/integrations/Samples.XUnitTests/TestSuite.cs
Labels: area:ci-visibility

#5611 Record SSI injection values in configuration
  tracer/src/Datadog.Trace/Configuration/TracerSettings.cs
  tracer/src/Datadog.Trace/Telemetry/DTOs/ConfigTelemetryData.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/ConfigurationTests.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/config_norm_rules.json
Labels: area:telemetry

#5666 [CrashTracking] Let libdatadog set the endpoint
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CrashReporting.cpp
  tracer/test/Datadog.Trace.TestHelpers/AssemblyInfo.cs
  tracer/test/Datadog.Trace.TestHelpers/MockTelemetryAgent.cs
  tracer/test/Datadog.Trace.Tools.dd_dotnet.ArtifactTests/CreatedumpTests.cs
Labels: area:profiler

#5665 Don't allocate very large buffers when deserializing responses
  tracer/src/Datadog.Trace/Agent/IApiResponse.cs
Labels: area:tracer, area:remote-config

#5667 [ASM] Fix CloseLibrary condition
  tracer/src/Datadog.Trace/AppSec/Waf/NativeBindings/NativeLibrary.cs
Labels: type:bug, area:asm

#5670 Fix broken tests that only run on main
  .azure-pipelines/ultimate-pipeline.yml
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/InstrumentationTests.cs
Labels: area:tests

#5672 chore(serverless): update `CODEOWNERS`
  .github/CODEOWNERS
Labels: area:builds

#5674 [Tracer] SpanLinks Permissive null Clean Up
  tracer/src/Datadog.Trace/Activity/OtlpHelpers.cs
  tracer/src/Datadog.Trace/Propagators/W3CTraceContextPropagator.cs
Labels: area:tracer

#5673 Run smoke tests as though they're in SSI
  tracer/build/_build/Build.Steps.cs
  tracer/build/_build/docker/smoke.chiseled.dockerfile
  tracer/build/_build/docker/smoke.dd-dotnet.dockerfile
  tracer/build/_build/docker/smoke.dockerfile
  tracer/build/_build/docker/smoke.dotnet-tool.dockerfile
  tracer/build/_build/docker/smoke.dotnet-tool.nuget.dockerfile
  tracer/build/_build/docker/smoke.dotnet-tool.self-instrument.dockerfile
  tracer/build/_build/docker/smoke.nuget.dd-dotnet.dockerfile
  tracer/build/_build/docker/smoke.nuget.dockerfile
Labels: area:builds, area:tests

#5554 [Dynamic Instrumentation] DEBUG-2337 Add 'this' parameter to method arguments symbols
  tracer/src/Datadog.Trace/Debugger/Symbols/SymbolExtractor.cs
  tracer/src/Datadog.Trace/Debugger/Symbols/SymbolsExtensions.cs
  tracer/test/Datadog.Trace.Tests/Debugger/SymbolsTests/SymbolExtractor/Approvals/SymbolExtractorTest.AsyncMethod.verified.txt
  tracer/test/Datadog.Trace.Tests/Debugger/SymbolsTests/SymbolExtractor/Approvals/SymbolExtractorTest.ComprehensiveLinqWithClosure.verified.txt
  tracer/test/Datadog.Trace.Tests/Debugger/SymbolsTests/SymbolExtractor/Approvals/SymbolExtractorTest.ComprehensiveLinqWithoutClosure.verified.txt
  tracer/test/Datadog.Trace.Tests/Debugger/SymbolsTests/SymbolExtractor/Approvals/SymbolExtractorTest.EmptyType.verified.txt
  tracer/test/Datadog.Trace.Tests/Debugger/SymbolsTests/SymbolExtractor/Approvals/SymbolExtractorTest.HoistedAndNotHoistedLocals.verified.txt
  tracer/test/Datadog.Trace.Tests/Debugger/SymbolsTests/SymbolExtractor/Approvals/SymbolExtractorTest.HoistedLocalsAndArgsInStateMachine.verified.txt
  tracer/test/Datadog.Trace.Tests/Debugger/SymbolsTests/SymbolExtractor/Approvals/SymbolExtractorTest.LambdaWithClosure.verified.txt
  tracer/test/Datadog.Trace.Tests/Debugger/SymbolsTests/SymbolExtractor/Approvals/SymbolExtractorTest.LambdaWithFieldClosure.verified.txt
  tracer/test/Datadog.Trace.Tests/Debugger/SymbolsTests/SymbolExtractor/Approvals/SymbolExtractorTest.LambdaWithStaticFieldClosure.verified.txt
  tracer/test/Datadog.Trace.Tests/Debugger/SymbolsTests/SymbolExtractor/Approvals/SymbolExtractorTest.LambdaWithoutClosure.verified.txt
  tracer/test/Datadog.Trace.Tests/Debugger/SymbolsTests/SymbolExtractor/Approvals/SymbolExtractorTest.LocalConstants.verified.txt
  tracer/test/Datadog.Trace.Tests/Debugger/SymbolsTests/SymbolExtractor/Approvals/SymbolExtractorTest.LocalFunctionWithClosure.verified.txt
  tracer/test/Datadog.Trace.Tests/Debugger/SymbolsTests/SymbolExtractor/Approvals/SymbolExtractorTest.LocalFunctionWithoutClosure.verified.txt
  tracer/test/Datadog.Trace.Tests/Debugger/SymbolsTests/SymbolExtractor/Approvals/SymbolExtractorTest.MultipleClosuresMultipleHoisted.verified.txt
  tracer/test/Datadog.Trace.Tests/Debugger/SymbolsTests/SymbolExtractor/Approvals/SymbolExtractorTest.MultipleHoistedLocals.verified.txt
  tracer/test/Datadog.Trace.Tests/Debugger/SymbolsTests/SymbolExtractor/Approvals/SymbolExtractorTest.MultipleHoistedLocalsInStateMachine.verified.txt
  tracer/test/Datadog.Trace.Tests/Debugger/SymbolsTests/SymbolExtractor/Approvals/SymbolExtractorTest.MultipleScopes.verified.txt
  tracer/test/Datadog.Trace.Tests/Debugger/SymbolsTests/SymbolExtractor/Approvals/SymbolExtractorTest.NestedFluentLinq.verified.txt
  tracer/test/Datadog.Trace.Tests/Debugger/SymbolsTests/SymbolExtractor/Approvals/SymbolExtractorTest.PartialClass.verified.txt
  tracer/test/Datadog.Trace.Tests/Debugger/SymbolsTests/SymbolExtractor/Approvals/SymbolExtractorTest.SameLocalNameDifferentScope.verified.txt
Labels: area:debugger

#5668 Handle `NullReferenceException` in EF6
  tracer/missing-nullability-files.csv
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AdoNet/DbScopeFactory.cs
  tracer/src/Datadog.Trace/Util/DbCommandCache.cs
Labels: area:tracer, area:integrations, identified-by:telemetry

#5682 [ASM] Protect NativeLibrary.CloseLibrary
  tracer/src/Datadog.Trace/AppSec/Waf/NativeBindings/NativeLibrary.cs
Labels: type:bug, area:asm

#5678 [SSI] Fix some of the single step injection forwarder code
  shared/src/Datadog.Trace.ClrProfiler.Native/cor_profiler.cpp
  shared/src/Datadog.Trace.ClrProfiler.Native/single_step_guard_rails.cpp
  shared/src/Datadog.Trace.ClrProfiler.Native/single_step_guard_rails.h
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/InstrumentationTests.cs
Labels: area:native-library

#5688 [builds] fix `build_in_docker` scripts
  tracer/build/_build/.dockerignore
  tracer/build_in_docker.ps1
  tracer/build_in_docker.sh
Labels: area:builds

#5686 [Tracing] Don't allow enabling UDS on < .NET Core 3.1 and .NET Framework
  tracer/src/Datadog.Trace/Configuration/ExporterSettings.Shared.cs
  tracer/src/Datadog.Trace/Configuration/ExporterSettings.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/TelemetryErrorCodeExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/TelemetryErrorCodeExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/TelemetryErrorCodeExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/TelemetryErrorCodeExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Telemetry/TelemetryErrorCode.cs
  tracer/test/Datadog.Trace.Tests/Configuration/ExporterSettingsTests.cs
Labels: area:tracer

#5685 [ASM] Fix null exception security coordinator
  tracer/src/Datadog.Trace/AppSec/Coordinator/SecurityCoordinator.cs
  tracer/src/Datadog.Trace/AppSec/Rasp/RaspModule.cs
Labels: area:asm

#5691 [Profiler] Fix crash when different threads are trying to set a class description
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/FrameStore.cpp
Labels: area:profiler

#5694 [ASM] Fix Security module failed error
  tracer/src/Datadog.Trace/AppSec/Waf/Context.cs
Labels: area:asm

#5692 [Profiler] Fix typo in crash fix
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/FrameStore.cpp
Labels: area:profiler

#5690 Prevent `NullReferenceException` when `Activity` IDs are `null`
  tracer/src/Datadog.Trace/Activity/Handlers/ActivityHandlerCommon.cs
Labels: area:tracer, area:opentelemetry, identified-by:telemetry

#5677 Single-step guard rails: Use stdin instead of args to invoke telemetry
  shared/src/Datadog.Trace.ClrProfiler.Native/process_helper.cpp
  shared/src/Datadog.Trace.ClrProfiler.Native/process_helper.h
  shared/src/Datadog.Trace.ClrProfiler.Native/single_step_guard_rails.cpp
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/InstrumentationTests.cs
  tracer/test/test-applications/integrations/Samples.Console/Program.cs
Labels: area:shared-components

#5700 Single-step guard rails: Fix the path of the log file in tests
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/InstrumentationTests.cs
Labels: area:tests

#5675 [Remote Configuration] Buffer the response and include in error
  tracer/src/Datadog.Trace/Agent/IApiResponse.cs
  tracer/src/Datadog.Trace/Util/Streams/InitiallyBufferedStream.cs
  tracer/test/Datadog.Trace.Tests/RemoteConfigurationManagement/RcmResponses.cs
  tracer/test/Datadog.Trace.Tests/RemoteConfigurationManagement/RemoteConfigurationApiTests.cs
  tracer/test/Datadog.Trace.Tests/Util/InitiallyBufferedStreamTests.cs
Labels: area:tracer, area:remote-config

#5702 Minor fixes for hotfix workflows
  .github/workflows/auto_create_version_bump_pr.yml
  .github/workflows/create_hotfix_branch.yml
  .github/workflows/force_manual_version_bump.yml
Labels: area:builds

#5706 Fix syntax error in version-bump GitHub Action
  .github/workflows/auto_create_version_bump_pr.yml
Labels: area:builds

#5705 Fix reading JSON-formatted settings in remote config
  tracer/src/Datadog.Trace/Configuration/ConfigurationSources/JsonConfigurationSource.cs
  tracer/src/Datadog.Trace/Configuration/DynamicConfigurationManager.cs
  tracer/src/Datadog.Trace/TracerManager.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/DynamicConfigurationTests.cs
  tracer/test/Datadog.Trace.Tests/Configuration/DynamicConfigurationTests.cs
  tracer/test/Datadog.Trace.Tests/Configuration/Telemetry/ConfigurationBuilderTests.cs
Labels: type:bug, area:tracer, area:remote-config

#5704 Avoid infinite recursion in RuntimeMetricsWriter.FirstChanceException
  tracer/src/Datadog.Trace/RuntimeMetrics/RuntimeMetricsWriter.cs
Labels: area:tracer

#5698 [TRACER] Ensure synchronization in MethodInfo lazy operations
  tracer/src/Datadog.Tracer.Native/iast/dataflow_aspects.cpp
  tracer/src/Datadog.Tracer.Native/iast/method_info.cpp
  tracer/src/Datadog.Tracer.Native/iast/method_info.h
  tracer/src/Datadog.Tracer.Native/iast/module_info.h
  tracer/src/Datadog.Tracer.Native/iast/signature_info.cpp
  tracer/src/Datadog.Tracer.Native/iast/signature_info.h
Labels: type:bug, area:tracer, identified-by:crashtracking

#5709 Set CODEOWNERS of debugger configuration keys to the debugger team
  .github/CODEOWNERS
Labels: area:builds

#5614 Build native test binaries in build jobs
  .azure-pipelines/ultimate-pipeline.yml
  .github/workflows/verify_source_generated_changes_are_persisted.yml
  .nuke/build.schema.json
  profiler/CMakeLists.txt
  shared/CMakeLists.txt
  tracer/build/_build/Build.Profiler.Steps.cs
  tracer/build/_build/Build.Shared.Steps.cs
  tracer/build/_build/Build.Steps.cs
  tracer/build/_build/Build.cs
  tracer/build/_build/Projects.cs
Labels: area:builds

#5718 Try to fix the build by changing BuildId
  .azure-pipelines/steps/run-snapshot-test.yml
  .azure-pipelines/ultimate-pipeline.yml
  docker-compose.yml
Labels: area:builds

#5723 Fix Gitlab build and codeCoverage bugs
  .azure-pipelines/ultimate-pipeline.yml
  docker-compose.yml
  tracer/build/_build/Build.Profiler.Steps.cs
  tracer/build/_build/Build.Steps.Debugger.cs
  tracer/build/_build/Build.Steps.cs
  tracer/build/_build/Build.cs
Labels: area:builds

#5712 Update workflow file again
  .github/workflows/auto_create_version_bump_pr.yml
Labels: area:builds

#5710 Add basic smoke tests for macos
  .azure-pipelines/steps/install-dotnet.yml
  .azure-pipelines/ultimate-pipeline.yml
  tracer/build/_build/Build.Steps.cs
  tracer/build/_build/Build.VariableGenerations.cs
Labels: area:builds, area:tests

#5593 [v3] Update native loader to explicitly handle alpine
  profiler/test/Datadog.Profiler.IntegrationTests/Helpers/EnvironmentHelper.cs
  shared/src/Datadog.Trace.ClrProfiler.Native/dynamic_dispatcher.cpp
  shared/src/Datadog.Trace.ClrProfiler.Native/loader.conf
  shared/src/Datadog.Trace.ClrProfiler.Native/util.h
  tracer/build/_build/Build.Steps.cs
Labels: area:native-library

#5707 Build against `macos-12` instead of `macos-11`
  .azure-pipelines/ultimate-pipeline.yml
Labels: area:builds

#5725 Fix some macOS build issues
  build/cmake/FindRe2.cmake
  tracer/build/_build/Build.VariableGenerations.cs
Labels: area:builds

#5683 Enforce not referencing Datadog.Trace directly in sample projects
  tracer/test/test-applications/Directory.Build.props
  tracer/test/test-applications/Samples.Shared/SampleHelpers.cs
  tracer/test/test-applications/aspnet/Directory.Build.props
  tracer/test/test-applications/azure-functions/Directory.Build.props
  tracer/test/test-applications/debugger/Directory.Build.props
  tracer/test/test-applications/instrumentation/CallTargetNativeTest/CallTargetNativeTest.csproj
  tracer/test/test-applications/instrumentation/CallTargetNativeTest/NoOp/RefStructFourParametersVoidIntegration.cs
  tracer/test/test-applications/instrumentation/CallTargetNativeTest/NoOp/RefStructOneParametersVoidIntegration.cs
  tracer/test/test-applications/instrumentation/CallTargetNativeTest/NoOp/RefStructTwoParametersVoidIntegration.cs
  tracer/test/test-applications/instrumentation/CallTargetNativeTest/WithRefStructArguments.cs
  tracer/test/test-applications/instrumentation/Datadog.Tracer.Native.Checks/Datadog.Tracer.Native.Checks.csproj
  tracer/test/test-applications/integrations/Samples.CIVisibilityIpc/Program.cs
  tracer/test/test-applications/integrations/Samples.CIVisibilityIpc/Samples.CIVisibilityIpc.csproj
  tracer/test/test-applications/integrations/Samples.ManualInstrumentation/Samples.ManualInstrumentation.csproj
Labels: area:builds, area:tests

#5720 [Tracing] fix precedence of remote vs local sampling rules
  tracer/src/Datadog.Trace/Configuration/ImmutableTracerSettings.cs
  tracer/src/Datadog.Trace/TracerManager.cs
  tracer/src/Datadog.Trace/TracerManagerFactory.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/DynamicConfigurationTests.cs
  tracer/test/Datadog.Trace.Tests/Configuration/DynamicConfigurationTests.cs
Labels: type:bug, area:tracer

#5733 Add workflow monitor to all workflows
  .github/workflows/auto-trigger-aas-release.yml
  .github/workflows/auto_add_vnext_milestone_to_pr.yml
  .github/workflows/auto_check_snapshots.yml
  .github/workflows/auto_code_freeze_block_pr.yml
  .github/workflows/auto_deploy_aas_test_apps.yml
  .github/workflows/auto_label_prs.yml
  .github/workflows/auto_update_benchmark_branches.yml
  .github/workflows/code_freeze_end.yml
  .github/workflows/code_freeze_start.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/create-system-test-docker-base-images.yml
  .github/workflows/create_draft_release.yml
  .github/workflows/datadog-static-analysis.yml
  .github/workflows/lib-injection-test.yml
  .github/workflows/lib-injection.yml
  .github/workflows/override_version_bump_pr_checks.yml
Labels: area:builds

#5731 Better logs folder creation in chiseled smoke test
  tracer/build/_build/docker/smoke.chiseled.dockerfile
Labels: area:builds

#5416 Update Windows hosted image to latest software
  .azure-pipelines/ultimate-pipeline.yml
Labels: area:builds

#5724 [ASM] Fix WAF timeout false positives
  tracer/src/Datadog.Trace/AppSec/Waf/NativeBindings/DdwafResultStruct.cs
  tracer/src/Datadog.Trace/AppSec/Waf/Result.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/ActionChangeTests.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/ContextTests.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/RASP/RaspWafTests.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/Utils/WafLibraryRequiredTest.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/WafEphemeralDataTests.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/WafIpBlockTests.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/WafMemoryTests.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/WafObfuscationTests.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/WafTests.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/WafUpdateTests.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/WafUserBlockTests.cs
Labels: area:asm

#5669 [Profiler] Add heap size metrics (gen2, loh and poh)
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ClrEventsParser.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ClrEventsParser.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/GarbageCollectionProvider.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/GarbageCollectionProvider.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/IGarbageCollectionsListener.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/LiveObjectsProvider.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/LiveObjectsProvider.h
Labels: area:profiler

#5729 [Profiler] Add global flag to prevent the profiler from stackwalking while the app is crashing
  profiler/src/ProfilerEngine/Datadog.Linux.ApiWrapper/functions_to_wrap.c
Labels: area:profiler

#5713 Config refactor - distinguish between "not present" and "not valid"
  tracer/src/Datadog.Trace.Trimming/build/Datadog.Trace.Trimming.xml
  tracer/src/Datadog.Trace/Ci/Configuration/CIVisibilitySettings.cs
  tracer/src/Datadog.Trace/Configuration/ConfigurationSources/CompositeConfigurationSource.cs
  tracer/src/Datadog.Trace/Configuration/ConfigurationSources/JsonConfigurationSource.cs
  tracer/src/Datadog.Trace/Configuration/ConfigurationSources/NullConfigurationSource.cs
  tracer/src/Datadog.Trace/Configuration/ConfigurationSources/StringConfigurationSource.cs
  tracer/src/Datadog.Trace/Configuration/ConfigurationSources/Telemetry/ConfigurationBuilder.cs
  tracer/src/Datadog.Trace/Configuration/ConfigurationSources/Telemetry/ConfigurationLoadResult.cs
  tracer/src/Datadog.Trace/Configuration/ConfigurationSources/Telemetry/ConfigurationResult.cs
  tracer/src/Datadog.Trace/Configuration/ConfigurationSources/Telemetry/CustomTelemeteredConfigurationSource.cs
  tracer/src/Datadog.Trace/Configuration/ConfigurationSources/Telemetry/ITelemeteredConfigurationSource.cs
  tracer/src/Datadog.Trace/ExtensionMethods/EnumerableExtensions.cs
  tracer/test/Datadog.Trace.Tests/Configuration/CompositeConfigurationSourceTests.cs
Labels: area:tracer, type:refactor

#5660 [Profiler] Add custom dl_iterate_phdr and use it in libunwind
  profiler/src/ProfilerEngine/Datadog.Linux.ApiWrapper/functions_to_wrap.c
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/DlPhdrInfoWrapper.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/DlPhdrInfoWrapper.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/LibrariesInfoCache.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/LibrariesInfoCache.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/LinuxStackFramesCollector.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/LinuxStackFramesCollector.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/OsSpecificApi.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ManagedThreadInfo.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Semaphore.h
  profiler/test/Datadog.Profiler.Native.Tests/LinuxStackFramesCollectorTest.cpp
Labels: area:profiler

#5714 Config refactor - support "converters" for other configuration types
  tracer/src/Datadog.Trace/Configuration/ConfigurationSources/Telemetry/ConfigurationBuilder.cs
  tracer/src/Datadog.Trace/Configuration/ConfigurationSources/Telemetry/DefaultResult.cs
  tracer/test/Datadog.Trace.Tests/Configuration/Telemetry/ConfigurationBuilderTests.cs
Labels: area:tracer, type:refactor

#5715 Config refactor - fix struct/class `T` nullable ref issues, and allow "raw" access to `ConfigurationResult`
  tracer/src/Datadog.Trace/AppSec/SecuritySettings.cs
  tracer/src/Datadog.Trace/Configuration/ConfigurationSources/Telemetry/ConfigurationBuilder.cs
  tracer/src/Datadog.Trace/Configuration/DynamicConfigurationManager.cs
  tracer/test/Datadog.Trace.Tests/Configuration/Telemetry/ConfigurationBuilderTests.cs
Labels: area:tracer, type:refactor

#5750 Make BuildTracerHome build the native profiler
  tracer/build/_build/Build.cs
Labels: area:builds

#5592 [Tracer] Move definitions to native side
  .github/workflows/verify_source_generated_changes_are_persisted.yml
  Datadog.Trace.sln
  shared/src/native-src/version.h
  tracer/missing-nullability-files.csv
  tracer/src/Datadog.Trace.SourceGenerators/AspectsDefinitions/AspectsDefinitionsGenerator.cs
  tracer/src/Datadog.Trace.SourceGenerators/Constants.cs
  tracer/src/Datadog.Trace.SourceGenerators/Helpers/EquatableArray.cs
  tracer/src/Datadog.Trace.SourceGenerators/Helpers/IncrementalGeneratorBase.cs
  tracer/src/Datadog.Trace.SourceGenerators/Helpers/StringArrayComparer.cs
  tracer/src/Datadog.Trace.SourceGenerators/Helpers/TrackingNames.cs
  tracer/src/Datadog.Trace.SourceGenerators/IAdditionalFileCodeGenerator.cs
  tracer/src/Datadog.Trace.SourceGenerators/InstrumentationDefinitions/InstrumentationDefinitionsGenerator.cs
  tracer/src/Datadog.Trace.SourceGenerators/InstrumentationDefinitions/Sources.cs
  tracer/src/Datadog.Trace/ClrProfiler/Instrumentation.cs
  tracer/src/Datadog.Trace/ClrProfiler/NativeMethods.cs
  tracer/src/Datadog.Trace/Datadog.Trace.csproj
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Iast/Iast.cs
  tracer/src/Datadog.Trace/Telemetry/DTOs/ConfigTelemetryData.cs
  tracer/src/Datadog.Trace/Telemetry/TargetFrameworkMonikerAttribute.cs
  tracer/src/Datadog.Trace/folder_locator.json
  tracer/src/Datadog.Tracer.Native/CMakeLists.txt
  tracer/src/Datadog.Tracer.Native/Datadog.Tracer.Native.def
  tracer/src/Datadog.Tracer.Native/Datadog.Tracer.Native.vcxproj
  tracer/src/Datadog.Tracer.Native/Datadog.Tracer.Native.vcxproj.filters
  tracer/src/Datadog.Tracer.Native/Generated/generated_callsites_net461.g.h
  tracer/src/Datadog.Tracer.Native/Generated/generated_callsites_net6_0.g.h
  tracer/src/Datadog.Tracer.Native/Generated/generated_callsites_netcoreapp3_1.g.h
  tracer/src/Datadog.Tracer.Native/Generated/generated_callsites_netstandard2_0.g.h
  tracer/src/Datadog.Tracer.Native/Generated/generated_calltargets_net461.g.h
  tracer/src/Datadog.Tracer.Native/Generated/generated_calltargets_net6_0.g.h
  tracer/src/Datadog.Tracer.Native/Generated/generated_calltargets_netcoreapp3_1.g.h
  tracer/src/Datadog.Tracer.Native/Generated/generated_calltargets_netstandard2_0.g.h
  tracer/src/Datadog.Tracer.Native/Generated/generated_definitions.cpp
  tracer/src/Datadog.Tracer.Native/Generated/generated_definitions.h
  tracer/src/Datadog.Tracer.Native/cor_profiler.cpp
  tracer/src/Datadog.Tracer.Native/dd_profiler_constants.h
  tracer/src/Datadog.Tracer.Native/environment_variables.h
  tracer/src/Datadog.Tracer.Native/environment_variables_util.cpp
  tracer/src/Datadog.Tracer.Native/environment_variables_util.h
  tracer/src/Datadog.Tracer.Native/iast/dataflow.cpp
  tracer/src/Datadog.Tracer.Native/interop.cpp
  tracer/test/Datadog.Trace.SourceGenerators.Tests/AspectsDefinitionsGeneratorTests.cs
  tracer/test/Datadog.Trace.SourceGenerators.Tests/Datadog.Trace.SourceGenerators.Tests.csproj
  tracer/test/Datadog.Trace.SourceGenerators.Tests/InstrumentationDefinitionsGeneratorTests.cs
  tracer/test/Datadog.Trace.SourceGenerators.Tests/TestHelpers.cs
Labels: area:tracer, type:performance

#5732 [ASM] Capture ObjectDisposedException
  tracer/src/Datadog.Trace/AppSec/Coordinator/HttpTransportBase.cs
  tracer/src/Datadog.Trace/AppSec/Coordinator/SecurityCoordinator.cs
  tracer/src/Datadog.Trace/AppSec/Rasp/RaspModule.cs
Labels: area:asm
