Repository DataDog/dd-trace-dotnet, pull requests merged in 2024-12, with the labels that each got.

#6368 [Profiler] Avoid ETW tests flackiness
  profiler/test/Datadog.Profiler.IntegrationTests/Allocations/AllocationsProfilerTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Contention/ContentionProfilerTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/GarbageCollections/GarbageCollectionsProfilerTest.cs
Labels: area:profiler

#6378 Add try catch on shutdown
  tracer/src/Datadog.Trace/LifetimeManager.cs
Labels: area:tracer, identified-by:crashtracking

#6379 [ASM] Skip `DefaultInterpolatedStringHandler` flaky tests
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/String/DefaultInterpolatedStringHandlerTests.cs
Labels: area:tests, area:asm

#6382 [ASM] Fix possible stackoverflow if nested routedictionary
  tracer/src/Datadog.Trace/AppSec/ObjectExtractor.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/ObjectExtractorTests.cs
Labels: area:asm

#6380 [Profiler] Fix UBsan Job
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Log.h
  profiler/test/Datadog.Profiler.Native.Tests/ClrEventsParserTest.cpp
Labels: area:profiler

#6383 Introduce a SignatureBuilder to build signatures of arbitrary size
  tracer/src/Datadog.Tracer.Native/CMakeLists.txt
  tracer/src/Datadog.Tracer.Native/Datadog.Tracer.Native.vcxproj
  tracer/src/Datadog.Tracer.Native/Datadog.Tracer.Native.vcxproj.filters
  tracer/src/Datadog.Tracer.Native/calltarget_tokens.cpp
  tracer/src/Datadog.Tracer.Native/calltarget_tokens.h
  tracer/src/Datadog.Tracer.Native/debugger_tokens.cpp
  tracer/src/Datadog.Tracer.Native/debugger_tokens.h
  tracer/src/Datadog.Tracer.Native/signature_builder.cpp
  tracer/src/Datadog.Tracer.Native/signature_builder.h
  tracer/src/Datadog.Tracer.Native/tracer_tokens.cpp
  tracer/src/Datadog.Tracer.Native/tracer_tokens.h
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.ManyLocals.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/statuses/ProbeTests.ManyLocals.verified.txt
  tracer/test/test-applications/debugger/dependency-libs/Samples.Probes.TestRuns/SmokeTests/ManyLocals.cs
Labels: area:native-library, identified-by:crashtracking

#6393 Make more integration settings case insensitive
  tracer/src/Datadog.Trace/Configuration/IntegrationSettings.cs
  tracer/test/Datadog.Trace.Tests/Configuration/IntegrationSettingsTests.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/ConfigurationTests.cs
Labels: area:tracer

#6370 Remove settings snapshot generator
  tracer/src/Datadog.Trace.SourceGenerators/TracerSettingsSnapshot/Diagnostics/MissingConfigKeyAttributeDiagnostic.cs
  tracer/src/Datadog.Trace.SourceGenerators/TracerSettingsSnapshot/SettableProperty.cs
  tracer/src/Datadog.Trace.SourceGenerators/TracerSettingsSnapshot/SnapshotClass.cs
  tracer/src/Datadog.Trace.SourceGenerators/TracerSettingsSnapshot/Sources.cs
  tracer/src/Datadog.Trace.SourceGenerators/TracerSettingsSnapshot/TracerSettingsSnapshotGenerator.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/ManualInstrumentation/Tracer/ConfigureIntegration.cs
  tracer/src/Datadog.Trace/Configuration/ExporterSettings.cs
  tracer/src/Datadog.Trace/Configuration/SettingsSnapshotBase.cs
  tracer/src/Datadog.Trace/Configuration/TracerSettings.cs
  tracer/src/Datadog.Trace/Configuration/TracerSettingsSnapshot.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/TracerSettingsSnapshotGenerator/ExporterSettingsSnapshot.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/TracerSettingsSnapshotGenerator/GenerateSnapshotAttribute.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/TracerSettingsSnapshotGenerator/TracerSettingsSnapshot.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/TracerSettingsSnapshotGenerator/ExporterSettingsSnapshot.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/TracerSettingsSnapshotGenerator/GenerateSnapshotAttribute.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/TracerSettingsSnapshotGenerator/TracerSettingsSnapshot.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/TracerSettingsSnapshotGenerator/ExporterSettingsSnapshot.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/TracerSettingsSnapshotGenerator/GenerateSnapshotAttribute.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/TracerSettingsSnapshotGenerator/TracerSettingsSnapshot.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/TracerSettingsSnapshotGenerator/ExporterSettingsSnapshot.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/TracerSettingsSnapshotGenerator/GenerateSnapshotAttribute.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/TracerSettingsSnapshotGenerator/TracerSettingsSnapshot.g.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/Helpers/TelemetryHelper.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/ManualInstrumentationTests.cs
  tracer/test/Datadog.Trace.SourceGenerators.Tests/TracerSettingsSnapshotGeneratorTests.cs
  tracer/test/Datadog.Trace.Tests/Configuration/TracerSettingsSnapshotTests.cs
  tracer/test/Datadog.Trace.Tests/Configuration/TracerSettingsTests.cs
Labels: area:tracer, type:cleanup, area:telemetry

#6384 Use the signature builder in more places
  tracer/src/Datadog.Tracer.Native/fault_tolerant_rewriter.cpp
Labels: area:native-library

#6338 [Profiler] Force waiting for the `LibrariesInfoCache` service to be fully started
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/AutoResetEvent.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/LibrariesInfoCache.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/LibrariesInfoCache.h
Labels: area:profiler

#6398 Remove the vendored arraypool eventsource
  tracer/build/_build/UpdateVendors/VendoredDependency.cs
  tracer/src/Datadog.Trace.Trimming/build/Datadog.Trace.Trimming.xml
  tracer/src/Datadog.Trace/Vendors/System.Memory/Buffers/ArrayPoolEventSource.cs
  tracer/src/Datadog.Trace/Vendors/System.Memory/Buffers/ConfigureableArrayPool.cs
  tracer/src/Datadog.Trace/Vendors/System.Memory/Buffers/SharedArrayPool.cs
Labels: area:tracer, area:vendors, identified-by:crashtracking

#6403 Removing Delay in Smoke Test Helper Method
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/SmokeTests/SmokeTestBase.cs
Labels: area:tracer, area:builds, area:docs, area:tests, area:opentracing, area:installers, area:vendors, area:shared-components, area:profiler, area:debugger, area:integrations

#6404 Removing MetaStruct Check from TestDirectoryListingLeak
  tracer/test/Datadog.Trace.Security.IntegrationTests/IAST/AspNetCore5IastTests.cs
  tracer/test/snapshots/Iast.DirectoryListingLeak.AspNetCore5.IastEnabled.verified.txt
Labels: area:tests

#6402 [Crashtracking] Display a nicer error message when the glibc version is too old
  tracer/src/Datadog.Trace.Tools.dd_dotnet/CreatedumpCommand.cs
Labels: area:crashtracking

#6406 [Profiler] Fix static analysis job
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/OsSpecificApi.cpp
Labels: area:profiler

#6385 Remove `PublicApiTests.PublicApiHasNotChanged` for Datadog.Trace.dll
  tracer/test/Datadog.Trace.Tests/PublicApiTests.cs
  tracer/test/Datadog.Trace.Tests/Snapshots/PublicApiTests.Datadog.Trace.PublicApiHasNotChanged.verified.txt
Labels: area:tracer, area:tests, type:cleanup

#6386 Simplify duplication in `IConfigurationSource`
  tracer/src/Datadog.Trace.Tools.Runner/Utils.cs
  tracer/src/Datadog.Trace/Ci/Configuration/CIVisibilitySettings.cs
  tracer/src/Datadog.Trace/Configuration/ConfigurationSources/CompositeConfigurationSource.cs
  tracer/src/Datadog.Trace/Configuration/ConfigurationSources/CompositeConfigurationSourceInternal.cs
  tracer/src/Datadog.Trace/Configuration/ConfigurationSources/DictionaryConfigurationSource.cs
  tracer/src/Datadog.Trace/Configuration/ConfigurationSources/DictionaryObjectConfigurationSource.cs
  tracer/src/Datadog.Trace/Configuration/ConfigurationSources/EnvironmentConfigurationSource.cs
  tracer/src/Datadog.Trace/Configuration/ConfigurationSources/EnvironmentConfigurationSourceInternal.cs
  tracer/src/Datadog.Trace/Configuration/ConfigurationSources/GlobalConfigurationSource.cs
  tracer/src/Datadog.Trace/Configuration/ConfigurationSources/IConfigurationSource.cs
  tracer/src/Datadog.Trace/Configuration/ConfigurationSources/JsonConfigurationSource.cs
  tracer/src/Datadog.Trace/Configuration/ConfigurationSources/NameValueConfigurationSource.cs
  tracer/src/Datadog.Trace/Configuration/ConfigurationSources/NullConfigurationSource.cs
  tracer/src/Datadog.Trace/Configuration/ConfigurationSources/StringConfigurationSource.cs
  tracer/src/Datadog.Trace/Configuration/ConfigurationSources/Telemetry/ConfigurationBuilder.cs
  tracer/src/Datadog.Trace/Configuration/ConfigurationSources/Telemetry/ConfigurationLoadResult.cs
  tracer/src/Datadog.Trace/Configuration/ConfigurationSources/Telemetry/ConfigurationOrigins.cs
  tracer/src/Datadog.Trace/Configuration/ConfigurationSources/Telemetry/ConfigurationResult.cs
  tracer/src/Datadog.Trace/Configuration/ConfigurationSources/Telemetry/CustomTelemeteredConfigurationSource.cs
  tracer/src/Datadog.Trace/Configuration/ConfigurationSources/Telemetry/IConfigurationTelemetry.cs
  tracer/src/Datadog.Trace/Configuration/ConfigurationSources/Telemetry/ITelemeteredConfigurationSource.cs
  tracer/src/Datadog.Trace/Configuration/ConfigurationSources/Telemetry/ParsingResult.cs
  tracer/src/Datadog.Trace/Configuration/DynamicConfigurationManager.cs
  tracer/src/Datadog.Trace/Configuration/TracerSettings.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/TelemetryErrorCodeExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/TelemetryErrorCodeExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/TelemetryErrorCodeExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/TelemetryErrorCodeExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Telemetry/DTOs/ConfigurationKeyValue.cs
  tracer/src/Datadog.Trace/Telemetry/DTOs/ErrorData.cs
  tracer/src/Datadog.Trace/Telemetry/TelemetryErrorCode.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/IAST/CustomSettingsForTests.cs
  tracer/test/Datadog.Trace.Tests/Configuration/CompositeConfigurationSourceTests.cs
  tracer/test/Datadog.Trace.Tests/Configuration/MsmqTests.cs
  tracer/test/Datadog.Trace.Tests/Configuration/RabbitMQTests.cs
  tracer/test/Datadog.Trace.Tests/Configuration/StringConfigurationSourceTests.cs
  tracer/test/Datadog.Trace.Tests/Configuration/Telemetry/ConfigurationBuilderTests.cs
Labels: area:tracer, area:tests, type:refactor, type:cleanup

#6407 Report failures to update GitHub as build errors in Azure Devops
  .azure-pipelines/steps/update-github-status.yml
Labels: area:builds

#6397 Update config-in-code manual instrumentation to use an `IConfigurationSource`
  tracer/src/Datadog.Trace.Manual/Configuration/IntegrationSettings.cs
  tracer/src/Datadog.Trace.Manual/Configuration/TracerSettings.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/ManualInstrumentation/Tracer/ConfigureIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/ManualInstrumentation/Tracer/ConfigureIntegration_Pre3_7.cs
  tracer/src/Datadog.Trace/Configuration/ConfigurationSources/CompositeConfigurationSource.cs
  tracer/src/Datadog.Trace/Configuration/ConfigurationSources/DictionaryObjectConfigurationSource.cs
  tracer/src/Datadog.Trace/Configuration/ConfigurationSources/ManualInstrumentationConfigurationSource.cs
  tracer/src/Datadog.Trace/Configuration/ConfigurationSources/ManualInstrumentationLegacyConfigurationSource.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/test/Datadog.Trace.Tests/ManualInstrumentation/ManualInstrumentationLegacyConfigurationSourceTests.cs
  tracer/test/Datadog.Trace.Tests/ManualInstrumentation/SettingsInstrumentationTests.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/ConfigurationTests.cs
Labels: area:tracer, area:automatic-instrumentation, type:refactor

#6412 Fix checking for changes to generated files
  .github/workflows/verify_source_generated_changes_are_persisted.yml
  tracer/build/supported_calltargets.g.json
  tracer/src/Datadog.Tracer.Native/Generated/generated_calltargets.g.h
Labels: area:builds

#6411 Pin the lang version in the Nuke build project
  tracer/build/_build/_build.csproj
Labels: area:builds

#6416 [CI Visibility] Use same number of execution in EFD tests
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/MsTestV2EvpTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/NUnitEvpTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/XUnitEvpTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/XUnitRetriesTests.cs
Labels: area:tests, area:ci-visibility

#6401 Dump process and children processes when a test hangups
  tracer/test/Datadog.Trace.TestHelpers.AutoInstrumentation/TestHelper.cs
  tracer/test/Datadog.Trace.TestHelpers/MemoryDumpHelper.cs
  tracer/test/Datadog.Trace.TestHelpers/ProcessHelper.Children.cs
  tracer/test/Datadog.Trace.TestHelpers/ProcessHelper.cs
Labels: area:tests

#6405 Make `IntegrationSettings` properly immutable and remove `ImmutableIntegrationSettings`
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/ManualInstrumentation/Tracer/CtorIntegration.cs
  tracer/src/Datadog.Trace/Configuration/ExporterSettings.cs
  tracer/src/Datadog.Trace/Configuration/ImmutableIntegrationSettings.cs
  tracer/src/Datadog.Trace/Configuration/ImmutableIntegrationSettingsCollection.cs
  tracer/src/Datadog.Trace/Configuration/ImmutableTracerSettings.cs
  tracer/src/Datadog.Trace/Configuration/IntegrationSettings.cs
  tracer/src/Datadog.Trace/Configuration/IntegrationSettingsCollection.cs
  tracer/src/Datadog.Trace/Configuration/TracerSettings.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/Helpers/TelemetryHelperTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.Managed.Tests/DbScopeFactoryTests.cs
  tracer/test/Datadog.Trace.Tests/Configuration/ImmutableIntegrationSettingsCollectionTests.cs
  tracer/test/Datadog.Trace.Tests/Configuration/ImmutableIntegrationSettingsTests.cs
  tracer/test/Datadog.Trace.Tests/Configuration/IntegrationSettingsCollectionTests.cs
  tracer/test/Datadog.Trace.Tests/Configuration/IntegrationSettingsTests.cs
  tracer/test/Datadog.Trace.Tests/ManualInstrumentation/SettingsInstrumentationTests.cs
Labels: area:tracer, type:refactor

#6422 Fix name of target creating trimming file + desc
  .azure-pipelines/ultimate-pipeline.yml
  .github/workflows/verify_app_trimming_changes_are_persisted.yml
  tracer/build/_build/Build.Gitlab.cs
  tracer/build/_build/Build.Steps.cs
  tracer/build/_build/Build.cs
Labels: area:builds

#6408 Make `ExporterSettings` properly immutable and remove `ImmutableExporterSettings`
  tracer/src/Datadog.Trace.Tools.Runner/Utils.cs
  tracer/src/Datadog.Trace.Tools.dd_dotnet/ExporterSettings.cs
  tracer/src/Datadog.Trace/Agent/AgentTransportStrategy.cs
  tracer/src/Datadog.Trace/Agent/DiscoveryService/DiscoveryService.cs
  tracer/src/Datadog.Trace/Agent/TracesTransportStrategy.cs
  tracer/src/Datadog.Trace/Ci/Agent/Payloads/EventPlatformPayload.cs
  tracer/src/Datadog.Trace/Ci/CIVisibility.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/ManualInstrumentation/Configuration/TracerSettings/PopulateDictionaryIntegration.cs
  tracer/src/Datadog.Trace/Configuration/ExporterSettings.Shared.cs
  tracer/src/Datadog.Trace/Configuration/ExporterSettings.cs
  tracer/src/Datadog.Trace/Configuration/ImmutableExporterSettings.cs
  tracer/src/Datadog.Trace/Configuration/ImmutableTracerSettings.cs
  tracer/src/Datadog.Trace/DataStreamsMonitoring/Transport/DataStreamsTransportStrategy.cs
  tracer/src/Datadog.Trace/Logging/TracerFlare/TracerFlareApi.cs
  tracer/src/Datadog.Trace/RemoteConfigurationManagement/Transport/RemoteConfigurationApiFactory.cs
  tracer/src/Datadog.Trace/Telemetry/Transports/TelemetryTransportFactory.cs
  tracer/src/Datadog.Trace/Telemetry/Transports/TelemetryTransportStrategy.cs
  tracer/test/Datadog.Trace.IntegrationTests/ContainerTaggingTests.cs
  tracer/test/Datadog.Trace.IntegrationTests/Logging/TracerFlare/TracerFlareApiTests.cs
  tracer/test/Datadog.Trace.IntegrationTests/StatsTests.cs
  tracer/test/Datadog.Trace.IntegrationTests/TelemetryTransportTests.cs
  tracer/test/Datadog.Trace.Tests/Configuration/ExporterSettingsTests.cs
  tracer/test/Datadog.Trace.Tests/Configuration/ImmutableExporterSettingsTests.cs
  tracer/test/Datadog.Trace.Tests/DataStreamsMonitoring/DataStreamsMonitoringTransportTests.cs
  tracer/test/Datadog.Trace.Tests/DogStatsDTests.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/Transports/TelemetryTransportFactoryTests.cs
  tracer/test/Datadog.Trace.Tests/TraceContextTests.cs
  tracer/test/Datadog.Trace.Tests/TracerInstanceTest.cs
Labels: area:tracer, type:refactor

#6092 [Dynamic Instrumentation] DEBUG-2256 Do not create ProbeProcessor when LiveDebugger isn't fully initialized
  tracer/src/Datadog.Trace/Debugger/Expressions/ProbeExpressionsProcessor.cs
  tracer/src/Datadog.Trace/Debugger/LiveDebugger.cs
Labels: area:tracer, area:debugger

#6302 [ASM][ATO] Adapt v3 new login tags and fix signup tags
  tracer/missing-nullability-files.csv
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AspNetCore/UserEvents/AuthenticationHttpContextExtensionsIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AspNetCore/UserEvents/SignInManagerPasswordSignInIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AspNetCore/UserEvents/SignInManagerPasswordSignInUserIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AspNetCore/UserEvents/UserEventsCommon.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AspNetCore/UserEvents/UserManagerCreateIntegration.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/CiVisibilityMetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/CountExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/IMetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/NullMetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/CiVisibilityMetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/CountExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/IMetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/NullMetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/CiVisibilityMetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/CountExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/IMetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/NullMetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/CiVisibilityMetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/CountExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/IMetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/NullMetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Tags.AppSec.cs
  tracer/src/Datadog.Trace/Telemetry/Metrics/Count.cs
  tracer/src/Datadog.Trace/Telemetry/Metrics/MetricTags.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/AspNetCore5AutoUserEvents.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/UserEventsCommonTests.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/Metrics/common_metrics.json
  tracer/test/snapshots/Security.AspNetCore5AsmFeatureUserIdSecurityEnabled._.verified.txt
  tracer/test/snapshots/Security.AspNetCore5AsmFeatureUserIdSecurityRemoteActivated._.verified.txt
  tracer/test/snapshots/Security.AspNetCore5AutoUserEvents.SecurityOn.anonmode-login.auto.failure1.verified.txt
  tracer/test/snapshots/Security.AspNetCore5AutoUserEvents.SecurityOn.anonmode-login.auto.failure2.verified.txt
  tracer/test/snapshots/Security.AspNetCore5AutoUserEvents.SecurityOn.anonmode-login.auto.success.verified.txt
  tracer/test/snapshots/Security.AspNetCore5AutoUserEvents.SecurityOn.defaultmode-login.auto.failure1.verified.txt
  tracer/test/snapshots/Security.AspNetCore5AutoUserEvents.SecurityOn.defaultmode-login.auto.failure2.verified.txt
  tracer/test/snapshots/Security.AspNetCore5AutoUserEvents.SecurityOn.defaultmode-login.auto.success.verified.txt
  tracer/test/snapshots/Security.AspNetCore5AutoUserEvents.SecurityOn.extendedmode-login.auto.failure1.verified.txt
  tracer/test/snapshots/Security.AspNetCore5AutoUserEvents.SecurityOn.extendedmode-login.auto.failure2.verified.txt
  tracer/test/snapshots/Security.AspNetCore5AutoUserEvents.SecurityOn.extendedmode-login.auto.success.verified.txt
  tracer/test/snapshots/Security.AspNetCore5AutoUserEvents.SecurityOn.identmode-login.auto.failure1.verified.txt
  tracer/test/snapshots/Security.AspNetCore5AutoUserEvents.SecurityOn.identmode-login.auto.failure2.verified.txt
  tracer/test/snapshots/Security.AspNetCore5AutoUserEvents.SecurityOn.identmode-login.auto.success.verified.txt
Labels: area:asm

#6423 Add support for Graph.NET v8
  tracer/build/PackageVersionsGeneratorDefinitions.json
  tracer/build/PackageVersionsLatestMajors.g.props
  tracer/build/PackageVersionsLatestMinors.g.props
  tracer/build/PackageVersionsLatestSpecific.g.props
  tracer/build/supported_calltargets.g.json
  tracer/build/supported_versions.json
  tracer/dependabot/Datadog.Dependabot.Integrations.csproj
  tracer/missing-nullability-files.csv
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/GraphQL/Net/DocumentV5Struct.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/GraphQL/Net/ExecuteAsyncIntegrationV5AndV7.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/GraphQL/Net/GraphQLCommon.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/GraphQL/Net/ValidateAsyncIntegrationV8.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Tracer.Native/Generated/generated_calltargets.g.h
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/GraphQLCommon.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestMajors.g.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestMinors.g.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestSpecific.g.cs
  tracer/test/test-applications/integrations/Samples.GraphQL7/Samples.GraphQL7.csproj
Labels: type:enhancement, area:tracer, area:automatic-instrumentation, area:integrations

#6442 [ASM] Fix database tests (netcoreapp3.0)
  tracer/test/test-applications/security/Samples.Security.AspNetCore5.DatabaseIntegration/Controllers/IastController.cs
Labels: area:tests, area:asm

#6432 [ASM] Fix IAST weak random vulnerability error
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/CryptographyAlgorithm/SymmetricAlgorithmIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/CryptographyAlgorithm/SymmetricAlgorithmIntegrationCommon.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/HashAlgorithm/HashAlgorithmIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/HashAlgorithm/HashAlgorithmIntegrationBis.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/HashAlgorithm/HashAlgorithmIntegrationCommon.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/HashAlgorithm/HashAlgorithmIntegrationTer.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.Security.Cryptography/HashAlgorithmAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.Security.Cryptography/SymmetricAlgorithmAspect.cs
  tracer/src/Datadog.Trace/Iast/IastModule.cs
  tracer/src/Datadog.Trace/Iast/StackWalker.cs
  tracer/src/Datadog.Tracer.Native/iast/dataflow.cpp
  tracer/test/Datadog.Trace.Security.IntegrationTests/IAST/Deduplication/DeduplicationTests.cs
  tracer/test/snapshots/Iast.GrpcDotNetTests.BodyPropagation.SubmitsTraces.verified.txt
  tracer/test/snapshots/iast.deduplication.deduplicated.All.verified.txt
  tracer/test/test-applications/integrations/Samples.Deduplication/Program.cs
Labels: area:asm

#6388 [Profiler] Use Vcpkg download and install native dependencies (libdatadog)
  Datadog.Profiler.sln
  build/vcpkg_local_ports/libdatadog/portfile.cmake
  build/vcpkg_local_ports/libdatadog/vcpkg.json
  profiler/Directory.Build.props
  profiler/Directory.Build.targets
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Windows/Datadog.Profiler.Native.Windows.vcxproj
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Windows/Datadog.Profiler.Native.Windows.vcxproj.filters
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Windows/packages.config
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CrashReporting.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CrashReporting.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Datadog.Profiler.Native.vcxproj
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/packages.config
  profiler/src/ProfilerEngine/Directory.Build.props
  profiler/src/ProfilerEngine/Directory.Build.targets
  profiler/test/Datadog.Profiler.Native.Tests/Datadog.Profiler.Native.Tests.vcxproj
  profiler/test/Datadog.Profiler.Native.Tests/Datadog.Profiler.Native.Tests.vcxproj.filters
  profiler/test/Datadog.Profiler.Native.Tests/packages.config
  shared/src/native-lib/PPDB/PPDB.vcxproj
  tracer/build/_build/Build.Profiler.Steps.cs
  vcpkg-configuration.json
  vcpkg.json
Labels: area:profiler

#6430 [dd-dotnet] Catch error when failing to read env vars on IIS
  tracer/src/Datadog.Trace.Tools.dd_dotnet/Checks/Windows/IIS/ApplicationPool.cs
Labels: type:bug, area:tools

#6441 [IAST] Fix compilation of Samples.Security.AspNetCore2
  tracer/test/test-applications/security/Samples.Security.AspNetCore5/Data/IastControllerHelper.cs
Labels: area:tests, area:test-apps

#6440 [ASM] Update WAF version to 1.22.0
  tracer/build/_build/Build.Steps.cs
  tracer/build/smoke_test_snapshots/smoke_test_snapshots.json
  tracer/build/smoke_test_snapshots/smoke_test_snapshots_2_1.json
  tracer/test/snapshots/Security.AspNetCore5AsmInitializationSecurityEnabled.TestSecurityInitialization.verified.txt
  tracer/test/snapshots/Security.AspNetCore5AsmInitializationSecurityEnabledWithBadRuleset.TestSecurityInitialization.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5AsmData.Classic.enableSecurity=True.__test=blocking-ips_url=_.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5AsmData.Integrated.enableSecurity=True.__test=blocking-ips_url=_.verified.txt
  tracer/test/snapshots/Security.AspNetWebApiAsmData.Classic.enableSecurity=True.__test=blocking-user_url=_api_user.verified.txt
  tracer/test/snapshots/Security.AspNetWebApiAsmData.Integrated.enableSecurity=True.__test=blocking-ips_url=_api_health.verified.txt
  tracer/test/snapshots/Security.AspNetWebFormsAsmData.Classic.enableSecurity=True.__test=blocking-user_url=_user.verified.txt
  tracer/test/snapshots/Security.AspNetWebFormsAsmData.Integrated.enableSecurity=True.__test=blocking-ips_url=_default.aspx.verified.txt
Labels: area:asm

#6449 Fix the no-op pipeline
  .azure-pipelines/steps/update-github-status.yml
Labels: area:builds

#6427 [Dynamic Instrumentation] DEBUG-3223 Add compression support for SymDB
  tracer/src/Datadog.Trace/Configuration/ConfigurationKeys.Debugger.cs
  tracer/src/Datadog.Trace/Debugger/DebuggerSettings.cs
  tracer/src/Datadog.Trace/Debugger/LiveDebuggerFactory.cs
  tracer/src/Datadog.Trace/Debugger/Symbols/SymbolsUploader.cs
  tracer/src/Datadog.Trace/Debugger/Upload/DebuggerUploadApiFactory.cs
  tracer/src/Datadog.Trace/Debugger/Upload/SymbolUploadApi.cs
  tracer/test/Datadog.Trace.Tests/Debugger/DebuggerSettingsTests.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/config_norm_rules.json
Labels: area:debugger

#6455 [IAST] Skip failing tests
  tracer/test/Datadog.Trace.Security.IntegrationTests/IAST/AspNetCore2IastTests.cs
Labels: area:tests

#6463 Add support for `[DuckPropertyOrField]`
  tracer/src/Datadog.Trace/DuckTyping/DuckAttribute.cs
  tracer/src/Datadog.Trace/DuckTyping/DuckPropertyOrFieldAttribute.cs
  tracer/src/Datadog.Trace/DuckTyping/DuckType.cs
  tracer/test/Datadog.Trace.DuckTyping.Tests/PropertyOrFieldTests.cs
Labels: area:tracer, area:duck-typing

#6458 K8s Lib Injection tests: run on a matrix
  .gitlab-ci.yml
Labels: area:builds

#6466 Fix the build and some versions
  shared/src/Datadog.Trace.ClrProfiler.Native/CMakeLists.txt
  tracer/build/_build/PrepareRelease/SetAllVersions.cs
  tracer/src/Datadog.Tracer.Native/CMakeLists.txt
  tracer/src/Datadog.Tracer.Native/Generated/generated_calltargets.g.cpp
Labels: area:builds

#6467 [IAST] skip dotnet 2.1 tests that can't work
  tracer/test/Datadog.Trace.Security.IntegrationTests/IAST/AspNetCore2IastTests.cs
Labels: area:tests

#6456 repo: mandatory issue templates (AIDM-424)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yaml
Labels: area:builds

#6468 [Dynamic Instrumentation] Hotfix SymDB and ER
  tracer/src/Datadog.Trace/Debugger/DebuggerSettings.cs
  tracer/src/Datadog.Trace/Debugger/ExceptionAutoInstrumentation/FrameFilter.cs
  tracer/src/Datadog.Trace/Debugger/Symbols/SymbolExtractor.cs
  tracer/src/Datadog.Trace/Debugger/Upload/SymbolUploadApi.cs
  tracer/src/Datadog.Trace/PDBs/DatadogMetadataReader.Dnlib.cs
  tracer/test/Datadog.Trace.Tests/Debugger/DebuggerSettingsTests.cs
Labels: area:tracer

#6473 [Dynamic Instrumentation] Hotfix SymDB and ER (#6468)
  tracer/src/Datadog.Trace/Debugger/DebuggerSettings.cs
  tracer/src/Datadog.Trace/Debugger/ExceptionAutoInstrumentation/FrameFilter.cs
  tracer/src/Datadog.Trace/Debugger/Symbols/SymbolExtractor.cs
  tracer/src/Datadog.Trace/Debugger/Upload/SymbolUploadApi.cs
  tracer/src/Datadog.Trace/PDBs/DatadogMetadataReader.Dnlib.cs
  tracer/test/Datadog.Trace.Tests/Debugger/DebuggerSettingsTests.cs
Labels: area:debugger

#6462 [ASM] Fix IAST benchmark tests
  tracer/src/Datadog.Trace/Iast/IastModule.cs
  tracer/test/benchmarks/Benchmarks.Trace/Iast/StringAspectsBenchmark.cs
Labels: area:asm

#6470 [IAST] Fix recursive custom attribute crash
  tracer/src/Datadog.Tracer.Native/iast/module_info.cpp
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Bugs/GetCustomAttributesCrashTests.cs
Labels: type:bug, area:native-library, area:asm-iast, identified-by:crashtracking

#6474 allow running exploration tests on mac
  tracer/build/_build/Build.ExplorationTests.cs
Labels: area:builds

#6469 Exclude common failure in smoke tests
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/SmokeTests/SmokeTestBase.cs
Labels: area:tests

#6465 [ASM] Error metric for unknown operator errors
  tracer/src/Datadog.Trace/AppSec/Coordinator/SecurityCoordinator.Reporter.cs
Labels: area:asm

#6464 [Build] Fix version bump autogen files error
  tracer/build/_build/CodeGenerators/CallTargetsGenerator.cs
  tracer/src/Datadog.Tracer.Native/Generated/generated_calltargets.g.cpp
Labels: area:builds

#6481 [ASM] Introduce SecurityReporter for all reporting functions of SecurityCoordinator
  tracer/src/Datadog.Trace/AppSec/Coordinator/SecurityCoordinator.Core.cs
  tracer/src/Datadog.Trace/AppSec/Coordinator/SecurityCoordinator.Framework.cs
  tracer/src/Datadog.Trace/AppSec/Coordinator/SecurityCoordinator.cs
  tracer/src/Datadog.Trace/AppSec/Coordinator/SecurityReporter.Core.cs
  tracer/src/Datadog.Trace/AppSec/Coordinator/SecurityReporter.Framework.cs
  tracer/src/Datadog.Trace/AppSec/Coordinator/SecurityReporter.cs
  tracer/src/Datadog.Trace/AppSec/EventTrackingSdk.cs
  tracer/src/Datadog.Trace/AspNet/TracingHttpModule.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AspNetCore/BlockingMiddleware.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AspNetCore/UserEvents/AuthenticationHttpContextExtensionsIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AspNetCore/UserEvents/SignInManagerPasswordSignInIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AspNetCore/UserEvents/SignInManagerPasswordSignInUserIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AspNetCore/UserEvents/UserManagerCreateIntegration.cs
  tracer/src/Datadog.Trace/Datadog.Trace.csproj
  tracer/src/Datadog.Trace/DiagnosticListeners/AspNetCoreDiagnosticObserver.cs
  tracer/src/Datadog.Trace/PlatformHelpers/AspNetCoreHttpRequestHandler.cs
Labels: area:asm

#6483 Parallelize unit tests
  .azure-pipelines/ultimate-pipeline.yml
  tracer/build/_build/Build.VariableGenerations.cs
Labels: area:builds

#6490 fix UpdateVendoredCode on mac
  tracer/build/_build/_build.csproj
Labels: area:builds
