Repository DataDog/dd-trace-dotnet, pull requests merged in 2024-04, with the labels that each got.

#5371 [Exception Replay] Better communicate non-captured exceptions
  tracer/src/Datadog.Trace/Debugger/ExceptionAutoInstrumentation/CachedDoneExceptions.cs
  tracer/src/Datadog.Trace/Debugger/ExceptionAutoInstrumentation/CachedItems.cs
  tracer/src/Datadog.Trace/Debugger/ExceptionAutoInstrumentation/ExceptionCollectionState.cs
  tracer/src/Datadog.Trace/Debugger/ExceptionAutoInstrumentation/ExceptionTrackManager.cs
  tracer/src/Datadog.Trace/Debugger/ExceptionAutoInstrumentation/TrackedExceptionCase.cs
Labels: area:tracer

#5366 Fix some warnings in the samples
  tracer/src/Datadog.Trace.Annotations/TraceAttribute.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/Json/System.Web.Script.Serialization/JavaScriptSerializerTests.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/ReflectionInjection/AssemblyTests.cs
  tracer/test/test-applications/integrations/Samples.RabbitMQ/AsyncExplicitImplementationConsumer.cs
  tracer/test/test-applications/integrations/Samples.RabbitMQ/ImplicitImplementationConsumer.cs
  tracer/test/test-applications/integrations/Samples.Remoting/RemoteClass.cs
  tracer/test/test-applications/security/Samples.Security.AspNetCore5/Controllers/HomeController.cs
  tracer/test/test-applications/security/Samples.Security.AspNetCore5/Controllers/IastController.cs
Labels: area:builds, area:tests

#5353 Update some packages
  tracer/src/Datadog.Trace.Annotations/Datadog.Trace.Annotations.csproj
  tracer/src/Datadog.Trace.BenchmarkDotNet/Datadog.Trace.BenchmarkDotNet.csproj
  tracer/src/Datadog.Trace.OpenTracing/Datadog.Trace.OpenTracing.csproj
  tracer/src/Datadog.Trace.Tools.dd_dotnet.SourceGenerators/Datadog.Trace.Tools.dd_dotnet.SourceGenerators.csproj
  tracer/src/Datadog.Trace/Datadog.Trace.csproj
  tracer/test/test-applications/integrations/LogsInjection.Log4Net/LogsInjection.Log4Net.csproj
  tracer/test/test-applications/integrations/Samples.AspNetCoreMvc31/Samples.AspNetCoreMvc31.csproj
  tracer/test/test-applications/integrations/Samples.Owin.WebApi2/Samples.Owin.WebApi2.csproj
  tracer/test/test-applications/throughput/Samples.AspNetCoreSimpleController/Samples.AspNetCoreSimpleController.csproj
Labels: area:builds, dependencies

#5309 Add explicit "clean" step to clone repo
  .azure-pipelines/steps/clone-repo.yml
Labels: area:builds

#5376 Fix smoke test issue and pin versions
  tracer/build/_build/docker/test-agent.windows.dockerfile
Labels: area:builds

#5386 Try working around missing Docker Compose v1 in hosted runners
  .azure-pipelines/ultimate-pipeline.yml
Labels: area:builds

#5384 Try fix macos unit test crash
  tracer/test/Datadog.Trace.Security.Unit.Tests/Utils/WafLibraryRequiredTest.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/WafMemoryTests.cs
Labels: area:tests

#5383 K8s Lib Injection: Migration
  .github/workflows/create_draft_release.yml
  .github/workflows/lib-injection-test.yml
  .github/workflows/lib-injection.yml
Labels: area:builds

#5378 Fix some more build warnings from the samples
  tracer/test/test-applications/integrations/LogsInjection.NLog/Program.cs
  tracer/test/test-applications/integrations/Samples.AspNetCoreMinimalApis/Program.cs
  tracer/test/test-applications/integrations/Samples.AspNetCoreMvc21/Controllers/HomeController.cs
Labels: area:builds, area:tests, area:test-apps

#5379 Don't print snapshots diff unless running in CI
  tracer/build/_build/Build.Utilities.cs
Labels: area:builds

#4811 Update CI support for release branches
  .azure-pipelines/ultimate-pipeline.yml
  .github/workflows/auto_add_vnext_milestone_to_pr.yml
  .github/workflows/auto_create_version_bump_pr.yml
  .gitlab-ci.yml
  tracer/build/_build/Build.GitHub.cs
Labels: area:builds

#5381 [CI Visibility] - MSTest2 Improvements and Fixes
  tracer/missing-nullability-files.csv
  tracer/src/Datadog.Trace.Trimming/build/Datadog.Trace.Trimming.xml
  tracer/src/Datadog.Trace/Ci/Test.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/MsTestV2/MsTestIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/MsTestV2/TestAssemblyInfoRunAssemblyInitializeIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/MsTestV2/TestClassInfoRunClassInitializeIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/MsTestV2/TestMethodAttributeExecuteIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/MsTestV2/TestMethodRunnerExecuteIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/MsTestV2/TestResultStruct.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/MsTestV2EvpTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/MsTestV2Tests.cs
  tracer/test/Datadog.Trace.TestHelpers.SharedSource/VerifyHelper.cs
  tracer/test/snapshots/MsTestV2EvpTests.SubmitTraces_packageVersion=post_2_2_5_evpVersionToRemove=null_expectedGzip=null.verified.txt
  tracer/test/snapshots/MsTestV2EvpTests.SubmitTraces_packageVersion=pre_2_2_5_evpVersionToRemove=null_expectedGzip=null.verified.txt
  tracer/test/snapshots/MsTestV2Tests.SubmitTraces_packageVersion=post_2_2_5.verified.txt
  tracer/test/snapshots/MsTestV2Tests.SubmitTraces_packageVersion=pre_2_2_5.verified.txt
  tracer/test/snapshots/MsTestV2Tests2.SubmitTraces_packageVersion=post_2_2_5.verified.txt
  tracer/test/snapshots/MsTestV2Tests2.SubmitTraces_packageVersion=pre_2_2_5.verified.txt
  tracer/test/snapshots/NUnitEvpTests.SubmitTraces_packageVersion=all_evpVersionToRemove=null_expectedGzip=null.verified.txt
  tracer/test/snapshots/NUnitTests.SubmitTraces_packageVersion=all.verified.txt
  tracer/test/snapshots/XUnitEvpTests.SubmitTraces_packageVersion=all_evpVersionToRemove=null_expectedGzip=null.verified.txt
  tracer/test/snapshots/XUnitTests.SubmitTraces_packageVersion=all.verified.txt
  tracer/test/test-applications/integrations/Samples.MSTestTests/ClassInitializeExceptionTestSuite.cs
  tracer/test/test-applications/integrations/Samples.MSTestTests/TestSuite.cs
Labels: area:ci-visibility

#5391 [Exception Replay] Enhanced the reporting of non-captured exceptions
  tracer/src/Datadog.Trace/Debugger/ExceptionAutoInstrumentation/ExceptionTrackManager.cs
Labels: area:tracer

#5368 [Profiler] Fix bug in case of Agent error with .NET Framework
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Windows/EtwEventsManager.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Configuration.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Configuration.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/EnvironmentVariables.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/IConfiguration.h
  profiler/test/Datadog.Profiler.IntegrationTests/Helpers/EnvironmentVariables.cs
  profiler/test/Datadog.Profiler.IntegrationTests/WindowsOnly/EtwEventsTests.cs
  profiler/test/Datadog.Profiler.Native.Tests/ConfigurationTest.cpp
  profiler/test/Datadog.Profiler.Native.Tests/ProfilerMockedInterface.h
Labels: area:profiler

#5373 [Dynamic Instrumentation] Introduce diagnostics endpoint
  tracer/src/Datadog.Trace/Agent/DiscoveryService/AgentConfiguration.cs
  tracer/src/Datadog.Trace/Agent/DiscoveryService/DiscoveryService.cs
  tracer/src/Datadog.Trace/Debugger/ExceptionAutoInstrumentation/ExceptionDebugging.cs
  tracer/src/Datadog.Trace/Debugger/LiveDebuggerFactory.cs
  tracer/src/Datadog.Trace/Debugger/Sink/AgentBatchUploadApi.cs
  tracer/src/Datadog.Trace/Debugger/Sink/BatchUploader.cs
  tracer/src/Datadog.Trace/Debugger/Sink/DebuggerSink.cs
  tracer/src/Datadog.Trace/Debugger/Sink/IBatchUploader.cs
  tracer/src/Datadog.Trace/Debugger/Sink/NonBatchUploader.cs
  tracer/test/Datadog.Trace.TestHelpers/MockTracerAgent.cs
  tracer/test/Datadog.Trace.Tests/Agent/DiscoveryServiceMock.cs
  tracer/test/Datadog.Trace.Tests/Agent/DiscoveryServiceTests.cs
  tracer/test/Datadog.Trace.Tests/Agent/StatsAggregatorTests.cs
  tracer/test/Datadog.Trace.Tests/Debugger/LiveDebuggerTests.cs
Labels: area:debugger

#5390 Split the macos build into 2 jobs and parallelise
  .azure-pipelines/ultimate-pipeline.yml
Labels: area:builds

#5387 _Really_ clean up before doing anything
  .azure-pipelines/steps/clone-repo.yml
Labels: area:builds

#5389 Temporarily disable profiler CppCheck
  .azure-pipelines/ultimate-pipeline.yml
Labels: area:builds

#5342 Update CODEOWNERS file for MethodSymbolResolver.cs
  .github/CODEOWNERS
Labels: area:builds

#5132 [Dynamic Instrumentation] Reduce allocations in probe processing
  tracer/src/Datadog.Trace/Debugger/Expressions/MethodScopeMembers.cs
  tracer/src/Datadog.Trace/Debugger/Helpers/MemoryExtensions.cs
  tracer/src/Datadog.Trace/Debugger/Snapshots/DebuggerSnapshotCreator.cs
  tracer/src/Datadog.Trace/PDBs/DatadogMetadataReader.cs
Labels: area:tracer, area:debugger

#5131 [Dynamic Instrumentation] Fix number of locals in async method
  tracer/src/Datadog.Trace/Debugger/Instrumentation/AsyncMethodDebuggerInvoker.SingleProbe.cs
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.AsyncNoHoistedLocal.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/statuses/ProbeTests.AsyncNoHoistedLocal.verified.txt
  tracer/test/test-applications/debugger/dependency-libs/Samples.Probes.TestRuns/SmokeTests/AsyncNoHoistedLocal.cs
Labels: area:debugger

#5399 Ensure we also clean hidden folders
  .azure-pipelines/steps/clone-repo.yml
Labels: area:builds

#5374 [Serverless] add serverless benchmarks
  .gitlab-ci.yml
Labels: area:builds, area:serverless

#5406 Update approvals for debugger async tests
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.AsyncLineProbeWithFieldsArgsAndLocalsTest.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.AsyncNoHoistedLocal.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.AsyncTaskReturnWithExceptionTest.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/statuses/ProbeTests.AsyncMethodWithNotHoistedLocals.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/statuses/ProbeTests.AsyncNoHoistedLocal.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/ProbesTests.cs
  tracer/test/test-applications/debugger/dependency-libs/Samples.Probes.TestRuns/SmokeTests/AsyncTaskReturnWithExceptionTest.cs
Labels: area:tests

#5367 separate DSM tests for more clarity
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AWS/DataStreamsMonitoringAwsSqsTests.cs
  tracer/test/snapshots/AwsSqsTests.NetCore.SchemaV0.pre3_7_300.verified.txt
  tracer/test/snapshots/AwsSqsTests.NetCore.SchemaV0.verified.txt
  tracer/test/snapshots/AwsSqsTests.NetCore.SchemaV1.pre3_7_300.verified.txt
  tracer/test/snapshots/AwsSqsTests.NetCore.SchemaV1.verified.txt
  tracer/test/snapshots/DataStreamsMonitoringAwsSqsTests.SubmitsDsmMetrics.NetCore.verified.txt
  tracer/test/snapshots/DataStreamsMonitoringAwsSqsTests.SubmitsDsmMetrics.batch.injection.verified.txt
  tracer/test/snapshots/DataStreamsMonitoringAwsSqsTests.SubmitsDsmMetrics.batch.noinjection.verified.txt
  tracer/test/snapshots/DataStreamsMonitoringAwsSqsTests.SubmitsDsmMetrics.single.injection.verified.txt
  tracer/test/snapshots/DataStreamsMonitoringAwsSqsTests.SubmitsDsmMetrics.single.noinjection.verified.txt
  tracer/test/test-applications/integrations/Samples.AWS.SQS/AsyncHelpers.cs
  tracer/test/test-applications/integrations/Samples.AWS.SQS/Program.cs
Labels: area:tests

#5401 Use docker mirror image in GitLab instead of dockerhub
  .gitlab-ci.yml
Labels: area:builds

#5365 [ASM] Fix nullreference exception escalation on response body instrumentation for NET Fx
  tracer/missing-nullability-files.csv
  tracer/src/Datadog.Trace/AspNet/SharedItems.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AspNet/ControllerActionInvoker_InvokeAction_Integration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AspNet/ReflectedHttpActionDescriptor_ExecuteAsync_Integration.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/AspNetBase.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/AspNetWebApi.cs
  tracer/test/snapshots/Security.AspNetWebApi.Classic.enableSecurity=False.__scenario=null-action.verified.txt
  tracer/test/snapshots/Security.AspNetWebApi.Classic.enableSecurity=True.__scenario=null-action.verified.txt
  tracer/test/snapshots/Security.AspNetWebApi.Integrated.enableSecurity=False.__scenario=null-action.verified.txt
  tracer/test/snapshots/Security.AspNetWebApi.Integrated.enableSecurity=True.__scenario=null-action.verified.txt
  tracer/test/test-applications/security/aspnet/Samples.Security.WebApi/Controllers/HomeController.cs
Labels: area:asm, area:integrations

#5407 Update GitHub token to one that's not about to expire
  .github/workflows/auto-trigger-aas-release.yml
  .github/workflows/auto_deploy_aas_test_apps.yml
  .github/workflows/code_freeze_start.yml
Labels: area:builds

#5380 [Dynamic Instrumentation] Consider 3rd party assemblies on SymDB
  tracer/src/Datadog.Trace/Debugger/ExceptionAutoInstrumentation/ExceptionDebugging.cs
  tracer/src/Datadog.Trace/Debugger/ExceptionAutoInstrumentation/ExceptionTrackManager.cs
  tracer/src/Datadog.Trace/Debugger/ExceptionAutoInstrumentation/FrameFilter.cs
  tracer/src/Datadog.Trace/Debugger/ExceptionAutoInstrumentation/ThirdParty/ThirdPartyConfigurationReader.cs
  tracer/src/Datadog.Trace/Debugger/ExceptionAutoInstrumentation/ThirdParty/ThirdPartyModules.cs
  tracer/src/Datadog.Trace/Debugger/Symbols/AssemblyFilter.cs
  tracer/src/Datadog.Trace/Debugger/Symbols/SymbolsUploader.cs
Labels: area:tracer, area:debugger

#5409 [Serverless] update benchmark variables
  .gitlab-ci.yml
Labels: area:builds, area:serverless

#5411 [Dynamic Instrumentation] Temporary disable system tests
  .azure-pipelines/ultimate-pipeline.yml
Labels: area:builds, area:debugger

#5412 [CI Visibility] - Fix ITR Code Coverage collector attach algorithm
  tracer/src/Datadog.Trace.Tools.Runner/RunCiCommand.cs
Labels: area:ci-visibility

#5402 Remove direct reference to Samples.AspNetCore.RazorPages from integration test project
  tracer/build/_build/Build.Steps.cs
  tracer/test/Datadog.Trace.IntegrationTests/AspNetCoreRazorPages/BadHttpRequest.cshtml
  tracer/test/Datadog.Trace.IntegrationTests/AspNetCoreRazorPages/Error.cshtml
  tracer/test/Datadog.Trace.IntegrationTests/AspNetCoreRazorPages/Index.cshtml
  tracer/test/Datadog.Trace.IntegrationTests/AspNetCoreRazorPages/Privacy.cshtml
  tracer/test/Datadog.Trace.IntegrationTests/AspNetCoreRazorPages/Products/Index.cshtml
  tracer/test/Datadog.Trace.IntegrationTests/AspNetCoreRazorPages/Products/Product.cshtml
  tracer/test/Datadog.Trace.IntegrationTests/AspNetCoreRazorPages/UncaughtError.cshtml
  tracer/test/Datadog.Trace.IntegrationTests/Datadog.Trace.IntegrationTests.csproj
  tracer/test/Datadog.Trace.IntegrationTests/DiagnosticListeners/AspNetCoreDiagnosticObserverTests.cs
  tracer/test/Datadog.Trace.IntegrationTests/DiagnosticListeners/AspNetCoreTestApp.cs
  tracer/test/Datadog.Trace.IntegrationTests/DiagnosticListeners/ErrorHandlingHelper.cs
Labels: area:tests, area:test-apps

#5404 Don't specify port for Yarp test to avoid flake
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/YarpDistributedTracingTests.cs
Labels: area:tests, area:test-apps

#5415 Ignore complaints from NuGet about out of support packages
  tracer/test/test-applications/integrations/dependency-libs/Directory.Build.props
Labels: area:builds, area:tests

#5403 Set the obfuscation querystring regex to something large to avoid flake in integration tests
  tracer/test/Datadog.Trace.Security.IntegrationTests/AspNetBase.cs
  tracer/test/Datadog.Trace.TestHelpers/EnvironmentHelper.cs
Labels: area:builds, area:tests

#5385 [Tracing] Add `IsRemote` to `SpanContext`
  tracer/src/Datadog.Trace/Propagators/B3MultipleHeaderContextPropagator.cs
  tracer/src/Datadog.Trace/Propagators/B3SingleHeaderContextPropagator.cs
  tracer/src/Datadog.Trace/Propagators/DatadogContextPropagator.cs
  tracer/src/Datadog.Trace/Propagators/DistributedContextExtractor.cs
  tracer/src/Datadog.Trace/Propagators/W3CTraceContextPropagator.cs
  tracer/src/Datadog.Trace/SpanContext.cs
  tracer/test/Datadog.Trace.Tests/Propagators/B3MultipleHeadersPropagatorTests.cs
  tracer/test/Datadog.Trace.Tests/Propagators/B3SingleHeaderPropagatorTests.cs
  tracer/test/Datadog.Trace.Tests/Propagators/DatadogPropagatorTests.cs
  tracer/test/Datadog.Trace.Tests/Propagators/DistributedPropagatorTests.cs
  tracer/test/Datadog.Trace.Tests/Propagators/MultiSpanContextPropagatorTests.cs
  tracer/test/Datadog.Trace.Tests/Propagators/SpanContextMock.cs
  tracer/test/Datadog.Trace.Tests/Propagators/W3CTraceContextPropagatorTests.cs
Labels: area:tracer

#5417 Add an explicit "clean docker" step
  .azure-pipelines/steps/clean-docker-containers.yml
  .azure-pipelines/steps/run-snapshot-test.yml
Labels: area:builds

#5425 [CI Visibility] - Find .git folder when using GetFrom method as a fallback
  tracer/src/Datadog.Trace/Ci/GitInfo.cs
Labels: area:ci-visibility

#5426 Bump the timeout of the integration_tests_windows stage
  .azure-pipelines/ultimate-pipeline.yml
Labels: area:builds

#5424 Don't re-build everything when building the runner in CI
  tracer/build/_build/Build.cs
Labels: area:builds

#5427 [Profiler] Move GetAppDomain to ManagedThreadInfo
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/AllocationsProvider.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ContentionProvider.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ExceptionsProvider.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ManagedThreadInfo.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ManagedThreadInfo.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ManagedThreadList.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/StackSamplerLoop.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/StackSnapshotResultBuffer.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/StackSnapshotResultBuffer.h
  profiler/test/Datadog.Profiler.Native.Tests/LinuxStackFramesCollectorTest.cpp
  profiler/test/Datadog.Profiler.Native.Tests/ManagedThreadListTest.cpp
Labels: area:profiler

#5296 [ASM] Dont deserialize rcm payloads until they are needed for memory optimization
  tracer/src/Datadog.Trace/AppSec/Rcm/AsmFeaturesProduct.cs
  tracer/src/Datadog.Trace/AppSec/Rcm/ConfigurationStatus.cs
  tracer/src/Datadog.Trace/AppSec/Rcm/Models/AsmFeatures/AsmFeature.cs
  tracer/src/Datadog.Trace/AppSec/Security.cs
  tracer/src/Datadog.Trace/AppSec/Waf/Waf.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/ContextTests.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/WafEphemeralDataTests.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/WafTests.cs
Labels: area:asm

#5328 [Profiler] Add callstack provider
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/LinuxStackFramesCollector.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/LinuxStackFramesCollector.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/OsSpecificApi.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Windows/OsSpecificApi.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Windows/Windows32BitStackFramesCollector.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Windows/Windows32BitStackFramesCollector.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Windows/Windows64BitStackFramesCollector.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Windows/Windows64BitStackFramesCollector.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/AllocationsProvider.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/AllocationsProvider.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Callstack.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Callstack.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CallstackProvider.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CallstackProvider.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CollectorBase.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ContentionProvider.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ContentionProvider.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CorProfilerCallback.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CorProfilerCallback.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Datadog.Profiler.Native.vcxproj
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Datadog.Profiler.Native.vcxproj.filters
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ExceptionsProvider.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ExceptionsProvider.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/GarbageCollectionProvider.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/LinkedList.hpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/LiveObjectsProvider.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/MemoryResourceManager.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/MemoryResourceManager.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/OsSpecificApi.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/RawSample.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Sample.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Sample.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/StackFramesCollectorBase.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/StackFramesCollectorBase.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/StackSamplerLoop.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/StackSamplerLoop.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/StackSamplerLoopManager.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/StackSamplerLoopManager.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/StackSnapshotResultBuffer.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/StackSnapshotResultBuffer.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/StopTheWorldGCProvider.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ThreadLifetimeProvider.cpp
  profiler/test/Datadog.Profiler.IntegrationTests/Contention/ContentionProfilerTest.cs
  profiler/test/Datadog.Profiler.Native.Tests/CallstackTest.cpp
  profiler/test/Datadog.Profiler.Native.Tests/Datadog.Profiler.Native.Tests.vcxproj
  profiler/test/Datadog.Profiler.Native.Tests/Datadog.Profiler.Native.Tests.vcxproj.filters
  profiler/test/Datadog.Profiler.Native.Tests/LinkedListTest.cpp
  profiler/test/Datadog.Profiler.Native.Tests/LinuxStackFramesCollectorTest.cpp
  profiler/test/Datadog.Profiler.Native.Tests/ProviderTest.cpp
  profiler/test/Datadog.Profiler.Native.Tests/StackSnapshotResultBufferTest.cpp
  shared/src/native-src/dd_memory_resource.hpp
  shared/src/native-src/dd_span.hpp
  shared/src/native-src/tcb-span.hpp
Labels: area:profiler

#5348 [Profiler] Bump to libdatadog 8
  build/cmake/FindLibdatadog.cmake
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Windows/Datadog.Profiler.Native.Windows.vcxproj
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Windows/packages.config
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/AgentProxy.hpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Datadog.Profiler.Native.vcxproj
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ExporterBuilder.cpp
  profiler/test/Datadog.Profiler.Native.Tests/Datadog.Profiler.Native.Tests.vcxproj
  profiler/test/Datadog.Profiler.Native.Tests/packages.config
Labels: area:profiler

#5434 [Profiler] Pass memory_resource around
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/AllocationsProvider.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/AllocationsProvider.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CollectorBase.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ContentionProvider.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ContentionProvider.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CorProfilerCallback.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CpuTimeProvider.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CpuTimeProvider.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ExceptionsProvider.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ExceptionsProvider.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/GarbageCollectionProvider.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/GarbageCollectionProvider.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/LinkedList.hpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/LiveObjectsProvider.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/RawSamples.hpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/StopTheWorldGCProvider.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/StopTheWorldGCProvider.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ThreadLifetimeProvider.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ThreadLifetimeProvider.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/WallTimeProvider.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/WallTimeProvider.h
  profiler/test/Datadog.Profiler.Native.Tests/LinkedListTest.cpp
  profiler/test/Datadog.Profiler.Native.Tests/ProviderTest.cpp
Labels: area:profiler

#5430 Bump the macos timeout
  .azure-pipelines/ultimate-pipeline.yml
Labels: area:builds

#5178 [ASM] Report external wafs headers
  tracer/src/Datadog.Trace/AppSec/Coordinator/HttpTransportBase.cs
  tracer/src/Datadog.Trace/AppSec/Coordinator/SecurityCoordinator.Core.cs
  tracer/src/Datadog.Trace/AppSec/Coordinator/SecurityCoordinator.Framework.cs
  tracer/src/Datadog.Trace/AppSec/Coordinator/SecurityCoordinator.Reporter.cs
  tracer/src/Datadog.Trace/AppSec/Waf/Result.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/AspNetBase.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/AspNetCoreBase.cs
  tracer/test/snapshots/Security.AspNetCore2.SecurityDisabled.test-external-waf-headers.verified.txt
  tracer/test/snapshots/Security.AspNetCore2.SecurityEnabled.test-external-waf-headers.verified.txt
  tracer/test/snapshots/Security.AspNetCore5.SecurityDisabled.test-external-waf-headers.verified.txt
  tracer/test/snapshots/Security.AspNetCore5.SecurityEnabled.test-external-waf-headers.verified.txt
Labels: area:tracer, area:asm

#5437 [Profiler] Fix possible crash when Agent does not answer namedpipe connection
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Windows/ETW/EtwEventsHandler.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Windows/ETW/IpcServer.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Windows/ETW/IpcServer.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Windows/EtwEventsManager.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CorProfilerCallback.cpp
Labels: area:profiler

#5441 [Profiler] Fix use-after-free ASAN diagnostic
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ManagedThreadInfo.h
Labels: area:profiler

#5456 [Dynamic Instrumentation] Support legacy endpoint for diagnostics uploading
  tracer/src/Datadog.Trace/Debugger/Upload/DiagnosticsUploadApi.cs
Labels: area:tracer, area:debugger

#5429 Try again to fix dd-trace build
  .azure-pipelines/ultimate-pipeline.yml
Labels: area:builds

#5460 [Serverless] add `CI_COMMIT_TAG` to be sent downstream
  .gitlab-ci.yml
Labels: area:builds, area:serverless

#5444 [Dynamic Instrumentation] Fix `System.ArgumentNullException` while processing span decoration probes with empty tags
  Datadog.Trace.sln
  tracer/missing-nullability-files.csv
  tracer/src/Datadog.Trace/Debugger/Configurations/Models/Decoration.cs
  tracer/src/Datadog.Trace/Debugger/Configurations/Models/LogProbe.cs
  tracer/src/Datadog.Trace/Debugger/Configurations/Models/Where.cs
  tracer/src/Datadog.Trace/Debugger/Expressions/ProbeExpressionsProcessor.cs
  tracer/src/Datadog.Trace/Debugger/Expressions/ProbeProcessor.cs
  tracer/src/Datadog.Trace/Debugger/LineProbeResolver.cs
Labels: area:debugger

#5413 Avoid more flake in smoke tests
  tracer/test/test-applications/integrations/Samples.StackExchange.Redis/Program.cs
  tracer/test/test-applications/regression/StackExchange.Redis.AssemblyConflict.SdkProject/Program.cs
Labels: area:builds, area:tests

#5318 Check to ignore Activity when creating TraceID
  tracer/src/Datadog.Trace/Activity/Handlers/ActivityHandlersRegister.cs
  tracer/src/Datadog.Trace/Tracer.cs
Labels: area:tracer, area:opentelemetry

#5445 Fix sending `Content-Length: 0` when using chunked-encoding
  tracer/src/Datadog.Trace/HttpOverStreams/HttpContent/PushStreamContent.cs
  tracer/src/Datadog.Trace/HttpOverStreams/HttpHeaderHelperBase.cs
  tracer/test/Datadog.Trace.TestHelpers/MockHttpParser.cs
Labels: area:tracer

#5470 Fix dotnet_tool build
  .azure-pipelines/ultimate-pipeline.yml
  tracer/build/_build/Build.cs
Labels: area:builds

#5471 Update `RegexBuilder` to accept a `Timeout` so we can reduce flake
  tracer/src/Datadog.Trace/Sampling/CustomSamplingRule.cs
  tracer/src/Datadog.Trace/Sampling/RegexBuilder.cs
  tracer/src/Datadog.Trace/Sampling/SpanSamplingRule.cs
  tracer/src/Datadog.Trace/TracerManagerFactory.cs
  tracer/test/Datadog.Trace.Tests/Sampling/CustomSamplingRuleGlobTests.cs
  tracer/test/Datadog.Trace.Tests/Sampling/CustomSamplingRuleRegexTests.cs
  tracer/test/Datadog.Trace.Tests/Sampling/RegexBuilderTests.cs
  tracer/test/Datadog.Trace.Tests/Sampling/SpanSamplerTests.cs
  tracer/test/Datadog.Trace.Tests/Sampling/SpanSamplingRuleTests.cs
  tracer/test/Datadog.Trace.Tests/Sampling/TraceSamplerTests.cs
Labels: area:tracer, area:tests

#5446 Refactor test infrastructure to support chunked encoding/gzip correctly
  tracer/src/Datadog.Trace/HttpOverStreams/HttpHeaderHelperBase.cs
  tracer/test/Datadog.Trace.IntegrationTests/StatsTests.cs
  tracer/test/Datadog.Trace.IntegrationTests/TelemetryTransportTests.cs
  tracer/test/Datadog.Trace.TestHelpers/MockHttpParser.cs
  tracer/test/Datadog.Trace.TestHelpers/MockHttpRequest.cs
  tracer/test/Datadog.Trace.TestHelpers/MockLambdaExtension.cs
  tracer/test/Datadog.Trace.TestHelpers/MockLogsIntake.cs
  tracer/test/Datadog.Trace.TestHelpers/MockTelemetryAgent.cs
  tracer/test/Datadog.Trace.TestHelpers/MockTracerAgent.cs
  tracer/test/Datadog.Trace.Tests/HttpOverStreams/ChunkedEncodingWriteStreamTests.cs
  tracer/test/Datadog.Trace.Tests/MultipartFormTests.cs
  tracer/test/Datadog.Trace.Tools.dd_dotnet.ArtifactTests/Checks/AgentConnectivityCheckTests.cs
  tracer/test/Datadog.Trace.Tools.dd_dotnet.IntegrationTests/Checks/AgentConnectivityCheckTests.cs
Labels: area:tests

#5472 Fix some flaky tests in IAST and sampling
  tracer/test/Datadog.Trace.IntegrationTests/OriginTagSendTraces.cs
  tracer/test/Datadog.Trace.IntegrationTests/Tagging/AASTagsTests.cs
  tracer/test/Datadog.Trace.IntegrationTests/Tagging/SamplingPriorityTests_MultipleChunksWithUpstreamService.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/IAST/EvidenceRedactorTests.cs
  tracer/test/Datadog.Trace.Tests/Agent/MessagePack/SpanMessagePackFormatterTests.cs
Labels: area:tests

#5478 [ASM] change env variable name to remove experimental keyword
  tracer/src/Datadog.Trace/AppSec/SecuritySettings.cs
  tracer/src/Datadog.Trace/Configuration/ConfigurationKeys.AppSec.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/ApiSecurity/AspNetCoreApiSecurity.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/ApiSecurity/AspNetFxWebApiApiSecurity.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/ApiSecurity/AspNetMvc5ApiSecurity.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/ApiSecurityTests.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/config_norm_rules.json
  tracer/test/test-applications/security/Samples.Security.AspNetCore5/Properties/launchSettings.json
Labels: area:asm

#5480 Switch memory mapped counters to unsigned
  tracer/src/Datadog.Trace/RuntimeMetrics/MemoryMappedCounters.cs
Labels: area:tracer

#5482 Ignore expected CI Visibility error
  tracer/build/_build/Build.Steps.cs
Labels: area:builds

#5459 [APM] Add git reference to application telemetry
  tracer/src/Datadog.Trace/Ci/CITracerManagerFactory.cs
  tracer/src/Datadog.Trace/Ci/Configuration/CIGitMetadataTagsProvider.cs
  tracer/src/Datadog.Trace/Configuration/GitMetadataTagsProvider.cs
  tracer/src/Datadog.Trace/Telemetry/Collectors/ApplicationTelemetryCollector.cs
  tracer/src/Datadog.Trace/Telemetry/DTOs/ApplicationTelemetryData.cs
  tracer/src/Datadog.Trace/Telemetry/ITelemetryController.cs
  tracer/src/Datadog.Trace/Telemetry/NullTelemetryController.cs
  tracer/src/Datadog.Trace/Telemetry/TelemetryController.cs
  tracer/src/Datadog.Trace/Telemetry/TelemetryFactory.cs
  tracer/src/Datadog.Trace/TracerManagerFactory.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/Helpers/TelemetryHelperTests.cs
  tracer/test/Datadog.Trace.IntegrationTests/TelemetryTransportTests.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/CallTargetInvokerTelemetryTests.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/Collectors/ApplicationTelemetryCollectorTests.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/TelemetryControllerTests.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/TelemetryDataBuilderTests.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/TelemetryFactoryTests.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/Transports/JsonTelemetryTransportTests.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/telemetry_app-started.json
  tracer/test/Datadog.Trace.Tests/Telemetry/telemetry_distributions.json
  tracer/test/Datadog.Trace.Tests/Telemetry/telemetry_generate-metrics.json
  tracer/test/Datadog.Trace.Tests/Telemetry/telemetry_message-batch.json
Labels: area:telemetry

#5483 [Profiler] Fix crash in Sampler at shutdown
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/AdaptiveSampler.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/AdaptiveSampler.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/GroupSampler.h
  profiler/test/Datadog.Profiler.Native.Tests/AdaptiveSamplerTest.cpp
Labels: area:profiler

#5487 [Dynamic Instrumentation] Add 'connectionString' to the list of redacted values
  tracer/src/Datadog.Trace/Debugger/Snapshots/Redaction.cs
Labels: area:tracer, area:debugger

#5486 [ASM][IAST] Add exception for Vary: Origin
  tracer/src/Datadog.Trace/Iast/ReturnedHeadersAnalyzer.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/IAST/AspNetCore5IastTests.cs
Labels: area:asm

#5489 Fix git metadata collection
  tracer/src/Datadog.Trace/Telemetry/TelemetryController.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/TelemetryControllerTests.cs
Labels: area:telemetry

#5467 [Dynamic Instrumentation] DEBUG-2322 Find correct member ref based on best candidate
  tracer/src/Datadog.InstrumentedAssemblyGenerator/InstrumentedAssemblyGeneratorContext.cs
Labels: area:debugger

#5447 Add testing of `IMultipartApiRequest` for UDS, streams and gzip
  tracer/src/Datadog.Trace/Agent/MultipartFormItem.cs
  tracer/src/Datadog.Trace/Agent/Transports/ApiWebRequest.cs
  tracer/src/Datadog.Trace/Agent/Transports/HttpClientRequest.cs
  tracer/src/Datadog.Trace/HttpOverStreams/DatadogHttpValues.cs
  tracer/test/Datadog.Trace.Tests/MultipartFormTests.cs
  tracer/test/snapshots/MultipartFormTests.ApiWebRequest_MultipartTest.verified.txt
  tracer/test/snapshots/MultipartFormTests.ApiWebRequest_ValidationTest.verified.txt
  tracer/test/snapshots/MultipartFormTests.HttpClientRequest_MultipartTest.verified.txt
  tracer/test/snapshots/MultipartFormTests.HttpClientRequest_ValidationTest.verified.txt
Labels: area:tests

#5465 [Dynamic Instrumentation] DEBUG-2321 Add local pinned and pointer for instrumentation verification
  shared/src/Datadog.Trace.ClrProfiler.Native/instrumented_assembly_generator/member_signature.cpp
  shared/src/Datadog.Trace.ClrProfiler.Native/instrumented_assembly_generator/method_signature.cpp
  tracer/src/Datadog.InstrumentedAssemblyGenerator/SigMemberType.cs
Labels: area:debugger

#5497 [CI] Fix flake in Git Telemetry
  tracer/src/Datadog.Trace/Telemetry/Collectors/ApplicationTelemetryCollector.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/TelemetryControllerTests.cs
Labels: area:tests, area:telemetry

#5464 [Dynamic Instrumentation] DEBUG-2320 Support pointer and pinned local
  tracer/src/Datadog.Tracer.Native/clr_helpers.cpp
  tracer/src/Datadog.Tracer.Native/clr_helpers.h
  tracer/src/Datadog.Tracer.Native/debugger_method_rewriter.cpp
  tracer/src/Datadog.Tracer.Native/debugger_tokens.cpp
  tracer/src/Datadog.Tracer.Native/method_rewriter.cpp
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.PinnedLocal.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/statuses/ProbeTests.PinnedLocal.verified.txt
  tracer/test/test-applications/debugger/dependency-libs/Samples.Probes.TestRuns/Samples.Probes.TestRuns.csproj
  tracer/test/test-applications/debugger/dependency-libs/Samples.Probes.TestRuns/SmokeTests/PinnedLocal.cs
Labels: area:debugger

#5503 [Dynamic Instrumentation] Do not create probe processor and rate limiting for unbound line probes
  tracer/src/Datadog.Trace/Debugger/LiveDebugger.cs
Labels: area:tracer, area:debugger

#5511 [Dynamic Instrumentation] Fix PinnedLocalTest
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.PinnedLocal.verified.txt
  tracer/test/test-applications/debugger/dependency-libs/Samples.Probes.TestRuns/SmokeTests/PinnedLocal.cs
Labels: area:tests, area:debugger

#5448 Add full support for multipart form requests
  tracer/src/Datadog.Trace/Agent/IApiRequest.cs
  tracer/src/Datadog.Trace/Agent/IMultipartApiRequest.cs
  tracer/src/Datadog.Trace/Agent/Transports/ApiWebRequest.cs
  tracer/src/Datadog.Trace/Agent/Transports/HttpClientRequest.cs
  tracer/src/Datadog.Trace/Agent/Transports/HttpStreamRequest.cs
  tracer/src/Datadog.Trace/Agent/Transports/MimeTypes.cs
  tracer/src/Datadog.Trace/Ci/Agent/CIWriterHttpSender.cs
  tracer/src/Datadog.Trace/Ci/IntelligentTestRunnerClient.cs
  tracer/src/Datadog.Trace/Debugger/Upload/DiagnosticsUploadApi.cs
  tracer/src/Datadog.Trace/Debugger/Upload/SymbolUploadApi.cs
  tracer/src/Datadog.Trace/HttpOverStreams/HttpContent/MultipartFormContent.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/Agent/CiVisibilityProtocolWriterTests.cs
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/ProbesTests.cs
  tracer/test/Datadog.Trace.TestHelpers/MockTracerAgent.cs
  tracer/test/Datadog.Trace.TestHelpers/TransportHelpers/TestApiRequest.cs
  tracer/test/Datadog.Trace.Tests/MultipartFormTests.cs
  tracer/test/benchmarks/Benchmarks.Trace/AgentWriterBenchmark.cs
Labels: area:tracer

#5468 [CI Visibility] - Improvements to the `dd-trace ci ...` commands
  tracer/build/_build/Honeypot/IntegrationGroups.cs
  tracer/src/Datadog.Trace.Coverage.collector/AssemblyProcessor.cs
  tracer/src/Datadog.Trace.Tools.Runner/CIConfiguration.cs
  tracer/src/Datadog.Trace.Tools.Runner/CiUtils.cs
  tracer/src/Datadog.Trace.Tools.Runner/ConfigureCiCommand.cs
  tracer/src/Datadog.Trace.Tools.Runner/LegacyCommand.cs
  tracer/src/Datadog.Trace.Tools.Runner/RunCiCommand.cs
  tracer/src/Datadog.Trace.Tools.Runner/RunHelper.cs
  tracer/src/Datadog.Trace.Tools.Runner/Utils.cs
  tracer/src/Datadog.Trace.Trimming/build/Datadog.Trace.Trimming.xml
  tracer/src/Datadog.Trace/Ci/CIVisibility.cs
  tracer/src/Datadog.Trace/Ci/Coverage/Util/CoverageUtils.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/Common.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/DotnetTest/DotnetCommon.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/DotnetTest/ExecutorExecuteIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/DotnetTest/ExecutorGetArgumentProcessorsIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/DotnetTest/TestCommand5ctorIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/DotnetTest/TestCommandRunIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/DotnetTest/TestCommandctorIntegration.cs
  tracer/src/Datadog.Trace/Configuration/ConfigurationKeys.cs
  tracer/src/Datadog.Trace/Configuration/IntegrationId.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/IntegrationIdExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/CiVisibilityMetricsTelemetryCollector_CountShared.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_CountShared.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/IntegrationIdExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/CiVisibilityMetricsTelemetryCollector_CountShared.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_CountShared.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/IntegrationIdExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/CiVisibilityMetricsTelemetryCollector_CountShared.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_CountShared.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/IntegrationIdExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/CiVisibilityMetricsTelemetryCollector_CountShared.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_CountShared.g.cs
  tracer/src/Datadog.Trace/Telemetry/Metrics/IntegrationIdExtensions.cs
  tracer/src/Datadog.Trace/Telemetry/Metrics/MetricTags.cs
  tracer/src/Datadog.Tracer.Native/cor_profiler.cpp
  tracer/test/Datadog.Trace.Tests/Telemetry/config_norm_rules.json
  tracer/test/Datadog.Trace.Tools.Runner.IntegrationTests/CiRunCommandTests.cs
  tracer/test/Datadog.Trace.Tools.Runner.IntegrationTests/ConfigureCiCommandTests.cs
  tracer/test/Datadog.Trace.Tools.Runner.IntegrationTests/LegacyCommandLineArgumentsTests.cs
  tracer/test/Datadog.Trace.Tools.Runner.Tests/CodeCoverageAdapterInjectorTests.cs
  tracer/test/Datadog.Trace.Tools.Runner.Tests/CoverageRewriteTests.cs
  tracer/test/Datadog.Trace.Tools.Runner.Tests/CoverageUtilsTests.cs
Labels: area:ci-visibility
