Repository DataDog/dd-trace-dotnet, pull requests merged in 2024-05, with the labels that each got.

#5500 Remove direct references to Datadog.Trace from Security samples
  tracer/test/test-applications/Samples.Shared/SampleHelpers.cs
  tracer/test/test-applications/security/Samples.Security.AspNetCore2/Samples.Security.AspNetCore2.csproj
  tracer/test/test-applications/security/Samples.Security.AspNetCore5/Controllers/CreateExtraServiceController.cs
  tracer/test/test-applications/security/Samples.Security.AspNetCore5/Controllers/MetaStructController.cs
  tracer/test/test-applications/security/Samples.Security.AspNetCore5/Controllers/UserController.cs
  tracer/test/test-applications/security/Samples.Security.AspNetCore5/Samples.Security.AspNetCore5.csproj
  tracer/test/test-applications/security/aspnet/Samples.Security.AspNetMvc5/Controllers/UserController.cs
  tracer/test/test-applications/security/aspnet/Samples.Security.AspNetMvc5/Samples.Security.AspNetMvc5.csproj
  tracer/test/test-applications/security/aspnet/Samples.Security.WebApi/Controllers/UserController.cs
  tracer/test/test-applications/security/aspnet/Samples.Security.WebApi/Samples.Security.WebApi.csproj
  tracer/test/test-applications/security/aspnet/Samples.Security.WebForms/Samples.Security.WebForms.csproj
  tracer/test/test-applications/security/aspnet/Samples.Security.WebForms/User.aspx.cs
Labels: area:tests, area:test-apps

#5477 [Tracing] sampling code cleanup
  tracer/missing-nullability-files.csv
  tracer/src/Datadog.Trace/Agent/MessagePack/SpanMessagePackFormatter.cs
  tracer/src/Datadog.Trace/Agent/MessagePack/TraceChunkModel.cs
  tracer/src/Datadog.Trace/Ci/Test.cs
  tracer/src/Datadog.Trace/Ci/TestModule.cs
  tracer/src/Datadog.Trace/Ci/TestSession.cs
  tracer/src/Datadog.Trace/Ci/TestSuite.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Grpc/GrpcLegacy/Client/GrpcLegacyClientCommon.cs
  tracer/src/Datadog.Trace/ClrProfiler/CommonTracer.cs
  tracer/src/Datadog.Trace/Configuration/ConfigurationKeys.AzureAppService.cs
  tracer/src/Datadog.Trace/Configuration/ConfigurationSources/DynamicConfigConfigurationSource.cs
  tracer/src/Datadog.Trace/Configuration/PerTraceSettings.cs
  tracer/src/Datadog.Trace/Propagators/B3MultipleHeaderContextPropagator.cs
  tracer/src/Datadog.Trace/Propagators/B3SingleHeaderContextPropagator.cs
  tracer/src/Datadog.Trace/Propagators/DatadogContextPropagator.cs
  tracer/src/Datadog.Trace/Propagators/SpanContextPropagator.cs
  tracer/src/Datadog.Trace/Propagators/W3CTraceContextPropagator.cs
  tracer/src/Datadog.Trace/RemoteConfigurationManagement/RcmCapabilitiesIndices.cs
  tracer/src/Datadog.Trace/Sampling/AgentSamplingRule.cs
  tracer/src/Datadog.Trace/Sampling/CustomSamplingRule.cs
  tracer/src/Datadog.Trace/Sampling/GlobalSamplingRule.cs
  tracer/src/Datadog.Trace/Sampling/ISamplingRule.cs
  tracer/src/Datadog.Trace/Sampling/ITraceSampler.cs
  tracer/src/Datadog.Trace/Sampling/RegexBuilder.cs
  tracer/src/Datadog.Trace/Sampling/SamplingDecision.cs
  tracer/src/Datadog.Trace/Sampling/SamplingMechanism.cs
  tracer/src/Datadog.Trace/Sampling/TraceSampler.cs
  tracer/src/Datadog.Trace/SamplingPriority.cs
  tracer/src/Datadog.Trace/SamplingPriorityValues.cs
  tracer/src/Datadog.Trace/Span.cs
  tracer/src/Datadog.Trace/TraceContext.cs
  tracer/src/Datadog.Trace/TracerManager.cs
  tracer/src/Datadog.Trace/Util/SamplingHelpers.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/WebRequestTests.cs
  tracer/test/Datadog.Trace.Tests/Agent/AgentWriterTests.cs
  tracer/test/Datadog.Trace.Tests/DistributedTracer/CommonTracerTests.cs
  tracer/test/Datadog.Trace.Tests/HttpOverStreams/DatadogHttpClientTests.cs
  tracer/test/Datadog.Trace.Tests/LambdaRequestBuilderTests.cs
  tracer/test/Datadog.Trace.Tests/Propagators/B3MultipleHeadersPropagatorTests.cs
  tracer/test/Datadog.Trace.Tests/Propagators/B3SingleHeaderPropagatorTests.cs
  tracer/test/Datadog.Trace.Tests/Propagators/W3CTraceContextPropagatorTests.cs
  tracer/test/Datadog.Trace.Tests/Sampling/AgentSamplingRuleTests.cs
  tracer/test/Datadog.Trace.Tests/Sampling/CustomSamplingRuleRegexTests.cs
  tracer/test/Datadog.Trace.Tests/Sampling/TraceSamplerTests.cs
  tracer/test/Datadog.Trace.Tests/TraceContextTests.cs
  tracer/test/test-applications/integrations/Samples.WebRequest/Program.cs
  tracer/test/test-applications/integrations/Samples.WebRequest/RequestHelpers.cs
Labels: area:tracer, type:cleanup

#5526 [CI Visibility] - Fix force Evp proxy environment variable
  tracer/src/Datadog.Trace.Tools.Runner/CiUtils.cs
  tracer/src/Datadog.Trace/Ci/CIVisibility.cs
  tracer/src/Datadog.Trace/Ci/Configuration/CIVisibilitySettings.cs
  tracer/test/Datadog.Trace.Tests/Configuration/CIVisibilitySettingsTests.cs
Labels: area:ci-visibility

#5475 [ASM][IAST] Add Directory listing leak vulnerability (kestrel)
  tracer/build/_build/Honeypot/IntegrationGroups.cs
  tracer/src/Datadog.Trace.Trimming/build/Datadog.Trace.Trimming.xml
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AspNetCore/StaticFiles/DirectoryBrowserExtensionsUseDirectoryBrowserIntegration.cs
  tracer/src/Datadog.Trace/Configuration/IntegrationId.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/IastInstrumentedSinksExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/IntegrationIdExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/CiVisibilityMetricsTelemetryCollector_CountShared.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_CountShared.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/IastInstrumentedSinksExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/IntegrationIdExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/CiVisibilityMetricsTelemetryCollector_CountShared.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_CountShared.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/IastInstrumentedSinksExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/IntegrationIdExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/CiVisibilityMetricsTelemetryCollector_CountShared.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_CountShared.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/IastInstrumentedSinksExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/IntegrationIdExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/CiVisibilityMetricsTelemetryCollector_CountShared.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_CountShared.g.cs
  tracer/src/Datadog.Trace/Iast/IastModule.cs
  tracer/src/Datadog.Trace/Iast/Telemetry/ExecutedTelemetryHelper.cs
  tracer/src/Datadog.Trace/Iast/VulnerabilityType.cs
  tracer/src/Datadog.Trace/Iast/VulnerabilityTypeName.cs
  tracer/src/Datadog.Trace/Telemetry/Metrics/IntegrationIdExtensions.cs
  tracer/src/Datadog.Trace/Telemetry/Metrics/MetricTags.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/IAST/AspNetCore5IastTests.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/IAST/Tainted/vulnerability_schema.json
  tracer/test/snapshots/Iast.DirectoryListingLeak.AspNetCore5.IastEnabled.verified.txt
  tracer/test/test-applications/security/Samples.Security.AspNetCore5/Startup.cs
Labels: area:asm

#5522 [Dynamic Instrumentation] Consolidate PII redaction keys for all libraries.
  tracer/src/Datadog.Trace/Debugger/Snapshots/Redaction.cs
Labels: area:tracer, area:debugger

#5515 [ASM] Add stack traces to the span for RASP vulnerabilities
  tracer/src/Datadog.Trace/AppSec/AppSecRequestContext.cs
  tracer/src/Datadog.Trace/AppSec/Rasp/MetaStructHelper.cs
  tracer/src/Datadog.Trace/AppSec/Rasp/RaspModule.cs
  tracer/src/Datadog.Trace/AppSec/Rasp/StackReporter.cs
  tracer/src/Datadog.Trace/AppSec/Waf/IResult.cs
  tracer/src/Datadog.Trace/AppSec/Waf/Result.cs
  tracer/src/Datadog.Trace/TraceContext.cs
  tracer/test/Datadog.Trace.TestHelpers/MockSpan.cs
  tracer/test/Datadog.Trace.Tests/Agent/MessagePack/SpanMetaStructTests.cs
  tracer/test/snapshots/Rasp.AspNetCore2.Lfi_url=-Iast-GetFileContent-file=-etc-password_exploit=Lfi.verified.txt
  tracer/test/snapshots/Rasp.AspNetCore5.Lfi_url=-Iast-GetFileContent-file=-etc-password_exploit=Lfi.verified.txt
  tracer/test/snapshots/Rasp.AspNetMvc5.Classic.Lfi_url=-Iast-GetFileContent-file=-etc-password_exploit=Lfi.verified.txt
  tracer/test/snapshots/Rasp.AspNetMvc5.Integrated.Lfi_url=-Iast-GetFileContent-file=-etc-password_exploit=Lfi.verified.txt
  tracer/test/snapshots/RaspIast.AspNetCore2.Lfi_url=-Iast-GetFileContent-file=-etc-password_exploit=Lfi.verified.txt
  tracer/test/snapshots/RaspIast.AspNetCore5.Lfi_url=-Iast-GetFileContent-file=-etc-password_exploit=Lfi.verified.txt
  tracer/test/snapshots/RaspIast.AspNetMvc5.Classic.Lfi_url=-Iast-GetFileContent-file=-etc-password_exploit=Lfi.verified.txt
  tracer/test/snapshots/RaspIast.AspNetMvc5.Integrated.Lfi_url=-Iast-GetFileContent-file=-etc-password_exploit=Lfi.verified.txt
  tracer/test/test-applications/security/Samples.Security.AspNetCore5/Controllers/MetaStructController.cs
Labels: area:asm

#5432 read variable responsible for enabling SCA
  tracer/build/_build/Build.Steps.cs
  tracer/src/Datadog.Trace/AppSec/SecuritySettings.cs
  tracer/src/Datadog.Trace/Configuration/ConfigurationKeys.AppSec.cs
  tracer/src/Datadog.Trace/Telemetry/TelemetrySettings.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/Helpers/TelemetryHelperTests.cs
Labels: area:tracer

#5528 Fix nullable reference bugs in Kinesis integration
  tracer/missing-nullability-files.csv
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/Kinesis/AwsKinesisCommon.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/Kinesis/ContextPropagation.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/Kinesis/IAmazonKinesisRequestWithStreamName.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/Kinesis/IContainsData.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/Kinesis/IPutRecordRequest.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/Kinesis/IPutRecordsRequest.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/Kinesis/PutRecordAsyncIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/Kinesis/PutRecordIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/Kinesis/PutRecordsAsyncIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/Kinesis/PutRecordsIntegration.cs
Labels: type:bug, area:integrations, identified-by:telemetry

#5529 Include inner exceptions in the telemetry logs
  tracer/src/Datadog.Trace/Logging/Internal/ExceptionRedactor.cs
  tracer/test/Datadog.Trace.Tests/Logging/ExceptionRedactorTests.cs
Labels: area:telemetry

#5530 Fix DSM SQS tests
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AWS/DataStreamsMonitoringAwsSqsTests.cs
  tracer/test/test-applications/integrations/Samples.AWS.SQS/AsyncHelpers.cs
Labels: area:tests

#5532 [CI Visibility] Add linux `whereis` command as a fallback to locate the target binary.
  tracer/src/Datadog.Trace.Tools.Runner/Utils.cs
  tracer/src/Datadog.Trace/Ci/IntelligentTestRunnerClient.cs
  tracer/src/Datadog.Trace/Util/ProcessHelpers.cs
  tracer/test/Datadog.Trace.Tools.Runner.Tests/UtilsTests.cs
Labels: area:ci-visibility

#5473 [ASM][IAST] Add source tainting for Grpc dotnet
  Datadog.Trace.OSX.slnf
  Datadog.Trace.Security.slnf
  tracer/build/_build/Honeypot/IntegrationGroups.cs
  tracer/src/Datadog.Trace.Trimming/build/Datadog.Trace.Trimming.xml
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Grpc/GrpcDotNet/GrpcAspNetCoreServer/IAST/ParsingPrimitivesReadRawStringIntegration.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/IastInstrumentedSourcesExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/IastInstrumentedSourcesExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/IastInstrumentedSourcesExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/IastInstrumentedSourcesExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Iast/SourceType.cs
  tracer/src/Datadog.Trace/Iast/SourceTypeUtils.cs
  tracer/src/Datadog.Trace/Telemetry/Metrics/MetricTags.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/IAST/AspNetCore5IastTests.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/IAST/Grpc/GrpcDotNetTests.cs
  tracer/test/snapshots/Iast.GrpcDotNetTests.BodyPropagation.SubmitsTraces.verified.txt
  tracer/test/test-applications/integrations/Samples.GrpcDotNet/Properties/launchSettings.json
  tracer/test/test-applications/integrations/Samples.GrpcDotNet/Services/GreeterService.cs
  tracer/test/test-applications/integrations/Samples.GrpcDotNet/Worker.cs
Labels: area:asm

#5535 [CIVisibility] Add SourceLink support to CIEnvironmentValues
  tracer/src/Datadog.Trace/Ci/CiEnvironment/UnsupportedCIEnvironmentValues.cs
  tracer/src/Datadog.Trace/Configuration/EntryAssemblyLocator.cs
  tracer/src/Datadog.Trace/PDBs/SourceLink/AzureDevOpsSourceLinkUrlParser.cs
  tracer/src/Datadog.Trace/PDBs/SourceLink/BitBucketSourceLinkUrlParser.cs
  tracer/src/Datadog.Trace/PDBs/SourceLink/GitHubSourceLinkUrlParser.cs
  tracer/src/Datadog.Trace/PDBs/SourceLink/GitLabSourceLinkUrlParser.cs
  tracer/src/Datadog.Trace/PDBs/SourceLink/SourceLinkUrlParser.cs
  tracer/src/Datadog.Trace/PDBs/SourceLinkInformationExtractor.cs
Labels: area:ci-visibility

#5525 Update `CODEOWNERS` for APM SDK IDM ownership
  .github/CODEOWNERS
Labels: area:builds

#5549 [CI Visibility] - Close and flush incomplete TSLV objects before exiting
  tracer/src/Datadog.Trace/Ci/CIVisibility.cs
  tracer/src/Datadog.Trace/Ci/Test.cs
  tracer/src/Datadog.Trace/Ci/TestModule.cs
  tracer/src/Datadog.Trace/Ci/TestSession.cs
  tracer/src/Datadog.Trace/Ci/TestSuite.cs
  tracer/src/Datadog.Trace/LifetimeManager.cs
  tracer/src/Datadog.Trace/SpanExtensions.cs
  tracer/src/Datadog.Trace/TraceContext.cs
Labels: area:ci-visibility

#5547 Try fixing flake in `TelemetryControllerShouldUpdateGitMetadataWithTelemetry` on macOS
  tracer/test/Datadog.Trace.Tests/Telemetry/TelemetryControllerTests.cs
Labels: area:builds, area:tests

#5548 [ASM] Remove the need to pass httpcontext to SecurityCoordinators
  tracer/src/Datadog.Trace/AppSec/ControllerContextExtensions.Framework.cs
  tracer/src/Datadog.Trace/AppSec/Coordinator/HttpTransportBase.cs
  tracer/src/Datadog.Trace/AppSec/Coordinator/SecurityCoordinator.Core.cs
  tracer/src/Datadog.Trace/AppSec/Coordinator/SecurityCoordinator.Framework.cs
  tracer/src/Datadog.Trace/AppSec/Coordinator/SecurityCoordinatorHelpers.Core.cs
  tracer/src/Datadog.Trace/AppSec/Rasp/RaspModule.cs
  tracer/src/Datadog.Trace/AspNet/TracingHttpModule.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AspNet/ControllerActionInvoker_InvokeAction_Integration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AspNet/ReflectedHttpActionDescriptor_ExecuteAsync_Integration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AspNetCore/BlockingMiddleware.cs
  tracer/src/Datadog.Trace/PlatformHelpers/AspNetCoreHttpRequestHandler.cs
  tracer/src/Datadog.Trace/SpanExtensions.Framework.cs
  tracer/test/benchmarks/Benchmarks.Trace/Asm/AppSecBodyBenchmark.cs
Labels: area:asm

#5537 [CI Visibility] IPC subsystem
  Datadog.Trace.OSX.slnf
  Datadog.Trace.sln
  tracer/src/Datadog.Trace.Trimming/build/Datadog.Trace.Trimming.xml
  tracer/src/Datadog.Trace/Ci/Ipc/CircularChannel.Reader.cs
  tracer/src/Datadog.Trace/Ci/Ipc/CircularChannel.Writer.cs
  tracer/src/Datadog.Trace/Ci/Ipc/CircularChannel.cs
  tracer/src/Datadog.Trace/Ci/Ipc/CircularChannelSettings.cs
  tracer/src/Datadog.Trace/Ci/Ipc/IChannel.cs
  tracer/src/Datadog.Trace/Ci/Ipc/IChannelReader.cs
  tracer/src/Datadog.Trace/Ci/Ipc/IChannelWriter.cs
  tracer/src/Datadog.Trace/Ci/Ipc/IpcClient.cs
  tracer/src/Datadog.Trace/Ci/Ipc/IpcDualChannel.cs
  tracer/src/Datadog.Trace/Ci/Ipc/IpcServer.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/Ipc/IpcTests.cs
  tracer/test/Datadog.Trace.Tests/Ci/Ipc/CircularChannelTests.cs
  tracer/test/Datadog.Trace.Tests/Ci/Ipc/IpcTests.cs
  tracer/test/test-applications/integrations/Samples.CIVisibilityIpc/Program.cs
  tracer/test/test-applications/integrations/Samples.CIVisibilityIpc/Samples.CIVisibilityIpc.csproj
Labels: area:ci-visibility

#5551 [CI Visibility] Send data to the test session using IPC
  tracer/build/_build/Honeypot/IntegrationGroups.cs
  tracer/src/Datadog.Trace.Tools.Runner/Properties/launchSettings.json
  tracer/src/Datadog.Trace.Trimming/build/Datadog.Trace.Trimming.xml
  tracer/src/Datadog.Trace/Ci/CIVisibility.cs
  tracer/src/Datadog.Trace/Ci/Ipc/Messages/SessionCodeCoverageMessage.cs
  tracer/src/Datadog.Trace/Ci/Ipc/Messages/SetSessionTagMessage.cs
  tracer/src/Datadog.Trace/Ci/TestModule.cs
  tracer/src/Datadog.Trace/Ci/TestSession.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/Common.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/DotnetTest/CoverageGetCoverageResultIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/DotnetTest/DotnetCommon.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/MsTestV2/MsTestIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/NUnit/NUnitWorkItemPerformWorkIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/XUnit/XUnitTestAssemblyRunnerRunAsyncIntegration.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Tracer.Native/cor_profiler.cpp
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/XUnitEvpTests.cs
  tracer/test/test-applications/integrations/Samples.XUnitTests/Samples.XUnitTests.csproj
Labels: area:ci-visibility

#5561 [CIVisibility] Add a code coverage injection session tag
  tracer/src/Datadog.Trace.Coverage.collector/CoverageCollector.cs
  tracer/src/Datadog.Trace/Ci/Tags/CodeCoverageTags.cs
Labels: area:ci-visibility

#5555 Update the .DotSettings in `_build`
  tracer/build/_build/_build.csproj.DotSettings
Labels: area:builds

#5556 Remove span count assertions from Azure Function tests
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AzureFunctionsTests.cs
Labels: area:tests

#5553 "Manually" install MSI dependencies instead of using choco install
  .azure-pipelines/steps/install-msi.yml
  .azure-pipelines/ultimate-pipeline.yml
  tracer/build/_build/Build.VariableGenerations.cs
Labels: area:builds

#5557 Refactor `LifetimeManager` callbacks for `UnhandledException`
  tracer/missing-nullability-files.csv
  tracer/src/Datadog.Trace/AppSec/Security.cs
  tracer/src/Datadog.Trace/Ci/CIVisibility.cs
  tracer/src/Datadog.Trace/ClrProfiler/Instrumentation.cs
  tracer/src/Datadog.Trace/Debugger/ExceptionAutoInstrumentation/ExceptionDebugging.cs
  tracer/src/Datadog.Trace/Debugger/LiveDebugger.cs
  tracer/src/Datadog.Trace/Iast/Analyzers/HardcodedSecretsAnalyzer.cs
  tracer/src/Datadog.Trace/LifetimeManager.cs
  tracer/src/Datadog.Trace/TraceClock.cs
  tracer/src/Datadog.Trace/TracerManager.cs
  tracer/src/Datadog.Trace/Util/AsyncUtil.cs
Labels: area:tracer, type:refactor

#5563 If a lot of snapshots have changed, we should check them all
  tracer/build/_build/Build.Steps.cs
Labels: area:builds

#5564 Don't instrument most `dotnet` SDK calls
  shared/src/Datadog.Trace.ClrProfiler.Native/cor_profiler.cpp
  shared/src/native-src/pal.h
  shared/src/native-src/string.cpp
  shared/src/native-src/string.h
  tracer/src/Datadog.Tracer.Native/cor_profiler.cpp
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/InstrumentationTests.cs
Labels: area:native-library

#5568 [CIVisibility] Tag profiles created by BenchmarkDotnet integration and add the IgnoreProfileAttribute
  .azure-pipelines/ultimate-pipeline.yml
  tracer/src/Datadog.Trace.BenchmarkDotNet/DatadogDiagnoser.cs
  tracer/src/Datadog.Trace.BenchmarkDotNet/DatadogDiagnoserAttribute.cs
  tracer/src/Datadog.Trace.BenchmarkDotNet/IgnoreProfileAttribute.cs
  tracer/test/Datadog.Trace.BenchmarkDotNet.Tests/Snapshots/PublicApiTests.Datadog.Trace.BenchmarkDotNet.PublicApiHasNotChanged.verified.txt
  tracer/test/benchmarks/Benchmarks.Trace/Asm/AppSecBodyBenchmark.cs
  tracer/test/benchmarks/Benchmarks.Trace/Asm/AppSecWafBenchmark.cs
  tracer/test/benchmarks/Benchmarks.Trace/Iast/StringAspectsBenchmark.cs
Labels: area:ci-visibility

#5306 [Tracer] Delay sampling decisions
  tracer/src/Datadog.Trace/Agent/MessagePack/TraceChunkModel.cs
  tracer/src/Datadog.Trace/Agent/TraceSamplers/RareSampler.cs
  tracer/src/Datadog.Trace/AppSec/ApiSecurity.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/Lambda/LambdaCommon.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/Lambda/LambdaRequestBuilder.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Grpc/GrpcLegacy/Client/GrpcLegacyClientCommon.cs
  tracer/src/Datadog.Trace/ClrProfiler/ScopeFactory.cs
  tracer/src/Datadog.Trace/Propagators/B3MultipleHeaderContextPropagator.cs
  tracer/src/Datadog.Trace/Propagators/B3SingleHeaderContextPropagator.cs
  tracer/src/Datadog.Trace/Propagators/DatadogContextPropagator.cs
  tracer/src/Datadog.Trace/Propagators/SpanContextPropagator.cs
  tracer/src/Datadog.Trace/Propagators/W3CTraceContextPropagator.cs
  tracer/src/Datadog.Trace/SamplingPriorityValues.cs
  tracer/src/Datadog.Trace/SpanContext.cs
  tracer/src/Datadog.Trace/TraceContext.cs
  tracer/src/Datadog.Trace/TracerManagerFactory.cs
  tracer/src/Datadog.Trace/Util/SamplingHelpers.cs
  tracer/test/Datadog.Trace.IntegrationTests/Sampling/DelaySamplingDecisionTests.cs
  tracer/test/Datadog.Trace.Tests/Propagators/B3MultipleHeadersPropagatorTests.cs
  tracer/test/Datadog.Trace.Tests/Propagators/B3SingleHeaderPropagatorTests.cs
  tracer/test/Datadog.Trace.Tests/Propagators/W3CTraceContextPropagatorTests.cs
Labels: area:tracer

#5575 [Tests] add null checks in `VerifyHelper`
  tracer/test/Datadog.Trace.TestHelpers.SharedSource/VerifyHelper.cs
Labels: area:tests

#5570 [Build] Fix chiseled smoke tests jobs + capture coredump when crashing in all smoke tests jobs
  .azure-pipelines/steps/run-snapshot-test.yml
  .azure-pipelines/ultimate-pipeline.yml
  docker-compose.yml
  tracer/build/_build/docker/smoke.chiseled.dockerfile
  tracer/build/_build/docker/smoke.dd-dotnet.dockerfile
  tracer/build/_build/docker/smoke.dockerfile
  tracer/build/_build/docker/smoke.dotnet-tool.dockerfile
  tracer/build/_build/docker/smoke.dotnet-tool.nuget.dockerfile
  tracer/build/_build/docker/smoke.dotnet-tool.self-instrument.dockerfile
  tracer/build/_build/docker/smoke.nuget.dd-dotnet.dockerfile
  tracer/build/_build/docker/smoke.nuget.dockerfile
Labels: area:builds

#5544 Update lib-injection docker image tags
  .gitlab-ci.yml
  .gitlab/build-lib-init.sh
Labels: area:builds

#5572 [ASM][IAST] Fix System.Text.Json: Properly implement GetRawText() aspect
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/AspectsDefinitionsGenerator/AspectsDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/AspectsDefinitionsGenerator/AspectsDefinitions.g.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.Text.Json/IJsonElement.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.Text.Json/JsonDocumentAspects.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/Json/JsonDocumentTests.cs
Labels: type:bug, area:asm, area:asm-iast

#5531 [ASM][IAST] Add vulnerability marks to Range + Add the mark to Escaped XSS
  tracer/src/Datadog.Trace/Iast/IastModule.Escape.cs
  tracer/src/Datadog.Trace/Iast/IastModule.cs
  tracer/src/Datadog.Trace/Iast/Range.cs
  tracer/src/Datadog.Trace/Iast/Ranges.cs
  tracer/src/Datadog.Trace/Iast/SecureMarks.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/IAST/AspNetCore5IastTests.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/IAST/Tainted/VulnerabilityMarksTests.cs
  tracer/test/snapshots/Iast.ReflectedXssEscaped.AspNetCore5.IastDisabled.verified.txt
  tracer/test/snapshots/Iast.ReflectedXssEscaped.AspNetCore5.IastEnabled.verified.txt
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/InstrumentationTestsBase.cs
Labels: area:asm

#5559 [ASM][IAST] Session Timeout vulnerability
  tracer/build/_build/Honeypot/IntegrationGroups.cs
  tracer/src/Datadog.Trace.Trimming/build/Datadog.Trace.Trimming.xml
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AspNetCore/Session/SessionOptionsIdleTimeoutIntegration.cs
  tracer/src/Datadog.Trace/Configuration/IntegrationId.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/IastInstrumentedSinksExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/IntegrationIdExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/CiVisibilityMetricsTelemetryCollector_CountShared.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_CountShared.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/IastInstrumentedSinksExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/IntegrationIdExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/CiVisibilityMetricsTelemetryCollector_CountShared.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_CountShared.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/IastInstrumentedSinksExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/IntegrationIdExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/CiVisibilityMetricsTelemetryCollector_CountShared.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_CountShared.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/IastInstrumentedSinksExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/IntegrationIdExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/CiVisibilityMetricsTelemetryCollector_CountShared.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_CountShared.g.cs
  tracer/src/Datadog.Trace/Iast/IastModule.cs
  tracer/src/Datadog.Trace/Iast/Telemetry/ExecutedTelemetryHelper.cs
  tracer/src/Datadog.Trace/Iast/VulnerabilityType.cs
  tracer/src/Datadog.Trace/Iast/VulnerabilityTypeName.cs
  tracer/src/Datadog.Trace/Telemetry/Metrics/IntegrationIdExtensions.cs
  tracer/src/Datadog.Trace/Telemetry/Metrics/MetricTags.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/IAST/AspNetCore5IastTests.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/IAST/Tainted/vulnerability_schema.json
  tracer/test/snapshots/Iast.SessionIdleTimeout.AspNetCore5.IastEnabled.verified.txt
  tracer/test/test-applications/security/Samples.Security.AspNetCore5/Startup.cs
Labels: area:asm

#5574 Failing serverless tests are not reported in CI
  .azure-pipelines/ultimate-pipeline.yml
Labels: area:builds

#5578 [CIVisibility] Fix support for custom spans with version mismatch
  Datadog.Trace.OSX.slnf
  Datadog.Trace.sln
  tracer/build/_build/Honeypot/IntegrationGroups.cs
  tracer/src/Datadog.Trace.Trimming/build/Datadog.Trace.Trimming.xml
  tracer/src/Datadog.Trace/Ci/IntelligentTestRunnerClient.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/AssemblyResolverCtorIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/PlatformAssemblyResolverAssemblyResolverEventIntegration.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/VersionMismatchTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/XUnitEvpTests.cs
  tracer/test/test-applications/integrations/Samples.CIVisibilityVersionMismatch/Program.cs
  tracer/test/test-applications/integrations/Samples.CIVisibilityVersionMismatch/Samples.CIVisibilityVersionMismatch.csproj
  tracer/test/test-applications/integrations/Samples.CIVisibilityVersionMismatch/TestSuite.cs
  tracer/test/test-applications/integrations/Samples.CIVisibilityVersionMismatch/xunit.runner.json
Labels: area:ci-visibility

#5579 Fix dependabot and improve `GeneratePackageVersions`
  .github/workflows/auto_bump_test_package_versions.yml
  tracer/build/_build/Build.Utilities.cs
  tracer/build/_build/Honeypot/Datadog.Dependabot.Honeypot.template
  tracer/build/_build/Honeypot/DependabotFileManager.cs
  tracer/dependabot/Datadog.Dependabot.Integrations.csproj
Labels: area:builds

#5542 [ASM] RASP span metrics
  tracer/src/Datadog.Trace/AppSec/AppSecRequestContext.cs
  tracer/src/Datadog.Trace/AppSec/Coordinator/SecurityCoordinator.Reporter.cs
  tracer/src/Datadog.Trace/AppSec/Coordinator/SecurityCoordinator.cs
  tracer/src/Datadog.Trace/AppSec/Rasp/RaspModule.cs
  tracer/src/Datadog.Trace/AppSec/Rasp/RaspTelemetryHelper.cs
  tracer/src/Datadog.Trace/AppSec/Waf/Context.cs
  tracer/src/Datadog.Trace/AppSec/Waf/IContext.cs
  tracer/src/Datadog.Trace/AppSec/Waf/IResult.cs
  tracer/src/Datadog.Trace/AppSec/Waf/Result.cs
  tracer/src/Datadog.Trace/Metrics.cs
  tracer/src/Datadog.Trace/TraceContext.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/AspNetBase.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/RASP/RaspWafTests.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/WafEphemeralDataTests.cs
  tracer/test/snapshots/Rasp.AspNetCore2.Lfi_url=-Iast-GetFileContent-file=-etc-password_exploit=Lfi.verified.txt
  tracer/test/snapshots/Rasp.AspNetCore2.Lfi_url=-Iast-GetFileContent-file=filename_exploit=Lfi.verified.txt
  tracer/test/snapshots/Rasp.AspNetCore2.SSRF_url=-Iast-SsrfAttack-host=127.0.0.1_exploit=SSRF.verified.txt
  tracer/test/snapshots/Rasp.AspNetCore5.Lfi_url=-Iast-GetFileContent-file=-etc-password_exploit=Lfi.verified.txt
  tracer/test/snapshots/Rasp.AspNetCore5.Lfi_url=-Iast-GetFileContent-file=filename_exploit=Lfi.verified.txt
  tracer/test/snapshots/Rasp.AspNetCore5.SSRF_url=-Iast-SsrfAttack-host=127.0.0.1_exploit=SSRF.verified.txt
  tracer/test/snapshots/Rasp.AspNetMvc5.Classic.Lfi_url=-Iast-GetFileContent-file=-etc-password_exploit=Lfi.verified.txt
  tracer/test/snapshots/Rasp.AspNetMvc5.Classic.Lfi_url=-Iast-GetFileContent-file=filename_exploit=Lfi.verified.txt
  tracer/test/snapshots/Rasp.AspNetMvc5.Classic.SSRF_url=-Iast-SsrfAttack-host=127.0.0.1_exploit=SSRF.verified.txt
  tracer/test/snapshots/Rasp.AspNetMvc5.Classic.SSRF_url=-Iast-SsrfAttackNoCatch-host=127.0.0.1_exploit=SSRF.verified.txt
  tracer/test/snapshots/Rasp.AspNetMvc5.Integrated.Lfi_url=-Iast-GetFileContent-file=-etc-password_exploit=Lfi.verified.txt
  tracer/test/snapshots/Rasp.AspNetMvc5.Integrated.Lfi_url=-Iast-GetFileContent-file=filename_exploit=Lfi.verified.txt
  tracer/test/snapshots/Rasp.AspNetMvc5.Integrated.SSRF_url=-Iast-SsrfAttack-host=127.0.0.1_exploit=SSRF.verified.txt
  tracer/test/snapshots/Rasp.AspNetMvc5.Integrated.SSRF_url=-Iast-SsrfAttackNoCatch-host=127.0.0.1_exploit=SSRF.verified.txt
  tracer/test/snapshots/RaspIast.AspNetCore2.Lfi_url=-Iast-GetFileContent-file=-etc-password_exploit=Lfi.verified.txt
  tracer/test/snapshots/RaspIast.AspNetCore2.Lfi_url=-Iast-GetFileContent-file=filename_exploit=Lfi.verified.txt
  tracer/test/snapshots/RaspIast.AspNetCore2.SSRF_url=-Iast-SsrfAttack-host=127.0.0.1_exploit=SSRF.verified.txt
  tracer/test/snapshots/RaspIast.AspNetCore5.Lfi_url=-Iast-GetFileContent-file=-etc-password_exploit=Lfi.verified.txt
  tracer/test/snapshots/RaspIast.AspNetCore5.Lfi_url=-Iast-GetFileContent-file=filename_exploit=Lfi.verified.txt
  tracer/test/snapshots/RaspIast.AspNetCore5.SSRF_url=-Iast-SsrfAttack-host=127.0.0.1_exploit=SSRF.verified.txt
  tracer/test/snapshots/RaspIast.AspNetMvc5.Classic.Lfi_url=-Iast-GetFileContent-file=-etc-password_exploit=Lfi.verified.txt
  tracer/test/snapshots/RaspIast.AspNetMvc5.Classic.Lfi_url=-Iast-GetFileContent-file=filename_exploit=Lfi.verified.txt
  tracer/test/snapshots/RaspIast.AspNetMvc5.Classic.SSRF_url=-Iast-SsrfAttack-host=127.0.0.1_exploit=SSRF.verified.txt
  tracer/test/snapshots/RaspIast.AspNetMvc5.Classic.SSRF_url=-Iast-SsrfAttackNoCatch-host=127.0.0.1_exploit=SSRF.verified.txt
  tracer/test/snapshots/RaspIast.AspNetMvc5.Integrated.Lfi_url=-Iast-GetFileContent-file=-etc-password_exploit=Lfi.verified.txt
  tracer/test/snapshots/RaspIast.AspNetMvc5.Integrated.Lfi_url=-Iast-GetFileContent-file=filename_exploit=Lfi.verified.txt
  tracer/test/snapshots/RaspIast.AspNetMvc5.Integrated.SSRF_url=-Iast-SsrfAttack-host=127.0.0.1_exploit=SSRF.verified.txt
  tracer/test/snapshots/RaspIast.AspNetMvc5.Integrated.SSRF_url=-Iast-SsrfAttackNoCatch-host=127.0.0.1_exploit=SSRF.verified.txt
Labels: area:asm

#5512 [ASM] Rasp sinks instrumentation
  tracer/src/Datadog.Trace.SourceGenerators/AspectsDefinitions/AspectsDefinitionsGenerator.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/AspectsDefinitionsGenerator/AspectsDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/AspectsDefinitionsGenerator/AspectsDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/AspectsDefinitionsGenerator/AspectsDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/AspectsDefinitionsGenerator/AspectsDefinitions.g.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.IO/DirectoryAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.IO/DirectoryInfoAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.IO/FileAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.IO/FileInfoAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.IO/FileStreamAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.IO/StreamReaderAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.IO/StreamWriterAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.Net/HttpClientAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.Net/WebClientAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.Net/WebRequestAspect.cs
  tracer/src/Datadog.Trace/Iast/Dataflow/AspectType.cs
  tracer/test/Datadog.Trace.SourceGenerators.Tests/AspectsDefinitionsGeneratorTests.cs
Labels: area:asm

#5581 Disable automatic flush in AgentWriterTests.FaultyApi
  tracer/test/Datadog.Trace.Tests/Agent/AgentWriterTests.cs
Labels: area:tests

#5596 Fix null ref
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AspNetCore/ActionResponseFilter.cs
Labels: area:integrations

#5598 Improve lib-injection tagging script
  .gitlab/build-lib-init.sh
Labels: area:builds

#5591 [Tracer] scrub `_dd.agent_psr` tag from `TraceAnnotationsTests` snapshots only
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/TraceAnnotationsTests.cs
  tracer/test/Datadog.Trace.TestHelpers.SharedSource/VerifyHelper.cs
Labels: area:tracer, area:tests

#5589 Add crash test to linux smoke tests
  .azure-pipelines/steps/run-snapshot-test.yml
  tracer/build/_build/Build.Steps.cs
  tracer/build/_build/Build.VariableGenerations.cs
  tracer/test/test-applications/regression/AspNetCoreSmokeTest/Program.cs
Labels: area:tests

#5599 [Profiler/Tracer] Bump FluentAssertions to 6.12.0
  profiler/test/Datadog.Profiler.IntegrationTests/Datadog.Profiler.IntegrationTests.csproj
  profiler/test/Datadog.Profiler.IntegrationTests/DebugInfo/LineNumberTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Exceptions/ExceptionsTest.cs
  tracer/test/Directory.Build.props
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Samples.InstrumentedTests.csproj
Labels: area:tracer, area:profiler

#5602 [Profiler] Capture dump on timeout in wrapper tests
  profiler/test/Datadog.Profiler.IntegrationTests/Helpers/TestApplicationRunner.cs
  profiler/test/Datadog.Profiler.IntegrationTests/LinuxOnly/WrapperLibraryTest.cs
Labels: area:profiler

#5608 Display C++ static analysis errors in the CI output
  tracer/build/_build/Build.Profiler.Steps.cs
Labels: area:builds

#5606 Fix RCM Capabilities bugs
  tracer/src/Datadog.Trace/Configuration/DynamicConfigurationManager.cs
  tracer/src/Datadog.Trace/RemoteConfigurationManagement/Protocol/RcmFile.cs
  tracer/src/Datadog.Trace/RemoteConfigurationManagement/RcmSubscriptionManager.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/DynamicConfigurationTests.cs
  tracer/test/Datadog.Trace.Tests/RemoteConfigurationManagement/RcmSubscriptionManagerTests.cs
Labels: type:bug, area:tests, area:remote-config

#5461 [Dynamic Instrumentation] Check specific path for diagnostics upload
  tracer/src/Datadog.Trace/Debugger/Upload/DiagnosticsUploadApi.cs
  tracer/test/Datadog.Trace.TestHelpers/TransportHelpers/TestApiRequest.cs
  tracer/test/Datadog.Trace.Tests/Debugger/DiagnosticsUploadApiTests.cs
Labels: area:tracer, area:debugger

#5616 [Profiler] Fix services start/stop
  profiler/.clang-format
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/AllocationsRecorder.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/AllocationsRecorder.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ApplicationStore.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ApplicationStore.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CorProfilerCallback.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Datadog.Profiler.Native.vcxproj
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Datadog.Profiler.Native.vcxproj.filters
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/IAllocationsRecorder.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/IApplicationStore.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/IManagedThreadList.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/IStackSamplerLoopManager.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/IThreadsCpuManager.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/LiveObjectsProvider.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/LiveObjectsProvider.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ManagedThreadList.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ManagedThreadList.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/RuntimeIdStore.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/RuntimeIdStore.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ServiceBase.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ServiceBase.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/StackSamplerLoop.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/StackSamplerLoop.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/StackSamplerLoopManager.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/StackSamplerLoopManager.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ThreadsCpuManager.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ThreadsCpuManager.h
  profiler/test/Datadog.Profiler.Native.Tests/Datadog.Profiler.Native.Tests.vcxproj
  profiler/test/Datadog.Profiler.Native.Tests/Datadog.Profiler.Native.Tests.vcxproj.filters
  profiler/test/Datadog.Profiler.Native.Tests/ProfilerMockedInterface.h
  profiler/test/Datadog.Profiler.Native.Tests/ServiceBaseTest.cpp
  profiler/test/Datadog.Profiler.Native.Tests/ThreadsCpuManagerHelper.cpp
  profiler/test/Datadog.Profiler.Native.Tests/ThreadsCpuManagerHelper.h
Labels: area:profiler

#5619 [Profiler] Few missing changes for IService startup/stop
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CollectorBase.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CorProfilerCallback.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/SamplesCollector.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/SamplesCollector.h
Labels: area:profiler

#5590 [ASM] Add test for null response in aspnet core
  tracer/test/Datadog.Trace.Security.IntegrationTests/AspNetCore5.cs
  tracer/test/snapshots/Security.AspNetCore5.SecurityDisabled.test-null-action.verified.txt
  tracer/test/snapshots/Security.AspNetCore5.SecurityEnabled.test-null-action.verified.txt
  tracer/test/test-applications/security/Samples.Security.AspNetCore5/Controllers/HomeController.cs
Labels: area:tests, area:asm

#5620 [Profiler] Improve configuration aroung SSI/non-SSI
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Configuration.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Configuration.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CorProfilerCallback.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CorProfilerCallback.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CorProfilerCallbackFactory.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CorProfilerCallbackFactory.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Datadog.Profiler.Native.vcxproj
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/DeploymentMode.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/DllMain.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/EnablementStatus.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/EnvironmentVariables.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/IConfiguration.h
  profiler/test/Datadog.Profiler.Native.Tests/ConfigurationTest.cpp
  profiler/test/Datadog.Profiler.Native.Tests/ProfilerMockedInterface.h
Labels: area:profiler

#5624 Add a space before |fg: in case of an unknown type
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/FrameStore.cpp
Labels: area:profiler

#5622 [Dynamic Instrumentation] Cleansing third party module names to avoid conflicts with customer's modules
  tracer/src/Datadog.Trace/Debugger/ExceptionAutoInstrumentation/ConfigFiles/third-party-module-names.json
Labels: area:tracer, area:debugger

#5571 [ASM] Update WAF log messages
  tracer/src/Datadog.Trace/AppSec/Waf/Initialization/WafConfigurator.cs
Labels: area:asm

#5588 [ASM] Add the span id to the RASP events
  tracer/src/Datadog.Trace/AppSec/Rasp/RaspModule.cs
  tracer/src/Datadog.Trace/AppSec/Waf/IResult.cs
  tracer/src/Datadog.Trace/AppSec/Waf/ReturnTypes.Managed/WafMatch.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/AspNetBase.cs
  tracer/test/snapshots/Rasp.AspNetCore2.Lfi_url=-Iast-GetFileContent-file=-etc-password_exploit=Lfi.verified.txt
  tracer/test/snapshots/Rasp.AspNetCore2.SSRF_url=-Iast-SsrfAttack-host=127.0.0.1_exploit=SSRF.verified.txt
  tracer/test/snapshots/Rasp.AspNetCore5.Lfi_url=-Iast-GetFileContent-file=-etc-password_exploit=Lfi.verified.txt
  tracer/test/snapshots/Rasp.AspNetCore5.SSRF_url=-Iast-SsrfAttack-host=127.0.0.1_exploit=SSRF.verified.txt
  tracer/test/snapshots/Rasp.AspNetMvc5.Classic.Lfi_url=-Iast-GetFileContent-file=-etc-password_exploit=Lfi.verified.txt
  tracer/test/snapshots/Rasp.AspNetMvc5.Classic.SSRF_url=-Iast-SsrfAttack-host=127.0.0.1_exploit=SSRF.verified.txt
  tracer/test/snapshots/Rasp.AspNetMvc5.Classic.SSRF_url=-Iast-SsrfAttackNoCatch-host=127.0.0.1_exploit=SSRF.verified.txt
  tracer/test/snapshots/Rasp.AspNetMvc5.Integrated.Lfi_url=-Iast-GetFileContent-file=-etc-password_exploit=Lfi.verified.txt
  tracer/test/snapshots/Rasp.AspNetMvc5.Integrated.SSRF_url=-Iast-SsrfAttack-host=127.0.0.1_exploit=SSRF.verified.txt
  tracer/test/snapshots/Rasp.AspNetMvc5.Integrated.SSRF_url=-Iast-SsrfAttackNoCatch-host=127.0.0.1_exploit=SSRF.verified.txt
  tracer/test/snapshots/RaspIast.AspNetCore2.Lfi_url=-Iast-GetFileContent-file=-etc-password_exploit=Lfi.verified.txt
  tracer/test/snapshots/RaspIast.AspNetCore2.SSRF_url=-Iast-SsrfAttack-host=127.0.0.1_exploit=SSRF.verified.txt
  tracer/test/snapshots/RaspIast.AspNetCore5.Lfi_url=-Iast-GetFileContent-file=-etc-password_exploit=Lfi.verified.txt
  tracer/test/snapshots/RaspIast.AspNetCore5.SSRF_url=-Iast-SsrfAttack-host=127.0.0.1_exploit=SSRF.verified.txt
  tracer/test/snapshots/RaspIast.AspNetMvc5.Classic.Lfi_url=-Iast-GetFileContent-file=-etc-password_exploit=Lfi.verified.txt
  tracer/test/snapshots/RaspIast.AspNetMvc5.Classic.SSRF_url=-Iast-SsrfAttack-host=127.0.0.1_exploit=SSRF.verified.txt
  tracer/test/snapshots/RaspIast.AspNetMvc5.Classic.SSRF_url=-Iast-SsrfAttackNoCatch-host=127.0.0.1_exploit=SSRF.verified.txt
  tracer/test/snapshots/RaspIast.AspNetMvc5.Integrated.Lfi_url=-Iast-GetFileContent-file=-etc-password_exploit=Lfi.verified.txt
  tracer/test/snapshots/RaspIast.AspNetMvc5.Integrated.SSRF_url=-Iast-SsrfAttack-host=127.0.0.1_exploit=SSRF.verified.txt
  tracer/test/snapshots/RaspIast.AspNetMvc5.Integrated.SSRF_url=-Iast-SsrfAttackNoCatch-host=127.0.0.1_exploit=SSRF.verified.txt
Labels: area:asm

#5621 [ASM] RASP: Add stack trace bottom and top filtering
  tracer/src/Datadog.Trace/AppSec/AppSecRequestContext.cs
  tracer/src/Datadog.Trace/AppSec/Rasp/StackReporter.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/RASP/StackReporterTests.cs
Labels: area:asm

#5628 [Dynamic Instrumentation] Aligned the line probe snapshot to fix System Tests failures
  tracer/src/Datadog.Trace/Debugger/Snapshots/DebuggerSnapshotCreator.cs
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.AsyncInstanceMethod.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.AsyncInterfaceProperties.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.AsyncLineProbeWithFieldsArgsAndLocalsTest.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.AsyncSpanOnMethodWithArgsTest.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.AsyncSpanOnMethodWithExceptionProbeTest.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.AsyncStaticType.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.ByRefLikeTest.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.ConditionAndTemplateChangeTest_#1..verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.ConditionAndTemplateChangeTest_#3..verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.GenericByRefLikeTest.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.GenericMethodWithArguments.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.HasLocalsAndReturnValue.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.InstanceMethodWithArguments.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.InterfaceProperties.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.LargeSnapshotTest.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.LineConditionFullSnapshot.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.LineConditionPartialSnapshot.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.LineProbesWithRevertTest_#1..verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.LineProbesWithRevertTest_#2..verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.LineProbesWithRevertTest_#3..verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.LineProbesWithRevertTest_#4..verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.LineProbesWithRevertTest_#5..verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.LineTemplateFullSnapshot.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.LineTemplatePartialSnapshot.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.MethodThrowExceptionTest.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.ModuleUnloadTest.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.MultiProbeTest.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.MultiProbeWithSpanTest.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.MultiScopesWithSameLocalNameTest.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.MultipleLineProbes.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.NotSupportedFailureTest.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.SpanOnMethodWithArgsTest.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.SpanOnMethodWithExceptionProbeTest.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.StaticMethodWithArguments.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.StaticType.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.UnboundProbeBecomesBoundTest.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/statuses/ProbeTests.LargeSnapshotTest.verified.txt
Labels: area:debugger

#5631 [Profiler] Investigate and fix profiler benchmarks failures
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CorProfilerCallback.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CorProfilerCallback.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CorProfilerCallbackFactory.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CorProfilerCallbackFactory.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/DllMain.cpp
Labels: area:profiler
