Repository DataDog/dd-trace-dotnet, pull requests merged in 2024-07, with the labels that each got.

#5651 [ASM] RASP Sql injection vulnerability
  tracer/src/Datadog.Trace/AppSec/AddressesConstants.cs
  tracer/src/Datadog.Trace/AppSec/Rasp/RaspModule.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AdoNet/DbScopeFactory.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/AspectsDefinitionsGenerator/AspectsDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/RaspRuleTypeExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/AspectsDefinitionsGenerator/AspectsDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/RaspRuleTypeExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/AspectsDefinitionsGenerator/AspectsDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/RaspRuleTypeExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/AspectsDefinitionsGenerator/AspectsDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/RaspRuleTypeExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Iast/Aspects/EntityFramework/EntityCommandAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/EntityFrameworkCore/EntityFrameworkCoreAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/NHibernate/ISessionAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.Data.Common/DbCommandAspect.cs
  tracer/src/Datadog.Trace/Telemetry/Metrics/MetricTags.cs
  tracer/src/Datadog.Tracer.Native/Generated/generated_callsites_net461.g.h
  tracer/src/Datadog.Tracer.Native/Generated/generated_callsites_net6_0.g.h
  tracer/src/Datadog.Tracer.Native/Generated/generated_callsites_netcoreapp3_1.g.h
  tracer/src/Datadog.Tracer.Native/Generated/generated_callsites_netstandard2_0.g.h
  tracer/test/Datadog.Trace.Security.IntegrationTests/AspNetCore5AutoUserEvents.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/RASP/AspNetCore2Rasp.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/RASP/AspNetCore5Rasp.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/RASP/AspNetMvc5Rasp.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/rasp-rule-set.json
  tracer/test/Datadog.Trace.Security.Unit.Tests/RASP/RaspWafTests.cs
  tracer/test/snapshots/Rasp.AspNetCore2.SqlI_url=-Iast-ExecuteQueryFromBodyQueryData_exploit=SqlI_body={-UserName-- -' or '1'='1-}.verified.txt
  tracer/test/snapshots/Rasp.AspNetCore5.SqlI_url=-Iast-ExecuteQueryFromBodyQueryData_exploit=SqlI_body={-UserName-- -' or '1'='1-}.verified.txt
  tracer/test/snapshots/Rasp.AspNetMvc5.Classic.SqlI_url=-Iast-ExecuteQueryFromBodyQueryData_exploit=SqlI_body={-UserName-- -' or '1'='1-}.verified.txt
  tracer/test/snapshots/Rasp.AspNetMvc5.Integrated.SqlI_url=-Iast-ExecuteQueryFromBodyQueryData_exploit=SqlI_body={-UserName-- -' or '1'='1-}.verified.txt
  tracer/test/snapshots/RaspIast.AspNetCore2.SqlI_url=-Iast-ExecuteQueryFromBodyQueryData_exploit=SqlI_body={-UserName-- -' or '1'='1-}.verified.txt
  tracer/test/snapshots/RaspIast.AspNetCore5.SqlI_url=-Iast-ExecuteQueryFromBodyQueryData_exploit=SqlI_body={-UserName-- -' or '1'='1-}.verified.txt
  tracer/test/snapshots/RaspIast.AspNetMvc5.Classic.SqlI_url=-Iast-ExecuteQueryFromBodyQueryData_exploit=SqlI_body={-UserName-- -' or '1'='1-}.verified.txt
  tracer/test/snapshots/RaspIast.AspNetMvc5.Integrated.SqlI_url=-Iast-ExecuteQueryFromBodyQueryData_exploit=SqlI_body={-UserName-- -' or '1'='1-}.verified.txt
  tracer/test/snapshots/Security.AspNetCore5IastAsm._.verified.txt
  tracer/test/test-applications/security/Samples.Security.AspNetCore5/Controllers/IastController.cs
  tracer/test/test-applications/security/Samples.Security.AspNetCore5/rasp-rule-set.json
  tracer/test/test-applications/security/aspnet/Samples.Security.AspNetMvc5/Controllers/IastController.cs
Labels: area:asm

#5741 Revert "Add workflow monitor to all workflows (#5733)"
  .github/workflows/auto-trigger-aas-release.yml
  .github/workflows/auto_add_vnext_milestone_to_pr.yml
  .github/workflows/auto_check_snapshots.yml
  .github/workflows/auto_code_freeze_block_pr.yml
  .github/workflows/auto_deploy_aas_test_apps.yml
  .github/workflows/auto_label_prs.yml
  .github/workflows/auto_update_benchmark_branches.yml
  .github/workflows/code_freeze_end.yml
  .github/workflows/code_freeze_start.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/create-system-test-docker-base-images.yml
  .github/workflows/create_draft_release.yml
  .github/workflows/datadog-static-analysis.yml
  .github/workflows/lib-injection-test.yml
  .github/workflows/lib-injection.yml
  .github/workflows/override_version_bump_pr_checks.yml
Labels: area:builds

#5734 Minor github action changes
  .github/workflows/code_freeze_end.yml
  .github/workflows/code_freeze_start.yml
  .github/workflows/override_version_bump_pr_checks.yml
Labels: area:builds

#5753 Skip flaky tests on .NET Core 2.1
  tracer/test/Datadog.Trace.Tools.Runner.Tests/CoverageRewriteTests.cs
Labels: area:tests

#5716 Config refactor - remove duplication and OTel-specific code from `ConfigurationBuilder`
  tracer/src/Datadog.Trace/Configuration/ConfigurationSources/Telemetry/ConfigurationBuilder.cs
  tracer/src/Datadog.Trace/Configuration/GlobalSettings.cs
  tracer/src/Datadog.Trace/Configuration/TracerSettings.cs
Labels: area:tracer, type:refactor, area:opentelemetry

#5762 Re-order integrations folder in CODEOWNERS
  .github/CODEOWNERS
Labels: area:builds

#5756 Add attribute for skipping tests in CI without using `[Fact(Skip = "")]`
  tracer/build/_build/Build.Steps.Debugger.cs
  tracer/build/_build/Build.Steps.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AspNet/AspNetWebFormsTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/Azure/AzureServiceBusTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/Azure/DataStreamsMonitoringAzureServiceBusTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CosmosTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/SmokeTests/StackExchangeRedisAssemblyConflictLegacyProjectSmokeTest.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/AspNetCore2RateLimiter.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/AspNetCore5RateLimiter.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/AspNetMvc5RateLimiter.cs
Labels: area:builds

#5768 Revert native changes that moved the definitions to the native side
  .github/workflows/verify_source_generated_changes_are_persisted.yml
  Datadog.Trace.sln
  shared/src/native-src/version.h
  tracer/missing-nullability-files.csv
  tracer/src/Datadog.Trace.SourceGenerators/AspectsDefinitions/AspectsDefinitionsGenerator.cs
  tracer/src/Datadog.Trace.SourceGenerators/Constants.cs
  tracer/src/Datadog.Trace.SourceGenerators/Helpers/EquatableArray.cs
  tracer/src/Datadog.Trace.SourceGenerators/Helpers/IncrementalGeneratorBase.cs
  tracer/src/Datadog.Trace.SourceGenerators/Helpers/StringArrayComparer.cs
  tracer/src/Datadog.Trace.SourceGenerators/Helpers/TrackingNames.cs
  tracer/src/Datadog.Trace.SourceGenerators/IAdditionalFileCodeGenerator.cs
  tracer/src/Datadog.Trace.SourceGenerators/InstrumentationDefinitions/InstrumentationDefinitionsGenerator.cs
  tracer/src/Datadog.Trace.SourceGenerators/InstrumentationDefinitions/Sources.cs
  tracer/src/Datadog.Trace/ClrProfiler/Instrumentation.cs
  tracer/src/Datadog.Trace/ClrProfiler/NativeMethods.cs
  tracer/src/Datadog.Trace/Datadog.Trace.csproj
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Iast/Iast.cs
  tracer/src/Datadog.Trace/Telemetry/DTOs/ConfigTelemetryData.cs
  tracer/src/Datadog.Trace/Telemetry/TargetFrameworkMonikerAttribute.cs
  tracer/src/Datadog.Trace/folder_locator.json
  tracer/src/Datadog.Tracer.Native/CMakeLists.txt
  tracer/src/Datadog.Tracer.Native/Datadog.Tracer.Native.def
  tracer/src/Datadog.Tracer.Native/Datadog.Tracer.Native.vcxproj
  tracer/src/Datadog.Tracer.Native/Datadog.Tracer.Native.vcxproj.filters
  tracer/src/Datadog.Tracer.Native/Generated/generated_callsites_net461.g.h
  tracer/src/Datadog.Tracer.Native/Generated/generated_callsites_net6_0.g.h
  tracer/src/Datadog.Tracer.Native/Generated/generated_callsites_netcoreapp3_1.g.h
  tracer/src/Datadog.Tracer.Native/Generated/generated_callsites_netstandard2_0.g.h
  tracer/src/Datadog.Tracer.Native/Generated/generated_calltargets_net461.g.h
  tracer/src/Datadog.Tracer.Native/Generated/generated_calltargets_net6_0.g.h
  tracer/src/Datadog.Tracer.Native/Generated/generated_calltargets_netcoreapp3_1.g.h
  tracer/src/Datadog.Tracer.Native/Generated/generated_calltargets_netstandard2_0.g.h
  tracer/src/Datadog.Tracer.Native/Generated/generated_definitions.cpp
  tracer/src/Datadog.Tracer.Native/Generated/generated_definitions.h
  tracer/src/Datadog.Tracer.Native/cor_profiler.cpp
  tracer/src/Datadog.Tracer.Native/dd_profiler_constants.h
  tracer/src/Datadog.Tracer.Native/environment_variables.h
  tracer/src/Datadog.Tracer.Native/environment_variables_util.cpp
  tracer/src/Datadog.Tracer.Native/environment_variables_util.h
  tracer/src/Datadog.Tracer.Native/iast/dataflow.cpp
  tracer/src/Datadog.Tracer.Native/interop.cpp
  tracer/src/Datadog.Tracer.Native/rejit_handler.cpp
  tracer/src/Datadog.Tracer.Native/rejit_handler.h
  tracer/test/Datadog.Trace.SourceGenerators.Tests/AspectsDefinitionsGeneratorTests.cs
  tracer/test/Datadog.Trace.SourceGenerators.Tests/Datadog.Trace.SourceGenerators.Tests.csproj
  tracer/test/Datadog.Trace.SourceGenerators.Tests/InstrumentationDefinitionsGeneratorTests.cs
  tracer/test/Datadog.Trace.SourceGenerators.Tests/TestHelpers.cs
Labels: area:native-library

#5735 Fix flake in `SimpleActivitiesAndSpansTest`
  tracer/src/Datadog.Trace/Activity/Handlers/ActivityHandlerCommon.cs
Labels: area:tracer, area:tests, area:opentelemetry

#5747 Update CI Visibility metrics to latest requirements
  tracer/src/Datadog.Trace/Ci/Agent/CIWriterHttpSender.cs
  tracer/src/Datadog.Trace/Ci/Agent/Payloads/CICodeCoveragePayload.cs
  tracer/src/Datadog.Trace/Ci/Agent/Payloads/CITestCyclePayload.cs
  tracer/src/Datadog.Trace/Ci/Agent/Payloads/EventPlatformPayload.cs
  tracer/src/Datadog.Trace/Ci/IntelligentTestRunnerClient.cs
  tracer/src/Datadog.Trace/Ci/Telemetry/TelemetryHelper.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/CiVisibilityMetricsTelemetryCollector_CountCIVisibility.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/CiVisibilityMetricsTelemetryCollector_DistributionCIVisibility.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/IMetricsTelemetryCollector_CountCIVisibility.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/IMetricsTelemetryCollector_DistributionCIVisibility.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_CountCIVisibility.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_DistributionCIVisibility.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/NullMetricsTelemetryCollector_CountCIVisibility.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/NullMetricsTelemetryCollector_DistributionCIVisibility.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/CiVisibilityMetricsTelemetryCollector_CountCIVisibility.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/CiVisibilityMetricsTelemetryCollector_DistributionCIVisibility.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/IMetricsTelemetryCollector_CountCIVisibility.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/IMetricsTelemetryCollector_DistributionCIVisibility.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_CountCIVisibility.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_DistributionCIVisibility.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/NullMetricsTelemetryCollector_CountCIVisibility.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/NullMetricsTelemetryCollector_DistributionCIVisibility.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/CiVisibilityMetricsTelemetryCollector_CountCIVisibility.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/CiVisibilityMetricsTelemetryCollector_DistributionCIVisibility.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/IMetricsTelemetryCollector_CountCIVisibility.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/IMetricsTelemetryCollector_DistributionCIVisibility.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_CountCIVisibility.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_DistributionCIVisibility.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/NullMetricsTelemetryCollector_CountCIVisibility.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/NullMetricsTelemetryCollector_DistributionCIVisibility.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/CiVisibilityMetricsTelemetryCollector_CountCIVisibility.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/CiVisibilityMetricsTelemetryCollector_DistributionCIVisibility.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/IMetricsTelemetryCollector_CountCIVisibility.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/IMetricsTelemetryCollector_DistributionCIVisibility.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_CountCIVisibility.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_DistributionCIVisibility.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/NullMetricsTelemetryCollector_CountCIVisibility.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/NullMetricsTelemetryCollector_DistributionCIVisibility.g.cs
  tracer/src/Datadog.Trace/Telemetry/Metrics/CountCIVisibility.cs
  tracer/src/Datadog.Trace/Telemetry/Metrics/DistributionCIVisibility.cs
  tracer/src/Datadog.Trace/Telemetry/Metrics/MetricTags.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/XUnitEvpTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/Helpers/TelemetryHelper.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/Metrics/MetricTests.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/Metrics/common_metrics.json
Labels: area:ci-visibility, area:telemetry

#5764 [ASM] Iast/Rasp vulnerability manager
  tracer/src/Datadog.Trace/AppSec/Rasp/RaspModule.cs
  tracer/src/Datadog.Trace/AppSec/VulnerabilitiesModule.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AdoNet/DbScopeFactory.cs
  tracer/src/Datadog.Trace/Iast/Aspects/EntityFramework/EntityCommandAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/EntityFrameworkCore/EntityFrameworkCoreAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/NHibernate/ISessionAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.Data.Common/DbCommandAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.IO/DirectoryAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.IO/DirectoryInfoAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.IO/FileAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.IO/FileInfoAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.IO/FileStreamAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.IO/StreamReaderAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.IO/StreamWriterAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.Net/HttpClientAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.Net/WebClientAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.Net/WebRequestAspect.cs
Labels: area:asm, area:asm-iast

#5772 Stop testing with a specific build in macos smoke tests
  .azure-pipelines/ultimate-pipeline.yml
Labels: area:builds, area:tests

#5773 Filter out .NET Core 3.1 NuGet tests in prerelease versions
  tracer/build/_build/Build.VariableGenerations.cs
Labels: area:builds, area:tests

#5737 [Dynamic Instrumentation] Fix SymDB config keys to match RFC
  tracer/src/Datadog.Trace/Configuration/ConfigurationKeys.Debugger.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/config_norm_rules.json
Labels: area:tracer, area:debugger

#5681 [Dynamic Instrumentation] DEBUG-2356 3rd party detection Include\exclude for SymDB
  tracer/src/Datadog.Trace/Configuration/ConfigurationKeys.Debugger.cs
  tracer/src/Datadog.Trace/Debugger/DebuggerSettings.cs
  tracer/src/Datadog.Trace/Debugger/Symbols/AssemblyFilter.cs
  tracer/src/Datadog.Trace/Debugger/Symbols/SymbolsUploader.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/config_norm_rules.json
Labels: area:tracer, area:debugger

#5755 [ASM][IAST] Add support for CallSites in functions with by ref value type arguments
  tracer/src/Datadog.Tracer.Native/iast/dataflow_aspects.cpp
  tracer/src/Datadog.Tracer.Native/iast/dataflow_il_analysis.cpp
  tracer/src/Datadog.Tracer.Native/iast/signature_types.cpp
  tracer/src/Datadog.Tracer.Native/iast/signature_types.h
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Samples.InstrumentedTests.csproj
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/Json/JsonDocumentTests.cs
Labels: area:asm

#5476 [Profiler] Add `timer_create`-based CPU profiling on Linux
  profiler/build/CpuWallTime.linux.json
  profiler/build/crank/Samples.AspNetCoreSimpleController.yml
  profiler/build/crank/run.sh
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/Datadog.Profiler.Native.Linux.vcxproj
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/Datadog.Profiler.Native.Linux.vcxproj.filters
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/LinuxStackFramesCollector.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/MmapMemoryResource.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/MmapMemoryResource.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/OsSpecificApi.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/ProfilerSignalManager.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/ProfilerSignalManager.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/TimerCreateCpuProfiler.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/TimerCreateCpuProfiler.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Configuration.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Configuration.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CorProfilerCallback.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CorProfilerCallback.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CpuProfilerType.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/EnvironmentVariables.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/IConfiguration.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/IManagedThreadList.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ManagedThreadInfo.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ManagedThreadInfo.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ManagedThreadList.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ManagedThreadList.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/MemoryResourceManager.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/MemoryResourceManager.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/OpSysTools.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ServiceBase.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ServiceBase.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/StackFramesCollectorBase.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/StackSamplerLoop.cpp
  profiler/test/Datadog.Profiler.IntegrationTests/Helpers/EnvironmentVariables.cs
  profiler/test/Datadog.Profiler.IntegrationTests/LinuxOnly/SignalHandlerTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/LinuxOnly/TimerCreateCpuProfilerTest.cs
  profiler/test/Datadog.Profiler.Native.Tests/ConfigurationTest.cpp
  profiler/test/Datadog.Profiler.Native.Tests/CpuProfilerTypeTest.cpp
  profiler/test/Datadog.Profiler.Native.Tests/Datadog.Profiler.Native.Tests.vcxproj
  profiler/test/Datadog.Profiler.Native.Tests/Datadog.Profiler.Native.Tests.vcxproj.filters
  profiler/test/Datadog.Profiler.Native.Tests/LinuxStackFramesCollectorTest.cpp
  profiler/test/Datadog.Profiler.Native.Tests/ProfilerMockedInterface.h
  profiler/test/Datadog.Profiler.Native.Tests/ProfilerSignalManagerTest.cpp
  shared/src/native-src/string.cpp
  shared/src/native-src/string.h
Labels: area:profiler

#5774 [Dynamic Instrumentation] Fixed instrumentation error (InvalidProgramException) related to EH clauses
  tracer/src/Datadog.Tracer.Native/debugger_method_rewriter.cpp
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.AsyncTryCatchTest.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.AsyncTryFinallyTest.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.TryCatchTest.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.TryFinallyTest.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/statuses/ProbeTests.AsyncTryCatchTest.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/statuses/ProbeTests.AsyncTryFinallyTest.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/statuses/ProbeTests.TryCatchTest.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/statuses/ProbeTests.TryFinallyTest.verified.txt
  tracer/test/test-applications/debugger/dependency-libs/Samples.Probes.TestRuns/SmokeTests/AsyncTryCatchTest.cs
  tracer/test/test-applications/debugger/dependency-libs/Samples.Probes.TestRuns/SmokeTests/AsyncTryFinallyTest.cs
  tracer/test/test-applications/debugger/dependency-libs/Samples.Probes.TestRuns/SmokeTests/TryCatchTest.cs
  tracer/test/test-applications/debugger/dependency-libs/Samples.Probes.TestRuns/SmokeTests/TryFinallyTest.cs
Labels: area:debugger

#5777 Switch system-tests to python 3.12
  .azure-pipelines/ultimate-pipeline.yml
Labels: area:builds

#5766 [Profiler] Support "auto" for profiler enablement
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Configuration.cpp
  profiler/test/Datadog.Profiler.Native.Tests/ConfigurationTest.cpp
  tracer/src/Datadog.Trace.ClrProfiler.Managed.Loader/Startup.cs
  tracer/src/Datadog.Trace.Tools.dd_dotnet/Checks/ProcessBasicCheck.cs
  tracer/src/Datadog.Trace.Tools.dd_dotnet/Checks/Resources.cs
  tracer/src/Datadog.Trace/AgentProcessManager.cs
  tracer/src/Datadog.Trace/Configuration/TracerSettings.cs
  tracer/src/Datadog.Trace/ContinuousProfiler/ConfigurationKeys.cs
  tracer/src/Datadog.Trace/ContinuousProfiler/ProfilerStatus.cs
  tracer/src/Datadog.Tracer.Native/cor_profiler.cpp
  tracer/test/Datadog.Trace.Tests/Configuration/TracerSettingsTests.cs
Labels: area:profiler

#5769 [Profiler] Fix bug when create thread lifetime event
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/RawThreadLifetimeSample.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ThreadLifetimeProvider.cpp
Labels: area:profiler

#5784 [Dynamic Instrumentation] Fixed Instrumentation failures revealed by the Exploration Tests of Line & Method probes
  tracer/src/Datadog.Tracer.Native/debugger_constants.h
  tracer/src/Datadog.Tracer.Native/debugger_method_rewriter.cpp
Labels: area:debugger

#5761 [SSI] Bail out on known-faulty .NET 6 version
  shared/src/Datadog.Trace.ClrProfiler.Native/single_step_guard_rails.cpp
  shared/src/Datadog.Trace.ClrProfiler.Native/single_step_guard_rails.h
  tracer/build/_build/Build.Steps.cs
Labels: area:native-library, area:shared-components

#5763 Skip flaky `ActivityTests` on macos
  tracer/test/Datadog.Trace.Tests/ActivityTests.cs
Labels: area:builds, area:tests

#5789 [Dynamic Instrumentation] Fixed SymDB upload when PDB is absent
  tracer/src/Datadog.Trace/Debugger/Symbols/Model/Root.cs
  tracer/src/Datadog.Trace/Debugger/Symbols/Model/Scope.cs
  tracer/src/Datadog.Trace/Debugger/Symbols/SymbolExtractor.cs
  tracer/src/Datadog.Trace/Debugger/Symbols/SymbolPdbExtractor.cs
  tracer/test/Datadog.Trace.Tests/Debugger/SymbolsTests/SymbolUploaderTest.cs
Labels: area:tracer, area:debugger

#5779 [ASM] Appsec events in meta struct
  tracer/src/Datadog.Trace/Agent/DiscoveryService/AgentConfiguration.cs
  tracer/src/Datadog.Trace/Agent/DiscoveryService/DiscoveryService.cs
  tracer/src/Datadog.Trace/AppSec/AppSecRequestContext.cs
  tracer/src/Datadog.Trace/AppSec/Rasp/MetaStructHelper.cs
  tracer/src/Datadog.Trace/AppSec/Security.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/AspNetBase.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/AspNetCore5.cs
  tracer/test/Datadog.Trace.TestHelpers/MockSpan.cs
  tracer/test/Datadog.Trace.TestHelpers/MockTracerAgent.cs
  tracer/test/Datadog.Trace.Tests/Agent/DiscoveryServiceMock.cs
  tracer/test/Datadog.Trace.Tests/Agent/DiscoveryServiceTests.cs
  tracer/test/Datadog.Trace.Tests/Agent/MessagePack/SpanMetaStructTests.cs
  tracer/test/Datadog.Trace.Tests/Agent/StatsAggregatorTests.cs
  tracer/test/Datadog.Trace.Tests/Debugger/LiveDebuggerTests.cs
  tracer/test/snapshots/AspNetCore5.SecurityEnabled.MetaStruct._.verified.txt
  tracer/test/test-applications/security/Samples.Security.AspNetCore5/Endpoints/Endpoints.cs
Labels: area:asm

#5788 Fix macOS cmake warnings/errors
  CMakeLists.txt
  profiler/CMakeLists.txt
  shared/src/Datadog.Trace.ClrProfiler.Native/CMakeLists.txt
  tracer/src/Datadog.Tracer.Native/CMakeLists.txt
Labels: area:builds

#5786 Add support for MySql.Data 9.0
  tracer/build/PackageVersionsGeneratorDefinitions.json
  tracer/build/PackageVersionsLatestMajors.g.props
  tracer/build/PackageVersionsLatestMinors.g.props
  tracer/build/PackageVersionsLatestSpecific.g.props
  tracer/build/supported_versions.json
  tracer/dependabot/Datadog.Dependabot.Integrations.csproj
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AdoNet/MySql/MySqlDefinitions.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AdoNet/MySqlCommandTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestMajors.g.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestMinors.g.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestSpecific.g.cs
  tracer/test/test-applications/integrations/Samples.MySql/Program.cs
  tracer/test/test-applications/integrations/Samples.MySql/Samples.MySql.csproj
Labels: area:tracer, area:automatic-instrumentation, dependencies, area:integrations

#5743 [ASM] Standalone Billing (part 2: Propagation)
  tracer/src/Datadog.Trace/AppSec/Security.cs
  tracer/src/Datadog.Trace/Iast/IastModule.cs
  tracer/src/Datadog.Trace/Propagators/DatadogContextPropagator.cs
  tracer/src/Datadog.Trace/Propagators/SpanContextPropagator.cs
  tracer/src/Datadog.Trace/Tags.cs
  tracer/src/Datadog.Trace/Tracer.cs
Labels: area:asm

#5791 Record when we use v2 instrumentation with a v3 version of the manual tracer
  tracer/build/_build/Honeypot/IntegrationGroups.cs
  tracer/src/Datadog.Trace.Trimming/build/Datadog.Trace.Trimming.xml
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/ManualInstrumentation/TracerGetInstanceIntegration.cs
  tracer/src/Datadog.Trace/Configuration/IntegrationId.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/IntegrationIdExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/CiVisibilityMetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/CiVisibilityMetricsTelemetryCollector_CountShared.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/CountExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/IMetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_CountShared.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/NullMetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/IntegrationIdExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/CiVisibilityMetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/CiVisibilityMetricsTelemetryCollector_CountShared.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/CountExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/IMetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_CountShared.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/NullMetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/IntegrationIdExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/CiVisibilityMetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/CiVisibilityMetricsTelemetryCollector_CountShared.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/CountExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/IMetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_CountShared.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/NullMetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/IntegrationIdExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/CiVisibilityMetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/CiVisibilityMetricsTelemetryCollector_CountShared.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/CountExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/IMetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_CountShared.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/NullMetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Telemetry/Metrics/Count.cs
  tracer/src/Datadog.Trace/Telemetry/Metrics/IntegrationIdExtensions.cs
  tracer/src/Datadog.Trace/Telemetry/Metrics/MetricTags.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/Metrics/dotnet_metrics.json
Labels: area:tracer, area:telemetry

#5794 Include a version.txt and index.txt in the uploaded Azure assets
  .azure-pipelines/ultimate-pipeline.yml
Labels: area:builds

#5797 Improve handling of OOM
  tracer/src/Datadog.Trace/LifetimeManager.cs
  tracer/src/Datadog.Trace/RuntimeMetrics/RuntimeMetricsWriter.cs
Labels: area:tracer, area:runtime-metrics, identified-by:crashtracking

#5800 Build OCI images for every branch
  .azure-pipelines/ultimate-pipeline.yml
  .gitlab-ci.yml
  .gitlab/.gitlab-ci-snapshot-package-test-template.yml
  .gitlab/build-deb-rpm.sh
  .gitlab/build-oci.sh
Labels: area:builds

#5782 Map `http.status_code` to meta dictionary
  tracer/src/Datadog.Trace/Activity/OtlpHelpers.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/OpenTelemetrySdkTests.cs
  tracer/test/snapshots/OpenTelemetrySdkTests.verified.txt
  tracer/test/snapshots/OpenTelemetrySdkTestsWithActivitySource.verified.txt
  tracer/test/snapshots/OpenTelemetrySdkTestsWithActivitySource_1_0.verified.txt
  tracer/test/snapshots/OpenTelemetrySdkTestsWithActivitySource_up_to_1_5_0.verified.txt
  tracer/test/snapshots/OpenTelemetrySdkTestsWithActivitySource_up_to_1_7_0.verified.txt
  tracer/test/snapshots/OpenTelemetrySdkTests_1_0.verified.txt
  tracer/test/snapshots/OpenTelemetrySdkTests_1_0_withLegacyOperationName.verified.txt
  tracer/test/snapshots/OpenTelemetrySdkTests_up_to_1_5_0.verified.txt
  tracer/test/snapshots/OpenTelemetrySdkTests_up_to_1_5_0_withLegacyOperationName.verified.txt
  tracer/test/snapshots/OpenTelemetrySdkTests_up_to_1_7_0.verified.txt
  tracer/test/snapshots/OpenTelemetrySdkTests_up_to_1_7_0_withLegacyOperationName.verified.txt
  tracer/test/snapshots/OpenTelemetrySdkTests_withLegacyOperationName.verified.txt
  tracer/test/test-applications/integrations/Samples.OpenTelemetrySdk/Program.cs
Labels: area:tracer, area:opentelemetry

#5807 Fix GitLab release process
  .gitlab-ci.yml
Labels: area:builds

#5808 [Profiler] Signal-based profiler/Non-Signal-based: prevent deadlock
  profiler/src/Demos/Samples.Computer01/ComputerService.cs
  profiler/src/Demos/Samples.Computer01/LinuxDlIteratePhdrDeadlock.cs
  profiler/src/Demos/Samples.Computer01/Program.cs
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/LinuxStackFramesCollector.cpp
  profiler/test/Datadog.Profiler.IntegrationTests/LinuxOnly/DlIteratePhdrDeadlock.cs
Labels: area:profiler

#5822 Fix Create Draft Release action
  tracer/build/_build/Build.GitHub.cs
Labels: area:builds

#5810 Disable keep-alive in HttpClientRequestFactory
  tracer/src/Datadog.Trace/Agent/Transports/HttpClientRequestFactory.cs
Labels: area:tracer

#5817 Simplify determining whether it's a debug run or not
  tracer/build/_build/Build.Profiler.Steps.cs
  tracer/build/_build/Build.Steps.Debugger.cs
  tracer/build/_build/Build.Steps.cs
  tracer/build/_build/Build.Utilities.cs
Labels: area:builds

#5813 Exclude an SSIS service from auto-tracing
  shared/src/Datadog.Trace.ClrProfiler.Native/util.h
  tracer/src/Datadog.Tracer.Native/dd_profiler_constants.h
Labels: area:tracer, area:native-library, type:reliability

#5805 [Samples] Update IIS sample Dockerfile
  tracer/samples/IISInDocker/.dockerignore
  tracer/samples/IISInDocker/Dockerfile
  tracer/samples/IISInDocker/README.md
  tracer/samples/IISInDocker/install-dd-trace-dotnet.ps1
  tracer/samples/IISInDocker/startup.ps1
Labels: area:customer-samples

#5820 [ASM] Upgrade WAF to version 1.19.1
  tracer/build/_build/Build.Steps.cs
  tracer/build/smoke_test_snapshots/smoke_test_snapshots.json
  tracer/build/smoke_test_snapshots/smoke_test_snapshots_2_1.json
  tracer/test/Datadog.Trace.Security.Unit.Tests/ActionChangeTests.cs
  tracer/test/snapshots/Security.AspNetCore5AsmInitializationSecurityEnabled.TestSecurityInitialization.verified.txt
  tracer/test/snapshots/Security.AspNetCore5AsmInitializationSecurityEnabledWithBadRuleset.TestSecurityInitialization.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5AsmData.Classic.enableSecurity=True.__test=blocking-ips_url=_.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5AsmData.Integrated.enableSecurity=True.__test=blocking-ips_url=_.verified.txt
  tracer/test/snapshots/Security.AspNetWebApiAsmData.Classic.enableSecurity=True.__test=blocking-user_url=_api_user.verified.txt
  tracer/test/snapshots/Security.AspNetWebApiAsmData.Integrated.enableSecurity=True.__test=blocking-ips_url=_api_health.verified.txt
  tracer/test/snapshots/Security.AspNetWebFormsAsmData.Classic.enableSecurity=True.__test=blocking-user_url=_user.verified.txt
  tracer/test/snapshots/Security.AspNetWebFormsAsmData.Integrated.enableSecurity=True.__test=blocking-ips_url=_default.aspx.verified.txt
Labels: area:asm

#5826 Fix builds on release/2.x
  .azure-pipelines/ultimate-pipeline.yml
  tracer/build/_build/Build.Steps.cs
  tracer/build/_build/Build.VariableGenerations.cs
Labels: area:builds

#5828 Fix builds on release/2.x (#5826 -> master)
  .azure-pipelines/ultimate-pipeline.yml
  tracer/build/_build/Build.Steps.cs
  tracer/build/_build/Build.VariableGenerations.cs
Labels: area:builds

#5830 [IAST] Broaden AspNet cookies filtering
  tracer/src/Datadog.Trace/Iast/CookieAnalyzer.cs
  tracer/test/snapshots/Iast.TrustBoundaryViolation.AspNetCore5.IastEnabled.RedactionEnabled.verified.txt
  tracer/test/snapshots/Iast.TrustBoundaryViolation.AspNetCore5.IastEnabled.verified.txt
Labels: area:tracer
