Repository DataDog/dd-trace-dotnet, pull requests merged in 2024-10, with the labels that each got.

#6097 [IAST] Fix for VS Edit and Continue
  tracer/src/Datadog.Tracer.Native/cor_profiler.cpp
  tracer/src/Datadog.Tracer.Native/cor_profiler.h
  tracer/src/Datadog.Tracer.Native/environment_variables.h
  tracer/src/Datadog.Tracer.Native/environment_variables_util.cpp
  tracer/src/Datadog.Tracer.Native/environment_variables_util.h
  tracer/src/Datadog.Tracer.Native/iast/dataflow.cpp
  tracer/src/Datadog.Tracer.Native/iast/dataflow.h
  tracer/test/Datadog.Trace.Security.IntegrationTests/AspNetBase.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/IAST/AspNetCore5IastTests.cs
Labels: area:native-library, area:asm-iast

#5754 Run CallTargetNativeTests on Windows
  tracer/build/_build/Build.Steps.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CallTargetNativeTests.cs
  tracer/test/Datadog.Trace.TestHelpers/ProfilerHelper.cs
Labels: area:tests, area:native-library

#6043 [ASM] Activate api sec by default
  .azure-pipelines/ultimate-pipeline.yml
  docker-compose.windows.yml
  docker-compose.yml
  tracer/build/smoke_test_snapshots/smoke_test_snapshots.json
  tracer/build/smoke_test_snapshots/smoke_test_snapshots_2_1.json
  tracer/src/Datadog.Trace/AppSec/SecuritySettings.cs
  tracer/src/Datadog.Trace/Configuration/ConfigurationKeys.AppSec.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/ApiSecurity/AspNetCoreApiSecurity.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/ApiSecurity/AspNetFxWebApiApiSecurity.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/ApiSecurity/AspNetMvc5ApiSecurity.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/AspNetBase.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/AspNetCore5AutoUserEvents.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/AspNetCoreBare.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/AspNetCoreBase.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/AspNetMvc5.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/Rcm/RcmBase.cs
Labels: area:asm

#6112 [Profiler] Bump libdatadog 13.1
  build/cmake/FindLibdatadog.cmake
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Windows/Datadog.Profiler.Native.Windows.vcxproj
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Windows/packages.config
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Datadog.Profiler.Native.vcxproj
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/packages.config
  profiler/test/Datadog.Profiler.Native.Tests/Datadog.Profiler.Native.Tests.vcxproj
  profiler/test/Datadog.Profiler.Native.Tests/packages.config
Labels: area:profiler

#6115 [IAST] Avoid lock in method ctor.
  tracer/src/Datadog.Tracer.Native/iast/method_info.cpp
  tracer/src/Datadog.Tracer.Native/iast/method_info.h
Labels: area:native-library, area:asm-iast

#5968 Load the tracer/profiler after guardrails checks
  Datadog.Trace.Native.sln
  shared/src/Datadog.Trace.ClrProfiler.Native/cor_profiler.cpp
  shared/src/Datadog.Trace.ClrProfiler.Native/cor_profiler_class_factory.cpp
  shared/src/Datadog.Trace.ClrProfiler.Native/dllmain.cpp
  shared/src/Datadog.Trace.ClrProfiler.Native/dynamic_dispatcher.cpp
  shared/src/Datadog.Trace.ClrProfiler.Native/dynamic_dispatcher.h
  shared/src/Datadog.Trace.ClrProfiler.Native/dynamic_instance.cpp
  shared/src/Datadog.Trace.ClrProfiler.Native/dynamic_instance.h
  shared/test/Datadog.Trace.ClrProfiler.Native.Tests/test_dynamic_instance.h
Labels: area:shared-components

#6104 Verify and assert version of glibc targeted in native tracer/profiler
  .azure-pipelines/ultimate-pipeline.yml
  tracer/build/_build/Build.Profiler.Steps.cs
  tracer/build/_build/Build.Shared.Steps.cs
Labels: area:native-library

#6113 Add more info when GenerateDumpIfDbgRequested fails
  profiler/test/Datadog.Profiler.IntegrationTests/LinuxOnly/WrapperLibraryTest.cs
Labels: area:profiler

#6127 [IAST] Calculate method full name on demand always
  tracer/src/Datadog.Tracer.Native/iast/dataflow_il_analysis.cpp
  tracer/src/Datadog.Tracer.Native/iast/method_info.cpp
  tracer/src/Datadog.Tracer.Native/iast/method_info.h
Labels: area:native-library, area:asm-iast

#6126 Remove nuke JSON file
  .gitignore
  .nuke/build.schema.json
Labels: area:builds

#6117 "Fix" timeouts in SSI run
  tracer/src/Datadog.Tracer.Native/cor_profiler.cpp
  tracer/test/Datadog.Trace.TestHelpers/EnvironmentHelper.cs
Labels: area:builds

#6118 [ASM] Segregate asm and iast contexts functionality
  tracer/src/Datadog.Trace/AppSec/Coordinator/SecurityCoordinator.Reporter.cs
  tracer/src/Datadog.Trace/AppSec/Rasp/RaspModule.cs
  tracer/src/Datadog.Trace/Iast/IastModule.cs
  tracer/src/Datadog.Trace/Iast/Location.cs
  tracer/src/Datadog.Trace/Propagators/DatadogContextPropagator.cs
  tracer/src/Datadog.Trace/TraceContext.cs
Labels: area:tracer, area:asm, area:asm-iast

#6128 [Profiler] Make sure Watcher thread is started before Sampler thread
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/StackSamplerLoopManager.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/StackSamplerLoopManager.h
Labels: area:profiler

#6133 [ASM] Update fingerprint rules
  tracer/src/Datadog.Trace/AppSec/AttackerFingerprint/AttackerFingerprintHelper.cs
  tracer/src/Datadog.Trace/AppSec/Coordinator/SecurityCoordinator.Reporter.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/rasp-rule-set.json
  tracer/test/Datadog.Trace.Security.IntegrationTests/ruleset.3.0.json
  tracer/test/Datadog.Trace.Security.Unit.Tests/Fingerprint/FingerprintTests.cs
  tracer/test/test-applications/security/Samples.Security.AspNetCore2/rasp-rule-set.json
  tracer/test/test-applications/security/Samples.Security.AspNetCore5/rasp-rule-set.json
Labels: area:asm

#6134 [Profiler] Make sure Watcher thread is started before Sampler thread
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/StackSamplerLoopManager.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/StackSamplerLoopManager.h
Labels: area:profiler

#6131 Fix subtle WCF bug
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Wcf/WcfCommon.cs
Labels: type:bug, area:automatic-instrumentation, area:integrations

#6119 [ASM] Fix one flakiness in rcm asm data integration tests and simplify some asm rcm code
  tracer/missing-nullability-files.csv
  tracer/src/Datadog.Trace/AppSec/Rcm/AsmDdProduct.cs
  tracer/src/Datadog.Trace/AppSec/Rcm/ConfigurationStatus.cs
  tracer/src/Datadog.Trace/AppSec/Rcm/Models/AsmDd/RuleSet.cs
  tracer/src/Datadog.Trace/AppSec/Security.cs
  tracer/src/Datadog.Trace/AppSec/Waf/IWaf.cs
  tracer/src/Datadog.Trace/AppSec/Waf/Initialization/WafConfigurator.cs
  tracer/src/Datadog.Trace/AppSec/Waf/ReturnTypes.Managed/InitResult.cs
  tracer/src/Datadog.Trace/AppSec/Waf/Waf.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/Rcm/AspNetCore5AsmData.cs
Labels: area:asm

#6141 [CI Visibility] Add extra tags to GitHub Action pull_requests runs
  tracer/src/Datadog.Trace/Ci/CiEnvironment/CIEnvironmentValues.cs
  tracer/src/Datadog.Trace/Ci/CiEnvironment/GithubActionsEnvironmentValues.cs
  tracer/src/Datadog.Trace/Ci/Tagging/TestSessionSpanTags.cs
  tracer/src/Datadog.Trace/Ci/Tags/CommonTags.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/TagListGenerator/TestSessionSpanTags.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/TagListGenerator/TestSessionSpanTags.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/TagListGenerator/TestSessionSpanTags.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/TagListGenerator/TestSessionSpanTags.g.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/CIEnvironmentVariableTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/Data/githubevent/github-event.json
Labels: area:ci-visibility

#6139 Fix crashes on .NET Core 2.1 CI
  tracer/test/Datadog.Trace.TestHelpers/EnvironmentHelper.cs
Labels: area:builds, area:tests

#6030 [ASM] Fix exception when accessing ReportedExternalWafsRequestHeaders
  tracer/src/Datadog.Trace/AppSec/Coordinator/SecurityCoordinator.Core.cs
  tracer/src/Datadog.Trace/AppSec/Coordinator/SecurityCoordinator.Framework.cs
  tracer/src/Datadog.Trace/AppSec/Coordinator/SecurityCoordinator.cs
Labels: area:asm

#6130 Handle Nuke .NET 9 preview issue
  .azure-pipelines/ultimate-pipeline.yml
  tracer/build/_build/_build.csproj
  tracer/build/_build/docker/centos7.dockerfile
  tracer/build/_build/docker/universal.dockerfile
Labels: area:builds

#6132 Stop using current_path in the native loader
  shared/src/Datadog.Trace.ClrProfiler.Native/dynamic_dispatcher.cpp
Labels: area:shared-components, identified-by:crashtracking

#5948 [Profiler] Allow tests for .NET Framework
  Datadog.Profiler.sln
  profiler/src/Demos/Samples.BuggyBits/Controllers/NewsController.cs
  profiler/src/Demos/Samples.BuggyBits/SelfInvoker.cs
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Windows/ETW/EtwEventsHandler.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Windows/ETW/EtwEventsHandler.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Windows/ETW/IpcClient.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Windows/ETW/IpcServer.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Windows/EtwEventsManager.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Windows/EtwEventsManager.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/AllocationsProvider.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ClrEventsParser.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ClrEventsParser.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Configuration.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Configuration.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/EnvironmentVariables.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/FrameStore.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/FrameStore.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/IConfiguration.h
  profiler/src/Tools/ETW/dd-prof-etw/dd-prof-etw-agent/Program.cs
  profiler/src/Tools/ETW/dd-prof-etw/dd-prof-etw-agent/dd-prof-etw-agent.csproj
  profiler/src/Tools/ETW/dd-prof-etw/dd-prof-etw-client/EtwEventDumper.cpp
  profiler/src/Tools/ETW/dd-prof-etw/dd-prof-etw-client/dd-prof-etw-client.cpp
  profiler/src/Tools/ETW/dd-prof-etw/dd-prof-etw-client/dd-prof-etw-client.vcxproj
  profiler/src/Tools/ETW/dd-prof-etw/dd-prof-etw-replay/EventDumper.cs
  profiler/src/Tools/ETW/dd-prof-etw/dd-prof-etw-replay/Program.cs
  profiler/src/Tools/ETW/dd-prof-etw/dd-prof-etw-replay/RecordDumper.cs
  profiler/src/Tools/ETW/dd-prof-etw/dd-prof-etw-replay/dd-prof-etw-replay.csproj
  profiler/src/Tools/ETW/dd-prof-etw/read.me
  profiler/test/Datadog.Profiler.IntegrationTests/Allocations/AllocationsProfilerTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Allocations/allocations-32.bevents
  profiler/test/Datadog.Profiler.IntegrationTests/Allocations/allocations-64.bevents
  profiler/test/Datadog.Profiler.IntegrationTests/Contention/ContentionProfilerTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Contention/lockContention-32.bevents
  profiler/test/Datadog.Profiler.IntegrationTests/Contention/lockContention-64.bevents
  profiler/test/Datadog.Profiler.IntegrationTests/Datadog.Profiler.IntegrationTests.csproj
  profiler/test/Datadog.Profiler.IntegrationTests/GarbageCollections/3x3GCs-32.bevents
  profiler/test/Datadog.Profiler.IntegrationTests/GarbageCollections/3x3GCs-64.bevents
  profiler/test/Datadog.Profiler.IntegrationTests/GarbageCollections/GarbageCollectionsProfilerTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Helpers/AgentEtwProxy.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Helpers/EnvironmentVariables.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Helpers/IEventDumper.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Helpers/IRecordDumper.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Helpers/MemoryDumpHelper.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Helpers/MockDatadogAgent.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Helpers/ProcessExtensions.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Helpers/RecordReader.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Helpers/TestApplicationRunner.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Helpers/XUnitFileLogger.cs
  profiler/test/Datadog.Profiler.Native.Tests/ConfigurationTest.cpp
  profiler/test/Datadog.Profiler.Native.Tests/ProfilerMockedInterface.h
  tracer/build/_build/Build.Steps.cs
Labels: area:profiler

#6155 [ASM] Rename snapshots for ASM ownership
  tracer/test/Datadog.Trace.Security.IntegrationTests/AspNetCore5.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/Rcm/AspNetCore5AsmRulesToggle.cs
  tracer/test/snapshots/Security.AspNetCore5.SecurityEnabled.MetaStruct._.verified.txt
  tracer/test/snapshots/Security.TestGlobalRulesToggling._.verified.txt
Labels: area:tests, area:asm

#6138 Build against macos-13 as macos-12 is going to be deprecated
  .azure-pipelines/ultimate-pipeline.yml
Labels: area:builds

#6170 [CI Visibility] Ensure commit messages are trimmed
  tracer/src/Datadog.Trace/Ci/CiEnvironment/CIEnvironmentValuesGenerics.cs
Labels: area:ci-visibility

#6151 [ASM] Remove httpcontext from context store at the end of the request
  tracer/src/Datadog.Trace/AppSec/CoreHttpContextStore.cs
  tracer/src/Datadog.Trace/DiagnosticListeners/AspNetCoreDiagnosticObserver.cs
  tracer/src/Datadog.Trace/PlatformHelpers/AspNetCoreHttpRequestHandler.cs
Labels: area:asm

#6161 Include pID in managed logs filename
  tracer/src/Datadog.Trace/Logging/Internal/DatadogLoggingFactory.cs
Labels: type:bug, area:tracer

#5928 Add SSI denylist and tests
  .gitlab-ci.yml
  .gitlab/prepare-oci-package.sh
  shared/src/Datadog.Trace.ClrProfiler.Native/cor_profiler.cpp
  shared/src/Datadog.Trace.ClrProfiler.Native/util.h
  tracer/build/artifacts/requirements.json
  tracer/build/artifacts/requirements_allow.json
  tracer/build/artifacts/requirements_block.json
  tracer/src/Datadog.Tracer.Native/dd_profiler_constants.h
Labels: area:builds

#6169 Ensure we don't throw a null reference exception in Manual instrumentation
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/ManualInstrumentation/Proxies/ITracerProxy.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/ManualInstrumentation/Tracer/ForceFlushAsyncIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/ManualInstrumentation/Tracer/GetActiveScopeIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/ManualInstrumentation/Tracer/GetDefaultServiceNameIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/ManualInstrumentation/Tracer/StartActiveImplementationIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/ManualInstrumentation/Tracer/StartSpanIntegration.cs
Labels: type:bug, area:tracer, area:automatic-instrumentation, area:integrations, identified-by:telemetry

#6178 Add support for the "new" dev.azure.com style URLs in SourceLink URL parsing logic (#6159 => v2)
  tracer/src/Datadog.Trace/PDBs/SourceLink/AzureDevOpsSourceLinkUrlParser.cs
  tracer/test/Datadog.Trace.ClrProfiler.Managed.Tests/SourceLinkUriParserTests.cs
Labels: type:bug, area:tracer

#6041 Extract Upper64 bit trace ID from extension response
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/Lambda/LambdaCommon.cs
  tracer/test/Datadog.Trace.Tests/LambdaCommonTests.cs
  tracer/test/Datadog.Trace.Tests/LambdaRequestBuilderTests.cs
Labels: area:serverless, mergequeue-status: removed

#6182 Add SSI denylist and tests (#5928 => v2)
  .gitlab-ci.yml
  .gitlab/prepare-oci-package.sh
  shared/src/Datadog.Trace.ClrProfiler.Native/cor_profiler.cpp
  shared/src/Datadog.Trace.ClrProfiler.Native/util.h
  tracer/build/artifacts/requirements.json
  tracer/build/artifacts/requirements_allow.json
  tracer/build/artifacts/requirements_block.json
  tracer/src/Datadog.Tracer.Native/dd_profiler_constants.h
Labels: area:builds, type:backport

#6186 Fix requirements.json test
  tracer/build/artifacts/requirements_block.json
Labels: area:builds

#6194 Fix typo in create_draft_release.yml
  .github/workflows/create_draft_release.yml
Labels: area:builds

#6089 [Dynamic Instrumentation] Fix line exploration tests
  .azure-pipelines/ultimate-pipeline.yml
  tracer/build/_build/Build.ExplorationTests.cs
  tracer/build/_build/Build.VariableGenerations.cs
Labels: area:builds, area:debugger

#6203 Pin Azure Functions version used in CI to get the integration tests running
  .azure-pipelines/ultimate-pipeline.yml
Labels: area:builds, area:tests

#6196 Fix using the wrong pool for smoke tests
  .azure-pipelines/ultimate-pipeline.yml
Labels: area:builds

#6163 [Profiler] Remove non open source third party reference
  profiler/src/Demos/Samples.Computer01/ComputerService.cs
  profiler/src/Demos/Samples.Computer01/Obfuscation.cs
  profiler/src/Demos/Samples.Computer01/Program.cs
  profiler/src/Demos/Samples.Computer01/Samples.Computer01.csproj
Labels: area:profiler

#6179 [ASM] remote configuration refactoring and simplifying updates
  tracer/src/Datadog.Trace/AppSec/ControllerContextExtensions.Framework.cs
  tracer/src/Datadog.Trace/AppSec/Coordinator/SecurityCoordinator.Core.cs
  tracer/src/Datadog.Trace/AppSec/Coordinator/SecurityCoordinator.Framework.cs
  tracer/src/Datadog.Trace/AppSec/Coordinator/SecurityCoordinator.cs
  tracer/src/Datadog.Trace/AppSec/Coordinator/SecurityCoordinatorHelpers.Core.cs
  tracer/src/Datadog.Trace/AppSec/Rcm/AsmDataProduct.cs
  tracer/src/Datadog.Trace/AppSec/Rcm/AsmDdProduct.cs
  tracer/src/Datadog.Trace/AppSec/Rcm/AsmFeaturesProduct.cs
  tracer/src/Datadog.Trace/AppSec/Rcm/AsmProduct.cs
  tracer/src/Datadog.Trace/AppSec/Rcm/IAsmConfigUpdater.cs
  tracer/src/Datadog.Trace/AppSec/Rcm/Models/AsmDd/RuleSet.cs
  tracer/src/Datadog.Trace/AppSec/Security.cs
  tracer/src/Datadog.Trace/AppSec/SecuritySettings.cs
  tracer/src/Datadog.Trace/AppSec/Waf/ConfigurationState.cs
  tracer/src/Datadog.Trace/AppSec/Waf/IWaf.cs
  tracer/src/Datadog.Trace/AppSec/Waf/Waf.cs
  tracer/src/Datadog.Trace/AspNet/TracingHttpModule.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AspNet/AspNetMvcIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AspNet/AspNetWebApi2Integration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AspNet/ControllerActionInvoker_InvokeAction_Integration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AspNet/ReflectedHttpActionDescriptor_ExecuteAsync_Integration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AspNetCore/ActionResponseFilter.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AspNetCore/BlockingMiddleware.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AspNetCore/DefaultModelBindingContext_SetResult_Integration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AspNetCore/FireOnStartCommon.cs
  tracer/src/Datadog.Trace/ClrProfiler/Instrumentation.cs
  tracer/src/Datadog.Trace/DiagnosticListeners/AspNetCoreDiagnosticObserver.cs
  tracer/src/Datadog.Trace/PlatformHelpers/AspNetCoreHttpRequestHandler.cs
  tracer/src/Datadog.Trace/SpanExtensions.Core.cs
  tracer/src/Datadog.Trace/SpanExtensions.Framework.cs
  tracer/src/Datadog.Trace/TracerManager.cs
  tracer/src/Datadog.Trace/TracerManagerFactory.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/RASP/AspNetCore5Rasp.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/Rcm/AspNetCore5AsmActionsConfiguration.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/Rcm/AspNetCore5AsmFeatureUserId.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/Rcm/AspNetCore5AsmToggle.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/ActionChangeTests.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/ContextTests.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/Fingerprint/FingerprintTests.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/RASP/RASPRcmTests.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/RASP/RaspWafTests.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/SecuritySettingsTests.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/Utils/WafLibraryRequiredTest.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/WafEphemeralDataTests.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/WafErrorsTests.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/WafIpBlockTests.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/WafMemoryTests.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/WafObfuscationTests.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/WafTests.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/WafUpdateTests.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/WafUserBlockTests.cs
  tracer/test/benchmarks/Benchmarks.Trace/Asm/AppSecWafBenchmark.cs
Labels: area:asm

#6207 Fix some build warnings in sample apps
  tracer/test/test-applications/integrations/Samples.HotChocolate/Samples.HotChocolate.csproj
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/SSRF/UrlEscapeTests.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/Xss/SqlDbReaderTests.cs
  tracer/test/test-applications/security/Samples.Security.AspNetCore5/Controllers/IastController.cs
Labels: area:builds, area:tests, area:test-apps

#6187 [Profiler] Make sure we log only once for DebugInfoStore errors
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/DebugInfoStore.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/DebugInfoStore.h
Labels: area:profiler

#6197 Add more info when GenerateDumpIfDbgRequested fails (take 2)
  profiler/test/Datadog.Profiler.IntegrationTests/LinuxOnly/WrapperLibraryTest.cs
Labels: area:tests, area:profiler

#6214 Fix flake in Ngen `ManualInstrumentationTests`
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/ManualInstrumentationTests.cs
  tracer/test/Datadog.Trace.TestHelpers/NgenHelper.cs
Labels: area:tests

#6154 Inject startup hook preferentially into static constructor when available
  tracer/src/Datadog.Tracer.Native/cor_profiler.cpp
  tracer/test/test-applications/integrations/Samples.ManualInstrumentation/Program.cs
Labels: area:tests

#6209 Fix IIS LoaderOptimisation tests not testing anything
  .azure-pipelines/ultimate-pipeline.yml
  .dockerignore
  docker-compose.windows.yml
  docker-compose.yml
  tracer/build/_build/docker/iis.loaderoptimization.dockerfile
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/IIS/LoaderOptimizationStartup.cs
Labels: area:builds, area:tests

#6201 Add profiling scenario to onboarding tests
  .gitlab-ci.yml
Labels: area:builds

#6176 [Crashtracking] Collect PDB info
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Windows/CrashReportingWindows.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Windows/CrashReportingWindows.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CrashReporting.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CrashReporting.h
  profiler/test/Datadog.Profiler.Native.Tests/CrashReportingTest.cpp
  profiler/test/Datadog.Profiler.Native.Tests/Datadog.Profiler.Native.Tests.vcxproj
  profiler/test/Datadog.Profiler.Native.Tests/Datadog.Profiler.Native.Tests.vcxproj.filters
  profiler/test/Datadog.Profiler.Native.Tests/Resources.rc
  profiler/test/Datadog.Profiler.Native.Tests/resource.h
  tracer/test/Datadog.Trace.Tools.dd_dotnet.ArtifactTests/CreatedumpTests.cs
Labels: area:crashtracking

#6217 Run aspnetcore tests in other TFMs
  .azure-pipelines/ultimate-pipeline.yml
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AspNetCore/AspNetCoreIisMvc31Tests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AspNetCore/AspNetCoreMvc31Tests.cs
  tracer/test/test-applications/integrations/Samples.AspNetCoreMvc31/Samples.AspNetCoreMvc31.csproj
Labels: area:tests

#6208 [ASM] Add event rules version in telemetry
  tracer/src/Datadog.Trace/AppSec/Security.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Telemetry/Collectors/IMetricsTelemetryCollector.cs
  tracer/src/Datadog.Trace/Telemetry/Collectors/MetricsTelemetryCollectorBase.cs
  tracer/src/Datadog.Trace/Telemetry/Collectors/NullMetricsTelemetryCollector.cs
  tracer/src/Datadog.Trace/Telemetry/Metrics/MetricTags.cs
  tracer/src/Datadog.Trace/TracerManagerFactory.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/AspNetBase.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/Rcm/AspNetCore5AsmRemoteRules.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/Collectors/MetricsTelemetryCollectorTests.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/Metrics/MetricTests.cs
  tracer/test/snapshots/Security.AspNetCore5AsmRemoteRules._.verified.txt
Labels: area:asm

#6222 [CI Visibility] Fix errors detected from error tracking.
  Datadog.Trace.OSX.slnf
  tracer/src/Datadog.Trace/Ci/GitInfo.cs
  tracer/src/Datadog.Trace/Ci/IntelligentTestRunnerClient.cs
Labels: area:ci-visibility, identified-by:telemetry

#6223 Convert WebRequestTests to snapshot tests
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/WebRequestTests.cs
  tracer/test/snapshots/WebRequestTests_netfx_v0.verified.txt
  tracer/test/snapshots/WebRequestTests_netfx_v1.verified.txt
  tracer/test/snapshots/WebRequestTests_v0.verified.txt
  tracer/test/snapshots/WebRequestTests_v1.verified.txt
Labels: area:tests

#6220 Revert "[Crashtracking] Disable crashtracking on Windows by default"
  shared/src/Datadog.Trace.ClrProfiler.Native/dllmain.cpp
  tracer/test/Datadog.Trace.Tools.dd_dotnet.ArtifactTests/CreatedumpTests.cs
Labels: area:crashtracking

#6219 move all RC int values to long, to mirror RC backend
  tracer/src/Datadog.Trace/RemoteConfigurationManagement/ApplyDetails.cs
  tracer/src/Datadog.Trace/RemoteConfigurationManagement/Protocol/RcmCachedTargetFile.cs
  tracer/src/Datadog.Trace/RemoteConfigurationManagement/Protocol/RcmClientState.cs
  tracer/src/Datadog.Trace/RemoteConfigurationManagement/Protocol/RcmConfigState.cs
  tracer/src/Datadog.Trace/RemoteConfigurationManagement/Protocol/Tuf/Signed.cs
  tracer/src/Datadog.Trace/RemoteConfigurationManagement/Protocol/Tuf/Target.cs
  tracer/src/Datadog.Trace/RemoteConfigurationManagement/Protocol/Tuf/TargetCustom.cs
  tracer/src/Datadog.Trace/RemoteConfigurationManagement/RcmSubscriptionManager.cs
  tracer/src/Datadog.Trace/RemoteConfigurationManagement/RemoteConfiguration.cs
  tracer/src/Datadog.Trace/RemoteConfigurationManagement/RemoteConfigurationCache.cs
Labels: area:tracer

#6147 Add workaround for ASP.NET ConfigBuilder issue
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AspNet/HttpModule_Integration.cs
  tracer/src/Datadog.Trace/ClrProfiler/CallTarget/CallTargetInvoker.cs
Labels: type:bug, area:automatic-instrumentation, status:do-not-merge

#6218 [ASM] Update ruleset to version 1.13.2
  tracer/build/smoke_test_snapshots/smoke_test_snapshots.json
  tracer/build/smoke_test_snapshots/smoke_test_snapshots_2_1.json
  tracer/src/Datadog.Trace/AppSec/Waf/ConfigFiles/rule-set.json
  tracer/src/Datadog.Trace/Telemetry/Collectors/MetricsTelemetryCollectorBase.cs
  tracer/test/snapshots/Security.AspNetCore2.SecurityEnabled.test-external-waf-headers.verified.txt
  tracer/test/snapshots/Security.AspNetCore5.SecurityEnabled.test-external-waf-headers.verified.txt
  tracer/test/snapshots/Security.AspNetCore5.SecurityEnabled.test-null-action.verified.txt
  tracer/test/snapshots/Security.AspNetCore5AsmDataSecurityEnabled.__test=blocking-user_url=_user.verified.txt
  tracer/test/snapshots/Security.AspNetCore5AsmInitializationSecurityEnabled.TestSecurityInitialization.verified.txt
  tracer/test/snapshots/Security.AspNetCore5AsmRemoteRules._.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5AsmData.Classic.enableSecurity=True.__test=blocking-ips_url=_.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5AsmData.Classic.enableSecurity=True.__test=blocking-user_url=_user.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5AsmData.Integrated.enableSecurity=True.__test=blocking-ips_url=_.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5AsmData.Integrated.enableSecurity=True.__test=blocking-user_url=_user.verified.txt
  tracer/test/snapshots/Security.AspNetWebApiAsmData.Classic.enableSecurity=True.__test=blocking-ips_url=_api_health.verified.txt
  tracer/test/snapshots/Security.AspNetWebApiAsmData.Classic.enableSecurity=True.__test=blocking-user_url=_api_user.verified.txt
  tracer/test/snapshots/Security.AspNetWebApiAsmData.Integrated.enableSecurity=True.__test=blocking-ips_url=_api_health.verified.txt
  tracer/test/snapshots/Security.AspNetWebApiAsmData.Integrated.enableSecurity=True.__test=blocking-user_url=_api_user.verified.txt
  tracer/test/snapshots/Security.AspNetWebFormsAsmData.Classic.enableSecurity=True.__test=blocking-ips_url=_default.aspx.verified.txt
  tracer/test/snapshots/Security.AspNetWebFormsAsmData.Classic.enableSecurity=True.__test=blocking-user_url=_user.verified.txt
  tracer/test/snapshots/Security.AspNetWebFormsAsmData.Integrated.enableSecurity=True.__test=blocking-ips_url=_default.aspx.verified.txt
  tracer/test/snapshots/Security.AspNetWebFormsAsmData.Integrated.enableSecurity=True.__test=blocking-user_url=_user.verified.txt
Labels: area:asm
