Repository DataDog/dd-trace-dotnet, pull requests merged in 2024-01, with the labels that each got.

#5004 Disable inlining on automapper tests
  tracer/build/_build/Build.ExplorationTests.cs
Labels: area:builds

#4990 Add `TracerFlareApi` implementation for sending requests to endpoint
  tracer/src/Datadog.Trace/Agent/Transports/MimeTypes.cs
  tracer/src/Datadog.Trace/Datadog.Trace.csproj
  tracer/src/Datadog.Trace/Logging/TracerFlare/DebugLogReader.cs
  tracer/src/Datadog.Trace/Logging/TracerFlare/TracerFlareApi.cs
  tracer/src/Datadog.Trace/Logging/TracerFlare/TracerFlareRequestFactory.cs
  tracer/src/Datadog.Trace/Util/EncodingHelpers.cs
  tracer/test/Datadog.Trace.IntegrationTests/Logging/TracerFlare/TracerFlareApiTests.cs
  tracer/test/Datadog.Trace.TestHelpers/Datadog.Trace.TestHelpers.csproj
  tracer/test/Datadog.Trace.TestHelpers/MockTracerAgent.cs
  tracer/test/Datadog.Trace.TestHelpers/MockTracerResponseType.cs
  tracer/test/Datadog.Trace.Tests/Logging/TracerFlare/TracerFlareRequestFactoryTests.cs
Labels: area:tracer

#4992 Add peer.hostname tag to grpc clients
  docs/span_attribute_schema/v0.md
  docs/span_attribute_schema/v1.md
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/TagListGenerator/GrpcClientTags.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/TagListGenerator/GrpcClientTags.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/TagListGenerator/GrpcClientTags.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/TagListGenerator/GrpcClientTags.g.cs
  tracer/src/Datadog.Trace/Tagging/GrpcTags.cs
  tracer/src/Datadog.Trace/Tags.cs
  tracer/test/Datadog.Trace.TestHelpers/SpanMetadataV0Rules.cs
  tracer/test/Datadog.Trace.TestHelpers/SpanMetadataV1Rules.cs
  tracer/test/Datadog.Trace.Tests/Snapshots/PublicApiTests.Datadog.Trace.PublicApiHasNotChanged.verified.txt
  tracer/test/snapshots/GrpcDotNet.SubmitTraces_httpclient=False.SchemaV0.verified.txt
  tracer/test/snapshots/GrpcDotNet.SubmitTraces_httpclient=False.SchemaV1.verified.txt
  tracer/test/snapshots/GrpcDotNet.SubmitTraces_httpclient=True.SchemaV0.verified.txt
  tracer/test/snapshots/GrpcDotNet.SubmitTraces_httpclient=True.SchemaV1.verified.txt
  tracer/test/snapshots/GrpcLegacy.SubmitTraces_httpclient=False.SchemaV0.verified.txt
  tracer/test/snapshots/GrpcLegacy.SubmitTraces_httpclient=False.SchemaV1.verified.txt
Labels: area:tracer

#5007 Remove SA1010 exclusions
  tracer/src/Datadog.Trace/Logging/Internal/DatadogSerilogLogger.cs
  tracer/src/Datadog.Trace/RemoteConfigurationManagement/RcmSubscriptionManager.cs
Labels: area:tracer, area:builds, area:tools

#5011 [ASM] Fix path params not being all transformed to waf encodable values
  tracer/src/Datadog.Trace/AppSec/Coordinator/SecurityCoordinator.Framework.cs
  tracer/src/Datadog.Trace/AppSec/ObjectExtractor.cs
Labels: area:asm

#5017 Restore log level after tracer flare
  tracer/src/Datadog.Trace/Logging/TracerFlare/TracerFlareManager.cs
Labels: area:tracer

#5036 Temporarily disable the tracer flare functionality
  tracer/src/Datadog.Trace/Logging/TracerFlare/TracerFlareManager.cs
  tracer/src/Datadog.Trace/TracerManagerFactory.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/TracerFlareTests.cs
Labels: area:tracer, area:remote-config

#5032 [CI Visibility] - Update Code Coverage percentage reporting
  .gitignore
  tracer/src/Datadog.Trace.Tools.Runner/RunCiCommand.cs
  tracer/src/Datadog.Trace/Ci/TestModule.cs
Labels: area:ci-visibility

#5015 Add an API to create a suspended process
  tracer/test/Datadog.Trace.TestHelpers.AutoInstrumentation/AspNetCoreTestFixture.cs
  tracer/test/Datadog.Trace.TestHelpers/CustomTestFramework.cs
  tracer/test/Datadog.Trace.TestHelpers/MemoryDumpHelper.cs
  tracer/test/Datadog.Trace.TestHelpers/NativeProcess/CreateProcess.cs
  tracer/test/Datadog.Trace.TestHelpers/NativeProcess/NativeMethods.cs
  tracer/test/Datadog.Trace.TestHelpers/NativeProcess/SuspendedProcess.cs
  tracer/test/Datadog.Trace.TestHelpers/ProfilerHelper.cs
Labels: area:tests

#5037 [IAST] SourceType refactor
  tracer/missing-nullability-files.csv
  tracer/src/Datadog.Trace/Iast/Aspects/System.Web/HttpCookieAspect.cs
  tracer/src/Datadog.Trace/Iast/IastModule.cs
  tracer/src/Datadog.Trace/Iast/IastRequestContext.cs
  tracer/src/Datadog.Trace/Iast/Propagation/PropagationModuleImpl.cs
  tracer/src/Datadog.Trace/Iast/Source.cs
  tracer/src/Datadog.Trace/Iast/SourceConverter.cs
  tracer/src/Datadog.Trace/Iast/SourceType.cs
  tracer/src/Datadog.Trace/Iast/SourceTypeName.cs
  tracer/src/Datadog.Trace/Iast/SourceTypeUtils.cs
  tracer/src/Datadog.Trace/Iast/Telemetry/ExecutedTelemetryHelper.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/IAST/HashBasedDeduplicationTests.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/IAST/IastTelemetryTests.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/IAST/IastUtilsTests.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/IAST/Tainted/DefaultTaintedMapTests.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/IAST/Tainted/TaintedObjectsTests.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/IAST/Tainted/VulnerabilityBatchTests.Bundle.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/IAST/Tainted/VulnerabilityBatchTests.cs
  tracer/test/benchmarks/Benchmarks.Trace/Iast/StringAspectsBenchmark.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/InstrumentationTestsBase.cs
Labels: area:asm, area:asm-iast

#5041 [CI Visibility] - Intelligent Test Runner: reduce overhead of the default branch
  tracer/src/Datadog.Trace.Tools.Runner/RunCiCommand.cs
  tracer/src/Datadog.Trace/Ci/CIVisibility.cs
  tracer/src/Datadog.Trace/Ci/IntelligentTestRunnerClient.cs
Labels: area:ci-visibility

#5029 AutoGenerator bug fixes
  tracer/src/Datadog.AutoInstrumentation.Generator/EditorHelper.cs
  tracer/src/Datadog.AutoInstrumentation.Generator/ViewModels/MainViewModel.Editor.cs
Labels: area:tools

#5039 [CI Visibility] Improve git upload logic
  tracer/src/Datadog.Trace/Ci/IntelligentTestRunnerClient.cs
Labels: area:ci-visibility

#5043 [CI Visibility] - Enable AutomaticDecompression on CI Visibility http clients
  tracer/src/Datadog.Trace.Trimming/build/Datadog.Trace.Trimming.xml
  tracer/src/Datadog.Trace/Ci/CIVisibility.cs
Labels: area:ci-visibility

#5046 Use native debugging for procdump
  tracer/test/Datadog.Trace.TestHelpers/MemoryDumpHelper.cs
Labels: area:tests

#5050 Fix AWS Lambda tests
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AWS/AwsLambdaTests.cs
  tracer/test/snapshots/AwsLambdaTests.verified.txt
  tracer/test/test-applications/integrations/Samples.Amazon.Lambda.RuntimeSupport/Function.cs
Labels: area:tests, area:serverless

#5033 `NullConfigurationSource` should implement `ITelemetredConfigurationSource`
  tracer/src/Datadog.Trace/Configuration/ConfigurationSources/NullConfigurationSource.cs
Labels: area:tracer, area:telemetry

#5040 Reenable tracer flare and handle debug request
  tracer/src/Datadog.Trace/Logging/TracerFlare/TracerFlareManager.cs
  tracer/src/Datadog.Trace/TracerManagerFactory.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/TracerFlareTests.cs
Labels: area:remote-config

#5048 [ASM] Add max concurrent request setting for api sec
  tracer/src/Datadog.Trace/AppSec/ApiSecurity.cs
  tracer/src/Datadog.Trace/AppSec/SecuritySettings.cs
  tracer/src/Datadog.Trace/Configuration/ConfigurationKeys.AppSec.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/config_norm_rules.json
Labels: area:asm

#5060 [CIVisibility] - Add support for GZip compression in Multipart payloads
  tracer/src/Datadog.Trace/Agent/IMultipartApiRequest.cs
  tracer/src/Datadog.Trace/Agent/Transports/ApiWebRequest.cs
  tracer/src/Datadog.Trace/Agent/Transports/GzipCompressedContent.cs
  tracer/src/Datadog.Trace/Agent/Transports/HttpClientRequest.cs
  tracer/src/Datadog.Trace/Agent/Transports/MultipartCompression.cs
  tracer/src/Datadog.Trace/Ci/Agent/CIWriterHttpSender.cs
  tracer/src/Datadog.Trace/Ci/IntelligentTestRunnerClient.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/Agent/CiVisibilityProtocolWriterTests.cs
Labels: area:ci-visibility

#5008 [Build] adds a notification on build end
  tracer/build/_build/Build.cs
  tracer/build/_build/BuildFinishedNotificationAttribute.Windows.cs
  tracer/build/_build/BuildFinishedNotificationAttribute.cs
  tracer/build/_build/_build.csproj
Labels: area:builds

#5042 [Tracer] Update signature parsing in the tracer's native library to account for `ELEMENT_TYPE_PTR` byte
  tracer/src/Datadog.Tracer.Native/clr_helpers.cpp
  tracer/test/Datadog.Tracer.Native.Tests/clr_helper_test.cpp
Labels: type:bug, area:tracer

#5062 Include telemetry data in tracer flare
  tracer/src/Datadog.Trace/Logging/TracerFlare/TracerFlareManager.cs
  tracer/src/Datadog.Trace/Telemetry/Collectors/DependencyTelemetryCollector.cs
  tracer/src/Datadog.Trace/Telemetry/Collectors/IDependencyTelemetryCollector.cs
  tracer/src/Datadog.Trace/Telemetry/Collectors/IntegrationTelemetryCollector.cs
  tracer/src/Datadog.Trace/Telemetry/Collectors/NullDependencyTelemetryCollector.cs
  tracer/src/Datadog.Trace/Telemetry/Collectors/ProductsTelemetryCollector.cs
  tracer/src/Datadog.Trace/Telemetry/ITelemetryController.cs
  tracer/src/Datadog.Trace/Telemetry/NullTelemetryController.cs
  tracer/src/Datadog.Trace/Telemetry/TelemetryController.cs
  tracer/src/Datadog.Trace/TracerManagerFactory.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/TracerFlareTests.cs
  tracer/test/Datadog.Trace.Tests/Logging/TracerFlare/TracerFlareManagerTests.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/CallTargetInvokerTelemetryTests.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/TelemetryControllerTests.cs
Labels: type:enhancement, area:remote-config

#5075 Fix failing GraphQL tests on .NET Core 2.1 on alpine
  tracer/test/test-applications/integrations/Samples.GraphQL/Samples.GraphQL.csproj
  tracer/test/test-applications/integrations/Samples.HotChocolate/Samples.HotChocolate.csproj
Labels: area:builds, area:tests

#4981 [ASM] IAST Header injection vulnerability detection.
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/IastInstrumentedSinksExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/IastInstrumentedSinksExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/IastInstrumentedSinksExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/IastInstrumentedSinksExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Iast/CookieAnalyzer.cs
  tracer/src/Datadog.Trace/Iast/IastModule.cs
  tracer/src/Datadog.Trace/Iast/ReturnedHeadersAnalyzer.cs
  tracer/src/Datadog.Trace/Iast/SensitiveData/EvidenceRedactor.cs
  tracer/src/Datadog.Trace/Iast/SensitiveData/HeaderInjectionTokenizer.cs
  tracer/src/Datadog.Trace/Iast/Telemetry/ExecutedTelemetryHelper.cs
  tracer/src/Datadog.Trace/Iast/VulnerabilityBatch.cs
  tracer/src/Datadog.Trace/Iast/VulnerabilityType.cs
  tracer/src/Datadog.Trace/Iast/VulnerabilityTypeName.cs
  tracer/src/Datadog.Trace/Telemetry/Metrics/MetricTags.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/IAST/AspNetCore2IastTests.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/IAST/AspNetCore5IastTests.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/IAST/AspNetMvc5IastTests.cs
  tracer/test/snapshots/Iast.CookieName.AspNetCore5.TelemetryEnabled.verified.txt
  tracer/test/snapshots/Iast.HeaderInjection.AspNetCore2.NotVuln.IastDisabled.verified.txt
  tracer/test/snapshots/Iast.HeaderInjection.AspNetCore2.Vuln.SensitiveValue.RedactionEnabled.verified.txt
  tracer/test/snapshots/Iast.HeaderInjection.AspNetCore2.Vuln.SensitiveValue.verified.txt
  tracer/test/snapshots/Iast.HeaderInjection.AspNetCore5.NotVuln.IastDisabled.verified.txt
  tracer/test/snapshots/Iast.HeaderInjection.AspNetCore5.NotVuln.origin.IastDisabled.verified.txt
  tracer/test/snapshots/Iast.HeaderInjection.AspNetCore5.NotVuln.origin.verified.txt
  tracer/test/snapshots/Iast.HeaderInjection.AspNetCore5.NotVuln.verified.txt
  tracer/test/snapshots/Iast.HeaderInjection.AspNetCore5.Vuln.Cookie.SensitiveValue.RedactionEnabled.verified.txt
  tracer/test/snapshots/Iast.HeaderInjection.AspNetCore5.Vuln.Cookie.SensitiveValue.verified.txt
  tracer/test/snapshots/Iast.HeaderInjection.AspNetCore5.Vuln.MultipleHeaderValues.RedactionEnabled.verified.txt
  tracer/test/snapshots/Iast.HeaderInjection.AspNetCore5.Vuln.MultipleHeaderValues.verified.txt
  tracer/test/snapshots/Iast.HeaderInjection.AspNetCore5.Vuln.NoSensitive.RedactionEnabled.verified.txt
  tracer/test/snapshots/Iast.HeaderInjection.AspNetCore5.Vuln.NoSensitive.verified.txt
  tracer/test/snapshots/Iast.HeaderInjection.AspNetCore5.Vuln.Origin.RedactionEnabled.verified.txt
  tracer/test/snapshots/Iast.HeaderInjection.AspNetCore5.Vuln.Origin.verified.txt
  tracer/test/snapshots/Iast.HeaderInjection.AspNetCore5.Vuln.SensitiveName.RedactionEnabled.verified.txt
  tracer/test/snapshots/Iast.HeaderInjection.AspNetCore5.Vuln.SensitiveName.verified.txt
  tracer/test/snapshots/Iast.HeaderInjection.AspNetCore5.Vuln.SensitiveValue.RedactionEnabled.verified.txt
  tracer/test/snapshots/Iast.HeaderInjection.AspNetCore5.Vuln.SensitiveValue.verified.txt
  tracer/test/snapshots/Iast.HeaderInjection.AspNetCore5.Vuln.SensitiveValueComplex.RedactionEnabled.verified.txt
  tracer/test/snapshots/Iast.HeaderInjection.AspNetCore5.Vuln.SensitiveValueComplex.verified.txt
  tracer/test/snapshots/Iast.HeaderInjection.AspNetMvc.NotVuln.origin.verified.txt
  tracer/test/snapshots/Iast.HeaderInjection.AspNetMvc.NotVuln.verified.txt
  tracer/test/snapshots/Iast.HeaderInjection.AspNetMvc.Vuln.Cookie.SensitiveValue.verified.txt
  tracer/test/snapshots/Iast.HeaderInjection.AspNetMvc.Vuln.MultipleHeaderValues.verified.txt
  tracer/test/snapshots/Iast.HeaderInjection.AspNetMvc.Vuln.NoSensitive.verified.txt
  tracer/test/snapshots/Iast.HeaderInjection.AspNetMvc.Vuln.Origin.verified.txt
  tracer/test/snapshots/Iast.HeaderInjection.AspNetMvc.Vuln.SensitiveName.verified.txt
  tracer/test/snapshots/Iast.HeaderInjection.AspNetMvc.Vuln.SensitiveValue.verified.txt
  tracer/test/snapshots/Iast.HeaderInjection.AspNetMvc.Vuln.SensitiveValueComplex.verified.txt
  tracer/test/snapshots/Iast.PathTraversal.AspNetCore2.TelemetryEnabled.verified.txt
  tracer/test/snapshots/Iast.PathTraversal.AspNetCore5.TelemetryEnabled.verified.txt
  tracer/test/test-applications/security/Samples.Security.AspNetCore5/Controllers/IastController.cs
  tracer/test/test-applications/security/Samples.Security.AspNetCore5/Views/Home/Index.cshtml
  tracer/test/test-applications/security/aspnet/Samples.Security.AspNetMvc5/Controllers/IastController.cs
  tracer/test/test-applications/security/aspnet/Samples.Security.AspNetMvc5/Views/Home/Index.cshtml
Labels: area:asm, area:asm-iast

#5069 Fix BenchmarkTests civisibility reporting
  tracer/test/benchmarks/Benchmarks.Trace/Iast/StringAspectsBenchmark.cs
Labels: area:builds, area:tests

#5056 Minor CI fixes
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/CIVisibilityTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/TracerFlareTests.cs
  tracer/test/Datadog.Trace.TestHelpers/SerializableDictionary.cs
Labels: area:tests

#5080 Fix trimming file
  tracer/src/Datadog.Trace.Trimming/build/Datadog.Trace.Trimming.xml
Labels: area:builds

#5079 Shorting the symbol extractor tests approval names
  tracer/test/Datadog.Trace.Tests/Debugger/SymbolsTests/SymbolExtractor/Approvals/SymbolExtractorTest.AsyncMethod.verified.txt
  tracer/test/Datadog.Trace.Tests/Debugger/SymbolsTests/SymbolExtractor/Approvals/SymbolExtractorTest.ComprehensiveLinqWithClosure.verified.txt
  tracer/test/Datadog.Trace.Tests/Debugger/SymbolsTests/SymbolExtractor/Approvals/SymbolExtractorTest.ComprehensiveLinqWithoutClosure.verified.txt
  tracer/test/Datadog.Trace.Tests/Debugger/SymbolsTests/SymbolExtractor/Approvals/SymbolExtractorTest.Datadog.Trace.Tests.Datadog.Trace.Tests.Debugger.SymbolsTests.TestSamples.MultipleClosuresMultipleHoisted.verified.txt
  tracer/test/Datadog.Trace.Tests/Debugger/SymbolsTests/SymbolExtractor/Approvals/SymbolExtractorTest.EmptyType.verified.txt
  tracer/test/Datadog.Trace.Tests/Debugger/SymbolsTests/SymbolExtractor/Approvals/SymbolExtractorTest.HoistedAndNotHoistedLocals.verified.txt
  tracer/test/Datadog.Trace.Tests/Debugger/SymbolsTests/SymbolExtractor/Approvals/SymbolExtractorTest.HoistedLocalsAndArgsInStateMachine.verified.txt
  tracer/test/Datadog.Trace.Tests/Debugger/SymbolsTests/SymbolExtractor/Approvals/SymbolExtractorTest.LambdaWithClosure.verified.txt
  tracer/test/Datadog.Trace.Tests/Debugger/SymbolsTests/SymbolExtractor/Approvals/SymbolExtractorTest.LambdaWithFieldClosure.verified.txt
  tracer/test/Datadog.Trace.Tests/Debugger/SymbolsTests/SymbolExtractor/Approvals/SymbolExtractorTest.LambdaWithStaticFieldClosure.verified.txt
  tracer/test/Datadog.Trace.Tests/Debugger/SymbolsTests/SymbolExtractor/Approvals/SymbolExtractorTest.LambdaWithoutClosure.verified.txt
  tracer/test/Datadog.Trace.Tests/Debugger/SymbolsTests/SymbolExtractor/Approvals/SymbolExtractorTest.LocalConstants.verified.txt
  tracer/test/Datadog.Trace.Tests/Debugger/SymbolsTests/SymbolExtractor/Approvals/SymbolExtractorTest.LocalFunctionWithClosure.verified.txt
  tracer/test/Datadog.Trace.Tests/Debugger/SymbolsTests/SymbolExtractor/Approvals/SymbolExtractorTest.LocalFunctionWithoutClosure.verified.txt
  tracer/test/Datadog.Trace.Tests/Debugger/SymbolsTests/SymbolExtractor/Approvals/SymbolExtractorTest.MultipleClosuresMultipleHoisted.verified.txt
  tracer/test/Datadog.Trace.Tests/Debugger/SymbolsTests/SymbolExtractor/Approvals/SymbolExtractorTest.MultipleHoistedLocals.verified.txt
  tracer/test/Datadog.Trace.Tests/Debugger/SymbolsTests/SymbolExtractor/Approvals/SymbolExtractorTest.MultipleHoistedLocalsInStateMachine.verified.txt
  tracer/test/Datadog.Trace.Tests/Debugger/SymbolsTests/SymbolExtractor/Approvals/SymbolExtractorTest.MultipleScopes.verified.txt
  tracer/test/Datadog.Trace.Tests/Debugger/SymbolsTests/SymbolExtractor/Approvals/SymbolExtractorTest.NestedFluentLinq.verified.txt
  tracer/test/Datadog.Trace.Tests/Debugger/SymbolsTests/SymbolExtractor/Approvals/SymbolExtractorTest.PartialClass.verified.txt
  tracer/test/Datadog.Trace.Tests/Debugger/SymbolsTests/SymbolExtractor/Approvals/SymbolExtractorTest.SameLocalNameDifferentScope.verified.txt
  tracer/test/Datadog.Trace.Tests/Debugger/SymbolsTests/SymbolExtractorTest.cs
Labels: area:tests

#5077 Update some Github docs
  .github/ISSUE_TEMPLATE/config.yml
  docs/MIGRATING.md
  docs/SECURITY.md
Labels: area:builds

#5084 Ignore TestPlatform SDK assembly resolve error from CI CheckBuildLogs
  tracer/build/_build/Build.Steps.cs
Labels: area:builds

#5053 Disable remote configuration in Serverless and CI scenarios
  tracer/src/Datadog.Trace/Ci/CITracerManagerFactory.cs
  tracer/src/Datadog.Trace/ClrProfiler/Instrumentation.cs
  tracer/src/Datadog.Trace/Configuration/ImmutableTracerSettings.cs
  tracer/src/Datadog.Trace/Configuration/NullDynamicConfigurationManager.cs
  tracer/src/Datadog.Trace/Debugger/LiveDebuggerFactory.cs
  tracer/src/Datadog.Trace/Logging/TracerFlare/NullTracerFlareManager.cs
  tracer/src/Datadog.Trace/RemoteConfigurationManagement/NullRemoteConfigurationManager.cs
  tracer/src/Datadog.Trace/TracerManager.cs
  tracer/src/Datadog.Trace/TracerManagerFactory.cs
  tracer/test/Datadog.Trace.Tests/TracerManagerFactoryTests.cs
Labels: type:refactor, type:performance, area:remote-config

#5013 [tracer] match sampling rules by resource name and span tags
  tracer/src/Datadog.Trace/Sampling/CustomSamplingRule.cs
  tracer/src/Datadog.Trace/Sampling/RegexBuilder.cs
  tracer/src/Datadog.Trace/Sampling/SamplingRuleHelper.cs
  tracer/src/Datadog.Trace/Sampling/SpanSamplingRule.cs
  tracer/test/Datadog.Trace.Tests/Sampling/CustomSamplingRuleGlobTests.cs
  tracer/test/Datadog.Trace.Tests/Sampling/CustomSamplingRuleRegexTests.cs
  tracer/test/Datadog.Trace.Tests/Sampling/SpanSamplerTests.cs
  tracer/test/Datadog.Trace.Tests/Sampling/SpanSamplingRuleTests.cs
  tracer/test/Datadog.Trace.Tests/Sampling/TestSpans.cs
  tracer/test/Datadog.Trace.Tests/Sampling/TraceSamplerTests.cs
Labels: type:enhancement, area:tracer

#5088 [CIVisibility] TestPlatform AssemblyResolver .ctor integration
  tracer/build/_build/Build.Steps.cs
  tracer/build/_build/Honeypot/IntegrationGroups.cs
  tracer/src/Datadog.Trace.Trimming/build/Datadog.Trace.Trimming.xml
  tracer/src/Datadog.Trace/Ci/IntelligentTestRunnerClient.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/AssemblyResolverCtorIntegration.cs
  tracer/src/Datadog.Trace/Configuration/IntegrationId.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/IntegrationIdExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/CiVisibilityMetricsTelemetryCollector_CountShared.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_CountShared.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/IntegrationIdExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/CiVisibilityMetricsTelemetryCollector_CountShared.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_CountShared.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/IntegrationIdExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/CiVisibilityMetricsTelemetryCollector_CountShared.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_CountShared.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/IntegrationIdExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/CiVisibilityMetricsTelemetryCollector_CountShared.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_CountShared.g.cs
  tracer/src/Datadog.Trace/Telemetry/Metrics/IntegrationIdExtensions.cs
  tracer/src/Datadog.Trace/Telemetry/Metrics/MetricTags.cs
Labels: area:ci-visibility

#5090 Disable code coverage unless forced
  .azure-pipelines/ultimate-pipeline.yml
Labels: area:builds

#5095 Skip debugger `SymbolExtractorTest` tests
  tracer/test/Datadog.Trace.Tests/Debugger/SymbolsTests/SymbolExtractorTest.cs
Labels: area:tests, area:debugger

#5064 [IAST] Dani/asm/small string cache bugfix
  tracer/src/Datadog.Trace/Iast/TaintedObjects.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/IAST/Tainted/TaintedObjectsTests.cs
Labels: type:bug, area:asm, area:asm-iast

#5054 [SLES-1357] set exception on the aws.lambda span
  docker-compose.yml
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/Lambda/LambdaCommon.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AWS/AwsLambdaTests.cs
  tracer/test/Datadog.Trace.TestHelpers/MockLambdaExtension.cs
  tracer/test/snapshots/AwsLambdaTests.verified.txt
Labels: area:integrations

#5099 [Dynamic Instrumentation] Made the captured members size flexible due to `IndexOutOfRangeException`
  tracer/src/Datadog.Trace/Debugger/Expressions/MethodScopeMembers.cs
Labels: area:tracer, area:debugger

#5067 [ASM] Stack trace leak vulnerability detection
  tracer/build/_build/Honeypot/IntegrationGroups.cs
  tracer/src/Datadog.Trace.Trimming/build/Datadog.Trace.Trimming.xml
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/StackTraceLeak/DeveloperExceptionPageMiddlewareIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/StackTraceLeak/DeveloperExceptionPageMiddlewareIntegration_Pre_3_0_0.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/StackTraceLeak/HttpResponseIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/StackTraceLeak/StackTraceLeakIntegrationCommon.cs
  tracer/src/Datadog.Trace/ClrProfiler/ClrNames.cs
  tracer/src/Datadog.Trace/Configuration/IntegrationId.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/IastInstrumentedSinksExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/IntegrationIdExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/CiVisibilityMetricsTelemetryCollector_CountShared.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_CountShared.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/IastInstrumentedSinksExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/IntegrationIdExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/CiVisibilityMetricsTelemetryCollector_CountShared.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_CountShared.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/IastInstrumentedSinksExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/IntegrationIdExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/CiVisibilityMetricsTelemetryCollector_CountShared.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_CountShared.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/IastInstrumentedSinksExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/IntegrationIdExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/CiVisibilityMetricsTelemetryCollector_CountShared.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_CountShared.g.cs
  tracer/src/Datadog.Trace/Iast/IastModule.cs
  tracer/src/Datadog.Trace/Iast/StackWalker.cs
  tracer/src/Datadog.Trace/Iast/Telemetry/ExecutedTelemetryHelper.cs
  tracer/src/Datadog.Trace/Iast/VulnerabilityType.cs
  tracer/src/Datadog.Trace/Iast/VulnerabilityTypeName.cs
  tracer/src/Datadog.Trace/Telemetry/Metrics/IntegrationIdExtensions.cs
  tracer/src/Datadog.Trace/Telemetry/Metrics/MetricTags.cs
  tracer/test/Datadog.Trace.ClrProfiler.Managed.Tests/TypeNameTests.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/IAST/AspNetCore2IastTests.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/IAST/AspNetCore5IastTests.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/IAST/AspNetMvc5IastTests.cs
  tracer/test/snapshots/Iast.StackTraceLeak.AspNetCore2.verified.txt
  tracer/test/snapshots/Iast.StackTraceLeak.AspNetCore5.NotVulnerable.verified.txt
  tracer/test/snapshots/Iast.StackTraceLeak.AspNetCore5.verified.txt
  tracer/test/snapshots/Iast.StackTraceLeak.AspNetMvc5.IastEnabled.verified.txt
  tracer/test/test-applications/security/Samples.Security.AspNetCore5/Controllers/IastController.cs
  tracer/test/test-applications/security/Samples.Security.AspNetCore5/Views/Home/Index.cshtml
  tracer/test/test-applications/security/aspnet/Samples.Security.AspNetMvc5/Controllers/IastController.cs
  tracer/test/test-applications/security/aspnet/Samples.Security.AspNetMvc5/Views/Home/Index.cshtml
Labels: area:asm, area:asm-iast

#5111 [CI Visibility] - Add intelligent test runner CorrelationId support
  tracer/src/Datadog.Trace/Ci/Agent/MessagePack/SpanMessagePackFormatter.cs
  tracer/src/Datadog.Trace/Ci/CIVisibility.cs
  tracer/src/Datadog.Trace/Ci/IntelligentTestRunnerClient.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/MsTestV2EvpTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/NUnitEvpTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/XUnitEvpTests.cs
  tracer/test/Datadog.Trace.TestHelpers/Ci/MockCIVisibilityTest.cs
  tracer/test/Datadog.Trace.TestHelpers/MockTracerAgent.cs
Labels: area:ci-visibility

#5114 [CI Visibility] - Add support for event proxy v4 endpoint (gzip support)
  tracer/src/Datadog.Trace/Agent/DiscoveryService/DiscoveryService.cs
  tracer/src/Datadog.Trace/Ci/Agent/CIWriterHttpSender.cs
  tracer/src/Datadog.Trace/Ci/Agent/Payloads/CICodeCoveragePayload.cs
  tracer/src/Datadog.Trace/Ci/Agent/Payloads/EventPlatformPayload.cs
  tracer/src/Datadog.Trace/Ci/CIVisibility.cs
  tracer/src/Datadog.Trace/Ci/EventPlatformProxySupport.cs
  tracer/src/Datadog.Trace/Ci/IntelligentTestRunnerClient.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/MsTestV2EvpTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/MsTestV2Tests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/NUnitEvpTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/NUnitTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/XUnitEvpTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/XUnitTests.cs
  tracer/test/Datadog.Trace.TestHelpers/MockTracerAgent.cs
  tracer/test/Datadog.Trace.Tests/Agent/DiscoveryServiceTests.cs
  tracer/test/Datadog.Trace.Tools.Runner.IntegrationTests/BaseRunCommandTests.cs
Labels: area:ci-visibility

#5116 [ASM][IAST] Test IAST enum
  tracer/test/Datadog.Trace.Security.Unit.Tests/Datadog.Trace.Security.Unit.Tests.csproj
  tracer/test/Datadog.Trace.Security.Unit.Tests/IAST/Tainted/VulnerabilitiesEnumTests.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/IAST/Tainted/vulnerability_schema.json
Labels: area:tests, area:asm

#4884 [ASM] Fix of Context's disposing too early + new encoder's limits bug
  tracer/missing-nullability-files.csv
  tracer/src/Datadog.Trace/AppSec/Coordinator/SecurityCoordinator.Reporter.cs
  tracer/src/Datadog.Trace/AppSec/Security.cs
  tracer/src/Datadog.Trace/AppSec/SecuritySettings.cs
  tracer/src/Datadog.Trace/AppSec/Waf/Context.cs
  tracer/src/Datadog.Trace/AppSec/Waf/Initialization/WafConfigurator.cs
  tracer/src/Datadog.Trace/AppSec/Waf/NativeBindings/DdwafObjectStruct.cs
  tracer/src/Datadog.Trace/AppSec/Waf/NativeBindings/WafLibraryInvoker.cs
  tracer/src/Datadog.Trace/AppSec/Waf/ReturnTypes.Managed/DiagnosticResult.cs
  tracer/src/Datadog.Trace/AppSec/Waf/ReturnTypes.Managed/DiagnosticResultUtils.cs
  tracer/src/Datadog.Trace/AppSec/Waf/ReturnTypes.Managed/InitResult.cs
  tracer/src/Datadog.Trace/AppSec/Waf/ReturnTypes.Managed/UpdateResult.cs
  tracer/src/Datadog.Trace/AppSec/Waf/Waf.cs
  tracer/src/Datadog.Trace/AppSec/WafEncoding/Encoder.cs
  tracer/src/Datadog.Trace/AppSec/WafEncoding/EncoderLegacy.cs
  tracer/src/Datadog.Trace/AppSec/WafEncoding/IEncodeResult.cs
  tracer/src/Datadog.Trace/AppSec/WafEncoding/IEncoder.cs
  tracer/src/Datadog.Trace/AppSec/WafEncoding/Obj.cs
  tracer/src/Datadog.Trace/AppSec/WafEncoding/ObjType.cs
  tracer/src/Datadog.Trace/Configuration/ConfigurationKeys.AppSec.cs
  tracer/src/Datadog.Trace/TracerManager.cs
  tracer/src/Datadog.Trace/Util/UnmanagedMemoryPool.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/ContextTests.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/EncoderUnitTests.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/FuzzEncoder.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/LegacyEncoderUnitTests.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/WafMemoryTests.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/WafTests.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/WafUpdateTests.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/config_norm_rules.json
  tracer/test/Datadog.Trace.Tests/Util/UnmanagedMemoryPoolTests.cs
Labels: area:asm

#5117 [Build] Update the ubuntu Microsoft-hosted agents
  .azure-pipelines/ultimate-pipeline.yml
Labels: area:builds

#4995 [ASM][IAST] MongoDB Integration
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/AspectsDefinitionsGenerator/AspectsDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/IastInstrumentedSinksExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/AspectsDefinitionsGenerator/AspectsDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/IastInstrumentedSinksExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/AspectsDefinitionsGenerator/AspectsDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/IastInstrumentedSinksExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/AspectsDefinitionsGenerator/AspectsDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/IastInstrumentedSinksExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Iast/Aspects/MongoDB/BsonAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/MongoDB/DuckTyping/BsonDocumentCommandStruct.cs
  tracer/src/Datadog.Trace/Iast/Aspects/MongoDB/DuckTyping/JsonCommandStruct.cs
  tracer/src/Datadog.Trace/Iast/Aspects/MongoDB/MongoDatabaseAspect.cs
  tracer/src/Datadog.Trace/Iast/Helpers/MongoDbHelper.cs
  tracer/src/Datadog.Trace/Iast/IastModule.cs
  tracer/src/Datadog.Trace/Iast/SensitiveData/EvidenceRedactor.cs
  tracer/src/Datadog.Trace/Iast/SensitiveData/JsonTokenizer.cs
  tracer/src/Datadog.Trace/Iast/Telemetry/ExecutedTelemetryHelper.cs
  tracer/src/Datadog.Trace/Iast/VulnerabilityType.cs
  tracer/src/Datadog.Trace/Iast/VulnerabilityTypeName.cs
  tracer/src/Datadog.Trace/Telemetry/Metrics/MetricTags.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/IAST/AspNetCore5IastTests.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/IAST/IastInstrumentationUnitTests.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/IAST/Tainted/evidence-redaction-suite.yml
  tracer/test/snapshots/Iast.NoSqlMongoDbInjection.AspNetCore5.IastDisabled.verified.txt
  tracer/test/snapshots/Iast.NoSqlMongoDbInjection.AspNetCore5.IastEnabled.RedactionEnabled.verified.txt
  tracer/test/snapshots/Iast.NoSqlMongoDbInjection.AspNetCore5.IastEnabled.verified.txt
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Samples.InstrumentedTests.csproj
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/InstrumentationTestsBase.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/NosqlInjection/DatabaseHelper/MockMongoDb.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/NosqlInjection/MongoDbTests.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/SqlInjection/DabaseHelpers/SqlDDBBCreator.cs
  tracer/test/test-applications/security/Samples.Security.AspNetCore2/Samples.Security.AspNetCore2.csproj
  tracer/test/test-applications/security/Samples.Security.AspNetCore5/Controllers/IastController.cs
  tracer/test/test-applications/security/Samples.Security.AspNetCore5/Data/MockMongoDb.cs
  tracer/test/test-applications/security/Samples.Security.AspNetCore5/Data/MongoDbHelper.cs
  tracer/test/test-applications/security/Samples.Security.AspNetCore5/Samples.Security.AspNetCore5.csproj
  tracer/test/test-applications/security/Samples.Security.AspNetCore5/Views/Home/Index.cshtml
Labels: area:asm

#5092 Make MessagePack compatible with AOT compilation
  tracer/src/Datadog.Trace/Datadog.Trace.csproj
  tracer/test/Datadog.Trace.Tests/Agent/MessagePack/SpanMessagePackFormatterTests.cs
Labels: area:tracer

#5122 Fix JSON.NET warnings for NativeAOT
  tracer/src/Datadog.Trace.Trimming/build/Datadog.Trace.Trimming.xml
  tracer/src/Datadog.Trace/Datadog.Trace.csproj
Labels: area:tracer

#5124 [ASM] Prevent null references: harden ControllerExtensions integration
  tracer/missing-nullability-files.csv
  tracer/src/Datadog.Trace/AppSec/ControllerContextExtensions.Framework.cs
  tracer/test/snapshots/Security.AspNetMvc5.TelemetryEnabled.Classic.enableIast=true.path=_Iast_GetFileContent-file=nonexisting.txt.verified.txt
Labels: area:asm

#5123 [ASM] Fix flaky test
  tracer/src/Datadog.Trace.Trimming/build/Datadog.Trace.Trimming.xml
  tracer/src/Datadog.Trace/Iast/SensitiveData/EvidenceRedactor.cs
  tracer/src/Datadog.Trace/Iast/SensitiveData/HeaderInjectionTokenizer.cs
  tracer/src/Datadog.Trace/Iast/SensitiveData/LdapTokenizer.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/IAST/Tainted/RedactionTests.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/IAST/Tainted/Utils.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/IAST/Tainted/VulnerabilityBatchTests.Bundle.cs
Labels: area:asm, area:asm-iast
