Repository DataDog/dd-trace-dotnet, pull requests merged in 2025-04, with the labels that each got.

#6799 Propagate context for some stored procedures
  docs/development/StoredProcedureInjection.md
  tracer/missing-nullability-files.csv
  tracer/src/Datadog.Trace.Trimming/build/Datadog.Trace.Trimming.xml
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AdoNet/DbScopeFactory.cs
  tracer/src/Datadog.Trace/Configuration/ConfigurationKeys.cs
  tracer/src/Datadog.Trace/Configuration/TracerSettings.cs
  tracer/src/Datadog.Trace/DatabaseMonitoring/DatabaseMonitoringPropagator.cs
  tracer/src/Datadog.Trace/DatabaseMonitoring/MultiPartIdentifier.cs
  tracer/src/Datadog.Trace/DatabaseMonitoring/VendoredSqlHelpers.cs
  tracer/src/Datadog.Trace/TracerManager.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AdoNet/SystemDataSqlClientTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.Managed.Tests/AutoInstrumentation/AdoNet/MockDbCommands.cs
  tracer/test/Datadog.Trace.ClrProfiler.Managed.Tests/DbScopeFactoryTests.cs
  tracer/test/Datadog.Trace.Tests/DatabaseMonitoring/DatabaseMonitoringPropagatorTests.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/config_norm_rules.json
  tracer/test/snapshots/SystemDataSqlClientTests.tagged.nostoredproc.SchemaV0.verified.txt
  tracer/test/snapshots/SystemDataSqlClientTests.tagged.nostoredproc.SchemaV1.verified.txt
  tracer/test/snapshots/SystemDataSqlClientTests.tagged.storedproc.SchemaV0.verified.txt
  tracer/test/snapshots/SystemDataSqlClientTests.tagged.storedproc.SchemaV1.verified.txt
  tracer/test/snapshots/SystemDataSqlClientTests.untagged.nostoredproc.SchemaV0.verified.txt
  tracer/test/snapshots/SystemDataSqlClientTests.untagged.nostoredproc.SchemaV1.verified.txt
  tracer/test/snapshots/SystemDataSqlClientTests.untagged.storedproc.SchemaV0.verified.txt
  tracer/test/snapshots/SystemDataSqlClientTests.untagged.storedproc.SchemaV1.verified.txt
  tracer/test/test-applications/integrations/Samples.SqlServer/Program.cs
  tracer/test/test-applications/integrations/Samples.SqlServer/Samples.SqlServer.csproj
  tracer/test/test-applications/integrations/Samples.SqlServer/StoredProcedures.cs
Labels: area:integrations

#6812 Skip StackExchange test on timeout exception
  tracer/test/test-applications/integrations/Samples.StackExchange.Redis/Program.cs
Labels: area:tests

#6809 Disable inlining in Samples.InstrumentedTests
  tracer/test/Datadog.Trace.Security.IntegrationTests/IAST/IastInstrumentationUnitTests.cs
Labels: area:tests

#6806 Avoid IAST SqlLite tests flakyness
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/SqlInjection/EFCoreBaseTests.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/SqlInjection/EFCoreSqliteTests.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/SqlInjection/EFCoreTests.cs
Labels: area:tests

#6775 DynamoDB Span Pointers for Update Item and Delete Item
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/DynamoDb/AwsDynamoDbCommon.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/DynamoDb/DeleteItemAsyncIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/DynamoDb/DeleteItemIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/DynamoDb/IAmazonDynamoDbRequestWithKnownKeys.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/DynamoDb/UpdateItemAsyncIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/DynamoDb/UpdateItemIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/Shared/SpanPointers.cs
  tracer/test/Datadog.Trace.ClrProfiler.Managed.Tests/AutoInstrumentation/AWS/Shared/SpanPointersTests.cs
  tracer/test/snapshots/AwsDynamoDbTests.NetCore.SchemaV0.verified.txt
  tracer/test/snapshots/AwsDynamoDbTests.NetCore.SchemaV1.verified.txt
Labels: type:new-feature, area:integrations

#6831 [Profiler] Fix integration tests build
  profiler/test/Datadog.Profiler.IntegrationTests/Datadog.Profiler.IntegrationTests.csproj
Labels: area:profiler

#6787 Replace AWS ARM64 graviton images with Azure Managed DevOps pools
  .azure-pipelines/steps/make-artifacts-uploadable.yml
  .azure-pipelines/steps/run-snapshot-test.yml
  .azure-pipelines/ultimate-pipeline.yml
  docker-compose.yml
Labels: area:builds

#6281 [Dynamic Instrumentation] DEBUG-3105 Add code origin for entry spans
  tracer/src/Datadog.Trace/Debugger/Caching/ConcurrentAdaptiveCache.cs
  tracer/src/Datadog.Trace/Debugger/SpanCodeOrigin/EndpointDetector.cs
  tracer/src/Datadog.Trace/Debugger/SpanCodeOrigin/SpanCodeOriginManager.cs
  tracer/src/Datadog.Trace/DiagnosticListeners/AspNetCoreDiagnosticObserver.cs
  tracer/src/Datadog.Trace/DiagnosticListeners/RequestDelegate.cs
  tracer/src/Datadog.Trace/DiagnosticListeners/RouteEndpoint.cs
  tracer/src/Datadog.Trace/DiagnosticListeners/Target.cs
  tracer/src/Datadog.Trace/PDBs/DatadogMetadataReader.Dnlib.cs
  tracer/src/Datadog.Trace/PDBs/DatadogMetadataReader.cs
  tracer/src/Datadog.Trace/Tracer.cs
  tracer/test/Datadog.Trace.IntegrationTests/DiagnosticListeners/AspNetCoreDiagnosticObserverTests.cs
  tracer/test/Datadog.Trace.Tests/Datadog.Trace.Tests.csproj
  tracer/test/Datadog.Trace.Tests/Debugger/EndpointDetectorTests.cs
  tracer/test/Datadog.Trace.Tests/Debugger/SpanCodeOriginTests.cs
  tracer/test/Datadog.Trace.Tests/DiagnosticListeners/AspNetCoreDiagnosticObserverTests.cs
Labels: area:debugger

#6832 Add reference to DiffPlex and use for Verify test comparisons.
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/Datadog.Trace.ClrProfiler.IntegrationTests.csproj
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Datadog.Trace.Debugger.IntegrationTests.csproj
  tracer/test/Datadog.Trace.Security.IntegrationTests/Datadog.Trace.Security.IntegrationTests.csproj
  tracer/test/Datadog.Trace.TestHelpers.SharedSource/VerifyHelper.cs
  tracer/test/Datadog.Trace.Tests/Datadog.Trace.Tests.csproj
  tracer/test/Datadog.Trace.Tools.Runner.ArtifactTests/Datadog.Trace.Tools.Runner.ArtifactTests.csproj
  tracer/test/Datadog.Trace.Tools.Runner.IntegrationTests/Datadog.Trace.Tools.Runner.IntegrationTests.csproj
  tracer/test/Datadog.Trace.Tools.Runner.Tests/Datadog.Trace.Tools.Runner.Tests.csproj
  tracer/test/Datadog.Trace.Tools.dd_dotnet.ArtifactTests/Datadog.Trace.Tools.dd_dotnet.ArtifactTests.csproj
  tracer/test/Datadog.Trace.Tools.dd_dotnet.IntegrationTests/Datadog.Trace.Tools.dd_dotnet.IntegrationTests.csproj
  tracer/test/Datadog.Trace.Tools.dd_dotnet.Tests/Datadog.Trace.Tools.dd_dotnet.Tests.csproj
Labels: area:builds, area:tests

#6820 Add area filter to the pipeline
  .azure-pipelines/ultimate-pipeline.yml
  tracer/build/_build/Build.Steps.cs
  tracer/build/_build/Build.VariableGenerations.cs
  tracer/build/_build/Build.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AssemblyInfo.cs
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/AssemblyInfo.cs
  tracer/test/Datadog.Trace.IntegrationTests/AssemblyInfo.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/AssemblyInfo.cs
  tracer/test/Datadog.Trace.Tools.Runner.IntegrationTests/AssemblyInfo.cs
  tracer/test/Datadog.Trace.Tools.dd_dotnet.IntegrationTests/AssemblyInfo.cs
Labels: area:builds

#6833 Fix system-test testing issue when there are failures
  .azure-pipelines/ultimate-pipeline.yml
Labels: area:builds

#6837 [ASM] Update waf version to v1.24.1
  tracer/build/_build/Build.Steps.cs
  tracer/build/smoke_test_snapshots/smoke_test_iis_snapshots.json
  tracer/build/smoke_test_snapshots/smoke_test_snapshots.json
  tracer/build/smoke_test_snapshots/smoke_test_snapshots_2_1.json
  tracer/test/snapshots/Security.AspNetCore5AsmInitializationSecurityEnabled.TestSecurityInitialization.verified.txt
  tracer/test/snapshots/Security.AspNetCore5AsmInitializationSecurityEnabledWithBadRuleset.TestSecurityInitialization.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5AsmData.Classic.enableSecurity=True.__test=blocking-ips_url=_.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5AsmData.Integrated.enableSecurity=True.__test=blocking-ips_url=_.verified.txt
  tracer/test/snapshots/Security.AspNetWebApiAsmData.Classic.enableSecurity=True.__test=blocking-user_url=_api_user.verified.txt
  tracer/test/snapshots/Security.AspNetWebApiAsmData.Integrated.enableSecurity=True.__test=blocking-ips_url=_api_health.verified.txt
  tracer/test/snapshots/Security.AspNetWebFormsAsmData.Classic.enableSecurity=True.__test=blocking-user_url=_user.verified.txt
  tracer/test/snapshots/Security.AspNetWebFormsAsmData.Integrated.enableSecurity=True.__test=blocking-ips_url=_default.aspx.verified.txt
Labels: area:asm, area:asm-waf-update

#6838 Parallel Linux integration tests in the CI
  .azure-pipelines/ultimate-pipeline.yml
  tracer/build/_build/Build.VariableGenerations.cs
Labels: area:builds

#6733 [ASM] API Security Endpoints collection (kestrel)
  tracer/build/supported_calltargets.g.json
  tracer/src/Datadog.Trace/AppSec/ApiSec/ApiSecurity.cs
  tracer/src/Datadog.Trace/AppSec/ApiSec/DuckType/IEndpointMetadataCollectionHttpMethodMetadata.cs
  tracer/src/Datadog.Trace/AppSec/ApiSec/DuckType/IEndpointMetadataCollectionRouteValuesAddressMetadata.cs
  tracer/src/Datadog.Trace/AppSec/ApiSec/DuckType/IHttpMethodMetadata.cs
  tracer/src/Datadog.Trace/AppSec/ApiSec/DuckType/IRouteValuesAddressMetadata.cs
  tracer/src/Datadog.Trace/AppSec/ApiSec/DuckType/RoutePatternRequiredValues.cs
  tracer/src/Datadog.Trace/AppSec/ApiSec/EndpointsCollection.cs
  tracer/src/Datadog.Trace/AppSec/ApiSec/MapEndpointsCollection.cs
  tracer/src/Datadog.Trace/AppSec/SecuritySettings.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AspNetCore/EndpointsCollection/IEndpointDataSource.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AspNetCore/EndpointsCollection/IKestrelServer.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AspNetCore/EndpointsCollection/IKestrelServerOptions.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AspNetCore/EndpointsCollection/IServiceProvider.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AspNetCore/EndpointsCollection/KestrelServerImplStartAsyncIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AspNetCore/EndpointsCollection/MapExtensionsMapIntegrationV2V3.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AspNetCore/EndpointsCollection/MapExtensionsMapIntegrationV5Plus.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AspNetCore/EndpointsCollection/RunExtensionsRunIntegration.cs
  tracer/src/Datadog.Trace/Configuration/ConfigurationKeys.AppSec.cs
  tracer/src/Datadog.Trace/DiagnosticListeners/AspNetCoreDiagnosticObserver.cs
  tracer/src/Datadog.Trace/DiagnosticListeners/AspNetCoreResourceNameHelper.cs
  tracer/src/Datadog.Trace/DiagnosticListeners/RouteEndpoint.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Telemetry/Collectors/AppEndpointsTelemetryCollector.cs
  tracer/src/Datadog.Trace/Telemetry/DTOs/AppEndpointData.cs
  tracer/src/Datadog.Trace/Telemetry/DTOs/AppEndpointsPayload.cs
  tracer/src/Datadog.Trace/Telemetry/ITelemetryController.cs
  tracer/src/Datadog.Trace/Telemetry/NullTelemetryController.cs
  tracer/src/Datadog.Trace/Telemetry/TelemetryController.cs
  tracer/src/Datadog.Trace/Telemetry/TelemetryDataAggregator.cs
  tracer/src/Datadog.Trace/Telemetry/TelemetryDataBuilder.cs
  tracer/src/Datadog.Trace/Telemetry/TelemetryInput.cs
  tracer/src/Datadog.Trace/Telemetry/TelemetryRequestTypes.cs
  tracer/src/Datadog.Tracer.Native/Generated/generated_calltargets.g.cpp
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/Helpers/TelemetryHelperTests.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/ApiSecurity/AspNetCore5Endpoints.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/ApiSecurity/AspNetCoreApiSecurity.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/ApiSecurity/AspNetCoreBareEndpoints.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/ApiSecurity/AspNetCoreEndpoints.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/ApiSec/ApiSecurityTests.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/ApiSec/EndpointsCollectionTests.cs
  tracer/test/Datadog.Trace.TestHelpers.AutoInstrumentation/AspNetCoreTestFixture.cs
  tracer/test/Datadog.Trace.TestHelpers/MockTelemetryAgent.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/CallTargetInvokerTelemetryTests.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/TelemetryControllerTests.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/TelemetryDataAggregatorTests.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/TelemetryDataBuilderTests.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/config_norm_rules.json
  tracer/test/test-applications/security/Samples.Security.AspNetCore5/Startup.cs
  tracer/test/test-applications/security/Samples.Security.AspNetCoreBare/Startup.cs
Labels: area:asm

#6844 Update critical path analyzer
  tracer/build/_build/Build.Utilities.cs
  tracer/build/_build/CriticalPathAnalysis/CriticalPathAnalyzer.cs
Labels: area:builds

#6852 Don't build in MSI stage
  tracer/build/_build/Build.Steps.cs
Labels: area:builds

#6853 Analyze CI crashes on Windows
  tracer/test/Datadog.Trace.TestHelpers.AutoInstrumentation/CrashReport.cs
  tracer/test/Datadog.Trace.TestHelpers.AutoInstrumentation/Datadog.Trace.TestHelpers.AutoInstrumentation.csproj
  tracer/test/Datadog.Trace.TestHelpers.AutoInstrumentation/ErrorHelpers.cs
  tracer/test/Datadog.Trace.TestHelpers/EnvironmentHelper.cs
  tracer/test/Datadog.Trace.Tools.dd_dotnet.ArtifactTests/CreatedumpTests.cs
Labels: area:tests

#6854 Don't build dd-dotnet twice
  tracer/build/_build/Build.cs
Labels: area:builds

#6850 Remove generate_LLM_Report stage in pipeline
  .azure-pipelines/ultimate-pipeline.yml
  tracer/build/_build/Build.GitHub.cs
  tracer/build/_build/OpenAI/OpenAIAPICall.cs
Labels: area:builds

#6830 [Profiler] Little improvement
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CollectorBase.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/GCBaseRawSample.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/GCThreadsCpuProvider.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/LiveObjectInfo.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/LiveObjectsProvider.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/NativeThreadsCpuProviderBase.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Profile.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/RawAllocationSample.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/RawContentionSample.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/RawExceptionSample.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/RawGarbageCollectionSample.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/RawNetworkSample.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/RawStopTheWorldSample.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/RawThreadLifetimeSample.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Sample.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Sample.h
  profiler/test/Datadog.Profiler.Native.Tests/ProfilerMockedInterface.cpp
  profiler/test/Datadog.Profiler.Native.Tests/ProviderTest.cpp
Labels: area:profiler

#6863 Fix accidentally using the wrong scale set
  .azure-pipelines/ultimate-pipeline.yml
Labels: area:builds

#6811 [Profiler] Fix timer_create bug
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/OpSysTools.h
  profiler/test/Datadog.Profiler.IntegrationTests/Helpers/Sample.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Helpers/SamplesHelper.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Helpers/TestApplicationRunner.cs
  profiler/test/Datadog.Profiler.IntegrationTests/LinuxOnly/TimerCreateCpuProfilerTest.cs
Labels: area:profiler

#6858 Add traits to exclude tests that will not run anyway
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/RuntimeMetricsTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/TelemetryTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/TraceAnnotationsTests.cs
  tracer/test/Datadog.Trace.IntegrationTests/Logging/TracerFlare/TracerFlareApiTests.cs
  tracer/test/Datadog.Trace.Tests/Debugger/SymbolsTests/SymbolExtractorTest.cs
  tracer/test/Datadog.Trace.Tests/MultipartFormTests.cs
  tracer/test/Datadog.Trace.Tools.dd_dotnet.ArtifactTests/Checks/IisCheckTests.cs
  tracer/test/Datadog.Trace.Tools.dd_dotnet.IntegrationTests/Checks/IisCheckTests.cs
Labels: area:tests

#6846 [IAST] Add support for Dotnet 9 ReadOnlySpan String overloads
  tracer/src/Datadog.Trace/Iast/Aspects/System/StringAspects.cs
  tracer/src/Datadog.Trace/Iast/TaintedObjects.cs
  tracer/src/Datadog.Tracer.Native/Generated/generated_callsites.g.cpp
  tracer/test/Datadog.Trace.Security.IntegrationTests/IAST/IastInstrumentationUnitTests.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/InstrumentationTestsBase.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Propagation/String/SpanStringTests.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Propagation/String/StringConcatTests.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Propagation/String/StringFormatTests.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Propagation/String/StringJoinTests.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Propagation/String/StringSplitTests.cs
Labels: area:asm-iast

#6867 Fix build warnings in debugger and ASM samples
  tracer/test/test-applications/azure-functions/Samples.AzureFunctions.V4Isolated.AspNetCore.SdkV1/Samples.AzureFunctions.V4Isolated.AspNetCore.SdkV1.csproj
  tracer/test/test-applications/azure-functions/Samples.AzureFunctions.V4Isolated.AspNetCore/Samples.AzureFunctions.V4Isolated.AspNetCore.csproj
  tracer/test/test-applications/debugger/dependency-libs/Samples.Probes.TestRuns/ExceptionReplay/RethrowTest.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Propagation/SecurityControls/SecurityControlsTests.cs
  tracer/test/test-applications/security/Samples.Security.AspNetCore5/Controllers/HomeController.cs
  tracer/test/test-applications/security/Samples.Security.AspNetCore5/Controllers/SessionController.cs
  tracer/test/test-applications/security/Samples.Security.AspNetCore5/Controllers/UserController.cs
Labels: area:builds, area:tests

#6877 Expand ownership of Version Bump related files
  .github/CODEOWNERS
Labels: area:builds

#6864 [Profiler] Fix short lived threads scenario
  profiler/src/Demos/Samples.BuggyBits/Controllers/CompanyInformationController.cs
  profiler/src/Demos/Samples.BuggyBits/Models/DataLayer.cs
Labels: area:profiler

#6805 [Profiler] Bump libdatadog to v17.0.0
  build/cmake/FindLibdatadog.cmake
  build/vcpkg_local_ports/libdatadog/portfile.cmake
  build/vcpkg_local_ports/libdatadog/vcpkg.json
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/AgentProxy.hpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Exporter.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ExporterBuilder.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ExporterBuilder.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/FileSaver.hpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Profile.cpp
  profiler/test/Datadog.Profiler.IntegrationTests/DebugInfo/LineNumberTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Helpers/MockDatadogAgent.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Helpers/PprofHelper.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Helpers/StackFrame.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Helpers/TestApplicationRunner.cs
  profiler/test/Datadog.Profiler.IntegrationTests/SmokeTests/SmokeTestRunner.cs
  profiler/test/Datadog.Profiler.IntegrationTests/WindowsOnly/NamedPipeTestcs.cs
Labels: area:profiler

#6884 Don't run throughput tests on PRs
  .azure-pipelines/ultimate-pipeline.yml
Labels: area:builds, area:benchmarks

#6880 Add documentation around Xunit.Combinatorial
  docs/development/XunitCombinatorial.md
Labels: area:docs

#6889 [IAST] Change cookie filter default value
  tracer/src/Datadog.Trace/Iast/Settings/IastSettings.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/IAST/CookieAnalyzerTests.cs
  tracer/test/snapshots/Iast.AspNetCore5.enableIast=True.path =_Iast_AllVulnerabilitiesCookie.verified.txt
  tracer/test/snapshots/Iast.TrustBoundaryViolation.AspNetMvc5.IastEnabled.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5.Classic.enableIast=True.path=_Iast_AllVulnerabilitiesCookie.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5.Integrated.enableIast=True.path=_Iast_AllVulnerabilitiesCookie.verified.txt
Labels: area:asm-iast

#6886 Dump the docker compose logs to try to see what's going on
  .azure-pipelines/ultimate-pipeline.yml
Labels: area:builds

#6735 [Dynamic Instrumentation] DEBUG-3492 Remove duration from non method snapshots
  tracer/src/Datadog.Trace/Debugger/Snapshots/DebuggerSnapshotCreator.cs
Labels: area:tracer, area:debugger

#6891 Adds a "flaky" attribute, that we can use to automatically retry flaky tests
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/StackExchangeRedisTests.cs
  tracer/test/Datadog.Trace.TestHelpers/CustomTestFramework.cs
  tracer/test/Datadog.Trace.TestHelpers/FlakyAttribute.cs
Labels: area:builds, area:tests

#6883 Update to use `9.0.203` of the .NET SDK
  .azure-pipelines/noop-pipeline.yml
  .azure-pipelines/ultimate-pipeline.yml
  .devcontainer/devcontainer.json
  .github/actions/run-in-docker/action.yml
  .github/workflows/auto_add_vnext_milestone_to_pr.yml
  .github/workflows/auto_bump_test_package_versions.yml
  .github/workflows/auto_check_snapshots.yml
  .github/workflows/auto_create_version_bump_pr.yml
  .github/workflows/auto_label_prs.yml
  .github/workflows/auto_update_benchmark_branches.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/create-system-test-docker-base-images.yml
  .github/workflows/create_draft_release.yml
  .github/workflows/create_hotfix_branch.yml
  .github/workflows/force_manual_version_bump.yml
  .github/workflows/generate_package_versions.yml
  .github/workflows/verify_app_trimming_changes_are_persisted.yml
  .github/workflows/verify_files_without_nullability.yml
  .github/workflows/verify_integrations_map_added.yml
  .github/workflows/verify_solution_changes_are_persisted.yml
  .github/workflows/verify_source_generated_changes_are_persisted.yml
  .github/workflows/verify_span_metadata_markdown_is_updated.yml
  .gitlab-ci.yml
  docker-compose.yml
  global.json
  tracer/build/_build/docker/gitlab/gitlab.windows.dockerfile
  tracer/build_in_docker.ps1
  tracer/build_in_docker.sh
Labels: area:builds

#6893 [Tracer] Fix possible crash in ContextTracker on shutdown
  tracer/src/Datadog.Trace/ContinuousProfiler/ContextTracker.cs
Labels: area:tracer, identified-by:crashtracking

#6902 Revert "[Dynamic Instrumentation] DEBUG-3492 Remove duration from non…
  tracer/src/Datadog.Trace/Debugger/Snapshots/DebuggerSnapshotCreator.cs
Labels: area:tracer

#6905 Try to fix flake in building runner tool
  tracer/src/Datadog.Trace.Tools.Runner/Datadog.Trace.Tools.Runner.csproj
Labels: area:builds

#6906 Use mirrored, latest, image in GitLab build
  .gitlab-ci.yml
Labels: area:builds

#6859 [Exception Replay] Added support for top-most failing local root span + Communicating failure to capture errors
  tracer/src/Datadog.Trace/Configuration/ConfigurationKeys.Debugger.cs
  tracer/src/Datadog.Trace/Debugger/ExceptionAutoInstrumentation/ExceptionReplayDiagnosticTagNames.cs
  tracer/src/Datadog.Trace/Debugger/ExceptionAutoInstrumentation/ExceptionReplaySettings.cs
  tracer/src/Datadog.Trace/Debugger/ExceptionAutoInstrumentation/ExceptionTrackManager.cs
  tracer/src/Datadog.Trace/Debugger/ExceptionAutoInstrumentation/NoCaptureReason.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/config_norm_rules.json
Labels: area:tracer
