Repository DataDog/dd-trace-dotnet, pull requests merged in 2025-03, with the labels that each got.

#6724 [Profiler] Enable ETW support by default for .NET Framework
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Configuration.cpp
  profiler/test/Datadog.Profiler.IntegrationTests/Allocations/AllocationsProfilerTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Contention/ContentionProfilerTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/CpuAndWallTime/CpuAndWallTimeTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/GarbageCollections/GarbageCollectionsProfilerTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/SmokeTests/Computer01Test.cs
  profiler/test/Datadog.Profiler.IntegrationTests/SmokeTests/ExceptionGeneratorTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/WindowsOnly/EtwEventsTests.cs
  profiler/test/Datadog.Profiler.IntegrationTests/WindowsOnly/NamedPipeTestcs.cs
  profiler/test/Datadog.Profiler.Native.Tests/ConfigurationTest.cpp
Labels: area:profiler

#6727 [Tracing] Add configuration key DD_TRACE_EXPERIMENTAL_FEATURES_ENABLED
  tracer/src/Datadog.Trace/Configuration/ConfigurationKeys.cs
  tracer/src/Datadog.Trace/Configuration/TracerSettings.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/config_norm_rules.json
Labels: area:tracer

#6717 Add notification channel for build pipeline
  .gitlab-ci.yml
Labels: area:builds

#6737 [ASM][ATO] Fix : remove ISession for trimming file, and ducktype
  tracer/src/Datadog.Trace.Trimming/build/Datadog.Trace.Trimming.xml
  tracer/src/Datadog.Trace/AppSec/Coordinator/SecurityCoordinator.Core.cs
  tracer/src/Datadog.Trace/AppSec/Coordinator/SecurityCoordinatorHelpers.Core.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AspNetCore/UserEvents/HttpContextSetUser.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AspNetCore/UserEvents/ISession.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AspNetCore/UserEvents/ISessionFeature.cs
  tracer/test/test-applications/security/Samples.Security.AspNetCore5/Controllers/SessionController.cs
Labels: area:asm

#6663 [ASM] Standalone billing V2 migration
  tracer/src/Datadog.Trace/Agent/AgentWriter.cs
  tracer/src/Datadog.Trace/Agent/Api.cs
  tracer/src/Datadog.Trace/Agent/IApi.cs
  tracer/src/Datadog.Trace/Agent/MessagePack/TraceChunkModel.cs
  tracer/src/Datadog.Trace/AppSec/Security.cs
  tracer/src/Datadog.Trace/Ci/Agent/ApmAgentWriter.cs
  tracer/src/Datadog.Trace/Configuration/ConfigurationKeys.cs
  tracer/src/Datadog.Trace/Configuration/ImmutableDynamicSettings.cs
  tracer/src/Datadog.Trace/Configuration/TracerSettings.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/TraceSourcesExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/TraceSourcesExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/TraceSourcesExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/TraceSourcesExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Iast/IastModule.cs
  tracer/src/Datadog.Trace/Propagators/SpanContextPropagator.cs
  tracer/src/Datadog.Trace/Tagging/TraceSources.cs
  tracer/src/Datadog.Trace/Tagging/TraceTagCollectionExtensions.cs
  tracer/src/Datadog.Trace/Tags.cs
  tracer/src/Datadog.Trace/Tracer.cs
  tracer/src/Datadog.Trace/TracerManagerFactory.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/IAST/AspNetCore5IastTests.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/StandaloneASMBillingTests.cs
  tracer/test/Datadog.Trace.Tests/Agent/AgentWriterTests.cs
  tracer/test/Datadog.Trace.Tests/Agent/ApiTests.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/config_norm_rules.json
  tracer/test/test-applications/security/Samples.Security.AspNetCore5/Properties/launchSettings.json
Labels: area:asm

#6677 [Crashtracking] Fix crashtracking in single-file apps
  shared/src/Datadog.Trace.ClrProfiler.Native/crashhandler.cpp
  tracer/build/_build/Build.VariableGenerations.cs
Labels: type:bug, area:shared-components, area:crashtracking

#6729 [ASM] WAF error span tags
  tracer/src/Datadog.Trace/AppSec/AppSecRequestContext.cs
  tracer/src/Datadog.Trace/AppSec/Coordinator/SecurityCoordinator.cs
  tracer/src/Datadog.Trace/Tags.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/AppSecContextTests.cs
Labels: area:asm

#6743 ignore entire `baggage` header if malformed
  tracer/src/Datadog.Trace/Propagators/W3CBaggagePropagator.cs
  tracer/test/Datadog.Trace.Tests/Propagators/W3CBaggagePropagatorTests.cs
Labels: type:bug, area:tracer

#6655 S3 Span Pointers
  tracer/src/Datadog.Trace.Trimming/build/Datadog.Trace.Trimming.xml
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/S3/IS3EtagResponse.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/S3/MultipartUploadManagement/CompleteMultipartUploadAsyncIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/S3/MultipartUploadManagement/CompleteMultipartUploadIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/S3/ObjectManagement/CopyObjectAsyncIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/S3/ObjectManagement/CopyObjectIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/S3/ObjectManagement/PutObjectAsyncIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/S3/ObjectManagement/PutObjectIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/Shared/SpanPointers.cs
  tracer/src/Datadog.Trace/Configuration/ConfigurationKeys.cs
  tracer/src/Datadog.Trace/Configuration/TracerSettings.cs
  tracer/src/Datadog.Trace/SpanContext.cs
  tracer/test/Datadog.Trace.ClrProfiler.Managed.Tests/AutoInstrumentation/AWS/Shared/SpanPointersTests.cs
  tracer/test/Datadog.Trace.Tests/Snapshots/PublicApiTests.Datadog.Trace.AssemblyReferencesHaveNotChanged.netcoreapp3.1.verified.txt
  tracer/test/Datadog.Trace.Tests/Telemetry/config_norm_rules.json
  tracer/test/snapshots/AwsS3Tests.NetCore.SchemaV0.verified.txt
  tracer/test/snapshots/AwsS3Tests.NetCore.SchemaV1.verified.txt
  tracer/test/snapshots/AwsS3Tests.NetFramework.SchemaV0.verified.txt
  tracer/test/snapshots/AwsS3Tests.NetFramework.SchemaV1.verified.txt
Labels: area:tracer, type:new-feature, area:serverless, area:integrations

#6630 [Profiler] Properly initialize appDomainId
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/AllocationsProvider.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ContentionProvider.cpp
Labels: type:bug, area:profiler, identified-by:crashtracking

#6739 [Profiler] Add logs for the different profilers configuration
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Configuration.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Configuration.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CpuProfilerType.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/DeploymentMode.h
  profiler/test/Datadog.Profiler.IntegrationTests/Configuration/ConfigurationTest.cs
Labels: area:profiler

#6687 [Dynamic Instrumentation] DEBUG-3572 Check for valid gzip content
  tracer/src/Datadog.Trace/Debugger/Upload/SymbolUploadApi.cs
Labels: area:tracer, area:debugger

#6460 [tracing] add null checks when iterating headers in propagators
  tracer/src/Datadog.Trace/Propagators/ParseUtility.cs
  tracer/test/Datadog.Trace.Tests/Propagators/ParseUtilityTests.cs
Labels: type:bug, area:tracer

#6685 [ASM] Add new RASP telemetry tags
  tracer/src/Datadog.Trace/AppSec/Coordinator/SecurityCoordinator.Core.cs
  tracer/src/Datadog.Trace/AppSec/Coordinator/SecurityCoordinator.Framework.cs
  tracer/src/Datadog.Trace/AppSec/Rasp/RaspModule.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/RaspRuleTypeExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/RaspRuleTypeMatchExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/CiVisibilityMetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/IMetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/NullMetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/RaspRuleTypeExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/RaspRuleTypeMatchExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/CiVisibilityMetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/IMetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/NullMetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/RaspRuleTypeExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/RaspRuleTypeMatchExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/CiVisibilityMetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/IMetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/NullMetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/RaspRuleTypeExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/RaspRuleTypeMatchExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/CiVisibilityMetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/IMetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/NullMetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Telemetry/Metrics/Count.cs
  tracer/src/Datadog.Trace/Telemetry/Metrics/MetricTags.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/SecurityCoordinatorTests.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/Collectors/MetricsTelemetryCollectorTests.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/Metrics/common_metrics.json
Labels: area:asm

#6746 [Profiler] Add tag GC CPU samples
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/GCThreadsCpuProvider.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/GCThreadsCpuProvider.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/NativeThreadsCpuProviderBase.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/NativeThreadsCpuProviderBase.h
  profiler/test/Datadog.Profiler.IntegrationTests/GarbageCollections/GarbageCollectorCpuTimeTest.cs
Labels: area:profiler

#6750 Fix HttpListener.GetContext leak in tests
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/NoMultiLoaderTests.cs
  tracer/test/Datadog.Trace.TestHelpers/MockLambdaExtension.cs
  tracer/test/Datadog.Trace.TestHelpers/MockLogsIntake.cs
  tracer/test/Datadog.Trace.TestHelpers/MockTelemetryAgent.cs
  tracer/test/Datadog.Trace.TestHelpers/MockTracerAgent.cs
Labels: area:tests

#6720 HTTP over streams: use vendored `Utf8Parser.TryParse()`
  tracer/src/Datadog.Trace/HttpOverStreams/ChunkedEncodingReadStream.HexHelpers.cs
Labels: area:tracer

#6745 Fix NoWarn for Datadog.Trace and Trimming
  tracer/Directory.Build.props
  tracer/src/Datadog.Trace.BenchmarkDotNet/Datadog.Trace.BenchmarkDotNet.csproj
  tracer/src/Datadog.Trace.Bundle/Datadog.Trace.Bundle.csproj
  tracer/src/Datadog.Trace.Manual/Datadog.Trace.props
  tracer/src/Datadog.Trace.Trimming/build/Datadog.Trace.Trimming.props
Labels: area:builds

#6752 [CI] Stop running windows throughput tests
  .azure-pipelines/ultimate-pipeline.yml
Labels: area:builds, area:benchmarks

#6706 [IAST] LDAP flakiness fix
  tracer/test/Datadog.Trace.Security.IntegrationTests/AspNetBase.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/IAST/AspNetCore5IastTests.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/IAST/AspNetMvc5IastTests.cs
  tracer/test/Datadog.Trace.TestHelpers.SharedSource/VerifyHelper.cs
  tracer/test/snapshots/Iast.Ldap.AspNetCore5.IastDisabled.verified.txt
  tracer/test/snapshots/Iast.Ldap.AspNetCore5.IastEnabled.RedactionEnabled.verified.txt
  tracer/test/snapshots/Iast.Ldap.AspNetCore5.IastEnabled.verified.txt
  tracer/test/snapshots/Iast.Ldap.AspNetMvc5.IastDisabled.verified.txt
  tracer/test/snapshots/Iast.Ldap.AspNetMvc5.IastEnabled.verified.txt
  tracer/test/test-applications/security/Samples.Security.AspNetCore5/Controllers/IastController.cs
  tracer/test/test-applications/security/aspnet/Samples.Security.AspNetMvc5/Controllers/IastController.cs
Labels: area:tests, area:asm-iast

#6755 Skip the failing debugger tests
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/ExceptionReplay/AspNetCore5ExceptionReplay.cs
Labels: area:tests, area:debugger

#6757 Remove profiler throughput tests and bump timeouts
  .azure-pipelines/ultimate-pipeline.yml
Labels: area:builds

#6715 [fleet installer] Try to fix Gac Installer issue when older versions are already installed
  tracer/src/Datadog.FleetInstaller/FusionApi/Fusion+CreateAssemblyEnum.cs
  tracer/src/Datadog.FleetInstaller/FusionApi/Fusion.cs
  tracer/src/Datadog.FleetInstaller/GacInstaller.cs
  tracer/src/Datadog.FleetInstaller/ILogger.cs
  tracer/src/Datadog.FleetInstaller/Log.cs
  tracer/test/Datadog.Trace.IntegrationTests/FleetInstaller/FleetInstallerLogger.cs
  tracer/test/Datadog.Trace.IntegrationTests/FleetInstaller/GacInstallerTests.cs
Labels: area:ssi

#6761 feat: add dev container for consistent development environment
  .devcontainer/devcontainer.json
  .vscode/tasks.json
  tracer/README.MD
Labels: area:builds

#6768 Remove graphql scenarios from CI system tests
  .azure-pipelines/ultimate-pipeline.yml
Labels: area:builds

#6766 [fleet installer] Split the `install` command in two
  tracer/build/_build/docker/smoke.windows.fleet-installer.dockerfile
  tracer/src/Datadog.FleetInstaller/Commands/EnableIisInstrumentationCommand.cs
  tracer/src/Datadog.FleetInstaller/Commands/InstallVersionCommand.cs
  tracer/src/Datadog.FleetInstaller/Commands/ReinstallCommand.cs
  tracer/src/Datadog.FleetInstaller/Commands/RemoveIisInstrumentation.cs
  tracer/src/Datadog.FleetInstaller/Commands/UninstallVersionCommand.cs
  tracer/src/Datadog.FleetInstaller/Program.cs
Labels: area:ssi

#6767 ssi tests onepipeline
  .gitlab-ci.yml
Labels: area:builds, area:tests

#6765 [Benchmarks] Migrate linux throughput tests
  .gitlab-ci.yml
  .gitlab/benchmarks/macrobenchmarks.yml
Labels: mergequeue-status: removed

#6774 Pin github actions to sha
  .github/actions/code-freeze/action.yml
  .github/actions/create-system-test-docker-base-images/action.yml
  .github/actions/publish-debug-symbols/action.yml
  .github/workflows/create_skip_code_freeze.yml
Labels: area:builds

#6301 [Profiler] Change profiler to use the libdatadog dynamic library instead
  build/cmake/FindLibdatadog.cmake
  profiler/Directory.Build.props
  profiler/Directory.Build.targets
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/CMakeLists.txt
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Datadog.Profiler.Native.vcxproj.filters
  profiler/src/ProfilerEngine/Directory.Build.targets
  profiler/test/Datadog.Profiler.Native.Tests/Datadog.Profiler.Native.Tests.vcxproj.filters
  profiler/test/Datadog.Profiler.Native.Tests/packages.config
  shared/src/msi-installer/Product.wxs
  shared/src/msi-installer/shared/Files.wxs
  shared/src/native-src/dynamic_library_base.cpp
  tracer/build/_build/Build.Profiler.Steps.cs
  tracer/build/_build/Build.Shared.Steps.cs
Labels: area:profiler

#6773 Fix Microsoft.Extensions.Telemetry logging integration in 9.3.0
  tracer/build/PackageVersionsLatestMajors.g.props
  tracer/build/PackageVersionsLatestMinors.g.props
  tracer/build/PackageVersionsLatestSpecific.g.props
  tracer/build/supported_calltargets.g.json
  tracer/build/supported_versions.json
  tracer/dependabot/Datadog.Dependabot.Integrations.csproj
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Logging/ILogger/DirectSubmission/ExtendedLoggerFactoryCommon.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Logging/ILogger/DirectSubmission/ExtendedLoggerFactoryConstructorIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Logging/ILogger/DirectSubmission/ExtendedLoggerFactoryConstructorIntegration_8xx.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Tracer.Native/Generated/generated_calltargets.g.cpp
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestMajors.g.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestMinors.g.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestSpecific.g.cs
Labels: type:enhancement, area:tracer, area:integrations, area:direct-log-submission

#6758 add kafka topic to messaging.destination.name tag
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Kafka/KafkaHelper.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/TagListGenerator/KafkaTags.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/TagListGenerator/KafkaTags.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/TagListGenerator/KafkaTags.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/TagListGenerator/KafkaTags.g.cs
  tracer/src/Datadog.Trace/Tagging/KafkaTags.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/KafkaTests.cs
  tracer/test/Datadog.Trace.TestHelpers/SpanMetadataV0Rules.cs
  tracer/test/Datadog.Trace.TestHelpers/SpanMetadataV1Rules.cs
Labels: area:integrations, mergequeue-status: removed

#6778 Refactor RabbitMQ test sample
  tracer/test/snapshots/RabbitMQTests.3_x.SchemaV0.verified.txt
  tracer/test/snapshots/RabbitMQTests.3_x.SchemaV1.verified.txt
  tracer/test/snapshots/RabbitMQTests.5_x.SchemaV0.verified.txt
  tracer/test/snapshots/RabbitMQTests.5_x.SchemaV1.verified.txt
  tracer/test/snapshots/RabbitMQTests.6_x.SchemaV0.verified.txt
  tracer/test/snapshots/RabbitMQTests.6_x.SchemaV1.verified.txt
  tracer/test/test-applications/integrations/Samples.RabbitMQ/Program.cs
Labels: area:tracer, area:tests, type:refactor, area:integrations

#6779 Add AWS Lamda testing for .NET 9
  .azure-pipelines/ultimate-pipeline.yml
Labels: area:builds, area:tests, area:serverless

#6753 [Tracer] Fix Rabbitmq7 header injection overwrites user supplied basic properties [from external PR #6730]
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/RabbitMQ/CachedBasicPropertiesHelper.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/RabbitMQ/PopulateBasicPropertiesHeadersIntegration.cs
  tracer/test/Datadog.Trace.ClrProfiler.Managed.Tests/AutoInstrumentation/RabbitMQ/CachedBasicPropertiesHelperTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.Managed.Tests/Datadog.Trace.ClrProfiler.Managed.Tests.csproj
  tracer/test/test-applications/integrations/Samples.RabbitMQ/Program.cs
Labels: type:bug, area:tracer, area:integrations, identified-by:customer

#6782 [fleet installer] Update logging for fleet installer
  tracer/src/Datadog.FleetInstaller/Log.cs
  tracer/src/Datadog.FleetInstaller/Program.cs
Labels: area:ssi

#6696 Fix dependabot configuration for gh-actions-packages group
  .github/dependabot.yml
Labels: area:builds

#6791 Clarify doc comment for DD_TRACE_128_BIT_TRACEID_LOGGING_ENABLED
  tracer/src/Datadog.Trace/Configuration/ConfigurationKeys.cs
Labels: area:tracer

#6763 [R&D Week Profiling] Add tests for sync over async scenarios
  profiler/src/Demos/Samples.BuggyBits/Controllers/CompanyInformationController.cs
  profiler/src/Demos/Samples.BuggyBits/Controllers/ProductsController.cs
  profiler/src/Demos/Samples.BuggyBits/Models/DataLayer.cs
  profiler/src/Demos/Samples.BuggyBits/Program.cs
  profiler/src/Demos/Samples.BuggyBits/SelfInvoker.cs
  profiler/src/Demos/Samples.Computer01/ComputerService.cs
  profiler/src/Demos/Samples.Computer01/Program.cs
  profiler/src/Demos/Samples.Computer01/SyncOverAsync.cs
Labels: area:profiler
