Repository DataDog/dd-trace-dotnet, pull requests merged in 2025-01, with the labels that each got.

#6492 [ASM] Update Iast Log Warning to Error
  tracer/src/Datadog.Trace/Iast/Aspects/MongoDB/MongoDatabaseAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/Newtonsoft.Json/NewtonsoftJsonAspects.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.Runtime/DefaultInterpolatedStringHandlerAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.Text.Json/JsonDocumentAspects.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.Web.Extensions/JavaScriptSerializerAspects.cs
Labels: area:tracer, area:asm

#6489 [ASM] Log `FormatException` from `get_Uri` as debug
  tracer/src/Datadog.Trace/Iast/Aspects/System/UriBuilderAspect.cs
Labels: area:tracer, area:asm, identified-by:telemetry

#6434 Support relative path in `DD_DOTNET_TRACER_HOME`
  tracer/src/Datadog.Trace.ClrProfiler.Managed.Loader/Startup.NetCore.cs
  tracer/src/Datadog.Trace.ClrProfiler.Managed.Loader/Startup.NetFramework.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/Helpers/PathUtil.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/InstrumentationTests.cs
Labels: type:bug, area:tracer

#6495 [ASM] Normalise aspects exception logging
  tracer/src/Datadog.Trace.Tools.Analyzers/AspectAnalyzers/BeforeAfterAspectCodeFixProvider.cs
  tracer/src/Datadog.Trace.Tools.Analyzers/AspectAnalyzers/ReplaceAspectCodeFixProvider.cs
  tracer/src/Datadog.Trace/Iast/Aspects/AspNetCore.Http/HttpResponseAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/AspNetCore.Mvc/ControllerBaseAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/EntityFramework/EntityCommandAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/EntityFrameworkCore/EntityFrameworkCoreAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/MongoDB/BsonAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/MongoDB/MongoDatabaseAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/NHibernate/ISessionAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/Newtonsoft.Json/NewtonsoftJsonAspects.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.Data.Common/DbCommandAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.DirectoryServices/DirectoryEntryAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.DirectoryServices/DirectorySearcherAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.DirectoryServices/PrincipalContextAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.DirectoryServices/SearchRequestAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.IO/DirectoryAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.IO/DirectoryInfoAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.IO/FileAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.IO/FileInfoAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.IO/FileStreamAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.IO/StreamReaderAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.IO/StreamWriterAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.Net.Mail/SmtpClientAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.Net/HttpClientAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.Net/WebClientAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.Net/WebRequestAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.Net/WebUtilityAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.Reflection/ActivatorAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.Reflection/AssemblyAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.Reflection/TypeAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.Runtime/DefaultInterpolatedStringHandlerAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.Security.Cryptography/HashAlgorithmAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.Security.Cryptography/SymmetricAlgorithmAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.Text.Json/JsonDocumentAspects.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.Text/StringBuilderAspects.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.Web.Extensions/JavaScriptSerializerAspects.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.Web.Mvc/HttpControllerAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.Web.SessionState/HttpSessionStateBaseAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.Web.SessionState/SessionExtensionsAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.Web/HttpCookieAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.Web/HttpResponseAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.Web/HttpUtilityAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.Xml/SystemXmlAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.Xml/XPathExtensionAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System/RandomAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System/StringAspects.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System/UriAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System/UriBuilderAspect.cs
  tracer/src/Datadog.Trace/Iast/IastModule.cs
  tracer/test/Datadog.Trace.Tools.Analyzers.Tests/AspectAnalyzers/BeforeAfterAspectAnalyzerTests.cs
  tracer/test/test-applications/security/Samples.Security.AspNetCore5/Properties/launchSettings.json
Labels: area:asm

#6502 Ensure analyzer tests run against all TFMs
  tracer/test/Datadog.Trace.Tools.Analyzers.Tests/Datadog.Trace.Tools.Analyzers.Tests.csproj
Labels: area:builds, area:tests

#6497 Disable continuous profiler in GenerateDumpIfDbgRequested
  profiler/test/Datadog.Profiler.IntegrationTests/LinuxOnly/WrapperLibraryTest.cs
Labels: area:profiler

#6482 [ASM] Refactor AspNetCore5DatabaseTests
  Datadog.Trace.sln
  tracer/build/_build/Build.Steps.cs
  tracer/build/_build/NukeExtensions/DockerDependencyType.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/IAST/AspNetCore5IastDbTests.cs
  tracer/test/snapshots/Iast.StoredSqli.AspNetCore5.IastEnabled.verified.txt
  tracer/test/snapshots/Iast.StoredXss.AspNetCore5.IastEnabled.verified.txt
  tracer/test/snapshots/Iast.StoredXssEscaped.AspNetCore5.IastEnabled.verified.txt
  tracer/test/test-applications/security/Samples.Security.AspNetCore5.DatabaseIntegration/Controllers/HomeController.cs
  tracer/test/test-applications/security/Samples.Security.AspNetCore5.DatabaseIntegration/Controllers/IastController.cs
  tracer/test/test-applications/security/Samples.Security.AspNetCore5.DatabaseIntegration/Data/ApplicationDbContext.cs
  tracer/test/test-applications/security/Samples.Security.AspNetCore5.DatabaseIntegration/Data/DatabaseHelper.cs
  tracer/test/test-applications/security/Samples.Security.AspNetCore5.DatabaseIntegration/Data/IastControllerHelper.cs
  tracer/test/test-applications/security/Samples.Security.AspNetCore5.DatabaseIntegration/Data/app.db
  tracer/test/test-applications/security/Samples.Security.AspNetCore5.DatabaseIntegration/Data/createdb.sql
  tracer/test/test-applications/security/Samples.Security.AspNetCore5.DatabaseIntegration/Data/database.sql
  tracer/test/test-applications/security/Samples.Security.AspNetCore5.DatabaseIntegration/Extensions.cs
  tracer/test/test-applications/security/Samples.Security.AspNetCore5.DatabaseIntegration/Program.cs
  tracer/test/test-applications/security/Samples.Security.AspNetCore5.DatabaseIntegration/Properties/launchSettings.json
  tracer/test/test-applications/security/Samples.Security.AspNetCore5.DatabaseIntegration/Samples.Security.AspNetCore5.DatabaseIntegration.csproj
  tracer/test/test-applications/security/Samples.Security.AspNetCore5.DatabaseIntegration/Startup.cs
  tracer/test/test-applications/security/Samples.Security.AspNetCore5.DatabaseIntegration/Views/Home/Index.cshtml
  tracer/test/test-applications/security/Samples.Security.AspNetCore5.DatabaseIntegration/Views/Home/Privacy.cshtml
  tracer/test/test-applications/security/Samples.Security.AspNetCore5.DatabaseIntegration/Views/Iast/Email.cshtml
  tracer/test/test-applications/security/Samples.Security.AspNetCore5.DatabaseIntegration/Views/Iast/Email.cshtml.cs
  tracer/test/test-applications/security/Samples.Security.AspNetCore5.DatabaseIntegration/Views/Iast/Xss.cshtml
  tracer/test/test-applications/security/Samples.Security.AspNetCore5.DatabaseIntegration/Views/Shared/_Layout.cshtml
  tracer/test/test-applications/security/Samples.Security.AspNetCore5.DatabaseIntegration/Views/_ViewImports.cshtml
  tracer/test/test-applications/security/Samples.Security.AspNetCore5.DatabaseIntegration/Views/_ViewStart.cshtml
  tracer/test/test-applications/security/Samples.Security.AspNetCore5.DatabaseIntegration/appsettings.Development.json
  tracer/test/test-applications/security/Samples.Security.AspNetCore5.DatabaseIntegration/appsettings.json
  tracer/test/test-applications/security/Samples.Security.AspNetCore5.DatabaseIntegration/web.config
  tracer/test/test-applications/security/Samples.Security.AspNetCore5/Controllers/IastController.cs
  tracer/test/test-applications/security/Samples.Security.AspNetCore5/Data/IastControllerHelper.cs
  tracer/test/test-applications/security/Samples.Security.AspNetCore5/Samples.Security.AspNetCore5.csproj
Labels: area:tests, area:asm, area:asm-iast

#6504 Expand number of files that require thorough testing
  tracer/build/_build/Build.Steps.cs
  tracer/build/_build/Build.cs
Labels: area:builds

#6491 Minor fixes for build warnings in samples
  tracer/test/test-applications/debugger/Samples.Debugger.AspNetCore5/Controllers/HomeController.cs
  tracer/test/test-applications/debugger/dependency-libs/Samples.Probes.TestRuns/ExceptionReplay/ExceptionWithNonSupportedFramesTest.cs
  tracer/test/test-applications/integrations/Samples.AspNetCoreMvc21/Controllers/ApiController.cs
  tracer/test/test-applications/integrations/Samples.Microsoft.Data.Sqlite/Samples.Microsoft.Data.Sqlite.csproj
  tracer/test/test-applications/security/Samples.Security.AspNetCore5/Controllers/IastController.cs
Labels: area:builds, area:tests

#6512 Fix compilation of Samples.Security.AspNetCore5
  tracer/test/test-applications/security/Samples.Security.AspNetCore5/Controllers/IastController.cs
Labels: area:tests

#6509 Reset CI Visibility after DuckTypingTests
  tracer/test/Datadog.Trace.Tests/ManualInstrumentation/DuckTypingTests.cs
Labels: area:tests

#6443 [CI Visibility] Add missing telemetry metrics
  tracer/src/Datadog.Trace/Ci/IntelligentTestRunnerClient.cs
  tracer/src/Datadog.Trace/Ci/Telemetry/TelemetryHelper.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/CiVisibilityMetricsTelemetryCollector_CountCIVisibility.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/CiVisibilityMetricsTelemetryCollector_CountCIVisibility.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/CiVisibilityMetricsTelemetryCollector_CountCIVisibility.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/CiVisibilityMetricsTelemetryCollector_CountCIVisibility.g.cs
  tracer/src/Datadog.Trace/Telemetry/Metrics/MetricTags.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/Metrics/MetricTests.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/Metrics/common_metrics.json
Labels: area:ci-visibility

#6514 Fix race condition in TelemetryControllerSchedulerTests
  tracer/test/Datadog.Trace.Tests/Telemetry/TelemetryControllerSchedulerTests.cs
Labels: area:tests

#6522 [Test Optimization] Collect more logs on EFD tests
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/MsTestV2EvpTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/NUnitEvpTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/XUnitEvpTests.cs
Labels: area:tests

#6513 Add additional tests for CI Visibility configuration behaviour
  tracer/test/Datadog.Trace.Tests/Configuration/CIVisibilitySettingsTests.cs
  tracer/test/Datadog.Trace.Tests/Configuration/TracerSettingsTests.cs
Labels: area:tests, area:ci-visibility

#6517 Run .NET Functions on .NET 8 and .NET 9
  .azure-pipelines/ultimate-pipeline.yml
  tracer/build/_build/Build.VariableGenerations.cs
  tracer/test/test-applications/azure-functions/Samples.AzureFunctions.V4Isolated/Samples.AzureFunctions.V4Isolated.csproj
Labels: area:builds, area:tests, area:serverless

#6523 [IAST] Added IAST instrumentation category to ado net Reader integrations
  tracer/build/_build/CodeGenerators/CallTargetsGenerator.cs
  tracer/build/supported_calltargets.g.json
  tracer/src/Datadog.Trace.SourceGenerators/InstrumentationDefinitions/AdoNetSignature.cs
  tracer/src/Datadog.Trace.SourceGenerators/InstrumentationDefinitions/Constants.cs
  tracer/src/Datadog.Trace.SourceGenerators/InstrumentationDefinitions/InstrumentationDefinitionsGenerator.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AdoNet/AdoNetClientInstrumentMethodsAttribute.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AdoNet/AdoNetDefinitions.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AdoNet/MySql/MySqlDefinitions.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AdoNet/Npgsql/NpgsqlDefinitions.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AdoNet/Oracle/OracleDefinitions.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AdoNet/SqlClient/SqlClientDefinitions.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AdoNet/Sqlite/SqliteDefinitions.cs
  tracer/src/Datadog.Tracer.Native/Generated/generated_calltargets.g.cpp
Labels: area:builds, area:native-library, area:asm-iast

#6451 K8s new tests scenarios
  .gitlab-ci.yml
Labels: area:builds

#6429 Add support for more combinations of tags on telemetry metrics
  tracer/src/Datadog.Trace.SourceGenerators/TelemetryMetric/Sources.Attributes.cs
  tracer/src/Datadog.Trace.SourceGenerators/TelemetryMetric/Sources.cs
  tracer/src/Datadog.Trace.SourceGenerators/TelemetryMetric/TelemetryMetricGenerator.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/TelemetryMetricAttribute.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/TelemetryMetricAttribute.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/TelemetryMetricAttribute.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/TelemetryMetricAttribute.g.cs
  tracer/test/Datadog.Trace.SourceGenerators.Tests/TelemetryMetricGeneratorTests.cs
Labels: area:tracer, area:telemetry

#6520 Actually include child processes when requested during a memory dump in tests
  tracer/test/Datadog.Trace.TestHelpers.AutoInstrumentation/TestHelper.cs
Labels: area:tests

#6525 Redact `##vso` in CI
  tracer/test/Datadog.Trace.TestHelpers/CustomTestFramework.cs
Labels: area:builds, area:tests

#6493 Change `CopyToOutputDirectory="Always"` to `CopyToOutputDirectory="PreserveNewest"`
  profiler/test/Datadog.Profiler.IntegrationTests/Datadog.Profiler.IntegrationTests.csproj
  tracer/samples/ServiceFabricRemoting/WeatherService.NetCore31/WeatherService.NetCore31.csproj
  tracer/samples/ServiceFabricRemoting/WeatherService.NetFx461/WeatherService.NetFx461.csproj
  tracer/samples/ServiceFabricRemoting/WebApp/WebApp.csproj
  tracer/src/Datadog.Trace.Tools.Runner/Datadog.Trace.Tools.Runner.csproj
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/Datadog.Trace.ClrProfiler.IntegrationTests.csproj
  tracer/test/Datadog.Trace.ClrProfiler.Managed.Tests/Datadog.Trace.ClrProfiler.Managed.Tests.csproj
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Datadog.Trace.Debugger.IntegrationTests.csproj
  tracer/test/Datadog.Trace.DuckTyping.Tests/Datadog.Trace.DuckTyping.Tests.csproj
  tracer/test/Datadog.Trace.Security.IntegrationTests/Datadog.Trace.Security.IntegrationTests.csproj
  tracer/test/Datadog.Trace.Tests/Datadog.Trace.Tests.csproj
  tracer/test/Datadog.Trace.Tools.Runner.IntegrationTests/Datadog.Trace.Tools.Runner.IntegrationTests.csproj
  tracer/test/Datadog.Trace.Tools.Runner.Tests/Datadog.Trace.Tools.Runner.Tests.csproj
  tracer/test/Datadog.Trace.Tools.dd_dotnet.ArtifactTests/Datadog.Trace.Tools.dd_dotnet.ArtifactTests.csproj
  tracer/test/Datadog.Trace.Tools.dd_dotnet.IntegrationTests/Datadog.Trace.Tools.dd_dotnet.IntegrationTests.csproj
  tracer/test/Datadog.Trace.Tools.dd_dotnet.Tests/Datadog.Trace.Tools.dd_dotnet.Tests.csproj
  tracer/test/test-applications/aspnet/Samples.AspNet472.LoaderOptimizationRegKey/Samples.AspNet472.LoaderOptimizationRegKey.csproj
  tracer/test/test-applications/integrations/LogsInjection.Log4Net.VersionConflict.2x/LogsInjection.Log4Net.VersionConflict.2x.csproj
  tracer/test/test-applications/integrations/LogsInjection.Log4Net/LogsInjection.Log4Net.csproj
  tracer/test/test-applications/integrations/LogsInjection.NLog.VersionConflict.2x/LogsInjection.NLog.VersionConflict.2x.csproj
  tracer/test/test-applications/integrations/LogsInjection.NLog/LogsInjection.NLog.csproj
  tracer/test/test-applications/integrations/LogsInjection.NLog10.VersionConflict.2x/LogsInjection.NLog10.VersionConflict.2x.csproj
  tracer/test/test-applications/integrations/LogsInjection.NLog20.VersionConflict.2x/LogsInjection.NLog20.VersionConflict.2x.csproj
  tracer/test/test-applications/integrations/Samples.AspNetCoreMinimalApis/Samples.AspNetCoreMinimalApis.csproj
  tracer/test/test-applications/integrations/Samples.AspNetCoreMvc30/Samples.AspNetCoreMvc30.csproj
  tracer/test/test-applications/integrations/Samples.AspNetCoreMvc31/Samples.AspNetCoreMvc31.csproj
  tracer/test/test-applications/integrations/Samples.CIVisibilityVersionMismatch/Samples.CIVisibilityVersionMismatch.csproj
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Samples.InstrumentedTests.csproj
  tracer/test/test-applications/integrations/Samples.Selenium/Samples.Selenium.csproj
  tracer/test/test-applications/integrations/Samples.XUnitTests/Samples.XUnitTests.csproj
  tracer/test/test-applications/integrations/Samples.XUnitTestsRetries/Samples.XUnitTestsRetries.csproj
Labels: area:builds

#6454 [Tracing] Update telemetry metrics for OpenTelemetry integration
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/CiVisibilityMetricsTelemetryCollector_CountShared.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_CountShared.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/CiVisibilityMetricsTelemetryCollector_CountShared.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_CountShared.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/CiVisibilityMetricsTelemetryCollector_CountShared.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_CountShared.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/CiVisibilityMetricsTelemetryCollector_CountShared.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_CountShared.g.cs
  tracer/src/Datadog.Trace/Telemetry/Metrics/MetricTags.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/Helpers/TelemetryHelper.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/Helpers/TelemetryHelperTests.cs
Labels: area:tests

#6528 Skip the flaky XUnit named pipes tests
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/PipesXUnitEvpTests.cs
Labels: area:tests

#6527 Enable dependabot for Azure Functions sample
  .github/dependabot.yml
  tracer/test/test-applications/azure-functions/Samples.AzureFunctions.V4Isolated.SdkV1/Samples.AzureFunctions.V4Isolated.SdkV1.csproj
  tracer/test/test-applications/azure-functions/Samples.AzureFunctions.V4Isolated/Samples.AzureFunctions.V4Isolated.csproj
Labels: area:builds, area:test-apps

#6526 Stop using EventIdHash to compare messages in telemetry logs
  tracer/src/Datadog.Trace/Telemetry/Collectors/RedactedErrorLogCollector.cs
Labels: type:bug, area:tracer, area:telemetry

#6498 Build the test sample projects in a separate CI stage
  .azure-pipelines/ultimate-pipeline.yml
  Datadog.Trace.Samples.g.sln
  tracer/Datadog.Trace.proj
  tracer/build/_build/Build.Steps.cs
  tracer/build/_build/Build.Utilities.cs
  tracer/build/_build/Build.cs
  tracer/build/_build/NukeExtensions/ProjectExtensions.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AzureFunctionsTests.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/AspNetCore5BlockingTemplates.cs
  tracer/test/Datadog.Trace.TestHelpers.SharedSource/VerifyHelper.cs
  tracer/test/Datadog.Trace.TestHelpers/EnvironmentHelper.cs
  tracer/test/test-applications/integrations/LogsInjection.NLog/Program.cs
  tracer/test/test-applications/integrations/Samples.CIVisibilityVersionMismatch/Samples.CIVisibilityVersionMismatch.csproj
  tracer/test/test-applications/integrations/Samples.MSTestTests/Samples.MSTestTests.csproj
  tracer/test/test-applications/integrations/Samples.MSTestTests2/Samples.MSTestTests2.csproj
  tracer/test/test-applications/integrations/Samples.MSTestTestsRetries/Samples.MSTestTestsRetries.csproj
  tracer/test/test-applications/integrations/Samples.MongoDB/Program.cs
  tracer/test/test-applications/integrations/Samples.NUnitTests/Samples.NUnitTests.csproj
  tracer/test/test-applications/integrations/Samples.NUnitTestsRetries/Samples.NUnitTestsRetries.csproj
  tracer/test/test-applications/integrations/Samples.Selenium/Samples.Selenium.csproj
  tracer/test/test-applications/integrations/Samples.XUnitTests/Samples.XUnitTests.csproj
  tracer/test/test-applications/integrations/Samples.XUnitTestsRetries/Samples.XUnitTestsRetries.csproj
Labels: area:builds

#6488 [ASM] Fix WebApi blocking on Response
  tracer/src/Datadog.Trace/AppSec/Coordinator/SecurityCoordinator.Framework.cs
  tracer/src/Datadog.Trace/AspNet/TracingHttpModule.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/AspNetWebApi.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/ruleset.3.0.json
  tracer/test/snapshots/Security.AspNetWebApi.Classic.enableSecurity=False.__test=server.request.body_url=_api_Home_Upload_body={-Property1-- -[blocking_test]-}.verified.txt
  tracer/test/snapshots/Security.AspNetWebApi.Classic.enableSecurity=False.__test=server.request.path_params_url=_api_route_2-arg=[blocking_test]_body=null.verified.txt
  tracer/test/snapshots/Security.AspNetWebApi.Classic.enableSecurity=True.__test=server.request.body_url=_api_Home_Upload_body={-Property1-- -[blocking_test]-}.verified.txt
  tracer/test/snapshots/Security.AspNetWebApi.Classic.enableSecurity=True.__test=server.request.path_params_url=_api_route_2-arg=[blocking_test]_body=null.verified.txt
  tracer/test/snapshots/Security.AspNetWebApi.Integrated.enableSecurity=False.__test=server.request.body_url=_api_Home_Upload_body={-Property1-- -[blocking_test]-}.verified.txt
  tracer/test/snapshots/Security.AspNetWebApi.Integrated.enableSecurity=False.__test=server.request.path_params_url=_api_route_2-arg=[blocking_test]_body=null.verified.txt
  tracer/test/snapshots/Security.AspNetWebApi.Integrated.enableSecurity=False.__test=server.response.headers.no_cookies_url=_api_asm_injectedheader_body=null.verified.txt
  tracer/test/snapshots/Security.AspNetWebApi.Integrated.enableSecurity=True.__test=server.request.body_url=_api_Home_Upload_body={-Property1-- -[blocking_test]-}.verified.txt
  tracer/test/snapshots/Security.AspNetWebApi.Integrated.enableSecurity=True.__test=server.request.path_params_url=_api_route_2-arg=[blocking_test]_body=null.verified.txt
  tracer/test/snapshots/Security.AspNetWebApi.Integrated.enableSecurity=True.__test=server.response.headers.no_cookies_url=_api_asm_injectedheader_body=null.verified.txt
  tracer/test/test-applications/security/aspnet/Samples.Security.WebApi/Controllers/AsmController.cs
  tracer/test/test-applications/security/aspnet/Samples.Security.WebApi/Samples.Security.WebApi.csproj
Labels: area:tests, area:asm

#6496 Parallelise appsec system tests in CI
  .azure-pipelines/ultimate-pipeline.yml
Labels: area:builds

#6535 Wait for background task in ConfigureCiCommand
  tracer/src/Datadog.Trace.Tools.Runner/ConfigureCiCommand.cs
Labels: type:bug, area:ci-visibility

#6538 Add missing build dependency
  .azure-pipelines/ultimate-pipeline.yml
Labels: area:builds

#6475 Fix pinned locals parsing + bump dotnet version for protobuf and eShopOnWeb exploration tests
  tracer/build/_build/Build.ExplorationTests.cs
  tracer/src/Datadog.Tracer.Native/clr_helpers.cpp
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.FixedBlockTest.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/statuses/ProbeTests.FixedBlockTest.verified.txt
  tracer/test/test-applications/debugger/dependency-libs/Samples.Probes.TestRuns/SmokeTests/FixedBlockTest.cs
Labels: type:bug, area:builds

#6511 Move SpanContextPropagator to TracerManager
  tracer/src/Datadog.Trace.Coverage.collector/CoverageCollector.cs
  tracer/src/Datadog.Trace/AppSec/Coordinator/SecurityReporter.cs
  tracer/src/Datadog.Trace/AspNet/TracingHttpModule.cs
  tracer/src/Datadog.Trace/Ci/TestModule.cs
  tracer/src/Datadog.Trace/Ci/TestSession.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/EventBridge/ContextPropagation.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/Kinesis/ContextPropagation.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/Lambda/LambdaCommon.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/Shared/ContextPropagation.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AspNet/AspNetMvcIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AspNet/AspNetWebApi2Integration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Azure/Functions/AzureFunctionsCommon.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Grpc/GrpcDotNet/GrpcAspNetCoreServer/GrpcDotNetServerCommon.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Grpc/GrpcDotNet/GrpcNetClient/GrpcDotNetClientCommon.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Grpc/GrpcLegacy/Client/GrpcLegacyClientCommon.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Grpc/GrpcLegacy/Server/GrpcLegacyServerCommon.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Http/HttpClient/HttpMessageHandlerCommon.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Http/WebRequest/HttpWebRequest_BeginGetResponse_Integration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Http/WebRequest/HttpWebRequest_EndGetResponseV9_Integration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Http/WebRequest/HttpWebRequest_EndGetResponse_Integration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Http/WebRequest/WebRequestCommon.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/IbmMq/IbmMqHelper.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Kafka/KafkaHelper.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/RabbitMQ/BasicGetIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/RabbitMQ/BasicPublishIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/RabbitMQ/RabbitMQIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Remoting/Client/HttpProcessMessageIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Remoting/Client/IpcTcpProcessMessageIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Remoting/Server/ProcessMessageIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/DotnetTest/CoverageGetCoverageResultIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/DotnetTest/DotnetCommon.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/DotnetTest/ManagedVanguardStopIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Wcf/WcfCommon.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutomaticTracer.cs
  tracer/src/Datadog.Trace/ClrProfiler/ManualTracer.cs
  tracer/src/Datadog.Trace/ExtensionMethods/SpanExtensions.cs
  tracer/src/Datadog.Trace/PlatformHelpers/AspNetCoreHttpRequestHandler.cs
  tracer/src/Datadog.Trace/Propagators/DistributedContextExtractor.cs
  tracer/src/Datadog.Trace/Propagators/SpanContextPropagator.cs
  tracer/src/Datadog.Trace/ServiceFabric/ServiceRemotingClient.cs
  tracer/src/Datadog.Trace/ServiceFabric/ServiceRemotingService.cs
  tracer/src/Datadog.Trace/SpanContextExtractor.cs
  tracer/src/Datadog.Trace/SpanContextInjector.cs
  tracer/src/Datadog.Trace/TracerManager.cs
  tracer/src/Datadog.Trace/TracerManagerFactory.cs
  tracer/test/Datadog.Trace.IntegrationTests/Sampling/DelaySamplingDecisionTests.cs
  tracer/test/Datadog.Trace.Tests/DistributedTracer/AutomaticTracerTests.cs
  tracer/test/Datadog.Trace.Tests/Propagators/DistributedPropagatorTests.cs
  tracer/test/Datadog.Trace.Tests/SpanContextPropagatorTests_ExtractHeaderTags.cs
  tracer/test/Datadog.Trace.Tests/TracerTests.cs
Labels: area:tracer

#6537 Actually include child processes when requested during a memory dump in tests - part 2 :D
  tracer/test/Datadog.Trace.TestHelpers/MemoryDumpHelper.cs
  tracer/test/Datadog.Trace.TestHelpers/ProcessHelper.Children.cs
Labels: area:tests

#6539 [Crashtracking] Add more filtering on TypeLoadException
  tracer/src/Datadog.Trace.Tools.dd_dotnet/CreatedumpCommand.cs
Labels: type:enhancement, area:crashtracking

#6545 [CI Visibility] Improve Git commands execution
  tracer/src/Datadog.Trace/Ci/CIVisibility.cs
  tracer/src/Datadog.Trace/Ci/IntelligentTestRunnerClient.cs
  tracer/src/Datadog.Trace/Util/ProcessHelpers.cs
Labels: area:ci-visibility

#6501 Consolidate all integration test targets into a single target
  .azure-pipelines/ultimate-pipeline.yml
  docker-compose.yml
  tracer/build/_build/Build.Steps.cs
  tracer/build/_build/Build.cs
Labels: area:builds

#5087 Bump FluentAssertions and add analyzers
  tracer/test/Datadog.Trace.Tests/Propagators/B3MultipleHeadersPropagatorTests.cs
  tracer/test/Datadog.Trace.Tests/Propagators/B3SingleHeaderPropagatorTests.cs
  tracer/test/Datadog.Trace.Tests/Propagators/DatadogPropagatorTests.cs
  tracer/test/Datadog.Trace.Tests/Propagators/MultiSpanContextPropagatorTests.cs
  tracer/test/Datadog.Trace.Tests/Propagators/W3CTraceContextPropagatorTests.cs
  tracer/test/Directory.Build.props
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Samples.InstrumentedTests.csproj
Labels: area:builds, area:tests

#6531 [IAST] Lock vulnerabilities list access
  tracer/src/Datadog.Trace/Iast/VulnerabilityBatch.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/IAST/Tainted/VulnerabilityBatchTests.cs
Labels: type:bug, area:tracer, area:asm-iast

#6551 Add wait strategy for aerospike
  tracer/test/Datadog.Trace.TestHelpers.AutoInstrumentation/Containers/AerospikeFixture.cs
Labels: area:tests

#6529 [ASM] Context disposed related exceptions when calling the WAF
  tracer/src/Datadog.Trace/AppSec/Coordinator/HttpTransportBase.cs
  tracer/src/Datadog.Trace/AppSec/Coordinator/SecurityCoordinator.Core.cs
  tracer/src/Datadog.Trace/AppSec/Coordinator/SecurityCoordinator.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/RASP/RaspWafTests.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/SecurityCoordinatorTests.cs
  tracer/test/test-applications/security/Samples.Security.AspNetCore5/Controllers/IastController.cs
  tracer/test/test-applications/security/Samples.Security.AspNetCore5/Views/Home/Index.cshtml
  tracer/test/test-applications/security/aspnet/Samples.Security.AspNetMvc5/Controllers/IastController.cs
  tracer/test/test-applications/security/aspnet/Samples.Security.AspNetMvc5/Views/Home/Index.cshtml
Labels: area:asm

#6505 Fix container tagging for Alpine containers
  tracer/src/Datadog.Trace/PlatformHelpers/ContainerMetadata.cs
  tracer/test/Datadog.Trace.Tests/PlatformHelpers/ContainerMetadataTests.cs
Labels: type:bug, area:tracer, area:tests

#5831 Randomize the order of tests
  .azure-pipelines/steps/run-in-docker.yml
  docker-compose.yml
  tracer/test/Datadog.Trace.TestHelpers/CustomTestFramework.cs
Labels: area:tests

#6546 remove unused variable causing warnings
  tracer/build/_build/Build.ExplorationTests.cs
Labels: area:builds

#6556 [Dynamic Instrumentation] DEBUG-3223 SymDB compression fix
  tracer/src/Datadog.Trace/Agent/Transports/MimeTypes.cs
  tracer/src/Datadog.Trace/Configuration/ConfigurationKeys.Debugger.cs
  tracer/src/Datadog.Trace/Debugger/DebuggerSettings.cs
  tracer/src/Datadog.Trace/Debugger/Upload/SymbolUploadApi.cs
  tracer/test/Datadog.Trace.Tests/Debugger/DebuggerSettingsTests.cs
Labels: area:debugger

#6548 Disable profiling in smoke tests
  .azure-pipelines/steps/run-snapshot-test.yml
  tracer/build/_build/Build.Steps.cs
Labels: area:builds, area:tests

#6459 [ASM] Catch HttpException when reading the request body in .net461
  tracer/src/Datadog.Trace/Util/RequestDataHelper.cs
Labels: area:tracer, area:asm

#6560 Don't run integration tests on `netcoreapp2.1`
  tracer/build/_build/Build.Steps.cs
Labels: area:builds, area:tests

#6561 [serverless] Upload serverless assets to Azure so we can release for a layer
  .azure-pipelines/ultimate-pipeline.yml
  .gitlab/download-serverless-artifacts.sh
Labels: area:builds, area:serverless

#6562 [Dynamic Instrumentation] Change the way we are using the gzip stream in SymDB
  tracer/src/Datadog.Trace/Debugger/Upload/SymbolUploadApi.cs
Labels: area:tracer, area:debugger

#6552 [Debugger] Don't redact config/address tokens
  tracer/src/Datadog.Trace/Debugger/Snapshots/Redaction.cs
Labels: area:tracer, area:debugger

#6553 [Debugger] Don't redact env tokens from probe snapshots
  tracer/src/Datadog.Trace/Debugger/Snapshots/Redaction.cs
Labels: area:tracer, area:debugger

#6563 Move the aspnetcore benchmark
  tracer/test/benchmarks/Benchmarks.Trace/AspNetCoreBenchmark.cs
Labels: area:builds, area:tests, area:benchmarks

#6550 Don't log a warning for CORPROF_E_PROFILER_CANCEL_ACTIVATION
  shared/src/Datadog.Trace.ClrProfiler.Native/cor_profiler_class_factory.cpp
  shared/src/Datadog.Trace.ClrProfiler.Native/dynamic_dispatcher.cpp
  shared/src/Datadog.Trace.ClrProfiler.Native/dynamic_instance.cpp
Labels: area:shared-components

#6315 [Profiler] Make `timer_create`-based CPU profiler default
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Configuration.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Configuration.h
  profiler/test/Datadog.Profiler.IntegrationTests/LinuxOnly/SignalHandlerTest.cs
  profiler/test/Datadog.Profiler.Native.Tests/ConfigurationTest.cpp
Labels: area:profiler

#6547 [Profiler] Cleanup repository
  profiler/README.MD
  profiler/src/Tools/ETW/dd-prof-etw/dd-prof-etw-client/EtwEventDumper.cpp
  profiler/src/Tools/ETW/dd-prof-etw/dd-prof-etw-client/EtwEventDumper.h
Labels: area:profiler

#6566 [ASM] Add a lock to handle WAF active addresses
  tracer/src/Datadog.Trace/AppSec/Security.cs
Labels: area:asm

#6568 [Crashtracking] Tag reports with is_crash: true
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CrashReporting.cpp
  tracer/test/Datadog.Trace.Tools.dd_dotnet.ArtifactTests/CreatedumpTests.cs
Labels: area:crashtracking

#6572 Drop testing for macos-12
  tracer/build/_build/Build.VariableGenerations.cs
Labels: area:builds, area:tests

#6479 Add support for RabbitMQ v7
  tracer/build/PackageVersionsGeneratorDefinitions.json
  tracer/build/PackageVersionsLatestMajors.g.props
  tracer/build/PackageVersionsLatestMinors.g.props
  tracer/build/PackageVersionsLatestSpecific.g.props
  tracer/build/supported_calltargets.g.json
  tracer/build/supported_versions.json
  tracer/dependabot/Datadog.Dependabot.Integrations.csproj
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/RabbitMQ/AmqpTimestamp.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/RabbitMQ/BasicConsumeAsyncIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/RabbitMQ/BasicDeliverAsyncAsyncIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/RabbitMQ/BasicDeliverAsyncIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/RabbitMQ/BasicDeliverIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/RabbitMQ/BasicGetAsyncIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/RabbitMQ/BasicGetIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/RabbitMQ/BasicPublishAsyncCachedStringsIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/RabbitMQ/BasicPublishAsyncIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/RabbitMQ/BasicPublishIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/RabbitMQ/CachedBasicPropertiesHelper.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/RabbitMQ/ExchangeDeclareAsyncIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/RabbitMQ/IBasicGetResult.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/RabbitMQ/IBasicProperties.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/RabbitMQ/IReadOnlyBasicProperties.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/RabbitMQ/PopulateBasicPropertiesHeadersIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/RabbitMQ/QueueBindAsyncIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/RabbitMQ/QueueDeclareAsyncIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/RabbitMQ/RabbitMQConstants.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/RabbitMQ/RabbitMQIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/ClrNames.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Tracer.Native/Generated/generated_calltargets.g.cpp
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestMajors.g.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestMinors.g.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestSpecific.g.cs
  tracer/test/Datadog.Trace.ClrProfiler.Managed.Tests/TypeNameTests.cs
  tracer/test/test-applications/integrations/Samples.DataStreams.RabbitMQ/Program.cs
  tracer/test/test-applications/integrations/Samples.DataStreams.RabbitMQ/Samples.DataStreams.RabbitMQ.csproj
  tracer/test/test-applications/integrations/Samples.RabbitMQ/AsyncExplicitImplementationConsumer.cs
  tracer/test/test-applications/integrations/Samples.RabbitMQ/AsyncExplicitImplementationConsumer_V7.cs
  tracer/test/test-applications/integrations/Samples.RabbitMQ/ImplicitImplementationConsumer.cs
  tracer/test/test-applications/integrations/Samples.RabbitMQ/ImplicitImplementationConsumer_v7.cs
  tracer/test/test-applications/integrations/Samples.RabbitMQ/Program.cs
  tracer/test/test-applications/integrations/Samples.RabbitMQ/Samples.RabbitMQ.csproj
Labels: area:tracer, area:automatic-instrumentation

#6579 Revert "[Profiler] Make `timer_create`-based CPU profiler default"
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Configuration.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Configuration.h
  profiler/test/Datadog.Profiler.IntegrationTests/LinuxOnly/SignalHandlerTest.cs
  profiler/test/Datadog.Profiler.Native.Tests/ConfigurationTest.cpp
Labels: area:profiler

#6576 Debug what's going on with pipeline monitor
  .azure-pipelines/ultimate-pipeline.yml
  tracer/tools/PipelineMonitor/Program.cs
Labels: area:builds

#6575 Add testing for macos-15
  tracer/build/_build/Build.VariableGenerations.cs
Labels: area:builds, area:tests

#6578 [Dynamic Instrumentation] DEBUG-3298 Handle symbols without names
  tracer/src/Datadog.Trace/Debugger/Symbols/Model/Scope.cs
  tracer/src/Datadog.Trace/Debugger/Symbols/Model/Symbol.cs
  tracer/src/Datadog.Trace/Debugger/Symbols/SymbolExtractor.cs
  tracer/src/Datadog.Trace/Debugger/Symbols/SymbolPdbExtractor.cs
  tracer/src/Datadog.Trace/Debugger/Symbols/SymbolsExtensions.cs
  tracer/src/Datadog.Trace/Debugger/Symbols/SymbolsUploader.cs
  tracer/src/Datadog.Trace/Debugger/Symbols/TypeProvider.cs
  tracer/test/Datadog.Trace.Tests/Debugger/SymbolsTests/SymbolExtractorTest.cs
  tracer/test/Datadog.Trace.Tests/Debugger/SymbolsTests/SymbolUploaderTest.cs
Labels: area:debugger

#6583 [Profiler] Fix Windows 64 bit stack walking
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Windows/Windows64BitStackFramesCollector.cpp
Labels: area:profiler

#6586 Skip non-linux OCI package creation
  .gitlab/prepare-oci-package.sh
Labels: area:builds

#6598 Refactor the NGEN tracking fix to be more performant
  tracer/src/Datadog.Tracer.Native/clr_helpers.h
  tracer/src/Datadog.Tracer.Native/cor_profiler.cpp
  tracer/src/Datadog.Tracer.Native/cor_profiler.h
Labels: area:native-library, type:performance

#6603 [ASM][ATO] user id from sdk overwrite user login tags
  tracer/src/Datadog.Trace/AppSec/EventTrackingSdk.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AspNetCore/UserEvents/HttpContextSetUser.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AspNetCore/UserEvents/SignInManagerPasswordSignInUserIntegration.cs
  tracer/src/Datadog.Trace/SpanExtensions.Framework.cs
  tracer/src/Datadog.Trace/SpanExtensions.cs
  tracer/src/Datadog.Trace/Tags.AppSec.cs
  tracer/test/snapshots/ManualInstrumentationTests.ManualAndAutomatic.verified.txt
  tracer/test/snapshots/Security.AspNetCore5AsmDataSecurityDisabled.__test=blocking-user_url=_user.verified.txt
  tracer/test/snapshots/Security.AspNetCore5AsmDataSecurityEnabled.__test=blocking-user_url=_user.verified.txt
  tracer/test/snapshots/Security.AspNetCore5AutoUserEvents.SecurityOff.extendedmode-TestLoginWithSdk.blocked-user.verified.txt
  tracer/test/snapshots/Security.AspNetCore5AutoUserEvents.SecurityOff.extendedmode-TestLoginWithSdk.not-blocked-user.verified.txt
  tracer/test/snapshots/Security.AspNetCore5AutoUserEvents.SecurityOn.anonmode-TestLoginWithSdk.blocked-user.verified.txt
  tracer/test/snapshots/Security.AspNetCore5AutoUserEvents.SecurityOn.anonmode-TestLoginWithSdk.not-blocked-user.verified.txt
  tracer/test/snapshots/Security.AspNetCore5AutoUserEvents.SecurityOn.defaultmode-TestLoginWithSdk.blocked-user.verified.txt
  tracer/test/snapshots/Security.AspNetCore5AutoUserEvents.SecurityOn.defaultmode-TestLoginWithSdk.not-blocked-user.verified.txt
  tracer/test/snapshots/Security.AspNetCore5AutoUserEvents.SecurityOn.extendedmode-TestLoginWithSdk.blocked-user.verified.txt
  tracer/test/snapshots/Security.AspNetCore5AutoUserEvents.SecurityOn.extendedmode-TestLoginWithSdk.not-blocked-user.verified.txt
  tracer/test/snapshots/Security.AspNetCore5AutoUserEvents.SecurityOn.identmode-TestLoginWithSdk.blocked-user.verified.txt
  tracer/test/snapshots/Security.AspNetCore5AutoUserEvents.SecurityOn.identmode-TestLoginWithSdk.not-blocked-user.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5AsmData.Classic.enableSecurity=False.__test=blocking-user_url=_user.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5AsmData.Classic.enableSecurity=True.__test=blocking-user_url=_user.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5AsmData.Integrated.enableSecurity=False.__test=blocking-user_url=_user.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5AsmData.Integrated.enableSecurity=True.__test=blocking-user_url=_user.verified.txt
  tracer/test/snapshots/Security.AspNetWebApiAsmData.Classic.enableSecurity=False.__test=blocking-user_url=_api_user.verified.txt
  tracer/test/snapshots/Security.AspNetWebApiAsmData.Classic.enableSecurity=True.__test=blocking-user_url=_api_user.verified.txt
  tracer/test/snapshots/Security.AspNetWebApiAsmData.Integrated.enableSecurity=False.__test=blocking-user_url=_api_user.verified.txt
  tracer/test/snapshots/Security.AspNetWebApiAsmData.Integrated.enableSecurity=True.__test=blocking-user_url=_api_user.verified.txt
  tracer/test/snapshots/Security.AspNetWebFormsAsmData.Classic.enableSecurity=False.__test=blocking-user_url=_user.verified.txt
  tracer/test/snapshots/Security.AspNetWebFormsAsmData.Classic.enableSecurity=True.__test=blocking-user_url=_user.verified.txt
  tracer/test/snapshots/Security.AspNetWebFormsAsmData.Integrated.enableSecurity=False.__test=blocking-user_url=_user.verified.txt
  tracer/test/snapshots/Security.AspNetWebFormsAsmData.Integrated.enableSecurity=True.__test=blocking-user_url=_user.verified.txt
Labels: area:asm

#6608 regenerate solutions as part of building the managed tracer
  tracer/build/_build/Build.cs
Labels: area:builds

#6610 [IAST] Add IAST package exclussions
  tracer/src/Datadog.Tracer.Native/iast/dataflow.cpp
Labels: area:asm-iast

#6585 Update to .NET SDK 9.0.102
  .azure-pipelines/noop-pipeline.yml
  .azure-pipelines/ultimate-pipeline.yml
  .github/actions/run-in-docker/action.yml
  .github/workflows/auto_add_vnext_milestone_to_pr.yml
  .github/workflows/auto_bump_test_package_versions.yml
  .github/workflows/auto_check_snapshots.yml
  .github/workflows/auto_create_version_bump_pr.yml
  .github/workflows/auto_label_prs.yml
  .github/workflows/auto_update_benchmark_branches.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/create-system-test-docker-base-images.yml
  .github/workflows/create_draft_release.yml
  .github/workflows/create_hotfix_branch.yml
  .github/workflows/force_manual_version_bump.yml
  .github/workflows/generate_package_versions.yml
  .github/workflows/verify_app_trimming_changes_are_persisted.yml
  .github/workflows/verify_files_without_nullability.yml
  .github/workflows/verify_integrations_map_added.yml
  .github/workflows/verify_solution_changes_are_persisted.yml
  .github/workflows/verify_source_generated_changes_are_persisted.yml
  .github/workflows/verify_span_metadata_markdown_is_updated.yml
  .gitlab-ci.yml
  docker-compose.yml
  global.json
  tracer/build/_build/docker/gitlab/gitlab.windows.dockerfile
  tracer/build_in_docker.ps1
  tracer/build_in_docker.sh
Labels: area:builds

#6484 Update dotnet-install scripts for impending change of .NET install domains
  tracer/build/_build/bootstrap/dotnet-install.ps1
  tracer/build/_build/bootstrap/dotnet-install.sh
Labels: area:builds, status:do-not-merge

#6595 [ASM] [IAST] Enable email injection unit tests
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/EmailHtmlInjection/EmailHtmlInjectionTests.cs
Labels: area:tests, area:asm, area:asm-iast

#6611 Move the Nuke arguments into the gitlab file
  .gitlab-ci.yml
  tracer/build/_build/docker/gitlab/entrypoint.bat
  tracer/build/_build/docker/gitlab/gitlab.windows.dockerfile
Labels: area:builds

#6555 [IAST] Fix flaky Interpolated Strings tests
  tracer/src/Datadog.Trace/Iast/ITaintedObject.cs
  tracer/src/Datadog.Trace/Iast/Propagation/DefaultInterpolatedStringHandlerModuleImpl.cs
  tracer/src/Datadog.Trace/Iast/TaintedObject.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/IAST/Tainted/DefaultTaintedMapTests.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/IAST/Tainted/TaintedForTest.cs
  tracer/test/snapshots/Iast.SqliInterpolatedString.AspNetCore5.IastEnabled.verified.txt
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Propagation/String/DefaultInterpolatedStringHandlerTests.cs
  tracer/test/test-applications/security/Samples.Security.AspNetCore5/Controllers/IastController.cs
Labels: area:tests, area:asm-iast

#6612 Stop intalling all the .NET SDK versions in benchmark agents
  .azure-pipelines/ultimate-pipeline.yml
Labels: area:builds
