Repository DataDog/dd-trace-dotnet, pull requests merged in 2025-07, with the labels that each got.

#7142 [AAP] Send WAF config errors to Telemetry Logs
  tracer/build/_build/Build.Steps.cs
  tracer/src/Datadog.Trace/AppSec/Waf/Initialization/WafConfigurator.cs
  tracer/src/Datadog.Trace/AppSec/Waf/ReturnTypes.Managed/DiagnosticResult.cs
  tracer/src/Datadog.Trace/AppSec/Waf/ReturnTypes.Managed/DiagnosticResultUtils.cs
  tracer/src/Datadog.Trace/AppSec/Waf/ReturnTypes.Managed/UpdateResult.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/RASP/RASPRcmTests.cs
Labels: area:telemetry, area:asm

#7173 Remove all-green jobs
  .github/workflows/all-green.yml
Labels: area:builds

#7174 Fix github token usage
  .azure-pipelines/steps/update-github-status-jobs.yml
  .azure-pipelines/steps/update-github-status.yml
Labels: area:builds

#7169 Don't load the profiler on arm64
  .github/CODEOWNERS
  .gitlab-ci.yml
  shared/src/Datadog.Trace.ClrProfiler.Native/loader.conf
  tracer/build/_build/Build.Steps.cs
Labels: area:shared-components, area:profiler

#7172 Add retry to smoke crash tracking tests
  .azure-pipelines/steps/run-snapshot-test.yml
Labels: area:builds

#7163 Fix test InitializesTracerWhenTracingIsDisabled Flakiness
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/TracerTests.cs
  tracer/test/Datadog.Trace.TestHelpers/LogEntryWatcher.cs
Labels: area:tests

#7181 Add workaround for messed up execution_benchmark results
  tracer/build/_build/ExecutionTimeComparison/CompareExecutionTime.cs
Labels: area:builds, area:benchmarks

#7180 Fix release process by removing check for SSI artifacts
  tracer/build/_build/Build.GitHub.cs
Labels: area:builds

#7178 Explicitly disable debug mode as required
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/Log4NetTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/ManualInstrumentationTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/SmokeTests/EnumerateAssemblyReferencesTest.cs
  tracer/test/Datadog.Trace.TestHelpers/EnvironmentHelper.cs
Labels: area:tests

#7182 [fleet installer] Remove the global instrumentation commands
  .azure-pipelines/ultimate-pipeline.yml
  tracer/build/_build/Build.VariableGenerations.cs
  tracer/src/Datadog.FleetInstaller/Commands/EnableGlobalInstrumentationCommand.cs
  tracer/src/Datadog.FleetInstaller/Commands/EnableIisInstrumentationCommand.cs
  tracer/src/Datadog.FleetInstaller/Commands/RemoveGlobalInstrumentationCommand.cs
  tracer/src/Datadog.FleetInstaller/Commands/RemoveIisInstrumentationCommand.cs
  tracer/src/Datadog.FleetInstaller/Program.cs
Labels: area:ssi

#7185 Remove duplication in system-tests
  .azure-pipelines/ultimate-pipeline.yml
Labels: area:builds, area:tests

#7111 Add new `Datadog.AzureFunctions` nuget package
  .azure-pipelines/ultimate-pipeline.yml
  .github/CODEOWNERS
  Datadog.Trace.sln
  tracer/build/_build/Build.Steps.cs
  tracer/build/_build/Build.cs
  tracer/build/_build/Projects.cs
  tracer/src/Datadog.AzureFunctions/Datadog.AzureFunctions.csproj
  tracer/src/Datadog.AzureFunctions/README.md
  tracer/src/Datadog.AzureFunctions/_._
  tracer/src/Datadog.Trace.Bundle/Datadog.Trace.Bundle.csproj
  tracer/src/Directory.Build.props
Labels: area:builds, area:serverless

#7189 Try to fix flaky tests that use `FileSystemWatcher`
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/DynamicConfigurationTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/TracerFlareTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/TracerTests.cs
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/LiveDebuggerTests.cs
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/ProbesTests.cs
  tracer/test/Datadog.Trace.TestHelpers/LogEntryWatcher.cs
Labels: area:tests

#7085 [Exception Replay] Groundwork to support Test Optimization
  tracer/src/Datadog.Trace/Debugger/ExceptionAutoInstrumentation/ExceptionReplaySettings.cs
  tracer/src/Datadog.Trace/Debugger/ExceptionAutoInstrumentation/ExceptionTrackManager.cs
  tracer/src/Datadog.Trace/Debugger/ExceptionAutoInstrumentation/TrackedExceptionCase.cs
Labels: area:tracer

#7198 [Dynamic Instrumentation] Reducing noisy log lines
  tracer/src/Datadog.Trace/Debugger/Instrumentation/AsyncLineDebuggerInvoker.cs
  tracer/src/Datadog.Trace/Debugger/Instrumentation/AsyncMethodDebuggerInvoker.SingleProbe.cs
  tracer/src/Datadog.Trace/Debugger/Instrumentation/LineDebuggerInvoker.cs
  tracer/src/Datadog.Trace/Debugger/Instrumentation/MethodDebuggerInvoker.SingleProbe.cs
Labels: area:tracer, area:debugger

#7200 Try removing exceptions from the shutdown path
  tracer/src/Datadog.Trace/Agent/DiscoveryService/DiscoveryService.cs
  tracer/src/Datadog.Trace/Iast/Analyzers/HardcodedSecretsAnalyzer.cs
  tracer/src/Datadog.Trace/RemoteConfigurationManagement/RemoteConfigurationManager.cs
  tracer/src/Datadog.Trace/TraceClock.cs
Labels: type:bug, area:tracer

#7204 Use non-BOM version of `Encoding.UTF8` in Libdatadog interop code
  tracer/src/Datadog.Trace/LibDatadog/CharSlice.cs
Labels: area:tracer, libdatadog

#7221 Bump timeitsharp to 0.4.1
  tracer/build/timeit/Samples.FakeDbCommand/Samples.FakeDbCommand.windows.net48.json
  tracer/build/timeit/Samples.FakeDbCommand/Samples.FakeDbCommand.windows.net60.json
  tracer/build/timeit/Samples.FakeDbCommand/Samples.FakeDbCommand.windows.net80.json
  tracer/build/timeit/Samples.FakeDbCommand/Samples.FakeDbCommand.windows.netcoreapp31.json
  tracer/build/timeit/Samples.FakeDbCommand/run.cmd
  tracer/build/timeit/Samples.HttpMessageHandler/Samples.HttpMessageHandler.windows.net48.json
  tracer/build/timeit/Samples.HttpMessageHandler/Samples.HttpMessageHandler.windows.net60.json
  tracer/build/timeit/Samples.HttpMessageHandler/Samples.HttpMessageHandler.windows.net80.json
  tracer/build/timeit/Samples.HttpMessageHandler/Samples.HttpMessageHandler.windows.netcoreapp31.json
  tracer/build/timeit/Samples.HttpMessageHandler/run.cmd
Labels: area:builds

#7222 remove redundant dependency check for dynamic assemblies
  tracer/src/Datadog.Trace/Telemetry/Collectors/DependencyTelemetryCollector.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/Collectors/DependencyTelemetryCollectorTests.cs
Labels: area:telemetry

#7226 Bump timeitsharp to 0.4.2
  tracer/build/timeit/Samples.FakeDbCommand/run.cmd
  tracer/build/timeit/Samples.HttpMessageHandler/run.cmd
Labels: area:builds

#7227 Only download samples for the framework that we're testing
  .azure-pipelines/steps/download-samples.yml
  .azure-pipelines/ultimate-pipeline.yml
Labels: area:builds

#7224 Add snapshot tests to document the symbols we depend on in alpine and native loader
  .azure-pipelines/ultimate-pipeline.yml
  tracer/build/_build/Build.Profiler.Steps.cs
  tracer/build/_build/Build.Shared.Steps.cs
  tracer/test/snapshots/native-libdatadog-symbols-alpine-arm64.verified.txt
  tracer/test/snapshots/native-libdatadog-symbols-alpine-x64.verified.txt
  tracer/test/snapshots/native-loader-symbols-arm64.verified.txt
  tracer/test/snapshots/native-loader-symbols-x64.verified.txt
  tracer/test/snapshots/native-profiler-symbols-alpine-arm64.verified.txt
  tracer/test/snapshots/native-profiler-symbols-alpine-x64.verified.txt
  tracer/test/snapshots/native-tracer-symbols-alpine-arm64.verified.txt
  tracer/test/snapshots/native-tracer-symbols-alpine-x64.verified.txt
Labels: area:builds, area:tests, area:native-library

#7236 Bump timeitsharp to v0.4.3
  tracer/build/timeit/Samples.FakeDbCommand/run.cmd
  tracer/build/timeit/Samples.HttpMessageHandler/run.cmd
Labels: area:builds

#7234 Update smoke tests for `debian:trixie`
  profiler/src/ProfilerEngine/Datadog.Linux.ApiWrapper/CMakeLists.txt
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/CMakeLists.txt
  shared/src/Datadog.Trace.ClrProfiler.Native/CMakeLists.txt
  tracer/build/_build/Build.VariableGenerations.cs
  tracer/src/Datadog.Tracer.Native/CMakeLists.txt
Labels: area:builds

#7240 Prevent and remove double-disposal in `DiscoveryService` and `RemoteConfigurationManager`
  tracer/src/Datadog.Trace.Tools.Runner/CiUtils.cs
  tracer/src/Datadog.Trace.Tools.Runner/LegacyCommand.cs
  tracer/src/Datadog.Trace.Tools.Runner/Utils.cs
  tracer/src/Datadog.Trace/Agent/DiscoveryService/DiscoveryService.cs
  tracer/src/Datadog.Trace/RemoteConfigurationManagement/RemoteConfigurationManager.cs
  tracer/test/Datadog.Trace.IntegrationTests/LibDatadog/TraceExporterTests.cs
  tracer/test/Datadog.Trace.IntegrationTests/StatsTests.cs
Labels: type:bug, area:tracer

#7235 Fix the log check error
  tracer/build/_build/Build.Steps.cs
Labels: area:builds

#7201 Add agent response handling to native interop
  tracer/src/Datadog.Trace/Agent/AgentWriter.cs
  tracer/src/Datadog.Trace/Configuration/TracerSettings.cs
  tracer/src/Datadog.Trace/LibDatadog/NativeInterop.cs
  tracer/src/Datadog.Trace/LibDatadog/TraceExporter.cs
  tracer/src/Datadog.Trace/TracerManagerFactory.cs
  tracer/test/Datadog.Trace.IntegrationTests/LibDatadog/TraceExporterTests.cs
Labels: area:tracer, libdatadog

#7247 Fix smoke tests
  tracer/build/_build/Build.VariableGenerations.cs
Labels: area:builds

#7025 [Profiler] Add ringbuffer
  .azure-pipelines/ultimate-pipeline.yml
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/CMakeLists.txt
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/RingBuffer.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/RingBuffer.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/OpSysTools.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/SpinningMutex.hpp
  profiler/test/Datadog.Profiler.Native.Tests/CMakeLists.txt
  profiler/test/Datadog.Profiler.Native.Tests/RingBufferTest.cpp
  tracer/build/_build/Build.Profiler.Steps.cs
  tracer/test/snapshots/native-profiler-symbols-alpine-arm64.verified.txt
  tracer/test/snapshots/native-profiler-symbols-alpine-x64.verified.txt
Labels: area:profiler

#7250 Fix fleet smoke tests... again
  docker-compose.windows.yml
  tracer/build/smoke_test_snapshots/smoke_test_iis_snapshots.json
Labels: area:builds, area:tests, type:flake-fix

#7017 Activate runtime metrics by default on CI
  .gitlab/benchmarks/macrobenchmarks.yml
  tracer/src/Datadog.Trace.Trimming/build/Datadog.Trace.Trimming.xml
  tracer/src/Datadog.Trace/RuntimeMetrics/RuntimeMetricsWriter.cs
  tracer/src/Datadog.Trace/TracerManager.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AgentMalfunctionTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AzureFunctionsTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/TestingFrameworkEvpTest.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/XUnitEvpTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/XUnitTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/TelemetryTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/TransportTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/Transports/LargePayload/LargePayloadTestBase.cs
  tracer/test/Datadog.Trace.TestHelpers.AutoInstrumentation/TestHelper.cs
  tracer/test/Datadog.Trace.TestHelpers/EnvironmentHelper.cs
  tracer/test/Datadog.Trace.TestHelpers/TestTracer/ScopedTracer.cs
  tracer/test/Datadog.Trace.Tests/DogStatsDTests.cs
  tracer/test/Datadog.Trace.Tests/RuntimeMetrics/RuntimeMetricsWriterTests.cs
Labels: area:tracer

#7213 Reduce log level for `ConcurrentAdaptiveCache` capacity
  tracer/src/Datadog.Trace/Debugger/Caching/ConcurrentAdaptiveCache.cs
Labels: area:debugger

#7245 Add support for `xunit.v3` v3
  tracer/build/PackageVersionsGeneratorDefinitions.json
  tracer/build/PackageVersionsLatestMajors.g.props
  tracer/build/PackageVersionsLatestMinors.g.props
  tracer/build/PackageVersionsLatestSpecific.g.props
  tracer/build/supported_calltargets.g.json
  tracer/build/supported_versions.json
  tracer/dependabot/Datadog.Dependabot.Integrations.csproj
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/XUnit/V3/XUnitTestAssemblyRunnerRunV3Integration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/XUnit/V3/XUnitTestClassRunnerRunV3Integration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/XUnit/V3/XUnitTestMethodRunnerBaseRunTestCaseV3Integration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/XUnit/V3/XUnitTestOutputHelperQueueTestOutputV3Integration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/XUnit/V3/XUnitTestRunnerV3Integration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/XUnit/V3/XunitTestMethodRunnerContextCtorV3Integration.cs
  tracer/src/Datadog.Tracer.Native/Generated/generated_calltargets.g.cpp
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/XUnitEvpTestsV3.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/XUnitRetriesTestsV3.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestMajors.g.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestMinors.g.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestSpecific.g.cs
  tracer/test/test-applications/integrations/Samples.XUnitTestsRetriesV3/Samples.XUnitTestsRetriesV3.csproj
  tracer/test/test-applications/integrations/Samples.XUnitTestsV3/Samples.XUnitTestsV3.csproj
Labels: type:enhancement, area:automatic-instrumentation, area:ci-visibility

#7258 Refactor `SpanContextInjector` and `SpanContextExtractor` and improve tests
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/ManualInstrumentation/Propagators/SpanContextExtractorExtractIncludingDsmIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/ManualInstrumentation/Propagators/SpanContextExtractorExtractIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/ManualInstrumentation/Propagators/SpanContextInjectorInjectIncludingDsmIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/ManualInstrumentation/Propagators/SpanContextInjectorInjectIntegration.cs
  tracer/src/Datadog.Trace/SpanContextExtractor.cs
  tracer/src/Datadog.Trace/SpanContextInjector.cs
  tracer/test/Datadog.Trace.Tests/SpanContextInjectorExtractorTests.cs
  tracer/test/test-applications/Samples.Shared/SampleHelpers.cs
Labels: area:tracer, type:refactor

#7264 Mark some debugger tests flaky
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/ProbesTests.cs
  tracer/test/Datadog.Trace.Tests/Debugger/SnapshotSlicerTests.cs
Labels: area:tests, type:flake-fix

#7267 Fix the do-not-merge action
  .github/workflows/do_not_merge.yml
Labels: area:builds

#7265 Use `TrySetResult` instead of `SetResult`
  tracer/src/Datadog.Trace/Agent/DiscoveryService/DiscoveryService.cs
  tracer/src/Datadog.Trace/Iast/Analyzers/HardcodedSecretsAnalyzer.cs
  tracer/src/Datadog.Trace/RemoteConfigurationManagement/RemoteConfigurationManager.cs
  tracer/src/Datadog.Trace/TraceClock.cs
Labels: area:tracer, type:refactor

#7272 [Azure Functions] Fix operation name
  docs/development/AzureFunctions.md
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Azure/Functions/AzureFunctionsCommon.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AzureFunctionsTests.cs
  tracer/test/snapshots/AzureFunctionsTests.InProcess.verified.txt
  tracer/test/snapshots/AzureFunctionsTests.Isolated.V4.AspNetCore.verified.txt
  tracer/test/snapshots/AzureFunctionsTests.Isolated.V4.AspNetCore1.verified.txt
  tracer/test/snapshots/AzureFunctionsTests.Isolated.V4.Sdk1.verified.txt
  tracer/test/snapshots/AzureFunctionsTests.Isolated.verified.txt
Labels: area:serverless

#7271 [Azure Functions] Ignore additional URLs in outgoing HTTP client requests
  tracer/src/Datadog.Trace/ClrProfiler/ServerlessInstrumentation/LambdaMetadata.cs
  tracer/src/Datadog.Trace/Configuration/ImmutableAzureAppServiceSettings.cs
  tracer/src/Datadog.Trace/Configuration/TracerSettings.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AzureFunctionsTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.Managed.Tests/HttpBypassTests.cs
  tracer/test/Datadog.Trace.Tests/Configuration/TracerSettingsServerlessTests.cs
Labels: area:serverless

#7229 [Serverless] Remove "preview" version suffix from `Datadog.AzureFunctions`
  tracer/src/Datadog.AzureFunctions/Datadog.AzureFunctions.csproj
  tracer/src/Datadog.AzureFunctions/README.md
Labels: area:builds, area:docs, area:serverless

#7278 Revert "[Serverless] Remove "preview" version suffix from `Datadog.AzureFunctions` (#7229)"
  tracer/src/Datadog.AzureFunctions/Datadog.AzureFunctions.csproj
  tracer/src/Datadog.AzureFunctions/README.md
Labels: area:builds

#7288 Fix SSI injection telemetry
  shared/src/Datadog.Trace.ClrProfiler.Native/single_step_guard_rails.cpp
  shared/src/Datadog.Trace.ClrProfiler.Native/single_step_guard_rails.h
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/InstrumentationTests.cs
Labels: area:native-library, area:ssi

#7289 Increase rejit timeout from 100ms to 150ms
  tracer/src/Datadog.Tracer.Native/cor_profiler.cpp
Labels: area:native-library

#7283 [Serverless] GA nuget package `Datadog.AzureFunctions`
  tracer/src/Datadog.AzureFunctions/Datadog.AzureFunctions.csproj
  tracer/src/Datadog.AzureFunctions/README.md
Labels: area:builds, area:docs, area:serverless

#7297 Fix debug symbol upload in release
  .github/workflows/create_draft_release.yml
Labels: area:builds

#7274 More fixes for do-not-merge
  .github/workflows/do_not_merge.yml
Labels: area:builds

#7296 Ensure file_opened_ is getting updated when rotating
  shared/src/native-src/lazy_rotating_file_sink-inl.h
  shared/src/native-src/lazy_rotating_file_sink.h
Labels: area:shared-components

#7281 Fix potential deadlocks in `IisFixture` process code
  tracer/test/Datadog.Trace.TestHelpers.AutoInstrumentation/IisFixture.cs
  tracer/test/Datadog.Trace.TestHelpers.AutoInstrumentation/TestHelper.cs
  tracer/test/Datadog.Trace.TestHelpers/ProcessHelper.cs
  tracer/test/Datadog.Trace.Tools.dd_dotnet.ArtifactTests/Checks/IisCheckTests.cs
  tracer/test/Datadog.Trace.Tools.dd_dotnet.IntegrationTests/Checks/IisCheckTests.cs
Labels: area:tests

#7294 [Profiler] Fix and bump timeitsharp
  profiler/build/Allocations.linux.json
  profiler/build/Allocations.windows.json
  profiler/build/Contention.linux.json
  profiler/build/Contention.windows.json
  profiler/build/CpuWallTime.linux.json
  profiler/build/CpuWallTime.windows.json
  profiler/build/Exceptions.linux.json
  profiler/build/Exceptions.windows.json
  profiler/build/GarbageCollections.linux.json
  profiler/build/GarbageCollections.windows.json
  profiler/build/LiveHeap.linux.json
  profiler/build/LiveHeap.windows.json
  profiler/build/OutgoingHttpRequests.linux.json
  profiler/build/OutgoingHttpRequests.windows.json
  profiler/build/install_timeit.cmd
  profiler/build/install_timeit.sh
  profiler/build/run-allocations.cmd
  profiler/build/run-contention.cmd
  profiler/build/run-cpu-walltime.cmd
  profiler/build/run-exceptions.cmd
  profiler/build/run-garbagecollections.cmd
  profiler/build/run-liveheap.cmd
  profiler/build/run-outgoinghttprequests.cmd
  profiler/build/run_timeit.cmd
  tracer/build/timeit/Samples.FakeDbCommand/run.cmd
  tracer/build/timeit/Samples.HttpMessageHandler/run.cmd
Labels: area:profiler

#7138 [OTEL] Metrics API Support
  tracer/src/Datadog.Trace/ClrProfiler/Instrumentation.cs
  tracer/src/Datadog.Trace/Configuration/ConfigurationKeys.cs
  tracer/src/Datadog.Trace/Configuration/TracerSettings.cs
  tracer/src/Datadog.Trace/OTelMetrics/DuckTypes/IMeterProvider.cs
  tracer/src/Datadog.Trace/OTelMetrics/DuckTypes/IMeterProviderBuilder.cs
  tracer/src/Datadog.Trace/OTelMetrics/DuckTypes/IOtelSdk.cs
  tracer/src/Datadog.Trace/OTelMetrics/DuckTypes/IOtlpMetricExporterExtensions.cs
  tracer/src/Datadog.Trace/OTelMetrics/OtlpMetricsExporter.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/OpenTelemetrySdkTests.cs
  tracer/test/Datadog.Trace.TestHelpers/Datadog.Trace.TestHelpers.csproj
  tracer/test/Datadog.Trace.TestHelpers/MockTracerAgent.cs
  tracer/test/Datadog.Trace.TestHelpers/MockTracerResponseType.cs
  tracer/test/Datadog.Trace.TestHelpers/OtelProto/Common.cs
  tracer/test/Datadog.Trace.TestHelpers/OtelProto/Metrics.cs
  tracer/test/Datadog.Trace.TestHelpers/OtelProto/Resource.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/config_norm_rules.json
  tracer/test/snapshots/OpenTelemetrySdkTests.SubmitsOtlpMetrics.verified.txt
  tracer/test/snapshots/OpenTelemetrySdkTests.SubmitsOtlpMetrics_up_to_1_5_0.NET_6.verified.txt
  tracer/test/snapshots/OpenTelemetrySdkTests.SubmitsOtlpMetrics_up_to_1_7_0.NET_7_8.verified.txt
  tracer/test/test-applications/integrations/Samples.OpenTelemetrySdk/OpenTelemetryMetricsMeter.cs
  tracer/test/test-applications/integrations/Samples.OpenTelemetrySdk/Program.cs
  tracer/test/test-applications/integrations/Samples.OpenTelemetrySdk/Samples.OpenTelemetrySdk.csproj
Labels: area:opentelemetry

#7252 Set default timeout for Trace Exporter to 15s.
  tracer/src/Datadog.Trace/LibDatadog/NativeInterop.cs
  tracer/src/Datadog.Trace/LibDatadog/TraceExporterConfiguration.cs
  tracer/src/Datadog.Trace/TracerManagerFactory.cs
Labels: area:tracer, libdatadog

#7313 Fix octo sts trust policy subject
  .github/chainguard/self.auto_bump_test_package_versions.create-pr.sts.yaml
Labels: area:builds

#7311 Refactor `TraceSampler` to separate building from evaluation
  tracer/src/Datadog.Trace/Ci/Sampling/CISampler.cs
  tracer/src/Datadog.Trace/Sampling/ITraceSampler.cs
  tracer/src/Datadog.Trace/Sampling/TraceSampler.cs
  tracer/src/Datadog.Trace/TracerManagerFactory.cs
  tracer/test/Datadog.Trace.Tests/Sampling/TraceSamplerTests.cs
Labels: area:tracer, type:refactor
