Repository DataDog/dd-trace-dotnet, pull requests merged in 2025-09, with the labels that each got.

#7442 Use the global.json file to specify the .NET SDK version in GitHub Actions
  .github/workflows/auto_add_vnext_milestone_to_pr.yml
  .github/workflows/auto_bump_test_package_versions.yml
  .github/workflows/auto_check_snapshots.yml
  .github/workflows/auto_create_version_bump_pr.yml
  .github/workflows/auto_delete_hotfix_branch_post_release.yml
  .github/workflows/auto_label_prs.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/create-system-test-docker-base-images.yml
  .github/workflows/create_draft_release.yml
  .github/workflows/create_hotfix_branch.yml
  .github/workflows/force_manual_version_bump.yml
  .github/workflows/generate_package_versions.yml
  .github/workflows/verify_app_trimming_changes_are_persisted.yml
  .github/workflows/verify_files_without_nullability.yml
  .github/workflows/verify_generated_pipeline_is_updated.yml
  .github/workflows/verify_integrations_map_added.yml
  .github/workflows/verify_solution_changes_are_persisted.yml
  .github/workflows/verify_source_generated_changes_are_persisted.yml
  .github/workflows/verify_span_metadata_markdown_is_updated.yml
Labels: area:builds

#7445 Support `final="true"` in NLog Logging rules for direct log submission
  tracer/missing-nullability-files.csv
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Logging/NLog/DirectSubmission/NLogCommon.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Logging/NLog/DirectSubmission/Proxies/ILoggingConfigurationLegacyProxy.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Logging/NLog/DirectSubmission/Proxies/ILoggingConfigurationProxy.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Logging/NLog/DirectSubmission/Proxies/Pre43/ILoggingConfigurationPre43Proxy.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Logging/NLog/DirectSubmission/Proxies/Pre43/ILoggingRulesListProxy.cs
  tracer/test/test-applications/integrations/LogsInjection.NLog/Configurations/NLog.40.NoLogsInjection.config
  tracer/test/test-applications/integrations/LogsInjection.NLog/Configurations/NLog.40.WithLogsInjection.config
  tracer/test/test-applications/integrations/LogsInjection.NLog/Configurations/NLog.40.config
  tracer/test/test-applications/integrations/LogsInjection.NLog/Configurations/NLog.46.NoLogsInjection.config
  tracer/test/test-applications/integrations/LogsInjection.NLog/Configurations/NLog.46.WithLogsInjection.config
  tracer/test/test-applications/integrations/LogsInjection.NLog/Configurations/NLog.46.config
  tracer/test/test-applications/integrations/LogsInjection.NLog/Configurations/NLog.50.NoLogsInjection.config
  tracer/test/test-applications/integrations/LogsInjection.NLog/Configurations/NLog.50.WithLogsInjection.config
  tracer/test/test-applications/integrations/LogsInjection.NLog/Configurations/NLog.50.config
  tracer/test/test-applications/integrations/LogsInjection.NLog/Configurations/NLog.Pre40.WithLogsInjection.config
  tracer/test/test-applications/integrations/LogsInjection.NLog/Configurations/NLog.Pre40.config
Labels: type:bug, area:integrations, area:direct-log-submission, identified-by:customer

#7438 [AAP] Add Forwarded header as ip source
  tracer/src/Datadog.Trace/Headers/Ip/IpExtractor.cs
  tracer/src/Datadog.Trace/Headers/Ip/RequestIpExtractor.cs
  tracer/test/Datadog.Trace.Tests/Headers/Ip/IpExtractionTests.cs
  tracer/test/Datadog.Trace.Tests/Headers/Ip/RequestHeadersHelpersTests.cs
Labels: area:asm

#7453 Use P/Invoke to call `lstat` instead of shelling out to `stat` to retrieve the inode
  tracer/build/_build/Build.Steps.cs
  tracer/src/Datadog.Trace/ClrProfiler/NativeMethods.cs
  tracer/src/Datadog.Trace/PlatformHelpers/ContainerMetadata.NetFramework.cs
  tracer/src/Datadog.Trace/PlatformHelpers/ContainerMetadata.cs
  tracer/src/Datadog.Tracer.Native/Datadog.Tracer.Native.def
  tracer/src/Datadog.Tracer.Native/interop.cpp
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/VersionConflict/VersionConflict2xTests.cs
  tracer/test/Datadog.Trace.Tests/PlatformHelpers/ContainerMetadataTests.cs
Labels: area:tracer

#7460 [Native] Convert Rejitters vector to a fixed array
  shared/src/native-src/util.h
  tracer/src/Datadog.Tracer.Native/iast/dataflow.cpp
  tracer/src/Datadog.Tracer.Native/rejit_handler.cpp
  tracer/src/Datadog.Tracer.Native/rejit_handler.h
  tracer/src/Datadog.Tracer.Native/rejit_preprocessor.cpp
  tracer/src/Datadog.Tracer.Native/rejit_preprocessor.h
  tracer/test/Datadog.Tracer.Native.Tests/CMakeLists.txt
  tracer/test/Datadog.Tracer.Native.Tests/Datadog.Tracer.Native.Tests.vcxproj
  tracer/test/Datadog.Tracer.Native.Tests/Datadog.Tracer.Native.Tests.vcxproj.filters
  tracer/test/Datadog.Tracer.Native.Tests/util_test.cpp
Labels: area:tracer, area:native-library, area:asm, area:debugger

#7462 Consolidate bailout checks into native loader
  shared/src/Datadog.Trace.ClrProfiler.Native/EnvironmentVariables.h
  shared/src/Datadog.Trace.ClrProfiler.Native/cor_profiler.cpp
  tracer/src/Datadog.Tracer.Native/cor_profiler.cpp
  tracer/src/Datadog.Tracer.Native/environment_variables.h
  tracer/src/Datadog.Tracer.Native/environment_variables_util.cpp
  tracer/src/Datadog.Tracer.Native/environment_variables_util.h
Labels: type:refactor, area:native-library

#7473 [Native] Safer rejitter iterations
  tracer/src/Datadog.Tracer.Native/rejit_handler.cpp
Labels: area:native-library

#7469 Remove `Samples.TraceAnnotations.VersionMismatch.NewerNuget`
  .github/CODEOWNERS
  Datadog.Trace.OSX.slnf
  Datadog.Trace.Samples.g.sln
  Datadog.Trace.sln
  tracer/build/_build/Build.GitHub.cs
  tracer/build/_build/Build.Utilities.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/TraceAnnotationsTests.cs
  tracer/test/snapshots/TraceAnnotationsVersionMismatchNewerNuGetTests._.Core.verified.txt
  tracer/test/snapshots/TraceAnnotationsVersionMismatchNewerNuGetTests._.DotNet.verified.txt
  tracer/test/snapshots/TraceAnnotationsVersionMismatchNewerNuGetTests._.Net.verified.txt
Labels: area:tests, type:cleanup

#7472 Improve logging for `InstrumentationTests` and update dynamic code scenario
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/InstrumentationTests.cs
Labels: area:tests

#7477 Fix typo in dependabot yaml
  .github/dependabot.yml
Labels: area:builds, area:dependabot

#7478 Fix dependabot again
  .github/dependabot.yml
Labels: area:builds, area:dependabot

#7457 Fix GRPC instrumentation for BuildHttpErrorResponse. Enable integration tests.
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Grpc/GrpcDotNet/GrpcAspNetCoreServer/GrpcProtocolHelpersBuildHttpErrorResponseIntegration.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/GrpcTests.cs
  tracer/test/snapshots/GrpcDotNet.SubmitTraces_httpclient=False.SchemaV0.verified.txt
  tracer/test/snapshots/GrpcDotNet.SubmitTraces_httpclient=False.SchemaV1.verified.txt
  tracer/test/snapshots/GrpcDotNet.SubmitTraces_httpclient=True.SchemaV0.verified.txt
  tracer/test/snapshots/GrpcDotNet.SubmitTraces_httpclient=True.SchemaV1.verified.txt
  tracer/test/snapshots/GrpcLegacy.SubmitTraces_httpclient=False.SchemaV0.verified.txt
  tracer/test/snapshots/GrpcLegacy.SubmitTraces_httpclient=False.SchemaV1.verified.txt
  tracer/test/test-applications/integrations/Samples.GrpcDotNet/Program.cs
  tracer/test/test-applications/integrations/Samples.GrpcDotNet/Protos/greet.proto
  tracer/test/test-applications/integrations/Samples.GrpcDotNet/Services/GreeterService.cs
  tracer/test/test-applications/integrations/Samples.GrpcDotNet/Worker.cs
  tracer/test/test-applications/integrations/Samples.GrpcLegacy/ClientWorker.cs
  tracer/test/test-applications/integrations/Samples.GrpcLegacy/Protos/greet.proto
Labels: area:tracer, area:automatic-instrumentation, identified-by:telemetry

#7468 Timeout error installer_smoke_tests
  .azure-pipelines/steps/run-snapshot-test.yml
Labels: area:builds

#7476 Try fixing ASAN job crashes
  .azure-pipelines/ultimate-pipeline.yml
Labels: area:builds

#7483 [Hands-off config] add integration test
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/Configuration/HandsOffConfigurationTests.cs
Labels: area:tests

#7497 [Azure Functions] bump `Datadog.Serverless.Compat` nuget package reference
  tracer/src/Datadog.AzureFunctions/Datadog.AzureFunctions.csproj
Labels: area:serverless

#7441 [Dynamic Instrumentation] Added native hot standby mode to support Remote Enablement and Stable Config
  tracer/src/Datadog.Trace/Debugger/Helpers/AsyncHelper.cs
  tracer/src/Datadog.Trace/Debugger/Instrumentation/AsyncMethodDebuggerInvokerV2.MultiProbe.cs
  tracer/src/Datadog.Trace/Debugger/Instrumentation/SpanDebuggerInvoker.cs
  tracer/src/Datadog.Tracer.Native/debugger_environment_variables.h
  tracer/src/Datadog.Tracer.Native/debugger_environment_variables_util.cpp
  tracer/src/Datadog.Tracer.Native/debugger_environment_variables_util.h
  tracer/src/Datadog.Tracer.Native/debugger_probes_instrumentation_requester.cpp
  tracer/src/Datadog.Tracer.Native/debugger_probes_instrumentation_requester.h
  tracer/src/Datadog.Tracer.Native/debugger_tokens.cpp
  tracer/src/Datadog.Tracer.Native/debugger_tokens.h
Labels: area:debugger

#7512 [Tracer] Updating Statsd in RuntimeEventListener
  tracer/src/Datadog.Trace/RuntimeMetrics/AzureAppServicePerformanceCounters.cs
  tracer/src/Datadog.Trace/RuntimeMetrics/IRuntimeMetricsListener.cs
  tracer/src/Datadog.Trace/RuntimeMetrics/MemoryMappedCounters.cs
  tracer/src/Datadog.Trace/RuntimeMetrics/PerformanceCountersListener.cs
  tracer/src/Datadog.Trace/RuntimeMetrics/RuntimeEventListener.cs
  tracer/src/Datadog.Trace/RuntimeMetrics/RuntimeMetricsWriter.cs
  tracer/test/Datadog.Trace.Tests/RuntimeMetrics/RuntimeEventListenerTests.cs
  tracer/test/Datadog.Trace.Tests/RuntimeMetrics/RuntimeMetricsWriterTests.cs
Labels: type:bug, area:runtime-metrics, identified-by:customer

#7516 Move partial flush settings from `ExporterSettings` to `TracerSettings`
  tracer/src/Datadog.Trace/Ci/Agent/ApmAgentWriter.cs
  tracer/src/Datadog.Trace/Ci/TestOptimizationTracerManager.cs
  tracer/src/Datadog.Trace/Configuration/ConfigurationKeys.Exporter.cs
  tracer/src/Datadog.Trace/Configuration/ExporterSettings.cs
  tracer/src/Datadog.Trace/Configuration/TracerSettings.cs
  tracer/src/Datadog.Trace/TraceContext.cs
  tracer/src/Datadog.Trace/TracerManager.cs
  tracer/src/Datadog.Trace/TracerManagerFactory.cs
  tracer/test/Datadog.Trace.Tests/Configuration/ExporterSettingsTests.cs
  tracer/test/Datadog.Trace.Tests/Configuration/TracerSettingsTests.cs
Labels: area:tracer, type:refactor

#7509 Allow optimized creating of composite configuration source
  tracer/src/Datadog.Trace.Trimming/build/Datadog.Trace.Trimming.xml
  tracer/src/Datadog.Trace/Configuration/ConfigurationSources/CompositeConfigurationSource.cs
Labels: area:tracer, type:refactor, type:performance

#7521 Upload execution benchmark log files and cleanup
  .azure-pipelines/ultimate-pipeline.yml
  tracer/build/timeit/Samples.FakeDbCommand/Samples.FakeDbCommand.windows.net48.json
  tracer/build/timeit/Samples.FakeDbCommand/Samples.FakeDbCommand.windows.net60.json
  tracer/build/timeit/Samples.FakeDbCommand/Samples.FakeDbCommand.windows.net80.json
  tracer/build/timeit/Samples.FakeDbCommand/Samples.FakeDbCommand.windows.netcoreapp31.json
  tracer/build/timeit/Samples.FakeDbCommand/run.cmd
  tracer/build/timeit/Samples.HttpMessageHandler/Samples.HttpMessageHandler.windows.net48.json
  tracer/build/timeit/Samples.HttpMessageHandler/Samples.HttpMessageHandler.windows.net60.json
  tracer/build/timeit/Samples.HttpMessageHandler/Samples.HttpMessageHandler.windows.net80.json
  tracer/build/timeit/Samples.HttpMessageHandler/Samples.HttpMessageHandler.windows.netcoreapp31.json
  tracer/build/timeit/Samples.HttpMessageHandler/run.cmd
  tracer/build/timeit/remove_logs.cmd
Labels: area:builds, area:benchmarks

#7524 [AAP] Update waf to v1.28.1
  tracer/build/_build/Build.Steps.cs
  tracer/build/smoke_test_snapshots/smoke_test_snapshots.json
  tracer/build/smoke_test_snapshots/smoke_test_snapshots_2_1.json
  tracer/test/snapshots/Security.AspNetCore5AsmInitializationSecurityEnabled.TestSecurityInitialization.verified.txt
  tracer/test/snapshots/Security.AspNetCore5AsmInitializationSecurityEnabledWithBadRuleset.TestSecurityInitialization.verified.txt
Labels: area:asm, area:asm-waf-update

#7528 chore(CI): add ForceDebugRun variable for debug control system tests
  .azure-pipelines/ultimate-pipeline.yml
Labels: area:builds

#7535 [AAP] Test endpoint collection with APM tracing disabled
  tracer/test/Datadog.Trace.Security.IntegrationTests/ApiSecurity/AspNetCore5Endpoints.cs
Labels: area:tests, area:asm

#7531 Hide problematic public APIs using `[EditorBrowsable]`
  tracer/src/Datadog.Trace.Manual/Configuration/ExporterSettings.cs
  tracer/src/Datadog.Trace.Manual/Configuration/TracerSettings.cs
  tracer/test/Datadog.Trace.Tests/Snapshots/PublicApiTests.Datadog.Trace.Manual.AssemblyReferencesHaveNotChanged.net6.0.verified.txt
  tracer/test/Datadog.Trace.Tests/Snapshots/PublicApiTests.Datadog.Trace.Manual.AssemblyReferencesHaveNotChanged.netcoreapp3.1.verified.txt
  tracer/test/Datadog.Trace.Tests/Snapshots/PublicApiTests.Datadog.Trace.Manual.PublicApiHasNotChanged.verified.txt
Labels: area:tracer, type:public-api-change

#7533 Capture timeout exceptions in IAST tests
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/InstrumentationTestsBase.cs
Labels: area:tests

#7539 Add AGENTS.md file
  AGENTS.md
Labels: area:docs, mergequeue-status: waiting

#7534 Add a Continuous Profiler availability check
  tracer/src/Datadog.Trace/ContinuousProfiler/ProfilerAvailabilityHelper.cs
  tracer/src/Datadog.Trace/ContinuousProfiler/ProfilerStatus.cs
  tracer/test/Datadog.Trace.Tests/ContinuousProfiler/ProfilerAvailabilityHelperTests.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/ConfigurationTests.cs
Labels: area:tracer, area:profiler

#7537 [Azure Functions] Add Nuke targets to build local nuget for testing
  tracer/build/_build/Build.Utilities.cs
Labels: area:builds, area:serverless

#7555 Update profiler availability helper to assume Windows always sets the env var
  tracer/src/Datadog.Trace/ContinuousProfiler/ProfilerAvailabilityHelper.cs
  tracer/test/Datadog.Trace.Tests/ContinuousProfiler/ProfilerAvailabilityHelperTests.cs
Labels: area:profiler

#7550 Protect against UriFormatException
  tracer/missing-nullability-files.csv
  tracer/src/Datadog.Trace/Util/Http/HttpRequestExtensions.Framework.cs
  tracer/src/Datadog.Trace/Util/Http/HttpRequestUtils.cs
  tracer/src/Datadog.Trace/Util/RequestDataHelper.cs
  tracer/test/Datadog.Trace.Tests/Util/RequestDataHelperTests.cs
Labels: area:tracer, identified-by:telemetry

#7561 Fix log directory location for managed code in Windows nano server
  tracer/src/Datadog.Trace.ClrProfiler.Managed.Loader/StartupLogger.cs
  tracer/src/Datadog.Trace/Logging/Internal/DatadogLoggingFactory.cs
Labels: type:bug, identified-by:customer

#7563 Update CODEOWNERS (rename apm-sdk-api to apm-sdk-capabilities)
  .github/CODEOWNERS
Labels: area:builds

#7102 [Test Optimization] Failed Test Replay
  tracer/build/supported_calltargets.g.json
  tracer/src/Datadog.Trace.Tools.Runner/CiUtils.cs
  tracer/src/Datadog.Trace/Ci/Configuration/TestOptimizationSettings.cs
  tracer/src/Datadog.Trace/Ci/ITestOptimization.cs
  tracer/src/Datadog.Trace/Ci/ITestOptimizationDynamicInstrumentationFeature.cs
  tracer/src/Datadog.Trace/Ci/Net/TestOptimizationClient.GetSettingsAsync.cs
  tracer/src/Datadog.Trace/Ci/TestOptimization.cs
  tracer/src/Datadog.Trace/Ci/TestOptimizationDynamicInstrumentationFeature.cs
  tracer/src/Datadog.Trace/Ci/TestOptimizationTracerManagement.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/MsTestV2/TestMethodAttributeExecuteIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/NUnit/NUnitReflectInvokeMethodIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/NUnit/TestOptimizationTestCommand.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/XUnit/TestCaseMetadata.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/XUnit/V3/XUnitTestMethodRunnerBaseRunTestCaseV3Integration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/XUnit/XUnitIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/XUnit/XUnitTestRunnerRunAsyncIntegration.cs
  tracer/src/Datadog.Trace/Configuration/ConfigurationKeys.cs
  tracer/src/Datadog.Trace/Debugger/Upload/SnapshotUploadApi.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Tracer.Native/Generated/generated_calltargets.g.cpp
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/MsTestV2RetriesTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/NUnitRetriesTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/TestingFrameworkRetriesTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/XUnitRetriesTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/XUnitRetriesTestsV3.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/config_norm_rules.json
Labels: area:ci-visibility

#7366 [Debugger Default-On] DEBUG-3322 Debugger in-product enablement
  tracer/src/Datadog.Trace.Trimming/build/Datadog.Trace.Trimming.xml
  tracer/src/Datadog.Trace/ClrProfiler/Instrumentation.cs
  tracer/src/Datadog.Trace/Configuration/DynamicConfigurationManager.cs
  tracer/src/Datadog.Trace/Debugger/Configurations/ImmutableDynamicDebuggerSettings.cs
  tracer/src/Datadog.Trace/Debugger/DebuggerManager.cs
  tracer/src/Datadog.Trace/Debugger/DebuggerSettings.cs
  tracer/src/Datadog.Trace/Debugger/DynamicInstrumentation.cs
  tracer/src/Datadog.Trace/Debugger/ExceptionAutoInstrumentation/ExceptionReplay.cs
  tracer/src/Datadog.Trace/Debugger/ExceptionAutoInstrumentation/ExceptionReplaySettings.cs
  tracer/src/Datadog.Trace/Debugger/ExceptionAutoInstrumentation/ExceptionTrackManager.cs
  tracer/src/Datadog.Trace/Debugger/Sink/DebuggerUploaderBase.cs
  tracer/src/Datadog.Trace/Debugger/SpanCodeOrigin/SpanCodeOrigin.cs
  tracer/src/Datadog.Trace/Debugger/Symbols/SymbolsUploader.cs
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.AsyncSpanOnMethodWithArgsTest.Spans.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.AsyncSpanOnMethodWithExceptionProbeTest.Spans.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.MultiProbeWithSpanTest.Spans.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.SpanDecorationArgsAndLocals.with.dynamic.span.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.SpanDecorationArgsAndLocals.with.trace.annotation.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.SpanDecorationError.with.dynamic.span.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.SpanDecorationError.with.trace.annotation.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.SpanDecorationErrorInWhen.with.dynamic.span.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.SpanDecorationSameTags.with.dynamic.span.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.SpanDecorationSameTags.with.trace.annotation.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.SpanDecorationSameTagsFirstError.with.dynamic.span.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.SpanDecorationSameTagsFirstError.with.trace.annotation.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.SpanDecorationSameTagsSecondError.with.dynamic.span.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.SpanDecorationSameTagsSecondError.with.trace.annotation.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.SpanDecorationTwoSegmentsWithError.with.dynamic.span.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.SpanDecorationTwoTags.with.dynamic.span.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.SpanDecorationTwoTags.with.trace.annotation.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.SpanDecorationWitLiteralWhen.with.dynamic.span.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.SpanDecorationWithoutWhen.with.dynamic.span.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.SpanOnMethodWithArgsTest.Spans.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Approvals/snapshots/ProbeTests.SpanOnMethodWithExceptionProbeTest.Spans.verified.txt
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Assertions/DumpHeapLive.cs
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/Assertions/MemoryAssertions.cs
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/DebuggerManagerDynamicTests.cs
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/DebuggerManagerTests.cs
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/DynamicInstrumentationTests.cs
  tracer/test/Datadog.Trace.Debugger.IntegrationTests/ProbesTests.cs
  tracer/test/Datadog.Trace.Tests/Debugger/DynamicInstrumentationTests.cs
  tracer/test/Datadog.Trace.Tests/Debugger/SpanCodeOriginTests.cs
Labels: area:tracer, area:debugger

#7299 Update Datadog.Sketches vendored code
  tracer/build/_build/UpdateVendors/VendoredDependency.cs
  tracer/src/Datadog.Trace/Vendors/Datadog.Sketches/AssemblyInfo.cs
  tracer/src/Datadog.Trace/Vendors/Datadog.Sketches/BinaryPrimitives.cs
  tracer/src/Datadog.Trace/Vendors/Datadog.Sketches/DDSketch.cs
  tracer/src/Datadog.Trace/Vendors/Datadog.Sketches/Helpers.cs
  tracer/src/Datadog.Trace/Vendors/Datadog.Sketches/Mappings/IIndexMapping.cs
  tracer/src/Datadog.Trace/Vendors/Datadog.Sketches/Mappings/LogarithmicMapping.cs
  tracer/src/Datadog.Trace/Vendors/Datadog.Sketches/Serialization/ISerializable.cs
  tracer/src/Datadog.Trace/Vendors/Datadog.Sketches/Serialization/Serializer.cs
  tracer/src/Datadog.Trace/Vendors/Datadog.Sketches/Stores/Bin.cs
  tracer/src/Datadog.Trace/Vendors/Datadog.Sketches/Stores/CollapsingDenseStore.cs
  tracer/src/Datadog.Trace/Vendors/Datadog.Sketches/Stores/CollapsingHighestDenseStore.cs
  tracer/src/Datadog.Trace/Vendors/Datadog.Sketches/Stores/CollapsingLowestDenseStore.cs
  tracer/src/Datadog.Trace/Vendors/Datadog.Sketches/Stores/DenseStore.cs
  tracer/src/Datadog.Trace/Vendors/Datadog.Sketches/Stores/Store.cs
  tracer/src/Datadog.Trace/Vendors/Datadog.Sketches/Stores/UnboundedSizeDenseStore.cs
  tracer/src/Datadog.Trace/Vendors/Datadog.Sketches/_last_downloaded_source_url.txt
Labels: area:tracer

#5610 Fallback to `OperationName` instead of `string.Empty` for ElasticSearch `ResourceName`
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Elasticsearch/ElasticsearchNetCommon.cs
Labels: area:integrations

#6702 Replace `code-freeze/action.yml` with `pr-status-updater/action.yml`
  .github/actions/code-freeze/action.yml
  .github/workflows/code_freeze_end.yml
  .github/workflows/code_freeze_start.yml
Labels: area:builds
