Repository DataDog/dd-trace-dotnet, pull requests merged in 2025-02, with the labels that each got.

#6542 [CI Visibility] Disable EarlyFlakeDetection test on alpine due to flakiness
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/MsTestV2EvpTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/NUnitEvpTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/XUnitEvpTests.cs
Labels: area:tests, area:ci-visibility

#6617 Work around some docker pull limits
  .azure-pipelines/ultimate-pipeline.yml
Labels: area:builds

#6616 [CI Visibility] Disable ImpactedTests flaky test
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/XUnitImpactedTests.cs
Labels: area:tests, area:ci-visibility

#6619 [ASM] Fix Blocking Redirect Invalid Status Code
  tracer/src/Datadog.Trace/AppSec/BlockingAction.cs
  tracer/src/Datadog.Trace/AppSec/Coordinator/SecurityCoordinator.Framework.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AspNetCore/BlockingMiddleware.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/AspNetBase.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/AspNetCore5ExternalRules.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/AspNetCoreBare.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/AspNetWebForms.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/ruleset.3.0.json
  tracer/test/snapshots/Security.AspNetCore5ExternalRules.__ruleTriggerStatusCode=200_returnedStatusCode=303.verified.txt
  tracer/test/snapshots/Security.AspNetCore5ExternalRules.__ruleTriggerStatusCode=302_returnedStatusCode=302.verified.txt
  tracer/test/snapshots/Security.AspNetWebForms.Integrated.enableSecurity=True.__ruleTriggerStatusCode=200_returnedStatusCode=303.verified.txt
  tracer/test/snapshots/Security.AspNetWebForms.Integrated.enableSecurity=True.__ruleTriggerStatusCode=302_returnedStatusCode=302.verified.txt
Labels: area:asm

#6581 [Dynamic Instrumentation] DEBUG-3364 Add redaction excluded identifiers environment variable
  tracer/src/Datadog.Trace/Configuration/ConfigurationKeys.Debugger.cs
  tracer/src/Datadog.Trace/Debugger/DebuggerSettings.cs
  tracer/src/Datadog.Trace/Debugger/ExceptionAutoInstrumentation/ExceptionDebugging.cs
  tracer/src/Datadog.Trace/Debugger/LiveDebugger.cs
  tracer/src/Datadog.Trace/Debugger/Snapshots/Redaction.cs
  tracer/test/Datadog.Trace.Tests/Debugger/DebuggerSettingsTests.cs
  tracer/test/Datadog.Trace.Tests/Debugger/RedactionTests.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/config_norm_rules.json
Labels: area:debugger

#6620 Try fix pipeline monitor
  .azure-pipelines/ultimate-pipeline.yml
Labels: area:builds

#6626 ci: pin github actions by hash and update via dependabot
  .github/dependabot.yml
  .github/workflows/auto_add_vnext_milestone_to_pr.yml
  .github/workflows/auto_bump_test_package_versions.yml
  .github/workflows/auto_check_snapshots.yml
  .github/workflows/auto_code_freeze_block_pr.yml
  .github/workflows/auto_create_version_bump_pr.yml
  .github/workflows/auto_deploy_aas_test_apps.yml
  .github/workflows/auto_label_prs.yml
  .github/workflows/auto_update_benchmark_branches.yml
  .github/workflows/code_freeze_end.yml
  .github/workflows/code_freeze_start.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/create-system-test-docker-base-images.yml
  .github/workflows/create_draft_release.yml
  .github/workflows/create_hotfix_branch.yml
  .github/workflows/datadog-static-analysis.yml
  .github/workflows/force_manual_version_bump.yml
  .github/workflows/generate_package_versions.yml
  .github/workflows/publish_debug_symbols.yml
  .github/workflows/verify_app_trimming_changes_are_persisted.yml
  .github/workflows/verify_files_without_nullability.yml
  .github/workflows/verify_integrations_map_added.yml
  .github/workflows/verify_solution_changes_are_persisted.yml
  .github/workflows/verify_source_generated_changes_are_persisted.yml
  .github/workflows/verify_span_metadata_markdown_is_updated.yml
Labels: area:builds

#6580 cleaning pass on HotChocolate instrumentation
  tracer/missing-nullability-files.csv
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/GraphQL/HotChocolate/ExecuteAsyncIntegrationExtra.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/GraphQL/HotChocolate/ExecuteAsyncIntegrationExtraV13.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/GraphQL/HotChocolate/ExecuteAsyncIntegrationV13.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/GraphQL/HotChocolate/ExecuteAsyncIntegrationV14.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/GraphQL/HotChocolate/IOperationContext.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/GraphQL/HotChocolate/IOperationContextV13.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/GraphQL/HotChocolate/IOperationRequest.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/GraphQL/HotChocolate/IQueryRequest.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/GraphQL/HotChocolate/NameStringProxy.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/GraphQL/HotChocolate/OperationStruct.cs
Labels: area:tracer, area:automatic-instrumentation

#6592 [ASM] Fix errors exceptions on HttpContext get_Items
  tracer/src/Datadog.Trace/AppSec/Coordinator/SecurityCoordinator.Core.cs
  tracer/src/Datadog.Trace/AppSec/Coordinator/SecurityReporter.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/SecurityCoordinatorTests.cs
Labels: area:asm, identified-by:telemetry

#6629 Fix broken `DataStreamsMonitoringRabbitMQTests`
  tracer/test/test-applications/integrations/Samples.DataStreams.RabbitMQ/Samples.DataStreams.RabbitMQ.csproj
Labels: area:builds, area:tests, area:test-apps

#6564 Remove Security and IAST statics in `AspNetCoreDiagnosticObserver`
  tracer/missing-nullability-files.csv
  tracer/src/Datadog.Trace/DiagnosticListeners/AspNetCoreDiagnosticObserver.cs
  tracer/src/Datadog.Trace/Iast/Iast.cs
  tracer/test/Datadog.Trace.IntegrationTests/DiagnosticListeners/AspNetCoreDiagnosticObserverTests.cs
  tracer/test/Datadog.Trace.Tests/DiagnosticListeners/AspNetCoreDiagnosticObserverTests.cs
  tracer/test/benchmarks/Benchmarks.Trace/Iast/StringAspectsBenchmark.cs
Labels: area:tracer, type:refactor, area:asm, area:asm-iast

#6628 [Profiler] Fix null check in GetMachineBootTime
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/OsSpecificApi.cpp
Labels: type:bug, area:profiler, identified-by:crashtracking

#6602 [ASM] Fix NullReferenceException on HttpTransport get_StatusCode
  tracer/src/Datadog.Trace/AppSec/Coordinator/HttpTransportBase.cs
  tracer/src/Datadog.Trace/AppSec/Coordinator/SecurityCoordinator.Core.cs
  tracer/src/Datadog.Trace/AppSec/Coordinator/SecurityCoordinator.Framework.cs
  tracer/src/Datadog.Trace/AppSec/Coordinator/SecurityCoordinator.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/SecurityCoordinatorTests.cs
Labels: area:asm, identified-by:telemetry

#6594 [CI Visibility] Fix detached head situation
  tracer/src/Datadog.Trace/Ci/IntelligentTestRunnerClient.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/TestingFrameworkImpactedTests.cs
Labels: area:tests, area:ci-visibility

#6166 Add Google Protobuf Instrumentation
  .gitignore
  Datadog.Trace.OSX.slnf
  Datadog.Trace.Samples.g.sln
  Datadog.Trace.sln
  docs/development/DuckTyping.md
  tracer/build/PackageVersionsGeneratorDefinitions.json
  tracer/build/_build/Build.ExplorationTests.cs
  tracer/build/supported_calltargets.g.json
  tracer/missing-nullability-files.csv
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Protobuf/BufferMessageInternalMergeFromIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Protobuf/BufferMessageInternalWriteToIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Protobuf/Helper.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Protobuf/IMessageProxy.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Protobuf/MessageMergeFromIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Protobuf/MessageWriteToIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Protobuf/SchemaExtractor.cs
  tracer/src/Datadog.Trace/Configuration/IntegrationId.cs
  tracer/src/Datadog.Trace/DataStreamsMonitoring/DataStreamsManager.cs
  tracer/src/Datadog.Trace/DataStreamsMonitoring/Hashes/HashHelper.cs
  tracer/src/Datadog.Trace/DataStreamsMonitoring/RateLimiter.cs
  tracer/src/Datadog.Trace/DataStreamsMonitoring/Schema.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/IntegrationIdExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/CiVisibilityMetricsTelemetryCollector_CountShared.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_CountShared.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/IntegrationIdExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/CiVisibilityMetricsTelemetryCollector_CountShared.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_CountShared.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/IntegrationIdExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/CiVisibilityMetricsTelemetryCollector_CountShared.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_CountShared.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/IntegrationIdExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/CiVisibilityMetricsTelemetryCollector_CountShared.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_CountShared.g.cs
  tracer/src/Datadog.Trace/Tags.cs
  tracer/src/Datadog.Trace/Telemetry/Metrics/IntegrationIdExtensions.cs
  tracer/src/Datadog.Trace/Telemetry/Metrics/MetricTags.cs
  tracer/src/Datadog.Trace/Util/DbCommandCache.cs
  tracer/src/Datadog.Trace/Util/FnvHash64.cs
  tracer/src/Datadog.Trace/Util/SmallCacheOrNoCache.cs
  tracer/src/Datadog.Tracer.Native/Generated/generated_calltargets.g.cpp
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/GoogleProtobufTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/GrpcTests.cs
  tracer/test/Datadog.Trace.TestHelpers/SpanMetadataAPI.cs
  tracer/test/Datadog.Trace.TestHelpers/SpanMetadataV0Rules.cs
  tracer/test/Datadog.Trace.TestHelpers/SpanMetadataV1Rules.cs
  tracer/test/Datadog.Trace.Tests/ExtensionMethods/SpanExtensionsTests.cs
  tracer/test/snapshots/GoogleProtobufTests.SchemaV0.verified.txt
  tracer/test/snapshots/GoogleProtobufTests.SchemaV1.verified.txt
  tracer/test/test-applications/integrations/Samples.GoogleProtobuf/Program.cs
  tracer/test/test-applications/integrations/Samples.GoogleProtobuf/Samples.GoogleProtobuf.csproj
  tracer/test/test-applications/integrations/Samples.GoogleProtobuf/sample.proto
Labels: area:integrations

#6642 Revert "Add Google Protobuf Instrumentation (#6166)"
  .gitignore
  Datadog.Trace.OSX.slnf
  Datadog.Trace.Samples.g.sln
  Datadog.Trace.sln
  docs/development/DuckTyping.md
  tracer/build/PackageVersionsGeneratorDefinitions.json
  tracer/build/_build/Build.ExplorationTests.cs
  tracer/build/supported_calltargets.g.json
  tracer/missing-nullability-files.csv
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Protobuf/BufferMessageInternalMergeFromIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Protobuf/BufferMessageInternalWriteToIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Protobuf/Helper.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Protobuf/IMessageProxy.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Protobuf/MessageMergeFromIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Protobuf/MessageWriteToIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Protobuf/SchemaExtractor.cs
  tracer/src/Datadog.Trace/Configuration/IntegrationId.cs
  tracer/src/Datadog.Trace/DataStreamsMonitoring/DataStreamsManager.cs
  tracer/src/Datadog.Trace/DataStreamsMonitoring/Hashes/HashHelper.cs
  tracer/src/Datadog.Trace/DataStreamsMonitoring/RateLimiter.cs
  tracer/src/Datadog.Trace/DataStreamsMonitoring/Schema.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/IntegrationIdExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/CiVisibilityMetricsTelemetryCollector_CountShared.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/net461/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_CountShared.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/IntegrationIdExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/CiVisibilityMetricsTelemetryCollector_CountShared.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/net6.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_CountShared.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/IntegrationIdExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/CiVisibilityMetricsTelemetryCollector_CountShared.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/netcoreapp3.1/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_CountShared.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/EnumExtensionsGenerator/IntegrationIdExtensions_EnumExtensions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/InstrumentationDefinitionsGenerator/InstrumentationDefinitions.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/CiVisibilityMetricsTelemetryCollector_CountShared.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_Count.g.cs
  tracer/src/Datadog.Trace/Generated/netstandard2.0/Datadog.Trace.SourceGenerators/TelemetryMetricGenerator/MetricsTelemetryCollector_CountShared.g.cs
  tracer/src/Datadog.Trace/Tags.cs
  tracer/src/Datadog.Trace/Telemetry/Metrics/IntegrationIdExtensions.cs
  tracer/src/Datadog.Trace/Telemetry/Metrics/MetricTags.cs
  tracer/src/Datadog.Trace/Util/DbCommandCache.cs
  tracer/src/Datadog.Trace/Util/FnvHash64.cs
  tracer/src/Datadog.Trace/Util/SmallCacheOrNoCache.cs
  tracer/src/Datadog.Tracer.Native/Generated/generated_calltargets.g.cpp
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/GoogleProtobufTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/GrpcTests.cs
  tracer/test/Datadog.Trace.TestHelpers/SpanMetadataAPI.cs
  tracer/test/Datadog.Trace.TestHelpers/SpanMetadataV0Rules.cs
  tracer/test/Datadog.Trace.TestHelpers/SpanMetadataV1Rules.cs
  tracer/test/Datadog.Trace.Tests/ExtensionMethods/SpanExtensionsTests.cs
  tracer/test/snapshots/GoogleProtobufTests.SchemaV0.verified.txt
  tracer/test/snapshots/GoogleProtobufTests.SchemaV1.verified.txt
  tracer/test/test-applications/integrations/Samples.GoogleProtobuf/Program.cs
  tracer/test/test-applications/integrations/Samples.GoogleProtobuf/Samples.GoogleProtobuf.csproj
  tracer/test/test-applications/integrations/Samples.GoogleProtobuf/sample.proto
Labels: area:builds

#6632 Fix typo in `Override version bump PR checks` action
  .github/workflows/override_version_bump_pr_checks.yml
Labels: area:builds

#6613 Update framing of GitHub Issues for clarity
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yaml
Labels: area:builds

#6361 Call `HttpRequest.BuildUrl` to avoid URL caching
  tracer/src/Datadog.Trace/AspNet/TracingHttpModule.cs
  tracer/src/Datadog.Trace/Configuration/ConfigurationKeys.cs
  tracer/src/Datadog.Trace/Configuration/TracerSettings.cs
  tracer/src/Datadog.Trace/TracerManager.cs
  tracer/src/Datadog.Trace/Util/DuckTypes/IHttpRequest.cs
  tracer/src/Datadog.Trace/Util/Http/HttpRequestExtensions.Framework.cs
  tracer/src/Datadog.Trace/Util/RequestDataHelper.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/config_norm_rules.json
  tracer/test/Datadog.Trace.Tests/Util/RequestDataHelperTests.cs
Labels: type:bug, area:integrations

#6649 Add overriding of verify_files_without_nullability
  .github/workflows/override_version_bump_pr_checks.yml
Labels: area:builds

#6651 change some log levels from `info` to `debug`
  tracer/src/Datadog.Trace/ClrProfiler/Instrumentation.cs
  tracer/src/Datadog.Tracer.Native/rejit_preprocessor.cpp
Labels: area:native-library

#6648 Add support for HotChocolate v15.x.x
  tracer/build/PackageVersionsGeneratorDefinitions.json
  tracer/build/PackageVersionsLatestMajors.g.props
  tracer/build/PackageVersionsLatestMinors.g.props
  tracer/build/PackageVersionsLatestSpecific.g.props
  tracer/build/supported_calltargets.g.json
  tracer/build/supported_versions.json
  tracer/dependabot/Datadog.Dependabot.Integrations.csproj
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/GraphQL/HotChocolate/ExecuteAsyncIntegrationExtraV13.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/GraphQL/HotChocolate/ExecuteAsyncIntegrationV14.cs
  tracer/src/Datadog.Tracer.Native/Generated/generated_calltargets.g.cpp
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestMajors.g.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestMinors.g.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestSpecific.g.cs
  tracer/test/test-applications/integrations/Samples.HotChocolate/Samples.HotChocolate.csproj
Labels: type:enhancement, area:automatic-instrumentation, area:tests, area:test-apps

#6652 [Profiler] Fix Profiler execution benchmark tests
  .azure-pipelines/ultimate-pipeline.yml
Labels: area:builds, area:profiler

#6621 [CI] Sending CI Vis Data to HQ
  .azure-pipelines/ultimate-pipeline.yml
Labels: area:builds

#6643 Create an "installer" executable for use with the Datadog installer
  Datadog.Trace.sln
  tracer/src/Datadog.FleetInstaller/AppHostHelper.cs
  tracer/src/Datadog.FleetInstaller/Commands/CommandBase.cs
  tracer/src/Datadog.FleetInstaller/Commands/CommandWithExamples.cs
  tracer/src/Datadog.FleetInstaller/Commands/InstallCommand.cs
  tracer/src/Datadog.FleetInstaller/Commands/ReinstallCommand.cs
  tracer/src/Datadog.FleetInstaller/Commands/UninstallProductCommand.cs
  tracer/src/Datadog.FleetInstaller/Commands/UninstallVersionCommand.cs
  tracer/src/Datadog.FleetInstaller/Datadog.FleetInstaller.csproj
  tracer/src/Datadog.FleetInstaller/Defaults.cs
  tracer/src/Datadog.FleetInstaller/Directory.Build.props
  tracer/src/Datadog.FleetInstaller/FileHelper.cs
  tracer/src/Datadog.FleetInstaller/FusionApi/FriendlyAttribute.cs
  tracer/src/Datadog.FleetInstaller/FusionApi/FriendlyFlags.cs
  tracer/src/Datadog.FleetInstaller/FusionApi/Fusion+AssemblyCacheInstallFlags.cs
  tracer/src/Datadog.FleetInstaller/FusionApi/Fusion+AssemblyInfoFlags.cs
  tracer/src/Datadog.FleetInstaller/FusionApi/Fusion+FUSION_INSTALL_REFERENCE.cs
  tracer/src/Datadog.FleetInstaller/FusionApi/Fusion+FusionInstallReferenceFlags.cs
  tracer/src/Datadog.FleetInstaller/FusionApi/Fusion+IAssemblyCache.cs
  tracer/src/Datadog.FleetInstaller/FusionApi/Fusion+IAssemblyCacheItem.cs
  tracer/src/Datadog.FleetInstaller/FusionApi/Fusion+QueryAssemblyInfoFlags.cs
  tracer/src/Datadog.FleetInstaller/FusionApi/Fusion.Helpers.cs
  tracer/src/Datadog.FleetInstaller/FusionApi/Fusion.cs
  tracer/src/Datadog.FleetInstaller/FusionApi/HResult+Code.cs
  tracer/src/Datadog.FleetInstaller/FusionApi/HResult+FacilityCode.cs
  tracer/src/Datadog.FleetInstaller/FusionApi/HResult+SeverityCode.cs
  tracer/src/Datadog.FleetInstaller/FusionApi/HResult.cs
  tracer/src/Datadog.FleetInstaller/FusionApi/MSCorEE+ASSEMBLY_INFO.cs
  tracer/src/Datadog.FleetInstaller/FusionApi/MSCorEE+UninstallAssemblyFlags.cs
  tracer/src/Datadog.FleetInstaller/FusionApi/MSCorEE+UninstallDisposition.cs
  tracer/src/Datadog.FleetInstaller/FusionApi/NoFriendlyOverloadsAttribute.cs
  tracer/src/Datadog.FleetInstaller/FusionApi/OfferFriendlyOverloadsAttribute.cs
  tracer/src/Datadog.FleetInstaller/FusionApi/OfferIntPtrPropertyAccessorsAttribute.cs
  tracer/src/Datadog.FleetInstaller/FusionApi/README.md
  tracer/src/Datadog.FleetInstaller/FusionApi/fusion.exports.txt
  tracer/src/Datadog.FleetInstaller/GacInstaller.cs
  tracer/src/Datadog.FleetInstaller/ILogger.cs
  tracer/src/Datadog.FleetInstaller/Log.cs
  tracer/src/Datadog.FleetInstaller/Program.cs
  tracer/src/Datadog.FleetInstaller/RegistryHelper.cs
  tracer/src/Datadog.FleetInstaller/ReturnCode.cs
  tracer/src/Datadog.FleetInstaller/TracerValues.cs
Labels: area:installers, area:ssi

#6659 Remove unused method
  tracer/src/Datadog.Trace/Agent/Transports/HttpClientRequest.cs
Labels: area:tracer, type:cleanup

#6644 Build the FleetInstaller executable and include in Windows OCI image
  .gitlab-ci.yml
  .gitlab/download-single-step-artifacts.sh
  .gitlab/prepare-oci-package.sh
  tracer/build/_build/Build.GitHub.cs
  tracer/build/_build/Build.Steps.cs
Labels: area:builds, area:ssi

#6661 fix: dispose HttpWebResponses to avoid leaking FDs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/Lambda/LambdaCommon.cs
Labels: type:bug, area:serverless, area:integrations

#6645 Add smoke tests for fleet installer
  .azure-pipelines/steps/run-snapshot-test.yml
  .azure-pipelines/ultimate-pipeline.yml
  docker-compose.windows.yml
  tracer/build/_build/Build.VariableGenerations.cs
  tracer/build/_build/docker/smoke.windows.fleet-installer.dockerfile
  tracer/build/smoke_test_snapshots/smoke_test_iis_snapshots.json
  tracer/test/test-applications/regression/AspNetCoreSmokeTest/Worker.cs
Labels: area:tests, area:test-apps, area:ssi

#6664 Fix `DisabledIntegrationNames` not correctly disabling the integration
  tracer/src/Datadog.Trace/Configuration/ConfigurationSources/ManualInstrumentationConfigurationSource.cs
  tracer/src/Datadog.Trace/Configuration/ConfigurationSources/ManualInstrumentationLegacyConfigurationSource.cs
  tracer/test/Datadog.Trace.Tests/ManualInstrumentation/SettingsInstrumentationTests.cs
Labels: type:bug, area:tracer

#6292 [Dynamic Instrumentation] DEBUG-3132 Add Memoization Cache for Redaction Logic
  tracer/src/Datadog.Trace/Debugger/ExceptionAutoInstrumentation/ExceptionDebugging.cs
  tracer/src/Datadog.Trace/Debugger/Expressions/ProbeExpressionParser.Collection.cs
  tracer/src/Datadog.Trace/Debugger/Expressions/ProbeExpressionParser.General.cs
  tracer/src/Datadog.Trace/Debugger/LiveDebugger.cs
  tracer/src/Datadog.Trace/Debugger/Snapshots/DebuggerSnapshotSerializer.cs
  tracer/src/Datadog.Trace/Debugger/Snapshots/Redaction.cs
  tracer/test/Datadog.Trace.Tests/Debugger/RedactionTests.cs
Labels: area:tracer, area:debugger

#6665 Tack on apm-idm-dotnet reviewers to auto-bump PRs
  .github/dependabot.yml
  .github/workflows/auto_bump_test_package_versions.yml
Labels: area:builds

#6650 Update `CONTRIBUTING` with external PR policies
  docs/CONTRIBUTING.md
Labels: area:docs

#6667 Make sure we upload hotfix artifacts to Azure
  .azure-pipelines/ultimate-pipeline.yml
Labels: area:builds

#6646 [Profiler] Add number of CPU samples to the profile
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CpuTimeProvider.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/RawCpuSample.h
  profiler/test/Datadog.Profiler.IntegrationTests/CpuAndWallTime/CpuAndWallTimeTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/LinuxOnly/TimerCreateCpuProfilerTest.cs
  profiler/test/Datadog.Profiler.Native.Tests/ProviderTest.cpp
Labels: area:profiler

#6669 Restrict dependabot github actions to patch version bumps
  .github/dependabot.yml
Labels: area:builds, area:dependabot

#6671 Reduce flake in Fleet installer tests
  tracer/build/_build/docker/smoke.windows.fleet-installer.dockerfile
  tracer/test/test-applications/regression/AspNetCoreSmokeTest/Program.cs
Labels: area:builds

#6673 Minor refactor in `ThreadAbortCodeFixProvider`
  tracer/src/Datadog.Trace.Tools.Analyzers/ThreadAbortAnalyzer/ThreadAbortCodeFixProvider.cs
Labels: area:builds, type:refactor, area:tools

#6675 Try to catch memory dump for instrumentation telemetry tests
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/InstrumentationTests.cs
Labels: area:builds, area:tests

#6672 [Fleet Installer] Don't throw when deleting registry value if it's already deleted
  tracer/src/Datadog.FleetInstaller/RegistryHelper.cs
Labels: area:ssi

#6676 [Fleet Installer] Don't block uninstall if IIS isn't available
  tracer/src/Datadog.FleetInstaller/Commands/CommandBase.cs
  tracer/src/Datadog.FleetInstaller/Commands/InstallCommand.cs
  tracer/src/Datadog.FleetInstaller/Commands/UninstallProductCommand.cs
Labels: area:ssi

#6678 Pack trimming file in Datadog.Trace NuGet, and add trimming smoke tests for the NuGet packages
  .azure-pipelines/ultimate-pipeline.yml
  docker-compose.yml
  tracer/build/_build/Build.VariableGenerations.cs
  tracer/build/_build/docker/smoke.trimming.dockerfile
  tracer/src/Datadog.Trace.Manual/Datadog.Trace.Manual.csproj
  tracer/src/Datadog.Trace.Manual/Datadog.Trace.props
  tracer/src/Datadog.Trace.Trimming/Datadog.Trace.Trimming.nuspec
  tracer/src/Datadog.Trace.Trimming/Sdk/Sdk.props
  tracer/test/test-applications/regression/AspNetCoreSmokeTest/AspNetCoreSmokeTest.csproj
  tracer/test/test-applications/regression/AspNetCoreSmokeTest/Program.cs
Labels: type:enhancement, area:tracer, area:tests

#6682 Update Azure Functions doc
  docs/development/AzureFunctions.md
Labels: area:docs

#6674 speed up external CI artifact fetching
  .azure-pipelines/ultimate-pipeline.yml
Labels: area:builds

#6589 [Profiler/Crashtracker] Bump libdatadog 16.0.3
  build/cmake/FindLibdatadog.cmake
  build/vcpkg_local_ports/libdatadog/portfile.cmake
  build/vcpkg_local_ports/libdatadog/vcpkg.json
  global.json
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/CrashReportingLinux.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/CrashReportingLinux.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Windows/CrashReportingWindows.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Windows/CrashReportingWindows.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CrashReporting.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CrashReporting.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CrashReportingHelper.hpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Profile.cpp
  profiler/test/Datadog.Profiler.Native.Tests/CrashReportingTest.cpp
  tracer/src/Datadog.Trace.Tools.dd_dotnet/CreatedumpCommand.cs
  tracer/src/Datadog.Trace.Tools.dd_dotnet/Generated/Datadog.Trace.Tools.dd_dotnet.SourceGenerators/NativeObjectsGenerator/dd_dotnet.ICrashReport.g.cs
  tracer/src/Datadog.Trace.Tools.dd_dotnet/ICrashReport.cs
  tracer/test/Datadog.Trace.Tools.dd_dotnet.ArtifactTests/CreatedumpTests.cs
Labels: area:profiler

#6681 Add workflows for scheduled code freeze and AAS deployment
  .github/actions/pr-status-updater/action.yml
  .github/workflows/create_skip_code_freeze.yml
  .github/workflows/scheduled_aas_deploy.yml
  .github/workflows/scheduled_code_freeze.yml
Labels: area:builds

#5363 [Tracer] support 128-bit trace ids in logs injection
  tracer/missing-nullability-files.csv
  tracer/src/Datadog.Trace.MSBuild/DatadogLogger.cs
  tracer/src/Datadog.Trace/Ci/Logging/DirectSubmission/CIVisibilityLogEvent.cs
  tracer/src/Datadog.Trace/Ci/Test.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Logging/ILogger/LogsInjection/DatadogLoggingScope.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Logging/Log4Net/LogsInjection/AppenderAttachedImplIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Logging/LogContext.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Logging/NLog/LogsInjection/DiagnosticContextHelper.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Logging/Serilog/LogsInjection/LoggerDispatchInstrumentation.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Testing/Selenium/SeleniumCommon.cs
  tracer/src/Datadog.Trace/Configuration/ConfigurationKeys.cs
  tracer/src/Datadog.Trace/ExtensionMethods/SpanExtensions.cs
  tracer/src/Datadog.Trace/Logging/DirectSubmission/Formatting/LogFormatter.cs
  tracer/src/Datadog.Trace/Tracer.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/ILoggerTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/Log4NetTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/LogsInjectionTestBase.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/NLogTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/SerilogTests.cs
Labels: area:tracer, area:logs-injection, area:direct-log-submission

#6690 Add NuGet API verification check
  .github/workflows/create_draft_release.yml
Labels: area:builds

#5795 Add ability to disable `ActivitySource`s from being listened to
  tracer/src/Datadog.Trace/Activity/ActivityListenerHandler.cs
  tracer/src/Datadog.Trace/Activity/Handlers/ActivityHandlersRegister.cs
  tracer/src/Datadog.Trace/Activity/Handlers/DisableActivityHandler.cs
  tracer/src/Datadog.Trace/Configuration/ConfigurationKeys.cs
  tracer/src/Datadog.Trace/Configuration/TracerSettings.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/NetActivitySdkTests.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/config_norm_rules.json
  tracer/test/test-applications/integrations/Samples.NetActivitySdk/Program.cs
  tracer/test/test-applications/integrations/Samples.NetActivitySdk/Properties/launchSettings.json
Labels: area:tracer

#6699 Remove `MemberNotNull` to fix build
  tracer/src/Datadog.Trace/Configuration/ExporterSettings.cs
Labels: area:tracer

#6704 Add fixes for release process
  .gitlab/prepare-oci-package.sh
  tracer/build/_build/Build.GitHub.cs
Labels: area:builds

#6695 Add `DD_INSTRUMENTATION_INSTALL_TYPE` variables for known install methods
  shared/src/msi-installer/shared/EnvironmentVariables.wxs
  tracer/src/Datadog.FleetInstaller/TracerValues.cs
  tracer/src/Datadog.Trace.Tools.Runner/Utils.cs
  tracer/src/Datadog.Trace.Tools.dd_dotnet/Utils.cs
  tracer/test/Datadog.Trace.Tools.dd_dotnet.IntegrationTests/RunCommandTests.cs
Labels: area:telemetry, area:ssi

#6697 [Fleet installer] Add additional pre-verification check for IIS variables
  tracer/src/Datadog.FleetInstaller/AppHostHelper.cs
  tracer/src/Datadog.FleetInstaller/Commands/InstallCommand.cs
  tracer/src/Datadog.FleetInstaller/Defaults.cs
  tracer/src/Datadog.FleetInstaller/ReturnCode.cs
  tracer/src/Datadog.FleetInstaller/TracerValues.cs
Labels: type:enhancement, area:ssi

#6693 Fix: Ensure baggage properties are not interpreted as baggage values
  tracer/src/Datadog.Trace/Propagators/W3CBaggagePropagator.cs
  tracer/test/Datadog.Trace.Tests/Propagators/W3CBaggagePropagatorTests.cs
Labels: area:tracer

#6698 [Fleet installer] Don't fail uninstall if the GAC lib has additional references
  tracer/src/Datadog.FleetInstaller/GacInstaller.cs
Labels: type:enhancement, area:ssi

#6708 [Profiler] Add Export project in Demo for datadog-ci tests
  Datadog.Profiler.sln
  profiler/src/Demos/Exports/Exports.cpp
  profiler/src/Demos/Exports/Exports.h
  profiler/src/Demos/Exports/Exports.sln
  profiler/src/Demos/Exports/Exports.vcxproj
  profiler/src/Demos/Exports/Exports.vcxproj.filters
  profiler/src/Demos/Exports/cpp.hint
  profiler/src/Demos/Exports/dllmain.cpp
  profiler/src/Demos/Exports/framework.h
  profiler/src/Demos/Exports/pch.cpp
  profiler/src/Demos/Exports/pch.h
  profiler/src/Demos/Exports/readme.txt
Labels: area:profiler

#6700 [fleet installer] Add additional logging for app pool modifications
  tracer/src/Datadog.FleetInstaller/AppHostHelper.cs
Labels: area:ssi

#6713 Fix "auto bump test package versions" workflow
  .github/workflows/auto_bump_test_package_versions.yml
Labels: area:builds

#6701 [ASM][ATO]Add business logic event address to the waf
  tracer/src/Datadog.Trace/AppSec/EventTrackingSdk.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/UserEvents/AspNetCore5AutoUserEvents.cs
  tracer/test/snapshots/Security.AspNetCore5AutoUserEvents.SecurityOff.extendedmode-TestLoginSdkOnly.success=False.verified.txt
  tracer/test/snapshots/Security.AspNetCore5AutoUserEvents.SecurityOff.extendedmode-TestLoginSdkOnly.success=True.verified.txt
  tracer/test/snapshots/Security.AspNetCore5AutoUserEvents.SecurityOn.anonmode-TestLoginSdkOnly.success=False.verified.txt
  tracer/test/snapshots/Security.AspNetCore5AutoUserEvents.SecurityOn.anonmode-TestLoginSdkOnly.success=True.verified.txt
  tracer/test/snapshots/Security.AspNetCore5AutoUserEvents.SecurityOn.defaultmode-TestLoginSdkOnly.success=False.verified.txt
  tracer/test/snapshots/Security.AspNetCore5AutoUserEvents.SecurityOn.defaultmode-TestLoginSdkOnly.success=True.verified.txt
  tracer/test/snapshots/Security.AspNetCore5AutoUserEvents.SecurityOn.extendedmode-TestLoginSdkOnly.success=False.verified.txt
  tracer/test/snapshots/Security.AspNetCore5AutoUserEvents.SecurityOn.extendedmode-TestLoginSdkOnly.success=True.verified.txt
  tracer/test/snapshots/Security.AspNetCore5AutoUserEvents.SecurityOn.identmode-TestLoginSdkOnly.success=False.verified.txt
  tracer/test/snapshots/Security.AspNetCore5AutoUserEvents.SecurityOn.identmode-TestLoginSdkOnly.success=True.verified.txt
  tracer/test/test-applications/Samples.Shared/SampleHelpers.cs
  tracer/test/test-applications/security/Samples.Security.AspNetCore5/Controllers/UserController.cs
Labels: area:asm

#6694 Perf optimization for protobuf instrumentation
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Protobuf/BufferMessageInternalMergeFromIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Protobuf/BufferMessageInternalWriteToIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Protobuf/Helper.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Protobuf/IMessageProxy.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Protobuf/MessageMergeFromIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Protobuf/MessageWriteToIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Protobuf/SchemaExtractor.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/GoogleProtobufTests.cs
  tracer/test/test-applications/integrations/Samples.GoogleProtobuf/Program.cs
Labels: type:performance, area:integrations

#6614 [ASM] Email injection: MimeKit and SimpleEmail
  tracer/src/Datadog.Trace/Iast/Aspects/AWSSDK.SimpleEmail/AmazonSimpleEmailAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/AWSSDK.SimpleEmail/ISendEmailRequest.cs
  tracer/src/Datadog.Trace/Iast/Aspects/MailKit/IMimeKitTextPart.cs
  tracer/src/Datadog.Trace/Iast/Aspects/MailKit/MailkitAspect.cs
  tracer/src/Datadog.Trace/Iast/Aspects/System.Net.Mail/SmtpClientAspect.cs
  tracer/src/Datadog.Trace/Iast/EmailInjectionType.cs
  tracer/src/Datadog.Trace/Iast/IastModule.cs
  tracer/src/Datadog.Tracer.Native/Generated/generated_callsites.g.cpp
  tracer/src/Datadog.Tracer.Native/iast/dataflow.cpp
  tracer/test/Datadog.Trace.Security.IntegrationTests/Datadog.Trace.Security.IntegrationTests.csproj
  tracer/test/Datadog.Trace.Security.IntegrationTests/IAST/IastInstrumentationUnitTests.cs
  tracer/test/snapshots/Iast.EmailHtmlInjection.AspNetCore5.IastEnabled.verified.txt
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Samples.InstrumentedTests.csproj
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/EmailHtmlInjection/EmailHtmlInjectionAWSSDKSimpleEmailTests.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/EmailHtmlInjection/EmailHtmlInjectionMailKitTests.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/EmailHtmlInjection/EmailHtmlInjectionTests.cs
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/EmailHtmlInjection/EmailInjectionBaseTests.cs
  tracer/test/test-applications/security/Samples.Security.AspNetCore2/Samples.Security.AspNetCore2.csproj
  tracer/test/test-applications/security/Samples.Security.AspNetCore5/Controllers/IastController.cs
  tracer/test/test-applications/security/Samples.Security.AspNetCore5/Helpers/EmailHelper.cs
  tracer/test/test-applications/security/Samples.Security.AspNetCore5/Samples.Security.AspNetCore5.csproj
  tracer/test/test-applications/security/Samples.Security.AspNetCore5/Views/Iast/Email.cshtml
Labels: area:tests, area:asm

#6692 don't propagate baggage when http client integration is disabled
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Http/HttpClient/HttpMessageHandlerCommon.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/Http/WebRequest/WebRequestCommon.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/Helpers/StringUtil.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/HttpMessageHandlerTests.cs
Labels: area:tracer, area:integrations

#6307 adding datadog.json filepath to tracer startup logs
  tracer/src/Datadog.Trace/Configuration/ConfigurationSources/JsonConfigurationSource.cs
  tracer/src/Datadog.Trace/Configuration/TracerSettings.cs
  tracer/src/Datadog.Trace/TracerManager.cs
Labels: area:tracer

#6609 [ASM] Dont store additive context in httpcontext
  tracer/src/Datadog.Trace/AppSec/AppSecRequestContext.cs
  tracer/src/Datadog.Trace/AppSec/AttackerFingerprint/AttackerFingerprintHelper.cs
  tracer/src/Datadog.Trace/AppSec/Coordinator/HttpTransportBase.cs
  tracer/src/Datadog.Trace/AppSec/Coordinator/SecurityCoordinator.Core.cs
  tracer/src/Datadog.Trace/AppSec/Coordinator/SecurityCoordinator.Framework.cs
  tracer/src/Datadog.Trace/AppSec/Coordinator/SecurityCoordinator.cs
  tracer/src/Datadog.Trace/AppSec/Coordinator/SecurityReporter.cs
  tracer/src/Datadog.Trace/AspNet/TracingHttpModule.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AspNetCore/BlockingMiddleware.cs
  tracer/src/Datadog.Trace/PlatformHelpers/AspNetCoreHttpRequestHandler.cs
  tracer/src/Datadog.Trace/TraceContext.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/EmptyDatadogTracer.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/SecurityCoordinatorTests.cs
Labels: area:asm
