Repository DataDog/dd-trace-dotnet, pull requests merged in 2025-06, with the labels that each got.

#6993 [Profiler] Add DD_PROFILING_HTTP_ENABLED env var configuration
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Configuration.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/EnvironmentVariables.h
  profiler/test/Datadog.Profiler.Native.Tests/ConfigurationTest.cpp
Labels: area:profiler

#7039 Add retries to build stages
  .azure-pipelines/ultimate-pipeline.yml
Labels: area:builds

#7040 Add flaky attribute
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/SmokeTests/AssemblyResolveMscorlibResourcesInfiniteRecursionCrashSmokeTest.cs
Labels: area:tests

#6958 Fix IAST DDBB flaky unit tests
  tracer/test/test-applications/integrations/Samples.InstrumentedTests/Vulnerabilities/SqlInjection/DabaseHelpers/SqlDDBBCreator.cs
Labels: area:tests, area:asm, area:asm-iast

#7048 Update all Green job to the latest version
  .github/workflows/all-green.yml
Labels: area:builds

#7045 [Profiler] Enable GC CPU consumption and thread lifetime features
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Configuration.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CorProfilerCallback.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/EnabledProfilers.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/EnvironmentVariables.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/IEnabledProfilers.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ProfileExporter.cpp
  profiler/test/Datadog.Profiler.IntegrationTests/Configuration/ConfigurationTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Contention/ContentionProfilerTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/CpuAndWallTime/CpuAndWallTimeTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Exceptions/ExceptionsTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/GarbageCollections/GarbageCollectionsProfilerTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/GarbageCollections/GarbageCollectorCpuTimeTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Helpers/EnvironmentHelper.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Helpers/EnvironmentVariables.cs
  profiler/test/Datadog.Profiler.IntegrationTests/Timeline/TimelineTest.cs
  profiler/test/Datadog.Profiler.Native.Tests/ConfigurationTest.cpp
  profiler/test/Datadog.Profiler.Native.Tests/EnabledProfilersTest.cpp
Labels: area:profiler

#7064 Fix system tests
  .azure-pipelines/ultimate-pipeline.yml
Labels: area:builds, area:tests

#7029 Check for nested Aggregate exceptions in CouchBase tests
  tracer/test/test-applications/integrations/Samples.Couchbase/Program.cs
  tracer/test/test-applications/integrations/Samples.Couchbase3/Program.cs
Labels: area:tests

#7068 Set `DD_TRACING_ENABLED=tracing` for IIS based SSI
  tracer/src/Datadog.FleetInstaller/Commands/CommandBase.cs
  tracer/src/Datadog.FleetInstaller/Commands/EnableIisInstrumentationCommand.cs
  tracer/src/Datadog.FleetInstaller/Commands/RemoveIisInstrumentation.cs
  tracer/src/Datadog.FleetInstaller/Program.cs
  tracer/src/Datadog.FleetInstaller/TracerValues.cs
Labels: area:ssi

#7071 Don't fail the IIS instrumentation installation if IIS is not available
  tracer/src/Datadog.FleetInstaller/Commands/EnableIisInstrumentationCommand.cs
Labels: area:ssi

#7074 Allow unsigned commits from specific workflows
  repository.datadog.yml
Labels: area:builds

#7076 Fix the system-tests parametric tests
  .azure-pipelines/ultimate-pipeline.yml
Labels: area:builds, area:tests

#7055 chore: disable data pipeline by default
  tracer/src/Datadog.Trace/Configuration/TracerSettings.cs
Labels: area:tracer

#7086 Fix error in DefaultModelBindingContext
  tracer/missing-nullability-files.csv
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AspNetCore/DefaultModelBindingContext_SetResult_Integration.cs
Labels: identified-by:telemetry

#7091 Replace fine-grained token usage with app token
  .azure-pipelines/steps/create-github-app-token.yml
  .azure-pipelines/ultimate-pipeline.yml
  .github/actions/deploy-aas-dev-apps/action.yml
  .github/workflows/auto-trigger-aas-release.yml
  .github/workflows/auto_deploy_aas_test_apps.yml
  .github/workflows/code_freeze_start.yml
  .github/workflows/create_draft_release.yml
  .github/workflows/scheduled_aas_deploy.yml
Labels: area:builds

#7092 Fix Exception in AspNetMvcIntegration
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AspNet/AspNetMvcIntegration.cs
Labels: area:integrations, identified-by:telemetry

#7012 [Dynamic Instrumentation] DEBUG-3961 Enable SymDB by default
  tracer/src/Datadog.Trace/Configuration/ConfigurationKeys.Debugger.cs
  tracer/src/Datadog.Trace/Debugger/DebuggerSettings.cs
  tracer/test/Datadog.Trace.Tests/Debugger/DebuggerSettingsTests.cs
Labels: area:debugger

#7098 Mark Span ID generation tests as flaky
  tracer/test/Datadog.Trace.Tests/Util/RandomIdGeneratorTests.cs
Labels: area:tests

#7100 Bump one pipeline version
  .gitlab/one-pipeline.locked.yaml
Labels: area:builds

#7106 Do not save system-tests/agent image
  .azure-pipelines/ultimate-pipeline.yml
Labels: area:builds

#7118 Fix AWS S3 DeleteBucket integration
  tracer/build/PackageVersionsLatestMajors.g.props
  tracer/build/PackageVersionsLatestMinors.g.props
  tracer/build/PackageVersionsLatestSpecific.g.props
  tracer/build/supported_versions.json
  tracer/dependabot/Datadog.Dependabot.Integrations.csproj
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/S3/BucketManagement/IDeleteBucketRequest.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestMajors.g.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestMinors.g.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestSpecific.g.cs
Labels: area:tracer, area:automatic-instrumentation

#7119 Create a `StringUtil` helper for correct nullable annotations on `string.IsNullOrEmpty`
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/Kinesis/AwsKinesisCommon.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AWS/SNS/AwsSnsCommon.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AspNetCore/UserEvents/SignInManagerPasswordSignInUserIntegration.cs
  tracer/src/Datadog.Trace/Util/StringUtil.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/Helpers/HeadersUtil.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/HttpMessageHandlerTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/WebRequest20Tests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/WebRequestTests.cs
  tracer/test/Datadog.Trace.Tests/Util/StringUtilTests.cs
Labels: type:cleanup

#7116 Try update `ProcessHelper` to fix flakiness
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/InstrumentationTests.cs
  tracer/test/Datadog.Trace.TestHelpers/ProcessHelper.cs
Labels: area:tests

#7121 Add fix for race condition in `InitResult`
  tracer/src/Datadog.Trace/AppSec/Coordinator/SecurityReporter.cs
  tracer/src/Datadog.Trace/AppSec/Waf/ReturnTypes.Managed/InitResult.cs
  tracer/test/Datadog.Trace.Tests/AppSec/InitResultTests.cs
  tracer/test/Datadog.Trace.Tests/Util/RequestDataHelperTests.cs
Labels: area:asm

#7124 Remove flaky datapipeline tests
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AgentMalfunctionTests.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/TransportTests.cs
Labels: area:tests

#7077 Fix null reference exception
  tracer/src/Datadog.Trace/AppSec/Coordinator/SecurityCoordinator.Core.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/SecurityCoordinatorTests.cs
Labels: identified-by:telemetry

#7139 Update libdatadog to v19.0.1
  build/cmake/FindLibdatadog.cmake
  build/vcpkg_local_ports/libdatadog/portfile.cmake
  build/vcpkg_local_ports/libdatadog/vcpkg.json
Labels: libdatadog

#7128 Disable data pipeline if libdatadog is not available
  tracer/src/Datadog.Trace/Configuration/TracerSettings.cs
Labels: area:tracer, libdatadog

#7117 Add `-ApiVersion` Nuke parameter for specific NuGet version testing
  tracer/build/_build/Build.Steps.cs
  tracer/build/_build/Build.Utilities.cs
Labels: area:builds

#7148 [Docs] Fix Readme BuildAndRunOsxIntegrationTests sample
  tracer/README.MD
Labels: area:docs

#7140 Move trimming file into buildTransitive
  tracer/src/Datadog.Trace.Manual/Datadog.Trace.Manual.csproj
  tracer/src/Datadog.Trace.Trimming/Datadog.Trace.Trimming.nuspec
Labels: area:builds

#7147 Don't write native loader logs when bailing out in Windows SSI
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Log.h
  shared/src/Datadog.Trace.ClrProfiler.Native/EnvironmentVariables.h
  shared/src/Datadog.Trace.ClrProfiler.Native/cor_profiler.cpp
  shared/src/Datadog.Trace.ClrProfiler.Native/log.h
  shared/src/native-src/Shared.ManagedLibraryLoader.vcxitems
  shared/src/native-src/Shared.ManagedLibraryLoader.vcxitems.filters
  shared/src/native-src/lazy_rotating_file_sink-inl.h
  shared/src/native-src/lazy_rotating_file_sink.h
  shared/src/native-src/logger.h
  tracer/build/timeit/Samples.FakeDbCommand/Samples.FakeDbCommand.windows.net48.json
  tracer/build/timeit/Samples.FakeDbCommand/Samples.FakeDbCommand.windows.net60.json
  tracer/build/timeit/Samples.FakeDbCommand/Samples.FakeDbCommand.windows.net80.json
  tracer/build/timeit/Samples.FakeDbCommand/Samples.FakeDbCommand.windows.netcoreapp31.json
  tracer/build/timeit/Samples.HttpMessageHandler/Samples.HttpMessageHandler.windows.net48.json
  tracer/build/timeit/Samples.HttpMessageHandler/Samples.HttpMessageHandler.windows.net60.json
  tracer/build/timeit/Samples.HttpMessageHandler/Samples.HttpMessageHandler.windows.net80.json
  tracer/build/timeit/Samples.HttpMessageHandler/Samples.HttpMessageHandler.windows.netcoreapp31.json
  tracer/src/Datadog.Tracer.Native/logger.h
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/InstrumentationTests.cs
Labels: area:tracer, area:native-library, area:shared-components, area:ssi
