Repository DataDog/dd-trace-dotnet, pull requests merged in 2025-08, with the labels that each got.

#7292 [Profiler] Add vcpkg setup for build
  profiler/README.MD
Labels: area:docs, area:profiler

#7306 Additional test that requires HTTP FP connection header scrubbing
  tracer/test/Datadog.Trace.Security.IntegrationTests/AspNetMvc5.cs
  tracer/test/snapshots/Security.AspNetMvc5.Classic.enableSecurity=True.__test=server.request.body_url=_Home_UploadJson_body={-DictionaryProperty-- {-a---[$slice]-} }.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5.Classic.enableSecurity=True.__test=server.request.body_url=_Home_UploadStruct_body={-Property1-- -[$slice]-}.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5.Classic.enableSecurity=True.__test=server.request.body_url=_Home_Upload_body={-Property1-- -[$slice]-}.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5.Classic.enableSecurity=True.__test=server.request.path_params_url=_Health_params_appscan_fingerprint-&q=help_body=null.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5.Classic.enableSecurity=True.__test=server.request.path_params_url=_Health_params_appscan_fingerprint_body=null.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5.Classic.enableSecurity=True.__test=server.request.query_url=_Health_-arg=[$slice]_body=null.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5.Integrated.enableSecurity=True.__test=discovery.scans_url=_Health_wp-config_body=null.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5.Integrated.enableSecurity=True.__test=server.request.body_url=_Home_UploadJson_body={-DictionaryProperty-- {-a---[$slice]-} }.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5.Integrated.enableSecurity=True.__test=server.request.body_url=_Home_UploadStruct_body={-Property1-- -[$slice]-}.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5.Integrated.enableSecurity=True.__test=server.request.body_url=_Home_Upload_body={-Property1-- -[$slice]-}.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5.Integrated.enableSecurity=True.__test=server.request.path_params_url=_Health_params_appscan_fingerprint-&q=help_body=null.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5.Integrated.enableSecurity=True.__test=server.request.path_params_url=_Health_params_appscan_fingerprint_body=null.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5.Integrated.enableSecurity=True.__test=server.request.query_url=_Health_-arg=[$slice]_body=null.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5.Integrated.enableSecurity=True.__test=server.response.headers.no_cookies_url=_Home_LangHeader_body=null.verified.txt
Labels: area:tests

#7338 Fix typo in `create_draft_release`
  .github/workflows/create_draft_release.yml
Labels: area:builds

#7328 Update CODEOWNERS with SDK capabilities team as owners
  .github/CODEOWNERS
Labels: area:builds

#7335 chore: clean up baggage span tags implementation
  tracer/src/Datadog.Trace/AspNet/TracingHttpModule.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AspNet/AspNetMvcIntegration.cs
  tracer/src/Datadog.Trace/ClrProfiler/AutoInstrumentation/AspNet/AspNetWebApi2Integration.cs
  tracer/src/Datadog.Trace/Configuration/TracerSettings.cs
  tracer/src/Datadog.Trace/PlatformHelpers/AspNetCoreHttpRequestHandler.cs
  tracer/src/Datadog.Trace/Propagators/SpanContextPropagator.cs
Labels: area:tracer

#7341 Fix the signing of the fleet installer exe
  tracer/build/_build/Build.Steps.cs
Labels: area:builds, area:ssi

#7321 Send Warm-up request in iisexpress integration tests
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AspNet/OwinIisWebApi2Tests.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/AspNetWebForms.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/Rcm/AspNetMvc5AsmBlockingActions.cs
  tracer/test/Datadog.Trace.Security.IntegrationTests/Rcm/AspNetMvc5AsmRulesToggle.cs
  tracer/test/Datadog.Trace.TestHelpers.AutoInstrumentation/IisFixture.cs
  tracer/test/Datadog.Trace.Tools.dd_dotnet.ArtifactTests/Checks/IisCheckTests.cs
  tracer/test/Datadog.Trace.Tools.dd_dotnet.IntegrationTests/Checks/IisCheckTests.cs
  tracer/test/snapshots/Security.AspNetMvc5AsmBlockingActions.Classic.enableSecurity=True.__type=block_request_statusCode=200.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5AsmBlockingActions.Classic.enableSecurity=True.__type=redirect_request_statusCode=302.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5AsmBlockingActions.Integrated.enableSecurity=True.__type=block_request_statusCode=200.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5AsmBlockingActions.Integrated.enableSecurity=True.__type=redirect_request_statusCode=302.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5AsmData.Classic.enableSecurity=True.__test=blocking-ips_url=_.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5AsmData.Integrated.enableSecurity=True.__test=blocking-ips_url=_.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5AsmRulesToggle.Classic.enableSecurity=True._.verified.txt
  tracer/test/snapshots/Security.AspNetMvc5AsmRulesToggle.Integrated.enableSecurity=True._.verified.txt
  tracer/test/snapshots/Security.AspNetWebApi.Classic.enableSecurity=True.__scenario=null-action.verified.txt
  tracer/test/snapshots/Security.AspNetWebApi.Integrated.enableSecurity=True.__scenario=null-action.verified.txt
  tracer/test/snapshots/Security.AspNetWebApiAsmData.Classic.enableSecurity=True.__test=blocking-user_url=_api_user.verified.txt
  tracer/test/snapshots/Security.AspNetWebApiAsmData.Integrated.enableSecurity=True.__test=blocking-ips_url=_api_health.verified.txt
  tracer/test/snapshots/Security.AspNetWebForms.Classic.enableSecurity=True.__url=_Health-arg=[$slice]_body=null.verified.txt
  tracer/test/snapshots/Security.AspNetWebForms.Classic.enableSecurity=True.__url=_Health_Params_appscan_fingerprint_body=null.verified.txt
  tracer/test/snapshots/Security.AspNetWebForms.Classic.enableSecurity=True.__url=_Health_body=ctl00%24MainContent%24testBox=%5B%24slice%5D.verified.txt
  tracer/test/snapshots/Security.AspNetWebForms.Integrated.enableSecurity=True.__ruleTriggerStatusCode=200_returnedStatusCode=303.verified.txt
  tracer/test/snapshots/Security.AspNetWebForms.Integrated.enableSecurity=True.__ruleTriggerStatusCode=302_returnedStatusCode=302.verified.txt
  tracer/test/snapshots/Security.AspNetWebForms.Integrated.enableSecurity=True.__url=_Health-arg=[$slice]_body=null.verified.txt
  tracer/test/snapshots/Security.AspNetWebForms.Integrated.enableSecurity=True.__url=_Health_Params_appscan_fingerprint_body=null.verified.txt
  tracer/test/snapshots/Security.AspNetWebForms.Integrated.enableSecurity=True.__url=_Health_body=ctl00%24MainContent%24testBox=%5B%24slice%5D.verified.txt
  tracer/test/snapshots/Security.AspNetWebFormsAsmData.Classic.enableSecurity=True.__test=blocking-user_url=_user.verified.txt
  tracer/test/snapshots/Security.AspNetWebFormsAsmData.Integrated.enableSecurity=True.__test=blocking-ips_url=_default.aspx.verified.txt
Labels: area:tests

#7303 Refactor the profiling configuration reading
  tracer/src/Datadog.Trace/Configuration/TracerSettings.cs
  tracer/src/Datadog.Trace/ContinuousProfiler/ConfigurationKeys.cs
  tracer/src/Datadog.Trace/ContinuousProfiler/Profiler.cs
  tracer/src/Datadog.Trace/ContinuousProfiler/ProfilerSettings.cs
  tracer/src/Datadog.Trace/ContinuousProfiler/ProfilerState.cs
  tracer/src/Datadog.Trace/ContinuousProfiler/ProfilerStatus.cs
  tracer/src/Datadog.Trace/DataStreamsMonitoring/Aggregation/DataStreamsMessagePackFormatter.cs
  tracer/src/Datadog.Trace/DataStreamsMonitoring/DataStreamsManager.cs
  tracer/src/Datadog.Trace/DataStreamsMonitoring/DataStreamsWriter.cs
  tracer/src/Datadog.Trace/TracerManagerFactory.cs
  tracer/test/Datadog.Trace.Tests/Configuration/TracerSettingsTests.cs
  tracer/test/Datadog.Trace.Tests/ContinuousProfiler/ContextTrackerTests.cs
  tracer/test/Datadog.Trace.Tests/ContinuousProfiler/ProfilerSettingsTests.cs
  tracer/test/Datadog.Trace.Tests/DataStreamsMonitoring/DataStreamsAggregatorTests.cs
  tracer/test/Datadog.Trace.Tests/DataStreamsMonitoring/DataStreamsMessagePackFormatterTests.cs
  tracer/test/Datadog.Trace.Tests/DataStreamsMonitoring/DataStreamsMonitoringTransportTests.cs
  tracer/test/Datadog.Trace.Tests/DataStreamsMonitoring/DataStreamsWriterTests.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/Collectors/ConfigurationTelemetryCollectorTests.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/config_norm_rules.json
Labels: area:tracer, type:refactor, area:profiler, area:telemetry

#7349 Don't test Aerospike.Client 8.1.0 on .NET 6 or 7
  tracer/build/PackageVersionsGeneratorDefinitions.json
  tracer/build/PackageVersionsLatestMajors.g.props
  tracer/build/PackageVersionsLatestMinors.g.props
  tracer/build/PackageVersionsLatestSpecific.g.props
  tracer/build/supported_versions.json
  tracer/dependabot/Datadog.Dependabot.Integrations.csproj
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestMajors.g.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestMinors.g.cs
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/PackageVersionsLatestSpecific.g.cs
Labels: dependencies, area:dependabot

#7351 Do not inject DSM legacy headers by default
  tracer/src/Datadog.Trace/Configuration/ConfigurationKeys.cs
  tracer/src/Datadog.Trace/Configuration/TracerSettings.cs
  tracer/test/Datadog.Trace.ClrProfiler.Managed.Tests/AutoInstrumentation/AWS/Kinesis/ContextPropagationTests.cs
  tracer/test/Datadog.Trace.Tests/Configuration/TracerSettingsTests.cs
Labels: area:tracer

#7356 [AAP] Added WAF metrics. Reorganized other metrics to match RFC
  tracer/src/Datadog.Trace/AppSec/AppSecRequestContext.cs
  tracer/src/Datadog.Trace/AppSec/Coordinator/SecurityCoordinator.cs
  tracer/src/Datadog.Trace/AppSec/Rasp/RaspMetricsHelper.cs
  tracer/src/Datadog.Trace/Metrics.cs
  tracer/src/Datadog.Trace/Tags.cs
  tracer/src/Datadog.Trace/TraceContext.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/AppSecContextTests.cs
  tracer/test/Datadog.Trace.Security.Unit.Tests/RASP/RaspTelemetryHelperTests.cs
Labels: area:asm

#7369 Mark the OTLP metrics test as `[Flaky]`
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/OpenTelemetrySdkTests.cs
Labels: area:tests, area:opentelemetry, type:flake-fix

#7342 Include `telemetry_forwarder.exe` in the Windows SSI OCI images
  .azure-pipelines/ultimate-pipeline.yml
  .gitlab-ci.yml
  .gitlab/prepare-oci-package.sh
  tracer/build/_build/Build.Gitlab.cs
  tracer/build/_build/Build.Utilities.cs
  tracer/build/_build/docker/smoke.windows.fleet-installer.dockerfile
  tracer/src/Datadog.FleetInstaller/PathHelper.cs
  tracer/src/Datadog.FleetInstaller/TracerValues.cs
  tracer/test/Datadog.Trace.IntegrationTests/FleetInstaller/PathHelperTests.cs
Labels: area:telemetry, area:ssi

#7372 Fix more flake in the IIS fleet smoke tests
  docker-compose.windows.yml
  docker-compose.yml
Labels: area:tests, type:flake-fix

#7377 Fix debug symbol upload in release job
  .github/workflows/create_draft_release.yml
Labels: area:builds

#7386 chore(trace-exporter): disable data pipeline when SSI is enabled
  tracer/src/Datadog.Trace/Configuration/TracerSettings.cs
Labels: area:tracer

#7382 Fix null ref type warning in Nuke
  tracer/build/_build/MetricHelper.cs
Labels: area:builds

#7391 Filter our exit span from Azure Functions tests
  tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/AzureFunctionsTests.cs
  tracer/test/test-applications/azure-functions/Samples.AzureFunctions.V4Isolated.AspNetCore/Samples.AzureFunctions.V4Isolated.AspNetCore.csproj
Labels: area:tests

#7393 Don't call `ToUpperInvariant` if we don't need to
  tracer/src/Datadog.Trace/ClrProfiler/Helpers/HttpBypassHelper.cs
Labels: area:tracer, type:performance

#7406 [Native] Added DBG macro that checks for IsDebugEnabled before logging a debug trace
  shared/src/native-src/util.h
  tracer/src/Datadog.Tracer.Native/clr_helpers.cpp
  tracer/src/Datadog.Tracer.Native/cor_profiler.cpp
  tracer/src/Datadog.Tracer.Native/cor_profiler_base.cpp
  tracer/src/Datadog.Tracer.Native/iast/dataflow.cpp
  tracer/src/Datadog.Tracer.Native/iast/dataflow_il_analysis.cpp
  tracer/src/Datadog.Tracer.Native/iast/method_info.cpp
  tracer/src/Datadog.Tracer.Native/iast/module_info.cpp
  tracer/src/Datadog.Tracer.Native/logger.h
  tracer/src/Datadog.Tracer.Native/rejit_handler.cpp
  tracer/src/Datadog.Tracer.Native/rejit_preprocessor.cpp
  tracer/src/Datadog.Tracer.Native/tracer_method_rewriter.cpp
Labels: area:native-library

#7416 Make the `Instrumentation.cs` file owned by everyone
  .github/CODEOWNERS
Labels: area:builds

#7401 Improve PR labelling and release note generation
  .github/labeller.yml
  .github/workflows/auto_bump_test_package_versions.yml
  .github/workflows/create_draft_release.yml
  tracer/build/_build/Build.GitHub.cs
Labels: area:builds

#7395 Add more alpine checks for native library
  tracer/build/_build/Build.Profiler.Steps.cs
  tracer/build/_build/Build.Shared.Steps.cs
  tracer/build/_build/Build.Utilities.cs
  tracer/build/_build/DiffHelper.cs
  tracer/build/_build/NativeValidation/NativeValidationHelper.cs
  tracer/build/_build/NativeValidation/Symbols.cs
  tracer/build/_build/NativeValidation/alpine3_14_Libgcc10_3_1.txt
  tracer/build/_build/NativeValidation/alpine3_14_Musl1_2_2.txt
  tracer/build/_build/NativeValidation/native-libdatadog-symbols-alpine-arm64.verified.txt
  tracer/build/_build/NativeValidation/native-libdatadog-symbols-alpine-x64.verified.txt
  tracer/build/_build/NativeValidation/native-loader-symbols-arm64.verified.txt
  tracer/build/_build/NativeValidation/native-loader-symbols-x64.verified.txt
  tracer/build/_build/NativeValidation/native-profiler-symbols-alpine-arm64.verified.txt
  tracer/build/_build/NativeValidation/native-profiler-symbols-alpine-x64.verified.txt
  tracer/build/_build/NativeValidation/native-tracer-symbols-alpine-arm64.verified.txt
  tracer/build/_build/NativeValidation/native-tracer-symbols-alpine-x64.verified.txt
  tracer/build/_build/NativeValidation/native-wrapper-symbols-arm64.verified.txt
  tracer/build/_build/NativeValidation/native-wrapper-symbols-x64.verified.txt
  tracer/build/_build/_build.csproj
Labels: area:builds, area:tests

#7410 Scrape native tracer stats from logs in smoke tests and track in Datadog
  .azure-pipelines/steps/run-in-docker.yml
  .azure-pipelines/ultimate-pipeline.yml
  tracer/build/_build/Build.Steps.cs
  tracer/build/_build/LogParsing/LogParser.cs
  tracer/build/_build/LogParsing/NativeFunctionMetrics.cs
  tracer/build/_build/MetricHelper.cs
Labels: area:builds

#7422 More `ConfigurationBuilder` refactoring to avoid incorrect usages
  tracer/src/Datadog.Trace/Configuration/ConfigurationSources/Telemetry/ConfigurationBuilder.cs
  tracer/test/Datadog.Trace.Tests/Configuration/Telemetry/ConfigurationBuilderTests.cs
Labels: area:tracer, type:refactor, area:telemetry

#7421 Add missing `GetDictionary()` method to `ConfigurationBuilder`
  tracer/src/Datadog.Trace/Configuration/ConfigurationSources/Telemetry/ConfigurationBuilder.cs
  tracer/src/Datadog.Trace/Configuration/TracerSettings.cs
  tracer/test/Datadog.Trace.Tests/Telemetry/Collectors/ConfigurationTelemetryCollectorTests.cs
Labels: area:tracer, area:telemetry

#7417 Handle TypeLoadException when retrieving HostingEnvironment
  tracer/src/Datadog.Trace/TracerManagerFactory.cs
Labels: area:tracer

#7427 Revert "[Profiler] Make `timer_create`-based CPU profiler default (#7322)"
  profiler/build/CpuWallTime.linux.json
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/ProfilerSignalManager.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/ProfilerSignalManager.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/TimerCreateCpuProfiler.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/TimerCreateCpuProfiler.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Configuration.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Configuration.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CorProfilerCallback.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CorProfilerCallback.h
  profiler/test/Datadog.Profiler.IntegrationTests/LinuxOnly/SignalHandlerTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/LinuxOnly/TimerCreateCpuProfilerTest.cs
  profiler/test/Datadog.Profiler.Native.Tests/ConfigurationTest.cpp
Labels: area:profiler

#7431 Use mock agent in exploration tests
  .azure-pipelines/ultimate-pipeline.yml
  tracer/tools/MockAgent/MockAgent.csproj
  tracer/tools/MockAgent/Options.cs
  tracer/tools/MockAgent/Program.cs
  tracer/tools/MockAgent/Properties/launchSettings.json
Labels: area:builds, area:tests, type:flake-fix

#7440 [IAST] Disable all Dataflow operations until aspects are loaded
  tracer/src/Datadog.Tracer.Native/cor_profiler.cpp
  tracer/src/Datadog.Tracer.Native/cor_profiler.h
  tracer/src/Datadog.Tracer.Native/iast/dataflow.cpp
  tracer/src/Datadog.Tracer.Native/iast/dataflow.h
  tracer/src/Datadog.Tracer.Native/iast/dataflow_aspects.cpp
  tracer/src/Datadog.Tracer.Native/iast/dataflow_aspects.h
  tracer/src/Datadog.Tracer.Native/iast/dataflow_il_analysis.cpp
  tracer/src/Datadog.Tracer.Native/iast/iast_constants.h
  tracer/src/Datadog.Tracer.Native/iast/module_info.cpp
  tracer/src/Datadog.Tracer.Native/iast/module_info.h
Labels: area:native-library, area:asm-iast
