Repository DataDog/dd-trace-dotnet, pull requests merged in 2025-10, with the labels that each got.

#7583 Escape all paths in DownloadLibDatadog
  tracer/build/_build/Build.Steps.cs
Labels: area:builds

#7578 Revert "Revert "[Profiler] Make `timer_create`-based CPU profiler default (#7322)""
  profiler/build/CpuWallTime.linux.json
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/CpuSampleProvider.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/CpuSampleProvider.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/ProfilerSignalManager.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/ProfilerSignalManager.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/RawSampleCollectorBase.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/TimerCreateCpuProfiler.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native.Linux/TimerCreateCpuProfiler.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Configuration.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Configuration.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CorProfilerCallback.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CorProfilerCallback.h
  profiler/test/Datadog.Profiler.IntegrationTests/LinuxOnly/SignalHandlerTest.cs
  profiler/test/Datadog.Profiler.IntegrationTests/LinuxOnly/TimerCreateCpuProfilerTest.cs
  profiler/test/Datadog.Profiler.Native.Tests/ConfigurationTest.cpp
  profiler/test/Datadog.Profiler.Native.Tests/CpuSampleProviderTest.cpp
Labels: area:profiler

#7598 [crashtracking] Change Crashtracking filtering default value
  tracer/src/Datadog.Trace.Tools.dd_dotnet/CreatedumpCommand.cs
  tracer/test/Datadog.Trace.Tools.dd_dotnet.ArtifactTests/CreatedumpTests.cs
Labels: area:crashtracking

#6930 [Profiler] Leverage new .NET 10 allocation sampling
  Datadog.Profiler.sln
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/AllocationsProvider.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/AllocationsProvider.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ClrEventsParser.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ClrEventsParser.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/CorProfilerCallback.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/IAllocationsListener.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/IExporter.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/IUpscaleProvider.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Profile.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/Profile.h
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ProfileExporter.cpp
  profiler/src/ProfilerEngine/Datadog.Profiler.Native/ProfileExporter.h
  profiler/src/Tools/AllocSimulator/AllocSimulator.csproj
  profiler/src/Tools/AllocSimulator/PProfFile.cs
  profiler/src/Tools/AllocSimulator/ProfileAllocations.cs
  profiler/src/Tools/AllocSimulator/Program.cs
  profiler/src/Tools/AllocationSampling/Allocate/Allocate.csproj
  profiler/src/Tools/AllocationSampling/Allocate/AllocateArraysOfDoubles.cs
  profiler/src/Tools/AllocationSampling/Allocate/AllocateDifferentTypes.cs
  profiler/src/Tools/AllocationSampling/Allocate/AllocateRatioSizedArrays.cs
  profiler/src/Tools/AllocationSampling/Allocate/AllocateSmallAndBig.cs
  profiler/src/Tools/AllocationSampling/Allocate/AllocationsRunEventSource.cs
  profiler/src/Tools/AllocationSampling/Allocate/IAllocations.cs
  profiler/src/Tools/AllocationSampling/Allocate/Program.cs
  profiler/src/Tools/AllocationSampling/Allocate/Properties/launchSettings.json
  profiler/src/Tools/AllocationSampling/Allocate/ThreadedAllocations.cs
  profiler/src/Tools/AllocationSampling/AllocationProfiler/AllocationProfiler.csproj
  profiler/src/Tools/AllocationSampling/AllocationProfiler/Program.cs
  profiler/src/Tools/AllocationSampling/AllocationProfiler/Properties/launchSettings.json
  profiler/src/Tools/AllocationSampling/AllocationSampling.sln
  profiler/src/Tools/AllocationSampling/README.md
  profiler/test/Datadog.Profiler.IntegrationTests/Allocations/AllocationsProfilerTest.cs
  profiler/test/Datadog.Profiler.Native.Tests/ClrEventsParserTest.cpp
  profiler/test/Datadog.Profiler.Native.Tests/ProfilerMockedInterface.h
Labels: area:profiler

#7558 [DI-EL] Add debug log in case evaluation result is null and it shouldn't be null
  tracer/src/Datadog.Trace/Debugger/Expressions/ExpressionEvaluationResult.cs
  tracer/src/Datadog.Trace/Debugger/Expressions/ProbeInfo.cs
  tracer/src/Datadog.Trace/Debugger/Expressions/ProbeProcessor.cs
Labels: area:tracer, area:debugger

#7573 [PDB] Handle exception during opening a pdb file
  tracer/src/Datadog.Trace/Debugger/SpanCodeOrigin/EndpointDetector.cs
  tracer/src/Datadog.Trace/Debugger/Symbols/SymbolExtractor.cs
  tracer/src/Datadog.Trace/PDBs/DatadogMetadataReader.cs
Labels: area:tracer

#7614 Capture Exception when sending metrics
  tracer/test/Datadog.Trace.TestHelpers.AutoInstrumentation/ErrorHelpers.cs
Labels: area:tests

#7622 Fix profiler_execution_benchmarks flakiness
  .azure-pipelines/ultimate-pipeline.yml
Labels: area:builds

#7625 Optimize `AGENTS.md` with contextual load guidance
  AGENTS.md
Labels: area:docs

#7629 Increase Docker run step resiliency for Profiler integration tests
  .azure-pipelines/ultimate-pipeline.yml
Labels: area:builds
